
               <cfif inpBS NEQ 0>
					<cfloop index="script" array="#multiScriptData#">
						<cfif script.inpType EQ "script">
						    <cfif script.inpScriptId EQ '0'>
							    <cfset multiScriptEle = multiScriptEle & "<ELE DS='0' DSE='0' DI='0' ID='" & script.inpScriptEleId & "' DESC='"& script.inpScriptDesc &"' >" &  script.inpScriptId & "</ELE>">
						    <cfelse>
						    	<cfset multiScriptEle = multiScriptEle & "<ELE ID='" & script.inpScriptEleId & "' DESC='"& script.inpScriptDesc &"' >" &  script.inpScriptId & "</ELE>">
						    </cfif>
						<cfelseif script.inpType EQ "tts">
							<cfset multiScriptEle = multiScriptEle & "<ELE ID='TTS' RXVID='"& script.inpRxvid & "'" >
							<cfset multiScriptEle = multiScriptEle & " DESC='"& script.inpScriptDesc & "'" >
							<cfif script.inpDataKey NEQ -1>
								<cfset multiScriptEle = multiScriptEle &" DK='"& script.inpDataKey & "'">
							</cfif>
							<cfset multiScriptEle = multiScriptEle & " >" &  script.inpScriptId & "</ELE>">
						<cfelseif script.inpType EQ "conv">
						
							<cfset multiScriptEle = multiScriptEle & "<CONV CK1='"& script.inpCK1 &"' RQ='"& script.inpRQ &"' CP='"& script.inpCP &"'" >
							<cfset multiScriptEle = multiScriptEle & " DESC='"& script.inpScriptDesc & "'" >
							<cfif script.inpCK1 EQ 1>
								<cfset multiScriptEle = multiScriptEle &" CK2='"& script.inpCK2 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK3='"& script.inpCK3 & "'">
							<cfelse>
								<cfset multiScriptEle = multiScriptEle &" CK2='"& script.inpCK2 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK3='"& script.inpCK3 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK4='"& script.inpCK4 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK5='"& script.inpCK5 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK6='"& script.inpCK6 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK7='"& script.inpCK7 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK8='"& script.inpCK8 & "'">
								<cfset multiScriptEle = multiScriptEle &" CK9='"& script.inpCK9 & "'">	
							</cfif>
							<cfset multiScriptEle = multiScriptEle & " >" &  script.inpDataKey & "</CONV>">
							
						<cfelse>
							<cfset multiScriptEle = multiScriptEle & "<SCRIPT CASE='"& script.locationKey &"'>" >
							<cfloop index="switchObject" array="#script.switchObj#">
								<cfset multiScriptEle = multiScriptEle & "<CASE VAL='" & switchObject.inpSwitchCaseVale & "'>">
								<cfif switchObject.inpSwitchScriptId EQ '0'>
									<cfset multiScriptEle = multiScriptEle & "<ELE DS='0' DSE='0' DI='0' ID='" & switchObject.inpSwitchEleId & "' DESC='"& switchObject.inpSwitchCaseDesc &"' >" &  switchObject.inpSwitchScriptId & "</ELE>" >  
								<cfelse>
									<cfset multiScriptEle = multiScriptEle & "<ELE ID='" & switchObject.inpSwitchEleId & "' DESC='"& switchObject.inpSwitchCaseDesc &"' >" &  switchObject.inpSwitchScriptId & "</ELE>" >  
								</cfif>		   		
						   		<cfset multiScriptEle = multiScriptEle & "</CASE>">
							</cfloop>
							<cfif ArrayLen(script.switchObj) EQ 0>
								<cfset multiScriptEle = multiScriptEle & "0</SCRIPT>">
							<cfelse>
								<cfset multiScriptEle = multiScriptEle & "</SCRIPT>">
							</cfif>
						</cfif>
					</cfloop>
				</cfif>