
    <!--- ************************************************************************************************************************* --->
    <!--- input rxt values and output a MCID string --->
    <!--- ************************************************************************************************************************* --->
        
	<cffunction name="genrxt18XML" access="remote" output="true" hint="Read an XML string from the DB and parse out the CCD values">
        <cfargument name="INPQID" type="string" default="0"/>
        <cfargument name="inpBS" type="string" default="0"/>
		<cfargument name="inpLibID" type="string" default="0"/>
        <cfargument name="inpEleID" type="string" default="0"/>
        <cfargument name="inpDataID" type="string" default="0"/>
        <cfargument name="inpCK1" type="string" default=""/>
        <cfargument name="inpCK2" type="string" default=""/>
        <cfargument name="inpCK3" type="string" default=""/>
        <cfargument name="inpCK4" type="string" default=""/>
        <cfargument name="inpCK5" type="string" default="-1"/>
        <cfargument name="inpCK6" type="string" default=""/>
        <cfargument name="inpCK7" type="string" default=""/>
        <cfargument name="inpCK8" type="string" default="-1"/>     
        <cfargument name="inpCK9" type="string" default=""/>     
        <cfargument name="inpCK10" type="string" default=""/>     
        <cfargument name="inpCK11" type="string" default=""/>     
        <cfargument name="inpCK12" type="string" default=""/>     
     	<cfargument name="inpCK13" type="string" default=""/>  
	
        <cfargument name="INPDESC" type="string" default="Description Not Specified"/>
        <cfargument name="inpX" type="string" default="0"/>
        <cfargument name="inpY" type="string" default="0"/>
        <cfargument name="inpLINKTo" type="string" default="0"/>   
        <cfargument name="inpRQ" type="string" default=""/>   
        <cfargument name="inpCP" type="string" default=""/>   
        
		<cfset var multiScriptData = "0">
		<cfset var multiScriptCount = '0' />    
		<cfset var multiScriptEle = '' />    
		<cfset var multiSwitchScriptEle = ' ' />    
		<cfset var inpMultiSwitchScript = 0 />  
		<cfset var inpParentDataKey = -1 /> 
		<cfset var rxvid = 0 />       
                
        <cfset var dataout = '0' />    
                 
         <!--- 
        Positive is success
        1 = OK
		2 = 
		3 = 
		4 = 
	
        Negative is failure
        -1 = general failure
        -2 = general Exception Failure
        -3 = 
		-4 = Invalid QID
		-5 = Invalid UserId
		-6 =
		-7 = 
		-8 = 
		-9 =
		
    
	     --->       
        <cfset requestBody = toString( getHttpRequestData().content ) />
		<!--- Get JSON data Double-check to make sure it's a JSON value. --->
		<cfif isJSON( requestBody )>
		 	<cfset structData = deserializeJSON( requestBody ) >
			<cfset INPQID = structData.INPQID />
	        <cfset inpBS = structData.inpBS />
		 	<cfset inpLibID = structData.inpLibID />
	        <cfset inpEleID = structData.inpEleID />
	        <cfset inpDataID = structData.inpDataID />
	        <cfset inpCK1 = structData.inpCK1 />
	        <cfset inpCK2 = structData.inpCK2 />
	        <cfset inpCK3 = structData.inpCK3 />
	        <cfset inpCK4 = structData.inpCK4 />
	        <cfset inpCK5 = structData.inpCK5 />
	        <cfset inpCK6 = structData.inpCK6 />
	        <cfset inpCK7 = structData.inpCK7 />
	        <cfset inpCK8 = structData.inpCK8 />
	        <cfset inpCK9 = structData.inpCK9 />
	        <cfset inpCK10 = structData.inpCK10 />
	        <cfset inpCK11 = structData.inpCK11 />
	        <cfset inpCK12 = structData.inpCK12 />
          	<cfset inpCK13 = structData.inpCK13 />
	        <cfset INPDESC = structData.INPDESC />
	        <cfset inpX = structData.inpX />
	        <cfset inpY = structData.inpY />
         	<cfset inpRQ = structData.inpRQ />
	        <cfset inpCP = structData.inpCP />
	        <cfset inpLINKTo = structData.inpLINKTo />   
	        <cfset inpParentDataKey = structData.inpParentDataKey />
	        <cfset rxvid = structData.rxvid />
		 	<cfset multiScriptData = structData.multiScriptData />    
		</cfif>
		               
       	<cfoutput>
        
        	<!--- Set default to error in case later processing goes bad --->
			<cfset dataout =  QueryNew("RXRESULTCODE, RXTXMLSTRING, RAWXML")> 
            <cfset QueryAddRow(dataout) />
            <cfset QuerySetCell(dataout, "RXRESULTCODE", -1) />
            <cfset QuerySetCell(dataout, "RXTXMLSTRING", "") />
            <cfset QuerySetCell(dataout, "RAWXML", "") />
                        
            <cfset myxmldoc = "" />
            <cfset selectedElements = "" />
                        
            <cfset CID = "" />
            <cfset UserSpecData = "" />
            <cfset FileSeq = "" />
                        
            <cfset MAXQID = 999>                                     
       
            <cftry>      
            	
            
				<!--- 
                    <cfset thread = CreateObject("java", "java.lang.Thread")>
                    <cfset thread.sleep(3000)> 
                 --->			
                    
                <!--- <cfscript> sleep(3000); </cfscript>  --->
                              
                              
                <!--- Validations --->              
                <!--- Valid QID's only --->            
                <cfif INPQID LT 1 OR  INPQID GT MAXQID>
                	<cfthrow errorcode="-4">
                </cfif>
               
               <!--- Validate User Id --->
                <cfif #SESSION.UserID# LT 1>
                	<cfthrow errorcode="-5">
                </cfif>
                <cfset inpCK1 = TRIM(inpCK1) />
				<cfset inpCK2 = TRIM(inpCK2) />
			    <cfset inpCK3 = TRIM(inpCK3) />
			    <cfset inpCK4 = TRIM(inpCK4) />
			    <cfset inpCK5 = TRIM(inpCK5) />
			    <cfset inpCK6 = TRIM(inpCK6) />
			    <cfset inpCK7 = TRIM(inpCK7) />
			    <cfset inpCK8 = TRIM(inpCK8) />
			    <cfset inpCK9 = TRIM(inpCK9) />
			    <cfset inpCK10 = TRIM(inpCK10) />
			    <cfset inpCK11 = TRIM(inpCK11) />
			    <cfset inpCK12 = TRIM(inpCK12) /> 
			    
			    <cfif inpCK1 EQ ""><cfset inpCK1 = "0"></cfif>      
			    <cfif inpCK6 EQ "0"><cfset inpCK6 = ""></cfif> 
			    <cfif inpCK7 EQ "0"><cfset inpCK7 = ""></cfif>                   
                <!--- XML doesn't like '' data values ---> 
                <cfif INPDESC EQ ""><cfset INPDESC = "Description Not Specified"></cfif> 
                 
				<!--- Start rxt XML --->				

                <cfset RXTXMLSTRINGBuff = "<ELE QID='#INPQID#'">
                
				 <!--- Set the type --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " RXT='18'">
			
				 <!--- Set the type --->
			    <cfset TTSXMLStringBuff = "">      
	            <cfif inpBS EQ 2>
		            <cfset inpBS = 1 >          	
					<cfset TTSXMLStringBuff = TTSXMLStringBuff & "<ELE ID='TTS'">
					<cfset TTSXMLStringBuff = TTSXMLStringBuff & " RXVID ='#rxvid#'">
					<cfif inpParentDataKey NEQ -1>
						<cfset TTSXMLStringBuff = TTSXMLStringBuff & " DK='#inpParentDataKey#' ">
					</cfif>
					<cfset TTSXMLStringBuff = TTSXMLStringBuff & " RXBR='16'>">
					<cfset TTSXMLStringBuff = TTSXMLStringBuff & "#XMLFormat(inpDataID)#">
					<cfset TTSXMLStringBuff = TTSXMLStringBuff & "</ELE>">
					<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " DS='0'">
					<!--- Set the type Dyanamic Script Elements Data ID --->
		            <cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " DI='0'">
				<cfelse>
               		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " DS='#inpLibID#'">
					<!--- Set the type Dyanamic Script Elements Data ID --->
		            <cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " DI='#inpDataId#'">
	            </cfif>
	            
    	        <!--- Set the build script type - 0 is static for now --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " BS='#inpBS#'">          
                                                
                <!--- Set the User to current session - --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " DSUID='#Session.UserID#'">  
               
                <!--- <cfif inpCK1 NEQ ""> 
               		<!--- Set the inpCK1  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK1='#inpCK1#'">
                </cfif>   
                
                <cfif inpCK2 NEQ ""> 
               		<!--- Set the inpCK2 --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK2='#inpCK2#'">
                </cfif>  
                
                <cfif inpCK3 NEQ ""> 
               		<!--- Set the inpCK3  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK3='#inpCK3#'">
                </cfif>  
                
                <cfif inpCK4 NEQ ""> 
               		<!--- Set the inpCK4  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK4='#inpCK4#'">
                </cfif>  
                
                <cfif inpCK5 NEQ ""> 
               		<!--- Set the inpCK5  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK5='#inpCK5#'">
                </cfif>  
                
                <cfif inpCK6 NEQ ""> 
               		<!--- Set the inpCK6  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK6='#inpCK6#'">
                </cfif>  
                
                <cfif inpCK7 NEQ ""> 
               		<!--- Set the inpCK7  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK7='#inpCK7#'">
                </cfif>  
                
                <cfif inpCK8 NEQ ""> 
               		<!--- Set the inpCK8  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK8='#inpCK8#'">
                </cfif>  
                
                <cfif inpCK9 NEQ ""> 
               		<!--- Set the inpCK9  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK9='#inpCK9#'">
                </cfif>  
                
                <cfif inpCK1 NEQ ""> 
               		<!--- Set the inpCK10  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK10='#inpCK10#'">
                </cfif>  
                
                <cfif inpCK11 NEQ ""> 
               		<!--- Set the inpCK11  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK11='#inpCK11#'">
                </cfif>  
                
                <cfif inpCK12 NEQ ""> 
               		<!--- Set the inpCK12  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK12='#inpCK12#'">
                </cfif>  
                
                <cfif inpCK13 NEQ ""> 
               		<!--- Set the inpCK13  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK13='#inpCK13#'">
                </cfif>  
                
                <cfif inpCK14 NEQ ""> 
               		<!--- Set the inpCK14  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK14='#inpCK14#'">
                </cfif>  
                
                <cfif inpCK15 NEQ ""> 
               		<!--- Set the inpCK15  --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK15='#inpCK15#'">
                </cfif> --->
				
           		<!--- Set the inpCK1  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK1='#inpCK1#'">
            
           		<!--- Set the inpCK2 --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK2='#inpCK2#'">
            
           		<!--- Set the inpCK3  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK3='#inpCK3#'">
            
           		<!--- Set the inpCK4  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK4='#inpCK4#'">
            
           		<!--- Set the inpCK5  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK5='#inpCK5#'">
            
           		<!--- Set the inpCK6  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK6='#inpCK6#'">
            
           		<!--- Set the inpCK7  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK7='#inpCK7#'">
            
           		<!--- Set the inpCK8  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK8='#inpCK8#'">
            
           		<!--- Set the inpCK9  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK9='#inpCK9#'">
            
           		<!--- Set the inpCK10  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK10='#inpCK10#'">
            
           		<!--- Set the inpCK11  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK11='#inpCK11#'">
            
           		<!--- Set the inpCK12  --->
         		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK12='#inpCK12#'">
            	
				<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CK13='#inpCK13#'">

				
				  
                                              
                <!--- Set the CKX - position info --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " X='#inpX#'">
                
                <!--- Set the CKY - position info --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " Y='#inpY#'">
                
                 <!--- Set the LINK - LINK to obj info --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " LINK='#inpLINKTo#'">
            
            	<cfif inpRQ NEQ ""> 
               		<!--- Set the RQ --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " RQ='#inpRQ#'">
                </cfif>    
                
                <cfif inpCP NEQ ""> 
               		<!--- Set the CP --->
             		<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " CP='#inpCP#'">
                </cfif>       
                
                <!--- 
					DS='0' - 0 is for scripts that use the generic boxes
					DSUID='562' - the user ID of the account you are distributing from
					*** CAMPID='946'- The script box ID - this changes for each campaign
					GSID='1'- the wave file generic script box type ID 1 through 10				
				 --->  
                             
                                 
                <!--- Set the MCID Decription --->
                <!--- Clean up XML? --->
             	<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & " DESC='#XMLFormat(INPDESC)#'">
			
                <cfinclude template="genMultiScript_common.cfm">
				
				<cfif TTSXMLStringBuff NEQ "">
					<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & ">"& TTSXMLStringBuff &"</ELE>">	
				<cfelse>
					<cfif multiScriptEle NEQ 0 AND inpBS NEQ 0>
						<cfif multiScriptEle EQ "">
							<cfset multiScriptEle = 0>
						</cfif>
						<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & ">" & multiScriptEle>
						<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & "</ELE>">	
					<cfelse>
						<cfset RXTXMLSTRINGBuff = RXTXMLSTRINGBuff & ">0</ELE>">	
					</cfif>
				</cfif>                                             
           
              	<!--- Write to DB Batch Options --->
                                                                         
               <!---  <cfset UserSpecData = "#HTMLCodeFormat(myxmldocResultDoc)#" /> --->
               <!---  <cfset UserSpecData = "  SELECT ScriptLibrary_int, LASTUPDATED_DT, XMLControlString_vch FROM CallControl..BatchOptions (NOLOCK) WHERE BatchId_bi = #INPBATCHID#"/> --->
               
                    
				<cfset dataout = QueryNew("RXRESULTCODE, RXTXMLSTRING, RAWXML")>   
                <cfset QueryAddRow(dataout) />
			    <cfset QuerySetCell(dataout, "RXRESULTCODE", 1) />
                <cfset QuerySetCell(dataout, "RXTXMLSTRING", "#HTMLCodeFormat(RXTXMLSTRINGBuff)#") />
                <cfset QuerySetCell(dataout, "RAWXML", "#RXTXMLSTRINGBuff#") />

                 
            <cfcatch type="any">
            
            	<cfif cfcatch.errorcode EQ "">
                	<cfset cfcatch.errorcode = "-2">                
                </cfif>	
                                                                 
                <cfset dataout = QueryNew("RXRESULTCODE, RXTXMLSTRING, RAWXML, MESSAGE, ERRMESSAGE")> 
				<cfset QueryAddRow(dataout) />
                <cfset QuerySetCell(dataout, "RXRESULTCODE", "#cfcatch.errorcode#") />
                <cfset QuerySetCell(dataout, "RXTXMLSTRING", "") />
                <cfset QuerySetCell(dataout, "RAWXML", "") />
                <cfset QuerySetCell(dataout, "MESSAGE", "#cfcatch.MESSAGE#") />
                <cfset QuerySetCell(dataout, "ERRMESSAGE", "#cfcatch.detail#") />   
                            
            </cfcatch>
            
            </cftry>     
        

		</cfoutput>

        <cfreturn dataout />
    </cffunction>