


					
 					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@DESC")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDESC = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRDESC = "Description Not Specified">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@BS")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRBS = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRBS = "0">                        
                    </cfif>
                    
                    <!--- Validate ? --->
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@DSUID")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRUID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRUID = "0">                        
                    </cfif>
					                     
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@DS")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRLIBID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRLIBID = "0">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@DSE")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRELEID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRELEID = "0">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@DI")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDATAID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRDATAID = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@CK1")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK1 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK1 = "0">                        
                    </cfif>
                                   
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@CK5")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK5 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK5 = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@X")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRX = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRX = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@Y")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRY = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRY = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@LINK")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRLINK = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRLINK = "0">                        
                    </cfif>
					
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@RQ")>
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRRQ = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRRQ = "">                        
                    </cfif>
                    
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@CP")>
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCP = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCP = "">                        
                    </cfif>
				<cfinclude template="read_multiScriptCommon.cfm">
					
				<cfset dataout = QueryNew("RXRESULTCODE, INPBATCHID, INPQID, CURRRXT, CURRDESC, CURRBS, CURRUID, CURRLIBID, CURRELEID, CURRDATAID, CURRCK1, CURRCK5, CURRX, CURRY, CURRLINK,CURRRQ, CURRCP, ISTTS, DATAKEY, RXVID, MULTISCRIPT")>   
                <cfset QueryAddRow(dataout) />
                <cfset QuerySetCell(dataout, "RXRESULTCODE", 1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "#CURRRXT#") />
                <cfset QuerySetCell(dataout, "CURRDESC", "#CURRDESC#") />
                <cfset QuerySetCell(dataout, "CURRBS", "#CURRBS#") />
                <cfset QuerySetCell(dataout, "CURRUID", "#CURRUID#") />
                <cfset QuerySetCell(dataout, "CURRLIBID", "#CURRLIBID#") />
                <cfset QuerySetCell(dataout, "CURRELEID", "#CURRELEID#") />
                <cfset QuerySetCell(dataout, "CURRDATAID", "#CURRDATAID#") />
                <cfset QuerySetCell(dataout, "CURRCK1", "#CURRCK1#") />
                <cfset QuerySetCell(dataout, "CURRCK5", "#CURRCK5#") />
                <cfset QuerySetCell(dataout, "CURRX", "#CURRX#") />
                <cfset QuerySetCell(dataout, "CURRY", "#CURRY#") />
                <cfset QuerySetCell(dataout, "CURRLINK", "#CURRLINK#") />
				<cfset QuerySetCell(dataout, "CURRRQ", "#CURRRQ#") />
				<cfset QuerySetCell(dataout, "CURRCP", "#CURRCP#") />
				<cfset QuerySetCell(dataout, "ISTTS", "#ISTTS#") />
				<cfset QuerySetCell(dataout, "DATAKEY", "#DataKey#") />
				<cfset QuerySetCell(dataout, "RXVID", "#Rxvid#") />
                <cfset QuerySetCell(dataout, "MULTISCRIPT", "#MULTIARRAY#") />
                			