

 					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@DESC")>
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDESC = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRDESC = "Description Not Specified">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@BS")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRBS = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRBS = "0">                        
                    </cfif>
                    
                    <!--- Validate ? --->
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@DSUID")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRUID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRUID = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@CK1")>
                    
                    <cfif ArrayLen(selectedElementsII) NEQ ''>
                        <cfset CURRCK1 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK1 = "{%LocationKey7_vch%}">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@CK2")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK2 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK2 = "3">                        
                    </cfif>

                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@CK3")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK3 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK3 = "{%LocationKey7_vch%}">                        
                    </cfif>
					
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@CK5")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK5 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK5 = "-1">                        
                    </cfif>                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@X")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRX = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRX = "0">                        
                    </cfif>
                    

                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@Y")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRY = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRY = "0">   
                    </cfif>
					
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@RQ")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRRQ = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRRQ = "">   
                    </cfif>
					
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "SWITCH/@CP")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCP = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCP = "">   
                    </cfif>
                    <!---
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/SWITCH/@LINK")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRLINK = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRLINK = "0">                        
                    </cfif>
                    --->        

                    
				<cfset dataout = QueryNew("RXRESULTCODE, INPBATCHID, INPQID, CURRRXT, CURRDESC, CURRBS, CURRUID, CURRCK1, CURRCK2, CURRCK3, CURRX, CURRY, CURRRQ, CURRCP ")>   
                <cfset QueryAddRow(dataout) />
                <cfset QuerySetCell(dataout, "RXRESULTCODE", 1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "#CURRRXT#") />
                <cfset QuerySetCell(dataout, "CURRDESC", "#CURRDESC#") />
                <cfset QuerySetCell(dataout, "CURRBS", "#CURRBS#") />
                <cfset QuerySetCell(dataout, "CURRUID", "#CURRUID#") />
                <cfset QuerySetCell(dataout, "CURRCK1", "#CURRCK1#") />
				<cfset QuerySetCell(dataout, "CURRCK2", "#CURRCK2#") />
				<cfset QuerySetCell(dataout, "CURRCK3", "#CURRCK3#") />
                <cfset QuerySetCell(dataout, "CURRX", "#CURRX#") />
                <cfset QuerySetCell(dataout, "CURRY", "#CURRY#") />
				<cfset QuerySetCell(dataout, "CURRRQ", "#CURRRQ#") />
                <cfset QuerySetCell(dataout, "CURRCP", "#CURRCP#") />
				<!---
                <cfset QuerySetCell(dataout, "CURRLINK", "#CURRLINK#") />
            --->

                			