



 					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@DESC")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDESC = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRDESC = "Description Not Specified">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@BS")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRBS = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRBS = "0">                        
                    </cfif>
					
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@rxt")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRRXT = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRRXT = "0">                        
                    </cfif>
                    
                    <!--- Validate ? --->
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@DSUID")>
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRUID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRUID = "0">                        
                    </cfif>
					
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@DS")>
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRLIBID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRLIBID = "0">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@DSE")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRELEID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRELEID = "0">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@DI")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDATAID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRDATAID = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK1")>
                    
                    <cfif ArrayLen(selectedElementsII) NEQ ''>
                        <cfset CURRCK1 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK1 = "1">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK2")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK2 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK2 = "0">                        
                    </cfif>
					
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK3")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK3 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK3 = "0">                        
                    </cfif>
					
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK4")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK4 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK4 = "0">                        
                    </cfif>   
					 
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK5")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK5 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK5 = "0">                        
                    </cfif>
					 
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK6")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK6 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK6 = "0">                        
                    </cfif> 
					 
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK7")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK7 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK7 = "0">                        
                    </cfif>
					 
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK8")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK8 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK8 = "0">                        
                    </cfif>
					 
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK9")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK9 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK9 = "0">                        
                    </cfif>
					
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CK15")>
                    
                    <cfif ArrayLen(selectedElementsII) NEQ ''>
                        <cfset CURRCK15 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK15 = "-1">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@X")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRX = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRX = "0">                        
                    </cfif>
                    

                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@Y")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRY = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRY = "0">   
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@LINK")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRLINK = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRLINK = "0">                        
                    </cfif>
					
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@RQ")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRRQ = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRRQ = "">                        
                    </cfif>
					
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV/@CP")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCP = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCP = "">                        
                    </cfif>
					
					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/CONV")>
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDATAKEY = selectedElementsII[ArrayLen(selectedElementsII)].XmlText>
                    <cfelse>
                        <cfset CURRDATAKEY = "">                        
                    </cfif>
					
				<cfset dataout = QueryNew("RXRESULTCODE, INPBATCHID, INPQID, CURRRXT, CURRDESC, CURRBS, CURRLIBID, CURRELEID, CURRDATAID, CURRUID, CURRCK1, CURRCK2,CURRCK3,CURRCK4, CURRCK5, CURRCK6, CURRCK7, CURRCK8, CURRCK9,CURRCK15, CURRX, CURRY, CURRLINK, CURRRQ, CURRCP, CURRDATAKEY")>   
                <cfset QueryAddRow(dataout) />
                <cfset QuerySetCell(dataout, "RXRESULTCODE", 1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "#CURRRXT#") />
                <cfset QuerySetCell(dataout, "CURRDESC", "#CURRDESC#") />
                <cfset QuerySetCell(dataout, "CURRBS", "#CURRBS#") />
                <cfset QuerySetCell(dataout, "CURRUID", "#CURRUID#") />
                <cfset QuerySetCell(dataout, "CURRLIBID", "#CURRLIBID#") />
                <cfset QuerySetCell(dataout, "CURRELEID", "#CURRELEID#") />
                <cfset QuerySetCell(dataout, "CURRDATAID", "#CURRDATAID#") />
                <cfset QuerySetCell(dataout, "CURRUID", "#CURRUID#") />
                <cfset QuerySetCell(dataout, "CURRCK1", "#CURRCK1#") />
				<cfset QuerySetCell(dataout, "CURRCK2", "#CURRCK2#") />
				<cfset QuerySetCell(dataout, "CURRCK3", "#CURRCK3#") />
				<cfset QuerySetCell(dataout, "CURRCK4", "#CURRCK4#") />
				<cfset QuerySetCell(dataout, "CURRCK5", "#CURRCK5#") />
				<cfset QuerySetCell(dataout, "CURRCK6", "#CURRCK6#") />
				<cfset QuerySetCell(dataout, "CURRCK7", "#CURRCK7#") />
				<cfset QuerySetCell(dataout, "CURRCK8", "#CURRCK8#") />
				<cfset QuerySetCell(dataout, "CURRCK9", "#CURRCK9#") />
				<cfset QuerySetCell(dataout, "CURRCK15", "#CURRCK15#") />
                <cfset QuerySetCell(dataout, "CURRX", "#CURRX#") />
                <cfset QuerySetCell(dataout, "CURRY", "#CURRY#") />
                <cfset QuerySetCell(dataout, "CURRLINK", "#CURRLINK#") />
				<cfset QuerySetCell(dataout, "CURRRQ", "#CURRRQ#") />
				<cfset QuerySetCell(dataout, "CURRCP", "#CURRCP#") />
				<cfset QuerySetCell(dataout, "CURRDATAKEY", "#CURRDATAKEY#") />
                			