/* Image for intervals obj - loader https://codepen.io/fbrz/pen/uBjKn?utm_source=bypeople */

	#loader {
	  animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
	  height: 180px;
	  width: 181px;
	  position: absolute;
	  top:calc(50%);
	  right:90px;
	  opacity: .3;
	}
	@keyframes loader {
	  90% { transform: rotate(0deg); }
	  100% { transform: rotate(180deg); }
	}
	#top-loader {
	  animation: top-loader 5s linear infinite;
	  border-top: 90px solid #000;
	  border-right: 90px solid transparent;
	  border-left: 90px solid transparent;
	  height: 0px;
	  width: 1px;
	  transform-origin: 50% 100%;
	}
	@keyframes top-loader {
	  90% { transform: scale(0); }
	  100% { transform: scale(0);}
	}
	#bottom-loader {
	  animation: bottom-loader 5s linear infinite;
	  border-right: 90px solid transparent;
	  border-bottom: 90px solid #000;
	  border-left: 90px solid transparent;
	  height: 0px;
	  width: 1px;
	  transform: scale(0);
	  transform-origin: 50% 100%;
	}
	@keyframes bottom-loader {
	  10% { transform: scale(0); }
	  90% { transform: scale(1); }
	  100% { transform: scale(1); }
	}
	#line-loader {
	  animation: line-loader 5s linear infinite;
	  border-left: 1px dotted #000;
	  height: 0px;
	  width: 0px;
	  position: absolute;
	  top: 90px;
	  left: 90px;
	}
	@keyframes line-loader {
	  10% { height: 90px; }
	  100% { height: 90px; }
	}
