
/* .modal-open .select2-container--open { z-index: 999999 !important; width:100% !important; } */
#ParentLink
{
     float:right;
     font-weight: 400;
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    font-size: 1em;
    min-height: 3em;
}

.uk-navbar-dropdown-nav {
    font-size: 1em;
}

.uk-navbar-dropdown-dropbar, .uk-navbar-dropbar {
   border-radius: 4px;
}

.question-options
{
     font-size: 15px !important;
     color: rgb(143,143,143) !important;
     font-style: italic;
     margin: 20px 0;
}
.toggle-ai-opt
{
     margin-left: .5em;
     line-height: 34px !important;
     float: right;
     font-size: 1.2em;
     vertical-align: middle;
}

.toggle-inteval-question
{
     line-height: 34px;
     vertical-align: middle;
     border-bottom: solid 1px #d2dbe3;
     padding-bottom: .5em;
     margin: 20px 0;
}
.toggle-inteval-question i
{
     font-size: 1.2em;
     line-height: 34px !important;
     vertical-align: middle;
     float: right;
}

.toggle-answer-intents
{
     border-bottom: solid 1px #d2dbe3;
     padding-bottom: .5em;
     margin: 20px 0;
}

.toggle-answer-intents i
{
     line-height: 34px;
     vertical-align: middle;
     font-size: 1.2em;
     float: right;
}

.training-text-list
{
     margin-top: 20px;
}
.training-phrases-header
{
     border-bottom: solid 1px #d2dbe3;
     padding-bottom: .5em;
     margin: 0 0 20px 0;
}

.random
{
     text-transform: uppercase;
    font-size: 13px;
    line-height: 2.15;
    color: #767676;

}

.div-toggle-inteval
{
     display:none;
}

.wrapper-training-text
{
     padding-left: 2em;
     display:none;
}

.wrapper-answer-text
{
     display:none;
}

.IntentInput
{
     display:block;
     overflow:hidden;
     padding-right:10px;
}

.RandomInput
{
     display:block;
     overflow:hidden;
     padding-right:10px;
}

.new-intent, .new-response,  .new-training
{
     text-align: center;
     border-radius: 8px;
     border: 1px solid #dfdfdf;
}

.new-intent a, .new-response a, .new-training a
{
     color: #5c5c5c;
}
.new-intent:hover, .new-response:hover, .new-training:hover
{
     box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.17);
     outline: none;
}

.new-intent:hover .intent-plus, .new-response:hover .response-plus,  .new-training:hover .training-plus
{
     color: #0c0c0c;
     font-weight: 900;
}

.copy-cp, .paste-cp
{
     margin-right: .5em;
}


.hover-delete{
     position: absolute;
     right: 1.3em;
     top: .5em;
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-in-out;
     transform: scale(0.5);
     background-color: #fff;
}


.hover-edit-options{
     position: absolute;
     right: 1.3em;
     top: 0;
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-in-out;
     transform: scale(0.5);
     background-color: transparent;
}


.hover-delete-intent{
     position: absolute;
     right: 2em;
     top: -.5em;
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-in-out;
     transform: scale(0.5);
     background-color: #fff;
}

.hover-delete-cp{
     width: 3em;
     position: absolute;
     right: -50px;
     top: -5px;
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-in-out;
     transform: scale(0.5);
}

.hover-delete-text{
     position: absolute;
     right: .5em;
     top: -.5em;
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-in-out;
     transform: scale(0.5);
     background-color: #fff;
}


.hover-delete-training{
     position: absolute;
     right: 0;
     top: -.5em;
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-in-out;
     transform: scale(0.5);
     background-color: #fff;
}


a:hover, a:visited, a:link, a:active,
.add-more-answer:hover, .add-more-answer:hover:visited, .add-more-answer:hover:link, .add-more-answer:hover:active,
.toggle-inteval-question:hover, .toggle-inteval-question:hover:visited, .toggle-inteval-question:hover:link, .toggle-inteval-question:hover:active
{
     text-decoration: none;
}

.add-more-answer:hover:hover, .add-more-answer:hover:visited, .add-more-answer:hover:link, .add-more-answer:hover:active,
.IntentInput:hover .hover-delete-intent, .CPDisplaySection:hover .hover-delete-cp, .CPDisplaySection:hover .hover-edit-options, .RandomInput:hover .hover-delete-text, .TrainingItem:hover .hover-delete-training
{
     visibility: visible;
     opacity: 1;
     transform: scale(1.0);
}

.AVALREGLINK
{
     font-weight: 900;
     line-height: 34px;
     float: right;
}

.Nav2Redir {
    line-height: 34px;
    float: right;
}

.AddNewNav2Redir {
    line-height: 34px;
    float: right;
    margin-left: .5em;
}

.AddNewNav2Redir:hover, .Nav2Redir:hover
{
     color: #000;
     cursor:pointer;;
}


.CPObjContainer
{
    position: relative;
    width: 100%;
     margin: 15px auto;
}

/*
     https://stackoverflow.com/questions/1260122/expand-a-div-to-take-the-remaining-width
     It is important to note, that the order of the children matters. The floating element with fixed width has to be above the other one. Took me too long to figure out, why it didn't worked for me with switched order.
*/
#CPObjMenu
{
     /* width: 200px; */
     max-width: 230px;
     padding: 0 0;
     border-radius: 6px 6px 0 0;
     margin: auto;

}

#CPObjStage
{
     width:auto;
     overflow:visible;
}

.f-eight
{
     font-size: .8em;
}
.cpobj-item span.spacer
{
     xfont-size: .5em;
}
.cpobj-item
{
     background: rgba(177,186,204,.5);
     background: #4a798f;
    border-radius: 3px;
    cursor: move;
    height: auto;
    margin: 0 0 6px;
    opacity: 1;
    padding: 0 3px 10px;
    text-align: center;
    transition: background-color .15s ease,opacity .15s ease,-webkit-transform .2s ease;
    transition: background-color .15s ease,opacity .15s ease,transform .2s ease;
    transition: background-color .15s ease,opacity .15s ease,transform .2s ease,-webkit-transform .2s ease;
    width: 100px;
    transform:translateX(10px);
    margin-bottom: 1em;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.4);

}

.cpobj-item:hover
{
     background: rgba(227,236,254,.5);
}

.cpobj-item-icon
{
    color: #fff;
    font-size: 1.75em;
    margin: 12px auto 6px;
    display: inline;
}

.cpobj-item-label {
    color: #fff;
    font-size: .75em;
    line-height: 1;
}

.cpobj-item.ui-draggable-dragging
{
/* 		width: 40%; */
     transform:none;
     background: #274e60;
     opacity: 0.8;
}

.cpobj-drop-zone-grow
{
     height: 6em;
     min-height: 6em;
     width: 100%;
}

.SettingsOverlay
{

     position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    zIndex: 1000000;
    opacity: .3;
    background:
       /* On "top" */
       repeating-linear-gradient(
         45deg,
         transparent,
         transparent 10px,
         #606dbc 10px,
         #606dbc 20px
       ),
       /* on "bottom" */
       linear-gradient(
         to bottom,
         #eee,
         #999
       );
}

.CPContainer
{
     padding-left: 0;
}

.control-point, .control-point-border
{
     position: relative;
}

.droppable-above
{
     margin-top: 0 !important;

}

.droppable-above .control-point-border
{
     border: 6em solid rgba(255, 255, 0, .8);
     border-width: 6em 0 0 0;
     border-image: repeating-linear-gradient( -45deg, rgba(200, 200, 200, .6), rgba(200, 200, 200, .6) 5px, rgba(255, 255, 0, .8) 6px, rgba(255, 255, 0, .8) 10px) 25 0;
     border-radius: 6px;
}

.droppable-below .control-point-border
{
     border: 6em solid rgba(255, 255, 0, .8);
     border-width: 0 0 6em 0;
     border-image: repeating-linear-gradient( -45deg, rgba(200, 200, 200, .6), rgba(200, 200, 200, .6) 5px, rgba(255, 255, 0, .8) 6px, rgba(255, 255, 0, .8) 10px) 25 0;
     border-radius: 6px;
}

/* CSS3 trick to get the next obj in line that is a div sibling of the previously selected element and remove its margin-top */
.droppable-below + div {
 margin-top: 0 !important;
}

.cpobj-drop-zone
{
     margin-top: 2em;
     margin-bottom: 0 !important;
     box-sizing: border-box;
     border-radius: 6px;

}

/* Only apply to top one*/
.cpobj-drop-zone:nth-of-type(1)
{
    margin-top: 0;
}

/* New lines wont work correctly without this - white-space: pre-wrap;  */
.emoji-wysiwyg-editor {
    text-shadow: none !important;
    height: 109px !important;
    white-space: pre-wrap;
}

.btn-cancel-cpe
{
     border-style: solid;
     border-width: 1px;
     border-color: #153a4b !important;
     /* border-radius: 5px; */
     background-color: #274e60 !important;
     background-image: inherit !important;
     background-position: inherit !important;
     box-shadow: none !important;
     outline: 0 !important;
     color: #fff;
     text-transform: uppercase;
     font-size: 14px;

}

.btn-cancel-cpe:hover, .btn-cancel-cpe:focus, .btn-cancel-cpe:active, .btn-cancel-cpe.active, .btn-cancel-cpe[disabled]
{
     background-color: #4a798f !important;
}

.btn-save-cp
{
     font-weight: inherit !important;
}

.LoadingCPs
{
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
    z-index: 10000;
}

.CPEFooter
{
     margin-top: 2em;

}

.portlet-body-small
{
     min-height: 25px;
     margin-bottom: 2em;
}
.portlet-heading-new {
    font-size: 18px;
    font-weight: bold;
    font-family: source sans pro;
    color: #5c5c5c;
    padding: 0px 0 6px 0;
}

.control-point-label {
    line-height: 2em;
    margin-bottom: 0;
    color: #afafaf;
    cursor: move;
}

.CPNumberOnPage
{	color: #000;
     font-weight: bold;
     margin-right: .3em;
     font-size: 1.2em;
}

.control-point-body .emoji-picker-icon {
    right: 24px !important;
    top: 85px !important;
    position: absolute;
}

.campaign-name-input, .cp-desc-input
{
     display: inline-block;
     box-sizing: border-box;
     border: 1px solid transparent;
    border-radius: 2px!important;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-left: -7px;
    min-width: 1px;
    padding: 12px 7px;
}

.cp-desc-input
{
    min-width: 14em;
    font-weight: 700;
    display: table-cell;
}

.form-gd .form-group label > span.plain {
    color: #5c5c5c;
}

#CIDLabel
{
     font-weight: 700;
}

.select2
{
     width:100%!important;
}

.campaign-name-input:hover, .cp-desc-input:hover
{
border-color: #e5e5e5;
}

.campaign-name-input-temp, .cp-desc-input-temp
{
     display: inline-block;
     width: 100%;
     box-sizing: border-box;
     border: 1px solid #e5e5e5;
    border-radius: 2px !important;
    font-size: 16px !important;
    line-height: 22px;
    margin: 0;
    margin-left: -7px;
    min-width: 1px;
    padding: 12px 7px !important;
}

.cp-desc-input-temp
{
     font-weight: 700;
     display: table-cell;
     padding: 13px 7px !important;
     margin-left: 0px;
     line-height: 22px !important;
}

.popover[class*=campaign-name-input-pop] {
    background: #434A54;
    border-color: #434A54;
    color: white;
   min-width: 6em !important;
    max-width: 6em !important;
    width: 6em !important;
    text-align: center;
    opacity: 0.95; /* CSS3 */
}

.popover[class*=page-logo-input-pop] {
    background: #434A54;
    border-color: #434A54;
    color: white;
   min-width: 6em !important;
    max-width: 6em !important;
    width: 6em !important;
    text-align: center;
    opacity: 0.95; /* CSS3 */
}

.popover[class*=cp-desc-input-pop] {
    background: #434A54;
    border-color: #434A54;
    color: white;
   min-width: 12em !important;
    max-width: 12em !important;
    width: 12em !important;
    text-align: center;
    opacity: 0.95; /* CSS3 */
}

/* Needed to have the triangle match the grey background of the popover */
.popover[class*=campaign-name-input-pop].top .arrow:after {
    border-top-color: #434A54;
}

.popover[class*=campaign-name-input-pop].right .arrow:after {
    border-right-color: #434A54;
}

.popover[class*=campaign-name-input-pop].bottom .arrow:after {
    border-bottom-color: #434A54;
}

.popover[class*=campaign-name-input-pop].right .arrow:after {
    border-left-color: #434A54;
}


/* Needed to have the triangle match the grey background of the popover */
.popover[class*=page-logo-input-pop].top .arrow:after {
    border-top-color: #434A54;
}

.popover[class*=page-logo-input-pop].right .arrow:after {
    border-right-color: #434A54;
}

.popover[class*=page-logo-input-pop].bottom .arrow:after {
    border-bottom-color: #434A54;
}

.popover[class*=page-logo-input-pop].right .arrow:after {
    border-left-color: #434A54;
}


/* Needed to have the triangle match the grey background of the popover */
.popover[class*=cp-desc-input-pop].top .arrow:after {
    border-top-color: #434A54;
}

.popover[class*=cp-desc-input-pop].right .arrow:after {
    border-right-color: #434A54;
}

.popover[class*=cp-desc-input-pop].bottom .arrow:after {
    border-bottom-color: #434A54;
}

.popover[class*=cp-desc-input-pop].right .arrow:after {
    border-left-color: #434A54;
}

.portlet.bordered {
    border-left: none !important;
}

.BuilderOption
{
     <cfif adv EQ 0>
     display: none;
    </cfif>
}

.builder-btn
{
padding: 0;
     margin: 3px -10px 0 .8em;
}

.control-point-body:hover
{
     cursor: pointer;

}

.select2-container--open
{
     z-index: 10010;

}

.DrageConditionItem { border:3px dashed #000 }

.ConditionItem .select2-container--bootstrap .select2-selection, .Select2NoBorder .select2-container--bootstrap .select2-selection
{
     border: none !important;
     box-shadow: none;
     padding-left: 2em;
}

#FlowBuilder
{
     min-width:6em;
}

.icon-builder
{
 display:block;
 background: url("../images/icon/flow_chart-32.png") no-repeat scroll center center transparent;
 height:36px;
}

.active .icon-builder
{
     background: url("../images/icon/flow_chart-32_active.png") no-repeat scroll center center transparent;
}

.control-point-btn-add
{
margin-bottom: .8em;
}

.control-point-btn-add
{
margin-bottom: .8em;
background-image: url('/session/sire/images/icon/add-create-plus-icon-23.png');
background-repeat: no-repeat;
line-height: 24px;
min-height: 24px;
min-width: 24px;
height: 24px;
min-height: 24px;
text-decoration: none;
}

.control-point-btn-add:hover
{

     background-image: url('/session/sire/images/icon/add-create-plus-icon-23-off.png');
     text-decoration: none;
}

.cp-edit-icon
{

     color: #afafaf;
     font-size: 1.4em;
     margin-top: 0;
     line-height: 32px;
     height: 32px;
}

.cp-edit-icon:hover
{
     cursor: pointer;
     color: #020202;
}

.cp-obj-header
{
      background-color: #fafafa;
      color: #131313;
      border-radius: 6px 6px 0 0;
}

.handle, .HandleCond {cursor:move; }

/* .AnswerItem input, .AnswerItem input.form-control {
width: calc(100% - 10px);
} */

.Select2
{
     width: 100% !important;
}

.col-right-align
{
     text-align: right;
}

.col-left-align
{
     text-align: left;
}

.mbTight
{
     margin-bottom: 0;
}

.bc-title {
    font-size: .8em;
    font-weight: bold;
}

#BranchOptionsContainer
{


}

.ConditionItem
{
     padding: 1em;
     position: relative;
     margin-bottom: 1em;
    border-radius: 12px;
     -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
     -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
     box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
     cursor:default;
}

.lineheader
{
    margin:0 0 1em;
    line-height:2em;
    padding:0;
    color:#578ca5;
    text-shadow:1px 1px 1px #000;
    font-size:1.5em;
    position:relative;
    overflow:hidden;
    text-align:center;
}

.lineheader:before,.lineheader:after
{
    content:" ";
    position:absolute;
    top:50%;
    margin-left:-999em;
    height:2px;
    width:998em;
    border-top:1px solid #578ca5;
    background:rgba(0,0,0,0.2);
}

.lineheader:after
{
    left:auto;
    width:999em;
    margin:0 0 0 1em;
}


.ConditionItem textarea
{
     width:100%;
     border: none;
     text-align: left;
     padding: 1em;
     min-height: 1em;
     resize: none;
}

.ConditionItem .rulesbox, .rulesbox
{
     padding: 1em;
     border-radius: 12px;
/*
     min-height: 6em;
     display: flex;
     justify-content: center;
     align-items: center;
*/
     -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     cursor:pointer;
     position: relative;
     background-color: #fff;
}

.RulesHeader
{

}

.bigdrop .select2-results {max-height: 300px;}

.icon-med
{
     font-size: 26px !important;
     height: 31px !important;
     width: 100% !important;
     background-size: contain !important;
     color: #5c5c5c;
     text-decoration: none;

}

.icon-med:hover
{
     cursor:pointer;
}

.icon-med-text
{
     font-size: .9 em;
}

.icon-cm {
    display: block;
    background: url("../images/icon/help-stop.png") no-repeat scroll center center transparent;
    background-size: contain !important;
    margin-top: -10px;
}

.content-menu a, .content-title a {
    display: inline-block;
    margin-left: auto;
    color: #5c5c5c;
    text-decoration: none;
}

#template-description-countdown, #template-name-countdown {
     text-decoration: none;
color: #71c37b;
}

#template-description, #template-xml {
     resize: none;
}


/* Possible fix for overbound parent on Firefox. */
.select2-container--bootstrap, .select2-container--default {
display: table!important;
table-layout: fixed!important;
}

.center-vertical{
     position: absolute;
     top: 50%;
     left: 50%;
     /* bring your own prefixes */
     transform: translate(-50%, -50%);
}

.SlimTop
{
     margin-top: 0;
}

.console-link-box
{
     position: relative;
     min-height: 4em;
     padding: 1em;
     border: rgba(0, 0, 0, 0.1) solid 1px;
     border-radius: 1em;

     margin-bottom: 2em;
     -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
     -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
     box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
}

.console-link-box:hover
{
     cursor: pointer;

     -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.55);
     -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.55);
     box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.55);

}

pre
{
     background-color:inherit !important;
     border: none !important;
     font-size: inherit !important;
     padding: 0;
     margin: 0;
     color: inherit !important;
     line-height: inherit !important;
     width: 80%;

}

.bubble
{
     word-break: break-word;
}

.save-new-template-btn-group{
     float:right;
}

.dd-option-text{
     line-height: 71px !important;
}


.scaled-frame
{
     width: 100%;
     height: 400px;
}



#SWTChooseBlast {
     margin-bottom: 15px;
     background-color: #578CA5 !important;
     border-color: #416d82 !important;
     box-shadow: 0.418px 2.971px 0px 0px rgb( 59, 97, 116 ) !important;
}


#filter_rows{
     padding-left: 15px;
}

.Preview-Me .emoji-picker-icon {

    right: 25px !important;
    bottom: 15px !important;
    top: auto !important;

}

.Preview-Me .emoji-wysiwyg-editor
{
     text-shadow: none !important;
}

/* What is session/sire/assets/global/plugins/simple-line-icons/simple-line-icons.min.css used for? Why is it here? Need to overide or picker does not look right */
.Preview-Me .icon-bell:before {
    content: '';
}

.Preview-Me .icon-grid:before {
    content: '';
}

/*
          https://coderwall.com/p/ruv9hq/display-emoji-glyphs-intermingled-with-arbitrary-text
          https://gist.github.com/mfornos/9991865
*/
@font-face {
 font-family: emoji;

 /* Fonts for text outside emoji blocks */
 src: local('Droid Sans Mono'),
       local('Lucida Console'),
       local('Arial Monospaced'),
       local(Arial);
}

@font-face {
 font-family: emoji;

 src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local(EmojiSymbols),
       local(Symbola),
       url('font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
       url('font/Symbola-Emoji.woff') format('woff'),
       url('font/Symbola-Emoji.ttf') format('truetype');

 /* Emoji unicode blocks */
 unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.Preview-Me
{
     font-family: emoji;
     letter-spacing: 2px;
}


/* Campaign Options Section(s) Keyword, Blast, API */


.ui-accordion .ui-accordion-content
{
    padding: 1em 2.2em;
    border-top: 0;
    overflow: visible;
}

.ui-widget-content
{
    border: inherit;
    background: none;
    color: inherit;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	border: none;
	background: none;
}

/*
@media (min-width: 992px) {
  .preview-keyword {
    transform: scale(0.4);
  }

}
@media (min-width: 1600px) {
     .preview-keyword
     {
          transform: scale(0.6);
     }
} */
