/* smaller screens */
@media screen and (max-height: 600px) {
.cpobj-item-icon { display:none !important; }
}


/* http://stackoverflow.com/questions/26620110/css-media-queries-many-vs-few */
/* Text align blast stats based on big(right) and small(left) */
@media(max-width:767px){ #BlastStats {text-align: left;} }
@media(min-width:768px){ #BlastStats {text-align: left;}}
@media(min-width:992px){ #BlastStats {text-align: right;}}
@media(min-width:1200px){ #BlastStats {text-align: right;}}


@media only screen and (max-width: 480px){
     .dd-selected-image{
          width: 32px;
     }

     .dd-option-image{
          width: 32px;
     }

     .dd-option-text{
          line-height: 30px !important;
     }

     .dd-selected-text{
          line-height: 30px !important;
     }

     label.dd-selected-text {
          text-overflow: ellipsis;
          max-width: 80% !important;
     }

     label.dd-option-text {
          text-overflow: ellipsis;
          max-width: 80% !important;
     }
}

@media only screen and (min-width: 481px) {
     .dd-option-text{
          line-height: 58px !important;
     }

     .dd-selected-text{
          line-height: 58px !important;
     }
}

@media only screen and (max-width: 480px) {
     #add-sub-list-modal-content {
          width: 90% !important;
          margin-left: 5% !important;

     }
}
