<div class="row">
	<div class="col-xs-12 text-center" style="margin-bottom: 20px">
		Current Library Id: <span class="badge badge-info">{{ngModel.dynamic[0].ds}}</span>
	</div>

	<div class="col-xs-12">
		<table class="table table-bordered">
			<tr data-ng-repeat="dy in ngModel.dynamic">
				<td width="30%">
                    <div data-ng-if="dy.dynamicType == 0">
                        <label for="" data-ng-bind="dy.title" style="font-weight: normal"></label>
                    </div>
					<div data-ng-if="dy.dynamicType == 1">
                        <label for="" data-ng-bind="dy.desc" style="font-weight: normal"></label>
					</div>
					<div data-ng-if="dy.dynamicType == 2">
						<b>Switch:</b> {{dy.datakey.label}}
					</div>
					<div data-ng-if="dy.dynamicType == 3">
                        <span data-ng-show="dy.ttsType.val == 0">{{dy.texttosay}}</span>
                        <span data-ng-show="dy.ttsType.val == 1">{%XML|{{dy.datakey.label}}|{{dy.datafield}}%}</span>
					</div>
					<div data-ng-if="dy.dynamicType == 4">
						{{dy.description}}   
					</div>
					<div data-ng-if="dy.dynamicType == 5">
						{{dy.description}}
					</div>
				</td>
				<td width="65%">
					<div data-ng-if="dy.dynamicType == 0">
						<b>Script</b>
					</div>
					<div data-ng-if="dy.dynamicType == 1">
						<b>Blank script</b>
					</div>
					<div data-ng-if="dy.dynamicType == 2">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Case</th>
									<th>Description</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="ca in dy.cases">
									<td data-ng-if="ca.type == 0">
                                        <label for="" data-ng-bind="ca.dataCase" style="font-weight: normal"></label>
									</td>
									<td data-ng-if="ca.type == 0">
                                        <label for="" data-ng-bind="ca.title" style="font-weight: normal"></label>
									</td>
                                    <td data-ng-if="ca.type == 0">
                                        Script
                                    </td>
                                    <td  data-ng-if="ca.type == 1">
                                        <label for="" data-ng-bind="ca.dataCase" style="font-weight: normal"></label>
                                    </td>
                                    <td  data-ng-if="ca.type == 1">
                                        <label for="" data-ng-bind="ca.description" style="font-weight: normal"></label>
                                    </td>
                                    <td  data-ng-if="ca.type == 1">
                                        Blank Script
                                    </td>
								</tr>
							</tbody>
						</table>
					</div>
					<div data-ng-if="dy.dynamicType == 3">
						TTS
					</div>
					<div data-ng-if="dy.dynamicType == 4">
						Field
					</div>
					<div data-ng-if="dy.dynamicType == 5">
						Conversion
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>