<div class="row">
    <div class="col-xs-5" data-ng-repeat="script in scripts">
        <div class="form-group form-group-sm">
            <label class="col-sm-7" for="{{script.id}}" style="font-weight: normal">
                {{script.label}}
            </label>
            <label class="col-sm-5" data-ng-bind="ngModel[script.model]" >
                {{script.label}}
            </label>
        </div>
    </div>
</div>
