
<div class="row">
	<div class="col-xs-12">
		<table class="table table-bordered">
			<tr class="success">
				<td>Data Key</td>
				<td>RXVID</td>
                <td>RXVNAME</td>
			</tr>
			<tr>
				<td>
					<span data-ng-show="ngModel.ttsType.val == ttsType[0].val">{{ngModel.texttosay}}</span>
					<span data-ng-show="ngModel.ttsType.val == ttsType[1].val">{%XML|{{ngModel.datakey.label}}|{{ngModel.datafield}}%}</span>
				</td>
				<td>{{ngModel.rxvid.label}}</td>
                <td>{{ngModel.rxvname}}</td>
			</tr>
		</table>
	</div>
</div>