<cfcomponent>

	<!--- Hoses the output...JSON/AJAX/ETC  so turn off debugging --->
    <cfsetting showdebugoutput="no" />
       
	
    <cfinclude template="../../public/paths.cfm" >
	
    <cfinclude template="csc/constants.cfm">
    <cfinclude template="../includes/inc_publishaudio.cfm">
    
    
    
    
    
</cfcomponent>