<!--- This file is just for cron job --->

<cfset mm = minute(now())>

<cfset o = CreateObject('component','nco').init()>

<!--- import & process files files from NCO and send any updates to FPL --->
<cfset temp = o.getFilesFromNCO()>

<!--- export files to nco --->
<cfset temp = o.sendTONCO()>

