/* CSS Document */
#SBContents .hor_ruler {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*width: 1272px;*/
    /*width: 1022px;*/ 
	height:20px; 
	background: none repeat scroll 0 0 #CCCCCC; 
	border-style: solid solid solid none; 
	border-width: 1px 1px 1px medium;
	border-color: #888;
	margin-left: 0px;
	overflow: hidden;
	width: 5025px;
}

#SBContents .hor_ruler .hor_main_boder {
	width: 99px;
	height:20px;
	float:left;
	border-left: 1px solid #888;
}

.hor_major_boder {
	width: 99px;
	height:12px;
	font-size: 11px;
}

.hor_minor_boder {
	width:9px;
	height:7px;
	float:left;
	border-left: 1px solid #888;
	padding-top: 1px;
}

.none_left_boder {
	border-left: none;
}

.width_49 {
	width:49px;
}

.width_25 {
	width:25px;
}

.width_20 {
	width:20px;
}

#SBContents .ver_ruler {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    width: 20px; 
	/*height:1200px;*/ 
	background: none repeat scroll 0 0 #CCCCCC; 
	border-style: none solid solid solid; 
	border-width: medium 1px 1px 1px;
	border-color: #888;
	float: left;
}

#SBContents .ver_ruler .ver_main_boder {
	width: 20px;
	height:99px;
	float:left;
	border-top: 1px solid #888;
	position:relative;
}

.ver_major_boder {
	width: 12px;
	height:99px;
	font-size: 11px;
	left:0px;
}

.ver_minor_boder {
	width:7px;
	height:9px;
	border-top: 1px solid #888;
	padding-left: 1px;
	
}

.none_top_boder {
	border-top: none;
}

.float_right {
	float:right;
}

.float_left {
	float:left;
}

.left_ruler_number {
	font-size:11px;
}

.padding_2 {
	padding:2px;
}

.padding_left_2 {
	padding-left: 2px;
}

#ver_top, #ver_bottom {
	position: absolute;
	width: 20px;
	height: 2px;
	top: 0px;
	left: 0px;
	border-top: 2px solid #666;
}

#SBContents .hor_ruler #hor_top, 
#SBContents .hor_ruler #hor_bottom {
	position: absolute;
	width: 2px;
	height: 20px;
	top: 0px;
	left: 0px;
	border-left: 2px solid #666;
}
	



