UL.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

UL.jqueryFileTree A {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

UL.jqueryFileTree A:hover {
	background: #BDF;
}

/* Core Styles */
.jqueryFileTree LI.directory { background: url(images/filetree/directory.png) left top no-repeat; }
.jqueryFileTree LI.library { background: url(images/filetree/directory.png) left top no-repeat; }
.jqueryFileTree LI.element { background: url(images/filetree/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(images/filetree/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(images/filetree/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(images/filetree/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree LI.ext_3gp { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_afp { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_afpa { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_asp { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_aspx { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_avi { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_bat { background: url(images/filetree/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_bmp { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_c { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cfm { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cgi { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_com { background: url(images/filetree/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_cpp { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_css { background: url(images/filetree/css.png) left top no-repeat; }
.jqueryFileTree LI.ext_doc { background: url(images/filetree/doc.png) left top no-repeat; }
.jqueryFileTree LI.ext_exe { background: url(images/filetree/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_gif { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_fla { background: url(images/filetree/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_h { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_htm { background: url(images/filetree/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_html { background: url(images/filetree/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_jar { background: url(images/filetree/java.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpg { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpeg { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_js { background: url(images/filetree/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_lasso { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_log { background: url(images/filetree/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_m4p { background: url(images/filetree/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mov { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp3 { background: url(images/filetree/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp4 { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpg { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpeg { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_ogg { background: url(images/filetree/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_pcx { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_pdf { background: url(images/filetree/pdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_php { background: url(images/filetree/php.png) left top no-repeat; }
.jqueryFileTree LI.ext_png { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_ppt { background: url(images/filetree/ppt.png) left top no-repeat; }
.jqueryFileTree LI.ext_psd { background: url(images/filetree/psd.png) left top no-repeat; }
.jqueryFileTree LI.ext_pl { background: url(images/filetree/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_py { background: url(images/filetree/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_rb { background: url(images/filetree/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rbx { background: url(images/filetree/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rhtml { background: url(images/filetree/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rpm { background: url(images/filetree/linux.png) left top no-repeat; }
.jqueryFileTree LI.ext_ruby { background: url(images/filetree/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_sql { background: url(images/filetree/db.png) left top no-repeat; }
.jqueryFileTree LI.ext_swf { background: url(images/filetree/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_tif { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_tiff { background: url(images/filetree/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt { background: url(images/filetree/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_vb { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_wav { background: url(images/filetree/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_wmv { background: url(images/filetree/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_xls { background: url(images/filetree/xls.png) left top no-repeat; }
.jqueryFileTree LI.ext_xml { background: url(images/filetree/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_zip { background: url(images/filetree/zip.png) left top no-repeat; }