#SBContents {
	top: 0px;
	left: 15px;
	width: 1200px;
	height: 1380px;
	min-height: 1380px;
}

#SBMenuBar {
	position: absolute;
	top: 0px;
	left: 15px;
	width: 1200px;
	height: 80px;
	min-height: 80px;
	border-bottom: #000 2px solid;
	border-left: none;
	border-right: none;
	border-top: none;
}

.SBMenuItem {
	position: relative;
	display: inline;
}

#SBMenuBar .ObjDESCMenuItem {
	font-size: 9px;
	color: #000;
	display: inline;
	border: none;
	top: 15px;
	left: 25px;
	z-index: 10;
	position: absolute;
	word-wrap: normal;
}

#SBStage {
	position: absolute;
	top: 82px;
	left: 15px;
	width: 1252px;
	height: 1200px;
	min-height: 1200px;
	background:url(../images/bg1.png) repeat scroll 0 0 transparent;
	/*border: #000 thin solid;*/
}

#SBStage .SBStageItem {
	position: absolute;
	display: inline;
	background: url("../images/MenuItemBGX2.png") no-repeat scroll right top
		transparent;
	width: 80px;
	height: 125px;
}

#SBStage .dPlay {
	background: url("../images/MenuItemSX2.png") no-repeat scroll right top
		transparent;
	width: 132px;
	height: 72px;
}

#SBStage .dPlay .ObjDESC {
	top: 78px;
	left: 10px;
}

}
.imgObjBackground {
	display: inline;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

#ItemDESC {
	text-align: left;
	z-index: 100;
}

#CURRRXSSXML {
	font-size: 9px;
	line-height: 15px;
	list-style-type: none;
}

#CURRRXSSXML UL {
	list-style-type: none;
}

.ObjDropZone {
	font-size: 9px;
	color: #000;
	display: inline;
	border: none;
	top: 0px;
	left: 24px;
	z-index: 5;
	position: absolute;
}

.ObjDESC {
	font-size: 10px;
	font-weight: bold;
	color: #003399;
	display: inline;
	border: none;
	top: 125px;
	left: 8px;
	z-index: 10;
	position: absolute;
	white-space: nowrap;
}

.imgObjDelete {
	font-size: 9px;
	color: #000;
	display: inline;
	border: none;
	top: 6px;
	left: 66px;
	z-index: 10;
	position: absolute;
}

.imgObjDelete:hover {
	cursor: pointer
}

.ObjLINKs {
	font-size: 8px;
	text-decoration: underline;
	color: #33CCFF;
	display: inline;
	border: none;
	position: absolute;
	top: 112px;
	left: 30px;
	z-index: 205;
}

.ObjLINKs:hover {
	cursor: pointer
}

.MCIDToken {
	background-image: url(../images/MCIDTokenXII.png);
	background-repeat: no-repeat;
	font-size: 10px;
	font-weight: bold;
	color: #003399;
	display: inline;
	border: none;
	position: absolute;
	top: 125px;
	left: -18px;
	z-index: 10;
	min-height: 25px;
	min-width: 25px;
	padding-top: 5px;
}

.EditObjDESC {
	font-size: 9px;
	font-weight: 900;
	color: #FFFFFF;
	display: inline;
	border: none;
	top: 10px;
	left: 10px;
	z-index: 200;
	position: absolute;
	/*overflow: hidden;*/
	word-wrap: break-word;
	width: 96px;
	height: 48px;
}

.editable input[type=submit] {
	color: #F00;
	font-size: 8px;
	font-weight: bold;
}

.editable input[type=button] {
	color: #0F0;
	font-size: 8px;
	font-weight: bold;
}

.EditObjDESC button {
	color: #F00;
	font-size: 8px;
	font-weight: bold;
}

.EditObjDESC textarea {
	color: #003399;
	font-size: 8px;
	font-weight: bold;
	overflow: visible;
}