	
	<div class="hor_ruler"> 
		<div class="hor_main_boder" style="width: 20px;">
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_hor_minor_boder"></div>
		</div>
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">0</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">1</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">2</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">3</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">4</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">5</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">6</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">7</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">8</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">9</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
	
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">10</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
				<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">11</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">12</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">13</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">14</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">15</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">16</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">17</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">18</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">19</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
	
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">20</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>	
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">21</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
				<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">22</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">23</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">24</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">25</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">26</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">27</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">28</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">29</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">30</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
	
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">31</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">32</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
				<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">33</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">34</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">35</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">36</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">37</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">38</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">39</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">40</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">41</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
	
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">42</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		 <div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">43</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
				<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">44</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">45</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">46</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">47</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">48</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
		
		<div class="hor_main_boder">
			<div class="hor_major_boder padding_left_2">49</div>
			<div class="hor_minor_boder none_left_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
			<div class="hor_minor_boder"></div>
		</div>
						
	</div>
	
	<div class="ver_ruler">
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">0</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">1</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">2</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">3</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">4</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">5</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">6</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">7</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">8</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">9</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">10</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">11</div>
			<div class="float_right">				
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">12</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">13</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">14</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">15</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">16</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">17</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">18</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">19</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">20</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">21</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">22</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">23</div>
			<div class="float_right">				
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
				<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">24</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">25</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">26</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">27</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">28</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">29</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">30</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">31</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">32</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">33</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">34</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">35</div>
			<div class="float_right">				
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">36</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">37</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">38</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">39</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">40</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">41</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">42</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">43</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">44</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number padding_2">45</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">46</div>
			<div class="float_right">
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">47</div>
			<div class="float_right">				
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>		
		
		<div class="ver_main_boder">
			<div class="float_left left_ruler_number">48</div>
			<div class="float_right">				
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>	
		
						<div class="ver_main_boder">
			<div class="float_left left_ruler_number">49</div>
			<div class="float_right">				
				<div class="ver_minor_boder none_top_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
				<div class="ver_minor_boder"></div>
			</div>
			
		</div>	
	</div>
	

