
.btn:hover, .btn:focus, .btn:active {
    outline: 0 none !important;
}
/*
.card-container {
    margin-bottom: 30px;
    perspective: 800px;
}
.card-container:hover:not(.manual-flip) .card, .card-container.hover.manual-flip .card {
    transform: rotateY(180deg);
}
.card-container.static:hover .card, .card-container.static.hover .card {
    transform: none;
}
*/
.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0s;
}
.front, .back {
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    left: 0;
    position: absolute;
    top: 0;
}
.front {
    z-index: 2;
}
.back {
    transform: rotateY(180deg);
    z-index: 3;
}
.back .btn-simple {
    bottom: 4px;
    left: 0;
    position: absolute;
}
.card {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 4px;
    color: #444444;
}
.card-container, .front, .back {
    border-radius: 4px;
    height: 420px;
    width: 100%;
}
.card .cover {
    border-radius: 4px 4px 0 0;
    height: 105px;
    overflow: hidden;
}
.card .cover img {
    width: 100%;
}
.card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img {
    background: #ffffff none repeat scroll 0 0;
    border: 4px solid #ffffff;
    width: 100%;
	height:100%;
}
.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5 {
    font-weight: 400;
    line-height: 20px;
    margin: 5px 0;
}
.card .profession {
    color: #999999;
    margin-bottom: 20px;
    text-align: center;
}
.card .footer {
    border-top: 1px solid #eeeeee;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.card .footer .social-links {
    font-size: 18px;
}
.card .footer .social-links a {
    margin: 0 7px;
}
.card .footer .btn-simple {
    margin-top: -6px;
}
.card .header {
    height: 90px;
    padding: 15px 20px;
}
.card .motto {
    border-bottom: 1px solid #eeeeee;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}
.title {
    color: #506a85;
    font-size: 44px;
    font-weight: 300;
    line-height: 90%;
    margin-bottom: 90px;
    text-align: center;
}
.title small {
    color: #999;
    font-size: 17px;
    margin: 0;
    text-transform: uppercase;
}
.space-50 {
    display: block;
    height: 50px;
}
.space-200 {
    display: block;
    height: 200px;
}
.white-board {
    background-color: #ffffff;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart {
    color: #f74933;
}
pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str {
    color: #05ae0e;
}
.tag, .pln, .kwd {
    color: #3472f7;
}
.atn {
    color: #2c93ff;
}
.pln {
    color: #333;
}
.com {
    color: #999;
}
.btn-simple {
    background-color: transparent;
    color: #666666;
    opacity: 0.8;
}
.btn-simple:hover, .btn-simple:focus {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i {
    font-size: 16px;
}
.navbar-brand-logo {
    padding: 0;
}
.navbar-brand-logo .logo {
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand {
    color: #ffffff;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand {
    color: #555;
}
@media not all, not all {
.front, .back {
    backface-visibility: visible;
}
.back {
    visibility: hidden;
}
.front {
    z-index: 4;
}
.card-container:hover .back {
    visibility: visible;
    z-index: 5;
}
}

/*fix for various IE flavors */
col-md-4.col-sm-6.card-container-outer {} 
.btn:hover, .btn:focus, .btn:active { outline: 0 !important; } /* entire container, keeps perspective */ 
.card-container { -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px; perspective: 800px; margin-bottom: 30px; transform-style: preserve-3d; } /* flip the card when hovered */ 
.card-container:not(.manual-flip):hover .front, .card-container.hover.manual-flip .front{ -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); } 
.card-container:not(.manual-flip):hover .back, .card-container.hover.manual-flip .back { -webkit-transform: rotateY(0deg); -moz-transform: rotateY(0deg); -o-transform: rotateY(0deg); transform: rotateY(0deg); } /* Control 3D animation and flip's speed */ 
.card { -webkit-transition: -webkit-transform 1.2s; -moz-transition: -moz-transform 1.2s; -o-transition: -o-transform 1.2s; -ms-transition: all 1.2s cubic-bezier(.92, .01, .83, .67); transition: transform 1.2s; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; } /* hide back of the card during transition */ 
.front, .back { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; transition: 1.2s; transform-style: preserve-3d; position: absolute; top: 0; left: 0; } /* front card by default should be placed on front of the back card */ 
.front { z-index: 2; transform: rotateY(0deg); } /* back card, initially hidden pane */ 
.back { -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); transform: rotateY(-180deg); /*z-index: 3;*/ }


