<cfinvoke component="#LocalSessionDotPath#.cfc.administrator.history" method="addHistory" returnvariable="addHistory">
	<cfinvokeargument name="pageTitle" value="#LifeCycle_View_Title#">
</cfinvoke>

<script>	
	$('#subTitleText').text('<cfoutput>#LifeCycle_Title# >> #LifeCycle_View_Title#</cfoutput>');
	$('#mainTitleText').text('ire');
</script>
View LCE