<form id="form_lat" name="form_lat" class="form-horizontal rxt-input-form" role="form">
<tabset class="detail-panel-tab" justified="true">
   	   	<tab heading="Controls">
   		<div class="row">
   			
			<div class="col-xs-6">
   				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label">CK4 Option</label>
					<div class="col-sm-7">
						<select class="form-control" data-ng-model="data[ck4Data[0].model]"
							data-ng-options="type.label for type in ck4Data[0].options track by type.val">
						</select>
					</div>
				</div>
			</div>
			
			<div class="col-xs-6">
				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label" for="{{ck1Data[0].id}}">
						{{ck1Data[0].label}}
						<i class="detail-question fa fa-question"
                           data-ebmpopover-title="{{ck1Data[0].popover.title}}"
                           data-ebmpopover="{{ck1Data[0].popover}}"
                           data-ebmpopover-trigger="mouseenter"
                           data-ebmpopover-placement="top"
                           data-ebmpopover-append-to-body="true"
                           data-ebmpopover-animation="fade" >
                        </i>
					</label>
					<div class="col-sm-7">
						<input class="form-control input-sm" 
							type="text" 
							id="{{ck1Data[0].id}}" 
							value="{{ck1Data[0].val}}"
							placeholder="{{ck1Data[0].placeholder}}"
							data-ng-model="data[ck1Data[0].model]"
							required="{{ck1Data[0].required}}"
                            data-ng-blur="onBlur(ck1Data[0].model)"
							data-ng-required="{{ck1Data[0].required}}"
							data-ng-pattern="{{ck1Data[0].pattern}}" 
							 />
						<button type="button" data-ng-click="CdfPopup()" class="btn btn-sm btn-warning btn-abs">...</button>
					</div>
				</div>
	   		</div>
			
			<div class="col-xs-6">
				<div class="form-group form-group-sm" data-ng-if="data[ck4Data[0].model].val == 0" >
					<label class="col-sm-4 control-label" for="{{ck4Data[1].id}}">
						{{ck4Data[1].label}}
						<i class="detail-question fa fa-question"
                           data-ebmpopover-title="{{ck4Data[1].popover.title}}"
                           data-ebmpopover="{{ck4Data[1].popover}}"
                           data-ebmpopover-trigger="mouseenter"
                           data-ebmpopover-placement="top"
                           data-ebmpopover-append-to-body="true"
                           data-ebmpopover-animation="fade" >
                        </i>
					</label>
					<div class="col-sm-7">
						<input class="form-control input-sm" 
							type="text" 
							id="{{ck4Data[1].id}}" 
							value="{{ck4Data[1].val}}"
							placeholder="{{ck4Data[1].placeholder}}"
							data-ng-model="data[ck4Data[1].model]"
							required="{{ck4Data[1].required}}"
                            data-ng-blur="onBlur(ck4Data[1].model)"
							data-ng-required="{{ck4Data[1].required}}"
							data-ng-pattern="{{ck4Data[1].pattern}}" 
							 />
					</div>
				</div>
				
				<div class="form-group form-group-sm" data-ng-if="data[ck4Data[0].model].val == 1">
					<label class="col-sm-4 control-label" for="{{ck4Data[2].id}}">
						{{ck4Data[2].label}}
						<i class="detail-question fa fa-question"
                           data-ebmpopover-title="{{ck4Data[2].popover.title}}"
                           data-ebmpopover="{{ck4Data[2].popover}}"
                           data-ebmpopover-trigger="mouseenter"
                           data-ebmpopover-placement="top"
                           data-ebmpopover-append-to-body="true"
                           data-ebmpopover-animation="fade" >
                        </i>
					</label>
					<div class="col-sm-7">
						<select name="{{ck4Data[2].id}}" 
							id="{{ck4Data[2].id}}"
							class="form-control input-sm"
							data-ng-model="data[ck4Data[2].model]"
							data-ng-options="op.label for op in ck4Data[2].options track by op.val"
							>
						</select>
					</div>
				</div>
				
				<div class="form-group form-group-sm" data-ng-if="data[ck4Data[0].model].val == 1" >
					<label class="col-sm-4 control-label" for="{{ck4Data[3].id}}">
						{{ck4Data[3].label}}
						<i class="detail-question fa fa-question"
                           data-ebmpopover-title="{{ck4Data[3].popover.title}}"
                           data-ebmpopover="{{ck4Data[3].popover}}"
                           data-ebmpopover-trigger="mouseenter"
                           data-ebmpopover-placement="top"
                           data-ebmpopover-append-to-body="true"
                           data-ebmpopover-animation="fade" >
                        </i>
					</label>
					<div class="col-sm-7">
						<input class="form-control input-sm" 
							type="text" 
							id="{{ck4Data[3].id}}" 
							value="{{ck4Data[3].val}}"
							placeholder="{{ck4Data[3].placeholder}}"
							data-ng-model="data[ck4Data[3].model]"
							required="{{ck4Data[3].required}}"
                            data-ng-blur="onBlur(ck4Data[3].model)"
							data-ng-required="{{ck4Data[3].required}}"
							data-ng-pattern="{{ck4Data[3].pattern}}" 
							 />
					</div>
				</div>
	   		</div>
			
	   		<div class="col-xs-6" data-ng-repeat="control in controls">
				<div class="form-group form-group-sm">
					<label class="col-sm-4 control-label" for="{{control.id}}">
						{{control.label}}
                        <i class="detail-question fa fa-question"
                           data-ebmpopover-title="{{control.popover.title}}"
                           data-ebmpopover="{{control.popover}}"
                           data-ebmpopover-trigger="mouseenter"
                           data-ebmpopover-placement="top"
                           data-ebmpopover-append-to-body="true"
                           data-ebmpopover-animation="fade" >
                        </i>
					</label>
					<div class="col-sm-7">
						<input class="form-control input-sm" 
							type="text" 
							id="{{control.id}}" 
							value="{{control.val}}"
							placeholder="{{control.placeholder}}"
							data-ng-model="data[control.model]"
							required="{{control.required}}"
                            data-ng-blur="onBlur(control.model)"
							data-ng-required="{{control.required}}"
							data-ng-pattern="{{control.pattern}}" 
							 />
					</div>
				</div>
	   		</div>
   		</div>
   		<div class="row form-error " data-ng-show="!formvalid">
   			<div class="col-xs-12 text-center">{{response}}</div>
   		</div>
	</tab>
   	<tab heading="Scripts">
   		<div dynamic-script data-ng-model="data"></div>
   	</tab>
   	<tab heading="Description">
   		<textarea id="play-description" data-ng-model="data.description" class="form-control" rows="3"></textarea>
   	</tab>
</tabset>

<div class="text-center">
    <button type="button" data-ng-click="reset()" class="btn btn-sm btn-warning">Reset</button>
	<button type="button" data-ng-click="save()" class="btn btn-primary btn-sm  btn-save-object">Save</button>
</div>
</form>