<form id="form_readds" name="form_readds" class="form-horizontal rxt-input-form" role="form">
    <tabset class="detail-panel-tab" justified="true">
       <tab heading="Controls">
	   		<div class="row">
		   		<div class="col-xs-6" data-ng-repeat="control in controls">
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="{{control.id}}">
							{{control.label}}
	                        <i class="detail-question fa fa-question"
	                           data-ebmpopover-title="{{control.popover.title}}"
	                           data-ebmpopover="{{control.popover}}"
	                           data-ebmpopover-trigger="mouseenter"
	                           data-ebmpopover-placement="top"
	                           data-ebmpopover-append-to-body="true"
	                           data-ebmpopover-animation="fade" >
	                        </i>
						</label>
						<div class="col-sm-7">
							<input class="form-control input-sm" 
								type="text" 
								id="{{control.id}}" 
								value="{{control.val}}"
								placeholder="{{control.placeholder}}"
								data-ng-model="data[control.model]"
								required="{{control.required}}"
	                            data-ng-blur="onBlur(control.model)"
								data-ng-required="{{control.required}}"
								data-ng-pattern="{{control.pattern}}" 
								 />
						</div>
					</div>
		   		</div>
	   		</div>
	   		<div class="row form-error" data-ng-show="!formvalid">
	   			<div class="col-xs-12 text-center">{{response}}</div>
	   		</div>
		</tab>
        <tab heading="Description">
            <textarea id="play-description" data-ng-model="data.description" class="form-control" rows="3"></textarea>
        </tab>
    </tabset>

    <div class="text-center">
        <button type="button" data-ng-click="reset()" class="btn btn-sm btn-warning">Reset</button>
        <button type="button" data-ng-click="save()" class="btn btn-primary btn-sm  btn-save-object">Save</button>
    </div>
</form>