<div id="footer" class="clf">
	<div id="footerMenu" class="fl">
		<span><a href="#">
				About 
			</a></span>
		| 
		<span><a href="#">
				Find Us
			</a></span>
		| 
		<span><a href="#">
				Privacy 
			</a></span>
		| 
		<span><a href="#">
				Terms of Use 
			</a></span>
	</div>
	<div id="license" class="fr">MessageBroadcast &copy; 2012</div>
</div>
