<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L">
<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString">

<cfset websericeCommonDotPath = "ire.sms.common">
<cfset CommonDotPath = "ire.sms.common"> <!--- Different for cfincludes for cfc's in Session, WebService, EBMResponse, IREResponse etc --->
<cfset SessionDotPath = "session.cfc">
<cfset ServerAPIKeyShortUrl = "AIzaSyB0c-sx7hvlu8j2UdScdK2vVIj4qQD8-Yg" />

<cfif cgi.server_port_secure eq '1'>
	<cfset LocalProtocol="https">
<cfelse>
	<cfset LocalProtocol="http">
</cfif>


<!--- Manually set this here to be API wide - input params are not used here --->
<cfparam name="DebugAPI" default="0">

<cfif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMAPI.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMMO.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMAPI-L.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">
    
<cfelseif FINDNOCASE( "EBMLOCAL", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">    

<cfelseif FINDNOCASE( "ebmmo.ebm.internal", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">    
    
<cfelseif FINDNOCASE( "dev.ebmmo.ebm.internal", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">
    
<cfelseif FINDNOCASE( "mbdemodev.messagebroadcast.com", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">
				       
<cfelseif FINDNOCASE( "devebmmo.ebm.internal", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">        
    
<cfelseif FINDNOCASE( "ebmapiint.ebm.internal", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">    
            
<cfelseif FINDNOCASE( "EBMII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMDEVII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "V3.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">
	
<cfelse>

	<cfset DebugAPI ="0">

</cfif>

<!---<cfparam name="DBSourceEBM" default="Bishop">--->

<cfif DebugAPI GT 0 >
  	   
    <cfset DBSourceEBM = "BishopDev"/> 
    <cfset Session.DBSourceEBM = "BishopDev"/>     

<cfelse>

	<cfset DBSourceEBM = "Bishop"/> 
    <cfset Session.DBSourceEBM = "Bishop"/> 
   
</cfif>


