.control-item {
    background-color: white;
    border: 1px solid #2e6f9a;
    border-radius: 8px;
    box-shadow: 2px 2px 19px #e0e0e0;
    cursor: move;
    font-size: 11px;
    opacity: 0.8;
    padding: 16px;
    position: absolute;
    transition: background-color 0.25s ease-in 0s;
    z-index: 4;
}
.connect {
    background-color: orange;
    bottom: 37%;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    height: 1em;
    position: absolute;
    right: 5px;
    transition: box-shadow 0.25s ease-in 0s;
    width: 1em;
}