.rm .fa{
	line-height:16px;
}

.header-table .col-sm-5{
	background-color:#a7fcf3;
	line-height:30px;
	font-weight:bolder;
}

.body-table .col-sm-5{
	line-height:30px;
}

.modal-content .modal-footer .btn{
	padding: 2px 12px;
}

.btn-sm, .btn-group-sm > .btn{
	line-height: 1.2;
}

table .ng-binding {
    display: block;
    max-width: 357px;
    word-wrap: break-word;
}

table tr:first-child td:last-child{
	border-left:none;
	border-right:none;
	border-top:none;	
}

table tr:last-child td:last-child{
	border:none;
}

table tr td{
	max-width:110px;
}


.viewport {
    top: 231px;
}

.content-stage {
	margin-top: 0;
}
#subTitle {
	z-index: -1;
}

#innertube {
    margin: 0;
    padding: 0;
    width: 100%;
}

#subTitle {
	z-index: -1;
	width: 101%;
}

.container {
    padding-left: 0;
}

.ui-dialog{
	padding:0!important;
}

#dialog-confirm-logout{
	padding:0!important;
	height:50px!important;
	font-size:16px!important;
	font-family: Helvetica,Arial,sans-serif!important;
}

.ui-dialog .ui-dialog-title {
    font-size: 16px!important;
    font-weight: normal!important;
	font-family: Verdana,Arial,sans-serif!important;
}

.ui-dialog-titlebar-close{
	background: url("../../../../../../public/css/images/cross.png") repeat scroll 0 0 transparent !important;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 26px !important;
    line-height: 14px;
    position: absolute;
    right: 4px !important;
    top: 8px !important;
    width: 27px !important;
	border:none !important;
}

.ui-dialog-title{
	left: 51px;
    position: relative;
    top: 60px;
}

.detail-panel .mejs-container{
	width: 108px!important;
	height:25px!important;
	border-radius: 3px;
}

.detail-panel .mejs-container .mejs-controls{
	height:25px !important;
	line-height:25px !important;
}

.detail-panel .mejs-controls .mejs-button button{
	margin: 4px 5px !important;
}

.detail-panel .mejs-container .mejs-controls .mejs-time span{
	margin: -2px 2px 0 0 !important;
}

.detail-script-container{
	margin-right: 12px;
    width: 108px;
	float:left;
}

.detail-script-container button{
	float:right;
}

.detail-script-container .script-element{
	float:left;
}


.btn-abs{
	position: absolute;
    right: 17px;
    top: 2.5px;
}

.form-horizontal .control-label{
	position:relative;
	top:0;
}

.form-horizontal .control-label i{
	position: absolute;
    right: 5px;
    top: 3px;
}

#inpCDFField{
	height:25px;
}

#menu_multilevelpushmenu .levelHolderClass h2{
	margin-top:0!important;
}

#mp-pusher{
	font-size:12px;
}
.rxtpopover {
	max-width: 500px;
    width: 500px;
}
.rxtpopover table .ng-binding {
    max-width: auto;
    word-wrap: auto;
	
}
.rxtpopover table td.ng-binding {
    display: table-cell;
}
.rxtpopover-json-row {
	border-bottom: 1px dashed #ddd;
}

.workspace-container{
	top:100px;
}

.item-rxt2{
	height: 13%;
    width: 7%;
	padding: 25px;
	background-color: #cbcbcb;
}

.item-rxt2 .rm {
	height:2em;
	width:2em;
}

.item-rxt2 .rm .fa{
	line-height: 16px;
	font-size: 12px;
}
