#file_browser {
	border-right: 2px solid #ddd;
	height: 350px;
	overflow: scroll;
}

#data {
	margin-left: 320px;
}

#data textarea {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border: 0;
	background: white;
	display: block;
	line-height: 18px;
	resize: none;
}

#data,#code {
	font: normal normal normal 12px/18px 'Consolas', monospace !important;
}

#file_browser .folder:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f07b";
}



#file_browser .file:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f1c7";
}

#file_browser .file-pdf {
	content: "\f1c1";
}

#file_browser .file-audio {
	content: "\f1c7";
}

#file_browser .file-as {
	content: "\f1c1";
}

#file_browser .file-c {
	background-position: -72px -0px
}

#file_browser .file-iso {
	background-position: -108px -0px
}

#file_browser .file-htm,#file_browser .file-html,#file_browser .file-xml,#file_browser .file-xsl {
	background-position: -126px -0px
}

#file_browser .file-cf {
	background-position: -162px -0px
}

#file_browser .file-cpp {
	background-position: -216px -0px
}

#file_browser .file-cs {
	background-position: -236px -0px
}

#file_browser .file-sql {
	background-position: -272px -0px
}

#file_browser .file-xls,#file_browser .file-xlsx {
	background-position: -362px -0px
}

#file_browser .file-h {
	background-position: -488px -0px
}

#file_browser .file-crt,#file_browser .file-pem,#file_browser .file-cer {
	background-position: -452px -18px
}

#file_browser .file-php {
	background-position: -108px -18px
}

#file_browser .file-jpg,#file_browser .file-jpeg,#file_browser .file-png,#file_browser .file-gif,#file_browser .file-bmp
	{
	background-position: -126px -18px
}

#file_browser .file-ppt,#file_browser .file-pptx {
	background-position: -144px -18px
}

#file_browser .file-rb {
	background-position: -180px -18px
}

#file_browser .file-text,#file_browser .file-txt,#file_browser .file-md,#file_browser .file-log,#file_browser .file-htaccess
	{
	background-position: -254px -18px
}

#file_browser .file-doc,#file_browser .file-docx {
	background-position: -362px -18px
}

#file_browser .file-zip,#file_browser .file-gz,#file_browser .file-tar,#file_browser .file-rar {
	background-position: -416px -18px
}

#file_browser .file-js {
	background-position: -434px -18px
}

#file_browser .file-css {
	background-position: -144px -0px
}

#file_browser .file-fla {
	background-position: -398px -0px
}