.workspace .window { border:1px solid #346789;
box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
-moz-border-radius:0.5em;
border-radius:0.5em;
opacity:0.8;
filter:alpha(opacity=80);

text-align:center;
z-index:20; position:absolute;
background-color:#eeeeef;
color:black;
font-family:helvetica;padding:0.5em;
font-size:0.9em;
}

.workspace .window:hover {
	box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
	filter:alpha(opacity=60);
}

.workspace .active {
	border:1px dotted green;
}
.workspace .hover {
	border:1px dotted red;
}

.workspace .aLabel {
 	background-color:white; 
	padding:0.2em; 
	font:10px sans-serif; 
	color:#444;
	z-index:21;
	border:1px dotted gray;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: pointer;
}
.workspace .aLabel._jsPlumb_hover {
	background-color:#5C96BC;
	color:white;	
	border:1px solid white;
}

.draw-item { 	
	padding:16px;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 0px 1px 7px #333;
	-o-box-shadow: 0px 1px 7px #333;
	-webkit-box-shadow: 0px 1px 7px #333;
	-moz-box-shadow: 0px 1px 7px #333;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:1;
	filter:alpha(opacity=100);
	cursor:move;
	background-color: #fff;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
	text-align: center;
}
.draw-item.active {
	background-color: #888;
	color:white;
}
.draw-item:hover {
	background-color: #5c96bc;
	color:white;
}
._jsPlumb_endpoint {
	z-index: 10;
}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

.draw-item .ep {
	position:absolute;
	bottom: 5px;
	right: 5px;
	width:1.3em;
	height:1.3em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}
.draw-item .ep:hover {
	box-shadow: 0px 0px 6px black;
}

.draw-item .idx {
	position:absolute;
	bottom: 5px;
	left: 5px;
	width:1.3em;
	height:1.3em;
	background-color: #428bca;
	line-height: 1.3em;
	color: #fff;
	font-size: 0.8em;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}
.draw-item .idx:hover {
	box-shadow: 0px 0px 6px black;
}
.draw-item .rm {
	position:absolute;
	top: -8px;
	right: -8px;
	width:1.3em;
	height:1.3em;
	background-color: #ff0000;
	line-height: 1.3em;
	color: #fff;
	font-size: 0.8em;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}
.draw-item .rm:hover {
	box-shadow: 0px 0px 6px black;
}

.statemachine-demo ._jsPlumb_endpoint {
	z-index:3;
}

.dragHover { border:2px solid orange; }

path { cursor:pointer; }