body {
    <!---font-size: 12px;--->
	overflow-x: hidden;
}
.scroller{
	font-size: 12px;
	/*font-family: sans-serif;*/
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
	margin: 0;
}
.new_padd{
	padding: 3px 10px;
}
.menu-bar, .page-title {
    background-color: #f2f2f2;
}
.page-title {
    padding: 10px 20px 5px;
}
.page-title h3 {
    margin: 0;
}
.menu-bar {
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
    min-height: 35px;
    margin-bottom: 0px;
}
.flowchart-menu-content .navbar-nav {
    margin-left: -15px;
}
.menu-bar .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 9px;
}
.navbar-brand {
    padding: 5px;
    height: 36px;
}
.option-bar {
    height: 35px;
    border-bottom: 1px solid #777;
}
.option-bar-area {
    border-right: 1px solid #ddd;
    float: left;
    height: 35px;
    padding-right: 9px;
}
.option-bar-input {
    float: left;
    min-width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 5px 0 0 5px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}
.option-bar-input:hover, .option-bar-input:active {
    background: #eee;
    border: 1px solid #ddd;
}
.option-bar-input.divider {
    background: rgba(0,0,0,0.1);
    float: left;
    height: 35px;
    margin-left: 9px;
    margin-right: 3px;
    width: 1px;
    overflow: hidden;
    min-width: 0px;
    border: 0px;
    line-height: 0px;
    border-radius: 0px;
    margin-top: -0px;
}
.panel {
    border-radius: 0;
    border: 0px;
    margin-bottom: 5px;
}

.panel-title {
    padding: 5px;
    border-bottom: 1px solid #bbb;
    background: #eee;
    font-size: 13px;
}
.panel-body {
    padding: 5px 0 5px;
    overflow-y: scroll;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.toolbox {
    background: #e1e1e1;
    padding: 10px 0 5px;
    border-right: 2px solid #aaa;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 225px;
    z-index: 10;
}
.toolbox-header {
    margin-bottom: 5px;
    border-bottom: 2px solid #aaa;
    padding: 0 5px 5px;
    position: relative;
}
.toolbox-search {
    height: 25px;
    padding-right: 25px;
    padding-left: 7px;
    padding-top: 0;
    padding-bottom: 0;
}
.toolbox-search-icon {
    position: absolute;
    right: 13px;
    top: 1px;
    cursor: pointer;
}
.toolbox-item-container {
    float: left;
    width: 63px;
    height: 80px;
    margin: 5px 0 0 5px;
}
.toolbox-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background: #ddd;
    width: 63px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
    float: left;
    margin: 0 0 5px;
    font-size: 11px;
}
.toolbox-icon {
    background: #428bca;
    border-radius: 100%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
}
.viewport {
	position: absolute;
	top: 112px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.viewport-workspace {
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 225px;
	right: 0;
	bottom: 0;
	overflow: scroll;
}
.viewport-scrollable {
    padding: 0;
	background: url("data:image/gif;base64,R0lGODlhCAAIAJEAALGxsaWlpaqqqgAAACH5BAAAAAAALAAAAAAIAAgAAAINTIRpmQAMozpwQSdTAQA7") repeat scroll 0 0 #aaa;
	
    width: 2620px;
    height: 2920px;
}
.workspace-container {
    background: #fafafa;
    background: url(../img/paper.gif) repeat;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
    /* position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    */
        
    height: 1320px;
    left: 800px;
    overflow: visible;
    position: absolute;
    top: 800px;
    width: 1584px;
}
.workspace {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

/* DETAIL PANEL */
.detail-panel {
	background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    position: absolute;
    right: 54px;
    width: 550px;
    max-height: 100%;
    overflow-x: hidden;
    overlfow-y: scroll;
    z-index: 11;
}
.detail-panel-header {
    background: none repeat scroll 0 0 #e6e6e6;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75) inset;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    line-height: 19px;
    padding: 4px 8px;
    text-transform: uppercase;
}
.detail-control {
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin: -2px 0 0 4px;
    padding: 1px 5px;
    border-radius: 3px;
}
.detail-control:hover {
	background: rgba(0,0,0,0.3);
}
.detail-panel-body {
	position: relative;
	padding: 0 0 10px 0;
}
.detail-panel-tab {
	margin: 5px;
}
.detail-panel-tab .nav-tabs > li > a {
	border-radius: 0px;
	border-color: #777;
	color: #777;
}
.detail-panel-tab .nav-tabs > li:first-child a{
	border-radius: 3px 0 0 3px;
}
.detail-panel-tab .nav-tabs > li:last-child a{
	border-radius: 0 3px 3px 0;
}
.detail-panel-tab .nav-tabs > .active > a, .detail-panel-tab .nav-tabs > .active > a:hover, .detail-panel-tab .nav-tabs > .active > a:focus {	
	background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
    background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
	color: #fff !important;
	border-color: #777;
}
.detail-panel-tab .nav-tabs {
	margin-left: 40px;
	margin-right: 40px;
	width: auto;
}
.detail-panel-tab .nav > li > a {
	padding: 3px;
	margin-right: -1px;
	border-right-color: transparent;
}
.detail-panel-tab .nav > li:last-child > a {
	margin-right: 0px;
	border-right-color: #777;
}
.detail-panel-tab .tab-content {
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom:20px;
}
.detail-panel.collapsed .detail-panel-body {
	display: none;
}

.draw-item .toolbox-icon {
	
}
.detail-question {
	color: #ff0000;
	cursor: pointer;
}
.detail-question:hover {
	color: orange;
}
.popover-title {
	background: #ddd;
}

.display-panel {
	position: absolute;
	top: 0;
	-webkit-transition: translateY(-50%);
	
	border: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    overflow-x: hidden;
    position: absolute;
    right: 17px;
    width: 37px;
    z-index: 11;
    background: #fff;
}
.display-panel-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.display-panel-nav li {
	padding: 8px 0;
	text-align: center;
	color: #333;
}
.display-panel-nav li.active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
	background: #428bca;
}
.display-panel-nav li a {
	color: #333;
}
.display-panel-nav li.active a {
	color: #fff;
}
.detail-panel.index-panel {
	top: 20%;
	max-height: 80%;
	width: 200px;
	overflow-x: hidden;
}
.detail-panel.closed {
	display: none;
}
.index-panel-list {
	list-style: none;
	padding: 5px;
	margin: 0;
	position: relative;
}
.index-panel-list li {
	margin-bottom: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0;
	background: #ddd;
	height: 29px;
	line-height: 29px;
}
.index-panel-id {
	float: left;
	margin-top: -1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 29px;
	width: 30px;
	line-height: 27px;
	margin-right: 10px;
	text-align: center;
	background: #428bca;
	color: #fff;
	border-right: 1px solid #aaa;
}
.index-panel.collapsed .index-panel-list {
	display: none;
}
.btn-save-object {	
	padding: 3px 30px;	
}

.rxt-input-form input.ng-invalid.ng-dirty {
	border-color: #ff0000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.rxt-input-form input.ng-valid.ng-dirty {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-error {
	color: #ff0000;
}

.popover {
    z-index: 2000 !important;
}

.hight-light{border:1px #FF0000 solid !important;}
.content-stage{
	height: 100%;	
	margin-top: -19px;
}

.viewport {
    top: 233px;
}

.toolbox-icon .fa{
	line-height: 40px;
}

.fa{
	line-height: 23px;
}

.wrapper{
	width:98%;
}
.message-anw-err {
    color: #ff0000;
    display: none;
    font-size: 12px;
    padding: 0 20px;
}
.scroller {
    overflow-y: visible;
}
.col-xs-6.ng-scope{min-height:53px;}
.noTitleStuff .ui-dialog-titlebar{display: none;}
#CancelRXDSDialog {
    margin: 0 auto 0 105px;
    text-align: center;
}
#RXDSDialogMainx #LeftMenu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFF, #238acb) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-color: -moz-use-text-color #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
    height: 807px !important;
    left: -17px;
    margin: 0;
    min-height: 765px;
    min-width: 270px;
    padding: 15px;
    position: absolute;
    top: -8px;
    width: 310px !important;
    z-index: 2300;
}
#RXDSDialogMainx #RightStage {
    border: 0 none;
    height: 600px;
    left: 287px;
    margin: 0;
    min-height: 800px;
    min-width: 800px;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 1100px;
}
#RXDSDialogContentHTML {
    position: absolute;
    top: 120px;
}
#SMSAdvancedContentHTML {
    background-color: #fff;
    border: 1px solid #b6b6b6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 15px 10px 10px;
    position: absolute;
    top: 120px;
}
.SubjectRXDSDialog {
    font-size: 12px;
    font-weight: normal;
    left: 95px;
    min-height: 20px;
    min-width: 80px;
    position: absolute;
    top: 85px;
}
#LeftMenu h1 {
    font-size: 218%;
}
.stage-desc {
    background: none repeat scroll 0 0 transparent;
    border: 0px solid #2e6f9a;
    border-radius: 8px;
    cursor: move;
    font-size: 11px;
    opacity: 1;
    padding: 16px;
    position: absolute;
    text-align: center;
    z-index: 99;
    width: 255px;
}
.desc-control{display: none;}
.stage-desc-edit, .stage-desc:hover{
    background-color:#FFFFFF;
    border: 1px solid #2e6f9a;
    box-shadow: 0 1px 7px #333;
    transition: background-color 0.25s ease-in 0s;
}

.stage-desc:hover .desc-control, .stage-desc-edit{display: block;}
.desc-control {
    position: absolute;
    right: 5px;
    top: 2px;
}
.desc-control > span {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.desc-control > span:first-child {}
.desc-control > span:last-child > i {color:#FF0000}
.edit-desc-stage {
    margin-bottom: 2px;
    margin-top: 8px;
    width: 100%;
	max-width: 100%;
}
.controlDescStage{display: none;background: #FFFFFF;z-index: 9999}
.full-popover {
    width: 100px;
}
.field-stage {
    line-height: normal;
    padding: 10px;font-size: 18px;
}
.field-stage label{
    min-width: 120px;font-size: 17px;
}
.field-stage > input {
    display: inline-block;
    margin-left: 20px !important;
}
#myModal .modal-dialog {
    margin: 30px auto;
    width: 510px;
}
.noti-desc{font-size: 12px;font-weight: 700;}
#myModal .modal-footer button{color:#333333;}
.noti-desc div button {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    margin-right: 8px;
}
.noti-desc > div > div {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
}
.ebmproper .popover-content{font-size: 13px;}
.ebmproper .popover-content ul li{display: block;padding-left:10px; }
.save-editXml, .modal-body > textarea{display: none;}
#unclosed-tag-finder-results {
    color: #ff0000;
    display: block !important;
}