<cfset var content	= {} />
<cfset content = DeserializeJSON(arguments.data)>
<cfset content.ROOTURL_HTTP = "https://#CGI.SERVER_NAME#">

<!--- SET DOMAIN FOR CRON --->
<cfif LCase(CGI.SERVER_NAME) EQ 'cron.siremobile.com'>
	<cfset content.ROOTURL_HTTP = 'https://siremobile.com'>	
</cfif>

<cfinvoke component="public.sire.models.cfc.userstools" method="GetUserInfoById" returnvariable="userInfo">
	<cfinvokeargument name="inpUserId" value="#content.USERID#">
</cfinvoke>
<cfset userName = userInfo.USERNAME&' '&userInfo.LASTNAME>

<cfoutput>
	UserId: #content.USERID# <br/>
	UserId: #userName# <br/>
	Downgrade from Plan:  #content.FromPlanName# <br/>
	Current Plan:  #content.toPlanName# <br/>
	Total un-paid keyword : #content._totalkeywordHaveToPaid# <br/>
</cfoutput>