






/**************************************************
SkoolDaze

copyright ReactionX, LLC
**************************************************/

/**************************************************
GLOBAL STYLES
**************************************************/

body { font-family: Verdana, Helvetica, Arial, sans-serif; background: white; margin-top:15px;  margin-left: 15px;  margin-right: 15px;  margin-bottom: 15px}

td {margin: 3; padding: 3;}
TD {margin: 3; padding: 3;}

input#START_DT 
{
 font-size: 12px; 
 font-weight: bold; 
 color:#BBBDC0; 
 width: 90px; 
 margin-right: 6px;
 background-color:#FFFFFF;   
}


input#STOP_DT 
{
 font-size: 12px; 
 font-weight: bold; 
 color:#BBBDC0; 
 width: 90px; 
 margin-right: 6px;
 background-color:#FFFFFF;   
}


textarea#inpTextArea 
{
 font-size: 12px; 
 font-weight:normal; 
 color:#9900FF; 
 margin-right: 6px;  
}

.HourSelectOption { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:#28303B;}
.HourSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}

.textlink {font-size: 10px; font-weight: bold; color:#2384C6; text-decoration:underline; margin-right: 6px; margin-left: 6px;}
.textlink:hover { font-size: 10px; font-weight: bold; color:#00CCFF; margin-right: 6px; margin-left: 6px;}

.buttonstyle {font-size: 8px; font-weight: bold;   color: white;  background-color: #000000; }

.leftnav { font-size: 10px; font-weight: bold; color:#000000; text-decoration:none }
.leftnavheader { font-size: 12px; font-weight: bold; color:#FFFFFF; background-color:#336699 }
.leftnavseparator  { font-size: 12px; font-weight: bold; color:#336699 }

.topnav {  font-family: Comic Sans MS, Verdana, Helvetica, Arial, sans-serif;  font-size: 12px; font-weight: bold; color:#0099CC; text-decoration:none; margin-right: 6px; margin-left: 6px; }
.topnav:hover {  font-family: Comic Sans MS, Verdana, Helvetica, Arial, sans-serif;  font-size: 12px; font-weight: bold; color:#00CCFF; margin-right: 6px; margin-left: 6px; }

.topnavtable { background-color:#336699 }

.systemwarnmed {font-size: 14px; font-weight: bold; color:#FF0000; text-decoration:none}
.systemwarn {font-size: 12px; font-weight: bold; color:#FF0000; text-decoration:none}
.systemwarnsmall {font-size: 12px; font-weight: bold; color:#FF0000; text-decoration:none}
.systeminfo {font-size: 12px; font-weight: bold; color:#FF3333; text-decoration:none}

.FontBold				{font-size: 12px; font-weight: bold; }
.FontTitle				{font-size: 18px; font-weight: bold;  font-style : italic;}
.FontBoldItalic			{font-size: 14px; font-weight: bold; font-style : italic; }
.FontSmaller			{font-size: 12px; font-weight: normal; }
.FontSmallest			{font-size: 10px; font-weight: normal; }
.FontSmallestAlert		{font-size: 10px; font-weight: normal; color: #CC0033; }
.FontTiny					{font-size:  9px; font-weight: bold; }
.FontTinyAlert				{font-size:  9px; font-weight: bold;   color: #CC0033; }
.FontSuccess				{font-size: 12px;                      color: #009900; }
.FontSmallestSuccess		{font-size: 10px;                      color: #009900; }
.FontAlert					{font-size: 12px; font-weight: normal; color: #CC0033; }
.FontColor					{font-size: 12px;                      color: #2384C6; }
.FontColorBold				{font-size: 12px; font-weight: bold;   color: #2384C6; }
.FontColorSmallest		{font-size: 10px;                      color: #2384C6; }	
.FontSmallInverse			{font-size: 12px;                      color: white; }
.LinkSmallInverse			{font-size: 12px;                      color: white; }
.LinkSmallInverseBold	{font-size: 12px; font-weight: bold; }
.LinkSmallInverseAlert	{font-size: 12px; font-weight: bold;   color: #CC0033; }
.ButtonStyle				{font-size: 12px; font-weight: bold;   color: white;    background-color: #A6CE39; }
.ButtonStyleAlert			{font-size: 12px; font-weight: bold;   color: #CC0033; background-color: #2384C6; }
.TDHeaderStyle				{font-size: 12px; font-weight: bold;   color: white;    background-color: #2384C6; }
.TDSubHeaderStyle			{font-size: 12px; font-weight: bold;   color: white;    background-color: #BBBDC0; }
.TDHeaderStyleSmaller	{font-size: 10px; font-weight: bold;   color: white;    background-color: #2384C6; }
.H1Style						{font-size: 18px; font-weight: bold;   color: #CC0033; }
.H3Style						{color: #2384C6; }
.BGColor						{background-color: #7778D5; }

.SubSectionContent			{font-size: 12px; font-weight: normal;                  background-color: #FFF9E7; }
table.rxtableButtonOff	{background-color: #A6CE39; font-family: MS Sans Serif; font-size: 8pt; font-weight: bold; font-color: white; color: white; border: thin outset #C0C0C0; padding: 0px; }
table.rxtableButtonOn	{background-color: #F3F3FA; font-family: MS Sans Serif; font-size: 8pt; font-weight: bold; font-color: black; color: black; border: thin outset #C0C0C0; padding: 0px; }






