


<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css?_=3.18.29" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js?_=3.18.29"></script>



<cftry>


<!--- USe 3d CSS translations on iphone? --->

<!---  Image for lit screen? backlight effect? --->

<!--- 
	
		Stage Items
		
		
		Phone
		Popup bubble with text
		
		Fingers typing?
		
		Animated Text with optional clicking sounds
	
	
	
	
	Open your SMS message app
	
		iPhone - icon
		Android - icon
		
	Select new conversation
	
	
	
	The phone
	Who are you sending the message too?
		Your freinds in your contacts might show up as a name
		Your plumber might be a 10 digit phone number
		In the US business communicate with dedicate short phoen numbers or short codes
		
	What message are you going to send?
		Keywords
		Responses to questions
		AI
		
	Automated responses to common question
	Chat sessions
	
	
	Saved Conversations
	
		
		
		
		
		
		
	
	
	
	
	
--->

	
						

<div class="portlet">
   <div class="row">
       <div class="col-xs-12">


	   		<div id='calendar'></div>

       </div>
   </div>
</div>


<!--- https://fullcalendar.io --->
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css"/> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css"/> 




<!--- Include javascript here for better cf documentation --->
<script type="application/javascript">
	
		

	<!--- On page loaded --->
	$(function() {
		
		 $('#calendar').fullCalendar({
	        // put your options and callbacks here
	    })
	
	
		
		
	});	
	
</script>	




 <cfcatch TYPE="any">
                
	<cfdump var="#cfcatch#" />
                
</cfcatch>

</cftry>     

