<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Test Appointment Confirmation</title>
</head>

<body>

<!---   http://mbdemodev.messagebroadcast.com/ebmresponse/capture/index.cfm?endpoint=%2Fcapture%2Fconfirm 

http://mbdemodev.messagebroadcast.com/ebmresponse/capture/confirm


--->
    

<cfhttp url="http://ebmui.com/ebmresponse/capture/appointments/confirm" method="POST" result="returnStruct" timeout="60">
    <cfhttpparam type="formfield" name="inpBatchIdAppt" value="1284">
    <cfhttpparam type="formfield" name="inpContactStringAppt" value="9494000553">
    <cfhttpparam type="formfield" name="inpContactTypeIdAppt" value="1">
    <cfhttpparam type="formfield" name="inpStart" value="2014-10-06 13:00">
    <cfhttpparam type="formfield" name="inpConfirm" value="1">   
</cfhttp>
                    
    returnStruct<BR />                        
   <cfdump var="#returnStruct#">            
                
  <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
        
    <!--- 
	http://ebmui.com/ebmresponse/capture/index.cfm?endpoint=%2Fappointments%2Fconfirm%2F1284%2F9494000553%2F1%2F2014-10-06%2F1 
	http://ebmui.com/ebmresponse/capture/appointments/confirm/1284/9494000553/1/2014-10-06/3
	
	http://ebmui.com/ebmresponse/capture/index.cfm?endpoint=/appointments/confirm/1284/9494000553/1/2014-10-06/1 
	
	--->
   
<cfhttp url="http://ebmui.com/ebmresponse/capture/index.cfm?endpoint=/appointments/confirm/1284/9494000553/1/2014-10-06 13:00/3" method="POST" result="returnStruct" timeout="60">
   <cfhttpparam type="formfield" name="one" value="1">
</cfhttp>

                    
    returnStruct<BR />                        
   <cfdump var="#returnStruct#">            
                
  <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
        
    
   
   <!--- why does this not work as expected? 
   
<cfhttp url="http://ebmui.com/ebmresponse/capture/appointments/confirm/1284/9494000553/1/2014-10-06 13:00/3" method="POST" result="returnStruct" timeout="60">
   <cfhttpparam type="formfield" name="one" value="1">
</cfhttp>

                    
    returnStruct<BR />                        
   <cfdump var="#returnStruct#">            
                
  <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
        
    
   --->
   
   
   
    
    <!---
<cfhttp url="http://ebmui.com/ebmresponse/sms/response792273/test" method="get" result="returnStruct" timeout="60">
      
</cfhttp>
                    
    returnStruct<BR />                        
   <cfdump var="#returnStruct#">            
                
  <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
    --->
                    
                    
</body>
</html>