<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Test Get MO Response Post</title>
</head>

<body>	

	<cfset PartnerName = "MsgBroadcastMT">
	<cfset PartnerPassword = "Qa3PEwe8">

	
    <cfset Profile = "32258">
    <cfset shortCode = "244687">
    <cfset contactString = "19494000553">
    <cfset inpBatchId = "688">
    <cfset ServiceId = "60021">
    
<cfset MBLOX_PartnerName = "MsgBroadcastMT">
<cfset MBLOX_PartnerPassword = "Qa3PEwe8">
<cfset MBLOX_Profile = "32258">
<cfset MBLOX_PartnerName_With_Carrier = "MsgBroadcastUS">
<cfset MBLOX_PartnerPassword_With_Carrier = "sAF4bane">
<cfset MBLOX_Profile_With_Carrier = "31163">


    
<!---    <cfset ShortCode = "69516">
    <cfset ServiceId = "27701">--->
    
    
    
    <cfset RetValGetResponse = {} />
    <cfset RetValGetResponse.RESPONSE = "Greetings, Do you wish to be as happy as me? Well you've got the power in you right now. So use it. Send $1 to Happy dude.">
    <cfset RetValGetResponse.RESPONSE = "Greetings, Do you wish to be as happy as me? Well you've got the power in you right now. So use it. Send $1 to Happy dude. Greetings, Do you wish to be as happy as me? Well you've got the power in you right now. So use it. Send $1 to Happy dude.">


<!---

 <Subscriber>
                            <SubscriberNumber>#contactString#</SubscriberNumber>
                        </Subscriber>
						
						<Tags>
											<Tag Name=""Program"">xxxx</Tag>
											<Tag Name=""SidTmo"">xxx</Tag>
											<Tag Name=""SidVzW"">xxxx</Tag>
										</Tags>

--->
	<!---<cfoutput>
        <cfxml variable="inpMTRequest">
          <NotificationRequest Version="3.5">
                <NotificationHeader>
                    <PartnerName>#PartnerName#</PartnerName>
                    <PartnerPassword>#PartnerPassword#</PartnerPassword>
                </NotificationHeader>
                <NotificationList BatchID="#inpBatchId#">
                    <Notification SequenceNumber="1" MessageType="SMS" Format="Unicode">
                        <Message>Go Homer</Message>
                        <Profile>#Profile#</Profile>
                        <Udh>Udh</Udh>
                        <SenderID Type="Shortcode">#shortCode#</SenderID>
                        <ExpireDate>MMDDHHmm</ExpireDate>
                        <Operator>xxxxx</Operator>
                        <Tariff>x</Tariff> 
                        <Subscriber>
                            <SubscriberNumber>19494000553</SubscriberNumber>
                        </Subscriber>
                        <Tags>
                            <Tag Name="Program">xxxx</Tag>
                            <Tag Name="SidTmo">xxx</Tag>
                            <Tag Name="SidVzW">xxxx</Tag>
                        </Tags>
                        <ContentType>x</ContentType>
                        <ServiceId>60021</ServiceId>
                    </Notification>
                </NotificationList>
            </NotificationRequest> 
        </cfxml>
    </cfoutput>		
	
	
	
	 <NotificationRequest Version="3.4">
                                    <NotificationHeader>
                                        <PartnerName>#PartnerName#</PartnerName>
                                        <PartnerPassword>#PartnerPassword#</PartnerPassword>
                                    </NotificationHeader>
                                    <NotificationList BatchID="#inpBatchId#">
                                        <Notification SequenceNumber="#SequenceNumber#" MessageType="SMS">
                                            <Message><![CDATA[#LEFT(RetValGetResponse.RESPONSE, 150)#]]></Message>
                                            <Profile>#Profile#</Profile>
                                            <SenderID Type="Shortcode">#shortCode#</SenderID>
                                            <Tariff>0</Tariff>
                                            <Subscriber>
                                                <SubscriberNumber>#contactString#</SubscriberNumber>
                                            </Subscriber>
                                            <ServiceId>60021</ServiceId>
                                        </Notification>
                                    </NotificationList>
                                </NotificationRequest>
								
	
	<![CDATA[#RetValGetResponse.RESPONSE#]]>
	
	
    
    <cfoutput>
        <cfset inpMTRequest = "<NotificationRequest Version=""3.5"">
								<NotificationHeader>
									<PartnerName>#PartnerName#</PartnerName>
									<PartnerPassword>#PartnerPassword#</PartnerPassword>
								</NotificationHeader>
								<NotificationList BatchID=""#inpBatchId#"">
									<Notification SequenceNumber=""1"" MessageType=""SMS"">
										<Message><![CDATA[#RetValGetResponse.RESPONSE#]]></Message>
										<Profile>#Profile#</Profile>
										<SenderID Type=""Shortcode"">#shortCode#</SenderID>
										<Tariff>0</Tariff>
										<Subscriber><SubscriberNumber>19494000553</SubscriberNumber></Subscriber>	
										<ServiceId>60021</ServiceId>																													
									</Notification>
								</NotificationList>
							</NotificationRequest> 
						">                       
	</cfoutput>	
	
	
	--->                
    
    
					<!---
                        05 = (Length of UDH) 5 bytes following -> 00:03:5F:02:01
                        00 = (IEI, Information Element Identifier) indicator for concatenated message
                        03 = (Subheader Length) three bytes following -> 5F:02:01
                        5F = (Reference Number) message identification - can be any hexadecimal number
                        02 = (Number of Pieces) the concatenated message has 2 parts
                        0X = (Max Number of Pieces) the concatenated message current part number
                    --->
 <!---                   
                  	<cfif len(trim(RetValGetResponse.RESPONSE)) GT 0>
                    
                    	<cfif len(trim(RetValGetResponse.RESPONSE)) LTE 160>
                        
							<cfoutput>
                                <cfxml variable="inpMTRequest">                              
                                    <NotificationRequest Version="3.5">
                                        <NotificationHeader>
                                            <PartnerName>#PartnerName#</PartnerName>
                                            <PartnerPassword>#PartnerPassword#</PartnerPassword>
                                        </NotificationHeader>
                                        <NotificationList BatchID="#inpBatchId#">
                                            <Notification SequenceNumber="1" MessageType="SMS">
                                                <Message><![CDATA[#RetValGetResponse.RESPONSE#]]></Message>
                                                <Profile>#Profile#</Profile>
                                                <SenderID Type="Shortcode">#shortCode#</SenderID>
                                                <Tariff>0</Tariff>                                             
                                                <Subscriber>
                                                    <SubscriberNumber>#contactString#</SubscriberNumber>
                                                </Subscriber>      
                                                <ServiceId>#ServiceId#</ServiceId>                                      
                                            </Notification>
                                        </NotificationList>
                                    </NotificationRequest>
                                </cfxml>
                            </cfoutput>		
                            
                            <cfif len(trim(inpMTRequest)) GT 0>
                                                            
                                <cfoutput>#HTMLCodeFormat(inpMTRequest)#<BR /></cfoutput>
                            
                                <!--- It appears the URL is http://xmlX.us.mblox.com:8180/send where X is the major version number of the format --->
                                <cfhttp url="http://xml3.us.mblox.com:8180/send" method="post" resolveurl="no" throwonerror="yes" result="smsreturn">
                                    <cfhttpparam type="XML" name="XMLDoc" value="#inpMTRequest#">	
                                </cfhttp>   
                                
                            </cfif>
                                
                        
                        <cfelse> 
                    
							<!--- MaxPerMessage --->
                            <cfset MaxPerMessage = 153>	
                            
                            <cfset NumberofPieces = LSNUMBERFORMAT(Ceiling((len(trim(RetValGetResponse.RESPONSE))/#MaxPerMessage#)), "00" )>
                            <cfset CurrPiece = 0>
                            
                            <!--- Loop messages 160 characters at a time.--->
                            <cfloop index="CurrMess" from="1" to="#Len( RetValGetResponse.RESPONSE )#" step="#MaxPerMessage#">					
                                                                        
                                <cfset CurrPiece = LSNUMBERFORMAT((CurrPiece + 1), "00")>                    
                        
                                <cfset strBuff = Mid( RetValGetResponse.RESPONSE, CurrMess, #MaxPerMessage# ) />
                                      
                                <cfoutput>
                                    <cfxml variable="inpMTRequest">                              
                                        <NotificationRequest Version="3.5">
                                            <NotificationHeader>
                                                <PartnerName>#PartnerName#</PartnerName>
                                                <PartnerPassword>#PartnerPassword#</PartnerPassword>
                                            </NotificationHeader>
                                            <NotificationList BatchID="#inpBatchId#">
                                                <Notification SequenceNumber="1" MessageType="SMS">
                                                    <Message><![CDATA[#strBuff#]]></Message>
                                                    <Profile>#Profile#</Profile>
                                                    <Udh>:05:00:03:5F:#NumberofPieces#:#CurrPiece#</Udh>
                                                    <SenderID Type="Shortcode">#shortCode#</SenderID>
                                                    <Tariff>0</Tariff>                                             
                                                    <Subscriber>
                                                        <SubscriberNumber>#contactString#</SubscriberNumber>
                                                    </Subscriber>      
                                                    <ServiceId>#ServiceId#</ServiceId>                                      
                                                </Notification>
                                            </NotificationList>
                                        </NotificationRequest>
                                    </cfxml>
                                </cfoutput>		
                                
                                <cfif len(trim(inpMTRequest)) GT 0>
                                
                                    <cfoutput><BR />#strBuff#<BR /></cfoutput>
                                    <cfoutput>#HTMLCodeFormat(inpMTRequest)#<BR /></cfoutput>
                                
                                    <!--- It appears the URL is http://xmlX.us.mblox.com:8180/send where X is the major version number of the format --->
                                    <cfhttp url="http://xml3.us.mblox.com:8180/send" method="post" resolveurl="no" throwonerror="yes" result="smsreturn">
                                        <cfhttpparam type="XML" name="XMLDoc" value="#inpMTRequest#">	
                                    </cfhttp>   
                                    
                                </cfif>
                                
                            </cfloop>                                
						
                        </cfif>
                                                
                    </cfif>
                    
                        
                      
                        
                     
                        
         returnStruct<BR />                        
    <cfdump var="#smsreturn#">              
    <cfabort>--->
    
   <!---  <cfset inpXMLData = "12345678<?xml version=""1.0"" encoding=""ISO-8859-1"" standalone=""yes""?> 
			<ResponseService Version=""2.3"">
			<Header>
				<Partner>UserName</Partner>
				<Password>Password</Password>
				<ServiceID>1</ServiceID>
			</Header>
		    <ResponseList>
				<Response SequenceNumber=""1"" Type=""SMS"" Format=""Text""> 
					<TransactionID>215980</TransactionID> 
					<OriginatingNumber>447900000000</OriginatingNumber> 
					<Time>200412181427</Time>
					<Data>This is an MO message.</Data> 
					<Deliverer>1</Deliverer> 
					<Destination>12345</Destination> 
					<Operator>99999</Operator> 
					<Tariff>150</Tariff> 
					<SessionId>SessionID</SessionId> 
					<Tags>
						<Tag Name='Number'>12</Tag>
						<Tag Name='City'>Rome</Tag> 
					</Tags>				
				</Response>
			</ResponseList>
</ResponseService>"
    >--->
    
    
    <cfset inpXMLData = "12345678<?xml version=""1.0"" encoding=""ISO-8859-1""?> <NotificationService Version=""2.3"">
<Header> <Partner>UserName</Partner> <Password>Password</Password> <ServiceID>1</ServiceID>
</Header>
<NotificationList>
<Notification BatchID=""1"" SequenceNumber=""1"">
	<Subscriber> 
		<SubscriberNumber>447900000000</SubscriberNumber> 
		<Status>Delivered</Status> 
		<TimeStamp>200412181548</TimeStamp> 
		<MsgReference>111040222919362</MsgReference> 
		<Reason>4</Reason>
<Tags>
<Tag Name=""Tag-RejectCode"">13</Tag>
<Tag Name=""Tag-RejectReason"">You cannot send using this</Tag>
<Tag Name=""TagSessionID"">CGlOzkboqyMAAAQAARTQpkyxN3d8v6PB7P4:3d</Tag>
</Tags> </Subscriber>
</Notification> </NotificationList>
</NotificationService>"
    >
    
    <!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function--->
 	<cfhttp url="http://ebmdevii.messagebroadcast.com/ebmresponse/sms/NotificationServices62569/mtstatus" method="POST" result="returnStruct" >
        
	    <!--- By default EBM API will return json or XML --->
	    <!---<cfhttpparam name="Accept" type="header" value="application/json" />--->
    	<!---<cfhttpparam type="formfield" name="INPBATCHID" value="97" />--->
        
        <!---<cfhttpparam type="formfield" name="XMLDATA" value="#inpXMLData#">--->
        <cfhttpparam type="formfield" name="XMLDATA" value="#inpXMLData#">
        
        <!---<cfhttpparam type="XML" name="XMLDATA" value="#inpXMLData#">	--->
        <!--- <cfhttpparam type="formfield" name="XMLDATA" value="#inpXMLData#">	--->
        <!---<cfhttpparam type="CGI" encoded="false" name="Content_Type" value="application/json; charset=utf-8">--->
        <!--- <cfhttpparam type="CGI" encoded="false" name="Content_Type" value="text/html; charset=utf-8">--->
        <!---<cfhttpparam type="CGI" encoded="false" name="Content_Type" value="application/xml; charset=utf-8">--->
  	    <!---<cfhttpparam type="CGI" encoded="false" name="Content_Type" value="application/x-www-form-urlenco--->ded;">
                 
    </cfhttp>
    
    returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
 
</body>
</html>