<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Get RealTime</title>
</head>

<body>


<cfparam name="inpValue" default="47393" />

<cfset Session.DBSourceEBM = "BishopDev" />

<cfset tickBegin = GetTickCount() />

<cfinvoke component="session.cfc.distribution" method="GetNextRealTimeFulfillmentDevice" returnvariable="local.RetValGetRT" >
    <cfinvokeargument name="INPBALANCEVALUE" value="#inpValue#">  
    <cfinvokeargument name="INPCONTACTTYPELIST" value="1">
</cfinvoke>  
                   
             
<cfoutput>

	Time = #GetTickCount()-tickBegin# 
    <BR />
    
	<cfdump var="#local.RetValGetRT#" />


                   



<form action=""  >

	<input type="text" name="inpValue" id ="inpValue" value="#inpValue#" /> 
    
    <BR />
    
    <input type="submit" /> 

</form>

</cfoutput> 

</body>
</html>