
<cfset TestId = "114013807" />

<cfoutput>
 	<!--- Read from MO Inbound queue--->
    <cfquery name="ProcessSMSQueue" datasource="Bishop">
        SELECT
	        moInboundQueueId_bi,
            ContactString_vch,
            CarrierId_vch,
            ShortCode_vch,
            Keyword_vch,
            TransactionId_vch,
            Time_dt,
            Created_dt,
            Status_ti,
            CustomServiceId1_vch,
            RawData_vch,
            QuestionTimeOutQID_int
        FROM
            simplequeue.moinboundqueue 
        WHERE
            Status_ti = 1		
        AND
        	moInboundQueueId_bi = #TestId# 
    </cfquery>


 	<!--- Call Webservice to fulfill -- ebmmo.ebm.internal --->
    <cfhttp url="http://ebmui.com/ebmresponse/sms/ebmqueue/it" method="POST" result="returnStruct" timeout="60">
        <cfhttpparam type="formfield" name="inpCarrierId" value="#ProcessSMSQueue.CarrierId_vch#">
        <cfhttpparam type="formfield" name="inpmoInboundQueueId" value="#ProcessSMSQueue.moInboundQueueId_bi#">
        <cfhttpparam type="formfield" name="inpContactString" value="#ProcessSMSQueue.ContactString_vch#">
        <cfhttpparam type="formfield" name="inpShortCode" value="#ProcessSMSQueue.ShortCode_vch#">
        <cfhttpparam type="formfield" name="inpKeyword" value="#ProcessSMSQueue.Keyword_vch#">
        <cfhttpparam type="formfield" name="inpTransactionId" value="#ProcessSMSQueue.TransactionId_vch#">
        <cfhttpparam type="formfield" name="inpTime" value="#ProcessSMSQueue.Time_dt#">
        <cfhttpparam type="formfield" name="inpCustomServiceId1" value="#ProcessSMSQueue.CustomServiceId1_vch#">
        <cfhttpparam type="formfield" name="inpRawData" value="#ProcessSMSQueue.RawData_vch#">
        <cfhttpparam type="formfield" name="inpQuestionTimeOutQID" value="#ProcessSMSQueue.QuestionTimeOutQID_int#">
        <cfhttpparam type="formfield" name="inpPreferredAggregator" value="">
        <cfhttpparam type="formfield" name="inpQAMode" value="0">                        
    </cfhttp>




 	returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
	
    Filecontent<BR />      
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>

</cfoutput>
















