<cfset ATT_PartnerName = "Legacy" />
<cfset ATT_PartnerPassword = "Legacy" />

<cfset inpContactString = "9494000553" >
<cfset inpShortCode = "4892">
<cfset RetValGetResponse = StructNew() />
<cfset RetValGetResponse.RESPONSE = "SMPP AT&T SMS Test Message" />

<cfset SendSMPPJSON = StructNew() />
<cfset SendSMPPJSON.shortMessage = "" />
<cfset SendSMPPJSON.sourceAddress = "" />
<cfset SendSMPPJSON.destAddress = "" />
<cfset SendSMPPJSON.registeredDelivery = "" />
<cfset SendSMPPJSON.ApplicationRequestId = "" />
<cfset SendSMPPJSON.SarMsgRefNum = "0" /> 
<cfset SendSMPPJSON.SarTotalSegments = "0" /> 
<cfset SendSMPPJSON.SarSegmentSeqnum = "1" />      
   
<cfset SendSMPPJSON.shortMessage = "#RetValGetResponse.RESPONSE#" />
<cfset SendSMPPJSON.sourceAddress = "#inpShortCode#" />
<cfset SendSMPPJSON.destAddress = "#inpContactString#" />
<cfset SendSMPPJSON.registeredDelivery = "1" />
<cfset SendSMPPJSON.ApplicationRequestId = "#999999999#" />
<cfset SendSMPPJSON.PreferredBind = "" /> 
            
    
<!--- Track each requests processing tiume to watch for errors on remote end --->
<cfset intHTTPStartTime = GetTickCount() />  
	
<!--- It appears the URL is http://xmlX.us.mblox.com:8180/send where X is the major version number of the format --->
<!--- OLD DNS for outbound - pre LB - http://spx03.mbdt01.com/prod/serviceforwardrequest.cfm--->
<!---Load Balanced to http://spx03.ebm.internal/prod/serviceforwardrequest.cfm as of 2014-09-18 - verify DNS before implementing --->
<!---<cfhttp url="http://10.18.1.44:8083/smpp/sendsmpp.cfm" method="post" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="35">--->
<cfhttp url="http://txattsmpp.ebm.internal/sendsmpp.cfm" method="post" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="35">
	<cfhttpparam type="header" name="content-type" value="application/json" />
    <cfhttpparam type="body" value="#SerializeJSON(SendSMPPJSON)#" />                        
</cfhttp>  

<cfset intHTTPTotalTime = (GetTickCount() - intHTTPStartTime) /> 
            
<BR />
<cfdump var="#intHTTPTotalTime#" />      
<BR />
<cfdump var="#smsreturn#" />   
<BR />
<cfdump var="#smsreturn.fileContent#" />  

         
         
         <!---
<cfset JSONDATA = '{"GATEWAYTYPE":"SMS","ORIGINATORID":9494000553,"CFCMETHOD":"onIncomingMessage","DATA":{"destAddress":4892,"MESSAGE":"id:\/tABc9HM sub:001 dlvrd:001 submit date:1501261352 done date:1501261352 stat:DELIVRD err:000 text:EBM to SMPP AT&T SMS","sourceAddress":9494000553,"priority":0,"messageLength":120,"protocol":0,"registeredDelivery":0,"dataCoding":0,"esmClass":4},"CFCPATH":"C:\\Websites\\smpp\\MO.cfc","GATEWAYID":"ATT-SMPP-209.183.36.100-RX4"}' />

<cfset DataStruct = DeSerializeJSON(JSONDATA) />


<BR />
<cfdump var="#JSONDATA#" /> 
<BR />
<cfdump var="#DataStruct#" /> 



<cfset MessageArray = ListToArray(DataStruct.DATA.MESSAGE, ":")/>
<BR />
<cfdump var="#MessageArray#" /> 


<cfset UIDLocation = ListFindNoCase(DataStruct.DATA.MESSAGE, "id", ":") />
<BR />
<cfdump var="#UIDLocation#" /> 

<cfif UIDLocation GT 0 AND ArrayLen(MessageArray) GT UIDLocation+1>
	<cfset UIDBuff = ListToArray(MessageArray[UIDLocation+1], " ") />

	<cfset UID = UIDBuff[1] />

	<BR />
	<cfdump var="#UID#" /> 

</cfif>


<cfset statLocation = ListFindNoCase(DataStruct.DATA.MESSAGE, "stat", ":") />
<BR />
<cfdump var="#statLocation#" /> 

<cfif statLocation GT 0 AND ArrayLen(MessageArray) GT statLocation+1>
	<cfset statBuff = ListToArray(MessageArray[statLocation+1], " ") />

	<cfset stat = statBuff[1] />

	<BR />
	<cfdump var="#stat#" /> 

</cfif>


<cfset StatusId = 0 />
<cfset StatusText  = "QQQ" />



<!--- Parse for SMPP stat --->
			    <cfif ArrayLen(MessageArray) GT 5>
                    <cfset statBuff = ListToArray(MessageArray[7], " ") />
                    <cfset StatusText  = statBuff[1] />
                    
                </cfif>

				<cfswitch expression="#StatusText#">
                
                	<cfcase value="DELIVRD">
                    	<cfset StatusId = 1 />
                    </cfcase>
                    
                    <cfcase value="ACCEPTD">
                    	<cfset StatusId = 2 />
                    </cfcase>
                    
                    <cfcase value="EXPIRED">
                    	<cfset StatusId = 3 />
                    </cfcase>
                    
                    <cfcase value="DELETED">
                    	<cfset StatusId = 4 />
                    </cfcase>
                    
                    <cfcase value="UNDELIV">
                    	<cfset StatusId = 5 />
                    </cfcase>
                    
                    <cfcase value="UNKNOWN">
                    	<cfset StatusId = 6 />
                    </cfcase>
                    
                    <cfcase value="REJECTD">
                    	<cfset StatusId = 7 />
                    </cfcase>
                    
                    <cfdefaultcase>
	                    <cfset StatusId = 0 />
                    </cfdefaultcase>
                    
               </cfswitch>
                    
                    
                    
                    
<BR />
<cfdump var="#StatusId#" />                  
                    
      
                          
<BR />
<cfdump var="#StatusText#" />  




<cfset MessageArray = ListToArray(DataStruct.DATA.MESSAGE, " ")/>
<BR />
<cfdump var="#MessageArray#" /> 

--->
              

         
         