<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Push Audio</title>
</head>

<body>


<cfparam name="inpUserId" default="0" />
<cfparam name="INPLIBID" default="1" />
<cfparam name="INPELEID" default="-1" />
<cfparam name="INPDATAID" default="-1" />
<cfparam name="INPDIALERIPADDR" default="10.11.0.161" />
<cfparam name="inpForceUpdate" default="0" />
<cfparam name="VerboseDebug" default="1" />


<cfset Session.DBSourceEBM = "BishopDev" />

<cfset tickBegin = GetTickCount() />

<!---<cfinvoke component="session.cfc.publishaudio" method="ValidateRemoteScriptLibrary" returnvariable="local.RetValPushAudio" >
    <cfinvokeargument name="inpUserId" value="#inpUserId#">  
    <cfinvokeargument name="INPLIBID" value="#INPLIBID#">  
    <cfinvokeargument name="INPDIALERIPADDR" value="#INPDIALERIPADDR#">  
    <cfinvokeargument name="inpForceUpdate" value="#inpForceUpdate#">  
</cfinvoke>  --->

<cfif inpUserId GT 0>

    <cfinvoke component="session.cfc.publishaudio" method="PushAudioLibrary" returnvariable="local.RetValPushAudio" >
        <cfinvokeargument name="inpUserId" value="#inpUserId#">  
        <cfinvokeargument name="INPLIBID" value="#INPLIBID#">  
        <cfinvokeargument name="INPELEID" value="#INPELEID#">  
        <cfinvokeargument name="INPDATAID" value="#INPDATAID#">  
        <cfinvokeargument name="INPDIALERIPADDR" value="#INPDIALERIPADDR#">  
        <cfinvokeargument name="inpForceUpdate" value="#inpForceUpdate#">  
        <cfinvokeargument name="VerboseDebug" value="#VerboseDebug#">  
    </cfinvoke>  
    
    <cfdump var="#local.RetValPushAudio#" />


    <BR />
    <BR />
    <BR />
                   
</cfif>

             
<cfoutput>

	Time = #GetTickCount()-tickBegin# 
    <BR />
    
	


<form action=""  >

	inpUserId
    <BR />
	<input type="text" name="inpUserId" id ="inpUserId" value="#inpUserId#" /> 
    
    <BR />
    INPLIBID
    <BR />
    <input type="text" name="INPLIBID" id ="INPLIBID" value="#INPLIBID#" /> 
    
    <BR />
    INPELEID
    <BR />
    <input type="text" name="INPELEID" id ="INPELEID" value="#INPELEID#" /> 
    
    <BR />
    INPDATAID
    <BR />
    <input type="text" name="INPDATAID" id ="INPDATAID" value="#INPDATAID#" /> 
    
    <BR />
    INPDIALERIPADDR
    <BR />
    <input type="text" name="INPDIALERIPADDR" id ="INPDIALERIPADDR" value="#INPDIALERIPADDR#" /> 
    
    <BR />
    inpForceUpdate
    <BR />
    <input type="text" name="inpForceUpdate" id ="inpForceUpdate" value="#inpForceUpdate#" /> 
    
    <BR />
    VerboseDebug
    <BR />
    <input type="text" name="VerboseDebug" id ="VerboseDebug" value="#VerboseDebug#" /> 
    
    <BR />
       
    
    <input type="submit" /> 

</form>

</cfoutput> 

</body>
</html>