
<cfset INPBATCHID = "999" />
<cfset inpUserId = "0" />
<cfset inpCPID = "0" />
<cfset inpPID = "0" />
<cfset inpIREType = "" />
<cfset inpIRESessionId = "" />
<cfset inpMasterRXCallDetailId = "" />
<cfset inpmoInboundQueueId_bi = "" />
<cfset inpResponse = "QA" />
<cfset inpContactString = "9999999999" />
<cfset inpShortCode = "244687" />

 <!--- Read from DB Batch Options --->
            <cfquery name="AddResponseString" datasource="bishop" result="AddResponseStringResult">
                INSERT INTO
                	simplexresults.ireresults
                    (
                        BatchId_bi,
                        UserId_int,
                    	CPId_int,
                        QID_int,
                        IREType_int,
                        IRESessionId_bi,
                        MasterRXCallDetailId_bi,
                        moInboundQueueId_bi,
                        Response_vch,
                        ContactString_vch,
                        ShortCode_vch,
                        Created_dt
                    )
                VALUES
                    (
                    	<CFQUERYPARAM CFSQLTYPE="CF_SQL_BIGINT" VALUE="#INPBATCHID#">,
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpUserId#">,
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpCPID#">,
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpPID#">,                  
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpIREType#" null="#not(len(inpIREType))#">,      
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_BIGINT" VALUE="#inpIRESessionId#" null="#not(len(inpIRESessionId))#">,                  
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_BIGINT" VALUE="#inpMasterRXCallDetailId#" null="#not(len(inpMasterRXCallDetailId))#">,
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_BIGINT" VALUE="#inpmoInboundQueueId_bi#" null="#not(len(inpmoInboundQueueId_bi))#">,                        
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(inpResponse,1000)#">,
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(TRIM(inpContactString),255)#">, 
                        <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(TRIM(inpShortCode),45)#">, 
                        NOW()
                    )                    
            </cfquery>
            
            
            

<!---
    <cfhttp url="http://ebmdevii.messagebroadcast.com/public/samples/ebmapi.cfm" method="POST" resolveurl="no" throwonerror="no" redirect="yes" result="RetVarAPIRequest" port="80" timeout="20">
              
           <!---     <cfhttpparam type="header" name="Content-Type" value="text/html" />  --->  							
           <!---    	<cfhttpparam type="body" value="testing body...."> --->
                
                 <cfhttpparam type="XML" name="XMLDoc" value="<xml val=1/>">
                 
                  
    </cfhttp>              
    
    <cfoutput>
		<cfdump var="#RetVarAPIRequest#" />
    
    </cfoutput>
	--->