<!---
 <a id="rc-038f546f26" class="raffelcoper" src="http://"
	 <script src="//widget.raffelcopter.com/load.js' />
--->


<!--- , "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"    ^&*(){}[];':<>,.?/`~     ":" | "@" | "&" | "=" | "+" | "$" | ","--->


<!--- 

 "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!%^*(){}[]':<>.?/`~"
	
	
	var hashids = new Hashids('my salt', 1, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890');
var input = 4294965286;
var hex = input.toString(16); // 8 characters: fffff826
var hashid = hashids.encode(input); // 7 characters: 0LzaR1Y
var base64 = window.btoa(input).replace(/=+/, ''); // 14 characters: NDI5NDk2NTI4Ng
	
	 --->


<div style="min-height: 200px; background-color: aqua;">TOP</div>	 

<div style="text-align: right; margin-right: 3em;">
	 <script src="https://dev.siremobile.com/mlp-x/lz/js/loadmlp.js" data-mlp-id="bdkibh" data-mlp-h="200px" data-mlp-w="200px"></script>  
<!--- 	<script src="https://dev.siremobile.com/mlp-x/lz/js/loadmlp.min.js" data-mlp-id="bdkibh" data-mlp-h="200px" data-mlp-w="200px" ></script> --->
</div>

<div style="text-align: right; margin-right: 3em;">
	 <script src="https://mlp-x.com/lz/js/loadmlp.min.js" data-mlp-id="h97r14" data-mlp-h="300px" data-mlp-w="200px" ></script> 
<!--- 	<script src="https://dev.siremobile.com/mlp-x/lz/js/loadmlp.min.js" data-mlp-id="bdkibh" data-mlp-h="200px" data-mlp-w="200px" ></script> --->
</div>

<div style="min-height: 200px; background-color: aqua;">Bottom</div>	






<cftry>



<cfscript>

	hashids = new session.sire.models.cfc.Hashids('Brass Monkey', 1, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!##%_-*');
	
	phone = [];
	phone[1] = 9494000553
	id = hashids.encode(phone);
	
	numbers = hashids.decode(id, hashids.getAlphabet());

</cfscript>


<cfoutput>

phone[1] = #phone[1]#
<br/>
id=#id#
<br/>
<cfdump var=#numbers# />

numbers=#numbers[1]#
<br/>

</cfoutput>





<cfscript>
//	hashids = new session.sire.models.cfc.Hashids("", 6, "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!%^*(){}[]':<>.?/`~");
	
//	phone = [];
// 	x = formatBaseN(9494000553, 16):
//	id = hashids.encode(hexed);
	
	
</cfscript>




<!---
	
	
<cfoutput>

phone[1] = #phone[1]#
<br/>
id2=#id#
<br/>

</cfoutput>
--->


	



 <cfcatch TYPE="any">
                
	<cfdump var="#cfcatch#" />
                
</cfcatch>

</cftry>     

