<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Test Send Twilio</title>
</head>

<body>


<!--- 
	
	<cfset TwilioUserName = "AC321118d53df23eacf8d5957b0d3b87d3" />
	<cfset TwilioPassword = "c959ee4f51022762621e94cbc9983662" />
	
	
	
AC321118d53df23eacf8d5957b0d3b87d3
c959ee4f51022762621e94cbc9983662


<cfset TwilioUserName = "SKa69a6fdc6caf8f64d1b8b2af2d452fbe" />
<cfset TwilioPassword = "XNxWQlvxxyksWyHjtj1TZhfTOdkRqsPI" />
	
--->
	
	<cfset TwilioUserName = "AC321118d53df23eacf8d5957b0d3b87d3" />
	<cfset TwilioPassword = "c959ee4f51022762621e94cbc9983662" />
	<cfset TwilioKeys = TwilioUserName & ':' & TwilioPassword />
	<cfset TwilioKeysBase64 = ToBase64(TwilioKeys)/>
	<cfset Authorization = "Basic #ToBase64( TwilioUserName & ':' & TwilioPassword)#"/>
		
	<cfdump var="#TwilioKeys#" />
	<cfdump var="#TwilioKeysBase64#" />
	<cfdump var="#Authorization#" />
       
    <!--- 
	   https://www.twilio.com/docs/api/rest/sending-messages
	    
	--->
    
    <!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function--->
 	<cfhttp url="https://api.twilio.com/2010-04-01/Accounts/#TwilioUserName#/Messages" method="POST" result="returnStruct" >
	
	    <!--- By default EBM API will return json or XML --->
	    <cfhttpparam name="Accept" type="header" value="application/json" />    	
	    <cfhttpparam type="header" name="Authorization" value="Basic #ToBase64( TwilioUserName & ':' & TwilioPassword)#" />

		<cfhttpparam type="formfield" name="From" value="+19494080493" />
		<cfhttpparam type="formfield" name="To" value="+19494000553" />
		<cfhttpparam type="formfield" name="Body" value="Hello Sire POST Testing" />
	                
    </cfhttp>
    
    returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
    
       
    	

 
</body>
</html>