

<cfset session.userid = 522 />
<cfset inpFormDataJSON = '{"inpTest":"$350"}' />

<cftry>

<!---
	 <cfinvoke component="session.sire.models.cfc.control-point" method="LoadQueueSMSDynamic" returnvariable="RetValLoadQueueSMSDynamic">
	    <cfinvokeargument name="inpBatchId" value="164471">
	    <cfinvokeargument name="inpContactString" value="9494000553">
	<!---     <cfinvokeargument name="inpShortCode" value="39492"> --->
	    <cfinvokeargument name="inpGroupId" value="196">
	    <cfinvokeargument name="inpTimeZone" value="31">
	    <cfinvokeargument name="inpCarrier" value="0">
	    <cfinvokeargument name="inpAPIRequestJSON" value="#inpFormDataJSON#">
	
	</cfinvoke>
--->

	<cfset inpBatchId = "164471" />
	<cfset inpSourceBatchId = "164471" />
	<cfset inpGroupId = "196" />
	<cfset inpShortCode = "" />
	<cfset inpClone = "1" />
	
	
	<cfset inpSchedule = '{"ENDHOUR_TI":"22"}' />
		
	    <cfinvoke component="session.sire.models.cfc.control-point" method="LoadQueueSMSDynamic" returnvariable="RetVarNewBlastToList">
	    <cfinvokeargument name="inpBatchId" value="164471">
	    <cfinvokeargument name="inpContactString" value="9494000553">
	    <cfinvokeargument name="inpGroupId" value="196">
	    <cfinvokeargument name="inpCarrier" value="0">
	    <cfinvokeargument name="inpAPIRequestJSON" value="#inpFormDataJSON#">
	
	</cfinvoke>
	
	
<!---
	
	
	<cfinvokeargument name="inpTimeZone" value="28">
	
	 <cfinvoke component="session.sire.models.cfc.control-point" method="LoadQueueSMSDynamic" returnvariable="RetValLoadQueueSMSDynamic">
	    <cfinvokeargument name="inpBatchId" value="164471">
	    <cfinvokeargument name="inpContactString" value="9494000553">
	<!---     <cfinvokeargument name="inpShortCode" value="39492"> --->
	    <cfinvokeargument name="inpGroupId" value="196">
	    <cfinvokeargument name="inpTimeZone" value="31">
	    <cfinvokeargument name="inpCarrier" value="0">
	    <cfinvokeargument name="inpAPIRequestJSON" value="#inpFormDataJSON#">
	
	</cfinvoke>
	
	
	
 	<cfinvoke method="BlastToList" component="session.sire.models.cfc.control-point" returnvariable="RetVarNewBlastToList">
		<cfinvokeargument name="inpBatchId" value="#inpBatchId#">
		<cfinvokeargument name="inpGroupId" value="#inpGroupId#">
		<cfinvokeargument name="inpClone" value="#inpClone#">
		<cfinvokeargument name="inpShortCode" value="#inpShortCode#">
		<cfinvokeargument name="inpSkipDNCCheck" value="0">
		<cfinvokeargument name="inpScheduledTimeData" value=""/>
		<cfinvokeargument name="inpSchedule" value="#inpSchedule#"/>
		<cfinvokeargument name="inpCDFFilter" value=""/>
		<cfinvokeargument name="inpContactFilter" value=""/>	
		<cfinvokeargument name="inpAPIRequestJSON" value="#inpFormDataJSON#">					
	</cfinvoke> 
				
--->

<cfdump var="#RetVarNewBlastToList#" />



 <cfcatch TYPE="any">
                
	<cfdump var="#cfcatch#" />
                
</cfcatch>

</cftry>     


