<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Test Add To Queue</title>
</head>

<body>	<DM BS='0' DSUID='237' Desc='Description Not Specified' LIB='0' MT='1' PT='12'><ELE ID='0'>0</ELE></DM><DM BS='0' DESC='Description Not Specified' DSUID='237' LIB='0' MT='3' PT='12' X='140' Y='70'><ELE BS='0' CK1='0' CK10='' CK11='' CK12='' CK13='' CK14='' CK15='-1' CK16='' CK17='' CK2='' CK3='' CK4='&lt;p>Yo!!!!!!&lt;/p>' CK5='NoReply@MBCampaign.com' CK6='' CK7='' CK8='Test Email' CK9='' DESC='Description Not Specified' DSUID='237' LINK='0' QID='1' RXT='13' X='0' Y='0'>0</ELE></DM><RULES/><CCD CID='9999999999' ESI='-15'>0</CCD>
								
				
				<DM LIB='0' MT='1' PT='13' EMPT='Static'><ELE ID='0'>0</ELE></DM><RXSS><ELE QID='1' RXT='13' BS='0' DS='0' DSE='0' DI='0' CK1='0' CK2='WARNING - Unable to find editor for any of the enclose MIME types' CK4='&lt;p&gt;Yo!!!!!!&lt;/p&gt;' CK5='NoReply@MBCampaign.com' CK8='Test Email' CK10='rxdialer@messagebroadcast.com' CK11='L9v8kKrN' CK13='smtp.sendgrid.net' CK14='REPLACETHISUUID' CK15='-1' CK16='X-SMTPAPI|{&quot;category&quot;:&quot;767&quot;, &quot;unique_args&quot;: { &quot;UUID&quot;:&quot;REPLACETHISUUID&quot; } }' CK17='mbroadcast' CK19='587' CK20='1' CK21='0'>0</ELE></RXSS><CCD FileSeq='1' UserSpecData='0' CID='9999999999' DRD='1' RMin='1' PTL='1' PTM='1' ESI='-15'>0</CCD>
				
				
				<DM LIB='0' MT='1' PT='13' EMPT='Static'><ELE ID='0'>0</ELE></DM><RXSS><ELE QID='1' RXT='13' BS='0' DS='0' DSE='0' DI='0' CK1='0' CK2='WARNING - Unable to find editor for any of the enclose MIME types' CK4='&lt;p&gt;Yo!!!!!!&lt;/p&gt;' CK5='NoReply@MBCampaign.com' CK8='Test Email' CK10='rxdialer@messagebroadcast.com' CK11='L9v8kKrN' CK13='smtp.sendgrid.net' CK14='ab000c23-248b-11e3-9c51-005056b7727d' CK15='-1' CK16='X-SMTPAPI|{&quot;category&quot;:&quot;767&quot;, &quot;unique_args&quot;: { &quot;UUID&quot;:&quot;ab000c23-248b-11e3-9c51-005056b7727d&quot; } }' CK17='mbroadcast' CK19='587' CK20='1' CK21='0'>0</ELE></RXSS><CCD FileSeq='1' UserSpecData='0' CID='9999999999' DRD='1' RMin='1' PTL='1' PTM='1' ESI='-15'>0</CCD><DM LIB='0' MT='1' PT='13' EMPT='Static'><ELE ID='0'>0</ELE></DM><RXSS><ELE QID='1' RXT='13' BS='0' DS='0' DSE='0' DI='0' CK1='0' CK2='WARNING - Unable to find editor for any of the enclose MIME types' CK4='&lt;p&gt;Yo!!!!!!&lt;/p&gt;' CK5='NoReply@MBCampaign.com' CK8='Test Email' CK10='rxdialer@messagebroadcast.com' CK11='L9v8kKrN' CK13='smtp.sendgrid.net' CK14='ab000c23-248b-11e3-9c51-005056b7727d' CK15='-1' CK16='X-SMTPAPI|{&quot;category&quot;:&quot;767&quot;, &quot;unique_args&quot;: { &quot;UUID&quot;:&quot;ab000c23-248b-11e3-9c51-005056b7727d&quot; } }' CK17='mbroadcast' CK19='587' CK20='1' CK21='0'>0</ELE></RXSS><CCD FileSeq='1' UserSpecData='0' CID='9999999999' DRD='1' RMin='1' PTL='1' PTM='1' ESI='-15'>0</CCD>
				
				<Q ID='1'>Mail Sent OK!</Q>
								
				

	<!--- generate signature string --->
	<cffunction name="generateSignature" returnformat="json" access="remote" output="false">
		<cfargument name="method" required="true" type="string" default="GET" hint="Method" />
                 
		<cfset dateTimeString = GetHTTPTimeString(Now())>
		<!--- Create a canonical string to send --->
		<cfset cs = "#arguments.method#\n\n\n#dateTimeString#\n\n\n">
		<cfset signature = createSignature(cs,variables.secretKey)>
		
		<cfset retval.SIGNATURE = signature>
		<cfset retval.DATE = dateTimeString>
		
		<cfreturn retval>
	</cffunction>
	
	<!--- Encrypt with HMAC SHA1 algorithm--->
	<cffunction name="HMAC_SHA1" returntype="binary" access="private" output="false" hint="NSA SHA-1 Algorithm">
	   <cfargument name="signKey" type="string" required="true" />
	   <cfargument name="signMessage" type="string" required="true" />
	
	   <cfset var jMsg = JavaCast("string",arguments.signMessage).getBytes("iso-8859-1") />
	   <cfset var jKey = JavaCast("string",arguments.signKey).getBytes("iso-8859-1") />
	   <cfset var key = createObject("java","javax.crypto.spec.SecretKeySpec") />
	   <cfset var mac = createObject("java","javax.crypto.Mac") />
	
	   <cfset key = key.init(jKey,"HmacSHA1") />
	   <cfset mac = mac.getInstance(key.getAlgorithm()) />
	   <cfset mac.init(key) />
	   <cfset mac.update(jMsg) />
	
	   <cfreturn mac.doFinal() />
	</cffunction>
	
	
	<cffunction name="createSignature" returntype="string" access="public" output="false">
	    <cfargument name="stringIn" type="string" required="true" />
		<cfargument name="scretKey" type="string" required="true" />
		<!--- Replace "\n" with "chr(10) to get a correct digest --->
		<cfset var fixedData = replace(arguments.stringIn,"\n","#chr(10)#","all")>
		<!--- Calculate the hash of the information --->
		<cfset var digest = HMAC_SHA1(scretKey,fixedData)>
		<!--- fix the returned data to be a proper signature --->
		<cfset var signature = ToBase64("#digest#")>
		
		<cfreturn signature>
	</cffunction>
    
	<cfset variables.accessKey = 'C18F18237081E2437596' />
    <cfset variables.secretKey = 'aD82295273e7025ddD4eCaE4b+b79182A83FE8dF' />
   
 	<cfset variables.sign = generateSignature("POST") /> <!---Verb must match that of request type--->
	<cfset datetime = variables.sign.DATE>
    <cfset signature = variables.sign.SIGNATURE>
    
    <cfset authorization = variables.accessKey & ":" & signature>
    
    <cfdump var="#datetime#"> 
    <BR />
    <cfdump var="#signature#"> 
    <BR />
    <cfdump var="#authorization#"> 
    <BR />
    <cfoutput>
        variables.accessKey = #variables.accessKey#
        <BR />
        variables.secretKey = #variables.secretKey#
        <BR />
        http://mbdemodev.messagebroadcast.com/webservice/ebm/PDC/AddToQueue
        <BR />
    </cfoutput>
    
    <!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function--->
 	
    <cfhttp url="https://ebmdevii.messagebroadcast.com/webservice/ebm/PDC/AddToQueue" method="POST" result="returnStruct" port="443" >
	
        
   <!--- <cfhttp url="http://mbdemodev.messagebroadcast.com/webservice/ebm/PDC/AddToRealTime" method="POST" result="returnStruct" >
	--->
	    <!--- By default EBM API will return json or XML --->
	    <cfhttpparam name="Accept" type="header" value="application/json" />    	
	    <cfhttpparam type="header" name="datetime" value="#datetime#" />
        <cfhttpparam type="header" name="authorization" value="#authorization#" /> 
  	   
      <!---  <cfargument name="inpCampaignId" required="yes" default="0" hint="The pre-defined campaign Id you created under your account.">
        <cfargument name="inpContactString" required="yes" default="" hint="The contact string - Phone number ,eMail, or SMS number">
        <cfargument name="inpContactTypeId" required="no" default="" hint="1=Phone number, 2=SMS, 3=eMail">
        <cfargument name="inpInternational" required="no" default="0" hint=" 1 will flag this number as international">
        <cfargument name="inpValidateScheduleActive" required="no" default="0" hint="1 will halt message if time is currently outside of the pre-defined campaigns's scheduled range">
        <cfargument name="inpTimeZone" required="no" default="">
        <cfargument name="inpCompany" required="no" default="">
        <cfargument name="inpFirstName" required="no" default="">
        <cfargument name="inpLastName" required="no" default="">
        <cfargument name="inpAddress" required="no" default="">
        <cfargument name="inpAddress1" required="no" default="">
        <cfargument name="inpCity" required="no" default="">
        <cfargument name="inpState" required="no" default="">
        <cfargument name="inpZipCode" required="no" default="">
        <cfargument name="inpCountry" required="no" default="">
        <cfargument name="inpUserDefinedKey" required="no" default="">       
        <cfargument name="inpMMLS" required="no" default="1">
        <cfargument name="inpScheduleOffsetSeconds" required="no" default="0">--->
       
       
       <!--- If DebugAPI is greater than 0 and is specidfied then use Dev DB for testing--->
       <!--- If in debug mode make sure you are using the correct credentials--->
       <cfhttpparam type="formfield" name="DebugAPI" value="1" />
       
       <cfhttpparam type="formfield" name="inpBatchId" value="1000234" />
       <cfhttpparam type="formfield" name="inpContactString" value="9494000553" />
       <cfhttpparam type="formfield" name="inpContactTypeId" value="3" />
       <cfhttpparam type="formfield" name="inpCompany" value="Tester" />
       <cfhttpparam type="formfield" name="inpCity" value="Corona" />
       <cfhttpparam type="formfield" name="inpState" value="CA" />       
       <cfhttpparam type="formfield" name="FirstName_vch" value="Jeffffff" />
       <cfhttpparam type="formfield" name="TestName_vch" value="Jeffery" />       
          
    </cfhttp>
    
    returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
 
</body>
</html>