<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Test Send Line App</title>
</head>

<body>


<!--- 



	
 --->
	
   
    <!--- 
	    https://apix.aerialink.net/v4/messages.json
	    
	    https://api.aerialink.net/20100101/sms/submit/
	     
	     <cfset inpMTRequest = '' />
	     
	     --->
    <cftry>
    
    
     <!--- Setup a JSON request --->
	<cfset inpMTRequest = "{'replyToken':'05eb297a6149442a8b41f8a9eedf9322', 'messages': [{'type':'text', 'text':'Hello Line App'}]}" />                          
                      
                      
                               
    <cfset LastHTTPPostServer = "(25 Seconds) https://api.line.me/v2/bot/message/reply" />
 	<cfhttp url="https://api.line.me/v2/bot/message/reply" method="POST" resolveurl="yes" throwonerror="yes" result="smsreturn" timeout="25" >
	
		<cfhttpparam type="header" name="Authorization" value="Bearer #ToBase64('RTOXiM6dGlKmhKvIAiUBjFcXW3zHYosECY280G0tqv701UyybHZPkgGvHQKkx5XaZzPStuOybRDYC/CojL5WgASNpb8YBYCiBHOGLqsyyPf/I87Nni8BtzshN5OR4HZ2cLcP1f+ZCRux0wRmd5f2DwdB04t89/1O/w1cDnyilFU=')#" />
	 	<cfhttpparam type="header" name="Content-Type" value="application/json" />
        <cfhttpparam type="body" value="#inpMTRequest#"> 
                
    </cfhttp>

    
    returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
    
       	
    	<cfset PostResultJSON = returnStruct.Filecontent />
    	<cfdump var="#PostResultJSON#" />

          
    <cfcatch type="any">
    
    	<cfdump var="#cfcatch#"/>
    
    </cfcatch>
    
    </cftry>	

 
</body>
</html>