<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Test Send API X</title>
</head>

<body>

    
    <!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function--->
 	<cfhttp url="https://api.siremobile.com/ire/capture/support/sire" method="POST" port="443" result="returnStruct" >
	
	    <!--- By default EBM API will return json or XML --->
	    
	    
	     <cfhttpparam type="header" name="Content-Type" value="application/json" />
            					
         <cfhttpparam type="body" value="{ 'inpBatchId': '161456', 'inpContactString': '9494000553', 'inpListOfEmails': 'lee@siremobile.com,jpijeff@hotmail.com', 'inpMessageText': 'Test' } "> 
          

    </cfhttp>
    
    returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
    
    	<cfset PostResultJSON = returnStruct.Filecontent />
    	<cfdump var="#PostResultJSON#" />

    
        <!--- 
	        
	        
	        <cfhttpparam name="Accept" type="header" value="application/json" />   
	        
	        https://api.siremobile.com


https://dev.siremobile.com/ire/capture/eventapp/addstatustoday
	        
	        
	        
	        
	        <cfhttpparam type="header" name="Content-Type" value="application/json" />
            <cfif arguments.inpArrayQuestion11.API_TYPE EQ "POST">					
           		<cfhttpparam type="body" value="#TRIM(arguments.inpArrayQuestion11.API_DATA)#"> 
           	</cfif>   
                           	
                           
           	 	
	  
		<cfhttpparam type="formfield" name="inpBatchId" value="161532" />
		<cfhttpparam type="formfield" name="inpContactString" value="9494000553" />
		<cfhttpparam type="formfield" name="inpStatus" value="1" />	
                           	
                           	
	        
	         --->
    	

 
</body>
</html>