
<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L">
<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString">

<cfif cgi.server_port_secure eq '1'>
	<cfset LOCALPROTOCOL = "https">
    <cfset LocalProtocol="https">
<cfelse>
	<cfset LOCALPROTOCOL = "http">
	<cfset LocalProtocol="http">
</cfif>

<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">


<cfset rxdsLocalWritePath = "\\10.25.0.32\simplexscripts" /> <!---for babblesphere.com --->

<!---<cfset apiDocsPath = "webservice/docs/api">
<cfset docsPath = "webservice/docs">
<cfset commonPath = "webservice/ebm/common">
<cfset websericeBaseDotPath = "webservice">
<cfset websericeCoreDotPath = "taffy.core">
<cfset websericeCommonDotPath = "webservice.ebm.common">
<cfset SessionDotPath = "session.cfc">
<cfset Session.SessionCFCPath = "session.cfc">
--->


<!--- Set default self repair rates --->
<cfset Session.DefaultRateType = "2">
<cfset Session.DefaultBalance = "0">
<cfset Session.DefaultRate1 = "0.050">
<cfset Session.DefaultRate2 = "0.050">
<cfset Session.DefaultRate3 = "0.050">
<cfset Session.DefaultIncrement1 = "1">
<cfset Session.DefaultIncrement2 = "0">
<cfset Session.DefaultIncrement3 = "0">
    

<!--- Manually set this here to be API wide - input params are not used here --->
<cfparam name="DebugAPI" default="0">


<cfif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "EBMDEVII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "V3.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">
	
<cfelse>

	<cfset DebugAPI ="1">

</cfif>

<!---<cfparam name="DBSourceEBM" default="Bishop">--->
<cfif DebugAPI GT 0 >
  	   
    <cfset DBSourceEBM = "BishopDev"/> 
    <cfset Session.DBSourceEBM = "BishopDev"/>  
    <cfset ESIID = "-15"/>   

<cfelse>

	<cfset DBSourceEBM = "Bishop"/> 
    <cfset Session.DBSourceEBM = "Bishop"/> 
    <cfset ESIID = "-14"/>
   
</cfif>

<cfif FINDNOCASE( "setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0 >
	<cfset DBSourceEBM = "Bishop2"/> 
    <cfset Session.DBSourceEBM = "Bishop2"/> 
    <cfset ESIID = "-14"/>
	<cfset rxdsLocalWritePath = "C:\BBP\SimpleXScripts" /> <!---for seta --->
	<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#:8080">	
</cfif>

<cfif FINDNOCASE( "ebmdev.seta", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "setatest.com.vn", "#CGI.SERVER_NAME#") GT 0 >
	<cfset DBSourceEBM = "Bishop"/> 
    <cfset Session.DBSourceEBM = "Bishop"/> 
    <cfset ESIID = "-14"/>
	<cfset rxdsLocalWritePath = "C:\BBP\SimpleXScripts" /> <!---for seta --->
</cfif>


<cfinclude template="../../session/cfc/csc/constants.cfm">
<cfinclude template="../../session/cfc/csc/inc_smsdelivery.cfm">
<cfinclude template="../../session/cfc/csc/inc_ext_csc.cfm">
    
    
<!---




<cfinvoke                    
	 <!--- component="#DeliveryServiceComponentPath#"  --->
     method="ProcessNextResponseSMS"
     returnvariable="local.RetValProcessNextResponseSMS">                         
        <cfinvokeargument name="inpContactString" value="#inpContactString#"/>
        <cfinvokeargument name="inpCarrier" value="#inpCarrier#"/>
        <cfinvokeargument name="inpShortCode" value="#inpShortCode#"/>
        <cfinvokeargument name="inpKeyword" value="#inpKeyword#"/>
        <cfinvokeargument name="inpTransactionId" value="#inpTransactionId#"/>
        <cfinvokeargument name="inpServiceId" value="#inpServiceId#"/> 
        <cfinvokeargument name="inpXMLDATA" value="#inpXMLDATA#"/>
        <cfinvokeargument name="inpOverRideInterval" value="#inpOverRideInterval#"/>
        <cfinvokeargument name="inpTimeOutNextQID" value="#inpTimeOutNextQID#"/>
        <cfinvokeargument name="inpQAToolRequest" value="0"/>
        <cfif inpPostToQueueForWebServiceDeviceFulfillment EQ 0>
            <cfinvokeargument name="inpDTSId" value="#LASTQUEUEDUPID#"/>
        </cfif>
        <cfinvokeargument name="inpPostToQueueForWebServiceDeviceFulfillment" value="#inpPostToQueueForWebServiceDeviceFulfillment#"/>
        <cfinvokeargument name="inpFormData" value="#FORM#"/>
        <cfinvokeargument name="inpSessionUserId" value="#Session.USERID#"/>                        
</cfinvoke>  
                                        
                 --->                       
                                        

<cfsetting showdebugoutput="yes" />

Yo!

<!--- Start timing test --->
<cfparam name="tickBegin" default="#GetTickCount()#">

<cfinvoke                    
	 <!--- component="#DeliveryServiceComponentPath#"  --->
     method="ProcessNextResponseSMS"
     returnvariable="RetValProcessNextResponseSMS">                         
        <cfinvokeargument name="inpContactString" value="9494000553"/>
        <cfinvokeargument name="inpCarrier" value=""/>
        <cfinvokeargument name="inpShortCode" value="57320"/>
        <cfinvokeargument name="inpKeyword" value="money"/>
        <cfinvokeargument name="inpTransactionId" value=""/>
        <cfinvokeargument name="inpServiceId" value=""/> 
        <cfinvokeargument name="inpXMLDATA" value=""/>
        <cfinvokeargument name="inpOverRideInterval" value="0"/>
        <cfinvokeargument name="inpTimeOutNextQID" value="0"/>
        <cfinvokeargument name="inpQAToolRequest" value="0"/>
        <cfinvokeargument name="inpPostToQueueForWebServiceDeviceFulfillment" value="1"/>
        <cfinvokeargument name="inpFormData" value=""/>
        <cfinvokeargument name="inpSessionUserId" value="312"/>                        
</cfinvoke>  


<!--- Calculate final result --->
<cfset tickEnd = GetTickCount()>
<cfset testTime = tickEnd - tickBegin>
                                   
 <cfoutput>                                       
           testTime = #testTime#                             
 </cfoutput> 
 
<!--- Build XMLControlString for eMail only with CCD PTL=13--->
<cfset SMSONLYXMLCONTROLSTRING_VCH = "">           
<cfset SMSONLYXMLCONTROLSTRING_VCH = SMSONLYXMLCONTROLSTRING_VCH & "<DM LIB='0' MT='1' PT='13' EMPT='Dynamic'><ELE ID='0'>0</ELE></DM>">           
<cfset SMSONLYXMLCONTROLSTRING_VCH = SMSONLYXMLCONTROLSTRING_VCH & "<RXSS>">
                                   

<cfset SMSONLYXMLCONTROLSTRING_VCH = SMSONLYXMLCONTROLSTRING_VCH & RetValProcessNextResponseSMS.RSSSDATA />

<cfset SMSONLYXMLCONTROLSTRING_VCH = SMSONLYXMLCONTROLSTRING_VCH & "</RXSS>">
					  
<!--- Use Current CCD String for File Sequence and User Specified Data--->
<cfset SMSONLYXMLCONTROLSTRING_VCH = SMSONLYXMLCONTROLSTRING_VCH & "<CCD RowCountVar='1' FileSeq='1' UserSpecData='0' CID='9999999999' DRD='0' RMin='0' PTL='1' PTM='1' RDWS='76' ESI='-14'>0</CCD>">
                                

<!---
 <!--- Still add entry to queue even if only for tracking purposes--->                                
                                        <!--- Insert customized message --->
<cfquery name="InsertIntocontactqueue" datasource="#Session.DBSourceEBM#" result="InsertIntocontactqueueResult">
    INSERT INTO
        simplequeue.contactqueue
    (
        BatchId_bi,
        DTSStatusType_ti,
        DTS_UUID_vch,
        TypeMask_ti,
        TimeZone_ti,
        CurrentRedialCount_ti,
        UserId_int,
        PushLibrary_int,
        PushElement_int,
        PushScript_int,
        EstimatedCost_int,
        ActualCost_int,
        CampaignTypeId_int,
        GroupId_int,
        Scheduled_dt,
        Queue_dt,
        Queued_DialerIP_vch,
        ContactString_vch,
        Sender_vch,
        XMLCONTROLSTRING_VCH,
        ShortCode_vch,
        ProcTime_int
    )
    VALUES
    (
        879,
        1,
        UUID(),
        3,
        31,
        0,
        312,
        0,
        0,
        0,
        0,
        0.000,
        30,
        0,
        NOW(),  <!--- Be sure if you adjust this to include single quotes around values if you specify an exact a date--->
        NULL,
        NULL,                                               
        '9494000553',
        'SimpleX - Customized - Service - TestSMS',
        <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#SMSONLYXMLCONTROLSTRING_VCH#">,
        <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="57320">,
        100                              
    )                                    
</cfquery>
                                        
                                        
                 --->                       
                                        
                                        
                                        
                                        
                                        
                                        








