

<!--- MBLOX --->
<!--- MBLOX SureRoute account --->
<cfset MBLOX_PartnerName = "SireMobileMT">
<cfset MBLOX_PartnerPassword = "iQveCF5r">
<cfset MBLOX_Profile = "33072">

<!--- MBLOX We already know the carrier account - cheaper - espescially when responding to MOs --->
<cfset MBLOX_PartnerName_With_Carrier = "SireMobileUS">
<cfset MBLOX_PartnerPassword_With_Carrier = "fR8Bjx3V">
<cfset MBLOX_Profile_With_Carrier = "35187">


<cfset PartnerName = "#MBLOX_PartnerName#">
<cfset PartnerPassword = "#MBLOX_PartnerPassword#">
<cfset Profile = "#MBLOX_Profile#">  


<cfset inpShortCode = '28444' />                          
<cfset inpBatchId = '99' />
<cfset SequenceNumber = '1' />
<cfset RetValGetResponse = StructNew() />

<cfset RetValGetResponse.RESPONSE = 'Testing 123...' />

<cfset SendMessageFormat = "" />


<cfset inpCarrier = '' />
<cfset Prefix = '1' />
<cfset inpContactString = '9494000553' />
<cfset inpServiceId = '65376' />
<cfset RetValGetResponse.CUSTOMSERVICEID4 = '' />


<cfset inpServiceId = '65376' />
<!---
<cfset PartnerName = "#MBLOX_PartnerName_With_Carrier#">
<cfset PartnerPassword = "#MBLOX_PartnerPassword_With_Carrier#">
<cfset Profile = "#MBLOX_Profile_With_Carrier#">  

<cfset inpServiceId = '' />


#URLEncodedFormat(inpMTRequest)#'


<?xml version="1.0" encoding="ISO??8859??1" standalone="yes"?>


<Header><Partner>UserName</Partner><Password>Password</Password><ServiceID>1</ServiceID></Header>
					 
--->


 <cfoutput>
            <cfxml variable="inpMTRequest">                   
            	  <ResponseService Version="2.3">
                     <Header>
                        <Partner>UserName</Partner>
                        <Password>Password</Password>
                        <ServiceID>1</ServiceID>
                     </Header>
                     <ResponseList>
                        <Response SequenceNumber="1" Type="SMS" Format="Text">
                           <TransactionID>217</TransactionID>
                           <OriginatingNumber>9494000553</OriginatingNumber>
                           <Time>200412181427</Time>
                           <Data>BILLING</Data>
                           <Deliverer>1</Deliverer>
                           <Destination>39492</Destination>
                           <Operator>31002</Operator>
                           <Tariff>150</Tariff>
                           <SessionId>SessionID</SessionId>
                           <Tags>
                               <Tag Name="Number">12</Tag>
                               <Tag Name="City">Rome</Tag>
                           </Tags>
                        </Response>
                     </ResponseList>
                    </ResponseService>
            </cfxml>
        </cfoutput>		
        
    <!---    
        <cfoutput>
            <cfxml variable="inpMTRequest"><?xml version="1.0" encoding="UTF-8"?><ResponseService Version="2.3"><Header><Partner>UserName</Partner><Password>Password</Password><ServiceID>1</ServiceID></Header></ResponseService></cfxml>
        </cfoutput>		
        --->
        
        <cfdump var="#tostring(inpMTRequest)#">
        
        <cfoutput>#HTMLCodeFormat(inpMTRequest)#</cfoutput>
        <BR>
        <BR>
        
        <cfhttp url="http://smsmo.siremobile.com/ire/sms/62569/mo" method="POST" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25">
        <!---<cfhttp url="http://dev.ebmui.com/testservice/ebmapi/testacceptxml" method="POST" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25" >--->
      <!--- <cfhttp url="http://dev.ebmui.com/ire/sms/62569/mo" method="POST" resolveurl="no" throwonerror="no" result="smsreturn" timeout="25" >--->
       <!---<cfhttp url="http://dev.ebmui.com/ire/capture/eventapp/addstatustoday" method="POST" resolveurl="no" throwonerror="no" result="smsreturn" timeout="25"  useragent="#CGI.http_user_agent#" >--->
       <!---<cfhttp url="http://dev.ebmui.com/testservice/ebmapi/testacceptxml" method="POST" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25" >--->
             <!---<cfhttpparam type="header" name="Content-Type" value="application/xml; charset=UTF-8" />--->
			 <!---<cfhttpparam name="Accept" type="header" value="application/xml" />  
			 
			 
             --->
             
             <cfhttpparam name="Accept" type="header" value="text/html" />
             <cfhttpparam type="formfield" name="XMLDATA" value="#inpMTRequest#" />
             <!---<cfhttpparam type="XML" value='#inpMTRequest#'>          --->   
        </cfhttp> 
                    
             <!---         <cfhttp url="http://google.com" method="get" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25">
                        
                    </cfhttp>  --->
                    
<cfdump var="#smsreturn#">     


<cfoutput>
<BR />
#smsreturn.filecontent#
<BR />
           
</cfoutput>    
                    