






<cfset testcase = "Msg freq depends on user. HELP for help or STOP to opt-out. Msg and Data rates may apply. Kohl's,\r\nYour Authentication code is 5702\r\nClick the following link. http:\/\/localhost\/Demos\/M_TL_T1.aspx" />
testcase
<BR>
<cfdump var="#testcase#" />
<BR>

<cfset UniSearchPattern = CreateObject("java", "java.util.regex.Pattern").Compile(JavaCast( "string", "[^\x00-\xFF]|[\x00-\x09]|[\x0B-\x0C]|[\x0E-\x0F]|[\x5B-\x5E]|[\x7B-\xA0]|[\xA2]|[\xA6]|[\xA8-\xBE]|[\xC0-\xC3]|[\xC8]|[\xCA-\xD0]|[\xD2-\xD5]|[\xD8-\xDB]|[\xDD-\xDE]|[\xE1-\xE3]|[\xE7]|[\xEA-\xEB]|[\xED-\xF0]|[\xF3-\xF5]|[\xF7]|[\xFA-\xFB]|[\xFD-\xFF]" ) ) />
     
UniSearchPattern
<BR>
<cfdump var="#UniSearchPattern#" />
<BR>
                   
<!--- Create the pattern matcher for our target text. The matcher can optionally loop through all the high ascii values found in the target string. --->
<cfset UniSearchMatcher = UniSearchPattern.Matcher(JavaCast( "string", testcase ) ) />


UniSearchMatcher
<BR>
<cfdump var="#UniSearchMatcher#" />
<BR>


<cfset ResultTest = UniSearchMatcher.Find() />
ResultTest
<BR>
<cfdump var="#ResultTest#" />
<BR>



<cfset ResultTestGroup = UniSearchMatcher.group() />
ResultTestGroup
<BR>
<cfdump var="#ResultTestGroup#" />
<BR>


<!--- Look for character higher than 255 ASCII --->   
<cfif ResultTest>
	
	<cfset SendAsUnicode = 1 />

<cfelse>

	<cfset SendAsUnicode = 0 />

</cfif>

SendAsUnicode
<BR>
<cfdump var="#SendAsUnicode#" />
<BR>