<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Test Send Grid Response</title>
</head>

<body>






<cfset TestData = {} />

<cfset TestData.DTSId = 1 />
<cfset TestData.UUID = "kdsjfhasldkjh" />
<cfset TestData.attempt = 1 />
<cfset TestData.category = 1 />
<cfset TestData.email = "akhare@mb.com" />


 <!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function--->
 	<cfhttp url="http://ebmdevii.messagebroadcast.com/ebmresponse/sms/sgresults/delivery" method="POST" result="returnStruct" >
	
	  <!--- By default EBM API will return json or XML --->
	  <cfhttpparam type="header" name="content-type" value="application/json" >
      <cfhttpparam type="header" name="Accept" value="application/json" >	
	   
      <!--- If DebugAPI is greater than 0 and is specidfied then use Dev DB for testing--->
      <!--- If in debug mode make sure you are using the correct credentials--->
      <cfhttpparam type="body"  value="#SerializeJSON(TestData)#" />
               
    </cfhttp>
    
    returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent# 
        
        <BR />
        
        #SerializeJSON(TestData)#
                             
    </cfoutput>
 
 

 

</body>
</html>