


<cfsavecontent variable="testdata" >XMLDATA=<?xml version="1.0" encoding="ISO-8859-1"?>
<NotificationService Version="2.3">
<Header>
	<Partner>SireMobileUS</Partner>
	<Password>fR8Bjx3V</Password>
	<ServiceID>1</ServiceID>
</Header>
<NotificationList>
	<Notification BatchID="3854" SequenceNumber="1">
		<Subscriber>
			<SubscriberNumber>19499454717</SubscriberNumber>
			<Status>Delivered</Status>
			<TimeStamp>201606131638</TimeStamp>
			<MsgReference>2314063401465835907816</MsgReference>
			<Reason>4</Reason>
		</Subscriber>
	</Notification>
</NotificationList>
</NotificationService></cfsavecontent>

<!--- <cfhttp url="https://dr.siremobile.com/ire/sms/62569/dr" method="POST" result="returnStruct" port="443" > --->
<cfhttp url="http://dev.siremobile.com/ire/sms/62569/dr" method="POST" result="returnStruct" redirect="no"  >
    <cfhttpparam type="formfield" name="XMLDATA" value="#testdata#">	
</cfhttp>

<cfdump var="#returnStruct#" />

<BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
 