
<!--- 
	


	https://console.ng.bluemix.net/?direct=classic/#/resources/serviceGuid=0dcd13f6-188a-4041-941c-9297862e5130&orgGuid=79309c26-7258-451d-9433-076320d1e06a&spaceGuid=bcea170b-03f9-40f9-b3d9-32aecb9049bd&paneId=1

	
	{
  "credentials": {
    "url": "https://gateway-a.watsonplatform.net/calls",
    "note": "It may take up to 5 minutes for this key to become active",
    "apikey": "20088fb0eb5b3ee6ecff1bc867b53c014ccfb940"
  }
}


https://gateway-a.watsonplatform.net/calls
https://gateway-a.watsonplatform.net/calls


https://gateway-a.watsonplatform.net/calls/text/TextGetTextSentiment

Unknown host: hostname in certificate didn't match: <gateway-a.watsonplatform.net> != <access.alchemyapi.com> OR <access.alchemyapi.com> OR <www.access.alchemyapi.com>


https://gateway-a.watsonplatform.net/calls/text/TextGetTextSentiment??apikey=20088fb0eb5b3ee6ecff1bc867b53c014ccfb940&text=Testing123

<cfsavecontent variable="testdata" >XMLDATA=<?xml version="1.0" encoding="ISO-8859-1"?>
<NotificationService Version="2.3">
<Header>
	<Partner>SireMobileUS</Partner>
	<Password>fR8Bjx3V</Password>
	<ServiceID>1</ServiceID>
</Header>
<NotificationList>
	<Notification BatchID="3854" SequenceNumber="1">
		<Subscriber>
			<SubscriberNumber>19499454717</SubscriberNumber>
			<Status>Delivered</Status>
			<TimeStamp>201606131638</TimeStamp>
			<MsgReference>2314063401465835907816</MsgReference>
			<Reason>4</Reason>
		</Subscriber>
	</Notification>
</NotificationList>
</NotificationService></cfsavecontent>

 <cfhttpparam type="formfield" name="XMLDATA" value="#testdata#">
	
 --->
 
<cftry>
 

	<cfset WatsonAPIKey = "20088fb0eb5b3ee6ecff1bc867b53c014ccfb940" />
	
	<cfset inpText = "I want to detect angry responses. So I have included the sentance (no offence to Watson) - This service Sucks!" />
	
	<cfhttp url="https://access.alchemyapi.com/calls/text/TextGetTextSentiment" method="get" result="returnStruct" port="443"  >
	    
		<cfhttpparam type="URL" name="apikey" value="#WatsonAPIKey#">	
		<cfhttpparam type="URL" name="text" value="#inpText#">
		<cfhttpparam type="URL" name="outputMode" value="json">	
	     
	</cfhttp>
	
	<cfdump var="#returnStruct#" />
	
	<BR />
	    
	    <cfoutput>
	    	#returnStruct.Filecontent#                      
	    </cfoutput>
 
 
 <cfcatch type="any">
 
 	<cfoutput> <cfdump var="#cfcatch#" /> </cfoutput>
 </cfcatch>
 
 
</cftry>