

<!--- 
	
	use inpDistributionProcessId = 5
	
	inpMod = 1 for only one thread in testing
	DoModValue = 0 for everything is divisible by 1
		
	http://dev.siremobile.com/management/processing/act_sire_processcontactqueue.cfm?inpDistributionProcessId=5&inpNumberOfDialsToRead=100&inpMod=1&DoModValue=0&inpVerboseDebug=1
	
	
	
	 --->

<cfset session.userId = "522" />

<cfinvoke component="session.sire.models.cfc.control-point" method="LoadQueueSMSDynamic" returnvariable="RetValLoadQueueSMSDynamic">
	<cfinvokeargument name="inpBatchId" value="166971"/>
	<cfinvokeargument name="inpContactString" value="9494000553"/>
	<cfinvokeargument name="inpShortCode" value="39492"/>
	<cfinvokeargument name="inpGroupId" value="0"/>
	<cfinvokeargument name="inpAPIRequestJSON" value=""/>
	<cfinvokeargument name="inpCarrier" value="0"/>
	<cfinvokeargument name="inpSkipLocalUserDNCCheck" value="1"/> <!--- Blast load queue will already block these so no need to check here. Real time API or anyhting else that skips the Blast Load Queue will want this to be 0 --->
	<cfinvokeargument name="inpDistributionProcessId" value="5"/>
</cfinvoke>


<cfdump var="#RetValLoadQueueSMSDynamic#" />

