

<cfset TestMid = "AT&T FREE MSG: Thanks for calling the AT&T Business Mobility Customer Care Call Center. We value your feedback about your recent call experience. Q1 of 4: How satisfied are you with the overall service provided by {%REPNAME%} on a scale from 1 (very dissatisfied) to 10 (very satisfied)?"/>

<cfdump var="#TestMid#" />

<BR>

<cfset strBuff = Mid( TestMid, 1, 153 ) />

<BR>

<cfdump var="#strBuff#" />

<BR>

<cfdump var="#LEN(strBuff)#" />


<BR>







