


<cfset LOCALOUTPUT = StructNew() />

<cfset PAVal1 = "One" />
<cfset PAVal2 = "Two" />

<cfset MatchArrayPA = ArrayNew(1) />


<cfset LOCALOUTPUT.RESPONSE = "This ({%INPPA=2%}) conatins multiple ({%INPPA=1%}) previous response " />
<cfdump var="#LOCALOUTPUT.RESPONSE #">
<BR>

<!---

{%[^%]INPPA=*%}

{%[^%]INPPA=*%}

--->
<cfset  MatchArrayPA = REMATCH("{%INPPA=[^%]*%}", LOCALOUTPUT.RESPONSE) />

<cfdump var="#MatchArrayPA#">


<cfloop array="#MatchArrayPA#" index="MAPAIndex">
					
	<cfset MAPABuffA = Replace(MAPAIndex, "{%INPPA=", "") />
    <cfset MAPAVAL = Replace(MAPABuffA, "%}", "") />
    
    <cfif INT(MAPAVAL) GT 0>
        
        <cfdump var="#MAPAVAL#">
        <BR>
    
    	<cfset LOCALOUTPUT.RESPONSE = Replace(LOCALOUTPUT.RESPONSE, MAPAIndex, "#MAPAVAL#") />
	
	    <cfdump var="#LOCALOUTPUT.RESPONSE#">
        <BR>
         
    </cfif>
    
    
</cfloop>
               
               


 <cfdump var="#LOCALOUTPUT.RESPONSE#">
         <BR>
         





