


<cfsavecontent variable="testdata" >XMLDATA=<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<ResponseService Version="2.3">
	<Header>
		<Partner>MsgBroadcastUS</Partner>
		<Password>sAF4bane</Password>
		<ServiceID>1</ServiceID>
	</Header>
	<ResponseList>
		<Response SequenceNumber="1" Type="SMS">
			<TransactionID>757968743621</TransactionID>
			<OriginatingNumber>19494000553</OriginatingNumber>
			<Time>201503261736</Time>
			<Data>A</Data>
			<Deliverer>1019</Deliverer>
			<Destination>37658</Destination>
			<Operator>31002</Operator>
		</Response>
	</ResponseList>
</ResponseService></cfsavecontent>

<cfhttp url="http://ebmui.com/ebmresponse/sms/response62569/mo" method="POST" result="returnStruct" >
    <cfhttpparam type="formfield" name="XMLDATA" value="#testdata#">	
</cfhttp>

<cfdump var="#returnStruct#" />

<BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
 