

<cfsavecontent variable="testdata" >
	<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
	<ResponseService Version="2.3">
		<Header>
			<Partner>SireMobileUS</Partner>
			<Password>fR8Bjx3V</Password>
			<ServiceID>1</ServiceID>
		</Header>
		<ResponseList>
			<Response SequenceNumber="1" Type="SMS" Format="Text">
				<TransactionID>605</TransactionID>
				<OriginatingNumber>19494000553</OriginatingNumber>
				<Time>201809142323</Time>
				<Data>Stop</Data>
				<Deliverer>11</Deliverer>
				<Destination>39492</Destination>
				<Operator>31003</Operator>
			</Response>
		</ResponseList>
	</ResponseService>
</cfsavecontent>

<cftry>

<!--- <cfhttp url="https://dr.siremobile.com/ire/sms/62569/dr" method="POST" result="returnStruct" port="443" > --->
<cfhttp url="https://smsmo.siremobile.com/ire/sms/62569/mo" method="POST" result="returnStruct" charset="utf-8" >
    <cfhttpparam type="formfield" name="XMLDATA" value="#testdata#">
</cfhttp>

<cfdump var="#returnStruct#" />


<cfset ouputtest = CharsetDecode(testdata, "UTF-8")>
<cfset ouputtest2 = CharsetDecode('Hello 😃 smile', "UTF-8")>
<cfset ouputtest3 = toBase64(CharsetDecode('Hello 😃 smile', "UTF-8"))>


<cfdump var="#ouputtest#" />
<cfdump var="#ouputtest2#" />
<cfdump var="#ouputtest3#" />

<BR />

    <cfoutput>
    	#returnStruct.Filecontent#
    </cfoutput>
<cfcatch type="any">

	<cfdump var="#cfcatch#" />
</cfcatch>

</cftry>
