




<cfsavecontent variable="TestData"><?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Header xmlns:wsa="http://www.w3.org/2005/08/addressing"><isg:EnterpriseID xmlns:isg="http://www.alcatel-lucent.com/schema/parlayx/wsg/v2_2/isg_wsg_header_types_2_2.xsd">000-MSGBR</isg:EnterpriseID><isg:ClientID xmlns:isg="http://www.alcatel-lucent.com/schema/parlayx/wsg/v2_2/isg_wsg_header_types_2_2.xsd">MSGBR-PSFTAL</isg:ClientID></soapenv:Header><soapenv:Body><ns3:notifySmsReception xmlns:ns3="http://www.csapi.org/schema/parlayx/sms/notification/v2_2/local"><ns3:correlator>4992</ns3:correlator><ns3:message><message>Heartbeat</message><senderAddress>tel:9494000553</senderAddress><smsServiceActivationNumber>short:4888</smsServiceActivationNumber></ns3:message></ns3:notifySmsReception></soapenv:Body></soapenv:Envelope></cfsavecontent>

<cfhttp url="http://ebmlocal/ebmresponse/SMS/Response288/mo" method="POST" result="returnStruct" >
    <cfhttpparam type="formfield" name="XMLDATA" value="#TestData#">	
    <cfhttpparam type="formfield" name="inpQAMode" value="0">
</cfhttp>
                
<cfdump var="#returnStruct#" />                
                
<cfoutput>
	#returnStruct.Filecontent#                      
</cfoutput>