

	<cfinclude template="../../session/cfc/csc/constants.cfm" > <!--- Use one SMS constants in EBM so as not to confuse or miss any --->
	<cfinclude template="../../session/cfc/csc/inc_smsdelivery.cfm">
	<cfinclude template="../../session/cfc/csc/inc_ext_csc.cfm">
    <cfinclude template="../../session/cfc/csc/inc-billing-sire.cfm">

<!--- <Message><![CDATA[😜 Hello 😃 to u2]]></Message>
	<Message>😜 Hello 😃 to u2</Message>
	 --->    
    
    
<cfset NewThreadName = "MOReceiptThread_#CreateUUID()#" />
<!---

<cfthread name="#NewThreadName#" action="run">   

<cfset thread.RetValProcessNextResponseSMS = 'test' />
<cfset thread.cfcatch = 'All Good' />

<cfset thread.RetValGetResponse = 'RetValGetResponse Testing' />
<cfset thread.RetVarReadQuestionDataById = 'RetVarReadQuestionDataById Testing' />
--->



<cfsavecontent variable="inpMTRequest"><cfoutput><?xml version='1.0' encoding='utf-8' ?>
                <NotificationRequest Version="3.5">
                    <NotificationHeader>
                        <PartnerName>SireMobileMT</PartnerName>
                        <PartnerPassword>iQveCF5r</PartnerPassword>
                    </NotificationHeader>
                    <NotificationList BatchID="1929">
                        <Notification SequenceNumber="1" MessageType="SMS" Format="Unicode">
                            <Message><![CDATA[😜 Hello 😃 to u2]]></Message>
                            <Profile>33072</Profile>
                            <SenderID Type="Shortcode">39492</SenderID>                            
                            <Subscriber>
                                 <SubscriberNumber>19494000553</SubscriberNumber>
                            </Subscriber>
                        </Notification>
                    </NotificationList>
                </NotificationRequest></cfoutput></cfsavecontent>

<cftry>

<!---

<cfhttp url="https://xml3.us.mblox.com:443/send" method="post" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25" charset="utf-8" >
    <cfhttpparam type="xml" name="XMLDoc" value="#inpMTRequest#">	
</cfhttp> 
--->
	<cfset DBSourceEBM = "Bishop"/> 
	<cfset Session.DBSourceEBM = "Bishop"/> 
	 
	     
<!---  <cfset thread.cfcatch = 'All Good - 1a' />    --->   

<!--- component="session.cfc.csc.csc"  --->


 <cfinvoke                 
     method="ProcessNextResponseSMS"
     returnvariable="RetValGetResponse">                         
        <cfinvokeargument name="inpContactString" value="9494000553"/>
        <cfinvokeargument name="inpCarrier" value="31002"/>
        <cfinvokeargument name="inpShortCode" value="39492"/>
        <cfinvokeargument name="inpKeyword" value="yes Hello 😜 Smile"/>
        <cfinvokeargument name="inpTransactionId" value="2076"/>
        <cfinvokeargument name="inpPreferredAggregator" value="11"/>
        <cfinvokeargument name="inpTime" value=""/>
        <cfinvokeargument name="inpServiceId" value=""/> <!--- MO SERVICEID NOT SAME AS MT ONE USED TO SEND ??? --->
        <cfinvokeargument name="inpXMLDATA" value=""/>
        <cfinvokeargument name="inpOverrideAggregator" value="1"/>
        <cfinvokeargument name="inpLastQueuedId" value=""/>
        <cfinvokeargument name="inpDBSourceEBM" value="#DBSourceEBM#"/>
</cfinvoke>

<cfdump var="#RetValGetResponse#" />





<!---
<cfinvoke    
						 method="GetSMSResponse"
                         returnvariable="RetValGetResponse">                         
                            <cfinvokeargument name="inpKeyword" value="Yes - Hello 😜 Smile"/>
                            <cfinvokeargument name="inpShortCode" value="39492"/>
                            <cfinvokeargument name="inpCarrier" value="31002"/>
                            <cfinvokeargument name="inpContactString" value="9494000553"/>
                            <cfinvokeargument name="inpScrubContactString" value="1"/>
                            <cfinvokeargument name="inpNewLine" value="#chr(13)##chr(10)#"/>    
                            <cfinvokeargument name="inpOverRideInterval" value="0"/>   
                            <cfinvokeargument name="inpTimeOutNextQID" value="0"/>
                            <cfinvokeargument name="inpPreferredAggregator" value="11"/>
                            <cfinvokeargument name="inpFormData" value=""/>
                            <cfinvokeargument name="inpLastQueuedId" value="0"/>   
                            <cfinvokeargument name="inpIREType" value="2"> 
                            <cfinvokeargument name="inpIRESessionId" value="0"/>
                            <cfinvokeargument name="inpBatchId" value="0">
                            <!---<cfinvokeargument name="inpQATool" value="#inpQAToolRequest#"/> --->                         
                    </cfinvoke>  
--->   
                    
<cfdump var="#RetValGetResponse#" />


<!---
<cfinvoke method="ReadQuestionDataById"  returnvariable="RetVarReadQuestionDataById">
    <cfinvokeargument name="INPBATCHID" value="166576">
    <cfinvokeargument name="inpQID" value="2">
    <cfinvokeargument name="inpIDKey" value="ID">
    <cfinvokeargument name="inpXMLControlString" value="<RXSSCSC> <Q AF='NOFORMAT' BOFNQ='0' GID='1' ID='2' LDIR='-1' LMAX='0' LMSG='' MDF='0' REQANS='undefined' RQ='1' SWT='1' T64='1' TDESC='&lt;b&gt;Note:&lt;/b&gt;\nYou can also start more interactive templates like surveys by adding more Step Actions. \n \n When building or modifying a Campaign flow, each point in the conversation is called an Action. An Action is the place in the message flow you are at. All message flows begin at Action 1 and move on from there. Generally a conversation will flow linearly. With Business Rules you can move around to different Actions and change a conversation based on end user responses or information you already know about the end user. ' TEXT='8J+YnMKgSGVsbG/CoPCfmIPCoHRvIHUy' TGUIDE='' TYPE='TRAILER' errMsgTxt='undefined'> </Q> </RXSSCSC>">
</cfinvoke>
                 
--->           
                            
	    
<!---
<cfset thread.cfcatch = 'All Good - 2'  />
	               
<cfset thread.RetValProcessNextResponseSMS = RetValProcessNextResponseSMS />                 
	 
	
--->
	  
<!---
	  <cfdump var="#thread.RetVarReadQuestionDataById#" /> 
	  <cfdump var="#thread.RetValProcessNextResponseSMS#" />
	  <cfdump var="#thread.RetValGetResponse#" />
--->
	                                
<!---
                        
<cfdump var="#smsreturn#" />

<BR />
    
    <cfoutput>
    	#smsreturn.Filecontent#                      
    </cfoutput>
    
--->
    
<cfcatch type="any">

	<cfdump var="#cfcatch#" />
	
<!---
	<cfset thread.cfcatch = 'All Good - 8' />
	
	<cfset thread.cfcatch = cfcatch />
--->
	
</cfcatch>

</cftry>


<!---

</cfthread>  
--->


<!--- Join each thread ---> 
<!---
    <cfthread action="join" name="#NewThreadName#" />
    <!--- Dump each named thread from the cfthread scope --->
    
    <cfset threadscopeForNthThread = cfthread[NewThreadName] >
    
    <cfdump var="#cfthread['#NewThreadName#']#" />
--->






    




