

<!--- MBLOX --->
<!--- MBLOX SureRoute account --->
<cfset MBLOX_PartnerName = "SireMobileMT">
<cfset MBLOX_PartnerPassword = "iQveCF5r">
<cfset MBLOX_Profile = "33072">


<!--- MBLOX We already know the carrier account - cheaper - espescially when responding to MOs --->
<cfset MBLOX_PartnerName_With_Carrier = "SireMobileUS">
<cfset MBLOX_PartnerPassword_With_Carrier = "fR8Bjx3V">
<cfset MBLOX_Profile_With_Carrier = "35187">


<cfset PartnerName = "#MBLOX_PartnerName#">
<cfset PartnerPassword = "#MBLOX_PartnerPassword#">
<cfset Profile = "#MBLOX_Profile#">


<cfset inpShortCode = '28444' />
<cfset inpBatchId = '99' />
<cfset SequenceNumber = '1' />
<cfset RetValGetResponse = StructNew() />

<cfset RetValGetResponse.RESPONSE = 'Testing 123...' />

<cfset SendMessageFormat = "" />


<cfset inpCarrier = '' />
<cfset Prefix = '1' />
<cfset inpContactString = '9494000553' />
<cfset inpServiceId = '65376' />
<cfset RetValGetResponse.CUSTOMSERVICEID4 = '' />


<cfset inpServiceId = '65376' />
<!---
<cfset PartnerName = "#MBLOX_PartnerName_With_Carrier#">
<cfset PartnerPassword = "#MBLOX_PartnerPassword_With_Carrier#">
<cfset Profile = "#MBLOX_Profile_With_Carrier#">

<cfset inpServiceId = '' />


--->

 <cftry>

 <cfoutput>
            <cfxml variable="inpMTRequest">
                <NotificationRequest Version="3.5">
                    <NotificationHeader>
                        <PartnerName>#PartnerName#</PartnerName>
                        <PartnerPassword>#PartnerPassword#</PartnerPassword>
                    </NotificationHeader>
                    <NotificationList BatchID="#inpBatchId#">
                        <Notification SequenceNumber="#SequenceNumber#" MessageType="SMS" <cfif LEN(SendMessageFormat) GT 0>Format="#SendMessageFormat#"</cfif>>
                            <Message><![CDATA[#RetValGetResponse.RESPONSE#]]></Message>
                            <Profile>#Profile#</Profile>
                            <SenderID Type="Shortcode">#inpShortCode#</SenderID><cfif TRIM(inpCarrier) NEQ ""><Operator>#TRIM(inpCarrier)#</Operator></cfif>
                            <Tariff>0</Tariff>
                            <Subscriber>
                                <SubscriberNumber>#Prefix##inpContactString#</SubscriberNumber>
                            </Subscriber>
                            <cfif TRIM(RetValGetResponse.CUSTOMSERVICEID4) EQ ""><Tags><Tag Name="Program">stdrt</Tag></Tags></cfif>
							<cfif TRIM(inpServiceId) NEQ ""><ServiceId>#TRIM(inpServiceId)#</ServiceId></cfif>
                        </Notification>
                    </NotificationList>
                </NotificationRequest>
            </cfxml>
        </cfoutput>

        <cfoutput>#HTMLCodeFormat(inpMTRequest)#</cfoutput>
        <BR>
        <BR>


        <!--- <cfhttp url="https://xml2.us.mblox.com:443/send" method="post" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25" port="443"> --->
        <!--- old ssl support  <cfhttp url="https://ssl-xml.us.mblox.com:443/send" method="post" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25"  >  --->
         <cfhttp url="https://xml3.us.mblox.com:443/send" method="post" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25"  >
                        <cfhttpparam type="XML" name="XMLDoc" value="#inpMTRequest#">
                    </cfhttp>


             <!---         <cfhttp url="http://google.com" method="get" resolveurl="no" throwonerror="yes" result="smsreturn" timeout="25">

                    </cfhttp>  --->



<cfdump var="#smsreturn#">



        <cfcatch type="any">


        	<cfdump var="#cfcatch#">
        </cfcatch>


        </cftry>
