<!---<cfcontent type="text/html; cht=utf-8">--->

<cfprocessingdirective pageEncoding="utf-8"> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<!---

%3C%3Fxml+version%3D%221.0%22+encoding%3D%22ISO-8859-1%22+standalone%3D%22yes%22%3F%3E%0A%3CResponseService+Version%3D%222.3%22%3E%0A%09%3CHeader%3E%0A%09%09%3CPartner%3EMsgBroadcastUS%3C%2FPartner%3E%0A%09%09%3CPassword%3EsAF4bane%3C%2FPassword%3E%0A%09%09%3CServiceID%3E1%3C%2FServiceID%3E%0A%09%3C%2FHeader%3E%0A%09%3CResponseList%3E%0A%09%09%3CResponse+SequenceNumber%3D%221%22+Type%3D%22SMS%22+Format%3D%22Unicode%22%3E%0A%09%09%09%3CTransactionID%3E196752244277%3C%2FTransactionID%3E%0A%09%09%09%3COriginatingNumber%3E14145448477%3C%2FOriginatingNumber%3E%0A%09%09%09%3CTime%3E201504012347%3C%2FTime%3E%0A%09%09%09%3CData%3E%26%23x0053%3B%26%23x0054%3B%26%23x004F%3B%26%23x0050%3B%26%23x000A%3B%26%23x0020%3B%26%23x0020%3B%26%23x0020%3B%26%23x0020%3B%26%23x0020%3B%26%23x0020%3B%26%23xD83D%3B%26%23xDCA1%3B%26%23xD83D%3B%26%23xDCAD%3B%26%23xD83C%3B%26%23xDDEA%3B%26%23x003D%3B%26%23xD83C%3B%26%23xDDF2%3B%26%23xD83C%3B%26%23xDDE8%3B%26%23x0032%3B%26%23xD83D%3B%26%23xDCAD%3B%26%23xD83D%3B%26%23xDCA1%3B%3C%2FData%3E%0A%09%09%09%3CDeliverer%3E1007%3C%2FDeliverer%3E%0A%09%09%09%3CDestination%3E9449%3C%2FDestination%3E%0A%09%09%09%3COperator%3E31152%3C%2FOperator%3E%0A%09%09%3C%2FResponse%3E%0A%09%3C%2FResponseList%3E%0A%3C%2FResponseService%3E%0A) xmlDataString=(XMLDATA=
<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
--->

<cfsavecontent variable="XMLDATA"><?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<ResponseService Version="2.3">
	<Header>
		<Partner>MsgBroadcastUS</Partner>
		<Password>sAF4bane</Password>
		<ServiceID>1</ServiceID>
	</Header>
	<ResponseList>
		<Response SequenceNumber="1" Type="SMS" Format="Unicode">
			<TransactionID>202058343087</TransactionID>
			<OriginatingNumber>15128222732</OriginatingNumber>
			<Time>201504021523</Time>
			<Data>&#x006D;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002C;&#x002C;&#x002E;&#x006D;&#x006D;&#x002E;&#x002E;&#x006D;&#x006D;&#x006D;&#x006D;&#x006D;&#x006D;&#x002E;&#x006D;&#x002E;&#x006D;&#x002E;&#x002E;&#x006D;&#x002E;&#x002E;&#x006D;&#x006D;&#x002E;&#xD83D;&#xDC82;</Data>
			<Deliverer>1007</Deliverer>
			<Destination>9449</Destination>
			<Operator>31152</Operator>
		</Response>
	</ResponseList>
</ResponseService></cfsavecontent>


<cfsavecontent variable="XMLDATA"><?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<ResponseService Version="2.3">
	<Header>
		<Partner>MsgBroadcastUS</Partner>
		<Password>sAF4bane</Password>
		<ServiceID>1</ServiceID>
	</Header>
	<ResponseList>
		<Response SequenceNumber="1" Type="SMS" Format="Unicode">
			<TransactionID>202058343087</TransactionID>
			<OriginatingNumber>15128222732</OriginatingNumber>
			<Time>201504021523</Time>
			<Data>&#x006D;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;&#x002E;</Data>
			<Deliverer>1007</Deliverer>
			<Destination>9449</Destination>
			<Operator>31152</Operator>
		</Response>
	</ResponseList>
</ResponseService></cfsavecontent>



<cfsavecontent variable="XMLDATA2"><?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<ResponseService Version="2.3">
	<Header>
		<Partner>MsgBroadcastUS</Partner>
		<Password>sAF4bane</Password>
		<ServiceID>1</ServiceID>
	</Header>
	<ResponseList>
		<Response SequenceNumber="1" Type="SMS">
			<TransactionID>155821919823</TransactionID>
			<OriginatingNumber>19494000553</OriginatingNumber>
			<Time>201504011658</Time>
			<Data>Help</Data>
			<Deliverer>1019</Deliverer>
			<Destination>57320</Destination>
			<Operator>31002</Operator>
		</Response>
	</ResponseList>
</ResponseService></cfsavecontent>



<cfoutput>


<cfdump var="#XMLDATA#">

<BR />

#XMLDATA#


<HR />


<cfdump var="#URLDecode(XMLDATA)#">

<BR />

#URLDecode(XMLDATA)#

<HR />
<br />


<cfset xmlDoc2 = XmlParse(XMLDATA2) />

<cfdump var="#xmlDoc2#">

<HR />

<cfset xmlDoc = XmlParse(XMLDATA) />

<cfdump var="#xmlDoc#">

<BR />


<!---


<cfset CharBuff = "¡Hola! Usted llamó recientemente a AT&T y optó por recibir una llamada de vuelta a la hora de su preferencia en vez de seguir esperando en la línea para un representante. Tenemos cuatro preguntas cortas para usted sobre su experiencia con la devolución de su llamada. TEXTOS DE LA ENCUESTA SON GRATIS:" />

<cfset F1 = XMLFormat(CharBuff) />
<cfset F2 = XMLFormat(CharBuff, true) />

<cfset F3 = URLDecode(F1) />


<cfset testObj = StructNew() />
<cfset testObj.Tester = "1" />
<cfset testObj.CharBuff = CharBuff />


#CharBuff#
<BR />
#F1#
<BR />
#F2#
<BR />
#F3#

<BR />
<cfdump var="#CharBuff#" />
<BR />
<cfdump var="#F1#" />
<BR />
<cfdump var="#F2#" />
<BR />
<cfdump var="#F3#" />

<BR />
#SerializeJSON(testObj)#
<BR />
<cfdump var="#SerializeJSON(testObj)#" />


</cfoutput>
--->

</cfoutput>




</body>




</html>