<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Send Sample Support Email</title>
</head>

<body>

<cfmail to="jpijeff@gmail.com" subject="Test Email Processing" type="html" spoolenable="no" from="support@siremobile.com" username="support@siremobile.com" password="SF927$tyir3" server="smtp.gmail.com" port="465" useSSL="true"  >
<!---<cfmail to="jpijeff@gmail.com" subject="Test Email Processing" type="html" spoolenable="no" from="support@eventbasedmessaging.com" username="support@eventbasedmessaging.com" password="dEF!1048" server="smtp.gmail.com" port="465" useSSL="true"  >--->
    <cfoutput>
    Support TEST
    </cfoutput>
</cfmail>



</body>
</html>