






<cfinclude template="../../session/cfc/csc/constants.cfm" > <!--- Use one SMS constants in EBM so as not to confuse or miss any --->
<cfinclude template="../../session/cfc/csc/inc_smsdelivery.cfm">
<cfinclude template="../../session/cfc/csc/inc_ext_csc.cfm">



<!--- Now get answer text - pa--->
<!--- Read question data for this BRANCH  --->        
<cfinvoke method="GetQuestion" component="session.cfc.ire.marketingSurveyTools" returnvariable="RetVarReadQuestionDataByIdEdit">
	<cfinvokeargument name="INPBATCHID" value="160463">
	<cfinvokeargument name="INPQUESTIONID" value="14">
	<cfinvokeargument name="INPTYPE" value="#SURVEY_COMMUNICATION_SMS#">
</cfinvoke>
            
            

<cfdump var="#RetVarReadQuestionDataByIdEdit#">             


<cfset FinalAnswerValue = 0 />

<cfset AnswerBuff = '' />

<cfset inpAnswer = 'd' />


	
<cfif ISNUMERIC(inpAnswer) >
	
    <cfset AnswerBuff = INT(inpAnswer) />
    
<cfelseif LEN(inpAnswer) EQ 1>

	<!---Search answer list in order--->
    
    <cfset AnswerBuff = UCASE(inpAnswer) />
    
    
    <cfif ASC(AnswerBuff) GT 64 AND ASC(AnswerBuff) LT 90>
    
    	<cfset AnswerBuff = ASC(AnswerBuff) - 64 />       
           
	<cfelseif ASC(AnswerBuff) GT 48 AND ASC(AnswerBuff) LT 58>
    
    	<cfset AnswerBuff = ASC(AnswerBuff) - 47 />    
    
    </cfif>

</cfif>


<cfif RetVarReadQuestionDataByIdEdit.RXRESULTCODE EQ 1>
	
	<!--- Only 26 possible answer choices max or length of the QUESTION_ANS_LIST Array --->	
	<cfif AnswerBuff GT 0 AND AnswerBuff LTE ArrayLen(RetVarReadQuestionDataByIdEdit.QUESTION_ANS_LIST)>

		<cfset FinalAnswerValue = RetVarReadQuestionDataByIdEdit.QUESTION_ANS_LIST[1][INT(AnswerBuff)].AVAL />	

	</cfif>

</cfif>


<cfoutput>
ArrayLen(RetVarReadQuestionDataByIdEdit.QUESTION_ANS_LIST)=#ArrayLen(RetVarReadQuestionDataByIdEdit.QUESTION_ANS_LIST)#
<BR>
ASC(UCASE(inpAnswer))=#ASC(UCASE(inpAnswer))#
<BR>
AnswerBuff=#AnswerBuff#
<BR>
FinalAnswerValue=#FinalAnswerValue#

<cfdump var="#FinalAnswerValue#"/>


</cfoutput>