




<cfset MyConsumerKey = "almn3QLSko3h32lAyDfkZpQ12" />
<cfset MyConsumerSecret = "tn5rO4vkn0ybmV3fA0BSAkoK7XtFY8fBoD1jy0NUDjh0fltWap" />
<cfset MyAccessToken = "3100182578-T8WPVFV5eOq0SzJhM2HQdfpvIHvujIU8eSDmMVo" />
<cfset MyAccessSecret = "aeOIbC1jXOowTDq8s0hp7oKaUiTEZZWPuoObjheTTT6p8" />


<!---
	
	
	<cfset MyStatus = "API Testing..." />

	'https://api.twitter.com/1.1/statuses/update.json',
	
	 ParamsStruct['status'] = MyStatus;
	 both?!?
	 <cfhttpparam type="header" name="status" value="#MyStatus#">
	
	
	 ParamsStruct['user_id'] = "275894226"; 
--->

<cfscript>
    //cfcs - from the OAuth library
    oauthSigMethodSHA = CreateObject("component", "OAuth.oauthsignaturemethod_hmac_sha1");
    oauthRequestCFC = CreateObject("component", "OAuth.oauthrequest");
    oauthConsumerCFC = CreateObject("component", "OAuth.oauthconsumer");
    oauthTokenCFC = CreateObject("component", "OAuth.oauthtoken");

    oTwitterConsumer = oauthConsumerCFC.init(sKey = MyConsumerKey, sSecret = MyConsumerSecret);

    ParamsStruct = StructNew();
   
	ParamsStruct['screen_name'] = "MyBabbleSphere";
	ParamsStruct['text'] = "Hello ZZ03"; 

    oTwitterAccessToken = oauthTokenCFC.init(sKey = MyAccessToken, sSecret = MyAccessSecret);

    //create request
    oTwitterReqest = oauthRequestCFC.fromConsumerAndToken(
        oConsumer   : oTwitterConsumer,
        oToken      : oTwitterAccessToken,
        sHttpMethod : "POST",
        sHttpURL    : 'https://api.twitter.com/1.1/direct_messages/new.json',
        stParameters: ParamsStruct
    );

    //sign request
    oTwitterReqest.signRequest(
        oSignatureMethod    : oauthSigMethodSHA,
        oConsumer           : oTwitterConsumer,
        oToken              : oTwitterAccessToken
    );
</cfscript>

<cfhttp method="POST" url="#oTwitterReqest.getString()#" result="result" throwonerror="yes" charset="utf-8" redirect="no">
    <cfhttpparam type="header" name="screen_name" value="MyBabbleSphere"> <!--- Only here because cfhttp POST REQUIRES at least one cfhttpparam - the actual data is on the URL of the REST request --->
</cfhttp>

<!---
<cfhttp method="POST" url="https://api.twitter.com/1.1/direct_messages/new.json?oauth_consumer_key=almn3QLSko3h32lAyDfkZpQ12&oauth_nonce=2E94C66D592F177B33246BE30D7019923007A188&oauth_signature=XDo3W6n3G5mUtCyO2CoqwiSo9Oo%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1427153182&oauth_token=3100182578-T8WPVFV5eOq0SzJhM2HQdfpvIHvujIU8eSDmMVo&oauth_version=1.0&screen_name=1&text=Welcome%20to%20the%20EBM-OTT%20interactive%20response%20engine%20demo.%20Try%20some%20of%20the%20sample%20interactions..." result="result" throwonerror="yes" charset="utf-8" redirect="no">
    <cfhttpparam name="Accept" type="header" value="application/json" />	
</cfhttp>--->

<BR>
 dataoutProcessNextResponseSMS.MTREQUEST=https://api.twitter.com/1.1/direct_messages/new.json?oauth_consumer_key=almn3QLSko3h32lAyDfkZpQ12&oauth_nonce=2E94C66D592F177B33246BE30D7019923007A188&oauth_signature=XDo3W6n3G5mUtCyO2CoqwiSo9Oo%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1427153182&oauth_token=3100182578-T8WPVFV5eOq0SzJhM2HQdfpvIHvujIU8eSDmMVo&oauth_version=1.0&screen_name=1&text=Welcome%20to%20the%20EBM-OTT%20interactive%20response%20engine%20demo.%20Try%20some%20of%20the%20sample%20interactions...
<HR> 

<cfdump var="#result#">

<BR>
<cfoutput>
	#oTwitterReqest.getString()#        
    <HR>
    <BR>
    
    #result.Filecontent#        
                  
</cfoutput>
	