


<cfquery name="GetNumbersCount" datasource="Bishop">
    SELECT 
		IREResultsId_bi,
		ContactString_vch
	FROM 
        simplexresults.ireresults
    WHERE
    	userid_int = 634
	AND
		IREType_int= 2  		       		
    AND
    	Created_dt >= '2016-11-01'
    AND
        Created_dt <= '2016-12-01'	
    AND
    	CarrierId_int = 0        
</cfquery>


<cfoutput>
<cfloop query="GetNumbersCount">
	
	GetNumbersCount.IREResultsId_bi = #GetNumbersCount.IREResultsId_bi#
	<br>
	
	
	<cfquery name="GetCarrier" datasource="Bishop">
	    SELECT CarrierId_int FROM simplexresults.ireresults WHERE IREType_int= 1 AND ContactString_vch = '#GetNumbersCount.ContactString_vch#' AND CarrierId_int > 0 LIMIT 1    
	</cfquery>

	New Carrier is #GetCarrier.CarrierId_int#
	<BR>
	
	
	<cfquery name="UpdateCarrier" datasource="Bishop">
	  	UPDATE simplexresults.ireresults
	   		SET  
	    	CarrierId_int = #GetCarrier.CarrierId_int#
	    WHERE
	    	IREResultsId_bi = #GetNumbersCount.IREResultsId_bi#    
	</cfquery>
	
	

	
</cfloop>	
</cfoutput>