/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    codemirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-light.codemirror {background: #f5f5f5; color: #202020;}
.cm-s-base16-light div.codemirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-light .codemirror-gutters {background: #f5f5f5; border-right: 0px;}
.cm-s-base16-light .codemirror-linenumber {color: #b0b0b0;}
.cm-s-base16-light .codemirror-cursor {border-left: 1px solid #505050 !important;}

.cm-s-base16-light span.cm-comment {color: #8f5536;}
.cm-s-base16-light span.cm-atom {color: #aa759f;}
.cm-s-base16-light span.cm-number {color: #aa759f;}

.cm-s-base16-light span.cm-property, .cm-s-base16-light span.cm-attribute {color: #90a959;}
.cm-s-base16-light span.cm-keyword {color: #ac4142;}
.cm-s-base16-light span.cm-string {color: #f4bf75;}

.cm-s-base16-light span.cm-variable {color: #90a959;}
.cm-s-base16-light span.cm-variable-2 {color: #6a9fb5;}
.cm-s-base16-light span.cm-def {color: #d28445;}
.cm-s-base16-light span.cm-bracket {color: #202020;}
.cm-s-base16-light span.cm-tag {color: #ac4142;}
.cm-s-base16-light span.cm-link {color: #aa759f;}
.cm-s-base16-light span.cm-error {background: #ac4142; color: #505050;}

.cm-s-base16-light .codemirror-activeline-background {background: #DDDCDC !important;}
.cm-s-base16-light .codemirror-matchingbracket { text-decoration: underline; color: white !important;}
