/* Port of TextMate's Blackboard theme */

.cm-s-blackboard.codemirror { background: #0C1021; color: #F8F8F8; }
.cm-s-blackboard .codemirror-selected { background: #253B76 !important; }
.cm-s-blackboard .codemirror-gutters { background: #0C1021; border-right: 0; }
.cm-s-blackboard .codemirror-linenumber { color: #888; }
.cm-s-blackboard .codemirror-cursor { border-left: 1px solid #A7A7A7 !important; }

.cm-s-blackboard .cm-keyword { color: #FBDE2D; }
.cm-s-blackboard .cm-atom { color: #D8FA3C; }
.cm-s-blackboard .cm-number { color: #D8FA3C; }
.cm-s-blackboard .cm-def { color: #8DA6CE; }
.cm-s-blackboard .cm-variable { color: #FF6400; }
.cm-s-blackboard .cm-operator { color: #FBDE2D;}
.cm-s-blackboard .cm-comment { color: #AEAEAE; }
.cm-s-blackboard .cm-string { color: #61CE3C; }
.cm-s-blackboard .cm-string-2 { color: #61CE3C; }
.cm-s-blackboard .cm-meta { color: #D8FA3C; }
.cm-s-blackboard .cm-builtin { color: #8DA6CE; }
.cm-s-blackboard .cm-tag { color: #8DA6CE; }
.cm-s-blackboard .cm-attribute { color: #8DA6CE; }
.cm-s-blackboard .cm-header { color: #FF6400; }
.cm-s-blackboard .cm-hr { color: #AEAEAE; }
.cm-s-blackboard .cm-link { color: #8DA6CE; }
.cm-s-blackboard .cm-error { background: #9D1E15; color: #F8F8F8; }

.cm-s-blackboard .codemirror-activeline-background {background: #3C3636 !important;}
.cm-s-blackboard .codemirror-matchingbracket {outline:1px solid grey;color:white !important}