@font-face {
	font-family: 'linecons';
	src:url('../fonts/linecons/linecons.eot');
	src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff') format('woff'),
		url('../fonts/linecons/linecons.ttf') format('truetype'),
		url('../fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}


.menu-icon-dark {
	color:#000;	
}
.menu-icon:before {
	font-family: 'linecons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}
.menu-icon-female:before {
	content: "\f182";
}
.menu-icon-male:before {
	content: "\f183";
}
.menu-icon-arrow-left:before {
	content: "\e032";
}
.menu-icon-arrow-left-2:before {
	content: "\e034";
}
.menu-icon-arrow-left-3:before {
	content: "\e036";
}
.menu-icon-arrow-left-4:before {
	content: "\e038";
}
.menu-icon-arrow-right:before {
	content: "\e035";
}
.menu-icon-arrow-right-2:before {
	content: "\e037";
}
.menu-icon-arrow-right-3:before {
	content: "\e039";
}
.menu-icon-arrow-right-4:before {
	content: "\e033";
}

.menu-icon-phone:before {
	content: "\e000";
}
.menu-icon-news:before {
	content: "\e001";
}
.menu-icon-photo:before {
	content: "\e002";
}
.menu-icon-shop:before {
	content: "\e003";
}
.menu-icon-wallet:before {
	content: "\e004";
}
.menu-icon-t-shirt:before {
	content: "\e005";
}
.menu-icon-heart:before {
	content: "\e006";
}
.menu-icon-cloud:before {
	content: "\e007";
}
.menu-icon-display:before {
	content: "\e008";
}
.menu-icon-diamond:before {
	content: "\e009";
}
.menu-icon-banknote:before {
	content: "\e00a";
}
.menu-icon-data:before {
	content: "\e00b";
}
.menu-icon-music:before {
	content: "\e00c";
}
.menu-icon-location:before {
	content: "\e00d";
}
.menu-icon-star:before {
	content: "\e00e";
}
.menu-icon-tv:before {
	content: "\e00f";
}
.menu-icon-eye:before {
	content: "\e010";
}
.menu-icon-megaphone:before {
	content: "\e011";
}
.menu-icon-study:before {
	content: "\e012";
}
.menu-icon-bubble:before {
	content: "\e013";
}
.menu-icon-sound:before {
	content: "\e014";
}
.menu-icon-video:before {
	content: "\e015";
}
.menu-icon-stack:before {
	content: "\e016";
}
.menu-icon-lab:before {
	content: "\e017";
}
.menu-icon-food:before {
	content: "\e018";
}
.menu-icon-cup:before {
	content: "\e019";
}
.menu-icon-trash:before {
	content: "\e01a";
}
.menu-icon-user:before {
	content: "\e01b";
}
.menu-icon-key:before {
	content: "\e01c";
}
.menu-icon-fire:before {
	content: "\e01d";
}
.menu-icon-clip:before {
	content: "\e01e";
}
.menu-icon-mail:before {
	content: "\e01f";
}
.menu-icon-search:before {
	content: "\e020";
}
.menu-icon-settings:before {
	content: "\e021";
}
.menu-icon-like:before {
	content: "\e022";
}
.menu-icon-calendar:before {
	content: "\e023";
}
.menu-icon-camera:before {
	content: "\e024";
}
.menu-icon-tag:before {
	content: "\e025";
}
.menu-icon-note:before {
	content: "\e026";
}
.menu-icon-clock:before {
	content: "\e027";
}
.menu-icon-lock:before {
	content: "\e028";
}
.menu-icon-vynil:before {
	content: "\e029";
}
.menu-icon-truck:before {
	content: "\e02a";
}
.menu-icon-paperplane:before {
	content: "\e02b";
}
.menu-icon-bulb:before {
	content: "\e02c";
}
.menu-icon-pen:before {
	content: "\e02d";
}
.menu-icon-params:before {
	content: "\e02e";
}
.menu-icon-world:before {
	content: "\e02f";
}

.menu-icon-agent:before {
	background: url(../images/m1/agenticoniii.png) no-repeat center;
	height: 20px;
	width: 25px;
}
