/* @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
*/

body {
}

.mp-menu a {
	text-decoration: none;
	color: #f7f7f7;
	outline: none;
}

.mp-menu a:hover, .mp-menu a:focus {
	color: #fff;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	background: rgba(0,0,0,0.01);
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	background: #91cfa1;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 1.1em;
}

.codrops-demos a {
	display: block;
	float: left;
	clear: both;
	margin: 0.5em 0.5em 0.5em 1.9em;
	padding: 1em 1.1em;
	width: 280px;
	outline: none;
	color: #fff;
	background: #336ca6;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	opacity: 0.6;
}

.content {
	padding: 4em 2em;
	max-width: 1200px;
	margin: 0 auto;
}

.block {
	float: left;
	padding: 1em 3em;
}

.block-40 {
	width: 40%;
}

.block-60 {
	width: 60%;
}

.block p {
	margin: 0;
	padding: 0 1em 0.6em;
	font-size: 1.8em;
	line-height: 1.5;
}

.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding-top: 3em;
	color: rgba(255,255,255,0.5);
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}

.info a:hover {
	color: #336ca6;
}

@media screen and (max-width: 69em) {
	.block {
		float: none;
		width: 100% !important;
		padding: 1em;
	}
}

@media screen and (max-width: 25em) {

	body {
		font-size: 80%;
	}

	.codrops-icon span {
		display: none;
	}

}


/* CUSTOM */
.bar-title {
	height: 40px;
	z-index: 9999;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	color: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	background: #00a1e0;
	background: -moz-linear-gradient(top,#00a1e0 0,#008bc9 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a1e0),color-stop(100%,#008bc9));
	background: -webkit-linear-gradient(top,#00a1e0 0,#008bc9 100%);
	background: -o-linear-gradient(top,#00a1e0 0,#008bc9 100%);
	background: -ms-linear-gradient(top,#00a1e0 0,#008bc9 100%);
	background: linear-gradient(to bottom,#00a1e0 0,#008bc9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a1e0',endColorstr='#008bc9',GradientType=0);
}
.menu-trigger {
	font-size: 0.9em;
    margin: 5px 5px 0 5px;
	position: relative;
	width: 30px;
	height: 30px;
/*	top: 0px;
	left: 10px;*/
}
.menu-trigger:before {
	background: none repeat scroll 0 0 #fff;
    box-shadow: 0 3px #238acb, 0 6px #fff, 0 9px #238acb, 0 12px #fff;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 20px;	
}
.mp-menu h2 {
	color: #fff;
	font-size: 1em;
    border-bottom: 1px solid #7a8898;
}
.mp-menu .slogan {
	font-size: 1em;
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;
}
.scroller {
	padding-top: 0px;
	position:relative;
}
.wrapper {
	overflow: hidden;
    position: absolute;
	top:0px;
	left:30px;
	height: 100%;
	width:100%;
	min-width:900px;
}
.mp-menu ul li > a {
	color: #FFF;
	font-size: 1em;
	padding: 1em 1em 1em 2em;
}
.mp-pusher.mp-pushed:after, .mp-level.mp-level-overlay:after {
	opacity: 0;
}
.mp-level {
	background: #238acb; /* // 334454 0085c8  118acf 0888d1 539bc3 5084d1 238acb*/
}
.mp-menu ul li > a {
	box-shadow: none;
	border-bottom: 1px solid #0c6599;
	
	/* 1a2530 0c6599  */
	
}
.mp-menu ul li {
	border-bottom: 1px solid #7a8898;
	
	/* 7a8898 0c6599  */
}
.mp-menu ul li:before {
	line-height: 3.8em;
	left: 5px;
	color: #ddd;
	font-size: 0.8em;
}
a:link.mp-back, .a.mp-back, a.mp-back:hover, a.mp-back:visited, a.mp-back:active {
	color: #fff;
    border-bottom: 1px solid #7a8898;
    font-size: 0.8em;
}

.mp-header{
	color: #fff;
    border-bottom: 1px solid #7a8898;
    font-size: 0.8em;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset;   
}


.mp-header::after {
	font-family: 'linecons';
	position: absolute;
	content: "\e025";
	right: 10px;
	font-size: 1.3em;
	color: rgba(0,0,0,0.3);
}


.mp-menu.mp-overlap h2:before {
	font-size: 95%;
}
.mp-menu .mp-level.mp-level-overlay h2, .mp-menu .mp-level.mp-level-overlay .mp-back, .mp-menu .mp-level.mp-level-overlay > ul > li, .mp-menu .mp-level.mp-level-overlay > ul > li > a, .mp-level.mp-level-overlay > ul > li:first-child > a {
	border-color: transparent;
}
.mp-back:after {
	color: #ddd;
}
.icon:before  {
	line-height: 2em;
}

#headContent {
	color: rgb(21, 67, 108);
}

#triggercontainer
{
	background: #238acb; /* Old browsers */
}
