'<table width="100%" class="ui-widget-content ui-jqgrid" cellpadding="2px;">'+
'<tr>'+
'	<td align="left">   '+
'<table class="ui-pg-table" class="ui-corner-all"><tr><td>'+
<!---'	     <p style="display:inline;"><lable style="margin-left:5px; margin-right:5px; text-align:right;">Enable Autosearch</lable><input TYPE="checkbox" id="autosearch" onclick="enableAutosubmit(this.checked)" style="margin-top:5px; float:left;" class="ui-corner-all"></p> '+--->
'        <p style="display:inline;"><lable style="margin-left:15px; margin-right:5px; text-align:right;">ID Filter</lable><input TYPE="text" id="search_userid" onkeydown="doSearch(arguments[0]||event)" class="ui-corner-all"/></p>'+
'		 <p style="display:inline;"><lable style="margin-left:15px; margin-right:5px; text-align:right;">User Name Filter</lable><input TYPE="text" id="search_username" onkeydown="doSearch(arguments[0]||event)" class="ui-corner-all"/></p>'+
'</td></tr></table>'+
'	</td>'+
'<td>'+
'    <div id="loading">'+
'        <img src="<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading-small.gif" width="32" height="32">'+
'    </div>'+
'</td>'+
'</tr>'+
'</table> '





