<cfparam name="inpShowPauseOption" default="1">    

<cfparam name="SUNDAY_TI" TYPE="string" default="1">
<cfparam name="MONDAY_TI" TYPE="string" default="1">
<cfparam name="TUESDAY_TI" TYPE="string" default="1">
<cfparam name="WEDNESDAY_TI" TYPE="string" default="1">
<cfparam name="THURSDAY_TI" TYPE="string" default="1">
<cfparam name="FRIDAY_TI" TYPE="string" default="1">
<cfparam name="SATURDAY_TI" TYPE="string" default="1">
<cfparam name="STARTMINUTE_TI" TYPE="string" default="0">
<cfparam name="ENDMINUTE_TI" TYPE="string" default="0">
<cfparam name="BLACKOUTSTARTHOUR_TI" TYPE="string" default="0">
<cfparam name="BLACKOUTENDHOUR_TI" TYPE="string" default="0">
<cfparam name="ENABLED_TI" TYPE="string" default="1"> 

<cfoutput>
	<input TYPE="hidden" name="LOOPLIMIT_INT" id="LOOPLIMIT_INT" value="100" /> 

       
    	        
        <div style="display:block; clear:both; width:300px; padding:5px;">
            <div style="float:left; min-width:145px;">
		        <label>Start Minute</label>
                <select name="STARTMINUTE_TI" id="STARTMINUTE_TI" size="1" style="width:90px;" title="Calls in queue will be eligible to start after this minute is reached during the Start Hour."> 
                    <option value="0" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# LTE 0>selected="selected"</cfif>>0</option> 
                    <option value="1" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 1>selected="selected"</cfif>>1</option>
                    <option value="2" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 2>selected="selected"</cfif>>2</option>
                    <option value="3" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 3>selected="selected"</cfif>>3</option>
                    <option value="4" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 4>selected="selected"</cfif>>4</option>
                    <option value="5" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 5>selected="selected"</cfif>>5</option>
                    <option value="6" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 6>selected="selected"</cfif>>6</option>
                    <option value="7" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 7>selected="selected"</cfif>>7</option>
                    <option value="8" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 8>selected="selected"</cfif>>8</option>
                    <option value="9" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 9>selected="selected"</cfif>>9</option>
                    <option value="10" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 10>selected="selected"</cfif>>10</option>
                    <option value="11" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 11>selected="selected"</cfif>>11</option>
                    <option value="12" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 12>selected="selected"</cfif>>12 </option>
                    <option value="13" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 13>selected="selected"</cfif>>13</option>
                    <option value="14" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 14>selected="selected"</cfif>>14</option>
                    <option value="15" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 15>selected="selected"</cfif>>15</option>
                    <option value="16" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 16>selected="selected"</cfif>>16</option>
                    <option value="17" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 17>selected="selected"</cfif>>17</option>
                    <option value="18" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 18>selected="selected"</cfif>>18</option>
                    <option value="19" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 19>selected="selected"</cfif>>19</option>
                    <option value="20" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 20>selected="selected"</cfif>>20</option>
                    <option value="21" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 21>selected="selected"</cfif>>21</option>
                    <option value="22" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 22>selected="selected"</cfif>>22</option>
                    <option value="23" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 23>selected="selected"</cfif>>23</option>
                    <option value="24" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 24>selected="selected"</cfif>>24</option>
                    <option value="25" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 25>selected="selected"</cfif>>25</option>
                    <option value="26" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 26>selected="selected"</cfif>>26</option>
                    <option value="27" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 27>selected="selected"</cfif>>27</option>
                    <option value="28" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 28>selected="selected"</cfif>>28</option>
                    <option value="29" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 29>selected="selected"</cfif>>29</option>
                    <option value="30" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 30>selected="selected"</cfif>>30</option>
                    <option value="31" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 31>selected="selected"</cfif>>31</option>
                    <option value="32" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 32>selected="selected"</cfif>>32</option>
                    <option value="33" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 33>selected="selected"</cfif>>33</option>
                    <option value="34" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 34>selected="selected"</cfif>>34</option>
                    <option value="35" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 35>selected="selected"</cfif>>35</option>
                    <option value="36" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 36>selected="selected"</cfif>>36</option>
                    <option value="37" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 37>selected="selected"</cfif>>37</option>
                    <option value="38" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 38>selected="selected"</cfif>>38</option>
                    <option value="39" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 39>selected="selected"</cfif>>39</option>
                    <option value="40" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 40>selected="selected"</cfif>>40</option>
                    <option value="41" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 41>selected="selected"</cfif>>41</option>
                    <option value="42" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 42>selected="selected"</cfif>>42</option>
                    <option value="43" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 43>selected="selected"</cfif>>43</option>
                    <option value="44" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 44>selected="selected"</cfif>>44</option>
                    <option value="45" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 45>selected="selected"</cfif>>45</option>
                    <option value="46" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 46>selected="selected"</cfif>>46</option>
                    <option value="47" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 47>selected="selected"</cfif>>47</option>
                    <option value="48" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 48>selected="selected"</cfif>>48</option>
                    <option value="49" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 49>selected="selected"</cfif>>49</option>
                    <option value="50" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 50>selected="selected"</cfif>>50</option>
                    <option value="51" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 51>selected="selected"</cfif>>51</option>
                    <option value="52" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 52>selected="selected"</cfif>>52</option>
                    <option value="53" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 53>selected="selected"</cfif>>53</option>
                    <option value="54" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 54>selected="selected"</cfif>>54</option>
                    <option value="55" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 55>selected="selected"</cfif>>55</option>
                    <option value="56" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 56>selected="selected"</cfif>>56</option>
                    <option value="57" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 57>selected="selected"</cfif>>57</option>
                    <option value="58" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 58>selected="selected"</cfif>>58</option>
                    <option value="59" class="MinuteSelectOption" <cfif #STARTMINUTE_TI# EQ 59>selected="selected"</cfif>>59</option>
                </select>        
            </div>
     
            <div style="float:right; min-width:145px;">
                <label>End Minute</label>
                <select name="ENDMINUTE_TI" id="ENDMINUTE_TI" size="1" style="width:90px;" title="Calls still in queue after this minute (After the Stop Hour) will carry over until tommorow's start hour."> 
                    <option value="0" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# LTE 0>selected="selected"</cfif>>0</option> 
                    <option value="1" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 1>selected="selected"</cfif>>1</option>
                    <option value="2" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 2>selected="selected"</cfif>>2</option>
                    <option value="3" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 3>selected="selected"</cfif>>3</option>
                    <option value="4" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 4>selected="selected"</cfif>>4</option>
                    <option value="5" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 5>selected="selected"</cfif>>5</option>
                    <option value="6" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 6>selected="selected"</cfif>>6</option>
                    <option value="7" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 7>selected="selected"</cfif>>7</option>
                    <option value="8" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 8>selected="selected"</cfif>>8</option>
                    <option value="9" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 9>selected="selected"</cfif>>9</option>
                    <option value="10" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 10>selected="selected"</cfif>>10</option>
                    <option value="11" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 11>selected="selected"</cfif>>11</option>
                    <option value="12" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 12>selected="selected"</cfif>>12 </option>
                    <option value="13" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 13>selected="selected"</cfif>>13</option>
                    <option value="14" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 14>selected="selected"</cfif>>14</option>
                    <option value="15" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 15>selected="selected"</cfif>>15</option>
                    <option value="16" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 16>selected="selected"</cfif>>16</option>
                    <option value="17" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 17>selected="selected"</cfif>>17</option>
                    <option value="18" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 18>selected="selected"</cfif>>18</option>
                    <option value="19" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 19>selected="selected"</cfif>>19</option>
                    <option value="20" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 20>selected="selected"</cfif>>20</option>
                    <option value="21" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 21>selected="selected"</cfif>>21</option>
                    <option value="22" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 22>selected="selected"</cfif>>22</option>
                    <option value="23" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 23>selected="selected"</cfif>>23</option>
                    <option value="24" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 24>selected="selected"</cfif>>24</option>
                    <option value="25" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 25>selected="selected"</cfif>>25</option>
                    <option value="26" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 26>selected="selected"</cfif>>26</option>
                    <option value="27" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 27>selected="selected"</cfif>>27</option>
                    <option value="28" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 28>selected="selected"</cfif>>28</option>
                    <option value="29" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 29>selected="selected"</cfif>>29</option>
                    <option value="30" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 30>selected="selected"</cfif>>30</option>
                    <option value="31" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 31>selected="selected"</cfif>>31</option>
                    <option value="32" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 32>selected="selected"</cfif>>32</option>
                    <option value="33" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 33>selected="selected"</cfif>>33</option>
                    <option value="34" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 34>selected="selected"</cfif>>34</option>
                    <option value="35" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 35>selected="selected"</cfif>>35</option>
                    <option value="36" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 36>selected="selected"</cfif>>36</option>
                    <option value="37" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 37>selected="selected"</cfif>>37</option>
                    <option value="38" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 38>selected="selected"</cfif>>38</option>
                    <option value="39" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 39>selected="selected"</cfif>>39</option>
                    <option value="40" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 40>selected="selected"</cfif>>40</option>
                    <option value="41" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 41>selected="selected"</cfif>>41</option>
                    <option value="42" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 42>selected="selected"</cfif>>42</option>
                    <option value="43" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 43>selected="selected"</cfif>>43</option>
                    <option value="44" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 44>selected="selected"</cfif>>44</option>
                    <option value="45" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 45>selected="selected"</cfif>>45</option>
                    <option value="46" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 46>selected="selected"</cfif>>46</option>
                    <option value="47" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 47>selected="selected"</cfif>>47</option>
                    <option value="48" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 48>selected="selected"</cfif>>48</option>
                    <option value="49" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 49>selected="selected"</cfif>>49</option>
                    <option value="50" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 50>selected="selected"</cfif>>50</option>
                    <option value="51" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 51>selected="selected"</cfif>>51</option>
                    <option value="52" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 52>selected="selected"</cfif>>52</option>
                    <option value="53" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 53>selected="selected"</cfif>>53</option>
                    <option value="54" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 54>selected="selected"</cfif>>54</option>
                    <option value="55" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 55>selected="selected"</cfif>>55</option>
                    <option value="56" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 56>selected="selected"</cfif>>56</option>
                    <option value="57" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 57>selected="selected"</cfif>>57</option>
                    <option value="58" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 58>selected="selected"</cfif>>58</option>
                    <option value="59" class="MinuteSelectOption" <cfif #ENDMINUTE_TI# EQ 59>selected="selected"</cfif>>59</option>
                </select>  
            </div>            
        </div>
        
             
        <div style="display:block; clear:both; width:300px; padding:5px;">

            <div style="float:left; min-width:145px;">
		        <label>Blackout Start Hour</label>
                <select name="BLACKOUTSTARTHOUR_TI" id="BLACKOUTSTARTHOUR_TI" size="1" style="width:90px;" title="Calls in queue will stop going out when this hour starts and will either carry over until next day or restart after Blackout End hour is over. Can be the same as Blackout End Hour."> 
                    <option value="0" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# LTE 0>selected="selected"</cfif>>NONE</option>
					<cfif Session.AfterHours GT 0>
                        <option value="1" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 1>selected="selected"</cfif>>1 AM</option>
                        <option value="2" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 2>selected="selected"</cfif>>2 AM</option>
                        <option value="3" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 3>selected="selected"</cfif>>3 AM</option>
                        <option value="4" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 4>selected="selected"</cfif>>4 AM</option>
                        <option value="5" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 5>selected="selected"</cfif>>5 AM</option>
                        <option value="6" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 6>selected="selected"</cfif>>6 AM</option>
                        <option value="7" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 7>selected="selected"</cfif>>7 AM</option>
                        <option value="8" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 8>selected="selected"</cfif>>8 AM</option>
                    </cfif>
                    
                    <option value="9" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 9>selected="selected"</cfif>>9 AM</option>
                    <option value="10" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 10>selected="selected"</cfif>>10 AM</option>
                    <option value="11" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 11>selected="selected"</cfif>>11 AM</option>
                    <option value="12" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 12>selected="selected"</cfif>>12 PM </option>
                    <option value="13" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 13>selected="selected"</cfif>>1  PM</option>
                    <option value="14" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 14>selected="selected"</cfif>>2  PM</option>
                    <option value="15" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 15>selected="selected"</cfif>>3  PM</option>
                    <option value="16" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 16>selected="selected"</cfif>>4  PM</option>
                    <option value="17" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 17>selected="selected"</cfif>>5  PM</option>
                    <option value="18" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 18>selected="selected"</cfif>>6  PM</option>
                    <option value="19" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 19>selected="selected"</cfif>>7  PM</option>
                    <option value="20" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 20>selected="selected"</cfif>>8  PM</option>
                    <option value="21" class="HourSelectOption" <cfif #BLACKOUTSTARTHOUR_TI# EQ 21>selected="selected"</cfif>>9  PM</option>
                    
                    <cfif Session.AfterHours GT 0>
                        <option value="22" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 22>selected="selected"</cfif>>10 PM</option>
                        <option value="23" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 23>selected="selected"</cfif>>11 PM</option>
                        <option value="24" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTSTARTHOUR_TI# EQ 24>selected="selected"</cfif>>12 AM</option>
                    </cfif>
                </select> 
            </div>
     
            <div style="float:right; min-width:145px;">
                <label>Blackout End Hour</label>
                <select name="BLACKOUTENDHOUR_TI" id="BLACKOUTENDHOUR_TI" size="1" style="width:90px;" title="Calls in queue will continue to go out after this hour is over. Can be the same as Blackout Start Hour."> 
                   <option value="0" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# LTE 0>selected="selected"</cfif>>NONE</option>
				   <cfif Session.AfterHours GT 0>
                        <option value="1" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 1>selected="selected"</cfif>>1 AM</option>
                        <option value="2" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 2>selected="selected"</cfif>>2 AM</option>
                        <option value="3" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 3>selected="selected"</cfif>>3 AM</option>
                        <option value="4" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 4>selected="selected"</cfif>>4 AM</option>
                        <option value="5" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 5>selected="selected"</cfif>>5 AM</option>
                        <option value="6" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 6>selected="selected"</cfif>>6 AM</option>
                        <option value="7" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 7>selected="selected"</cfif>>7 AM</option>
                        <option value="8" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 8>selected="selected"</cfif>>8 AM</option>
                    </cfif>
                    
                    <option value="9" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 9>selected="selected"</cfif>>9 AM</option>
                    <option value="10" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 10>selected="selected"</cfif>>10 AM</option>
                    <option value="11" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 11>selected="selected"</cfif>>11 AM</option>
                    <option value="12" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 12>selected="selected"</cfif>>12 PM </option>
                    <option value="13" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 13>selected="selected"</cfif>>1  PM</option>
                    <option value="14" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 14>selected="selected"</cfif>>2  PM</option>
                    <option value="15" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 15>selected="selected"</cfif>>3  PM</option>
                    <option value="16" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 16>selected="selected"</cfif>>4  PM</option>
                    <option value="17" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 17>selected="selected"</cfif>>5  PM</option>
                    <option value="18" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 18>selected="selected"</cfif>>6  PM</option>
                    <option value="19" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 19>selected="selected"</cfif>>7  PM</option>
                    <option value="20" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 20>selected="selected"</cfif>>8  PM</option>
                    <option value="21" class="HourSelectOption" <cfif #BLACKOUTENDHOUR_TI# EQ 21>selected="selected"</cfif>>9  PM</option>
                    
                    <cfif Session.AfterHours GT 0>
                        <option value="22" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 22>selected="selected"</cfif>>10 PM</option>
                        <option value="23" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 23>selected="selected"</cfif>>11 PM</option>
                        <option value="24" class="HourSelectOptionOutOfRange" <cfif #BLACKOUTENDHOUR_TI# EQ 24>selected="selected"</cfif>>12 AM</option>
                    </cfif>
                </select>  
            </div>                          
        
        </div>                
            
        <div id="DayOfWeekSelection" style="display:block; clear:both; width:300px; margin: 5px 0 5px 0; padding:5px;" >
                  
        	<div id="Group1" style="float:left; min-width:145px; text-align:left;">        				
                <input TYPE="checkbox" name="SUNDAY_TI" id="SUNDAY_TI" class="checkboxInline" value="1" style="display:inline;" <cfif #SUNDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
                <label title="Queued calls will be dialed on any day of the week that is checked." style="display:inline;">Sunday</label>
                <br />                
                <input TYPE="checkbox" name="MONDAY_TI" id="MONDAY_TI" class="checkboxInline" style="display:inline;" value="1" <cfif #MONDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
                <label title="Queued calls will be dialed on any day of the week that is checked."  style="display:inline;">Monday</label>
                <br />                
                <input TYPE="checkbox" name="TUESDAY_TI" id="TUESDAY_TI" class="checkboxInline" style="display:inline;" value="1" <cfif #TUESDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
                <label title="Queued calls will be dialed on any day of the week that is checked." style="display:inline;">Tuesday</label>
                <br />                
                <input TYPE="checkbox" name="WEDNESDAY_TI" id="WEDNESDAY_TI" class="checkboxInline"  style="display:inline;" value="1" <cfif #WEDNESDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
				<label title="Queued calls will be dialed on any day of the week that is checked."  style="display:inline;">Wednesday</label>
	            <br /> 
                <br />   
			</div>
            
			<div id="Group2" style="float:right; min-width:145px; text-align:left;">
                <input TYPE="checkbox" name="THURSDAY_TI" id="THURSDAY_TI" class="checkboxInline" style="display:inline;" value="1" <cfif #THURSDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
                <label title="Queued calls will be dialed on any day of the week that is checked." style="display:inline;">Thursday</label>
                <br />
                <input TYPE="checkbox" name="FRIDAY_TI" id="FRIDAY_TI" class="checkboxInline" style="display:inline;" value="1" <cfif #FRIDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
                <label title="Queued calls will be dialed on any day of the week that is checked." style="display:inline;">Friday</label>
                <br />                
                <input TYPE="checkbox" name="SATURDAY_TI" id="SATURDAY_TI" class="checkboxInline" style="display:inline;" value="1" <cfif #SATURDAY_TI# gt 0>checked</cfif> title="Queued calls will be dialed on any day of the week that is checked."/> 
                <label title="Queued calls will be dialed on any day of the week that is checked." style="display:inline;">Saturday</label>
                <br />
        		<br />
                <br />
        	</div>
		</div>
        
        <cfif inpShowPauseOption GT 0>
        	<!--- Display as a pause option - value is inverted = check needs to by set to off and unchecked to on--->
            <div style="display:block; clear:both; margin: 5px 0 5px 5px; width:300px; text-align:left;" >                   
                <input TYPE="checkbox" name="ENABLED_TI" id="ENABLED_TI" value="1" class="checkboxInline" style="display:inline;" <cfif #ENABLED_TI# gt 0>checked</cfif> /> 
                <label style="display:inline;">Pause</label><span class="small" style="display:inline;">Pauses a running batch of calls still left in the queue. Calls will remain in queue and may be restarted until call end date.</span>
            </div>
        <cfelse>
        	<!--- On by default --->
            <div style="display:block; clear:both; margin: 5px 0 5px 5px; width:300px; text-align:left;" >  
	        	<input TYPE="hidden" name="ENABLED_TI" id="ENABLED_TI" value="1" />
            </div>    
        </cfif>
        
       
	
    
</cfoutput>    