.CommSection {
    width: 500px;
    padding-top: 30px;
}
.CommSection .item {
	min-height: 35px;
	float: left;
	clear: left;
}

 .CommSection .item2 {
	float: left;
	clear: none;
}

.CommSection label {
	color: #494949;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
}

.CommSection input[type=text] {
	border: 1px solid #BFCED7;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    margin: 2px 0 0 10px;
    padding: 4px 2px;
    width: 360px;
}

.CommSection input[type=file] {
    margin: 2px 0 0 10px;
}
#imgPreview,#audioPreview{
	padding: 10px 0 10px 10px;
}
.CommSection textarea {
	border: 1px solid #BFCED7;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    height: 70px;
    margin: 2px 0 10px 10px;
    padding: 4px 8px;
    resize: none;
    width: 350px;
}

.CommSection .content {
	float: left;
}

.CommSection .content input {
	float: none;
}
.CommSection .CommFacebookTypeArea{
	border: 1px solid #BFCED7;
    border-radius: 10px;
    margin: 25px 0 0 20px;
    width: 100%;
}

.CommSection button.inpLoadBabble{
    border: 0 none;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
    padding-bottom: 7px;
    padding-top: 3px;
}
.CommSection button.inpLoadBabble:hover{
    color: #E7FF92;
}
.inpLoadBabble {
    background: url("../images/button.gif") repeat scroll center center transparent;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    margin-right: 5px;
    text-align: center;
    width: 46px;
}