<!---<cfinclude template="config.cfm">--->
<cfset SESSION.userId = 1 />
<cfinclude template="lib/jsonencode.cfm">
<cfscript>
	retVal = StructNew();
	retVal.success = true;
	retVal.message = "Add lib success";
</cfscript>
	<cfset desc = label /> 
	<cfquery name="getScript" datasource="#application.datasource#">
		SELECT DSId_int, UserId_int, Desc_vch
		FROM #application.database#.dynamicscript
		WHERE UserId_int='#SESSION.userId#'
		AND Desc_vch='#desc#'
		AND Active_int='1'
	</cfquery>
		<cfif getScript.RecordCount>
			<cfscript>
				retVal.success = false;
				retVal.message = "Lib is existed. Please choose other lib label.";
			</cfscript>
		<cfelse>
			<cfquery name="libInsert" datasource="#application.datasource#">  
				INSERT INTO #application.database#.dynamicscript (UserId_int, Active_int, Desc_vch)
				VALUES('2', '1', '#desc#')
			</cfquery>
		</cfif>
<cfoutput>#jsonencode(retVal)#</cfoutput>