<!---<cfinclude template="config.cfm">--->
<cfset SESSION.userId = 1 />
<cfinclude template="lib/jsonencode.cfm">
<cfscript>
	retVal = StructNew();
	retVal.success = true;
	retVal.message = "Add node success";
</cfscript>
	<cfset user = username /> 
	<cfset pass = password /> 
	<cfquery name="getScript" datasource="#application.datasource#">
		SELECT UserName_vch, Password_vch
		FROM #application.User_database#
		WHERE UserName_vch='#user#'
	</cfquery>
		<cfif getScript.RecordCount>
			<cfscript>
				retVal.success = false;
				retVal.message = "Username is existed. Please choose other username.";
			</cfscript>
		<cfelse>
			<cfquery name="userInsert" datasource="#application.datasource#">  
				INSERT INTO #application.User_database# (UserName_vch, Password_vch, Created_dt)
				VALUES('#user#', '#pass#', NOW())
			</cfquery>
		</cfif>
<cfoutput>#jsonencode(retVal)#</cfoutput>