<!---<cfinclude template="config.cfm">--->
<cfloop index = "i" from = "1" to = "100">
	<cfquery name="libInsert" datasource="#application.datasource#">
		INSERT INTO #application.database#.dynamicscript (UserId_int, DSId_int, Desc_vch, Active_int) VALUES('12', '#i#', 'Library #i#', '1')
	</cfquery>
	<cfloop index = "j" from = "1" to = "100">
		<cfquery name="eleInsert" datasource="#application.datasource#">
			INSERT INTO #application.database#.dselement (UserId_int, DSId_int, DSEId_int, Desc_vch, Active_int) VALUES('12', '#i#', '#j#', 'Element #i#_#j#', '1')
		</cfquery>
	</cfloop>
</cfloop>
