<!--- <cfapplication sessionmanagement="yes" clientmanagement="yes" name="Rxdu"> --->

<!--- EBM Site integration--->
<!---<cfinclude template="../scripts/data_ScriptPaths.cfm">--->  

<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString" />

<cfscript>
	application.datasource = "Bishop";
	application.database = "rxds";
	application.User_database = "simpleobjects.useraccount";
	application.baseDir = GetDirectoryFromPath(GetCurrentTemplatePath());

	application.mp3.channels = 1; // 2 || 1
	application.mp3.bitRates = 32; // 128 || 64 || 32
	application.mp3.sampleRates = 44100; // 44100 || 22050 || 11025
	application.mp3.volume = 0; // (db)
	
	//application.soxPath = "C:\cds\sox2\sox.exe";
	application.soxPath = "#SOXAudiopath#";
	application.soxMaxExeTime = 90;
	//application.soxDefaultArguments = "-r #application.mp3.sampleRates# -C #application.mp3.bitRates# -c #application.mp3.channels# -v #application.mp3.volume#";
	application.soxDefaultArguments = "-r #application.mp3.sampleRates# -C #application.mp3.bitRates# -c #application.mp3.channels#";
	application.soxDefaultEffects = "gain -n #application.mp3.volume#";
	
	application.baseUrl = "#LocalProtocol#://#CGI.SERVER_NAME#";
	if (CGI.SERVER_PORT NEQ 80) {
		application.baseUrl = "#application.baseUrl#";
	}
	application.baseUrl = "#application.baseUrl#/#SessionPath#/rxds/";
	application.flashApiBaseUrl = "#application.baseUrl#flash/";
	application.scriptPath = "#rxdsLocalWritePath#";
	//application.scriptPath = "D:\script";
</cfscript>

<!--- :#CGI.SERVER_PORT# --->

