<!---<cfscript>
	application.datasource = "#Session.DBSourceEBM#";
	application.baseDir = GetDirectoryFromPath(GetCurrentTemplatePath());
	application.soxPath = "C:\cds\sox2\sox.exe";
	application.soxMaxExeTime = 90;
</cfscript>

<!---	application.baseUrl = "http://" & CGI.HTTP_HOST & GetDirectoryFromPath(CGI.SCRIPT_NAME);--->
<!---	application.baseUrl = "#rootUrl#/#SessionPath#/RXDS/";--->

<cfset application.baseUrl = "#rootUrl#/#SessionPath#/RXDS/">
<!---<cfset application.baseDir = "#rootUrl#/#SessionPath#/RXDS/">--->
--->



<!---<cfinclude template="config.cfm">--->
<!---
	<div id="flashContent" style="margin-top:-5px;">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1200" height="680" id="main" align="middle">
			<param name="movie" value="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/RXDS/main.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#E8E6DC" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="window" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="flashvars" value="urlHost=<cfoutput>#application.baseUrl#</cfoutput>&showLibrary=true" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/RXDS/main.swf" width="1200" height="680">
				<param name="movie" value="main.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#E8E6DC" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="flashvars" value="urlHost=<cfoutput>#application.baseUrl#</cfoutput>&showLibrary=true" />
			<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflash">
					<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
				</a>
			<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
                
	</div>--->
   
   
   <!--- #E8E6DC--->
   
   <div id="flashContent" style="margin-top:-5px;">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1200" height="680" id="main" align="middle">
			<param name="movie" value="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/RXDS/main.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#E8E6DC" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
            <!---http://kb2.adobe.com/cps/155/tn_15523.html--->
			<param name="wmode" value="opaque" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="flashvars" value="urlHost=<cfoutput>#application.flashApiBaseUrl#</cfoutput>&showLibrary=true&urlLibrary=<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/account/audioeditortree.swf" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/RXDS/main.swf" width="1200" height="680">
				<param name="movie" value="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/RXDS/main.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#E8E6DC" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
                <!---http://kb2.adobe.com/cps/155/tn_15523.html--->
				<param name="wmode" value="opaque" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="flashvars" value="urlHost=<cfoutput>#application.flashApiBaseUrl#</cfoutput>&showLibrary=true&urlLibrary=<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/account/audioeditortree.swf" />
			<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflash">
					<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
				</a>
			<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	</div>
    
    
<!---    <cfoutput><BR>application.baseUrl=#application.baseUrl#</cfoutput>
    <cfoutput><BR>application.baseDir=#application.baseDir#</cfoutput>--->
<!---    <cfoutput><BR>  <pre><cfinclude template="treexml.cfm"></pre></cfoutput>--->
<!---	 <cfoutput><BR>Session.USERID=#Session.USERID#</cfoutput>--->