<!---<cfinclude template="config.cfm">--->
<cfif Session.USERID LT 1>
	<cflocation url="#rootUrl#/#PublicPath#/login?inpMSG=#URLEncodedFormat('.Your Account has been logged out due to inactivity.')#" addtoken="false">
</cfif>
<!--- <cfif (NOT isDefined("SESSION.loggedIn")) OR (SESSION.loggedIn NEQ "1")>
	<cfset StructClear(SESSION) />
	<cflocation url="#application.baseUrl#login" addtoken="no">
	</cfif> --->
<html>
	<head><title>
			RXDynascript Tool 
		</title></head>
	<body>
		<!--- Hello <cfoutput>#SESSION.username#</cfoutput>
			&nbsp;|&nbsp;<a href="<cfoutput>#application.baseUrl#</cfoutput>logout">Logout</a> --->
		<div id="flashContent">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1066" height="720" id="main" align="middle">
				<param name="movie" value="main.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#E8E6DC" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<!---http://kb2.adobe.com/cps/155/tn_15523.html--->
				<param name="wmode" value="opaque" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="flashvars" value="urlHost=<cfoutput>#application.flashApiBaseUrl#</cfoutput>&showLibrary=true" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="main.swf" width="1066" height="720">
					<param name="movie" value="main.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#E8E6DC" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<!---http://kb2.adobe.com/cps/155/tn_15523.html--->
					<param name="wmode" value="opaque" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="flashvars" value="urlHost=<cfoutput>#application.flashApiBaseUrl#</cfoutput>&showLibrary=true" />
					<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
					</a>
					<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		</div>
	</body>
</html>
