<form action="login" method="post">
	<input type="text" name="username" />
	<input type="text" name="password" />
	<input type="submit" value="Submit" />
</form>
<cfoutput>#getPageContext().getRequest().getMethod()#</cfoutput>