<form action="upload" method="post" enctype="multipart/form-data">
	<input type="text" name="eleId" />
	<input type="file" name="Filedata" />
	<input type="submit" value="Submit" />
</form>
<cfoutput>#getPageContext().getRequest().getMethod()#</cfoutput>