<cfparam name="INPBATCHID" default="0">



<script type="text/javascript">
	$(function() 
	{
	<!--- Voice Tabs--->
		$( "#htabs_DynamicSchedules" ).tabs({
			cache: true,
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"<div id='loadingDlg' style='display:inline;'><img class='loadingDlgRegisterNewAccount' src='<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading-small.gif' width='20' height='20'></div>" );
				}
			}
		});
			
			
		$("#htabs_DynamicSchedules div.ui-tabs-panel").css('min-height', 600); 
		$("#htabs_DynamicSchedules div.ui-tabs-panel").css('width', 600); 
		
		<!--- Doesnt work yet - explore later
			$("#htabs_DynamicSchedules div li.ui-state-default").css('background', '-moz-linear-gradient(center top, rgb(185,224,245), rgb(146,189,214) );'); 
		--->
	
		
	});
</script>		
<cfoutput>
	<div id="htabs_DynamicSchedules">
		<ul style="height:30px;">          
			<li class="DSSingle"><a href="../Schedule/dsp_Schedule5?INPDSDOW=0&amp;INPBATCHID=#INPBATCHID#" title="Single">Single</a></li>
            <li class="DSSunday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=1&amp;INPBATCHID=#INPBATCHID#" title="Sunday">Sunday</a></li>
            <li class="DSMonday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=2&amp;INPBATCHID=#INPBATCHID#" title="Monday">Monday</a></li>
            <li class="DSTuesday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=3&amp;INPBATCHID=#INPBATCHID#" title="Tuesday">Tuesday</a></li>
            <li class="DSWednesday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=4&amp;INPBATCHID=#INPBATCHID#" title="Wednesday">Wednesday</a></li>
            <li class="DSThursday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=5&amp;INPBATCHID=#INPBATCHID#" title="Thursday">Thursday</a></li>
            <li class="DSFriday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=6&amp;INPBATCHID=#INPBATCHID#" title="Friday">Friday</a></li>
            <li class="DSSaturday"><a href="../Schedule/dsp_Schedule5?INPDSDOW=7&amp;INPBATCHID=#INPBATCHID#" title="Saturday">Saturday</a></li>			                   
		</ul>
	</div>
</cfoutput>