

<div class="portlet light bordered">
   <div class="row">
       <div class="col-xs-12">
            <div class="clearfix">
                <h4 class="form-heading"><strong  style="color: rgb(92,92,92); font-family:'Source Sans Pro', sans-serif;">Categories</strong></h4>
            </div>
				<p class="detail-simon">Yo!</p>
       </div>  
   </div>
 </div>


<cfparam name="variables._title" default="Sire Portals">
<cfinclude template="../../views/layouts/master.cfm">