






<!---  redo .htaccess--->
<!--- redo application.cfc --->
<!---  remove 62569 dir --->



<!--- Insert request data to log --->   <!--- Verify not already assigned --->           
           	<!---Insert to MO Inbound queue--->
            <cfquery name="InsertToInboundQueue" datasource="Bishop" result="InsertToInboundQueueResult">
                INSERT INTO simplequeue.moinboundqueue
                (
                    ContactString_vch,
                    CarrierId_vch,
                    ShortCode_vch,
                    Keyword_vch,
                    TransactionId_vch,
                    Time_dt,
                    Scheduled_dt,
                    Created_dt,
                    Status_ti,
                    CustomServiceId1_vch,
                    CustomServiceId2_vch,
                    RawData_vch,
                    QuestionTimeOutQID_int
                )
                VALUES
                (
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="9494000553">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="0">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="28444">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="QA Testing">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="999">,    
	                    NOW(),                   
	                    NOW(),                  
                    NOW(),
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="20">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="0">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_CLOB" VALUE="#SerializeJSON(GetHttpRequestData())#">,
                    <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="0">
                )
            </cfquery>
            