<cfparam name="INPBATCHID" default="0">
<cfparam name="QNav" default="0">



<style type="text/css">


	#main
	{
		position:relative;	
		
	}
	
    #container0 {
	    position: absolute;
        height: 100px;
        width: 100px;
		left:0;
		top:0;
        border: 1px solid black;
        margin: 10px;
    }
	
	 #container1 {
	    position: absolute;
        height: 100px;
        width: 100px;
		left:200px;
		top:100px;
        border: 1px solid black;
        margin: 10px;
    }
	
	
	#div1, #div4{background-color:red;width:150px;height:150px;position:absolute; }
	#div2, #div3{background-color:green;width:150px;height:150px; position:absolute;}

	
</style>

<head>

<cfoutput>

	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery.jsPlumb-1.5.2-min.js"></script>

</cfoutput>


  <script type="text/javascript">
  
   $(document).ready(function(){
	   
<!---	   
 	  jsPlumb.draggable($(".left"));  
      jsPlumb.draggable($(".right")); 
    jsPlumb.connect({source:"div1", target:"div2",
        paintStyle:{lineWidth:15,strokeStyle:'rgb(243,230,18)'},
        endpointStyle:{fillStyle:'rgb(243,229,0)'}
    });
    jsPlumb.connect({
        source:'div3',
        target:'div4',
        paintStyle:{ lineWidth:10, strokeStyle:'rgba(0, 0, 200, 0.5)' },
        anchors:["RightMiddle", "LeftMiddle"],
        endpoint:[ "Rectangle", { width:10, height:8 } ]
    });     
    jsPlumb.connect({
        source:'div2',
        target:'div3',
        paintStyle:{lineWidth:8, strokeStyle:'rgb(189,11,11)'},
        anchors:["BottomCenter", "TopCenter"],
        endpoint:"Rectangle"
    });  
      
    $("#div1").css("background-color","blue");
	--->
	
	
	jsPlumb.draggable($("#container0"), {
		  containment:"main"
		});
		
		jsPlumb.draggable($("#container1"), {
		  containment:"main"
		});
		
		var e0 = jsPlumb.addEndpoint("container0"),
        e1 = jsPlumb.addEndpoint("container1");
		
		
		

        jsPlumb.connect({ source:e0, target:e1 });
		
		
});




<!---     jsPlumb.bind("ready", function() {
        
		jsPlumb.draggable($("container0"), {
		  containment:"main"
		});
		
		jsPlumb.draggable($("container1"), {
		  containment:"main"
		});
		
		var e0 = jsPlumb.addEndpoint("container0"),
        e1 = jsPlumb.addEndpoint("container1");
		
		
		

        jsPlumb.connect({ source:e0, target:e1 });
		
		
		jsPlumb.draggable("container0");
		jsPlumb.draggable("container1");
		
		

     }); --->
	 
	 
 </script>
 </head>
<body>
 
   
    <div id="main"> 
       <div id="container0">
       </div>
       <div id="container1">
       </div>
    </div>
    
    
    <!---
    <div id="div1" class="left">This is a test</div>
    <div id="div2" class="right" style="top:4em;left:20em;">This is a div</div>
    <div id="div3" class="left" style="top:0em;left:10em;">This is a test</div>
    <div id="div4" class="right" style="top:15em;left:20em;">This is a div</div>
    --->
    

   
</body>