<html>
<head>
<script language="JavaScript">
   init = function(){
      myWindow = ColdFusion.Window.getWindowObject('informWindow');
      //Add a listener to the "beforehide" event       
      myWindow.on('beforehide',centerWindow);
   }
   centerWindow = function(myWindow){
      //Center the window       
      myWindow.center();
      AddContactStringToListDialog($(this).attr('rel'), $(this).attr('rel2'));
   }
</script> 
</head>
<body>

<cfoutput>
<cfset Session.initShow = false>
<cfif isdefined("Session.createResult") AND Session.createResult.RXRESULTCODE GT 0 >
Create Successfully
<cfelse>
Create Failed !!!
</cfif>

<cfif isdefined("Session.editResult") AND Session.editResult.RXRESULTCODE GT 0 >
Edit Successfully
<cfelse>
Edit Failed !!!
</cfif>
</cfoutput>
<cfset ajaxonload('init')>
<body>

</html>
