<div class="grid_3">
    <nav class="doc-nav" id="doc-nav">
        <div class="doc-title doc-control-title" title="Api Reference"><a href="#/">API Reference</a></div>
        <ul>
            <li data-ng-repeat="api in apis">
                <a class="doc-control doc-expanded" href="#/api/{{$index}}">
                    <span class="doc-control-title" title="{{api.title}}">{{api.title}}</span>
                </a>
                <ul>
                    <li class="" data-ng-repeat="childApi in api.data">
                        <a title="{{childApi.name}}" href="#/api/{{$parent.$index}}/detail/{{$index}}">
                            <span>{{childApi.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="grid_9" >
    <h2 class="document-title">{{currentCollection.title}}</h2>
    <p>{{currentCollection.description}}</p>
    
    <div class="api-content">
	    <ul>
	        <li class="document-list-child" data-ng-repeat="childApi in currentCollection.data">
	            <a title="{{childApi.name}}" href="#/api/{{apiIndex}}/detail/{{$index}}">
	                <span class="document-bold">{{childApi.name}}</span>
	                <span class="document-verb">
	                    [
	                    <span data-ng-repeat="verb in childApi.verbs">
	                        {{verb.verb}}
	                        <span data-ng-if="!$last">,</span>
	                    </span>
	                    ]
	                </span>
	                <br />
	                <br />
	                <span class="document-uri" hljs source="highlight(rootPath+childApi.uri)"></span>
	            </a>
                <p>{{childApi.description}}</p>
	            
	        </li>
	    </ul>
    </div>
</div>
