<div class="grid_3">
    <nav class="doc-nav" id="doc-nav">
        <div class="doc-title doc-control-title" title="Api Reference"><a href="#/">API Reference</a></div>
        <ul>
            <li data-ng-repeat="api in apis">
                <a class="doc-control doc-expanded" href="#/api/{{$index}}">
                    <span class="doc-control-title" title="{{api.title}}">{{api.title}}</span>
                </a>
                <ul>
                    <li class="" data-ng-repeat="childApi in api.data">
                        <a title="{{childApi.name}}" href="#/api/{{$parent.$index}}/detail/{{$index}}">
                            <span>{{childApi.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="grid_9" >
    <h2 class="document-title">{{currentApi.name}}</h2>
    <p>{{currentApi.description}}</p>
    <p>{{currentApi.description1}}</p>
    <div class="document-uri" hljs source="highlight(rootPath+currentApi.uri)"></div><br/>
    
        
    <div class="document-list" data-ng-show="(currentApi.parameters != undefined) && (currentApi.parameters.length > 0)">
        <h2 class="head1 document-getting">Template Parameters</h2>
        <table class="document-parameters">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="param in currentApi.parameters">
                    <td>{{param.name}}</td>
                    <td>{{param.type}}</td>
                    <td>{{param.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="document-list">
        <h2 class="head1 document-getting">HTTP Verbs (Methods)</h2>
        
        <div class="api-content verb-content">
            <div class="document-list-child" data-ng-repeat="verb in currentApi.verbs">
                <h4 class="document-verb-title">{{verb.verb}}</h4>
                <p>{{verb.description}}</p>
                
                <div class="api-content-item" data-ng-show="(verb.examples != undefined) && (verb.examples.length > 0)">
                    <h5>Example(s):</h5></p>
                    <div hljs source="highlight(rootPath+ex)" data-ng-repeat="ex in verb.examples"></div>
                </div>
                </p>
                <div class="api-content-item" data-ng-show="(verb.parameters != undefined) && (verb.parameters.length > 0)">
                    <h5>Parameters:</h5></p>
                    <table class="verb-parameters">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Default</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="param in verb.parameters">
                                <td>{{param.name}}</td>
                                <td><span hljs source="highlightVariable(param.type, tabWidth)"></span></td>
                                <td data-ng-show="param.dataType != 'JSON'">{{param.description}}</td>
                                <td class="doc-param-ex" data-ng-show="param.dataType == 'JSON'" >
                                    <div class="doc-code-example">
	                                   <div >{{param.description}}</div>
	                                   
	                                   <div hljs source="toPrettyJSON(param.dataJson, 2)"></div> 
                                    </div>
                                </td>
                                <td>{{param.required}}</td>
                                <td>{{param.default_value}} &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </p>
                <div class="api-content-item" data-ng-show="(verb.response != undefined) && (verb.response.length > 0)">
                    <h5>Response:</h5></p>
                    <ol class="document-verb-example">
                        <li data-ng-repeat="res in verb.response">
                            {{res.type}}</p>
                            <span hljs source="toPrettyJSON(res.value, tabWidth)"></span>  </p>
                        </li>
                    </ol>
                </div>
                
                <div class="api-content-item" data-ng-show="(verb.optcode != undefined) && (verb.optcode.length > 0)">
                <h5>Output Codes :</h5><p/>
                    <table class="document-parameters">
                       <thead>
                          <tr> 
                              <th>Code</th>
                              <th>Description</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr data-ng-repeat="oc in verb.optcode">
                              <td>{{oc.code}}</td>
                              <td>{{oc.description}}</td>
                               
                          </tr>    
                       </tbody>
                    </table>
                
                
                   
                </div> 
                
              
                <div class="api-content-item" data-ng-show="(verb.statusCode != undefined) && (verb.statusCode.length > 0)">
                    <h5>HTTP Status Code(s):</h5><p/>
                    <table class="document-parameters">
                       <thead>
                          <tr> 
                              <th>Code</th>
                              <th>Description</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr data-ng-repeat="code in verb.statusCode">
                              <td>{{code.code}}</td>
                              <td>{{code.description}}</td>
                          </tr>    
                       </tbody>
                    </table>
                    
                    <!--COMMENT START FOR REMOVING OLD PATTERN HTTP STATUS CODE STYLE WITHOUT TABLE
                         :<ol class="document-verb-example">
                        <li data-ng-repeat="code in verb.statusCode">
                            <b>{{code.code}}</b>: {{code.description}}
                        </li>
                    </ol> COMMENT ENDED BY ADARSH-->
                </div>
                
                 
                <div class="api-content-item" data-ng-show="verb.code != undefined">
                    <h5>Code Samples:</h5>
                    <ul class="example-lang">
                        <li data-ng-repeat="ex in verb.code">
                            <a class="" href="" data-ng-click="exampleCode(ex.uri, $parent.$index)">{{ex.lang}}</a>
                        </li>
                    </ul>
                    <div class="document-clear"></div>
                    <div hljs data-line source="verb.examplecodedata" class="doc-code-example" data-ng-init="exampleCode(verb.code[0].uri, $index)"></div>
                </div>
                
                  
            </div>
        </div>
    </div>
    
</div>