@CHARSET "UTF-8";
.api-container {
	margin-top: 60px;
	color: #666;
}
.document-title {
	font-size: 40px;
	padding-top: 0;
}
h2.document-getting {
	padding-top: 30px;
	font-weight: bold;
}
.document-list-item {
	
}
.document-list-title {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.document-list-child {
	padding-left: 10px;
	margin: 20px 0;
}
.document-bold {
	font-weight: bold
}
.document-verb {
	color: #000000;
	font-weight: bold
}
.doc-title {
	font-size: 25px;
	color: #000;
	margin-bottom: 30px;
}

.doc-nav > ul > li > ul > li {
	padding-left: 25px;
	margin: 5px 0;
}
.doc-nav > ul > li > a {
	color: #000;
}
.resource-list {
	display: block;
}
.resource-list-item {
	text-decoration: underline;
	display: block;
	float: none;
	width: 100%;
	clear: both;
}
.resource-list-item a {
	float: none;
}
.document-parametors {
    border: 1px solid #333;
    border-spacing: 0;
    border-collapse: separate;
}
.document-parametors th, .document-parametors td {
	padding: 10px;
    border: 1px solid #333;
}
.verb-content {
	padding: 20px;
	background: #EEEEFF;
}
.document-verb-title {
	border-bottom: 2px solid #666;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.document-verb-example {
	list-style: inside;
    list-style-type:decimal;
}
.verb-parametors {
	font-weight: normal;
	text-align: left;
	border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #CCCCCC;
}
.verb-parametors th, .verb-parametors td {
	border: 1px solid #CCCCCC;
    padding: 5px;
    font-weight: normal;
}
.document-api-structure a {
	text-decoration: underline;
}

/* Put your css in here */

.taller {
  line-height: 28px;
}

textarea {
  width: 100%;
  
  min-height: 500px;
}

.btn {
  padding: 3px 12px;
  
}

pre {
  background-color: #ddd;
  padding: 0;
}

.text-muted input[type="text"] {
  width: 37px;
  font-size: 1em;
  display: inline-block;
}
.api-content-item {
	margin: 10px 0;
	/*max-height:60%;*/
	/*overflow-y:scroll;*/
}

.document-child-title {
	font-size: 20px;
	font-weight: bold;
	font-family: inherit;
	margin-top: 10px;
	padding-top: 0;
	margin-bottom: 10px;
}

.doc-auth-list {
	list-style: circle;
    padding-left: 15px;
}
.doc-auth-list li {
	margin-bottom: 5px;
}
.doc-request-list {
	list-style: disc;
}
.doc-red {
	color: #ff0000;
}
.example-lang {
	clear: both;
	margin: 10px 0 20px;
}
.example-lang li {
	display: inline;
    list-style: none outside none;
    margin: 0 15px 0 0;
    width: 65px;
}
.example-lang li a {
	background: none repeat scroll 0 0 #808080;
	float: left;
	border-radius: 10px;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin: 0 15px 0 0;
    min-width: 60px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
.example-lang li.active a {
	background: none repeat scroll 0 0 #FF0000;
}
.document-clear {
	display: block;
	width: 100%;
	height: 1px;
	float: none;
	clear: both;
}
.doc-code-example {
	overflow-x: scroll;
	/*overflow-x: hidden;*/
	/*max-height:60%;*/
	/*overflow-y:scroll;*/
	/*background: #fff;*/
	
	
}
.doc-code-example {
	background: #fff;
}
pre {
	font-size: 90%;
}


table {
	border-collapse: collapse;
    border-spacing: 0;
}
thead {
	border-bottom: 0;
}
table td, table th {
	padding: 5px;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border: 1px solid #999;
}


.doc-param-ex .doc-code-example {
	max-width: 300px;
}
