<div class="grid_3">
    <nav class="doc-nav" id="doc-nav">
        <div class="doc-title doc-control-title" title="Api Reference"><a href="#/">API Reference</a></div>
        <ul>
            <li data-ng-repeat="api in apis">
                <a class="doc-control doc-expanded" href="#/api/{{$index}}">
	                <span class="doc-control-title" title="{{api.title}}">{{api.title}}</span>
                </a>
                <ul>
                    <li class="" data-ng-repeat="childApi in api.data">
                        <a title="{{childApi.name}}" href="#/api/{{$parent.$index}}/detail/{{$index}}">
                            <span>{{childApi.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="grid_9" >
    <h2 class="document-title">API Documentation</h2>
    <div class="document-list">
	    <h2 class="head1 document-getting">Introduction</h2>
	    <p>
	        This document is intended to give you a detailed summary of EBM web service. After reading this document, you should have good idea of
            what it offers and how it can fit in with your business. The main goal of this documentation is to describe <b>{{config.providerName}}s</b>
            and its usage. <br/></p>
            
            Simple HTTP Calls/Methods have been used to Create,Update,Delete,Read information on the server.
	        <!--The REST APIs are for developers who want to integrate {{config.providerName}}s into their 
	        applications, and for administrators who want to script interactions with the <!--{{config.providerName}} --><!-- EBM server.<br/>
	        {{config.providerName}}s provide access to resources (data entities) via URI paths.  --> 
	        To use a REST API, your application will make a HTTP Call and parse the response. 
	        The response format is JSON. The sundry HTTP Calls/Methods used in order to accomplish the aforementioned operations are as follows:<br/></p>
            (i)&nbsp;<b>GET</b><br/>
            (ii)&nbsp;<b>PUT</b><br/>
            (iii)&nbsp;<b>POST</b><br/> 
            (iv)&nbsp;<b>DELETE</b>.<br /></p>
            
            Since <strong>REST APIs</strong> operate over HTTP(s), it's fairly simple to use it with any programming language or framework.
	        <!--Because the REST API is based on open standards, you can use any web development language to access the API. -->
	    </p>
    </div>
    
    <div class="document-list document-api-structure">
        <h2 class="head1 document-getting">{{config.providerName}} URI Structure </h2> 
        The structure of an EBM REST URI has been discussed below:
        <p><br/>
           <strong>URI</strong><br/><p></p>
           The format of a typical <em><strong>{{config.providerName}}</strong></em> call is as follows:<!--<p></p> --><br/>
           
           <pre>http://{host}/api/[resource-identifier][?option][&option]<br/></pre>
           
          
           <p></p>
           <strong>host</strong><br/>
           <p style="padding-left : 2.5em;">Either the IP address or the hostname of the server. For example, <em>10.11.12.13</em> or <em>ebmapi.messagebroadcast.com</em></p>
        
           <strong>api</strong><br/>
           <p style="padding-left : 2.5em;">This is the common root for the {{config.providerName}} calls.</p>
           
           <strong>resource identifier</strong><br/>
           <p style="padding-left : 2.5em;">Refers to the specific resource instance being accessed.</p>
           
           <strong>option</strong><br/>
           <p style="padding-left : 2.5em;">Query parameters  can be passed to certain resources.For example, <em><strong>uuid</strong></em> or <em><strong>name</strong></em>.</p>
           
           <p></p>
           
           <!-- 
            URIs for the {{config.providerName}} REST API resource have the following structure: <br /><br />
			With context: 
			<a href="{{rootPath}}resource-name" > {{rootPath}}resource-name </a> <br /> -->
        </p>
    </div>
     <div class="document-list">
        <h2 class="head1 document-getting">Request Making</h2>
        <ul class="doc-auth-list doc-request-list">
            <li>
                <p><b><i>Authentication Example:</i></b></p>
                <p>Developers are issued an <em><strong>EBM Access Key ID(a 20-character,alphanumeric string)</strong></em> and <em><strong>Secret Access Key (a 40-character string)</strong></em> as soon as they create an account on
                EBM.The precise location where developers can get the aforementioned security credentials on EBM is as follows:<br/><em><strong>Admin-->General-->Security Credentials</strong></em>.</p>
                <p>The examples in this document use the(non-working) credentials in the following table.</p>
                <table class="verb-parametors">
                    <tbody>
                        <tr>
                            <!--<td><b>Parameter</b></td>
                            <td><b>Value</b></td> -->
                            <td><b>Access Key ID</b></td>
                            <td>DNN7ACCESSKEYEXAMPLE</td>
                        </tr>
                        <tr>
                            <td><b>SecretKey</b></td>
                            <td>wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
            <p></p>
                <p>
                    <b><i>Authorization Request Header:</i></b> <br />
                   <p> The EBM API uses the standard HTTP <i>Authorization</i> header to pass the authentication information.The following is pseudo-grammar that illustrates 
                    the construction of the <i>Authorization</i> request header:<br />
                    <span class="doc-red">Note (*): HTTP-Verbs must be uppercase, example: GET, POST etc.</span></p>
                </p>
                
                <!--<pre hljs> -->
                <table class="verb-parametors">
                  <tbody>
                       <tr>
                       		<td><div align="center"><b> Example of Constructing an Authorization Request Header </b></div></td>
                        <tr>
                           <td> 
                               1) <strong>StringToSign: </strong>A string based on selected request elements.  <br />
                              &nbsp;&nbsp;&nbsp;&nbsp;<i>StringToSign = HTTP-Verb + "\n\n\n" +<br/>
                              <p style="padding-left : 7.8em;">Datetime + "\n\n\n" + ;</i></p><br/>
                              2) <strong>Signature: </strong>The URL encoding of the Base64 encoding of the HMAC-SHA1 of StringToSign.
                             <i><p style="padding-left : 1.2em;">Signature = Base64(HMAC-SHA1(YourSecretAccessKeyID, UTF-8-Encoding-Of(StringToSign)));</p></i> <br/>
                              <i><p style="padding-left : 1.2em;">Authorization = AccessKeyID + "<strong>:</strong>" + Signature;</p></i> <br/>

							
                            </td>
                        <tr>   
                </tbody>
				</table>
                <span class="doc-red">Note: The newline character <em><strong>\n</strong></em> is equivalent to the ASCII value of 10 or in Hex 0x0A or CHR(10) or ASC(10). </span></p>
               <!-- </pre> --> 
            </li>
            <li>
                <p><strong>Example:</strong> Following is an example query string authenticated EBM REST request.</p>
                <table class="verb-parametors">
                    <tbody>
                        <tr>
                            <td><b>Request</b></td>
                            <td><b>StringToSign</b></td>
                        </tr>
                        <tr>
                            <td>
                                <p>
	                                <strong>GET /cpp?format=json</strong> <br />
	                                <strong>Host:&nbsp;&nbsp;</strong>eventbasedmessaging.com<br />
	                                <strong>Datetime:&nbsp;&nbsp;</strong> <span class="doc-red">Mon, 17 Sep 2012 08:34:30 GMT</span><br />
                                    <p/>
	                                <em><span class="doc-red">Authorization:<span class="doc-red">DNN7ACCESSKEYEXAMPLE:tdGOp6AlCEGY01WVuZWfauFCWps=</span></em>
                                </p>
                            </td>
                            <td><span class="doc-red">GET\n<br/>\n<br/>\n<br/> Mon, 17 Sep 2012 08:34:30 GMT\n\n\n</span> </td>
                        </tr>
                    </tbody>
                </table>
                <strong>Assumption:</strong> When a browser makes the GET request, it won't provide a Content-MD5 or a Content-Type header, so those parts of the <em>StringToSign</em> are left blank.
            </li><p/>
            <li><em><strong>Time Stamp:</strong></em>Each request must contain the date and time the request was created, represented as a string in UTC.</li>
        </ul>
    </div>
    
    
    <div class="document-list">
        <h2 class="head1 document-getting">Authentication</h2>
        <!--
        <h3 class="document-child-title">Getting access key and secret key in your {{config.providerName}} system</h3>
        <img src="documentation/access_secret_key.png" alt="access key & secret key" />
         -->
        <p>The process of proving your identity to the system is known as Authentication. Identity is a momentous factor in EBM access control decisions and the requests of 
        a requester are accepted or denied depending upon its identity. The following documentation elucidate about how the authentication works for EBM.</p>
         
        <h3 class="document-child-title">Each calling REST API must provide request elements: </h3>
        <ul class="doc-auth-list">
            <li><strong>EBM Access Key ID:</strong>An Access Key ID identifies your EBM Account, which EBM uses to lookup your Secret Access Key.<!--It is the access key id of the identity you are using to send your request -->.</li>
            <li><strong>Signature:</strong>Each request must contain a valid HMAC-SHA request signature, or the request is rejected.<br/>
             A request signature is calculated using your Secret Access Key, which is a shared secret known only to you and EBM.</li>
             
            <li><strong>Time stamp:</strong>Each request must contain the date and time the request was created, represented as a string in UTC.</li>
        </ul> The following diagram illustrates how steps mentioned above works:
        <img src="documentation/request_dia.png" alt="Request diagram" />
        <h3 class="document-child-title">Each request must be performed by following steps:</h3>
        <ul class="doc-auth-list">
            <li><b>Step 1:</b> Construct a request to EBM.</li>
            <li><b>Step 2:</b> Calculate signature using your <em>Secret Access Key</em>.</li>
            <li>
                <p><b>Step 3:</b> Send the request to EBM server. Include your <em>Access Key ID</em> and the signature in your request.</p>
		        <img src="documentation/request_sign.png" alt="Request signature" />
            </li>
            <li><b>Step 4:</b> EBM uses the Access Key ID to look up your Secret Access Key.</li>
            <li><b>Step 5:</b> EBM calculate a signature from the request data and the Secret Access Key using the same algorithm you used to calculate the signature you sent in the request.</li>
            <li><b>Step 6:</b> If the signature generated by EBM matches the one you sent in the request, the request is considered authentic. If the comparison fails, the request is discarded, and EBM returns an error response.</li>
        </ul>
    </div>
    
   <div class="document-list">
	    <h2 class="head1 document-getting">Resources</h2>
	    <div class="api-content">
	        <div class="resource-list" data-ng-repeat="api in apis">
	            <ul>
	                <li class="resource-list-item" data-ng-repeat="childApi in api.data">
	                    <a href="#/api/{{$parent.$index}}/detail/{{$index}}">
	                        {{rootPath}}{{childApi.uri}}
	                        <span class="document-verb">
	                            [
	                            <span data-ng-repeat="verb in childApi.verbs">
	                                {{verb.verb}}
	                                <span data-ng-if="!$last">,</span>
	                            </span>
	                            ]
	                        </span>
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>
    </div>
        
    <div class="document-list">
        <h2 class="head1 document-getting">API Reference</h2>
        <div class="api-content">
            <div class="document-list-item" data-ng-repeat="api in apis">
                <h5 class="document-list-title" >
                    <a class="doc-control doc-expanded" href="#/api/{{$index}}">
                        <span class="doc-title doc-control-title" title="{{api.title}}">{{api.title}}</span>
                    </a>
                </h5>
                <ul>
                    <li class="document-list-child" data-ng-repeat="childApi in api.data">
                        <a title="{{childApi.name}}" href="#/api/{{$parent.$index}}/detail/{{$index}}">
                            <span class="document-bold">{{childApi.name}}</span>
                            <span class="document-verb">
                                [
                                <span data-ng-repeat="verb in childApi.verbs">
                                    {{verb.verb}}
                                    <span data-ng-if="!$last">,</span>
                                </span>
                                ]
                            </span>
                        </a>
                        <p>{{childApi.description}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
