﻿<html>
	
<head>
	<title>System Overview</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="generator" content="HelpNDoc Personal Edition 3.9.1.648">
	<link type="text/css" rel="stylesheet" media="all" href="css/reset.css" />
	<link type="text/css" rel="stylesheet" media="all" href="css/base.css" />
	<link type="text/css" rel="stylesheet" media="all" href="css/hnd.css" />
	<!--[if lte IE 8]>
		<link type="text/css" rel="stylesheet" media="all" href="css/ielte8.css" />
	<![endif]-->
	<style type="text/css">
		#topic_header
		{
			background-color: #EFEFEF;
		}
	</style>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/hnd.js"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			if (top.frames.length == 0)
			{
				var sTopicUrl = top.location.href.substring(top.location.href.lastIndexOf("/") + 1, top.location.href.length);
				top.location.href = "EBMDEV.html?" + sTopicUrl;
			}
			else if (top && top.FrameTOC && top.FrameTOC.SelectTocItem)
			{
				top.FrameTOC.SelectTocItem("SystemOverview");
			}
		});
	</script>
</head>

<body>

	<div id="topic_header">
			<div id="topic_header_content">
				<h1>System Overview</h1>
				
				<div id="topic_breadcrumb">
					<a href="Introduction.html">Introduction</a> &rsaquo;&rsaquo; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Introduction.html"><img src="img/arrow_up.png" alt="Parent"/></a>
				
				<a href="Introduction.html"><img src="img/arrow_left.png" alt="Previous"/></a>
				
				<a href="Logging.html"><img src="img/arrow_right.png" alt="Next"/></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">The main point of the EBM system is to allow a user to login, design, fulfill, and report on all aspects of communications with consumers. Including Voice, eMail, SMS, IP, IM, Social Media, TTY, FAX, and anything else we decide to support.</span></p>
<p class="rvps2"><span class="rvts9"> </span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">1. User authenticates and establishes identity - The UserID stored in the session.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">2. Data is uploaded into the Contacts structures using ETL tools within the EBM system. This data can be modified individually using list tools</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">3. Content is created and stored in XMLControlString_vch in the SimpleXObjects.Batch table. This content can contain special tags {%Field_Name%} that will be replaced on distribution.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">4. Each unique request for a fulfillment message is done through an entry in the SimpleQueue.contactqueue. The contactqueue can be populated with contact data directly OR by filtering data from the Contact structures</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">Note: While populating SimpleXQueue.contactqueue customized XMLControlStrings_vch are created for each message based on the master in XMLControlString_vch in the SimpleXObjects.Batch table. Anywhere a custom data string is defined {%Field_Name%} , it is replaced with the value of the corresponding Field_Name‘s data for each contact string the message(s) is/are sent to. The custom data fields can be used as part of switch statements or as direct replacements for text values in TTS strings. Custom data files can also be used as input into CONV objects &nbsp;things like account balance and dates that need to be unique to each message.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">5. Backend processes automatically fulfill and return results to the SimpleXResults.CallDetails table.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">6. Reporting and Analytics take place on the results.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts15">UserAccount</span></p>
<p class="rvps2"><span class="rvts10"><br/></span></p>
<p class="rvps2"><span class="rvts9">All interactions are tied back to a single User Account. In the case of Company level accounts there may be several sub accounts but still only one top level account.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts15">Content</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">Content is defined using UI tools and is then stored in the master XMLControlString_vch as part of a SimpleObjects.Batch object.Content is created and stored in XMLControlString_vch in the SimpleXObjects.Batch table. This content can contain special tags {%Field_Name%} that will be replaced on distribution.</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts15">Contacts</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">Contact targets are entered using UI tools and then are stored in Contact structures.Data is uploaded into the SimpleXLists.RXMultiList using ETL tools whithing the EBM system. This data can be modified individually using list tools</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts15">Fulfillment</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">Fulfillment requestes are loaded into the SimpleQueue.contactqueue</span></p>
<p class="rvps2"><span class="rvts9"><br/></span></p>
<p class="rvps2"><span class="rvts9">While populating SimpleXQueue.contactqueue customized XMLControlStrings_vch are created for each message based on the master in XMLControlString_vch in the SimpleXObjects.Batch table. Anywhere a custom data string is defined {%Field_Name%} , it is replaced with the value of the corresponding Field_Name‘s data for each contact string the message(s) is/are sent to. The custom data fields can be used as part of switch statements or as direct replacements for text values in TTS strings. Custom data files can also be used as input into CONV objects â€“ things like account balance and dates that need to be unique to each message.</span></p>
<p></p>
<p class="rvps4"><span class="rvts13">Created with the Personal Edition of HelpNDoc: </span><a class="rvts14" href="http://www.helpndoc.com/help-authoring-tool">Easy to use tool to create HTML Help files and Help web sites</a></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &copy; 2013 by MessageBroadcast. All Rights Reserved.</div>
		</div>
	</body>
	
</html>

