<cfif cgi.server_port_secure eq '1'>
    <cfset LocalProtocol="https">
<cfelse>
	<cfset LocalProtocol="http">
</cfif>

<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">
<!---<cfoutput>rootUrl = #rootUrl# <BR /></cfoutput>--->

<!---only add configure port for seta domain--->
<cfif FINDNOCASE( "cpp.setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0>
	<cfif CGI.SERVER_PORT NEQ 80>
		<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#:#CGI.SERVER_PORT#">
	<cfelse>
		<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#/cpp">
	</cfif>
</cfif>


<cfset publicPath = "public">
<cfset sessionPath = "session">

<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L" />
<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString" />
<cfset APPLICATION.SaltOne = "lsdijghue32985D6dFG$$2vmni">
<cfset APPLICATION.SaltTwo = "FDGDSfdgdsf456*7897sdCVbbbcxvb">
<cfset APPLICATION.PPUidKey = 54321 />

<cfif FINDNOCASE( "setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "ebmdev.seta", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "ebmdev.seta.com", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "cppseta.com", "#CGI.SERVER_NAME#") GT 0>
	<cfset Session.DBSourceEBM ="Bishop" />
	<cfset cfcDotPath = "cfc">
	<cfset cfcmonkehTweet = "lib.monkehTweet.com.coldfumonkeh.monkehTweet" />
	<cfset localDirPath = "">
    <cfset rxdsWebProcessingPath = "C:\Temp_script">
	
<cfelseif FINDNOCASE( "ebmdevii.messagebroadcast.com", "#CGI.SERVER_NAME#") GT 0 >
	<cfset Session.DBSourceEBM ="BishopDev" />
    <cfset DBSourceEBM ="BishopDev" />
	<cfset cfcDotPath = "session.cfc">
	<cfset cfcmonkehTweet = "lib.monkehTweet.com.coldfumonkeh.monkehTweet" />
	<cfset localDirPath = "">
	<cfset rxdsWebProcessingPath = "C:\Temp_script">

<cfelseif FINDNOCASE( "dev.ebmui.com", "#CGI.SERVER_NAME#") GT 0 >
	<cfset Session.DBSourceEBM ="Bishop" />
    <cfset DBSourceEBM ="Bishop" />
	<cfset cfcDotPath = "cpp.session.cfc">
	<cfset cfcmonkehTweet = "lib.monkehTweet.com.coldfumonkeh.monkehTweet" />
	<cfset localDirPath = "cpp">
	<cfset rxdsWebProcessingPath = "C:\Temp_script">
    
	<cfset LocalProtocol="https">
    <cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">

<cfelseif FINDNOCASE( "contactpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0 >
	<cfset Session.DBSourceEBM ="Bishop" />
    <cfset DBSourceEBM ="Bishop" />
	<cfset cfcDotPath = "session.cfc">
	<cfset cfcmonkehTweet = "lib.monkehTweet.com.coldfumonkeh.monkehTweet" />
	<cfset localDirPath = "">
	<cfset rxdsWebProcessingPath = "C:\Temp_script">
    
	<cfset LocalProtocol="https">
    <cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">

<cfelseif FINDNOCASE( "customerpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0 >
	<cfset Session.DBSourceEBM ="BishopDev" />
    <cfset DBSourceEBM ="BishopDev" />
	<cfset cfcDotPath = "session.cfc">
	<cfset cfcmonkehTweet = "lib.monkehTweet.com.coldfumonkeh.monkehTweet" />
	<cfset localDirPath = "">
	<cfset rxdsWebProcessingPath = "C:\Temp_script">
<cfelse>
	<cfset Session.DBSourceEBM ="Bishop" />
    <cfset DBSourceEBM ="Bishop" />
	<cfset cfcDotPath = "session.cfc">
	<cfset cfcmonkehTweet = "lib.monkehTweet.com.coldfumonkeh.monkehTweet" />
	<cfset localDirPath = "">
	<cfset rxdsWebProcessingPath = "C:\Temp_script">
    
	<cfset LocalProtocol="https">
    <cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">

</cfif>	

<cfif len(trim(localDirPath)) neq 0>
	<cfset rootUrl = "#rootUrl#/#localDirPath#">
</cfif>   