<!---====================Facebook application configuration =============================--->
<cfif FINDNOCASE( "ebmdev.seta.com", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebmdevseta'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebmdevseta%2F'>
	<cfset APPLICATION.Facebook_AppID = '146749318786991'>
	<cfset APPLICATION.Facebook_AppSecret = 'a15cba3df2f8f1500f6b46245f4df45d'>

<cfelseif FINDNOCASE( "mb.us.setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0 >
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/eventbasedmessaging'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%eventbasedmessaging%2F'>
	<cfset APPLICATION.Facebook_AppID = '224500121002455'>
	<cfset APPLICATION.Facebook_AppSecret = '15f79cf20b3550bf1366d3eb5dcc83d0'>

<cfelseif FINDNOCASE( "cppseta.com", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/setaCpp'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%setaCpp%2F'>
	<cfset APPLICATION.Facebook_AppID = '560784527282324'>
	<cfset APPLICATION.Facebook_AppSecret = 'df39854c9e4cdb37d1607a53afb5e5b6'>
		
<cfelseif FINDNOCASE( "cpp.us.setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0 >
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/setaCpp'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%setaCpp%2F'>
	<cfset APPLICATION.Facebook_AppID = '402786536473207'>
	<cfset APPLICATION.Facebook_AppSecret = '170e4838a884fc4bb4377e654f9b3112'>
			
<cfelseif FINDNOCASE( "DEV.TELESPEECH.COM", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebmcppdev'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebmcppdev%2F'>
	<cfset APPLICATION.Facebook_AppID = '239247492841662'>
	<cfset APPLICATION.Facebook_AppSecret = '4f8fa297f4e01960028db41912ceb48c'>
	
<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/EBMMESS'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%EBMMESS%2F'>
	<cfset APPLICATION.Facebook_AppID = '413297832034676'>
	<cfset APPLICATION.Facebook_AppSecret = '55b461c58e5f647e5ccc294c99c7fc4c'>
	
<cfelseif FINDNOCASE( "contactpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/EBMMESS'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%EBMMESS%2F'>
	<cfset APPLICATION.Facebook_AppID = '309014592511192'>
	<cfset APPLICATION.Facebook_AppSecret = '8b6eaf13f5d922efaad3525e47115b99'>

 <!--- <!--- Display Name: dev.cpp    NameSpace: ebmcppdev  jpijeff's facebook account --->
  <cfelseif FINDNOCASE( "customerpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebmcppdev'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebmcppdev%2F'>
	<cfset APPLICATION.Facebook_AppID = '239247492841662'>
	<cfset APPLICATION.Facebook_AppSecret = '4f8fa297f4e01960028db41912ceb48c'>   --->  
    
<!--- Display Name should be: Customer Preference Portal for QA   NameSpace:Not Used --->    
<cfelseif FINDNOCASE( "customerpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebm.ui'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebm.ui%2F'>
	<cfset APPLICATION.Facebook_AppID = '558456200926262'>
	<cfset APPLICATION.Facebook_AppSecret = 'eeb22f85387f51b198c2ec6a152bd390'> 
    
<!--- Display Name should be: Contact Preference Portal NameSpace: Not User --->    
<cfelseif FINDNOCASE( "contactpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebm.ui'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebm.ui%2F'>
	<cfset APPLICATION.Facebook_AppID = '611465858966159'>
	<cfset APPLICATION.Facebook_AppSecret = '3b7838c7051fea7cb3a37578d8001c35'>   
     
	
<cfelse> <!--- default to "CONTACTPREFERENCEPORTAL.COM"--->
	<cfset APPLICATION.Facebook_URL = 'http://www.facebook.com/ebm.ui'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebm.ui%2F'>
	<cfset APPLICATION.Facebook_AppID = '558456200926262'>
	<cfset APPLICATION.Facebook_AppSecret = 'eeb22f85387f51b198c2ec6a152bd390'>
	
</cfif>
<!---====================END Facebook application configuration =============================--->


<!---====================Twitter application configuration =============================--->

<cfif FINDNOCASE( "ebmdev.seta.com", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
	
<cfelseif FINDNOCASE( "DEV.TELESPEECH.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />

<cfelseif FINDNOCASE( "mb.us.setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-WvPrEYX29zlD0yGl9O0lmjuQYJL6pHzWHhvWC3Pw' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'a4s7UiotBtOjnvIj44HyK1ODqX5utXkndcVBd9NZXs' />
	<cfset APPLICATION.Twitter_Consumerkey = 'IFYpiwFH1IICRmNNTRC2A' />
	<cfset APPLICATION.Twitter_Consumersecret = 'dsy6N13wf4sozqhe5f9SmnEcyaWqpR1VJsJSkEzCqZk' />

<cfelseif FINDNOCASE( "cppseta.com", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-RQYLJvz9lOznY9UCxy91B34mpSB2nJI9woEep4' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'fzLIPKGLUHEe0wMUSTq4TbkAtGHN2JGVYDdp45M' />
	<cfset APPLICATION.Twitter_Consumerkey = '4DRDIez9qnsWNRarKAanDg' />
	<cfset APPLICATION.Twitter_Consumersecret = 'TZfBn2nE4LYVXYP2z9bWw6YgNYmjcuRMIxeRTg1LRk' />	
	
<cfelseif FINDNOCASE( "cpp.us.setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-We7mFvUwwEL1Ay5Ay2ytiguuwQWYuZZ2rYGWvHkM' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'iaO9omZyC5Q8z1JlYlh0wpk78Nf3zDzS3uDz51Y2s' />
	<cfset APPLICATION.Twitter_Consumerkey = 'qs5HhJU2xdBGRHPVQIQgA' />
	<cfset APPLICATION.Twitter_Consumersecret = 'xYY5vMGZpCKF6bBpbhuZpBlsTLmFL9cMKDRBo3chA' />	
		
<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '2610269076-XfcMSjI0O9zEbeYEqAGJalt3wmNdPUvOll9GWge' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
    
  
<cfelseif FINDNOCASE( "customerpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '2610269076-XfcMSjI0O9zEbeYEqAGJalt3wmNdPUvOll9GWge' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ijX2zG6TwyqEHq0FTHAwRuuxE24T8OWoPkJr0Pzsm1vgv' />
	<cfset APPLICATION.Twitter_Consumerkey = 'hpVgv9EDwalg0rHMR73dwo9zo' />
	<cfset APPLICATION.Twitter_Consumersecret = 'OmpKe0gVr0Ukz7QYjNpgvNoXITedV3PfF70q7YN2fSnxyVjioa' />
    
<cfelseif FINDNOCASE( "ebmdevii.messagebroadcast.com", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '2610269076-XfcMSjI0O9zEbeYEqAGJalt3wmNdPUvOll9GWge' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ijX2zG6TwyqEHq0FTHAwRuuxE24T8OWoPkJr0Pzsm1vgv' />
	<cfset APPLICATION.Twitter_Consumerkey = 'hpVgv9EDwalg0rHMR73dwo9zo' />
	<cfset APPLICATION.Twitter_Consumersecret = 'OmpKe0gVr0Ukz7QYjNpgvNoXITedV3PfF70q7YN2fSnxyVjioa' />
    
<cfelseif FINDNOCASE( "contactpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '2610269076-t7pJWvpiqJucw4YPLoLWPv37TJ2QlrMYwjFS4h9' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ijX2zG6TwyqEHq0FTHAwRuuxE24T8OWoPkJr0Pzsm1vgv' />
	<cfset APPLICATION.Twitter_Consumerkey = 'klXHfa2eMtBMRi19ZYTjDMJKW' />
	<cfset APPLICATION.Twitter_Consumersecret = 'GTmOv9ASxL5CK8FDKtZO9PDocasiuKZZU6Bvqx5Jjx0HDRYnTa  ' />
    


	
<cfelse> <!--- default to "CONTACTPREFERENCEPORTAL.COM"--->
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
</cfif>
<!---====================END Twitter application configuration =============================--->



<!---====================Google plus application configuration =============================--->
<cfif FINDNOCASE( "cppseta.com", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Google_ClientId = '1045269019562-slr0p6c41mdlk2q2anb7r30r9pd9m41r.apps.googleusercontent.com' />
	
<cfelseif FINDNOCASE( "DEV.TELESPEECH.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	<cfset APPLICATION.Google_ClientId = '716059018891-g897kunt3fa8ft46u1cbfd5njjc9hg0j.apps.googleusercontent.com' />

<cfelseif FINDNOCASE( "cpp.us.setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	<cfset APPLICATION.Google_ClientId = '391262255624.apps.googleusercontent.com' />
	
<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	<cfset APPLICATION.Google_ClientId = '716059018891-g897kunt3fa8ft46u1cbfd5njjc9hg0j.apps.googleusercontent.com' />
    
    
<cfelseif FINDNOCASE( "customerpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	 <cfset APPLICATION.Google_ClientId = '1067088018055-77lf0of0tgvrvqr90e12jo1kiuobei14.apps.googleusercontent.com' /> 
    
     
<cfelseif FINDNOCASE( "contactpreferenceportal.com", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	 <cfset APPLICATION.Google_ClientId = '461073319232-im3qc1moogqjjj4jo0sd1aap4uno2ge7.apps.googleusercontent.com' />
      
      <!--- <cfset APPLICATION.Google_ClientId = '1067088018055-2mh30abcvg78akj844kqln7pao1niv19.apps.googleusercontent.com' /> --->
	
<cfelse> <!--- default to "CONTACTPREFERENCEPORTAL.COM"--->
	<cfset APPLICATION.Google_ClientId = '698138944340.apps.googleusercontent.com' />
	
</cfif>
<!---====================END Google plus application configuration =============================--->