<cfparam name="inpCPPUUID" default="" >
<script >
	$.get('<cfoutput>#rootUrl#/#sessionPath#/dsp_home.cfm?inpCPPUUID=#inpCPPUUID#</cfoutput>', function(data) {
		$('#cppmonkey').html(data);
	});
</script>

<div id="cppmonkey"></div>