<cfparam name="inpCPPUUID" default="" >
<p class="thankyou">Thank you for submitting your contact preferences.</p>

<p class="thankyou"><a href = "<cfoutput>#rootUrl#</cfoutput>/session/home/<cfoutput>#inpCPPUUID#</cfoutput>">Back</a></p>