<cfset variables.tzObj = createObject("java","java.util.TimeZone")>
<cfset variables.mytz = variables.tzObj.getDefault().ID>
<cfdump var="#GetTimeZoneInfo().utcHourOffset#">
<cfabort>
<cfscript>
	
	fileCert = ExpandPath('/') & '/apns/' & 'SIRE_Development_Push_Certificates.p12';
    fileCertPass = 'sire@2016';
    APNSService = createObject("java", "com.notnoop.apns.APNS").newService().withCert(fileCert, fileCertPass).withSandboxDestination().build();

    list_inactive = APNSService.getInactiveDevices();
    writeDump(list_inactive);
    abort;


    sendMessage = 'minhtest 1';
    deviceToken = 'ff9f811679a3dc59ea5c33903e1596caf8d8f34f2da72e011ea2035b13935e69';
    payload = createObject("java", "com.notnoop.apns.APNS").newPayload().alertBody(sendMessage).build();
    APNSService.push(deviceToken, payload);
    writeDump(APNSService);

</cfscript>