<cfif FINDNOCASE( "sire.mobi", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "siremobile.com", "#CGI.SERVER_NAME#") GT 0>
	<!---
    <cfinclude template="public/sire/pages/index.cfm" />
    --->
    <cfinclude template="public/sire/pages/index.cfm" />

<cfelseif 	FINDNOCASE( "sire.lc", "#CGI.SERVER_NAME#") GT 0 OR
			FINDNOCASE( ".seta.vn", "#CGI.SERVER_NAME#") GT 0 OR
			FINDNOCASE( ".seta-international.com.vn", "#CGI.SERVER_NAME#") GT 0 OR
			FINDNOCASE( ".seta-international.ie", "#CGI.SERVER_NAME#") GT 0
			>
	<cfinclude template="public/sire/pages/index.cfm" />

<cfelse>

	<cflocation url="public/home" addtoken="no" />

</cfif>
