<cfoutput>
	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/datatables-1.9.4/media/js/jquery.datatables.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="#rootUrl#/#publicPath#/js/datatables-1.9.4/media/css/jquery.datatables.css">
</cfoutput>

<style type="text/css">
	#SelectContactPopUp {
		margin: 15px;
	}
	#tblListCPP_info {
		width: 98.5%;
		padding-left: 2%;
		margin-left:0px;
		height:auto;
	}
	.ui-dialog{
		padding-bottom:10px;
	}
	.loading-data{
			background: url('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading.gif') ;
			background-repeat: no-repeat;
			background-position: center;
		}
		
		.save-process{
			display: none;
		    height: 300px;
		    left: 40%;
		    position: fixed;
		    top: 30%;
		    width: 300px;
			background: url('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading.gif') ;
			background-repeat: no-repeat;
			background-position: center;
		}

		.ui-tabs-active{
			background-color:#FFFFFF !important;
			color:#fff !important;
		}
		
		.ui-tabs-active a{
			color:#0888d1 !important;
		}
		.ui-widget-content{
			border: 1px solid #AAAAAA;
			/*width: 700px;*/
		}
		.ui-tabs .ui-tabs-nav{
			background: #DDDDDD;	
		}
		.ui-tabs .ui-tabs-panel{
			border:0px;
			/*min-height:300px;*/
			height:auto;
			padding-top:40px;
			padding-left:10px;
		}
		
		#emsRecorder{
			border: 1px solid #CCCCCC;
		    border-radius: 4px;
		    display: block;
		    margin: 16px 20px 0;
		}
		.ui-tabs-nav{
			height: 38px;
			border-left-width: 0;
		    border-right-width: 0;
		}
		.ui-tabs .ui-tabs-nav li{
		 	bottom: 0;
		    height: 30px;
		    margin-bottom: 0;
		    margin-left: 5px;
		    margin-top: 9px;
		    top: 0;
		    width: 170px;	
			background: #f0f0f0;
		}
		.ui-tabs .ui-tabs-nav li.ui-state-default{
			border-bottom:0px;
		}
		.ui-tabs .ui-tabs-nav li a{
			padding: 0;
			line-height:30px;
		    width: 168px;
			text-align:center;
			font-size:14px;
			font-weight:bold;
			color:#666666;
			
		}
		.ui-tabs-nav a,ui-tabs-nav a:link
		{
			height: 28px;
			color:#666666;	
			border-bottom:1px solid #AAA;
			border-left:1px solid #AAA;
			border-top:1px solid #AAA;
			border-right:1px solid #AAA;
			border-radius:5px 5px 0 0;	
		}
		.ui-tabs-nav .ui-tabs-active a{
			border-bottom:0px !important;
		}
		#tabs .ui-tabs-nav li a{
			width: 88px;
		}
		#tabs .ui-tabs-nav li{
			width: 90px;
		}
		#tabs .ui-tabs .ui-tabs-panel{
			padding-left:0px;
		}
		.header-bar{
			background-color: #0888D1;
		    border: 1px solid #0E88CD;
		    border-radius: 5px 5px 0 0;
		    color: #FFFFFF;
		    
		    font-size: 14px;
		    font-weight: bold;
		    height: 30px;
		    line-height: 30px;
		    width: 700px;
			text-indent:10px;
		}
		.datatables_wrapper{
			width:96%;
			margin:0 auto;
		}
		table.dataTable td{
			border-right: 1px solid #CCC;
			font-size:13px;
			color:#666;
		}
		
		table.dataTable th{
			border-right: 1px solid #CCC;
		}
		
		.border_top_none{
			border-radius: 0 0;
		}
		.m_top_20{
			margin-top:20px;
		}
		.m_top_10{
			margin-top:10px;
		}
		.m_left_20{
			margin-left:20px;
		}
		.m_left_0{
			margin-left:0px;
		}
		.statistic-bold{
			color:#0888d1;
			
			font-size:48px;
			word-wrap:break-word;
			table-layout:fixed;
			width:680px;
			text-align:center;
			border-spacing:10px 0px;
		}
		.footer-text{
			color:#666666;
			
			font-size:14px;
		}
		.none-border-bottom td{
			border-top:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-bottom:0px none;
			background-color:#f0f0f0;
		}
		.none-border-top th{
			border-bottom:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-top:0px none;
			background-color:#f0f0f0;
			height:75px;
		}
		.spacing_10{
			border-spacing:10px 0px;
		}
		#ActiveSessionTbl{
			width:680px;
			margin-top:0px;
		}
		tr.tr-Session:hover td{
			cursor:pointer;
			background: yellow;
		}
		table.dataTable thead tr {
		    background-color: #0888D1;
		    border-bottom: 2px solid #FA7D29;
		    color: #FFFFFF;
		    height: 23px;
		    line-height: 23px;
		}
		.datatables_paginate {
		    background-color: #EEEEEE;
		    border-radius: 0 0 3px 3px;
		    border-top: 2px solid #0888D1;
		    box-shadow: 3px 4px 3px -3px rgba(0, 0, 0, 0.5);
		    float: right;
		    height: 33px !important;
		    padding-top: 10px;
		    text-align: right;
		    width: 100%;
		}
		.dataTables_info {
			background-color: #EEEEEE;
		    border-top: 2px solid #46A6DD;
		    box-shadow: 3px 3px 5px #888888;
		    line-height: 39px;
			position: relative;
		    top: 0 !important;
			clear: both;
		    float: left;
		    padding-top: 3px;
		}
		
		.paging_full_numbers {
		    height: 22px;
		    line-height: 22px;
		    margin-top: 10px;
		    position: absolute;
		    right: 30px;
		}
		
		.dataTables_paginate {
		    float: right;
		    text-align: right;
		}
		.paginate_button {
		    background-color: #46A6DD !important;
		    border: 1px solid #0888D1 !important;
		    box-shadow: 0 1px 0 #2AA3E9 inset;
		    color: #FFFFFF !important;
		    padding: 3px 8px !important;
		}
		a.paginate_active {
		    background-color: #0888D1 !important;
		    border: 1px solid #0888D1 !important;
		    border-radius: 5px;
		    box-shadow: 0 1px 0 #2AA3E9 inset;
		    color: #FFFFFF !important;
		    cursor: pointer;
		    padding: 3px 8px !important;
		}
		.hide{
			display:none;
		}
		.avatar{
			padding: 0px 8px 0px 10px !important;
		}
		.clear-fix{
			clear:both;
		}
		
		table.dataTable tr.even td.sorting_1 {
		    background-color: #FFF!important;
		}
		
		table.dataTable tr.odd,
		table.dataTable tr.odd td.sorting_1{
		    background-color: #f3f9fd!important;
		}
		.wrapper-dropdown-picker {
		    background: none repeat scroll 0 0 #FFFFFF;
		    border: 1px solid rgba(0, 0, 0, 0.3);
		    border-radius: 3px;
		    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
		    color: #666666;
		    cursor: pointer;
		    height: 21px;
		    margin-top: 0;
		    position: relative;
		    width: 300px;
			padding:5px 10px 0 9px;
			font-size: 12px;
			
				
		}
		.wrapper-picker-container{
			 margin-left: 20px;
		} 
		.tooltiptext{
		    display: none;
		}
		.showToolTip{
			cursor:pointer;
		}
		.deliverymethods{
			margin-bottom:50px;
		}
		
		#ScheduleBtn.active
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
		}
		
		#ScheduleBtn.inactive
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
		}
		
		#ScriptPickerBtn.active
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/music-icon_24x24.png) 0 0; width: 24px; height: 24px; cursor:pointer;
		}
		
		#ScriptPickerBtn.inactive
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/music-icon_24x24.png) 0 0; width: 24px; height: 24px; cursor:pointer;
		}
		
		.TextLinkHoverStyle:hover
		{
			text-decoration:underline;
			cursor:pointer;
		}
		
		#jstree_demo_div .jstree_no_icon{
			display: none;
		}
		
		a.select_script{
			text-decoration: none !important;
		}
		
		a.select_script:HOVER{
			text-decoration: underline !important;
		}
		
		#inpAvailableShortCode-button
		{		
			outline:none;		
		}
		
		table.dataTable thead tr th{
			border-bottom: 3px solid #FA7D29;
		}
		
		table.dataTable tr td{
			color:#5E6AAD;
		}
		
		table { border-spacing: 0; }
</style>

<!---this is custom filter for datatable--->
<cfset StatusArray = [{value = 1, display = 'Active'}, {value = 0, display = 'Disabled'}]>
<cfset TypeArray = [{value = 2, display = 'Multi Page'}, {value = 1, display = 'Single Page'}]>

<div id="filter">
	<cfoutput>
	<!---set up column --->
	<cfset datatable_ColumnModel = arrayNew(1)>
	<cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Unique ID', CF_SQL_TYPE = 'CF_SQL_VARCHAR', TYPE='TEXT', SQL_FIELD_NAME = 'c.CPP_UUID_vch'})>
	<cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Description', CF_SQL_TYPE = 'CF_SQL_VARCHAR', TYPE='TEXT', SQL_FIELD_NAME = 'c.Desc_vch'})>
	<cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Created Date', CF_SQL_TYPE = 'CF_SQL_DATE', TYPE='DATE', SQL_FIELD_NAME = 'c.Created_dt'})>
	<cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Status', CF_SQL_TYPE = 'CF_SQL_INTEGER', TYPE='LIST', LISTOFVALUES = StatusArray,  SQL_FIELD_NAME = 'c.IFrameActive_int'})>
	<cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Type', CF_SQL_TYPE = 'CF_SQL_TINYINT', TYPE='LIST', LISTOFVALUES = TypeArray, SQL_FIELD_NAME = 'c.Type_ti'})>
	<!---we must define javascript function name to be called from filter later--->
	<cfset datatable_jsCallback = "InitCPP">
	<cfinclude template="/session/ems/datatable_filter.cfm" >
	</cfoutput>
</div>

<!---check permission--->
<cfoutput>
	<style TYPE="text/css">
		@import url('#rootUrl#/#PublicPath#/css/survey.css');
		@import url('#rootUrl#/#PublicPath#/css/jquery.jgrowl.css');
		@import url('#rootUrl#/#PublicPath#/css/survey/surveyquestion.css');
	</style>
	
</cfoutput>

<cfinvoke component="#LocalSessionDotPath#.cfc.administrator.history" method="addHistory" returnvariable="addHistory">
	<cfinvokeargument name="pageTitle" value="#ABCampaign_Title#">
</cfinvoke>
<cfinvoke 
	 component="#LocalSessionDotPath#.cfc.billing"
	 method="GetBalance"
	 returnvariable="RetValBillingData">                     
</cfinvoke>
                                        
<cfif RetValBillingData.RXRESULTCODE LT 1>
    <cfthrow MESSAGE="Billing Error" TYPE="Any" detail="#RetValBillingData.MESSAGE# - #RetValBillingData.ERRMESSAGE#" errorcode="-5">                        
</cfif>  
<cfset newCampaign="newCampaign">

<div class="border_top_none">
	<table id="tblListCPP" class="table" cellspacing=0>
	</table>
</div>
<script>
	var _tblListCPP;
	//init datatable for active agent
	function InitCPP(customFilterObj){
		var customFilterData =  typeof(customFilterObj)!='undefined'?JSON.stringify(customFilterObj):"";
		_tblListCPP = $('#tblListCPP').dataTable( {
		    "bProcessing": true,
			"bFilter": false,
			"bServerSide":true,
			"bDestroy":true,<!---this attribute must be explicit, or custom filter will not work properly  --->
			"sPaginationType": "full_numbers",
		    "bLengthChange": false,
			"iDisplayLength": 10,
			"aaSorting": [[ 2, "desc" ]],
		    "aoColumns": [
				{"sName": 'CPP_UUID_vch', "sTitle": 'Unique ID', "sWidth": '15%',"bSortable": true},
				{"sName": 'Desc_vch', "sTitle": 'Description', "sWidth": '20%',"bSortable": true},
				{"sName": 'Created_dt', "sTitle": 'Created Date', "sWidth": '15%',"bSortable": true},
				{"sName": 'Status', "sTitle": 'Status', "sWidth": '10%',"bSortable": true},
				{"sName": 'Type', "sTitle": 'Type', "sWidth": '10%',"bSortable": true},
				{"sName": 'Options', "sTitle": 'Options', "sWidth": '30%',"bSortable": false}
			],
			"sAjaxSource": '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/multilists2.cfc?method=GetCPPListDataTable&returnformat=plain&queryformat=column&_cf_nodebug=true&_cf_nocache=true',
			"fnServerData": function ( sSource, aoData, fnCallback ) {
		       aoData.push(
		            { "name": "customFilter", "value": customFilterData}
	            );
		        $.ajax({dataType: 'json',
		                 type: "POST",
		                 url: sSource,
			             data: aoData,
			             success: fnCallback
			 	});
	        },
			"fnInitComplete":function(oSettings, json){
				//in order to prevent this talbe from collapsing, we must fix its min width 
				$('#tblListCPP').attr('style', '');
				$('#tblListCPP').css('min-width', '1074px');
			}
	    });
	}
	InitCPP();
			
	$('#subTitleText').text('List CPP');
	$('#mainTitleText').text('Customer Preference Portal');
		
	function deleteCPPCheck(CurrREL,page){
		$.alerts.okButton = '&nbsp;Confirm Delete!&nbsp;';
		$.alerts.cancelButton = '&nbsp;No&nbsp;';		
		
		jConfirm( "Are you sure you want to delete this CPP?", "Delete CPP", function(result) { 
			if(result)
			{	
				deleteCPP(CurrREL, page);
			}
			return false;																	
		});
	}
	
	function deleteCPP(CurrREL, page){
		$.ajax({
			type: "POST", <!--- Posts data as form data rather than on query string and allows larger data transfers than URL GET does --->
			url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/ire/marketingcpp.cfc?method=deleteCPP&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',   
			dataType: 'json',
			data:  { CPPUUID : CurrREL},					  
			error: function(XMLHttpRequest, textStatus, errorThrown) {},					  
			success:		
				<!--- Default return function for Do CFTE Demo - Async call back --->
				function(d) 
				{
					<!--- Alert if failure --->
																								
						<!--- Get row 1 of results if exisits--->
						if (d.ROWCOUNT > 0) 
						{						
							<!--- Check if variable is part of JSON result string --->								
							if(typeof(d.DATA.RXRESULTCODE[0]) != "undefined")
							{							
								CurrRXResultCode = d.DATA.RXRESULTCODE[0];	
								
								if(CurrRXResultCode > 0)
								{
									InitCPP();
									//return false;
								}
								else
								{
									$.alerts.okButton = '&nbsp;OK&nbsp;';
									jAlert("CPP has NOT been deleted.\n"  + d.DATA.MESSAGE[0] + "\n" + d.DATA.ERRMESSAGE[0], "Failure!", function(result) { } );							
								}
							}
							else
							{<!--- Invalid structure returned --->	
								
							}
						}
						else
						{<!--- No result returned --->		
							$.alerts.okButton = '&nbsp;OK&nbsp;';					
							jAlert("Error.", "No Response from the remote server. Check your connection and try again.");
						}
											
			//			$("#AddNewBatchSurveyList #loadingDlgAddBatchSurveyList").hide();
									
				} 		
				
			});
	}
	
	function activeDeativePortal(cpp){
		var uuid = $(cpp).attr("cppUUID");
		var activeFrameType = $(cpp).attr("type");
		var strConfirm = "Would you like to make this portal available to the public?";
		var strTitle = "Make portal available";
		if(activeFrameType == 1){
			strConfirm = "Would you like to take this portal offline? Doing so will prevent users from seeing or using it.";
			strTitle = "Take portal offline";
		}
		var page = $(cpp).attr('pageRedirect');
		
		jConfirm( strConfirm, strTitle, function(result) { 
			if(result)
			{	
				$.ajax({
					type: "POST", <!--- Posts data as form data rather than on query string and allows larger data transfers than URL GET does --->
					url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/ire/marketingcpp.cfc?method=activeDeactiveFrame&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',   
					dataType: 'json',
					data:  { 
						inpCppUUID : uuid,
						inpCurrentType : activeFrameType
					},					  
					error: function(XMLHttpRequest, textStatus, errorThrown) {},					  
					success:		
						<!--- Default return function for Do CFTE Demo - Async call back --->
						function(d) 
						{
							<!--- Alert if failure --->
																										
								<!--- Get row 1 of results if exisits--->
								if (d.ROWCOUNT > 0) 
								{						
									<!--- Check if variable is part of JSON result string --->								
									if(typeof(d.DATA.RXRESULTCODE[0]) != "undefined")
									{							
										CurrRXResultCode = d.DATA.RXRESULTCODE[0];	
										
										if(CurrRXResultCode > 0)
										{
											InitCPP();
											return false;
										}
										else
										{
											$.alerts.okButton = '&nbsp;OK&nbsp;';
											jAlert("Cpp iframe has not been changed.\n"  + d.DATA.MESSAGE[0] + "\n" + d.DATA.ERRMESSAGE[0], "Failure!", function(result) { } );							
										}
									}
									else
									{<!--- Invalid structure returned --->	
										
									}
								}
								else
								{<!--- No result returned --->		
									$.alerts.okButton = '&nbsp;OK&nbsp;';					
									jAlert("Error.", "No Response from the remote server. Check your connection and try again.");
								}
						} 		
						
					});
			}
			return false;																	
		});
		
		return false;
	}
	
	function activeDeativeApiAccess(cpp){
		var uuid = $(cpp).attr("cppUUID");
		var activeApiAccessType = $(cpp).attr("type");
		var strConfirm = "Do you want to enable API access to this portal?";
		var strTitle = "Enable API access";
		if(activeApiAccessType == 1){
			strConfirm = "Do you want to disable API access to this portal?";
			strTitle = "Disable API access";
		}
		var page = $(cpp).attr('pageRedirect');
		
		jConfirm( strConfirm, strTitle, function(result) { 
			if(result)
			{	
				$.ajax({
					type: "POST", <!--- Posts data as form data rather than on query string and allows larger data transfers than URL GET does --->
					url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/ire/marketingcpp.cfc?method=activeDeactiveApiAccess&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',   
					dataType: 'json',
					data:  { 
						inpCppUUID : uuid,
						inpCurrentType : activeApiAccessType
					},					  
					error: function(XMLHttpRequest, textStatus, errorThrown) {},					  
					success:		
						<!--- Default return function for Do CFTE Demo - Async call back --->
						function(d) 
						{
							<!--- Alert if failure --->
																										
								<!--- Get row 1 of results if exisits--->
								if (d.ROWCOUNT > 0) 
								{						
									<!--- Check if variable is part of JSON result string --->								
									if(typeof(d.DATA.RXRESULTCODE[0]) != "undefined")
									{							
										CurrRXResultCode = d.DATA.RXRESULTCODE[0];	
										
										if(CurrRXResultCode > 0)
										{
											InitCPP();
											return false;
												
										}
										else
										{
											$.alerts.okButton = '&nbsp;OK&nbsp;';
											jAlert("API Access has not been changed.\n"  + d.DATA.MESSAGE[0] + "\n" + d.DATA.ERRMESSAGE[0], "Failure!", function(result) { } );							
										}
									}
									else
									{<!--- Invalid structure returned --->	
										
									}
								}
								else
								{<!--- No result returned --->		
									$.alerts.okButton = '&nbsp;OK&nbsp;';					
									jAlert("Error.", "No Response from the remote server. Check your connection and try again.");
								}
													
				
						} 		
						
					});
			}
			return false;																	
		});
		
		return false;
	}
</script> 