﻿<cfparam name="KeywordId" default="">
<cfparam name="statusid" default="">
<cfset keywordid = KeywordId>
<cfset active = statusid>
<cfinclude template="KeywordManagerJS.cfm">
<cfinvoke component="#LocalSessionDotPath#.cfc.smscampaigns.keywordManagement" method="GetStatusList" returnvariable="GetStatusList">
 <!--- <div class="header">
        <div class="header-text">Add a new contact to group</div>
         <span id="closeDialog">Close</span>
    </div>--->
<center>
	<p>
		Please select a status
	</p>
</center>
<div>
	<div style="width: 100%; padding:20px;">
	<cfoutput>
		<cfset item = 0>
		<cfloop array="#GetStatusList.ROWS#" index="StatusIndex">
			<cfset item ++>
			 <cfif StatusIndex.Active_int EQ active>
				<input type="radio" name="KeywordStatus" checked="checked" id="rad#item#" value="#StatusIndex.Active_int#">
			<cfelse>
				<input type="radio" name="KeywordStatus" id="rad#item#" value="#StatusIndex.Active_int#">
			</cfif>
			<label for="rad#item#" style="margin-left:10px;" >#StatusIndex.Display_vch#</label><br>
		</cfloop>
	</cfoutput>
	</div>
	<div  class="SCRow" style="text-align:center; margin-top:10px;">
		<a class="button filterButton small" onclick="closeDialog(); return false;" href="javasrcipt:void(0)">Cancel</a>
		<!---<a href="##" class="button filterButton small" id="CancelFormButton" >Cancel</a>--->
		<a class="button filterButton small" onclick="UpdateKeywordStatus('<cfoutput>#keywordid#</cfoutput>'); return false;" href="javasrcipt:void(0)">Save</a>
	</div>
</div>
<!---<style>
	.EBMDialog label {
    color: #161616 !important;
    width: 90% !important;
}
	
</style>--->
<!---<script type="text/javascript">
	$(function() 
	{		

		$("#UpdateKeywordStatus #CancelFormButton").click(function() { $('#UpdateKeywordStatus').dialog('close') });
		$("#UpdateKeywordStatus #closeDialog").click(function() { $('#UpdateKeywordStatus').dialog('close') });
								
	});
	</script>--->