﻿<cfset userCapt = "PIvGUCPf29Mq7E5MrnDkBjNVgFHTa6C0pA9IAekK">
<cfset pwdCapt = "W32dOu7RHQWIu3qtr1oulr5a67sSmbNG4auDqp3I">
<cfset customerID = "b8mSr8d1">
<cfset siteID = "ebmdev.seta0">
<cfset local_server_name = "ebmdev.seta0">
<cfset local_server_address = "127.0.0.1">
<cfset confidentURL  = "http://captcha.confidenttechnologies.com/captcha">
<cfset confidentURL1 = "http://captcha.confidenttechnologies.com/check_credentials">
<div id="test">
	<cfoutput>
	<cftry>
	    <cfset a = b>
    <cfcatch type="Any" >
		<cflog text = "uploadExternalBabble - #cfcatch.MESSAGE# - #cfcatch.detail#" file="BabbleSphereErrLog" application = "yes" type = "Error">
    </cfcatch>
    </cftry>
	
</cfoutput>
</div>
