/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*Gray red Pagination*/
div.pagination {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	padding:2px;
	background-color:#c1c1c1;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	background-color:#c1c1c1;
	text-decoration: none; /* no underline */
	color: #000;
}
div.pagination a:hover, div.pagination a:active {
	background-color:#99ffff;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		font-weight: bold;
		background-color: #fff;
		color: #303030;
	}
div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		background-color:#c1c1c1;
		color: #797979;
	}