/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Meneame style pagination*/
	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
		color:#ff6500;
		font-size:80%;
	}
	
	div.pagination a {
		border: 1px solid #ff9600;
		margin-right:3px;
		padding:5px 7px;

		background-image:url(meneame.jpg);
		background-position:bottom;
		text-decoration: none;

		color: #ff6500;		
	}
	div.pagination a:hover, div.meneame a:active {
		border: 1px solid #ff9600;
		background-image:none;
		background-color:#ffc794;
		color: #ff6500;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:5px 7px;
		border: 1px solid #ff6500;
		
		font-weight: bold;
		background-color: #ffbe94;
		color: #ff6500;
	}
	div.pagination span.disabled {
		margin-right:3px;
		padding:5px 7px;
		border: 1px solid #ffe3c6;
	
		color: #ffe3c6;
	}