

.carrierTitle {
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.carrierText {
    width: 90%;
    padding: 30px;
}

.carrierText .item {
    padding: 5px;
}

.carrierText label {
    width: 190px;
    display: inline-block;
    font-family: "Times New Roman", Georgia, Serif;
    vertical-align: top;
}

.carrierText .control {
    display: inline-block;
    width: 200px;
}

.carrierText .control input[type = text], .carrierText .control textarea {
    width: 400px;
}

.carrierButtonBar {
    width: 100%;
    text-align: center;
}

.carrierButtonBar input[type = button] {
    cursor: pointer;
}

.carrierText a, .carrierText a:link, .carrierText a:visited, .carrierText a:active {
    color: #365581;
    text-decoration: underline;
}

.carrierText a:hover{
	text-decoration: none;
}

#carrierCostData table td img
{
	cursor:pointer;
}
