@CHARSET "ISO-8859-1";

.scrTitle {
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.scrText {
    width: 90%;
    padding: 30px;
}

.scrText .item {
    padding: 5px;
}

.scrText label {
    width: 110px;
    display: inline-block;
	font-family:"Times New Roman",Georgia,Serif;
}

.scrText .control {
    display: inline-block;
    width: 200px;
}

.scrButtonBar {
    width: 100%;
    text-align: center;
}

.scrButtonBar input[type = button] {
    cursor: pointer;
}

.sms_popup_header {
	width: 100%; 
	text-align: center;
}

.sms_popup_row_first {
	width: 100%; 
	clear: both; 
	margin-top: 20px;
}

.sms_popup_row_label {
	width: 20%; 
	float: left; 
	padding-left: 5%;
}

.sms_popup_row_label1 {
	width: 15%; 
	float: left; 
}

.sms_popup_row_control {
	width: 40%; 
	float: left;
}

.sms_popup_row_control_keyword {
	width: 70%; 
	float: left;
}
.sms_popup_row_control1 {
	width: 35%; 
	float: left;
}

.sms_popup_row {
	width: 100%; 
	clear: both; 
	padding-top: 10px;
}

.sms_popup_row_control2 {
	width: 25%; 
	float: left;
}

.sms_popup_action {
	width: 100%; 
	clear: both; 
	text-align: center; 
	padding-top: 20px;
}

.sms_popup_row_control3 {
	width: 75%; 
	float: left;
}

.sms_grid_header {
	width: 100%;
	height:20px; 
	padding-top: 20px;
}

.sms_grid_header_content {
	width: 40%; 
	float: left; 
	margin-left: 10px;
}
.sms_align_center {
	 text-align: center;
}

.sms_full_width {
	width: 100%
}

.sms_page_header {
	width: 40%; 
	float: left; 
	margin-left: 10px; 
	font-size: 25px;
}

.sms_page_header_right {
	 float: right;
}

.sms_padding_left5 {
	padding-left:5px;
}

.sms_text_width {
	width: 80% !important;
}

.sms_remaining_chars_keyword {
	float: right; 
	padding-right: 15%
}