#print-modal {
    background: #FFF;
    position: absolute;
    /*left: 50%;
    margin: 0 0 0 -465px;
    padding: 0 68px;
    width: 794px;*/
    width: 1000px;
    box-shadow: 0 0 20px #000;
        -moz-box-shadow: 0 0 20px #000;
    	-webkit-box-shadow: 0 0 10px #000;
}
#print-modal-content {
    border: none;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin:10px 0 60px;
}

#print-modal-controls {
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.75);
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    left: 430px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 10px;
}
    #print-modal-controls a {
        color: #FFF;
        display: block;
        float: left;
        height: 32px;
        text-decoration: none;
        text-indent: -999em;
        width: 80px;
    }
    
    #print-modal-controls a:hover {
        opacity: 0.75;
    }
    
    #print-modal-controls a.print {
        background: url(images/icon-print.png) no-repeat 50% 50%;
    }
    #print-modal-controls a.close {
        background: url(images/icon-close.png) no-repeat 50% 50%;
    }