ul#listTemp li{
	list-style: none;
	float: left;
	margin: 10px;
}

ul#listTemp li img, .tempContent{
	float: left;
}

ul#listTemp li img.tempImages{
	width: 150px;
	height: 150px;
}

.tempContent{
	margin: 0 10px;
	width: 250px;
}

.templateTitle{
	color: #447099;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.templateDesc{
	color: #666666;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 5px;
    width: 	
}

.useTemplate a{
	color: #447099;
    font-size: 14px;
    font-weight: bold;
}

#customHtmlTitle{
	font-weight: bold;
	margin: 10px 0;
}

#customHtmlDesc{
	font-style:italic;
	margin: 10px 0;
}