*{
	padding: 0;
}

body{
	color: #333333;	
}

#containerLaunch{
	margin: 0 10px;
}

h1, .cppPortalSubmit{
	background: #264D4D;
	line-height: 30px;
	padding: 10px;
	color: #fff;
	font-size: 32px;
	font-weight: normal;
}

h2.cppStepTitle{
	font-size: 20px;
	margin: 10px 0 5px;
}

.cppStepTitle span{
	font-weight: normal;
	font-size: 20px;
}

.cppPortalDesc{
	font-weight: bold;
}

.cppPortalContent{
	margin-left: 30px;	
}

.cppPortalSubmit{
	margin-top: 25px;
}

.cppPortalSubmit input[type=submit]{
	background: linear-gradient(#FEFEFE, #DBDBDB) repeat scroll 0 0 transparent;
    border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    font-size: 12px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 0 1px 0 white;
}

.cppPortalRow{
	margin-left: 15px;
}

.cppPortalDesc{
	margin-bottom: 5px;
}

.cppPortalDesc p{
	margin: 0;
}

.cppPortalContentRow{
	margin: 5px 0;
}

.buildportalControl input[type=checkbox]{
	margin: 0 10px;
}

.dialog_content input[type=checkbox],.dialog_content span{
	float: left;
}

.dialog_content span p{
	margin: 0;
}

.MultipleSelectText{
	margin-right: 10px;
}
#textCondition{
	width: 96%;
	text-align: left;
}

#dialog_termCondition .dialog_content{
	width: auto;
}

#dialog_termCondition{
	left: 25%;
	right: 25%;
	margin: 0;
}

.somadesign1{
	margin-top: 20px;
}

.vanityAvailable{
	color:#999999;
}

.vanityNotAvailable{
	color:#990033;
}

.thankyou{
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
}

input[type=text]{
	height: 25px;
	display: inline;
	margin-top: 10px;
}

input.emailText{
	width: 175px;	
}

label{
	font-weight: bold;
}

.methodText{
	width: 50px;
	display: inline;	
}

.VoiceNumberText{
	margin-right: 2px;
}

.SMSNumberText{
	margin-right: 5px;
}

#language{
	width: 200px;
	margin-top: 5px;
	padding: 5px 0;
}