*{
	padding: 0;
}
.thankyou{
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
}

input[type=text]{
	height: 35px;
	display: inline;
	margin-top: 10px;
}

input.emailText{
	width: 175px;	
}

label{
	font-weight: bold;
}

.methodText{
	width: 50px;
	display: inline;	
}

.VoiceNumberText{
	margin-right: 2px;
}

.SMSNumberText{
	margin-right: 5px;
}

#language{
	width: 200px;
	margin-top: 10px;
	padding: 5px 0;
}

h1.cppStepTitle{
	font-size: 25px;
}

.cppStepTitle span{
	font-weight: normal;
	font-size: 20px;
}

.cppPortalDesc{
	margin-left: 35px;
}

.cppPortalContent{
	margin-left: 70px;	
}

#cppLaunchForm .cppPortalSubmit{
	text-align: right;
	max-width: 58%;
	font-size: 15pt;
}

.cppPortalRow{
	width: 100%;
	font-size: 15pt;
}

.cppPortalDesc{
	margin-bottom: 5px;
}

.cppPortalDesc p{
	//line-height: 10px;
}

.cppPortalContentRow{
	margin: 5px 0;
}

.buildportalControl input[type=checkbox]{
	margin: 0 10px;
}

.dialog_content input[type=checkbox],.dialog_content span{
	float: left;
}

.dialog_content span p{
	margin: 0;
}

.MultipleSelectText{
	margin-right: 10px;
}
#textCondition{
	width: 96%;
	text-align: left;
}

#dialog_termCondition .dialog_content{
	width: auto;
}

#dialog_termCondition{
	left: 25%;
	right: 25%;
	margin: 0;
}

.somadesign1{
	margin-top: 20px;
}

.vanityAvailable{
	color:#999999;
}

.vanityNotAvailable{
	color:#990033;
}

body #popup_container{
	top: 30% !important;
	left: 30% !important;
		
}

#popup_content #popup_message, #popup_head #popup_title, #popup_head #popup_close, #popup_panel input[type="button"]{
	font-size: 15pt;
}