

<cfscript>
  function strip(str) {
  return REReplaceNoCase(str,"<[^>]*>","","ALL");
  }
</cfscript>

<cfparam name="testSMtpID"      type="string" default="NO" > 

<cftry>              

	<cfset incomingData = toString(getHttpRequestData().content) />

    <cfset djs = DeserializeJSON(incomingData)/>
    
<cfset DTSIDVal = "0">
<cfset UUIDVal = "">
<cfset attemptVal = "0">
<cfset categoryVal = "0">
<cfset emailVal = "">
<cfset eventVal = "">
<cfset responseVal = "">
<cfset smtpIDVal = "">
<cfset TGtimestampVal = "">
<cfset sgTimeStampVal = "#NOW()#">
<cfset typeVal = "">
<cfset reasonVal = "">
<cfset statusVal = "">

<cfoutput>
<cfloop from="1" to="#arraylen(djs)#" index="i">
	
    <cfset DTSIDVal = "0">
	<cfset UUIDVal = "">
    <cfset attemptVal = "0">
    <cfset categoryVal = "0">
    <cfset emailVal = "">
    <cfset eventVal = "">
    <cfset responseVal = "">
    <cfset smtpIDVal = "">
    <cfset TGtimestampVal = "">
    <cfset sgTimeStampVal = "#NOW()#">
    <cfset typeVal = "">
    <cfset reasonVal = "">
    <cfset statusVal = "">
    
    <cfif StructKeyExists(djs[i],'DTSId')>
		<cfset DTSIDVal  	   = djs[i].DTSId />
    </cfif>

    <cfif StructKeyExists(djs[i],'UUID')>
        <cfset UUIDVal	       = djs[i].UUID />
    </cfif>
    <cfif StructKeyExists(djs[i],'attempt')>
        <cfset attemptVal 	   = djs[i].attempt />
    </cfif>
    <cfif StructKeyExists(djs[i],'category')>
        <cfset categoryVal	   = djs[i].category />
    </cfif>     
    <cfif StructKeyExists(djs[i],'email')>
        <cfset emailVal 	   = djs[i].email />
    </cfif>
   <cfif StructKeyExists(djs[i],'event')>
        <cfset eventVal	       = djs[i].event />
    </cfif>
    <cfif StructKeyExists(djs[i],'response')>
        <cfset responseVal	   = djs[i].response />
    </cfif>
    
    <cfif StructKeyExists(djs[i],'timestamp')>
        {                                                                         
        <cfset TGtimestampVal  = djs[i].timestamp />
        <cfset sgTimeStampVal  = dateAdd("s", TGtimestampVal, createDateTime(1970, 1, 1, 0, 0, 0))/>
        }
    </cfif>
    <cfif StructKeyExists(djs[i],'type')>
        <cfset typeVal         = djs[i].type />
    </cfif>
	<cfif StructKeyExists(djs[i],'reason')>
        <cfset reasonVal       = djs[i].reason />
    </cfif>
    <cfif StructKeyExists(djs[i],'status')>
        <cfset statusVal       = djs[i].status /> 
    </cfif>
    
	<cfstoredproc procedure="usp_sg_ins_emailv3" datasource="10.11.0.130">
        <cfprocparam cfsqltype="cf_sql_bigint" value="#DTSIDVal#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(UUIDVal,199)#">
        <cfprocparam cfsqltype="cf_sql_integer" value="#attemptVal#">
        <cfprocparam cfsqltype="cf_sql_integer" value="#categoryVal#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(emailVal,199)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(eventVal,199)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(responseVal,499)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(smtpIDVal,199)#">
        <cfprocparam cfsqltype="cf_sql_timestamp" value="#sgTimeStampVal#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(typeVal,199)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#LEFT(reasonVal,499)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(statusVal,99)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="10.26.0.19">
    </cfstoredproc>
                
</cfloop>

</cfoutput>
 
    
    <cfcatch type="any">
    	
    	<cfmail to="akhare@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="Sendgrid Incoming Catch for EBM_DEV_237 User" type="html">
			<!--- #left(responseVal,499)#--->
             <cfif IsDefined("incomingData")><cfdump var="#incomingData#"></cfif>
			 <cfif IsDefined("djs")><cfdump var="#djs#"></cfif>
             <cfdump var="#cfcatch#">
             <cfdump var="#cgi#">
        </cfmail>
        
        <cfheader statuscode="500" statustext="#cfcatch.Message#">
    </cfcatch>
</cftry>


<!--- <cfset DTSIDVal = "0">
<cfset UUIDVal = "">
<cfset attemptVal = "0">
<cfset categoryVal = "0">
<cfset emailVal = "">
<cfset eventVal = "">
<cfset responseVal = "">
<cfset smtpIDVal = "">
<cfset TGtimestampVal = "">
<cfset sgTimeStampVal = "#NOW()#">
<cfset typeVal = "">
<cfset reasonVal = "">
<cfset statusVal = "">


<cfscript>
  function strip(str) {
  return REReplaceNoCase(str,"<[^>]*>","","ALL");
  }
</cfscript>

<cfparam name="testSMtpID" type="string" default="NO" > 

<cftry>              

	<cfset incomingData = toString(getHttpRequestData().content) />
    
    
    

    <cfset djs = DeserializeJSON(incomingData)/>
    


<cfoutput>
<cfloop from="1" to="#arraylen(djs)#" index="i">
	
    <cfif StructKeyExists(djs[i],'DTSId')>
		<cfset DTSIDVal  	   = djs[i].DTSId />
    </cfif>

    <cfif StructKeyExists(djs[i],'UUID')>
        <cfset UUIDVal	       = djs[i].UUID />
    </cfif>
    <cfif StructKeyExists(djs[i],'attempt')>
        <cfset attemptVal 	   = djs[i].attempt />
    </cfif>
    <cfif StructKeyExists(djs[i],'category')>
        <cfset categoryVal	   = djs[i].category />
    </cfif>     
    <cfif StructKeyExists(djs[i],'email')>
        <cfset emailVal 	   = djs[i].email />
    </cfif>
   <cfif StructKeyExists(djs[i],'event')>
        <cfset eventVal	       = djs[i].event />
    </cfif>
    <cfif StructKeyExists(djs[i],'response')>
        <cfset responseVal	   = djs[i].response />
    </cfif>
    
    <cfif StructKeyExists(djs[i],'timestamp')>
        {                                                                         
        <cfset TGtimestampVal  = djs[i].timestamp />
        <cfset sgTimeStampVal  = dateAdd("s", TGtimestampVal, createDateTime(1970, 1, 1, 0, 0, 0))/>
        }
    </cfif>
    <cfif StructKeyExists(djs[i],'type')>
        <cfset typeVal         = djs[i].type />
    </cfif>
	<cfif StructKeyExists(djs[i],'DTSId')>
        <cfset reasonVal       = djs[i].reason />
    </cfif>
    <cfif StructKeyExists(djs[i],'status')>
        <cfset statusVal       = djs[i].status /> 
    </cfif>
    

                
</cfloop>



    <cfstoredproc procedure="usp_sg_ins_emailv3" datasource="10.11.0.130">
        <cfprocparam cfsqltype="cf_sql_bigint" value="#DTSIDVal#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(UUIDVal,199)#">
        <cfprocparam cfsqltype="cf_sql_integer" value="#attemptVal#">
        <cfprocparam cfsqltype="cf_sql_integer" value="#categoryVal#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(emailVal,199)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(eventVal,199)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(responseVal,499)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(smtpIDVal,199)#">
        <cfprocparam cfsqltype="cf_sql_timestamp" value="#sgTimeStampVal#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(typeVal,199)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#LEFT(reasonVal,499)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="#left(statusVal,99)#">
        <cfprocparam cfsqltype="cf_sql_varchar" value="10.26.0.19">
    </cfstoredproc>
    
</cfoutput>
   
    
    <cfcatch type="any">
    	
    	<cfmail to="akhare@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="Sendgrid Incoming Catch " type="html">
			<!--- #left(responseVal,499)#--->
			 <cfif IsDefined("djs")><cfdump var="#djs#"></cfif>
             <cfdump var="#cfcatch#">
             <cfdump var="#cgi#">
        </cfmail>
        
        <cfheader statuscode="500" statustext="#cfcatch.Message#">
    </cfcatch>
</cftry> --->