<cfset DTSIDVal = "0">
<cfset UUIDVal = "">
<cfset attemptVal = "0">
<cfset categoryVal = "0">
<cfset emailVal = "">
<cfset eventVal = "">
<cfset responseVal = "">
<cfset smtpIDVal = "">
<cfset TGtimestampVal = "">
<cfset sgTimeStampVal = "#NOW()#">
<cfset typeVal = "">
<cfset reasonVal = "">
<cfset statusVal = "">

<cfscript>
  function strip(str) {
  return REReplaceNoCase(str,"<[^>]*>","","ALL");
  }
</cfscript>

<cfparam name="testSMtpID"      type="string" default="NO" > 

<cftry>              

	<cfset incomingData = toString(getHttpRequestData().content) />
    

	<!--- ========================================= --->
	<cfset incomingData = REPLACENOCASE(incomingData,"} {","}|{","all")>
    <cfset incomingData = REPLACENOCASE(incomingData,"}#CHR(13)##CHR(10)#{","}|{","all")>
	<cfset incomingDataArray = LISTTOARRAY(incomingData,"|","yes")>
    
    <cfset thhh = dateFormat(now(),'mmddyyyy') & timeformat(Now(),'HHmmssl')>
    
    
<!---<cfmail to="dyadav@messagebroadcast.com;jim@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="sendgrid incoming catch50" type="html">
   		 <Cfdump var="#incomingDataArray#">
         
    </cfmail>--->
    <!---<cfthread action="run" name="th#thhh#">--->
        <cfloop from="1" to="#ArrayLen(incomingDataArray)#" index="i">
            <cftry>
                <cfset incoming = DeserializeJSON(incomingDataArray[i]) />
                
                <cfif isdefined("incoming.DTSId")>
                    <cfset DTSIDVal  	   = StructFind(incoming,"DTSId") />
                </cfif>
                <cfif isdefined("incoming.UUID")> 
                    <cfset UUIDVal	       = StructFind(incoming,"UUID") />
                </cfif>
                <cfif isdefined("incoming.attempt")> 
                    <cfset attemptVal 	   = StructFind(incoming,"attempt") />
                </cfif>
                <cfif isdefined("incoming.category")>
	                <cfset categoryVal	   = StructFind(incoming,"category") />
                </cfif>     
                <cfif isdefined("incoming.email")> 
                    <cfset emailVal 	   = StructFind(incoming,"email") />
                </cfif>
               <cfif isdefined("incoming.event")> 
                    <cfset eventVal	       = StructFind(incoming,"event") />
                </cfif>
                <cfif isdefined("incoming.response")> 
                    <cfset responseVal	   = StructFind(incoming,"response") />
                </cfif>
                <!--- ================================================ --->
                <!--- ================================================ --->
                <!---<cfif isdefined("incoming.smtp-id")>
                    <cfset smtpIDVal	   = strip(StructFind(incoming,"smtp-id")) />
                </cfif>--->
                <!--- ================================================ --->
                <!--- ================================================ --->
                <cfif isdefined("incoming.timestamp")> 
                    {                                                                         
                    <cfset TGtimestampVal  = StructFind(incoming,"timestamp")>
                    <cfset sgTimeStampVal  = dateAdd("s", TGtimestampVal, createDateTime(1970, 1, 1, 0, 0, 0))/>
                    }
                </cfif>
                <cfif isdefined("incoming.type")>
                    <cfset typeVal         = StructFind(incoming,"type") />
                </cfif>
                <cfif isdefined("incoming.reason")>
                    <cfset reasonVal       = StructFind(incoming,"reason") />
                </cfif>
                <cfif isdefined("incoming.status")>
                    <cfset statusVal       = StructFind(incoming,"status") /> 
                </cfif>
                
                
                <!---<cfset testSMtpID = StructFindKey(incoming,'smtp-id', all) />--->
                                  
                
                <!--- ====================================================================================================== --->
                <!--- ====================================================================================================== --->
                 
                <cfstoredproc procedure="usp_sg_ins_email <!--- usp_sg_ins_emailv3 --->" datasource="sendgrid1<!--- 10.11.0.130 --->">
                    <cfprocparam cfsqltype="cf_sql_bigint" value="#DTSIDVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#UUIDVal#">
                    <cfprocparam cfsqltype="cf_sql_integer" value="#attemptVal#">
                    <cfprocparam cfsqltype="cf_sql_integer" value="#categoryVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#emailVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#eventVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#responseVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#smtpIDVal#">
                    <cfprocparam cfsqltype="cf_sql_timestamp" value="#sgTimeStampVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#typeVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#LEFT(reasonVal,200)#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="#statusVal#">
                    <cfprocparam cfsqltype="cf_sql_varchar" value="10.26.0.19">
                </cfstoredproc>
            <cfcatch type="any">    
                <!---<cfmail to="nlottschwartz@messagebroadcast.com;AKhare@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="sendgrid incoming catch50" type="html">
                     <cfif IsDefined("incoming")><cfdump var="#incoming#"></cfif>
                     <cfdump var="#cfcatch#">
                     <table border="1">
                         <tr><td>DTSId</td><td align="right">#DTSIDVal#</td></tr>
                          <tr><td>UUID</td><td align="right">#UUIDVal#</td></tr>
                          <tr><td>attempt</td><td align="right">#attemptVal#</td></tr>
                          <tr><td>category</td><td align="right">#categoryVal#</td></tr>
                          <tr><td>email</td><td align="right">#emailVal#</td></tr>
                          <tr><td>event</td><td align="right">#eventVal#</td></tr>
                          <tr><td>response</td><td align="right">#responseVal#</td></tr>
                          <tr><td>smtp-id</td><td align="right">#smtpIDVal#</td></tr>         
                          <tr><td>timestamp</td><td align="right">#sgTimeStampVal#</td></tr>
                          <tr><td>type</td><td align="right">#typeVal#</td></tr>
                          <tr><td>reason</td><td align="right">#reasonVal#</td></tr>
                          <tr><td>status</td><td align="right">#statusVal#</td></tr>
                     </table>
                </cfmail>--->
				<cfheader statuscode="500" statustext="Internal Server Error">
            </cfcatch>
            </cftry>
        </cfloop>
    <!---</cfthread>--->
    
        
    
    
    
     <!--- ====================================================================================================== --->
     <!--- ====================================================================================================== --->
    
    
    
    
    
    
    
    
    <!---<cfmail to="tlee@messagebroadcast.com" cc="nlottschwartz@message.broadcast.com" from="it@messagebroadcast.com" subject="sendgrid incomingdmo0d00 catch50" type="html">
    	 <cfdump var="#incoming#"><br />
         <cfdump var="#incomingData#"><br />
		 <!---<cfdump var="#testSMtpID#">--->
         <table border="1">
             <tr><td>DTSId</td><td align="right">#DTSIDVal#</td></tr>
              <tr><td>UUID</td><td align="right">#UUIDVal#</td></tr>
              <tr><td>attempt</td><td align="right">#attemptVal#</td></tr>
              <tr><td>category</td><td align="right">#categoryVal#</td></tr>
              <tr><td>email</td><td align="right">#emailVal#</td></tr>
              <tr><td>event</td><td align="right">#eventVal#</td></tr>
              <tr><td>response</td><td align="right">#responseVal#</td></tr>
              <tr><td>smtp-id</td><td align="right">#smtpIDVal#</td></tr>         
              <tr><td>timestamp</td><td align="right">#sgTimeStampVal#</td></tr>
              <tr><td>type</td><td align="right">#typeVal#</td></tr>
              <tr><td>reason</td><td align="right">#reasonVal#</td></tr>
              <tr><td>status</td><td align="right">#statusVal#</td></tr>
         </table>
     </cfmail>--->
 
<cfcatch type="any">
	<!---<cfmail to="nlottschwartz@messagebroadcast.com;AKhare@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="sendgrid incoming catch50" type="html">
   		 <cfif IsDefined("incoming")><cfdump var="#incoming#"></cfif>
         <cfdump var="#cfcatch#">
         <table border="1">
             <tr><td>DTSId</td><td align="right">#DTSIDVal#</td></tr>
              <tr><td>UUID</td><td align="right">#UUIDVal#</td></tr>
              <tr><td>attempt</td><td align="right">#attemptVal#</td></tr>
              <tr><td>category</td><td align="right">#categoryVal#</td></tr>
              <tr><td>email</td><td align="right">#emailVal#</td></tr>
              <tr><td>event</td><td align="right">#eventVal#</td></tr>
              <tr><td>response</td><td align="right">#responseVal#</td></tr>
              <tr><td>smtp-id</td><td align="right">#smtpIDVal#</td></tr>         
              <tr><td>timestamp</td><td align="right">#sgTimeStampVal#</td></tr>
              <tr><td>type</td><td align="right">#typeVal#</td></tr>
              <tr><td>reason</td><td align="right">#reasonVal#</td></tr>
              <tr><td>status</td><td align="right">#statusVal#</td></tr>
         </table>
    </cfmail>--->
	<cfheader statuscode="500" statustext="Internal Server Error">
</cfcatch>
</cftry>

<!--- ========================================= --->
