.print-display-only	{ display:none; }

* {
	margin: 0;
	padding: 0;
	/*	 
	font-family: 'Conv_Helvetica45-Light';
	*/
/*	font-weight: normal;
	font-style: normal;	*/
}

/* ../images/design/main-bg.jpg */
/*body{
	background: url("../images/bg.png") repeat scroll 0 0 transparent;
	font-family:Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;	
}*/

a{
	text-decoration: none;
}

a, a:link, a:hover, a:visited, a:active {text-decoration: none; color: #15436C;}

a img{
	border: none;
}

.clear_both{
	clear: both;
}

.container{
	margin: 0 auto;
}

.leftBackground{
}

#mainPage{
	/*
background: url("../images/design/main-bg.jpg") repeat scroll 0 0 transparent;
*/
	width: 100%;
	float: left;
	min-height: 600px;
}

#lineTop{
	background:#14426b;
	height: 4px; 
}

#headerPage{
	border-bottom: 1px solid #C8C9CC; 
	border-top: 3px solid #C7C8CB; 	
}

#headContent{
	height: 60px;
	background-color: #FFFFFF;
	border-top-left-radius:15px;
}

#headContent ul{
	float: right;
	margin: 15px 350px 0 0;
}

.headerinfoOpen
{
	margin: 15px 350px 0 0;
}

.headerinfoClose
{
	margin: 15px 50px 0 0;
}

#headContent ul li {
	display: inline;
	list-style: none;
	padding: 0 2px;
	font-size: 11px;
}

#headContent ul li a{
	color: rgb(21,67,108);
}

#mainTitle {
	height: 28px;
	width:100%;
	border-bottom:#fa7d2b 1px solid;

	background: #000000; 


}

#mainTitle #mainTitleText{
	margin-left: 235px;
	margin-bottom:5px;
}

#mainTitle #mainTitleText{
	margin-left: 0px;
	padding-left: 20px;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	line-height: 28px;
	color:#FFFFFF;
}

#subTitleContent{
	border-bottom: 1px solid #A3C1D2;
}

#subTitle{
	
	height: 29px;	
	width: 100%;
	background: #E8F4FC;
}

#subTitleContent {
	border-bottom: 1px solid #20201f;
	height: 27px;
}

#subTitleLeft{
	/*
	float: left;
	height: 30px;
	width: 220px;
	background: url("../images/design/bgSubTitle.png") no-repeat;
	*/
}

#subTitleText{

	font-size: 14px;
	font-family:Helvetica, Arial, sans-serif;
	line-height: 28px;
	padding-left: 10px;
	margin-left: 10px;
}

#setting{
	background: url("../images/design/gear.png") no-repeat;
	height: 16px;
	width: 16px;
	float: right;
	margin-top: 5px;
}

#information{
	background: url("../images/design/information.png") no-repeat;
	height: 16px;
	width: 16px;
	float: right;
	margin-top: 5px;
	margin: 5px 9px;
}

#forwardHistory{
	background: url("../images/design/forward_history.png") no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

#backHistory{
	background: url("../images/design/back_history.png") no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	float: right;
	margin-top: 5px;
	margin-right: 3px;
}

#showHistory{
	float: right;
	background: url("../images/design/show_history.png") top right no-repeat;
	width: 30px;
	line-height: 10px;
	margin-top: 9px;
	cursor: pointer;
	font-size: 12px;
	color: #231F20;
	margin-right: 10px;
}

#listHistory{
	padding-top: 5px;
}

#historyContent{
	position: absolute;
	right: 40px; 
	border: 1px solid #c0d1e1;
	background: #fff;
	top: 75px;
	display: none;
	z-index: 1;
	min-width: 200px;
}

#listHistory li{
	list-style: none;
	line-height:20px;
	margin: 0 5px;
	font-size: 12px;
}

#listHistory li a{
	color: #787879;
}

#historyContent #closeHistory{
	color: #6265ad;
	border-top: 1px solid #c0d1e1;
	margin: 0;
	text-align: center;
	cursor: pointer;	
	margin-top: 5px;
	font-size: 12px;
	padding: 2px 0;
}

#show_menu_left{	
    background: url("../../images/metromenu/hide_menu_24x24.png") no-repeat;
	background-size: 75%;
	height: 32px;
	width: 32px;
	display: block;
	float: left;
	color:#555;
	font-weight:bold;
	margin-left:10px;
	padding-top:10px;
	opacity:0.4;
	filter:alpha(opacity=40);
}

#menu_left{
	  
    position: absolute;
    z-index: 200;
    left: 0;
	top:120px;
	width: 220px;		
}

#menu_left_top{
	background: url("../images/design/menu_left_top.png") no-repeat;
	width: 220px;
	height: 50px;	
}

#menu_left_content
{
 	position: relative;
    z-index: 5;
    left: 0;
	top: 0px;
	width: 220px;		
}

/*#menu_left_content ul{
	width: 220px;
	padding: 0;
}*/

#menu_left_content ul.sf-menu{
	margin: 20px 0 0 0;
}

#menu_left_content .sf-menu li{
	width: 220px;
	border-top: 0 none;
	border-left:0  none;
}

#menu_left_content .sf-menu li.current{
	
}

li.current ul li{
	background: url("../images/design/left_menu_li_bg185.png") no-repeat;
}

li.currentSMS ul li{
	background: url("../images/design/left_menu__sms_li_bg225.png") no-repeat;
}

#menu_left_content .sf-menu li:hover{
	
}

#menu_left_content .sf-menu li ul li:FIRST-CHILD{
	/*border-top: 1px solid #20201f;*/
}

#menu_left_content .sf-menu li ul li{
	width: 220px;
	
}

#menu_left_content .sf-menu li a{
	color: #fff;
	font-size: 13px;
	border-left: none;
	border-top: none;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 29px;
	margin:0 0 0 5px;
}

#menu_left_content .sf-menu li a span.sf-sub-indicator{
	
}

#menu_left_content .sf-menu li a.menuPointer {
	
	cursor:pointer;
}

#menu_left_content .sf-menu li a.smsMenuPointer {
	
	cursor:pointer;
}
/*
#menu_left_content ul li ul{
	
	width: 220px;
	padding: 0;
	
}*/

#menu_left_content .sf-vertical li:hover ul,#menu_left_content  .sf-vertical li.sfHover ul{
	left: 173px;	
}

#menu_left_content .sf-vertical #cppMenu  li:hover ul,#menu_left_content  .sf-vertical #cppMenu  li.sfHover ul{
	left: 185px;	
}

#createBoxContainer{
	background: url("../images/design/menu_left_bg.png") repeat-y;
	height: 300px;
	padding-top: 30px;
}

#createBox{
	background: url("../images/design/create_box_bg.png") no-repeat;
	height: 192px;
	margin: 20px 0 0 6px;
	width: 157px;
}

#menu_left_content #createBox ul {
	width:130px;
	border-top: none;
	margin: 7px 0 0 24px;
}

#menu_left_content #createBox ul li{
	list-style: none;
	line-height: 14px;
}

#createBox ul li a{
	color: #fff;
	font-size: 12px;
}

#createBoxTitle{
	color: #fff;
	font-size: 13px;
	padding-left:14px;
	line-height:27px;
	border-bottom: 1.8px solid #434343;
}

#menu_left #menu_left_content ul#cppMenu, #menu_left #menu_left_content ul#cppMenu li{
	width: 185px;
}

#menu_left #menu_left_content ul#cppMenu li.currentSMS ul, #menu_left #menu_left_content ul#cppMenu li.currentSMS ul li{
	width: 195px;
}

#menu_left #menu_left_content ul#smscampaign li ul li, #menu_left #menu_left_content ul#smscampaign li ul li a{
	width: 225px;
}

#maincontent{
	margin-left: 0px;
}

#innertube{
	margin:0 23px 0 20px;
	padding: 19px 0;
	width:1068px;
}

#menu_left #menu_left_content ul li a.menuPointer{
	cursor: pointer;
}

#slide_menu_left{
	height: 30px;
    width: 250px;
    display: block;
}

.invite_button{
	margin-bottom: 10px;
}

#SetSchedule .yui-calendar td.calcell.today{
	background-color: #fff;
	border: none;
}

button, input[type=submit], input[type=button]{
	padding: 2px 4px;
	height:25px;
}

input.datefieldinput{
	background: #fff;
	border-left-color:#e3e9ef;
	border-right-color:#e3e9ef;
	border-bottom-color:#e3e9ef;
	border-left-color:#e3e9ef;
	border-top-color:#abadb3;
  	border-style: solid;
    border-width: 1px;
}

.somadesign{
	text-decoration: none;
	border-color:#888;
	border-color:rgba(0, 0, 0, 0.56);
	cursor: pointer;
	outline: none;
	color:#111;
	display:inline-block;
	vertical-align:top;
	position:relative;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	background-color:#9eb4bf;
	background-image:url(../images/gradient.png);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
	background-image: linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
	background-repeat:repeat-x;
	text-shadow:1px 1px 0 rgba(255,255,255,.67);
	margin:0 1em 2em 0;
	padding:5px 7px;
	line-height:normal;
	-moz-box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
	box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
	-webkit-transition: background .185s linear;
	-moz-transition: all .185s linear;
	-o-transition: all .185s linear;
	transition: all .185s linear;
	/** Make the text unselectable **/
	-moz-user-select: none;
	-webkit-user-select: none;
	border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
}

.somadesign:after {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border-width:1px;
	display:block;
	position:absolute;
	content:' ';
	border-color: transparent transparent #ccc;
	border-color: transparent transparent rgba(255, 255, 255, 0.67);
}
.somadesign:active {
	//line-height:2.2;
	-moz-box-shadow
		:0 .33em 1em rgba(0,0,0,.67) inset,
		1px 1px 0 rgba(255,255,255,.25) inset, 
		-1px -1px 0 rgba(255,255,255,.25) inset;
	-webkit-box-shadow:
		0 .33em 2em rgba(0,0,0,.67) inset,
		1px 1px 0 rgba(255,255,255,.25) inset, 
		-1px -1px 0 rgba(255,255,255,.25) inset;
	box-shadow:
		0 .33em 2em rgba(0,0,0,.67) inset,
		1px 1px 0 rgba(255,255,255,.25) inset, 
		-1px -1px 0 rgba(255,255,255,.25) inset;
		-webkit-transition: line-height .1s linear;
		-moz-transition: all .1s linear;
		-o-transition: all .1s linear;
		transition: all .1s linear;
}

.somadesign:hover {
	background-color:#b4cdda;
}

#div_action {
    margin-left: 30px;
}

#accounti div , .row {
	margin: 5px 0;
}

#AddNewLCEListButton, #inpLCEListDesc{ 
	margin-top: 10px;	
}

.inviteContainer {
	text-align: right;
}

.accountRow label{
	font-weight: bold;	
}

ul.dd-options li a.dd-option, .dd-select a.dd-selected{
	padding-top: 0;
	padding-bottom: 0 ;
}

ul.dd-options{
	height: 251px
}

.row_label .dd-container, .row_label .dd-select{
	float: left;
	margin-right: 10px
}

.ContactGroupName{
	margin-bottom: 20px;
}

.loadingAjax{
	background: url("../../images/loading-small.gif");
	height: 32px;
	width: 32px;
}

.voiceRecord{
	background: url("../images/new_icons/RecordingIcon.png");
	height: 32px;
	width: 32px;
	display: block;
}

.thankyouVoiceRecode{
	float: left;
	margin-left: 10px;
}

.survey_label label, #requiredErrBox span{
	width: auto;
	float: left;
	line-height: 30px;
}

.voiceRecodeQList{
	margin: 0 10px;	
}

body .ui-dialog .ui-dialog-titlebar {
    /*background: #0C395F;*/
    color: #FFFFFF;
    font-size: 15px;
}

body .ui-dialog .ui-dialog-titlebar-close span {
    background: url("../images/new_icons/close.png");
    width: 35px;
    height: 16px;
}

body .ui-dialog .ui-dialog-titlebar-close:hover span {
    width: 35px;
}

body .ui-dialog .ui-dialog-titlebar-close:HOVER{
	width: 30px;
}

body .ui-dialog .ui-dialog-titlebar-close:hover span {
    background-position: 0;
}

body .ui-dialog .ui-dialog-titlebar-close {
    width: 30px;
}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-weight:bold;
	text-decoration: none;
	font-size: 14px;
	padding: .5em 2em .55em;
	/*text-transform:uppercase;*/
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}

.button:active {
	/* position: relative;
	top: 1px; */
}

.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 12px;
	padding: 8px 8px 8px 8px;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
	padding: 3px 8px;
	margin-bottom: 8px;	
}

textarea {
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
	padding: 3px 8px;
	margin-bottom: 8px;	
}

#txtResponse{
	width:302px;
}

#txtDescription{
	width:289px;
}

form input {
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
	padding: 3px 8px;
	margin-bottom: 8px;	
}

.EBMForm ul 
{
	margin: 0;
	padding: 0;
}

.EBMForm  li 
{
	display: block;	
}

.EBMForm label 
{
	color: #161616;
	display: block;
	line-height: 20px;
    width: 100%;
	font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
	
.EBMForm .lable-button {
    background: url("../ire/images/level-bg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 20px;
    margin-top: 5px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 111px;
}

.EBMForm .input-box {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    float: left;
    height: 23px;
    margin-top: 0px;
    width: 226px;
}

.EBMForm  .info-button {
    background: url("../ire/images/msg.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 19px;
    margin-left: 6px;
    margin-top: 13px;
    padding-top: 5px;
    width: 18px;
}

.EBMForm .form-left-portal {
    float: left;
    height: auto;
}

.EBMForm .form-right-portal {
    float: left;
    height: auto;
}

.GreyBG 
{
	background: url("../images/design/main-bg.jpg") repeat scroll 0 0 transparent;		
}

.GreyBG .ui-widget-content
{
	background: url("../images/design/main-bg.jpg") repeat scroll 0 0 transparent;	
}


* html a:hover { background: transparent; }

.tooltipTypeII {
 /* border-bottom: 1px dotted #000000;*/
  color: #000000; 
  outline: none;
  text-decoration: none;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.tooltipTypeII div {
  position:absolute;
  top:0px; 
  left:3px;
  margin-top: auto;
  margin-bottom: auto;
  height:100%;
}

.tooltipTypeII div span {
  margin-left: -999em;
  position: absolute;
}
	
.tooltipTypeII div:hover span {
  position: absolute;
  left: -250px;
  top: 0px;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  text-align: left;
  text-transform:none;
  color: #363636; 
}
    
.tooltipTypeII div img {
  border:none;
  text-decoration: none;
  opacity:0.2;
  filter:alpha(opacity=20); /* For IE8 and earlier */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0px;
  margin-top: -10px;
}

.tooltipTypeII div span img {
  border: 0;
  margin: -10px 0 0 -27px;
  position: absolute;  
  top: 0px;
  left: 0px;
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.tooltipTypeII:hover div em {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
  color: #767676;
  text-transform: none;
}



.tooltipTypeIIBelow {
 /* border-bottom: 1px dotted #000000;*/
  color: #000000; 
  outline: none;
  text-decoration: none;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.tooltipTypeIIBelow div {
  position:absolute;
  top:0px; 
  left:1px;
  margin-top: auto;
  margin-bottom: auto;
  height:100%;
}

.tooltipTypeIIBelow div span {
  margin-left: -999em;
  position: absolute;
}
	
.tooltipTypeIIBelow div:hover span {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  text-align: left;
  text-transform:none;
  color: #363636; 
}
    
.tooltipTypeIIBelow div img {
  border:none;
  text-decoration: none;
  opacity:0.2;
  filter:alpha(opacity=20); /* For IE8 and earlier */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0px;
  margin-top: -10px;
}

.tooltipTypeIIBelow div span img {
  border: 0;
  margin: 1px;
  position: absolute;  
  top: 0px;
  left: 0px;
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.tooltipTypeIIBelow:hover div em {
  font-size: 14px;
  display: block;
  padding: 2px 0 6px 0px;
  color: #FFFFFF;
  text-transform: uppercase;
}



.infoTypeII
{ 	
	border: 1px solid #2BB0D7;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	
	background: rgb(75,136,221); 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGI4OGRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTklIiBzdG9wLWNvbG9yPSIjZjk4OTZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTklIiBzdG9wLWNvbG9yPSIjZjk4OTZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjYzU3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2M1N2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(45deg,  rgba(75,136,221,1) 0%, rgba(249,137,111,1) 19%, rgba(249,137,111,1) 19%, rgba(252,197,126,1) 100%, rgba(252,197,126,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(75,136,221,1)), color-stop(19%,rgba(249,137,111,1)), color-stop(19%,rgba(249,137,111,1)), color-stop(100%,rgba(252,197,126,1)), color-stop(100%,rgba(252,197,126,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(75,136,221,1) 0%,rgba(249,137,111,1) 19%,rgba(249,137,111,1) 19%,rgba(252,197,126,1) 100%,rgba(252,197,126,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(75,136,221,1) 0%,rgba(249,137,111,1) 19%,rgba(249,137,111,1) 19%,rgba(252,197,126,1) 100%,rgba(252,197,126,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(75,136,221,1) 0%,rgba(249,137,111,1) 19%,rgba(249,137,111,1) 19%,rgba(252,197,126,1) 100%,rgba(252,197,126,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(75,136,221,1) 0%,rgba(249,137,111,1) 19%,rgba(249,137,111,1) 19%,rgba(252,197,126,1) 100%,rgba(252,197,126,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b88dd', endColorstr='#fcc57e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}
 
 .customTypeII {
    padding: 0.5em 0.8em 0.8em 2em;
}


.bluebutton{
	border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
     font-size: 14px;
    margin: 5px 2px;
    outline: medium none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: baseline;
	color: #FFFFFF !important;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
	width: 190px;
}


.filterButton, .bluebuttonAuto{
	border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #9A9A9A;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    outline: medium none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: baseline;
	color: #FFFFFF !important;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
	width: auto;
}

.bluebutton:hover, .bluebuttonAuto:hover, .filterButton:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	
}

.bluebutton:active, .bluebuttonAuto:active, .filterButton:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	
}

.info20 
{
	background: url("../../images/infoii.png") no-repeat scroll 0 0 transparent;
	min-width: 20px;
	min-height: 20px;
	border:none;		
}

/*
.filterButton {
	color: #FFFFFF;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
	
}
.filterButton:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	
}
.filterButton:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	
}

*/

.levelsep
{
	padding-top:5px;
}

.FloatRight
{
	float:right;	
}

.TopMenuButtons
{	
	padding-bottom:14px;	
}


#coverfilterload a, #coverfilterload a:link, #coverfilterload a:hover, #coverfilterload a:visited, #coverfilterload a:active {text-decoration: underline; color: #365581;}
#coverfilterload a:hover, #coverfilterload a:active {text-decoration: none; color: #365581;}

#innertube a, #innertube a:link, #innertube a:hover, #innertube a:visited, #innertube a:active {text-decoration: none; color: #15436C; cursor:pointer;}
#innertube a:hover, #innertube a:active {text-decoration: none; color: #15436C;}

.ui-widget-content a, .ui-widget-content a:link,  .ui-widget-content a:visited, .ui-widget-content a:active {text-decoration: none; color: #15436C;}
.ui-widget-content a:hover, .ui-widget-content a:active  {text-decoration: underline; color: #15436C;}

.filter_action a, .filter_action a:link, .filter_action a:hover, .filter_action a:visited, .filter_action a:active {text-decoration: underline; color: #365581 !important;}
.filter_action a:hover, .filter_action a:active {text-decoration: underline !important; color: #15436C !important;}


.ui-datepicker .ui-state-default 
{
   border: none !important;
}




/* Nice but, Doesn't work in all browsers back to image
.navArrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #365581;
	margin-bottom:15px; 
	position:relative;
	top: -10px;
	left: 5px;	
}

.navArrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #365581;
	margin:auto; 
	position:relative;
	top: 10px;
	left: 5px;	
}

.navArrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;	
	border-left: 5px solid #365581;
	margin:auto; 
}

.navArrow-left {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;	
	border-right:5px solid #365581; 
	margin:auto; 
}

*/

.EBMDialog .ui-dialog-titlebar {display:none !important}
.EBMDialog .ui-dialog .ui-dialog-content  {padding:0 !important;} 
.EBMDialog .ui-dialog-content  {padding:0 !important;} 

.EBMDialog
{   
	padding-bottom: 20px;
	width: 100%;
	min-width:auto;	
}

.EBMDialog .headerOld {
    background-image: url("../images/header.jpg");
    background-repeat: repeat-x;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
	cursor:move;
}

.EBMDialog .header {
    
	border-bottom:#fa7d2b 1px solid;

	background: #238acb; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzOGFjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #238acb 0%, #1e5799 25%, #207cca 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#238acb), color-stop(25%,#1e5799), color-stop(98%,#207cca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #238acb 0%,#1e5799 25%,#207cca 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #238acb 0%,#1e5799 25%,#207cca 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #238acb 0%,#1e5799 25%,#207cca 98%); /* IE10+ */
	background: linear-gradient(to right,  #238acb 0%,#1e5799 25%,#207cca 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#238acb', endColorstr='#207cca',GradientType=1 ); /* IE6-8 */

	height: 30px;
    border-radius: 5px 5px 0px 0px;
	cursor:move;
}


			
			
.EBMDialog .header-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: 72px;
    padding-top: 8px;
    text-align: left;
    text-transform: uppercase;
}

.EBMDialog .inner-txt-box
{
    margin-left: 72px;
    width: 100%;
}

.EBMDialog .inputbox-container {
    float: left;
    height: auto;
    margin-left: 0px;
    text-align: left;
    width: 268px;
	margin-bottom:12px;
}

.EBMDialog .input-box {
    float: left;
    height: 23px;
    width: 226px;
}

.EBMDialog .small {
    color: #464646;
	font-size: 12px;
	font-weight:400;
	line-height:5px; 
}

.EBMDialog .inner-txt-hd {
    color: #363636;
    float: left;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 2px;
    padding-top: 12px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.EBMDialog .inner-txt {
    color: #464646;
    float: left;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    width: 92%;
	margin-bottom:20px;
}

.EBMDialog .form-left-portal {
    float: left;
    height: auto;
    width: 58%;
}

.EBMDialog label {
  color: #161616;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.EBMDialog h3 {
    color: #161616;
    display: inline;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0.2em;
    width: 100%;
}

.apply_yesno
{
	display: inline !important;
	width: 40px !important;
	border:none !important;
	box-shadow:none !important;	
}

.EBMRadio
{
	display: inline !important;
	width: 40px !important;
	border:none !important;
	box-shadow:none !important;	
}

.EBMDialog form input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
    margin-bottom: 8px;
    padding: 3px 0px 3px 5px;
	width:100%;
}


.EBMDialog form select {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
    margin-bottom: 8px;
    padding: 3px 0px;
	width:100%;
}

.EBMDialog form select:focus {
    outline: none;
}


.EBMDialog .info-txt-blue {
    color: #2484C6;
    float: left;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 10px;
    text-align: left;
}

.EBMDialog .info-txt-black {
    color: #000000;
    float: left;
    font-size: 13px;
    padding-left: 30px;
    text-align: left;
}

.EBMDialog .submit {
    margin-top: 10px;	
    width: 96%;
	min-height: 30px; 
}


.EBMDialog .submit a {
 	 float:right;	 
 }
 
 
.ReportLink {
	 cursor:pointer;
	 text-decoration:none;	 
 }
  
.ReportLink:hover {
	 text-decoration:underline !important;	 
 }
 
 
.EBMDialog span#closeDialog {
    background: url("../images/cross.png") repeat scroll 0 0 transparent;
    color: #6FA5FD;
    cursor: pointer;
    display: block;
    font-size: 0;
    font-weight: 700;
    height: 26px;
    line-height: 14px;
    position: absolute;
    right: 8px;
    top: 3px;
    width: 27px;
}

.EBMDialog span#closeDialog:hover {
    background: url("../images/cross_off.png") repeat scroll 0 0 transparent;    
}

.stand-alone-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	border-radius: 5px 5px 0px 0px;
    padding-bottom: 20px;
    width: 860px;
}

.stand-alone-content .EBMDialog span#closeDialog
{
	display:none;	
}

.stand-alone-content .EBMDialog .header {
  	cursor:default !important;
}


.stand-alone-content .wrapper-picker-container:after {
    clear: both;
    content: "";
    display: table;
}

.stand-alone-content .wrapper-picker-container {
    float: left;
    height: 25px;
    margin-left: 0px;   
    text-align: left;
    width: 96%;
	position:relative;
}

.stand-alone-content .wrapper-dropdown-picker:after {
    /*border-color: #2484C6 transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;*/
	
	background: url(../images/select-icons.png) 0 -122px no-repeat;
	display: block;
	height: 20px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

.stand-alone-content .wrapper-dropdown-picker {
    background: none repeat scroll 0 0 #FFFFFF;
   	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);	
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px 3px 3px 3px;	
    color: #444444;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    padding: 2px 5px 2px 5px;
    position: relative;	
    margin-top: 0px;
    width: 100%;	
}

.cb-bg
{
    width: 80px;
    height: 26px;
    background-image: url(../images/cb-bg.gif);
}

.cb-slider
{
    width: 39px;
    height: 26px;
    background-image: url(../images/cb-slider.png);
    cursor: pointer;
    position: relative;
	left:0px;
}
/*table chart reporting style */
table.chartTable {
	    color: #666;
	    font-size: 12px;
	    background: #eaebec;
	    margin-right: 20px;
	    border: #ccc 1px solid;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    -moz-box-shadow: 0 1px 2px #d1d1d1;
	    -webkit-box-shadow: 0 1px 2px #d1d1d1;
	    box-shadow: 0 1px 2px #d1d1d1;
		width:90%;
		vertical-align:middle;
	}
table.chartTable th {
	padding: 21px 25px 22px 25px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.chartTable th:first-child{
	text-align: left;
	padding-left:20px;
}
table.chartTable tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.chartTable tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.chartTable tr{
	text-align: center;
	padding-left:20px;
}
table.chartTable tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.chartTable tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.chartTable tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.chartTable  tr:last-child td{
	border-bottom:0;
}
table.chartTable  tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.chartTable tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.chartTable  tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
/*end table chart reporting*/

.LinkMenuItemReg
{
	margin-right:15px;	
}

.ErrorColor
{
	color:#FF0000 !important;	
}


.InfoHoverLink
{	
	color:#0076A3 !important;	
}

.InfoHoverLink:hover
{
	text-decoration:underline !important;	
	
}

.page-break	{display:none;} /* put this class into your main.css file with "display:none;" */

ul.metro li.homeTile a.tile {
    background-color: #8DC050;
}

ul.metro li.campaignsTile a.tile {
    background-color: #F18822;
}

ul.metro li.contactsTile a.tile {
    background-color: #0F8C98;
}

ul.metro li.toolsTile a.tile {
    background-color: #785A3A;
}

ul.metro li.reportsTile a.tile {
    background-color: #1A8FC9;
}

ul.metro li.adminTile a.tile {
    background-color: #681D2A;
}


.MMHome
{
     background-color: #8DC050 !important;
	 border-radius: 8px 8px 8px 8px;
	 box-shadow: 0 5px 2px #d1d1d1;
}

.MMCampaigns
{
     background-color: #F18822 !important;
	 border-radius: 8px 8px 8px 8px;
	 box-shadow: 0 5px 2px #d1d1d1;
}

.MMContacts
{
     background-color: #0F8C98 !important;
	 border-radius: 8px 8px 8px 8px;
	 box-shadow: 0 5px 2px #d1d1d1;
}

.MMTools
{
     background-color: #785A3A !important;
	 border-radius: 8px 8px 8px 8px;
	 box-shadow: 0 5px 2px #d1d1d1;
}

.MMReports
{
     background-color: #1A8FC9 !important;
	 border-radius: 8px 8px 8px 8px;
	 box-shadow: 0 5px 2px #d1d1d1;
}

.MMAdmin
{
     background-color: #681D2A !important;
	 border-radius: 8px 8px 8px 8px;
	 box-shadow: 0 5px 2px #d1d1d1;	
	/*background-color: rgba(104, 29, 42, .9) !important;*/	
}

.ui-dialog-content
{
	border: none !important;	
	
}

/* style save new batch */

#AddDialStringForm{
	border:1px solid #ccc;
	border-radius:5px;	
}

.header-campaign-container{
	padding-left:12px;
	background-image: linear-gradient(to bottom, #138cd1, #0a83c8);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-image: none;
   	border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
	border: 1px solid #0C6599;
	height: 30px;
    line-height: 30px;
	color:#fff;
}

.content-campaign-container{
	padding-top:30px;
	padding-left:20px;
	padding-bottom:60px;
	background:#fff;
}

.subheader-campaign-container{
	color:#0888d1;
}

.label-campaign-container{
	width:175px;
	float:left;
	line-height:30px;
	height:32px;
	border:1px solid #CCC;
	padding-left: 10px;
	border-radius:4px 0px 0px 4px;
	border-right:none;
	color:#666;
}

.content-campaign-container input{
	width:318px;
	border-radius: 0 3px 3px 0;
	height:26px;
	border:1px solid #CCC;
}

.footer-campaign-container{
	border-top:3px solid #46a6dd;
	height:45px;
	background:#eee;
	padding-right: 20px;
}

.footer-campaign-container button{
	float:right;
	margin-right:10px;
	background-image: linear-gradient(to bottom, #4da8dd, #44a0d4);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-image: none;
   	border-radius: 4px;
    border-style: solid;
    border-width: 1px;
	border: 1px solid #0888d1;
	color:#fff;
	height: 30px;
	margin-top: -2px;
}

.info_box {
    background: url("../ire/images/info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 16px;
    margin-right: 5px;
    margin-top: 8px;
    opacity: 0.4;
    width: 16px;
}

.alignRight { text-align: right; }
.alignLeft { text-align: left; }
.alignCenter { text-align: center; }

.tooltiptext
{
    display: none;
}

.more_info_box{
	background: url("../images/more_info_16x16.png"); background-repeat:no-repeat;
	cursor: pointer;
	float: right;
	width: 16px;
	height: 16px;
	margin-top:6px;
	margin-right:5px;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.more_info_box:hover{
	background: url("../images/more_info_16x16.png"); background-repeat:no-repeat;
	opacity:1;
	filter:alpha(opacity=1);
}
.cppPortalRow .left_box ol,
.cppPortalRow .left_box ul{
    padding-left: 15px;
}
.cppPortalRow .left_box label{
    word-wrap: break-word;
}

