
<cfparam name="inpDialerIPAddr" default="0.0.0.0"><!---  10.4.0.64 --->
<cfparam name="INPBATCHID" default="0">
<cfparam name="inpListId" default="0"> 
<cfparam name="inpUserId" default="0">
<cfparam name="inpCampaignId" default="0">
<cfparam name="inpCampaignTypeId" default="0">
<cfparam name="inpScheduled_dt" default="3001-01-01 00:00:00">
<cfparam name="inpDialString" default="9999999999">
<cfparam name="inpDialString2" default="">
<cfparam name="inpTimeDelay" default="0">
<cfparam name="ourReply" default="1,1">
<cfparam name="inpInvalidNumber" default="0">
<cfparam name="inpTransferNumber" default="">
<cfparam name="VerboseDebug" default="0">


<cfoutput>

	<cfset ourReply = "1,1" >
	
	<!--- Remove () and - --->
	<cfset OriginalinpDialString = inpDialString>
	<cfset inpDialString = Replace(inpDialString,')', '')>
	<cfset inpDialString = Replace(inpDialString,'(', '')>
	<cfset inpDialString = Replace(inpDialString,'-', '')>


	<!--- Set schedule date based on input parameters (time zone?) --->
	<cfset inpScheduled_dt = DateFormat(DateAdd('n',inpTimeDelay,Now()),'yyyy-mm-dd') & " " & TimeFormat(DateAdd('n',inpTimeDelay,Now()),'HH:mm:ss')>

		
	
	<!--- Add To Phone List - Returns CurrResult and TimeZone, Locality Info--->
	<cfset CurrResult = "0">
	<cfinclude template="act_InsertPhoneNumberIntoList.cfm"> 
				
	<!--- Verify between 8:00 AM and 8:00 PM  in the local timezone - no call--->
	<!--- PST - local is 31 --->
<!--- 
	<cfset LocalTimeZoneHour = DatePart('h', DateAdd('n',inpTimeDelay,Now())) + (31 - TimeZone_ti)>

	<cfif LocalTimeZoneHour lt 8 OR LocalTimeZoneHour gt 20>
				
			<cfset ParamString = "inpTimeDelay=#inpTimeDelay#&inpDialString=#URLEncodedFormat(OriginalinpDialString)#&inpInvalidNumber=#inpInvalidNumber#&LocalTimeZoneHour=#LocalTimeZoneHour#">
			<cflocation url="index?req=scripts.dsp_mbclick2callLandingZone&#ParamString#.action">
	
	</cfif> --->
	
	<cfif VerboseDebug gt 0>
		Curr Phone Insert Result = #CurrResult# <BR>
		inpDialString = #inpDialString# <BR>
		CurrResult = #CurrResult# <BR> 
		LocalityId_int = #LocalityId_int# <BR> 
		TimeZone_ti = #TimeZone_ti# <BR>
		inpTimeDelay = #inpTimeDelay# <BR>
		inpScheduled_dt = #inpScheduled_dt# <BR>
		NOW() = #NOW()# <BR>
		INPBATCHID = #INPBATCHID#<BR>
	</cfif>
	
<cfif TimeZone_ti gt 0 and LocalityId_int gt 0>
<!--- 
	<cfset DEVELOPERS = "jpeterson@messagebroadcast.com;" ><!--- temp to not overload Jeff with testing --->
	
	<cfmail to="#DEVELOPERS#" from="webmaster@messagebroadcast.com" subject="MBClick2Call Sponsored Campaign Recording Request" >
	
		<?xml version="1.0" encoding="UTF-8"?>
		<action-response>
			<inpDialString>#Trim(XMLFormat(inpDialString))#</inpDialString>
			<LocalityId_int>#Trim(XMLFormat(LocalityId_int))#</LocalityId_int>
			<TimeZone_ti>#Trim(XMLFormat(TimeZone_ti))#</TimeZone_ti>
			<inpTimeDelay>#Trim(XMLFormat(inpTimeDelay))#</inpTimeDelay>
			<Scheduled_dt>#Trim(XMLFormat(Now()))#</Scheduled_dt>
			<FinalScheduled_dt>#Trim(XMLFormat(inpScheduled_dt))#</FinalScheduled_dt>	
			<CGIREMOTE_ADDR>#Trim(XMLFormat(CGI.REMOTE_ADDR))#</CGIREMOTE_ADDR>	
		</action-response>
	</cfmail> 
--->
			
	 <cfinclude template="act_DistributeToDialer.cfm">
	
<cfelse>
	<cfset inpInvalidNumber=1>
</cfif>	

<!--- 
<cfset ParamString = "inpTimeDelay=#inpTimeDelay#&inpDialString=#URLEncodedFormat(OriginalinpDialString)#&inpInvalidNumber=#inpInvalidNumber#">
<cflocation url="index?req=scripts.dsp_mbclick2callLandingZone.action&#ParamString#">
 --->
</cfoutput>











