<cfparam name="ENA_Message" default="No Message Specified">
<cfparam name="SubjectLine" default="Error on Demo">


<cfoutput>

		<!--- <cfset DEVELOPERS = "IT@messagebroadcast.com" > --->
        <cfset DEVELOPERS = "jpeterson@messagebroadcast.com" >
		
		<cfmail to="#DEVELOPERS#" from="webmaster@messagebroadcast.com" subject="#SubjectLine#" type="html"> 
			
			#ENA_Message# <BR /><BR /><BR />
						
			<cfif IsDefined("cfcatch.type") AND Len(Trim(cfcatch.type)) GT 0 >
			cfcatch.type <BR />
			-------------------------<BR />
			#cfcatch.type#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("cfcatch.message") AND Len(Trim(cfcatch.message)) GT 0 >
			cfcatch.message<BR />
			-------------------------<BR />
			#cfcatch.message#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("cfcatch.detail") AND Len(Trim(cfcatch.detail)) GT 0 >
			cfcatch.detail<BR />
			-------------------------<BR />
			#cfcatch.detail#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("CGI.HTTP_HOST") AND Len(Trim(CGI.HTTP_HOST)) GT 0 >
			CGI.HTTP_HOST<BR />
			-------------------------<BR />
			#CGI.HTTP_HOST#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("CGI.HTTP_REFERER") AND Len(Trim(CGI.HTTP_REFERER)) GT 0 >
			CGI.HTTP_REFERER<BR />
			-------------------------<BR />
			#CGI.HTTP_REFERER#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("CGI.HTTP_USER_AGENT") AND Len(Trim(CGI.HTTP_USER_AGENT)) GT 0 >
			CGI.HTTP_USER_AGENT<BR />
			-------------------------<BR />
			#CGI.HTTP_USER_AGENT#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("CGI.PATH_TRANSLATED") AND Len(Trim(CGI.PATH_TRANSLATED)) GT 0 >
			CGI.PATH_TRANSLATED<BR />
			-------------------------<BR />
			#CGI.PATH_TRANSLATED#<BR />
			-------------------------<BR />
			</cfif>
			
			<cfif IsDefined("CGI.QUERY_STRING") AND Len(Trim(CGI.QUERY_STRING)) GT 0 >
			CGI.QUERY_STRING<BR />
			-------------------------<BR />
			#CGI.QUERY_STRING#<BR />
			-------------------------<BR />
			</cfif>

		</cfmail> 
		
			
		</cfoutput>