<cfif !isDefined('variables._Response')>
	<cfset variables._PageContext = GetPageContext()>
	<!--- Coldfusion --->
	<!---<cfset variables._Response = variables._PageContext.getCFOutput()>--->
	<cfset variables._Response = variables._PageContext.getOut()>
</cfif>
<cfset variables._page = variables._Response.getString()>
<cfset variables._Response.clear()>
<cfparam name="variables._page" default="">
<cfparam name="variables._title" default="">
<cfparam name="variables.meta_description" default="">
<cfparam name="Request._css" default="[]">
<cfparam name="Request._js" default="[]">

<cfparam name="Tour" default="GettingStarted" />
<cfparam name="tourrs" default="false" />

<cfoutput>
<!DOCTYPE html>
<html lang="en">

<cfset ContentBuffVar = replaceList(variables.meta_description, '<,>,"', '&lt;,&gt;,&quot;') />

<head>
	<meta charset="utf-8">
	<title>#variables._title#</title>
	<meta name="robots" content="index, follow">
	<meta name="description" content="#ContentBuffVar#">
	<meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0">
	<link href="/public/sire/css/bootstrap.css" rel="stylesheet" media="screen">
	<!--- <link rel="stylesheet" href="/public/sire/css/bootstrap.min_no_print.css" media="print"/> --->
	<link href="/public/sire/css/validationEngine.jquery.css" rel="stylesheet" media="screen">
    <link href="/public/sire/css/bootstrap-tour.min.css" rel="stylesheet" media="screen">

	<link href="/session/sire/css/style.css" rel="stylesheet" media="screen">
	<link href="/session/sire/css/screen.css" rel="stylesheet" media="screen">
	
	<link href="/session/sire/css/print.css" rel="stylesheet" media="print">


	<cfif (isDefined("Request._css") && isArray(Request._css))>
		<cfloop array="#Request._css#" index="cssPath">
    		<link href="#cssPath#" rel="stylesheet">
		</cfloop>
		<cfset Request._css=[]>
	</cfif>

	<cfheader name="expires" value="#now()#">
	<cfheader name="pragma" value="no-cache">
	<cfheader name="cache-control" value="no-cache, no-store, must-revalidate">

    <!--- http://realfavicongenerator.net/favicon?file_id=p1a4qpcvhn1jltrkukhpvas1f206#.VlNZzHunXvA  --->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/sire/images/sireicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/sire/images/sireicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/sire/images/sireicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/sire/images/sireicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/sire/images/sireicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/sire/images/sireicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/sire/images/sireicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/sire/images/sireicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/sire/images/sireicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/public/sire/images/sireicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/sire/images/sireicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/public/sire/images/sireicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/public/sire/images/sireicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/public/sire/images/sireicons/manifest.json">
    <link rel="mask-icon" href="/public/sire/images/sireicons/safari-pinned-tab.svg" color="##5bbad5">
    <meta name="msapplication-TileColor" content="##da532c">
    <meta name="msapplication-TileImage" content="/public/sire/images/sireicons/mstile-144x144.png">
    <meta name="theme-color" content="##ffffff">


    <style>
		.popover-title {
			padding: 8px 14px;
			margin: 0;
			font-size: 14px;
			background-color: ##274e60;
			border-bottom: 1px solid ##ebebeb;
			border-radius: 5px 5px 0 0;
			color:##FFF;
		}


	</style>

	<cfinclude template="/public/sire/views/commons/google_task_script_head.cfm">
</head>
<body>
	<cfinclude template="/public/sire/views/commons/google_task_script_body.cfm">
	
	<!-- HEADER SECTION
	=============================================================-->
	<cfinclude template="../commons/header.cfm">

	<!-- BODY SECTION
	=============================================================-->
	<div id="page-content" class="" style="left: 0px;">
	#variables._page#


	<!-- FOOTER SECTION
	=============================================================-->
	<cfinclude template="../commons/footer.cfm">
	</div>

	<script src="/public/sire/js/jquery-2.1.4.js"></script>
	<script src="/public/sire/js/bootstrap.js"></script>
	<!---
	<script src="/public/sire/js/retina.js"></script>
	--->
	<script src="/public/sire/js/jquery.validationEngine.en.js"></script>
	<script src="/public/sire/js/jquery.validationEngine.js"></script>
	<script src="/public/sire/js/bootbox.min.js"></script>
    <script src="/public/sire/js/bootstrap-tour.min.js"></script>
	<script src="/public/js/datatables/js/jquery.dataTables.min.js"></script>
	<script src="/session/sire/js/dataTables.inputPagination.js"></script>
	<script src="/session/sire/js/site/menu.js"></script>
	<script src="/session/sire/js/site/sign_in.js"></script>
	<script src="/session/sire/js/site/common.js"></script>

	<cfif (isDefined("Request._js") && isArray(Request._js))>
		<cfloop array="#Request._js#" index="jsPath">
			<script src="#jsPath#"></script>
		</cfloop>
		<cfset Request._js=[]>
	</cfif>
	<!-- Integrate Live Chat -->
	<cfinclude template="../../../../public/sire/views/commons/livezilla_script.cfm">
	<script type="text/javascript">
		$(document).ready(function() {
			$(document).on('shown.bs.modal', function() { $("body.modal-open").removeAttr("style"); });
		});
	</script>
</body>
</html>
</cfoutput>