.sampleContent{
	margin: 20px 0 15px;
}
.cppBox h2 {
    margin: 20px 0;
}
.cppBox .item .control {
    margin-top: 5px;
}

.cppBox .item .control input[type="text"] {
    width: 250px;
}
.cppBox .item {
    margin: 10px;
}
.cppBox .buttonBar{
	margin: 30px 300px 0 0;
	float:right;	
}
.cppBox .underline{
	text-decoration: underline;	
	margin-right: 10px;
}

.cppBox .buildportalContact, .buildportalLanguage {
	text-align: center;
}

.buildportalContact label{
	margin-right: 50px;
}

.buildportalContact input[type=checkbox]{
	margin-left: 50px;
}

.buildportalControl span.bold{
	margin-left: 100px;
}
.buildportalControl input#inptAddPreference{
	margin: 25px 0 25px 200px;
}

.cppBox .buildportalButtonBar {
	margin:10px;
	padding:10px;		
}

.cppBox .buildportalBox .buildportalTitle{
	font-weight:bold;
	margin-bottom:8px; 		
}
.cppBox .buildportalButtonBar .back{
    float:left;
}
.cppBox .buildportalButtonBar .finish{
    float:right;
}

.cppBox .buildportalBox .bold{
    font-weight: bold;
}

#customValue{
	margin-left: 100px; 
}

.listPreference{
	width: 100px;
	margin-left: 200px;
	float: left;
}
.preferenceItem {
	width: 700px;
	float: left;
	margin: 5px 0 0 50px;
}

.preferenceUpDown{
	display: block;
	float: left;
	margin-top: 2px;
}

.preferenceItem input[type=checkbox], .preferenceItem label{
	float: left;
}
.preferenceItem label{
	min-width: 100px;
	text-align: left;
	margin: 0 5px;
}

.preferenceItem select{
	float: left;
	margin-right: 10px;	
}

.addPreference{
	margin-left: 50px;
	display: none;
}

.myOwn_desc{
	width: 500px;
	margin: 10px 0 0 20px;
}

.myOwn_add{
	margin: 10px 30px;
}

.myOwn_preview{ 
	text-align: center;
}

.myOwnButton{
	float: right;
	margin: 10px;
}

.hypenCheckbox{
	float: left;
	margin: 20px 0 0 10px;
}
.identifyLog{
	margin-left: 175px; 
}

h1.cppStepTitle{
	font-size: 25px;
}

.cppStepTitle span{
	font-weight: normal;
	font-size: 20px;
}

.cppPortalDesc{
	margin-left: 35px;
}

.cppPortalContent{
	margin-left: 70px;	
}

.cppPortalSubmit{
	text-align: right;
}

.cppPortalRow{
	max-width: 700px;
}

.cppPortalDesc{
	margin-bottom: 5px;
}

.cppPortalDesc p{
	//line-height: 10px;
}

.cppPortalContentRow{
	margin: 5px 0;
}

.buildportalControl input[type=checkbox]{
	margin: 0 10px;
}

.dialog_content input[type=checkbox],.dialog_content span{
	float: left;
}

.dialog_content span p{
	margin: 0;
}

.MultipleSelectText{
	margin-right: 10px;
}
#textCondition{
	width: 96%;
	text-align: left;
}

#dialog_termCondition .dialog_content{
	width: auto;
}

#dialog_termCondition{
	left: 25%;
	right: 25%;
	margin: 0;
}

.somadesign1{
	margin-top: 20px;
}

.vanityAvailable{
	color:#999999;
}

.vanityNotAvailable{
	color:#990033;
}

#listPreference .group .custom-checkbox label{
	background: none;
}
