*{
	padding: 0;
}
.thankyou{
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
}

input[type=text]{
	height: 35px;
	display: inline;
	margin-top: 10px;
}

input.emailText{
	width: 175px;	
}

label{
	font-weight: bold;
}

.methodText{
	width: 50px;
	display: inline;	
}

.VoiceNumberText{
	margin-right: 2px;
}

.SMSNumberText{
	margin-right: 5px;
}

#language{
	width: 200px;
	margin-top: 10px;
	padding: 5px 0;
}