#modules .panel-body,
#preferences .panel-body{
	padding: 15px;
}

#modules{
	width:33%!important;
}
#preferences{
	width:64%!important;
}

.panel-body .contactpreferencespan{
	width:auto;
}

.lang_left_box{
	width:145px !important;
}

.panel-body .box{
	width:auto;
}

.box .right_box{
	width:auto;
}

.box .right_box .selectmenucustom{
	width:auto;
	display:block;
	margin-right:-1px!important;
}

.voice .voice-checkbox{
	padding: 4px 6px;
}



#listPreference .preference-name-txt,
#listPreference .wrapper-demo,
#listPreference .selectmenucustom{
	width:97%;
}

#listPreference .preference-description-txt{
	width:97%;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.panel-body .contactpreferencespan{
	padding:0;
}

.contactpreferencespan .include-select,
.contactpreferencespan .include-text{
	float:left;
	margin-right:0;
	font-size:12px;
}

.contactpreferencespan .include-text{
	width:255px;
}

.include-select .selectmenucustom{
	margin-right:0!important;
}

.select_multiple_preference{
	margin-bottom:10px;
}

#listPreference .group .preferenceAdd{
	background:none;
	width:auto;
	float:right;
}

#listPreference .group .preferenceDelete{
	background:none;
	width:auto;
	float:right;
}

#drop_to{
	width:100%;
	height:100px;
	border: 3px dotted #ccc;
	text-align:center;
	padding-top:35px;
	font-size:20px;
	text-transform:uppercase;
}

#drop_to span{
	width:100%;
	text-align:center;
	color:#ccc;
	font-weight:bolder;
}

.active{
	width:auto!important;
}

.preferenceAdd {
    margin-top: 8px!important;
	margin-left:20px;
}

.preferenceDelete {
    margin-top: 8px!important;
}

div.group>span{
	float:right;
	margin-top:8px;
	margin-left:18px;
	margin-right:18px;
}

.ui-selectmenu-menu #inpType-menu {
    width: 181px !important;
}

#customValue-menu{
	width:74px!important;
}

.wrapper-demo>span.selectmenucustom{
	margin-left:0;
	text-align:left;
}

.wrapper-demo>span.selectmenucustom>a.ui-selectmenu-popup{
	width: 104% !important;
}
