#maincontent{
	background:#000000
}

#LCELocal
{
	background-image:url('../../images/LCEBGWebIII1200x493.jpg');
	background-repeat:no-repeat;
}

#carousel_LCEListItems {
    width: 1143px;
    height: 800px;
    overflow: visible;
    margin-top: 110px;
    overflow: visible;
}

#carousel_LCEListItems .cloudcarousel {
    position: absolute;
    width: 200px;
    height: 200px;
}
#carousel_LCEListItems .cloudcarousel img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#carousel_LCEListItems .cloudcarousel .left {
    text-align: left;
}
#carousel_LCEListItems .cloudcarousel .center {
    text-align: center;
}
#carousel_LCEListItems .cloudcarousel .spacy {
    letter-spacing: 5px;
    font-weight: bold;
}
#carousel_LCEListItems .cloudcarousel .quarter {
    position:absolute;
    width:50%;
    height:50%;
}


#carousel_LCEListItems .cloudcarousel .blue {
   font-weight: bold;
   color:#00C;
} 

#carousel_LCEListItems .cloudcarousel .top {
    top:0px;
}
#carousel_LCEListItems .cloudcarousel .bottom {
    top:50%;
}
#carousel_LCEListItems .cloudcarousel .left {
    left:0px;
}
#carousel_LCEListItems .cloudcarousel .right {
    left:50%;
}
#carousel_LCEListItems .cloudcarousel .caption {
    color: #00C;
    background-color: transparent;
    z-index: 1000;
    position: absolute;
}
#carousel_LCEListItems .cloudcarousel .upper {
    top:0px;
    padding:10px;
    left:0px;
    width:90%;
    height:30%;
}
#carousel_LCEListItems .cloudcarousel .lower {
    bottom: 0px;
    padding: 10px;
    left: 0px;
    width: 90%;
    height: 7%;
}
#carousel_LCEListItems .cloudcarousel .above {
    top:-22%;
    padding:0px 10px;
    left:0px;
    width:90%;
    height:20%;
} 
#carousel_LCEListItems .cloudcarousel .below {
    bottom:-22%;
    padding:0px 10px;
    left:0px;
    width:90%;
    height:20%;
} 
#carousel_LCEListItems .border {
    border: 1px solid #eed;
}
#carousel_LCEListItems .rounded {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}
#carousel_LCEListItems .solid {
    background-color: #000;
}
img.white-filter {
	position: absolute;
	width: 100%;
	height:100%;
	opacity: 0.8;
}
img.white-filter:hover {
	opacity: 0;
}
img.white-filter {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50)\9;}
img.white-filter:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)\9;}
img.gray-filter {
	opacity: 0.8;
}
img.gray-filter:hover {
	opacity: 0;
}
img.gray-filter {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50)\9;}
img.gray-filter:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)\9;}
	
	
.area {  width: 100%;  height: 100%; background: url(../../images/LCEBGWeb.png) no-repeat;  }
.CenterTextBubble {  position: absolute;  left: 15%;  top: 25%;  width: 75%;  height: 50%;  display: table;}
.CenterTextBubble div {  display: table-cell;  vertical-align: middle;  text-align: center; color:#F00;}

.cloudcarousel div {  display: table-cell;  vertical-align: middle;  text-align: center;}

.cloudcarousel .red {color:#F00;}

.cloudcarousel .blue {color:#F00;}

.carouselLeft {	
	display:none;
	background:url(../../images/rotate-left.png);	
	width:40px; height:40px;
	background-position: 0px 0px;
}
.carouselLeft:hover {		
	width:40px; height:40px;
	background-position: 0px 40px;
	cursor:auto;
}
.carouselRight {
	display:none;
	background:url(../../images/rotate-right.png);	
	width:40px; height:40px;
	background-position: 0px 0px;
}
.carouselRight:hover {	
	width:40px; height:40px;
	background-position: 0px 40px;
}

.carouseloutrider .area {  width: 100%;  height: 100%;}
.carouseloutrider .CenterTextBubble {  position: absolute;  left: 15%;  top: 25%;  width: 75%;  height: 50%;  display: table;}
.carouseloutrider .CenterTextBubble div {  display: table-cell;  vertical-align: middle;  text-align: center;}
.carouseloutrider .red {color:#F00;}

.carouseloutrider
{
	background-image:url(../../images/LCEOutRiderWeb.png);
	background-size:100%;
	background-repeat:no-repeat;
	position:absolute;
	z-index: 1001;
    width: 100px;
    height: 100px;
}

.carouseloutrider1
{
	top:-100px;
	left:-100px;	
}

.carouseloutrider2
{
	top:100px;
	left:-150px;	
}


.carouseloutrider3
{
	top:-125px;
	left:175px;	
}


.carouseloutrider4
{
	top:75px;
	left:250px;	
}


.carouseloutrider5
{
	top:250px;
	left:175px;	
}

#title-text2 {
    color: #FF9900;
    display: none;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 20px 10px;
    text-transform: uppercase;
    width: 80%;
}

#alt-text2 {
    color: #DDDDDD;
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px 20px;
}

#AddLCEToListDiv
{
	position:absolute;
	top: 10;
	left: 25;
	min-width: 250px;
	width: 450px;
	min-height: 500px;
	height: 500px;
	background-color:#FFF;
	border: 1px solid #333;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	padding:10px;
	z-index: 1100;
}


#panel_LCEAdd {
	width: 450px;
	height: 550px;
	position: absolute;
	top: 130px;
	left: -300px;
	z-index: 200;
	background-color:#FFF;
	border: 1px solid #B6B6B6;
	
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
	
	padding: 10px;
	 
}
#panel_tab_LCEAdd {
	text-align:center;
	line-height:10px;
	width: 10px;
	height: 80px;
	position: absolute;
	top: -1px;
	right: -35px;
	text-decoration: none;
	color: #313131;
	border: 1px solid #B6B6B6;
	border-left:1px solid #FFF;;
		
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
	
	padding: .5em 1em; 
	text-decoration: none; 
	font-size: 12px; 
	font-weight: bold; 
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #ff9900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left, right, color-stop(0%,#ffffff), color-stop(100%,#ff9900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#ff9900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#ff9900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#ff9900 100%); /* IE10+ */
	background: linear-gradient(left,  #ffffff 0%,#ff9900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff9900',GradientType=0 ); /* IE6-9 */


}

#panel_tab_LCEAdd:focus {
	outline: none;
}




#AddNewLCEToListDiv
{
	margin:0 0;
	width:450px;
	padding:0px;
	border: none;
	min-height: 375px;
	height: 375px;
	font-size:12px;
}


#AddNewLCEToListDiv #LeftMenuLCE
{
	width:270px;
	min-width:270px;
	background: #B6C29A;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(200,216,143))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(200,216,143)
	);
	
	position:absolute;
	top:-8px;
	left:-17px;
	padding:15px;
	margin:0px;	
	border: 0;
	border-right: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	min-height: 100%;
	height: 100%;
	z-index:2300;
}


#AddNewLCEToListDiv #RightStage
{
	position:absolute;
	top:0;
	left:287px;
	padding:15px;
	margin:0px;	
	border: 0;
}


#AddNewLCEToListDiv h1
{
	font-size:12px;
	font-weight:bold;	
	display:inline;
	padding-right:10px;	
	min-width: 100px;
	width: 100px;	
}

	
.del_LCEItemRow
{
	width:16px;
	height:16px;	
	background-image:url(../../images/icons16x16/delete_16x16.png);
	background-size:100%;
	background-repeat:no-repeat;
	z-index:1005;
	position:absolute;
	top:40px;
	left:-16px;
}

.carouselLeft{
	display: inline;
    left: 215px;
    position: absolute;
    top: 160px;
}

.carouselRight{
	display: inline;
    left: 260px;
    position: absolute;
    top: 160px;
}

#text2{
	display: block;
    left: 215px;
    position: absolute;
    top: 215px
}