 input[type=checkbox]{
 	opacity:0;
 }
 .mainLookCpp{ 	
 	background: #FFFFFF;
    border: 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	height: auto;
	min-height:300px;
    width: 1050px;
}
.new_header{
	background-image: url("images/new_header.png");
    background-repeat: repeat-x;
    height: 32px;
}
.header-title {
    color: #FFFFFF;
    font-family: "Verdana",geneva,sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin-left: 10px;
	line-height:32px;
    text-align: left;
}
.innerLookCpp{
	float: left;
    height: auto;
    padding-left: 15px;
	padding-right: 18px;
    width: 1017px;
}
.innerLookCpp .title-look{	
    float: left;
    font-family: "Verdana",geneva,sans-serif;
    font-size: 16px;
	color: #333333;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 2px;
    padding-top: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.innerLookCpp .des-look{
	margin-top:20px;
	float: left;	
    font-family: "Verdana",Regular;
    font-size: 12px;
	color: #666;
    font-weight: normal;
    text-align: left;
    width: 755px;
}

.footerLookCpp{
    background-color: #EEEEEE;
    border-color: #66B5E3 #EEEEEE #EEEEEE;
    border-style: solid;
    border-width: 2px 1px 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    height: 38px;
    width: 1048px;
	padding-top: 10px;
	margin-top:15px;
}
.nextbtn {
    border-radius: 3px;
    font-size: 14px;
    margin: 3px;
    padding: 8px;
    width: 42px;
}
.ui-tabs-active{
	background-color:#FFFFFF !important;
	color:#fff !important;
}

.ui-tabs-active a{
	color:#0888d1 !important;
}
.ui-widget-content{
	border: 0px;
}
.ui-tabs .ui-tabs-nav{
	background: #DDDDDD;	
}
.ui-tabs .ui-tabs-panel{
	border:0px;
	min-height:315px;
	height:auto;
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
}
.ui-tabs-nav{
	height: 38px;
	border-left-width: 0;
    border-right-width: 0;
}
.ui-tabs .ui-tabs-nav li{
 	bottom: 0;
    height: 30px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 9px;
    top: 0;
    width: 161px;	
	background: #f0f0f0;
}
.ui-tabs .ui-tabs-nav li.ui-state-default{
	border-bottom:0px;
}
.ui-tabs .ui-tabs-nav li a{
	padding: 0;
	line-height:30px;
    width: 159px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	font-family:Verdana;
}

.ui-tabs-nav a,ui-tabs-nav a:link
{
	height: 28px;
	color:#666666;	
	border-bottom:1px solid #AAA;
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
	border-right:1px solid #AAA;
	border-radius:5px 5px 0 0;	
}
.ui-tabs-nav .ui-tabs-active a{
	border-bottom:0px !important;
}

#innertube a, #innertube a:link, #innertube a:hover, #innertube a:visited, #innertube a:active
{
	color:#666666;
}

.mTop10{
	margin-top:10px;
}
.mTop20{
	margin-top:20px;
}
.mLeft10{
	margin-left:10px;
}
.mLeft12{
	margin-left:12px;
}
.mTop40{
	margin-top:40px;
}
.mBottom40{
	margin-bottom:40px;
}
.mRight10{
	margin-right:10px;
}
.pagecontainer
{
	float:left;
	width:1017px;
	height:auto;
	margin-top:30px;
}
.col_l
{
	float:left;
	width:535px;
	min-height:300px;
	background-color:#FFFFFF;	
	height:auto;
}
.col_r
{
	float:left;
	width:461px;
	margin-left:20px;	
	min-height:300px;
	background-color:#FFFFFF;
	height:auto;
	min-height:300px;
}

.cpp_title_l{
	width:523px;
	background-color:#0888d1;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
	font-weight:bold;	
	padding-left:10px;
	font-family:Verdana;
	border-radius: 5px 5px 0 0;
	border: 1px solid #0E88CD;
}
.cpp_title_r{
	width:449px;
	background-color:#0888d1;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
	font-weight:bold;	
	padding-left:10px;
	font-family:Verdana;
	border-radius: 5px 5px 0 0;
	border: 1px solid #0E88CD;
}
.customizeBox{
	width:533px;
	border-radius: 0 0 5px 5px;
	border-top:0px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height:auto;
}

.cppLabel{
	font-family:Verdana;
	font-weight:bold;
	font-size:14px;
	color:#0888d1;	
}
.boxLarge {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    height: 27px;
    width: 495px;
}
.boxLarge .left_box {
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-family: "Verdana",geneva,sans-serif;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 10px;
    position: relative;
    text-align: left;
    width: 136px;
}

.boxLarge .right_box {
    float: left;
    height: 27px;
    width: 348px;
}
.boxLarge .input_box {
    border: 0 none;
    border-radius: 0 3px 3px 0 !important;
    color: #333333;
    float: left;
    font-size: 12px;
    height: 26px;
    margin-bottom: 0;
    padding: 0 3px 0 11px;
    width: 334px;
}
.boxLarge .info_box {
    background: url("images/info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 16px;
    margin-right: 5px;
    margin-top: 6px;
    opacity: 0.4;
    width: 16px;
}
.boxLarge .info_box:hover{
	background: url("images/info.png"); background-repeat:no-repeat;
	opacity:1;
	filter:alpha(opacity=1);
}
.customSize{
	float: left;
    height: 27px;
    width: 497px;
}
.titleLeft{
	float: left;
    line-height: 27px;
    width: 149px;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#666666;
}
.customLabel{
	float:right;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	line-height: 27px;
	margin-right:25px;
}
.boxMedium {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    height: 27px;
    width: 346px;
}
.boxMedium .left_box {
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-family: "Verdana",geneva,sans-serif;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 10px;
    position: relative;
    text-align: left;
    width: 145px;
}

.boxMedium .right_box {
    float: left;
    height: 27px;
    width: 190px;
}
.boxMedium .input_box {
    border: 0 none;
    border-radius: 0 3px 3px 0 !important;
    color: #333333;
    float: left;
    font-size: 12px;
    height: 26px;
    margin-bottom: 0;
    padding: 0 3px 0 11px;
    width: 176px;
}

.boxSmall {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    height: 27px;
    width: 166px;
}
.boxSmall .left_box {
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-family: "Verdana",geneva,sans-serif;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 10px;
    position: relative;
    text-align: left;
    width: 73px;
}

.boxSmall .right_box {
    float: left;
    height: 27px;
    width: 82px;
}
.boxSmall .input_box {
    border: 0 none;
    border-radius: 0 3px 3px 0 !important;
    color: #333333;
    float: left;
    font-size: 12px !important;
    height: 26px;
    margin-bottom: 0;
    padding: 0 3px 0 11px;
    width: 68px;
}
.customSizeTemplate{
	float: left;
    height: auto;
    width: 497px;
}
.customTemplate{	
    float: left;
    height: auto;
    width: 348px;
}
span.colorChooser{
	background-image: none !important;
	width: 64px !important;
	line-height:27px;
	margin-bottom:1px !important;
	cursor:pointer !important;
}
.color_input{
	border:0px !important;
	height: 27px !important;
	padding:0px !important;
	margin-bottom:0px !important;
	width:108px	!important;
	padding-left:12px !important;
	color:#333333 !important;
}
.field_margin{
	border-width: 0 !important;
    height: 27px !important;
    padding: 0 !important;
    width: 178px !important;
	font-size: 12px !important;
}
#colorpick{
	padding-left: 12px !important;
    padding-top: 0 !important;
    width: 178px !important;
}
.imgPreview{
	min-height:27px !important;
	height:auto !important;
}
.ui-selectmenu-status span{
	color:#333333 !important;
}


/*
style for preview box
*/
.previewBox{
	width:459px;
	border-radius: 0 0 5px 5px;
	border-top:0px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height:auto;
	min-height:300px;
}


.previewContent{
	width:359px;
	height:auto;
	min-height:300px;
	padding:20px 50px;
}

.previewStyle{
	border:1px solid #CCC;
	border-radius: 3px;
	font-size:14px;
	/*font-family: Aria Black;*/
	font-weight:bold;
	font-style:oblique;
	font-variant:small-caps;
	color:#000;
	background-color:#fff;
}

.innerPreviewBox{
	height:auto;
	min-height:520px;
	padding:10px 12px 15px 15px;
}

.custominput 
{
	left: 12px !important;
	margin-top: 0 !important; 
}

.stepTitle{
	font-size:21px;
	font-weight:bold;
}
.mTop10{	
	margin-top:10px;
}
.mTop15{	
	margin-top:15px;
}
.mTop20 {
    margin-top: 20px;
}
.mTop45{	
	margin-top:45px;
}
.stepDes{
	font-size:13px;
	font-weight:normal;
}
.preferenceBox{
	padding-left:0px;
	padding-top:15px;
}
.preferenceItem
{
	float:left;
	width:100%;
}

.previewBox .CDF_BOX{
	float:left;
	border: none;
	width:100%;			
	height:auto;	
	min-height:29px;			
}

.previewBox.CDF_DESC{
	float:none;
	text-align:left;
	line-height: auto;
	margin-left: 6px;
	width:100%;
	border-radius:5px 0 0 5px;
	height:auto;
	min-height:29px;
}

.previewBox .CDF_SELECT{
	float:none;
	width:100%;
	height:auto;
	min-height:29px;
	
}
		
.previewBox .box {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: left;
    height: auto;
    min-height: 29px;
    width: 280px;
}
.previewBox .left_box {
    border-radius: 5px 0 0 5px;
    float: left;
    height: auto;
    margin-left: 6px;
    min-height: 29px;
    text-align: left;
    width: 274px;
}
.previewBox .right_box {
    float: left;
    height: auto;
    min-height: 29px;
    width: 280px;
}
.previewBox .input_box {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CCCCCC;
    float: left;
    height: 27px;
    padding-left: 12px;
    width: 268px;
	border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
	font-size:inherit!important;
}
.previewBox .input_box_last {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CCCCCC;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	margin-bottom:0px;
    float: left;
    height: 27px;
    padding: 0 0 0 12px;
    width: 268px;	
}
.previewBox .addContact {
    background: url("../../../public/images/add.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 16px;
    margin-bottom: 2px;
    margin-left: 5px;
    width: 16px;
	/*
margin-top:8px;
*/
	border:0px;
	box-shadow:none;
}

.previewBox .delContact {
    background: url("../../../public/images/del.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;    
    margin-bottom: 2px;
    margin-left: 5px;
    width: 16px;
	height: 16px;
	margin-top:8px;
	margin-bottom:4px;
	border:0px;
	box-shadow:none;
}
.actionPanel{
	width:20px;
	float:left;
 	margin-top:35px;
}
/*
end style for preview box
*/
@font-face{
	font-family:"Arial Black", Gadget, sans-serif;
	src:url('../../fonts/ArialBlack.ttf');
}

@font-face{
	font-family:"Bookman Old Style", serif;
	src:url('../../fonts/BookmanOldStyle.ttf');
}

@font-face{
	font-family:"Comic Sans MS", cursive;
	src:url('../../fonts/ComicSansMS.ttf');
}

@font-face{
	font-family:"Courier New", Courier, monospace;
	src:url('../../fonts/CourierNew.ttf');
}
@font-face{
	font-family:"Garamond", serif;
	src:url('../../fonts/Garamond.ttf');
}
.portaladd-input-box1{
	margin-top:0px !important;
	margin-bottom:0px !important;
	width: 523px !important;
	border:0px !important;
	height:150px !important;
	margin-left:0px !important;
	padding-top:10px !important;
	padding-left:10px !important;
	padding-bottom:10px !important;
	padding-right:0px !important;	
}
.clear{
	clear:both;
}
.inputcontent .custom-checkbox{
	width:269px;
}
label, input, button, select, textarea{
	font-size:inherit !important;
}
.custom-checkbox label, .custom-radio label{
	font-size:inherit !important;
}

.ui-selectmenu-menu{
	border:1px solid #ccc;
	border-radius:4px;
}
ul.ui-selectmenu-menu-popup{
	margin-top:0px;
}
#displayType_ti-menu, #dd-menu,#sizeType_int-menu, #Plain-menu{
	width:347px !important;
}
#dllFontFamily-menu, #dllFontWeight-menu, #dllFontStyle-menu, #dllFontVariant-menu, #dllImageRepeat-menu{
	width:189px !important;
}
#dllFontSize-menu, #dllFontType-menu
{
	width:81px !important;
}
.mtop20{
	margin-top:20px;
}
.mtop10{
	margin-top:10px;
}
.mTop43{
	margin-top:43px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	background:#fff !important;
}
.ui-selectmenu{
	margin-top:0px !important;
	height:27px !important;
}
.padding-left-20{
	padding-left:20px;
}
.padding-top-10{
	padding-top:10px;
}
.embed-box{
    border-color: #CCCCCC;
    border-radius: 0 0 5px 5px;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: auto;
    min-height: 300px;
    width: 459px;
}
#portalCode{
	margin-left:20px;
	margin-top:10px;
	margin-right:20px;
	width:400px;
	min-height:130px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #CCC;
	padding:10px 10px 10px 10px;
	color: #666666;
}
.portal-instruction{
	color: #666666;
    float: left;
    font-family: "Verdana",Regular;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.stepCPP{
	width:100%;
}


