@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ background:url(images/main-bg.jpg);}
#main{ width:100%; height:auto; float:left; margin:0; padding:0;font-family:"Verdana", geneva, sans-serif}
#headermain{ width:860px; height:99px;  background:#2484c6;padding:0;}
.input-txt{
 height:23px;
 width:315px;
 float:left;
 margin-right: 5px;
 border:#cccccc 1px solid;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	
}

#headcontent{ width:810px; height:99px; float:left; background:#2484c6; margin:0; padding:0;}
#headcontenttitle{ font-size:16px;  text-transform:capitalize; text-shadow:#000; color:#FFF; padding-left:4%; }
#headcontenttitle span{float:left; padding-top:30px;}
#headinner{ width:94%; height:auto; padding-bottom:10px; color:#FFF;  float:left; font-size:12px;padding-left:4%; text-align:left; line-height:17px; }
#dividertop{ width:860px; height:2px; background:#f79433;  margin-top:3px;}
#content{ width:810px; height:auto; padding-top:20px; margin-left: 25px;  }
#contentouterdiv{width:860px; height:auto;   background:#FFF;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); padding-bottom: 10px;}
.contactpreference{ width:99%; height:auto;border:3px solid #2484c6; border-radius:5px; float:left; margin-bottom:10px; }
#contenrmain{ width:100%; height:auto; float:left; }

.heading{font-size:16px;text-transform:uppercase; color:#363636; text-align:left; padding-bottom:10px;     }
.contactpreferencespan{font-size:12px;color:#363636; text-align:left; width:92%;float:left;padding-left:4%; padding-bottom:15px; padding-right:4%; padding-top:5px; line-height:17px;}
.heading span{padding-left:4%;float:left; padding-top:10px;}
#multipleselectonp{ width:80%; height:auto; font-size:14px; float:left; padding-left:20%; text-align:left;}
#multipleselectonp span{ padding-left:10px;font-size:14px; padding-right:10px;float:left }
#multipleselectonp p{ padding-left:30px;font-size:14px; padding-right:10px;float:left }



#addprefrenc{width:65%; height:auto; font-size:14px; float:left; padding-left:35%; text-align:left; padding-top:20px; padding-bottom:25px; }
#addprefrence{ background:#2484c6; color:#fff; border:none;font-size:14px; padding-top:5px; padding-bottom:5px;padding-left:10px; padding-right:10px;}
#addprefrence:hover{ cursor: hand; cursor:pointer;}
#hideoption{ width:94%; height:auto; font-size:14px; float:left;  text-align:left;padding-left:6%; padding-bottom:10px; }
#hideoption1{ width:94%; height:auto; display:none; font-size:14px; float:left;  text-align:left;padding-left:58px; padding-bottom:10px; }
#hideimg{width:40%; height:auto; font-size:12px; float:left;  text-align:left; padding-bottom:10px; padding-left:60px; }
#hideimg a{ padding-left:15px;}
#hideimg1{width:30%; height:auto; display:none; font-size:12px; float:left;  text-align:left;padding-left:60px; padding-bottom:10px; }
#hideimg1 a{ padding-left:15px;}
.hideoption a{ color:#2484c6; text-decoration:none;}
.hideoption  span{ padding-left:10px;}
.voice{ width:40%; height:20px; font-size:14px; float:left; padding-left:30%;
padding-right:30%; text-align:left; padding-bottom:20px;}
.voice span{ padding-left:10px;font-size:14px; padding-right:10px; }
.voiceinput{ margin-left:35px; margin-right:5px;}
.identy{width:85%; height:auto; font-size:14px; float:left; padding-left:14%; text-align:left; padding-bottom:0;}
.identy1{   float: left;
    font-size: 14px;
    height: auto;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-left: 14%;
    text-align: left;
    width: 49%;}
.identylangauge{width:85%; height:auto; font-size:14px; padding-left:14%; text-align:left; padding-bottom:0;}

#languagepre{width:40%; height:auto; font-size:14px; float:left; padding-left:10%; text-align:left; padding-bottom:0;}
.infobox {
 color: #fff;
 display:none;
 background:url(images/info-box.png); background-repeat:no-repeat;
 width:275px;
 height:78px;

    float:left;
		margin-top:-15px;
		
  
}
.infotxtblue{
 float:left;
 padding-left:30px;
 padding-top:10px;
 text-align:left;
 font-size:20px;
 
 color:#2484c6;}
.infoxtblack{
 float:left;
 padding-left:30px;
 text-align:left;
 font-size:15px;
 width:100%;
 
 color:#2484c6;}

.identyspan{ padding-left:10px; font-size:12px; text-transform:uppercase; float:left; padding-top:6px; padding-right:10px;}
#popup{float:left; }
fieldset { 
	/*padding: 0 15px 10px;*/
	padding-left:135px;
	padding-right:15px;
	
	border: 0;
	float:left;
	width:600px;
	
}

legend {
	font-size: 12px;
	padding: .2em 10px .2em 70px;
	float:left;
}
.custom-checkbox, .custom-radio { position: relative;float:left;  }
	
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: -1;
}

.custom-checkbox label, 
.custom-radio label {
	display: block;
	/*position: relative;*/
	z-index: 1;
	height:28px;
	

	line-height: 1;
	padding: 5px 10px 0 35px;
	
	cursor: pointer;
	font-size:12px;
	text-transform:uppercase; 
	
}

	
/* states */
.custom-checkbox label { background:url(images/chkbox.png) no-repeat;  }

.custom-radio label { background: url(images/radiobutton1.png) no-repeat; }

.custom-checkbox label, .custom-radio label {
	background-position: -15px -17px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
	background-position: -15px -117px;
}

.custom-checkbox label.checked, 
.custom-radio label.checked {
	background-position: -15px -216px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position: -15px -316px;
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
	
}

/*.addp{ width:auto; padding:0 5px 0 5px; background-image:url(images/buttonimg.png); color:#FFF; font-size:12px; height:25px;border:none !important; cursor:pointer;}
*/#cng{  width:auto; padding:0 5px 0 5px;
 color: #FFFFFF;

 background: #0095cd;
 font-size:12px; height:25px;border:none !important; cursor:pointer;
 
    margin-left: 10px;
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);}
 
 #cng:hover {
 background: #007ead;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
#cng:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}

.addp {
	 width:auto; padding:0 5px 0 5px;
 color: #FFFFFF;

 background: #0095cd;
 font-size:12px; height:25px;border:none !important; cursor:pointer;
 
    margin-left: 10px;
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
 
}
.addppopup {
	 width:auto; padding:0 10px 0 10px;
 color: #FFFFFF;

 background: #0095cd;
 font-size:12px; height:25px;border:none !important; cursor:pointer;
 
   
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
 
}
.addp:hover {
 background: #007ead;border:none !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
.addp:active {
 color: #fff;border:none !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}


#addbu{ width:100%; float:left; margin-top:5px; margin-bottom:5px; text-align:center;  }
#addbu1{ width:100%; float:left; margin-top:5px; margin-bottom:5px; text-align:center; display:none  }

#hideprefrence{width:100%; height:auto; float:left; padding-top:10px;display: none;}
.group{ width:390px; float:left; height:auto; margin-top:3px;}
.group1{    float: left;
    height: auto;
    margin-top: 7px;
    padding-bottom: 10px;
    padding-left: 38px;
    width: 533px;}
.group1 span{ margin-left:5px; margin-right:5px; float:left;}
.column { width: 100%; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { height:auto; width:100%; float:left; background:#FFF;}
#backbutton{width:100%; height:100px; float:left;}
#nextbutton{width:863px; height:auto; text-align:right; margin-top:10px;}


/* blue */
.button {
 display: inline-block;
 zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
 *display: inline;
 vertical-align: baseline;
 margin: 0 2px;
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: 14px/100% "Verdana", geneva, sans-serif;
 padding: .5em 2em .55em;
 text-transform:uppercase;
 -webkit-border-radius: 1px; 
 -moz-border-radius: 1px;
 border-radius: 1px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
 text-decoration: none;
}
.button:active {
 position: relative;

 top: 1px;
}

.small {
 font-size: 12px;
 padding: 8px 8px 8px 8px;
}
.blue {
 color: #FFFFFF;
 border: solid 1px #0076a3;
 background: #0095cd;
 float: right;
    margin-left: 10px;
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
 
}
.blue:hover {
 background: #007ead;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
.blue:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}
#tool1{float:left;background-image:none; display:none; padding-top:10px;}
.info-box {
 color: #fff;
 display:none;
 background:url(images/tool-bg.gif);
 
 border-radius:5px;
 width:268px;
 height:auto;
 padding-top:5px;
 padding-bottom:20px;

    padding-right: 12px;
    float:left;
}
.info-txt-blue{
 float:left;
 padding-left:30px;
 padding-top:10px;
 text-align:left;
 font-size:16px;
 font-family:"Verdana", geneva, sans-serif;
 color:#2484c6;}
.info-txt-black{
 float:left;
 padding-left:30px;
 text-align:left;
 font-size:13px;
 width:100%;
 font-family:"Verdana", geneva, sans-serif;
 color:#000;}
 
 
/* ---------------popup----------------------------------------*/


#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:300px;
width:460px;
background:#FFFFFF;
border:2px solid #cecece;
border-radius:5px;
z-index:2;
padding:0 0 12px 0;
font-size:13px;
}
#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:14px;

border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:-10px;
top:-12px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
}


#popupheader{ width:100%; height:auto; font-size:16px; font-family:Verdana, geneva, sans-serif; background:url(images/pop-bg.png); color:#3399cc; padding-top:10px; padding-bottom:10px;box-shadow: 1px 1px 3px #000;}

#popupdiv{ width:80%; height:auto; font-size:12px; margin-left:10%; margin-right:10%; 
 color:#363636; padding-top:10px; padding-bottom:10px;  text-align:left; float:left;}
 .popupname{ width:100%; height:auto; font-size:12px;
 color:#363636; padding-top:10px; padding-bottom:10px;  text-align:left; float:left;}
  .popupnamespan{ margin-left:35px; float:left;}

#popname{ width:40px; height:auto; padding:5px 15px 5px 15px; float:left; text-align:left; background:url(images/buttonimg.png); color:#FFF;}

.input-txt1{
 height:23px;
 width:280px;
 float:left;
 margin-right: 5px;
 border:#cccccc 1px solid;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-left:5px
	
}
.input-txtpreview{
 height:23px;
 width:90px;
 float:left;
 margin-right: 5px;
 border:#cccccc 1px solid;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-left:5px
	
}
#contactArea{width:100%; height:auto; font-size:12px;
 color:#363636; text-align:left; float:left;}
#previewspan{ float:left;}
#previewdiv{width:70px; height:100%; font-size:12px;
 color:#363636; text-align:left; float:left; padding-top:4px;}

#popupdownbutton{ width:95%; height:auto; font-size:16px; float:left;
 padding-top:10px; padding-bottom:10px; padding-left:13px; padding-right:10px;}

#popupdownbutton span{float:left;
 padding-left:10px; padding-right:10px;}
