@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ }
#main{ width:100%; height:auto; float:left; margin:0; padding:0;}
#headermain{ 
	background: none repeat scroll 0 0 #2484C6;
	padding: 10px;
	width: 840px; 
	
	color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: left;
}
.input-txt{
 height:23px;
 width:315px;
 float:left;
 margin-right: 5px;
 border:#cccccc 1px solid;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	
}

#headcontent{ width:810px; height:99px; float:left; background:#2484c6; margin:0; padding:0;}
#headcontenttitle{ font-size:16px;  text-transform:capitalize; text-shadow:#000; color:#FFF; padding-left:4%; }
#headcontenttitle span{float:left; padding-top:30px;}
#headinner{ width:94%; height:auto; padding-bottom:10px; color:#FFF;  float:left; font-size:12px;padding-left:4%; text-align:left; line-height:17px; }
#dividertop{ width:860px; height:2px; background:#f79433;  margin-top:3px;}
#content{ width:810px; height:auto; padding-top:20px; margin-left: 25px; 
    font-size: 12px; }
#contentouterdiv{width:860px; height:auto;   background:#FFF;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); padding-bottom: 10px;}
.contactpreference{ width:99%; height:auto;border:3px solid #2484c6; border-radius:5px; float:left; margin-bottom:10px; }
#contenrmain{ width:100%; height:auto; float:left; }

.heading{font-size:16px;text-transform:uppercase; color:#363636; text-align:left; padding-bottom:10px;     }
.contactpreferencespan{font-size:13px; color:#363636; text-align:left; width:75%;float:left; padding-bottom:15px; padding-top:5px; line-height:17px; position:relative;}
.heading span{padding-left:4%;float:left; padding-top:10px;}
#multipleselectonp{ width:80%; height:auto; font-size:14px; float:left; padding-left:20%; text-align:left;}
#multipleselectonp span{ padding-left:10px;font-size:14px; padding-right:10px;float:left }
#multipleselectonp p{ padding-left:30px;font-size:14px; padding-right:10px;float:left }



#addprefrenc{width:65%; height:auto; font-size:14px; float:left; padding-left:35%; text-align:left; padding-top:20px; padding-bottom:25px; }
#addprefrence{ background:#2484c6; color:#fff; border:none;font-size:14px; padding-top:5px; padding-bottom:5px;padding-left:10px; padding-right:10px;}
#addprefrence:hover{ cursor: hand; cursor:pointer;}
#hideoption{ width:94%; height:auto; font-size:14px; float:left;  text-align:left;padding-left:6%; padding-bottom:10px; }
#hideoption1{ width:94%; height:auto; display:none; font-size:14px; float:left;  text-align:left;padding-left:58px; padding-bottom:10px; }
#hideimg{width:40%; height:auto; font-size:12px; float:left;  text-align:left; padding-bottom:10px; padding-left:60px; }
#hideimg a{ padding-left:15px;}
#hideimg1{width:30%; height:auto; display:none; font-size:12px; float:left;  text-align:left;padding-left:60px; padding-bottom:10px; }
#hideimg1 a{ padding-left:15px;}
.hideoption a{ color:#2484c6; text-decoration:none;}
.hideoption  span{ padding-left:10px;}
.voice{ width:150%!important; height:20px; font-size:14px; float:left;text-align:left;margin-bottom: 18px;padding-left:0!important; color:#15436C!important;}
.voice span{ padding-left:10px;font-size:14px; padding-right:10px; }
.voiceinput{ margin-left:35px; margin-right:5px;}
.identy{width:85%; height:auto; font-size:14px; float:left; padding-left:14%; text-align:left; padding-bottom:0;}
.identy1{   float: left;
    font-size: 14px;
    height: auto;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-left: 14%;
    text-align: left;
    width: 49%;}
.identylangauge{width:85%; height:auto; font-size:14px; padding-left:14%; text-align:left; padding-bottom:0;}

#languagepre{width:40%; height:auto; font-size:14px; float:left; padding-left:10%; text-align:left; padding-bottom:0;}
.infobox {
 color: #fff;
 display:none;
 background:url(images/info-box.png); background-repeat:no-repeat;
 width:275px;
 height:78px;

    float:left;
		margin-top:-15px;
		
  
}
.infotxtblue{
 float:left;
 padding-left:30px;
 padding-top:10px;
 text-align:left;
 font-size:20px;
 
 color:#2484c6;}
.infoxtblack{
 float:left;
 padding-left:30px;
 text-align:left;
 font-size:15px;
 width:100%;
 
 color:#2484c6;}

.identyspan{ padding-left:10px; font-size:12px; text-transform:uppercase; float:left; padding-top:6px; padding-right:10px;}
#popup{float:left; }
fieldset { 
	/*padding: 0 15px 10px;*/
	padding-left:135px;
	padding-right:15px;
	
	border: 0;
	float:left;	
}

legend {
	font-size: 12px;
	padding: .2em 10px .2em 70px;
	float:left;
}
.custom-checkbox, .custom-radio { position: relative;float:left;  }
	
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: -1;
}

.custom-checkbox label, 
.custom-radio label {
	display: block;
	/*position: relative;*/
	z-index: 1;
	height:28px;
	

	line-height: 1;
	padding: 5px 10px 0 35px;
	
	cursor: pointer;
	font-size:12px;
	text-transform:uppercase; 
	
}

	
/* states */
.custom-checkbox label { background:url(images/chkbox.png) no-repeat;  }

.custom-radio label { background: url(images/radiobutton1.png) no-repeat; }

.custom-checkbox label, .custom-radio label {
	background-position: -15px -17px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
	background-position: -15px -117px;
}

.custom-checkbox label.checked, 
.custom-radio label.checked {
	background-position: -15px -216px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position: -15px -316px;
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
	
}

/*.addp{ width:auto; padding:0 5px 0 5px; background-image:url(images/buttonimg.png); color:#FFF; font-size:12px; height:25px;border:none !important; cursor:pointer;}
*/#cng{  width:auto; padding:0 5px 0 5px;
 color: #FFFFFF;

 background: #0095cd;
 font-size:12px; height:25px;border:none !important; cursor:pointer;
 
    margin-left: 10px;
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);}
 
 #cng:hover {
 background: #007ead;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
#cng:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}

.addp {
	 width:auto; padding:0 5px 0 5px;
 color: #FFFFFF;

 background: #0095cd;
 font-size:12px; height:25px;border:none !important; cursor:pointer;
 
    margin-left: 10px;
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
 
}
.addppopup {
	 width:auto; padding:0 10px 0 10px;
 color: #FFFFFF;

 background: #0095cd;
 font-size:12px; height:25px;border:none !important; cursor:pointer;
 
   
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
 
}
.addp:hover {
 background: #007ead;border:none !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
.addp:active {
 color: #fff;border:none !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}


#addbu{ width:100%; float:left; margin-top:5px; margin-bottom:5px; text-align:center;  }
#addbu1{ width:100%; float:left; margin-top:5px; margin-bottom:5px; text-align:center; display:none  }

#hideprefrence{width:100%; height:auto; float:left; padding-top:10px;display: none;}
.group{ float:left; height:auto; margin-top:3px;}
.group1{    float: left;
    height: auto;
    margin-top: 7px;
    padding-bottom: 10px;
    padding-left: 38px;
    width: 533px;}
.group1 span{ margin-left:5px; margin-right:5px; float:left;}
.column { width: 100%; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { height:auto; width:100%; float:left; background:#FFF;}
#backbutton{float:left;background-color: #EEEEEE;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);}
#nextbutton{width:860px; height:auto; text-align:right; margin-top:0px;padding-right: 10px;border-top: 2px solid #46A6DD;padding-top:8px;padding-bottom:7px;margin-bottom:33px;}


/* blue */
.button {
 display: inline-block;
 zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
 *display: inline;
 vertical-align: baseline;
 margin: 0 2px;
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font-size: 14px;
 padding: .5em 2em .55em;
 text-transform:uppercase;
 -webkit-border-radius: 1px; 
 -moz-border-radius: 1px;
 border-radius: 1px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
 text-decoration: none;
}
.button:active {
 position: relative;

 top: 1px;
}

.small {
 font-size: 12px;
 padding: 8px 8px 8px 8px;
}
.blue {
 color: #FFFFFF;
 border: solid 1px #0076a3;
 background: #0095cd;
 float: right;
    margin-left: 10px;
  
 background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
 
}
.blue:hover {
 background: #007ead;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
.blue:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}
#tool1{float:left;background-image:none; display:none; padding-top:10px;}
.info-box {
 color: #fff;
 display:none;
 background:url(images/tool-bg.gif);
 
 border-radius:5px;
 width:268px;
 height:auto;
 padding-top:5px;
 padding-bottom:20px;

    padding-right: 12px;
    float:left;
}
.info-txt-blue{
 float:left;
 padding-left:30px;
 padding-top:10px;
 text-align:left;
 font-size:16px;
 color:#2484c6;}
.info-txt-black{
 float:left;
 padding-left:30px;
 text-align:left;
 font-size:13px;
 width:100%;
 color:#000;}
 
 
/* ---------------popup----------------------------------------*/


#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:300px;
width:460px;
background:#FFFFFF;
border:2px solid #cecece;
border-radius:5px;
z-index:2;
padding:0 0 12px 0;
font-size:13px;
}
#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:14px;

border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:-10px;
top:-12px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
}


#popupheader{ width:100%; height:auto; font-size:16px; background:url(images/pop-bg.png); color:#3399cc; padding-top:10px; padding-bottom:10px;box-shadow: 1px 1px 3px #000;}

#popupdiv{ width:80%; height:auto; font-size:12px; margin-left:10%; margin-right:10%; 
 color:#363636; padding-top:10px; padding-bottom:10px;  text-align:left; float:left;}
 .popupname{ width:100%; height:auto; font-size:12px;
 color:#363636; padding-top:10px; padding-bottom:10px;  text-align:left; float:left;}
  .popupnamespan{ margin-left:35px; float:left;}

#popname{ width:40px; height:auto; padding:5px 15px 5px 15px; float:left; text-align:left; background:url(images/buttonimg.png); color:#FFF;}

.input-txt1{
 height:23px;
 width:280px;
 float:left;
 margin-right: 5px;
 border:#cccccc 1px solid;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-left:5px
	
}
.input-txtpreview{
 height:23px;
 width:90px;
 float:left;
 margin-right: 5px;
 border:#cccccc 1px solid;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-left:5px
	
}
#contactArea{width:100%; height:auto; font-size:12px;
 color:#363636; text-align:left; float:left;}
#previewspan{ float:left;}
#previewdiv{width:70px; height:100%; font-size:12px;
 color:#363636; text-align:left; float:left; padding-top:4px;}

#popupdownbutton{ width:95%; height:auto; font-size:16px; float:left;
 padding-top:10px; padding-bottom:10px; padding-left:13px; padding-right:10px;}

#popupdownbutton span{float:left;
 padding-left:10px; padding-right:10px;}
 
 .voice-checkbox{
	border:1px solid #ccc;
	color:#737373;
	margin-right:12px;
	margin-top:-2px;
}
.btn{
	padding:5px;
	height: 32px;
}

.box {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    height: 29px;
    width: 569px;
}

.left_box {
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 12px;
    position: relative;
    text-align: left;
    width: 171px;
	
}

.left_box_Area {
    background-color: #FFFFFF;
    color: #666666;
    float: left;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 12px;
    position: relative;
    text-align: left;
    width: 439px;
	border:1px solid #ccc;	
	border-radius: 4px 4px 0 0;
}

#inpTitleStep2,
#inpTitleStep3,
#inpTitleStep4,
#inpTitleStep5,
.inpTitleStep6{
	border: 1px solid #CCCCCC;
    border-radius: 0 0 4px 4px;
    margin-bottom: 5px;
    padding: 7px 11px 8px;
    width: 429px;
	min-height: 25px;
	word-break: break-all;
	height: auto;
}

#inpDescriptionStep2,
#inpDescriptionStep3,
#inpDescriptionStep4,
#inpDescriptionStep5,
.inpDescriptionStep6{
	border:1px solid #ccc;	
	border-top:none;
	border-radius: 0 0 4px 4px;
	width: 429px;
	padding: 7px 11px 8px;
	min-height: 25px;
    float: left;
	height: auto;
}

#LeftTitleStep2,
#LeftTitleStep3,
#LeftTitleStep4,
#LeftTitleStep5,
.LeftTitleStep6{
	height:29px;
	border:1px solid #ccc;
	background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
}

#LeftDescriptionStep2,
#LeftDescriptionStep3,
#LeftDescriptionStep4,
#LeftDescriptionStep5,
.LeftDescriptionStep6{
	background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
}

#boxDescriptionStep2,
#boxDescriptionStep3,
#boxDescriptionStep4,
#boxDescriptionStep5{
	height:60px;
}

.bpinput{
	width:454px!important;
	margin-bottom: 10px;
	border:none;
}

.right_box_Area{
	
}


.right_box {
    float: left;
    height: 27px;
    width: 385px;
}

.right_box .selectmenucustom{
	width: 400px;
	margin-left: -3px;
    margin-right: 20px;
    margin-top: -1px;
	height:29px!important;
}

.small-panel-right span{
	float:right;
}

.include-text {
    line-height: 29px;
    margin-right: 10px;
	font-style: italic;
	color: #0888D1;
}

.include-text-preference{
	width:270px;
}

.contactpreferencespan span{
	float:left;
}

.preference-name-txt{
	width:159px;
	border:1px solid #ccc;
	height:auto!important;
	float:left;
	margin-right:10px;
}

.preference-description-txt,
.preferenceValue{
	width:258px;
	border:1px solid #ccc;
	height:auto!important;
	float:left;
	margin-right:10px;
}

.wrapper-demo{
	margin-left:0!important;
	position:static!important;
}

.wrapper-dropdown-3{
	display:none;
}

.preferenceAdd {
    width:30px;
	height:30px;
	margin-top:-3px;
}
.preferenceDelete{
	width:30px;
	height:30px;
	margin-top:-3px;
}

.container {
    margin: 0 auto;
}

.show{
	display:block;
	float:left;
}

.hide{
	display:none;
}

.show-div-validate{
	width:100%;
	clear:both;
	display:inline-block;
}

.hide-div-validate{
	display:none;
}


.delete-html-module{
	background: url("images/del.gif.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	position:relative;
	height:16px;
	cursor:pointer;
	display: inline-block;
	position: absolute;
    right: 10px;
}

#boxTitleStep2,
#boxTitleStep3,
#boxTitleStep4,
#boxDescriptionStep2,
#boxDescriptionStep3,
#boxDescriptionStep4,
.boxTitleStep6,
.boxDescriptionStep6{
	height:auto;
}

.tempInp{
	margin-bottom: 20px;
}

#txtSMS{
	width:100%;
	border-radius: 3px 3px 0px 0px;
	min-height:140px;
	color:#a0a0a0;
	margin-bottom:0px;
	font-style:italic;
	resize: none; 
	padding:3px 8px !important;
}
.remainChar{
	background-image: linear-gradient(to bottom, #FFFFFF, #F4F4F4);
	width:100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-top:0px none;
	height:28px;
	text-indent:10px;
	font-size: 12px;
	border-radius : 0px 0px 3px 3px;
	color:#a0a0a0;
	padding-top:10px;
}
.editor{
	margin-top:10px;
	width:100%;
}

#tabs{
	width:100%;
	min-height: 485px;
	position:relative;
}

#tabs>ul{
	background:none repeat scroll 0 0 #DDDDDD;
	height:39px;
	line-height:39px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #CCC;
}

#tabs>ul>li{
	border:1px solid #CCC;
	border-bottom:none;
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px medium;
    float: left;
    height: 34px;
    list-style: none outside none;
    text-align: center;
    width: 88px;
	margin:4px 4px 0 4px;
	background-color:#F0F0F0;
	cursor:pointer;
	font-weight: bold;
	color:#666666;
	font-size:14px;
}

#tabs>#tabs-1,
#tabs>#tabs-2,
#tabs>#tabs-3{
	border: 1px solid #CCC;
    border-radius: 0 0 4px 4px;
    clear: both;
    padding: 20px 9px;
    position: absolute;
    width: 100%;
	border-top: none;
	height:365px;
}

#emsRecordPlayer{
	margin-left:8px;
	outline: 0;
}

#note-record{
	margin-top:10px;
}

.cpp-cdf {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    padding: 10px 15px;
}
.listFields .add-multi-fields{
    background: url("images/add_mutil_fields.png") no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 65px;
    top: 34px;
    width: 16px;
}
.controlCDF{
    position: relative;
}
.listFields .create-field{
    background: url("images/add.gif") no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 65px;
    top: 34px;
    width: 16px;
}
.ui-dialog-content {
    overflow:hidden !important;
}
.ui-dialog {
    padding-bottom: 10px;
}
.ui-widget-content input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
    margin-bottom: 8px;
    padding: 3px 8px;
}

body .ui-dialog .ui-dialog-titlebar-close:hover,
body .ui-dialog .ui-dialog-titlebar-close:focus{
    background: none !important;
    border: none !important;
}
.ui-dialog .ui-dialog-title {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 70px 16px 0.2em 72px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
body .ui-dialog .ui-dialog-titlebar-close{
    right: 8px;
    top: 14px;
}
#add-to-filed{
    float: right;
    background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
    background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 5px 5px 5px 5px;
}
.classStep6 .listFields{
    float: left;
    width: 99%;
    background: #ffffff;
}
.classStep6 .listFields ul li:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.classStep6 .listFields ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    float: left;
    padding: 0 1px;
}
.classStep6 .listFields ul li span.left{
    float: left;
    margin-bottom: 6px;
    margin-top: 6px;
}
.classStep6 .listFields ul li span.right{
    background: url("images/del.gif.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 18px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-top: 6px;
    width: 16px;
    float: right;
}
#contentPreferences .listFields{
    margin: 15px;
}
#contentPreferences .classStep6 .listFields{
    width: 90%;
    position: relative;
}
.listFields .title-block{
    font-weight: bold;
    color: #666666;
}
#preferences .right_box_Area .input_box ol{
    padding-left: 20px;
}

.block-add-field .listFields ul li span{
    float: left;
    width: 90%;
    word-break: break-all;
}

.ui-selectmenu-status span{
	word-break: break-all;
}

#CDFFilterRows .ui-selectmenu-item-content{
	display:inline-block;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:114px;
	text-align:left;
}
.inpDescriptionStep6 ol{
    padding-left: 25px;
}
