
@charset "utf-8";
/* CSS Document */
{ margin:0; padding:0;}
#main{ width:100%; height:auto; float:left; margin:0; padding:0;}
#headermain{ width:900px; height:auto;}

#headcontent{ width:100%; height:auto; float:left; background:#2484c6; margin:0; padding:0;}
h2{ font-size:16px; font-weight:bold; text-transform:capitalize; text-shadow:#000; color:#FFF; padding-left:6%; }
h2 span{float:left; padding-top:15px;}
#headinner{ width:94%; height:auto; padding-bottom:10px; color:#FFF;  float:left; font-size:12px;padding-left:6%; text-align:left; line-height:20px; }
#dividertop{ width:100%; height:2px; background:#F00; float:left; margin-top:3px;}
#content{ width:900px; height:200px;  margin-top:15px;  }
.contactpreference{ width:100%; height:auto;border:3px solid #2484c6; border-radius:5px; float:left; }
#contenrmain{ width:100%; height:auto; float:left; }

h3{font-size:16px; font-weight:bold; text-transform:uppercase; color:#363636; text-align:left; padding-bottom:10px;     }
.contactpreferencespan{font-size:12px;color:#363636; text-align:left; width:92%;float:left;padding-left:6%; padding-bottom:30px; padding-right:2%; padding-top:5px; line-height:25px;}
h3 span{padding-left:6%;float:left; padding-top:10px;}
#multipleselectonp{ width:80%; height:auto; font-size:14px; float:left; padding-left:20%; text-align:left;}
#multipleselectonp span{ padding-left:10px;font-size:14px; padding-right:10px;float:left }
#multipleselectonp p{ padding-left:30px;font-size:14px; padding-right:10px;float:left }



#addprefrenc{width:65%; height:auto; font-size:14px; float:left; padding-left:35%; text-align:left; padding-top:20px; padding-bottom:25px; }
#addprefrence{ background:#2484c6; color:#fff; border:none;font-size:14px; padding-top:5px; padding-bottom:5px; font-weight:bold;padding-left:10px; padding-right:10px;}
#addprefrence:hover{ cursor: hand; cursor:pointer;}
.hideoption{ width:94%; height:auto; font-size:14px; float:left;  text-align:left;padding-left:6%; padding-bottom:10px; }
#hideimg{}
.hideoption a{ color:#2484c6; text-decoration:none;font-weight:bold; }
.hideoption  span{ padding-left:10px;}
.voice{ width:75%; height:auto; font-size:14px; float:left; padding-left:25%; text-align:left; padding-bottom:20px;}
.voice span{ padding-left:10px;font-size:14px; padding-right:10px; }
.voiceinput{ margin-left:35px; margin-right:5px;}
.identy{width:75%; height:auto; font-size:14px; float:left; padding-left:25%; text-align:left; padding-bottom:10px;}
.identy span{ padding-left:10px; font-size:12px; text-transform:uppercase;}
#identyselect{width:200px; height:25px; padding-top:4px;}*/
fieldset { 
	padding: 14px 15px 10px;
	padding-left:0px;
	
	border: 0;
	float:left;
	
}
#fieldset1 { 
	
	margin-left:10px;
	 float: left;
    height: auto;
   
    text-align: left;
    width: 274px;
	margin-top:13px;
	
}
#fieldset3 { 
	padding: 14px 15px 10px;
	padding-left:0px;
	
	border: 0;
	float:left;
	
}
legend {
	font-size: 12px;
	padding: .2em 35px .2em 5px;
	float:left;
}
.custom-checkbox, .custom-radio { position: relative;float:left; }
	
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.submitCpp {
	width: 807px;
	height:48px;
	background-color:#EEE;
	border-top: 2px solid #66B5E3;
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
	border-bottom:1px solid #EEE; 
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.custom-checkbox label, 
.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	
	
	line-height: 1;
	padding: 5px 10px 10px 30px;
	
	cursor: pointer;
	font-size:12px;
	text-transform:uppercase;
}

	
/* states */
.custom-checkbox label { background:url(images/chkbox.png) no-repeat;  }

.custom-radio label { background: url(images/radiobutton1.gif) no-repeat; }

.custom-checkbox label, .custom-radio label {
	background-position: -5px -17px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
	background-position: -5px -117px;
}

.custom-checkbox label.checked, 
.custom-radio label.checked {
	background-position: -5px -217px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position: -5px -317px;
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
	/*outline: 1px dotted #ccc;*/
}
#addp{ width:auto; padding:0 5px 0 5px; background:url(images/buttonimg.png); color:#FFF; font-size:12px; height:25px; font-weight:bold; }
#addbu{ width:75%; float:left; margin-top:5px; margin-bottom:5px;}



