<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>I, Rest API</h1>
<h2>1. Authenticate</h2>
<ul>
  <li>Getting access key and secret key in your ebm  system</li>
</ul>
<p><img src="doc_apiii_clip_image001.png" alt="" width="624" height="193" /></p>
<ul>
  <li>Each calling REST api must provide request  elements:</li>
  <ul>
    <li>EBM Access Key Id—It is the access key id of the  identity you are using to send your request.</li>
    <li>Signature—Each request must contain a valid  request signature, or the request is rejected.</li>
    <li>A request signature is calculated using your  Secret Access Key, which is a shared secret known only to you and EBM.</li>
    <li>Time stamp—Each request must contain the date  and time the request was created, represented as a string in UTC.</li>
  </ul>
</ul>
<p><img src="doc_apiii_clip_image003.jpg" alt="" width="424" height="381" /><strong></strong></p>
<ul>
  <li>Step 1: Construct a request to EBM.</li>
  <li>Step 2:Calculate signature using your Secret  Access Key.</li>
  <li>Step 3: Send the request to EBM server. Include  your Access Key ID and the signature in your request. </li>
</ul>
<p><img src="doc_apiii_clip_image002.jpg" alt="" width="624" height="469" /><strong></strong></p>
<ul>
  <li>Step 4: EBM uses the Access Key ID to look up  your Secret Access Key.</li>
  <li>Step 5: EBM calculate a signature from the  request data and the Secret Access Key using the same algorithm you used to  calculate the signature you sent in the request.</li>
  <li>Step 6: If the signature generated by EBM  matches the one you sent in the request, the request is considered authentic.  If the comparison fails, the request is discarded, and EBM returns an error  response. </li>
</ul>
<h2>2.  Request making</h2>
<ul>
  <li>Authentication example</li>
</ul>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="133" valign="top"><p>AccessKeyID</p></td>
    <td width="192" valign="top"><p>DNN7ACCESSKEYEXAMPLE</p></td>
  </tr>
  <tr>
    <td width="133" valign="top"><p>SecretKey</p></td>
    <td width="192" valign="top"><p>wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY</p></td>
  </tr>
</table>
<ul>
  <li>Making an &ldquo;authorization &ldquo; request header</li>
</ul>
<p>Following is pseudo-grammar that  illustrates the construction of the <em>Authorization</em> request header</p>
<p>&nbsp;</p>
<pre>Authorization = AccessKeyId + &quot;:&quot; + Signature;</pre>
<pre>&nbsp;</pre>
<pre>Signature = Base64( HMAC-SHA1( YourSecretAccessKeyID, UTF-8-Encoding-Of( StringToSign ) ) );</pre>
<pre>&nbsp;</pre>
<pre>StringToSign = HTTP-Verb + &quot;\n\n\n&quot; + Datetime + &quot;\n\n\n&quot;;</pre>
<p>&nbsp;</p>
<ul>
  <li>Example: Get list cpp</li>
</ul>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="331" valign="top"><p>Request</p></td>
    <td width="283" valign="top"><p>StringToSign</p></td>
  </tr>
  <tr>
    <td width="331" valign="top"><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="0"></td>
      </tr>
    </table>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="0"></td>
        </tr>
      </table>
      <p><em>GET /cpp?format=json</em><br />
        <em>Host:eventbasedmessaging.com</em><br />
        <em>Datetime:</em> Mon, 17 Sep 2012 08:34:30    GMT<br />
        <em>Authorization:</em> DNN7ACCESSKEYEXAMPLE:tdGOp6AlCEGY01WVuZWfauFCWps=</p></td>
    <td width="283" valign="top"><p>GET\n\n\n Mon, 17 Sep 2012 08:34:30 GMT\n\n\n </p></td>
  </tr>
</table>
<ul>
  <li><strong>Working  with CPP</strong></li>
  <ul>
    <li>URI: &ldquo;/cpp&rdquo;</li>
  </ul>
</ul>
<p>&nbsp;</p>
<p>               Get  list cpp</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>GET</strong></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p><strong>Param</strong></p></td>
    <td width="82" valign="top"><p><strong>Type</strong></p></td>
    <td width="92" valign="top"><p><strong>Default</strong></p></td>
    <td width="98" valign="top"><p><strong>Required</strong></p></td>
    <td width="229" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>format</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>json</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Return format</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>page</p></td>
    <td width="82" valign="top"><p>numeric</p></td>
    <td width="92" valign="top"><p>1</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Page of list cpp</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>rows</p></td>
    <td width="82" valign="top"><p>numeric</p></td>
    <td width="92" valign="top"><p>10</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Number of list rows</p></td>
  </tr>
</table>
<p>Create new cpp</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>POST</strong></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p><strong>Param</strong></p></td>
    <td width="80" valign="top"><p><strong>Type</strong></p></td>
    <td width="90" valign="top"><p><strong>Default</strong></p></td>
    <td width="96" valign="top"><p><strong>Required</strong></p></td>
    <td width="220" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>format</p></td>
    <td width="80" valign="top"><p>string</p></td>
    <td width="90" valign="top"><p>json</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="220" valign="top"><p>Return format type (support xml and    json)</p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>cppListDesc</p></td>
    <td width="80" valign="top"><p>string</p></td>
    <td width="90" valign="top"><p>Empty </p></td>
    <td width="96" valign="top"><p>required</p></td>
    <td width="220" valign="top"><p>Cpp description</p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>primaryLink</p></td>
    <td width="80" valign="top"><p>string</p></td>
    <td width="90" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="220" valign="top"><p>Primary link</p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>systemPassword</p></td>
    <td width="80" valign="top"><p>string</p></td>
    <td width="90" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="220" valign="top"><p>System password</p></td>
  </tr>
</table>
<ul>
  <ul>
    <li>URI: &ldquo;/cpp/{cppUUID}&rdquo;</li>
  </ul>
</ul>
<p>cppUUID: cpp id<br />
  Get detail cpp:</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>GET</strong></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p><strong>Param</strong></p></td>
    <td width="82" valign="top"><p><strong>Type</strong></p></td>
    <td width="92" valign="top"><p><strong>Default</strong></p></td>
    <td width="98" valign="top"><p><strong>Required</strong></p></td>
    <td width="229" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>format</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>json</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Return format</p></td>
  </tr>
</table>
<p>Update existing cpp</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>PUT</strong></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p><strong>Param</strong></p></td>
    <td width="79" valign="top"><p><strong>Type</strong></p></td>
    <td width="89" valign="top"><p><strong>Default</strong></p></td>
    <td width="96" valign="top"><p><strong>Required</strong></p></td>
    <td width="218" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p>format</p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>json</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>Return format type (support xml and json)</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p><strong>desc</strong><strong> </strong></p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty </p></td>
    <td width="96" valign="top"><p>required</p></td>
    <td width="218" valign="top"><p>Cpp description</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p>primaryLink</p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>Primary link</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p>systemPassword</p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>System password</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p><strong>cppTemplate</strong><strong> </strong></p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>Cpp template</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p><strong>cppstyletemplate</strong></p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>Cpp style template</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p><strong>facebookmsg</strong></p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>Facebook message</p></td>
  </tr>
  <tr>
    <td width="109" valign="top"><p><strong>twittermsg</strong></p></td>
    <td width="79" valign="top"><p>string</p></td>
    <td width="89" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>optional</p></td>
    <td width="218" valign="top"><p>Twitter message</p></td>
  </tr>
</table>
<p>Delete cpp. There is no param for deleting  cpp API</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>DELETE</strong></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p><strong>Param</strong></p></td>
    <td width="80" valign="top"><p><strong>Type</strong></p></td>
    <td width="90" valign="top"><p><strong>Default</strong></p></td>
    <td width="96" valign="top"><p><strong>Required</strong></p></td>
    <td width="220" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>&nbsp;</p></td>
    <td width="80" valign="top"><p>&nbsp;</p></td>
    <td width="90" valign="top"><p>&nbsp;</p></td>
    <td width="96" valign="top"><p>&nbsp;</p></td>
    <td width="220" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<ul>
  <li><strong>Working  with contacts</strong></li>
  <ul>
    <li>URI &ldquo;/cpp/{cppUUID}/contacts&rdquo;<strong></strong></li>
    <li>Methods (verbs ) related to this uri:<strong></strong></li>
  </ul>
</ul>
<p>List/search contacts:</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><p><strong>GET</strong></p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p><strong>Param</strong></p></td>
    <td width="82" valign="top"><p><strong>Type</strong></p></td>
    <td width="92" valign="top"><p><strong>Default</strong></p></td>
    <td width="98" valign="top"><p><strong>Required</strong></p></td>
    <td width="229" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>format</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>json</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Return format</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>page</p></td>
    <td width="82" valign="top"><p>numeric</p></td>
    <td width="92" valign="top"><p>1</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Page of list contacts</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>rows</p></td>
    <td width="82" valign="top"><p>numeric</p></td>
    <td width="92" valign="top"><p>10</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Number of list contacts</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>cppUUID</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>required</p></td>
    <td width="229" valign="top"><p>The UUID of the CPP this contact is    being added to.</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>contactTypeMask</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Contact type mask</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>descriptionMask</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Description mask</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>contactMask</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Contact mask</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Create new contact:</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>POST</strong></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p><strong>Param</strong></p></td>
    <td width="74" valign="top"><p><strong>Type</strong></p></td>
    <td width="82" valign="top"><p><strong>Default</strong></p></td>
    <td width="89" valign="top"><p><strong>Required</strong></p></td>
    <td width="186" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>format</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>json</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Return format    type (support xml and json)</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpContactString</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty </p></td>
    <td width="89" valign="top"><p>required</p></td>
    <td width="186" valign="top"><p>Contact string    like phone number…</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpContactType</p></td>
    <td width="74" valign="top"><p>integer</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>required</p></td>
    <td width="186" valign="top"><p>Contact type</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>systemPassword</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>System password</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>cppUUID</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>required</p></td>
    <td width="186" valign="top"><p>The UUID of the    CPP this contact is being added to.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>CPPLOGINID</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>User Id used to    Authenticate Changes if required. Used to link multiple contact strings and    types to one account. Usually the end user's verified email address</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>CPPPWD</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Cpp password</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpFirstName</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Contact&rsquo;s first    name</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLastName</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Contact&rsquo;s last    name</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpBatchId</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>If provided,    system will also write a contact result entry for each request</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>INPUSERSPECIFIEDDATA</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField1_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField2_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField3_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField4_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField5_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField6_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField7_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField8_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField9_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField10_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField1_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField2_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField3_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField4_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField5_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField6_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField7_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField8_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField9_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField10_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey1_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey2_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey3_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey4_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey5_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey6_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey7_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey8_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey9_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey10_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
</table>
<ul>
  <ul>
    <li>URI &ldquo;/cpp/{cppUUID}/contact/{inpContactString}&rdquo;</li>
    <li>Methods (verbs ) related to this uri:<strong></strong></li>
  </ul>
</ul>
<p>Delete this contact</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>DELETE</strong></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p><strong>Param</strong></p></td>
    <td width="80" valign="top"><p><strong>Type</strong></p></td>
    <td width="90" valign="top"><p><strong>Default</strong></p></td>
    <td width="96" valign="top"><p><strong>Required</strong></p></td>
    <td width="220" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>cppUUID</p></td>
    <td width="80" valign="top"><p>string</p></td>
    <td width="90" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>required</p></td>
    <td width="220" valign="top"><p>The UUID of the    CPP this contact is being added to.</p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>contactString</p></td>
    <td width="80" valign="top"><p>string</p></td>
    <td width="90" valign="top"><p>Empty </p></td>
    <td width="96" valign="top"><p>required</p></td>
    <td width="220" valign="top"><p>Contact string    like phone number…</p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>contactType</p></td>
    <td width="80" valign="top"><p>integer</p></td>
    <td width="90" valign="top"><p>1</p></td>
    <td width="96" valign="top"><p>required</p></td>
    <td width="220" valign="top"><p>Contact type</p></td>
  </tr>
  <tr>
    <td width="105" valign="top"><p>cppId</p></td>
    <td width="80" valign="top"><p>String</p></td>
    <td width="90" valign="top"><p>Empty</p></td>
    <td width="96" valign="top"><p>Optional</p></td>
    <td width="220" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>Update this cpp</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>PUT</strong></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p><strong>Param</strong></p></td>
    <td width="74" valign="top"><p><strong>Type</strong></p></td>
    <td width="82" valign="top"><p><strong>Default</strong></p></td>
    <td width="89" valign="top"><p><strong>Required</strong></p></td>
    <td width="186" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>format</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>json</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Return format    type (support xml and json)</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpContactString</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty </p></td>
    <td width="89" valign="top"><p>required</p></td>
    <td width="186" valign="top"><p>Contact string    like phone number…</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpContactType</p></td>
    <td width="74" valign="top"><p>integer</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>required</p></td>
    <td width="186" valign="top"><p>Contact type</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>cppUUID</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>required</p></td>
    <td width="186" valign="top"><p>The UUID of the    CPP this contact is being added to.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>CPPLOGINID</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>User Id used to    Authenticate Changes if required. Used to link multiple contact strings and    types to one account. Usually the end user's verified email address</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>CPPPWD</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Cpp password</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpFirstName</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Contact&rsquo;s first    name</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLastName</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Contact&rsquo;s last    name</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpBatchId</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>If provided,    system will also write a contact result entry for each request</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>INPUSERSPECIFIEDDATA</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField1_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField2_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField3_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField4_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField5_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048 characters    of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField6_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField7_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField8_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField9_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048    characters of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField10_vch</p></td>
    <td width="74" valign="top"><p>string</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 2048 characters    of additional user specified data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField1_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField2_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField3_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField4_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField5_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField6_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField7_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField8_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField9_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpCustomField10_int</p></td>
    <td width="74" valign="top"><p>Float</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Floating point    of up to 4 decimal places of user specified numeric data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey1_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey2_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey3_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey4_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey5_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey6_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey7_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey8_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey9_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
  <tr>
    <td width="159" valign="top"><p>inpLocationKey10_vch</p></td>
    <td width="74" valign="top"><p>String</p></td>
    <td width="82" valign="top"><p>Empty</p></td>
    <td width="89" valign="top"><p>optional</p></td>
    <td width="186" valign="top"><p>Up to 255    characters of location data.</p></td>
  </tr>
</table>
<ul>
  <ul>
    <li>URI: &ldquo;/cpp/{cppUUID}/contact/verify&rdquo;</li>
  </ul>
</ul>
<p>Verify existing contact</p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="590" colspan="5" valign="top"><br />
      <strong>GET</strong></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p><strong>Param</strong></p></td>
    <td width="82" valign="top"><p><strong>Type</strong></p></td>
    <td width="92" valign="top"><p><strong>Default</strong></p></td>
    <td width="98" valign="top"><p><strong>Required</strong></p></td>
    <td width="229" valign="top"><p><strong>Description</strong></p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>format</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>json</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Return format</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>cppUUID</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>required</p></td>
    <td width="229" valign="top"><p>The UUID of the CPP this contact is    being added to.</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>contactString</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Contact string</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>contactType</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Contact type</p></td>
  </tr>
  <tr>
    <td width="90" valign="top"><p>cppId</p></td>
    <td width="82" valign="top"><p>string</p></td>
    <td width="92" valign="top"><p>&nbsp;</p></td>
    <td width="98" valign="top"><p>optional</p></td>
    <td width="229" valign="top"><p>Cpp id</p></td>
  </tr>
</table>
<h1>II, SOAP</h1>
<h2>1. Authenticating  SOAP requests</h2>
<p>Every non-anonymous request must contain authentication  information to establish the identity of the principal making the request. In  SOAP, the authentication information is put into the following elements of the  SOAP request:<br />
  <em>AccessKeyId : </em>your  EBM access key id.<br />
  <em>Timestamp: </em>current  timestamp.<br />
  <em>Signature : </em>Following  is pseudo-grammar that illustrates the construction of the <em>Signature</em></p>
<pre>StringToSign = Operation + &quot;\n\n\n&quot; + Datetime + &quot;\n\n\n&quot;;</pre>
<pre>&nbsp;</pre>
<pre>Signature = Base64( HMAC-SHA1( YourSecretAccessKeyID, UTF-8-Encoding-Of( StringToSign ) ) );</pre>
<pre>&nbsp;</pre>
<h2>2, Working with CPP:</h2>
<ul>
  <li>Cpp soap service URL: http://  {Deployed domain}  /webservice/ebm/soap/cpp.cfc?WSDL</li>
  <li>List cpp request (Operation= ListCpp). XML  header request as below:</li>
</ul>
<p>&lt;ListCpp  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;page&gt;1&lt;/page&gt;<br />
  &lt;rows&gt;10&lt;/rows&gt;<br />
  &lt;AccessKeyId&gt;DNN7ACCESSKEYEXAMPLE&lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT&lt;/Timestamp&gt;<br />
  &lt;Signature&gt;  sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;/ListCpp&gt;</p>
<ul>
  <li>Get cpp (Operation= GetCpp). XML header request  as below:</li>
</ul>
<p>&lt;GetCpp  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt; sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;CppUUID&gt;Your cppUUID&lt;/CppUUID&gt;<br />
  &lt;/GetCpp&gt;</p>
<ul>
  <li>Update cpp (Operation= UpdateCpp). XML header  request as below: </li>
</ul>
<p>&lt;UpdateCpp  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt; sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;CppUUID&gt;Your cppUUID&lt;/CppUUID&gt;<br />
  &lt;Description&gt;&lt;/Description&gt;<br />
  &lt;CppStyleTemplate&gt;&lt;/CppStyleTemplate&gt;<br />
  &lt;FacebookMsg&gt;&lt;/FacebookMsg&gt;<br />
  &lt;TwitterMsg&gt;&lt;/TwitterMsg&gt;<br />
  &lt;/UpdateCpp&gt;</p>
<ul>
  <li>Delete cpp (Operation= Delete Cpp). XML header  request as below: </li>
</ul>
<p>&lt;DeleteCpp  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt; sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;CppUUID&gt;Your cppUUID&lt;/CppUUID&gt;<br />
  &lt;/DeleteCpp&gt;</p>
<ul>
  <li>Create cpp (Operation= CreateCpp). XML header request  as below: </li>
</ul>
<p>&lt;CreateCpp  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt; sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;Description&gt;your cpp description&lt;/Description&gt;<br />
  &lt;/CreateCpp&gt;</p>
<h2>2, Working with Contacts:</h2>
<ul>
  <li>Contacts soap service URL: http://{Deployed  domain} /webservice/ebm/soap/contact.cfc?WSDL</li>
  <li>List contacts request (Operation= ListContact).  XML header request as below</li>
</ul>
<p>         &lt;ListContact  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012  08:34:30 GMT  &lt;/Timestamp&gt;<br />
  &lt;Signature&gt; sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;page&gt;1&lt;/page&gt;<br />
  &lt;rows&gt;10&lt;/rows&gt;<br />
  &lt;ContactTypeMask&gt;Contact type mask to search (optional)&lt;/ContactTypeMask&gt;<br />
  &lt;ContactMask&gt;Contact mask to search (optional)&lt;/ ContactMask&gt;<br />
  &lt;DescriptionMask&gt;description mask to search (optional)&lt;/DescriptionMask&gt;<br />
  &lt;CppUUID&gt; Your cpp uuid &lt;/CppUUID&gt;<br />
  &lt;/ListContact&gt;</p>
<ul>
  <li>Add new contact request (Operation=  AddNewContact). XML header request as below</li>
</ul>
<p>&lt;AddNewContact  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt;  sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  <br />
  &lt;ContactString&gt;Contact string&lt;/ContactString&gt;<br />
  &lt;ContactType&gt;  Contact type &lt;/ContactType&gt;<br />
  &lt;CppUUID&gt;  Cpp uuid &lt;/CppUUID&gt;<br />
  &lt;CppLoginId&gt;  CPP login id&lt;/CppLoginId&gt;<br />
  &lt;CppPwd&gt;  CPP password &lt;/CppPwd&gt;<br />
  &lt;FirstName&gt;  First name&lt;/FirstName&gt;<br />
  &lt;LastName&gt;  Last Name &lt;/LastName&gt;<br />
  &lt;BatchId&gt;  Batch id &lt;/BatchId&gt;<br />
  &lt;UserSpecifiedData&gt; user specified data &lt;/UserSpecifiedData&gt;</p>
<p>&lt;CustomField1_vch&gt;  CustomField1_vch &lt;/CustomField1_vch&gt;<br />
  &lt;CustomField2_vch&gt;  CustomField2_vch &lt;/CustomField2_vch&gt;<br />
  &lt;CustomField3_vch&gt;  CustomField3_vch &lt;/CustomField3_vch&gt;<br />
  &lt;CustomField4_vch&gt;  CustomField4_vch &lt;/CustomField4_vch&gt;<br />
  &lt;CustomField5_vch&gt;  CustomField5_vch &lt;/CustomField5_vch&gt;<br />
  &lt;CustomField6_vch&gt;  CustomField6_vch &lt;/CustomField6_vch&gt;<br />
  &lt;CustomField7_vch&gt;  CustomField7_vch &lt;/CustomField7_vch&gt;<br />
  &lt;CustomField8_vch&gt;  CustomField8_vch &lt;/CustomField8_vch&gt;<br />
  &lt;CustomField9_vch&gt;  CustomField9_vch &lt;/CustomField9_vch&gt;<br />
  &lt;CustomField10_vch&gt;  CustomField10_vch &lt;/CustomField10_vch&gt;</p>
<p>&lt;CustomField1_int&gt;  CustomField1_int &lt;/CustomField1_int&gt;<br />
  &lt;CustomField2_int&gt;  CustomField2_int &lt;/CustomField2_int&gt;<br />
  &lt;CustomField3_int&gt;  CustomField3_int &lt;/CustomField3_int&gt;<br />
  &lt;CustomField4_int&gt;  CustomField4_int &lt;/CustomField4_int&gt;<br />
  &lt;CustomField5_int&gt;  CustomField5_int &lt;/CustomField5_int&gt;<br />
  &lt;CustomField6_int&gt;  CustomField6_int &lt;/CustomField6_int&gt;<br />
  &lt;CustomField7_int&gt;  CustomField7_int &lt;/CustomField7_int&gt;<br />
  &lt;CustomField8_int&gt;  CustomField8_int &lt;/CustomField8_int&gt;<br />
  &lt;CustomField9_int&gt;  CustomField9_int &lt;/CustomField9_int&gt;<br />
  &lt;CustomField10_int&gt;  CustomField10_int &lt;/CustomField10_int&gt;</p>
<p>&lt;LocationKey1_vch&gt;  LocationKey1_vch &lt;/LocationKey1_vch&gt;<br />
  &lt;LocationKey2_vch&gt;  LocationKey2_vch &lt;/LocationKey2_vch&gt;<br />
  &lt;LocationKey3_vch&gt;  LocationKey3_vch &lt;/LocationKey3_vch&gt;<br />
  &lt;LocationKey4_vch&gt;  LocationKey4_vch &lt;/LocationKey4_vch&gt;<br />
  &lt;LocationKey5_vch&gt;  LocationKey5_vch &lt;/LocationKey5_vch&gt;<br />
  &lt;LocationKey6_vch&gt;  LocationKey6_vch &lt;/LocationKey6_vch&gt;<br />
  &lt;LocationKey7_vch&gt;  LocationKey7_vch &lt;/LocationKey7_vch&gt;<br />
  &lt;LocationKey8_vch&gt;  LocationKey8_vch &lt;/LocationKey8_vch&gt;<br />
  &lt;LocationKey9_vch&gt;  LocationKey9_vch &lt;/LocationKey9_vch&gt;<br />
  &lt;LocationKey10_vch&gt;  LocationKey10_vch &lt;/LocationKey10_vch&gt;<br />
  &lt;/AddNewContact&gt;</p>
<ul>
  <li>Delete contact (Operation= DeleteContact). XML  header request as below</li>
</ul>
<p>&lt;DeleteContact  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;</p>
<ul>
  <li>Edit contact (Operation= EditContact). XML  header request as below</li>
</ul>
<p>&lt;EditContact  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt;  sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  <br />
  &lt;ContactString&gt;Contact string&lt;/ContactString&gt;<br />
  &lt;ContactType&gt;  Contact type &lt;/ContactType&gt;<br />
  &lt;CppUUID&gt;  Cpp uuid &lt;/CppUUID&gt;<br />
  &lt;CppLoginId&gt;  CPP login id&lt;/CppLoginId&gt;<br />
  &lt;CppPwd&gt;  CPP password &lt;/CppPwd&gt;<br />
  &lt;FirstName&gt;  First name&lt;/FirstName&gt;<br />
  &lt;LastName&gt;  Last Name &lt;/LastName&gt;<br />
  &lt;BatchId&gt;  Batch id &lt;/BatchId&gt;<br />
  &lt;UserSpecifiedData&gt; user specified data &lt;/UserSpecifiedData&gt;</p>
<p>&lt;CustomField1_vch&gt;  CustomField1_vch &lt;/CustomField1_vch&gt;<br />
  &lt;CustomField2_vch&gt;  CustomField2_vch &lt;/CustomField2_vch&gt;<br />
  &lt;CustomField3_vch&gt;  CustomField3_vch &lt;/CustomField3_vch&gt;<br />
  &lt;CustomField4_vch&gt;  CustomField4_vch &lt;/CustomField4_vch&gt;<br />
  &lt;CustomField5_vch&gt;  CustomField5_vch &lt;/CustomField5_vch&gt;<br />
  &lt;CustomField6_vch&gt;  CustomField6_vch &lt;/CustomField6_vch&gt;<br />
  &lt;CustomField7_vch&gt;  CustomField7_vch &lt;/CustomField7_vch&gt;<br />
  &lt;CustomField8_vch&gt;  CustomField8_vch &lt;/CustomField8_vch&gt;<br />
  &lt;CustomField9_vch&gt;  CustomField9_vch &lt;/CustomField9_vch&gt;<br />
  &lt;CustomField10_vch&gt;  CustomField10_vch &lt;/CustomField10_vch&gt;</p>
<p>&lt;CustomField1_int&gt;  CustomField1_int &lt;/CustomField1_int&gt;<br />
  &lt;CustomField2_int&gt;  CustomField2_int &lt;/CustomField2_int&gt;<br />
  &lt;CustomField3_int&gt;  CustomField3_int &lt;/CustomField3_int&gt;<br />
  &lt;CustomField4_int&gt;  CustomField4_int &lt;/CustomField4_int&gt;<br />
  &lt;CustomField5_int&gt;  CustomField5_int &lt;/CustomField5_int&gt;<br />
  &lt;CustomField6_int&gt;  CustomField6_int &lt;/CustomField6_int&gt;<br />
  &lt;CustomField7_int&gt;  CustomField7_int &lt;/CustomField7_int&gt;<br />
  &lt;CustomField8_int&gt;  CustomField8_int &lt;/CustomField8_int&gt;<br />
  &lt;CustomField9_int&gt;  CustomField9_int &lt;/CustomField9_int&gt;<br />
  &lt;CustomField10_int&gt;  CustomField10_int &lt;/CustomField10_int&gt;</p>
<p>&lt;LocationKey1_vch&gt;  LocationKey1_vch &lt;/LocationKey1_vch&gt;<br />
  &lt;LocationKey2_vch&gt;  LocationKey2_vch &lt;/LocationKey2_vch&gt;<br />
  &lt;LocationKey3_vch&gt;  LocationKey3_vch &lt;/LocationKey3_vch&gt;<br />
  &lt;LocationKey4_vch&gt;  LocationKey4_vch &lt;/LocationKey4_vch&gt;<br />
  &lt;LocationKey5_vch&gt;  LocationKey5_vch &lt;/LocationKey5_vch&gt;<br />
  &lt;LocationKey6_vch&gt;  LocationKey6_vch &lt;/LocationKey6_vch&gt;<br />
  &lt;LocationKey7_vch&gt;  LocationKey7_vch &lt;/LocationKey7_vch&gt;<br />
  &lt;LocationKey8_vch&gt;  LocationKey8_vch &lt;/LocationKey8_vch&gt;<br />
  &lt;LocationKey9_vch&gt;  LocationKey9_vch &lt;/LocationKey9_vch&gt;<br />
  &lt;LocationKey10_vch&gt;  LocationKey10_vch &lt;/LocationKey10_vch&gt;<br />
  &lt;/EditContact&gt;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
  <li>Verify contact (Operation= VerifyContact). XML  header request as below</li>
</ul>
<p>&lt;VerifyContact  xmlns=&quot;http://www.eventbasedmessaging.com&quot;&gt;<br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt;  sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;</p>
<p>&lt;ContactString&gt; ContactString &lt;/ContactString&gt;<br />
  &lt;ContactType&gt; ContactType &lt;/ContactType&gt;<br />
  &lt;CppUUID&gt; cppUUID &lt;/CppUUID&gt;<br />
  &lt;CppId&gt; cppId &lt;/CppId&gt;</p>
<p>&lt;/VerifyContact&gt;</p>
<p><br />
  &lt;AccessKeyId&gt; DNN7ACCESSKEYEXAMPLE &lt;/AccessKeyId&gt;<br />
  &lt;Timestamp&gt; Mon, 17 Sep 2012 08:34:30 GMT &lt;/Timestamp&gt;<br />
  &lt;Signature&gt;  sHhnK30LxxUE5iVV7nGNPJzF7jw=&lt;/Signature&gt;<br />
  &lt;ContactString&gt;  ContactString &lt;/ContactString&gt;<br />
  &lt;ContactType&gt;  ContactType &lt;/ContactType&gt;<br />
  &lt;CppUUID&gt;  cppUUID &lt;/CppUUID&gt;<br />
  &lt;CppId&gt;  cppId &lt;/CppId&gt;<br />
  &lt;/DeleteContact&gt;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>