<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>delimiter $$</p>
<p>CREATE TABLE simpleobjects.abcampaign (<br />
  `ABCampaignId_bi` int(11)   NOT NULL AUTO_INCREMENT,<br />
  `UserId_int` int(11)  DEFAULT NULL,<br />
  `GroupId_bi` bigint(20) DEFAULT NULL,<br />
    `TestPercentage_int`  int(4) DEFAULT '10',<br />
    `a_BatchId_bi`  int(11) DEFAULT NULL,<br />
    `a_Percentage_int`  int(4) DEFAULT '0',<br />
    `b_BatchId_bi`  int(11) DEFAULT NULL,<br />
    `b_Percentage_int`  int(4) DEFAULT '0',<br />
    `c_Batchid_bi`  int(11) DEFAULT NULL,<br />
    `c_Percentage_int`  int(4) DEFAULT '0',<br />
    `Created_dt`  datetime DEFAULT NULL,<br />
    `LastUpdated_dt`  datetime DEFAULT NULL,<br />
    `AutoSend_int`  int(2) DEFAULT NULL,<br />
    `EmailResponse_vch`  varchar(255) DEFAULT NULL,<br />
    `SMSResponse_vch`  varchar(255) DEFAULT NULL,<br />
  `VoiceResponse_vch`  varchar(255) DEFAULT NULL,<br />
  `Active_int` int(11) DEFAULT '1',<br />
    PRIMARY KEY (`ABCampaignId_bi`),<br />
UNIQUE KEY `ABCampaignId_bi_UNIQUE` (`ABCampaignId_bi`)<br />
  ) ENGINE=InnoDB DEFAULT CHARSET=latin1$$</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&lt;RULES&gt;<br />
  &lt;ELE CK1='0' CK2='0' CK3='0' CK5='-1'  CK6='0' CK7='0' DESC='Description Not Specified' DSUID='135' LINK='0'  RULEID='1' RULETYPE='7' X='170' Y='270'&gt;0&lt;/ELE&gt;<br />
  &lt;/RULES&gt;</p>
<p>&nbsp;</p>
<p>The key here is RULETYPE='7'</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Ditribution</h3>
<p>&nbsp;</p>
<h3>Extraction</h3>
<p>&nbsp;</p>
<h3>Reporting</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Create a batch and set schedule - do not set or distribute</p>
<p>&nbsp;</p>
<p>Create new Batch - a container to hold AB testing data<br />
</p>
<p>Pick Batch A</p>
<p>Pick Batch B</p>
<p>Pick Group</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Display remaining in group</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>