<h2><strong>Billing</strong></h2>
<p>&nbsp;</p>
<p><strong>Default Billing Type</strong></p>
<p>All transaction have a credit cost.<br>
Voice = 3 credits<br>
SMS = 2 credits<br>
eMail = 1 credit
</p>
<p>inc_billing.cfm - Method GetListElligableGroupCount_ByType will calculate units based on ContactTypeId_int </p>
<p>PDC will also calculate based on ContactTypeId_int</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The user blance is stored as credits.<br>
    <br>
    <br>
    <br>
Admins can add credits at whatever price per credit they want.</p>
<p>&nbsp;</p>
<p>Public pays the posted price dependent on how many they buy at once.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Credits expire after one year.</p>
<p>&nbsp;</p>
<p>MAx credits allowed? In case of drastic rate change in comm type coming up any time soon.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
