<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>CPP Public Portal</h1>
<p>&nbsp;</p>
<p>CPP folder in EBM Dev is top level foloder on any site such as CustomerPreferencePortal.com</p>
<p>&nbsp;</p>
<h3>MS Server Setup:</h3>
<p>  Install Microsoft IIS mod-rewrite extension on web server<a href="http://www.iis.net/downloads/microsoft/url-rewrite"><br />
  http://www.iis.net/downloads/microsoft/url-rewrite</a></p>
<p>Use web config file in CPP dev directory at top level directory.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>