<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<p>&nbsp;</p>
<p>Must be logged in as Super User to use this tool</p>
<p>&nbsp;</p>
<p>This tool will do what you tell it - there is minimal error checking so BE CAREFUL!</p>
<p>&nbsp;</p>
<p>Form to set values<br />
http://ebmii.messagebroadcast.com/session/scripts/selectimportoldds.cfm</p>
<p>&nbsp;</p>
<p>Actual link - you can modiy parameters on URL if you want to<br />
http://ebmii.messagebroadcast.com/session/scripts/selectimportoldds.cfm</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Use Admin tool to look up user IDs</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>