
<cfset TestString1 = "

    <DM BS='0' DSUID='10' DESC='DESCription Not Specified - {%XML|CustomField9_vch|state%} - {%FirstName_vch%} ' LIB='0' MT='1' PT='12'><ELE ID='0'>0</ELE></DM>

    <DM BS='0' DSUID='10' DESC='DESCription Not Specified' LIB='0' MT='2' PT='12'><ELE ID='0'>0</ELE></DM>
    
    <RXSS>
        
	    <ELE QID='1' RXT='2' BS='1' CK1='3' CK2='(-1)' CK3='1' CK4='(-1,-1)' CK5='-1' CK6='-1' CK7='-1' CK8='0' CK9='25' DESC='ach_abv_sub' DI='1' DS='19' DSE='1' DSUID='10' LINK='-1' X='80' Y='239'>

				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Greeting'>
					<CASE VAL='COL'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Chase Alert to help you manage your account ending in'>1</ELE>
					</CASE>				
					
					<CASE VAL='CMS'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Cardmember Services Alert to help you manage your account ending in'>4</ELE>
					</CASE>
					
					<CASE VAL='JPM'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a JPMorgan Alert to help you manage your account ending in'>2</ELE>
					</CASE>
					
					<CASE VAL='CML'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Chase Commercial Online Alert to help you manage your account ending in'>3</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Chase Alert to help you manage your account ending in'>1</ELE>
					</DEFAULT>
				</SWITCH>

				<CONV CK1='1' CK2='6' CK3='5' DESC='[Last Four Account]'>{%LocationKey8_vch%}</CONV>

				<ELE ID='3' DESC='your'>1</ELE>
				
				<CONV CK1='2' CK2='1' CK3='0' CK4='5' CK5='7' CK6='4' CK7='4' CK8='8' CK9='9' CK10='10' DESC='[Dollar Amt]'>{%CustomField1_int%}</CONV>
				
				<ELE ID='3' DESC='external transfer to'>22</ELE>
				
				<ELE ID='TTS' RXVID='2' DESC='[PAYEE]'>{%CustomField4_vch%}</ELE>
			
				<ELE ID='3' DESC='was sent on'>23</ELE>
				
				<CONV CK1='3' CK2='1' CK3='1' CK4='11' CK5='12' CK6='13' CK7='14' CK8='15' CK9='7' DESC='[Transaction Date]'>{%CustomField7_vch%}</CONV>
				
				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Trailer'>
					<CASE VAL='COL'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>1</ELE>
					</CASE>				
					
					<CASE VAL='CMS'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>2</ELE>
					</CASE>
					
					<CASE VAL='JPM'>
						<ELE ID='2' DESC='If you have questions, please log on to www.jpmorganonline.com or call 1-866-265-1727. Thanks for choosing JPMorgan.'>3</ELE>
					</CASE>
					
					<CASE VAL='CML'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-226-0071. Thanks for choosing Chase.'>4</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>1</ELE>
					</DEFAULT>
				</SWITCH>
				
			<ELE ID='2' DESC='Press 1 to repeat this message.'>5</ELE>	
			
			0</ELE>

    </RXSS>
    
    
  	<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='CCD'>
				<CASE VAL='COL'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>				
				
				<CASE VAL='CMS'>
					<CCD CID='8779993872' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='JPM'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='CML'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<DEFAULT>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</DEFAULT>
		</SWITCH>
				"
				>
				
                            
                
<cfset TestString2 = "

    <DM BS='0' DSUID='10' DESC='DESCription Not Specified - {%XML|CustomField9_vch|state%} - {%FirstName_vch%} ' LIB='0' MT='1' PT='12'><ELE ID='0'>0</ELE></DM>

    <DM BS='0' DSUID='10' DESC='DESCription Not Specified' LIB='0' MT='2' PT='12'><ELE ID='0'>0</ELE></DM>
    
    <RXSS>
        
	    <ELE QID='1' RXT='2' BS='1' CK1='3' CK2='(-1)' CK3='1' CK4='(-1,-1)' CK5='-1' CK6='-1' CK7='-1' CK8='0' CK9='25' DESC='ach_abv_sub' DI='1' DS='19' DSE='1' DSUID='10' LINK='-1' X='80' Y='239'>

				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Greeting'>
					<CASE VAL='COL'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Chase Alert to help you manage your account ending in'>1</ELE>
					</CASE>				
					
					<CASE VAL='CMS'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Cardmember Services Alert to help you manage your account ending in'>4</ELE>
					</CASE>
					
					<CASE VAL='JPM'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a JPMorgan Alert to help you manage your account ending in'>2</ELE>
					</CASE>
					
					<CASE VAL='CML'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Chase Commercial Online Alert to help you manage your account ending in'>3</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Chase Alert to help you manage your account ending in'>1</ELE>
					</DEFAULT>
				</SWITCH>


				<SWITCH CK1='{%LocationKey5_vch%}' CK2='2' DESC='Greeting Part Two'>
					<CASE VAL='CA'>
						<ELE ID='1' DESC='State of CA'>1</ELE>
					</CASE>				
					
					<CASE VAL='TX'>
						<ELE ID='1' DESC='State of TX'>4</ELE>
					</CASE>
					
					<CASE VAL='NY'>
						<ELE ID='1' DESC='State of NY'>2</ELE>
					</CASE>
					
					<CASE VAL='OK'>
						<ELE ID='1' DESC='State of OK'>3</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='1' DESC='State of CA'>1</ELE>
					</DEFAULT>
				</SWITCH>
				
				
				<SWITCH CK1='{%LocationKey4_vch%}' CK2='2' DESC='Greeting Part Two'>
					<CASE VAL='B'>
						<ELE ID='1' DESC='Business Account'>1</ELE>
					</CASE>				
					
					<CASE VAL='C'>
						<ELE ID='1' DESC='Consumer Account'>4</ELE>
					</CASE>
				
					<DEFAULT>
						<ELE ID='1' DESC='Consumer Account'>1</ELE>
					</DEFAULT>
				</SWITCH>


				<CONV CK1='1' CK2='6' CK3='5' DESC='[Last Four Account]'>{%LocationKey8_vch%}</CONV>

				<ELE ID='3' DESC='your'>1</ELE>
				
				<CONV CK1='2' CK2='1' CK3='0' CK4='5' CK5='7' CK6='4' CK7='4' CK8='8' CK9='9' CK10='10' DESC='[Dollar Amt]'>{%CustomField1_int%}</CONV>
				
				<ELE ID='3' DESC='external transfer to'>22</ELE>
				
				<ELE ID='TTS' RXVID='2' DESC='[PAYEE]'>{%CustomField4_vch%}</ELE>
			
				<ELE ID='3' DESC='was sent on'>23</ELE>
				
				<CONV CK1='3' CK2='1' CK3='1' CK4='11' CK5='12' CK6='13' CK7='14' CK8='15' CK9='7' DESC='[Transaction Date]'>{%CustomField7_vch%}</CONV>
				
				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Trailer'>
					<CASE VAL='COL'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>1</ELE>
					</CASE>				
					
					<CASE VAL='CMS'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>2</ELE>
					</CASE>
					
					<CASE VAL='JPM'>
						<ELE ID='2' DESC='If you have questions, please log on to www.jpmorganonline.com or call 1-866-265-1727. Thanks for choosing JPMorgan.'>3</ELE>
					</CASE>
					
					<CASE VAL='CML'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-226-0071. Thanks for choosing Chase.'>4</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>1</ELE>
					</DEFAULT>
				</SWITCH>
				
			<ELE ID='2' DESC='Press 1 to repeat this message.'>5</ELE>	
			
			0</ELE>

    </RXSS>
    
    
  	<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='CCD'>
				<CASE VAL='COL'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>				
				
				<CASE VAL='CMS'>
					<CCD CID='8779993872' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='JPM'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='CML'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<DEFAULT>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</DEFAULT>
		</SWITCH>
				"
				>
                
                
                
                
                                
                
                
<cfset TestString3 = "

    <DM BS='0' DSUID='10' DESC='DESCription Not Specified - {%XML|CustomField9_vch|state%} - {%FirstName_vch%}' LIB='0' MT='1' PT='12'><ELE ID='0'>0</ELE></DM>

    <DM BS='0' DSUID='10' DESC='DESCription Not Specified' LIB='0' MT='2' PT='12'><ELE ID='0'>0</ELE></DM>
    
    <RXSS>
        
	    <ELE QID='1' RXT='2' BS='1' CK1='3' CK2='(-1)' CK3='1' CK4='(-1,-1)' CK5='-1' CK6='-1' CK7='-1' CK8='0' CK9='25' DESC='ach_abv_sub' DI='1' DS='19' DSE='1' DSUID='10' LINK='-1' X='80' Y='239'>

				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Business Unit'>
					<CASE VAL='COA'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Co. Name A Alert to help you manage your'>1</ELE>
					</CASE>				
					
					<CASE VAL='COB'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Co. Name B Alert to help you manage your'>2</ELE>
					</CASE>
					
					<CASE VAL='COC'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Co. Name C Alert to help you manage your'>3</ELE>
					</CASE>
					
					<CASE VAL='COD'>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Co. Name D Alert to help you manage your'>4</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='1' DESC='{Jingle} Hello. This is a Co. Name A Alert to help you manage your'>1</ELE>
					</DEFAULT>
				</SWITCH>


				<SWITCH CK1='{%LocationKey5_vch%}' CK2='2' DESC='State'>
					<CASE VAL='CA'>
						<ELE ID='1' DESC='State of CA'>1</ELE>
					</CASE>				
					
					<CASE VAL='TX'>
						<ELE ID='1' DESC='State of TX'>4</ELE>
					</CASE>
					
					<CASE VAL='NY'>
						<ELE ID='1' DESC='State of NY'>2</ELE>
					</CASE>
					
					<CASE VAL='OK'>
						<ELE ID='1' DESC='State of OK'>3</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='1' DESC='State of CA'>1</ELE>
					</DEFAULT>
				</SWITCH>
									
				
				<SWITCH CK1='{%LocationKey10_vch%}' CK2='2' DESC='Account Type'>
					<CASE VAL='B'>
						<ELE ID='1' DESC='Business Account ending in'>1</ELE>
					</CASE>				
					
					<CASE VAL='C'>
						<ELE ID='1' DESC='Consumer Account ending in'>4</ELE>
					</CASE>
				
					<DEFAULT>
						<ELE ID='1' DESC='Consumer Account ending in'>1</ELE>
					</DEFAULT>
				</SWITCH>


				<CONV CK1='1' CK2='6' CK3='5' DESC='[Last Four Account]'>{%LocationKey8_vch%}</CONV>

				<ELE ID='3' DESC='your'>1</ELE>
				
				<CONV CK1='2' CK2='1' CK3='0' CK4='5' CK5='7' CK6='4' CK7='4' CK8='8' CK9='9' CK10='10' DESC='[Dollar Amt]'>{%CustomField1_int%}</CONV>
				
				<ELE ID='3' DESC='external transfer to'>22</ELE>
				
				<ELE ID='TTS' RXVID='2' DESC='[PAYEE]'>{%CustomField4_vch%}</ELE>
			
				<ELE ID='3' DESC='was sent on'>23</ELE>
				
				<CONV CK1='3' CK2='1' CK3='1' CK4='11' CK5='12' CK6='13' CK7='14' CK8='15' CK9='7' DESC='[Transaction Date]'>{%CustomField7_vch%}</CONV>
				
				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Trailer'>
					<CASE VAL='COA'>
						<ELE ID='2' DESC='If you have questions, please log on to www.Co. A.com or call 1-877-777-7777. Thanks for choosing Co. A.'>1</ELE>
					</CASE>				
					
					<CASE VAL='COB'>
						<ELE ID='2' DESC='If you have questions, please log on to www.Co. B.com or call 1-877-333-3333. Thanks for choosing Co. B.'>2</ELE>
					</CASE>
					
					<CASE VAL='COC'>
						<ELE ID='2' DESC='If you have questions, please log on to www.Co. C.com or call 1-866-444-4444. Thanks for choosing Co. C.'>3</ELE>
					</CASE>
					
					<CASE VAL='COD'>
						<ELE ID='2' DESC='If you have questions, please log on to www.Co. D.com or call 1-877-555-5555. Thanks for choosing Co. D.'>4</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='2' DESC='If you have questions, please log on to www.Co. A.com or call 1-877-777-7777. Thanks for choosing Co. A.'>1</ELE>
					</DEFAULT>
				</SWITCH>
				
			<ELE ID='2' DESC='Press 1 to repeat this message.'>5</ELE>	
			
			0</ELE>

    </RXSS>
    
    
  	<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='CCD'>
				<CASE VAL='COA'>
					<CCD CID='8777777777' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>				
				
				<CASE VAL='COB'>
					<CCD CID='8773333333' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='COC'>
					<CCD CID='8004444444' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='COD'>
					<CCD CID='8005555555' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<DEFAULT>
					<CCD CID='8777777777' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</DEFAULT>
		</SWITCH>
				"
				>
                
                
                
    