<cfif isDefined("serverfileName")>
	<cfset MainLibFile = "#rxdsLocalWritePath#/U#Session.USERID#\#serverfileName#" />
	<cftry>
		<cfheader name="Content-Disposition" value="attachment;filename=preview.png">
		<cfcontent TYPE="image/jpeg" file="#MainLibFile#" />
		<cfcatch>
		</cfcatch>
	</cftry>
</cfif>

