<cfif isDefined("serverfileName")>
	
	<cfset MainLibFile = "#rxdsLocalWritePath#/U#Session.USERID#\#serverfileName#" />
			
	<cftry>
		<cfheader name="Content-Disposition" value="attachment;filename=TestFile.mp3">
		<cfcontent TYPE="application/mp3" file="#MainLibFile#" />
		<cfcatch>
		</cfcatch>
	</cftry>
</cfif>

