<style>
	
	.MC_PreviewPanel_Main
		{
			position:absolute;		
			border: 1px solid #B6B6B6; color: #4F4F4F;
			height:300px;
			min-height:300px;
			width:243px;
			font-size: 10px;
			line-height: 12px;
			margin: 10px 5px 10px 5px;
			padding: 10px 10px 5px 10px;		
			outline: none;
			color: #1c4257; 
			border: 1px solid #7096ab;
			
		/*
			background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(1, rgb(185,224,245)),
			color-stop(0, rgb(146,189,214))
			);
			background: -moz-linear-gradient(
				center top,
				rgb(185,224,245),
				rgb(146,189,214)
			);
		*/	
			-moz-box-shadow: 20px 20px 10px -10px rgba(88, 88, 88, .5);
			 -webkit-box-shadow: 20px 20px 10px -10px rgba(88, 88, 88, .5);
			 box-shadow: 20px 20px 10px -10px rgba(88, 88, 88, .5);
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px;
			display:inline;
			overflow:hidden;
			
			
		}
		
	#MC_PreviewPanel_Main_Help
	{
		background: url(../../public/css/mb/images/bg_fallback.png) 0 -65px repeat-x;
		background-color:#1A1A1A;
	}


</style>

<div id="MC_PreviewPanel_Main_Help" class="MC_PreviewPanel_Main">
	<h3>Help</h3>
	<img src="../../public/images/HelpIcon198x239Web.png" style="padding-left:20px; padding-top:15px;" >
</div>

