<cfoutput>
	<div id="htabs_Contacts">
		<a href="../lists/MultiContacts/dsp_ContactList" ><span style="display: none;">Contact List </span><img alt="Contact List" src="../../public/images/ContactsIconWeb.png"></a>
		<a href="" ><span style="display: none;">Contact Groups </span><img alt="Contact Groups" src="../../public/images/Folder-Group-Folder-icon96x96.png"></a>
		<a href="" ><span style="display: none;">Data Feeds </span><img alt="Data Feeds" src="../../public/images/dock/UploadList_Web_64x64.png"></a>
        
	</div>
</cfoutput>