
<div id='EBMDemo1Div' class="RXForm" style="width:300px; text-align:left;">

    <div id="EBMTitle" style=" font-size:18px; padding: 5px 0 15px 0;">
        <h4>Event Based Messaging</h4>
    </div>
    
    
    
    
    <div>
        <label>Select an Event</label>  
        <cfinclude template="dsp_EventPicker.cfm">
    
    </div>

</div>