<cfparam name="url.startdate" default="">
<cfparam name="url.enddate" default="">
<cfparam name="url.filter" default=""/>

<cfset startDate = deserializeJSON(url.startdate) />
<cfset endDate = deserializeJSON(url.enddate) />

<cfset startDate = "#startDate.year#-#startDate.month#-#startDate.day#" />
<cfset endDate = "#endDate.year#-#endDate.month#-#endDate.day#" />

<cfinclude template="/session/sire/configs/paths.cfm" >

<cfset file = "Total-Opt-In-#startDate#-#endDate#">
<cfset filename = file & ".csv">
<cfset RetVarQueryToCSV = "">

<cfheader name="Content-Disposition" value="inline; filename=#filename#"> 
<cfcontent type="application/csv">

<cfinvoke method="GetOptInOutList" component="session.sire.models.cfc.admin" returnvariable="data">
	<cfinvokeargument name="inpStartDate" value="#url.startdate#"/>
	<cfinvokeargument name="inpEndDate" value="#url.enddate#"/>
	<cfinvokeargument name="inpSkipPaging" value="1"/>
	<cfinvokeargument name="customFilter" value="#url.filter#"/>
</cfinvoke>
<!--- <cfdump var="#data['datalist']#" abort="true"/> --->
<cfif len(data['DATALIST']) GT 0>
	<cfset reportList =  QueryNew("PHONE,EMAIL,OPTIN,OPTOUT")>	
	<cfloop array="#data['DATALIST']#" index="tmpItem">

		<cfset QueryAddRow(reportList) />			
		<cfset QuerySetCell(reportList, "PHONE", tmpItem.PHONE) />		
		<cfset QuerySetCell(reportList, "EMAIL", tmpItem.EMAIL) />
		<cfset QuerySetCell(reportList, "OPTIN", tmpItem.OPTIN) />
		<cfset QuerySetCell(reportList, "OPTOUT", tmpItem.OPTOUT) />	
	</cfloop>
	
	<cfinvoke method="QueryToCSV" component="session.sire.models.cfc.admin" returnvariable="RetVarQueryToCSV">
    <cfinvokeargument name="Query" value="#reportList#">
	    <cfinvokeargument name="CreateHeaderRow" value="true">
	    <cfinvokeargument name="Delimiter" value=",">
	</cfinvoke>
</cfif>

<cfoutput>
	#RetVarQueryToCSV#
	<cfflush/>
</cfoutput>
