<cfoutput>
    <script type="text/javascript" src="#rootUrl#/#PublicPath#/js/datatables-1.9.4/media/js/jquery.datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="#rootUrl#/#publicPath#/js/datatables-1.9.4/media/css/jquery.datatables.css">
</cfoutput>

<!--- Calculate for form refresh - if not already defined in Filters --->
<cfparam name="FormParams" default="">

<!---this is custom filter for datatable--->
<div id="filter">
    <cfoutput>
    <!---set up column --->
    <cfset datatable_ColumnModel = arrayNew(1)>
    <cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Campaign ID', CF_SQL_TYPE = 'CF_SQL_BIGINT', TYPE='INTEGER', SQL_FIELD_NAME = 'bas.BatchId_bi'})>
    <cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Survey Title', CF_SQL_TYPE = 'CF_SQL_VARCHAR', TYPE='TEXT', SQL_FIELD_NAME = 'bas.DESC_VCH'})>
    <cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Expiration Date', CF_SQL_TYPE = 'CF_SQL_DATE', TYPE='DATE', SQL_FIELD_NAME = "EXTRACTVALUE(XMLControlString_vch, '//EXP //@DATE')"})>

    <cfif session.userrole EQ 'SuperUser'>
	    <cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Owner ID', CF_SQL_TYPE = 'CF_SQL_BIGINT', TYPE='INTEGER', SQL_FIELD_NAME = 'bas.UserId_int'})>
	    <cfset arrayappend(datatable_ColumnModel,{DISPLAY_NAME = 'Company ID', CF_SQL_TYPE = 'CF_SQL_BIGINT', TYPE='INTEGER', SQL_FIELD_NAME = 'c.CompanyAccountId_int'})>
    </cfif>
    <!---we must define javascript function name to be called from filter later--->
    <cfset datatable_jsCallback = "InitGroupContact">
    <cfinclude template="/session/ems/datatable_filter.cfm" >
    </cfoutput>
</div>
<div class="border_top_none">
    <table id="tblListGroupContact" class="table">
    </table>
</div>
<script>
    var _tblListGroupContact;
    //init datatable for active agent
    function InitGroupContact(customFilterObj){
        var customFilterData =  typeof(customFilterObj)!='undefined'?JSON.stringify(customFilterObj):"";
        _tblListGroupContact = $('#tblListGroupContact').dataTable( {
            "bProcessing": true,
            "bFilter": false,
            "bServerSide":true,
            "bDestroy":true,<!---this attribute must be explicit, or custom filter will not work properly  --->
            "sPaginationType": "full_numbers",
            "bLengthChange": false,
            "iDisplayLength": 10,
            //"bStateSave": true,
            "aoColumns": [
                {"sName": 'Campaign ID', "sTitle": 'Campaign ID', "sWidth": '8%',"bSortable": true},
                {"sName": 'Survey Title', "sTitle": 'Survey Title', "sWidth": '36%',"bSortable": true},
                {"sName": 'Expiration Date', "sTitle": 'Expiration Date', "sWidth": '12%',"bSortable": true},

				<cfif session.userrole EQ 'SuperUser'>
					<cfoutput>
                        {"sName": 'Owner ID', "sTitle": 'Owner ID', "sWidth": '7%',"bSortable": true},
                        {"sName": 'Company ID', "sTitle": 'Company ID', "sWidth": '5%',"bSortable": true},
					</cfoutput>
				</cfif>

                {"sName": 'Launch Survey', "sTitle": 'Launch Survey', "sWidth": '12%',"bSortable": false},
                {"sName": 'Preview Survey', "sTitle": 'Preview Survey', "sWidth": '12%',"bSortable": false},
                {"sName": 'Options', "sTitle": 'Options', "sWidth": '20%',"bSortable": false}
            ],
            "sAjaxSource": '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/ire/surveylist.cfc?method=GetSurveyListForDatatable&returnformat=json',
            "fnServerData": function ( sSource, aoData, fnCallback ) {
               aoData.push(
                    { "name": "customFilter", "value": customFilterData}
                );



                $.ajax({dataType: 'json',
                         type: "POST",
                         url: sSource,
                         data: aoData,
                         complete: function() {
                            prepareEvents();
                         },
                         success: fnCallback
                });
            },
            "fnInitComplete":function(oSettings, json){
                //in order to prevent this talbe from collapsing, we must fix its min width
                $('#tblListGroupContact').attr('style', '');
                $('#tblListGroupContact').css('min-width', '1068px');
                prepareEvents();
            }
        });
    }
    InitGroupContact();

</script>

<script type="text/javascript">


    function showSurveyErrorMessage(obj,batchId) {
        $.alerts.okButton = '&nbsp;Ok&nbsp;';
        if ($(obj).attr('comtype') == 'VOICE') {
            <cfoutput>
                var params = {
                    'batchId':batchId
                };
                post_to_url('#rootUrl#/#sessionPath#/ire/survey/previewVoice/', params, 'POST');
            </cfoutput>
        }
        else {
            jAlert("You must add at least one question before you can view the survey.");
        }
        return false;
    }

    // Event tracker
    // Delete survey
    function prepareEvents() {
	    $(".del_RowSurveyList").click( function() {
	        $.alerts.okButton = '&nbsp;Confirm Delete!&nbsp;';
	        $.alerts.cancelButton = '&nbsp;No&nbsp;';

	        var CurrREL = $(this).attr('rel');

	        var page = $(this).attr('pageRedirect');

	        $.ajax({
	            type:"POST",
	            async: false,
	            url:"<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/administrator/permission.cfc?method=checkBatchPermissionByBatchId&returnformat=json&queryformat=column&_cf_noDEBUG=true&_cf_nocache=true",
	            data:{
	                INPBATCHID : CurrREL,
	                OPERATOR : '<cfoutput>#delete_Survey_Title#</cfoutput>'
	            },
	            dataType: "json",
	            success: function(data) {
	                if(data.HAVEPERMISSION){
	                    jConfirm( "Are you sure you want to delete this Survey?", "Delete Survey", function(result) {
	                        if(result)
	                        {
	                            DelSurveyList(CurrREL, page);
	                        }
	                        return false;
	                    });
	                }else{
	                    $.alerts.okButton = '&nbsp;Ok&nbsp;';
	                    jAlert(data.MESSAGE);
	                    return false;
	                }
	            }
	        });
	    });

    }

    /* Delete survey function */
    function DelSurveyList(INPSurveyLISTID, page)
    {
    //  $("#loadingDlgAddBatchSurveyList").show();

        $.ajax({
        type: "POST", <!--- Posts data as form data rather than on query string and allows larger data transfers than URL GET does --->
        url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/distribution.cfc?method=UpdateBatchStatus&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',
        dataType: 'json',
        data:  { INPBATCHID : INPSurveyLISTID ,TYPEBATCH:1},
        error: function(XMLHttpRequest, textStatus, errorThrown) {},
        success:
            <!--- Default return function for Do CFTE Demo - Async call back --->
            function(d)
            {
                <!--- Alert if failure --->

                    <!--- Get row 1 of results if exisits--->
                    if (d.ROWCOUNT > 0)
                    {
                        <!--- Check if variable is part of JSON result string --->
                        if(typeof(d.DATA.RXRESULTCODE[0]) != "undefined")
                        {
                            CurrRXResultCode = d.DATA.RXRESULTCODE[0];

                            if(CurrRXResultCode > 0)
                            {
                                reloadData();
                                return false;

                            }
                            else
                            {
                                $.alerts.okButton = '&nbsp;OK&nbsp;';
                                jAlert("Survey has NOT been deleted.\n"  + d.DATA.MESSAGE[0] + "\n" + d.DATA.ERRMESSAGE[0], "Failure!");
                            }
                        }
                        else
                        {<!--- Invalid structure returned --->

                        }
                    }
                    else
                    {<!--- No result returned --->
                        $.alerts.okButton = '&nbsp;OK&nbsp;';
                        jAlert("Error.", "No Response from the remote server. Check your connection and try again.");
                    }

            }

        });

        return false;
    }
    /* End delete function*/

    function reloadData(){
    	if($('.filter_val').val() != '') {
    	   ApplyFilter_();
    	} else {
            InitGroupContact();
    	}

        return false;
    }
</script>



<!--- BASE STYLESHEET FOR LIST --->
<style type="text/css">
    #SelectContactPopUp {
        margin: 15px;
    }
    #tblListGroupContact_info {
        width: 98%;
        padding-left: 2%;
        margin-left:0px;
        height:auto;
    }
    .ui-dialog{
        padding-bottom:10px;
    }
    .loading-data{
            background: url('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading.gif') ;
            background-repeat: no-repeat;
            background-position: center;
        }

        .save-process{
            display: none;
            height: 300px;
            left: 40%;
            position: fixed;
            top: 30%;
            width: 300px;
            background: url('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading.gif') ;
            background-repeat: no-repeat;
            background-position: center;
        }

        .ui-tabs-active{
            background-color:#FFFFFF !important;
            color:#fff !important;
        }

        .ui-tabs-active a{
            color:#0888d1 !important;
        }
        .ui-widget-content{
            border: 1px solid #AAAAAA;
            /*width: 700px;*/
        }
        .ui-tabs .ui-tabs-nav{
            background: #DDDDDD;
        }
        .ui-tabs .ui-tabs-panel{
            border:0px;
            /*min-height:300px;*/
            height:auto;
            padding-top:40px;
            padding-left:10px;
        }

        #emsRecorder{
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            display: block;
            margin: 16px 20px 0;
        }
        .ui-tabs-nav{
            height: 38px;
            border-left-width: 0;
            border-right-width: 0;
        }
        .ui-tabs .ui-tabs-nav li{
            bottom: 0;
            height: 30px;
            margin-bottom: 0;
            margin-left: 5px;
            margin-top: 9px;
            top: 0;
            width: 170px;
            background: #f0f0f0;
        }
        .ui-tabs .ui-tabs-nav li.ui-state-default{
            border-bottom:0px;
        }
        .ui-tabs .ui-tabs-nav li a{
            padding: 0;
            line-height:30px;
            width: 168px;
            text-align:center;
            font-size:14px;
            font-weight:bold;
            color:#666666;
            
        }
        .ui-tabs-nav a,ui-tabs-nav a:link
        {
            height: 28px;
            color:#666666;
            border-bottom:1px solid #AAA;
            border-left:1px solid #AAA;
            border-top:1px solid #AAA;
            border-right:1px solid #AAA;
            border-radius:5px 5px 0 0;
        }
        .ui-tabs-nav .ui-tabs-active a{
            border-bottom:0px !important;
        }
        #tabs .ui-tabs-nav li a{
            width: 88px;
        }
        #tabs .ui-tabs-nav li{
            width: 90px;
        }
        #tabs .ui-tabs .ui-tabs-panel{
            padding-left:0px;
        }
        .header-bar{
            background-color: #0888D1;
            border: 1px solid #0E88CD;
            border-radius: 5px 5px 0 0;
            color: #FFFFFF;
            
            font-size: 14px;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
            width: 700px;
            text-indent:10px;
        }
        .datatables_wrapper{
            width:96%;
            margin:0 auto;
        }
        table.dataTable td{
            border-right: 1px solid #CCC;
            font-size:13px;
            color:#666;
        }

        table.dataTable th{
            border-right: 1px solid #CCC;
        }

        .border_top_none{
            border-radius: 0 0;
        }
        .m_top_20{
            margin-top:20px;
        }
        .m_top_10{
            margin-top:10px;
        }
        .m_left_20{
            margin-left:20px;
        }
        .m_left_0{
            margin-left:0px;
        }
        .statistic-bold{
            color:#0888d1;
            
            font-size:48px;
            word-wrap:break-word;
            table-layout:fixed;
            width:680px;
            text-align:center;
            border-spacing:10px 0px;
        }
        .footer-text{
            color:#666666;
            
            font-size:14px;
        }
        .none-border-bottom td{
            border-top:1px solid #cccccc;
            border-right:1px solid #cccccc;
            border-left:1px solid #cccccc;
            border-bottom:0px none;
            background-color:#f0f0f0;
        }
        .none-border-top th{
            border-bottom:1px solid #cccccc;
            border-right:1px solid #cccccc;
            border-left:1px solid #cccccc;
            border-top:0px none;
            background-color:#f0f0f0;
            height:75px;
        }
        .spacing_10{
            border-spacing:10px 0px;
        }
        #ActiveSessionTbl{
            width:680px;
            margin-top:0px;
        }
        tr.tr-Session:hover td{
            cursor:pointer;
            background: yellow;
        }
        table.dataTable thead tr {
            background-color: #0888D1;
            border-bottom: 2px solid #FA7D29;
            color: #FFFFFF;
            height: 23px;
            line-height: 23px;
        }
        .datatables_paginate {
            background-color: #EEEEEE;
            border-radius: 0 0 3px 3px;
            border-top: 2px solid #0888D1;
            box-shadow: 3px 4px 3px -3px rgba(0, 0, 0, 0.5);
            float: right;
            height: 33px !important;
            padding-top: 10px;
            text-align: right;
            width: 100%;
        }
        .dataTables_info {
            background-color: #EEEEEE;
            border-top: 2px solid #46A6DD;
            box-shadow: 3px 3px 5px #888888;
            line-height: 39px;
            position: relative;
            top: 0 !important;
            clear: both;
            float: left;
            padding-top: 3px;
        }

        .paging_full_numbers {
            height: 22px;
            line-height: 22px;
            margin-top: 10px;
            position: absolute;
            right: 30px;
        }

        .dataTables_paginate {
            float: right;
            text-align: right;
        }
        .paginate_button {
            background-color: #46A6DD !important;
            border: 1px solid #0888D1 !important;
            box-shadow: 0 1px 0 #2AA3E9 inset;
            color: #FFFFFF !important;
            padding: 3px 8px !important;
        }
        a.paginate_active {
            background-color: #0888D1 !important;
            border: 1px solid #0888D1 !important;
            border-radius: 5px;
            box-shadow: 0 1px 0 #2AA3E9 inset;
            color: #FFFFFF !important;
            cursor: pointer;
            padding: 3px 8px !important;
        }
        .hide{
            display:none;
        }
        .avatar{
            padding: 0px 8px 0px 10px !important;
        }
        .clear-fix{
            clear:both;
        }

        table.dataTable tr.even td.sorting_1 {
            background-color: #FFF!important;
        }

        table.dataTable tr.odd,
        table.dataTable tr.odd td.sorting_1{
            background-color: #f3f9fd!important;
        }
        .wrapper-dropdown-picker {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
            color: #666666;
            cursor: pointer;
            height: 21px;
            margin-top: 0;
            position: relative;
            width: 300px;
            padding:5px 10px 0 9px;
            font-size: 12px;
       

        }
        .wrapper-picker-container{
             margin-left: 20px;
        }
        .tooltiptext{
            display: none;
        }
        .showToolTip{
            cursor:pointer;
        }
        .deliverymethods{
            margin-bottom:50px;
        }

        #ScheduleBtn.active
        {
            /* background: url(images/redo20n_inactive.png); */
            background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
        }

        #ScheduleBtn.inactive
        {
            /* background: url(images/redo20n_inactive.png); */
            background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
        }

        #ScriptPickerBtn.active
        {
            /* background: url(images/redo20n_inactive.png); */
            background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/music-icon_24x24.png) 0 0; width: 24px; height: 24px; cursor:pointer;
        }

        #ScriptPickerBtn.inactive
        {
            /* background: url(images/redo20n_inactive.png); */
            background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/music-icon_24x24.png) 0 0; width: 24px; height: 24px; cursor:pointer;
        }

        .TextLinkHoverStyle:hover
        {
            text-decoration:underline;
            cursor:pointer;
        }

        #jstree_demo_div .jstree_no_icon{
            display: none;
        }

        a.select_script{
            text-decoration: none !important;
        }

        a.select_script:HOVER{
            text-decoration: underline !important;
        }



        #inpAvailableShortCode-button
        {
            outline:none;
        }
</style>

<style type="text/css">
        /**
* Modify Table stylesheet
*
*/
        .border_top_none table.table.dataTable {
            border-spacing: 0px;
            border-collapse: separate;
        }
        .border_top_none table.table.dataTable thead th {
            border-bottom: 3px solid #FF6633;
        }
        .border_top_none table.table.dataTable thead {
              background-color: #0888D1;
        }
        table.dataTable thead th {
            font-size: 13px;
            font-weight: normal;
            height: 31px;
            line-height: 31px;
            padding-left: 10px;
            text-align: left;
        }
        table.dataTable td:first-child, table.dataTable th:first-child {
            border-left: 1px solid #CCCCCC;
            width: 13%;
        }
        table.dataTable td:last-child {
            border-right: 1px solid #CCCCCC;
        }
        table.dataTable tbody td, table.dataTable tr.odd td.sorting_1, table.dataTable tr.even td.sorting_1 {
            font-size: 12px;
            background-color: #fff;
            color: #5E6AAD;
        }
        table.dataTable tbody td {
            padding: 5px 13px;
            line-height: 26px;
        }
        table.dataTable td:last-child, table.dataTable th:last-child {
            width: 10%;
        }
		.sorting {
		  background-size: auto 23%;
		}

</style>