.popover-content{
  background-color:#fff !important;
}
 /* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
  margin-top: 5px;
}

/* Hide default HTML checkbox */
.toggle-switch input {display:none;}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  min-height: 32px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;	  
}

input:checked + .toggle-slider {
  background-color: #83dd8f;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #83dd8f;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}



.ui-timepicker-wrapper
{
	width: 103px !important;		
}

.webfont_scrolltime {
  position: relative;
}
.webfont_scrolltime:before {
  font-family: "FontAwesome";
  font-size: 14px;
  content: "\f017";
  position: absolute;
  left: 4px;
  top: 8px;
}
.webfont_scrolltime input {
  text-indent: 20px;
}

.config-title{
  padding-top: 8px
}

/* CALENDAR PAGE */
.hide { display: none; }  
.popover-title { display: none; } 
/*screen resolution */
  @media  (max-width: 320px)
  {
    .popover
    {
      max-width: 170px !important;    
    }
    
  }

  @media (min-width: 321px) and (max-width: 480px)
  {
    .popover
    {
      width: 200px !important;    
    }
    
  }

  @media (min-width: 481px) and (max-width: 799px)
  {
    .popover
    {
      width: 240px !important;    
    }
    
  }

  @media (max-width: 767px)
  {
    .portlet.light {
      padding: 1px 1px 20px 1px !important;
    }

    .reminder-calendar-title {
      padding-left: 15px !important;
      padding-bottom: 5px !important;
      text-align: left !important;
    }
    .status-name {
      line-height: 25px;
      margin: 5px 0;
    }

    #Calendar_collapse.in {
      height: 0;
    }

    #Calendar_collapse {
      -webkit-transition: height 1.5s ease;
      -moz-transition: height 1.5s ease;
      -o-transition: height 1.5s ease;
      transition: height 1.5s ease;
      
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      background: none;
      vertical-align: middle;
      line-height: 20px;
    }

    .col-xs-2 {
      width: 100%;
      float: top;
    }

    .col-xs-10 {
      width: 100%;
    }
  }

  @media (min-width: 768px)
  {
    .popover
    {
      width: 400px !important;    
    }
  }

  @media (max-width: 799px) AND (min-width: 768px){
    .portlet.light {
      padding: 1px 1px 20px 1px !important;
    }
    .container1{
      font-size: 12px !important;
    }
    
  }
  
  @media (max-width: 1400px) AND (min-width: 800px){
    .status-name{
      line-height: 14px !important;
    }

    .col-xs-2 {
      width: 16.66667%;;
      float: top;
      padding-right: 0px;
    }

    .col-xs-10 {
      width: 83.33333%;
    }
  }

  
  .event-link-active
  {
    font-weight: bold;    
  }
  
  .event-bubble
  {   
    position: relative;
    margin-bottom: 2em;
    
  }
  .event-bubble-close {
      cursor: pointer;
      height: 13px;
      right: 6px;
      top: 6px;
      width: 13px;
      position: absolute;
  }


  .TimeStepStart, .TimeStepEnd
  {
    
    
  }
  
  .ui-timepicker-wrapper
  {
    width: 123px !important;    
  }
  
  label, td
  {
    font-family: 'Source Sans Pro', sans-serif;
    
  } 
  
  .fc-sire-event-button
  {
    border-radius: 4px;     
  }
  
  .fc-button:hover, .fc-state-default:hover
  {
    background-position: 0 -15px;
    background-color: #e6e6e6;    
  }
  
  
  .reminder-group
  {
    display: none;
  }

  .chat-group
  {
    display: none;
  }
  
  .event-link:hover, .reminder-link:hover, .chat-link:hover
  {
    cursor: pointer;
  }
  
  
  .fc-myCustomButton-button:before
  {
     font-family: FontAwesome;
     content: "\f013";      
  }
  
  .button-chat-calendar
  {
    float: left; 
    background-color: #30AABC;
    border-radius: 5px; 
    border: 0px;
    width: 80px; 
    height: 35px; 
    color: white;
  }

  .reminder-calendar-title{
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: left;
  }

  .remind-chang-request
  {
    background-color: #000000;
  }
  .remind-accepted
  {
    background-color: #83dd8f;
  }

  .remind-decline
  {
    background-color: #ad433a;
  }

  .remind-chat-active
  {
    background-color: #0000ff;
  }

  .remind-chat-close
  {
    background-color: #999999;
  }

  .remind-opt-out
  {
    background-color: #dd8683;
  }

  .remind-sent
  {
    background-color: #008B00;
  }

  .remind-dont-send
  {
    background-color: #3a87ad;
  }
  .remind-inqueue
  {
    background-color: #C8BFE7;
  }

  .select2-container{
    z-index: 1;
  }

  .mCSB_scrollTools{
    width: 10px !important;
  }

  @media (max-width: 400px) {
      .fc button {
        padding: .4em !important;
      }
  }

  #chat-modal
  {
    width: 100%;
  }

  /* customer respone*/
  .bubble {
    background-color: #28CBEF;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
  }
  .bubble::before {
    background-color: #28CBEF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate( 29deg) skew( -35deg);
    -moz-transform: rotate( 29deg) skew( -35deg);
    -ms-transform: rotate( 29deg) skew( -35deg);
    -o-transform: rotate( 29deg) skew( -35deg);
    -webkit-transform: rotate( 29deg) skew( -35deg);
    width: 20px;
  }
  .you {
    float: left;
    margin: 5px 45px 5px 20px;
    background-color: #F2F2F2;
  }
  .you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
    left: -9px;
    background-color: #F2F2F2;
  }
  .me {
    float: right;
    margin: 5px 20px 5px 45px;
  }
  .me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
    right: -9px;
  } 

  .cshr-text{
    font-size: 18px !important;
  }
  /* Check box filer status calendar */
    /* The container */
    .container1 {
      display: block;
      position: relative;
      padding-left: 40px;
    /*  margin-bottom: 15px;
      margin-top: 8px;*/
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 25px;
    }

    /* Hide the browser's default checkbox */
    .container1 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      /*background-color: #eee;*/
    }

    /* On mouse-over, add a grey background color */
    .container1:hover input ~ .checkmark {
      /*background-color: #ccc;*/
    }

    /* When the checkbox is checked, add a blue background */
    .container1 input:checked ~ .checkmark {
      /*background-color: #2196F3;*/
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container1 input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container1 .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    /* -----*/
    .icon_calendar{
      font-size: 20px;
    }

    .title_calendar{
      text-decoration:none; 
      font-size: 2.6rem; 
      color: #5c5c5c;
      font-weight: 900; 
      padding-right: 1.5rem;
    }

    #Calendar_collapse {
      -webkit-transition: width 1.5s ease;
      -moz-transition: width 1.5s ease;
      -o-transition: width 1.5s ease;
      transition: width 1.5s ease;
      
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      background: none;
      vertical-align: middle;
      line-height: 30px;
    }
    #Calendar_collapse.in {
      width: 0;
    }

    /* CALENDAR CONFIG */
    .sms-method{
      position: relative;
      display: inline-block;
      padding-left: 20px;
      margin-bottom: 0;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
    }

    .email-method{
      position: relative;
      display: inline-block;
      padding-left: 20px;
      margin-bottom: 0;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
    }

    .uk-width-expand{
      margin-bottom: 5px;
    }

    .trigger-plus{
      margin-right: 5px;
      padding-right: 10px;
    }

    .status-name{
      display: block;
      width: 100%; 
      word-break:break-word; 
      white-space:normal; 
      line-height: 14px;
    }

    .btn.new-blue-gd{
      margin-bottom: 5px !important;
    }

    .text-color-red{
      color: red;
    }