.popover .popover-content{
  background-color:#fff !important;
}
 /* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
  margin-top: 5px;
}

/* Hide default HTML checkbox */
.toggle-switch input {display:none;}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  min-height: 32px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;	  
}

input:checked + .toggle-slider {
  background-color: #83dd8f;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #83dd8f;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}



.ui-timepicker-wrapper
{
	width: 103px !important;		
}

.webfont_scrolltime {
  position: relative;
}
.webfont_scrolltime:before {
  font-family: "FontAwesome";
  font-size: 14px;
  content: "\f017";
  position: absolute;
  left: 4px;
  top: 8px;
}
.webfont_scrolltime input {
  text-indent: 20px;
}

.config-title{
  padding-top: 8px
}

    @media (max-width: 767px)
    {
        .notifi-method{
        text-align: left !important; 
        }
    }

    label, td
    {
        font-family: 'Source Sans Pro', sans-serif;
        
    } 
    .select2-container{
        z-index: 1015;
    }

    /* CALENDAR CONFIG */
    .sms-method{
      position: relative;
      display: inline-block;
      padding-left: 20px;
      margin-bottom: 0;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
    }

    .email-method{
      position: relative;
      display: inline-block;
      padding-left: 20px;
      margin-bottom: 0;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
    }

    .uk-width-expand{
      margin-bottom: 5px;
    }

    .trigger-plus{
      margin-right: 5px;
      padding-right: 10px;
    }

    .notifi-method{
      text-align: right; 
      display: table-cell; 
      vertical-align: middle;
    }
    

