#tblListEMS .btn-medium{
	margin: 10px;
}

#tblListEMS .btn-group .btn-medium {
	margin: 0;
	min-width: auto;
}

#tblListEMS a.BatchDescLink{
	word-wrap: break-word;
	color:#5C5C5C;
	text-decoration: none;
	cursor: default;
}

#tblListEMS thead tr th:first-child{
	min-width: 50px;
}

#tblListEMS .camp-id{
	width: 70px;
}

#tblListEMS .camp-status{
	width: 85px;
}

#tblListEMS .camp-keyword{
	width: 185px;
	overflow: hidden;
}

#tblListEMS .camp-action{
	width: 290px;
}

#tblListEMS .camp-action .btn-group > a.btn:first-child:last-child {
    /*width: 102px;*/
}

.feed_block{
	margin-top: 22px;
}

.BlastText
{
	color:#f50a0a;
	
	
}
/* TEMPLATE PICKER */
.createCampaignModal p.title{
	text-align: center;
	font-size: 28px;
	color: #568ca5;
	font-weight: normal;
}

.createCampaignModal .nav-tabs > li{
	padding-right: 6px;
}

.createCampaignModal .tab-content{
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-bottom: 20px;
}

.createCampaignModal .nav-tabs > li > a{
	font-weight: bold;
	color: #5c5c5c;
	text-decoration: none;
  	background-color: #eee;
  	border-radius:0;
}

.createCampaignModal .nav-tabs > li.active > a{
	color:#74c37f;
	background-color: #fafafa;
}

.createCampaignModal .item-grid{
	padding: 25px 0px 0px 25px;
}

.createCampaignModal .tab-pane .row{
	padding-right: 25px;
}

.createCampaignModal .row{
	/*padding-right: 25px;*/
}


.createCampaignModal .item-grid .content{
	background-color: #fff;
	padding:15px;
	border-radius:10px;
	border: 3px solid #eee;
	height: 180px;
  	word-wrap: break-word;
  	display: block;
  	text-decoration: none;
  	color: #5c5c5c
}

@media only screen and (max-width: 375px){
	.createCampaignModal .item-grid .content{
		padding: 5px;
		height: 220px;
	}
}

.createCampaignModal .item-grid .contentFiltersDesc{
	background-color: #fff;
	padding:10px;
	border-radius:10px;
	border: 3px solid #eee;
	height: 360px;
  	word-wrap: break-word;
  	display: block;
  	text-decoration: none;
  	color: #000;
	display:none;
	overflow:hidden;
	position: relative;
	
}

.createCampaignModal .item-grid .contentFiltersDesc h4{
	font-weight:700;
}

.ImgFill
{
	width:100%;
	
}

.AlignCenter
{
	text-align:center;
}

.createCampaignModal .item-grid .imgDes{
	position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}


.createCampaignModal .item-grid .contentFilters{
	background-color: #274e60;
	padding:15px;
	border-radius:10px;
	border: 3px solid #eee;
	height: auto;
	word-wrap: break-word;
  	display: block;
  	text-decoration: none;
  	color: #ffffff
}

.createCampaignModal .item-grid .contentFilters a, .createCampaignModal .item-grid .contentFilters a.TemplateLinkII{
	color:#74c37f;
}

.createCampaignModal .item-grid .contentFilters a:hover,
.createCampaignModal .item-grid .contentFilters a:active,
.createCampaignModal .item-grid .contentFilters a.active{	
  	color: #ffffff
}



.createCampaignModal .item-grid .contentFilters a.TemplateLinkII:hover,
.createCampaignModal .item-grid .contentFilters a.TemplateLinkII:active,
.createCampaignModal .item-grid .contentFilters a.TemplateLinkII.active{	
  	color:#666
}

.createCampaignModal .item-grid .content:hover{
	-moz-box-shadow:0 1px 10px #dedede;
	-webkit-box-shadow:0 1px 10px #dedede;
	-ms-box-shadow:0 1px 10px #dedede;
	box-shadow:0 1px 10px #dedede;
	cursor: pointer;
}

/*
.createCampaignModal .item-grid .selected{
	-moz-box-shadow:0 1px 10px #dedede;
	-webkit-box-shadow:0 1px 10px #dedede;
	-ms-box-shadow:0 1px 10px #dedede;
	box-shadow:0 1px 10px #dedede;
	cursor: pointer;
	border: 5px solid #568ca5;
}
*/

.createCampaignModal .template-name{
	text-align: center;
}

.createCampaignModal{
	padding-bottom: 20px;
}

.createCampaignModal .item-grid .content
{
	position: relative;
    overflow: hidden;
}
.createCampaignModal .item-grid .content img {
    max-width: 100%;
    max-height: 110px;
}
.item_action {
    background-color: rgba(0,0,0,0.9);
    bottom: 0;
    color: #fff;
    font-size: 16px;
    height: 31px;
    line-height: 20px;
    padding: 6px 6px 0;
    position: absolute;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    height: 180px;
    width: 100%;
	text-align:center;
	border-radius:10px;
	display: none;
}
@media only screen and (max-width: 375px){
	.item_action{
		height: 220px;
	}
}

.item_action .template-name{
	margin-top: 10px;
}

.item_action .template-desc{
	text-align: left;
	font-size: 14px;
	margin-left: 10px;
}

.select_group_btn{
	margin: 0 10% 2% 10%;
}

.btn-preview-campaign{
	margin-left: 10px;
}

.item_action .template-desc a, .item_action .template-desc a:hover, .item_action .template-desc a:active{
	cursor: default;
	color: #fff;
	text-decoration: none;
}

/*line-clamp*/
.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}
.line-clamp:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1.5em);
}
@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1.5em);
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(3em);
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(4.5em);
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(6em);
}
.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(7.5em);
}

@media (min-width: 1201px) and (max-device-width : 1485px){

	.item_action .template-name{
	 font-size: 13px;
	}
}

@media (min-width: 1256px) and (max-device-width : 1280px){

	.TemplatePickerImage .template-name{
		font-size: 15px;
	}

	.TemplatePickerImage .item_action .template-desc{
		font-size: 12px;
	}

	.item_action .template-name{
		margin-top :5px;
		font-size: 13px;
	}
}

@media (min-width: 1200px) and (max-device-width : 1255px){

	.TemplatePickerImage .template-name{
		font-size: 15px;
	}

	.TemplatePickerImage .item_action .template-desc{
		font-size: 12px;
	}

	.item_action .template-name{
		margin-top :5px;
		font-size: 12px;
	}
}

@media (min-width: 920px) and (max-device-width : 1140px){
	.createCampaignModal .template-name{
		font-size: 14px;
		margin-top:5px;
	}
}

@media (max-width: 320px){
	.item_action button{
		padding: 7px !important;
		text-transform: initial !important;
	}
}

@media (max-width: 767px){
	.createCampaignModal .item-grid{
		padding: 0;
	}
}

.preview_desc{
	margin: 15px;
}

.item-grid .content .image{
	text-align: center;
}

/* TEMPLATE PICKER */


 #form-clone-campaign #keyword{
 	width: 150px;
 }

table td{
	vertical-align: middle !important;
}


.TemplatePickerImage
{		
	background-image: url(../images/template-picker/template-1-image.png);
    background-position: center 95%;
    background-repeat: no-repeat;
	background-size: 100px 100px;
}

@media only screen and (max-width: 767px){
	.createCampaignModal .item-grid{
		margin-bottom: 15px;
	}

	.TemplatePickerImage{
		background-position: center 85%;
	}
}

.TemplatePickerContainer
{
	background-color: #fafafa;
    padding-bottom: 20px;
	border-radius: 8px;			
}


ul.Template-Picker-Filter-List 
{
    list-style-type: none;
	padding-left:0px;
}

ul.Template-Picker-Filter-List a:focus,
ul.Template-Picker-Filter-List a:active,
ul.Template-Picker-Filter-List a.active
{
    background-color:#274e60;
	color:#FFF;
}

ul.Template-Picker-Filter-List a:hover
{
	cursor:pointer;	
}




@media screen and (max-device-width: 480px) and (orientation: portrait){
	#tblListEMS .btn-medium{
		margin-left: 10px;
		font-size: 11px;
		margin-bottom: 10px;
		padding: 9px 12px;
	}

	#tblListEMS .camp-action{
		/*width: 90px;*/
	}

	#tblListEMS .camp-name{
		width: 200px;
	}
	
	#tblListEMS .camp-status{
		width: 100px;
	}

	.heading {
    	margin-bottom: 10px;
	}

	.createCampaignModal .nav-tabs > li{
		padding-right: 0px;
	}
	.createCampaignModal .nav-tabs > li > a{
		margin-right: 0px;
	}

	.createCampaignModal .item-grid .content{
		padding: 5px;
		height: 210px;
	}

	.createCampaignModal .item_action{
		height: 200px;
	}

	
	.createCampaignModal .btn-select-campaign{
		font-size: 14px;
	}

	.createCampaignModal .btn-preview-campaign{
		font-size: 14px;
		margin-left: 5px;
	}
	.createCampaignModal .template-name{
		font-size: 15px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 667px) and (orientation: landscape){
	#tblListEMS .btn-medium{
		margin-bottom: 10px;
		padding: 9px 10px;
	}

	#tblListEMS .camp-status{
		width: 100px;
	}

	#tblListEMS .camp-action{
		width: 280px;
	}

	#tblListEMS .camp-name{
		width: 200px;
	}

	.heading {
    	margin-bottom: 10px;
	}
	.btn-report, .btn-clone {margin-bottom: 5px}
}


/* #### Ipad Portrait #### */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	#tblListEMS .camp-status
	{
		width: 90px;
	}	
}

/* #### Ipad landscape #### */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#tblListEMS .camp-status
	{
		width: 90px;
	}
}

@media (max-width: 767px) {
	
}
@media (min-width: 610px) and (max-device-width : 1024px) {
    #form-create-campaign .nav > li > a {
        padding: 10px 9px;
    }
}
#form-create-campaign .nav-tabs > li.top-modal-actions {
    padding-right: 0;
}
@media (max-width: 991px) {
    #form-create-campaign .top-modal-actions {
        margin: 8px 0 10px;
    }
}
.btn-manager-wrapper {
    margin-right: 5px;
}

.btn-report, .btn-clone { margin-right: 5px;}


div.item_action  i.read-more-description {
	cursor: pointer;
	padding-left: 5px;
	color: #7DCD88;
}

div.item_action  i.read-more-description:hover {
	color: #9EFFAD;
}

.dropdown-menu > li > a {
    cursor: pointer;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
