@media (max-width: 1199px){
	.invite-friend-input{
		padding-right: 0px !important;
		margin-bottom: 10px;
	}
}

@media (max-width: 991px) {
	.credit-pages .content-menu > a {
		float: left;
		margin-left:0px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 20%;
	}
}

@media (max-width: 768px) {
	.credit-pages .content-menu > a {
		float: left;
		margin-left:0px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 20%;
	}
}

@media (max-width: 440px) {
	.credit-pages .content-menu > a {
		width: 40%;
		margin-right: 10px;
	}
}