.si-dashboard.si-content {
	padding: 30px;
}
.si-dashboard ul {
	margin: 0;
	padding: 0;
}
.si-dashboard ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.si-dashboard .round-corner { 
	border: 1px solid #dedede;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.si-dashboard .round-corner::after { content : ""; display : table; clear : both; }
.si-dashboard .round-corner-all {
	border: 1px solid #dedede; 
	border-radius: 6px;
}
.si-dashboard .round-corner-all::after { content : ""; display : table; clear : both; }

.si-dashboard .feed-activity {
	
}
.si-dashboard .heading {
	padding: 19px 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-position: 25px center;
	background-repeat: no-repeat;
}
.si-dashboard .heading h2 {
	margin: 0;
	padding-left: 85px;
	color: #fff;
	font-size: 24px;
	line-height: 40px;
}
.si-dashboard .content {
	min-height: 200px;
}
.si-dashboard .content h3 {
	font-size: 24px;
	font-weight: bold;
}
.si-dashboard .feed-activity,
.si-dashboard .account,
.si-dashboard .apps,
.si-dashboard .campaigns {
	margin-bottom: 20px;
}
/* -------------- MAIN -------------- */
.si-dashboard .feed-activity .heading {
	background-color: #71aed5;
	background-image: url('../images/icon-feed.png');
}
.si-dashboard .feed-activity .content ul {
	height: 100%;
	max-height: 342px;
	overflow: auto;
}
.si-dashboard .feed-activity .content ul li { 
	padding: 15px 15px 20px 30px;
	border-bottom: 1px solid #dedede;
}
.si-dashboard .feed-activity .content ul li:last-child {
	border-bottom: none;
}
.si-dashboard .feed-activity .content ul li p {
	margin-bottom: 0;
}
.si-dashboard .feed-activity .content ul li .activity-name { 
	font-weight: 500;
	font-size: 16px;
}
.si-dashboard .feed-activity .content ul li .activity-time-modified { 
	font-size: 14px;
}
/* ------- */
.si-dashboard .account .heading {
	background-color: #274e60;
	background-image: url('../images/icon-feed.png');
}
.si-dashboard .account .round-corner {
	min-height: 308px;
}
.si-dashboard .account h3 {
	margin: 10px 0 25px 0;
	line-height: 42px;
}
.si-dashboard .account .my-plan ul li {
	line-height: 1.9em;
}
.si-dashboard .account .free ul li {
	color: #648ba4;
	font-weight: bold;
	line-height: 1.9em;
}
.si-dashboard .account .free-items h3 {
	margin: 16px 0 0 0;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	line-height: 3em;
	background: #6fc47d;
}
.si-dashboard .account .free-items {
	box-shadow: 5px 5px 15px #f4f4f4, -5px 5px 15px #f4f4f4, 5px -5px 15px #f4f4f4, -5px -5px 15px #f4f4f4;
}
.si-dashboard .account .free-items ul {
	margin-bottom: 20px;
}
.si-dashboard .account .free-items ul li {
	text-align: center;
	line-height: 3.2em;
	font-size: 14px;
	font-weight: bold;
}
/* ------- */
.si-dashboard .apps .heading {
	background-color: #3f97d0;
	background-image: url('../images/icon-apps.png');
}
.si-dashboard .apps .content h3 {
	margin: 0;
	padding: 17px 0;
	text-align: center;
}
.si-dashboard .apps .content .num {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	margin: 0;
}
.si-dashboard .apps .content .title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 40px;
	font-weight: normal;
}
.si-dashboard .apps .content .round-corner {
	margin-bottom: 20px;
}
.si-dashboard .apps .content .col-graph {
	margin-bottom: 15px;
}
/* ------- */
.si-dashboard .campaigns .content h3 {
	margin: 0;
	padding: 17px 0;
	text-align: center;
}
.si-dashboard .campaigns .content .num {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	margin: 0;
}
.si-dashboard .campaigns .content .title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 0;
	font-weight: normal;
}
.si-dashboard .campaigns .content .detail {
	font-size: 14px;
	text-align: center;
	margin-bottom: 18px;
}
.si-dashboard .campaigns .heading {
	background-color: #2c6e98;
	background-image: url('../images/icon-campaign.png');
}
.si-dashboard .campaigns .subsciber {
	margin-bottom: 20px;
}
.si-dashboard .campaigns .subsciber::after {
	content : ""; display : table; clear : both; 
}
.si-dashboard .campaigns .keywords {
	text-align: center;
}
@media screen and (max-width: 991px){
	.si-dashboard .campaigns .keywords {
		margin-bottom: 20px;
	}
}
.si-dashboard .campaigns .active,
.si-dashboard .campaigns .limit {
	display: inline-block;
	margin: 25px 0 42px;
	
}
.si-dashboard .campaigns .active span {
	display: inline-block;
	margin-right: 5px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	font-weight: bold;
	color: #fff;
	background: #e55a64;
}
.si-dashboard .campaigns .limit span {
	display: inline-block;
	margin-right: 5px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	font-weight: bold;
	color: #fff;
	background: #c8dede;
}
.si-dashboard .campaigns .most-active h3 {
	padding: 17px 0 0;
}
.si-dashboard .campaigns .most-active ul {
	margin: 30px 0 65px;
}
.si-dashboard .campaigns .most-active ul li {
	font-size: 18px;
	font-weight: bold;
	color: #3f97d0;
	text-align: center;
	line-height: 2em;
}


div.my-plan p.label-value{
	color: #648ba4;
	font-weight: bold;
}

div.col-graph > div.row > div{
	padding: 0px;
}

 div.morris-label-list
{
  margin-top: 20px;
  padding-left: 20px!important;
}

p.morris-label {
  font-size: 14px;
}

span.square {
  margin-top: 2px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}


span.morris-label {
  float: left;
  display: block;
}

p.summary-label {
  font-size: 40px;
}

span.waitlisted {
  background-color: #085f7a;
}

span.served {
  background-color: #7ccbe4;
}
span.no-show {
  background-color: #71c27a;
}


.box-item {
	padding: 15px 0 15px 0;
}


.margin-top {
	margin-top: 20px;
 }

 a.link:hover {
 	text-decoration: none;
 }

 a.link {
 	color: white;
 }

span.BlastText {
	color: red;
}

@media (max-width: 480px) {
  .si-dashboard .heading {
    background-size: 25px 25px;
  }

  .si-dashboard .heading h2 {
    font-size: 18px;
    line-height: 20px;
    padding-left: 55px;
  }

  .dataTables_paginate span.paginate_page {
    display: none;
  }
  .dataTables_paginate input.paginate_text {
    width: 30px;
  }

   div.my-plan p {
    font-size: 14px;
  }
  div.col-xs-9 {
    max-width: 140px;
  }
}

div.dataTables_processing {
	display: none;
}

div.box-detail {
	padding: 0 10px 0 10px;
}

div.box-bottom div.content div.round-corner{
	min-height: 250px;
}

.si-dashboard .mlp .content .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: normal;
}

.si-dashboard .mlp .content .detail {
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}

.si-dashboard .mlp .content .mlpactivetitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px !important;
    font-weight: normal;
}

.si-dashboard .mlp .content .mlpdeactivetitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px !important;
    font-weight: normal;
}

div.hyper-link {
	cursor: pointer;
}
