.box-simon-wrap{
	margin-top: -10px;
}
.actions_filter_box{
	font-size: 13px;
	color: #fff;
	text-transform:uppercase;
	height:31px;
	line-height:31px;
	padding-left:11px;
	line-height:27px; 
	text-transform:uppercase; 
}

a.btn-action {
    border: none;
    background-color: transparent;
    padding: 5px 5px;
    margin: 0 0 0 10px;
    color: #5c5c5c;
}
a.btn-action i.glyphicon {
    font-size: 18px;
}

/* Filter Style */

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#filter_rows .row-simon {
	vertical-align: middle;
	display: inline-block;
}
#filter_rows .row-simon .filter_key,
#filter_rows .row-simon .filter_operator,
#filter_rows .row-simon .filter_val{
	float: none;
	margin-right: 27px;
	min-width: 188px;
	font-size:1em;
	height:2.5em;
	text-overflow: ellipsis;
}
#filter_rows .row-simon .filter_val{
	height: 2.5em;
	margin-right: 10px;
	margin-top:1px;
}
#filter_rows .row-simon .button, #filter_rows .row-simon .button a{
	vertical-align: middle;
	display: inline-table;
}

.filter_submit_btn{
	float:right;
	height:31px;
	margin-top:10px;
	margin-right:6px;
}
.filter_btn{
	background: -moz-linear-gradient(center top , #46a6dd, #46a6dd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0888D1;
    border-radius: 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font: 14px/100% "Verdana",Regular,sans-serif;
    outline: medium none;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: baseline;
    width: auto;
}
.filter_btn:hover{
	background: #0888D1;
}
#filter_submits .ui-corner-all{
	
}

.actions_filter_box .filter_action{
	float: right;
	margin-right:10px;
}

.actions_filter_box .filter_action img{
	line-height:31px;
}

#filter_rows .row-simon .field_value_body {
	float: left;  
	padding-left:5px; 
	width: 185px;
}

#filter_rows select{
	padding: 2px 0 3px;
	width: 188px;
	height: 2.5em;
	text-overflow: ellipsis;
}

#filter_rows .row-simon .action { 
	float: right;margin-right:5px;margin-top: 6px;
}


#filter_rows .row-simon .operator {
	width: 10%; 
	float: left; 
	padding-left:5px;
}

#filter_results {
	color: #365581;
    /*font-family: Myriad Pro;*/
    font-size: 14px;
    margin: 5px 0 0 30px;
}

#div_action button{
	margin-right: 1em;
}

.filter_date_value_content .hasDatepicker{
	width: 149px !important;
}
.filter_value_error,
.filter_date_value_error{
	display: none;  color: red;
}
.filter_date_val{
	width:100px; height:20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.mleft5
{
	margin-left:5px;
}

.filter_box
{
/*	border: 1px solid #E1E4E7;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
	width:100%;
	border-radius:8px 8px 0 0;*/
	/*background: #FFFFFF url(images/animated-overlay.gif) 50% 50% repeat ;
	opacity: .3;
	filter: Alpha(Opacity=30);	*/
}

.filter_action a, .filter_action a:link, .filter_action a:hover, .filter_action a:visited, .filter_action a:active {text-decoration: underline; color: #365581;}
.filter_action a:hover, .filter_action a:active {text-decoration: none; color: #365581;}

.cf_table a, .cf_table a:link, .cf_table a:hover, .cf_table a:visited, .cf_table a:active {text-decoration: underline; color: #365581;}
.cf_table a:hover, .cf_table a:active {text-decoration: none; color: #365581;}

.th_table{
	/*font-family:Verdana;*/ color:##ffffff;border-bottom: 2px solid ##FF6633;background-image:url('#rootUrl#/#PublicPath#/images/backgroud_table.jpg');
}

.td_table{
	height:46px;margin:0; border-top:3px solid ##0099cc; padding-right: 10px;background-image:url('#rootUrl#/#PublicPath#/images/backgroud_bottom_table.jpg');
}

.filter_key{
	height:28px; float: left; display:none;	
}

.img32_32{
	height: 34px!important;
    width: 34px!important;
}

.filter_title{/*font-family:Verdana; */color:##ffffff;}

.delete_filter_18_18 {
    background: url(/public/css/images/icons18x18/minus-white.png) no-repeat center;
    margin: 0 0 0 0px;
    position: relative;
    bottom: 6px;
}
.add_filter_18_18 {
    background: url("/public/css/images/icons18x18/plus-white.png") no-repeat scroll center center transparent;
    margin: 0 0 0 0px;
    position: relative;
    bottom: 6px;
}

#DataTableFilterContainer .filter-btn{
		border: 1px solid #0888D1;
	    /*font-family: verdana;*/
		height:22px;
	    color: #FFFFFF !important;
		margin-left:10px;
	 	background-color: #006DCC;
	    background-image: linear-gradient(to bottom, #4AA5D9, #4AA5D9);
	    background-repeat: repeat-x;
	    color: #FFFFFF;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		border-radius: 4px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	    cursor: pointer;
	    display: inline-block;
	    font-size: 14px;
	    line-height: 12px;
	    margin-bottom: 0;
	    padding: 4px 12px;
	    text-align: center;
	    vertical-align: middle;
	}

	#DataTableFilterContainer input.filter_val {
	    border: 1px solid #CCCCCC;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
		background-color: #F5F5F5;
	    border-radius: 4px;
	    color: #555555;
	    display: inline-block;
	    font-size: 14px;
	    line-height: 20px;
	    margin-bottom: 10px;
	    padding: 9px 6px;
	    vertical-align: middle;
	}
	#DataTableFilterContainer input.filter_val:hover {
		border-color:rgba(82, 168, 263, 0.8);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	    outline: 0 none;
	}
	
	
	#DataTableFilterContainer .ui-datepicker .ui-widget-content{
		width:200px;
	}
		
	#DataTableFilterContainer .ui-custom-css{
		margin-left:-2px!important;
	}
		
		
	.datatable_filter_dropdownlist
	{
		background-color: #f5f5f5;
		border: 1px solid #cccccc;
		border-radius: 4px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		color: #555555;
		display: inline-block;
		font-size: 1em;
		line-height: 1.5em;
		margin-bottom: 10px;
		padding: 4px 6px;
		transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
		vertical-align: middle;			
	}

	.ui-widget-header{
		border: none;
	}
	
