#actions {
    margin-left: 0px;
}


/* Mimic table appearance */
div.table {
    display: table;
}
div.table .file-row {
    display: table-row;
}
div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}
div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}



/* The total progress gets shown by event listeners */
#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}
#previews .file-row.dz-success .delete {
    display: block;
}

.image-list-item {
    position: relative;
    margin-bottom: 5%;
}

.image-list-item img.selected {
    box-shadow:0px 12px 22px 1px #333;
}

.image-list-item .image-delete {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

@media only screen and (max-width: 1235px) {
    div#previews {
        max-width: 1100px;
    }
}

@media only screen and (max-width: 1002px) {
    div#previews {
        max-width: 900px;
    }
}

@media only screen and (max-width: 890px) {
    p.name {
        width: 400px;
        word-wrap: break-word;
        margin: 0px;
    }
}

@media only screen and (max-width: 790px) {
    p.name {
        width: 300px;
        word-wrap: break-word;
        margin: 0px;
    }
}

@media only screen and (max-width: 700px){
    p.name {
        width: 200px;
        word-wrap: break-word;
        margin: 0px;
    }
}

@media only screen and (max-width: 540px){
    p.name {
        width: 100px;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 430px){
    p.name {
        display: none;
    }
}

span.preview img {
    width: 100px;
    height: 100px;
}