#image-list {
    height: 500px;
    overflow-y: auto;
    width: 100%;
    padding-top: 10px;
}

.image-list-item {
    width: 200px;
    height: 200px;
}

img.image {
    max-width:100%;
    max-height:100%;
}

@media only screen and (max-width: 805px){
    .image-list {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 694px){
    .image-list {
        margin-left: 5px;
    }
    .image-list-item {
        width: 170px;
        height: 170px;
    }
}

@media only screen and (max-width: 603px){
    .image-list {
        margin-left: 5px;
    }
    .image-list-item {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 543px){
    .image-list {
        margin-left: 5px;
    }
    .image-list-item {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 494px){
    .image-list-item {
        width: 180px;
        height: 180px;
    }

    .image-list {
        margin-left: 2px;
    }
}

@media only screen and (max-width: 453px){
    .image-list-item {
        width: 160px;
        height: 160px;
    }

    .image-list {
        margin-left: 2px;
    }
}

@media only screen and (max-width: 413px){
    .image-list {
        padding-left: 16%;
    }

    .image-list-item {
        clear: both;
        display: block;
    }

    .image-list-item {
        width: 200px;
    }
}