


.learning h1, .learning h2, .learning h3, .learning h4, .learning h5, .learning h6 {
    font-weight: 500;
    font-style: normal;
    color: #474349;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.25;
}

.learning p:last-child {
    margin-bottom: 0;
}

.learning p {
    font-style: normal;
    font-weight: 100;
    color: #666;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
    word-break: break-word;
}

.expand-content-link {
	text-align:left;
}

