input.campaign-name{
	/*min-width:300px;*/
}

input.opt-out-txt{
	min-width: 200px;
}

textarea.custom-message{
	resize: none;
}

div.warning-block {
    border: 1px solid #FFB400;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    color: #666666;
    background-color: #fff7e5;
}

div.info-block {
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
}

.bubble{
  display: none;
}

.total_num_subcribers{
  color: #53AE60;
}

/* Base for label styling */
#opt-out-checkbox:not(:checked),
#opt-out-checkbox:checked {
  position: absolute;
  left: -9999px;
}
#opt-out-checkbox:not(:checked) + label,
#opt-out-checkbox:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
#opt-out-checkbox:not(:checked) + label:before,
#opt-out-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
#opt-out-checkbox:not(:checked) + label:after,
#opt-out-checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
#opt-out-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
#opt-out-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
#opt-out-checkbox:checked:focus + label:before,
#opt-out-checkbox:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* SCHEDULE */

#divDaySelector{
  margin-top: 10px;
}
#SetScheduleSBDiv .following_time_label{
  width: auto;
}

#SetScheduleSBDiv .across_multiple_days_label{
  width: 170px;
}

#SetScheduleSBDiv .ui-dialog-content{
	background-color:#fff;
}
#SetScheduleSBDiv .RXFormXXX{
	padding:10px;
}
#SetScheduleSBDiv .ui-tabs .ui-tabs-nav li
{
	width:90px !important;
	border: 1px solid #CCCCCC;
}
#SetScheduleSBDiv .ui-tabs .ui-tabs-nav li a{
	width:63px !important;
	border: 0px;
	font-size: 10px !important;
	text-align: left;
}

#AdvanceScheduleContent .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#AdvanceScheduleContent .btn-primary{
   font-family: 'Source Sans Pro', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 92, 180, 105 );
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb( 71, 166, 84 ) 0%, rgb( 116, 195, 127 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 71, 166, 84 ) 0%, rgb( 116, 195, 127 ) 100%);
  box-shadow: 0.418px 2.971px 0px 0px rgb( 61, 152, 74 );
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
#AdvanceScheduleContent .btn-default{
  border-style: solid;
  border-width: 1px;
  border-color: #153a4b !important;
  border-radius: 5px;
  background-color: #274e60 !important;
  background-image: initial !important;
  background-position: initial !important;
  box-shadow: 0.418px 2.971px 0px 0px #153a4b !important;
  outline: 0 !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  float: right;
  margin-left: 10px;
}

.ui-widget{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}


.ui-widget-header{
  border: none;
}

.ui-tabs-active{
  background-color:#FFFFFF !important;
  color:#fff !important;
}
.ui-tabs-active a{
  color:#0888d1 !important;
}
.ui-widget-content{
  border: none;
  /*width: 700px;*/
}
.ui-tabs .ui-tabs-nav{
  background: #DDDDDD;
  margin: 0 15px;
}
.ui-tabs .ui-tabs-panel{
  border:0px;
  /*min-height:300px;*/
  height:auto;
  padding-top:20px;
  padding-left:10px;
}
#emsRecorder{
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  display: block;
  margin: 16px 20px 0;
}

.ui-tabs-nav{
  height: 38px;
  border-left-width: 0;
  border-right-width: 0;
}
.ui-tabs .ui-tabs-nav li{
  bottom: 0;
  height: 30px;
  margin-bottom: 0;
  margin-left: 3px;
  margin-top: 3px;
  top: -1px;
  width: 170px; 
  background: #f0f0f0;
}
.ui-tabs .ui-tabs-nav li.ui-state-default{
  border-bottom:0px;
}

input.schedule_day_checkbox {
	margin: 8px 5px 0 5px;
}

.ui-tabs .ui-tabs-nav li a{
  padding: 0;
  line-height:20px;
  width: 168px;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  color:#666666;  
}

.ui-tabs-nav a,ui-tabs-nav a:link
{
  height: 28px;
  color:#666666;  
  border-bottom:1px solid #AAA;
  border-left:1px solid #AAA;
  border-top:1px solid #AAA;
  border-right:1px solid #AAA;
  border-radius:5px 5px 0 0;  
}

.ui-tabs-nav .ui-tabs-active a{
  border-bottom:0px !important;
}

#tabs .ui-tabs-nav li a{
  width: 88px;
}

#tabs .ui-tabs-nav li{
  width: 90px;
}

#tabs .ui-tabs .ui-tabs-panel{
  padding-left:0px;
}

.hidden_date_picker_btn{
  visibility: hidden;
  border: medium none;
  height: 0px;
  width: 0px;
  outline: none;
  background-color: white;
  position: absolute;
}

/* LAUNCH CONFIRM POPUP */

  #divConfirm .left-input{
      border-radius: 4px 0 0 4px;
      /*border-style: solid none solid solid;*/
      /*border-width: 1px medium 1px 1px;*/
      /*width: 170px;*/
      color: #666666;
      float: left;
      height: 28px;
      line-height: 25px;
      padding-left: 10px;
      /*min-width: 170px;*/
      
  }

   
  

  
  #divConfirm .right-input {
       /*min-width: 194px;*/
       padding-left: 0px;
  }
  /*
  #divConfirm input {
       width: 235px;
  }
  */

  #divConfirm .left-input > span.em-lbl {
       width: auto;
  }
  .m_top_10 {
      margin-top: 10px;
  }
  

  .right-input > input.warning, #divConfirm .left-input > span.warning{
    color: #FF0000;
  }




  .right-input > input {
    background-color: #fbfbfb;
    border: medium none !important;
    color: #000;
    font-size: 12px !important;
    height: auto !important;
    line-height: 26px !important;
    /*width: 371px;*/
    padding-left: 10px;
    width: 100%;
  }


  .ui-dialog {
      padding-bottom: 0px;
  }

  #overlayheaderLaunch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    z-index: 1000;
    display:none;
  }


#overlayheaderLaunchComplete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    z-index: 1001;
    display:none;
  }

  .left-input {
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      height: 2.2em;
      border-radius: 4px 4px 4px 4px;
      color: #666666;
      line-height: 25px;
      padding-left: 10px;
  }
  
 
#AdvanceScheduleContent .input-sm {
	font-size: 16px;
	line-height: 16px;
    padding: 3px 10px;
}

#AdvanceScheduleContent .ui-datepicker-trigger {
	margin-left: -23px;
}

@media (max-width:350px){
  #AdvanceScheduleContent .input-sm{
    font-size: 15px;
  }
  #AdvanceScheduleContent .input-sm{
    padding: 3px 5px;
  }
}