/* TEMPLATE PICKER */
#createCampaignModal p.title{
  text-align: center;
  font-size: 28px;
  color: #568ca5;
  font-weight: normal;
}

#createCampaignModal .nav-tabs > li{
  padding-right: 6px;
}

#createCampaignModal .tab-content{
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-bottom: 20px;
}

#createCampaignModal .nav-tabs > li > a{
  font-weight: bold;
  color: #5c5c5c;
  text-decoration: none;
    background-color: #eee;
    border-radius:0;
}

#createCampaignModal .nav-tabs > li.active > a{
  color:#74c37f;
  background-color: #fafafa;
}

#createCampaignModal .item-grid{
  padding: 25px 0px 0px 25px;
}

#createCampaignModal .tab-pane .row{
  padding-right: 25px;
}

#createCampaignModal .row{
  padding-right: 25px;
}


#createCampaignModal .item-grid .content{
  background-color: #fff;
  padding:15px;
  border-radius:10px;
  border: 3px solid #eee;
  height: 400px;
  word-wrap: break-word;
  display: block;
  text-decoration: none;
  color: #5c5c5c
}

#createCampaignModal .item-grid .contentFiltersDesc{
  background-color: #fff;
  padding:15px;
  border-radius:10px;
  border: 3px solid #eee;
  height: 360px;
    word-wrap: break-word;
    display: block;
    text-decoration: none;
    color: #000;
  display:none;
  overflow:hidden;
  
}

#createCampaignModal .item-grid .contentFiltersDesc h4{
  font-weight:700;
}

.ImgFill
{
  width:100%;
  
}

.AlignCenter
{
  text-align:center;
}

#createCampaignModal .item-grid .contentFilters{
  background-color: #274e60;
  padding:15px;
  border-radius:10px;
  border: 3px solid #eee;
  height: auto;
  word-wrap: break-word;
    display: block;
    text-decoration: none;
    color: #ffffff
}

#createCampaignModal .item-grid .contentFilters a, #createCampaignModal .item-grid .contentFilters a.TemplateLinkII{
  color:#0099cc;
}

#createCampaignModal .item-grid .contentFilters a:hover,
#createCampaignModal .item-grid .contentFilters a:active,
#createCampaignModal .item-grid .contentFilters a.active{ 
    color: #ffffff
}



#createCampaignModal .item-grid .contentFilters a.TemplateLinkII:hover,
#createCampaignModal .item-grid .contentFilters a.TemplateLinkII:active,
#createCampaignModal .item-grid .contentFilters a.TemplateLinkII.active{  
    color:#666
}

#createCampaignModal .item-grid .content:hover{
  -moz-box-shadow:0 1px 10px #dedede;
  -webkit-box-shadow:0 1px 10px #dedede;
  -ms-box-shadow:0 1px 10px #dedede;
  box-shadow:0 1px 10px #dedede;
  cursor: pointer;
}

/*
#createCampaignModal .item-grid .selected{
  -moz-box-shadow:0 1px 10px #dedede;
  -webkit-box-shadow:0 1px 10px #dedede;
  -ms-box-shadow:0 1px 10px #dedede;
  box-shadow:0 1px 10px #dedede;
  cursor: pointer;
  border: 5px solid #568ca5;
}
*/

#createCampaignModal .template-name{
  text-align: center;
  margin-top: 10px;
}

#createCampaignModal{
  padding-bottom: 20px;
}

#createCampaignModal .item-grid .content
{
  position: relative;
    overflow: hidden;
}
#createCampaignModal .item-grid .content img {
    max-width: 100%;
    max-height: 110px;
}
.item_action {
  /*background-color: rgba(0,0,0,0.9);*/
  bottom: 0;
  color: #fff;
  font-size: 16px;
  height: 31px;
  line-height: 20px;
  padding: 6px 6px 0;
  position: absolute;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 55px;
  width: 100%;
  text-align:center;
  border-radius:10px;
  display: none;
  cursor: default;
}

.item_action .template-name{
  margin-top: 10px;
}
.select_group_btn{
  text-align: center;
  padding-top: 0px;
}

.btn-preview-campaign{
  margin-left: 10px;
}

.preview_desc{
  margin: 15px;
}

.item-grid .content .image{
  text-align: center;
}

.mlp-tmp-content {
    padding: 0px;
  }

/* TEMPLATE PICKER */