#tblListEMS .cpp-action{
	width: 470px;
}
#tblListEMS .cpp-name{
	width: auto;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
	#tblListEMS .btn-medium{
		margin-left: 10px;
		font-size: 11px;
		margin-bottom: 10px;
		padding: 9px 12px;
	}

	#tblListEMS .cpp-action{
		width: 470px;
	}

	#tblListEMS .cpp-name{
		width: 470px;
	}

}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 667px) and (orientation: landscape){
	#tblListEMS .btn-medium{
		margin-bottom: 10px;
		padding: 9px 10px;
	}

	#tblListEMS .cpp-id{
		width: 300px;
	}

	#tblListEMS .cpp-action{
		width: 470px;
	}

	#tblListEMS .cpp-name{
		width: 470px;
	}

}


/* #### Ipad Portrait #### */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	#tblListEMS .cpp-id{
		width: 300px;
	}

	#tblListEMS .cpp-action{
		width: 470px;
	}

	#tblListEMS .cpp-name{
		width: 470px;
	}
}

/* #### Ipad landscape #### */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
}
