.objectItem{
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;	
    margin-top: 30px;
    padding-top :10px;
}

.content-area{
	margin-bottom: 20px;
	margin-top: 20px;
}

ul.sortable li {
	list-style-type:none;
	margin-top:30px;
}

#edit_cpp_frm .form-footer{
	margin: 10px;
}

#edit_cpp_frm .form-footer button{
	margin: 5px;
}

#edit_cpp_frm .form-footer a{
	margin: 5px;
}

.btn-report, .btn-clone {
    margin-right: 5px;
}


#tblListEMS .cpp-id{
	width: 300px;
}

#tblListEMS .cpp-name{
	width: 300px;
}

#tblListEMS .cpp-url{
	width: 300px;
}

#tblListEMS .cpp-status{
	width: 85px;
}

#tblListEMS .cpp-action{
	width: 575px;
}

#resizable { 
	width: 450px; 
	height: 300px; 
	position:relative; 
	margin-bottom: 20px;
	min-height: 680px;
}

@media (min-width: 735px){
	#resizable { 
		height: 300px; 
		min-height: 900px;
	}
}

#resizable iframe{
	padding: 5px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.textHtml{
	width: 100%;
}

#create_cpp_frm .btn-back-custom, #create_cpp_frm .btn-create-cpp{
	margin: 10px;
}

.objectItemTerm{
	border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}

.heading-button a{
	margin-right: 10px;
}


@media screen and (max-device-width: 480px) and (orientation: portrait){
	#tblListEMS .btn-medium{
		margin-left: 10px;
		font-size: 11px;
		margin-bottom: 10px;
		padding: 9px 12px;
	}

	#tblListEMS .cpp-id{
		width: 300px;
	}

	#tblListEMS .cpp-action{
		width: 575px;
	}

	.heading-button a{
		margin-top: 10px;
	}

	.subcriber-list, .subcriber-name{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#resizable{
		width:300px;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 667px) and (orientation: landscape){
	#tblListEMS .btn-medium{
		margin-bottom: 10px;
		padding: 9px 10px;
	}

	.btn-report, .btn-clone {margin-bottom: 5px}

	#tblListEMS .cpp-id{
		width: 300px;
	}

	#tblListEMS .cpp-action{
		width: 575px;
	}
}


/* #### Ipad Portrait #### */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	#tblListEMS .cpp-id{
		width: 300px;
	}

	#tblListEMS .cpp-name{
		width: 300px;
	}

	#tblListEMS .cpp-url{
		width: 200px;
	}

	#tblListEMS .cpp-status{
		width: 100px;
	}

	#tblListEMS .cpp-action{
		width: 575px;
	}
}

/* #### Ipad landscape #### */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
}

