.tooltip-success .tooltip-inner {
	background-color: #5cb85c;
}
.tooltip-success.left .tooltip-arrow {
	border-left-color: #5cb85c;
}
.tooltip-success.right .tooltip-arrow {
	border-right-color: #5cb85c;
}
.tooltip-success.top .tooltip-arrow {
	border-top-color: #5cb85c;
}
.tooltip-success.bottom .tooltip-arrow {
	border-bottom-color: #5cb85c;
}

.live-demo-iphone-menu-tip {
	left: calc(50% - 25px);
	top: 60px;
    opacity: 1;
    font-size: 13px;
    z-index: 1030;
    
}
.live-demo-iphone-input-tip .tooltip-inner,
.live-demo-iphone-menu-tip .tooltip-inner {
	padding: 10px 15px;
	text-align: left;
}

.live-demo-iphone-menu-tip.top .tooltip-arrow {
	left: calc(100% - 32px);
}

#QAScreen {
    background: transparent;
    display: inline-block;
    position: relative;
    min-height: 800px;
    min-width: 400px;
    border: none;
    width: 400px;
    margin: auto;
    float: none;
}
#QAScreen .ScreenBackground {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    border: none;
}
#QAScreen .ScreenBackgroundGlare
{
	background:transparent;
	position:absolute;
	top:10px;
	left:11px;
	width:260px;
	height:741px;	
	border: none;
}
#PhoneScreenArea {
    background: transparent;
    position: absolute;
    top: 120px;
    left: 32px;
    width: 335px;
    height: 572px;
    border: none;
}
#SMSToAddress
{
	background:transparent;
	position:relative;
	left:1px;
	z-index:2;	
}

#inpSMSToAddress 
{		
	margin-bottom: 0px !important;	
	width:285px;
	border-radius: 0px;
	padding-left:10px;
	border: none;
	border-bottom:solid 1px #C2C2C2; 
	z-index:3;			
	font-family: Helvetica, sans-serif;
    font-size: 15px;
	margin-top:6px;
	line-height:29px;
	height: 33px;
	border: solid 1px #EBE9E9;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);*/
}
#SMSClear 
{	
	background:transparent;
	position:relative;
	left:-1px;
	z-index:2;	
	margin-bottom: 0px !important;	
	width:50px;
	border-radius: 0px;
	padding-left:3px;
	border: none;
	border-bottom:solid 1px #C2C2C2; 
	z-index:3;			
	font-family: Helvetica, sans-serif;
	font-size:15px;
	margin-top:6px;
	cursor:pointer;
	text-align:center;
	line-height:29px;
	height: 33px;
	border: solid 1px #EBE9E9;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);*/
}
#SMSTextInputAreaContainer
{
	background:transparent;
	background-color: #F2F2F2;
	position:absolute;		
	left:1px;
	bottom:0px;
	width:333px;
	padding:10px;	
	border-top:solid 1px #C2C2C2;
	z-index:2;	
	font-family: Helvetica, sans-serif;
	font-size:20px;
	text-align: left;
}
.SMSSendButton,
.SMSSendButton:hover,
.SMSSendButton:focus, 
.SMSSendButton:active
{
	border-radius: 4px;
	padding: 4px 12px;
	position:absolute;
	font-size: 12px;
	text-transform: uppercase;
	top:524px;
	left:260px;	
	z-index:3;
}
#SMSHistoryScreenArea
{
	height: 533px;	
	padding:5px;
	overflow:auto;
}
#SMSTextInputArea
{
	resize: none;  
	height: 36px;
	width:230px;  
	background:transparent;
	background: #fff;
	padding: 7px 10px;			
	max-height:200px;		
	border-radius: 20px 20px 20px 20px;
	border-color: #f9f9f9;
	overflow: hidden;
	outline: none;
	font-size: 14px;
}
.bubble
{
	background-color: #28CBEF;	
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	font-family: Helvetica, sans-serif;
	font-size:15px;
	text-align: left;
}
.bubble::before 
{
	background-color: #28CBEF;
	content: "\00a0";
	display: block;
	height: 12px;
	position: absolute;
	top: 10px;
	transform: rotate( 29deg ) skew( -35deg );
	-moz-transform: rotate( 29deg ) skew( -35deg );
	-ms-transform: rotate( 29deg ) skew( -35deg );
	-o-transform: rotate( 29deg ) skew( -35deg );
	-webkit-transform: rotate( 29deg ) skew( -35deg );
	width: 16px;	
}
.you 
{
	float: left; 
	margin: 5px 45px 5px 20px;
	background-color: #66ccff;	 /*28CBEF*/
	color:#ffffff;
	text-shadow: 1px 1px #AAAAAA;
}
.you::before 
{
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -7px; 
	background-color: #66ccff;	 /*28CBEF*/
}
.me 
{
	float: right; 
	margin: 5px 20px 5px 45px; 
	background-color: #F2F2F2;	/* F2F2F2  #74c37f */
	color:#000;
}
.me::before 
{
	box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
	right: -7px; 	
	background-color: #F2F2F2;		
}
.btn-group-live-demo {
	max-width: 600px;
}
.DemoLink {
	margin: 0 30px 15px 0;
	text-transform: uppercase;
	height: auto;
	width: 130px;
}

/*  */
#SMSClear {
	overflow: hidden;
	text-indent: -65000px
}
#PhoneMenuToggle {
	border: none;
	display: block;
	cursor: pointer;
    position: absolute;
    top: 126px;
    right: 34px;
    margin: 0;
    padding: 6px 16px;
    z-index: 12;
}
#PhoneMenuToggle .icon-bar {
	background-color: #3C3C3C;
	height: 3px;
}
#PhoneMenuArea {
	background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 126px;
    left: 33px;
    width: 333px;
    height: 502px;
    overflow: hidden;
    z-index: 11;

-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

#PhoneMenuArea.w0 {
	width: 0;
}

#PhoneMenuHelp {
	background-color: #fff;
	border-bottom: 1px solid #DCDADA;
	color: #A4A4A4;
	position: absolute;
	top: 0;
	left: 0;
	right: 49px;
	height: 33px;
	text-align: left;
	line-height: 2.5em;
	padding-left: 10px;
}
#PhoneMenuAreaInner {
	background-color: #fff;
	position: absolute;
	top: 33px;
	left: 0;
	right: 49px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.DemoLink, .DemoLink:hover {
	color: #5C5C5C;
	display: block;
	font-size: 1.3em;
	margin: 0;
	padding: 10px 12px;
	text-align: left;
	text-transform: none;
	text-decoration: none;
	width: 100%;
}

@media (max-width: 480px){
	/* Demo page start */
	.body-live-demo {
		background: none;
	}
	.body-live-demo header {
		background-color: #284D60;
	}
	.landing-logo {
		padding: 20px 0;
	}
	.body-live-demo .jumbo-top-page {
		display: none;
	}
	.live-demo-intro {
		font-size: 19pt;
		margin-top: 20px;
	}
	#QAScreen {
	    min-height: 572px;
		min-width: initial !important;
		width: 100%;
	}
	#QAScreen .ScreenBackground {
		display: none;
	}
	#QAScreen .ScreenBackgroundGlare {
	    top: 33px;
	    left: 1px;
	    width: 260px;
	    height: 474px;
	}
	#PhoneScreenArea {
		top: 0;
		left: 0;
		right: 0;
		width: auto;
	}
	#SMSToAddress {
		left:0;
	}
	#inpSMSToAddress {
		border-right: none;
		font-size: 17px;
		margin-top: 0;
		width: calc(100% - 50px);
		border-bottom-color: #C2C2C2;
	}
	#SMSClear {
		left: 0;
		margin-top: 0;
		border-bottom-color: #C2C2C2;
	}
	#PhoneMenuToggle {
	    top: 0px;
    	right: 2px;
	}
	#PhoneMenuArea {
		top: 33px;
    	left: 1px;
    	height: 474px;
    	width: calc(100% - 2px);
	}
	#SMSHistoryScreenArea {
		border: 1px solid #C2C2C2;
		margin-top: -1px;
	}
	#SMSTextInputAreaContainer {
	    left: 0px;
	    bottom: 0px;
	    width: 100%;
	    border: solid 1px #C2C2C2;
	}
	.SMSSendButton, .SMSSendButton:hover, 
	.SMSSendButton:active, .SMSSendButton:focus {
		left: auto;
		right: 10px;
		width: 70px;
		box-shadow: none !important;
	}
	#SMSTextInputArea {
		border-radius: 6px;
		width: calc(100% - 90px);
	}
	.live-demo-func {
		margin-top: 15px;
		padding-bottom: 15px;
	}
	.live-demo-iphone-input-tip,
	.live-demo-iphone-menu-tip {
		display: none;
	}

	/* Demo page end */
}