/**
 * Example Print Preview site
 *
 *	print.css
 *	author: Tim Connell
 */

/* -- Hide screen specific elements -- */


.no-print,
.content-header,
.modal,
#processingPayment,
a.print-preview {
    display: none;
    height: 0px !important;
    width: 0px !important;
}

div#PreviewMLP{
    outline: none;
    padding: 0;
    margin: 0;
}

@media print{
* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    }
}

@media screen{
    body{
        background-color: transparent;
    }    
}
