textarea,
pre {
margin: 0;
padding: 0;
outline: 0;
border: 0;
}
#QAScreen {
background: transparent;
position: relative;
/*min-width: 482px;*/
min-height: 1000px;
border: none;
}
.iiner{
    width: 100%;
    height: 100%;
    max-width: 480px;
    position: absolute;
    top: 0;
    left: 0;
}

.iiner-relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.ScreenBackground {
background: transparent;
position: absolute;
top: 0px;
left: 0px;
/*width: 482px;*/
height: 1000px;
border: none;
}
.ScreenBackgroundGlare {
background: transparent;
position: absolute;
top: 10px;
left: 11px;
width: 260px;
height: 741px;
border: none;
}
#PhoneScreenArea {
background: transparent;
position: absolute;
top: 155px;
left: 40px;
/*width: 400px;*/
width: calc(100% - 82px);
height: 707px;
border: none;
}
#SMSToAddress {
background: transparent;
position: relative;
left: 1px;
z-index: 2;
}
#SMSToAddress input {
margin-bottom: 0px !important;
width: 100%;
border-radius: 0px;
padding-left: 10px;
border: none;
border-bottom: solid 1px #C2C2C2;
z-index: 3;
font-family: Helvetica, sans-serif;
font-size: 20px;
padding-top: 6px;
}
#SMSTextInputAreaContainer {
background: transparent;
background-color: #F2F2F2;
position: absolute;
left: 1px;
bottom: 0px;
width: 100%;
padding: 10px;
border-top: solid 1px #C2C2C2;
z-index: 2;
font-family: Helvetica, sans-serif;
font-size: 20px;
}
.SMSSendButton {
position: absolute;
top: 15px;
/*left: 300px;*/
right: 0;
z-index: 3;
margin: 0;
padding: 15px;
}
#SMSHistoryScreenArea {
height: 100%;
padding: 5px;
overflow: auto;
/*		overflow:scroll;
overflow-x:hidden;
overflow-y: scroll;	*/
}
#SMSTextInputArea {
resize: none;
/*width: 250px;*/
width: calc(100% - 85px);
background: transparent;
background: #fff;
padding: 10px;
max-height: 200px;
border-radius: 20px 20px 20px 20px;
}
.bubble {
background-color: #28CBEF;
border-radius: 5px;
box-shadow: 0 0 6px #B2B2B2;
display: inline-block;
padding: 10px 18px;
position: relative;
vertical-align: top;
font-family: Helvetica, sans-serif;
font-size: 20px;
}
.bubble::before {
background-color: #28CBEF;
content: "\00a0";
display: block;
height: 16px;
position: absolute;
top: 11px;
transform: rotate( 29deg) skew( -35deg);
-moz-transform: rotate( 29deg) skew( -35deg);
-ms-transform: rotate( 29deg) skew( -35deg);
-o-transform: rotate( 29deg) skew( -35deg);
-webkit-transform: rotate( 29deg) skew( -35deg);
width: 20px;
}
.you {
float: left;
margin: 5px 45px 5px 20px;
background-color: #F2F2F2;
word-break: break-word;
}
.you::before {
box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
left: -9px;
background-color: #F2F2F2;
}
.me {
float: right;
margin: 5px 20px 5px 45px;
}
.me::before {
box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
right: -9px;
}
.EBMDialog .form-left-portal {
width: 500px;
}
.QASmall {
color: #464646;
font-size: 12px;
font-weight: 400;
line-height: 15px;
}
.EBMDialog .small2 {
color: #464646;
font-size: 12px;
font-weight: 400;
}
.tooltiptext {
display: none;
}
.showToolTip {
cursor: pointer;
}

/*
@media (max-height:300px) {
.OTTDemoContainer{
zoom: 0.4;
-moz-transform: scale(0.3);
-webkit-transform: scale(0.3);
margin-top:-250px;
font-size:10px;
}
}
@media (min-height:300px) {
.OTTDemoContainer{
zoom: 0.5;
-moz-transform: scale(0.4);
-webkit-transform: scale(0.4);
margin-top:-250px;
font-size:10px;
}
}
@media (min-height:400px) and (max-height:600px){
.OTTDemoContainer{
zoom: 0.7;
-moz-transform: scale(0.6);
-webkit-transform: scale(0.6);
margin-top:-200px;
font-size:10px;
}
}
@media (min-height:400px) {
.OTTDemoContainer{
zoom: 0.8;
-moz-transform: scale(0.6);
-webkit-transform: scale(0.6);
margin-top:-200px;
font-size:10px;
}
}
@media (min-height:700px) and (max-height:900px){
.OTTDemoContainer{
zoom: 0.8;
-moz-transform: scale(0.7);
-webkit-transform: scale(0.7);
margin-top:-120px;
font-size:11px;
}
}
@media (min-height:700px) {
.OTTDemoContainer{
zoom: 0.8;
-moz-transform: scale(0.7);
-webkit-transform: scale(0.7);
margin-top:-120px;
font-size:11px;
}
}
@media (min-height:1000px) and (max-height:1200px){
.OTTDemoContainer{
zoom: 0.8;
-moz-transform: scale(0.8);
-webkit-transform: scale(0.8);
margin-top:-120px;
font-size:12px;
}
}
@media (min-height:900px) {
.OTTDemoContainer{
zoom: 0.8;
-moz-transform: scale(0.8);
-webkit-transform: scale(0.8);
margin-top:-120px;
font-size:12px;
}
}
@media (min-height:1000px) {
.OTTDemoContainer{
zoom: 1.0;
-moz-transform: scale(1.0);
-webkit-transform: scale(1.0);
margin-top:0px;
font-size:14px;
}
}*/


.OTTDemoContainer {
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    /*margin-top: -120px;*/
    font-size: 12px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .OTTDemoContainer {
   		margin-top: -60px;
   	}
}

#TimeMachineContainer .inputbox-container{
	width: 400px;
}


@media (max-width: 414px){
	.OTTDemoContainer {
		/*zoom: 0.9;
    	-moz-transform: scale(0.9);
    	-webkit-transform: scale(0.9);*/
    	margin-top: -140px;
    	font-size: 12px;

	}
}

@media (max-width: 400px){
	.OTTDemoContainer {
		/*zoom: 0.89;
    	-moz-transform: scale(0.89);
    	-webkit-transform: scale(0.89);*/
    	margin-top: -140px;
    	font-size: 12px;

	}
}

@media (max-width: 414px){
		
	.page {
    	/*padding: 20px 10px 20px 10px;*/
    }
    .EBMDialog .inputbox-container {width:auto}
    
    img.ScreenBackground {
    	display: none;
	}
	
	#PhoneScreenArea {
		border: solid 1px #C2C2C2;
	}
	.OTTDemoContainer {
		/*margin-left:-70px*/
	}
	#QAScreen {
		min-height:850px;	
	}

    #PhoneScreenArea{
        width: 100%;
        left: 0;
    }
	
}

@media (max-width: 320px) {
	.OTTDemoContainer {
		/*zoom: 0.85;
    	-moz-transform: scale(0.85);
    	-webkit-transform: scale(0.85);*/
    	/*margin-left: -88px;*/
    	margin-top: -140px;
    }
}

.bluebuttonAuto {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #9A9A9A;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    outline: medium none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: baseline;
    color: #FFFFFF !important;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
    background: -moz-linear-gradient(top, #2484c6, #2484c6);
    width: auto;
}
.EBMDialog label {
    color: #161616;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    width: 100%;
}








