/* Css media for all */

@media (min-width: 981px) {
	.bg-white {
	    min-height: 406px;
	}
}


@media (max-width:767px) {
	
	/*HEADER*/
	#footer .credits {
	    text-align: center;
	}
	
	#footer .social {
	    text-align: center;	    
	}
	
	/*.content-menu a {
	    padding-left:25px;
	}*/
	
	.content-menu a, .content-title a {
		margin-left: 20px;
	}
	
	/*MENU_SIDER*/
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 50%;
	    min-width: 0;
	    position: fixed;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 50%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #153a4b
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      	bottom:0;
	    width: 50%;
	    left: -50%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #153a4b;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
	#buy_credits #expiration_date_month, #buy_credits #first_name  {
		margin-bottom:15px;
	}
	
	#my_plan_form #expiration_date_month, #my_plan_form #first_name  {
		margin-bottom:15px;
	}
	
	.pricemsg_after {    
		margin-top: 5px;
    	margin-bottom: 5px;
    	text-align:right
    }
    .table-responsive {
    	border:none;
    }
    #ONESELECTIONEDITPOPUP .form-control {
		display:inline-block;
	}
	#FollowingTimeDate, #FollowingTimeEndDate, #AcrossMultipleDaysStartDate, #AcrossMultipleDaysEndDate {
	    display: inline-block;
	    vertical-align: middle;
	}
	#SMSTextInputArea, input {
		font-size: 16px !important;
	}
}

@media (min-width:760px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}
@media (min-width: 768px) {
	/*.security-credentials-popup .modal-dialog {
	    width: 350px;
	    margin: 30px auto;
	}
	.security-credentials-popup {
		top: 25%;
	}
	.security-credentials-popup .btn-medium {
		width: 71px;
	} */
	
	.form-horizontal .control-label {
	    text-align: left;
	}
	
	/** change-password page **/
	.content-body {
		min-height: 500px;
	}
	
	#numberSMS, #numberKeyword {
	/*margin-top: -5px;*/
	}
	
	.plan-info {margin-top: 5px;}
	
	/*.confirm-make-payment {
		top: 25%;
	}*/
	
}
/*@media (max-width: 379px) {
    #campaign_edit .btn-cancel-clear {
        margin: 8px 0;
    }
}*/

@media (max-width: 320px) {
	.payment_method_card {
		background-size: auto 31px;
	}
	.payment_method_echeck {
		background-size: auto 31px;
		background-position: -250px center;
	}
	.security-credentials-popup .bootbox-body {
		font-size:14px;
	}

	fieldset.scheduler-border {
    	padding-left: 5px;
	}
	
}


@media (max-width: 768px) {
	.organization-profile {
		margin-top: 20px;
	}
}

@media (max-width:414px) {
	#AdvanceScheduleContent .input-sm {
		margin-bottom: 5px;
	}
	#campaign_id {
		width: 100%;
	}
}

@media (max-width:414px) and (min-width:375px) {
	#footer .credits ul li {
	    display: inline;
	    padding-left: 0px;
	    padding-right: 35px;
	}
}

@media (max-width:374px) and (min-width:320px) {
	#footer .credits ul li {
	    display: inline;
	    padding-left: 0px;
	    padding-right: 20px;
	}
}

@media (max-width:667px) and (min-width:568px) {
	#footer .credits ul li {
	    display: inline;
	    padding-left: 0px;
	    padding-right: 15px;
	}
}


@media (min-width: 667px){
	#AdvanceScheduleContent .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}
}

@media (max-width:667px) {
	.security-question-edit {float: left!important}
	
	#tblListEMS .camp-name{
		width: 145px;	
	}
}


@media (max-width:830px) and (min-width:768px) {
	.nav > li > a {
    	padding: 10px 9px;
	}
}
@media screen and (max-width: 320px) {
	#signout .btn-modal-signout {
	    margin-bottom: 5px;
	}
}
@media (max-width:1280px) and (min-width:1023px) {
	.first_nameformError {
		width:150px;
	}
	.last_nameformError {
		width:150px;
	}
	.first_nameformError .formErrorContent, .last_nameformError .formErrorContent {
		white-space:inherit;
	}
}

/*Menu offcanvas*/
.canvasNav{
	height: 100%;
	width: 270px;
	position: fixed;
	z-index: 1032;
	top: 0;
	left: 0;
	background-color: #153a4b;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);

	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-ms-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

.open-canvas .canvasNav{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.canvasNav .closeNav{
	position: absolute;
	z-index: 1032;
    top: 10px;
    right: 10px;
    font-size: 19px;
    color: #ccc;
}

.canvasNav .panel{
    margin-bottom: 0;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.offcanvasNav li a{
	color: #fff;
	text-transform: uppercase;
	overflow-wrap: break-word;
}

.offcanvasNav .open > a,
.offcanvasNav .open > a:hover,
.offcanvasNav .open > a:focus{
	background-color: transparent !important;
}

.offcanvasNav li a:hover,
.offcanvasNav li a:focus{
	background-color: transparent !important;
}

.offcanvasNav > li:first-child{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #0b1f28;
	padding: 10px 0;
}

/*@media (max-width: 767px){
	.offcanvasNav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: transparent;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}	
}*/

.offcanvasNav li ul{
	padding-left: 10px;
}

.offcanvasNav li ul li a{
	text-transform: capitalize;
	color: #ccc;
}

.offcanvasNav li ul li a:hover,
.offcanvasNav li ul li a:focus{
	color: #f2f2f2;
}

#page-content{
	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-ms-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

.open-canvas #page-content{
	-webkit-transform: translateX(270px);
	-moz-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px);
}

body.open-canvas{
	overflow: hidden;
}

.overlay-canvas{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1031;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;

	-webkit-transition: opacity .4s, visibility .4s;
	-moz-transition: opacity .4s, visibility .4s;
	-ms-transition: opacity .4s, visibility .4s;
	-o-transition: opacity .4s, visibility .4s;
	transition: opacity .4s, visibility .4s;
}

.open-canvas .overlay-canvas{
	opacity: 1;
	visibility: visible;
}

.h-100{
	height: 100%;
}

