#imageUpload{
	margin-top: 10px;
}
.btn-group-setting .btn{
	margin-top: 10px;
	margin-left: 15px;
}

#change-password {margin-right:15px;}

.btn-custom_size{
  min-width: 150px;
}

textarea.custom-message{
	resize: none;
}
@media (max-width: 667px) {
    .btn-group-answer-security-question .btn-custom_size {
        min-width: 140px;
    }
}
@media (max-width: 640px) {
    .btn-group-answer-security-question .btn-custom_size {
        min-width: 140px;
    }
}
@media (max-width: 480px) {
    .btn-group-answer-security-question .btn-back-custom {
        margin-top: 8px;
    }
    .btn-group-answer-security-question .btn-custom_size {
        min-width: 140px;
    }
}
.OrgLogo-wrapper {
    float: left;
    height: 120px;
    margin-right: 15px;
    /*text-align: center;*/
    width: 150px;
    position: relative;
}
.OrgLogo-wrapper img {
    max-height: 120px;
    max-width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
}

.logo-btn-group{
    padding-left: 0px !important;
    padding-right: 0px !important;

}

@media only screen and (max-width: 768px) and (min-width: 481px){
    .logo-btn-group{
        width: 300px;
    }
}

@media only screen and (max-width: 376px){
    .OrgLogo-wrapper {
        margin-right: 20px !important;
    }
}