/*!
Description: Sire Backend
Version: 1.0
Author: Seta International
Author URI: www.seta-international.com
==================================================================
#Table of Content
==================================================================
#GENERAL
#HOME
#FORM
#PAGE
#HEADER
#FOOTER
#MENU_SIDER
#BOOTBOX 

*/

/** Import Google Fonts **/
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,600,400italic,600italic,700italic,900italic");

/** GENERAL **/
html, body{
    min-height:100%;
    /*height: 100%;*/
    overflow:auto;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
	background-color: #dedede;
	color:#5c5c5c;
}
pre {
	word-break: normal;
	white-space: pre-wrap;
}
hr.hr10 {
	margin: 10px 0;
}
hr.hrt10 {
	margin-top: 10px;
}
hr.hrt0 {
	margin-top: 0;
}
hr.hr0 {
	margin: 0;
}
hr.hrb10 {
	margin-bottom: 10px;
}
hr.hrb0 {
	margin-bottom: 0;
}
.margin-top-10{
	margin-top: 10px;
}
.text-danger {
	color: #F50608;
}
.form-horizontal .control-label {
	font-weight: normal;
	text-align: left;
}
.table-responsive {
	min-width: 100%;
}

.no-padding{
	padding: 0 !important;
}

/** HOME **/

.dont-break-out {
	
	  /* These are technically the same, but use both */
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	
	  -ms-word-break: break-all;
	  /* This is the dangerous one in WebKit, as it breaks things wherever */
	  word-break: keep-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;
	
	  /* Dont't add hyphens to URLS!  a hyphen where the word breaks, if supported (No Blink) */
	  -ms-hyphens: none;
	  -moz-hyphens: none;
	  -webkit-hyphens: none;
	  hyphens: none;
	
	}


.headerTile {
    height:200px;	
	box-shadow: 10px 10px 5px #888888;
	padding:1em;
	border-radius: 6px;
	border: 2px solid #74c37f;
	margin:1em;
	position:relative;
}


.headerTileLearnMore {
    position:absolute;
    right:1em;
    bottom:1em; 
	color: #568ca5;
}


.feature-box a {text-decoration:none;}

.feature-box:hover {
	border-radius: 7px;
	background-color: rgb( 255, 255, 255 );
	box-shadow: 2px 3.464px 10px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 3.464px 10px 3px rgba(0,0,0,0.2);
   
}

.feature-box:hover .feature-box-title{
	color:rgb( 86, 140, 165 );    
}

.feature-box:hover .feature1 {
	background: url('../images/feature-box1_active.png') no-repeat top;
}

.feature-box:hover .feature2 {
	background: url('../images/feature-box2_active.png') no-repeat top;
}

.feature-box:hover .feature3 {
	background: url('../images/feature-box3_active.png') no-repeat top;
}

.feature-box:hover .feature4 {
	background: url('../images/feature-box4_active.png') no-repeat top;
}



.feature-white,.feature-gray {padding-top:2em;padding-bottom:2em}
.feature-gray {
	background-color:#f7f7f7;
}

.feature-main {margin-top: 0px;}

.feature-title {
	font-size: 30px;
	color: rgb( 86, 140, 165 );
	margin-top:0;
}

.feature-content {
	font-size: 18px;
	text-align:justify;
}

.feature-img {
	box-shadow: 0px 1px 1px 2px #e0e0e0;
	padding:2em;
	border-radius: 7px;
}


.feature-img-no-bs {
	width: 100%;
}

/** FORM **/
.input-medium{
    height: 39px;
    padding: 10px 12px;
    border-rarius: 4px;
}
.btn-larger{min-height: 42px;}
.btn-medium{min-height: 36px; min-width:73px;}

.btn-success-custom,
.btn-success-custom:hover,
.btn-success-custom:focus,
.btn-success-custom:active,
.btn-success-custom.active,
.btn-success-custom[disabled],
.btn-group.open .btn-success-custom.dropdown-toggle {
  font-family: 'Source Sans Pro', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 92, 180, 105 );
  /*border-radius: 5px;*/
  /*background-image: -moz-linear-gradient( 90deg, rgb( 71, 166, 84 ) 0%, rgb( 116, 195, 127 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 71, 166, 84 ) 0%, rgb( 116, 195, 127 ) 100%);*/
  background-color: #74c37f !important;
  background-image: inherit !important;
  background-position: inherit !important;
  box-shadow: 0.418px 2.971px 0px 0px rgb( 61, 152, 74 );
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-success-custom:hover {
	background-color: #7DCD88 !important;
}

.btn-back-custom,
.btn-back-custom:hover,
.btn-back-custom:focus,
.btn-back-custom:active,
.btn-back-custom.active,
.btn-back-custom[disabled] {
  border-style: solid;
  border-width: 1px;
  border-color: #153a4b !important;
  /*border-radius: 5px;*/
  background-color: #274e60 !important;
  background-image: inherit !important;
  background-position: inherit !important;
  box-shadow: 0.418px 2.971px 0px 0px #153a4b !important;
  outline: 0 !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-primary-custom,
.btn-primary-custom:hover,
.btn-primary-custom:focus,
.btn-primary-custom:active,
.btn-primary-custom.active,
.btn-primary-custom[disabled] {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 73, 132, 159 ) !important;
  background-color: rgb( 73, 132, 159 ) !important;
  background-image: inherit !important;
  /*border-radius: 5px;*/
  box-shadow: 0.418px 2.971px 0px 0px rgb( 57, 109, 133 );
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

code {
   background-color: transparent;
}
.mceNonEditable{
  word-break: break-all;
}

.Preview-Bubble
{
	background-color: #28CBEF;	
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	font-family: Helvetica, sans-serif;
	font-size:15px;
	text-align: left;	
}
.Preview-Bubble::before 
{
	background-color: #28CBEF;
	content: "\00a0";
	display: block;
	height: 12px;
	position: absolute;
	top: 10px;
	transform: rotate( 29deg ) skew( -35deg );
	-moz-transform: rotate( 29deg ) skew( -35deg );
	-ms-transform: rotate( 29deg ) skew( -35deg );
	-o-transform: rotate( 29deg ) skew( -35deg );
	-webkit-transform: rotate( 29deg ) skew( -35deg );
	width: 16px;	
}
.Preview-You 
{	
	margin: 5px 45px 5px 20px;
	background-color: #F2F2F2;	/*F2F2F2*/
	color:#000000;
}

.Preview-You::before 
{
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -7px; 
	background-color: #F2F2F2;
}

.Preview-Me 
{	
	margin: 5px 45px 5px 20px;
	background-color: #66ccff;	 /*28CBEF*/
	color:#ffffff;
	text-shadow: 1px 1px #AAAAAA;
}

.Preview-Me::before 
{
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -7px; 
	background-color: #66ccff;
}

/** PAGE **/

.page {
	padding: 5px 45px 20px 45px ;
}
.bg-white {
	border-radius: 8px;
  	background-color: #fff;
  	box-shadow: 0px 1px 1px 0px rgb( 0, 0, 0 );
  	
}

.content-header {
    min-height: 88px;
    padding: 15px;
}

.title {
	font-size: 18px;
  	font-weight: bold;
}
.sub-title {
	font-size: 16px;
  	font-weight: bold;
}

.notice-title{
	font-size: 20px;
  	font-weight: bold;	
}

.sub-title .active {
	color:#568ca5;
}

.content-menu a, .content-title a {
    display: inline-block; 
    margin-left: 25px;
    color: #5c5c5c;
    text-decoration: none;
}

.content-title a {
    padding-left: 0;
}

.content-menu a.active, .content-title a.active {
	font-size: 16px;
	color: #74c37f;
	text-decoration: none;
}
.content-header .content-menu {
	text-align: right;
    /*padding-top: 15px;*/
}

@media only screen and (max-width: 480px){
  #campaign-option-div{
    padding-top: 45px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px){
  #campaign-option-div{
    width: 35% !important;
  }

  #campaign-detail-div{
    width: 65% !important;
  }
}

.content-menu a.xhidden-xs {
	min-width: 33px;
	text-align: center;
}

.icon-home {
    display:block;
    background: url("../images/icon/icon_home.png") no-repeat scroll center center transparent;
    height:36px;
}
.icon-message {
    display:block;
    background: url("../images/icon/icon_message.png") no-repeat scroll center center transparent;
    height:36px;
}

.icon-subscribers {
    display:block;
    background: url("../images/icon/icon_subscribers.png") no-repeat scroll center center transparent;
    height:36px;
}
.icon-optin {
    display:block;
    background: url("../images/icon/icon_optin.png") no-repeat scroll center center transparent;
    height:36px;
}
.icon-buy-credits {
    display:block;
    background: url("../images/icon/icon_buy_credits.png") no-repeat scroll center center transparent;
    height:36px;
}

.icon-security-credentials{
	display:block;
	height:36px;
}

.icon-change-password {
	display:block;
	height:36px;
}


.icon-setting {
  	display:block;
    background: url("../images/icon/icon_setting.png") no-repeat scroll center center transparent;
    height:36px;
}

.icon-report {
	display:block;
  background: url("../images/icon/icon_report.png") no-repeat scroll center center transparent;
  height:36px;
}

.icon-report4 {
	display:block;
  background: url("../images/icon/icon_report4.png") no-repeat scroll center center transparent;
  height:36px;
}

.icon-play {
	display:block;
  background: url("../images/icon/icon_play.png") no-repeat scroll center center transparent;
  height:36px;
}

.icon-stop {
  display:block;
  background: url("../images/icon/icon_stop.png") no-repeat scroll center center transparent;
  height:36px;
}

.icon-oder-plan {
  display:block;
  background: url("../images/icon/icon_order_plan.png") no-repeat scroll center center transparent;
  height:36px;
}

.icon-upgrade-plan {
  display:block;
  background: url("../images/icon/icon_upgrade_plan.png") no-repeat scroll center center transparent;
  height:36px;
}
.icon-buy-keyword {
  display:block;
  background: url("../images/icon/icon_buy_keyword.png") no-repeat scroll center center transparent;
  height:36px;
}

.icon-my-plan {
  display:block;
  background: url("../images/icon/icon_my_plan.png") no-repeat scroll center center transparent;
  height:36px;
}
.icon-my-plan-unactive{
	display:block;
	background: url("../images/icon/icon_my_plan_unactive.png") no-repeat scroll center center transparent;
	height:36px;
}
.icon-invite-friends{
	display:block;
  background: url("../images/icon/icon_invite_friends.png") no-repeat scroll center center transparent;
  height:38px;	
}
.icon-invite-friends-unactive{
	display:block;
  background: url("../images/icon/icon_invite_friends_unactive.png") no-repeat scroll center center transparent;
  height:38px;	
}
.icon-buy-keyword-unactive{
  display:block;
  background: url("../images/icon/icon_buy_keyword_unactive.png") no-repeat scroll center center transparent;
  height:36px; 
}

.icon-upgrade-plan-unactive{
  display:block;
  background: url("../images/icon/icon_upgrade_plan_unactive.png") no-repeat scroll center center transparent;
  height:36px; 
}

.icon-buy-credits-unactive{
  display:block;
  background: url("../images/icon/icon_buy_credits_unactive.png") no-repeat scroll center center transparent;
  height:36px; 
}

.small-info {
    color: #74c37f;
    font-size: 14px;
    font-style: italic;
}


.icon-edit {
	display:block;
	background: url("../images/icon/icon_edit.png") no-repeat scroll center center transparent;
	height:36px;
}

.icon-clone {
	display:block;
	/*background: url("../images/icon/icon_edit.png") no-repeat scroll center center transparent;*/
	height:36px;
	font-size: 36px;
	text-align: center;
}

.icon-cm {
	display:block;
	background: url("../images/icon/help-stop.png") no-repeat scroll center center transparent;
	background-size: auto 50px;
	height:36px;
}
.icon-cm-not-set-up {
	display:block;
	background: url("../images/icon/help-stop-not-set-up.png") no-repeat scroll center center transparent;
	background-size: auto 44px;
	height:36px;
}

.active .icon-home {
	background: url("../images/icon/icon_home_active.png") no-repeat scroll center center transparent;
}
.active .icon-message {
	background: url("../images/icon/icon_message_active.png") no-repeat scroll center center transparent;
}
.active .icon-subscribers {
	background: url("../images/icon/icon_subscribers_active.png") no-repeat scroll center center transparent;
}
.active .icon-report {
    background: url("../images/icon/icon_report_active.png") no-repeat scroll center center transparent;
}
.active .icon-optin {
	background: url("../images/icon/icon_optin_active.png") no-repeat scroll center center transparent;
}

.active .icon-security-credentials {
	background: url("../images/icon/icon_security_credentials.png") no-repeat scroll center center transparent;
}

.active .icon-change-password {
	background: url("../images/icon/icon_changepassword_active.png") no-repeat scroll center center transparent;
}

.active .icon-edit {
	background: url("../images/icon/icon_edit_active.png") no-repeat scroll center center transparent;
}


.heading {
	min-height:50px;
}

.icon-newsfeed-plus {
    display:block;
    background: url("../images/icon/icon_newsfeed_plus.png") no-repeat scroll center center transparent;
    height:36px;
    width:44px;
}
.icon-newsfeed-minus {
    display:block;
    background: url("../images/icon/icon_newsfeed_minus.png") no-repeat scroll center center transparent;
    height:36px;
    width:44px;
}
.icon-newsfeed-message {
    display:block;
    background: url("../images/icon/icon_newsfeed_message.png") no-repeat scroll center center transparent;
    height:36px;
    width:44px;
}

.text-green {
	color: #74c37f;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f5fbfe;
}

.table-hover > tbody > tr:hover {
  background-color: #f5fbfe;
}

.table-bordered > thead {
	background-color:#568ca5;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.heading-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	height: 32px;
}
.heading-button {
	text-align:right;
}
.heading-tools {
	font-weight: normal;
}

p.time {
	font-size:12px;
}

.credits_available {
    font-size: 20px;
    text-align: right;
    margin-bottom: 0px;
    font-weight: bold;
    padding-left: 15px;
}

/** HEADER **/
#header .navbar-site {
	background: #274e60;
	height: 94px;
	border: none;
  margin-bottom: 0;
}

#header .navbar-site .navbar-brand.logo{
  padding-top: 20px;
  padding-left: 20px;
}

@media only screen and (max-width: 767px){
  #header .navbar-site .navbar-brand.logo{
    padding-top: 28px;
  }
}

.navbar-site .nav {
	margin-top: 27px;
}
#header .navbar {
	color:#ffffff;
	text-transform: capitalize;
}

#header .navbar .nav > li > a {
  font-size: 16px;
  padding: 10px;
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  letter-spacing: 2px; 
  font-weight: 500;
}
.dropdown-menu > li > a{
  text-transform: uppercase;
  letter-spacing: 2px; 
}
.logo {padding-top:3px;}

    
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color:transparent;
}

/** FOOTER **/

#footer {
	background-color: #274e60;
	color: #fff;
	min-height: 65px;
	margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer a {
    color: #fff;
    letter-spacing: 2px; 
	font-weight: 500;
}
#footer .social-footer{
  margin-right: 20px;
}
#footer .credits {
	text-align: center;
  margin-top: -30px;
}

#footer .credits  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer .credits ul li {
    display: inline-block;
    padding-left: 25px;
}
#footer .credits ul li:first-child{
	padding-left: 0;
}
#footer .social {
    /*text-align: right;*/
    padding-left: 15px;
}
#footer .social a {
  display: inline-block;
	padding-left:10px;
	 text-decoration: none;
}
#footer .social a:first-child{
	padding-left: 0;
}

/*Validation*/
.formError .formErrorContent {
    background: #15263d;
    box-sizing: content-box;
    font-size: 13px;
    white-space: nowrap;
}

.formError .formErrorArrow div{
  background: #15263d;
}

.enable-security-checkbox
{
  margin-top: 30px;
}

/** MENU_SIDER **/

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 94px;
    left: 0;
    height: 100%;
}
#page-content .page{
  min-height: 92.8%;
}
#page-content.slide-active {
    padding-top: 0
}

.fwhite
{
	color:#ddd;	
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    /*margin: 0;*/
    width: 30px;
    height: 40px;
    padding: 22px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

.content-body {
	padding-bottom: 30px;
}

.content-body .form-group > .btn{
	margin-bottom: 5px;
}

/* Table grid */
.table-bordered {
	border-top-color: #568ca5;
	margin-bottom: 10px;
}

.table-bordered > thead:first-child > tr:first-child > th {
	border-bottom-color: #568ca5;
	border-bottom-width: 1px;
}

.table-bordered > thead:first-child > tr:first-child > th:first-child {
	border-left-color: #568ca5;
}

.table-bordered > thead:first-child > tr:first-child > th:last-child {
	border-right-color: #568ca5;
}

.table-striped > tbody > tr:first-child > td {
	border-top: 1px solid;
	border-top-color: #ddd;
  word-wrap: break-word !important;
}

.table-bordered > tbody > tr > td {
  word-wrap: break-word !important;
}

/* Buy Credits Page */
.table-credits tbody td:first-child {
	width: 50px;
}
.table-credits tbody td:last-child {
	text-align: center;
	width: 50px;
}
.purchase-amount-label {
	padding: 7px;
    margin: -8px auto;
	display: block;
}
.purchase-amount-label input,
#tblListGroupContact input.group-contact {
-moz-transform: scale(1.4);
-webkit-transform: scale(1.4);
-o-transform: scale(1.4);
-ms-transform: scale(1.4);
transform: scale(1.4);
}
_::-webkit-full-page-media, _:future, :root #tblListGroupContact input.group-contact {
  transform: scale(1);
}
.heading-title hr {
	margin: 10px 0 20px;
}
.btn-payment-credits {
	margin: auto;
	/*width: 120px;*/
}

.secure-payment {
	line-height: 2.5em;
}

.secure-payment .pull-right {
	color: #568ca5;
	font-weight: bold;
}

.secure-payment .small-info {
	color: #74c37f;
	font-size: 14px;
	font-style: italic;
}

.worldpay-help a {
	color: #568ca5;
	text-decoration: underline;
}

.check_payment_method {
	visibility: hidden;
	display: inline-block;
	line-height: 0;
	height: 0;
	width: 0;
}

.payment_method_card {
	background: url(../images/supported-payment-types.png) no-repeat;
	background-size: auto 35px;
	background-position: 5px center;
	border: 1px solid #fff;
	border-radius: 3px;
	display: inline-block;
	margin: -5px 5px 0 0;
	line-height: 35px;
	padding: 4px;
	width: 66px;
}

.payment_method_card_0 {
	/*margin-left: -18px;*/
	width: 285px;
}

.payment_method_card_1 {
	background-position: -40px center;
}

.payment_method_card_2 {
	background-position: -85px center;
}

.payment_method_card_3 {
	background-position: -130px center;
}

.payment_method_echeck {
	background: url(../images/supported-payment-types.png) no-repeat;
	background-size: auto 35px;
	background-position: -285px center;
	border: 1px solid #fff;
	border-radius: 3px;
	display: inline-block;
	margin-top: -5px;
	line-height: 35px;
	padding: 4px;
	width: 66px;
}

.check_payment_method:checked + .payment_method_card {
	border: 1px solid #74c37f;
}

#payment_method_1:checked + .payment_method_echeck {
	border: 1px solid #74c37f;
}

/** MODAL POPUP **/
.modal-body-inner .modal-title {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.modal-body-inner {
	padding: 20px;
}
.modal-body-inner label {
	font-weight: normal;
}
.modal-body-inner .modal-btn-func {
	padding-top: 20px;
}
.modal-body-inner .modal-btn-func a {
	color: #74c37f;
}

#signout .btn {
	padding: 6px 25px;
	text-transform: uppercase;
}
#signout .btn-modal-signout {
	margin-right: 10px;
}

.modal-dialog .close {
	font-size: 48px;
    line-height: 26px;
    margin: -8px -5px 0 0;
    color: #444444;
    opacity: 0.8
}


/** BOOTBOX **/
.bootbox .modal-title {
	padding-top:10px;
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

/* PAGING */
#tblListEMS_info,
#tblListGroupContact_info,
#tblListContact_info,
#tblSubscriberHistory_info,
#tblListShortURL_info {
  display: none;
}
#tblListEMS_paginate,
#tblListGroupContact_paginate,
#tblListContact_paginate,
#tblSubscriberHistory_paginate,
#tblListShortURL_paginate {
  text-align: center;
  padding-bottom: 10px; 
}
#tblListGroupContact_paginate {
	text-align: left;
}
#tblListContact_paginate {
	text-align: right;
}
#tblListEMS_paginate span,
#tblListGroupContact_paginate span,
#tblListContact_paginate span,
#tblSubscriberHistory_paginate span,
#tblListShortURL_paginate span{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

#tblListEMS_paginate input,
#tblListEMS_paginate input,
#tblListGroupContact_paginate input,
#tblListContact_paginate input,
#tblSubscriberHistory_paginate input{
  width: 20px; 
}

#tblListShortURL_paginate input {
  width: 57px;
  text-align: center;
}

#tblListShortURL_paginate #tblListShortURL_previous,
#tblListEMS_paginate #tblListEMS_previous,
#tblListGroupContact_paginate #tblListGroupContact_previous,
#tblListContact_paginate #tblListContact_previous,
#tblSubscriberHistory_paginate #tblSubscriberHistory_previous {
  margin-right: 20px;
}

#tblListShortURL_paginate #tblListShortURL_next,
#tblListEMS_paginate #tblListEMS_next,
#tblListGroupContact_paginate #tblListGroupContact_next,
#tblListContact_paginate #tblListContact_next,
#tblSubscriberHistory_paginate #tblSubscriberHistory_next {
  margin-left: 20px;
}

#tblListShortURL_paginate a.current,
#tblListEMS_paginate a.current,
#tblListGroupContact_paginate a.current,
#tblListContact_paginate a.current {
  
}
/*
#tblListShortURL_paginate .paginate_of,
#tblListShortURL_paginate .paginate_page, 
#tblListEMS_paginate .paginate_of,
#tblListGroupContact_paginate .paginate_page, 
#tblListGroupContact_paginate .paginate_of,
#tblListContact_paginate .paginate_page, 
#tblListContact_paginate .paginate_of,
#tblSubscriberHistory_paginate .paginate_page, 
#tblSubscriberHistory_paginate .paginate_of {
  display: none;
}*/

#ttblListShortURL_paginate .paginate_text,
#tblListEMS_paginate .paginate_text,
#tblListGroupContact_paginate .paginate_text,
#tblListContact_paginate .paginate_text,
#tblSubscriberHistory_paginate .paginate_text {
  text-align: center;
  padding: 4px 0;
  width: 57px;
}


.bootbox .modal-header {
	border-bottom: none;
}

.bootbox .modal-footer {
    border-top: none;
}

.bootbox-body {
	font-size: 16px;
  	font-family: 'Source Sans Pro', sans-serif;
  	/*word-wrap:break-word;*/
}

.bootbox  .modal-body {padding: 0px 15px 15px 15px;}

.bootbox-alert .modal-body, .bootbox-confirm .modal-body {padding: 15px;}

.bootbox-body .active {color:#568ca5}

/*.modal-dialog,
.table{
    word-break: break-word;
}*/
/** security-credentials Page **/

#security-credentials .dataTables_info, #security-credentials .dataTables_paginate {display:none}

.form-footer {
	margin-top: 50px;
}

/** change-password page **/
#change-password-page .form-horizontal .form-group {
    	margin-right: 0px;
    	margin-left: 0px;
}
.button-content-footer {
	text-align:right;
	padding-bottom: 15px;
}

#change-password-page .guide {padding-top:40px;}
.guide ul {padding-left:15px;}
#change-password {margin-right:15px;}

/** Opt-in Page **/
.opt-subtitle {font-size: 14px;}

#opt-keyword {width: 145px;}

label[for^=EMS_Flag_] {line-height: 30px;}
.keyword-group {display:inline-block;position: relative;}
.input-group.keyword-group input:first-of-type {
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.input-group.keyword-group .form-control:first-child:last-child {
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.keyword-group .input-group-addon{cursor:pointer}
.keyword {padding-left:15px;padding-right:15px;}
#opt-in .help-block {text-align: right}
#opt-in .help-block {text-align: right}
.KeywordNotAvailable {
	color: red;
}
#keyword-update {
	line-height: 27px;
	margin-top: 2px;
}
.cbic {
	position: relative;
}

#editable-content #edit {
	color: #74c37f;
    padding-left: 10px;
    cursor: pointer;
}

#add_more_data {
	background: transparent url(../images/icon/icon_keyword_plus.png) center left no-repeat;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #568ca5;
    cursor: pointer;
    text-decoration: none;
}

.collect {
	font-weight: normal;
	padding-right: 20px;
}

.removeButton {
	color: #5c5c5c;
	cursor: pointer;
}

.icon-menu-glyphicon {
	display: block;
	font-size: 36px;
}

.KeywordAvailable {color:#74c37f;}

.formErrorContent a.KeywordAvailable {
	color: #74c37f;
}

/*  */
/*
#QAScreen {
    background: transparent;
    position: relative;
    min-height: 610px;
    min-width: 298px;
    border: none;
    float: right;
}
#QAScreen .ScreenBackground {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
}
#QAScreen .ScreenBackgroundGlare
{
	background:transparent;
	position:absolute;
	top:10px;
	left:11px;
	width:260px;
	height:741px;	
	border: none;
}
#PhoneScreenArea {
    background: transparent;
    position: absolute;
    top: 90px;
    left: 32px;
    width: 246px;
    height: 572px;
    border: none;
}
#SMSToAddress
{
	background:transparent;
	position:relative;
	text-align: center;
	top: 0px;
	z-index:2;	
}

#inpSMSToAddress 
{		
	margin-bottom: 0px !important;	
	width:285px;
	border-radius: 0px;
	padding-left:10px;
	border: none;
	border-bottom:solid 1px #C2C2C2; 
	z-index:3;			
	font-family: Helvetica, sans-serif;
    font-size: 15px;
	margin-top:6px;
	line-height:29px;

	border: solid 1px #EBE9E9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
}
#SMSClear 
{	
	background:transparent;
	position:relative;
	left:-1px;
	z-index:2;	
	margin-bottom: 0px !important;	
	width:50px;
	border-radius: 0px;
	padding-left:3px;
	border: none;
	border-bottom:solid 1px #C2C2C2; 
	z-index:3;			
	font-family: Helvetica, sans-serif;
	font-size:15px;
	margin-top:6px;
	cursor:pointer;
	text-align:center;
	line-height:29px;

	border: solid 1px #EBE9E9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
}
#SMSTextInputAreaContainer
{
	background:transparent;
	background-color: #F2F2F2;
	position:absolute;		
	left:1px;
	bottom:0px;
	width:333px;
	padding:10px;	
	border-top:solid 1px #C2C2C2;
	z-index:2;	
	font-family: Helvetica, sans-serif;
	font-size:20px;
}
.SMSSendButton,
.SMSSendButton:hover
{
	border-radius: 4px;
	padding: 4px 12px;
	position:absolute;
	font-size: 12px;
	text-transform: uppercase;
	top:524px;
	left:260px;	
	z-index:3;
}
#SMSHistoryScreenArea
{
	height: 420px;	
	padding:5px;
	overflow:auto;
}
#SMSTextInputArea
{
	resize: none;  
	height: 36px;
	width:230px;  
	background:transparent;
	background: #fff;
	padding: 7px 10px;			
	max-height:200px;		
	border-radius: 20px 20px 20px 20px;
	border-color: #f9f9f9;
	overflow: hidden;
	outline: none;
	font-size: 14px;
}

.me {
    float: right;
    margin: 5px 15px 5px 5px;
    max-width: 90%;
    word-wrap: break-word;
}
.bubble {
    background-color: #539cd5;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

.you {
    float: left;
    margin: 5px 5px 5px 10px;
    background-color: #F2F2F2;
    min-width: 90%;
    max-width: 90%;
    word-wrap: break-word;
}

.you p {margin:0}

.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -6px;
}
.bubble::before {
    background-color: #539cd5;
    content: "\00a0";
    display: block;
    height: 13px;
    position: absolute;
    top: 11px;
    transform: rotate( 29deg ) skew( -35deg );
    -moz-transform: rotate( 29deg ) skew( -35deg );
    -ms-transform: rotate( 29deg ) skew( -35deg );
    -o-transform: rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width: 15px;
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -6px;
    background-color: #F2F2F2;
}
*/

.active-feed-tbl{
  margin-top: 22px;
}
.active-feed-filter,
.active-feed-filter:hover,
.active-feed-filter:focus {
	color: #fff;
}
#ActFeeFilModal .modal-body label {
	font-weight: normal;
}
#ActFeeFilModal .modal-body .ui-datepicker-trigger {
	position: absolute;
	right: 24px;
    top: 36px
}

/* Subscribers page */
.right-button {
	float: right;
}

.right-filter {
	float: right;
	font-size: 14px;
	font-weight: normal;
}

#campaign_id {
	padding: 3px 5px;
	width: 280px;
}

#searchOptInOut {
	display: none;
	font-size: 16px;
	padding: 3px 10px;
}

#subscriberTotal {
	padding: 0 10px;
}

#searchContact {
	background: url(../images/icon/icon_search_tiny.png) no-repeat 10px 50%;
	display: none;
	min-width: 200px;
	padding-left: 38px;
	font-size: 16px;
}

a.download-subscribers {
	background: url(../images/icon/icon_download_small.png) no-repeat 10px 50%;
	color: #568ca5;
	/*display: none;*/
	float: right;
	font-size: 18px;
	font-weight: bold;
	line-height: 29px;
	padding-left: 38px;
	text-decoration: none;
	cursor: pointer;
}

#tblListGroupContact th {
	white-space: nowrap;
}

.control-cf-edit {
	display: none;
}
.control-cf-edit input {
	font-size: 16px;
}
.control-cf-btns {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 6px rgba(111,111,111,0.2);
	padding: 1px 3px 3px;
	position: absolute;
	right: 17px;
	z-index: 1;
}
.input-loading {
	background: url(../images/loading.gif) no-repeat 99% center;
}

#firstNameView, #emailAddressView, #dateOfBirthView, #zipCodeView {
	overflow: hidden;
}

.HistoryOutBound, .HistoryInBound {
	border: solid transparent;
	display: block;
	float: right;
	margin-top: 10px;
	height: 0;
	width: 0;
	pointer-events: none;
	border-color: rgba(41, 78, 94, 0);
	border-left-color: #294E5E;
	border-width: 6px;
	margin-top: 6px;
	margin-right: -6px;
}

.HistoryInBound {
	border-color: rgba(115, 196, 127, 0);
	border-right-color: #73C47F;
	margin-right: 0;
}

.subscriber-detail-icon {
	vertical-align: baseline;
}

a.subscriber-delete-icon {
	color: #555;
	font-size: 22px;
	top: 2px;
	text-decoration: none;
}

/* Vote message page */
.mb15 {
	margin-bottom: 15px;
}
.mb5 {
	margin-bottom: 5px;
}
#question_text {
	width: calc(100% - 135px);
}
.answerItem input,
.answerItem input.form-control {
	width: calc(100% - 200px);
}
.answerItemDelete,
button.answerItemDelete:active,
button.answerItemDelete:focus,
button.answerItemDelete:hover {
	outline: transparent none 0;
	border: none;
	padding: 4px 12px;
}
.answerItemDelete .glyphicon {
	color: #5C5C5C;
	font-size: 18px;
	line-height: 20px;
}

/* Campaign Edit */
.control-point-border {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.control-point-label {
	line-height: 2em;
	margin-bottom: 0;
}

.control-point-body {
	padding: 10px 0;
}

.control-point-text {
	/*white-space: pre;*/
}

.control-point-char {
	margin-bottom: 0;
}

.answer-item input,
.answer-item input.form-control {
	width: calc(100% - 100px);
}

.answer-item-list-style {
	display: inline-block;
	min-width: 25px;
}

#keyword_availability_text {
	position: absolute;
	margin-left: 10px;
    left: 100%;
    top: 6px;
}

.lhEqInput {
	line-height: 34px;
}

.formError .formErrorArrow {
	margin: -4px 0 0 13px;
}
.formError .formErrorArrow div {
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#mceu_1 {
	border: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("/public/sire/images/datatableimages/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/public/sire/images/datatableimages/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/public/sire/images/datatableimages/sort_desc_disabled.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/public/sire/images/datatableimages/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/public/sire/images/datatableimages/sort_desc_disabled.png");
}

/****** MY PLAN ***/
.my_plan_title{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 0px;
}

.my_plan_title a{
  color: #568ca5;
}

.my_plan_title a:hover{
  color: #568ca5;
}


.sire-pricing {
    text-align: center;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5px 0.866px 9px 1px #d8d8d8;
}
.price-title {
    background: #74c37f;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    padding: 7px 0;
}
.price-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 2;
}

.icon-disable {
  cursor: default;
}
.icon-disable span{
  color: #cdcbcb;
}
.icon-disable .icon{
  opacity: 0.4;
}


.btn.disabled{
	box-shadow: 0.418px 2.971px 0px 0px rgb( 61, 152, 74 );
}

/* ======== CUSTOMIZE 12/8/2016 ===========*/
.tab-content{
	padding: 25px 0;
}
#refer_via_social{
	padding: 25px 0 0 0;
}
.invite-friends-page .social a{
	font-size: 35px;
	color: #5c5c5c;
	display: inline-block;
	margin-right: 15px;
}
.invite-friends-page .social a:hover{
	color: #74c37f;
}
.friends-list{
	padding: 15px;
	border: 1px solid #dedede;
	margin-top: 10px;
}
.friend-list-item{
	margin-bottom: 20px;
}

.friend-list-item > div{
	display: table;
}

.friend-list-item .checkbox-custom{
	display: table-cell;
	vertical-align: middle;
	float: none;
}

/*.friend-list-item img{
	margin:  0 10px;
	width: 61px;
	height: 61px;
}*/
.input-group-custom .form-control:first-child{
	border-radius: 4px;
}
.input-group-custom .input-group-btn{
	padding-left: 10px;
	vertical-align: top;
}
.input-group-custom .input-group-btn:last-child > .btn, 
.input-group-custom .input-group-btn:last-child > .btn-group{
	margin: 0;
	border-radius: 4px;
}
/* #### Mobile Phones Portrait #### */

/* #### Mobile Phones Landscape #### */


/* campaign-home */
#subscriber_growth_legend {
	margin-top: 10px;
	text-align: center;
}
#subscriber_growth_legend .bar-legend {
	display: inline-block;
	text-align: left;
}
#subscriber_growth_legend .bar-legend li {
	list-style: none;
	line-height: 1.5em;
}
#subscriber_growth_legend .bar-legend span {
	display: inline-block;
	padding: 7px;
	margin-right: 5px;
	margin-bottom: -2px;
}
/* campaign-home */
.optradio {
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-o-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}

.secure-payment-plan {
	padding-bottom: 15px;
}

.secure-payment-plan .active{
	color: #568ca5;
    font-weight: bold;
}

#support-user-page .heading-home {
    color: rgb(86, 140, 165);
    line-height: 1.2;
    padding-bottom: 0;
}
.menu-wrapper .navbar-toggle{
    display: block;
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    width: 30px;
    height: 40px;
    padding: 28px 0 0 0;
    border: 0;
    background: transparent;
}

.menu-wrapper .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
}

.menu-wrapper .navbar-toggle:hover, .menu-wrapper .navbar-toggle:focus {
    background-color: transparent;
}

@media only screen and (max-width: 767px){
  .menu-wrapper .navbar-toggle{
    padding: 0;
    margin-top: -21px;
  }
}

.menu-wrapper .dropdown-menu{
  right: 30px;
  top: 70px;
}

#processingPayment {
	display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:65000;
    background-color: rgba(0,0,0,.3);
}
#processingPayment:before {
	display:block;
	content: '';
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255,255,255,.8);
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -40px;
    display: block;
}

.mail-pills ul{
	padding-left: 0;
}

.mail-pills .media:first-child{
	margin-top: 15px;
}

.mail-pills .media{
	min-height: 50px;
	border: 1px solid #ddd;
	padding: 10px;
}

.mail-pills .media-left{
	min-width: 80px;
}

.mail-pills .media-left,
.mail-pills .media-right,
.mail-pills .media-body{
	vertical-align: middle;
	height: 50px;
}

.mail-pills .media-heading{
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #5c5c5c;
	text-decoration: none !important;
}

#refer_via_email .friends-list{
	margin-top: 15px;
}

#refer_via_email .friend-list-item label{
	font-weight: normal;
}

#refer_via_email .friend-list-item .signed{
	opacity: .6;
}

#refer_via_email .friend-list-item .signed .status{
	color: #568ca5;
}

#refer_via_email .friend-list-item .sent .status{
	color: #74c37f;
}

#refer_via_email .tab-content{
	padding: 0 15px;
}

a[data-toggle="pill"],
a[data-toggle="pill"]:hover{
	text-decoration: none;
}

.mail-pills ul li{
	list-style: none;
}

.mail-pills ul li.active .media{
	border: 3px solid #74c37f;
}

.mail-pills ul li.active .media-heading{
	color: #74c37f;
}

#invite-friends-tabs.nav-tabs > li.active > a,
#invite-friends-tabs.nav-tabs > li.active > a:hover, 
#invite-friends-tabs.nav-tabs > li.active > a:focus{
	color: #7DCD88;
}

.friends-list{
	height: 370px;
	overflow-y: scroll;
}

#invite-friends-tabs.nav-tabs > li > a{
	font-weight: bold;
	color: #5c5c5c;
}

.selected-email{
	height: 270px;
	overflow-y: auto;
	border: 1px solid #ddd;
	padding-top: 15px;
}

.selected-email .alert{
	position: relative;
	background: #74c37f;
}

.selected-email .alert,
.selected-email .alert .close{
	color: white !important;
}

.selected-email .alert .close{
	position: absolute;
	right: 5px;
	top: 0px;
	opacity: 1;
}

.welcome-headline{
	padding: 0 0 1em 3em;	
}

.margin-right-5 {
	margin-right: 5px;
}

.worldpay-logo {
	margin-left: 15px;
    margin-bottom: 10px;
}
.download {display:none;}

.obj-cpp-preview {
	padding-left:5px;
	cursor: pointer;
}

fieldset.scheduler-border {
    border: 1px solid #e5e5e5 !important;
    padding-left: 15px;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 20px;
    width:inherit;
    padding:0 10px;
    border-bottom:none;

}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: 0;
}

#campaign_edit .undefinedformError.parentFormcampaign_edit.formError.blackPopup {
    padding-left: 200px;
}

@media (min-width: 1200px){
	#refer_via_email .friend-list-item:nth-child(3n+1),
	.selected-email .selected-email-item:nth-child(4n+1){
		clear: both;
	}
	.invite-friend-input{
		margin-right: 15px;
	}
}

@media (max-width: 1199px){
	.invite-friend-input{
		padding-right: 15px !important;
		margin-bottom: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	#refer_via_email .friend-list-item:nth-child(3n+1),
	.selected-email .selected-email-item:nth-child(3n+1){
		clear: both;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	#refer_via_email .friend-list-item:nth-child(2n+1),
	.selected-email .selected-email-item:nth-child(2n+1){
		clear: both;
	}
	#header .navbar .nav > li > a{
		font-size: 13px;
    padding-left: 0px;
    padding-right: 8px;
    letter-spacing: 2px; font-weight: 500;
	}
}
@media (min-width: 1000px) {
	.txtKeywordformError {
	    left: 100% !important;
	    margin-top: 2px !important;
	    margin-left: 10px;
	}
	
	.txtKeywordformError .formErrorArrow {
		display: none;
	}
}
@media (max-width: 1140px) {
    .page {
        padding: 5px 30px 20px;
    }
    #footer{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    #footer .social{
      text-align: center;
    }
    #footer .credits{
      text-align: center;
      margin-top: 10px;
    }
}
@media (max-width: 991px) {
    .page {
        padding: 5px 30px 20px;
    }
    #footer{
    	padding-top: 30px;
    	padding-bottom: 30px;
    }
    #footer .social{
      text-align: center;
    }
    #footer .credits{
    	text-align: center;
    	margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .my-plan-page .content-menu > a {
        float: left;
        margin-left:0px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        width: 25%;
    }
    #campaign_edit .content-menu > a {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        width: 50%;
    }
    
    .ajax-loader {
	    margin-left: -28px;
	    margin-top: -25px;
    	width: 50px;
	}
}

@media (max-width: 767px) {
	#invite-friends-tabs.nav-tabs > li{
		float: none;
		display: table-cell;
	}
    .my_plan_title {
        margin-bottom: 0;
    }
    .credits_available {
        padding-left: 15px;
        text-align: left;
    }
    #footer .credits{
    	text-align: center;
    }
	#footer{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.keyword-group {
		display: table;
		width: calc(100% - 80px);
	}
	.keyword-group:last-child {
		width: 100%;
	}
	
	#keyword-update {
		position: absolute;
		bottom: 3px;
		right: 0;
	}
}

@media (max-width: 767px){
 .navbar-inverse .navbar-brand{
    /*float: right;*/
    /*padding: 5px 0;*/
  }
}

@media (max-width: 667px)) {
    #campaign_edit .content-menu > a {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
}

@media (max-width: 480px){
	.formError{
		left: initial !important;
		right: 25px !important;
	}
	#refer_via_email .tab-content{
		padding: 0;
	}
	#tblListEMS_paginate span, 
	#tblListGroupContact_paginate span, 
	#tblListContact_paginate span, 
	#tblSubscriberHistory_paginate span, 
	#tblListShortURL_paginate span{
		margin: 5px;
	}
	.welcome-headline{
		padding: 0;
	}
	#btn-cancel {
		float: none !important;
		/*margin: 10px auto 0 !important;*/
	}
	.modal-footer {
		text-align: left;
	}
	.btn{
		min-height: 30px !important;
		text-transform: capitalize !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.btn:hover{
		text-transform: capitalize;
	}
  	#tblListEMS_paginate span{
	    margin: 5px;
	}

	.form-footer .btn-medium{
	    font-size: 12px;
	}

	.navbar-inverse .navbar-brand{
	    /*float: right;
	    padding: 5px 0;*/
	}
  .bootstrapeditor{
  	padding-right: 15px !important;
  }

  .subcriber-contact-string{
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px){
	body{
		min-width: 320px !important;
	}
	.form-horizontal#add_security_question_form .control-label{
		font-size: 14px;
	}
	.modal{
		bottom: 50px;
	}
}

body.modal-open, div.bootbox, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
    padding-right: 0px !important;
    overflow-y: auto;
}

.or-plans-wrap .navbar-header{
  float: left !important;
}

#order-plan-spec {
  width: 60%; 
  float: right;
}

@media (max-width: 320px){
  #order-plan-spec {
    width: 20%; 
    float: right;
  }
}

#order-plan-spec .navbar-toggle{
  margin-top: 30px;
  margin-right: 0;
  border: none;
}

#order-plan-spec .navbar-toggle:hover,
#order-plan-spec .navbar-toggle:focus{
  background-color: transparent !important;
}

#order-plan-spec .navbar-toggle .icon-bar{
  height: 3px;
  width: 30px;
}

#order-plan-spec .navbar-toggle .icon-bar + .icon-bar{
  margin-top: 5px;
}

#order-plan-spec .dropdown-menu{
  right: 10px !important;
  left: auto !important;
  margin: 0 !important;
}

#order-plan-spec .dropdown-menu li a{
  color: #5c5c5c !important;
}

#order-plan-spec .dropdown-menu li a:hover{
  color: #74C37F !important;
  background: transparent;
  text-decoration: none;
  outline: none;
}

@media only screen and (min-width: 768px){
  #order-plan-spec .navbar-nav{
    margin-right: 15px;
  }

  #order-plan-spec .navbar-nav li a:hover,
  #order-plan-spec .navbar-nav li a:focus{
    color: #74C37F !important;
    background: transparent;
    text-decoration: none;
    outline: none;
  }  
}

.more-templates, .more-templates-btn {
  float: right;
}

#TemplateRequestForm {
  float: right;
  margin-right: 15px;
}
.waitlist-setting-title {
  color: #337ab7;
  font-size: 20px;
}

.waitlist-setting-btn {
  float: right;
}


#template-purpose {
  width: 90%;
  resize: none;
}

#submit-template-request {
  margin-right: 20px;
  margin-left: 20px;
}

#template-request-form-title, #template-request-form{
  padding-left: 10px;
}

#active_feed_table .paginate_button_af_first, 
#active_feed_table .paginate_button_af_previous {
  padding-right: 20px; 
  cursor: pointer;
}

#active_feed_table .paginate_button_af_next, 
#active_feed_table .paginate_button_af_last {
  padding-left: 20px; 
  cursor: pointer;
}

#waitlist-setting textarea {
  resize: none;
}

/*#waitlist form {
  padding-left: 2.5%;
}*/

form#service-detail {
  padding-left: 0px !important;
}

a#delete-service {
  color: red;
  padding-top: 10px;
}

div.service-detail-box {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

@media only screen and (min-width: 769px) {
  span#delete-service-icon {
    padding-top: 27px;
  }
}




@media only screen and (max-width: 768px) {
  a#delete-service {
    padding-left: 48%;
  }
}

span#delete-service-icon {
  cursor: pointer;
}

button.no-delete-service {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

button.yes-delete-service, button.no-delete-service {
  width: 60px;
}

label#customer-name-label, label#customer-email-label, label#select-service-label,
label#customer-phone-label, label#wait-time-label, label#add-notes-label{
  /*font-weight: bold;*/
}

.confirm-waitlist-btn-group{
  float: right;
}

.confirm-edit-waitlist-btn-group{
  float: right;
}

button#close-edit-waitlist-btn{
  margin-right: 15px;
}

button#confirm-edit-waitlist-btn{
  width: 80px !important;
}

button#close-add-waitlist-btn{
  margin-right: 15px;
}
button#confirm-add-waitlist-btn{
  width: 80px !important;
}

a.label-help-buble {
  border-radius: 1em;
}

div.waitlist-setting-sec{
  margin-right: 0px !important;
  /*margin-left: 0px !important;*/
}

div#create-edit-campaign{
  text-align: center;
}

a.subscriber-list-delete-icon {
    color: #555;
    font-size: 22px;
    top: 2px;
    text-decoration: none;
}

/*------------ TUANVA ------------*/
.si-content {
  padding: 18px 12px;
}
/*------------ /TUANVA ------------*/


.dataTables_paginate {
  text-align: center;
    padding-bottom: 10px;
 }

  .dataTables_paginate span{
  margin: 10px;
    font-weight: bold;
    cursor: pointer;
 }

 .dataTables_paginate .paginate_text{
  text-align: center;
    padding: 4px 0;
    width: 57px;
 }

 .dataTables_info {
  display: none;
 }



 @media (max-width: 480px) {
    .dataTables_paginate span{
    margin: 5px;
   }

  .dataTables_paginate span.paginate_page {
    display: none;
  }
  .dataTables_paginate input.paginate_text {
    width: 30px;
  }
}

#ProfileProgressBar .ui-progressbar-value {
  background-color: #658ca3;
  margin: 0px;
  border: none;
}

#ProfileProgressBar{
  height: 8px !important;
}

.orginization-progress-box{
  position: relative;
  min-height: 4em;
  padding: 1em;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 1em;

}

#help-stop-my-account{
  padding-top: 20px;
}

#horizontal-help-stop-message, #help-stop-my-account-desc{
  padding-left: 0px !important;
}

@media only screen and (max-width: 550px) {
  #console-ic-profile-div {
    width: 20% !important;
    padding-left: 3px;
    padding-right: 3px;
  }

  #progress-bar-div {
    width: 80% !important;
  }
}

#progress-bar-div {
  padding-right: 10px;
}

#console-ic-profile-div{
  padding-left: 5px;
  padding-right: 5px;
}