/*--- Reset HTML Tags ---*/
ul {
	padding: 0;
}
li {
	list-style: none;
}
/*--- end Reset HTML Tags ---*/

/*--- Preset Class Css ---*/
.pr10 {
	padding-right: 10px;
}
/*--- End Preset Class Css ---*/

/* --- Main --- */
.si-template .row {
	margin-bottom: 10px;
	padding: 0 15px;
}
/* --- End Main --- */

/*--- TOOGLE BUTTON ---*/
input.cmn-toggle-round + label {
	padding: 2px;
	width: 56px;
	height: 32px;
	background-color: #dedede;
	border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #f1f1f1;
	border-radius: 60px;
	transition: background 0.4s;
	content: "Off";
	color: #444;
	font-weight: bold;
	font-size: 10px;
    line-height: 32px;
    padding-right: 5px;
    text-align: right;
}
input.cmn-toggle-round + label:after {
	width: 58px;
	background-color: #fff;
	border-radius: 100%;
	transition: margin 0.4s;
	width: 30px;
    height: 30px;
    border-radius: 50%;
}
input.cmn-toggle-round:checked + label:before {
	background-color: #71c27a;
	content: "On";
	font-weight: bold;
	color: #fff;
	font-size: 10px;
	line-height: 32px;
	padding-left: 5px;
	text-align: left;
}
input.cmn-toggle-round:checked + label:after {
	margin-left: 23px;
}

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}
/*--- End toogle Button ---*/

/*--- Select dropdow ---*/
.si-dropdow {
	text-align: right;
	font-size: 12px;
	line-height: 1em;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
}
.si-dropdow .dropdown-toggle a {
	font-size: 12px;
	line-height: 1em;
}
.si-dropdow .dropdown-toggle p {
	float: left;
	margin-bottom: 0;
}
.si-dropdow .dropdown-toggle {
	padding: 12px;
}
.si-dropdow .dropdown-menu {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
}
/*--- End select dropdow ---*/

/*--- Tag ---*/
.si-tag {
	padding: 4px;
	background: #648ba4;
	border-radius: 7px;
	color: #fff;
	display: inline-block;
	font-weight: normal;
}
.si-tag:hover {
	text-decoration: none;
	color: #fff;
}
/*--- End tag ---*/