.contact-func {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 0;
	padding: 5rem 40px;
}
.marketing_title{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
}

.main-wrapper {
	min-height: 700px;
	background-color: white;
}