* {
  box-sizing: border-box;
}

div.content {
	margin-left: 5%;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #71c37b;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.sorting_disabled
{
	background-image:none !important;
}

button a {
	text-decoration: none;
}

tr td:nth-child(3n+3) {
	text-align: center;
}

tr td:first-child {
	text-align: center;
}

/* Chat sms css */

.chat_window {
	margin-top: 50%;
	position: absolute;
	width: calc(100% - 20px);
	max-width: 800px;
	height: 500px;
	border-radius: 10px;
	background-color: #fff;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
	margin-top: 270px;
    min-width: 252px;
}

.top_menu {
	background-color: #fff;
	width: 100%;
	padding: 5px 0 5px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
	margin: 3px 0 0 20px;
	position: absolute;
}
.top_menu .buttons .button {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
.top_menu .buttons .button.close {
	background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
	background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
	background-color: #a3d063;
}
.top_menu .title {
	padding-left: 10px;
	font-size: 20px;
}

li.message {
	width: 100%;
}

.messages {
	position: relative;
	list-style: none;
	padding: 20px 10px 0 10px;
	margin: 0;
	height: 347px;
	overflow: scroll;
}
.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}
.messages .message.left .avatar {
	background-color: #085f7a;
	float: left;
}
.messages .message.left .text_wrapper {
	background-color: #085f7a;
	margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #085f7a;
}
.messages .message.left .text {
	color: #fff;
}
.messages .message.right .avatar {
	background-color: #74c37f;
	float: right;
}
.messages .message.right .text_wrapper {
	background-color: #74c37f;
	margin-right: 20px;
	float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color: #74c37f;
}
.messages .message.right .text {
	color: #fff;
}
.messages .message.appeared {
	opacity: 1;
}
.messages .message .avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
}
.messages .message .text_wrapper {
	display: inline-block;
	padding: 10px;
	border-radius: 6px;
	min-width: 100px;
	position: relative;
	max-width: 90%;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
	top: 14px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.messages .message .text_wrapper::after {
	border-width: 6px;
	margin-top: 0px;
}
.messages .message .text_wrapper::before {
	border-width: 8px;
	margin-top: -2px;
}
.messages .message .text_wrapper .text {
	font-size: 18px;
	font-weight: 300;
}

.bottom_wrapper {
	position: relative;
	width: 100%;
	background-color: #fff;
	padding: 0px 20px 20px;
	position: absolute;
	bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
	display: inline-block;
	height: 80px;
	border: 1px solid #bcbdc0;
	width: 100%;
	position: relative;
	padding: 0;
}
.bottom_wrapper .message_input_wrapper .message_input {
	border: none;
	height: 100%;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	outline-width: 0;
	color: gray;
}
.bottom_wrapper .send_message {
	display: inline-block;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s linear;
	text-align: center;
	float: right;
}

.bottom_wrapper .send_message .text {
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
	line-height: 48px;
}

.message_template {
	display: none;
}

.add-waitlist-style{
	padding-left:30px;
	padding-right: 15px !important;
}


.inline-icon-waitlist-form{
	padding-top: 10px !important;
	left: 0 !important;
}
@media only screen and (min-width: 768px) {
	#right-input-waitlist{
		float: right;
	}
}

#waiting-filter > div, #history-filter > div {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

textarea#new-service-description {
	resize: none;
}

button#cancel-service-btn {
	margin-left: 10px;
}

.waitlistapp-content {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.label-as-quote { 
    color: #fff;
    font-size: 11px;
    border-radius: 0.7em;
    background-color: #658AA4 !important;
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    padding: .2em .4em .3em;
}

.bottom-quote {
	padding-left: 0px;
	padding-right: 0px;
}

.label-help-buble {
	background-color: #5c5c5c !important;
}

.btn-save-waitlist-setting {
	background-color: #71c37b;
	color: white;
	margin-right: 10px;
}

.placehoders-quote {
	font-weight: normal; 
	font-size: 13px;
}

div.waitlist-setting-btn {
	float: right; 
	margin-top: 10px; 
	padding-right: 0px;
	padding-left: 0px;
}
div#alert-text-area, div#confirm-text-area {
	margin-bottom: 0px;
}

label#confirm-text-countdown-label, label#alert-text-countdown-label,
label#confirm-email-sub-countdown-label, label#confirm-email-mess-countdown-label,
label#alert-email-sub-countdown-label, label#alert-email-mess-countdown-label{
	font-weight: normal;
}

a#confirm-text-countdown, a#alert-text-countdown,
a#confirm-email-sub-countdown, a#confirm-email-mess-countdown, 
a#alert-email-sub-countdown, a#alert-email-mess-countdown{
	text-decoration: none;
	color: #71c37b;
}

div.slider.round {
	min-width: 60px;
}

textarea.no-resize {
    resize: none;
}

.messages li:last-child {
	margin-bottom: 12%;
}

.chat_window .close {
	padding-right: 10px;
	padding-top: 10px;
}

.text-info {
	font-size: 12px
}

.custom-icon {
	color: #5c5c5c;
	font-size: 18px;
}

.custom-icon-small {
	color: #5c5c5c;
}

.custom-icon-small:hover {
	color: #5c5c5c;
}


.btn-icon,
.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus
{
	background-color: transparent;
	border-color: transparent;
}

.btn-alert {
	text-align: left;
}

@media only screen and (min-width: 530px) and (max-width: 962px){
	.waitlist-setting-btn{
		width: 25% !important;
	}

	.bottom-quote{
		width: 75% !important;
	}
}

@media only screen and (min-width: 372px) and (max-width: 529px){
	.waitlist-setting-btn{
		width: 40% !important;
	}

	.bottom-quote{
		width: 60% !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 371px){
	.waitlist-setting-btn{
		width: 50% !important;
	}

	.bottom-quote{
		width: 50% !important;
	}
}

/* PAGING */
#waitlist_info,
#waitlisthistory_info {
  display: none;
}
#waitlist_paginate,
#waitlisthistory_paginate {
  text-align: center;
  padding-bottom: 10px; 
}

#waitlist_paginate span,
#waitlisthistory_paginate span{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

#waitlist_paginate input,
#waitlisthistory_paginate input{
  width: 20px; 
}

#waitlist_paginate #waitlist_previous,
#waitlisthistory_paginate #waitlisthistory_previous{
  margin-right: 20px;
}

#waitlist_paginate #waitlist_next,
#waitlisthistory_paginate #waitlisthistory_next{
  margin-left: 20px;
}

#waitlist_paginate .paginate_text,
#waitlisthistory_paginate .paginate_text {
  text-align: center;
  padding: 4px 0;
  width: 57px;
}

.red-text {
	color: red;
}

.green-text {
	color: green;;
}

@media only screen and (max-width: 790px) {
	.dataTables_paginate {
		width: 312px;
	}
	.table-custom {
		width: 720px;
	}
}

@media only screen and (max-width: 443px) {
	.messages li:last-child {
		margin-bottom: 22%;
	}
}

@media only screen and (max-width: 370px) {
	.messages li:last-child {
		margin-bottom: 28%;
	}
}


.waitlistnumth {
	min-width: 80px !important;
}

.waitlistnameth {
	min-width: 300px !important;
}

.waitlistcreatedth {
	min-width: 200px !important;
}

.waitlistactionth {
	min-width: 200px !important;
}

.waitlistinfoth {
	min-width: 100px !important;
}



table#waitlist th{
	text-align: center !important;
}

@media (max-width: 767px) {
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}
@media (max-width: 767px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

select {
    padding:0 20px 0 5px !important;
    -webkit-padding-end: 10px !important;
    -webkit-padding-start: 10px !important;
}


.add-waitlist-style{
	padding-left:30px !important;
	padding-right: 15px !important;
}