.si-config .heading {
	font-size: 30px;
	color: #5c5c5c;
	font-weight: bold;
	text-align: center;
}
.si-config .tab-title ul {
	content : "";
	display : table;
	clear : both;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.si-config .tab-title > ul > li {
	float: left;
	width: 135px;
	margin-right: 4px;
	margin-bottom: -1px;
	line-height: 1em;
	font-size: 16px;
	padding: 11px 3px;
	text-align: center;
	color: #5c5c5c;
	font-weight: bold;
	border: 1px solid #dedede;
	background: #dedede;
}
/*@media screen and (min-width: 481px) and (max-width: 767px){
	.si-config .tab-title > ul > li {
		font-size: 12px;
		width: 134px;
	}
}*/
@media screen and (max-width: 764px){
	.si-config .tab-title > ul > li {
		margin-top: 5px;
	}
}
@media screen and (max-width: 487px){
	.si-config .tab-title > ul > li {
		width: 49%;
	}
}
@media screen and (max-width: 469px){
	.si-config .tab-title > ul > li {
		width: 100%;
	}
}
.si-config .tab-title > ul > li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.si-config .tab-title > ul > li:hover {
	cursor: pointer;
}
.si-config .tab-title > ul > li span {
	color: #77c281;
}
.si-config .tab-content > ul > li {
	display: none;
}
.si-config .tab-content > ul > li.active {
	display: block;
}
.si-config .tab-content .col-left {
	border: 1px solid #dedede;
	min-height: 665px;
	padding: 35px 15px;
	margin-bottom: 10px;
}
@media screen and (max-width: 991px){
	.si-config .tab-content .col-left {
		min-height: 0;
	}
}
.si-config .tab-content .col-left .item {
	margin-bottom: 20px;
}
.si-config .tab-content .col-left .item p {
	margin-bottom: 0;
	text-align: center;
	color: #5c5c5c;
}
.si-config .tab-content .col-left .item .name {
	font-size: 18px;

}
.si-config .tab-content .col-left .item .number {
	font-size: 48px;
	font-weight: bold;
}
.si-config .tab-content .col-right {
	border: 1px solid #dedede;
	min-height: 665px;
	padding: 10px 18px 35px;
	margin-bottom: 10px;
}
@media screen and (max-width: 991px){
	.si-config .tab-content .col-right {
		min-height: 0;
	}
}