<style>
		/*@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/mb/jquery-ui-1.8.7.custom.css');*/
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/rxdsmenu.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/RXForm.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/rxform2.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/style_ebm.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/vtabs.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/jquery.alerts.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/BB.ui.jqgrid.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/override.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/js/validate/validationEngine.jquery.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/js/validate/template.css');	
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/js/help/tipsy.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/pagination.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/tabicons.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/jquery.ui.timepicker.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/jquery.jgrowl.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/mediaelement/mediaelementplayer.min.css');
		@import url('http://dev.telespeech.com/devjlp/EBM_DEV/public/css/socialmedia.css');
	</style>
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/poolballs/IVR.css" />	
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/public/css/MB.css" />	
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/rxt/edit_rxt.css" />	
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/scriptbuilder2.css" />	
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/campaignicons.css" />	
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/public/css/VoiceToolIcons.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="http://dev.telespeech.com/devjlp/EBM_DEV/session/MCID/css/ruler.css" />
	
<!---<link rel="stylesheet" type="text/css" media="screen" href="resources/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="resources/jquery.jqGrid-3.8.2/css/ui.jqgrid.css" />

<script src="resources/jquery.jqGrid-3.8.2/js/jquery-1.4.2.min.js" type="text/javascript"> </script>
<script src="resources/jquery.jqGrid-3.8.2/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="resources/jquery.jqGrid-3.8.2/js/jquery.jqGrid.min.js" type="text/javascript"> </script>
<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.datepicker.js"></script>
<script src="resources/jquery-ui-1.8.11.custom/development-bundle/external/jquery.bgiframe-2.1.2.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.core.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.widget.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.mouse.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.draggable.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.position.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.resizable.js"></script>
	<script src="resources/jquery-ui-1.8.11.custom/development-bundle/ui/jquery.ui.dialog.js"></script>--->

<cfset Session.USERID = 10>
<cfset SESSION.CompanyUserId = 0>	

<div style="text-align:left;position:relative; overflow: hidden;">
<h4>Invoices</h4>
<cfparam name="inpUserId" default="#Session.USERID#">
<cfparam name="inpCompanyId" default="#SESSION.CompanyUserId#"/>


<cfinvoke 
    component="#Session.SessionCFCPath#.billing"
    method="invoices"
    returnvariable="getInvoices">                         
     <!---<cfinvokeargument name="inpCompanyId" value="#inpCompanyId#"/>
     <cfinvokeargument name="inpUserId" value="#inpUserId#"/> --->
     <cfinvokeargument name="inpCompanyId" value="#SESSION.CompanyUserId#"/>
     <cfinvokeargument name="inpUserId" value="#Session.USERID#"/> 
   </cfinvoke>
<ul>
	<li>Total balance: <cfoutput>#getInvoices[1]#</cfoutput></li>
	<!---<li>Total Company Account usage: <cfoutput>#getInvoices[2]#</cfoutput></li>--->
</ul>
<!--- <script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script> --->

<script>
var timeoutHndBatchesMCContent;
var fAutoBatchesMCContent = true;
var LastSelBatchesMCContent;
var LastGroupIdBatchesMCContent = 0;
var lastObj_MCContent;


	var sipPos_InvoicesFilters = 0;
	
	
	$(function() 
	{
		
		$("#BatchListMCContent1").jqGrid(
		{        
			url:'<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/billing.cfc?method=GetBatchesBilling&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true&inpSocialmediaFlag=0&billing_type=1',
			datatype: "json",
			height: 385,
			colNames:['ID','Description','Created Date', 'Last Updated Date','Option'],
			colModel:[
				{name:'BatchId_bi',index:'BatchId_bi', width:100, editable:false, resizable:false,align:'left'},
				{name:'Desc_vch',index:'Desc_vch', width:250, editable:true, resizable:false},
				{name:'Created_dt',index:'Created_dt', width:120, editable:false, resizable:false,align:'center'},
				{name:'LASTUPDATED_DT',index:'LASTUPDATED_DT', width:120, editable:false, resizable:false,align:'center'},
				{name:'option',index:'option', width:90, editable:false, resizable:false,align:'center'}
			],
			rowNum:15,
		  	rowList:[20,4,8,10,20,30],
			mtype: "POST",
			pager: $('#pagerDiv'),
		//	pagerpos: "right",
		//	cellEdit: false,
			toppager: true,
	    	emptyrecords: "No Current Batches Found.",
	    	pgbuttons: true,
			altRows: true,
			altclass: "ui-priority-altRow",
			pgtext: false,
			pginput:true,
			sortname: 'Created_dt',
			toolbar:[false,"top"],
			viewrecords: true,
			sortorder: "DESC",
			caption: "",	
			multiselect: false,
			ondblClickRow: function(BatchId_bi){ $('#BatchListMCContent1').jqGrid('editRow',BatchId_bi,true, '', '', '', '', rx_AfterEditMCContent,'', ''); },
			onSelectRow: function(BatchId_bi){

			},
			loadComplete: function(data)
			{ 		
		 		$(".view_ReportBilling").click( function() 
				{
		 			viewcallresult($(this).attr('rel'));
		 		});
		 		
				<!--- Add a filter row--->
				
				var MCStringListSearchFilterRow = ''+
				'<tr class="ui-widget-content ui-row-ltr" role="row" id="MCStringListSearchFilterRow" aria-selected="true">'+
				'	<td aria-describedby="MCStringList_cb" style="" role="gridcell"></td>'+
						
				'	<td aria-describedby="MCStringList_ContactString_vch" title=""  align="left" style="text-align:left;font-size: 10px;" role="gridcell">'+
				'Description String Filter<BR><input type="text" class="ui-corner-all" style="width:150px; display:inline; margin-bottom:3px;" value="' + data.NOTES_MASK + '" id="search_notes2">'+
				'	</td>'+
				'	<td aria-describedby="MCStringList_cb" style="" role="gridcell"></td>'+
				'	<td aria-describedby="MCStringList_cb" style="" role="gridcell"></td>'+
				'	<td aria-describedby="MCStringList_cb" style="" role="gridcell"></td>'+
				'</tr>'		 		
		 		
		 		$("#BatchListMCContent1 tbody").append(MCStringListSearchFilterRow);
		 		
		 		$("#BatchListMCContent1 #search_notes2").unbind();
		 		$("#BatchListMCContent1 #search_notes2").keydown(function(event) { doSearch_MCBills(arguments[0]||event,'search_notes2') }); 
		 		
		 		<!--- Reset the focus to an inline filter box--->
				if(typeof(lastObj_MCContent) != "undefined" && lastObj_MCContent != "")
				{					
					<!--- Stupid IE not rendering yet so call again in 10 ms--->
					setTimeout(function() 
					{ 
					
						 var LocalFocus = $("#BatchListMCContent1 #" + lastObj_MCContent);
						 if (LocalFocus.setSelectionRange) 
						 {         
							 <!--- ... then use it        
							   (Doesn't work in IE)
							   Double the length because Opera is inconsistent about whether a carriage return is one character or two. Sigh. 
							  ---> 
							   var len = $(LocalFocus).val().length * 2;         
							   LocalFocus.setSelectionRange(len, len);         
						 }        
						 else
  			          	 {
						     <!---... otherwise replace the contents with itself         
							   (Doesn't work in Google Chrome)    --->     
							  $(LocalFocus).focus(); 
							  var str = $(LocalFocus).val();
							  $(LocalFocus).val("");    
							  $(LocalFocus).val(str);        
					     }         
						 
						 <!--- Scroll to the bottom, in case we're in a tall textarea
						  (Necessary for Firefox and Google Chrome)--->
						 LocalFocus.scrollTop = 999999; 
						 
						
						lastObj_MCContent = undefined;
						$("#BatchListMCContent1 #" + lastObj_MCContent).focus(); 
					}, 10);
				}
		 		
			}, 
			editurl: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/distribution.cfc?method=UpdateBatchDesc&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',
		
			<!--- //The JSON reader. This defines what the JSON data returned from the CFC should look like--->
	
			jsonReader: 
			{
				  root: "ROWS", //our data
				  page: "PAGE", //current page
				  total: "TOTAL", //total pages
				  records:"RECORDS", //total records
				  cell: "", //not used
				  id: "0" //will default second column as ID
			}	
		});
		
		$('#MCCFilter_START_DT1').datepicker(
		{
			numberOfMonths: 2,
			showButtonPanel: true,
			dateFormat: 'yy-mm-dd'
		});
	
		$('#MCCFilter_STOP_DT1').datepicker(
		{
			numberOfMonths: 2,
			showButtonPanel: true,
			dateFormat: 'yy-mm-dd'
		});
	
function doSearch_MCBills(ev, sourceObj){
	
	if(!fAutoBatchesMCContent)
		return;
//	var elem = ev.target||ev.srcElement;
	if(timeoutHndBatchesMCContent)
		clearTimeout(timeoutHndBatchesMCContent)
	timeoutHndBatchesMCContent = setTimeout(gridReloadBatchesMCContent,500)
	
	lastObj_MCContent = sourceObj;
	
}	

function gridReloadBatchesMCContent(){
			
		var ParamStr = '';
		var CurrSORD =  $("#BatchListMCContent1").jqGrid('getGridParam','sord');
		var CurrSIDX =  $("#BatchListMCContent1").jqGrid('getGridParam','sidx');
		var CurrPage = $('#BatchListMCContent1').getGridParam('page'); 
		var notes_mask = $("#BatchListMCContent1 #search_notes2").val();
		
		if(notes_mask) ParamStr += '&notes_mask=' + notes_mask;
				
		if(CurrSORD != '' && CurrSORD != null) ParamStr += '&sord=' + CurrSORD;
			
		if(CurrSIDX != '' && CurrSIDX != null) ParamStr += '&sidx=' + CurrSIDX;	
		
	$("#BatchListMCContent1").jqGrid('setGridParam',{url:"<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/billing.cfc?method=GetBatchesBilling&returnformat=json&queryformat=column&inpSocialmediaFlag=0&_cf_nodebug=true&_cf_nocache=true" + ParamStr,page:CurrPage}).trigger("reloadGrid");

}

function enableAutosubmitMCContent(state){
	fAutoBatchesMCContent = state;
	gridReloadBatchesMCContent();
	$("#submitButton").attr("disabled",state);
}
	var createViewcallresult = 0;
	function viewcallresult(BatchId) 
	{

		/*var $loading = $('<img src="<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading-small.gif" width="16" height="16">...Preparing');
		
		if(createViewcallresult != 0)
		{
			<!--- Cleanup and remove old stuff or tree won't work on second attempt to open same dialog --->
			createViewcallresult.remove();
			createViewcallresult = 0;
		}
		createViewcallresult = $('<div id="viewcallresult"></div>').append($loading.clone());
		var SelectScriptDialogVar = $('<div id="selectScriptLibDialog"></div>').append($loading.clone());*/
		
		window.location = '<cfoutput>#rootUrl#/#ManagementPath#</cfoutput>/Billing/dsp_BillingSV.cfm?BatchIDA=' + BatchId;
		/*createViewcallresult
		.load('<cfoutput>#rootUrl#/#BillingPath#</cfoutput>/dsp_BillingSV.cfm?BatchIDA=' + BatchId, function() {} )
		.dialog({
				modal : true,
				title: 'Call result',
				zIndex:99999,
				width: 1200,
				height: 800,
				close: function() {
					$(this).dialog('destroy'); 
					$(this).remove(); 
					SelectScriptDialogVar = 0;
				} 
			});
		*/
	};
		
		<!--- Animated filters tab--->
		$("#panel_tab_InvoicesFilters").click(function(e) 
		{
			e.preventDefault();
			$("#panel_InvoicesFilters").animate({ bottom: sipPos_InvoicesFilters }, 565, 'linear', function()
			 {
				if(sipPos_InvoicesFilters == 0) 
				{ 
					sipPos_InvoicesFilters = -465; 
					$("#panel_tab_InvoicesFilters").html('Close Filters');
				}
				else
				{
					 sipPos_InvoicesFilters = 0; 
					 $("#panel_tab_InvoicesFilters").html('Open Filters');
				}
			});
		});		
		
	});  //document.ready

	function checkBatch(bid,desc){
		
		$.getJSON("<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/reporting.cfc?method=AddToMainBatch&batch_id="+bid+"&isChecked="+$("#SelectBatch"+bid).is(':checked')+"&returnformat=json&queryformat=column", {}, function(res,code) {
			if(parseInt(res.DATA.ID) == 1)
			{
				if($("#SelectBatch"+bid).is(':checked'))
				{
					var liTag = document.createElement("li");
					liTag.id = 'li_'+bid;
					liTag.className ="ui-state-default";
					liTag.innerHTML = bid + '&nbsp;&nbsp;&nbsp;' + $('#s_Desc_'+bid).html();
					document.getElementById('sortable').appendChild(liTag);
				}
				else
				{	
					var d = document.getElementById('sortable');
					var olddiv = document.getElementById('li_'+bid);
					d.removeChild(olddiv);
				}
			}
			else
			{
				alert('Some error occured!!');
				//revert the checkbox action
				if($("#SelectBatch"+bid).is(':checked'))
					$("#SelectBatch"+bid).attr('checked', false);
				else
					$("#SelectBatch"+bid).attr('checked', true);
				
			}
		});
		
		

	}


</script>

<style type="text/css">
	ul{
		list-style-type:none;
	}
	li{
		padding:2px 0px 2px 5px;
	}
</style>




<div id="tabs">
	
		<div style="text-align:left;">
            <table id="BatchListMCContent1"></table>
			
 <div id="panel_InvoicesFilters" class=" panel_Filters">
          <div id="panel_tab_InvoicesFilters" class="panel_tab_Filters">Open Filters</div>
          <p>
          	      <div style="text-align:left; margin: 5px 0 5px 0; position:relative;" class="RXForm">

             		   
                    
                        <label title="Calander date...">Start Date</label>
                        <input TYPE="text" name="MCCFilter_START_DT" id="MCCFilter_START_DT1" value="" class="ui-corner-all" style="width:85px;" title="Calander date..."/> 
                    
                        <label title="Calander date...">Stop Date</label>
                        <input TYPE="text" name="MCCFilter_STOP_DT" id="MCCFilter_STOP_DT1" value="" class="ui-corner-all" style="width:85px;" title="Calander date..."/> 
                   
                        
                </div>
                <div>        
                        <p>
              <!--- Add additional filters and then report accross filtered batchids        	
			  
			  	<a class="MedallionImageLink" href="##" onclick="ViewReportToolDialogMCContent(); return false;"><img src="../../public/images/dock/Apps-kchart-icon64x64.png" alt="Activity Console" title="Activity Console"/></a> 
            --->
                        </p>
               </div>
          </p>
     </div>			
        </div>
		
       
</div>
</div>


 
    