/*===========================================*/
ol,ul{
    list-style: none;
}
/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}
.bg-gray {
    background-color: #eaeaec !important;
}
.bg-black {
    background-color: #222222 !important;
}
.bg-red {
    background-color: #f56954 !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}
.bg-light-blue {
    background-color: #3c8dbc !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-navy {
    background-color: #001f3f !important;
}
.bg-teal {
    background-color: #39cccc !important;
}
.bg-olive {
    background-color: #3d9970 !important;
}
.bg-lime {
    background-color: #01ff70 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-fuchsia {
    background-color: #f012be !important;
}
.bg-purple {
    background-color: #932ab6 !important;
}
.bg-maroon {
    background-color: #85144b !important;
}

/* Text colors */
.text-red {
    color: #f56954 !important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-aqua {
    color: #00c0ef !important;
}
.text-blue {
    color: #0073b7 !important;
}
#main_area_chat .head_notification .text-blue{
    cursor: pointer;
}
.text-black {
    color: #222222 !important;
}
.text-light-blue {
    color: #3c8dbc !important;
}
.text-green {
    color: #00a65a !important;
}
.text-navy {
    color: #001f3f !important;
}
.text-teal {
    color: #39cccc !important;
}
.text-olive {
    color: #3d9970 !important;
}
.text-lime {
    color: #01ff70 !important;
}
.text-orange {
    color: #ff851b !important;
}
.text-fuchsia {
    color: #f012be !important;
}
.text-purple {
    color: #932ab6 !important;
}
.text-maroon {
    color: #85144b !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
    margin-left: 3px;
}

/*For Tabs*/
.etabs {
    margin: 0;
    padding: 6px 5px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4;
}
.tab {
    margin-bottom: -1px;
    margin-right: 3px;
    display: inline-block;
    zoom:1;
    *display:inline;
    background: #f0f0f0;
    border: solid 1px #ccc;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    position: relative;
}
.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 3px 30px;
    outline: none;
}
.tab a:hover {
    text-decoration: underline;
}
.tab.active {
    background: #fff;
    border-bottom-color: transparent;
}
.tab a.t_active {
    font-weight: bold;
    color: #0073b7 !important;
}
.tab i.icon_new_mess{
    position: absolute;
    top: -4px;
    right: 15px;
    width: 13px;
    height: 12px;
    background: url('../images/agent/new_mess.png');
}

.tab-container .panel-container {
    position: relative;
    background: #fff;
    border: solid #ccc 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}

.tabs_cont{
    padding: 10px;
}
/*End Tabs*/

/*Start Button*/
.btn {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3px;
    margin-left: 3px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    text-shadow: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn.ac_response{
    padding: 3px 12px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3071a9;
    border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary .badge {
    color: #428bca;
    background-color: #ffffff;
}

.btn-danger {
    color: #ffffff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    color: #d9534f;
    background-color: #ffffff;
}


.btn-primary {
    background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
    background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #2b669a;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #2d6ca2;
    background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #2d6ca2;
    border-color: #2b669a;
}
.btn-primary:disabled,
.btn-primary[disabled] {
    background-color: #2d6ca2;
    background-image: none;
}

.btn-danger {
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
    background-color: #c12e2a;
    border-color: #b92c28;
}
.btn-danger:disabled,
.btn-danger[disabled] {
    background-color: #c12e2a;
    background-image: none;
}
/*End Button*/

/*Start Table*/
table {
    background-color: transparent;
}
th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ccc;
}

.table > tbody > tr:first-child td{
    border-top: none;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table .table {
    background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}
.table-bordered {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}
table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

.table > tbody > tr > td{

}

.table > tbody > tr > td:first-child{
    width: 21%;
    font-size: 12px;
    color: #999;
    font-family: 'Verdana';
}

.table > tbody > tr > td:nth-child(2){
    width: 20%;
    font-size: 12px;
    font-weight: bold;
    color: #0888d1;
    font-family: 'Verdana';
}

.table > tbody > tr > td:last-child{
    font-size: 12px;
    color: #666;
    font-family: 'Verdana';
}
/*End Table*/



.left_col_menu{
    height: 650px;
    overflow-y: auto;
    border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
}

.chat_area_body{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 650px;
    background-color: #fff;
    border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    position: relative;
    /*overflow: hidden;*/
}

.sidebar{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4;
}

.sidebar .sidebar-menu{
    list-style: none;
}

.sidebar .sidebar-menu > li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbdbdb;
}
.sidebar .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.sidebar > .sidebar-menu > li > a:hover,
.sidebar > .sidebar-menu > li.active > a {
    color: #222;
    background: #c7f3ff;
}


.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.f_left{
    float: left;
}

.f_right{
    float: right;
}

.window_wrap{
    width: 100%;
}

.col_group{
    width: 30%;
}

.col_title{
    background-image: -webkit-linear-gradient(top, #129ade 0%, #0582c0 100%);
    background-image: -o-linear-gradient(top, #129ade 0%, #0582c0 100%);
    background-image: linear-gradient(to bottom, #129ade 0%, #0582c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 1px solid #2b669a;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

.col_title h4{
    display: inline-block;
    padding: 9px 0 9px 20px;
    color: #fff;
    font-size: 16px;
}

.chat_area{
    width: 70%;
}

.head_notification{
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f3f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f4f3f4 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f4f3f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border: 1px solid #ccc;
    border-left: none;
    text-align: right;
}

.head_notification p{
    display: inline-block;
    padding: 9px 0 9px 20px;
    color: #333;
    font-size: 15px;
    margin-right: 20px;
}

.head_notification p span.span-peopleinqueue{
    font-weight: 700;
}

.head_chat_infomation{
    background-image: -webkit-linear-gradient(top, #129ade 0%, #0582c0 100%);
    background-image: -o-linear-gradient(top, #129ade 0%, #0582c0 100%);
    background-image: linear-gradient(to bottom, #129ade 0%, #0582c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 1px solid #2b669a;
    border-radius: 4px 4px 0 0;
}

.head_chat_infomation ul li{
    display: inline;
    float: left;
    color: #fff;
    font-size: 10px;
    margin: 10px;
}

.head_chat_title{
    border: 1px solid #ccc;
    border-top: none;
    background-color: #eee;
    padding: 5px 0;
    position: relative;
}

.head_chat_title p{
    font-size: 12px;
    color: #999;
    padding: 5px 0 0 10px;
}

.head_chat_title p span{
    color: #666;
}

.head_chat_title a.btn-danger{
    margin-right: 5px;
}

.head_chat_body{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 2px solid #0888d1;
    height: 460px;
    overflow-y: auto;
}

.head_chat_foot{
    background-color: #eee;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 3px 0;
}

.for_type_message{
    width: 73%;
    position: relative;
}

.head_chat_foot span#count_char{
    position: absolute;
    right: 22px;
    top: 13px;
    color: #999;
    font-size: 12px;
}

.head_chat_foot .type_message_area{
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    resize: none;
    outline: none;
    margin: 5px 0 5px 10px;
    height: 25px;
    width: 82%;
    padding: 3px 80px 3px 3px;
}

.head_chat_foot .btn-send-area{
    margin: 6px 10px 0 0;
    height: 31px;
    padding: 0 18px;
}

.transfer{
    width: 168px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: -40px;
    top: 40px;
    box-shadow: 0px 0px 9px 4px rgba(119, 119, 119, 0.76);
    -moz-box-shadow: 0px 0px 9px 4px rgba(119, 119, 119, 0.76);
    -webkit-box-shadow: 0px 0px 9px 4px rgba(119, 119, 119, 0.76);

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s,opacity 0.2s linear;
    -webkit-transition: visibility 0s linear 0.2s,opacity 0.2s linear;
    -moz-transition: visibility 0s linear 0.2s,opacity 0.2s linear;
    -ms-transition: visibility 0s linear 0.2s,opacity 0.2s linear;
    -o-transition: visibility 0s linear 0.2s,opacity 0.2s linear;
}

.transfer:after{
    content:"";
    width:0;
    height:0;
    position:absolute;
    border:8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -16px;
    left: 71px;
}
.f_left span.countdown-section{
    margin-right: 5px;
}
.f_left span.countdown-section .countdown-amount,
.f_left span.countdown-section .countdown-period{
    margin-right: 5px;
}
.head_chat_title li.over_transfer:hover .transfer{
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -ms-transition-delay:0s;
    -o-transition-delay:0s;
}

.transfer ul li{
    margin: 10px 20px;
}

.transfer ul li a{
    height: 14px;
    text-decoration: underline;
    font-family: 'Verdana';
    font-size: 12px;
    display: block;
    padding: 5px 5px 5px 5px;
}

.transfer ul li a i{
    width: 14px;
    height: 14px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.u_onl{
    background: url('../images/agent/u_onl.png') no-repeat;
}

i.u_off{
    background: url('../images/agent/u_off.png') no-repeat;
}

.transfer ul li a span{
    margin-left: 7px;
    color: #0888d1;
    text-decoration: underline;
}

.transfer ul li.off a span{
    text-decoration: none;
    color: #999;
}

.wrap_icon{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
    height: 16px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}
.wrap_icon .number{
    font-weight: bold;
}
i.icon_shoow_more{
    background-image: url('../images/agent/w1ThdL3LH0E.png');
    background-size: auto auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -155px -167px;


}

.show_more_number{
    width: 120px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.62);
    -moz-box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.62);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.62);
    position: absolute;
    right: 39px;
    top: 6px;
    z-index: 10;
    display: none;
}

.show_more_number ul li{
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbdbdb;
}
.show_more_number ul li.newmgs{
    background: #129ade;
}
#tab-container .show_more_number ul li.active a{
    color: #fff;
}
.show_more_number ul li a{
    padding: 8px 5px 8px 15px;
    display: block;
}

/*----------------------------- Transfer ----------------------------*/

.panel {
    margin-bottom: 20px;
    background-color: #fefefe;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 29px 1px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 4px 29px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 4px 29px 1px rgba(119, 119, 119, 0.75);
}
.panel-body {
    padding: 10px;
}
.panel-heading {
    padding: 10px 10px 0;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title > a {
    color: inherit;
}
.panel-footer {
    padding: 5px 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#wrap-incoming{
    width: 20%;
    height: 700px;
    overflow-y: auto;
    padding: 20px 10px 20px 20px;
    /*margin: 20px;*/
    position: absolute;
    right: 20px;
    top: 130px;
    z-index: 9999;
}
.inc-title{
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
}
.inc-body p{
    font-size: 12px;
    color: #666;
}
.inc-body p span{
    font-size: 12px;
    color: #0888d1;
}
.action-transfer{
    font-size: 12px;
    text-transform: uppercase;
}
/*----------------- Overlay room chat session------------------------*/
#tabs_room .block-waiting-transfer{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    background: none repeat scroll 0% 0% rgb(0, 0, 0);
    opacity: 0.3;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
#tabs-wait-chat{
    z-index: 99999;
}
.transfer .offline{
    display: none;
}
.transfer .online{
    display: block;
}
.transfer .online a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
}

#tabs_room p.f_left{
    float: right;
}
#tabs_room .head_chat_title ul{
    float: left;
}
#tabs_room .head_chat_title ul li{
    float: left;
}

/*Response*/
#wrap-response{
    position: absolute;
    left: 0;
    bottom: -410px;
    border-top: 2px solid #0888d1;
    background-color: #eee;
    width: 100%;
    z-index: 2;
    display: none;
}
.top-response{
    border-radius: inherit;
    border: none;
}
.for_type_response{
    width: 55.5%;
}
.for_type_response .search_response-area{
    width: 95%;
    padding: 2px 3px 3px 3px;
}
.body_response{
    padding: 0 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
    max-height: 346px;
    /*background: #FFF;*/
}
ul.response_tem > li{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.response_item{
    width: 88%;
    color: #666;
    margin-left: 10px;
    display: table;
    height: 55px;
}
.response_item p{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.ac_response{
    font-size: 11px;
    width: 54%;
}
.action-res{
    width: 10%;
    min-height: 55px;
}
.action-res ul{
    display: none;
}
.action-res ul li{
    margin-bottom: 3px;
}
ul.response_tem > li:hover .action-res ul{
    display: block;
}
ul.response_tem .active_response{
    background-color: #e0e0e0;
}

/*End response*/

/*Modal*/
#newCannedResponseForm{
    height: auto !important;
}
#canned-modal{
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 5px 6px 17px 5px rgba(119, 119, 119, 0.52);
    -moz-box-shadow: 5px 6px 17px 5px rgba(119, 119, 119, 0.52);
    -webkit-box-shadow: 5px 6px 17px 5px rgba(119, 119, 119, 0.52);
}
.canned-head{
    width: 100%;
    background-color: #0888d1;
    color: #fff;

}
.canned-head h3{
    padding: 10px;
    font-size: 10px;
}
.public-canned label{
    float: left;
    width: 10%;text-align: center;
    margin-top: 10px;
    display: inline-block;
}
.make-public{
    float: left;
    width: 89%;
    margin-top: 10px;
    display: inline-block;
}
.make-public h3{
    font-size: 10px;
}
.make-public p{
    font-size: 10px;
    color: #999;
    line-height: 18px;
}
.public-canned{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.make-canned{
    width: 100%;
    background-color: #fff;
}
.make-canned .content-canned-response{
    padding: 0 10px;
}
.make-canned textarea{
    border: none;
    width: 100%;
    resize: none;
    outline: none;
    padding: 0;
    margin: 10px 0;
    border: none;
    box-shadow: none;
    overflow: auto;
}
.canned-foot{
    border-top: 2px solid #0888d1;
    padding: 10px;
}
/*End modal*/
