/* CSS Document */

* 
{
	font-family: Myriad Web Pro, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration:none;
}

a.voteupdaownA {
	display:inline;
}

a.voteupdaownA:hover {
	display:inline;
}

a{
font-size:11px;
font-weight:normal;
color:#8E3E5E;
margin:0;
/*display:block;*/
text-decoration:none;
}

a:hover{
font-size:11px;
font-weight:normal;
color:#8E3E5E;
margin:0;
/*display:block;*/
text-decoration:underline;
cursor:pointer;
}

.lista{
font-size:10px;
font-weight:normal;
color:#8E3E5E;
margin:0;
display:inline;
text-decoration:none;
min-width:50px;
width:50px;
overflow:hidden;
}

.lista:hover{
font-size:10px;
font-weight:normal;
color:#8E3E5E !important;
margin:0;
display:inline;
text-decoration:underline !important;
cursor:pointer;
min-width:50px;
width:50px;
overflow:hidden;
}


p{
font-size:11px;
margin-bottom:2px;
margin-left:0;
border-bottom:none;
}

label{
display:inline;
font-weight:bold;
text-align:right;
width:100px;
border:none;
margin:2px 0 5px 0px;
}


.BSLinkMenuContainer
{
	display:inline;
	text-align:left;
	font-weight:bold;
	width:100%;
}

.BSLinkMenu
{
	display:inline;
	text-align:left;
}

#BSHeader
{
	background: url(../images/GrapeGradient1pxWeb.png) repeat-x scroll 0 0 transparent;
	width:100%;
	height:72px;
	min-height:72px;
	min-width:1075px;
}

#BSHeaderFB
{
	background: url(../images/GrapeGradient1pxWeb.png) repeat-x scroll 0 0 transparent;
	width:100%;
	height:72px;
	min-height:72px;
	min-width:700px;
}

#BSContent
{
	width:1025px;
	min-width:1025px;	
	height:650px;
	min-height:650px;
	margin: 5px auto 0;	
	display:block;
}

#BSContentWide
{
	width:1075px;
	min-width:1075px;	
	height:650px;
	min-height:650px;
	margin: 5px auto 0;	
	display:block;
}

#BSContentWideFB
{
	width:700px;
	min-width:700px;	
	height:650px;
	min-height:650px;
	margin: 5px auto 0;	
	display:block;
}

#BSFooter
{	
	width:100%;
	height:72px;
	min-height:72px;
}

#BSHeadCenter
{
	height:72px;
	width:1025px;
	margin: 0 auto;	
}

#BSHeadCenterFB
{
	height:72px;
	width:650px;
	margin: 0 auto;	
}


#BSFooterCenter
{
	height:72px;
	width:925px;
	margin: 0 auto;	
}
#BSFooterCenterFB
{
	height:72px;
	width:650px;
	margin: 0 auto;	
}
#BSHeadLogo
{
	float:left;
	height:68;
	width:300;	
}

#BSHeadLogin
{
	float:left;
	font-weight:bold;
	font-size:12px;
	margin: 12px;
	
}


/*#BSHeadLogin input
{
	width:125;	
	margin: 0 15px 5px 0;	
	font-size:11px;
	font-weight:normal;
	color:#333333;
}
*/

#BSHeadLogin a{
font-size:11px;
font-weight:normal;
color:#8E3E5E;
margin:0;
/*display:inline;*/
text-decoration:none;
}

#fbloginspan a{
font-size:11px;
font-weight:normal;
color:#8E3E5E;
margin:0px 17px 0px 0px;
float:right;
display:inline-block;
text-decoration:none;
}

#BSHeadLogin a:hover{
font-size:11px;
font-weight:normal;
color:#8E3E5E;
margin:0;
/*display:inline;*/
text-decoration:underline;
cursor:pointer;
}


#SignUpSection
{
	background: url(../images/TGradientGreen1pxWeb.png) repeat-x scroll 0 0 transparent;
	width:400px;
	padding: 15px 15px 0 15px;
}

#SignUpSection label
{
	margin:5px 0 10px 0;	
}

#SignUpSection hr
{
	margin:10px 15px 10px 15px;	
}

#sessionTimerContainer
{
	font-size:11px;
	color:#999999;
	margin:2px 0 5px 5px;
	display:inline;
	text-decoration:none;
}

#sessionAccountInfoContainer
{
	font-size:11px;
	color:#FFFFFF;
	margin:2px 0 5px 5px;
	display:block;
	text-decoration:none;
}

#BSCLeft
{
	width:325px;
	margin: 5px auto 0;	
	display:inline;
	float:left;
}


#BSCRight
{	
	width:600px;
	margin: 5px auto 0;	
	display:inline;
	float:right;
	padding: 5px;
}


#BSCRight700
{	
	width:700px;
	margin: 5px auto 0;	
	display:inline;
	float:right;
	padding: 5px;
}

#BSCLeft700
{	
	width:700px;
	margin: 5px auto 0;	
	display:inline;
	float:left;
	padding: 5px;
}

#BSCHomeContent
{
	width:600px;
	display:block;
	min-height:250px;
	height:250px;
}


#BSCHomeContent .BSInfoContainer
{
	font-size:14px;
	font-weight:700;
	color:#222222;
	margin:2px 0 15px 5px;
	display:block;
	text-decoration:none;
	text-align:left;
}


#BSCHomeContent .BSInfoList
{
	font-size:14px;
	font-weight:300;
	color:#444444;
	margin:2px 0 15px 5px;
	display:block;
	text-decoration:none;
	text-align:left;
}


#BSCHomeContent .BSInfoFooter
{
	font-size:12px;
	font-weight:300;
	color:#222222;
	margin:2px 0 5px 5px;
	display:block;
	text-decoration:none;
	text-align:left;
}

#HomeContentLeft
{
	background: url(../images/GrapeGradient1pxWeb.png) repeat-x scroll 0 0 transparent;
	width:270px;
	min-width:270px;
	margin: 0 10px; 0 10px;
	padding:5px;
	display:inline;
	min-height:250px;
	height:250px;
	float:left;
}

#HomeContentRight
{
	background: url(../images/TGradientGreen1pxWeb.png) repeat-x scroll 0 0 transparent;
	width:270px;
	min-width:270px;
	margin: 0 10px; 0 10px;
	padding:5px;
	display:inline;
	min-height:250px;
	height:250px;
	float:right;
}



#BSFooter a{
font-size:11px;
color:#8E3E5E;
margin:2px 0 5px 5px;
display:inline;
text-decoration:none;
}

#BSFooter a:hover{
font-size:11px;
color:#8E3E5E;
margin:2px 0 5px 5px;
display:inline;
text-decoration:underline;
cursor:pointer;
}

	
#FooterMenu
{
	float:left;
	padding-top:5px;
}
#FooterMenuItem{
	line-height:25px;
	color:red;
}

#FooterNotice
{
	float:right;
}
/*	
.ListIconLinks
{
	margin:2px 3px 0 0;
	padding: 1px;	
}


.ListIconLinks:hover
{
	margin:2px 3px 0 0;
	padding: 0px;	
	cursor:pointer;
	border: 1px solid #9D9D9D;
}
*/

.ListIconLinksSmall
{
	opacity: 1;
}
.ListIconLinksSmall:hover
{
	opacity: 0.6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.ListIconLinks
{
	margin:2px 3px 0 0;
	padding: 1px;	
	opacity: 1;
	
}

.ListIconLinks:hover
{
	margin:2px 3px 0 0;
	padding: 1px;	
	cursor:pointer;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; // first!
	filter: alpha(opacity=60);
	border: 0px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	FILTER: DropShadow(Color=#cccccc, OffX=1, OffY=-1, Positive=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#cccccc, OffX=1, OffY=-1, Positive=1)";
	/*
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='white')";*/
		/* For IE 5.5 - 7 */
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='white');
	*/
}

.ListIconLinksFade
{
	display:inline; 
	float:left; 
	margin:0 5px 0 0;
	opacity: 1;
}
.ListIconLinksFade:hover
{
	cursor:text;
	opacity: 0.75;
}

.BabbleLegend
{
	text-align:right;
	font-size:10px;
	color:#111111;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	padding:5px;
	margin:0px 5px 5px; 5px;
}

.categoryDesc{
	background-color:#F3FFCD;
	font-weight:normal;
	color: #666;
}

.notesFilter{
	width:150px; 
	display:inline; 
	margin-bottom:3px;
	border:0px;
	color:#999;
}

.notesFilterHolder{
	border:1px solid #999;	
	padding:2px 2px 0px 2px;
}

.viewCount{
	color:#444;
}
.smallTitle
{
	font-size:10px;
	color:#111111;
	font-weight:bold;
	margin:5px 0px 0px 5px;
	padding-left:5px;
}

.smallTitleWarning
{
	font-size:10px;
	color:#FF0000;
	font-weight:bold;
	
}

.smallTitleNM
{
	font-size:10px;
	color:#111111;
	font-weight:bold;
	margin:0 0 0 5;
	padding-left:0;
}	

#s_Canceled{
font-size:12px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


#s_Running{
font-size:12px;
color:#00FF00;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


#s_Finished{
font-size:12px;
color:#FF0000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}
		
#s_Error{
font-size:12px;
color:#FF0000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}	
	
#s_ColumnTitleClear{
font-size:10px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}

#s_Desc{
font-size:12px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}
	
	
a.dock-item { font: 11px Myriad Web Pro, Arial, Helvetica, sans-serif; display: block; width: 50px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color:#8E3E5E; }
.dock-item span { display: none; padding-left: 20px; white-space: nowrap; }
.dock-item img { border: 0; margin: 5px 10px 0px; width: 100%; }
	
/*for sorting dropdown*/
.nav, .nav ul { 
	list-style: none;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  position: relative;
  float:right;
}

.nav li {
  float: left;
  margin: 0;
  position: relative;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font: 12px;
  color: #8E3E5E;
  display: block;
  padding: 2px;
  width: 100px;
  height: 18px;
}

.nav li a:hover {
  	color: #444;	
	text-decoration:none;
}
#nav-one li:hover a, 
#nav-one li.sfHover a {
  /*background: #ccc;*/
  color: #444;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  /*background: #5A1F36;*/
  color: #8E3E5E;
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
  /*background: #ccc;*/
  color: #8E3E5E;
  text-decoration:underline;
}

#nav-one-stream li:hover a, 
#nav-one-stream li.sfHover a {
  /*background: #ccc;*/
  color: #444;
}
#nav-one-stream li:hover ul a, 
#nav-one-stream li.sfHover ul a {
  /*background: #5A1F36;*/
  color: #8E3E5E;
}
#nav-one-stream li:hover ul a:hover, 
#nav-one-stream li.sfHover ul a:hover {
  /*background: #ccc;*/
  color: #8E3E5E;
  text-decoration:underline;
}

.nav ul {
  list-style: none;
  position: absolute;
  top: -999em;
  /*left: -1px;*/
}
.nav li:hover ul,
.nav li.sfHover ul {
  top: 18px;
}
.nav ul li {
  border: 0;
  float: none;
  /*height: 18px;*/
}
.nav ul a {
  border-bottom: 0;
  white-space: nowrap;
  /*height: 18px;*/
}
.nav ul a:hover {
  /*background: #ccc;*/
  color: #8E3E5E;
  
}


.sort_submenu{
	border:1px dotted #8E3E97;
	background-color:white;
}
.sort_submenu_stream{
	border:1px dotted #8E3E97;
	background-color:white;
}.tb7 {
	width: 221px;
	background: transparent url('../images/bg1.png') no-repeat;
	color : #747862;
	height:15px;
	width:90px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}

tr td label{
	font-weight:normal !important;
	color:#333;
	padding-right:10px;
}

/* sorting drop down ends */	