.cf_table {
	border-top: 1px solid #939292; 
	border-right: 1px solid #939292;
	font-size: 12px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.cf_table td {
	padding: 0 13px;
	line-height:26px; 
	border-bottom: 1px solid #939292;
	border-left: 1px solid #939292;
	color: #5e6aad;
	background: #fff;
}
.cf_table th {
	background-color: #dcdce6;
	border-bottom: 1px solid #939292;
	border-left: 1px solid #939292;
	line-height: 26px;
	padding: 0 13px;
	font-weight: normal;
	text-align: center;
}

tr.table_footer td{
	background-color: #edecec;
}

tr.table_footer td ,tr.table_footer td a{
	color: #333333;
}

.cf_table_paper{
	font-size: 12px;
	float: right;
}

.cf_table_message{
	font-size: 12px;
	float: left;
}

.cf_table_paper span.current{
	font-weight: bold;
}

.actions_filter_box{
	font-family: Myriad Pro;
	font-size: 12px;
	color: #365581;
	/*border-top: 1px solid #e1e4e7;*/ 
	/*margin-top: 20px;*/
}

/* Filter Style */
#filter_rows .row {
	padding-left: 24px;
	margin: 10px 6px 0;
	vertical-align: middle;
	display: inline-block;
	width: 90%;
}
#filter_rows .row .filter_key,
#filter_rows .row .filter_operator,
#filter_rows .row .filter_val{
	margin-right: 27px;
	width: 167px;
}
#filter_rows .row .filter_val{
	height: 21px;
	margin-right: 10px;
}
#filter_rows .row .button, #filter_rows .row .button a{
	vertical-align: middle;
	display: inline-table;
}
#filter_submits{
	margin: 15px 12px 0px;
	padding-left: 18px;
}
#filter_submits .ui-corner-all{
	
}

.actions_filter_box .filter_action{
	float: right;
}

#filter_rows .row .field_value_body {
	float: left;  
	padding-left:5px; 
	width: 185px;
}

#filter_rows select{
	padding: 2px 0 3px;
	width: 167px;
}

#filter_rows .row .action { 
	float: left; 
	padding-left:5px;
}


#filter_rows .row .operator {
	width: 10%; 
	float: left; 
	padding-left:5px;
}

#filter_results {
	color: #365581;
    font-family: Myriad Pro;
    font-size: 14px;
    margin: 5px 0 0 30px;
}

#div_action button{
	margin-right: 1em;
}

.filter_date_value_content .hasDatepicker{
	width: 149px !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

.filter_box
{
	/*border-bottom: 1px solid #E1E4E7;	*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding:5px;
	
	/*background: #FFFFFF url(images/animated-overlay.gif) 50% 50% repeat ;
	opacity: .3;
	filter: Alpha(Opacity=30);	*/
}

.filter_action a, .filter_action a:link, .filter_action a:hover, .filter_action a:visited, .filter_action a:active {text-decoration: underline; color: #365581;}
.filter_action a:hover, .filter_action a:active {text-decoration: none; color: #365581;}

.cf_table a, .cf_table a:link, .cf_table a:hover, .cf_table a:visited, .cf_table a:active {text-decoration: underline; color: #365581;}
.cf_table a:hover, .cf_table a:active {text-decoration: none; color: #365581;}
