.cf_table {
	box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.2);
	font-size: 12px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.cf_table td {
	padding: 0 13px;
	line-height:26px;
	border-left: 1px solid #939292;
	/*
background: #fff; */
	

	color: #5e6aad;
	
}
.cf_table th {
	background: #FFF url("images/table_header.png") repeat scroll 50% 50%;
	border-bottom: 1px solid #ccc;
	color:#fff !important;
	/*font-family: Verdana;*/
    font-size: 13px;
	border-left: 1px solid #ccc;
	line-height: 31px;
	height: 31px;
	font-weight: normal;
	padding-left:10px;
	text-align:left;
}
.cf_table th a{
	color:#fff !important;
	/*font-family: Verdana;*/
    font-size: 13px;
}
tr.table_footer{
	background: url("images/table_footer.png") repeat scroll 50% 50%;
	height:48px;
}
tr.table_footer td ,tr.table_footer td a{
	color: #333333;
}

.cf_table_paper{
	font-size: 12px;
	float: right;
}

.cf_table_message{
	font-size: 12px;
	float: left;
}

.cf_table_paper span.current{
	font-weight: bold;
}

.actions_filter_box{
	/*font-family: Verdana;*/
	font-size: 13px;
	color: #fff;
	text-transform:uppercase;
	background: #FFFFFF url(images/filter_header.png) 50% 50% repeat;
	height:31px;
	line-height:31px;
	padding-left:11px;
	/*border-top: 1px solid #e1e4e7;*/ 
	/*margin-top: 20px;*/
	background-color:##0099cc; 
	border-bottom: 2px solid ##FF6633;
	line-height:27px; 
	padding-left:10px; 
	text-transform:uppercase; 
	border-radius:8px 8px 0 0;
}

/* Filter Style */
#filter_rows{
	padding:17px 9px 15px 12px;
}
#filter_rows .row {
	margin:0 0 5px !important;
	padding:5px 6px 5px 4px;
	height:27px;
	width:1037px;
	border-radius:4px;
	background:#E8F4FC;
	vertical-align: middle;
	display: inline-block;
}
#filter_rows .row .filter_key,
#filter_rows .row .filter_operator,
#filter_rows .row .filter_val{
	float: none;
	margin-right: 27px;
	min-width: 188px;
	font-size:1em;
	height:2.5em;
	text-overflow: ellipsis;
}
#filter_rows .row .filter_val{
	height: 2.5em;
	margin-right: 10px;
	margin-top:1px;
}
#filter_rows .row .button, #filter_rows .row .button a{
	vertical-align: middle;
	display: inline-table;
}
#filter_submits{
	background: #FFFFFF url(images/filter_footer.png) 50% 50% repeat;
	height:48px;
	margin:0; 
	border-top:3px solid ##0099cc; 
	padding-right: 10px;
	border-top: 3px solid #46A6DD;
}
.filter_submit_btn{
	float:right;
	height:31px;
	margin-top:10px;
	margin-right:6px;
}
.filter_btn{
	background: -moz-linear-gradient(center top , #46a6dd, #46a6dd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0888D1;
    border-radius: 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font: 14px/100% "Verdana",Regular,sans-serif;
    outline: medium none;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: baseline;
    width: auto;
}
.filter_btn:hover{
	background: #0888D1;
}
#filter_submits .ui-corner-all{
	
}

.actions_filter_box .filter_action{
	float: right;
	margin-right:10px;
}

.actions_filter_box .filter_action img{
	line-height:31px;
}

#filter_rows .row .field_value_body {
	float: left;  
	padding-left:5px; 
	width: 185px;
}

#filter_rows select{
	padding: 2px 0 3px;
	width: 188px;
	height: 2.5em;
	text-overflow: ellipsis;
}

#filter_rows .row .action { 
	float: right;margin-right:5px;margin-top: 6px;
}


#filter_rows .row .operator {
	width: 10%; 
	float: left; 
	padding-left:5px;
}

#filter_results {
	color: #365581;
    /*font-family: Myriad Pro;*/
    font-size: 14px;
    margin: 5px 0 0 30px;
}

#div_action button{
	margin-right: 1em;
}

.filter_date_value_content .hasDatepicker{
	width: 149px !important;
}
.filter_value_error,
.filter_date_value_error{
	display: none;  color: red;
}
.filter_date_val{
	width:100px; height:20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.mleft5
{
	margin-left:5px;
}

.filter_box
{
	border: 1px solid #E1E4E7;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
	width:100%;
	border-radius:8px 8px 0 0;
	/*background: #FFFFFF url(images/animated-overlay.gif) 50% 50% repeat ;
	opacity: .3;
	filter: Alpha(Opacity=30);	*/
}

.filter_action a, .filter_action a:link, .filter_action a:hover, .filter_action a:visited, .filter_action a:active {text-decoration: underline; color: #365581;}
.filter_action a:hover, .filter_action a:active {text-decoration: none; color: #365581;}

.cf_table a, .cf_table a:link, .cf_table a:hover, .cf_table a:visited, .cf_table a:active {text-decoration: underline; color: #365581;}
.cf_table a:hover, .cf_table a:active {text-decoration: none; color: #365581;}

.th_table{
	/*font-family:Verdana;*/ color:##ffffff;border-bottom: 2px solid ##FF6633;background-image:url('#rootUrl#/#PublicPath#/images/backgroud_table.jpg');
}

.td_table{
	height:46px;margin:0; border-top:3px solid ##0099cc; padding-right: 10px;background-image:url('#rootUrl#/#PublicPath#/images/backgroud_bottom_table.jpg');
}

#filter_rows .filter_row{
	padding-top:4px; background-color:##e8f4fc; width:99%;border-radius: 5px; height:auto;
}

.filter_key{
	height:28px; float: left; display:none;	
}

.img32_32{
	height: 34px!important;
    width: 34px!important;
}

.filter_title{/*font-family:Verdana; */color:##ffffff;}
