
.container
{
	width:100%;
}

#headContent {
    background-color: #FFFFFF;
    height: 60px;
}

#headContent ul {
    float: right;
    margin: 15px 20px 0 0;
}

#headContent ul li {
    display: inline;
    list-style: none outside none;
    padding: 0 2px;
}
#leftMenu {
    border: 1px solid;
    width: 180px;
	display:inline-block;
	float:left;
}

#leftMenu a{
	color:#2059AE;
}

#leftMenu ul {
    list-style-type: none;
    padding-left: 0px;
}

#leftMenu ul li:hover{
    background-color: #95BCF2;
}

#leftMenu ul li{
    padding-left:10px;
}
.menu-icon {
    padding-right: 20px;
}

#log_menu {
    padding-left: 20px;
}

#innertube {
    margin: 0 30px 0 25px;
    padding: 14px 0;
}

#maincontent{
	display:inline-block;
	vertical-align:top;
	float:left;
}
.filterButton {
    background: -moz-linear-gradient(center top , #2484C6, #2484C6) repeat scroll 0 0 transparent;
    border: 1px solid #0076A3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px #9A9A9A;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font: 14px/100% "Verdana",geneva,sans-serif;
    margin: 5px 2px;
    outline: medium none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: baseline;
    width: auto;
}
.filterButton:hover {
    background: -moz-linear-gradient(center top , #0095CC, #00678E) repeat scroll 0 0 transparent;
}

#btnReset {
	
}

