@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body 
{
	background-color:#f9f9f9;	
	font-family:Helvetica, Arial, sans-serif;	
}
#main {
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	
	color:#424242;
}
#content {
	width:970px;
	min-height:137px;
	padding-top: 10px;
	margin:0;
	border:0px solid;
	border:0px solid;
}
#content1 {
	width:970px;
	height:137px;	
	padding-top: 10px;
	margin:0;
	border:0px solid;
	border:0px solid;
}

#contentm1 {
	width:970px;
	height:auto;	
	padding-top: 10px;
	margin:0;
	border:0px solid;
	border:0px solid;
}


#content li, #content1 li, #contentm1 li
{
	margin:8px;	
}
		
.contentslid {/*width:970px;*/
	height:auto;
	margin:0;
	border:0px solid;
	padding-top: 10px;
}
#contentmenu {
	width:970px;
	height:auto;
	border:0px solid;
}
#contentfooter {
	width:905px;
	height:auto;
	padding:0;
	margin-left:65px;
	border:0px solid;
}
#contentblue {
	width:970px;
	height:auto;
	padding:0;
	margin:0;
	border:0px solid;
	border:0px solid;
}
#logotop {
	width:970px;
	height:75px;
	padding:0;
	margin:0;
	border:0px solid;
}
#logo {
	width:470px;
	margin-top:10px;
	border:0px solid;
	float:left;
	text-align:left;
}
#toll-icon {
	width:35px;
	height:36px;
	margin-top:58px;
	border:0px solid;
	float:left;
	margin-left: 288px;
	background-image:url(../images/ebm_i_main/toll-icon.png);
	background-repeat:no-repeat;
}
#tollfree {
	width:176px;
	margin-top:23px;
	border:0px solid;
	float:left;
	
	font-size:26px;
	color:#0085c8;
	height:25px;
	font-weight:normal;
}

#SignInSectionTop{
	width:186px;
	margin-top:10px;
	margin-left:200px;
	border:0px solid;
	float:left;	
	height:25px;
	font-weight:normal;
	display:block;
	postion:relative;
}

#SignInSectionTopBar{
	width:186px;
	margin-top:10px;
	margin-left:20px;
	border:0px solid;
	float:left;	
	height:25px;
	font-weight:normal;
	postion:relative;
	display:none;
}

.BlueTextLink
{	
	color: #0085c8;
	
	font-size:12px;
	text-decoration:none;	
	display:inline;
	margin-left:15px;
}

.BlueTextLink i {
    margin-right: 5px;
}


.BlueTextLink:hover
{	
	color: #495FB5;
}

.GreyTextLink
{	
	color: #f4f4f4;
	
	font-size:12px;
	text-decoration:none;	
	display:inline;
	margin-left:15px;
}

.GreyTextLink i {
    margin-right: 5px;
}


.GreyTextLink:hover
{	
	color: #FFFFFF;
}


#slidecontainermain {
	width:970px;
	height:450px;
	padding:0;
	border:0px solid;
	text-align:center;	
	position:relative;
	/*background:#0085C6;*/
	background:none;
}

#slideimage {
	width:970px;
	height:425px;
	padding:0;
	border:0px solid;
	text-align:center;
	/*background:#0085C6;*/
	background:none;
}


.panel, .flip {
	text-align:center;
	width:67px;
	height:24px;
	color:#FFF;
}
.panelfull {
	width:100%;
	background:#0071BC;
	color:#FFF;
	height:auto;
}
.panel {
	/*padding:50px;
*/display:none;
	height:auto;
	width:100%;
	/*background:#0071BC;
*/color:#FFF;
	box-shadow: 0px 3px 5px #939598;
}
#menu1panel, #menu1flip {
	text-align:center;
	width:130px;
	height:34px;/*padding-top:16px;
*/}
.menufull {
	width:100%;
	background:#0099cc;
	color:#FFF;
	height:150px;
}
#menu1panel1 {
	display:none;
	height:auto;
	width:100%;
	/*padding-top:10px;
*/color:#FFF;
	box-shadow: 0px 3px 5px #939598;
}
#menu2panel2, #menu2flip {
	text-align:center;
	width:146px;
	height:34px;
}
#menu2panel2 {
	display:none;
	color: #FFFFFF;
	height: 80px;
	/*    padding-top: 10px;
*/    width: 100%;
}
#menu3panel3, #menu3flip {
	text-align:center;
	width:113px;
	height:34px;
}
#menu3panel3 {
	display:none;
	color: #FFFFFF;
	height: 80px;
	/*    padding-top: 10px;
*/    width: 100%;
}
#menu4panel4, #menu4flip {
	text-align:center;
	width:44px;
	height:34px;
}
#menu4panel4 {
	display:none;
	color: #FFFFFF;
	height: 80px;
	/*    padding-top: 10px;
*/    width: 100%;
}
#menu5panel5, #menu5flip {
	text-align:center;
	width:60px;
	height:34px;
}
#menu5panel5 {
	display:none;
	color: #FFFFFF;
	height: 80px;
	/*    padding-top: 10px;
*/    width: 100%;
	box-shadow: 0px 3px 5px #939598;
}
#toolmain {
	width:970px;
	height:auto;
}
#toolheader {
	width:970px;
	height:42px;
	color:#F8853B;
	font-size:28px;
	padding-top:15px;
	text-align:center;
	font-weight:normal;
	text-wrap:none;
	white-space:nowrap;
}
#toolimagemain {
	width:734px;
	height:250px;
	float:left;
	margin-left:127px;
}
.toolimage {
	width:191px;
	height:217px;
	float:left;
	padding-top:30px;
}
.toolimage a:hover {
	width:191px;
	height:217px;
	float:left;
	padding-top:30px;
	background-image:url(../images/m1/targetover.png);
	background-repeat:no-repeat;
}
.diverimage {
	width:56px;
	height:47px;
	float:left;
	background-image:url(../images/ebm_i_main/divider.png);
	background-repeat:no-repeat;
	margin-top:100px;
	margin-left:10px;
	margin-right:10px;
}
.hover-create {
	width:191px;
	height:190px;
	float:left;
	padding-top:30px;
	margin-top: 27px;
	background-image:url(../images/m1/target.png);
	background-repeat:no-repeat;
	cursor:pointer;
	cursor:hand;
}
#createclick {
	width:191px;
	height:190px;
	float:left;
	padding-top:30px;
	display:none;
}
.createpopup {
	height:108px;
	width:180px;
	display:none;
	background-image:url(../images/ebm_i_main/Create-popUp.png);
	background-repeat:no-repeat;
	padding-top:10px;
}
.hover-collect {
	width:191px;
	height:190px;
	float:left;
	padding-top:30px;
	margin-top: 27px;
	background-image:url(../images/m1/engage.png);
	background-repeat:no-repeat;
	cursor:pointer;
	cursor:hand;
}
#createclick1 {
	width:191px;
	height:190px;
	float:left;
	padding-top:30px;
	display:none;
}
.createpopup1 {
	height:108px;
	width:180px;
	display:none;
	background-image:url(../images/ebm_i_main/Create-popUp.png);
	background-repeat:no-repeat;
	padding-top:10px;
}
.hover-analyze {
	width:191px;
	height:190px;
	float:left;
	padding-top:30px;
	margin-top: 27px;
	background-image:url(../images/m1/deliver.png);
	background-repeat:no-repeat;
	cursor:pointer;
	cursor:hand;
}
#createclick2 {
	width:191px;
	height:190px;
	float:left;
	padding-top:30px;
	display:none;
}
.createpopup2 {
	height:108px;
	width:180px;
	display:none;
	background-image:url(../images/ebm_i_main/Create-popUp.png);
	background-repeat:no-repeat;
	padding-top:10px;
}
#servicemain {
	width:970px;
	height:auto;
	float:left;
}
#serviceheader {
	color:#F8853B;
	font-size: 30px;
	/*letter-spacing:1px;*/
	text-align:center;
	min-height: 50px;
	margin-bottom: 20px;
	margin-top: 27px;
	width: 860px;
}
#serviceimagemain {
	width:890px;
	height:auto;
	float:left;
	margin-left:41px;
}
.serviceimage {
	width:250px;
	height:163px;
	float:left;
	background-image:url(../images/ebm_i_main/fpo.png);
	background-repeat:no-repeat;
	background-position:center;		
	text-align:left;
}

.serviceimagefull {
	width:250px;
	height:163px;
	float:left;
	background-image:url(../images/ebm_i_main/wb_full_serv_web.png);
	background-repeat:no-repeat;
	background-position:center;		
	text-align:left;
}

.serviceimageself {
	width:250px;
	height:163px;
	float:left;
	background-image:url(../images/ebm_i_main/wb_self_serv_web.png);
	background-repeat:no-repeat;
	background-position:center;		
	text-align:left;
}

.serviceimagehybrid {
	width:250px;
	height:163px;
	float:left;
	background-image:url(../images/ebm_i_main/wb_hybrid_web.png);
	background-repeat:no-repeat;
	background-position:center;		
	text-align:left;
}

.serviceimageinner
{
	width:100%;	
	margin-top: 10px;
	padding:10px;	
}

.diverimagesevice {
	width:2px;
	height:192px;
	float:left;
	margin-left:16px;
	background-color:#F8853B;
	margin-right:16px;
}
#servicemainline {
	width:99.8%;
	min-width: 1200px;
	float:left;
	border:1px solid #0085c8;
}

#servicesubline {
	width:500px;
	text-align:center;
	border:1px dashed #333;
	clear:both;
}

#footertopline {
	width:99.8%;
	float:left;
	border:1px solid #F8853B;
	margin-top: -5px;
}
#footerfull {
	width:100%;
	min-width:1200px;	
	float:left;
	border:0px solid #F8853B;
	height:auto;
	background:#606060;
}
.firstcontentbox {
	width:250px;
	height:auto;
	border:0px solid;
	float:left;
	margin-left:22px;
	margin-right:22px;
	margin-bottom:22px;
}
.contentheadertitle {
	width:250px;
	height:auto;
	border:0px solid;
	float:left;/* padding-bottom:10px;*/
	font-size:16px;
	font-weight:bold;
	color:#F8853B; /*letter-spacing:1px;*/
	margin-bottom:8px;
}
.contentheadertitle a {
	color:#F8853B;
	text-decoration:none;
	font-weight:normal;
}
.contentheadercontent {
	width:230px;
	height:auto;
	border:0px solid;
	float:left;
	padding-top:15px;
	padding-bottom:30px;
	text-align:left;
	padding-left:19px;
	padding-right:10px;
	/*letter-spacing:1px;*/ line-height:16px;
	font-size:13px;
	font-weight:normal;
}
#footer {
	width:970px;
	height:190px;
	;
	float:left;
	background:#606060;
}
#footermain {
	width:970px;
	height:auto;
	float:left;
}
.footertop {
	width:265px;
	height:auto;
	border:0px solid;
	float:left;
	margin-left:25px;
	margin-right:15px;
	text-transform:uppercase;
}
.footerheader {
	width:200px;
	height:23px;
	border:0px solid;
	float:left;
	padding-top:30px;
	color:#FFF;
	text-align:left;
	font-size:16px;
	padding-bottom:10px; /*letter-spacing:1px;*/
}
.footercontent {
	width:265px;
	height:23px;
	border:0px solid;
	float:left;
	color:#FFF;
	text-align:left;
	font-size:10px; /*letter-spacing:1px;*/
}
.footercontent a {
	color:#FFF;
	text-decoration:none;
}
.footercontent a:hover {
	color:#F8853B;
	text-decoration:none;
}
#login-bg {
	width:175px;
	height:195px;
	float:right;
	background-color:#2cb8e7;
	margin-right: 11px;
	margin-top: 8px;
}
.login-text {
	font-size:18px;
	text-align:center;
	text-transform:uppercase;
	color:#FFF;
	padding-top:18px;
}
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% "Helvetica", Arial, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	/*position: relative;*/
	/*top: 1px;*/
}
.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
.orange {
	color: #495fb5;
	border: solid 1px #e5a027;
	font-size:14px;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcc11f), to(#fcc11f));
	background: -moz-linear-gradient(top, #fcc11f, #fcc11f);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcc11f', endColorstr='#fcc11f');
	margin-top: 17px;
}
.orange:hover {
	color: #fff;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#eca030), to(#eca030));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eca030', endColorstr='#eca030');
}
.orange:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eca030', endColorstr='#eca030');
}
#inner-bg {
	width:100%;
	min-height:577px;
	background-color:#f8f8f8;
	padding-top: 6px;
	padding-bottom:25px;
	float:left;
}

#inner-bg-alt {
	width:100%;
	min-height:577px;
	background-color:#FFFFFF;
	padding-top: 6px;
	padding-bottom:25px;
	float:left;
}

#inner-bg-min {
	width:100%;	
	background-color:#f8f8f8;
	padding-top: 6px;
	padding-bottom:25px;
	min-width:1200px;	
}

#inner-bg-m1 {
	width:100%;	
	background-color:#f9f9f9;
	padding-top: 20px;
	padding-bottom:0px;
	float:left;
}

.inner-row
{
	text-align:left;	
}

.inner-row:after 
{
    clear: both;
}

.inner-row:before, .inner-row:after
{
    content: "";
    display: table;
    line-height: 0;
}

.inner-row h2
{
    font-size: 14px;
    font-weight:bold;
    line-height: 23px;
    margin-bottom: 20px;
}

.inner-row p
{
	color: #424242;   
    font-size: 13px;
    font-weight: normal;  
    line-height: 18px;
    margin-top: -13px;
    text-align: left;  
    margin-bottom: 0.5em;
}

.inner-offset1 
{
    margin-left: 130px;
}

.inner-span 
{
    width: 270px;
	display:inline;
	float: left;
	margin-left: 30px;
    min-height: 1px;
}

.inner-headline 
{
    margin: 25px 5px 5px 5px;
	text-align: left;  	
}


#inner-box {
	width:550px;
	height:auto;
	float:left;
	margin-left:10px;
}

#inner-box-left {
	width:550px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-bottom:20px;
}

#inner-box-right {
	width:550px;
	height:auto;
	float:right;
	margin-left:10px;
}

#inner-box1 {
	width:550px;
	height:auto;
	float:left;
	margin-left:56px;
}
.inner-main-hd {
	width:550px;
	color:#0085c8;
	font-size:30px;
	text-align:left;
	/*letter-spacing:2px;*/
	font-weight:normal;
	padding-top:21px;
	padding-bottom:20px;
	float:left;
}

.inner-main-full {
	width:100%;
	color:#0085c8;
	font-size:30px;
	text-align:left;
	/*letter-spacing:2px;*/
	font-weight:normal;
	padding-top:21px;
	padding-bottom:20px;
	float:left;
}

.inner-main-hd-right {
	width:550px;
	color:#0085c8;
	font-size:30px;
	text-align:left;
	/*letter-spacing:2px;*/
	font-weight:normal;
	padding-top:21px;
	padding-bottom:20px;
	float:right;
}

#inner-left-img {
	float:left;
	min-height:400px;
	margin-top: 60px;
}
#inner-left-img1 {
	width:300px;
	height:615px;
	float:left;
	margin-top: 67px;
}

#inner-right-img {
	float:right;
	min-height:400px;
	margin-top: 60px;
}

#inner-right-img1 {
	width:300px;
	height:615px;
	float:left;
	margin-top: 67px;
}

#inner-box-left ul, .inner-txt-full ul
{
	margin-top: 10px;	
	margin-bottom:10px;
}

#inner-box-left ul li, .inner-txt-full ul li
{
	margin-left: 65px;	
	margin-bottom:10px;
}

#inner-content-list ul > li
{ 
	list-style-type:none; 
	display:block; 
	text-align: left;
	font-weight:normal;	
	margin-left:365px;
}

/*padding-left:20px; color:#fff; background:#0085c8;}*/

.inner-txt {
	width: 550px;
	height:auto;
	font-size:13px;
	
	text-align: left;
	font-weight:normal;
	float:left;
	text-align:left;
	/*letter-spacing:1px;*/
	line-height:18px;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#424242;
}

.inner-txt-full {
	width: 970px;
	height:auto;
	font-size:13px;
	
	text-align: left;
	font-weight:normal;
	float:left;
	text-align:left;
	/*letter-spacing:1px;*/
	line-height:18px;
	margin-top: -13px;
	color:#424242;
}

.phonemain {
	width:603px;
	height:90px;
	float:left;
	margin-top:10px;
}
#phone-icon {
	width:55px;
	height:auto;
	background-image:url(../images/ebm_i_main/phone.png);
	background-repeat:no-repeat;
	padding-top:40px;
	margin-top:10px;
	float:left;
}
.phone-txt {
	text-align: left;
	width: 491px;
	padding-top:10px;
	height:auto;
	margin-left:65px;
}
.phoneheading {
	
	font-weight:normal;
	text-align: left;
	float:left;
	}
#mobile-icon {
	width:50px;
	height:auto;
	background-image:url(../images/ebm_i_main/mobile.png);
	background-repeat:no-repeat;
	margin-top:10px;
	padding-top: 59px;
	float:left;
}
.mobile-txt {
	
	width: 512px;
	line-height: 16px;
	float:left;
	height:auto;
	text-align:left;
	font-size:13px;
}

.inner-icon-txt {
	
	width: 450px;
	line-height: 16px;
	float:left;
	height:auto;
	text-align:left;
	font-size:13px;
}

.learnmore {
	text-align:left;
	font-size:14px;
	float:left;
	width:100px;
	color:#F8853B;
}
.learnmore a {
	color:#F8853B;
	text-decoration:none;
}
#mail-icon {
	width:56px;
	height:auto;
	background-image:url(../images/ebm_i_main/mail.png);
	background-repeat:no-repeat;
	margin-top:10px;
	padding-top: 59px;
	float:left;
}
.mail-txt {
	
	padding-right: 235px;
	text-align: left;/*letter-spacing: 1px;*/
	}
#mail2-icon {
	width:56px;
	height:auto;
	background-image:url(../images/ebm_i_main/mail2.png);
	background-repeat:no-repeat;
	margin-top:10px;
	padding-top: 59px;
	float:left;
}
.mai2-txt {
	
	padding-right: 235px;
	text-align: left;/*letter-spacing: 1px;*/
	}
#divider {
	width:100%;
	height:3px;
	background-color:#0085c8;
	margin-top: 14px;
	float:left;
	min-width: 1200px;
}
#blue-box {
	width:100%;
	min-width: 1200px;
	height:130px;
	background-color:#0085c8;
	margin-top: 14px;
	float:left;
}
#blue-box-text {
	width:970px;
	height:120px;
	color:#FFF;
	font-size:30px;
	text-align:left;
	line-height: 37px;
	padding-top: 20px;
	padding-left: 28px;
}
#plan-box {
	width:960px;
	height:auto;
	margin-top:30px;
	float:left;
	margin-left:10px;
}
#plan-img {
	background-image: url("../images/ebm_i_main/plan.png");
	background-repeat: no-repeat;
	float: left;
	height: 50px;
	padding-left: 75px;
	text-align: left;
	width: 886px;
}
.plan-txt-hd {
	
	color:#f98538;
	font-size:30px;/*letter-spacing:2px;*/
	
	}
.plan-txt {
	width:885px;
	height:auto;
	
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	float:left;
	text-align: left;
	padding-bottom:22px;
	/*letter-spacing:1px;*/
	line-height:16px;
	padding-left:75px;
}
.plan-line1 {
	width:241px;
	height:28px;
	background-color:#bfbfbf;
	float:left;
	margin-left:8px;
}
.plan-line2 {
	width:645px;
	height:28px;
	background-color:#bfbfbf;
	margin-left:4px;
	float:left;
}
.plan-line3 {
	width:241px;
	height:28px;
	background-color:#eaeaea;
	float:left;
	margin-left:8px;
}
.plan-line4 {
	width:645px;
	height:28px;
	background-color:#eaeaea;
	margin-left:4px;
	float:left;
}
#datatable {
	width:100%;
	height:auto;
	float:left;
	padding-bottom:60px;
	padding-left: 75px;
}
#plan1 {
	width:100%;
	height:auto;
}
#end-footer {
	width:100%;
	height:7px;
	float:left;
	background-color:#FFF;
}
#copyright {
	width:877px;
	height:25px;
	float:left;
	text-align:center;
	text-decoration:none;
	font-size:11px;
	color:#FFF;
	background:#606060;
	/*letter-spacing:1px;*/
}
input {
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
	padding: 3px 8px;
	margin-bottom: 8px;
	width: 164px;
}

h1 
{
	font-size:42px;
	font-weight:200;
}

h2 
{
	font-size:24px;
	font-weight:700;
}

h3 
{
	font-size:18px;
	font-weight:200;
}

h4 
{
	font-size:14px;
	font-weight:200;
}

h5 
{
	font-size:18px;
	font-weight:700;
}

h6
{
	font-size: 14px;
}

.white {
	color:#FFFFFF;
}
.black {
	color:#000000;
}
.grey {
	color:#CACFCF;
}
.gold {
	color:#F8B500;
}
.red {
	color:#D40F0F;
}
.TextShadowWhite {
	text-shadow: 1px 1px 2px #FFF;
}
.TextShadowGrey {
	text-shadow: 1px 1px 2px #BBB;
}
.TextShadowBlack {
	text-shadow: 1px 1px 2px #000;
}
.inline {
	display:inline;
}

.parameter {	
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    padding: 8px 8px;
}

.parameter:hover {
   background-color: #F8F8F8;
}

.parameter .param {
    color: #333333;
    display: block;
    float: left;
    font-weight: bold;
    width: 220px;
}

.parameter .param span {
    color: #999999;
    display: block;
    font-weight: normal;
}

.parameter p {
    margin-left: 220px;
}

div.field {
    margin-bottom: 2em;
}

div.field h2 {
    margin-bottom: 0.5em;
}

h2, legend, caption {
    font-size: 1.3em;
    font-weight: 500;
}

.ServicesText
{
	color: #0085C8;
	font-size: 12px;		
}

#homeimage 
{
	padding:0;
	border:none;
	height:450px;
	width:100%;
	min-width:1200px;	
	background: rgb(51,182,234); 
	background-size: 100% 900px;
	background-attachment: fixed; 	
	background-repeat:no-repeat;
	
}

#bannersection {
    background: none;
    border: none;
    height: 300px;
    margin-top: 5px;
    padding: 0;
}


#PreLoadMask
{
	position:absolute;
	height:100%;
	width:100%;
	
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 1.0;
	background-color:#f3f3f3;
	display:inline-block; 
	z-index:10000;

}

#PreLoadIcon
{
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;			
}

#PreLoadIcon p 
{
	color: #999;
	text-align: center;
	margin: 0 0 10px;
}

.section-title-content 
{
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}

.section-title-inner 
{
	display: inline-block;
}

.section-title-inner:before {
	background: none repeat scroll 0 0 #f8853b;
	bottom: 20px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 30%;
}

.section-title-inner:after {
	background: none repeat scroll 0 0 #f8853b;
	bottom: 20px;
	content: "";
	height: 1px;
	position: absolute;
	right: 0;
	width: 30%;
}

.section-title-inner-wide 
{
	display: inline-block;
}

.section-title-inner-wide:before {
	background: none repeat scroll 0 0 #f8853b;
	bottom: 20px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 25%;
}

.section-title-inner-wide:after {
	background: none repeat scroll 0 0 #f8853b;
	bottom: 20px;
	content: "";
	height: 1px;
	position: absolute;
	right: 0;
	width: 25%;
}


.section-title-inner-full 
{
	display: inline-block;
}

.section-title-inner-full:before {
	background: none repeat scroll 0 0 #f8853b;
	bottom: 20px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 15%;
}

.section-title-inner-full:after {
	background: none repeat scroll 0 0 #f8853b;
	bottom: 20px;
	content: "";
	height: 1px;
	position: absolute;
	right: 0;
	width: 15%;
}

.section-title-inner h2, .section-title-inner-wide h2, .section-title-inner-full h2
 
{	
	background: none;
    color: #122664;    
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;	
	font-weight: bold;	
}

.section-title-inner p, .section-title-inner-wide p, .section-title-inner-full p
{
	background: none;
    color: #888888;    
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}


h2.super 
{
	color: #0085c8;
	font-size: 22px;
	font-weight: normal;
	padding-bottom: 8px;
}


#contentm1 img
{
	margin: 15px 0;
	float:left;		
}

.header-content 
{
	color: #858585;
	font-size: 18px;
	padding-top: 10px;
	width: 480px;
	float:left;
	text-align:left;
}


.round
{
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	border: 2px solid #0085c8;
}
	

.hiw_Info
{
	color: #444;
	font-size: 18px;
	text-align:left;	
}
	
	
#inner-box-left ul 
{
	margin-top: 10px;	
	margin-bottom:10px;
}

#inner-box-left ul li
{
	margin-left: 65px;	
	margin-bottom:10px;
}

.transpacer
{
	min-height: 50px; 
	padding: 100px 0;
	clear:both;
	width:100%;
	position:relative;
}

.blue-mask 
{
	background: #003;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
}

.inner-transpacer-hd 
{
	margin: auto 0; 
	max-width:950px;
	color:#fff;
	text-align:center;
	padding:20px;
	border-radius:15px;
	background-color:rgba(0,0,51,0.5);	
	font-size:36px;
	text-transform:uppercase;
}

.learnmore {
    color: #F8853B;
    display: block;
    float: none;
    font-size: 14px;
    text-align: left;
    width: 500px;
}


	