.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#ece9d8; border-bottom:1px solid #ddd;color:#000;
    border-radius:15px;
}
.qq-upload-button-hover {background:#b3fbfb;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list { margin:15px; width:500px}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;list-style: none;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 15px;
    bottom:3px;
    position:relative;
    font-weight:bold;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}

.qq-upload-size {
	font-size:11px;
	margin-left:10px
}
.qq-upload-cancel{
	font-size:11px;
	margin-left:10px;
	cursor: pointer;
	text-decoration: underline;	
}
.qq-upload-cancel:hover{
	color:red;	
}
.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
#qq-progress-bar {
    width: 60%;
}
#uploadFileControl {
	margin-top:10px
}
