
/**
 * style
 */
.clear
{
	clear: both;
}
/**
 * icon 25x25
 */
.campaign_running
{
	background: url(images/new_icons/campaign_running.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.campaign_not_running
{
	background: url(images/new_icons/campaign_not_running.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.run_25_25
{
	background: url(images/new_icons/run.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.stop_25_25
{
	background: url(images/new_icons/stop.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.cancel_25_25
{
	background: url(images/new_icons/cancel.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.schedule_25_20
{
	background: url(images/new_icons/schedule.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.Report_25_20
{
	background: url(images/new_icons/responses.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.View_25_20
{
	background: url(images/new_icons/view.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.Preview_25_25
{
	background: url(images/new_icons/preview.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.edit_25_25
{
	background: url(images/new_icons/edit.png) no-repeat center;
	height: 25px;
	width: 25px;
}

.template_16_16
{
	background: url(images/icons16x16/edit_16x16.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.delete_25_20
{
	background: url(images/new_icons/delete.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.Launch_25_25
{
	background: url(images/new_icons/launch.png) no-repeat center;
	height: 25px;
	width: 25px;
}

.details_25_25
{
	background: url(images/new_icons/details.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.responses_25_24
{
	background: url(images/new_icons/responses.png) no-repeat center;
	height: 24px;
	width: 25px;
}

.errors_20_25
{
	background: url(images/new_icons/errors.png) no-repeat center;
	height: 25px;
	width: 20px;
}
/**
 * icon 18 18
 */
.img18_18
{
	height: 18px;
	width: 18px;
	cursor: pointer;
}
.add_18_18
{
	background: url(images/icons18x18/add.png) no-repeat center;
}
.check_18_18
{
	background: url(images/icons18x18/check.png) no-repeat center;
}
.api_18_18
{
	background: url(images/icons18x18/api.png) no-repeat center;
}
.minus_18_18
{
	background: url(images/icons18x18/minus.png) no-repeat center;
}
.details_18_18
{
	background: url(images/icons18x18/details.png) no-repeat center;
}
.view_18_18
{
	background: url(images/icons18x18/view.png) no-repeat center;
}
.edit_18_18
{
	background: url(images/icons18x18/edit.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.question_18_18
{
	background: url(images/icons18x18/action_edit_questions.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.schedule_18_18
{
	background: url(images/icons18x18/schedule.png) no-repeat center;
}
.revoke_18_18
{
	background: url(images/icons18x18/btn_revoke_invitation.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.delete_18_18
{
	background: url(images/icons18x18/delete.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.delete2_18_18
{
	background: url(images/icons18x18/delete2.png) no-repeat center;
}

.run_18_18
{
	background: url(images/icons18x18/run.png) no-repeat center;
}
.stop_18_18
{
	background: url(images/icons18x18/stop.png) no-repeat center;
}
.cancel_18_18
{
	background: url(images/icons18x18/cancel.png) no-repeat center;
}

.errors_18_18
{
	background: url(images/icons18x18/errors.png) no-repeat center;
}
.launch_18_18
{
	background: url(images/icons18x18/launch.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.preview_18_18
{
	background: url(images/icons18x18/preview.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.responses_18_18
{
	background: url(images/icons18x18/responses.png) no-repeat center;
}
.campaign_running_18_18
{
	background: url(images/icons18x18/campaign_running.png) no-repeat center;
	height: 18px;
	width: 18px;
}
.campaign_not_running_18_18
{
	background: url(images/icons18x18/campaign_not_running.png) no-repeat center;
	height: 18px;
	width: 18px;
}

.campaign_done_18_18
{
	background: url(images/icons18x18/campaign_done.png) no-repeat center;
	height: 18px;
	width: 18px;
}

.showlog_18_18
{
	background: url(images/icons18x18/btn_logs.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.permission_18_18
{
	background: url(images/icons18x18/btn_permissions.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.changeRole_18_18
{
	background: url(images/icons18x18/btn_roles.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.changeBalance_18_18
{
	background: url(images/icons18x18/btn_money.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.block_user_18_18
{
	background: url(images/icons18x18/acct_suspended.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.active_user_18_18
{
	background: url(images/icons18x18/acct_active.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.add_filter_18_18
{
	background: url("images/icons18x18/plus-white.png") no-repeat scroll center center transparent;
    margin: 0 0 0 6px;
    position: relative;
    bottom: 6px;
}
.delete_filter_18_18
{
	background: url(images/icons18x18/minus-white.png) no-repeat center;
	 margin: 0 0 0 6px;
    position: relative;
    bottom: 6px;
}

.add_filter_30_28
{
	background: url("images/icons18x18/plus-white.png") no-repeat scroll center center transparent;
}
.delete_filter_30_28
{
	background: url(images/icons18x18/minus-white.png) no-repeat center;
}
.img24_24 {
    cursor: pointer;
    height: 24px;
    width: 24px;
}
.img30_28 {
    cursor: pointer;
    height: 28px;
    width: 30px;
}
.response_18_18
{
	background: url(images/icons18x18/responses.png) no-repeat center;
	margin: 0px 3px 0px 3px;
	height: 18px;
	width: 18px;
}
.save_18_18
{
	background: url(images/icons18x18/save.png) no-repeat center;
	margin: 0px 3px 0px 3px;
	height: 18px;
	width: 18px;
}

/**
 * icon 16_16
 */
.img16_16
{
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin: 5px 3px;
}
.add_16_16
{
	background: url(images/icons16x16/add.png) no-repeat center;
}
.check_16_16
{
	background: url(images/icons16x16/check.png) no-repeat center;
}
.api_16_16
{
	background: url(images/icons16x16/api.png) no-repeat center;
}
.minus_16_16
{
	background: url(images/icons16x16/minus.png) no-repeat center;
}
.details_16_16
{
	background: url(images/icons16x16/details.png) no-repeat center;
}
.view_16_16
{
	background: url(images/icons16x16/view.png) no-repeat center;
}
.rename_16_16
{
	background: url(../images/mb/rename.png) no-repeat center;
}

.agent_16_16
{
	background: url(images/icons16x16/agent_16x16.png) no-repeat center;
}

.edit_16_16
{
	background: url(images/icons16x16/edit.png) no-repeat center;
}
.question_16_16
{
	background: url(images/icons16x16/action_edit_questions.png) no-repeat center;
}
.schedule_16_16
{
	background: url(images/icons16x16/schedule.png) no-repeat center;
}
.revoke_16_16
{
	background: url(images/icons16x16/revoke_invitation.png) no-repeat center;
}
.delete_16_16
{
	background: url(images/icons16x16/delete_16x16.png) no-repeat center;
	margin-left: 10px;
}
.delete2_16_16
{
	background: url(images/icons16x16/delete_16x16.png) no-repeat center;
}

.run_16_16
{
	background: url(images/icons16x16/run.png) no-repeat center;
}
.stop_16_16
{
	background: url(images/icons16x16/stop.png) no-repeat center;
}
.cancel_16_16
{
	background: url(images/icons16x16/cancel.png) no-repeat center;
}

.errors_16_16
{
	background: url(images/icons16x16/errors.png) no-repeat center;
}
.launch_16_16
{
	background: url(images/icons16x16/launch.png) no-repeat center;
}
.preview_16_16
{
	background: url(images/icons16x16/preview_survey.png) no-repeat center;
}
.responses_16_16
{
	background: url(images/icons16x16/responses.png) no-repeat center;
}
.campaign_running_16_16
{
	background: url(images/icons16x16/campaign_running.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.campaign_view_progress_16_16
{
	background: url(images/icons16x16/campaign_view_progress.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.campaign_not_running_16_16
{
	background: url(images/icons16x16/campaign_not_running.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.campaign_error_16_16
{
	background: url(images/icons16x16/campaign_error.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.campaign_done_16_16
{
	background: url(images/icons16x16/campaign_done.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.showlog_16_16
{
	background: url(images/icons16x16/view_log.png) no-repeat center;
}
.permission_16_16
{
	background: url(images/icons16x16/permission.png) no-repeat center;
}
.changeRole_16_16
{
	background: url(images/icons16x16/change_role.png) no-repeat center;
}
.changeBalance_16_16
{
	background: url(images/icons16x16/fund.png) no-repeat center;
}

.changeRates_16_16
{
	background: url(images/icons16x16/money_dollar.png) no-repeat center;
}
.changeApiRequest_16_16
{
	background: url(images/icons16x16/api_request.png) no-repeat center;
}
.block_user_16_16
{
	background: url(images/icons16x16/suspend_user.png) no-repeat center;
}
.active_user_16_16
{
	background: url(images/icons16x16/active_user.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.add_filter_16_16
{
	background: url(images/icons16x16/plus-white.png) no-repeat center;
	margin: 0px 0px 0px 6px;
}

.view_group_16_16
{
	background: url(images/icons16x16/view_group.png) no-repeat center;
}

.edit_group_16_16
{
	background: url(images/icons16x16/edit_group.png) no-repeat center;
	margin: 0px 0px 0px 6px;
}

.add_contact_16_16
{
	background: url(images/icons16x16/add_contact.png) no-repeat center;	
}

.delete_contact_16_16
{
	background: url(images/icons16x16/edit_group.png) no-repeat center;
	margin: 0px 0px 0px 6px;
}

.campaign_detail_report_16_16
{
	background: url(images/icons16x16/campaign_detail_report.png) no-repeat center;
}

.campaign_error_report_16_16
{
	background: url(images/icons16x16/campaign_error_report.png) no-repeat center;
	margin: 0px 0px 0px 6px;
}

.delete_filter_16_16
{
	background: url(images/icons16x16/minus-white.png) no-repeat center;
}

.launch_online_survey_16_16
{
	background: url(images/icons16x16/launch_online.png) no-repeat center;
}

.launch_voice_survey_16_16
{
	background: url(images/icons16x16/launch_voice.png) no-repeat center;
}

.launch_email_survey_16_16
{
	background: url(images/icons16x16/launch_email.png) no-repeat center;
}

.preview_online_survey_16_16
{
	background: url(images/icons16x16/preview_online_survey.png) no-repeat center;
}

.preview_voice_survey_16_16
{
	background: url(images/icons16x16/preview_voice_survey.png) no-repeat center;
}

.preview_cpp_16_16
{
	background: url(images/icons16x16/preview_cpp.png) no-repeat center;
}

.active_iframe_16_16
{
	background: url(images/icons16x16/active_iframe.png) no-repeat center;
}

.deactive_iframe_16_16
{
	background: url(images/icons16x16/deactive_iframe.png) no-repeat center;
}

.active_api_access_16_16
{
	background: url(images/icons16x16/active_api_access.png) no-repeat center;
}

.deactive_api_access_16_16
{
	background: url(images/icons16x16/deactive_api_access.png) no-repeat center;
}

.view_contact_16_16
{
	background: url(images/icons16x16/view_contact.png) no-repeat center;
}

.edit_contact_16_16
{
	background: url(images/icons16x16/edit_contact.png) no-repeat center;
}

.delete_contact_16_16
{
	background: url(images/icons16x16/delete_contact.png) no-repeat center;
}

.response_16_16
{
	background: url(images/icons16x16/responses.png) no-repeat center;
}
.save_16_16
{
	background: url(images/icons16x16/save.png) no-repeat center;
}
.preferenceDown{
	background: url(images/icons16x16/bullet_arrow_down.png) no-repeat center;
}
.preferenceUp{
	background: url(images/icons16x16/bullet_arrow_up.png) no-repeat center;
}
.preferenceDelete{
	background: url(images/icons16x16/cross.png) no-repeat center;
}

.information_16_16
{
	background: url(images/icons16x16/information.png) no-repeat center;
}

.cpp_vanity_available_16_16
{
	background: url(images/icons16x16/campaign_done.png) no-repeat center;
	height: 16px;
	width: 16px;
}

.cpp_vanity_unavailable_16_16
{
	background: url(images/icons16x16/cancel.png) no-repeat center;
}

.img24_24 {
    cursor: pointer;
    height: 24px;
    width: 24px;
}