/* CSS Document */

	.awesome div.wrap 
	{
		position: relative; 	 
		margin:15px 0px 15px 0px; 	
	}
			
	.awesome div.wrap label	 
	{
		position: absolute; 
		left: 4px; 
		top: 4px; 
		font-size: 14px; 
		font-weight: 700; 
		width: 260px;
		height: 25px; 
		background: #fff; 
		-webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		z-index: 1; 
		line-height: 27px; 
		color:#000;
	}
	
	.awesome div.wrap label.small	 
	{
		position: absolute; 
		left: 4px; 
		top: -4px; 
		font-size: 11px; 
		font-weight: 700; 
		width: 200px;
		height: 12px; 
		background: #fff; 
		-webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		z-index: 1; 
		line-height: 27px; 
		color:#000;
	}
	
	
	.awesome div.wrap label span
	{
		position: relative; 
		top: 1px; 
		left: 1px; 
    } 
	
	
	.awesome input.input-text 
	{ 
		font-size: 14px; 
		font-weight: 700; 
		padding: 4px 5px;  
		background: none; 
		position: relative; 
		z-index: 3010; 
		width: 315px; 
		min-width:315px;
		height: 25px; 
		min-height: 25px;	
		border-style:inset;
		border-color: #a13e69; 
		color:#000;
	}
	
	.awesome input.input-text-small 
	{ 
		font-size: 11px; 
		font-weight: 700; 
		padding: 2px 5px;  
		background: none; 
		position: relative; 
		z-index: 3010; 
		width: 230px; 
		min-width:230px;
		height: 12px; 
		min-height: 12px;	
		border-style:inset;
		border-color: #a13e69; 
		color:#000;
	}
	
	
	label.overlay div 
	{
	  opacity: 0.4; 
	  -webkit-transition: opacity 200ms linear;
	  z-index: 1;
	}
	
	label.focus div 
	{
		opacity: 0.2;
		z-index: 1;
	}
	
	label.hastext div 
	{
		opacity: 0.0; 
		-webkit-transition: opacity 0ms linear;
		display:none;
		z-index: 1;
	}



