/* CSS Document */

#UploadNewRecording{
margin:0 5;
width:450px;
padding:5px;
border: none;
display:inline;
}

form label{
display:inline;
font-weight:bold;
text-align:right;
width:250px;
border:none;
}

form label span.small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:250px;
border:none;
}

form input{
font-size:12px;
padding:4px 2px;
border:1px solid #CCC;
margin:2px 0 20px 10px;
display:inline;
}

form input.long400{
width:450px;!important
}

form button {
margin:2px 0 20px 10px;
font-size:12px;
padding:4px 2px;
}

form button:hover{
margin:2px 0 20px 10px;
font-size:12px;
padding:4px 2px;
cursor:pointer;
}



div.left {
	float:left;
	width:20%;
}

div.right {
	float:left;
}

p.mainRow {
	background-color:#FFFF99;
	cursor:pointer;
}

.hide {
	display: none;
}

.show {
	display: inline;
}
.clear
{
	clear: both;
}

