/* CSS Document */

* 
{
	font-family:Myriad Web Pro, Arial, Helvetica, sans-serif;
	text-decoration:none;
}


body
{
	background: #fff;
	/*-o-transform-origin:0% 0;
	-moz-transform-origin:0% 0;
	-o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);*/
}
p.copy{
	padding-bottom: 6px;	
}
h3
{
	color: #800;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}

h4
{
	color: #800;
	font-size: 14px;
	/*border-bottom: 1px dotted #800;*/
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}
h5 {
	color: #800;
	font-size: 11px;
	font-style: italic;
	padding-bottom: 5px;
}
a.voteupdaownA {
	display:inline;
}

a.voteupdaownA:hover {
	display:inline;
}

a{
font-size:11px;
font-weight:normal;
color:#999988;
margin:0;
display:block;
text-decoration:none;
}

a:hover{
font-size:11px;
font-weight:normal;
color:#999988;
margin:0;
display:block;
text-decoration:underline;
cursor:pointer;
}

.lista{
font-size:10px;
font-weight:normal;
color:#999988;
margin:0;
display:inline;
text-decoration:none;
min-width:50px;
width:50px;
overflow:hidden;
}

.lista:hover{
font-size:10px;
font-weight:normal;
color:#999988 !important;
margin:0;
display:inline;
text-decoration:underline !important;
cursor:pointer;
min-width:50px;
width:50px;
overflow:hidden;
}


p{
font-size:11px;
margin-bottom:2px;
margin-left:0;
border-bottom:none;
}

label{
display:inline;
font-weight:bold;
text-align:right;
width:100px;
border:none;
margin:2px 0 5px 0px;
}


.BSLinkMenuContainer
{
	display:inline;
	text-align:left;
	font-weight:bold;
	width:100%;
}

.BSLinkMenu
{
	display:inline;
	text-align:left;
}

#BSHeader
{
	background: url(../images/mb/ban-nav.jpg) repeat-x scroll 0 0 transparent;
	width:100%;
	height:72px;
	min-height:72px;
	min-width:1075px;
}

#BSHeader a{
font-size:11px;
font-weight:normal;
color:#999988;
margin:0;
display:inline;
text-decoration:none;
margin-right: 10px;
border: none;
}



#BSHeader img
{
	border: none;
}


#BSContent
{
	width:1400px;
	min-width:1400px;	
	height:650px;
	min-height:650px;
	margin: 5px auto 0;	
	display:block;
}

#BSContentWide
{
	width:1300px;
	min-width:1300px;	
	height:750px;
	min-height:700px;
	margin: 5px auto 0;	
	display:block;
}

#BSFooter
{	
	width:100%;
	height:72px;
	min-height:72px;
	clear: left;
	margin-top: 5px;
}

#BSHeadCenter
{
	height:72px;
	width:1300px;
	margin: 0 auto;	
}

#BSFooterCenter
{
	height:72px;
	width:1200px;
	margin: 0 auto;	
}
#BSHeadLogo
{
	float:left;
	height:68;
	width:300;	
}

#BSHeadLogin
{
	float:right;
	font-weight:bold;
	font-size:12px;
	height:68;
	width:300;	
	margin: 12px;
	
}


#BSHeadLogin input
{
	width:125;	
	margin: 0 15px 5px 0;	
	font-size:11px;
	font-weight:normal;
	color:#333333;
}


#BSHeadLogin a{
font-size:11px;
font-weight:normal;
color:#999988;
margin:0;
display:inline;
text-decoration:none;
}

#BSHeadLogin a:hover{
font-size:11px;
font-weight:normal;
color:#999988;
margin:0;
display:inline;
text-decoration:underline;
cursor:pointer;
}


#SignUpSection
{
	background: url(../images/mb/TGradientMBBlue1pxWeb.png) repeat-x scroll 0 0 transparent;
	width:400px;
	padding: 15px 15px 0 15px;
}

#SignUpSection label
{
	margin:5px 0 10px 0;	
}

#SignUpSection hr
{
	margin:10px 15px 10px 15px;	
}

#sessionTimerContainer
{
	font-size:11px;
	color:#999999;
	margin:2px 0 5px 5px;
	display:inline;
	text-decoration:none;
}

#sessionAccountInfoContainer
{
	font-size:11px;
	color:#999999;
	margin:2px 0 5px 5px;
	display:block;
	text-decoration:none;
}

#BSCLeft
{
	width:1000px;
	margin: 5px auto 0;	
	display:inline;

	float:left;
}

/* Assign "position:relative" to your "container" div, and then "position:absolute;bottom:0;" to your "float bottom" div.  */
#BSCRight
{	
	position:relative;	
	float:right;
	margin: 5px auto 0;
	width: 275px; 
	min-width:275px;
	height:690px ;
	min-height:690px;
	float:right;
	padding: 0 5px 0 5px;
	background-color: #fafafa;
	border: 1px solid #B6B6B6;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	display:inline;	
	margin:5px;
}

#BSHeaderHome
{
	background: url(../images/mb/ban-nav.jpg) repeat-x scroll 0 0 transparent;
	width:100%;
	height:72px;
	min-height:72px;
	min-width:1075px;
}


#BSHeadCenterHome
{
	height:72px;
	width:1025px;
	margin: 0 auto;	
	position:relative;
}

#BSContentHome
{
	width:1025px;
	min-width:1025px;	
	height:650px;
	min-height:650px;
	margin: 5px auto 0;	
	display:block;
}

#BSCLeftHome
{
	width:325px;
	margin: 5px auto 0;	
	display:inline;
	float:left;
}


#BSCRightHome
{	
	width:600px;
	margin: 5px auto 0;	
	display:inline;
	float:right;
	padding: 5px;
}


#BSHelp
{
    border: 1px solid #B6B6B6; color: #4F4F4F;
	height:300px;
	min-height:300px;
    font-size: 10px;
    line-height: 12px;
	margin: 10px 5px 10px 5px;
    padding: 10px 10px 5px 10px;		
	outline: none;
	color: #1c4257; border: 1px solid #7096ab;
	background-color: #DCE1F8;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(220,225,248)),
    color-stop(0, rgb(146,189,214))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(220,225,248),
		rgb(146,189,214)
	);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
}


#BSCFTE
{
	position:absolute;
	bottom: 0px;
    border: 1px solid #B6B6B6; color: #4F4F4F;
	height:175px;
	min-height:175px;
	width:243px;
    font-size: 10px;
    line-height: 12px;
	margin: 10px 5px 10px 5px;
    padding: 10px 10px 5px 10px;		
	outline: none;
	color: #1c4257; 
	border: 1px solid #7096ab;
	background: url(images/bg_fallback.png) 0 -65px repeat-x;
	background-color:#FFF;
/*
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(185,224,245)),
    color-stop(0, rgb(146,189,214))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(185,224,245),
		rgb(146,189,214)
	);
*/	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}


#BSCHomeContent
{
	width:600px;
	display:block;
	min-height:250px;
	height:250px;
}


#HomeContentLeft
{
	background: url(../images/mb/ban-nav.jpg) repeat-x scroll 0 0 transparent;
	width:270px;
	min-width:270px;
	margin: 0 10px; 0 10px;
	padding:5px;
	display:inline;
	min-height:250px;
	height:250px;
	float:left;
}

#HomeContentRight
{
	background: url(../images/mb/ban-nav_h.jpg) repeat-x scroll 0 0 transparent;
	width:270px;
	min-width:270px;
	margin: 0 10px; 0 10px;
	padding:5px;
	display:inline;
	min-height:250px;
	height:250px;
	float:right;
}



#BSFooter a{
font-size:11px;
color:#999988;
margin:2px 0 5px 5px;
display:inline;
text-decoration:none;
}

#BSFooter a:hover{
font-size:11px;
color:#999988;
margin:2px 0 5px 5px;
display:inline;
text-decoration:underline;
cursor:pointer;
}

	
#FooterMenu
{
	float:left;
}

#FooterNotice
{
	float:right;
}
/*	
.ListIconLinks
{
	margin:2px 3px 0 0;
	padding: 1px;	
}


.ListIconLinks:hover
{
	margin:2px 3px 0 0;
	padding: 0px;	
	cursor:pointer;
	border: 1px solid #9D9D9D;
}
*/

.ListIconLinksSmall
{
	opacity: 1;
}
.ListIconLinksSmall:hover
{
	opacity: 0.6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.ListIconLinks
{
	margin:2px 3px 0 0;
	padding: 1px;	
	opacity: 1;
	
}

.ListIconLinks:hover
{
	margin:2px 3px 0 0;
	padding: 1px;	
	cursor:pointer;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; // first!
	filter: alpha(opacity=60);
	border: 0px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	FILTER: DropShadow(Color=#cccccc, OffX=1, OffY=-1, Positive=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#cccccc, OffX=1, OffY=-1, Positive=1)";
	/*
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='white')";*/
		/* For IE 5.5 - 7 */
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='white');
	*/
}

.ListIconLinksFade
{
	display:inline; 
	float:left; 
	margin:0 5px 0 0;
	opacity: 1;
}
.ListIconLinksFade:hover
{
	cursor:text;
	opacity: 0.75;
}

.BabbleLegend
{
	text-align:right;
	font-size:10px;
	color:#111111;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	padding:5px;
	margin:0px 5px 5px; 5px;
}

.categoryDesc{
	background-color:#F3FFCD;
	font-weight:normal;
	color: #666;
}

.notesFilter{
	width:150px; 
	display:inline; 
	margin-bottom:3px;
	border:0px;
	color:#999;
}

.notesFilterHolder{
	border:1px solid #999;	
	padding:2px 2px 0px 2px;
}

.viewCount{
	color:#444;
}
.smallTitle
{
	font-size:10px;
	color:#111111;
	font-weight:bold;
	margin:5px 0px 0px 5px;
	padding-left:5px;
}

.smallTitleNM
{
	font-size:10px;
	color:#111111;
	font-weight:bold;
	margin:0 0 0 5;
	padding-left:0;
}	

#s_Canceled{
font-size:12px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


#s_Running{
font-size:12px;
color:#00FF00;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


#s_Pending{
font-size:12px;
color:#FFCC00;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


#s_Finished{
font-size:12px;
color:#FF0000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}
		
#s_Error{
font-size:12px;
color:#FF0000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}	


.s_Canceled{
font-size:12px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


.s_Running{
font-size:12px;
color:#00FF00;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


.s_Pending{
font-size:12px;
color:#FFCC00;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}


.s_Finished{
font-size:12px;
color:#FF0000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}
		
.s_Error{
font-size:12px;
color:#FF0000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}	

	
#s_ColumnTitleClear{
font-size:10px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}

#s_Desc{
font-size:12px;
color:#000000;
margin:2px 0 5px 0px;
display:inline;
text-decoration:none;
}
	
/* Assign "position:relative" to your "container" div, and then "position:absolute;bottom:0;" to your "float bottom" div.  */	
a.dock-item { font: 11px Myriad Web Pro, Arial, Helvetica, sans-serif; display: block; width: 50px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color:#999988; }
.dock-item span { display: none; padding-left: 20px; white-space: nowrap; }
.dock-item img { border: 0; margin: 5px 10px 0px; width: 100%; }
	
/*for sorting dropdown*/
.nav, .nav ul { 
	list-style: none;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  position: relative;
  float:right;
}

.nav li {
  float: left;
  margin: 0;
  position: relative;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font: 12px;
  color: #999988;
  display: block;
  padding: 2px;
  width: 100px;
  height: 18px;
}

.nav li a:hover {
  	color: #444;	
	text-decoration:none;
}
#nav-one li:hover a, 
#nav-one li.sfHover a {
  /*background: #ccc;*/
  color: #444;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  /*background: #5A1F36;*/
  color: #999988;
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
  /*background: #ccc;*/
  color: #999988;
  text-decoration:underline;
}

#nav-one-stream li:hover a, 
#nav-one-stream li.sfHover a {
  /*background: #ccc;*/
  color: #444;
}
#nav-one-stream li:hover ul a, 
#nav-one-stream li.sfHover ul a {
  /*background: #5A1F36;*/
  color: #999988;
}
#nav-one-stream li:hover ul a:hover, 
#nav-one-stream li.sfHover ul a:hover {
  /*background: #ccc;*/
  color: #999988;
  text-decoration:underline;
}

.nav ul {
  list-style: none;
  position: absolute;
  top: -999em;
  /*left: -1px;*/
}
.nav li:hover ul,
.nav li.sfHover ul {
  top: 18px;
}
.nav ul li {
  border: 0;
  float: none;
  /*height: 18px;*/
}
.nav ul a {
  border-bottom: 0;
  white-space: nowrap;
  /*height: 18px;*/
}
.nav ul a:hover {
  /*background: #ccc;*/
  color: #999988;
  
}


.sort_submenu{
	border:1px dotted #8E3E97;
	background-color:white;
}
.sort_submenu_stream{
	border:1px dotted #8E3E97;
	background-color:white;
}

.printable 
{
	border: 1px dotted #CCCCCC ;
	padding: 10px 10px 10px 10px ;
	font:Verdana, geneva, sans-serif
}
		
		
.MedallionImageLink
	{
		text-decoration:none;
		border:none;
	
	}

.MedallionImageLink:hover
	{
		opacity: 0.5;
	}
/* sorting drop down ends */	



.dialog-box-sandbg {         
	/* css3 drop shadow */   	
	 -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
	 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);      
	 background:#E3E1D7; 
	 background-color:##3E1D7;
     background-image: url(../../public/css/pepper-grinder/images/ui-bg_fine-grain_15_eceadf_60x60.png);  
}


.dialog-box-sandbg .ui-dialog-titlebar { padding: .3em .2em .2em .3em; position: relative; border: none; border-bottom: 1px solid #979797; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;  
	outline: none;
	color: #1c4257; border: 1px solid #7096ab;
	background: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;	
}


.dialog-box-greenbg {         
	/* css3 drop shadow */   	
	 -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
	 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);      
	 background:#B6C29A;   
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(200,216,143)),
    color-stop(0, rgb(0,0,0))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(200,216,143),
		rgb(0,0,0)
	);
}


.dialog-box-greenbg .ui-dialog-titlebar { padding: .3em .2em .2em .3em; position: relative; border: none; border-bottom: 1px solid #979797; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;  
	outline: none;
	color: #1c4257; border: 1px solid #7096ab;
	background: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;	
}

.dialog-box-blackbg {         
	/* css3 drop shadow */   	
	 -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
	 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);      
	 background:#000000;   
}


.dialog-box-blackbg .ui-dialog-titlebar { padding: .3em .2em .2em .3em; position: relative; border: none; border-bottom: 1px solid #979797; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;  
	outline: none;
	color: #1c4257; border: 1px solid #7096ab;
	background: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;	
}


#overlay
{
	background: #262B33; 
	opacity:0.7; 
	width: 1549px;
	height: 1119px; 
	position: absolute; 
	top: 0; 
	left: 0;
	text-align: center;
	z-index: 101;
}
label.error{
    color: red;
    float: left;
    text-align: left;
    width: 100%;	
	}
	
div.error{
	color: red;
    float: left;
    font-size: 100%;
    margin-left: 0.5em;
    text-align: left;
    font-weight: bold;
    float: none\9;	
	}	