/**************************************************

	Item Name  : Metro - CSS3 Mega Menu
	Item URI   : http://codecanyon.net/item/metro-css3-mega-menu/1402313?ref=downv
	Author     : Valeriu Timbuc
	Version    : 2.0
	Author URI : http://vtimbuc.net/

**************************************************/

/**************************************************
	
	Table of Contents

	01. BASIC MENU LAYOUT
	02. BOX TYPES & STYLES
	03. CSS3 ANIMATIONS
	04. MEGA DROP DOWNS
	05. CONTENT STYLES

**************************************************/



/* BASIC MENU LAYOUT | START */
/* ********************************************** */

/* @import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,500); */

/* Clear Floats */
ul.metro .cb {
	clear: both;
}

/* Reset */
ul.metro,
ul.metro li,
ul.metro a,
ul.metro p,
ul.metro img {
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	border-radius: 8px 8px 8px 8px;
	
}

ul.metro li {
	box-shadow: 0 5px 2px #d1d1d1;	
}

/* Menu Basic Styles*/
ul.metro {
	position: relative;
	z-index: 900;
	clear: both;
}

ul.metro:before,
ul.metro:after {
	content: '';
	display: block;
	float: none;
	clear: both;
}

ul.metro li {
	list-style: none;
	float: left;
	margin: 5px;
	position: relative;
}

ul.metro li a.tile {
	text-decoration: none;
	position: relative;
	display: block;
	height: 90px;
	padding: 5px;
	overflow: hidden;

	background-color: #666666;
	background-image: -webkit-linear-gradient(-135deg, rgba(255,255,255, .15) 0%,rgba(255,255,255,0) 100%);
	background-image: -moz-linear-gradient(-135deg, rgba(255,255,255, .15) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(-135deg, rgba(255,255,255, .15) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(-135deg, rgba(255,255,255, .15) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(-135deg, rgba(255,255,255, .15) 0%,rgba(255,255,255,0) 100%);

	-webkit-box-shadow: 0px 0px 1px rgba(255,255,255,0.1), inset 0px 0px 5px rgba(255,255,255,0.1);
	-moz-box-shadow: 0px 0px 1px rgba(255,255,255,0.1), inset 0px 0px 5px rgba(255,255,255,0.1);
	box-shadow: 0px 0px 1px rgba(255,255,255,0.1), inset 0px 0px 5px rgba(255,255,255,0.1);
}

ul.metro li a.tile:hover {
	background-image: -webkit-linear-gradient(-135deg, rgba(0,0,0, .05) 0%,rgba(0,0,0,0) 100%);
	background-image: -moz-linear-gradient(-135deg, rgba(0,0,0, .05) 0%,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(-135deg, rgba(0,0,0, .05) 0%,rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient(-135deg, rgba(0,0,0, .05) 0%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(-135deg, rgba(0,0,0, .05) 0%,rgba(0,0,0,0) 100%);
}

ul.metro li a.tile span {
	display: block;
	padding: 5px;
	position: absolute;
	left: 0;
}

ul.metro li a.tile img {
	position: absolute;
}

/* ********************************************** */
/* BASIC MENU LAYOUT | END */



/* BOX TYPES & STYLES | START */
/* ********************************************** */

/* Small Tile Image */
ul.metro li.small-tile-image a.tile {
	width: 90px;
}

ul.metro li.small-tile-image a.tile span {
	width: 90px;
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #ffffff;
	bottom: 0;
}

ul.metro li.small-tile-image a.tile img {
	position: absolute;
	top: 10px;
	left: 50%;
	max-width: 64px;
	max-height: 64px;
	margin-left: -32px; /* This margin has to be one half of the image width EX: image=50px margin=25px */
}

/* Small Tile Text */
ul.metro li.small-tile-text a.tile {
	width: 90px;
}

ul.metro li.small-tile-text a.tile span {
	width: 90px;
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 15px;
	text-align: left;
	color: #ffffff;
}

/* Big Tile Text */
ul.metro li.big-tile-text a.tile {
	width: 200px;
}

ul.metro li.big-tile-text a.tile span {
	width: 190px;
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 15px;
	text-align: left;
	color: #ffffff;
}

/* Big Tile Image */
ul.metro li.big-tile-image a.tile {
	width: 200px;
}

ul.metro li.big-tile-image a.tile span {
	width: 190px;
	bottom: 0px;
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 15px;
	text-align: left;
	color: #fff;
}

ul.metro li.big-tile-image a.tile img {
	position: absolute;
	top: 10px;
	left: 50%;
	max-width: 64px;
	max-height: 64px;
	margin-left: -32px; /* This margin has to be one half of the image width EX: image=50px margin=25px */
}

/* ********************************************** */
/* BOX TYPES & STYLES | END */



/* CSS3 ANIMATIONS | START */
/* ********************************************** */

ul.metro li a.tile img {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* Rotate 360deg Animation */
ul.metro li.rotate360 a.tile:hover img {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* Rotate 180deg Animation */
ul.metro li.rotate180 a.tile:hover img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* Scale 10% Animation */
ul.metro li.scale10 a.tile:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* Scale -10% Animation */
ul.metro li.scale-10 a.tile:hover img {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

/* Flip Animation */
ul.metro li.flip a.tile:hover img {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

/* ********************************************** */
/* CSS3 ANIMATIONS | END */



/* MEGA DROP DOWNS | END */
/* ********************************************** */

/* Drop Box Style */
ul.metro > li > div {
	position: absolute;
	z-index: 990;
	top: 100px;
	left: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	overflow: hidden;
	height: 0;
	background: #eeeeee;
	padding: 0;

	-webkit-transition: opacity 200ms ease-in-out 200ms;
	-moz-transition: opacity 200ms ease-in-out 200ms;
	-o-transition: opacity 200ms ease-in-out 200ms;
	-ms-transition: opacity 200ms ease-in-out 200ms;
	transition: opacity 200ms ease-in-out 200ms;
}

ul.metro > li:hover > div {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	overflow: visible;
	height: auto;
	padding: 10px;
}


/* Drop Box Size */
ul.metro li .drop-1-col { width: 190px; }
ul.metro li .drop-2-col { width: 380px; }
ul.metro li .drop-3-col { width: 570px; }
ul.metro li .drop-4-col { width: 760px; }

/* Drop Box Columns Size */
ul.metro .col-1 { width: 170px; }
ul.metro .col-2 { width: 360px; }
ul.metro .col-3 { width: 550px; }
ul.metro .col-4 { width: 740px; }

ul.metro .col-1,
ul.metro .col-2,
ul.metro .col-3,
ul.metro .col-4 {
	float: left;
	margin: 10px;
}

/* Drop Box Arrow */
ul.metro > li > div:before {
	width: 0;
	height: 0;
	border-bottom: 10px solid #eeeeee;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: '';
	position: absolute;
	top: -7px;
	left: 40px;
}

ul.metro > li.big-tile-text > div:before,
ul.metro > li.big-tile-image > div:before {
	top: -10px;
	left: 95px;
}

/* 1 Columns Center Align */
ul.metro li.center .drop-1-col {
	left: -55px;
}

ul.metro li.center .drop-1-col:before {
	left: 95px;
}

ul.metro li.big-tile-text.center .drop-1-col,
ul.metro li.big-tile-image.center .drop-1-col {
	left: 0px;
}

/* 2 Columns Center Align */
ul.metro li.center .drop-2-col {
	left: -150px;
}

ul.metro li.big-tile-text.center .drop-2-col,
ul.metro li.big-tile-image.center .drop-2-col {
	left: -95px;
}

ul.metro li.center .drop-2-col:before,
ul.metro li.big-tile-text.center .drop-2-col:before,
ul.metro li.big-tile-image.center .drop-2-col:before {
	left: 190px;
}

/* 3 Columns Center Align */
ul.metro li.center .drop-3-col {
	left: -245px;
}

ul.metro li.big-tile-text.center .drop-3-col,
ul.metro li.big-tile-image.center .drop-3-col {
	left: -190px;
}

ul.metro li.center .drop-3-col:before,
ul.metro li.big-tile-text.center .drop-3-col:before,
ul.metro li.big-tile-image.center .drop-3-col:before {
	left: 285px;
}

/* 4 Columns Center Align */
ul.metro li.center .drop-4-col {
	left: -340px;
}

ul.metro li.big-tile-text.center .drop-4-col,
ul.metro li.big-tile-image.center .drop-4-col {
	left: -285px;
}

ul.metro li.center .drop-4-col:before,
ul.metro li.big-tile-text.center .drop-4-col:before,
ul.metro li.big-tile-image.center .drop-4-col:before {
	left: 380px;
}

/* 1, 2, 3, 4 Columns Right Align */
ul.metro > li.right > div {
	left: auto;
	right: 0;
}

ul.metro > li.right > div:before {
	left: auto;
	right: 40px;
}

ul.metro > li.big-tile-text.right > div:before,
ul.metro > li.big-tile-image.right > div:before {
	left: auto;
	right: 95px;
}

/* Right Side for SideBar */
ul.metro > li.right-top > div {
	top: 0;
	left: 100%;
}

ul.metro > li.right-bottom > div {
	bottom: 0;
	top: auto;
	left: 100%;
}

ul.metro > li.right-top > div:before,
ul.metro > li.right-bottom > div:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #eeeeee;
	border-left: 10px solid transparent;
}

ul.metro > li.right-top > div:before {
	top: 40px;
	left: -17px;
}

ul.metro > li.right-bottom > div:before {
	bottom: 40px;
	top: auto;
	left: -17px;
}

/* Left Side for SideBar */
ul.metro > li.left-top > div {
	top: 0;
	right: 100%;
	left: auto;
}

ul.metro > li.left-bottom > div {
	bottom: 0;
	top: auto;
	right: 100%;
	left: auto;
}

ul.metro > li.left-top > div:before,
ul.metro > li.left-bottom > div:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid #eeeeee;
}

ul.metro > li.left-top > div:before {
	top: 40px;
	right: -17px;
	left: auto;
}

ul.metro > li.left-bottom > div:before {
	bottom: 40px;
	top: auto;
	right: -17px;
	left: auto;
}

/* ********************************************** */
/* MEGA DROP DOWNS | END */



/* CONTENT STYLES | END */
/* ********************************************** */

/* Styles Reset */
ul.metro div a,
ul.metro div p,
ul.metro div img,
ul.metro div ul,
ul.metro div ul li,
ul.metro div ul li a {
	margin: 0;
	padding: 0;
	background: none;
	box-shadow: none;
	border: none;
	float: none;
	text-decoration: none;
	font: 13px Tahoma, geneva, sans-serif;
	color: 333;
}

/* Headings */
ul.metro div h1,
ul.metro div h2,
ul.metro div h3,
ul.metro div h4,
ul.metro div h5,
ul.metro div h6 {
	margin: 0;
	padding: 10px 0;
	font-family: 'Terminal Dosis', Tahoma, sans-serif;
	font-weight: 500;
}

ul.metro div h1 {
	font-size: 28px;
}

ul.metro div h2 {
	font-size: 24px;
}

ul.metro div h3 {
	font-size: 20px;
}

ul.metro div h4 {
	font-size: 18px;
}

ul.metro div h5 {
	font-size: 16px;
}

ul.metro div h6 {
	font-size: 14px;
}

/* Paragraph */
ul.metro div p {
	line-height: 18px;
}

/* Links */
ul.metro div a {
	color: #e1e1e1;
}

ul.metro div a:hover {
	color: #919191;
}

/* Links List */
ul.metro div ul.links li {
	padding: 10px 0;
	border-bottom: 1px solid #919191;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px;
}

ul.metro div ul.links li:first-child {
	margin-top: none;
}

ul.metro div ul.links li:last-child {
	margin-bottom: none;
	border: none;
}

ul.metro div ul.links li a {
	font-size: 14px;
}


/* ********************************************** */
/* CONTENT STYLES | END */



/* Envato Custom Tiles Colors: */

ul.metro li.envato a.tile { background-color: #8dc050; }

ul.metro li.activeden a.tile { background-color: #F18822; }

ul.metro li.audiojungle a.tile { background-color: #8FB037; }

ul.metro li.themeforest a.tile { background-color: #785A3A; }

ul.metro li.videohive a.tile { background-color: #E7A800; }

ul.metro li.graphicriver a.tile { background-color: #1A8FC9; }

ul.metro li.threedocean a.tile { background-color: #681D2A; }

ul.metro li.codecanyon a.tile { background-color: #AF4009; }

ul.metro li.photodune a.tile { background-color: #0F8C98; }

ul.metro li.tutorials a.tile { background-color: #F18822; }



/* Add here your custom colors */
/* Example: ul.metro li.yourColorClass a.tile { background-color: #ffffff; } */