.PdLeft10
{
	padding-left: 10px;
}
.PdRight10
{
	padding-right: 10px;
}
.MarRight5
{
	margin-right: 5px;
}
.MarRight10
{
	margin-right: 10px;
}
#fieldWrapper {
	padding : 1em;
	width : 50%;
	border: 1px solid #A7D6F2;
	margin: 0 auto;
	background: #F4F8FD;
}


#TableSurveyItems {
	margin-bottom: 20px;
}

#demoNavigation {
	margin-top : 0.5em;
	margin-right : 1em;
	text-align: right;
}

#data {
	font-size : 0.7em;
}

input {
	margin-right: 0.1em;
	margin-bottom: 0.5em;
}

.input_field_25em {
	width: 2.5em;
}

.input_field_3em {
	width: 3em;
}

.input_field_35em {
	width: 3.5em;
}

.input_field_12em {
	width: 12em;
}

label {
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 0.8em;
}

label.error {
	color: red;
	margin-left : 0.5em;
    float: left;
    text-align: left;
    font-size: 100%;
}

.step span {
	float: right;
	font-weight: bold;
	padding-right: 0.8em;
}

.navigation_button {
	width : 70px;
}

#data {
		overflow : auto;
}
#progressbar
{
	background: #dfdfdf;
	width: 650px;
}
#progressbar #percent
{
	background: #df0000;
}

.header_padding {
	height: 50px;
	height: 15px;
}

.survey_counter {
	width: 60%;
	height: 19px;
	padding: 0.1em;
	float: left !important;
	border-radius: 8px 8px 8px 8px !important;
	padding-left: 20%;
	
}
.ui-progressbar-value {
	border-radius: 8px 8px 8px 8px !important;
	height: 18px !important;
}

.progressbar_boder {
	border: 0px !important;
	background-color: #EBEBEB;
	border-radius: 8px 8px 8px 8px;
}
.survey_counter_content {
	height: 20px;
}

.jw-counter-text {
	padding: 0px !important;
	width: 100% !important;
}

.jw-buttons button {
	padding: 0.2em 1em !important;
}

.jw-button-previous {
	float: left !important;
}

.jw-buttons button {
	margin-left: 0px !important;
}

.jw-content {
	padding: 0px;
}
.jw-steps-wrap {
	height: auto !important;
}

.ui-widget-content_body{
	border: none !important;	
}

.question_body {
    border-radius: 5px 5px 5px 5px;
	border: 1px solid #cacccf;
	box-shadow: 2px 2px 5px #cacccf;
    position: relative;
}

.question_header {
	background-color: #EFF3F7;
   	border-bottom: 1px solid #b9c9d6;
	border-radius: 5px 5px 0px 0px;
    clear: both;
    /*width: 100%;*/
}

.question_header_text {
	 padding: 10px;
}
.qBody
{

	 border-top: 0px;
}
.question_footer {
	height:13px; 
	clear:both;
}

.matrix_question_header {
	background-color: #F2F2F2;
	padding: 5px;
}

.matrix_answer {
	font-size: 13px;
}

.matrix_question {
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
}

.matrix_question_top {
	border-top: 1px solid #a1a1a1;
	vertical-align: bottom;
}

.matrix_question_left {
	border-left: 1px solid #a1a1a1;
}

.pointer {
	cursor: pointer;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}
.answer {
	padding-left: 15px;
	width: 400px;
}

.textarea {
	width: 360px;
}
.one_selection {
	overflow: auto; 
	padding: 5px; 
	height: 218px;
}

.qSetting {
	padding :0px !important;
}

.answer_padding {
	padding: 10px;
}

.row_margin_top {
	margin-top: 10px;
}

.row_padding_left {
	padding-left: 10px;
}
.row_padding_top {
	padding-top: 10px;
}
.question_label {
	width: 20%;
}

.rename_label {
	width: 40%;
}

.question_control {
	width: 78%;
}

.rename_control {
	width: 58%;
	padding-bottom: 5px;
}


.align_center {
	text-align: center;
}

.completion_survey {
	background-color: green !important;
	height: 100%;
}
.uncompletion_survey {
	background-color: white;
	border: 1px solid #C6C6C6;
}
.question_header_text {
	color: black;
	border-radius: 5px 5px 5px 5px;
}

.answer_details_text {
	color: #7B7B7B;	
}

input.QuestionChoices, textarea.QuestionChoices {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 14px;
    height: 62px;
    overflow: hidden;
    resize: none;
    width: 370px;
}
div.error {
    color: red;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: left;
}

.survey_form {
	margin: 0 auto; 
	max-width: 960px; 
	min-width: 700px; 
	width: 100%;
}
#header_container{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
#survey_header{
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding: 0;
}
#survey_header img{
	float: left;
	height: 65px;
	padding-left: 0px;
}
#survey_title{
	float: right;
	font-size: 20px;	
	color: #747474;
	max-width: 65%;
    text-align: right;
}
.error strong{
	font-size: 12px !important;
}
#footer{
	font-size: 12px;
}
.jw-header{
	margin-bottom: 24px;
}

.advanced_option_padding {
	padding-left:5px; 
	padding-top:10px
}
.advanced_option_label {
	padding-bottom: 10px; 
	text-decoration: underline;
	cursor: pointer;
}
.margin_left_5px {
	margin-left: 5px;
}
.margin_left_20px {
	margin-left: 20px;
}

.padding_left_5px {
	padding-left: 5px;
}

.padding_left_20px {
	padding-left: 20px;
}

.voice_type_body {
	padding-top: 10px; 
	padding-left: 10px;
}
.voice_type_label {
	font-family: Verdana;
}
.survey_builder_button {
	margin-right: 0px !important;;
	margin-left: 12px; 
}
.voice_label {
	padding-top: 10px; 
	font-weight: bold;
}
.survey_Type_separation {
	width: 100%; 
	clear: both; 
	border-bottom: 1px solid black; 
	margin-bottom: 20px; 
	padding-top: 20px;
}
