
#newtab-scrollbox {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    -moz-user-focus: normal;
    display: -moz-box;
    position: relative;
}
#newtab-scrollbox:not([page-disabled]) {
    overflow: auto;
}
#newtab-undo-container {
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -moz-box;
    transition: opacity 100ms ease-out 0s;
}
#newtab-undo-container[undo-disabled] {
    opacity: 0;
    pointer-events: none;
}
#newtab-customize-button {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 101;
}
#newtab-customize-button:-moz-locale-dir(rtl) {
    left: 20px;
    right: auto;
}
#newtab-intro-what {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 70px;
    top: 20px;
}
#newtab-intro-what:-moz-locale-dir(rtl) {
    left: 70px;
    right: auto;
}
#newtab-scrollbox[page-disabled] #newtab-intro-what {
    display: none;
}
#newtab-intro-panel {
    color: #6a7b86;
    font-size: 15px;
    line-height: 19px;
    width: 520px;
}
#newtab-intro-panel h1 {
    color: #343f48;
    font-family: Open Sans,sans-serif;
    font-size: 30px;
    margin: 20px;
}
#newtab-intro-panel p {
    margin: 10px 20px;
}
#newtab-intro-panel p:last-child {
    margin-bottom: 30px;
}
#newtab-intro-what:hover, #newtab-intro-panel a {
    color: #4a90e2;
}
#newtab-vertical-margin {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    display: -moz-box;
    position: relative;
}
#newtab-margin-undo-container {
    display: -moz-box;
    left: 6px;
    position: absolute;
    top: 6px;
    z-index: 1;
}
#newtab-margin-undo-container:-moz-locale-dir(rtl) {
    left: auto;
    right: 6px;
}
#newtab-horizontal-margin {
    -moz-box-flex: 1;
    display: -moz-box;
}
#newtab-margin-top, #newtab-margin-bottom {
    display: -moz-box;
    position: relative;
}
#newtab-margin-top {
    -moz-box-flex: 1;
}
#newtab-margin-bottom {
    -moz-box-flex: 2;
}
.newtab-side-margin {
    -moz-box-flex: 1;
    min-width: 10px;
}
#newtab-grid {
    -moz-box-flex: 5;
    overflow: hidden;
    text-align: center;
    transition: opacity 100ms ease-out 0s;
}
#newtab-grid[page-disabled] {
    opacity: 0;
}
#newtab-grid[locked], #newtab-grid[page-disabled] {
    pointer-events: none;
}
.newtab-cell, .newtab-intro-cell, .newtab-intro-cell-hover {
    display: -moz-box;
    height: 210px;
    margin: 20px 10px 35px;
    width: 290px;
}
.newtab-intro-cell-wrapper {
    margin-top: -12px;
}
.newtab-intro-cell, .newtab-intro-cell-hover {
    margin: 0;
}

.newtab-site {
    border-radius: inherit;
    box-shadow: 0 1px 3px #c1c1c1;
    text-decoration: none;
    transition-property: top, left, opacity, box-shadow, background-color;
}

.newtab-site {
    -moz-box-flex: 1;
    position: relative;
    transition-delay: 0s;
    transition-duration: 100ms;
    transition-property: top, left, opacity;
    transition-timing-function: ease-out;
}
.newtab-site[frozen] {
    pointer-events: none;
    position: absolute;
}
.newtab-site[dragged] {
    transition-property: none;
    z-index: 10;
}

.newtab-cell {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.newtab-thumbnail {
    background-clip: padding-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0 0;
    height: 180px;
    transition: opacity 100ms ease-out 0s;
}

.newtab-cell:not([ignorehover]) .newtab-control:hover ~ .newtab-link, .newtab-cell:not([ignorehover]) .newtab-link:hover, .newtab-site[dragged] {
    border: 2px solid white;
    box-shadow: 0 0 6px 2px #4cb1ff;
    margin: -2px;
}

.newtab-link, .newtab-thumbnail {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
}
.newtab-sponsored, .newtab-title, .newtab-suggested {
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
}
.newtab-sponsored, .newtab-title {
    background-color: #f2f2f2;
    bottom: 0;
    font-size: 13px;
    line-height: 30px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.newtab-suggested {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 2px;
    display: none;
    font-size: 12px;
    height: 17px;
    left: 0;
    line-height: 17px;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 8px;
    top: 215px;
}
.newtab-suggested-bounds {
    max-height: 34px;
}
.newtab-title {
    left: 0;
    padding: 0 4px;
}
.newtab-sponsored {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #4a4a4a;
    cursor: pointer;
    display: none;
    font-family: Arial;
    font-size: 9px;
    height: 17px;
    left: 0;
    line-height: 6px;
    padding: 4px;
    right: auto;
    top: -15px;
}
.newtab-site[suggested="true"] > .newtab-sponsored {
    background-color: #e2e2e2;
    border: medium none;
}
.newtab-site > .newtab-sponsored:-moz-any(:hover, [active]) {
    background-color: #4a90e2;
    border: 0 none;
    color: white;
}
.newtab-site > .newtab-sponsored[active] {
    background-color: #000000;
}
.newtab-sponsored:-moz-locale-dir(rtl) {
    left: auto;
    right: 0;
}
.newtab-site:-moz-any([type="enhanced"], [type="sponsored"], [suggested]) .newtab-sponsored {
    display: block;
}
.newtab-site[suggested] .newtab-suggested {
    display: table;
}
.sponsored-explain, .sponsored-explain a, .suggested-explain, .suggested-explain a {
    color: white;
}
.sponsored-explain, .suggested-explain {
    background-color: rgba(51, 51, 51, 0.95);
    bottom: 30px;
    line-height: 20px;
    padding: 15px 10px;
    position: absolute;
    text-align: start;
}
#newtab-intro-panel input, .sponsored-explain input, .suggested-explain input {
    background-size: 18px auto;
    height: 18px;
    opacity: 1;
    pointer-events: none;
    position: static;
    width: 18px;
}
.newtab-control {
    opacity: 0;
    position: absolute;
    top: 4px;
    transition: opacity 100ms ease-out 0s;
}
.newtab-control:-moz-focusring, .newtab-cell:not([ignorehover]) > .newtab-site:hover > .newtab-control, .newtab-intro-cell-hover .newtab-control {
    opacity: 1;
}
.newtab-control[dragged] {
    opacity: 0 !important;
}
@media (-moz-touch-enabled) {
.newtab-control {
    opacity: 1;
}
}
.newtab-control-pin:-moz-locale-dir(ltr), .newtab-control-block:-moz-locale-dir(rtl) {
    left: 4px;
}
.newtab-control-block:-moz-locale-dir(ltr), .newtab-control-pin:-moz-locale-dir(rtl) {
    right: 4px;
}
.newtab-drag {
    background-color: #fff;
    height: 1px;
    opacity: 0.01;
    width: 1px;
}
#newtab-search-container {
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -moz-box;
    position: relative;
}
#newtab-search-container[page-disabled] {
    opacity: 0;
    pointer-events: none;
}
#newtab-search-form {
    -moz-box-align: center;
    -moz-box-flex: 1;
    -moz-box-orient: horizontal;
    display: -moz-box;
    height: 44px;
    margin: 26px 20px 10px;
    max-width: 600px;
}
#newtab-search-logo {
    -moz-margin-end: 8px;
    background-image: url("chrome://global/skin/icons/autocomplete-search.svg#search-icon");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    border: 1px solid transparent;
    display: -moz-box;
    height: 38px;
    width: 38px;
}
#newtab-search-logo.magnifier {
    -moz-margin-end: 5px;
    background-image: url("chrome://browser/skin/magnifier.png");
    background-size: 26px auto;
    width: 38px;
}
@media not all and (max-resolution: 1dppx) {
#newtab-search-logo.magnifier {
    background-image: url("chrome://browser/skin/magnifier@2x.png");
}
}
#newtab-search-logo[type="logo"] {
    background-size: 65px 26px;
    width: 77px;
}
#newtab-search-logo[type="favicon"] {
    background-size: 16px 16px;
}
#newtab-search-logo[hidden] {
    display: none;
}
#newtab-search-logo[active], #newtab-search-logo:hover {
    background-color: #e9e9e9;
    border: 1px solid rgb(226, 227, 229);
    border-radius: 2.5px;
}
#newtab-search-text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-flex: 1;
    background: hsla(0, 0%, 100%, 0.9) none repeat scroll 0 0 padding-box;
    border-color: hsla(210, 54%, 20%, 0.15) hsla(210, 54%, 20%, 0.17) hsla(210, 54%, 20%, 0.2);
    border-image: none;
    border-radius: 2.5px 0 0 2.5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 hsla(210, 65%, 9%, 0.02) inset, 0 0 2px hsla(210, 65%, 9%, 0.1) inset, 0 1px 0 hsla(0, 0%, 100%, 0.2);
    color: inherit;
    height: 38px;
    padding: 0 8px;
}
#newtab-search-text:-moz-dir(rtl) {
    border-radius: 0 2.5px 2.5px 0;
}
#newtab-search-text:focus, #newtab-search-text[autofocus] {
    border-color: hsla(206, 100%, 60%, 0.6) hsla(206, 76%, 52%, 0.6) hsla(204, 100%, 40%, 0.6);
}
#newtab-search-submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-start: 1px solid transparent;
    -moz-border-top-colors: none;
    -moz-margin-start: -1px;
    background: rgba(0, 0, 0, 0) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.1)) repeat scroll 0 0 padding-box;
    border-color: hsla(210, 54%, 20%, 0.15) hsla(210, 54%, 20%, 0.17) hsla(210, 54%, 20%, 0.2);
    border-image: none;
    border-radius: 0 2.5px 2.5px 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 2px hsla(0, 0%, 100%, 0.5) inset, 0 1px 0 hsla(0, 0%, 100%, 0.2);
    color: inherit;
    cursor: pointer;
    font-size: 13px !important;
    height: 38px;
    padding: 0 9px;
    transition-duration: 150ms;
    transition-property: background-color, border-color, box-shadow;
}
#newtab-search-submit:-moz-dir(rtl) {
    border-radius: 2.5px 0 0 2.5px;
}
#newtab-search-text:focus + #newtab-search-submit, #newtab-search-text + #newtab-search-submit:hover, #newtab-search-text[autofocus] + #newtab-search-submit {
    border-color: #59b5fc #45a3e7 #3294d5;
    color: white;
}
#newtab-search-text:focus + #newtab-search-submit, #newtab-search-text[autofocus] + #newtab-search-submit {
    background-image: linear-gradient(#4cb1ff, #1793e5);
    box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.2) inset, 0 0 0 1px hsla(0, 0%, 100%, 0.1) inset, 0 1px 0 hsla(210, 54%, 20%, 0.03);
}
#newtab-search-text + #newtab-search-submit:hover {
    background-image: linear-gradient(#66bdff, #0d9eff);
    box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.2) inset, 0 0 0 1px hsla(0, 0%, 100%, 0.1) inset, 0 1px 0 hsla(210, 54%, 20%, 0.03), 0 0 4px hsla(206, 100%, 20%, 0.2);
}
#newtab-search-text + #newtab-search-submit:hover:active {
    box-shadow: 0 1px 1px hsla(211, 79%, 6%, 0.1) inset, 0 0 1px hsla(211, 79%, 6%, 0.2) inset;
    transition-duration: 0ms;
}
#newtab-customize-overlay {
    background: #f9f9f9 none repeat scroll 0 0;
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    transition: opacity 0.07s linear 0s;
    width: 100%;
    z-index: 100;
}
#newtab-customize-panel {
    margin-top: -5px;
    min-width: 270px;
    z-index: 101;
}
#newtab-customize-title {
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    color: #7a7a7a;
    cursor: default;
    display: table-cell;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    max-width: 300px;
    overflow: hidden;
    padding: 15px;
    text-transform: uppercase;
}
#newtab-customize-title > label {
    cursor: default;
}
#newtab-customize-panel > .panel-arrowcontainer > .panel-arrowcontent, #newtab-search-panel > .panel-arrowcontainer > .panel-arrowcontent {
    padding: 0;
}
.newtab-customize-panel-item, .newtab-search-panel-engine, #newtab-search-manage {
    cursor: pointer;
    font-size: 14px;
    line-height: 54px;
    padding: 4px 24px;
}
.newtab-customize-panel-item {
    -moz-padding-start: 40px;
    line-height: 25px;
    padding: 15px;
}
.newtab-customize-panel-item:not(:first-child), .newtab-search-panel-engine {
    border-top: 1px solid threedshadow;
}
.newtab-search-panel-engine > image {
    -moz-margin-end: 8px;
    height: 16px;
    list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
    width: 16px;
}
.newtab-customize-panel-subitem > label, .newtab-customize-panel-item > label, .newtab-search-panel-engine > label, #newtab-search-manage > label, .newtab-customize-complex-option {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.newtab-customize-panel-item, .newtab-customize-complex-option {
    background-color: #f9f9f9;
    display: block;
    max-width: 300px;
    text-align: start;
    width: 100%;
}
.newtab-customize-panel-item[selected]:-moz-locale-dir(rtl) {
    background-position: right 15px center;
}
.newtab-customize-complex-option:hover > .selectable:-moz-locale-dir(rtl):not([selected]), .selectable:hover:-moz-locale-dir(rtl):not([selected]) {
    background-position: right 15px center;
}
.newtab-intro-image-customize .newtab-customize-panel-item, .newtab-intro-image-customize .newtab-customize-complex-option {
    max-width: 100%;
}
.newtab-customize-panel-item:not([selected]), .newtab-customize-panel-subitem:not([selected]) {
    color: #7a7a7a;
}
.newtab-customize-panel-item:hover:not([selected]) {
    background-color: #4a90e2;
    color: #ffffff;
}
.newtab-customize-complex-option:hover > .selectable:not([selected]), .selectable:hover:not([selected]) {
    background: #ffffff url("chrome://global/skin/menu/shared-menu-check-hover.svg") no-repeat scroll 15px 15px / 16px 16px;
    color: #171f26;
}
.newtab-customize-complex-option:hover > .selectable:not([selected]) + .newtab-customize-panel-subitem {
    background-color: #ffffff;
}
.newtab-customize-panel-item[selected], .newtab-search-panel-engine[selected] {
    background: transparent url("chrome://global/skin/menu/shared-menu-check-active.svg") no-repeat scroll 15px 15px / 16px 16px;
    color: black;
    font-weight: 600;
}
.newtab-customize-panel-subitem > .checkbox {
    background-color: #ffffff;
    border: 1px solid threedshadow;
    height: 18px;
    width: 18px;
}
.newtab-customize-panel-subitem[selected] > .checkbox {
    background: #ffffff url("chrome://global/skin/menu/shared-menu-check-black.svg") no-repeat scroll center center / 9px 9px;
    color: #333333;
}
.newtab-customize-panel-subitem {
    -moz-padding-start: 40px;
    display: block;
    font-size: 12px;
    padding: 0 15px 15px;
}
.newtab-customize-panel-subitem > label {
    line-height: 20px;
    max-width: 225px;
    padding: 0 10px;
    vertical-align: middle;
}
.newtab-customize-panel-superitem {
    -moz-padding-start: 40px;
    border-bottom: medium none !important;
    border-top: 1px solid threedshadow;
    line-height: 20px;
    padding: 15px 15px 10px;
}
.searchSuggestionTable {
    font: ;
    font-size: 16px;
}
#newtab-intro-mask {
    background: rgba(66, 79, 90, 0.95) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 0.5s linear 0s;
    width: 100%;
    z-index: 102;
}
#newtab-intro-modal {
    background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f9f9f9) repeat scroll 0 0;
    border-radius: 8px 8px 0 0;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    display: inline-block;
    font-family: "Helvetica";
    left: 0;
    margin: auto;
    max-height: 800px;
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#newtab-intro-header {
    border-bottom: 2px solid #e0dfe0;
    color: #737980;
    display: block;
    font-size: 28px;
    font-weight: 100;
    margin: 0 50px;
    padding: 0 15px 10px;
    position: relative;
    text-align: center;
    top: 30px;
}
#newtab-intro-header .bold {
    color: #343f48;
    font-weight: 500;
}
#newtab-intro-footer {
    background-color: white;
    box-shadow: 0 -1px 4px -1px #ebebeb;
    display: block;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#newtab-intro-footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#newtab-intro-footer > ul > li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
#newtab-intro-footer > ul > li > a {
    color: #4a90e2;
    text-decoration: none;
}
#newtab-intro-body {
    display: block;
    margin: 55px 50px 38px;
    position: relative;
}
#newtab-intro-content > * {
    display: inline-block;
}
#newtab-intro-content {
    position: relative;
}
#newtab-intro-buttons {
    bottom: 0;
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#newtab-intro-tile {
    height: 100%;
    width: 290px;
}
#newtab-intro-text {
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    right: 0;
    text-align: left;
    width: 460px;
}
#newtab-intro-text > p {
    margin: 0 0 30px;
}
#newtab-intro-text > p > a {
    color: #4a90e2;
    text-decoration: none;
}
#newtab-intro-text .newtab-control {
    background-size: 18px auto;
    height: 18px;
    opacity: 1;
    pointer-events: none;
    position: inherit;
    vertical-align: middle;
    width: 18px;
}
#newtab-intro-buttons > input {
    -moz-user-focus: normal;
    background-color: #ffffff;
    border: 1px solid #2c72e2;
    border-radius: 2px;
    color: #4a90e2;
    height: 50px;
    margin: 0 5px;
    min-width: 120px;
    padding: 0 10px;
    vertical-align: bottom;
}
#newtab-intro-buttons > input[default] {
    background-color: #4a90e2;
    color: #ffffff;
}
#newtab-intro-buttons > input:hover {
    background-color: #2c72e2;
    color: #ffffff;
}
