
.rxdsmenu {

} 

.rxdsmenu LI {
	list-style: none;
	padding-bottom:2px;
	margin-right: 4px;
	font-weight:normal;
	height: 25px;
	min-height:25px;	
}

.rxdsmenu A {
	color: #333;
	text-decoration: none;
	display: block;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 24px;
	font-weight:normal;
	height: 25px;
	min-height:25px;
	font-size:10px;
	text-align:center;
}

.rxdsmenu LI.hover A {
	font-weight:normal;
	border: none;
}

.rxdsmenu LI.disabled A {
	color: #AAA;
	cursor: default;
	font-weight:normal;
}

.rxdsmenu LI.hover.disabled A {
	background-color: transparent;
	font-weight:normal;
}

.rxdsmenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.rxdsmenu LI.edit A { background-image: url(images/icons16x16/edit_16x16.png); }
.rxdsmenu LI.cut A { background-image: url(images/contextmenu/cut.png); }
.rxdsmenu LI.copy A { background-image: url(images/contextmenu/page_white_copy.png); }
.rxdsmenu LI.paste A { background-image: url(images/contextmenu/page_white_paste.png); }
.rxdsmenu LI.delete A { background-image: url(images/icons16x16/delete_16x16.png); }
.rxdsmenu LI.quit A { background-image: url(images/contextmenu/door.png); }
.rxdsmenu LI.rename A { background-image: url(images/icons16x16/Rename_16x16.png); }
.rxdsmenu LI.upload A { background-image: url(images/contextmenu/Upload-icon.png); }
.rxdsmenu LI.play A { background-image: url(images/contextmenu/360-button-play.png); }
.rxdsmenu LI.save A { background-image: url(images/icons16x16/Save_16x16.png); }
.rxdsmenu LI.cancel A { background-image: url(images/icons16x16/Cancel_16x16.png); }
.rxdsmenu LI.move A { background-image: url(images/icons16x16/Cancel_16x16.png); }
.rxdsmenu LI.open A { background-image: url(images/icons16x16/Open_16x16.png); }
.rxdsmenu LI.add A { background-image: url(images/icons16x16/Add_16x16.png); }
.rxdsmenu LI.refresh A { background-image: url(images/icons16x16/Refresh_16x16.png); }
.rxdsmenu LI.close A { background-image: url(images/icons16x16/Open_16x16.png); }
.rxdsmenu LI.change A { background-image: url(images/icons16x16/Open_16x16.png); }
.rxdsmenu LI.logout A { background-image: url(images/icons16x16/LogOut_16x16.png); }
.rxdsmenu LI.new A { background-image: url(images/icons16x16/New_16x16.png); }
.rxdsmenu LI.newdrop A { background-image: url(images/icons16x16/New_16x16.png); }
.rxdsmenu LI.next A { background-image: url(images/icons16x16/Next_16x16.png); }


.rxdsmenuContext {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
} 

.rxdsmenuContext LI {
	list-style: none;
	padding-bottom:2px;
	margin-right: 4px;
	font-weight:normal;
	height: 25px;
	min-height:25px;	
}

.rxdsmenuContext A {
	color: #333;
	text-decoration: none;
	display: block;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 34px;
	font-weight:normal;
	height: 25px;
	min-height:25px;
	text-align:left;
}

.rxdsmenuContext LI.hover A {
	font-weight:normal;
	border: none;
	color: #FFF;
	background-color: #3399FF;
}

.rxdsmenuContext LI.disabled A {
	color: #AAA;
	cursor: default;
	font-weight:normal;
}

.rxdsmenuContext LI.hover.disabled A {
	background-color: transparent;
	font-weight:normal;
}

.rxdsmenuContext LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.rxdsmenuContext LI.edit A { background-image: url(images/icons16x16/edit_16x16.png); }
.rxdsmenuContext LI.cut A { background-image: url(images/contextmenu/cut.png); }
.rxdsmenuContext LI.copy A { background-image: url(images/contextmenu/page_white_copy.png); }
.rxdsmenuContext LI.paste A { background-image: url(images/contextmenu/page_white_paste.png); }
.rxdsmenuContext LI.delete A { background-image: url(images/icons16x16/delete_16x16.png); }
.rxdsmenuContext LI.quit A { background-image: url(images/contextmenu/door.png); }
.rxdsmenuContext LI.rename A { background-image: url(images/icons16x16/Rename_16x16.png); }
.rxdsmenuContext LI.upload A { background-image: url(images/contextmenu/Upload-icon.png); }
.rxdsmenuContext LI.play A { background-image: url(images/contextmenu/360-button-play.png); }
.rxdsmenuContext LI.save A { background-image: url(images/icons16x16/Save_16x16.png); }
.rxdsmenuContext LI.cancel A { background-image: url(images/icons16x16/Cancel_16x16.png); }
.rxdsmenuContext LI.move A { background-image: url(images/icons16x16/Cancel_16x16.png); }
.rxdsmenuContext LI.open A { background-image: url(images/icons16x16/Open_16x16.png); }
.rxdsmenuContext LI.add A { background-image: url(images/icons16x16/Add_16x16.png); }
.rxdsmenuContext LI.refresh A { background-image: url(images/icons16x16/Refresh_16x16.png); }
.rxdsmenuContext LI.close A { background-image: url(images/icons16x16/Open_16x16.png); }
.rxdsmenuContext LI.change A { background-image: url(images/icons16x16/Open_16x16.png); }
.rxdsmenuContext LI.logout A { background-image: url(images/icons16x16/LogOut_16x16.png); }
.rxdsmenuContext LI.newdrop A { background-image: url(images/icons16x16/New_16x16.png); }
.rxdsmenuContext LI.next A { background-image: url(images/icons16x16/Next_16x16.png); }






