/* CSS Document */

.RXForm
{
	
	
}

.RXForm #inpSurveyDesc.required{
	color: #000;
	font-size: 12px;
}
.RXForm a{
font-size:11px;
color:#333333;
margin:2px 0 5px 5px;
display:block;
text-decoration:underline;
}

.RXForm a:hover{
font-size:11px;
color:#666666;
margin:2px 0 5px 5px;
display:block;
text-decoration:underline;
cursor:pointer;
}


.RXForm p{
font-size:11px;
color:#666666;
margin-bottom:5px;
border-bottom:none;
padding-bottom:5px;
}

.RXForm label{
display:inline;
font-weight:bold;
text-align:right;
font-size:12px;
border:none;
margin:2px 0 5px 5px;
}

.RXForm .small{
color:#666666;
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:400px;
border:none;
margin:2px 0 5px 5px;
}

.RXForm .smallReg{
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:400px;
border:none;
margin:2px 0 5px 5px;
}



.RXForm .small300{
color:#666666;
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:300px;
border:none;
margin:2px 0 5px 5px;
}


.RXForm .required{
color:#660000;
display:block;
font-size:10px;
font-weight:normal;
text-align:left;
width:275px;
/*border:none;*/
margin:1px 0 1px 5px;
}


.RXForm select{
font-size:12px;
padding:4px 2px;
width:350px;
margin:2px 0 5px 5px;
display:block;
}

.RXForm input[type=text]{
	font-size:12px;
	padding:4px 2px;
	width:350px;
	margin:2px 0 5px 5px;
	display:block;
}


.RXForm input[type=text] .password{
font-size:12px;
padding:4px 2px;
width:350px;
margin:2px 0 5px 5px;
display:block;
}

.RXForm .checkboxInline{
font-size:12px;
padding:4px 2px;
margin:2px 0 5px 5px;
display:block;
width:20px;
}


.RXForm button{
margin:2px 0 5px 5px;
font-size:12px;
padding:4px 2px;
}

.RXForm button:hover{
margin:2px 0 5px 5px;
font-size:12px;
padding:4px 2px;
cursor:pointer;
background:#6FF;

background: url(images/bg_fallback.png) 0 0 repeat-x;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(166,255,255))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(166,255,255)
	);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
	
}


.RXForm .hover(
	function(){ 
		$(this).addClass("ui-state-hover"); 
	},
	function(){ 
		$(this).removeClass("ui-state-hover"); 
	}
)


.RXForm #pwstrength  
{  
	height:10px;  
	display:inline;  
}  


.RXForm #pwdesc  
{  
	height:10px;  
	display:inline;  
}  

.RXForm .strength0 
{  
	min-width:1px;
	min-height:10px;
	width:1px;  
	background:#ff0000; 
	text-align:left;
}  

.RXForm .strength1 
{  
	min-width:25px;
	min-height:10px;
	width:25px;  
	background:#ff0000;
	text-align:left;  
}  

.RXForm .strength2 
{  
	min-width:75px;
	min-height:10px;
    width:75px;  
    background:#ff6633;
	text-align:left;  
}  

.RXForm .strength3 
{   
	min-width:125px;
	min-height:10px;
	background:#ffff00;
	width:125px;  
	text-align:left; 
}  

.RXForm .strength4 
{  
	min-width:175px;
	min-height:10px;
	background:#99ff00;  
	width:175px; 
	text-align:left; 
}  

.RXForm .strength5 
{  
	min-width:225px;
	min-height:10px;
	width:225px;
	background:#009900;
	text-align:left;  
} 

.RXForm .HourSelectOption { font-size: 12px;  font-weight: bold; margin-right: 6px;}
.RXForm .HourSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}


.RXForm .MinuteSelectOption { font-size: 12px;  font-weight: bold; margin-right: 6px;}
.RXForm .MinuteSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}


.RXForm .ScriptSelectOption { font-size: 12px;  font-weight: bold; margin-right: 6px;}
.RXForm .ScriptSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}

