/* CSS Document */

.rxform2
{
	
	
}


.rxform2 a{
font-size:11px;
color:#333333;
margin:2px 0 5px 5px;
display:block;
text-decoration:underline;
}

.rxform2 a:hover{
font-size:11px;
color:#666666;
margin:2px 0 5px 5px;
display:block;
text-decoration:underline;
cursor:pointer;
}


.rxform2 p{
font-size:11px;
color:#666666;
margin-bottom:5px;
border-bottom:none;
padding-bottom:5px;
}

.rxform2 label{
display:inline;
font-weight:bold;
text-align:right;
width:100px;
border:none;
margin:2px 0 5px 5px;
}

.rxform2 .small{
color:#666666;
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:400px;
border:none;
margin:2px 0 5px 5px;
}


.rxform2 .smallpass{
color:#666666;
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:400px;
border:none;
margin:0 0 0 10px;
}

.rxform2 .smallReg{
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:400px;
border:none;
margin:2px 0 5px 5px;
}



.rxform2 .small300{
color:#666666;
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:300px;
border:none;
margin:2px 0 5px 5px;
}


.rxform2 .required{
color:#660000;
display:block;
font-size:10px;
font-weight:normal;
text-align:left;
width:275px;
border:none;
margin:1px 0 1px 5px;
}


.rxform2 select{
font-size:12px;
padding:4px 2px;
width:200px;
margin:2px 0 5px 5px;
display:block;
}

.rxform2 input[type=text] {
font-size:12px;
padding:4px 2px;
width:200px;
margin:2px 0 5px 5px;
display:inline;
}

.rxform2 input[type=text]{
	display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
	background-color:#F5F5F5;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
.rxform2 input[type=password]{
	display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
	background-color:#F5F5F5;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
.rxform2 input .password{
font-size:12px;
padding:4px 2px;
width:200px;
margin:2px 0 5px 5px;
display:inline;
}

.rxform2 .checkboxInline{
font-size:12px;
padding:4px 2px;
margin:2px 0 5px 5px;
display:block;
width:20px;
}


.rxform2 button{
margin:2px 0 5px 5px;
font-size:12px;
padding:4px 2px;
}

.rxform2 button:hover{
margin:2px 0 5px 5px;
font-size:12px;
padding:4px 2px;
cursor:pointer;
}


.rxform2 .hover(
	function(){ 
		$(this).addClass("ui-state-hover"); 
	},
	function(){ 
		$(this).removeClass("ui-state-hover"); 
	}
)

.rxform2 #pwstrength  
{  
	height:4px;  
	display:block;  
	margin:0 0 0 10px;
}  


.rxform2 #pwdesc  
{  
	height:10px;  
	display:inline;
	margin:0;  
}  

.rxform2 .strength0 
{  
	font-size:4px;
	min-width:10px;
	min-height:4px;
	height:4px;
	width:10px;  
	background:#ff0000; 
	text-align:left;
	margin:0 0 0 10px;
	display:block;
}  

.rxform2 .strength1 
{  
	font-size:4px;
	min-width:10px;
	min-height:4px;
	height:4px;
	width:10px;  
	background:#ff0000; 
	text-align:left;
	margin:0 0 0 10px;
	display:block;
}  

.rxform2 .strength2 
{  
	font-size:4px;
	min-width:20px;
	min-height:4px;
	height:4px;
	width:20px;  
	background:#ff0000;
	text-align:left; 
	margin:0 0 0 10px;
	display:block; 
}  

.rxform2 .strength3 
{  
	font-size:4px;
	min-width:40px;
	min-height:4px;
	height:4px;
    width:40px;  
    background:#ff6633;
	text-align:left; 
	margin:0 0 0 10px; 
	display:block;
}  

.rxform2 .strength4 
{   
	font-size:4px;
	min-width:60px;
	min-height:4px;
	height:4px;
	background:#ffff00;
	width:60px;  
	text-align:left; 
	margin:0 0 0 10px;
	display:block;
}  

.rxform2 .strength5 
{  
	font-size:4px;
	min-width:80px;
	min-height:4px;
	height:4px;
	background:#99ff00;  
	width:80px; 
	text-align:left; 
	margin:0 0 0 10px;
	display:block;
}  

.rxform2 .strength6 
{  
	font-size:4px;
	min-width:100px;
	min-height:4px;
	height:4px;
	width:100px;
	background:#009900;
	text-align:left; 
	margin:0 0 0 10px; 
	display:block;
} 


.rxform2 .SignupHint{
	margin:0px 0 0px 10px;
}

.rxform2 .SignupHint:hover{
	margin:0px 0 0px 10px;
}

.rxform2 .HourSelectOption { font-size: 12px;  font-weight: bold; margin-right: 6px;}
.rxform2 .HourSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}


.rxform2 .MinuteSelectOption { font-size: 12px;  font-weight: bold; margin-right: 6px;}
.rxform2 .MinuteSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}


.rxform2 .ScriptSelectOption { font-size: 12px;  font-weight: bold; margin-right: 6px;}
.rxform2 .ScriptSelectOptionOutOfRange { font-size: 12px;  font-weight: bold; color:#9900FF; margin-right: 6px; background-color:pink;}


.RXFormContainerX
	{
		padding: 10px 10px 10px 10px;
		margin: 8px 3px 8px 3px;
		border: 3px solid #7096ab;
		-moz-box-shadow: 20px 20px 10px -10px rgba(88, 88, 88, .5);
		 -webkit-box-shadow: 20px 20px 10px -10px rgba(88, 88, 88, .5);
		 box-shadow: 20px 20px 10px -10px rgba(88, 88, 88, .5);
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
	}