@CHARSET "ISO-8859-1";

.buttonBar{
	padding-left:60px;
	margin: 30px 0 10px 0;
}
.itemControl{
	margin: 10px 0 10px 60px;
}
.itemControl .label{
	width:70px;
	display:inline-block;
	vertical-align: top;
}
.itemControl .control{
	margin:5px;
}
.itemControl .control input[type=text]{
	width:350px;
}
.itemControl .control textarea{
	width:350px;
}

.itemControl img{
	border:none;	
}
.control textarea{
	height:95px;
}

.status{
	margin-right: 70px;
	float:right;
	font-size:12px;
	color:#c0c0c0;
}
.required{
	font-weight:bold;
}

.buttonBar{
			padding-left:60px;
			margin: 30px 0 10px 0;
		}
		
.control{
	padding-left:30px;
	margin:5px;
}
.control textarea{
	height:70px;
}

.caption{
	padding-left:60px;
	margin:25px 0 10px 5px;
}
.status{
	margin-right: 70px;
	float:right;
	font-size:12px;
	color:#c0c0c0;
}
.requireLabel{
	font-weight:bold;
	margin:5px 0 10px 70px;
}

.noteLabel{
	margin:5px 0 10px 70px;
	font-size: 12px;
}

#preview{
	margin:30px 20px 20px 40px;
	padding:10px;
	border:1px solid #c9cdd0;
}

#preview #previewImage{
	height:50px;
	overflow:hidden;
	display:inline-block;
	margin:3px;
}

#preview #previewFanpageInfo{
	display:inline-block;
	height:50px;
	position:relative;
	bottom:30px;
}
#previewFanpageInfo #name{
	color:#4d6491;
	font-weight:bold;
	font-size:12px;
	
}
#previewFanpageInfo #time{
	color:#888888;
	font-size:10px;
}

#preview #previewHeader{
	border-bottom:1px solid #e9e9e9;
	padding-bottom:10px;
	height:50px;
}

#preview #previewContent{
	height:'auto';
	font-size:14px;
	padding:20px 10px 10px 20px;
	word-wrap:break-word;
}


#previewFooter #previewFooterBar{
	background-color:#eeeff4;
	color:#3b5998;
	height:25px;
	margin:5px;
	padding:10px 0 0 10px;
}
#previewFooter #previewFooterControl{
	background-color:#eeeff4;
	margin:5px;
	height:65px;
	padding:10px;
}
#previewFooterControl #previewTextArea{
	color:#3a3a3a;
	background-color:#feffff;
	margin:10px 0 20px 10px;
	height:30px;
	padding:5px 0 10px 10px;
	border:1px solid #858585;
}

#previewLink{
	border:2px solid #e5e6e8;
	margin:5px;
}
#previewLink #linkImage{
	display:inline-block;
	width:80px;
	margin-right:5px;
}
#previewLink #linkContent{
	display:inline-block;
	vertical-align:top;
	width:350px;
	word-wrap:break-word;
}
#linkName a{
	color:#3b5998;
	font-size:14px;
	font-weight:bold;
}
#linkCaption, #linkDescription{
	color:#808080;
	font-size:14px;
}

#linkDescription{
	margin-top:8px;	
}
label{
display:inline;
font-weight:bold;
text-align:right;
width:100px;
border:none;
margin:2px 0 5px 0px;
}
