/** dsp body */
#container {
    width:280px;
    float:right;
    position: relative;
	margin-top:20px;
}

#content {
    width:520px;
    min-height:500px;
}
<!---a:link, a:visited {
    color:#27b;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}--->

a img {
    border-width:0;
}
#topnav {
    padding:10px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
}
#topnav a.signin {
    /*background:#88bbd4;*/
	background-color:#C7E4F4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	display: block;
	 margin-right: 11px;
	
}
#topnav a.signin:hover {
    /*background:#59B;*/
	background-color:#96CDEC;
}
#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    position:relative;
    margin-left:3px;
}
a.signin span {
    /*background-image:url("images/toggle_down_light.png");*/
	background-image:url("../../public/images/downArr1.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#topnav a.menu-open {
    /*background:#ddeef6!important;*/
	background-color:#C7E4F4!important;
    color:#666!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span {
    /*background-image:url("images/toggle_up_dark.png");*/
	background-image:url("../../public/images/upArr1.png");
    color:#789;
	
}

#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    /*background-color:#ddeef6;*/
	background-color:#C7E4F4;
    position:absolute;
    width:510px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:8px;
    top: 24.5px; 
    right: 0px; 
    margin-top:10px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
	opacity:1.0;
	left: 0;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
	behavior: url(<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/pie/PIE.htc);
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#6AC;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
<!---#signin_menu p a {
    color:#27B!important;
}--->
.signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    /*background:#AE597E url('images/bg-btn-blue.png') repeat-x scroll 0 0;*/
	background-color:#B0D9EF;
    border:1px solid #C7E4F4;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
.signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
.signin_submit:hover, .signin_submit:focus {
    cursor:pointer;
	background-color:#96CDEC;
}
/** multiChannelContent */
.panel_Filters,
#panel_MCContentFilters {
	width: 300px;
	height: 440px;
	position: absolute;
	bottom: -465px;
	left: 480px;
	z-index: 200;
	background-color:#FFF;
	border: 1px solid #B6B6B6;
	
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
	
	padding: 10px;
	 
}
.panel_tab_Filters,
#panel_tab_MCContentFilters {
	width: 140px;
	height: 16px;
	position: absolute;
	top: -29px;
	right: -1px;
	text-decoration: none;
	color: #313131;
	border: 1px solid #B6B6B6;
	border-bottom:1px solid #FFF;;
		
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	
	padding: .5em 1em; 
	text-decoration: none; 
	font-size: 12px; 
	font-weight: bold; 
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	
	background: url(mb/images/bg_fallback_MBGreenWeb.png) 0 0 repeat-x;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(200,216,143))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(200,216,143)
	);
}
.panel_tab_Filters:focus,
#panel_tab_MCContentFilters:focus {
	outline: none;
	
} 
/**
 * survey
 */
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_hour .ui-state-default,
.ui-timepicker-div .ui_tpicker_minute .ui-state-default
{
	background: #5F83B9;
}
#questionBuilder{
	 padding: 10px 0;
 }
#AddNewSurveyListmainnavigator
{
	margin:0 0;
	width:450px;
	padding:0px;
	border: none;
	min-height: 330px;
	height: 330px;
	font-size:12px;
}


#AddNewSurveyListmainnavigator #LeftMenu
{
	width:280px;
	min-width:270px;		
	background: #B6C29A;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(200,216,143))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(200,216,143)
	);
	
	position:absolute;
	left:-17px;
	padding:15px;
	margin:0px;	
	border: 0;
	border-right: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	min-height: 100%;
	height: 100%;
	z-index:2300;
}


#AddNewSurveyListmainnavigator #RightStage
{
	position:absolute;
	top:0;
	left:287px;
	padding:15px;
	margin:0px;	
	border: 0;
}


#AddNewSurveyListmainnavigator h1
{
	font-size:12px;
	font-weight:bold;	
	display:inline;
	padding-right:10px;	
	min-width: 100px;
	width: 100px;	
}

.SurveyType  label {
	width: 50px;
	font-weight: normal;
	font-size: 12px;
	float: left;
	text-align:left;
}

.SurveyType  input {
	width: 20px;
	font-weight: normal;
	font-size: 12px;
	float: left;
}
.include_welcome {
	padding-left: 10px; 
	clear: both; 
	padding-top: 10px;
}
.left {
	float: left; 
}
.checkbox {
	width: 10px !important;
}

label {
	width: auto !important;
}


.communication_selection_form {
	width: 100%; 
	padding:15px;
}

.margin_left_5px {
	margin-left: 5px ;
}

.margin_left_20px {
	margin-left: 20px !important;
}
.CreateSurveyButton,.UpdateSurveyButton {
	margin-left: 260px;
    margin-top: 10px;
    clear: left;

}
#imgPreview
{
	margin-bottom: 20px;
}
/*.CreateSurveyButton #Cancel,*/
#NextToEditSurveyContent,
.CreateSurveyButton #Back
{
	cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
    /*background: -moz-linear-gradient(center top , #EDEDED, #C8D88F) repeat scroll 0 0 transparent;*/
    background: -moz-linear-gradient(center top , #fdfdfd, #ebebeb) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 1px 2px 1px #919191;
    border: 1px solid #B6B6B6;
    color: #4F4F4F;
    font-weight: bold;
    font-size: 1.2em;	
    width: 70px;
}

.UpdateSurveyButton #Cancel,
#UpdateSurveyTitleDate{
	cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
    /*background: -moz-linear-gradient(center top , #EDEDED, #C8D88F) repeat scroll 0 0 transparent;*/
    background: -moz-linear-gradient(center top , #fdfdfd, #ebebeb) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
	box-shadow: 1px 2px 1px #919191;
    border: 1px solid #B6B6B6;
    color: #4F4F4F;
    font-weight: bold;
    font-size: 1.2em;	
    width: 70px;
}
.UpdateSurveyButton span#Cancel,
#AddSurveyForm .UpdateSurveyButton #Cancel,
.CreateSurveyButton span#Cancel
{
	border: 0px;
	background: none;
	box-shadow: none;
}
.UpdateSurveyButton span#Cancel:hover,
.CreateSurveyButton span#Cancel:hover
{
	font-weight: bold;
}
  .deleteQuestionBtn,.editQuestionBtn {
	display: inline-block;
	cursor: pointer;
	width: 60px;
	margin-right: 5px;
	margin-top: 5px;
}
.sublabel
{
	font-size: 12px;
	color: #666679;
	margin: 2px 0 5px 5px;
}
#CustomizeTemplateForm #txtSurveyName
{
	width: 460px;
	padding: 4px 2px;
	border: 1px solid #919091;
}
#CustomizeTemplateForm #inpImgFile
{
	border: 1px solid #919091;
}
#txtFooterText
{
	border: 1px solid #919091;
}

#AddSurveyForm label,
#TemplateForm label,
#CustomizeTemplateForm label
{
	margin: 2px 0 5px 5px;
}
#AddSurveyForm input[type="text"],
#AddSurveyForm select,
#TemplateForm textarea,
#TemplateForm input[type="text"]
{
	border: 1px solid #919091;
	padding: 4px 2px;
}
#AddSurveyForm select
{
	width: 200px;
	background: -moz-linear-gradient(center top , #fdfdfd, #ebebeb) repeat scroll 0 0 transparent;
	box-shadow: 1px 1px 5px #8B8A8B;
}
#AddSurveyForm input#rdoNoExpire
{
	color: #000000;
}
#AddSurveyForm input[type="radio"],
#AddSurveyForm input[type="checkbox"],
#TemplateForm input[type="radio"],
#TemplateForm input[type="checkbox"] {
  /* same colors as |input| rule, but |!important| this time. */
  border: 0px;
  box-shadow: 0px;
  background: none;
}

.survey_builder_button {
	cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0.5em;
    /*background: -moz-linear-gradient(center top , #EDEDED, #C8D88F) repeat scroll 0 0 transparent;*/
    background: -moz-linear-gradient(center top , #fdfdfd, #ebebeb) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 1px 2px 1px #919191;
    border: 1px solid #B6B6B6;
    color: #4F4F4F;
    font-weight: bold;
    font-size: 1.2em;	
    text-align: right;
	padding: 5px 20px;
}
/* Delivery */
#DeliveryType input{
	width:3px;
}
#BottomSection {
 	background: none repeat scroll 0 0 #D9D9D4;
    margin-top:10px;  
 }
 
/** Add question */
.InfoBarTitle {
	color: #87A32E;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}
#QuestionContainer{
    background: #E8E8E8;
    height: 410px;
    overflow: auto;
}

.qSetting {
    background-color: #E8E8E8;
    border-top: 1px solid #FFFFFF;
    font-size: 11px;
    margin: 0;
    padding: 10px;
}

.qe-label-a {
    font-size: 12px;
    font-weight: bold;
	vertical-align: top;
}
.listpage
{
	float: left;
}
.listpage .page
{
	float: left;
	padding: 5px;
	cursor: pointer;
}
.listpage .active
{
	font-weight: bold;
	text-decoration: underline;
}
#insert_prompts
{
	background: url(images/btQuestion.png) no-repeat center left;
	padding: 5px 0px 5px 20px;
	cursor: pointer;
}
#deletePage
{
	padding: 5px 20px;
	cursor: pointer;
	float: left;
	width: 130px;
}
.addPage
{

}
.prevPage,
.addPage
{
	text-align: right;
	padding: 5px 20px;
	cursor: pointer;
}
.prevPage
{
	float: left;
}
input.QuestionChoices, textarea.QuestionChoices {
	height: 62px;
    overflow: hidden;
    resize: none;
    width: 370px;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 14px;
}
#QuestionContainer #popupTitleBar {
    background: url("../images/question_hd.png") repeat-x scroll 0 0 #333344;
    color: #FFFFFF;
    font-weight: bold;
    height: 29px;
    padding: 0;
    position: relative;
    z-index: 203;
}
.questionBuilder .detail {
    color: #666666;
    font-weight: normal;
	font-size: 12px;
	float: left;
    margin-left: 5px;
    margin-top: 3px;	
}
#QuestionContainer textarea {
	overflow-y: auto;
	
}
.SurveyType label.error{
	width: 255px;
	font-weight: bold;
	}
#questionBuilder div td{
	padding-left:15px;
}
#QuestionContainer td{
	padding:5px;
	}
.clear{
	clear: both;
}
.qRating{
	float: left;
	}

div.ruled label.rb_off img, .matrixAltRow label.rb_off img
{
	background: url("images/sprite_checkmark_alpha.png") repeat scroll 0 0 transparent;
}
div.ruled label.rb_on img, .matrixAltRow label.rb_on img
{
	background: url("images/sprite_checkmark_alpha.png") repeat scroll -20px 0 transparent; 
}

/** create content survey */
#SurveyContent {
	margin:0 0;
	background: #FFFFFF;
	padding:0px;
	border: none;
	font-size:12px;
}
#SurveyContent #SurveyName {
	width: 50px;
	font-weight: normal;
	font-size: 12px;
	text-align:left;
}
#AddQuestionSection {
    padding: 5px;
}
#AddQuestionSection #AddQuestion{
	margin-left:10px;
	cursor:pointer;
}
#BottomSection {
 	background: none repeat scroll 0 0 #D9D9D4;
    margin-top:40px;  
    padding: 8px;
 }
#SurveyContent #SurveySection{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    padding: 0.5em 1em;
    position: relative;
}
#SurveyContent #popupTitleBar {
    background: url("../images/question_hd.png") repeat-x scroll 0 0 #333344;
    color: #FFFFFF;
    font-weight: bold;
    height: 29px;
    padding: 0;
    position: relative;
    z-index: 203;
}
.qShortHeader .qHeader{
    color: #880000;
    font-size: 13px;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
#MATRIXONE .qSetting
{
	clear: left;
}
#MATRIXONE .qSetting .header .detail
{
	float: none;
}
#MATRIXONE .qSetting .qcontent
{
	float: none;
}
/** css form edit content survey  */
tr.matrixAltRow .qOption{
	margin: 14px 10px 0;
}
#TableSurveyEmailQuestions .matrixAltRow td{
	border: none;
	}
#TableSurveyEmailQuestions tr td,#TableSurveyVoiceQuestions tr td,#TableSurveyVoiceEmailQuestions tr td{
	border: 1px dashed #CCCCCC;
	}
.tDnD_whileDrag{
	background: #C8D88F;
	}
.ed_QstHdr {
    /*border: 1px dashed #CCCCCC;*/
    margin: 0 15px;
     float: left;
      cursor: default;
    /*padding: 10px;*/
}
.EditorButtonBar {
    position: relative;
    white-space: nowrap;
    z-index: 10;
}
.questionContent {
  margin-bottom:30px;
}
.qOption {
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}
#QuestionBottomSection button {
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 27px;
    padding-left: 10px;
    text-align: center;
}
/** survey email */
#EmailInvitation .InfoBarTitle {
    color: #87A32E;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px;
    padding: 0;
}
#EmailInvitation .InfoBarContent{
    background-color: #FFFFFF;
	font-size: 12px;
	margin-left: 15px;
}
/** add new */
#AddNewLCEListmainnavigator,
#AddNewCPPListmainnavigator
{
	margin:0 0;
	width:450px;
	padding:0px;
	border: none;
	min-height: 330px;
	height: 330px;
	font-size:12px;
}


#AddNewLCEListmainnavigator #LeftMenu,
#AddNewCPPListmainnavigator #LeftMenu
{
	width:270px;
	min-width:270px;		
	background: #B6C29A;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(200,216,143))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(200,216,143)
	);
	
	position:absolute;
	top:-8px;
	left:-17px;
	padding:15px;
	margin:0px;	
	border: 0;
	border-right: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	min-height: 100%;
	height: 100%;
	z-index:2300;
}


#AddNewLCEListmainnavigator #RightStage,
#AddNewCPPListmainnavigator #RightStage
{
	position:absolute;
	top:0;
	left:287px;
	padding:15px;
	margin:0px;	
	border: 0;
}


#AddNewLCEListmainnavigator h1,
#AddNewCPPListmainnavigator h1
{
	font-size:12px;
	font-weight:bold;	
	display:inline;
	padding-right:10px;	
	min-width: 100px;
	width: 100px;	
}
/** cpp report */
table.listCPP,
#tbl_cpp_report table {
	margin-left: 0;
    margin-right: 0;
    width: 100%;
    border-collapse: collapse;
    margin: 2% 0 2% 2%;
    width: 96%;
    border-collapse: collapse;
    border-spacing: 0;
}
.listCPP th,
#tbl_cpp_report th {
    background-color: #F2F2F2;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.listCPP th,
.listCPP td,
#tbl_cpp_report th,
#tbl_cpp_report td {
    border: 1px solid #CCCCCC !important;
    padding: 0.4em;
}
.listCPP .tbl_header,
#tbl_cpp_report .tbl_header{
	background:#eeaaaa;
	font-weight: bold;
}
/*style table result*/
.survey-report
{
	width: 80%;
	padding: 0 10%;
	margin-top: 20px;
}

.qcontent table
{
	margin-bottom: 15px;
	border: 0px;
	border-spacing: 0px;
}

.qcontent tr.theader td{
    background-color: #E6ECC0;
    border-bottom: 1px solid #666666;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
	padding: 10px 15px 10px 8px;
}
.qcontent table tbody
{
    background: #F0EFEE;
}
.qcontent tbody tr
{

}
.qcontent tbody tr td{
    border:0px;
    margin: 0px;
    border-bottom: 1px solid #CCCCCC;
	padding: 10px 15px 10px 8px;
}

.qcontent table tfoot {
	background: #DADAD8;
}
.qcontent tfoot tr th{
    padding: 6px 15px 6px 8px;
	border: none;
}
.question-title
{
    background-color: #E6ECC0;
    border-bottom: 1px solid #666666;
    line-height: 16px;
    text-align: left;
	padding: 10px 15px 10px 8px;	
}
.qtitle{
    font-size: 14px;
    font-weight: bold;
}
.answ,
.skip{
	text-align:right;
}

.notranslate {
	text-align: left;
}
/** survey email */
#emailNavigationButtons
{
	margin-left: auto;
	text-align: center;
}
#emailNavigationButtons a
{
	float: left;
}

/** advance */
#CustomizeTemplateForm label.error,
#CustomizeTemplateForm div.error
{
	float: none;
}
.bgorange
{
	background: orange;
}
.bgred
{
	background: red;
}
.bgfefede
{
	background: #fefede;
}

.link
{
	color: blue;
	cursor: pointer;
}

.link:hover
{
	text-decoration : underline;
}
.ui-corner-all
{
	border-radius: 6px;
}
.date_picker {
    background-image: url("../../public/images/date_picker.jpg") !important;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px !important;
    overflow: hidden;
    text-indent: 20px;
    cursor: pointer;
    margin-top: 6px !important;
}

.hidden_date_picker {
	border: medium none; 
	height: 0px; 
	position: absolute; 
	width: 0px; 
	outline: none;
	background-color: white;
}

.date_field {
	width: 20px !important;
	padding-left: 3px
}

.year_field {
	width: 40px !important;
	padding-left: 3px
}

.date_separate_field {
	padding-left: 3px;
	padding-top: 7px
}

.include_welcome {
	padding-left: 10px; 
	clear: both; 
	padding-top: 10px;
}
.left {
	float: left; 
}
.right {
	float: right; 
}
.checkbox {
	width: 10px !important;
}

.field_padding {
	padding: 5px;
	padding-left: 15px;
}
.field_pdTop0 {
	padding-top: 0px;
}
.field_pdBottom0 {
	padding-bottom: 0px;
}

.field_margin {
	margin: 2px 0 5px 5px;
}
.MarRight50
{
	margin-right: 50px;
}
.non_padding_top
{
	padding-top: 0px;
}

.non_padding_bottom
{
	padding-bottom: 0px;
}

.thankyou_form_padding
{
	padding: 10px;
}
.back_label 
{
	padding-right: 10px;
	margin-top: 5px
}

.back_checkbox
{
	margin-top: 5px;
	margin-right: 5px;
	
}

.expiry_date_time {
	color: #007ee5; 
	margin: 2px 0 5px 5px;
}

.welcome_text_area {
	height: 80px;
}
.font_black {
	color: black !important;
}