
label {
	display: block;
	color: #161616;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}
#singhd{
	color:#161616;
	font-family:Verdana, geneva, sans-serif;
	font-size:30px;
	text-align:center;
	float:left;
	width:100%;
}
.social{
	padding-left:5px;
	padding-right:5px;
	width:100%;
	 text-align: center;
	height:32px;
	float:left;}

#sign-soc{
	margin-left: 145px;
    width: 50%;
	height:45px;
	float:left;
}
#sign-soc1{
	margin-left: 105px;
    width: 50%;
	height:45px;
	float:left;
}
.social-icon {
	float:left;
	padding-top:13px;
	padding-left:20px;
}
#social-icon img {
	float:left;
}
#social-icon li {
	float:left;
	padding-right:3px;
}

.signnew{
	font-size:12px;
	float:left;
	text-align: left;
	height: 25px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
	margin-top:25px;
}
.signnew a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 25px;   
    width: 100%;
	text-decoration:none;
	color:#161616;
}
.signnew a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 25px;   
    width: 100%;
	color:#27b1e7 !important;
}

.loginform {	
	background-color: rgba(250,250,250,0.5);
	overflow-x: hidden;
    overflow-y: hidden;
	margin-top:0px;
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: block;
	margin-left:120px;
}
.loginform input:not([type=submit]) {
	width: 217px;
	font-size:12px !important;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ; 
}

.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}



.loginbutton {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-weight:bold;
	text-decoration: none;
	font: 14px/100% "Verdana", geneva, sans-serif;
	padding: .5em 2em .55em;
	text-transform:uppercase;
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}



.loginbutton:hover {
	text-decoration: none;
}
.loginbutton:active {
	position: relative;
	top: 9px;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 12px;
	padding: 8px 8px 8px 8px;
}

.RememberMe
{
	display:block;
	color: #161616;   
    font-size: 12px;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 0px;
    text-align: left;
	vertical-align:top;
	height: 40px;
}

.RememberMe input
{
	width: 25px !important;
	box-shadow: none !important;
	
}
.bluelogin {
	color: #FFFFFF !important;
	border: solid 1px #0076a3;
	background: #0095cd;
	margin-left:175px;
	padding-top: 8px;

	background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2484c6', endColorstr='#2484c6',GradientType=0 ); /* IE6-9 */
	
	display:inline;
	position:relative;
	top:10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	text-transform: uppercase;
	
}
.bluelogin:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095cc', endColorstr='#00678e',GradientType=0 ); /* IE6-9 */
}
.bluelogin:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078a5', endColorstr='#00adee',GradientType=0 ); /* IE6-9 */

}

.LoginHeader
{
	color: #F8853B;
    font-family: 'Conv_Helvetica45-Light';
    font-size: 30px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: Left;
    width: 100%;		
}

.LoginHeader span
{
	color: #007ead;	
}

.login_close {
    background: url("images/cross_off.png") no-repeat scroll 0 0 transparent;
    color: #6FA5FD;
    cursor: pointer;
    display: block;
    font-size: 0;
    font-weight: 700;
    height: 26px;
    line-height: 14px;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 26px;
	border:none;
}

.login_close:hover {
    background: url("images/cross.png") no-repeat scroll 0 0 transparent;
 }
