
/* CSS Document */

div#mainDiv {
	width:1200px;
}

div.left {
	float:left;
	width:20%;
}

div.right {
	float:left;
}

p.mainRow {
	background-color:#FFFF99;
	cursor:pointer;
}

.hide {
	display: none;
}

.show {
	display: inline;
}

/* */


.tooltip {
	font-size: 9px;
	color: #999999;
	cursor: help;
}


div#today fieldset.Intoday {
	width:95%; 
	padding:10px; 
	height:60px;
	
}

div#today fieldset.IntodayLess {
	padding-left:20px; 
	height:60px;
	
}

div#today fieldset.Intoday legend{
	 color: #666666;
	 padding-left: 6px;
	 padding-right: 6px;
}

div#today fieldset.IntodayLess legend{
	 color: #666666;
	 padding-left: 6px;
	 padding-right: 6px;
}

.widget {
	width: 1125px;
	margin: 20px;
	padding: 10px;
	background: #f3f1eb;
	border: 1px solid #dedbd1;
	margin-bottom: 15px;
}

	.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 15px;
	}
	
		.tabnav li span {
		text-decoration: none;
		text-transform: uppercase;
		font-size:22px;
		color: #666666;
		font-weight: bold;
		padding: 2px 8px;
		outline: none;
		cursor:default;
		}
		
		
	.tabdiv {
		margin-top: 30px;
		background: #fff;
		border: 1px solid #dedbd1;
		padding: 5px;
	}
		
		.tabdiv #left {
			float:left;
			width:435px;
			text-align:center;
			margin-top:10px
		}
		
		.tabdiv #left p {
			width:175px;
			display: inline-block;
			font-weight:bold;
			font-size:15px;
		}
		
		.tabdiv #left p.running {
			color:#006600;
		}
		.tabdiv #left p.problem {
			color:#FF6820;
		}
		.tabdiv #left p.completed {
			color:#666666;
		}
		.tabdiv #left p.error {
			color:red;
		}
		
		.tabdiv #right {
			 float:left;
			 width:435px;
			 text-align:center;
			 margin-left:50px;
			 margin-top:10px
		}
		
		.tabdiv li {
			margin-left: 20px;
		}
		
		.tabdiv ul.rows li {
			list-style: none;
			padding:3px 0px 3px 0px;
			margin:6px 2px 1px 2px;
			cursor:pointer;
			/*margin: 15px 0px 10px 5px; background:#99FF33;*/
		}
		
		.tabdiv ul.rows li span.descH{
			display: inline-block;
			width: 350px;
			margin-left: 10px;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.tcH{
			display: inline-block;
			width: 140px;
		}
		.tabdiv ul.rows li span.qcH{
			display: inline-block;
			width: 140px;
		}
		.tabdiv ul.rows li span.pcH{
			display: inline-block;
			width: 140px;
		}
		.tabdiv ul.rows li span.ccH{
			display: inline-block;
			width: 140px;
		}
		.tabdiv ul.rows li span.mlrH{
			display: inline-block;
			width: 140px;
		}
		
		.tabdiv ul.rows li span.desc{
			display: inline-block;
			width: 330px;
			margin-left: 10px;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.tc{
			display: inline-block;
			width: 160px;
			text-align:center;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.qc{
			display: inline-block;
			width: 135px;
			text-align:center;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.pc{
			display: inline-block;
			width: 135px;
			text-align:center;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.cc{
			display: inline-block;
			width: 135px;
			text-align:center;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.mlr{
			display: inline-block;
			width: 120px;
			text-align:center;
			font-weight:bold;
		}
		.tabdiv ul.rows li span.arrow{
			width: 25px;
		}
		

		.ui-tabs-hide {
		display: none;
		}

		#featuredvid {
		text-align: center;
		}
		
			.fvid {
			margin-bottom: 5px;
			}
		
			.vidselector li {
			text-align: left;
			list-style: none;
			padding: 5px;
			background: #ffffff;
			border: 1px solid #dedbd1;
			text-transform: uppercase;
			margin-bottom: 5px;
			}

table.detailTable {
	background-color: #EEEEEE; 
	display: none; 
	width: 98%; 
	margin: auto;
	padding: 0px 10px 2px 10px;
	color:#333333;
	font-size:11px;
	
}

table.detailTableShow {
	background-color: #EEEEEE; 
	width: 1000px; 
	margin: auto;
	padding: 0px 10px 2px 10px;
	color:#333333;
	font-size:11px;
	
}


table.detailTableInner {
	background-color: #FEFEFE; 
	margin: auto;
	padding: 0px 10px 2px 10px;
	color:#333333;
	font-size:11px;
	text-align:center;
	border-collapse:collapse;
	border: 1px solid #999999;
}

table.detailTableInner tr:hover{
	background-color: #FFFFDD;
}
table.detailTableInner td { 
	border-bottom:1px solid #666666; 
}

.Width1000
{
	width: 800px;
	overflow:scroll;
}
