/* CSS Print Friendly Document */


.no-print		{ display:none; }
.print-display-only		{ display:none;  }
.page-break	{ page-break-before: always; } /* put this class into your main.css file with "display:none;" */

#maincontent {
    margin-left: 0px;
}

.EBMDialog {
    padding-bottom: 20px;
    width: 630px;
}

.EBMDialog .inner-txt-box {
    margin-left: 20px;
    width: 600px !important;
}

.SurveyQuestionText {
    width: 501px !important;
	min-width: 501px !important;
	padding: 10px 5px 10px 10px !important;
}

#SurveyBuilderContainer
{
	width: 630px !important;
	margin-bottom: 10px !important;
}

#mainPage {
    width: 100%;
}

.leftBackground 
{

}

* {
    font-family: 'Conv_Helvetica45-Light';
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    background: none !important;
    font-family: 'Conv_Helvetica45-Light';
    font-style: normal;
    font-weight: normal;
}


@media print
{
	.print-display-only { display: block; }    	
}
	
	