.PdLeft10
{
	padding-left: 10px;
}
.PdRight10
{
	padding-right: 10px;
}
.MarRight5
{
	margin-right: 5px;
}
.MarRight10
{
	margin-right: 10px;
}
#fieldWrapper {
	padding : 1em;
	width : 50%;
	border: 1px solid #A7D6F2;
	margin: 0 auto;
	background: #F4F8FD;
}


#TableSurveyItems {
	margin-bottom: 20px;
}

#demoNavigation {
	margin-top : 0.5em;
	margin-right : 1em;
	text-align: right;
}

#data {
	font-size : 0.7em;
}

input {
	margin-right: 0.1em;
	margin-bottom: 0.5em;
}

.input_field_25em {
	width: 2.5em;
}

.input_field_3em {
	width: 3em;
}

.input_field_35em {
	width: 3.5em;
}

.input_field_12em {
	width: 12em;
}

label {
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 0.8em;
}


div .InformationLabel {
	margin-bottom: 3px;
	font-weight:bold;
	font-size: 12px;
}


div .Information {
	margin-bottom: 6px;
	font-weight:normal;
	font-size: 12px;
}

label.error {
	color: red;
	margin-left : 0.5em;
    float: left;
    text-align: left;
    font-size: 100%;
}

.step span {
	float: right;
	font-weight: bold;
	padding-right: 0.8em;
}

.navigation_button {
	width : 70px;
}

#data {
		overflow : auto;
}
#progressbar
{
	background: #dfdfdf;
	width: 650px;
}
#progressbar #percent
{
	background: #df0000;
}

.header_padding {
	height: 50px;
	height: 15px;
}

.survey_counter {
	width: 60%;
	height: 19px;
	padding: 0.1em;
	float: left !important;
	border-radius: 8px 8px 8px 8px !important;
	padding-left: 20%;
	
}
.ui-progressbar-value {
	border-radius: 8px 8px 8px 8px !important;
	height: 18px !important;
}

.progressbar_boder {
	border: 0px !important;
	background-color: #EBEBEB;
	border-radius: 8px 8px 8px 8px;
}
.survey_counter_content {
	height: 20px;
}

.jw-counter-text {
	padding: 0px !important;
	width: 100% !important;
}

.jw-buttons button {
	padding: 0.2em 1em !important;
}

.jw-button-previous {
	float: left !important;
}

.jw-buttons button {
	margin-left: 0px !important;
}

.jw-content {
	padding: 0px;
}
.jw-steps-wrap {
	height: auto !important;
}

.ui-widget-content_body{
	border: none !important;	
}

.question_body {
    border-radius: 5px 5px 5px 5px;
	border: 1px solid #cacccf;
	box-shadow: 2px 2px 5px #cacccf;
    position: relative;
}

.question_header {
	background-color: #EFF3F7;
   	border-bottom: 1px solid #b9c9d6;
	border-radius: 5px 5px 0px 0px;
    clear: both;
    /*width: 100%;*/
}

.question_header_text {
	 padding: 10px;
}
.qBody
{

	 border-top: 0px;
}
.question_footer {
	height:13px; 
	clear:both;
}

.matrix_question_header {
	background-color: #F2F2F2;
	padding: 5px;
}

.matrix_answer {
	font-size: 13px;
}

.matrix_question {
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
}

.matrix_question_top {
	border-top: 1px solid #a1a1a1;
	vertical-align: bottom;
}

.matrix_question_left {
	border-left: 1px solid #a1a1a1;
}

.pointer {
	cursor: pointer;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}
.answer {
	padding-left: 15px;
	width: auto;
}

.textarea {
	width: 300px;
}
.one_selection {
	overflow: auto; 
	padding: 10px 5px 5px 5px; 	
	height: 218px;
	width: 500px;
}

.qSetting {
	padding :0px !important;
}

.answerValue
{
	width:370px;
}

.answer_padding {
	padding: 10px;
}

.row_margin_top {
	margin-top: 10px;
}

.row_padding_left {
	padding-left: 10px;
}
.row_padding_top {
	padding-top: 10px;
}
.question_label {
	margin-right: 5px;
}

.rename_label {
	width: 40%;
}

.question_control {
	width: 100%;
}

.rename_control {
	width: 58%;
	padding-bottom: 5px;
}


.align_center {
	text-align: center;
}

.completion_survey {
	background-color: green !important;
	height: 100%;
}
.uncompletion_survey {
	background-color: white;
	border: 1px solid #C6C6C6;
}
.question_header_text {
	color: black;
	border-radius: 5px 5px 5px 5px;
}

.answer_details_text {
	color: #7B7B7B;	
}

input.QuestionChoices, textarea.QuestionChoices {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 14px;
    height: 62px;
    overflow: hidden;
    resize: none;
    width: 370px;
}
div.error {
    color: red;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: left;
}

.survey_form {
	margin: 0 auto; 
	max-width: 960px; 
	min-width: 700px; 
	width: 100%;
}
#header_container{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
#survey_header{
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding: 0;
}
#survey_header img{
	float: left;
	padding-left: 0px;
}
#survey_title{
	float: right;
	font-size: 20px;	
	color: #747474;
	max-width: 65%;
    text-align: right;
}
.error strong{
	font-size: 12px !important;
}
#footer{
	font-size: 12px;
}
.jw-header{
	margin-bottom: 24px;
}

.advanced_option_padding {
	padding-left:5px; 
	padding-top:10px
}
.advanced_option_label {
	padding-bottom: 10px; 
	text-decoration: underline;
	cursor: pointer;
}
.margin_left_5px {
	margin-left: 5px;
}
.margin_left_20px {
	margin-left: 20px;
}

.padding_left_5px {
	padding-left: 5px;
}

.padding_left_20px {
	padding-left: 20px;
}

.voice_type_body {
	padding-top: 10px; 
	padding-left: 10px;
}
.voice_type_label {
	font-family: Verdana;
}
.survey_builder_button {
	margin-right: 0px !important;;
	margin-left: 12px; 
}
.voice_label {
	padding-top: 10px; 
	font-weight: bold;
}
.survey_Type_separation {
	width: 100%; 
	clear: both; 
	border-bottom: 1px solid black; 
	margin-bottom: 20px; 
	padding-top: 20px;
}

.question_title {
	clear: both; 
	background-color: rgb(230, 236, 192); 
	width: 500px; 
	height: 30px; 
	padding-top: 5px; 
	padding-left: 5px;
	border-bottom: 1px solid;
}

.question_summary {
	clear: both; 
	float: left; 
	background-color: rgb(218, 218, 216); 
	width: 505px;
	border-bottom: 1px solid #D5D4D2;
}
.answer_details {
	width: 505px; 
	clear:both;
	background-color: rgb(240, 239, 237); 
	float: left;
	padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #D5D4D2;
}

.question_gap {
	width: 505px; 
	background-color: white; 
	height: 20px; 
	clear: both;
}
.summary_details {
	width: 200px; 
	margin-left: 10px; 
	padding-bottom: 20px; 
	padding-top: 20px; 
	float: right;
	color: blue;
}

.total_count_label {
	float: left; 
	width: 150px;
}

.report_summary_header {
	width: 505px; 
	clear: both; 
	float: left; 
	border-bottom: 2px solid; 
	margin-bottom: 10px;
}

.response_summary {
	float: left; 
	height: 30px; 
	padding-top: 5px;
}

.reponse_summary_label {
	font-size: 24px; 
	color: rgb(156, 151, 156);
}

.branch_survey_row {
	width: 100%; 
	background-color: rgb(211, 224, 241); 
	border-bottom: 1px solid #939292;
}
.branch_survey_row_top {
	border-top: 1px solid #939292;
}

.branch_survey_cell {
	 float: left; 
	 padding-left: 1%; 
	 height: 30px; 
	 border-right: 1px solid #939292;
}

.branch_survey_last_cell {
	 float: left; 
	 padding-left: 1%; 
	 height: 30px; 
}
.condition_body {
	margin-top: 10px; 
	overflow: auto; 
	width: 100%; 
	height: 100px;
	padding-top: 10px;
}

#SurveyBuilderHeader .action-buttons
{
	position: relative;
	bottom:20px;
	right:15px;
}

#SurveyBuilderHeader .ImageMenuBtn
{
	position: relative;
	float: right;
	/* width: 20px;
	height: 20px;
	background: url(images/zoom_out20.png); */
	/*background: url(images/topmenuicons.png) 0 -1524px; width: 20px; height: 20px;*/
	
	margin-left: 25px;
}

#SurveyBuilderHeader #undoBtn.active
{
	/* background: url(images/undo20n.png); */
	background: url(images/topmenuicons.png) 0 -1169px; width: 20px; height: 20px;
	cursor:pointer;
}

#SurveyBuilderHeader #undoBtn.inactive
{
	/* background: url(images/undo20n_inactive.png); */
	background: url(images/topmenuicons.png) 0 -1239px; width: 20px; height: 20px;
}

#SurveyBuilderHeader #redoBtn.active
{
	/* background: url(images/redo20n.png); */
	background: url(images/topmenuicons.png) 0 -665px; width: 20px; height: 20px;
	cursor:pointer;
}
#SurveyBuilderHeader #redoBtn.inactive
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/topmenuicons.png) 0 -735px; width: 20px; height: 20px;
}

#SurveyBuilderHeader #xmlBtn.active
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/xmlpreview20n.png) 0 0; width: 20px; height: 20px; cursor:pointer;
}

#SurveyBuilderHeader #xmlBtn.inactive
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/xmlpreview20n_inactive.png) 0 0; width: 20px; height: 20px; cursor:pointer;
}

#SurveyBuilderHeader #ToggleToggleBtnBtn.inactive
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/template20n_inactive.png) 0 0; width: 20px; height: 20px; cursor:pointer;
}

#SurveyBuilderHeader #ToggleToggleBtnBtn.active
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/template20n.png) 0 0; width: 20px; height: 20px; cursor:pointer;
}

#SurveyBuilderHeader #ProgramActiveMSGBtn.active
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/ActiveMSGIcon20x20.png) 0 0; width: 20px; height: 20px; cursor:pointer;
}


#SurveyBuilderHeader #TMRMSGBtn.active
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/TMRMSGIcon20x20.png) 0 0; width: 20px; height: 20px; cursor:pointer;
}


#SurveyBuilderHeader #ScheduleBtn.active
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
}

#SurveyBuilderHeader #ScheduleBtn.inactive
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
}

.iLabel
{
	float:left;
	width:125px;
	padding-right: 5px;
	font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;	
}

.iValue
{
	float:left;
	width:125px;
	padding-right: 5px;
	font-size: 12px;
    font-weight:normal;
    margin-bottom: 3px;
}

.iBreak
{	
	line-height:15px;
}

