.addgroup_Web_128x128{background: url(../images/tabicons.png) 0 -150px; width: 128px; height: 128px; }  
.Apps-kchart-icon16x16{background: url(../images/tabicons.png) 0 -478px; width: 16px; height: 16px; }
.Apps-analytics-icon16x16{background: url(../images/icon-analytics_16x16.png) left; width: 16px; height: 16px; }
.Apps-Launch-icon16x16{background: url(../images/collect_on.gif) left no-repeat; width: 16px; height: 16px; }
.Apps-edit-icon16x16{background: url(../images/edit_16x16.png) left; width: 14px; height: 16px; }
.Apps-text-icon16x16{background: url(../images/tabicons.png) -292px -253px; width: 16px; height: 16px; }
.DeleteGroup_Web_128x128{background: url(../images/tabicons.png) 0 -694px; width: 128px; height: 128px; } 
.delete_16x16{background: url(../images/tabicons.png) 0 -872px; width: 16px; height: 16px; } 
.ETLSymbolWeb{background: url(../images/tabicons.png) 0 -938px; width: 215px; height: 215px; } 
.EditGroup_Web_128x128{background: url(../images/tabicons.png) 0 -1203px; width: 128px; height: 128px; } 
.Group_Web128x128{background: url(../images/tabicons.png) 0 -1381px; width: 128px; height: 128px; } 
.LaunchIconWebII{background: url(../images/tabicons.png) 0 -1559px; width: 100px; height: 100px; }  
.Load-DB--icon_web{background: url(../images/tabicons.png) 0 -1852px; width: 128px; height: 128px; } 
.Lock-icon_Web{background: url(../images/tabicons.png) -265px 0; width: 128px; height: 128px; } 
.MBIcon1Web{background: url(../images/tabicons.png) -265px -178px; width: 140px; height: 25px; } 
.Magnify-Purple-icon{background: url(../images/tabicons.png) -265px -253px; width: 16px; height: 16px; }  
.Phone-icon{background: url(../images/tabicons.png) -265px -469px; width: 64px; height: 64px; } 
.Refresh_16x16{background: url(../images/tabicons.png) -265px -583px; width: 16px; height: 16px; } 
.Spacer_Web_64x64{background: url(../images/tabicons.png) -265px -649px; width: 64px; height: 64px; } 
.batch-file-icon_web{background: url(../images/tabicons.png) -265px -763px; width: 128px; height: 128px; } 
.contact-new-icon_web{background: url(../images/tabicons.png) -265px -941px; width: 128px; height: 128px; } 
.down{background: url(../images/tabicons.png) -265px -1119px; width: 100px; height: 98px; }

.MultiChannelTriRecycleIconWebII{background: url(../images/tabicons.png) -265px -319px; width: 120px; height: 100px; }
.ContactsIconWebIII{background: url(../images/tabicons.png) 0 -544px; width: 100px; height: 100px; }
.ActivityIconWeb{background: url(../images/tabicons.png) 0 0; width: 100px; height: 100px; }
.LifeCycleIconWeb{background: url(../images/tabicons.png) 0 -1709px; width: 119px; height: 93px; }
.AdminIconWebII{background: url(../images/tabicons.png) 0 -328px; width: 100px; height: 100px; }
