.ui-notify { width:350px; position:fixed; top:10px; right:10px; opacity:0.8}
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;height:100px;}
.ui-notify-message h1 { font-size:14px; margin:0; padding:0 }
.ui-notify-message .title { margin:3px 0; padding:0; min-height:35px;}
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:#000; -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000;}
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style .title { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#C10000; }
.ui-notify-cross:active { position:relative; top:1px }
.acceptButton{background:-moz-linear-gradient(center top,#4285F4,#4285F4) repeat scroll 0 0 transparent;border:1px solid #0076A3;border-radius:5px;box-shadow:1px 1px 1px 1px #9A9A9A;color:#FFF!important;cursor:pointer;display:inline-block;font:14px/100% Verdana,geneva,sans-serif;margin-left:5px;outline:medium none;padding:2px 5px;text-align:center;text-decoration:none!important;text-transform:uppercase;vertical-align:baseline;width:auto}.acceptButton:hover{background:-moz-linear-gradient(center top,#2B78E4,#2B78E4) repeat scroll 0 0 transparent}.declineButton{background:-moz-linear-gradient(center top,#CF2A27,#CF2A27) repeat scroll 0 0 transparent;border:1px solid #CF2A27;border-radius:5px;box-shadow:1px 1px 1px 1px #9A9A9A;color:#FFF!important;cursor:pointer;display:inline-block;font:14px/100% Verdana,geneva,sans-serif;margin-left:5px;outline:medium none;padding:2px 5px;text-align:center;text-decoration:none!important;text-transform:uppercase;vertical-align:baseline;width:auto}.declineButton:hover{background:-moz-linear-gradient(center top,#C10000,#C10000) repeat scroll 0 0 transparent}
