/*//#innertube{
	padding-left: 12px;
	width: 98%;
	color: #666666;
}*/
.label{
	background-color: #F1F1F1;
	color: #424242;
	font-weight: bold;
	border: #A9A9A9;
	text-indent: 12px;
	font-size: 80%;
}
/*#innertube form{
	padding-left: 24px;
}*/
form input{
	border: solid 1px #909090;
	text-indent: 0px;
}
form label{
	color: #1E1E1E;
	line-height: 20px;	
	display: block;
	width: 100%;
}
form .field_padding{
	margin-bottom: 16px;
}
form .field_padding{
	display: inline-block;
	width: 98%;
}
form .field_padding .upimg_block{
	width: 50%;
	display: inline-block;
}
form .logo_preview{
	height: 65px;
	width: 250px;
	float: right;
	display: inline-block;
	margin-right: 20%;
}
form .ui-corner-all, #SurveyContent .ui-corner-all{
	border: solid 1px #9C9C9C;
	border-radius: 6px;
	box-shadow: 1px 1px 1px 1px #9A9A9A;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
	padding: 3px 20px;
	margin-right: 12px;
	height: 30px;
}
form .msg_box{
	margin-left: 24px;
}
form .msg_box .err_msg{
	color: red;
	font-size: 100%;
	line-height: 20px;
	background-image: url(images/important.gif);
	background-repeat: no-repeat;
	text-indent: 60px;
}
form .CreateSurveyButton{
	float: right;
	margin-right: 20%;
}
form .CreateSurveyButton a, form .CreateSurveyButton a:hover{
	text-decoration: none;
	color: #000;
}
.ui-corner-all{
	//min-width: 90px;
}
.error, .warning{
	color: red;	
}
/* Login Form */
.content_container{
	width: 100%;
	text-align: center;	
}
.content_container #login_box{
	width: 30%;
	margin: auto;
	padding-top: 12%;
	text-align: center;
	
}
#login_box #login{
	border: 3px solid #747474;
	border-radius: 12px;
	display: block;
	text-align: left;
	padding: 12px;
	margin: 12px 0px 12px 0px;
}
#login_box #login div{
	display: inline-block;
	width: 100%;
	margin: 6px 0px 6px 0px;
}
#login_box #login .inTitle,
#login_box #login .action_label,
#login_box #login input{
	display: inline-block;
} 
#login_box #login .inTitle{
	width: 30%;
	font-weight: bold;
}
#login_box #login input, #login_box #login .action_label{
	width: 65%;
}
#login_box #login .error{
	width: 65%;
	margin-left: 30%;
	display: none;
}
#login_box #login .action_box span,
#login_box #login .action_box button
{
	cursor: pointer;
}
#login_box .title{
	font-size: 18px;
}
#login_box #login .ui-corner-all{
	border-radius: 0px;
	box-shadow: none;
}