.Advance_Web_100x133{ background: url(../../public/images/VoiceToolIcons.png)0 0; width: 100px; height: 133px; } 
.CID_Web{ background: url(../../public/images/VoiceToolIcons.png)0 -183px; width: 122px; height: 192px; } 
.Carriers110x128Web{ background: url(../../public/images/VoiceToolIcons.png)0 -425px; width: 110px; height: 128px; } 
.CertifiedWeb{ background: url(../../public/images/VoiceToolIcons.png)0 -603px; width: 100px; height: 150px; } 
.EmailStructureWeb{ background: url(../../public/images/VoiceToolIcons.png)0 -803px; width: 122px; height: 192px; } 
.Folder-Group-Folder-icon110x128{ background: url(../../public/images/VoiceToolIcons.png)0 -1045px; width: 110px; height: 128px; } 
.MCIDgenSnapshotWeb{ background: url(../../public/images/VoiceToolIcons.png)0 -1223px; width: 100px; height: 150px; padding-top:5px;} 
.SMSStructureWeb{ background: url(../../public/images/VoiceToolIcons.png)0 -1423px; width: 122px; height: 192px; } 
.ScriptLibWeb{ background: url(../../public/images/VoiceToolIcons.png)0 -1665px; width: 100px; height: 150px; } 
.template-icon110x128_web{ background: url(../../public/images/VoiceToolIcons.png)0 -1865px; width: 110px; height: 128px; } 