    <style type="text/css">
       #vtab {
            margin: auto;
            width: 1000px;
            height: 100%;
        }
        #vtab > ul > li {
            width: 120px;
            height: 100px;
            background-color: #fff !important;
            list-style-type: none;
            display: block;
            text-align: center;
            margin: auto;
            padding-bottom: 10px;
            border: 1px solid #fff;
            position: relative;
            border-right: none;
            opacity: .3;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
			border-top-left-radius: 0px;
	    	border-top-right-radius: 0px;
        }
		
		
		#vtab > ul > li.MultiChannelVTab {
           /*  background: url('../images/MultiChannelTriRecycleIconWebII.png') no-repeat center center; */
           	background: url(../images/tabicons.png) -260px -315px; width: 120px; height: 100px;
        }
        #vtab > ul > li.VoiceVTab {
           /*  background: url('../images/ContactsIconWebIII.png') no-repeat center center; */
           	background: url(../images/tabicons.png) 10px -544px; width: 100px; height: 100px; 
			padding-right: 20px;
           	width: 100px; height: 100px;
        }
        #vtab > ul > li.EmailVTab {
           /* background: url('../images/ActivityIconWeb.png') no-repeat center center; */
            background: url(../images/tabicons.png) 10px 0; width: 100px; height: 100px;
			padding-right: 20px;
            width: 100px; height: 100px;
        }       
		#vtab > ul > li.LifeCycleVTab {
            /* background: url('../images/LifeCycleIconWeb.png') no-repeat center center; */
            padding-right: 20px;
            background: url(../images/tabicons.png) -2px -1703px; width: 100px; height: 100px;
			
        }
        
        #vtab > ul > li.ToolsVTab {
            /* background: url('../images/SurveyIcon.jpg') no-repeat center center; */
            padding-right: 20px;
            background: url(../images/Tool_icon.png)  no-repeat scroll center top  ; width: 100px; height: 100px;
			
        }         
		#vtab > ul > li.AdminVTab {
           /* background: url('../images/AdminIconWebII.png') no-repeat center center; */
            background: url(../images/AdminIconWebIII.png)  no-repeat; width: 100px; height: 100px;
			padding-right: 20px;
			width: 100px; height: 100px;
			margin-top:80px;
			margin-top: 0px;
        }
		
		
        #vtab > ul > li.selected {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            border: 1px solid #ddd;
            border-right: none;
            z-index: 10;
            background-color: #fafafa !important;
            position: relative;
			border-bottom: 1px solid #ddd !important;
        }
        #vtab > ul {
            float: left;
            width: 0px;
            text-align: left;
            display: block;
            margin: auto 0;
            padding: 0;
            position: relative;
            top: 30px;
        }
        #vtab > div {
            background-color: #fafafa;
            margin-left: 120px;
            border: 1px solid #ddd;
            min-height: 500px;
            padding: 12px;
            position: relative;
            z-index: 9;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px;
        }
        #vtab > div > h4 {
            color: #800;
            font-size: 1.2em;
            border-bottom: 1px dotted #800;
            padding-top: 5px;
            margin-top: 0;
        }
					
       
    </style>