p#vtip { display: none; position: absolute; padding: 10px; left: 25px; font-size: 0.9em; background-color: #F1FEFE; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 25px }