







<cfinvoke method="AssignSireSharedCSC" component="Session.cfc.csc.csc" returnvariable="RetVarAssignSireSharedCSC">
    <cfinvokeargument name="inpUserId" value="338">
    <cfinvokeargument name="inpKeywordLimit" value="1000">                             
</cfinvoke>


<cfdump var="#RetVarAssignSireSharedCSC#" />









