


<cfoutput>
	<cfscript>
	    CreateObject("component","public.sire.models.helpers.layout")	    	   
	    .addJs("../assets/pages/scripts/ticket-history.js");  	    	    
	</cfscript>
</cfoutput>
<div class="form-gd">    
    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <div class="table-responsive">
                    <table id="history-list" class="table table-striped table-responsive">
        
                    </table>
                </div>
            </div>
        </div>
    </div>
            
</div>

