



<cfinvoke component="#LocalSessionDotPath#.cfc.administrator.history" method="addHistory" returnvariable="addHistory">
	<cfinvokeargument name="pageTitle" value="#Help_Home_Title#">
</cfinvoke>




<script type="text/javascript">


	$(function() 
	{		
	
<!---		$("#EBMUserHelp").load("<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#/help/helpndocdeveloper/ebm/welcome.html</cfoutput>");
	--->
								
	});

</script>



<div id="EBMUserHelp">

    
    <h3>Overview</h3>
    <div>
        <a href="#">Voice Overview</a>
        <BR />
        <a href="#">eMail Overview</a>
        <BR />
        <a href="#">SMS Overview</a>
    </div>
    
    
    <BR />
    
    
    <h3>Developers</h3>
    
    
    
    <div>
        <a href="developers/doc_SystemOverview.cfm">EBM System Overview</a>
        <BR />
        
        <a href="developers/doc_superusers.cfm">The Zen of the Super User (What is the Matrix?)</a>
        
        <BR />
        
        <a href="developers/doc_rxmultilists.cfm">RX Multi List Overview</a>
        <BR />
        <a href="#">xxx Overview</a>
        <BR />
        <a href="#">yyy Overview</a>
        <BR />
        
        
        <BR />
        <a href="developers/doc_abctesting.cfm">A/B/C Testing</a>
        
        
       
        <BR />
        <a href="developers/doc_codingstandards.cfm">Coding Standards</a>
        
         
        <BR />
        <a href="developers/doc_apiii.cfm">API Overview</a>
        
        
        
        
    </div>


</div>
