<cfparam name="inpNumberOfDialsToRead" default = "100">
<cfparam name="CurrDialerArrayIndex" default="0">
<cfparam name="DeviceCount" default="0">
<cfparam name="inpMod" default="1">
<cfparam name="DoModValue" default="0">
<cfparam name="inpDistributionProcessId" default="0">
<cfparam name="inpDialerIPAddr" default="sire_push_notificationqueue">
<cfparam name="inpVerboseDebug" default="0">
<cfparam name="inpDisableSend" default="0">

<cfinclude template="\session\cfc\csc\constants.cfm">

<!---
    Process queued up messages

    Sire version assumptions

    iOS Push Notification



    Run multi threaded with inpMod and DoModValue


    Sample 10 threads

    inpMod = 10

    DoModValue = 0-9
    ... so 10 CRON jobs

    inpMod = 10 & DoModValue = 0
    inpMod = 10 & DoModValue = 1
    inpMod = 10 & DoModValue = 2
    inpMod = 10 & DoModValue = 3
    inpMod = 10 & DoModValue = 4
    inpMod = 10 & DoModValue = 5
    inpMod = 10 & DoModValue = 6
    inpMod = 10 & DoModValue = 7
    inpMod = 10 & DoModValue = 8
    inpMod = 10 & DoModValue = 9






    These are Status Flags to tell what state each entry in the Contact Queue is in.
    0=Paused
    1 = Queued
    2 = Queued to go to fulfillment - this means processing has started
    3 = Now being fulfilled
    4 = Blocked due BR rule (duplicates) on distribution
    5 = Complete by Process
    6 = Blocked due BR rule (bad XML) on distribution
    7 = SMS Stop request killed a queued message
    8 = Fulfilled by Real Time request
    100 - Queue hold due to distribution of audio error(s)
    There will be more status types as the system is built out.



--->

<cfset TotalProcTimeStart = GetTickCount() />
<cfset ServerStartTime = "#LSDateFormat(NOW(), 'yyyy-mm-dd')# #LSTimeFormat(NOW(), 'HH:mm:ss')#" />


<cfset TQCheckPoint = 0>
<cfset ProcessedRecordCount = 0>
<cfset SuppressedCount = 0>
<cfset DuplicateRecordCount = 0>
<cfset InvalidTZRecordCount = 0>
<cfset InvalidRecordCount = 0>
<cfset DistributionCount = 0>
<cfset DistributionCountRegular = 0>
<cfset DistributionCountSecurity = 0>
<cfset MaxInvalidRecords = 1>
<cfset ErrorCount = 0>
<cfset LastErrorDetails = ''>
<cfset PushMessage = ''>

<cftry>

    <cfset ExitRecordLoop = 0>

    <!--- Record(s) post --->
    <cfif inpNumberOfDialsToRead GT 0>

        <cfquery name="GetElligibleMessages" datasource="#Session.DBSourceEBM#">
            SELECT
                dts.DTSId_int,
                dts.BatchId_bi,
                DTS_UUID_vch,
                dts.TypeMask_ti,
                dts.TimeZone_ti,
                dts.CurrentRedialCount_ti,
                dts.UserId_int,
                dts.PushLibrary_int,
                dts.PushElement_int,
                dts.PushScript_int,
                dts.PushSkip_int,
                dts.CampaignTypeId_int,
                dts.ContactString_vch,
                dts.XMLControlString_vch,
                dts.ShortCode_vch
            FROM
                simplequeue.contactqueue dts JOIN
                simpleobjects.scheduleoptions so ON (so.BatchId_bi = dts.BatchId_bi)
                <!---FORCE INDEX (IDXComboDistribution)--->
            WHERE
                dts.DTSStatusType_ti = 1
            AND
                DTSId_int MOD #inpMod# = #DoModValue#
            AND
                so.enabled_ti = 1
            AND
                dts.ContactType_int = 4
            AND
                so.STARTHOUR_TI <= (EXTRACT(HOUR FROM NOW()) - dts.TimeZone_ti + 31)
            AND
                so.ENDHOUR_TI > (EXTRACT(HOUR FROM NOW()) - dts.TimeZone_ti + 31)
            AND
                so.#DateFormat(NOW(),"dddd")#_ti = 1
            AND
                Scheduled_dt < NOW()
            AND
                NOW() BETWEEN so.Start_dt and so.Stop_dt
            AND
                DistributionProcessId_int = #inpDistributionProcessId#
            ORDER BY
                DTSId_int
            LIMIT
                #inpNumberOfDialsToRead#
        </cfquery>

        <!--- Reset Defaults --->
        <cfset INPBATCHID = "0">
        <cfset inpDialString ="">
        <cfset inpDialString2 ="">
        <cfset TimeZone_ti = "">
        <cfset RedialCount_int = 0>
        <cfset XMLControlString_vch = "">
        <cfset FileSeqNumber_int = "0">
        <cfset UserSpecifiedData_vch = "">
        <cfset inpUserId = 0>
        <cfset inpCampaignTypeId = "30">
        <cfset inpLibId = -1>
        <cfset inpEleId = -1>
        <cfset inpScriptId = -1>
        <cfset inpPushSkip = 0>
        <cfset inpDQDTSId = -1>
        <cfset inpCurrUUID = "">



        <cfloop query="GetElligibleMessages">
            <!--- Reset Defaults --->
            <cfset CurrResult = 0>
            <cfset inpInvalidNumber = 0>

            <!--- Check for bad records TZ, Etc--->

            <cfif inpVerboseDebug GT 0>
                <cfoutput>
                    inpDialString = #GetElligibleMessages.ContactString_vch# <BR>
                    TimeZone_ti = #GetElligibleMessages.TimeZone_ti# <BR>
                    NOW() = #NOW()# <BR>
                    INPBATCHID = #GetElligibleMessages.BatchId_bi#<BR>
                    inpTypeMask_ti = #GetElligibleMessages.TypeMask_ti#<BR />
                    XMLControlString_vch RAWDB = #HTMLCodeFormat(GetElligibleMessages.XMLControlString_vch)# <BR />
                </cfoutput>
            </cfif>

            <!--- Ignore Time Zone for eMail and SMS --->

            <cfif GetElligibleMessages.TimeZone_ti LTE 0>
                <!--- Default --->
                <cfset GetElligibleMessages.TimeZone_ti = 31>
            </cfif>

            <!--- Replace CK14='UUID' with current queue tables UUID for Email--->

            <!--- UUID --->
            <cfset XMLControlString_vch = REPLACE(XMLControlString_vch, "REPLACETHISUUID", "#GetElligibleMessages.DTS_UUID_vch#", "ALL")>

            <!--- Contact String --->
            <cfset XMLControlString_vch = REPLACE(XMLControlString_vch, "REPLACETHISCONTACTSTRING", "#GetElligibleMessages.ContactString_vch#", "ALL")>

            <!--- Batch String --->
            <cfset XMLControlString_vch = REPLACE(XMLControlString_vch, "REPLACETHISBATCHIDSTRING", "#GetElligibleMessages.BatchId_bi#", "ALL")>

            <!--- Distrubution Queue DTS Id String --->
            <cfset XMLControlString_vch = REPLACE(XMLControlString_vch, "REPLACETHISDQDTSIDSTRING", "#GetElligibleMessages.DTSId_int#", "ALL")>

            <cfif inpVerboseDebug GT 0>
                <cfoutput>
                   XMLControlString_vch After = #HTMLCodeFormat(GetElligibleMessages.XMLControlString_vch)# <BR />
                </cfoutput>
            </cfif>

            <!--- Update Queue to in process (DTSStatusType_ti=2) --->
            <cfset inpDTSId = GetElligibleMessages.DTSId_int />
            <cfset inpDTSStatus = 2 />
            <cfinclude template="../includes/cfm/updatecontactqueuestatus.cfm" />


            <!--- Process Record Here --->
            <cftry>
                <!--- ***TODO: Deduplication Checks? Validate XML?--->
                <!---

                <!--- Another stop on the prevent multiple erroneous contacts from going out --->
                <cfinclude template="act_PreProductionPushDuplicateCheck.cfm">

                <!--- Another stop on the prevent multiple erroneous contacts from going out --->
                <cfinclude template="act_PreProductionPushCheckXMLControlString.cfm">

                --->

                <!--- Parse XML Control String --->
                <!--- Validate DM PT=13 AND Each Q is RXT=19for WebService Call --->

                <cfif inpVerboseDebug GT 0>
                    <cfoutput>
                        GetElligibleMessages.XMLControlString_vch = <code>#GetElligibleMessages.XMLControlString_vch#</code> <br />
                    </cfoutput>
                </cfif>

                <!--- Adding <XMLControlStringDoc> tag here ensures valid XML in case of blank data --->
                <cfset myxmldocResultDoc = XmlParse("<XMLControlStringDoc>#GetElligibleMessages.XMLControlString_vch#</XMLControlStringDoc>") />

                <!--- Read for all of the RXSS ELE tags of RXT=12 (Pause) or RXT=19 (Web Service call) --->
                <cfset AllWebServicdAndDelays = XmlSearch(myxmldocResultDoc,"//RXSS//*[ @RXT='12' or @RXT='19'  ]") />


                <cfloop array="#AllWebServicdAndDelays#" index="WSCQ">

                    <cfset CurrRXTType = WSCQ.XmlAttributes["rxt"] />

                    <cfswitch expression="#CurrRXTType#">
                        <!--- ***TODO: implement this --->
                        <!--- Strategic Pause --->
                        <cfcase value="12">
                            <cfif inpVerboseDebug GT 0>
                                <cfoutput>
                                    Strategic Pause <br />
                                </cfoutput>
                            </cfif>
                        </cfcase>


                        <!--- Web Service Call  --->
                        <cfcase value="19">

                            <cfset CurrData = WSCQ.XmlAttributes["CK8"] />

                            <cfif Find("&", CurrData) GT 0>
                                <cfset CurrData = Replace(CurrData, "&amp;","&","ALL") />
                                <cfset CurrData = Replace(CurrData, "&gt;",">","ALL") />
                                <cfset CurrData = Replace(CurrData, "&lt;","<","ALL") />
                                <cfset CurrData = Replace(CurrData, "&apos;","'","ALL") />
                                <cfset CurrData = Replace(CurrData, "&quot;",'"',"ALL") />
                                <cfset CurrData = Replace(CurrData, "&##63;","?","ALL") />
                                <cfset CurrData = Replace(CurrData, "&amp;","&","ALL") />
                            </cfif>

                            <cfset Parsexml = XmlParse(CurrData)>
                            <cfset Searchxml = XmlSearch(Parsexml, "//Message")>
                            <cfset PushMessage = PushMessage & Searchxml[1].xmltext>

                            <cfif inpVerboseDebug GT 0>

                                 <cfset CurrQID = WSCQ.XmlAttributes["QID"] />

                                <cfoutput>
                                    PushMessage = <code>#PushMessage#</code> <BR />
                                    <HR/>
                                </cfoutput>
                            </cfif>

                        </cfcase>
                    </cfswitch>
                </cfloop>


                <cfif inpDisableSend EQ 0>

                    <cfset intHTTPStartTime = GetTickCount() />

                    <cfquery name="GetIREResultID" datasource="#Session.DBSourceEBM#">
                        SELECT
                            IREResultsId_bi
                        FROM
                            simplexresults.ireresults
                        WHERE
                            BatchId_bi = #GetElligibleMessages.BatchId_bi#
                        AND
                            ContactString_vch = '#GetElligibleMessages.ContactString_vch#'
                        AND
                            Response_vch = '#PushMessage#'
                        AND
                            ShortCode_vch = '#GetElligibleMessages.ShortCode_vch#'
                        ORDER BY
                            IREResultsId_bi DESC
                        LIMIT
                            1
                    </cfquery>

                    <cfif GetIREResultID.IREResultsId_bi GT 0>
                        <cfset LASTSURVEYRESULTID = GetIREResultID.IREResultsId_bi />
                    <cfelse>
                        <cfinvoke component="public.sire.models.includes.cfc.pushpath" method="AddIREResult"  returnvariable="RetVarAddIREResult">
                            <cfinvokeargument name="INPBATCHID" value="#GetElligibleMessages.BatchId_bi#">
                            <cfinvokeargument name="inpCPID" value="0">
                            <cfinvokeargument name="inpPID" value="0">
                            <cfinvokeargument name="inpResponse" value="#PushMessage#">
                            <cfinvokeargument name="inpContactString" value="#GetElligibleMessages.ContactString_vch#">
                            <cfinvokeargument name="inpIREType" value="#IREMESSAGETYPE_MT#">
                            <cfinvokeargument name="inpShortCode" value="#GetElligibleMessages.ShortCode_vch#">
                        </cfinvoke>

                        <cfset LASTSURVEYRESULTID = RetVarAddIREResult.LASTQUEUEDUPID />
                    </cfif>

                    <cfif inpVerboseDebug GT 0>
                        <cfoutput>
                            IRERESULTID = #LASTSURVEYRESULTID# <br />
                            <hr />
                        </cfoutput>
                    </cfif>

                    <cfset Created_dt = now()>

                    <cfset offset = GetTimeZoneInfo().utcHourOffset>

                    <cfset dataItemAPNS.CONTENT = PushMessage>
                    <cfset dataItemAPNS.CREATED =  DateFormat(Created_dt, 'yyyy-mm-dd')&' '&LSTimeFormat(Created_dt, 'HH:mm:ss')&' -0'&offset&'00'>
                    <cfset dataItemAPNS.TYPE =  1>
                    <cfset dataItemAPNS.RESULTID =  LASTSURVEYRESULTID>

                    <cfset payload = createObject("java", "com.notnoop.apns.APNS").newPayload().customField("Info", SerializeJSON(dataItemAPNS)).badge(1).alertBody(PushMessage).build()>

                    <cfinvoke method="PushNotification" component="public.sire.models.cfc.apns">
                        <cfinvokeargument name="PAYLOAD" value="#payload#">
                        <cfinvokeargument name="DEVICETOKEN" value="#GetElligibleMessages.ContactString_vch#">
                    </cfinvoke>

                    <cfif inpVerboseDebug GT 0>
                        <cfoutput>
                            PAYLOADDATA <br />
                            <cfdump var="#payload#">
                            <hr />
                        </cfoutput>
                    </cfif>

                    <!--- Log this --->
                    <cfset intHTTPTotalTime = (GetTickCount() - intHTTPStartTime) />

                    <!--- Insert the ContactResult Record --->
                    <cfinvoke component="public.sire.models.includes.cfc.pushpath" method="AddContactResult"  returnvariable="RetVarAddContactResult">
                        <cfinvokeargument name="INPBATCHID" value="#GetElligibleMessages.BatchId_bi#">
                        <cfinvokeargument name="inpShortCode" value="PushQueueProcess">
                        <cfinvokeargument name="inpContactResult" value="76">
                        <cfinvokeargument name="inpContactString" value="#TRIM(GetElligibleMessages.ContactString_vch)#">
                        <cfinvokeargument name="inpXmlControlString" value="#TRIM(CurrData)#">
                        <cfinvokeargument name="inpDTSID" value="#GetElligibleMessages.DTSId_int#">
                        <cfinvokeargument name="inpControlPoint" value="0">
                        <cfinvokeargument name="inpConnectTime" value="#intHTTPTotalTime#">
                    </cfinvoke>

                    <cfif inpVerboseDebug GT 0>
                        <cfoutput>
                            intHTTPTotalTime = #intHTTPTotalTime# <br />
                            <hr />
                        </cfoutput>
                    </cfif>

                </cfif>

                <!--- Update Queue to finished processing (DTSStatusType_ti=5) --->
                <cfset inpDTSId = GetElligibleMessages.DTSId_int />
                <cfset inpDTSStatus = 5 />
                <cfinclude template="../includes/cfm/updatecontactqueuestatus.cfm" />

                <cfcatch type="any">

                    <cfset ErrorCount = ErrorCount + 1>

                    <!--- Log error? --->
                    ********** ERROR on LOOP **********<BR>
                    <!--- Update Queue to finished processing (DTSStatusType_ti=6) --->
                    <cfset inpDTSId = GetElligibleMessages.DTSId_int />
                    <cfset inpDTSStatus = 6 />
                    <cfinclude template="../includes/cfm/updatecontactqueuestatus.cfm" />

                    <cfif inpVerboseDebug GT 0>
                        <cfoutput>
                            <cfdump var="#cfcatch#">
                        </cfoutput>
                    </cfif>

                    <cfset LastErrorDetails = SerializeJSON(cfcatch) />
                </cfcatch>

            </cftry>

            <!--- Increment if TimeZone is bad. --->
            <cfif TimeZone_ti EQ "">
                <cfset InvalidTZRecordCount = InvalidTZRecordCount + 1>
            </cfif>

            <!--- Increment is duplicate record is found. --->
            <cfif CurrResult eq -2>
                <cfset DuplicateRecordCount = DuplicateRecordCount + 1>
            </cfif>

            <!--- Increment distribution count. --->
            <cfset DistributionCount = DistributionCount + 1>

            <!--- Increment processed --->
            <cfset ProcessedRecordCount = ProcessedRecordCount + 1>

        </cfloop>
    </cfif>

    <cfset ServerEndTime = "#LSDateFormat(NOW(), 'yyyy-mm-dd')# #LSTimeFormat(NOW(), 'HH:mm:ss')#" />
    <cfset TotalProcTime = (GetTickCount() - TotalProcTimeStart) />


    <!--- Report Results to Table --->
    <cfquery name="AddProductionLogEntry" datasource="#Session.DBSourceEBM#">
        INSERT INTO simplequeue.sire_contact_queue_proc_log
        (
            LogType_int,
            DistributionProcessId_int,
            Check_dt,
            RunTimeMS_int,
            Start_dt,
            End_dt,
            CountDistributed_int,
            CountInvalid_int,
            CountProcessed_int,
            CountSuppressed_int,
            CountDuplicate_int,
            CountErrors_int,
            inpMod_int,
            DoModValue_int,
            inpNumberOfDialsToRead_int
        )
        VALUES
        (
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="40">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpDistributionProcessId#">,
            NOW(),
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#TotalProcTime#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#ServerStartTime#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#ServerEndTime#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#ProcessedRecordCount#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="0">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="0">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="0">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="0">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#ErrorCount#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpMod#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#DoModValue#">,
            <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="#inpNumberOfDialsToRead#">
        )
    </cfquery>


    <cfcatch TYPE="any"> <!--- Main Catch --->

        <cfset ErrorCount = ErrorCount + 1>

        ********** ERROR on PAGE **********<BR>
        <cfif inpVerboseDebug GT 0>
            <cfoutput>
                <cfdump var="#cfcatch#">
            </cfoutput>
        </cfif>

        <cfset ENA_Message = "ERROR on #GetCurrentTemplatePath()# TQCheckPoint = #TQCheckPoint#">
        <cfset InvalidRecordCount = InvalidRecordCount + 1>
        <cfinclude template="..\includes\cfm\EscalationNotificationActions.cfm">


    </cfcatch> <!--- End Main Catch --->
</cftry> <!--- End Main try --->

<cfoutput>
    End time - #inpDialerIPAddr# - #LSDateFormat(Now(), 'yyyy-mm-dd')# #LSTimeFormat(Now(), 'HH:mm:ss')# <BR />
</cfoutput>

<cftry>

    <cfif LastErrorDetails NEQ ''>
    <!---   Write to Error log  --->
        <cfquery name="InsertToErrorLog" datasource="#Session.DBSourceEBM#">
            INSERT INTO simplequeue.errorlogs
            (
                ErrorNumber_int,
                Created_dt,
                Subject_vch,
                Message_vch,
                TroubleShootingTips_vch,
                CatchType_vch,
                CatchMessage_vch,
                CatchDetail_vch,
                Host_vch,
                Referer_vch,
                UserAgent_vch,
                Path_vch,
                QueryString_vch
            )
            VALUES
            (
                101,
                NOW(),
                'sire_push_notificationqueue - LastErrorDetails is Set - See Catch Detail for more info',
                '',
                '',
                '',
                '',
                <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LastErrorDetails#">,
                <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(CGI.HTTP_HOST, 2048)#">,
                <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(CGI.HTTP_REFERER, 2048)#">,
                <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(CGI.HTTP_USER_AGENT, 2048)#">,
                <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(CGI.PATH_TRANSLATED, 2048)#">,
                <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#LEFT(CGI.QUERY_STRING, 2048)#">
            );
        </cfquery>
    </cfif>

<cfcatch></cfcatch>
</cftry>