@charset "utf-8";
/* CSS Document */
body{background:url(../images/main-bg.jpg);}
*{ padding:0; margin:0; border:none;}


#main{width:100%; height:1000px; padding:0; margin:0; font-family: Arial, Helvetica, sans-serif;}
#form-content{width:860px; 
			height: 428px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; border:0px solid; 
			background:#fff;
			-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
#form3-content{width:800px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; border:1px solid #ccc; 
			background:#fff;
			padding-bottom:10px;
			/*-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form3-contentblue{width:800px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			border:2px solid #6dcff6;
			border-radius:5px;
			background:#abe1fa;
			padding-bottom:10px;
			/*-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form3-contentgreen{width:800px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			border:2px solid #29b164;
			border-radius:5px;
			background:#a3d39c;
			padding-bottom:10px;
			/*-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form3-contentorange{width:800px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			border:2px solid #f79548;
			border-radius:5px;
			background:#fdc689;
			padding-bottom:10px;
			/*-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form3-contentred{width:800px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			border:2px solid #f14545;
			border-radius:5px;
			background:#fbbea7;
			padding-bottom:10px;
			/*-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form4-content{width:600px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; border:1px solid #ccc;
			background:#fff;
			padding-bottom:10px;
		/*	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form4-contentblue{width:600px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px;
			 border:2px solid #6dcff6;
			border-radius:5px;
			background:#abe1fa;
			padding-bottom:10px;
		/*	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form4-contentred{width:600px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px;
			 border:2px solid #6dcff6;
			border:2px solid #f14545;
			border-radius:5px;
			background:#fbbea7;
		/*	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form4-contentgreen{width:600px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px;
			 border:2px solid #29b164;
			border-radius:5px;
			background:#a3d39c;
		
		/*	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form4-contentorange{width:600px; 
			height: 215px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px;
			border:2px solid #f79548;
			border-radius:5px;
			background:#fdc689;
		
		/*	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form5-content{width:400px;
padding-bottom:10px; 

			height: 235px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; border:1px solid #ccc;
			background:#fff;
		/*	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);*/
}
#form5-contentblue{width:400px;
padding-bottom:10px; 

			height: 235px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			border:2px solid #6dcff6;
			border-radius:5px;
			background:#abe1fa;
}
#form5-contentgreen{width:400px;
padding-bottom:10px; 

			height: 235px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			 border:2px solid #29b164;
			border-radius:5px;
			background:#a3d39c;
		
}
#form5-contentorange{width:400px;
padding-bottom:10px; 

			height: 235px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
			 	border:2px solid #f79548;
			border-radius:5px;
			background:#fdc689;
		
}
#form5-contentred{width:400px;
padding-bottom:10px; 

			height: 235px;
			float:left;
			 padding-top: 10px; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px; 
				border:2px solid #ed1c24;
			 	border-radius:5px;
			background:#fbbea7;
			padding-bottom:10px;
		
}

#footer-btn{width:860px; 
			height: auto;
			float:left; 
			margin-left:20px;
			/*float:left;*/
			margin-top:25px;
			margin-bottom:15px; 
}
 .scrollable{
   /*overflow: auto;*/
   width: 250px; /* adjust this width depending to amount of text to display */
   height: 50px; /* adjust height depending on number of options to display */
   float:left;
 }
 .select1{
   height:25px;
   width:250px;
   border: 1px solid #333232;
 }
 .select1 option{
   width:220px;
   height:25px;
   overflow-y:auto;
   
 
   
 }
#top-header{
width:100%;
height:100px;
background:#fff;
			-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   			-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);	
}
.logo{
	width:810px;
	height:59px;
	float:left;
	margin-top:31px;
	padding-left: 261px;
	text-align:left;
	}
#left-part{
	width:250px;
	height:1200px;
	float:left;
	background-color:#2b2f38;
}
#left-button-box{
	width:210px;
	height:auto;
	border:4px solid #636f89;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:20px; 
	}
.leftbutton {
	height:30px;
	text-align:left;
	color: #aab1b9;
	font-size: 16px;
	text-decoration: none;
	padding-top:10px;
	padding-left:10px;
	cursor:pointer;
	-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
text-shadow: 1px 1px 3px #666666;
/*border-bottom:1px solid #000;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;*/

/*border: solid #003366 2px;*/
background: url(../images/left-button-bg.png); background-repeat:repeat-x;

}
.leftbutton:hover {
background:url(../images/left-button-bg-hover.png);background-repeat:repeat-x;
color:#fff
}
.left-button-txt{
	color: #aab1b9;
	font-size: 16px;
	height:40px;
	padding-left:10px;
	text-align:left;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
text-shadow: 1px 1px 3px #666666;
}
.left-button-txt a{
	color: #aab1b9;
	font-size: 16px;
	height:40px;
	padding-left:10px;
	text-align:left;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
text-shadow: 1px 1px 3px #666666;
}
.left-button-txt a:hover{
	color: #fff;
	font-size: 16px;
	height:40px;
	padding-left:10px;
	text-align:left;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
text-shadow: 1px 1px 3px #666666;
}
#left-line{
	width:210px;
	height:1px;
	margin-top:30px;
	background:#242830;
}
#left-line1{
	width:210px;
	height:1px;
	margin-top:1px;
	background:#242830;
}
#header{width:860px; 
		height:100px; 
		background-image:url(../images/header.jpg); 
		background-repeat:repeat-x;
}
.header-text{text-align:left; 
			color:#fff; 
			font-size:16px; 
			font-family: Arial, Helvetica, sans-serif; 
			font-weight:normal; 
			text-transform:uppercase;
			margin-left: 80px; 
			/*margin-top: -48px;*/
			padding-top:64px;
			letter-spacing:1px;
}
.header-text3{text-align:left; 
			color:#fff; 
			font-size:16px; 
			font-family: Arial, Helvetica, sans-serif; 
			font-weight:normal; 
			text-transform:uppercase;
			margin-left: 72px; 
			/*margin-top: -48px;*/
			padding-top:30px;
			letter-spacing:1px;
}
.site-box{
	height: 172px;
    width: 184px;
	float:left;
	border:2px solid #2484c6;
	-moz-border-radius: 5px;
	border-radius: 5px;}
.site-box-txt{
	color: #464646;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
	padding-left:10px;
	padding-top:7px;
    text-align: left;
    width: 100%;
}
.site-portal-box{
	height: 50px;
    margin-left: 21px;
    margin-top: 45px;
    padding-top: 10px;
    width: 141px;
	float:left;
	background-color:#ececec;
	border:1px solid #2484c6;
	}
.site-portal-txt{
	color: #3e5478;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
	padding-left:35px;
	padding-top:7px;
    text-align: left;
    width: 100%;
	text-transform:uppercase;
}
#domain{
	float: left;
    height: 20px;
    text-align: left;
    width: 85%;
	}
.domain{width:100%; height:auto; font-size:14px; float:left; padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan{  font-size:12px;  float:left; padding-top:4px; padding-right:10px; text-align: right;}
.domain1{width:62%; height:auto; font-size:14px; float:left; margin-top: -23px; text-align:left; padding-bottom:0;}
.domainspan1{ padding-left:10px; font-size:12px; float:left; padding-top:6px; padding-right:10px; text-align: right; font-weight:bold;}
.domainspanth{ font-size:12px; float:right; padding-top:6px; margin-top: -46px;  padding-right: 47px; font-weight:bold;}
.domain2{width:80%; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan2{ padding-left:7px;/*padding-right:2px;*/ font-size:12px; float:left; padding-top:6px;  text-align: right;}
.domain3{width:52%; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan3{ padding-left:19px; font-size:12px; float:left; padding-top:6px; /*padding-right:10px;*/ text-align: right;}
.domain4{width:0; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0; margin-left: -77px;}
.domainspan4{ /*padding-left:10px;padding-right:10px;*/ font-size:12px; float:left; padding-top:6px;  text-align: right;}
.domain5{width:62%; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan5{ /*padding-left:10px;padding-right:10px;*/ font-size:12px; float:left; padding-top:6px;  text-align: right;}
.domain6{width:62%; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan6{ padding-left:13px; font-size:12px; float:left; padding-top:6px; /*padding-right:10px;*/ text-align: right;}
.domain7{width:68%; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan7{ /*padding-left:10px;padding-right:10px;*/ font-size:12px; float:left; padding-top:6px;  text-align: right;}
.domain8{width:62%; height:auto; font-size:14px; float:left; /*padding-left: 37%;*/ padding-top: 10px; text-align:left; padding-bottom:0;}
.domainspan8{ padding-left:45px; font-size:12px; float:left; padding-top:6px; /*padding-right:10px;*/ text-align: right;}
#postalhide{float:left; margin-left:82px; width:85%; height:160px;}
#inner-txt-box{
	float: left;
    height: auto;
    margin-left:22px;
    width: 780px;
	
}
#inner-txt-box1{
	float: left;
    height: 339px;
    margin-left: 72px;
    width: 736px;
	
}
#inner-txt-box2{
	float: left;
    height: auto;
    margin-left:22px;
    width: 577px;
	
}
#inner-txt-box3{
	float: left;
    height: 190px;;
    margin-left:22px;
    width: 378px;
	
}
.portal-size-box{
	width:176px;
	height:200px;
	float:left;
}
.small-box{ width:86px; height:40px; float:left; background-color:#ececec; border:1px solid #2484c6; margin-left:10px; -moz-border-radius: 3px; border-radius: 3px;}
.medium-box{width:121px; height:66px; float:left; background-color:#ececec; border:1px solid #2484c6; margin-left:10px; -moz-border-radius: px; border-radius: 3px;}
.large-box{width:142px; height:88px; float:left; background-color:#ececec; border:1px solid #2484c6; margin-left:10px; -moz-border-radius: 3px; border-radius: 3px;}
.custom-box{width:50px; height:40px; float:left;}
.custom-input-box{
	margin-bottom: 8px;
    margin-left: 12px;
    width: 88px;
	height:23px;
	float:left;
	border:#cccccc 1px solid;
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.custom-input-txt{
	color: #000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    padding-top: 4px;
    text-align: left;
}
.temp-size-box{
	width:228px;
	height:80px;
	float:left;
	
}
#temp-plain{ width:80px; height:40px; float:left; background-color:#fff; border:1px solid #CCCCCC; margin-left:7px; -moz-border-radius: 1px; border-radius: 1px;}
#temp-blue{ width:80px; height:40px; float:left; background-color:#0072bc; border:1px solid #CCCCCC; margin-left:10px; -moz-border-radius: 1px; border-radius: 1px;}
#temp-orange{ width:80px; height:40px; float:left; background-color:#f26522; border:1px solid #CCCCCC; margin-left:10px; -moz-border-radius: 1px; border-radius: 1px;}
#temp-red{ width:80px; height:40px; float:left; background-color:#ed1c24; border:1px solid #CCCCCC; margin-left:17px; -moz-border-radius: 1px; border-radius: 1px;}
#temp-green{ width:80px; height:40px; float:left; background-color:#197b30; border:1px solid #CCCCCC;  -moz-border-radius: 1px; border-radius: 1px;}
#temp-custm{ width:80px; height:40px; float:left; background-color:#fff; border:1px solid #CCCCCC; margin-left:10px; -moz-border-radius: 1px; border-radius: 1px;}
.portal-add-txt{
	color: #464646;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    text-align: left;
    width: 113px;
		padding-top:2px;
}

.portal-add-txt span{
	color: #464646;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
      margin-right:12px;
    text-align: left;
   
		padding-top:2px;
}
.portal-add-txt1{
	color: #464646;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    text-align: left;
    width: 113px;
		padding-top:12px;
}

.portal-add-txt1 span{
	color: #464646;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
      margin-right:12px;
    text-align: left;
   
		
}
.portaladd-input-box{
	margin-left: 12px;
	margin-bottom: 8px;
    width:250px;
	height:20px;
	float:left;
	border:#333232 1px solid;
	/*-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);*/
	color: #333232;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    text-align: left;
}
.portaladd-input-boxsmall{
	margin-left: 12px;
	margin-bottom: 8px;
    width:185px;
	height:20px;
	float:left;
	border:#333232 1px solid;
	color: #333232;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    text-align: left;
}
.portaladd-input-box1{
	margin-left: 12px;
    width: 29px;
	height:20px;
	padding-left:3px;
	margin-bottom: 3px;
	float:left;
	border:#333232 1px solid;
	color: #333232;
    font-family: Arial, Helvetica, sans-serif;
	vertical-align:middle;
    font-size: 12px;
    font-weight: normal;
    
    text-align: left;
}
.portaladd-input-box2{
	margin-bottom: 8px;
    margin-left: 12px;
    width: 45px;
	height:20px;
	padding-left:3px;
	float:left;
	border:#333232 1px solid;
	color: #333232;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    text-align: left;
}
.portaladd-input-box3{
	margin-bottom: 8px;
    margin-left: 12px;
    width: 300px;
	height:25px;
	float:left;
	border:#333232 1px solid;
	color: #333232;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    text-align: left;
}

.design-own-txt{
	 color: #464646;
    float: right;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-right: 128px;
    margin-top: -32px;
    padding-bottom: 43px;
    text-align: left;
    
}
.copycode-button {
	color: #fff;
	background:url(../images/level-bg.png); background-repeat:repeat-x;
	width:88px;
	height:20px;
	padding-top:5px;
	float:right;
	font-size:12px;
	margin-right: 87px;
	vertical-align:text-top;
	text-transform:uppercase; 
	font-family: Arial, Helvetica, sans-serif;
	 
}
#custom-tmp{
	width:100%;
	height:auto;
	display:none;
	float:left;
	padding-bottom:15px;
}
#custom-html{
	width:87%;
	height:166px;
	border:1px solid #CCC;
	float:left;
}
#custom-tmp-left{
	width:30%;
	height:100%;
	
	float:left;}
#custom-tmp-box{
	height: 281px;
    width: 140px;
	border:1px solid #CCC;
	background:#FFF;
	margin-top: 20px;
	float:left;}
.customtmp-hd{
	font-family:Verdana, geneva, sans-serif;
	font-size:12px;
	color:#333;
	text-align: left;
	font-weight:bold;
	text-transform:uppercase;
}
.customtmp-box-txt1{
	font-family:Verdana, geneva, sans-serif;
	font-size:12px;
	color:#333;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
    line-height: 23px;
    margin-top: 5px;
    padding-right: 10px;
    text-align: right;
	cursor:pointer;
}
.customtmp-box-txt2{
	font-family:Verdana, geneva, sans-serif;
	font-size:12px;
	color:#333;
	line-height: 25px;
    margin-top: 5px;
    padding-right: 10px;
    text-align: right;
	cursor:pointer;
}
.customtmp-box-txt2:hover{
	font-family:Verdana, geneva, sans-serif;
	font-size:12px;
	color:#333;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
    line-height: 23px;
    margin-top: 5px;
    padding-right: 10px;
    text-align: right;
	cursor:pointer;
}
.customtmp-box-txt2:active{
	font-family:Verdana, geneva, sans-serif;
	font-size:12px;
	color:#333;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
    line-height: 23px;
    margin-top: 5px;
    padding-right: 10px;
    text-align: right;
	cursor:pointer;
}
#custom-tmp-right{
	width:69%;
	height:100%;
	float:left;
	
	}
#cust
.save-button {
	color: #fff;
	background:url(../images/level-bg.png); background-repeat:repeat-x;
	width:88px;
	height:20px;
	padding-top:5px;
	float:right;
	font-size:12px;
	margin-right: 87px;
	vertical-align:text-top;
	text-transform:uppercase; 
	font-family: Arial, Helvetica, sans-serif;
	 
}
.finish-button {
	color: #fff;
	background:url(../images/level-bg.png); background-repeat:repeat-x;
	width:88px;
	height:20px;
	padding-top:5px;
	float:right;
	font-size:12px;
	margin-right: 87px;
	vertical-align:text-top;
	text-transform:uppercase; 
	font-family: Arial, Helvetica, sans-serif;
	 
}
.single{width:270px;
	height:auto;
	float:left;
	text-align:left;
	margin-top:15px;
	padding-left: 20px;
   
}
.single span{
	float:left;
	padding-right:10px;}
.inner-txt-hd{text-align:left; 
	color: #363636;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:normal;
    letter-spacing: 1px;
  	padding-bottom:2px;
    padding-top: 12px;
    text-align: left;
    text-transform: uppercase;
    width: 90%;
}
.inner-txt-subhd{text-align:left; 
	color: #363636;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:normal;
    letter-spacing: 1px;
  	padding-bottom:2px;
    padding-top: 12px;
    text-align: left;
    
    width: 95%;
}
.inner-txt-subhd1{text-align:left; 
	color: #363636;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:normal;
    letter-spacing: 1px;
  	padding-bottom:2px;
    padding-top: 12px;
    text-align: left;
    
    width: 100%;
}
.version-txt{
	float: right;
    font-size: 14px;
    padding-top: 75px;
	 padding-right: 30px;
    text-align: left;
}	
.single1{width:288px;
	height:auto;
	float:left;
	text-align:left;
	margin-top:15px;
	padding-left: 121px;
   
}
.inner-txt{
	color: #464646;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    width: 92%;
}

.header-txt{
			color: #fff;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
   margin-left: 72px;
    text-align: left;
   
}
.name-button {
	color: #fff;
	background:url(../images/level-bg.png); background-repeat:repeat-x;
	width:111px;
	height:20px;
	padding-top:5px;
	margin-top: 39px;
	float:left;
	font-size:12px;
	text-transform:uppercase; 
	font-family: Arial, Helvetica, sans-serif;
	 
}
.info-button {
	color: #fff;
	background:url(../images/msg.gif); background-repeat:no-repeat;
	width:18px;
	height:19px;
	padding-top:5px;
	margin-left: 6px;
    margin-top: 13px;
	float:left;
	cursor:pointer;
	 
}
.info-button1 {
	
	background:url(../images/msg.gif); background-repeat:no-repeat;
	float: left;
    height: 19px;
    
	
	
    /*padding-left: 5px;*/
    margin-top: 13px;
    width: 18px;
	cursor:pointer;
	 
}
.info-button2 {
	   background: url("../images/msg.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 19px;
    margin-top:19px;
	
    width: 18px;
	margin-left:3px;
	 
}
#form-left-protal{width:58%;height:auto; float:left;}
#form-right-protal{width:42%;height:auto; float:left;}
.info-box {
	color: #fff;
	display:none;
	background:url(../images/tool-bg.gif);
	
	border-radius:5px;
	width:273px;
	height:auto;
	padding-top:5px;
	padding-bottom:20px;
	margin-top:67px;
    padding-right: 12px;
    float:left;
	 
}
.info-txt-blue{
	float:left;
	padding-left:30px;
	padding-top:10px;
	text-align:left;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	color:#2484c6;}
.info-txt-black{
	float:left;
	padding-left:30px;
	text-align:left;
	font-size:13px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;}
#tool1{float:left; margin-top:76px; background-image:none; display:none;}
#tool2{float:left; margin-top:115px; background-image:none; display:none;}
#tool3{float:left; margin-left: -7px; margin-top: 163px; background-image:none; display:none;}
#info-box1 {
	color: #fff;
	display:none;
	background:url(../images/tool-bg.gif);
	width:273px;
	height:auto;
	padding-top:5px;
	margin-top: 102px;
    padding-bottom: 20px;
    padding-right: 11px;
	float:left;
	border-radius:5px; 
}
#info-txt-blue1{
	float:left;
	padding-left:30px;
	padding-top:10px;
	text-align:left;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	color:#2484c6;}
#info-txt-black1{
	float:left;
	padding-left:30px;
	text-align:left;
	font-size:13px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;}
#info-box2 {
	color: #fff;
	display:none;
	background:url(../images/tool-bg.gif);
	width:290px;
	height:auto;
	padding-top:5px;
	
	margin-top: 151px;
	padding-bottom:20px;
    float:left;
	border-radius:5px; 
}
#info-txt-blue2{
	float:left;
	padding-left:30px;
	padding-top:10px;
	text-align:left;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	color:#2484c6;}
#info-txt-black2{
	float:left;
	padding-left:30px;
	text-align:left;
	font-size:13px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;}

.inputbox{
	width:268px;
	float:left;
	height:auto;
	text-align:left;
	margin-left:10px;
}
.input-box{
	width:226px;
	height:23px;
	float:left;
	
    margin-top: 40px;
	border:#cccccc 1px solid;
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.vanity-button {
	color: #fff;
	background:url(../images/level-bg.png); background-repeat:repeat-x;
	width:111px;
	height:20px;
	padding-top:5px;
	margin-top:10px;
	text-transform:uppercase;
   	
	float:left;
	font-size:12px; 
	font-family: Arial, Helvetica, sans-serif; 
}
.build-button {
	color: #fff;
	background:url(../images/level-bg.png); background-repeat:repeat-x;
	width:90px;
	height:25px;
	padding-top:5px;
	margin-left: 470px;
    margin-top: 36px;
	float:left;
	font-size:12px; 
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
	text-transform:uppercase;
   	font-weight:bold; 
}
.input-box2{
	width:226px;
	height:23px;
	float:left;
	
    margin-top: 10px;
	border:#cccccc 1px solid;
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.layout-button {
	background:url(../images/level-bg.png); background-repeat:repeat-x;
    color: #FFFFFF;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width:111px;
	height:20px;
	padding-top:5px;
    margin-top: 10px;
    text-transform:uppercase;
   	
}

.inner-txt-footer{
	color: #303F58;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 92%;
	line-height:17px;
}
/* blue */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-weight:bold;
	text-decoration: none;
	font: 14px/100% "Verdana", geneva, sans-serif;
	padding: .5em 2em .55em;
	text-transform:uppercase;
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 12px;
	padding: 8px 8px 8px 8px;
}
.blue {
	color: #FFFFFF;
	border: solid 1px #0076a3;
	background: #0095cd;
	float: right;
    
    
	background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
	
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	
}
.blue:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	
}
.green {
	color: #FFFFFF;
	border: solid 1px #00a345;
	background: #24c67e;
	float: right;
    
    
	background: -webkit-gradient(linear, left top, left bottom, from(#24c67e), to(#24c67e));
	background: -moz-linear-gradient(top,  #24c67e,  #24c67e);
	
}
.green:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#00a345), to(#00a345));
	background: -moz-linear-gradient(top,  #00a345,  #00a345);
	
}
.green:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#29b164), to(#29b164));
	background: -moz-linear-gradient(top,  #29b164,  #29b164);
	
}
.orange {
	color: #FFFFFF;
	border: solid 1px #bd6300;
	background: #f4a114;
	float: right;
    
    
	background: -webkit-gradient(linear, left top, left bottom, from(#f4a114), to(#f4a114));
	background: -moz-linear-gradient(top,  #f4a114,  #f4a114);
	
}
.orange:hover {
	background: #bd6300;
	background: -webkit-gradient(linear, left top, left bottom, from(#bd6300), to(#bd6300));
	background: -moz-linear-gradient(top,  #bd6300,  #bd6300);
	
}
.orange:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4a114), to(#f4a114));
	background: -moz-linear-gradient(top,  #f4a114,  #f4a114);
	
}
.red {
	color: #FFFFFF;
	border: solid 1px #b40e09;
	background: #e93a1f;
	float: right;
    
    
	background: -webkit-gradient(linear, left top, left bottom, from(#e93a1f), to(#e93a1f));
	background: -moz-linear-gradient(top,  #e93a1f,  #e93a1f);
	
}
.red:hover {
	background: #b40e09;
	background: -webkit-gradient(linear, left top, left bottom, from(#b40e09), to(#b40e09));
	background: -moz-linear-gradient(top,  #b40e09,  #b40e09);
	
}
.red:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f14545), to(#f14545));
	background: -moz-linear-gradient(top,  #f14545,  #f14545);
	
}
 a.tooltip {outline:none; }
 a.tooltip strong {line-height:30px;} 
 a.tooltip:hover {text-decoration:none;}
 a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px; width:240px; line-height:16px; }
 a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
 .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;} /*CSS3 extras*/ 
 a.tooltip span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }

fieldset { 
	padding: 14px 15px 10px;
	padding-left:0px;
	border: 0;
	font-size:12px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
}
#fieldset1 { 
	margin-left:10px;
	float: left;
    height: auto;
    text-align: left;
    width: 274px;
	margin-top:13px;	
}
#fieldset3 { 
	padding: 10px 15px 10px;
	padding-left:0px;
	border: 0;
	float:left;
	color:#363636;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
}
legend {
	font-size: 12px;
	padding: .2em 35px .2em 5px;
	float:left;
}
.checkbox{
	width:auto;
	height:auto;
	float:left;}

#addp{ width:auto; padding:0 5px 0 5px; background:url(../images/buttonimg.png); color:#FFF; font-size:12px; height:25px; font-weight:bold; }
#addbu{ width:75%; float:left; margin-top:5px; margin-bottom:5px;}
.wrapper-demo {
    margin: 0 0 0 0;
    *zoom: 1;
    
		width:200px;
		float:left;
	
		text-align:left;
		height:20px;
		padding-bottom:20px;
	
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}


/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 225px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #CCC transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
