.ui-widget{
	font-size: 0.8em !important;
}
.ui-dialog .ui-dialog-content {
    padding: 0 !important;
}
#DefineImportContainerFOUC
{
	
	position:absolute;
	top: 130px;
	left: 178px;	
	width:1150px;
	z-index:1;
	min-width:1150px;
	min-height: 100%;
	height: 100%;
}


#DefineImportContainer
{			
	width:1150px;
	min-width:1150px;
	z-index:1200;
	font-size:12px;
	min-height: 100%;
	height: 100%;
}

#DefineImportContainer #LeftMenu
{
	width:270px;
	min-width:270px;
	background-color:#FC9;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
	color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(255,206,153))
	
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(255,206,153)
	);
	position:absolute;
	top:-8;
	left:-17;
	padding:15px;
	margin:0px;	
	border: 0;
	border-right: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	min-height: 100%;
	z-index:2300;
}


#DefineImportContainer h1
{
	font-size:12px;
	font-weight:bold;	
	display:inline;
	padding-right:10px;	
	min-width: 100px;
	width: 100px;	
}

#NumberOfFieldsChooser
{
	position:absolute;
	top: 10;
	left: 25;
	min-width: 250px;
	width: 250px;
	min-height: 50;
	height: 50px;
	background-color:#FFF;
	border: 1px solid #333;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	padding:10px;
}

#StandardFields
{
	position:absolute;
	top: 0px;
	left: 325px;	
	z-index:2100;	
	padding:5px;
	margin:5px;	
}

#LocationFields
{
	position:absolute;
	top: 200px;
	left: 325px;	
	z-index:2100;	
	padding:5px;
	margin:5px;	
}

#UploadedFields 
{	
	position:absolute;
	top: 0px;
	left: 625px;
	z-index:2100;	
	padding:5px;
	margin:5px;
}

#NumericFields
{
	position:absolute;
	top: 0px;
	left: 925px;	
	z-index:2100;
	padding:5px;
	margin:5px;
}


#TextFields
{
	position:absolute;
	top: 200px;
	left: 925px;	
	z-index:2100;
	padding:5px;
	margin:5px;			
}


#StandardFieldsBackground 
{	
	position:absolute;
	top: 0px;
	left: 325px;
	padding:5px;
	margin:5px;
	height:100px;
	min-height:100px;	
	background-color: #066;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
	color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(0,145,145))
	
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(0,145,145)
	);
	width:280px;
	min-width:280px;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	z-index:1200;
}


#LocationFieldsBackground 
{	
	position:absolute;
	top: 200px;
	left: 325px;
	padding:5px;
	margin:5px;
	height:100px;
	min-height:100px;
	background-color: #066;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
	color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(0,145,145))
	
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(0,145,145)
	);
	width:280px;
	min-width:280px;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	z-index:1200;	
}

#UploadedFieldsBackGround 
{	
	position:absolute;
	top: 0px;
	left: 625px;
	padding:5px;
	margin:5px;
	height:800px;
	min-height:800px;	
	background-color: #CF6;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(206,255,102))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(206,255,102)
	);
	width:280px;
	min-width:280px;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	z-index:1200;	
}

#NumericFieldsBackground 
{	
	position:absolute;
	top: 0px;
	left: 925px;
	padding:5px;
	margin:5px;
	height:100px;
	min-height:100px;	
	background-color: #066;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
	color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(0,145,145))
	
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(0,145,145)
	);
	width:280px;
	min-width:280px;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	z-index:1200;
}


#TextFieldsBackground 
{	
	position:absolute;
	top: 200px;
	left: 925px;
	padding:5px;
	margin:5px;
	height:100px;
	min-height:100px;	
	background-color: #066;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
	color-stop(1, rgb(237,237,237)),
    color-stop(0, rgb(0,145,145))
	
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(0,145,145)
	);
	width:280px;
	min-width:280px;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	z-index:1200;
}

#UploadedFields .UploadFieldContainer
{
	width:200px;
	min-width:200px;
	border: 1px solid #333;
	background-color:#FFF;
	padding:5px;
	margin:5px 5px 5px 5px;
	font-size:10px;
	font-weight:bold;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;
	z-index:2200;	
	overflow:hidden;
	height:15px;
	min-height:15px;
}
#UploadedFields .UploadField
{
	display:inline;
	height: 17px;
	float:left;
	margin-left:3px;
	position:absolute;
}
#UploadedFields .UploadFieldLength
{
	float:right;
}

#StandardFields .StandardField, #NumericFields .StandardField, #LocationFields .StandardField, #TextFields .StandardField 
{
	width:200px;
	min-width:200px;	
	border: 1px solid #333;
	background-color:#FFF;
	padding:5px;
	margin:5px;	
	font-size:10px;
	font-weight:bold;
	box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
	border-radius: 20px 20px 20px 20px;	
	z-index:2200;	
}