<cfhttp url="https://graph.facebook.com/me/accounts?access_token=#access_token#" result="resultFanpage" />
<cfset arrApplication = DeserializeJSON(resultFanpage.Filecontent)>
<cfset arrApplicationData = arrApplication.data>
<cfset fanpageArr = ArrayNew(1)>
<cfloop array="#arrApplicationData#" index="fanpageIndex">
	<cfif 	fanpageIndex.category NEQ "Application" >
		<cfset fanpage = StructNew()>
		<cfset fanpage.ID = fanpageIndex.id>
		<cfset fanpage.NAME = fanpageIndex.name>
		<cfset ArrayAppend(fanpageArr, fanpage)>
	</cfif>
</cfloop>