<cfoutput>

 <div class="MajorSection">
                    
    <img src="#rootUrl#/#publicPath#/help/images/icons/doc-blank-icon16x16.png" width="16" height="16" style="float:left;" />
    <h3 style="margin-left: 20px;">Cron Overview</h3>

        
     <p>
        
     </p>
           
                
</div>      
        
<div class="MajorSection">
                    
    <img src="#rootUrl#/#publicPath#/help/images/icons/doc-blank-icon16x16.png" width="16" height="16" style="float:left;" />
    <h3 style="margin-left: 20px;">Cron Tracking</h3>
            
     <p>
        simpleobjects.cron_tracking
     </p>
               
    <h5>Status Table</h5> 
   
   	<p>All Cron Jobs will have a unique name of 255 characters or less</p>     
    <p>All Cron jobs will write to a central DB table on start and stop - simpleobjects.cron_tracking</p>
    <p>All Cron jobs will log resuts to simplequeue.simplexprod_log </p>
    <p>All Cron jobs will log summary results to simpleobjects.cron_tracking </p>
    <p>All Cron jobs will note IP they are scheduled to run on in simpleobjects.cron_tracking </p>
    <p>All Cron jobs will note other physical location characteristics like DNS, CoLo, and other location info in simpleobjects.cron_tracking </p>
</div>      
           
          
        
        
</cfoutput>
        
    
    