<!--- Copyright 2007 ReactionX, LLC --->
<cfset CurrSubType = "addr_chg_sub" >

<cfoutput>


<!---
	 Previously defined 
CurrLibId
VerboseDebug
CurrRecordList
CurrRetVal
--->


<!--- 
78,addr_chg_sub,9494284899,COL,8546,,92660,,,,1 
--->


<cfif VerboseDebug gt 0>&nbsp;CurrSubType=#CurrSubType#<BR></cfif>

<!--- Initialize XML --->
<!--- PT='1' Play Until Complete --->
<!--- PT='2' Play Until Key Press or Pause inaccurate Live vs Message Machine correction/detection Logic--->
<!--- PT='3' Play Until Complete - Press 1 to repeat --->


<!--- {Chimes} Hello. This is a Security Alert from Chase.  --->
<cfset CurrMessageXMLLive = "<DM LIB='710' MT='1' PT='3'><ELE ID='26'>2</ELE>">

<!--- {Chimes} Hello, this is Chase calling to alert you that  --->
<cfset CurrMessageXMLVM = 	"<DM LIB='710' MT='2' PT='1'><ELE ID='26'>9</ELE>">

	
<!--- <A mailing address in your Chase Online profile has been changed.> --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='26'>10</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='26'>10</ELE>">		


<!--- <If you did not make this change, please call 1-877-CHASE-PC. Thanks for choosing Chase.> --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='26'>11</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='26'>11</ELE>">		

<!--- Press 1 to repeat this message.  --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='26'>8</ELE>">


<!--- end XML --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">		


</cfoutput>