<!--- Copyright 2007 ReactionX, LLC --->
<cfset CurrSubType = "contest_putt" >

<cfoutput>


<!---
 Previously defined 
CurrLibId
VerboseDebug
CurrRecordList
CurrRetVal
--->


<!--- 74,contest_putt,9494284899,COL,1024,2345.87,,,,,1 --->


<cfif VerboseDebug gt 0>&nbsp;CurrSubType=#CurrSubType#<BR></cfif>

<!--- Initialize XML --->
<!--- PT='1' Play Until Complete --->
<!--- PT='2' Play Until Key Press or Pause inaccurate Live vs Message Machine correction/detection Logic--->
<!--- PT='3' Play Until Complete - Press 1 to repeat --->

<!--- <Chimes> + <Hello, This is chase calling with an alert you requested>  --->
<cfset CurrMessageXMLLive = "<DM LIB='710' MT='1' PT='3'><ELE ID='7'>1</ELE><ELE ID='8'>2</ELE>">
<cfset CurrMessageXMLVM = 	"<DM LIB='710' MT='2' PT='1'><ELE ID='7'>1</ELE><ELE ID='8'>2</ELE>">

	
<!--- <A purchase in the amount of> --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='10'>93</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='10'>93</ELE>">		


<!--- Amount <XXX> --->
<cfset CurrRewardAmount = trim(ListGetAt(#CurrRecordList#,6,','))><cfif VerboseDebug gt 0>&nbsp;CurrRewardAmount=#CurrRewardAmount#<BR></cfif> 
<cfset IsDollars="1">				
<cfinclude template="../XMLConversions/decimal.cfm">		


<cfset CurrMessageXMLLive = CurrMessageXMLLive & CurrMessageXMLDecimal>
<cfset CurrMessageXMLVM = CurrMessageXMLVM & CurrMessageXMLDecimal>	


<!--- made with your debit card ending in  --->	
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='10'>94</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='10'>94</ELE>">	


<!--- <Last Four of account number> --->
<cfset CurrAccountNum = trim(ListGetAt(#CurrRecordList#,5,','))><cfif VerboseDebug gt 0>&nbsp;CurrAccountNum=#CurrAccountNum#<BR></cfif>
		
<cfloop index = "iii" from = "1" to = "#Len(CurrAccountNum)#" step="2">			
	<cfif LEN(MID(CurrAccountNum, iii, 2)) EQ 2>								
		<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='20'>#LSNUMBERFORMAT(MID(CurrAccountNum, iii, 2), '9')#</ELE><ELE ID='16'>4</ELE>">
		<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='20'>#LSNUMBERFORMAT(MID(CurrAccountNum, iii, 2), '9')#</ELE><ELE ID='16'>4</ELE>">				
	<cfelse>
		<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='4'>#MID(CurrAccountNum, iii, 1)#</ELE><ELE ID='16'>4</ELE>">
		<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='4'>#MID(CurrAccountNum, iii, 1)#</ELE><ELE ID='16'>4</ELE>">	
	</cfif>			
</cfloop>			


<!--- has been selected as a winner in the Chase Picks Up the Tab promotion. A credit to your checking account has been made and will be reflected in your next statement. Congratulations and thank you for choosing Chase.  --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='10'>95</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='10'>95</ELE>">		


<!--- <Chimes> --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='7'>1</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='7'>1</ELE>">		

<!--- <to repeat this message press 1> --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='10'>110</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='10'>111</ELE>">		


<!--- end XML --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">		


</cfoutput>