<!--- Copyright 2007 ReactionX, LLC --->
<cfset CurrSubType = "loan_docs_due" >
<cfset CurrTTSVTID = "2" > <!--- Samantha --->

<cfoutput>


<!---
	 Previously defined 
CurrLibId
VerboseDebug
CurrRecordList
CurrRetVal
--->


<!--- 
77,loan_docs_due,9494284899,COL,8546,,Edwina Spychalski,,,5,1,,,, 
--->



<cfif VerboseDebug gt 0>&nbsp;CurrSubType=#CurrSubType#<BR></cfif>

<!--- Initialize XML --->
<!--- PT='1' Play Until Complete --->
<!--- PT='2' Play Until Key Press or Pause inaccurate Live vs Message Machine correction/detection Logic--->
<!--- PT='3' Play Until Complete - Press 1 to repeat --->




<!--- {Chimes} Action required: Confirmation needed Dear --->
<cfset CurrMessageXMLLive = "<DM LIB='1655' MT='1' PT='3'><ELE ID='3'>69</ELE>">
<!--- {Chimes} Action required: Confirmation needed Dear --->
<cfset CurrMessageXMLVM = "<DM LIB='1655' MT='2' PT='1'><ELE ID='3'>69</ELE>">



<!--- <Read TTS Payee> --->
<cfset CurrPayee = trim(ListGetAt(#CurrRecordList#,7,','))><cfif VerboseDebug gt 0>&nbsp;CurrPayee=#CurrPayee#<BR></cfif>

<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='TTS' RXVID='#CurrTTSVTID#'>&lt;RATE SPEED=&apos;-1&apos;&gt;&lt;volume level=&apos;50&apos;&gt;#CurrPayee#&lt;/volume&gt;&lt;/RATE&gt;</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='TTS' RXVID='#CurrTTSVTID#'>&lt;RATE SPEED=&apos;-1&apos;&gt;&lt;volume level=&apos;50&apos;&gt;#CurrPayee#&lt;/volume&gt;&lt;/RATE&gt;</ELE>">		


<!--- We're making progress on your mortgage application, and we need some additional information from you. Important! Your application will only be active for  --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='3'>70</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='3'>70</ELE>">		


<!--- Number of days left --->
<cfset CurrDaysLeft = trim(ListGetAt(#CurrRecordList#,10,','))>

<cfif CurrDaysLeft GT 0 AND CurrDaysLeft LT 100> 
	<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='7'>#CurrDaysLeft#</ELE>">
    <cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='7'>#CurrDaysLeft#</ELE>">	
<cfelse>
	<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='7'>5</ELE>">
    <cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='7'>5</ELE>">	
</cfif>        
        

<!--- more days.
 
If you'd like to proceed with this application, please contact your mortgage team immediately. If we don't hear from you within 5 days, we'll delete your application.
 
To keep your application moving, please log on to MortgageManager and confirm that you'd like to proceed with your application.  MortgageManager is a free online service that will guide you through the loan process from start to finish.
 
Or, you can call your Loan Office      Ima Loaner  at 614-772-1522 
 
Thank you for your Loan with Chase and for using MortgageManager, the easiest way to manage your mortgage."
--->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='3'>71</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='3'>71</ELE>">		



<!--- Press 1 to repeat this message.  --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>5</ELE>">


<!--- end XML --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">		


</cfoutput>