<!--- Copyright 2007 ReactionX, LLC --->
<cfset CurrSubType = "loan_docs_due_plain" >
<cfset CurrTTSVTID = "2" > <!--- Samantha --->

<cfoutput>


<!---
	 Previously defined 
CurrLibId
VerboseDebug
CurrRecordList
CurrRetVal
--->


<!--- 
78,loan_docs_due_plain,9494284899,COL,8546,1,Edwina Spychalski,,,5,1,,,, 
79,loan_docs_due_plain,9494284899,COL,8546,2,Edwina Spychalski,,,5,1,,,, 
80,loan_docs_due_plain,9494284899,COL,8546,3,Edwina Spychalski,,,5,1,,,, 
--->



<cfif VerboseDebug gt 0>&nbsp;CurrSubType=#CurrSubType#<BR></cfif>

<!--- Initialize XML --->
<!--- PT='1' Play Until Complete --->
<!--- PT='2' Play Until Key Press or Pause inaccurate Live vs Message Machine correction/detection Logic--->
<!--- PT='3' Play Until Complete - Press 1 to repeat --->




<!--- {Chimes} Action required: Confirmation needed Dear --->
<cfset CurrMessageXMLLive = "<DM LIB='1655' MT='1' PT='3'>">
<!--- {Chimes} Action required: Confirmation needed Dear --->
<cfset CurrMessageXMLVM = "<DM LIB='1655' MT='2' PT='1'>">



<!--- <Read TTS Payee> --->
<cfset CurrPayee = trim(ListGetAt(#CurrRecordList#,7,','))><cfif VerboseDebug gt 0>&nbsp;CurrPayee=#CurrPayee#<BR></cfif>

<!--- Number of days left --->
<cfset CurrDaysLeft = trim(ListGetAt(#CurrRecordList#,10,','))>

<cfset CurrSpecTTSVTID = trim(ListGetAt(#CurrRecordList#,6,','))>

<cfswitch expression="#CurrSpecTTSVTID#">

	<cfcase value="1"><cfset CurrTTSVTID = "1" ></cfcase>
    <cfcase value="2"><cfset CurrTTSVTID = "2" ></cfcase>
    <cfcase value="3"><cfset CurrTTSVTID = "3" ></cfcase>
    <cfdefaultcase><cfset CurrTTSVTID = "2" ></cfdefaultcase>

</cfswitch>


<!--- <Read TTS Payee> --->
<!---<cfset CurrPayee = trim(ListGetAt(#CurrRecordList#,7,','))><cfif VerboseDebug gt 0>&nbsp;CurrPayee=#CurrPayee#<BR></cfif>--->
<cfset CurrText = "Action required: Confirmation needed.  Dear #CurrPayee#.  We're making progress on your mortgage application, and we need some additional information from you.  Important! Your application will only be active for #CurrDaysLeft# more days.  If you'd like to proceed with this application, please contact your mortgage team immediately. If we don't hear from you within 5 days, we'll delete your application.  To keep your application moving, please log on to Mortgage Manager and confirm that you'd like to proceed with your application.  Mortgage Manager is a free online service that will guide you through the loan process from start to finish. Or, you can call your Loan Office  Ima Loaner  at 614-772-1522.  Thank you for your Loan with Chase and for using Mortgage Manager, the easiest way to manage your mortgage."><cfif VerboseDebug gt 0>&nbsp;CurrText=#CurrText#<BR></cfif>

<cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='TTS' RXVID='#CurrTTSVTID#'>&lt;RATE SPEED=&apos;-1&apos;&gt;&lt;volume level=&apos;50&apos;&gt;#CurrText#&lt;/volume&gt;&lt;/RATE&gt;</ELE>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='TTS' RXVID='#CurrTTSVTID#'>&lt;RATE SPEED=&apos;-1&apos;&gt;&lt;volume level=&apos;50&apos;&gt;#CurrText#&lt;/volume&gt;&lt;/RATE&gt;</ELE>">		




<!--- end XML --->
<cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
<cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">		


</cfoutput>