
<!--- Copyright 2007 ReactionX, LLC --->
<cfset CurrSubType = "sa_auth_new_pc" >

<cfoutput>


<!---
	 Previously defined 
CurrLibId
VerboseDebug
CurrRecordList
CurrRetVal
--->


<!--- 
153,sa_auth_new_pc,9494284899,COL,,,,,,,1,2011-01-01 01:05:00,,,,, 
154,sa_auth_new_pc,9494284899,JPM,,,,,,,1,2011-01-01 01:05:00,,,,, 
--->

<cfif VerboseDebug gt 0>&nbsp;CurrSubType=#CurrSubType# XXX<BR></cfif>

<!--- Initialize XML --->
<!--- PT='1' Play Until Complete --->
<!--- PT='2' Play Until Key Press or Pause inaccurate Live vs Message Machine correction/detection Logic--->
<!--- PT='3' Play Until Complete - Press 1 to repeat --->

<cfset CurrSite = trim(ListGetAt(#CurrRecordList#,4,','))><cfif VerboseDebug gt 0>&nbsp;CurrSite=#CurrSite#<BR></cfif>

<cfswitch expression="#UCase(CurrSite)#">
	<cfcase value="JPM">
		<!--- Cardmember Services --->
		<!--- Cardmember Services --->
		<!--- <Chimes>  Hello. This is a Security Alert from JPMorgan. A new computer has been verified for access to your online accounts as of --->
		<cfset CurrMessageXMLLive = "<DM LIB='1655' MT='1' PT='3'><ELE ID='1'>21</ELE>">
        <cfset CurrMessageXMLVM = "<DM LIB='1655' MT='2' PT='1'><ELE ID='1'>21</ELE>">
      
        <!--- Date <xx-xx-xx> --->
		<cfset CurrTransactionDate = trim(ListGetAt(#CurrRecordList#,12,','))><cfif VerboseDebug gt 0>&nbsp;CurrTransactionDate=#CurrTransactionDate#<BR></cfif> 
        <cfset IncludeDayOfWeek="1">				
        <cfinclude template="../XMLConversions/TransactionDateIII.cfm">		
                
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & CurrMessageXMLTransactionDate>
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & CurrMessageXMLTransactionDate>	
            
         <!---  If you did not recently verify a new computer online, please call 1-877-CHASE-PC. Thanks for choosing Chase.  ---->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>21</ELE>">
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='2'>21</ELE>">	
                
        <!--- Press 1 to repeat this message.  --->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>5</ELE>">		

        <!--- end XML --->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">	

	</cfcase>
	
    <cfcase value="COL">
		<!--- Cardmember Services --->
		<!--- <Chimes>    Hello. This is a Security Alert from Chase. A new computer has been verified for access to your online accounts as of  --->
		<cfset CurrMessageXMLLive = "<DM LIB='1655' MT='1' PT='3'><ELE ID='1'>22</ELE>">
        <cfset CurrMessageXMLVM = "<DM LIB='1655' MT='2' PT='1'><ELE ID='1'>22</ELE>">
      
        <!--- Date <xx-xx-xx> --->
		<cfset CurrTransactionDate = trim(ListGetAt(#CurrRecordList#,12,','))><cfif VerboseDebug gt 0>&nbsp;CurrTransactionDate=#CurrTransactionDate#<BR></cfif> 
        <cfset IncludeDayOfWeek="1">				
        <cfinclude template="../XMLConversions/TransactionDateIII.cfm">		
                
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & CurrMessageXMLTransactionDate>
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & CurrMessageXMLTransactionDate>	
            
        <!---  If you did not recently verify a new computer online, please call 1-877-CHASE-PC. Thanks for choosing Chase.  ---->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>20</ELE>">
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='2'>20</ELE>">	
                
        <!--- Press 1 to repeat this message.  --->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>5</ELE>">		

        <!--- end XML --->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">	

	</cfcase>
	
    
		
	<cfdefaultcase>
		<!--- Cardmember Services --->
		<!--- <Chimes>    Hello. This is a Security Alert from Chase. A new computer has been verified for access to your online accounts as of  --->
		<cfset CurrMessageXMLLive = "<DM LIB='1655' MT='1' PT='3'><ELE ID='1'>22</ELE>">
        <cfset CurrMessageXMLVM = "<DM LIB='1655' MT='2' PT='1'><ELE ID='1'>22</ELE>">
      
        <!--- Date <xx-xx-xx> --->
		<cfset CurrTransactionDate = trim(ListGetAt(#CurrRecordList#,12,','))><cfif VerboseDebug gt 0>&nbsp;CurrTransactionDate=#CurrTransactionDate#<BR></cfif> 
        <cfset IncludeDayOfWeek="1">				
        <cfinclude template="../XMLConversions/TransactionDateIII.cfm">		
                
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & CurrMessageXMLTransactionDate>
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & CurrMessageXMLTransactionDate>	
            
        <!---  If you did not recently verify a new computer online, please call 1-877-CHASE-PC. Thanks for choosing Chase.  ---->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>20</ELE>">
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & "<ELE ID='2'>20</ELE>">	
                
        <!--- Press 1 to repeat this message.  --->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "<ELE ID='2'>5</ELE>">		

        <!--- end XML --->
        <cfset CurrMessageXMLLive = CurrMessageXMLLive & "</DM>">
        <cfset CurrMessageXMLVM = CurrMessageXMLVM & "</DM>">	

	</cfdefaultcase>
		
</cfswitch>				





</cfoutput>


















