<cfinvoke component="session.lists.contacts.cfc.newcontactlist" method="GetGroupData" returnvariable="records">
	<cfinvokeargument name="GroupType" value="1">
</cfinvoke>
<script>
function sendNewL(){
	var jkt = $("#NewList").val();
	contactsmove(jkt);
}
</script>
<div style="width:100%;">
	<cfform>
	<select name="NewList" id="NewList">
    	<cfoutput query="records">
        	<cfif GroupID_bi neq url.cid>
        	<option value="#GroupID_bi#">#GroupName_vch#</option>
            </cfif>
        </cfoutput>
    </select>
    <cfinput type="button" name="Move" id="Move" value="Move To List" style="padding:3px;" onClick="sendNewL()">
    </cfform>
</div>