<cfinvoke component="session.lists.contacts.cfc.newcontactlist" method="GetGroupData" returnvariable="records">
	<cfinvokeargument name="GroupType" value="1">
</cfinvoke>
<script>
function sendNewC(){
	var jkt = $("#NewListC").val();
	contactscopy(jkt);
}
</script>
<div style="width:100%;">
	<cfform>
	<select name="NewListC" id="NewListC">
    	<cfoutput query="records">
        	<cfif GroupID_bi neq url.cid>
        	<option value="#GroupID_bi#">#GroupName_vch#</option>
            </cfif>
        </cfoutput>
    </select>
    <cfinput type="button" name="Copy" id="Copy" value="Copy To List" style="padding:3px;" onClick="sendNewC()">
    </cfform>
</div>