<form id="cnlist" name="cnlist">

    <input type="hidden" name="grouptype" value="1" />
    
    <div style="float:left;">
            <img src="images/tini-rarrow.png" style="margin-bottom:.25em; vertical-align:middle; margin-right:5px;">New List Name:
        <input type="text" class="mainLogin" name="groupdesc" id="groupdesc">
    </div>
    
    <div style="float:right; margin-left:15px; font-size:11px;">
        <input type="submit" name="addscontact" value="add new list" class="mainSubmit" onclick="return ListCreation('cnlist');">
    </div>
    
    <div style="clear:both;"></div>

</form>