<cfoutput>	 
<ul class="admin-tool-head nav">
	<li <cfif lcase(CGI.script_name) eq "/session/sire/pages/admin-tool-message.cfm"> class="active"</cfif> ><a href="/session/sire/pages/admin-tool-message">Message</a></li>
	<li <cfif lcase(CGI.script_name) eq "/session/sire/pages/admin-tool-segment.cfm"> class="active"</cfif>><a href="/session/sire/pages/admin-tool-segment" >Segment List</a></li>
	<li <cfif lcase(CGI.script_name) eq "/session/sire/pages/admin-tool-campaign-flow.cfm" or lcase(CGI.script_name) eq "/session/sire/pages/admin-tool-campaign-flowedit.cfm" or lcase(CGI.script_name) eq "/session/sire/pages/admin-tool-campaign-report.cfm"> class="active"</cfif>><a href="/session/sire/pages/admin-tool-campaign-flow">Campaign</a></li>			
</ul>
</cfoutput>	