
<!--- <cfset SystemCacheClear( "template" ) > --->
<cfobjectcache action="size" result="cachesize">
<cfdump var="#cachesize#" />

<!--- This will redirect to /session/sire/pages/admin-no-permission if currently logged in Sire user does not have permission to access Admin funtions otherwise processing will continue --->
<cfinvoke method="GetAdminPermission" component="session.sire.models.cfc.admin" returnvariable="RetVarGetAdminPermission" />

<cfdump var="#application#" >
<cfdump var="#Session#" >

<cfscript>
 //   getPageContext().getSession().setMaxInactiveInterval(javaCast("int", 1));
 sessionInvalidate();
</cfscript>


<cfdump var="#Session#" >
<cfdump var="#application#" >


<div class="portlet light bordered">
    <!--- Filter bar --->
    <div class="row">

         <div class="col-xs-12">
               Yo!


          <cfinvoke component="public.sire.models.cfc.userstools" method="checkLogin" returnvariable="checkLogin"></cfinvoke>

               <cfdump var="#checkLogin#" >

               <cfinvoke component="public.sire.models.cfc.userstools" method="LookForRememberMeCookie" returnvariable="RetVarLookForRememberMeCookie"></cfinvoke>


               <cfdump var="#RetVarLookForRememberMeCookie#" >


               <cfinvoke component="public.sire.models.cfc.userstools" method="checkLogin" returnvariable="checkLogin"></cfinvoke>

               <cfdump var="#checkLogin#" >

               <cfdump var="#Session#" >
               <cfdump var="#application#" >


          </div>
    </div>


</div>



<cfparam name="variables._title" default="Admin Testing">
<cfinclude template="../views/layouts/master.cfm">
