
<main class="container-fluid page">

	<section class="row bg-white" style="padding: 2em;">
		<div class="content-header">

	    	<h3>You do not have permission to access this resource!</h3>
		</div>

		<hr class="hrt0" style="margin-bottom: 0;">

		<div class="content-body "id="WelcomePageTutorial" >


		</div>


	</section>

</main>



<cfparam name="variables._title" default="Permission Denied!">
<cfinclude template="/session/sire/views/layouts/master3.cfm">
