<div class="portlet light bordered mlp">
    <div class="portlet-body form">
        <h2 class="page-title">Market Landing Pages</h2>
    </div>
</div>
<cfinclude template="../views/layouts/master.cfm">