

<cflocation url="dashboard" addToken="no" />

<!---

<cfinvoke component="session.sire.models.cfc.myaccountinfo" method="GetWelcomePreference" returnvariable="RetVarGetWelcomePreference"></cfinvoke>

<cfif RetVarGetWelcomePreference.PREF EQ 1>
	
	<cflocation url="welcome" addToken="no" /> 
	
<cfelse>

	<cflocation url="campaign-manage" addToken="no" /> 	
	
</cfif>
--->