<cfoutput>
<HEADER/>
<BODY/>
<FOOTER/>
<RXSSCSC DESC='' GN='1' X='200' Y='200'>
<Q AF='NOFORMAT' GID='1' ID='2' IENQID='0' IHOUR='0' IMIN='0' IMRNR='2' INOON='0' INRMO='END' ITYPE='MINUTES' IVALUE='0' MDF='0' OIG='0' REQANS='undefined' RQ='1' TDESC='Special Event Alert' TEXT='#arguments.inpData.fullName# has invited you to join Sire! Sign up to Sire and receive your plan for free for a month! #arguments.inpData.shortLink#. Reply STOP to cancel' TYPE='TRAILER' errMsgTxt='undefined'/></RXSSCSC>
<CONFIG BA='1' CT='SMS' FT='' GN='1' LOGO='' RT='' RU='' SN='' THK='' VOICE='0' WC='1' WT=''>0</CONFIG>
<EXP DATE=''>0</EXP>
<DM BS='0' DSUID='338' Desc='Description Not Specified' LIB='0' MT='1' PT='12'>
 <ELE ID='0'>0</ELE>
</DM>
<RXSS/>
<RULES/>
<CCD CID='9499999998' ESI='-14' SSVMD='20'>0</CCD>
<STAGE h='950' s='1' w='950'>0</STAGE>
</cfoutput>