<cfoutput>
	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/datatables-1.9.4/media/js/jquery.datatables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="#rootUrl#/#publicPath#/js/datatables-1.9.4/media/css/jquery.datatables.css">
	<link rel="stylesheet" type="text/css" href="#rootUrl#/#publicPath#/css/jquery.selectbox.css">
	<script language="javascript" src="#rootUrl#/#PublicPath#/js/selectmenu/jquery.ui.core.js"></script>
	<script language="javascript" src="#rootUrl#/#PublicPath#/js/selectmenu/jquery.ui.position.js"></script>
	<script language="javascript" src="#rootUrl#/#PublicPath#/js/selectmenu/jquery.ui.selectmenu.js"></script>
	<script language="javascript" src="#rootUrl#/#PublicPath#/js/selectmenu/jquery.ui.widget.js"></script>
	<script language="javascript" src="#rootUrl#/#PublicPath#/bootstrap/dist/js/bootstrap.min.js"></script>
	<script language="javascript" src="#rootUrl#/#PublicPath#/js/jquery.selectbox-0.2.min.js"></script>
</cfoutput>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<style type="text/css">
	#SelectContactPopUp {
		margin: 15px;
	}
	#tblListCustomFields_info {
		width: 98%;
		padding-left: 2%;
		margin-left:0px;
		height:auto;
	}
	.ui-dialog{
		padding-bottom:10px;
	}
	.loading-data{
			background: url('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading.gif') ;
			background-repeat: no-repeat;
			background-position: center;
		}

		.save-process{
			display: none;
		    height: 300px;
		    left: 40%;
		    position: fixed;
		    top: 30%;
		    width: 300px;
			background: url('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading.gif') ;
			background-repeat: no-repeat;
			background-position: center;
		}

		.ui-tabs-active{
			background-color:#FFFFFF !important;
			color:#fff !important;
		}

		.ui-tabs-active a{
			color:#0888d1 !important;
		}
		.ui-widget-content{
			border: 1px solid #AAAAAA;
			/*width: 700px;*/
		}
		.ui-tabs .ui-tabs-nav{
			background: #DDDDDD;
		}
		.ui-tabs .ui-tabs-panel{
			border:0px;
			/*min-height:300px;*/
			height:auto;
			padding-top:40px;
			padding-left:10px;
		}

		#emsRecorder{
			border: 1px solid #CCCCCC;
		    border-radius: 4px;
		    display: block;
		    margin: 16px 20px 0;
		}
		.ui-tabs-nav{
			height: 38px;
			border-left-width: 0;
		    border-right-width: 0;
		}
		.ui-tabs .ui-tabs-nav li{
		 	bottom: 0;
		    height: 30px;
		    margin-bottom: 0;
		    margin-left: 5px;
		    margin-top: 9px;
		    top: 0;
		    width: 170px;
			background: #f0f0f0;
		}
		.ui-tabs .ui-tabs-nav li.ui-state-default{
			border-bottom:0px;
		}
		.ui-tabs .ui-tabs-nav li a{
			padding: 0;
			line-height:30px;
		    width: 168px;
			text-align:center;
			font-size:14px;
			font-weight:bold;
			color:#666666;
			font-family:Verdana;
		}
		.ui-tabs-nav a,ui-tabs-nav a:link
		{
			height: 28px;
			color:#666666;
			border-bottom:1px solid #AAA;
			border-left:1px solid #AAA;
			border-top:1px solid #AAA;
			border-right:1px solid #AAA;
			border-radius:5px 5px 0 0;
		}
		.ui-tabs-nav .ui-tabs-active a{
			border-bottom:0px !important;
		}
		#tabs .ui-tabs-nav li a{
			width: 88px;
		}
		#tabs .ui-tabs-nav li{
			width: 90px;
		}
		#tabs .ui-tabs .ui-tabs-panel{
			padding-left:0px;
		}
		.header-bar{
			background-color: #0888D1;
		    border: 1px solid #0E88CD;
		    border-radius: 5px 5px 0 0;
		    color: #FFFFFF;
		    font-family: Verdana;
		    font-size: 14px;
		    font-weight: bold;
		    height: 30px;
		    line-height: 30px;
		    width: 700px;
			text-indent:10px;
		}
		.datatables_wrapper{
			width:96%;
			margin:0 auto;
		}
		table.dataTable td{
			border-right: 1px solid #CCC;
			font-size:13px;
			color:#666;
		}

		table.dataTable th{
			border-right: 1px solid #CCC;
		}

		.border_top_none{
			border-radius: 0 0;
		}
		.m_top_20{
			margin-top:20px;
		}
		.m_top_10{
			margin-top:10px;
		}
		.m_left_20{
			margin-left:20px;
		}
		.m_left_0{
			margin-left:0px;
		}
		.statistic-bold{
			color:#0888d1;
			font-family:Verdana;
			font-size:48px;
			word-wrap:break-word;
			table-layout:fixed;
			width:680px;
			text-align:center;
			border-spacing:10px 0px;
		}
		.footer-text{
			color:#666666;
			font-family:Verdana;
			font-size:14px;
		}
		.none-border-bottom td{
			border-top:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-bottom:0px none;
			background-color:#f0f0f0;
		}
		.none-border-top th{
			border-bottom:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-top:0px none;
			background-color:#f0f0f0;
			height:75px;
		}
		.spacing_10{
			border-spacing:10px 0px;
		}
		#ActiveSessionTbl{
			width:680px;
			margin-top:0px;
		}
		tr.tr-Session:hover td{
			cursor:pointer;
			background: yellow;
		}
		table.dataTable thead tr {
		    background-color: #0888D1;
		    border-bottom: 2px solid #FA7D29;
		    color: #FFFFFF;
		    height: 23px;
		    line-height: 23px;
		}
		.datatables_paginate {
		    background-color: #EEEEEE;
		    border-radius: 0 0 3px 3px;
		    border-top: 2px solid #0888D1;
		    box-shadow: 3px 4px 3px -3px rgba(0, 0, 0, 0.5);
		    float: right;
		    height: 33px !important;
		    padding-top: 10px;
		    text-align: right;
		    width: 100%;
		}
		.dataTables_info {
			background-color: #EEEEEE;
		    border-top: 2px solid #46A6DD;
		    box-shadow: 3px 3px 5px #888888;
		    line-height: 39px;
			position: relative;
		    top: 0 !important;
			clear: both;
		    float: left;
		    padding-top: 3px;
		}

		.paging_full_numbers {
		    height: 22px;
		    line-height: 22px;
		    margin-top: 10px;
		    position: absolute;
		    right: 30px;
		}

		.dataTables_paginate {
		    float: right;
		    text-align: right;
		}
		.paginate_button {
		    background-color: #46A6DD !important;
		    border: 1px solid #0888D1 !important;
		    box-shadow: 0 1px 0 #2AA3E9 inset;
		    color: #FFFFFF !important;
		    padding: 3px 8px !important;
		}
		a.paginate_active {
		    background-color: #0888D1 !important;
		    border: 1px solid #0888D1 !important;
		    border-radius: 5px;
		    box-shadow: 0 1px 0 #2AA3E9 inset;
		    color: #FFFFFF !important;
		    cursor: pointer;
		    padding: 3px 8px !important;
		}
		.hide{
			display:none;
		}
		.avatar{
			padding: 0px 8px 0px 10px !important;
		}
		.clear-fix{
			clear:both;
		}

		table.dataTable tr.even td.sorting_1 {
		    background-color: #FFF!important;
		}

		table.dataTable tr.odd,
		table.dataTable tr.odd td.sorting_1{
		    background-color: #f3f9fd!important;
		}
		.wrapper-dropdown-picker {
		    background: none repeat scroll 0 0 #FFFFFF;
		    border: 1px solid rgba(0, 0, 0, 0.3);
		    border-radius: 3px;
		    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
		    color: #666666;
		    cursor: pointer;
		    height: 21px;
		    margin-top: 0;
		    position: relative;
		    width: 300px;
			padding:5px 10px 0 9px;
			font-size: 12px;
			font-family:Verdana Verdana, Geneva, sans-serif;

		}
		.wrapper-picker-container{
			 margin-left: 20px;
		}
		.tooltiptext{
		    display: none;
		}
		.showToolTip{
			cursor:pointer;
		}
		.deliverymethods{
			margin-bottom:50px;
		}

		#ScheduleBtn.active
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
		}

		#ScheduleBtn.inactive
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/date_picker.jpg) 0 0; width: 20px; height: 20px; cursor:pointer;
		}

		#ScriptPickerBtn.active
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/music-icon_24x24.png) 0 0; width: 24px; height: 24px; cursor:pointer;
		}

		#ScriptPickerBtn.inactive
		{
			/* background: url(images/redo20n_inactive.png); */
			background: url(<cfoutput>#rootUrl#/#publicPath#/css/</cfoutput>images/music-icon_24x24.png) 0 0; width: 24px; height: 24px; cursor:pointer;
		}

		.TextLinkHoverStyle:hover
		{
			text-decoration:underline;
			cursor:pointer;
		}

		#jstree_demo_div .jstree_no_icon{
			display: none;
		}

		a.select_script{
			text-decoration: none !important;
		}

		a.select_script:HOVER{
			text-decoration: underline !important;
		}

		#inpAvailableShortCode-button
		{
			outline:none;
		}

		table.dataTable thead tr th{
			border-bottom: 3px solid #FA7D29;
		}

		table.dataTable tr td{
			color:#5E6AAD;
		}

		table { border-spacing: 0; }

		.EBMDialog .manage-data-container {
            width: 95%;
            margin: 0 auto;
		}
		.EBMDialog .manage-data {
            width: 100%;
			margin: 0 auto;
			padding: 0;
			float: none;
		}
		.manage-data table.dataTable {
            width: 100%;
		}
		.EBMDialog .inner-txt-hd {
		}
		table.dataTable thead tr th:first-child, table.dataTable tr td:first-child {
		    width: 75%;
		}
		table.dataTable tr td:last-child {
		    text-align: center;
		}
		.EBMDialog .header-text {
		  margin-left: 3%;
		}
        .ui-widget-content .EBMDialog input{
            width: 345px;
            height: 20px;
            line-height: 20px;
        }
        .ui-widget-content .EBMDialog select {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            width: 220px;
            height: 30px;
            line-height: 30px;
            font-size: 1em;
        }
        .ui-widget-content input {
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
            margin-bottom: 8px;
            padding: 3px 8px;
        }
        #CancelFormButton,
        #inpSubmit{
            height: 15px;
            line-height: 15px;
        }
</style>
<cfoutput>

<!---wrap the page content do not style this--->
<div id="page-content">
   
  	<div class="container" >
    	<h2 class="no-margin-top">Custome Data Field Management</h2>
            
                    
            <div id="ADDContactStringToGroupContainer" class="stand-alone-content" style="width:850px;">
                <div class="EBMDialog">
        
                    <form method="POST">
        
                        <div class="header">
                            <div class="header-text">#OptionMangecustomdataFields#</div>
                            <!--- <div class="info-button1"></div>
        
                            <div style="position:relative;">
                                <div class="tool1"><img src="<cfoutput>#rootUrl#/#publicPath#/css/ire/</cfoutput>images/toll-tip-right-shadow.gif"/></div>
                                <div class="info-box1">
        
                                <span class="info-txt-blue" style="margin-bottom:10px;">Information - Add a new Contact</span>
        
                                <span class="info-txt-black" style="margin-bottom:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In event based messageing, as well as in more traditional forms of advertising, A/B testing (or split testing), is an experimental approach to content design (especially user experience design), which aims to identify changes to messaging content that increase or maximize an outcome of interest (e.g., opt-in rate for a customer loyalty program). As the name implies, two versions (A and B) are compared, which are identical except for one variation that might impact a user's behavior. Version A might be the currently used version, while Version B is modified in some respect. For instance, on a HELP keyword SMS response, the opt out rate is typically a good candidate for A/B testing, as even marginal improvements in drop-off rates can represent a significant gain in sales.</span>
        
                                <span class="info-txt-black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Significant improvements can be seen through testing elements like copy text, layouts, images and colors. Multivariate testing or bucket testing is similar to A/B testing, but tests more than two different versions at the same time. While the approach is identical to a between-subjects design, which is commonly used in a variety of research traditions, A/B testing is seen as a significant change in philosophy and business strategy. A/B testing as a philosophy of content development brings the field into line with a broader movement toward evidence-based practice.</span>
        
        
                                </div>
                             </div>--->
        
                             <span id="closeDialog">Close</span>
                        </div>
        
                        <div class="inner-txt-box manage-data-container">
        
                            <div class="inner-txt-hd">#MangecustomdataFields#</div>
                            <div class="inner-txt"></div>
        
                            <div class="form-left-portal manage-data">
                        <div class="border_top_none">
                            <table id="tblListCustomFields" class="table" cellspacing=0>
                            </table>
                        </div>
                        </div>
        
        
        
                        </div>
        
                        <div style="clear:both"></div>
                        <div style="clear:both"></div>
        
                        <div class="submit">
                            <a href="javascript:void(0);" class="button filterButton small" id="CancelFormButton" >Back</a>
                            <a href="javascript:void(0);" class="button filterButton small" id="inpSubmit" >Add</a>
                        </div>
        
                    </form>
        
        
        
                </div>
            </div>
            
    </div>
  	<!--- /.container --->
  
</div>
<!--- /#page-content --->

</cfoutput>

<script>
	var _tblListCustomFields;

	$(function()
	{

		$("#inpContactTypeId").selectbox();

		$(".info-button1").hover(function(){
			$(".info-box1").toggle();
			$(".tool1").toggle();
		});

		$("#ADDContactStringToGroupContainer #CancelFormButton").click(function() {
			if (document.referrer == "") {
			    url="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/account/home";
				window.location.href=url;
			} else {
			    history.back();
			}
		});


		$('#ADDContactStringToGroupContainer #inpSubmit').click(function(){
			AddcustomdataField();
		});


	});

	//init datatable for active agent
	function InitCustomFields(customFilterObj){
		var customFilterData =  typeof(customFilterObj)!='undefined'?JSON.stringify(customFilterObj):"";
		_tblListCustomFields = $('#tblListCustomFields').dataTable( {
		    "bProcessing": true,
			"bFilter": false,
			"bServerSide":true,
			"bDestroy":true,<!---this attribute must be explicit, or custom filter will not work properly  --->
			"sPaginationType": "full_numbers",
		    "bLengthChange": false,
			"iDisplayLength": 10,
			"bStateSave": true,
		    "aoColumns": [
				{"sName": 'List Id', "sTitle": 'Name', "sWidth": '8%',"bSortable": false},
				{"sName": 'Options', "sTitle": 'Options', "sWidth": '20%',"bSortable": false}
			],
			"sAjaxSource": '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/contacts/customdata.cfc?method=GetCustomFieldsDataTable&returnformat=json',
			"fnServerData": function ( sSource, aoData, fnCallback ) {
		       aoData.push(
		            { "name": "customFilter", "value": customFilterData}
	            );
		        $.ajax({dataType: 'json',
		                 type: "POST",
		                 url: sSource,
			             data: aoData,
			             success: fnCallback
			 	});
	        },
			"fnInitComplete":function(oSettings, json){
				//in order to prevent this talbe from collapsing, we must fix its min width
				$('#tblListCustomFields').attr('style', '');
				$('#tblListCustomFields').css('min-width', '493px');
			}
	    });
	}
	InitCustomFields();

	function AddcustomdataField() {
		OpenDialog("<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/Contacts/dsp_AddcustomdataField",
				"Add a Custom Data Field",
				'auto',
				500,
				"",
				false);
	}

	function RenamecustomdataField(cdfId) {
		OpenDialog(
				"<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/Contacts/dsp_renamecustomdatafield?cdfId="+cdfId,
				"Edit a Custom Data Field",
				'auto',
				500,
				false);
		return false;
	}

	function DeleteCDF(cdfId) {
		OpenDialog("<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/Contacts/dsp_DeletecustomdataField?&cdfId="+cdfId,
						"Delete Custom Data Field",
						380,
						600,
						"deletecustomdataFieldForm",
						false);
		return false;
	}

	function ViewcustomdataValues(FieldName){
		OpenDialog("<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/contacts/dsp_ViewcustomdataValues?FieldName=" + FieldName ,
						"View Custom Data Field Values",
						650,
						650,
						"ViewcustomdataValuesForm",
						false);
		return false;
	}
</script>
