<cfinvoke component="#LocalSessionDotPath#.cfc.administrator.history" method="addHistory" returnvariable="addHistory">
	<cfinvokeargument name="pageTitle" value="#Admin_Social_media_Title#">
</cfinvoke>

<script>
	$().ready(function ()
	{
	    document.title = "Social media";
	    $('#subTitleText').text('<cfoutput>#Admin_Social_media_Title#</cfoutput>');
		$('#mainTitleText').text('<cfoutput>#Administrator_Title#</cfoutput>');
	});
	
</script>