
<cfparam name="CurrSimpleXDialerArrayIndex" default=1>

<cfset inpSimpleXDialersArray = ArrayNew(2)>

<!--- Need at least one or will fail badly --->

<!---<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.100.104">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "51"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>

<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.100.104">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "51"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>

<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.100.104">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "51"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>--->

<!---<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.18.1.16">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "806"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>

<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.18.1.16">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "806"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>

<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.18.1.16">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "806"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>--->

<!---<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.0.161">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "2001"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>
--->
<!---<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.100.104">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "51"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>--->

<!---
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.0.165">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "51"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>
--->


<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][1] = "10.11.0.161">
<cfset inpSimpleXDialersArray[CurrSimpleXDialerArrayIndex][2] = "161"> 
<cfset CurrSimpleXDialerArrayIndex = CurrSimpleXDialerArrayIndex + 1>
