<cfcomponent>
	    
	<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L">
    <cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString">
    
    <cfset websericeCommonDotPath = "common">
    <cfset SessionDotPath = "session.cfc">
    
    <cfif cgi.server_port_secure eq '1'>
        <cfset LOCALPROTOCOL = "https">
        <cfset LocalProtocol="https">
    <cfelse>
        <cfset LOCALPROTOCOL = "http">
        <cfset LocalProtocol="http">
    </cfif>

	<cfset DBSourceEBM = "Bishop"/> 
    <cfset Session.DBSourceEBM = "Bishop"/> 
	
	<!--- Overrides remote component request so method can be called locally - helps to eliminates cross session varibale scope issues --->
	<cfset DeliveryServiceComponentPath = "">
    <cfset DeliveryServiceMCIDDMsComponentPath="">
    <cfset CommonDotPath = "management.cfc">
    
	<cfinclude template="../../session/cfc/csc/constants.cfm">
	<cfinclude template="../../session/cfc/csc/inc_smsdelivery.cfm">
	<cfinclude template="../../session/cfc/csc/inc_ext_csc.cfm">
    <cfinclude template="../../session/cfc/csc/inc-billing-sire.cfm">
       
    
</cfcomponent>