<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L">
<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString">

<cfset websericeCommonDotPath = "common">
<cfset SessionDotPath = "session.cfc">

<cfif cgi.server_port_secure eq '1'>
	<cfset LOCALPROTOCOL = "https">
    <cfset LocalProtocol="https">
<cfelse>
	<cfset LOCALPROTOCOL = "http">
	<cfset LocalProtocol="http">
</cfif>


<!--- Manually set this here to be API wide - input params are not used here --->
<cfparam name="DebugAPI" default="0">

<!---
<cfif FINDNOCASE( "EBMDEVII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "EBMII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelse>

	<cfset DebugAPI ="1">

</cfif>

<!---<cfparam name="DBSourceEBM" default="Bishop">--->

<cfif DebugAPI GT 0 >
  	   
    <cfset DBSourceEBM = "BishopDev"/> 
    <cfset Session.DBSourceEBM = "BishopDev"/>     

<cfelse>

	<cfset DBSourceEBM = "Bishop"/> 
    <cfset Session.DBSourceEBM = "Bishop"/> 
   
</cfif>

--->






<cfset DBSourceEBM = "Bishop"/> 
    <cfset Session.DBSourceEBM = "Bishop"/> 