<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Advanced Statistics</title>
</head>

<body>

<cfset urladdress = "https://api.sendgrid.com/api/stats.getAdvanced.json?api_user=mbroadcast&api_key=L9v8kKrN&start_date=2013-04-01&end_date=2014-01-31&data_type=devices">

<cfhttp url="#urladdress#" method="GET" resolveurl="Yes" throwonerror="Yes">

<cfoutput>
  This is just a string:<br />
  #CFHTTP.FileContent#<br />
</cfoutput>

<cfset cfData=DeserializeJSON(CFHTTP.FileContent)> 

This is object:<br />
<cfdump var="#cfData#">

<cfset arraylen = ArrayLen(cfdata)>

ArrayLength is : <cfdump var="#arraylen#">
 


 
 <cfquery datasource="10.11.0.130" name="qCoulmnInsert">
INSERT INTO 
           simplexresults.contactresults_email_account_summary_devices (open_desktop_int,
           																open_other_int,
                                                                        open_phone_int,
                                                                        open_tablet_int,
																		open_webmail_int,  
                                                                        
                                                                        <!--- FOR Unique Open --->
                                                                        unique_webMail_int,
                                                                        unique_tablet_int,
																		unique_other_int,
                                                                        unique_phone_int,
                                                                        unique_desktop_int,
                                                                        <!--- FOR DATES --->
                                                                        startdate_dt,
                                                                        enddate_dt,
                                                                        date_dt)
           
  VALUES
              <!--- loop through your array --->
             <cfloop from="1" to="#arrayLen(cfData)#" index="i">
             
             <!--- <!--- <cfif i gt 1>,</cfif> ---> --->
             (
              <cfif structKeyExists(cfData[i], "open")>
                <cfif  structKeyExists(cfData[i].open,"Desktop")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i]["open"]["Desktop"]#">
                <cfelse>
                 NULL
                </cfif>
              <cfelse>
                NULL
              
              </cfif> ,
              
              <cfif structKeyExists(cfData[i], "open")>
                <cfif  structKeyExists(cfData[i].open,"Other")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].open.Other#">
                
                <cfelse>
                 NULL
                </cfif>
              <cfelse>
                 NULL
              </cfif> ,
              
              
              <cfif structKeyExists(cfData[i], "open")>
                <cfif  structKeyExists(cfData[i].open,"Phone")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].open.Phone#">
                <cfelse>
                 NULL
                
                </cfif>
                
              <cfelse>
                 NULL
              </cfif> ,
              
              <cfif structKeyExists(cfData[i], "open")>
                <cfif  structKeyExists(cfData[i].open,"Tablet")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].open.Tablet#">
                <cfelse>
                 NULL
                
                </cfif>
               <cfelse>
                 NULL
              </cfif> ,
              
              
              <cfif structKeyExists(cfData[i], "open")>
                <cfif  structKeyExists(cfData[i].open,"Webmail")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].open.Webmail#">
                <cfelse>
                 NULL
                
                </cfif>
              <cfelse>
                 NULL
              </cfif> ,
              
              <!--- FOR Unique_Open --->
              <cfif structKeyExists(cfData[i], "unique_open")>
                 <cfif  structKeyExists(cfData[i].unique_open,"Desktop")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].unique_open.Desktop#">
                
                <cfelse>
                 NULL
                </cfif>
                
               <cfelse>
                 NULL
              </cfif> ,
              
              <cfif structKeyExists(cfData[i], "unique_open")>
                <cfif  structKeyExists(cfData[i].unique_open,"Other")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].unique_open.Other#">
                <cfelse>
                 NULL
                </cfif>
                
               <cfelse>
                 NULL
              </cfif> ,
              
              <cfif structKeyExists(cfData[i], "unique_open")>
                <cfif  structKeyExists(cfData[i].unique_open,"Phone")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].unique_open.Phone#">
                <cfelse>
                 NULL
                
                </cfif>
              <cfelse>
                 NULL
              </cfif> ,
              
              <cfif structKeyExists(cfData[i], "unique_open")>
                <cfif  structKeyExists(cfData[i].unique_open,"Tablet")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].unique_open.Tablet#">
                <cfelse>
                 NULL
                </cfif>
                
              <cfelse>
                 NULL
              </cfif> ,
              
              <cfif structKeyExists(cfData[i], "unique_open")>
                <cfif  structKeyExists(cfData[i].unique_open,"Webmail")>
                <cfqueryparam CFSQLTYPE="CF_SQL_INTEGER" value="#cfData[i].unique_open.Webmail#">
                <cfelse>
                NULL
                </cfif>
              <cfelse>
                 NULL
              </cfif> ,
              
                            
              <!--- FOR DATES --->
              <cfif structKeyExists(cfData[i], "startdate_dt")>
                 
                <cfqueryparam CFSQLTYPE="CF_SQL_DATE" value="#cfData[i].startdate_dt#">
              <cfelse>
                 NULL
              </cfif>, 
              
              
              
              <cfif structKeyExists(cfData[i], "enddate_dt")>
                <cfqueryparam CFSQLTYPE="CF_SQL_DATE" value="#cfData[i].enddate_dt#">
              <cfelse>
                 NULL
              </cfif>,
               
              
              
              <cfif structKeyExists(cfData[i], "date")>
                <cfqueryparam CFSQLTYPE="CF_SQL_DATE" value="#cfData[i].date#">
              <cfelse>
                 NULL
              </cfif> 
            
              )
              
              <cfif i neq arrayLen(cfData)>,</cfif>
          </cfloop>
</cfquery> 



    
    
    
    
    
    



     

</body>
</html>