<hr class="message-hr"/>    
<div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12"> 
    <h4 class="portlet-heading-new questionNumber"></h4>	
    <p class="portlet-subheading">What type of question do you want to ask?</p>	
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
    <select class="form-control cp_type Select2" data-cp-type="SHORTANSWER" data-anstemp=""> 
    <option value="ONESELECTION" data-anstemp="1">Yes or No?</option>
    <option value="ONESELECTION" data-anstemp="2">True or False?</option>
    <option value="ONESELECTION" data-anstemp="3">Agree or Disagree?</option>
    <option value="ONESELECTION" data-anstemp="4">Useful or Not?</option>
    <option value="ONESELECTION" data-anstemp="5">Easy or Not?</option>
    <option value="ONESELECTION" data-anstemp="6">Likely or Not?</option>
    <option value="ONESELECTION" data-anstemp="7">Important or Not?</option>
    <option value="ONESELECTION" data-anstemp="8">Satisfied or Not?</option>
    <option value="ONESELECTION" data-anstemp="9">Net Promoter Score</option> 
    <option value="SHORTANSWER" selected>Open Ended</option>
    <option value="ONESELECTION" data-anstemp="0">Custom</option>
    </select> 
    </div>
    </div>	
    <h4 class="portlet-subheading ">
    <span class="tdesc">Enter the question you want to ask.</span>
    <span><a tabindex="0" class="info-popover" data-trigger="focus hover" role="button" data-placement="right" data-html="true" title="" data-content="You will need to format and create your custom answer choices. For example, let’s say:
        <ul>
            <li>You want to ask “What is your favorite pizza topping?” </li>
            <li>You select the format A)..., B)..., C)...,. </li>
            <li>You type pepperoni, olives, mushrooms and sausage as your answers</li>
        </ul>
        Your text survey will look like this:
        <ul>
                What is your favorite pizza topping?
            <ul>
                <li>A) Pepperoni</li>
                <li>B) Olives</li>
                <li>C) Mushrooms</li>
                <li>D) Sausage</li>
            </ul>
        </ul>
        <img width=29px src=/session/sire/assets/layouts/layout4/img/Icon_Tip.png>Don’t forget to delete any unused answer fields." data-original-title=""><img src="../assets/layouts/layout4/img/info.png "></a></span>
    </h4>
    <p class="tguide hidden">Enter the question you want to ask.</p>
    <div class="form-gd">
    <div class="form-group">
    <textarea data-emojiable="true" maxlength="459" name="" id="" data-control="text-message" cols="30" rows="5" class="form-control text validate[required] need-rule-message"></textarea>
    <div class="row">
    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">	
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
    <h5 id="cp-char-count-2" class="text-right control-point-char text-color-gray"></h5>
    <a class="see-unicode-mess pull-right hidden">You have Unicode characters in your message</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
    <div class="movi-1">
    <div class="movi-heading">
    <h3 class="movi-heading__number"><%=ShortCode%></h3>
    </div>	
    <div class="movi-body">
    <div class="media chat__item chat--receive">
    <div class="media-left media-bottom">
    <div class="chat__user">
    <img src="../assets/layouts/layout4/img/avatar-men.png">
    </div>
    </div>
    <div class="media-body media-bottom ">
    <div class="chat__text">	
    <span class="span_text"></span>
    </div>
    </div>
    </div>
    </div>
    </div><!--End Mobile View -->
    </div>	
    </div>