
<div class="clearfix control-point " id="" data-control-point-physical-id="" data-control-rq-id="" data-control-point-type="STATEMENT" data-add-new="New">
	<div class="control-point-body">
	
	<div class="cp-content">	
	<div class="row">
	<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12"> 
	<h4 class="portlet-subheading">
		<span class="tdesc">Write your drip message</span>
	</h4>
	<div class="tguide hidden">Set the interval at which you would like this to send.</div>
	<div class="form-gd">
	<div class="form-group">
	<textarea data-emojiable="true" maxlength="459" name="" id="" data-control="text-message" cols="30" rows="5" class="form-control text validate[required] need-rule-message"></textarea>
	<div class="row">	
	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
	<h5 id="cp-char-count-2" class="text-right control-point-char text-color-gray"></h5>
	<a class="see-unicode-mess pull-right hidden">You have Unicode characters in your message</a>
	</div>
	</div>
	<div class="row"> <div class="col-md-7"><a href="##" class="btn set-margin-10 green-gd add-plus add-another-append non-mb">add another message +</a> <a href="#" class="btn set-margin-10 blue-gd btn-remove-cp-interval">REMOVE</a></div> </div></div>
	</div>
	</div>
	<div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
	<div class="movi-1">
	<div class="movi-heading">
	<h3 class="movi-heading__number"><%=ShortCode%></h3>
	</div>
	<div class="movi-body">
	<div class="media chat__item chat--receive">
	<div class="media-left media-bottom">
	<div class="chat__user">
	<img src="../assets/layouts/layout4/img/avatar-men.png">
	</div>
	</div>
	<div class="media-body media-bottom ">
	<div class="chat__text">	
	<span class="span_text"></span>
	</div>
	</div>
	</div>
	</div>
	</div><!--End Mobile View -->
	</div>	
	</div> 
	
	</div> 
	</div> 
	</div>