<div class="form-group clearfix control-point " id="" data-control-point-physical-id="" data-control-rq-id="" data-control-point-type="INTERVAL" data-add-new="New">
    <hr class="message-hr"/>
	<div class="item-another-mesage">
		<h4 class="portlet-heading-new msg-number"></h4>
		<div class="row hidden">
			<div class="col-md-11">
				<div class="form-gd">
					<div class="form-group"> <span class="help-block tdesc">New interval</span> </div>
				</div>
			</div>
		</div>
		<div class="row row-small">
			<div class="col-lg-11 col-md-11">
				<div class="row row-small form-gd">
					<div class="col-sm-12">
						<div class="form-group mb-0">
								<h4 class="portlet-subheading">
									When do you want this to send?
									<span><a tabindex="0" class="info-popover" data-trigger="focus" role="button" data-placement="right" data-html="true" title="" data-content="Set the interval at which you would like this to send." data-original-title=""><img src="../assets/layouts/layout4/img/info.png "></a></span>
								</h4>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">                                                    
							<select name="ITYPE" class="form-control itype-select-new Select2 ITYPE">																																						
								<option value="SECONDS">Immediately</option>																						
								<option value="HOURS">Hour(s)</option>	
								<option value="DAYS" selected>Day(s)</option>
								<option value="WEEKS">Week(s)</option>
								<option value="DATE">Select Date</option>	
							</select>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<div class="selected-interval">																				
								<div class="form-group">                                                    
									<select name="selected-hour-select" id="selected-hour-select" class="form-control Select2 IVALUE">
																												
									</select>
								</div>
							</div>
							<div class="selected-date hidden">
								<div class="form-group">
									<div class="input-group datetimepicker date set-z-index">
										<input type="text" class="form-control" value="">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>																				
							<div class="hidden">
								<div class="form-group">
									<select name="" id="" class="form-control ITIME Select2">
										<option value="09:00" selected>09:00</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-8">

					</div>																						
				</div>                                                                    
			</div>
		</div>		
	</div>
</div>