<div class="form-group clearfix control-point " id="" data-control-point-physical-id="" data-control-rq-id="" data-control-point-type="INTERVAL" data-add-new="New">
	<div class="item-another-mesage">
		<div class="row hidden">
			<div class="col-md-11">
				<div class="form-gd">
					<div class="form-group"> <textarea name="" id="" cols="30" rows="5" data-control="text-message" class="form-control"></textarea> <span class="help-block tdesc">New interval</span> </div>
				</div>
			</div>
		</div>
		<div class="row row-small">
			<div class="col-lg-4 col-md-11">
				<div class="row row-small form-gd">
					<div class="col-sm-12">
						<div class="form-group mb-0"> <label for="">When to Send this Next Message</label> </div>
					</div>
					<div class="col-sm-4">
						<div class="form-group"> <select id="" class="bs-select form-control IVALUE Select2"> </select> </div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<select name="ITYPE" class="bs-select form-control ITYPE Select2">
								<option value="DAYS" selected="SELECTED"> Day(s) </option>
								<option value="WEEKS"> Week(s) </option>
								<option value="MONTHS"> Month(s) </option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group"> <select name="" id="" class="bs-select form-control ITIME Select2"> </select> </div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-12">
				<div class="text-center or-text"> <span>OR</span> </div>
			</div>
			<div class="col-lg-4 col-md-11">
				<div class="row row-small form-gd">
					<div class="col-sm-12">
						<div class="form-group mb-0"> <label for=""><!--- When to Send this Message ---></label> </div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<select name="" id="" class="bs-select form-control IMONTH Select2">
								<option value="" selected="">Month</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<select name="" id="" class="bs-select form-control IDAY Select2">
								<option value="" selected="">Day</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<select name="" id="" class="bs-select form-control IYEAR Select2">
								<option value="" selected="">Year</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--- 
		<div class="row">
			<div class="col-sm-12"> <a href="#" class="btn newbtn green-gd add-plus add-another-append non-mb">add another mesage +</a> <a href="#" class="btn newbtn blue-gd btn-remove-cp-interval">REMOVE</a> </div>
		</div>
		--->
	</div>
</div>