<hr class="message-hr"/>    
<div class="row">
<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12"> 
<h4 class="portlet-heading-new questionNumber"></h4>	
<p class="portlet-subheading">What type of question do you want to ask?</p>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
<select class="form-control cp_type Select2" data-cp-type="ONESELECTION" data-anstemp=<%= selectedVal %> > 
<option value="ONESELECTION"  <%if (selectedVal==1) {%>  selected  <%}%>  data-anstemp="1" >Yes or No?</option> 
<option value="ONESELECTION"  <%if (selectedVal==2) {%>  selected  <%}%>  data-anstemp="2" >True or False?</option>
<option value="ONESELECTION"  <%if (selectedVal==3) {%>  selected  <%}%>   data-anstemp="3">Agree or Disagree?</option>
<option value="ONESELECTION"  <%if (selectedVal==4) {%>  selected  <%}%> data-anstemp="4">Useful or Not?</option>
<option value="ONESELECTION"  <%if (selectedVal==5) {%>  selected  <%}%> data-anstemp="5">Easy or Not?</option>
<option value="ONESELECTION"  <%if (selectedVal==6) {%>  selected  <%}%> data-anstemp="6">Likely or Not?</option>
<option value="ONESELECTION"  <%if (selectedVal==7) {%>  selected  <%}%> data-anstemp="7">Important or Not?</option>
<option value="ONESELECTION"  <%if (selectedVal==8) {%>  selected  <%}%> data-anstemp="8">Satisfied or Not?</option>
<option value="ONESELECTION"  <%if (selectedVal==9) {%>  selected  <%}%> data-anstemp="9">Net Promoter Score</option> 
<option value="SHORTANSWER" >Open Ended</option>
<option value="ONESELECTION"  <%if (selectedVal==0) {%>  selected  <%}%> data-anstemp="0">Custom</option>
</select> 
</div>
</div>	
<h4 class="portlet-subheading ">
<span class="tdesc">Enter the question you want to ask.</span>
<span><a tabindex="0" class="info-popover" data-trigger="focus" role="button" data-placement="right" data-html="true" title="" data-content="You will need to format and create your custom answer choices. For example, let’s say:
    <ul>
        <li>You want to ask “What is your favorite pizza topping?” </li>
        <li>You select the format A)..., B)..., C)...,. </li>
        <li>You type pepperoni, olives, mushrooms and sausage as your answers</li>
    </ul>
    Your text survey will look like this:
    <ul>
            What is your favorite pizza topping?
        <ul>
            <li>A) Pepperoni</li>
            <li>B) Olives</li>
            <li>C) Mushrooms</li>
            <li>D) Sausage</li>
        </ul>
    </ul>
    <img width=29px src=/session/sire/assets/layouts/layout4/img/Icon_Tip.png>Don’t forget to delete any unused answer fields." data-original-title=""><img src="../assets/layouts/layout4/img/info.png "></a></span>
</h4>
<p class="tguide hidden">Enter the question you want to ask.</p>
<div class="form-gd">
<div class="form-group">
<textarea data-emojiable="true" maxlength="459" name="" id="" data-control="text-message" cols="30" rows="5" class="form-control text validate[required] need-rule-message"></textarea>
<div class="row">
<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">	
</div>
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
<h5 id="cp-char-count-2" class="text-right control-point-char text-color-gray"></h5>
<a class="see-unicode-mess pull-right hidden">You have Unicode characters in your message</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
<div class="movi-1">
<div class="movi-heading">
<h3 class="movi-heading__number"><%=ShortCode%></h3>
</div>	
<div class="movi-body">
<div class="media chat__item chat--receive">
<div class="media-left media-bottom">
<div class="chat__user">
<img src="../assets/layouts/layout4/img/avatar-men.png">
</div>
</div>
<div class="media-body media-bottom ">
<div class="chat__text">	
<span class="span_text"></span>
</div>
</div>
</div>
</div>
</div><!--End Mobile View -->
</div>	
</div>


<div class="row">
<div class="col-lg-11">
<div class="row">
<div class="col-lg-9">
<h4 class="portlet-heading2">Answer Choices List</h4>
<div class="answer-wrap clearfix">
<label for="">Select an answer format:</label>
<div class="answer-wrap-select">
<select id="AF" class="form-control AF-select AF_2 Select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true"> 
<option value="NOFORMAT">No Formatting</option>
<option value="NUMERIC">1 for ..., 2 for ..., 3 for... </option>
<option value="NUMERICPAR">1) ..., 2) ..., 3) ... </option>
<option value="ALPHA">A for ..., B for ..., C for ...</option>
<option value="ALPHAPAR" selected="selected">A) ..., B) ..., C) ...</option>
<option value="HIDDEN">Hidden</option>
</select>
</div>
</div>
<div class="row">
<div class="col-lg-11">
<div class="wrapper-answer-text">
<div class="form-gd field-anser-holder">
<div class="row row-small">
<div class="col-xs-8 col-sm-10">
<div class="form-group mb-0">
<label>Enter your answer choices</label>
</div>
</div>
<div class="col-xs-2 col-sm-1 hidden">
<div class="form-group text-center mb-0 ">
<label>S-Val</label>
</div>
</div>
<div class="col-xs-2 col-sm-1">
<div class="form-group text-center mb-0">
<label>Delete</label>
</div>
</div>
</div>
<div class="answers_list"> 



<div class="row AnswerItem row-small hidden"><div class="col-xs-8 col-sm-10"><div class="form-group"><input type="text" id="OPTION" class="form-control"></div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><input type="text" id="AVAL" class="form-control text-center" value="1"><input type="hidden" id="AVALREG" class="form-control readonly-val text-center" value=""> </div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><button class="form-control delete-answer"><i class="fa fa-minus"></i></button></div></div></div><div class="row AnswerItem row-small"><div class="col-xs-8 col-sm-10"><div class="form-group"><input type="text" id="OPTION" class="form-control"></div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><input type="text" id="AVAL" class="form-control text-center" value="2"><input type="hidden" id="AVALREG" class="form-control readonly-val text-center" value=""> </div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><button class="form-control delete-answer"><i class="fa fa-minus"></i></button></div></div></div><div class="row AnswerItem row-small"><div class="col-xs-8 col-sm-10"><div class="form-group"><input type="text" id="OPTION" class="form-control"></div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><input type="text" id="AVAL" class="form-control text-center" value="3"><input type="hidden" id="AVALREG" class="form-control readonly-val text-center" value=""> </div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><button class="form-control delete-answer"><i class="fa fa-minus"></i></button></div></div></div><div class="row AnswerItem row-small"><div class="col-xs-8 col-sm-10"><div class="form-group"><input type="text" id="OPTION" class="form-control"></div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><input type="text" id="AVAL" class="form-control text-center" value="4"><input type="hidden" id="AVALREG" class="form-control readonly-val text-center" value=""> </div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><button class="form-control delete-answer"><i class="fa fa-minus"></i></button></div></div></div><div class="row AnswerItem row-small"><div class="col-xs-8 col-sm-10"><div class="form-group"><input type="text" id="OPTION" class="form-control"></div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><input type="text" id="AVAL" class="form-control text-center" value="5"><input type="hidden" id="AVALREG" class="form-control readonly-val text-center" value=""> </div></div><div class="col-xs-2 col-sm-1"><div class="form-group"><button class="form-control delete-answer"><i class="fa fa-minus"></i></button></div></div></div></div>
</div> 

<div class="row row-small">
<div class="col-xs-4 col-xs-offset-7 col-sm-2 col-sm-offset-9">
<a href="#" id="add-more-answer" class="btn btn-block grey-mint add-more-answer">ADD MORE</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 hidden">
<h4 class="portlet-heading2">Answer Template (Quick Add)</h4>
<h4 class="portlet-heading3 mb-30">If you would like, select one and then hit the APPLY button.</h4>
<div class="row">
<div class="col-lg-10">
<div class="list-answer-template">
<ul class="nav">
<li>
<input type="radio" name="ans-group" id="ans-temp-1-2" class="ans-group" value="1">
<label class="lbl-ans-group" for="ans-temp-1-2">Yes or No?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-2-2" class="ans-group" value="2">
<label class="lbl-ans-group" for="ans-temp-2-2">True or False?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-3-2" class="ans-group" value="3">
<label class="lbl-ans-group" for="ans-temp-3-2">Agree or Disagree?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-4-2" class="ans-group" value="4">
<label class="lbl-ans-group" for="ans-temp-4-2">Useful or Not?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-5-2" class="ans-group" value="5">
<label class="lbl-ans-group" for="ans-temp-5-2">Easy or Not?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-6-2" class="ans-group" value="6">
<label class="lbl-ans-group" for="ans-temp-6-2">Likely or Not?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-7-2" class="ans-group" value="7">
<label class="lbl-ans-group" for="ans-temp-7-2">Important or Not?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-8-2" class="ans-group" value="8">
<label class="lbl-ans-group" for="ans-temp-8-2">Satisfied or Not?</label>
</li>
<li>
<input type="radio" name="ans-group" id="ans-temp-9-2" class="ans-group" value="9">
<label class="lbl-ans-group" for="ans-temp-9-2">Net Promoter Score</label>
</li>
</ul>
</div>
<a href="#" class="btn green-gd btn-add-answer-list-template" data-answer-list="answers_list_2">apply</a>
</div>
</div>
</div>
</div>
</div>
</div>

