<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label">Script type</label>
		<div class="col-sm-5">
			<select class="form-control" data-ng-model="ngModel.scriptType"  
				data-ng-change="confirmChange()"
				data-ng-options="type.label for type in scriptTypeList track by type.val">
			</select>
		</div>
	</div>
</form>
<div script-static data-ng-model="ngModel" data-ng-show="ngModel.scriptType.val == scriptTypeList[0].val"></div>
<div script-dynamic data-ng-model="ngModel" data-ng-show="ngModel.scriptType.val == scriptTypeList[1].val"></div>
<div script-tts data-ng-model="ngModel.tts" data-ng-show="ngModel.scriptType.val == scriptTypeList[2].val"></div>