<div class="popover ebmproper {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
    <div class="arrow"></div>
    <div class="popover-inner">
        <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
        <div class="popover-content">
            <label>{{data.info}}</label>
                <div class="poppver-desc-info">{{data.descinfo}}</div>
            <div data-ng-if="data.validation">
                <br>
                <label>{{data.validation}}</label>
                <ul>
                    <li data-ng-repeat="c in data.valdata" ng-bind="c"></li>
                </ul>
            </div>
        </div>
    </div>
</div>