<div class="modal-header">
	<h3 class="modal-title">Select a script</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-5">
			<div id="file_browser" data-ng-init="initFileBrowser()">
			</div>
		</div>
		<div class="col-xs-7" data-ng-init="displayScript()">
			<div id="flowchart_jplayer_1"></div>
			<div id="jp_container_1">
				<!-- <audio id="player2" src="" type="audio/mp3" controls="controls"></audio> -->
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>