<div class="content-stage">
    <div class="page-title">
        <h3>Edit Campaign</h3>
    </div>
    <div style="clear:both;"></div>
    <nav class="navbar navbar-default menu-bar" role="navigation">
        <div class="container-fluid">
            <div class="nav-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Navigation link, and form-->
            <div id="menu-content" class="flowchart-menu-content">
                <ul class="nav navbar-nav">
                    <li class="dropdown" data-ng-repeat="toolbox in toolboxs">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            {{toolbox.name}}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="item in toolbox.tool" data-ng-if="item.visible == 1" class="" data-ng-class="{divider: item.divider}">
                                <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="{{item.hint}}" data-ng-click="execute(item.event)">{{item.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="clear:both;"></div>
    <div class="option-bar">
        <div class="option-bar-area"
             data-ng-repeat="toolbox in toolboxs"
             data-ng-if="toolbox.isOption">
            <div data-ng-repeat="item in toolbox.tool"
                 class="option-bar-input" data-ng-class="{divider: item.divider}"
                 data-toggle="tooltip" data-placement="bottom" title="{{item.name}}"
                 data-ng-if="item.visible == 1"
                 data-ng-click="execute(item.event)"
                 id="object-{{item.event}}"
                    >
                <i class="fa {{item.icon}}"></i>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="viewport">
        <div class="toolbox">
            <div class="toolbox-header">
                <input type="text" class="form-control toolbox-search" data-ng-model="search" placeholder="Search">
                <i class="fa fa-search toolbox-search-icon"></i>
            </div>
            <div class="toolbox-body">
                <div class="panel">
                    <h4 class="panel-title">Popular</h4>
                    <div class="panel-body">
                        <div class="toolbox-item-container"
                             data-ng-repeat="obj in object | filter:search"
                             data-ng-if="obj.visible == 1"
                             data-toggle="tooltip"
                             data-placement="right"
                             title="{{obj.hint}}"
                             data-plumb-menu-item
                                >
                            <div class="toolbox-item"
                                 data-ng-drag="true" data-ng-drag-data="obj" data-ng-drag-success="onDragComplete($data,$event)">
                                <div class="toolbox-icon">
                                    <i class="fa {{obj.icon}}"></i>
                                </div>
                                <span>{{obj.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="viewport-workspace" id="scrollable">
            <div class="viewport-scrollable">
                <div class="workspace-container">
                    <form method="POST" enctype="multipart/form-data" action="save.php" id="myForm">
                        <input type="hidden" name="img_val" id="img_val" value="" />
                    </form>
                    <div id="workspace" class="workspace" data-ng-drop="true" data-ng-drop-success="onDropComplete($data,$event,$obj)">
                    </div>
                    <div class="modal" id="myModal"></div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="detail-panel" data-ng-class="{'collapsed': detailCollapsed, 'closed': detailClosed}">
            <div class="detail-panel-header">
                Detail
                <div class="detail-control" data-ng-click="detailClosed = !detailClosed">
                    <div class="fa fa-minus-circle"></div>
                </div>
                <div class="detail-control" data-ng-click="detailCollapsed = !detailCollapsed">
                    <div class="fa" data-ng-class="{true: 'fa-minus', false: 'fa-expand'}[!detailCollapsed]"></div>
                </div>
            </div>
            <div class="detail-panel-body" id="detail-body">
                <div data-drawing-default></div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div id="index-panel" class="detail-panel index-panel" data-ng-class="{'collapsed': indexCollapsed, 'closed': indexClosed}">
            <div class="detail-panel-header">
                Index
                <div class="detail-control" data-ng-click="indexClosed = !indexClosed">
                    <div class="fa fa-minus-circle"></div>
                </div>
                <div class="detail-control" data-ng-click="indexCollapsed = !indexCollapsed">
                    <div class="fa" data-ng-class="{true: 'fa-minus', false: 'fa-expand'}[!indexCollapsed]"></div>
                </div>
            </div>
            <div class="detail-panel-body">
                <ul class="index-panel-list" data-ui-sortable="sortableOptions" data-ng-model="controlsObject">
                    <li id="{{itemControl.config.id}}" class="index-panel-list-item" data-ng-repeat="itemControl in controlsObject">
                        <div class="index-panel-id">{{itemControl.config.id}}</div>
                        <i class="fa {{itemControl.config.icon}}"></i>
                        <span>{{itemControl.config.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="display-panel">
            <ul class="display-panel-nav">
                <li class="active" data-ng-class="{'active': !detailClosed}">
                    <a href="javascript:;">
                        <i class="fa fa-lg fa-tasks" data-ng-click="detailClosed = !detailClosed"></i>
                    </a>
                </li>
                <li data-ng-class="{'active': !indexClosed}">
                    <a href="javascript:;">
                        <i class="fa fa-lg fa-sort-numeric-asc" data-ng-click="indexClosed = !indexClosed"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
        <div data-post-render></div>
    </div>
</div>