<div class="modal-header">
	<h3 class="modal-title">XML Control String</h3>
</div>
<div class="modal-body" style="padding: 5px">
    <a href="#" class="edit-xml fa fa-edit" onClick="return false" ng-click="editXml(this)">Edit</a>
	<div hljs language="xml" source="xml"></div>
    <textarea id="validxml1" name="updateXml" style="width: 100%;height:300px;" ></textarea>
    <div id="unclosed-tag-finder-results"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary save-editXml" ng-click="Save()">Save</button>
	<button class="btn btn-primary save-ok" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>