<div class="popover rxtpopover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
    <div class="arrow"></div>
    <div class="popover-inner">
        <h3 class="popover-title rxtpopover-title" ng-show="title">RXT: {{titleData.rxt}} - ID: {{titleData.id}} - NAME: {{titleData.name}}</h3>
        <div class="popover-content rxtproper-content">
            <label>Description</label>
            <div class="poppver-desc-info">{{data.description}}</div>
            <div style="display:block; width: 100%; height: 20px"> </div>
            
            <div class="" data-ng-if="data.scriptType">
	            <label>Scripts {{data.scriptType.label}}</label>
	            <div class="poppver-desc-info">
					<div hover-script-static data-ng-model="data" data-ng-show="data.scriptType.val == scriptTypeList[0].val"></div>
					<div hover-script-dynamic data-ng-model="data" data-ng-show="data.scriptType.val == scriptTypeList[1].val"></div>
					<div hover-script-tts data-ng-model="data.tts" data-ng-show="data.scriptType.val == scriptTypeList[2].val"></div>
	            </div>
            </div>
        </div>
    </div>
</div>