﻿<cfinclude template="act_jsonencode.cfm">
<cfscript>
	category = arrayNew(1);
	
	category[1] = StructNew();
	category[1].id = 0;
	category[1].name = "One on One";
		
	category[2] = StructNew();
	category[2].id = 1;
	category[2].name = "Group";
		
		
	category[3] = StructNew();
	category[3].id = 2;
	category[3].name = "Public";
		
</cfscript>
<cfoutput>#jsonencode(category)#</cfoutput>