<cfparam name="inpUserId" default="0">
<cfparam name="inpBatchId" default="0">
<cfparam name="inpDate" default="0">
<cfparam name="inpMasterRXCallDetailId" default="0">

<!---<cfinclude template="../scripts/data_ScriptPaths.cfm">--->  

<!--- Validate authorized current session user can listen to input users request --->

<cfset MainLibFile = "\\10.11.0.70/EBM_RR_temp\RecordedResponses/U#inpUserId#\#inpBatchId#\#inpDate#\#inpMasterRXCallDetailId#.mp3">
<!---<cfset MainLibFile = "#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#/#rxdsWebReadPath#/U#inpUserId#/L#inpLibId#/E#inpEleId#\RXDS_#inpUserId#_#inpLibId#_#inpEleId#_#inpScriptId#.mp3">       
<cfheader name="Content-Disposition" value="attachment;filename=TestFile.mp3">
<cfcontent TYPE="application/mp3" file="#MainLibFile#"></cfcontent>  
--->         

<cfheader name="Content-Disposition" value="inline; filename=#inpMasterRXCallDetailId#.mp3">
<cfcontent file="#MainLibFile#" type="audio/mpeg"></cfcontent>