<!---'<table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table navtable" style="width:700px">'+
'	<tr>'+
'		<td align="left">'+
'            <table border="0" cellspacing="0" cellpadding="0" border="0" >'+
'                <tr>'+
'    				<td class="ui-pg-button ui-corner-all" title="Upload new audio file." id="upload_record" nowrap>'+
'        				<div class="ui-pg-div" style="margin-top:5px;"><span class="ui-icon ui-icon-plus"></span>Upload Recording</div>'+
'        			</td>'+
'					<td style="width: 4px;" class="ui-pg-button ui-state-disabled"><span class="ui-separator"></span></td>'+
'        			<td class="ui-pg-button ui-corner-all" title="Get call to record MESSAGE." id="call_record" nowrap>'+
'        				<div class="ui-pg-div" style="margin-top:5px;"><span class="ui-icon ui-icon-signal"></span>Call2Record</div>'+
'        			</td>'+
'					<td style="width: 4px;" class="ui-pg-button ui-state-disabled"><span class="ui-separator"></span></td>'+
'        			<td class="ui-pg-button ui-corner-all" title="TYPE text to convert it into audio." id="text_record" nowrap>'+
'        				<div class="ui-pg-div" style="margin-top:5px;"><span class="ui-icon ui-icon-document"></span>Text-2-Speech</div>'+
'        			</td>'+
'				</tr>'+
'			</table>'+
'		</td>'+
'       <td align="right">'+
'            <table border="0" cellspacing="0" cellpadding="0" border="0">'+
'               <tr>'+
'					<td style="width: 4px;" class="ui-pg-button ui-state-disabled"><span class="ui-separator"></span></td>'+
'        			<td class="ui-pg-button ui-corner-all" title="Delete a script." id="del_Script" nowrap>'+
'        				<div class="ui-pg-div" style="margin-top:5px;"><span class="ui-icon ui-icon-trash"></span>Delete Scripts</div>'+
'        			</td>'+
'				</tr>'+
'			</table>'+
'		</td>'+
'   </tr>'+
'</table>'+--->
'<table width="100%" class="ui-widget-content ui-jqgrid" cellpadding="2px;">'+
'<tr>'+
'	<td align="left">   '+
'<table class="ui-pg-table" class="ui-corner-all"><tr><td>'+
'        <p style="display:inline;"><lable style="margin-left:1px; margin-right:1px; text-align:right;">Script Number Filter</lable><input TYPE="text" id="search_scriptNum" onkeydown="doSearch(arguments[0]||event)" class="ui-corner-all"/></p>'+
'		 <p style="display:inline;"><lable style="margin-left:1px; margin-right:1px; text-align:right;">Script Notes Filter</lable><input TYPE="text" id="search_scriptNotes" onkeydown="doSearch(arguments[0]||event)" class="ui-corner-all"/></p>'+
'		 <p style="display:inline;" id="audio_player"></p>'+
'</td></tr></table>'+
'	</td>'+
'<td>'+
'    <div id="loading">'+
'        <img src="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#</cfoutput>/images/loading-small.gif" width="32" height="32">'+
'    </div>'+
'</td>'+
'</tr>'+
'</table> '

