
<cfparam name="inpBRDialString" default="">


<script TYPE="text/javascript">

var OldGroupName = "";

	
	$(function()
	{					
		$("#loadingDlgMicRecord").hide();
				
	} );
		
		
		
	
var urlDownload_MicRecord="";
	function flash_callback_MicRecord(info){
		if (info.code=="RESPONSE_SAVE_RECORD_ERROR"){
			alert("Save record failure");
		}
		if (info.code=="RESPONSE_SAVE_RECORD_SUCCESSFUL"){
			//  alert("Save record successful");
			urlDownload_MicRecord=info.url;
			<cfif session.facebook OR session.fbuserid>
				stream_publish(info.url,info.description);
			</cfif>
						
			<!---for (var p in info){alert(p+":"+info[p]);}--->
			b_sort_date = 'ASC';
			
			$("#babble_sort_date").click();
			
			$("#loadingDlgMicRecord").hide(); 
			CreateMicRecordDialog.remove();
			
		}
		for (var p in info){
			document.form.txt.value+=p+":"+info[p]+"\n";
		}
		document.form.txt.value+="---------------------------"+"\n";
		
	}
	
	function stream_publish(dataId,msg)
	{
		FB.ui({
		  method: "stream.publish",
		  display: "iframe",
		  user_message_prompt: "Publish This!",
		  message: "My new recorded babble",
		  attachment: {
			 name: "New Babble",
			 caption: "This is my newly published babble !!",
			 description: "Listen it here",
			 href: "http://example.com/",
			 media:[{
				 	"type":"mp3",
					"src":"<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#/scripts/act_GetMyMP3?inpUserId=#session.userid#&inpLibId=1&inpEleId=1&inpScriptId="+dataId</cfoutput>,
					<!---"src":"http://dev.telespeech.com/simplexscripts/u8/l1/e1/RXDS_8_1_1_7.mp3",--->
					"title":msg,
					"artist":"Deepak yadav"
					}],
			<!---properties:{
			   "1)":{"text":"Reading","href":"http://example.com/skill.php?reading"},
			   "2)":{"text":"Math","href":"http://example.com/skill.php?math"},
			   "3)":{"text":"Farmville","href":"http://example.com/skill.php?farmville"}
			 }--->
		  },
		  action_links: [{ text: 'Test yourself', href: 'http://example.com/test.php' }]
		 },
		 function(response) {
		   if (response && response.post_id) {
			 alert('Post was published.'+response.post_id);
		   } else {
			 //alert('Post was not published.');
		   }
		    
		 }
		);
	}
</script>


<style>

#AddMicRecordDiv{
margin:0 0;
width:450px;
padding:2px;
border: none;
display:inline;
}

</style> 

<cfoutput>
        
<div id='AddMicRecordDiv' class="RXForm">

<form id="MicRecordForm" name="MicRecordForm" action="" method="POST">

 <input TYPE="hidden" name="INPBATCHID" id="INPBATCHID" value="0" />
      
       
        
        
        <div style="height:400px;">
			<object TYPE="application/x-shockwave-flash" data="standalonerecorder.swf" width="480" height="400" id="dewplayer" name="dewplayer">
		        <param name="wmode" value="transparent" />
		        <param name="movie" value="standalonerecorder.swf" />
				<param name="allowScriptAccess" value="sameDomain" />
		        <param name="flashvars" value="cateService=#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#/scripts/act_GetSecuritySelect_NORESET&postService=#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#/scripts/act_AsyncWriteFlashFile_NORESET&callbackFunction=flash_callback_MicRecord&buttonColor=0x8E3E5E&backgroundColor=0xFFFFFF&backgroundShadow=0xCCCCCC&textLabelColor=0x0099CC&textInputColor=0x000000" />
			</object>
 <!---
 cateService=#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#/cfc/conversation.cfc?method=GetSecuritySelect&amp;returnformat=json&amp;queryformat=column&amp;_cf_nodebug=true&amp;_cf_nocache=true
 --->       
        
        </div>
                
                           
                            
        <div id="loadingDlgMicRecord" style="display:inline;">
            <img class="LoadingDlgImg" src="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#</cfoutput>/images/loading-small.gif" width="20" height="20">
        </div>
        
</form>
</cfoutput>
</div>



