



<cfparam name="inpUserId" default="0">
<cfparam name="inpLibId" default="0">
<cfparam name="inpEleId" default="0">
<cfparam name="inpScriptId" default="0">

<!---<cfinclude template="../scripts/data_ScriptPaths.cfm">--->  

<cfset MainLibFile = "#rxdsLocalWritePath#/U#Session.USERID#/L#inpLibId#/E#inpEleId#\RXDS_#Session.USERID#_#inpLibId#_#inpEleId#_#inpScriptId#.mp3">       
	
<cfset PlayMyMP3_BD = "#rootUrl#/#SessionPath#/account/act_GetMyMP3?scrId=#Session.USERID#_#inpLibId#_#inpEleId#_#inpScriptId#">       

<cfoutput>
    
    <cfif FileExists(MainLibFile)>
       
       <object TYPE="application/x-shockwave-flash" data="singleplayer.swf" width="200" height="20" id="dewplayer" name="dewplayer"> 
           <param name="wmode" value="transparent" /><param name="movie" value="singleplayer.swf" /> 
           <param name="flashvars" value="xmlConfig=config.xml&file=#PlayMyMP3_BD#" /> 
       </object>
             
      <cfelse>
        File Can Not Be Found!           <!---   <BR>               #MainLibFile#--->
    </cfif>

</cfoutput>