<!---<style TYPE="text/css">
	a{
		display:inline;
	}
	a:hover{
		display:inline;
	}
</style>--->

<div class="BSLinkMenuContainer" style="width:100%">
<table border="0" width="100%">
	<tr>
    	<td nowrap="nowrap" valign="top">
            <div id="PhoneListMenu" class="BSLinkMenu">
                Manage Babbles<Br />
                <a id="upload_record">Upload Babble</a> 
                <a id="call_record">Call2Record</a> 
                <a id="text_record">Text-2-Speech</a> 
                <a id="text_record">Refresh</a>
            </div>
        </td>
        
        <td nowrap="nowrap" valign="top">
            <div id="PhoneListMenu" class="BSLinkMenu">
                Add Babbles<Br />
                <a id="upload_record">Upload Babble</a> | 
                <a id="call_record">Call2Record</a> | 
                <a id="text_record">Text-2-Speech</a> | 
            </div>
        </td>
        
        <td nowrap="nowrap" valign="top">
            <div id="PhoneListMenu" class="BSLinkMenu">
                Add Babbles<Br />
                <a id="upload_record">Upload Babble</a> | 
                <a id="call_record">Call2Record</a> | 
                <a id="text_record">Text-2-Speech</a> | 
            </div>
        </td>  
          
	</tr>
</table>
</div>
