<b>My <cfoutput>#pname#</cfoutput></b><img id='refresh_BabbleList' src='../images/icons16x16/Refresh_16x16.png' width='16' height='16' style='display:inline; margin:0 5px 0 5px;' class='ListIconLinks' />