<span class="metaBabble"><strong>Added</strong> #dateformat(GetRecording.created_dt,"mmm dd, yyyy")# &nbsp;&nbsp;<strong>Views</strong> 10 &nbsp;&nbsp;<strong>Votes Up</strong> 5 &nbsp;&nbsp;<strong>Votes Down</strong> 1 &nbsp;&nbsp;<strong>Tags</strong> One ..