<thead>
    <tr style="height: 90px;">
        <td><img src="https://<cfoutput>#envServer.HTTP_HOST#</cfoutput>/public/sire/images/emailtemplate/logo.jpg" alt="logo"></td>
        <td style="text-align: right; font-size: 12px; color: #5c5c5c;">
            Add <a href="mailto:support@siremobile.com" style="color: #5c5c5c;">support@siremobile.com</a> to your contacts
        </td>
    </tr>
</thead>