<cfset var envServer = CGI />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invited Email</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial">
<table cellpadding="0" cellspacing="0" style="width: 600px; margin: 0 auto;">

    <cfinclude template="header.cfm">

    <tr>
        <td colspan="2">
            <img src="https://<cfoutput>#envServer.HTTP_HOST#</cfoutput>/public/sire/images/emailtemplate/banner-1.jpg" alt="banner">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-size: 16px; padding: 0 30px; color:#5c5c5c">

            <h1 style="color:#73c37e;text-align:center;font-size:34px;"><cfoutput>#dataEmail.senderName#</cfoutput>  has invited you to try Sire Mobile for FREE!</h1>
            True friends know all that you need! You have been invited to try Sire, the only Smart Interactive Engine that connects you instantly to your customers!
            <br><br>
            <a href="https://<cfoutput>#envServer.http_host##userRFCode.RFLink#</cfoutput>&type=2" style="color: #578da6; text-decoration: none;">Sign up</a> to Sire account and reach millions of customers in less than 5 minutes!
            <br><br>
            <p class="about-sire" style="font-size:13px;">
            <strong>About Sire</strong>: Sire is a mobile CRM platform that is used to communicate information through sms/text to customers and group members. Please browse through our <a href="https://<cfoutput>#envServer.HTTP_HOST#</cfoutput>" style="color: #578da6; text-decoration: none;">website</a> for more information.
            <br><br>
            <br><br>
            </p>
        </td>
    </tr>
    <cfinclude template="footer.cfm">
</table>
</body>
</html>