<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L">
<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString">

<cfset websericeCommonDotPath = "ire.tools.common">
<cfset CommonDotPath = "ire.tools.common"> <!--- Different for cfincludes for cfc's in Session, WebService, EBMResponse, IREResponse etc --->
<cfset SessionDotPath = "session.cfc">
<cfset ServerAPIKeyShortUrl = "AIzaSyB0c-sx7hvlu8j2UdScdK2vVIj4qQD8-Yg" />

<cfif cgi.server_port_secure eq '1'>
	<cfset LocalProtocol="https">
<cfelse>
	<cfset LocalProtocol="http">
</cfif>


<!--- Manually set this here to be API wide - input params are not used here --->
<cfparam name="DebugAPI" default="0">

<!---<cfparam name="DBSourceEBM" default="Bishop">--->

<cfif DebugAPI GT 0 >

    <cfset DBSourceEBM = "BishopDev"/>
    <cfset Session.DBSourceEBM = "BishopDev"/>

<cfelse>

	<cfset DBSourceEBM = "Bishop"/>
    <cfset Session.DBSourceEBM = "Bishop"/>

</cfif>
