<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>

<p style="word-spacing: 500%;"><a href="" title="Sports">Sports</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" title="Math">Math</a></p>
<p style="word-spacing: 5%;"><a href="" title="Science">Science</a> <a href="" title="English">English</a></p>


<p style="word-spacing: 200em;"><a href="" title="Sports">Sports</a> <a href="" title="Math">Math</a></p>
<p style="word-spacing: 2em;"><a href="" title="Science">Science</a> <a href="" title="English">English</a></p>

<a href="#" id = "forwardHistory" onClick ="return false;"></a>

</body>
</html>