﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title>Event Based Messaging Documentation- Table of Contents</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="generator" content="HelpNDoc Personal Edition 3.9.1.648">
	<link type="text/css" rel="stylesheet" media="all" href="file:///C|/Users/akhare/Desktop/ebm/css/reset.css" />
	<link type="text/css" rel="stylesheet" media="all" href="file:///C|/Users/akhare/Desktop/ebm/css/silver-theme/jquery-ui-1.8.12.custom.css" />
	<link type="text/css" rel="stylesheet" media="all" href="file:///C|/Users/akhare/Desktop/ebm/css/dynatree/chm/ui.dynatree.css" />
	<link type="text/css" rel="stylesheet" media="all" href="file:///C|/Users/akhare/Desktop/ebm/css/base.css" />
	<link type="text/css" rel="stylesheet" media="all" href="file:///C|/Users/akhare/Desktop/ebm/css/hnd.css" />
    <link type="text/css" rel="stylesheet" media="all" href="file:///C|/Users/akhare/Desktop/ebm/css/toc.css" />
	<!--[if lte IE 8]>
		<link type="text/css" rel="stylesheet" media="all" href="css/ielte8.css" />
	<![endif]-->
	<style type="text/css">
		#tabs .ui-widget-header
		{
			background-color: #EFEFEF;
		}
	</style>
	<script type="text/javascript" src="file:///C|/Users/akhare/Desktop/ebm/js/jquery.min.js"></script>
	<script type="text/javascript" src="file:///C|/Users/akhare/Desktop/ebm/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="file:///C|/Users/akhare/Desktop/ebm/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="file:///C|/Users/akhare/Desktop/ebm/js/jquery.dynatree.min.js"></script>
	<script type="text/javascript" src="file:///C|/Users/akhare/Desktop/ebm/js/hndjsse.js"></script>
	<script type="text/javascript">
	
		var bSearchDataLoaded = false;
		var sHelpIdToActivate = '';
	
		$(document).ready(function()
		{
			var sAnchorName = '';
			try { sAnchorName = top.location.href.substring(top.location.href.lastIndexOf("#") + 1, top.location.href.length); }
			catch(err) { sAnchorName = ''; }
			var nSelectedTab = 0;
			if (sAnchorName == '_index') nSelectedTab = 1
			else if (sAnchorName == '_search') nSelectedTab = 2;			
			$("#tabs").tabs({
				selected: nSelectedTab,
				select: function(event, ui) { HideKwPopup(); }
			});
			
			// Toc
			if ($("#tab-toc").length) {
				$("#tab-toc").dynatree({
					clickFolderMode: 1,
					debugLevel: 0,
					imagePath: 'css/dynatree/chm/',
					onActivate: function(node){
						if ($("#tab-keywords").length && $("#tab-keywords").dynatree && $("#tab-keywords").dynatree("getTree") && $("#tab-keywords").dynatree("getTree").activateKey)
							$("#tab-keywords").dynatree("getTree").activateKey(null);
						if(node.data.href && node.data.href != '#'){
							window.open(node.data.href, node.data.target);
						}
					}
				});
				// Expand all nodes if required
				$("#tab-toc").dynatree("getRoot").visit(function(node){
						node.expand(true);
					});
				// Select the active help id
				if (sHelpIdToActivate != '') $("#tab-toc").dynatree("getTree").activateKey(sHelpIdToActivate);
			}
			
			// Keywords
			
			if ($("#tab-keywords").length) {
				$("#tab-keywords").dynatree({
					clickFolderMode: 1,
					debugLevel: 0,
					imagePath: 'css/dynatree/chm/',
					onClick: function(node, event){
						HideKwPopup();
						if (node.data && node.data.click)
						{
							var aRefList = null;
							eval('aRefList=' + node.data.click);
							if (ShowKwPopup(node.li, aRefList))
							{
								if ($("#tab-toc") && $("#tab-toc").dynatree && $("#tab-toc").dynatree("getTree") && $("#tab-toc").dynatree("getTree").activateKey)
									$("#tab-toc").dynatree("getTree").activateKey(null);
								if(node.data.href && node.data.href != '#'){
									window.open(node.data.href, node.data.target);
								}
							}
						}
					}
				});
				// Expand all nodes if required
				$("#tab-keywords").dynatree("getRoot").visit(function(node){
						node.expand(true);
					});
				}
			
			// Load search data
			$.getScript("js/searchdata.js",	function() {
				bSearchDataLoaded = true;
			});
		});
		
		$('body').click(function() {
			HideKwPopup();
		});
		
		function SelectTocItem(sHelpId)
		{
			if ($("#tab-toc").length && $("#tab-toc").dynatree && $("#tab-toc").dynatree("getTree") && $("#tab-toc").dynatree("getTree").getNodeByKey) {
				$("#tab-toc").dynatree("getTree").getNodeByKey(sHelpId).activateSilently();
			}
			else {
				sHelpIdToActivate = sHelpId;
			}
		}
		
		function HideKwPopup()
		{
			if($("#popupMenu")) $("#popupMenu").remove();
		}
		
		function ShowKwPopup(oSender, aLinks)
		{
			HideKwPopup();
			if (!aLinks || !aLinks.length || aLinks.length == 0) return false
			else if (aLinks.length == 1) return true
			else
			{
				var oParentDiv = document.createElement("DIV");
				oParentDiv.id = "popupMenu";
				var oLink = null;
				// Close button
				oLink = document.createElement("SPAN");
				oLink.className = "close-button";
				oLink.innerHTML = "X";
				oLink.href = "#";
				oLink.onclick = HideKwPopup;
				oParentDiv.appendChild(oLink);
				// Items
				for (var nCnt=0; nCnt<aLinks.length; nCnt++)
				{
					oLink = document.createElement("A");
					oLink.innerHTML = aLinks[nCnt][0];
					oLink.href = aLinks[nCnt][1];
					oLink.target = "FrameMain";
					oLink.onclick = HideKwPopup;
					oParentDiv.appendChild(oLink);
				}
				document.body.appendChild(oParentDiv);
				var pos = $(oSender).offset(); 
				var height = $(oSender).height();
				$(oParentDiv).css({
					"left": (pos.left+20) + "px",
					"top": (pos.top + height + 5) + "px"
				});
				$(oParentDiv).show();
				return false;
			}
		}
		
		function PerformSearch()
		{
			sValue = $("#search_value").val();
			$("#search_results").html('Searching...');
			var oSearchEngine = new HndJsSe;
			oSearchEngine.ParseInput(sValue);			
			oSearchEngine.PerformSearch();
			if (!oSearchEngine.aResults || !oSearchEngine.aResults.length)
			{
				$("#search_results").html('No results found.');
			}
			else
			{
				$("#search_results").html('<div id="search_results_content"></div>');
				var oUl = $("#search_results_content").append("<ul id='lr'></ul>").find("ul");
				for (var nCnt = 0; nCnt < oSearchEngine.aResults.length; nCnt++)
				{
					if (oSearchEngine.aResults[nCnt] < aTl.length)
					{
						oUl.append("<li><a href='" + aTl[oSearchEngine.aResults[nCnt]][0] + "?search=" + escape(sValue) + "' target='FrameMain'>" + unescape(aTl[oSearchEngine.aResults[nCnt]][1]) + "</a></li>");
					}
				}
				// Tree
				$("#search_results_content").dynatree({
					clickFolderMode: 1,
					debugLevel: 0,
					imagePath: 'css/dynatree/chm/',
					onActivate: function(node){
						if ($("#search_results_content") && $("#search_results_content").dynatree && $("#search_results_content").dynatree("getTree") && $("#search_results_content").dynatree("getTree").activateKey)
							$("#search_results_content").dynatree("getTree").activateKey(null);
						if(node.data.href && node.data.href != '#'){
							window.open(node.data.href, node.data.target);
						}
					}
				});
			}
		}
	</script>
</head>

<body>

	<div id="tabs">
		<ul>
			<li><a href="#tab-toc">Contents</a></li>
			<li><a href="#tab-keywords">Index</a></li>
			<li><a href="#tab-search">Search</a></li>
			</ul>
		<div id="tab-toc">
			<ul id="toc" class="">

				<li class="folder" id="Introduction" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/Introduction.html"
							target="FrameMain">
								Introduction</a>

				<ul><li class="" id="Welcome" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/Welcome.html"
							target="FrameMain">
								Welcome</a>

				</li><li class="" id="Whatsnew" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/Whatsnew.html"
							target="FrameMain">
								What's new</a>

				</li></ul></li><li class="folder" id="GettingStarted" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/GettingStarted.html"
							target="FrameMain">
								Getting Started</a>

				<ul><li class="" id="Systemrequirements" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/Systemrequirements.html"
							target="FrameMain">
								System requirements</a>

				</li><li class="" id="Gettinghelp" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/Gettinghelp.html"
							target="FrameMain">
								Getting help</a>

				</li></ul></li><li class="folder" id="EMBLogging" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/EMBLogging.html"
							target="FrameMain">
								EMB Logging</a>

				<ul><li class="" id="BriefDescription" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/BriefDescription.html"
							target="FrameMain">
								Brief Description</a>

				</li><li class="" id="Howitworks" data="">
							<a
							href="file:///C|/Users/akhare/Desktop/ebm/Howitworks.html"
							target="FrameMain">
								How it works?</a>

				</li></ul></li></ul>
		</div>
		
		<div id="tab-keywords">
			<ul id="keywords">

				</ul>
		</div>
		
		<div id="tab-search">
			<form onsubmit="PerformSearch(); return false;">
				<label for="search_value">Search:</label>
				<input id="search_value" name="search_value"></input>
				<input type="submit" value="Search"/>
			</form>
			<div id="search_results"></div>
		</div>
		
		</div>
    
</body>

</html>

