﻿<cfinclude template="lib/jsonencode.cfm">
<cfscript>
	category = arrayNew(1);
	for (i = 1; i <= 10; i++) {
		category[i] = StructNew();
		category[i].id = i;
		category[i].name = "Category " & i;
	}
</cfscript>
<cfoutput>#jsonencode(category)#</cfoutput>