<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-TYPE" content="text/html; charset=utf-8" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, no-cache, must-revalidate">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<title></title>

<!--- include main jquery and CSS here - paths are based upon application settings --->
<cfoutput>
    
    <!---<link TYPE="text/css" href="#rootUrl#/#SessionPath#/css/pepper-grinder/jquery-ui-1.8.custom.css" rel="stylesheet" /> --->
    <link TYPE="text/css" href="#rootUrl#/#PublicPath#/css/BabbleSphere/jquery-ui-1.8.7.custom.css" rel="stylesheet" />
    <link TYPE="text/css" href="#rootUrl#/#SessionPath#/css/rxdsmenu.css" rel="stylesheet" /> 
    <link rel="stylesheet" TYPE="text/css" media="screen" href="#rootUrl#/#SessionPath#/css/RXForm.css" />
    
    <script TYPE="text/javascript" src="#rootUrl#/#SessionPath#/js/jquery-1.4.4.min.js"></script>
    <script TYPE="text/javascript" src="#rootUrl#/#SessionPath#/js/jquery-ui-1.8.9.custom.min.js"></script> 
    
	<script TYPE="text/javascript" src="#rootUrl#/#SessionPath#/js/jquery.alerts.js"></script>
    <link TYPE="text/css" href="#rootUrl#/#SessionPath#/css/jquery.alerts.css" rel="stylesheet" /> 

 	<script src="#rootUrl#/#SessionPath#/js/ValidationRegEx.js"></script>

 	<!--- script for timout remiders and popups --->
    <!--- <cfinclude template="/SitePath/js/SessionTimeoutMonitor.cfm"> --->
 
<script TYPE="text/javascript">
	var CurrSitePath = '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>';
</script>

<!--- Enable hover functionality ---> 
<script TYPE="text/javascript">
$(function(){
	$('.ui-state-default').hover(
		function(){ $(this).addClass('ui-state-hover'); }, 
		function(){ $(this).removeClass('ui-state-hover'); }
	);

<!--- 	$('.ui-state-default').click(function(){
		$(this).toggleClass('ui-state-active');
	}); --->

});
</script>


</cfoutput>
 
 
<script TYPE="text/javascript">


	
</script> 


