

	
	
		<!--- Do footer here - special three column logic --->
        <div class="footer">
        
            <div class="footercontent">
                <div id="SessionTimer" style=" display:inline;" ></div>          
                Copyright ReactionX, LLC (c) 2000,2011
            </div>     
            
        </div>

<!--- Close wrapper div --->
	</div>
    
</body>
</html>