



<style>
 
*{ font-family:Helvetica, Tahoma, geneva, Arial, "Times New Roman", Times, sans-serif; }
 <!--- 
*
{
	margin: 10;
}
  --->
  
  
<style>
 

html, body 
{
	height: 100%;
}

.mainBody1
{		
	background-color:#DDDDDD;	
	background-image:  url(../images/BodyGradBarSpice.jpg);
	background-repeat: repeat-x;	
	min-height:800px; 
 	<!--- border:solid 2px #03F;  --->
	<!--- height: 100%; --->
}


#mainwrapper 
{
	min-height:500px; 
	height: auto !important;
	height: 100%;
<!--- 	margin: 0 auto -4em; --->
	position:absolute;
	<!--- top: 92px;
	left: 167px; --->
	top: 100px;
	left: 175px;
	min-height:800px; 
}

.footer 
{
	height: 4em;
}

.footercontent {
	width:100%;
<!--- 	float:left; --->
	margin: 0;
	font-size:10px;
}

.footercontent .footerwrapper {
	margin:92px 150px;
	padding:5px;
	min-width: 100px;
}

.TopMenmuBar
{
	display:inline;
	position:absolute;
	top:0px; 
	left:0px; 
	width:100%; 
	min-height:100px; 
	height:100px; 
	<!--- border:solid 2px #03F; --->
}


#LogoBGLeftMenu{
margin:0 0;
width:175px;
height: 500px;
min-height: 500px;
padding:0px;
border: none;
display:inline;
position:absolute;
top:100px;
left:0px;
z-index:100;
overflow:hidden;
}

#LeftMenu
{
	position:absolute;
	top:100px; 
	left:0px; 
	width:175px; 
	min-height:500px; 
	height:500px; 
	<!--- border:solid 2px #03F; --->
	z-index:101;
	padding-left:10px;
	padding-top:10px;
}


.pLink {
<!--- background: url('../images/RightArrowBlackIII10x10.png') no-repeat 0 0;
padding: 0px 0px 6px 14px; --->
padding: 5px 5px;
font-size:10px;
color:#FFFFFF;
font-weight:500;
border-bottom:none;
display:inline;
text-align:left;
}

.pLink a{
<!--- background: url('../images/RightArrowBlackIII10x10.png') no-repeat 0 0;
padding: 0px 0px 6px 14px; --->
padding: 5px 5px;
font-size:10px;
color:#FFFFFF;
font-weight:500;
border-bottom:none;
text-decoration:none;
display:inline;
text-align:left;
}

.pLink a:hover{
text-decoration:underline;
}


.pLink a:active{
text-decoration:underline;
border:none;
}


</style>


<script TYPE="text/javascript">

	$(function() {  
    $('.rollover').hover(function() {  
        var currentImg = $(this).attr('src');  
        $(this).attr('src', $(this).attr('hover'));  
        $(this).attr('hover', currentImg);  
    }, function() {  
        var currentImg = $(this).attr('src');  
        $(this).attr('src', $(this).attr('hover'));  
        $(this).attr('hover', currentImg);  
    });  

}); 



</script>



<!--- Most java and css goes before here --->
</head>



<!--- Start the main body --->
<body class="mainBody1" >


<div id="TopMenu" class="TopMenmuBar rxdsmenu">
    
    <div style="display:inline; float:left; margin:5px;">
		 <a href="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/account/home" style="text-decoration:none;"><img src="../images/RXLogo103.png" hover="../images/RXLogo103Pressed.png" class="rollover" style="display:inline; border:none;"/></a>
    </div>
        
    
    <div style="display:inline; float:right; margin:25px;">    
     
    <p class="pLink"><a href='<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/account/home'>My Account</a> | <a href='javascript:ForceLogoutPopup();'>Logout</a></p> 
     
 		<!---    <li id='LogOutButton' class='logout ui-state-default ui-corner-all' style='display:inline;' title='Log Out'><a href='javascript:ForceLogoutPopup();' style='display:inline;'>Logout</a></li>  --->
    </div>
</div>

<!--- Left menu background image --->
<div id="LogoBGLeftMenu"><img src="../images/RXMenuBGII175x500.png" class="ui-corner-all" /></div>

<div id="LeftMenu">
    
  
        
</div>
    
<!--- Wrap all display pages in here --->
<div id="mainwrapper">


