
<cfsetting requesttimeout="3600">
<cfinclude template="../../../public/paths.cfm" />
<cfparam name="Session.DBSourceSimpleX" default="Bishop" />
<cfparam name="RunLimitRows" default="1">

Starting .... <BR /> <cfflush>
       
    <!--- Open a Transcriber9 Obj--->
	<cfset Transcriber9Obj = createObject("java","TranscriberII")>
	
    <!--- Setup Config Path - make sure paths in config.xml are configured to point ot resources local to here too--->
	<cfset inpConfigPath = "C:/cds/transcriber9/config.xml">
	

Transcriber9 Obj Created ... <BR /> <cfflush>	

<!---	<cfloop query="GetBabbles">
  --->  
    	<!--- No UNC Paths ?!? \\10.25.0.32\simplexscripts/u57/l1/e1/  --->
		<!---<cfset MainLibFile = "#rxdsLocalWritePath#/u#GetBabbles.USERID_int#/l1/e1/RXDS_#GetBabbles.USERID_INT#_1_1_#GetBabbles.DATAID_INT#.mp3">       
       --->
     <!---  <cfset TranscribedValue = Transcriber9Obj.TranscribeMe(inpConfigPath, "C:/cds/webplayground/BabbleSphere_705_1_1_8.mp3")>
--->

		<cfset tickBegin = GetTickCount()>

		<cfset inpUserId = 236 /> 
        <cfset inpBatchId = 632 /> 
        <cfset inpCDLId = 5796 />
        <cfset inpTFLId = 14 />
        
		
        <cfquery name="GetDateFromTFL" datasource="#DBSourceEBM#">
            SELECT
                RXCDLStartTime_dt
            FROM     
                simplexrecordedresults.transcriptionfilelog       
            WHERE 
                TFLId_int=#inpTFLId#                        
        </cfquery>
    
		<cfif GetDateFromTFL.RecordCount GT 0>
            <cfset inpDate = DateFormat(GetDateFromTFL.RXCDLStartTime_dt,'yyyy_mm_dd')>    
                
            <cfset MainLibFile = "#RRLocalFilePath#\RecordedResponses/U#inpUserId#\#inpBatchId#\#inpDate#\#inpCDLId#_#inpTFLId#.mp3" >
         
        </cfif>
    	
		<cfset TranscribedValue = "">
       
       	<cfset TranscribedValue = Transcriber9Obj.TranscribeMe(inpConfigPath, "#MainLibFile#")>

		<cfset tickEnd = GetTickCount()>
        <cfset TranscribeTime = tickEnd - tickBegin> 
       
   <!---   
   		<cfquery name="UpdateScriptData" datasource="#Session.DBSourceSimpleX#">
        	UPDATE
            	 rxds.scriptdata                 
            SET
            	 TranscribeMachine_vch = <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TranscribedValue#" />,
                 TranscribeMachineMilliSeconds_int = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#TranscribeTime#" />,
                 TranscribeMachine_dt = NOW()
            WHERE 
                DSEId_int = 1 
            AND
                DSId_int = 1
            AND
            	DATAID_INT = #GetBabbles.DATAID_INT#
            AND 
                UserId_int = #GetBabbles.USERID_INT#           
        </cfquery>
--->
    	
		
		<cfoutput>
    		UserId_int = #inpUserId# <BR />
            MainLibFile = #MainLibFile# <BR />
            TranscribedValue = #TranscribedValue# <BR />
            TranscribeTime = #TranscribeTime# <BR />
    	</cfoutput>
        
 <!---   </cfloop>--->	
        
 <!---   <cfquery name="GetLastBabbles" datasource="#Session.DBSourceSimpleX#">
        SELECT 
            DATAID_INT,
            DSEId_int,
            DSId_int,
            UserId_int,
            Length_int,
            created_dt,
            DESC_VCH,
            categories_vch,
            votesUp_int,
            votesDown_int,
            viewCount_int,
            AccessLevel_int,
            scriptFacebookId_vch,
            EMOTIVEICONID_INT,
            REPORTABUSECOUNT_INT
        FROM 
            rxds.scriptdata
        WHERE 
            DSEId_int = 1 
        AND
            DSId_int = 1
        AND 
            Active_int = 1 
        AND 
            UserId_int = 57   
        AND
        	TranscribeMachineMilliSeconds_int > 0 
        ORDER BY
        	TranscribeMachine_dt DESC           
        LIMIT #RunLimitRows#                                  
    </cfquery>
    --->
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        