<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Database Architecture</h1>
<p>&nbsp;</p>
<h3>SimpleX</h3>
<p>Born of the need for a new set of structures that will do everthing we ever need to do. Needs to be expandable for new capabilities. No more one off designs that no one else whats to figure out how to work on.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>SimpleObjects</h3>
<p>Main DB location for commonly used objects.</p>
<p>UsserAccount<br />
Batch - This is the main storage area for content and control options. Camapigns are tracked through this ID<br />
Life Cycle Events Tables are stored here - table names are prefaced with LCE<br />
Project Management Tables are stored here - table names are prefaced with PM_</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>SimpleQueue</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>MellisaData</h3>
<p>Reference table for location data service we subscribe to.<br /> 
  Time Zone info<br />
Quartely updates</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>