<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Security and the Session</title>
</head>

<body>
<h1>Security and the Session </h1>
<p>&nbsp;</p>
<h3>Coldfusion </h3>
<p>.NET programmers need not apply. Coldfusion is a religious preference and it will take miricles to convert me.<br />
  Currently targeting CF9 as the main version with backward compatibility to CF8. 
  Looking at switching to Ralio open source. Stay away from Macromedia &quot;helper&quot; functions that might tie us to a particular version. PHP is a allowed in small well documented doses if needed.</p>
<p>&nbsp;</p>
<h3>KeyBone architecture</h3>
<p>FuseBox and the MVC havbe been tried with poor results. Too many differning interpetations. Until someone shows me better and why, we stick with JLP's basterized KeyBone architecture.</p>
<p>&nbsp;</p>
<h3>application.cfc</h3>
<p>This page is called as part of every request. Depending on the requested page type differing levels of preproccessing occur here.</p>
<p>? How does calls to CFC's by pass this with out reestablishing the session - research project</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Remember Me Cookie</h3>
<p>If end user allows it - the site will write a cookie that can be used to automatically log the user back in on next page load.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Session Variables</h3>
<p>&nbsp;</p>
<p>Session.DBSourceEBM - Main DB calls go here</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>