<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>Avatars</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Todos...</p>
<p>GetMyAvatar.cfm - page to serve images</p>
<p>Image cache on local webserver disk - check if file exists</p>
<p>Automated process to remopve images over 10/20/30? days old - will refresh from DB as part of </p>
<p>Option to clear cache</p>
<p>LastUpdated field in DB?</p>
<p>Store in userAccount in blob by default</p>
<p>&nbsp;</p>
<p>Option to load from gravatar with email hash</p>
<p>&nbsp;</p>
<p>Facebook option</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br />
  ALTER TABLE `simpleobjects`.`useraccount` <br />
  ADD COLUMN  `AvatarImg_blob` blob DEFAULT NULL,<br />
ADD COLUMN  `UseGravatarFlag_int` int(2) DEFAULT '0' </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>