<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Architecture</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Coldfusion</h3>
<p>&nbsp;</p>
<h3>mySQL</h3>
<p>innoDB table for row level locking.</p>
<p>&nbsp;</p>
<h3>Windows 2008</h3>
<p>&nbsp;</p>
<h3>VMWare</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>