<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>SMS</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>All consumer data list information is stored in RXMultiList</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Back End:</h3>
<p>All data for an SMS message needs to be stored in XMLControlString_vch in a Batch</p>
<p>&nbsp;</p>
<p>Files in play</p>
<p>Session/CFC/mcidtoolsii.cfc</p>
<p>ReadDM_MT4XML - reads current from DB<br />
WriteDM_MT4XML - writes an XML string to the master string in DB</p>
<p>Session/CFC/MCID/read_DM_MT4.cfm - tool used in above method to read values from the DM</p>
<p>&nbsp;</p>
<p>/MCID/cfc/mcidtools.cfc?method=genrxt20XML - generates a valid &lt;DM&gt; XML string</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&lt;DM MT='4'</p>
<p>CK1 = MT Message<br />
  CK2 = MO Help Message<br />
  CK3 = MO Stop Message<br />
CK4 = MO JOIN Message<br />
CK5 = MO generic Keyword Message<br />
CK6 = MO generic Keyword - Just the key word
<br />
CK7 = MO Short Code<br />
CK8 = Aggregator Indicator 1=MBLox 2=NeuStar 3=??
</p>
<p><br />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Carrier Info is to be Stored (by convention in LocationKey5_vch) in the RXMultiList</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Keyword Process Flow</h3>
<p>&nbsp;</p>
<p>End User sends a MO message to Carrier<br />
Carrier sends up to aggregator<br />
Aggregator has on file a web service location that we host to post data to<br /> 
We get Phone Number, Short Code, Keyword</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>New stuff we need:</p>
<p>A generic Webserivce - that can be installed in multiple locations</p>
<p>&nbsp;</p>
<p>New Table - Keyword maps to SMS Short Codes<br />
  Need to validate only on possible 
    <br />
    Need standard help stop message for each short code<br />
    <br />
</p>
<p>On distribution switch web service object based on Aggregator Indicator<br />
CK8 = Aggregator Indicator 1=MBLox 2=NeuStar 3=??</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>