<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FAQs</title>
</head>

<body>
<h1>FAQs
</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Q. My calls are in the queue but they are not on the fulfillment device. Why not?</h3>
<p>A. Troubleshooting Tips - Did you look at the correct fulfilment device? You can see what RXdialer by  looking in the simplequeue.contactqueue under Queued_DialerIP_vch. Is the RXDialer configured correctly in the list of datasources for the web server? Are all of the share paths on the RXDialer setup correctly to share with the web service user account?</p>
<p>&nbsp;</p>
</body>
</html>