<cfinvoke component="session.sire.models.cfc.uploadcsv" method="GetDataInfo" returnvariable="rs">
	<cfinvokeargument name="inpFileRecordID" value="605">
</cfinvoke>

<cfdump var="#rs#" abort="true" />

