<div class="row" id="{{$parent.scriptTypeList[1].label}}_content">
	<div class="col-xs-14 text-center" style="margin-bottom: 20px">
		Current Library Id: <span class="badge badge-info">{{ngModel.dynamic[0].ds}}</span>
	</div>
	<div class="col-xs-14 text-center">
		<button type="button" class="btn btn-sm btn-primary" data-ng-click="addScript()">Add Script</button>
		<button type="button" class="btn btn-sm btn-default" data-ng-click="addBlank()">Add Blank</button>
		<button type="button" class="btn btn-sm btn-success" data-ng-click="addSwitch()">Add Switch</button>
		<button type="button" class="btn btn-sm btn-info" data-ng-click="addTTS()">Add TTS</button>
		<button type="button" class="btn btn-sm btn-warning" data-ng-click="addField()">Add Field</button>
		<button type="button" class="btn btn-sm btn-danger" data-ng-click="addConv()">Add Conv</button>
	</div>
	
	<div class="col-xs-14" id="dynamic-script-add" style="margin-bottom: 20px">
		
	</div>
	
	<div class="col-xs-14">
		<table class="table table-bordered">
			<tr data-ng-repeat="dy in ngModel.dynamic">
				<td width="30%">
                    <div data-ng-if="dy.dynamicType == 0">
						<input class="form-control input-sm" type="text" data-ng-model="dy.title" />
                    </div>
					<div data-ng-if="dy.dynamicType == 1">
						<input class="form-control input-sm" type="text" data-ng-model="dy.desc" />
					</div>
					<div data-ng-if="dy.dynamicType == 2">
						<b>Switch:</b> {{dy.datakey.label}}
					</div>
					<div data-ng-if="dy.dynamicType == 3">
                        <span data-ng-show="dy.ttsType.val == 0">{{dy.texttosay}}</span>
                        <span data-ng-show="dy.ttsType.val == 1">{%XML|{{dy.datakey.label}}|{{dy.datafield}}%}</span>
					</div>
					<div data-ng-if="dy.dynamicType == 4">
						{{dy.description}}   
					</div>
					<div data-ng-if="dy.dynamicType == 5">
						{{dy.description}}
					</div>
				</td>
				<td width="65%">
					<div data-ng-if="dy.dynamicType == 0">
						<!-- JPLAYER HERE -->
						<div script-element data-ng-model="dy" class="script-element"></div>
						<button class="btn btn-info btn-sm" data-ng-click="addCaseScriptFile(dy)">Edit</button>
					</div>
					<div data-ng-if="dy.dynamicType == 1">
						<b>Blank script</b>
					</div>
					<div data-ng-if="dy.dynamicType == 2">
						<div class="row text-center" style="margin-bottom: 20px">
							<button class="btn btn-primary btn-sm" data-ng-disabled="dy.disableScript" data-ng-click="addCaseScript(dy)">Add Script</button>
							<button class="btn btn-danger btn-sm" data-ng-disabled="dy.disableBlank" data-ng-click="addCaseBlank(dy)">Add Blank</button>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Case</th>
									<th>Description</th>
									<th>Type</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="ca in dy.cases">
									<td data-ng-if="ca.type == 0">
										<input class="form-control input-sm" data-ng-model="ca.dataCase" type="text" />
									</td>
									<td data-ng-if="ca.type == 0">
										 <input class="form-control input-sm" data-ng-model="ca.title" type="text" />
									</td>
									<td data-ng-if="ca.type == 0">
										Script :
										<button class="btn btn-info btn-sm" data-ng-click="addCaseScriptFile(ca)">Edit</button>
									</td>
									
                                    <td  data-ng-if="ca.type == 1">
                                        <input class="form-control input-sm" data-ng-model="ca.dataCase" type="text" />
                                    </td>
                                    <td  data-ng-if="ca.type == 1">
                                        <input class="form-control input-sm" data-ng-model="ca.description" type="text" />
                                    </td>
                                    <td  data-ng-if="ca.type == 1">
                                        Blank Script
                                    </td>
                                    <td>
                                        <a href="javascript:;">
                                            <i class="fa fa-minus-square" data-ng-click="removeCaseItem(dy, $index)"></i>
                                        </a>
                                    </td>
								</tr>
							</tbody>
						</table>
					</div>
					<div data-ng-if="dy.dynamicType == 3">
						TTS
					</div>
					<div data-ng-if="dy.dynamicType == 4">
						Field
					</div>
					<div data-ng-if="dy.dynamicType == 5">
						Conversion
					</div>
				</td>
				<td>
					<a href="javascript:;">
						<i class="fa fa-minus-square" data-ng-click="removeItem($index)"></i>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>