<div class="row" id="{{$parent.scriptTypeList[0].label}}_content">
	<div class="col-xs-5" data-ng-repeat="script in scripts">
		<div class="form-group form-group-sm">
			<label class="col-sm-7 control-label" for="{{script.id}}">
				{{script.label}} 
				<i class="detail-question fa fa-question"
                   data-ebmpopover-title="{{script.popover.title}}"
                   data-ebmpopover="{{script.popover}}"
                   data-ebmpopover-trigger="mouseenter"
                   data-ebmpopover-placement="top"
                   data-ebmpopover-append-to-body="true"
                   data-ebmpopover-animation="fade" >
                </i>
			</label>
			<div class="col-sm-5">
				<input class="form-control input-sm"
					type="text"
					id="{{script.id}}"
					disabled
					placeholder="{{script.placeholder}}"
					data-ng-model="ngModel[script.model]" />
			</div>
		</div>
	</div>
	<div class="col-xs-5 text-right">
		<div script-element data-ng-model="ngModel" data-ng-show="ngModel.ds != 0 && ngModel.dse != 0 && ngModel.di != 0 "></div>
		<button type="button" class="btn btn-sm btn-danger new_padd" data-ng-click="showFileBrowser()">Browse</button>
	</div>
</div>
