<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label">Option</label>
		<div class="col-sm-5">
			<select class="form-control" data-ng-model="ngModel.ttsType"
				data-ng-options="type.label for type in ttsType track by type.val">
			</select>
		</div>
	</div>
</form>
<div class="row" id="{{$parent.scriptTypeList[2].label}}_content">
	<div class="col-xs-12" 
		data-ng-repeat="script in scripts"
		data-ng-if="script.showReverse != ngModel.ttsType.val">
		<div class="row form-group form-group-sm">
			<label class="col-sm-4 control-label" for="{{script.id}}">
				{{script.label}} <i class="detail-question fa fa-question"
				data-popover-title="{{script.title}}" data-popover="{{script.hint}}"
				data-popover-trigger="mouseenter" data-popover-placement="bottom"
				data-popover-append-to-body="true" data-popover-animation="fade">
			</i>
			</label>
			<div class="col-sm-8">
                <input class="form-control input-sm"
                       type="text"
                       data-ng-if="script.type == 'text'"
                       id="{{script.id}}"
                       data-ng-model="ngModel[script.model]" />
				<select name="{{script.id}}"
					id="{{script.id}}"
					class="form-control input-sm"
					data-ng-if="script.type == 'select'"
					data-ng-model="ngModel[script.model]"
					data-ng-options="op.label for op in script.options track by op.val"
					>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-bordered">
			<tr class="success">
				<td>Data Key</td>
				<td>RXVID</td>
                <td>RXVNAME</td>
			</tr>
			<tr>
				<td>
					<span data-ng-show="ngModel.ttsType.val == ttsType[0].val">{{ngModel.texttosay}}</span>
					<span data-ng-show="ngModel.ttsType.val == ttsType[1].val">{%XML|{{ngModel.datakey.label}}|{{ngModel.datafield}}%}</span>
				</td>
				<td>{{ngModel.rxvid.label}}</td>
                <td><span>{{ngModel.rxvname}}</span></td>
			</tr>
		</table>
	</div>
</div>