<cfparam name="scriptId" default="">

<style type="text/css" media="screen">
html, body { height:100%; background-color: #ffffff;}
body { margin:20; padding:0; }
</style>
<link href="<cfoutput>#rootUrl#/#publicPath#</cfoutput>/css/survey/previewVoice.css" rel="stylesheet">
<script language="javascript" src="<cfoutput>#rootUrl#/#publicPath#</cfoutput>/js/jPlayer/js/jquery.jplayer.min.js"></script>
<link href="<cfoutput>#rootUrl#/#publicPath#</cfoutput>/js/jPlayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet">	


<script type="text/javascript">
	$(document).ready(function() {
		$("#jquery_jplayer_1").jPlayer({
			ready: function () {
				$(this).jPlayer("setmedia", {
					mp3: '<cfoutput>#rootUrl#/#SessionPath#/ire/survey/act_getPreviewAudio?recordedAudioId=#scriptId#</cfoutput>'
				});
			},
			ended: function() { 
			},
			swfPath: "<cfoutput>#rootUrl#/#PublicPath#/swf</cfoutput>",
			supplied: "mp3"
		});
		
		$('#jPlayer').show();
	});
</script>
	<form>
		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
	
		<div style="padding: 10px 0px 0px 30px; display: none;" id="jPlayer">
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
					<div class="jp-gui jp-interface">
						<ul class="jp-controls">
							<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
							<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
							<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
							<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
							<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
							<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
						</ul>
						<div class="jp-progress">
							<div class="jp-seek-bar">
								<div class="jp-play-bar"></div>
							</div>
						</div>
						<div class="jp-volume-bar">
							<div class ="jp-volume-bar-value "></div>
						</div>
						<div class="jp-time-holder">
							<div class="jp-current-time"></div>
							<div class="jp-duration"></div>
				
							<ul class="jp-toggles">
								<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
								<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
							</ul>
						</div>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
			</div>
		</div>
	</form>


