<form action="upload" method="post" enctype="multipart/form-data">
	Name: <input type="text" name="name" /><br />
	ElementId: <input type="text" name="eleId" /><br />
	File: <input type="file" name="Filedata" /><br />
	<input type="submit" value="Submit" /><br />
</form>
<cfoutput>#getPageContext().getRequest().getMethod()#</cfoutput>