
<cfoutput>

    <div id="footertopline"></div>
            <div id="footerfull">
                <div id="contentfooter">
                    <div id="footer">
                        <div id="footermain">
                            <div class="footertop">
                                <div class="footerheader">Company</div>
                                <div class="footercontent"><a href="#rootUrl#/#publicPath#/#BrandingAbout#">about us</a></div>
                                <!--- <div class="footercontent"><a href="#BrandingCompliance#">Compliance</a></div>--->
								<!---<div class="footercontent"><a href="##">team</a></div>--->
                                <!---<div class="footercontent"><a href="#BrandingCareer#">career</a></div>--->
                                <!---<div class="footercontent"><a href="##">technology</a></div>--->
                                
                            </div>
                            <div class="footertop">
                                <div class="footerheader">Legal</div>
                        <!---        <div class="footercontent"><a href="#rootUrl#/#publicPath#/#BrandingTerms#">Terms of Service</a></div>
                                <div class="footercontent"><a href="#rootUrl#/#publicPath#/#BrandingPrivacy#">Privacy Policy</a></div>
                        --->    
                        	</div>
                            <div class="footertop">
                                <!---<div class="footerheader">Help</div>--->
                                <div class="footerheader">Support</div>
                                <!---<div class="footercontent"><a href="##">getting started</a></div>--->
                              	<!---  <div class="footercontent"><a href="##"> faq</a></div>--->
                                <div class="footercontent"><a href="#rootUrl#/#publicPath#/#BrandingSupport#">support</a></div>
                                <div class="footercontent"><a href="#rootUrl#/#publicPath#/#BrandingContact#">contact</a></div>
                            </div>
                          <!---  <div class="footertop">
                                <div class="footerheader">Follow</div>
                                <div class="footercontent"><a href="##">facebook</a></div>
                                <div class="footercontent"><a href="##"> team</a></div>
                                <div class="footercontent"><a href="##">twitter</a></div>
                                <div class="footercontent"><a href="##">google+</a></div>
                                <div class="footercontent"><a href="##">linkedin</a></div>
                            </div>--->
                        </div>
                    </div>
                    <div id="copyright">&copy; 2013 #BrandCopyRightNotice# &nbsp;&nbsp;&nbsp; All Rights Reserved</div>
                </div>
            </div>            
            
</cfoutput>            