



<script type="text/javascript" language="javascript">
	
	$(document).ready(function() {
				
		$(".container-flying-text").royalSlider({
            <!---// options go here
            // as an example, enable keyboard arrows nav--->
            keyboardNavEnabled: false,
			arrowsNav: 'none',
			controlNavigation: 'none',
			navigateByClick: false,
			sliderDrag: false,
			sliderTouch: false,
			autoPlay:
			{
				<!---// autoplay options go gere--->
				enabled: true,
				pauseOnHover: false
			},
			loop: true
        });  
	});

	
</script>


<style>	
	.container-flying-text
	{
		width:100%;
		min-width: 1200px;
		margin:0 0;
		overflow:hidden;
		position:relative;
		text-align:center;
	
	}
	
	.active-text
	{
		
	}
	
	
	.flying-text
	{
		
		display:inline;
		color: #FFFFFF;		
		font-size: 40px;		
		line-height: 40px;
		text-align: center;
		width: 100%;
		min-width: 1200px;
		top:33px;
		left:0;
		position:absolute;
	}
</style>


                        <!--- Big Data - Little Data - No Data--->
                        <!--- CPP - Little Data - No Data- --->
                        <!--- Scheduling --->
                        <!--- Business Rules --->
                        <!--- AB Testing --->
                        <!--- Reporting --->
                        <!--- APIs --->
                        <!--- Surveys --->
                        
                        <!--- Infrastructure - Colos - Security - Compliance - Buy vs Build - no setup fees - pay as you go--->
                        <!--- HAU - Transcriptions - Voice Capture - Surveys --->
                        <!--- Inbound - Outbound --->
                        <!--- Brand consistancy accross channels --->





  		<div id="servicemainline"></div>
            
        <div id="blue-box">
            
            <div id="content"  class="container-flying-text">  
                 <div class="flying-text active-text">Dedicated Staffing</div>
                 <div class="flying-text">Design Teams</div>
                 <div class="flying-text">Approval Processing</div>
                 <div class="flying-text">Big Data - Little Data - No Data</div>
                 <div class="flying-text">Business Rules</div>
                 <div class="flying-text">Data Feeds</div>
                 <div class="flying-text">API</div>
                 <div class="flying-text">Pay as you go or monthly billing plans</div>
                 <div class="flying-text">Reporting</div>  
                 <div class="flying-text">Surveys</div> 
                 <div class="flying-text">Inbound - Outbound</div> 
                 <div class="flying-text">Brand consistency across channels</div>    
                          
            </div>  


        </div>