
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<body>

<div id="DemoOTT" style="margin: 3em 0; display:block; position:relative;">
    <div class="container">
    <cfinclude template="../pub/demoire.cfm" />
    </div>
</div>

</body>