  </div>   
            
      
    
    
    </div>


</div>


<div id="BSFooter">


    <div id="BSFooterCenter">
    	<hr />	
        
        <div id="FooterMenu">    
            <a>About</a>
            .
            <a href="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#PublicPath#/dsp_FindUs.cfm</cfoutput>">Find Us</a>
            .
            <a>Privacy</a>
            .
            <a href="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#PublicPath#/dsp_TermsOfUse.cfm</cfoutput>">Terms of Use</a>
        </div>
        
        <div id="FooterNotice">
        	BabbleSphere &copy; 2011       
        </div>
        
	</div>
</div>
</body>
</html>