<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>How it works - Data</title>

<cfinclude template="paths.cfm" >
<cfinclude template="header.cfm">



<cfoutput>
	 <script src="#rootUrl#/#publicPath#/js/jquery.powerzoom.js"></script>      
</cfoutput>




<style>

</style>
<script type="text/javascript" language="javascript">

</script>

</head>
<cfoutput>
    <body>
    <div id="main" align="center"> 
        
        <!--- EBM site footer included here --->
        <cfinclude template="act_ebmsiteheader.cfm">
       
        	<!---     
		    
			http://www.infoq.com/articles/rest-introduction
			http://www.infoq.com/news/2011/06/RestAPIs?utm_source=infoq&utm_medium=related_content_link&utm_campaign=relatedContent_articles_clk
			apppuzzle.jpg
						
					One API call to make a PDC Phone call.
					Chatty APIs suck. A chatty API, is any API that requires consumer to do more than a single call to perform a single, common operation. The details of what constitutes chatty, of course, depend on what people might reasonably want to do with the API.
			
			
					need an API to upload a list then publish that list to a batch
					
					
					
					All this ... Complex multichannel scheuled data driven messaging 	
					<div id="inner-right-img"> <img src="#rootUrl#/#publicPath#/images/api/complexsurvey1_400x296_web.png" /></div>
                
					For this
					One simple API call
					
					
                
			
					1. Rapid application feature expansion  
					
					Be a Hero! No Limits! - Build complex predefined campaigns around your unique data
					#BrandShort# handles the infrasctructure
					Co-Lo;s in 
					
					Irvine, CA
					Las Vegas, NV
					Fargo, ND
					Salt Lake City, UT
					
					Fire from your applications - Reporting, Scheduling, Business Rules
					Web Servers
					Mobile Devices
					Desktop Applications
					Call from Windows, Linux, Mac 
					Users have used 
					Perl, PHP, Coldfusion, ASP.net, Java, Ruby, Wordpress, and more.... 
			
					Rest - Simple
					
					Security
					
					Manage your own keys
					
					Code samples
					
					
			
			
			
			
			 <!--- For only one API call --->          
        <div id="inner-bg">
            <div id="content">
               
                <div id="inner-left-img"> <img src="#rootUrl#/#publicPath#/images/api/complexsurvey1_400x296_web.png" /></div>
                       
                <div id="inner-box-right" align="center">
          
                    <div class="inner-main-hd">for one API call to this ...</div>
                    <div class="inner-txt">
                        
                    </div>
                    <div class="phonemain">
                        <div id="phone-icon"></div>
                        <div class="phone-txt">
                            <div class="phoneheading">What is REST?</div>
                            
                            <br />
                            
                            <div class="inner-icon-txt"> 
                            
                            	<p>A RESTful web API (also called a RESTful web service) is a web API implemented using HTTP and the principles of REST. It is a collection of resources, with four  defined aspects:</p>
                                <ul>
                                    <li>the base URI for the web API, such as http://example.com/resources/</li>
                                    <li>the Internet media type of the data supported by the web API. We use JSON.</li>
                                    <li>the set of operations supported by the web API using HTTP methods (e.g., GET, PUT, POST, or DELETE).</li>
                                    <li>The API must be hypertext driven.</li>
                                </ul>
                                <p>The following table shows how the HTTP methods are typically used to implement a web API.</p>
                                
							</div>
                            
                            <div class="learnmore"><a href="#rootUrl#/#publicPath#/cs_surveytakerate1.cfm">Learn More &gt;</a></div>
                        </div>
                    </div>
                           
		   		
                </div>
                
                  
                
            </div>
        </div>
                
				<p>Security Token encrypted with your own private key is required.</p>
				
				
				
				
				  <div class="inner-txt">
                        
                    </div>
                    <div class="phonemain">
                        <div id="phone-icon"></div>
                        <div class="phone-txt">
                            <div class="phoneheading">What is REST?</div>
                            
                            <br />
                            
                            <div class="inner-icon-txt"> 
                            
                            	<p>A RESTful web API (also called a RESTful web service) is a web API implemented using HTTP and the principles of REST. It is a collection of resources, with four  defined aspects:</p>
                                <ul>
                                    <li>the base URI for the web API, such as http://example.com/resources/</li>
                                    <li>the Internet media type of the data supported by the web API. We use JSON.</li>
                                    <li>the set of operations supported by the web API using HTTP methods (e.g., GET, PUT, POST, or DELETE).</li>
                                    <li>The API must be hypertext driven.</li>
                                </ul>
                                <p>The following table shows how the HTTP methods are typically used to implement a web API.</p>
                                
							</div>
                            
                            <div class="learnmore"><a href="#rootUrl#/#publicPath#/cs_surveytakerate1.cfm">Learn More &gt;</a></div>
                        </div>
                    </div>
				
				
				   <table>
                                  	<tbody>
                                      <tr>
                                          <td>POST</td>
                                          <td><p>https://ebmdevii.messagebroadcast.com/webservice/ebm/PDC/AddToQueue</p></td>
                                      </tr>
                                      <tr>
                                          <td>POST Data</td>
                                          <td><p>inpBatchId=864512&amp;inpContactString=5558121212&amp;inpContactTypeId=1</p></td>
                                      </tr>                                  
                                      <tr>
                                          <td>Custom Data</td>
                                          <td>type="form" name="inpCompany" value="WidgeCo"<BR />
                                           type="form" name="inpCity" value="Corona"<BR />
                                           type="form" name="inpState" value="CA"
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Header Data</td>
                                          <td>type="header" name="Accept" value="application/json"<BR />
                                           type="header" name="datetime" value="YYYY-MM-DD HH:MM:SS"<BR />
                                           type="header" name="authorization" value="ecrypted(datetime)"
                                          </td>
                                      </tr>
                            	    </tbody>
                                </table>
								
				
		   		--->
                
                            <!--- Last piece of the puzzle --->
        <div id="inner-bg">
            <div id="content">
               
               <div id="inner-right-img"> <img src="#rootUrl#/#publicPath#/images/api/apppuzzle.jpg" /></div>
               
               <div id="inner-box-left" align="center">
          
                    <div class="inner-main-hd">Simplify</div>
                    <div class="inner-txt">Build and manage all of the messaging complexity using our simple web based tools. Deliver the messaging within your application with one simple API call. Need to change your messaging? Don't re-compile your app, just change your campaign. </div>
                                 
                </div>
               
               	
           
            </div>
        </div>
          
        <div id="servicemainline"></div>  
        
         <!--- All of this ... --->       
        <div id="inner-bg">
                        
            
          
          
                         
        </div>
                        
        <div id="servicemainline"></div>
      
       
        <!--- For only one API call --->          
        <div id="inner-bg">
            <div id="content">
            
                    <div class="inner-main-hd" style="width: 970px">Sample Enterprise Fulfillment Request File</div>
            
            		<div class="inner-txt-full">
	                    <div align="center">
                     	
                            
                            <p style="text-align:left; width:696px;">Each file  consists of one header, one trailer and zero or more detail records. The detail records are pipe delimited.</p>
                            <p style="text-align:left; width:696px;">There is one  order fulfillment per detail record, but there may be multiple items per order.</p>
                            <h3 style="text-align:left; width:696px;"><a name="_Toc83455104" id="_Toc83455104"><strong>Header Record</strong></a></h3>
                            <table border="1" cellspacing="0" cellpadding="0" width="696">
                              <tr>
                                <td width="144" valign="top"><p><strong>Variable names</strong></p></td>
                                <td width="102" valign="top"><p><strong>numeric/    alphanumeric</strong></p></td>
                                <td width="48" valign="top"><p><strong>Length</strong></p></td>
                                <td width="384" valign="top"><p><strong>Description</strong></p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Record Type</p></td>
                                <td width="102" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>4</p></td>
                                <td width="384" valign="top"><p>&lsquo;FHDR&rsquo;    indicates the header</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Date</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>8</p></td>
                                <td width="384" valign="top"><p>Date the file was    created in the format CCYYMMDD</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Time</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>6</p></td>
                                <td width="384" valign="top"><p>Time the file was created    in the format HHMMSS</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Sequence Number</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>6</p></td>
                                <td width="384" valign="top"><p>Not used. Defaulted to zeros. </p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Vendor Name</p></td>
                                <td width="102" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>20</p></td>
                                <td width="384" valign="top"><p>Always    left justified and space filled</p></td>
                              </tr>
                            </table>
                            <p>&nbsp;</p>
                            <h3 style="text-align:left; width:696px;"><a name="_Toc83455105" id="_Toc83455105"><strong>Detail Record</strong></a><strong></strong></h3>
                            <p style="text-align:left; width:696px;">Pipe delimited record with trailing spaces removed.</p>
                            <table border="1" cellspacing="0" cellpadding="0" width="696">
                              <tr>
                                <td width="144" valign="top"><br />
                                  <strong>Variable names</strong></td>
                                <td width="102" valign="top"><p><strong>numeric/    alphanumeric</strong></p></td>
                                <td width="48" valign="top"><p><strong>Max Length</strong></p></td>
                                <td width="138" valign="top"><p><strong>Req/Optional</strong><br />
                                  <strong>Req – cannot be    null</strong><br />
                                  <strong>Opt – can be null</strong></p></td>
                                <td width="264" valign="top"><p><strong>Description</strong></p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Transaction Type ID</p></td>
                                <td width="102" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>1</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>Valid Values:<br />
                                  &lsquo;D&rsquo; = detail record</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Transaction Status</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>3</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>Indicates the status of    the fulfillment. A complete list of    defined values appears in Appendix    A. Only one value is used here.<br />
                                  Always 100 meaning    ready for the vendor to fulfill. </p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Transaction Status    Date</p></td>
                                <td width="102" valign="top"><p>DATE</p></td>
                                <td width="48" valign="top"><p>8</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>process date in    CCYYMMDD format </p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>ESON</p></td>
                                <td width="102" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>12</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>Enterprise Service    Order Number. Order identifier used to track customer orders.<br />
                                  Will be returned on    the fulfillment response. </p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>ESON SEQUENCE NUMBER</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>2</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>A unique identifier of    a fulfillment associated with a unique ESON.<br />
                                  Will be returned on the fulfillment response. </p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Order Date</p></td>
                                <td width="102" valign="top"><p>DATE</p></td>
                                <td width="48" valign="top"><p>8</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>The date the customer    placed the order.<br />
                                  CCYYMMDD</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Language</p></td>
                                <td width="102" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>2</p></td>
                                <td width="138" valign="top"><p>O</p></td>
                                <td width="264" valign="top"><p>The language in which the    customer requests to receive fulfillment. <br />
                                  . </p></td>
                              </tr>
                            </table>
                           
                            
                            <p align="center" style="width:696px;">
                            	<ul>
                                    <li>&nbsp;</li>
                                    <li style="list-style:none;">Lots more fields here...</li>
                                    <li>&nbsp;</li>                            
                            	</ul>
                            </p>
                            
                            <table border="1" cellspacing="0" cellpadding="0" width="696">
                              <tr>
                                <td width="144" valign="top"><br />
                                  Number of Items </td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>2</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>The number of occurrences of the Item portion    of the record. Put another way the    number of services for the STN.</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p><em>Start of the Item    Portion</em></p></td>
                                <td width="102" valign="top"><p>--</p></td>
                                <td width="48" valign="top"><p>--</p></td>
                                <td width="138" valign="top"><p>--</p></td>
                                <td width="264" valign="top"><p>Appears Number of Item    times</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Group Id</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>3</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>Group Number of the    services ordered. Used to determine    which verbatim call blast message to deliver.</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p>Count</p></td>
                                <td width="102" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>2</p></td>
                                <td width="138" valign="top"><p>R</p></td>
                                <td width="264" valign="top"><p>How many items to insert    into the call blast message for this Group Id. e.g. &ldquo;Thank you for ordering 3 items.&rdquo;</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p><em>End of the Item    Section</em></p></td>
                                <td width="102" valign="top"><p>--</p></td>
                                <td width="48" valign="top"><p>--</p></td>
                                <td width="138" valign="top"><p>--</p></td>
                                <td width="264" valign="top"><p>--</p></td>
                              </tr>
                              <tr>
                                <td width="144" valign="top"><p><em>End of the STN    Portion</em></p></td>
                                <td width="102" valign="top"><p>--</p></td>
                                <td width="48" valign="top"><p>--</p></td>
                                <td width="138" valign="top"><p>--</p></td>
                                <td width="264" valign="top"><p>--</p></td>
                              </tr>
                            </table>
                            <p>&nbsp;</p>
                            <h3 style="text-align:left; width:696px;"><a name="_Toc83455106" id="_Toc83455106"><strong>Trailer  Record</strong></a></h3>
                            <table border="1" cellspacing="0" cellpadding="0" width="696">
                              <tr>
                                <td width="150" valign="top"><p><strong>Variable names</strong></p></td>
                                <td width="96" valign="top"><p><strong>numeric/    alphanumeric</strong></p></td>
                                <td width="48" valign="top"><p><strong>Length</strong></p></td>
                                <td width="402" valign="top"><p><strong>Description</strong></p></td>
                              </tr>
                              <tr>
                                <td width="150" valign="top"><p>Record Type</p></td>
                                <td width="96" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>4</p></td>
                                <td width="402" valign="top"><p>&lsquo;TRLR&rsquo; indicates the trailer</p></td>
                              </tr>
                              <tr>
                                <td width="150" valign="top"><p>Sequence Number </p></td>
                                <td width="96" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>6</p></td>
                                <td width="402" valign="top"><p>Same as it appears on    the header.</p></td>
                              </tr>
                              <tr>
                                <td width="150" valign="top"><p>Vendor Name </p></td>
                                <td width="96" valign="top"><p>A</p></td>
                                <td width="48" valign="top"><p>20</p></td>
                                <td width="402" valign="top"><p>Same as it appears on    the header.</p></td>
                              </tr>
                              <tr>
                                <td width="150" valign="top"><p>Record Count</p></td>
                                <td width="96" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>5</p></td>
                                <td width="402" valign="top"><p>The number of detail    records. This count does not include    the header and trailer records.</p></td>
                              </tr>
                              <tr>
                                <td width="150" valign="top"><p>Filler</p></td>
                                <td width="96" valign="top"><p>N</p></td>
                                <td width="48" valign="top"><p>15</p></td>
                                <td width="402" valign="top"><p>spaces</p></td>
                              </tr>
                            </table>

						</div>
                        
                        <p>&nbsp;</p>
<p>&nbsp;</p>
            		</div>
                            
            </div>
        </div>
                
      
        <!--- EBM site penultimate footer included here --->
        <cfinclude template="act_ebmsitepenultimatefooter.cfm">
      
        
        <!--- EBM site footer included here --->
        <cfinclude template="act_ebmsitefooter.cfm">
    </div>
    </div>
    </body>
</cfoutput>
</html>