<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Careers</title>

<cfinclude template="paths.cfm" >
<cfinclude template="header.cfm">



<cfoutput>
	    
</cfoutput>




<style>
	
	#bannerimage {
		background: url("<cfoutput>#rootUrl#/#publicPath#</cfoutput>/images/m1/congruent_pentagon.png") repeat scroll 0 0 / auto 408px #33B6EA;
		border: 0 solid;
		margin-top: 5px;
		padding: 0;
		height:300px;
	}
	
	.header-content {
		color: #858585;
		font-size: 18px;
		padding-top: 10px;
		width: 480px;
		float:left;
		text-align:left;
	}

	.hiw_Info
	{
		color: #444;
	    font-size: 18px;
		text-align:left;	
	}
	
	h2.super 
	{
		color: #0085c8;
		font-size: 22px;
		font-weight: normal;
		padding-bottom: 8px;
	}
	
	.round
    {
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 5px;
        border: 2px solid #0085c8;
    }

</style>
<script type="text/javascript" language="javascript">


	$(document).ready(function() {

				
  	});

</script>
</head>
<cfoutput>
    <body>
    <div id="main" align="center"> 
        
        <!--- EBM site footer included here --->
        <cfinclude template="act_ebmsiteheader.cfm">
        
        <div id="bannerimage">
        	<div id="content" style="position:relative;">
            	
                                               
                <div class="inner-main-hd" style="width:400px; margin-top:30px;">Live and Virtual Interactive Sessions</div>
                
                <div style="clear:both;"></div>
                
                <div class="header-content">
                	Auto Respond, Keywords, Agent Assist, IVR, Surveys, Trickle Campaigns, Agent Response                	                
	            </div>
                
                <!---<img style="position:absolute; top:30px; right:50px; " src="#rootUrl#/#publicPath#/images/m1/mfademoheader.png" /> --->
              
            </div>
        </div>
        
          
        <div id="inner-bg-alt" style="min-height: 450px">
            <div id="content" style="border-bottom: 1px solid ##ebebeb; height:440px;">
               
                                        
                  <!---  <img style="float:left;" src="#rootUrl#/#publicPath#/images/m1/mfaloginfocused.png" />
                    
                    
                    <div class="hiw_Info" style="width:460px; float:right; margin-top:100px;">
                    	<h2 class="super">Something you know and something you have</h2>
                        <br/>
                    	<h3>
                        	Older web sites and applications only have one layer - the password - to protect their users. By adding 2-Step Verification, if a bad guy hacks through your password layer, they'll still need your phone to get into your account.
                        </h3>
                    </div>--->
                    
                                     
                             
            </div>
        </div>
        
       
     
      
   
      
                
      
        <!--- EBM site penultimate footer included here --->
        <cfinclude template="act_ebmsitepenultimatefooter.cfm">
      
        
        <!--- EBM site footer included here --->
        <cfinclude template="act_ebmsitefooter.cfm">
    </div>
    </div>
    </body>
</cfoutput>
</html>