<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Where am I?</title>
</head>

<body>

<cfoutput>
	cgi.server_port_secure = #cgi.server_port_secure#
	<cfdump var="#CGI#">
</cfoutput>

</body>
</html>