<!---====================Facebook application configuration =============================--->
<cfif FINDNOCASE( "ebmdev.seta", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebmdevseta'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebmdevseta%2F'>
	<cfset APPLICATION.Facebook_AppID = '146749318786991'>
	<cfset APPLICATION.Facebook_AppSecret = 'a15cba3df2f8f1500f6b46245f4df45d'>

<cfelseif FINDNOCASE( "eventbasedmessaging.tk", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/eventbasedmessaging'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%eventbasedmessaging%2F'>
	<cfset APPLICATION.Facebook_AppID = '224500121002455'>
	<cfset APPLICATION.Facebook_AppSecret = '15f79cf20b3550bf1366d3eb5dcc83d0'>
		
<cfelseif FINDNOCASE( "DEV.TELESPEECH.COM", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/ebmcppdev'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%ebmcppdev%2F'>
	<cfset APPLICATION.Facebook_AppID = '239247492841662'>
	<cfset APPLICATION.Facebook_AppSecret = '4f8fa297f4e01960028db41912ceb48c'>
	
<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/EBMMESS'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%EBMMESS%2F'>
	<cfset APPLICATION.Facebook_AppID = '413297832034676'>
	<cfset APPLICATION.Facebook_AppSecret = '55b461c58e5f647e5ccc294c99c7fc4c'>
	
<cfelse> <!--- default to "CONTACTPREFERENCEPORTAL.COM"--->
	<cfset APPLICATION.Facebook_URL = 'http://apps.facebook.com/contactpp'>
	<cfset APPLICATION.Facebook_URL_PARAM = 'http%3A%2F%2Fapps.facebook.com%contactpp%2F'>
	<cfset APPLICATION.Facebook_AppID = '309014592511192'>
	<cfset APPLICATION.Facebook_AppSecret = '8b6eaf13f5d922efaad3525e47115b99'>
	
</cfif>
<!---====================END Facebook application configuration =============================--->


<!---====================Twitter application configuration =============================--->

<cfif FINDNOCASE( "ebmdev.seta", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
	
<cfelseif FINDNOCASE( "DEV.TELESPEECH.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
	
<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
	
<cfelse> <!--- default to "CONTACTPREFERENCEPORTAL.COM"--->
	<!----FIXME: Create twitter app, Change content twitter app---->
	<cfset APPLICATION.Twitter_AccessToken = '560895419-9wyrJzYixVqlT9FRqBBqk4dcrlXYYYjPRz44Ep1b' />
	<cfset APPLICATION.Twitter_AccessTokenSecret = 'ubt2e0hTU0Pkhv2P40pQWVyIdS8iR2lro6N1piZY' />
	<cfset APPLICATION.Twitter_Consumerkey = 'fRr4gZTPJ8qNJzSn19YpvQ' />
	<cfset APPLICATION.Twitter_Consumersecret = 'w11SX0lmAcG5NPsS9dmYxY7w13Q5D7WO8t0CMDZemY' />
</cfif>
<!---====================END Twitter application configuration =============================--->



<!---====================Google plus application configuration =============================--->
<cfif FINDNOCASE( "ebmdev.seta.com", "#CGI.SERVER_NAME#") GT 0 >		
	<cfset APPLICATION.Google_ClientId = '1045269019562.apps.googleusercontent.com' />
	
<cfelseif FINDNOCASE( "DEV.TELESPEECH.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	<cfset APPLICATION.Google_ClientId = '716059018891-g897kunt3fa8ft46u1cbfd5njjc9hg0j.apps.googleusercontent.com' />
	
<cfelseif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>
	<!----FIXME: Create google plus app, Change content google plus app---->
	<cfset APPLICATION.Google_ClientId = '716059018891-g897kunt3fa8ft46u1cbfd5njjc9hg0j.apps.googleusercontent.com' />
	
<cfelse> <!--- default to "CONTACTPREFERENCEPORTAL.COM"--->
	<cfset APPLICATION.Google_ClientId = '698138944340.apps.googleusercontent.com' />
	
</cfif>
<!---====================END Google plus application configuration =============================--->