<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Help Center</title>

<cfinclude template="paths.cfm" >

<cfoutput>

	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery-1.9.1.min.js"></script>

	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery-ui-1.9.2.custom.min.js"></script>

    <link type="text/css" rel="stylesheet" href="#rootUrl#/#PublicPath#/css/jquery.tocify.css" />
    <script src="#rootUrl#/#PublicPath#/js/jquery.tocify.min.js"></script>
              
</cfoutput>



<script type="text/javascript" language="javascript">


	$(document).ready(function() 
	{
		var toc = $("#toc").tocify({ selectors: "h2, h3, h4" }).data("toc-tocify");
				
  	});
	

</script>



</head>

<body>

  <div id="toc"></div>  
       
       
       <div id="maindiv" style="padding-left:400px;">
            <div name="NotableFeatures" data-unique="NotableFeatures"></div>
            <h2>Notable Features</h2>
            <br>
            <p class="well">
            <div name="BrowserSupport" data-unique="BrowserSupport"></div>
            <h2>Browser Support</h2>
            <br>
            <p class="well">
            <br>
        </div>
              
       
       

</body>
</html>