@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }

@font-face {
	font-family: 'Conv_Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Helvetica45-Light';
	src: url('../fonts/helvetica45-light.eot');
	src: local('☺'), url('../fonts/helvetica45-light.woff') format('woff'), url('../fonts/helvetica45-light.ttf') format('truetype'), url('../fonts/helvetica45-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{ padding:0; margin:0;}
#main{width:100%; height:auto; padding:0; margin:0; font-family:Conv_Helvetica45-Light; color:#424242;}
#content{width:970px; height:1372;; padding-top: 10px; margin:0; border:0px solid; border:0px solid;}
#content1{width:970px; height:1372;; padding-top: 10px; margin:0; border:0px solid; border:0px solid;}

.contentslid{/*width:970px;*/ height:auto; margin:0; border:0px solid; padding-top: 10px;
}
#contentmenu{width:970px; height:auto;   border:0px solid; }

#contentfooter{width:905px; height:auto; padding:0; margin-left:65px; border:0px solid;}
#contentblue{width:970px; height:auto; padding:0; margin:0; border:0px solid; border:0px solid; }


#logotop{width:970px; height:105px; padding:0; margin:0; border:0px solid;}
#logo{width:470px;   margin-top:35px; border:0px solid; float:left; text-align:left;}
#toll-icon{width:35px; height:36px; margin-top:58px; border:0px solid; float:left; margin-left: 288px; background-image:url(../images/toll-icon.png); background-repeat:no-repeat;}
#tollfree{width:168px;margin-top:59px; border:0px solid; float:right; text-align:right; margin-right: 9px; font-family:Conv_Helvetica45-Light; font-size:25px; color:#0085c8; font-weight:bold;}

 
 


/*#headermenu  ul > li:hover{ list-style-type:none; display:inline; /*padding-left:20px; color:#fff; background:#0085c8;}*/

/*.menu{width: 300px; height: 25; font-size: 18px;}
  .menu li{list-style: none; float: left; margin-right: 4px; padding: 5px;}
  .menu li:hover, .menu li.active {
        background-color: #f90;}*/
/*#headermenu a:hover { list-style-type:none; display:inline; padding-left:20px; color:#fff;}*/


#homeiamge{width:100%; height:325px; padding:0; margin-top:5px; border:0px solid; background:#f4f4f4; padding-bottom:12px; padding-top:13px;}
#slideimage{width:970px; height:323px; padding:0;  border:0px solid; text-align:center; }
.panel,.flip
{
text-align:center;width:67px; height:24px; color:#FFF; 

}

.panelfull
{width:100%;
background:#0071BC;
color:#FFF;
height:auto;}
.panel
{
/*padding:50px;
*/display:none;
height:auto;
width:100%;
/*background:#0071BC;
*/color:#FFF;


box-shadow: 0px 3px 5px #939598;
}
#menu1panel,#menu1flip{text-align:center;width:130px; height:34px;  
/*padding-top:16px;
*/}
.menufull{
width:100%;
background:#0099cc;
color:#FFF;
height:150px;
}
#menu1panel1
{
display:none;
height:auto;
width:100%;
/*padding-top:10px;
*/color:#FFF;
box-shadow: 0px 3px 5px #939598;
}
#menu2panel2,#menu2flip{text-align:center;width:146px; height:34px;   

}
#menu2panel2
{
	display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;
}
#menu3panel3,#menu3flip{text-align:center;width:113px; height:34px;

}
#menu3panel3
{
display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;}
#menu4panel4,#menu4flip{text-align:center;width:44px; height:34px;

}
#menu4panel4
{
display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;}
#menu5panel5,#menu5flip{text-align:center;width:60px; height:34px;
}
#menu5panel5
{
display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;  box-shadow: 0px 3px 5px #939598;}
#toolmain{width:970px; height:auto;}
#toolheader{width:527px; height:66px; color:#F8853B; font-size:30px; padding-top:15px; text-align:left; font-weight:normal;  margin-right: 164px; letter-spacing:1px; font-family:Conv_Helvetica45-Light;}
#toolimagemain{width:734px; height:250px;float:left; margin-left:127px;}
.toolimage{width:191px; height:217px; float:left; padding-top:30px;}

.toolimage a:hover{width:191px; height:217px; float:left; padding-top:30px; background-image:url(../images/Create-hover.png); background-repeat:no-repeat;}
.diverimage{ width:56px; height:47px; float:left; background-image:url(../images/divider.png); background-repeat:no-repeat; margin-top:100px; margin-left:10px; margin-right:10px; }

 .hover-create{width:191px; height:190px; float:left; padding-top:30px;  margin-top: 27px; background-image:url(../images/create.png); background-repeat:no-repeat;cursor:pointer; cursor:hand;}
	  #createclick{width:191px; height:190px; float:left; padding-top:30px;  display:none; }
	  .createpopup{height:118px; float:left; width:180px; display:none;background-image:url(../images/Create-popUp.png); background-repeat:no-repeat;}
	  
 .hover-create1{width:191px; height:190px; float:left; padding-top:30px;  margin-top: 27px; background-image:url(../images/collect.png); background-repeat:no-repeat; cursor:pointer; cursor:hand;}
	  #createclick1{width:191px; height:190px; float:left; padding-top:30px;  display:none; }
	  .createpopup1{height:118px; float:left; width:180px; display:none;background-image:url(../images/Create-popUp.png); background-repeat:no-repeat;}
	  
 .hover-create2{width:191px; height:190px; float:left; padding-top:30px;  margin-top: 27px; background-image:url(../images/analyze.png); background-repeat:no-repeat; cursor:pointer; cursor:hand;}
	  #createclick2{width:191px; height:190px; float:left; padding-top:30px;  display:none; }
	  .createpopup2{height:118px; float:left; width:180px; display:none;background-image:url(../images/Create-popUp.png); background-repeat:no-repeat;}


#servicemain{width:970px; height:auto; float:left;}
#serviceheader{ color:#F8853B;
    font-size: 30px;
	letter-spacing:1px;
	text-align:left;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 27px;
    width: 860px;
	padding-left:138px;}
#serviceimagemain{width:890px; height:auto;float:left; margin-left:41px;   }
.serviceimage{width:250px; height:174px; float:left;}
.diverimagesevice{ width:2px; height:192px; float:left;margin-left:16px; background-color:#F8853B; margin-right:16px;}
#servicemainline{width:99.8%;  float:left; border:1px solid #0085c8; }
#footertopline{width:99.8%;  float:left; border:1px solid #F8853B; margin-top: -5px; }
#footerfull{width:100%;  float:left; border:0px solid #F8853B; height:auto; background:#606060; }


.firstcontentbox{width:250px; height:auto; border:0px solid; float:left; margin-left:22px; margin-right:22px;}
.contentheadertitle{width:250px; height:auto; border:0px solid; float:left;/* padding-bottom:10px;*/ font-size:20px; font-weight:bold; color:#F8853B; letter-spacing:1px;}
.contentheadertitle a{color:#F8853B; text-decoration:none; font-weight:normal;}

.contentheadercontent{width:230px; height:auto; border:0px solid; float:left; padding-top:15px; padding-bottom:30px; text-align:left; padding-left:19px; padding-right:10px; 
letter-spacing:1px; line-height:16px; font-size:13px; font-weight:normal;}
#footer{width:970px; height:190px;;  float:left;  background:#606060;}
#footermain{width:970px; height:auto;float:left;}
.footertop{width:200px; height:auto; border:0px solid; float:left; margin-left:25px; margin-right:15px; text-transform:uppercase;}
.footerheader{width:200px; height:23px; border:0px solid; float:left; padding-top:30px; color:#FFF; text-align:left; font-size:16px; padding-bottom:10px; letter-spacing:1px;}

.footercontent{width:200px; height:23px; border:0px solid; float:left;  color:#FFF; text-align:left; font-size:10px; letter-spacing:1px;}


.footercontent a{color:#FFF; text-decoration:none; }
.footercontent a:hover{color:#F8853B; text-decoration:none; }

#inner-bg{
	width:100%;
	height:577px;
	background-color:#f8f8f8;
	margin-top: 6px;
	padding-bottom:25px;
	float:left;
	}
#inner-box{
	width:550px;
	height:auto;
	float:left;
	margin-left:10px;
}
.inner-main-hd{
	width:550px;
	color:#0085c8;
	font-size:30px;
	
	text-align:left;
	letter-spacing:2px;
	font-weight:normal;
	
  	padding-top:21px;
	padding-bottom:20px;
	float:left;
}
#inner-left-img{
	width:400px;
	height:615px;
	float:right;
	margin-top: 60px;
}
.inner-txt{
	width: 550px;
	height:auto;
	font-size:13px;
	font-family:Conv_Helvetica45-Light;

    text-align: left;
	font-weight:normal;
	float:left;
	text-align:left;
	letter-spacing:1px;
	line-height:18px;
	 margin-top: -13px;
	color:#424242;
}
.phonemain{ width:550px; height:auto; float:left; padding-top:10px;}
#phone-icon{
	width:55px;
	height:auto;
	background-image:url(../images/phone.png); background-repeat:no-repeat;
	padding-top:40px;
	margin-top:10px;
	float:left;
}
.phone-txt{
	font-family:Conv_Helvetica45-Light;
	
    text-align: left;
	letter-spacing: 1px;
	 width: 495px;
	padding-top:10px;
	height:auto;
	margin-left:65px;
	}
	.phoneheading{
	font-family:Conv_Helvetica45-Light;
	font-weight:bold;
    text-align: left;
	letter-spacing: 1px;
	float:left;
	/*padding-top:10px;*/
	}
#mobile-icon{
	width:50px;
	height:auto;
	background-image:url(../images/mobile.png); background-repeat:no-repeat;
	margin-top:10px;
    padding-top: 59px;
	float:left;
}
.mobile-txt{
	font-family:Conv_Helvetica45-Light;
	width: 495px;
   line-height: 16px;
	letter-spacing: 1px;
	float:left;
	
	height:auto;
	/*margin-left: 50px;*/
	text-align:left;
	font-size:13px;
   
	}
	.learnmore{text-align:left;font-size:14px;float:left;
	width:100px; color:#F8853B;}
	.learnmore a{ color:#F8853B; text-decoration:none;}
#mail-icon{
	width:56px;
	height:auto;
	background-image:url(../images/mail.png); background-repeat:no-repeat;
	margin-top:10px; 
    padding-top: 59px;
	float:left;
}
.mail-txt{
	font-family:Conv_Helvetica45-Light;
	padding-right: 235px;
    text-align: left;
	letter-spacing: 1px;
	}
#mail2-icon{
	width:56px;
	height:auto;
	background-image:url(../images/mail2.png); background-repeat:no-repeat;
	margin-top:10px;
    padding-top: 59px;
	float:left;
}
.mai2-txt{
	font-family:Conv_Helvetica45-Light;
	padding-right: 235px;
    text-align: left;
	letter-spacing: 1px;
	}
#divider{
	width:100%;
	height:3px;
	background-color:#0085c8;
	margin-top: 14px;
	float:left;
}
#blue-box{
	width:100%;
	height:130px;
	background-color:#0085c8;
	margin-top: 14px;
	float:left;
}
#blue-box-text{
	width:970px;
	height:120px;
	font-family:Conv_Helvetica45-Light;
	color:#FFF;
	font-size:30px;
	text-align:left;
	letter-spacing:2px;
	line-height: 37px;
	padding-top: 28px;
	}
#plan-box{
	width:960px;
	height:auto;
	margin-top:30px;
	float:left;
	margin-left:10px;
	}
#plan-img{
	    background-image: url("../images/plan.png");
    background-repeat: no-repeat;
    float: left;
    height: 50px;

    padding-left: 75px;
    text-align: left;
    width: 886px;
	}
.plan-txt-hd{
	font-family:Conv_Helvetica45-Light;
	color:#f98538;
	font-size:30px;
	letter-spacing:2px;
	
	}
.plan-txt{
	width:885px;
	height:auto;
	font-family:Conv_Helvetica45-Light;
	
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	float:left;
	text-align: left;
	padding-bottom:22px;
	letter-spacing:1px;
	line-height:16px;
	padding-left:75px;
	
   
	}
.plan-line1{
	width:241px;
	height:35px;
	background-color:#bfbfbf;
	float:left;
	margin-left:8px;
}
.plan-line2{
	width:645px;
	height:35px;
	background-color:#bfbfbf;
	margin-left:10px;
	float:left;
}
.plan-line3{
	width:241px;
	height:35px;
	background-color:#eaeaea;
	float:left;
	margin-left:8px;
}
.plan-line4{
	width:645px;
	height:35px;
	background-color:#eaeaea;
	margin-left:10px;
	float:left;
}
#datatable{ width:100%; height:auto; float:left; padding-bottom:60px; padding-left: 75px;}
#plan1{ width:100%; height:auto;}
#end-footer{
	width:100%;
	height:7px;
	float:left;
	background-color:#FFF;
}

#copyright{
	width:970px;
	height:25px;
	float:left;
	text-align:center;
	text-decoration:none;
	font-size:11px;
	color:#FFF;
	background:#606060;
	font-family:Conv_Helvetica45-Light;
	letter-spacing:1px;
}



