

.reportingHeader {
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.reportingLeftMenu {
    width: 20%;
    float: left;
    min-height: 500px;
}

.reportList {
    margin: 20px;
	overflow:auto;
	height:600px;
}

.reportList ul li {
    list-style-type: none;
}

.reportingContent {
    float: right;
    width: 78%;
}

.filterBox {
    border: 3px solid #000000;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 10px 0;
    height: 60px;
    padding: 5px;
}

.reporting {
    width: 100%;
	min-width:1500px;
}

.reportSummary {
    margin: 15px;
	position:relative;
}

.reportingContent {
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
	min-width:1200px !important;
}

.reportingTimeSummary {  
    float: right;
    font-size: 14px;
    height: 120px;
    width: 48%;
}

.reportingAnalyticSummary {
    float: left; 
    width: 48%;
    height: 120px;
    font-size: 14px;
}

#summaryAnalyticTotal {
    display: inline-block;
    margin: 15px 0 10px 10px;
    width: 170px;
    height: 80px;    
}

#summaryAnalyticTotal .content {
    margin: 10px;
}

#summaryAnalyticCount {
    display: inline-block;
    height: 80px;
    margin: 15px 0 10px 10px;
    vertical-align: top;
    width: 200px;
}

#summaryAnalyticCount .content {
    margin: 10px 30px 10px 0;
    text-align: right;
}

/*.droppable {
    overflow:auto !important;
	zoom:1;
}*/

.droppableContent {
    margin: 10px;
    height: 650px;
	min-width:1145px;
}

.droppableLeft {
    background-repeat: no-repeat;
    background-position: center;
    height: 315px;
    width: 48%;
	min-width: 560px;
    float: left;
    border: solid 1px #dddddd;
    margin: 5px;
	position:static;
}

.droppableRight {
    background-repeat: no-repeat;
    background-position: center;
    height: 315px;
    width: 48%;
	min-width: 560px;
    float: right;
    border: solid 1px #dddddd;
    margin: 5px;
	position:static;
}

#showMenu {
    display: none;
    cursor: pointer;
    width: 240px
}

#hideMenu {
    float: right;
    margin: 10px;
    cursor: pointer;
}

/* Style the calendar custom widget */
#date-range {
    position: relative;
    float: right;
}

#date-range-field {
    width: 290px;
    height: 26px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
	z-index:100;
}

#date-range-field a {
    color: #B2B2B2;
    background-color: #F7F7F7;
    text-align: center;
    display: block;
    position: absolute;
    width: 26px;
    height: 23px;
    top: 0;
    right: 0;
    text-decoration: none;
    padding-top: 6px;
    border-radius: 0 5px 5px 0;
    border-bottom-right-radius: 5px;
}

#date-range-field span {
    font-size: 12px;
    font-weight: bold;
    color: #404040;
    position: relative;
    top: 0;
    height: 26px;
    line-height: 26px;
    left: 5px;
    width: 250px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#datepicker-calendar {
    position: absolute;
    top: 27px;
    left: -325px;
    overflow: hidden;
    width: 605px;
    height: 153px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 5px;
    display: none;
    padding: 10px 0 0 10px;
    display: none;
    float: right;
	z-index:100;
}

/* Remove default border from the custom widget since we're adding our own.  TBD: rework the dropdown calendar to use the default borders */
#datepicker-calendar div.datepicker {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}


#EBMPresetsBlock
{
	width:100px;
	min-width:100px;
	text-align:left;
	padding: 48px 0 3px 3px;	
}


#EBMPresetsBlock div
{
	font-weight:700;		
}

#EBMPresetsBlock a, #EBMPresetsCancel a
{
	display:block;
	
}

#EBMPresetsBlock a:hover, #EBMPresetsCancel a:hover
{
	text-decoration:underline;
	cursor:pointer;		
}

#EBMPresetsCancel
{
	position:absolute;
	left:0;
	top:0;	
	text-decoration:none;
	cursor:pointer;	
	min-width:16px;
	width:16px;	
}

#reportSummaryOverlay
{
	display: none;  
    position: absolute; 
    left: 0%; 
    top: 0%; 
    background-color: #FFF;
    -moz-opacity: 0.8; 
    opacity: .80;
    filter: alpha(opacity=80);
    width: 1000px;
    height: 120px;
    z-index: 90; 	
}

div.item_action  i.read-more-description {
    cursor: pointer;
    padding-left: 5px;
    color: #7DCD88;
}

div.item_action  i.read-more-description:hover {
    color: #9EFFAD;
}

