<cfset PROCESSTYPE_SUBSCRIBER_LIST = 1/>
<cfset PROCESSTYPE_CAMPAIGN_BLAST = 2/>
<!--- individual import--->
<cfset INDIVIDUAL_IMPORT_WAIT_FOR_APPROVAL = 0/>
<cfset INDIVIDUAL_IMPORT_READY = 1/>
<cfset INDIVIDUAL_IMPORT_PROCESSING = 2/>
<cfset INDIVIDUAL_IMPORT_COMPLETE = 3/>
<cfset INDIVIDUAL_IMPORT_REJECTED = 4/>

<cfset IMPORT_ADM_ACTION_TYPE_APPROVED=10>
<cfset IMPORT_ADM_ACTION_TYPE_REJECTED=20>

<!--- upload import--->
<cfset UPLOADS_ADM_ACTION_APPROVED = 10/>
<cfset UPLOADS_ADM_ACTION_REJECTED = 20/>

<cfset UPLOADS_WAIT_FOR_APPROVAL = 0/>
<cfset UPLOADS_REJECT_BY_ADM = -5/>
<cfset UPLOADS_PENDING = -1/>
<cfset UPLOADS_DELETED = -2/>
<cfset UPLOADS_ERROR_FAILED = -3/>
<cfset UPLOADS_OUTSTANDING = -4/>

<cfset UPLOADS_RAW = 1/>
<cfset UPLOADS_PROCESSING = 2/>
<cfset UPLOADS_WAITING = 3/>
<cfset UPLOADS_PAUSED = 4/>
<cfset UPLOADS_READY = 5/>
<cfset UPLOADS_SUCCESS = 7/>

<cfset UPLOADS_ERROR_UNEXPECTED = -100/>

<cfset STAGE_DELETED = -2/>
<cfset STAGE_RAW = 1/>
<cfset STAGE_CLEANING = 2/>
<cfset STAGE_READY = 3/>
<cfset STAGE_PROCESSING = 4/>
<cfset STAGE_SUCCESS = 5/>
<cfset STAGE_PAUSED = 6/>

<cfset STAGE_ERROR_FAILED = 7/>
<cfset STAGE_ERROR_DUPLICATED_DATA = 10/>
<cfset STAGE_ERROR_INVALID = 11/>
<cfset STAGE_ERROR_DUPLICATED_QUEUE = 12/>
<cfset STAGE_ERROR_BLOCKED = 13/>
<cfset STAGE_ERROR_UNEXPECTED = 14/>

<cfset UPLOADS_STATUS_LANG = structNew()/>

<cfset UPLOADS_STATUS_LANG = {
	"#UPLOADS_WAIT_FOR_APPROVAL#"="Wait for approval",		
	"#UPLOADS_REJECT_BY_ADM#" = 'Rejected',
	"#UPLOADS_RAW#" = 'Loading',
	"#UPLOADS_PROCESSING#" = 'Loading',
	"#UPLOADS_WAITING#" = 'Waiting',
	"#UPLOADS_PAUSED#" = 'Paused',
	"#UPLOADS_READY#" = 'Processing',
	"#UPLOADS_SUCCESS#" = 'Completed',
	"#UPLOADS_ERROR_FAILED#" = 'Failed',
	"#UPLOADS_ERROR_UNEXPECTED#" = 'Unexpected errors happened',
	"#UPLOADS_PENDING#" = "Pending",
	"#UPLOADS_DELETED#" = "Deleted",
	"#UPLOADS_OUTSTANDING#"="Completed"
}/>

<cfset CONTACTQUEUE_PAUSED = 11/>

<cfset STAGE_STATUS_TXT = {}/>
<cfset STAGE_STATUS_TXT['-2'] = 'DELETED'/>
<cfset STAGE_STATUS_TXT['1'] = 'RAW'/>
<cfset STAGE_STATUS_TXT['2'] = 'CLEANING'/>
<cfset STAGE_STATUS_TXT['3'] = 'READY'/>
<cfset STAGE_STATUS_TXT['4'] = 'PROCESSING'/>
<cfset STAGE_STATUS_TXT['5'] = 'SUCCESS'/>
<cfset STAGE_STATUS_TXT['6'] = 'STOPPED'/>
<cfset STAGE_STATUS_TXT['7'] = 'FAIL'/>
<cfset STAGE_STATUS_TXT['10'] = 'DUPLICATED DATA'/>
<cfset STAGE_STATUS_TXT['11'] = 'INVALID'/>
<cfset STAGE_STATUS_TXT['12'] = 'DUPLICATED QUEUE'/>
<cfset STAGE_STATUS_TXT['13'] = 'BLOCK'/>
<cfset STAGE_STATUS_TXT['14'] = 'UNKNOW ERRORS'/>
