<cfinclude template="../paths.cfm" >
<cfscript>
	if(isDefined("form.btnSubmit")){
		objServiceObject = createObject('component', 'testservice.cfc.ebmService').init(); 
		// set your access key and secret key here
		objServiceObject.setAccessKey("1553B678833359F7ECAC");
		objServiceObject.setSecretKey("28BA2D6e5E4D55BB2905245B7f1B385Bd9b/0Cb6");
		returnData = objServiceObject.createBatch(form.inpBatchDesc);
		// dump return data
		writedump(returnData);

	}
</cfscript>
<html>
	<head>
		<title>Create new batch</title>
	</head>
	<body>
		
	<cfoutput>
    <div id="RightStage">
		<cfform method="post" name="">
			<span class="small">Description</span>
			<cfinput type="text" id="inpBatchDesc" name="inpBatchDesc" required="true" message="Batch's description is required!"/>
			<cfinput type="submit" name="btnSubmit" value="add"/>
		</cfform>
    </div>
	</cfoutput>
	</body>
</html>