









<cfoutput>
<cfparam name="IncludeDayOfWeek" default="0">

<cfset CurrMessageXMLTransactionDate = "">

<!--- 

Input 
	CurrTransactionDate - String containing amount to read
	
Output
	CurrMessageXMLTransactionDate - XML data


Date format - 2007-06-04 00:00:00
--->

<cfif IncludeDayOfWeek GT 0>
	
	<cfset CurrMessageXMLTransactionDate = CurrMessageXMLTransactionDate & "<ELE ID='2'>#DayOfWeek(CurrTransactionDate)#</ELE>">
		
</cfif>

	
	<cfset CurrMessageXMLTransactionDate = CurrMessageXMLTransactionDate & "<ELE ID='5'>#Month(CurrTransactionDate)#</ELE>">
	
	
	<cfset CurrMessageXMLTransactionDate = CurrMessageXMLTransactionDate & "<ELE ID='18'>#Day(CurrTransactionDate)#</ELE>">
	
	
	<cfset CurrMessageXMLTransactionDate = CurrMessageXMLTransactionDate & "<ELE ID='6'>#Year(CurrTransactionDate)#</ELE>">
		

</cfoutput>

