




<cfoutput>


YO!
</BR>

<!---- to find the total active by keyword ---->
    <cfquery name="AggregateQuery" datasource="#Session.DBSourceEBM#">
        SELECT 
            COUNT(SurveyResultsId_bi) AS TotalCount,
            TRIM(Response_vch) AS Response_vch
        FROM 
            simplexresults.surveyresults
        WHERE
 		
             batchid_bi = 1078
        
        AND
            Created_dt >= <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="2014-03-19 00:00:00">
        AND
            Created_dt <= <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="2014-03-31 23:59:00"> 
        AND
            CPId_int = <CFQUERYPARAM CFSQLTYPE="CF_SQL_INTEGER" VALUE="3">
        GROUP BY
            TRIM(Response_vch)
        ORDER  BY
            COUNT(SurveyResultsId_bi) DESC
        LIMIT 
        	15     
    </cfquery>        
    
    
    
    <cfdump var="#AggregateQuery#">
    
    
    
     <!--- http://www.bennadel.com/blog/387-Sorting-ColdFusion-Arrays-With-Sortable-Interfaces.htm --->
        <cfset objResponseSorter = CreateObject("component", "sortableresponses").Init() />
         
        <cfset arrAggregateQuerySorted = objResponseSorter.QueryToArray(AggregateQuery) /> 
                
         <cfdump var="#arrAggregateQuerySorted#">
         
         
        <!--- Sort the array. --->
        <cfset arrAggregateQuerySorted = objResponseSorter.SortArray(
            arrAggregateQuerySorted,
            "LT"
            ) />
        
        <cfdump var="#arrAggregateQuerySorted#">
        
    	<cfloop array="#arrAggregateQuerySorted#" index="AggregateQuerySortedindex">
            <!---<cfset index= index+1>
            <cfset ArrayAppend(category, AggregateQuerySortedindex.Response_vch)/>
            <cfset ArrayAppend(data, AggregateQuerySortedindex.TotalCount)/>   --->
        </cfloop>  
        
        
        
    
</cfoutput>