.ui-spinner {position: relative}
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}

.ui-corner-tr {
    border-top-right-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.ui-corner-br {
    border-bottom-right-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#content-AAU-Admin #head-AAU-Admin{
	border:1px solid #0c6599;
	height:28px;
	background-color:#118acf;
	line-height:28px;
	padding-left:10px;
	border-radius:4px 4px 0px 0px;
	color:#ffffff;
	/*font-family:"Verdana";*/
	font-size:14px;
}

#content-AAU-Admin .row{
	margin:0;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	line-height:45px;
	color:#666666;
	padding-left:10px;
	background-color:#fff;
}

#content-AAU-Admin .row .show-description{
	width:2%;
	float:left;
	background:url("../images/show-class.jpg") no-repeat;
	background-position:center; 
	cursor:pointer;
}

#content-AAU-Admin .row .hide-description{
	width:2%;
	float:left;
	background:url("../images/hide-class.jpg") no-repeat;
	background-position:center;
	cursor:pointer; 
}

#content-AAU-Admin .row .editor{
	padding-top:20px;
	float:left;
	width:20%;
}

#content-AAU-Admin .row .field{
	width:78%;
}

#content-AAU-Admin .row .description{
	float:left;
	padding-left: 22px;
	padding-right:22px;
    width: 97%;
	color:#999999;
	/*font-family:"Verdara";*/
}

.displayNone{
	display:none;
}
.displayInline{
	display:inline;
}

#footer-AAU-Admin{
	border: none;
    height: 45px;
    padding: 10px;
    text-align: right;
}

.btn-auu-admin{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #4da8dd, #44a0d4);
    background-repeat: repeat-x;
    border-color: #0888d1;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-transform:none;
}

.new-cb-slider{
	background-image: url("../images/new-cb-slider.png");
	background-repeat:no-repeat;
    cursor: pointer;
    height: 26px;
    left: 0;
    width: 39px
}

.new-cb-bg {
    background-image: url("../images/new-cb-bg.gif");
    background-position: 0 1px;
    background-repeat: no-repeat;
    float: right;
    height: 18px;
    margin-right: 60px;
    top: 1px;
    width: 33px;
}

.on{
	float: left;
    left: -35px;
    position: relative;
    top: -13px;
	font-weight:bolder;
	color:#0e88cd;
}

.off{
	color: #999999;
    float: right;
    font-weight: bolder;
    left: 37px;
    position: relative;
    top: -58px;
}

#MaximumSession{
	margin-top:-6px;
}


