

<cfset LevelMap = "../../">


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><cfoutput>#BrandFull#</cfoutput></title>




<style>
	@import url('<cfoutput>#LevelMap#</cfoutput>css/ebm.css');
	@import url('<cfoutput>#LevelMap#</cfoutput>css/ebmmenu.css');


</style>

<script type="text/javascript" src="<cfoutput>#LevelMap#</cfoutput>../js/jquery/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="<cfoutput>#LevelMap#</cfoutput>../js/jqueryddmenu.js"></script>



<script type="text/javascript">
	
	
	$(function() {	
	
			$("#nav-one").dropmenu({closeSpeed: 100});	
			
	});

	

</script>



</head>

<!---
Todos


--->


<body>

    <div id="TopMenu">
    	<cfinclude template="#LevelMap#menu.cfm">
    </div>
    
    <div id="Spacer1">    
 
    </div>
    
    
    <div id="Section1">
    
    </div>
    
    <div id="LTContent">
    	<div style="float:left;">
    		<img src="images/EBMTriSwoosh105x103_WithShadowWeb.png" />    
        </div>
        
        <div style="float:right; vertical-align:central;">
        	<h1 class="grey inline">Event Based</h1><h1 class="gold inline">Messaging</h1>
        </div>    
    </div>

    
	<div id="InteractiveGraphic"></div>
    
    	
    
    <div id="Section2">
    
	</div>
    
    
    <div id="Footer">
	    <cfset ShowCounter = 0>
    	<cfinclude template="#LevelMap#footer.cfm">   	       
    </div>
    


</body>
</html>