<cfquery name="getmcrc" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_maincrc
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
				<cfoutput query="getmcrc">
					<div style="margin-bottom:10px; position:relative; display:inline-block; width:100%; border-top:1px solid ##cfe7fe;">
						<form action="" method="post" name="ucrcelement#maincrcid_bi#" id="ucrcelement#maincrcid_bi#" onsubmit="return UDataCRC('ucrcelement#maincrcid_bi#');">
							<input type="hidden" name="maincrcid_bi" value="#maincrcid_bi#" />
							<div style="margin-bottom:10px; float:left;">
								Results Code:
								<br />
								<input type="text" name="Code_vch" value="#Code_vch#" style="width:80px;" />
							</div>
							<div style="margin-bottom:10px; float:left; margin-left:5px;">
								CRC:
								<br />
								<input type="text" name="CRC_vch" value="#CRC_vch#" style="width:70px;" />
							</div>
							<!--- Create Automatically by combining the results code and the CRC together with a dash
								<div style="margin-bottom:10px; float:left; margin-left:5px;">
								Last call<br />disposition:<br />
								<input type="text" name="element" style="width:70px;" />
								</div>--->
							<div style="margin:0 0 10px 5px; float:left;">
								Definition:
								<br />
								<textarea name="Definition_vch" style="width:200px;">#Definition_vch#</textarea>
							</div>
							<cfif Session.CollEditable eq 1>
							<div style="margin:0 0 10px 1px; float:left; width:36px">
								Action
								<br />
								<input type="submit" name="upelement" value="update" style="width:49px;"/>
							</div>
							</cfif>
						</form>
					</div>
				</cfoutput>