<cfquery name="geteosd" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_emailonlinesupport
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
<cfoutput query="geteosd">
<div style="margin-bottom:10px; position:relative; display:inline-block; width:100%; border-top:1px solid ##cfe7fe;">
<form method="post" name="eosd#EmailOnlineSupportID_bi#" id="eosd#EmailOnlineSupportID_bi#">
<input type="hidden" id="EmailOnlineSupportID_bi#EmailOnlineSupportID_bi#" value="#EmailOnlineSupportID_bi#" />
<div style="margin-bottom:5px; float:left;">
Link:<br />
<textarea id="EOSFIELDNAME_VCH#EmailOnlineSupportID_bi#" style="width:175px;">#FIELDNAME_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:left;">
Routes To:<br />
<textarea id="EOSROUTESTO_VCH#EmailOnlineSupportID_bi#" style="width:175px;">#ROUTESTO_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:right;">
Action<br />
<input type="button" name="upeosd" value="update" onclick="return UEmailOnlineSupport('eosd#EmailOnlineSupportID_bi#');" />
</div>
</form>
</div>
</cfoutput>