<cfquery name="getmdf" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_datafields
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
<cfoutput query="getmdf">
<div style="margin-bottom:10px; position:relative; display:inline-block;">
<form method="post" name="udfield#DataFieldID_bi#" id="udfield#DataFieldID_bi#">
<input type="hidden" id="DataFieldID_bi#DataFieldID_bi#" value="#DataFieldID_bi#" />
<div style="margin-bottom:5px; float:left;">
Field Name:<br />
<input type="text" id="DATAFIELDNAME_VCH#DataFieldID_bi#" value="#DATAFIELDNAME_VCH#" style="width:100px;" />
</div>
<div style="margin:0 0 5px 10px; float:left;">
Description:<br />
<textarea id="DATAFIELDDESC_VCH#DataFieldID_bi#" style="width:200px;">#DATAFIELDDESC_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:right;">
Action<br />
<input type="button" name="upelement" value="update" onclick="return UDataFields('udfield#DataFieldID_bi#');" />
</div>
</form>
</div>
</cfoutput>