<cfquery name="getebd" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_emailbody
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
<cfoutput query="getebd">
<div style="margin-bottom:10px; position:relative; display:inline-block; width:100%; border-top:1px solid ##cfe7fe;">
<form method="post" name="ebd#EmailBodyID_bi#" id="ebd#EmailBodyID_bi#">
<input type="hidden" id="EmailBodyID_bi#EmailBodyID_bi#" value="#EmailBodyID_bi#" />
<div style="margin-bottom:5px; float:left;">
Link:<br />
<textarea id="EBFIELDNAME_VCH#EmailBodyID_bi#" style="width:175px;">#FIELDNAME_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:left;">
Routes To:<br />
<textarea id="EBROUTESTO_VCH#EmailBodyID_bi#" style="width:175px;">#ROUTESTO_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:right;">
Action<br />
<input type="button" name="upebd" value="update" onclick="return UEmailBody('ebd#EmailBodyID_bi#');" />
</div>
</form>
</div>
</cfoutput>