<cfquery name="getefd" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_emailfooter
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
<cfoutput query="getefd">
<div style="margin-bottom:10px; position:relative; display:inline-block; width:100%; border-top:1px solid ##cfe7fe;">
<form method="post" name="efd#EmailFooterID_bi#" id="efd#EmailFooterID_bi#">
<input type="hidden" id="EmailFooterID_bi#EmailFooterID_bi#" value="#EmailFooterID_bi#" />
<div style="margin-bottom:5px; float:left;">
Link:<br />
<textarea id="EFFIELDNAME_VCH#EmailFooterID_bi#" style="width:175px;">#FIELDNAME_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:left;">
Routes To:<br />
<textarea id="EFROUTESTO_VCH#EmailFooterID_bi#" style="width:175px;">#ROUTESTO_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:right;">
Action<br />
<input type="button" name="upefd" value="update" onclick="return UEmailFooter('efd#EmailFooterID_bi#');" />
</div>
</form>
</div>
</cfoutput>