<cfquery name="geterd" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_emailrightside
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
<cfoutput query="geterd">
<div style="margin-bottom:10px; position:relative; display:inline-block; width:100%; border-top:1px solid ##cfe7fe;">
<form method="post" name="erd#EmailRightSideID_bi#" id="erd#EmailRightSideID_bi#">
<input type="hidden" id="EmailRightSideID_bi#EmailRightSideID_bi#" value="#EmailRightSideID_bi#" />
<div style="margin-bottom:5px; float:left;">
Link:<br />
<textarea id="ERFIELDNAME_VCH#EmailRightSideID_bi#" style="width:175px;">#FIELDNAME_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:left;">
Routes To:<br />
<textarea id="ERROUTESTO_VCH#EmailRightSideID_bi#" style="width:175px;">#ROUTESTO_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:right;">
Action<br />
<input type="button" name="uperd" value="update" onclick="return UEmailRightSide('erd#EmailRightSideID_bi#');" />
</div>
</form>
</div>
</cfoutput>