<cfquery name="getehd" datasource="#Session.DBSourceEBM#">
SELECT *
FROM simpleobjects.pm_emailheader
WHERE BatchId_bi = <cfqueryparam cfsqltype="cf_sql_bigint" value="#url.BID#">
</cfquery>
<cfoutput query="getehd">
<div style="margin-bottom:10px; position:relative; display:inline-block; width:100%; border-top:1px solid ##cfe7fe;">
<form method="post" name="ehd#EmailHeaderID_bi#" id="ehd#EmailHeaderID_bi#">
<input type="hidden" id="EmailHeaderID_bi#EmailHeaderID_bi#" value="#EmailHeaderID_bi#" />
<div style="margin-bottom:5px; float:left;">
Link:<br />
<textarea id="EHFIELDNAME_VCH#EmailHeaderID_bi#" style="width:175px;">#FIELDNAME_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:left;">
Routes To:<br />
<textarea id="EHROUTESTO_VCH#EmailHeaderID_bi#" style="width:175px;">#ROUTESTO_VCH#</textarea>
</div>
<div style="margin:0 0 5px 10px; float:right;">
Action<br />
<input type="button" name="upehd" value="update" onclick="return UEmailHeader('ehd#EmailHeaderID_bi#');" />
</div>
</form>
</div>
</cfoutput>