<div class="public-signin">
    <div class="login-wrapper">
    	<!--- <cfif !(structKeyExists(Session,'loggedIn') AND Session.loggedIn EQ 1) >
			<ul class="social-list clearfix">
				<li> <a href="https://www.facebook.com/siremobile/" target="_blank" title="Facebook"><img src="/public/sire/images/facebook.png?v=1.0" alt="Facebook"/></a></li>
				<li> <a href="https://twitter.com/sire_mobile" target="_blank" title="Twitter"><img src="/public/sire/images/twitter.png?v=1.0" alt="Twitter"/></a></li>
				<li> <a href="https://www.youtube.com/channel/UCYqFX_Uy0MIY5i7gjgr_LXg" target="_blank" title="Youtube"><img src="/public/sire/images/youtube.png?v=1.0" alt="Youtube"/></a></li>
				<li> <a href="https://www.linkedin.com/company/12952559" target="_blank" title="Linkedin"><img src="/public/sire/images/linkedin.png?v=1.0" alt="LinkedIn"/></a></li>
				<li> <a href="https://plus.google.com/116619152084831668774" target="_blank" title="Google+"><img src="/public/sire/images/google_plus.png?v=1.0" alt="Twitter"/></a></li>
			</ul>
		</cfif> --->

        <div type="button" class="btn btn-success btn-login btn-success-custom" data-toggle="modal" data-target="#signin">SIGN IN</div>
    </div>
</div>