

<!---  <cfset QuerySetCell(dataout, "RXRESULTCODE", -1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPCOMMID", "#INPCOMMID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "-1") />
                <cfset QuerySetCell(dataout, "CURRDESC", "") />
			    <cfset QuerySetCell(dataout, "CURRDESC", "") />
                <cfset QuerySetCell(dataout, "CURRBS", "") />
                <cfset QuerySetCell(dataout, "CURRUID", "") />
                <cfset QuerySetCell(dataout, "CURRLIBID", "") />
                <cfset QuerySetCell(dataout, "CURRELEID", "") />
                <cfset QuerySetCell(dataout, "CURRDATAID", "") />
                <cfset QuerySetCell(dataout, "CURRCK1", "") />
                <cfset QuerySetCell(dataout, "CURRCK2", "") />
                <cfset QuerySetCell(dataout, "CURRCK3", "") />
                <cfset QuerySetCell(dataout, "CURRCK4", "") />
                <cfset QuerySetCell(dataout, "CURRCK5", "") />
                <cfset QuerySetCell(dataout, "CURRCK7", "") />
                <cfset QuerySetCell(dataout, "CURRCK6", "") />
                <cfset QuerySetCell(dataout, "CURRCK8", "") />
                
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPCOMMID", "#INPCOMMID#") />
                <cfset QuerySetCell(dataout, "inpCOMMTYPE", "-1") />
                <cfset QuerySetCell(dataout, "INPDESC", "") />
                <cfset QuerySetCell(dataout, "inpBS", "") />
                <cfset QuerySetCell(dataout, "inpUID", "") />
                <cfset QuerySetCell(dataout, "inpLibID", "") />
                <cfset QuerySetCell(dataout, "inpEleID", "") />
                <cfset QuerySetCell(dataout, "inpDataID", "") />
                <cfset QuerySetCell(dataout, "inpCK1", "") />
                <cfset QuerySetCell(dataout, "inpCK2", "") />
                <cfset QuerySetCell(dataout, "inpCK3", "") />
                <cfset QuerySetCell(dataout, "inpCK4", "") />
                <cfset QuerySetCell(dataout, "inpCK5", "") />
                <cfset QuerySetCell(dataout, "inpCK7", "") />
                <cfset QuerySetCell(dataout, "inpCK6", "") />
                <cfset QuerySetCell(dataout, "inpCK8", "") />
				
 --->
                

<!--- used to update interface values based on JSON results --->
<!--- Assumes form fields --->


<!--- Update Summary info too? --->
										
											<!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.INPCOMMID[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #INPCOMMID").val(d.DATA.INPCOMMID[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #INPCOMMID").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRRXT[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCOMMTYPE").val(d.DATA.CURRRXT[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCOMMTYPE").val('3');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRDESC[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #INPDESC").val(RXdecodeXML(d.DATA.CURRDESC[0]));																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #INPDESC").val('empty');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRBS[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpBS").val(d.DATA.CURRBS[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpBS").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRUID[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpUID").val(d.DATA.CURRUID[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpUID").val('0');
                                            }
                                                                                                                                  
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK1[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK1").val(d.DATA.CURRCK1[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK1").val('0');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK2[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK2").val(d.DATA.CURRCK2[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK2").val('');
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK3[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK3").val(d.DATA.CURRCK3[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK3").val('');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK4[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK4").val(d.DATA.CURRCK4[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK4").val('()');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK5[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK5").val(d.DATA.CURRCK5[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK5").val('-1');	
                                            }
                                                                                                                                
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK6[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK6").val(d.DATA.CURRCK6[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK6").val('');	
                                            }
                                          
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK7[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK7").val(d.DATA.CURRCK7[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK7").val('');			
                                            }
                                              
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK8[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK8").val(d.DATA.CURRCK8[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK8").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK9[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK9").val(d.DATA.CURRCK9[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK9").val('');			
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK10[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK10").val(d.DATA.CURRCK10[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK10").val('');			
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK11[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK11").val(d.DATA.CURRCK11[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK11").val('');			
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK12[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK12").val(d.DATA.CURRCK12[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK12").val('');			
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK13[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK13").val(d.DATA.CURRCK13[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK13").val('');			
                                            }
                                            
                                             <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK14[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK14").val(d.DATA.CURRCK14[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK14").val('');			
                                            }
                                            
                                             <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK15[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK15").val(d.DATA.CURRCK15[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK15").val('');			
                                            }
                                            
                                             <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK16[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK16").val(d.DATA.CURRCK16[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK16").val('');			
                                            }
                                            
                                             <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK17[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK17").val(d.DATA.CURRCK17[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpCK17").val('');			
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRX[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpX").val(d.DATA.CURRX[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpX").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRY[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpY").val(d.DATA.CURRY[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpY").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRLINK[0]) != "undefined")
											{									
												$("#COMMTYPEEditForm_" + INPCOMMID + " #inpLINK").val(d.DATA.CURRLINK[0]);																							
											}
                                            else
                                            {
	                                            $("#COMMTYPEEditForm_" + INPCOMMID + " #inpLINK").val('-1');	
                                            }
                                            