#CampaignRecipients .table_body {
	border: 1px solid #636363; 
	width: 50%; 
	margin-left: 25%; 
	border-radius: 10px 10px 10px 10px; 
	margin-top: 50px;	
}
#CampaignRecipients .table_header {
	padding-top: 5px; 
	padding-bottom: 5px; 
	background-color: rgb(235, 235, 235); 
	border-radius: 10px 10px 0px 0px;	
}

#CampaignRecipients .table_header_label {
	padding-left: 10px; 
	margin-top: 5px;
}

#CampaignRecipients .content_padding {
	padding-left: 8%;
}

#CampaignRecipients .padding_top {
	padding-top: 10px;
}

#CampaignRecipients .contact_type_body {
	width: 25%; 
	float: left; 
	border: 1px solid #636363; 
	padding-top: 5px; 
	padding-bottom: 5px;
}
#CampaignRecipients .contact_type_body_margin {
	margin-left: 8%;
}
#CampaignRecipients .contact_type_label {
	font-weight: bold; 
	text-align: center;
}
#CampaignRecipients .contact_type_number_label { 
	text-align: center;
}
#CampaignRecipients .contact_type_number_label a{
	text-decoration: underline;
}
#CampaignRecipients .data_row {
	clear: both; 
	padding-top: 5px; 
	padding-bottom: 5px;
}
#CampaignRecipients .left {
	float: left;
}
#CampaignRecipients .bold_label {
	font-weight: bold;
}
#CampaignRecipients .field_margin {
	margin-left: 5px;
}
#CampaignRecipients .create_new_group {
	clear: both; 
	padding-left: 5px;
}
#CampaignRecipients .large_data_row {
	clear: both; 
	padding-top: 10px; 
	padding-bottom: 10px;
}
#CampaignRecipients .contact_type_checkbox {
	float: left; 
	padding-left: 5px;
}
#CampaignRecipients .apply_yesno {
	float: left; 
	margin-left: 20px; 
	margin-top: 3px;
}
#CampaignRecipients .apply_yesno_label {
	float: left; 
	margin-left: 5px;
}

#CampaignRecipients button {
    border: 1px solid #9C9C9C;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 1px 1px #9A9A9A;
    color: #000000;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    margin-right: 12px;
    padding: 3px 20px;
    cursor: pointer
}
#CampaignRecipients .right {
	float: right;
}

.campaign_running_error {
    color: red;
    font-style: italic;
    font-weight: bold;
    padding: 10px 10px 0;
}
.recipient_count {
	float: right; 
	padding-right: 5%;
}
.recipient_list {
	float: left; 
	width: 95%; 
	overflow: auto; 
	height: 200px;
}
.recipient_list_body {
	float: left; 
	width: 100%;
}
.contact_header {
	height: 25px; 
	width: 48%; 
	padding-left: 2%; 
	padding-top: 5px; 
	border: 1px solid #636363;
}
.contact_string_row {
	height: 25px; 
	width: 48%; 
	padding-left: 2%; 
	padding-top: 5px; 
	border-right: 1px solid #636363; 
	border-left: 1px solid #636363; 
	border-bottom: 1px solid #636363;
}
.contact_note_header {
	padding-left: 2%; 
	padding-top: 5px; 
	width: 47%; 
	height: 25px; 
	border-top: 1px solid #636363; 
	border-right: 1px solid #636363; 
	border-bottom: 1px solid #636363;
}
.contact_note_row {
	padding-top: 5px; 
	padding-left: 2%; 
	width: 47%; 
	border-right: 1px solid #636363; 
	height: 25px; 
	border-bottom: 1px solid #636363;
}
.contact_row {
	float: left; 
	clear: both; 
	width: 100%;
}