.myScheduleType #input{
	display:inline; 
	float:left;
}

.myScheduleType label{
	width:150px; 
	text-align:left; 
	display:inline; 
	padding-left:5px;
}
.myScheduleType {
	min-height:25px;
	padding :10px;
}

.MyscheduleTabs{
	height:25px;
}

.MyscheduleTabs ul{
	margin:0 0 0 10px;
	padding:0;
}

.MyscheduleTabs ul li {
	display:inline;
	border-radius: 5px 5px 0 0; 	
	padding: 5px 10px ;
	border: 1px solid #B6B6B6;
}
.MyscheduleTabs ul li a{
	text-decoration:none;
}

#SetSchedule{
	padding:10px;
}

.scheduleDate{
	width:500px; 
	min-height:55px;
}

.scheduleDatePicker{
	float:left; 
	min-width:245px;
}

.scheduleDatePicker label{
	float:left
}

.hourRow{
	min-height:55px;
	padding-left:15px;
} 

.hourRow div{
	float:left; 
}

.scheduleday{
	display:block; 
	width:650px; 
	padding:5px; 
	height: 65px; 
	min-height:65px;
}

#DayOfWeekSelection{
	display:block;
	float:left; 
	width:850px; 
	margin: 5px 0 5px 0; 
	padding:5px;
}

#AcrossMultipleDays {
    border: 1px solid #C8D88F;
    height: auto;
    margin: 0 10px 0 24px;
    padding-bottom:20px;
    width: 804px;
    border-radius: 0 10px 10px 10px
}

.scheduleRunning{
	color: red;
	font-weight:bold;
	padding:10px 10px 0;
	font-style:italic;
}

#SetScheduleSBDiv .row {
	clear: both; 
	padding-bottom: 5px;
}

#SetScheduleSBDiv .row_label {
	clear: both; 
	padding-bottom: 5px;
	padding-left: 24px;
}

#SetScheduleSBDiv .last_row {
	padding-bottom: 10px;
}

#SetScheduleSBDiv .across_multiple_days_label {
	font-weight: bold; 
	width: 160px;
	display:block;	
}

#SetScheduleSBDiv .following_time_label {
	font-weight: bold; 
	width: 120px;	
	display:block;	
}

.padding_left5 {
	padding-left: 5px;
}
.left {
	float: left;
}
.hidden_date_picker {
	border: medium none; 
	height: 0px; 
	position: absolute; 
	width: 0px; 
	outline: none;
	background-color: white;
	display:none;
}

.schedule_day_checkbox {
	float: left; 
	margin: 0.5em;
}
.tab_label {
	padding-left: 0px !important;
}

.ui-corner-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}