/*------------------------------------------------------------------
 * Project: SIRE
 * Company: Seta International
 * Author: TuanVA
 * Created Date: 14/02/2017
 ------------------------------------------------------------------*/

/*----------------------------- / Custome Plugin -----------------------------*/
.daterangepicker .ranges .btn {
	display: inline-block;
	padding: 5px 15px;
}
/*----------------------------- / Custome Plugin -----------------------------*/

 /*----------------------------- /Button -----------------------------*/
*:focus {
	outline: none;
}
.btn-re-edit,
.btn-re-dowload,
.btn-re-delete,
.btn-re-remove {
	display: inline-block;
	margin: 0 3px;
	font-size: 22px;
	line-height: 1em;
	color: #5c5c5c;
	font-weight: bold;
	border: none;
	vertical-align: middle;
	cursor: pointer;
}
.btn-re-delete {
	color: #ff0000;
}
.tick-select {
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.btn-re {
	font-size: 14px;
	padding: 7px 25px;
}
.add-shorturl-simon-button[disabled],.add-mlp-button[disabled], .add-templatesm-button[disabled]{
	font-family: 'Source Sans Pro', sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 92, 180, 105 );
    background-color: #74c37f !important;
    background-image: inherit !important;
    background-position: inherit !important;
    box-shadow: 0.418px 2.971px 0px 0px rgb( 61, 152, 74 );
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: not-allowed;
    opacity: .65;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-re-xs{
	color: #fff;
	text-decoration: none;
}
.btn-chat-xs
{
	display: inline; 
	text-decoration: none;
	margin: 0 5px;
	background-color: #83dd8f;
	color:white;
	padding:0 5px;
	text-align: center;		
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 14px;
}
.btn-chat-xs a, .btn-chat-xs .fa-commenting-o
{ 
	color: white !important;
}
.btn-chat-xs a:hover
{	
	text-decoration: none;
}


.warning-text-simon{
	padding: 0 10px;
	text-align: right;
	padding-top: 10px;
	clear:both;
	color: red;
}

.btn-re a {
	color: #fff;
	text-decoration: none;
}
.btn-re-xs {
	display: inline-block;
	padding: 2px 8px;
	color: #fff;
	font-size: 10px;
	line-height: 14px;
	border-radius: 2px;
	letter-spacing: 1px;
	background: #5c5c5c;
	cursor: pointer;
	white-space: nowrap;
    vertical-align: middle;
}
.btn-re-xs:hover{
	color: #fff;
	text-decoration: none;
	background: #3e3e3e;
}
.btn-re-xs a {
	color: #fff;
	text-decoration: none;
}
.icon-bullet-green {
	width: 15px;
	height: 16px;
	background: url('../img/icon-bullet-green.png') center center no-repeat;
}

#btnStep1{
	margin-right: 10px; 
}

#btnStep2,.btn.btn-medium.btn-success-custom.btn-payment-credits.pull-right.margin-right-5{
	margin-right: 10px; 
	margin-left: 10px; 
}

/*----------------------------- /Button -----------------------------*/

/*----------------------------- /Pagination -----------------------------*/
.paginate_text {
	text-align: center;
	width: 40px;
}
.dataTables_paginate span {
	margin: 0 7px;
	cursor: pointer;
}
/*----------------------------- /Pagination -----------------------------*/

/*----------------------------- Table -----------------------------*/
.re-table {
	margin-bottom: 20px;
}
.re-table .table-responsive,
.re-table .table-responsive td,
.re-table .table-responsive th {
	border: none;
	/*word-wrap: break-word;*/
}
.re-table table {
	/* table-layout: fixed; */
}
.re-table table thead {
	background: #dedede;
}
.re-table table thead th {
	font-size: 18px;
	font-weight: bold;
	color: #5c5c5c;
}
.re-table table td,
.re-table table th {
	padding: 10px 20px !important;
	font-size: 18px;
}
.re-table table.underline-head thead {
	border-bottom: 1px solid #696969;
	background: none;
}
.re-table table.underline-head thead tr th:first-child,
.re-table table.underline-head thead tr th:last-child,
.re-table table.underline-head tbody tr td:first-child,
.re-table table.underline-head tbody tr td:last-child {
	padding: 10px 0 2px 0 !important;
}
.re-table table.underline-head thead tr th {
	padding-bottom: 2px !important;
}
/*----------------------------- /Table -----------------------------*/

/*----------------------------- Daterangepicker -----------------------------*/
.reportrange {
	padding: 5px 10px;
	border: 1px solid #5c5c5c;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
}
.reportrange span {
	margin-right: 20px;
}
/*----------------------------- /Daterangepicker -----------------------------*/

/*----------------------------- /Typo -----------------------------*/
.page-title {
	margin: 18px 0 20px 0;
	font-weight: bold;
	font-size: 26px;
	color: #5c5c5c;
}
/*----------------------------- /Typo -----------------------------*/

/*----------------------------- Shorturl Page -----------------------------*/
.shorturl p {
	font-size: 18px;
	color: #5c5c5c;
}
.shorturl a {
	color: #274e60;
}
.shorturl a:hover {
	text-decoration: none;
}
.shorturl .table-scrollable {
	margin-bottom: 80px !important;
}
.shorturl table tbody tr td:nth-child(4),
.shorturl table thead tr th:nth-child(4),
.shorturl table thead tr th:nth-child(5) {
	text-align: center;
}
.shorturl .table-scrollable table {
	min-width: 1010px;
}
.shorturl table thead tr th:nth-child(1),
.shorturl table tbody tr td:nth-child(1) {
	width: 15%;
}
.shorturl table thead tr th:nth-child(2),
.shorturl table tbody tr td:nth-child(2) {
	width: 20%;
}
.shorturl table thead tr th:nth-child(3),
.shorturl table tbody tr td:nth-child(3) {
	width: 45%;
}
.shorturl table thead tr th:nth-child(4),
.shorturl table tbody tr td:nth-child(4) {
	width: 7%;
	text-align: center;
}
.shorturl table thead tr th:nth-child(5),
.shorturl table tbody tr td:nth-child(5) {
	width: 13%;
	text-align: center;
}
/*----------------------------- / Shorturl Page -----------------------------*/

/*----------------------------- MLP Page -----------------------------*/
.mlp {
	color: #5c5c5c;
}
.mlp table {
	table-layout: auto;
}
.mlp table h3 {
	margin: 0 0 5px 0;
	font-size: 18px;
	font-weight: bold;
}
.mlp table p {
	font-size: 16px;
	margin-bottom: 5px;
}
.mlp table td,
.mlp table th {
	padding: 15px 20px !important;
}
.mlp table tbody tr td:nth-child(1) {
	width: 80%;
}
.mlp table tbody tr td:nth-child(5) {
	width: 20%;
}
.mlp table tbody tr:last-child td {
	/*padding: 15px 0 !important;*/
	width: 100% !important;
}
.mlp table tbody tr:last-child td h3 {
	/*padding: 0 20px;*/
}
.mlp .content-preview {
	height: 675px;
	width: 100%;
	margin-top: 15px;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	overflow: auto;
}
.mlp .mlp-acts {
	text-align: right;
}
@media screen and (max-width: 767px){
	.mlp .mlp-acts {
		text-align: left;
	}
}
.mlp .btn-re-xs {
	margin-bottom: 3px;
}
.mlp p {
	font-size: 18px;
}
.mlp p a {
	color: #274e60;
}
.mlp p a:hover {
	text-decoration: none;
}
/*----------------------------- / MLP Page -----------------------------*/

/*----------------------------- MLP New Page -----------------------------*/
.mlp-new select.form-control {
	border: none;
}
.mlp-new .mlp-editor {
	margin: 50px;
}
.mlp-new .mlp-preview {
	padding: 30px;
	margin: 50px 0;
	border: 2px dashed red;
}
.mlp-new .mlp-style .mlp-style-row {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.mlp-new .mlp-style .mlp-style-row:after {
	content : ""; display : table; clear : both; 
}
.mlp-new .mlp-col-left,
.mlp-new .mlp-col-right {
	float: left;
	width: 50%;
	line-height: 34px;
}
.mlp-new .mlp-col-left {
	border-right: 1px solid #ccc;
}
.mlp-new .footer-botton {
	margin: 50px 0;
}
/*----------------------------- / MLP New Page -----------------------------*/

/*----------------------------- MLP New Template Page -----------------------------*/
.mlp-new-template .mlp-shortcode {
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #5c5c5c;
	font-weight: bold;
}
.mlp-new-template .mlp-shortcode span {
	color: #568ca5;	
}
.mlp-new-template .mlp-template-item {
	margin-bottom: 20px;
}
.mlp-new-template .mlp-template-list .mlp-thumb {
	position: relative;
	height: 400px;
	border: 3px solid #eee;
}
.mlp-new-template .mlp-template-list .mlp-thumb:hover {
	box-shadow: 0 1px 10px #dedede;
	cursor: pointer;
}
.mlp-new-template .mlp-template-list .mlp-thumb .btn-select-template {
	display: none;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.mlp-new-template .mlp-template-list .mlp-template-item:hover .btn-select-template {
	display: block;
}
.mlp-new-template .mlp-title {
	margin-top: 5px;
	text-align: center;
	font-size: 16px;
	line-height: 2em;
}
.mlp-new-template .mlp-title:hover a {
	text-decoration: none;
}
/*----------------------------- / MLP New Template Page -----------------------------*/

/*----------------------------- MLP Manage Page -----------------------------*/
.mlp-manage {
	font-size: 16px;
	color: #5c5c5c;
}
.mlp-manage p {
	margin-bottom: 0;
}
.mlp-manage .mlp-shortcode {
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #5c5c5c;
	font-weight: bold;
}
.mlp-manage .mlp-shortcode span {
	color: #568ca5;	
}
.mlp-manage .btn-upload-image {
	margin-top: 50px;
	margin-bottom: 10px;
}
.mlp-manage .mlp-storage-usage {
	margin: 50px 0 20px;
}
.mlp-manage .mlp-storage-usage .mlp-storage-label {
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}
@media screen and (max-width: 767px){
	.mlp-manage .mlp-storage-usage .mlp-storage-label {
		text-align: left;
	}
}
.mlp-manage .mlp-image .image-label {
	font-weight: bold;
	margin-bottom: 10px;
}
.mlp-manage .mlp-image img {
	max-width: 100%;
}
/*----------------------------- / MLP Manage Page -----------------------------*/

/*----------------------------- Subscriber Page -----------------------------*/
.subscriber {
	color: #5c5c5c;
}
.subscriber-chart {
	overflow: auto;
}
.subscriber .options p {
	margin-bottom: 5px;
}
.subscriber .date-range {
	text-align: right;
}
@media screen and (max-width: 767px){
	.subscriber .date-range {
		text-align: left;
	}
	.subscriber .date-range .reportrange {
		float: left !important;
		width: 100%;
		position: relative;
	}
	
	.subscriber .date-range .reportrange .caret{
		    
    	position: absolute;
	    bottom: 12px;
	    right: 12px;
	    width: 4px;
	}
}
.subscriber .date-range .reportrange {
	display: inline-block;
}
.subscriber .select-list .form-control {
	border-radius: 9px;
	cursor: pointer;
}
.subscriber .subscriber-chart {
	margin-bottom: 40px;
}
.subscriber .subscriber-list {
	overflow: auto;
}
.subscriber #highchart_1 {
	overflow: auto;
}
.subscriber .highcharts-container {
	min-width: 800px;
}
.subscriber .subscriber-list table {
	width: 100%;
	min-width: 569px;
}
.subscriber .subscriber-list,
.subscriber .subscriber-phone-list {
	margin-top: 20px;
}
.subscriber  .subscriber-list table tbody tr td .item {
	position: relative;
	padding-left: 30px;
}
.subscriber  .subscriber-list table tbody tr td .item span {
	position: absolute;
	top: 5px;
	left: 0;
}

.subscriber .subscriber-phone-list table thead tr th:nth-child(1),
.subscriber .subscriber-phone-list table thead tr th:nth-child(2),
.subscriber .subscriber-phone-list table tbody tr td:nth-child(1),
.subscriber .subscriber-phone-list table tbody tr td:nth-child(2) {
	text-align: center;
}
.subscriber .search-subscriber .form-group {
	margin-bottom: 0;
	height: 36px;
}
.subscriber .search-subscriber input {
	border: 1px solid #dedede;
	border-radius: 9px !important;
}
.subscriber .search-subscriber .input-group-addon {
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
}
.subscriber .search-subscriber .input-group-addon i {
	color: #5c5c5c;
}
.subscriber .label-search-subscriber {
    margin-bottom: 0;
	font-size: 18px;
	line-height: 36px;
	white-space:  nowrap;
}
.subscriber .search-contact {
	margin-bottom: 20px;
}
/*----------------------------- / Subscriber Page -----------------------------*/

/*----------------------------- Keyword Page -----------------------------*/
.keyword {
	color: #5c5c5c;
}
/*.keyword-chart {
	overflow: auto;
}*/
.keyword .options p {
	margin-bottom: 5px;
}
.keyword .date-range {
	text-align: right;
}
@media screen and (max-width: 767px){
	.keyword .date-range {
		text-align: left;
	}
	.keyword .date-range .reportrange {
		float: left !important;
	}
}
.keyword .date-range .reportrange {
	display: inline-block;
}
.keyword .select-list .form-control {
	border-radius: 9px;
	cursor: pointer;
}
.keyword #highchart_1 {
	overflow: auto;
}
.keyword .highcharts-container {
	min-width: 800px;
}
.keyword .keyword-list {
	margin-top: 80px;
}
.keyword .keyword-list table {
	min-width: 800px;
}
.keyword .keyword-list table thead tr th,
.keyword .keyword-list table tbody tr td {
	white-space: normal;
	vertical-align: middle;
	word-wrap: normal;
}
.keyword .keyword-list table thead tr th:nth-child(1),
.keyword .keyword-list table tbody tr td:nth-child(1) {
	width: 25%;
}
.keyword .keyword-list table thead tr th:nth-child(2),
.keyword .keyword-list table tbody tr td:nth-child(2) {
	text-align: center;
	width: 30%;
}
.keyword .keyword-list table thead tr th:nth-child(3),
.keyword .keyword-list table tbody tr td:nth-child(3) {
	text-align: center;
	width: 35%;
}
.keyword .keyword-list table thead tr th:nth-child(4),
.keyword .keyword-list table tbody tr td:nth-child(4) {
	text-align: center;
	width: 10%;
}
/*----------------------------- / Keyword Page -----------------------------*/

/*----------------------------- Dashboard Page -----------------------------*/
.dashboard {
	color: #5c5c5c;
}
.dashboard .dashboard-block-title {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: bold;
}
.dashboard .total-message-number {
	width: 100%;
	height: 300px;
	height: 236px;
	/*margin-top: 20px;*/
	font-size: 77px;
	font-weight: bold;
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	background: url('../img/bkg-send-mail.png') center center no-repeat;
    background-size: contain;
}

@media (max-width: 1368px){
	.total-message-number{
		padding-top: 0px !important;
	}
}

@media (min-width: 1200px) and (max-width: 1300px){
	.dashboard .total-message-number{
		/*padding-top: 55px;*/
	}

	.dashboard .total-sent-message .dashboard-block-title{
		/*margin-top: -40px !important;*/
	}
}

@media (max-width: 480px){
	.dashboard .total-message-number{
		/*padding-top: 20px;*/
	}
}

@media (min-width: 1301px){
	.dashboard .total-message-number{
		/*padding-top: 45px;*/
	}

	
}

@media (min-width: 1301px) and (max-width: 1368px){
	.dashboard .total-sent-message .dashboard-block-title{
		margin-top: 10px !important;
	}
}

/*@media screen and (max-width: 1440px){
	.dashboard .total-message-number {
	    
	}
}*/
/*.dashboard .total-sent-message {
	height: 350px;
}*/
.dashboard .total-sent-message .dashboard-block-title {
	text-align: center;
	margin-top: 10px;
}
.dashboard .opts-rate {
	height: 370px;
}

@media (max-width: 1368px){
	.dashboard .opts-rate{
		height: 235px;
	}
}

.dashboard .opt-rate {
	width: 115px;
	height: 306px;
	margin: 23px 0;
}
.dashboard .opt-rate .opt-rate-ins {
	width: 52px;
	height: 85%;
	margin: 0 auto;
	background: #74c37f;
}
.dashboard .opt-rate .opt-rate-outs {
	width: 52px;
	height: 15%;
	margin: 0 auto;
	background: #ef3d3d;
}
.dashboard .opt-rate .sep {
	height: 1px;
	background: #5c5c5c;	
}
.dashboard .opt-detail {
	margin: 23px 0;
	text-align: right;
}
.dashboard .opt-detail .opt-number {
	margin-top: -0.2em;
	font-size: 77px;
	font-weight: bold;
	line-height: 1em;
}
.dashboard .opt-detail .opt-text {
	font-size: 26px;
	font-weight: bold;
	line-height: 1em;
}
.dashboard .opt-detail section {
	margin-bottom: 35px;
}
@media (min-width: 1660px) {
	.dashboard .dashboard-chart-number {
		height: 360px;
	}	
}
.dashboard .tbl-activity-feed {
	/*max-height: 412px;*/
	overflow: auto;
}
.dashboard .activity-feed .see-more {
	display: inline-block;
	margin-top: 15px;
	cursor: pointer;
}
.dashboard .activity-feed .see-more span {
	border-bottom: 2px solid #c2c2c2;
}
.dashboard .activity-feed .see-more i {
	margin-left: 5px;
}
.dashboard .tbl-activity-feed .re-table {
	/*min-width: 1067px;*/
}
.dashboard table thead tr th {
	font-size: 22px;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(1),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(1) {
	width: 8%;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(2),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(2) {
	width: 24%;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(3),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(3) {
	width: 10%;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(4),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(4) {
	width: 17%;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(5),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(5) {
	width: 29%;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(6),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(6) {
	width: 12%;
}
.dashboard .tbl-activity-feed table thead tr th:nth-child(2),
.dashboard .tbl-activity-feed table thead tr th:nth-child(3),
.dashboard .tbl-activity-feed table thead tr th:nth-child(4),
.dashboard .tbl-activity-feed table thead tr th:nth-child(5),
.dashboard .tbl-activity-feed table thead tr th:nth-child(6),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(3),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(4),
.dashboard .tbl-activity-feed table tbody tr td:nth-child(6) {
	text-align: center;
}
.dashboard .dashboard-keyword {
	text-align: center;
	height: 628px;
}
/*.dashboard .dashboard-keyword .dashboard-block-title {
	margin-top: 35px;
}*/
.dashboard .dashboard-keyword .dashboard-keyword-thumb {
	margin-top: 58px;
	margin-bottom: 40px;
	height: 152px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.dashboard .dashboard-keyword .dashboard-keyword-thumb img {
	max-width: 100%;
}
.dashboard .dashboard-keyword > p {
	margin-top: 40px;
	margin-bottom: 5px;
	font-size: 26px;
	font-weight: bold;
}
.dashboard .keyword-table {
	overflow: auto;
}
.dashboard .keyword-table table {
	min-width: 245px;
}
.dashboard .keyword-table .re-table {
	margin-bottom: 0;
}
.dashboard .keyword-table table thead tr th:nth-child(1),
.dashboard .keyword-table table tbody tr td:nth-child(1) {
	width: 55%;
	text-align: left;
}
.dashboard .keyword-table table thead tr th:nth-child(2),
.dashboard .keyword-table table tbody tr td:nth-child(2) {
	width: 45%;
	text-align: right;
}
.dashboard .keyword-table table tbody tr td {
	font-size: 22px;
}
.dashboard .keyword-table table tbody tr td:nth-child(2) {
	color: #74c37f;
	font-weight: bold;
}
.dashboard .compaigns-table {

}
.dashboard .compaigns-table .table-scrollable {
	overflow: auto;
	height: 570px;
}
/*.dashboard .compaigns-table table {
	min-width: 600px;
}*/
.dashboard .compaigns-table table thead tr th:nth-child(1),
.dashboard .compaigns-table table tbody tr td:nth-child(1) {
	width: 45%;
}
.dashboard .compaigns-table table thead tr th:nth-child(2),
.dashboard .compaigns-table table tbody tr td:nth-child(2) {
	width: 35%;
}
.dashboard .compaigns-table table thead tr th:nth-child(3),
.dashboard .compaigns-table table tbody tr td:nth-child(3) {
	width: 20%;
}
.dashboard .archive-shorturl .archive-shorturl-figure {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	color: #74c37f;
	transform: translateY(-60%);
}
.dashboard .archive-shorturl-content {
	position: relative;
	text-align: center;
	margin: 40px 0 40px;
}
.dashboard .archive-shorturl .archive-shorturl-figure .number,
.dashboard .archive-shorturl .archive-shorturl-figure .text {
	font-weight: bold;
	line-height: 1em;
}
.dashboard .archive-shorturl .archive-shorturl-figure .number {
	font-size: 77px;
}
.dashboard .archive-shorturl .archive-shorturl-figure .text {
	font-size: 26px;
}
.dashboard .mlps-content {
	position: relative;
	text-align: center;
	margin: 40px 0 40px;
}
.dashboard .mlps .mlps-figure {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	color: #578ca5;
	transform: translateY(-60%);
}
.dashboard .mlps .mlps-figure .number,
.dashboard .mlps .mlps-figure .text {
	font-weight: bold;
	line-height: 1em;
}
.dashboard .mlps .mlps-figure .number {
	font-size: 77px;
}
.dashboard .mlps .mlps-figure .text {
	font-size: 26px;
}
/*----------------------------- / Dashboard Page -----------------------------*/

/*----------------------------- Compaign Page -----------------------------*/
.compaign {
	color: #5c5c5c;
}
.compaign .compaign-filter {
	margin: 18px 0 14px 0;
}
.compaign .compaign-filter .select-compaign,
.compaign .compaign-filter .select-fillter,
.compaign .compaign-filter .compaign-search {
	margin-bottom: 10px;
}
.compaign .compaign-search {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.compaign .compaign-search input {
	width: auto;
	flex: 1 0 auto;
}
.compaign .compaign-search i {
	padding: 10px;
	flex: 0 0 auto;
	cursor: pointer;
}
.compaign .compaign-search i:nth-child(2) {
	margin-left: 10px;
    font-size: 18px;
}
.compaign .compaign-search i:nth-child(3) {
	font-size: 18px;
}
/*.compaign-table table {
	min-width: 1447px;
}*/
/*.compaign-table table tr th:nth-child(1),
.compaign-table table tr td:nth-child(1) {
	width: 8%;
}
.compaign-table table tr th:nth-child(2),
.compaign-table table tr td:nth-child(2) {
	width: 20%;
}
.compaign-table table tr th:nth-child(3),
.compaign-table table tr td:nth-child(3) {
	width: 14%;
}
.compaign-table table tr th:nth-child(4),
.compaign-table table tr td:nth-child(4) {
	width: 6%;
}
.compaign-table table tr th:nth-child(5),
.compaign-table table tr td:nth-child(5) {
	width: 6%;
}
.compaign-table table tr th:nth-child(6),
.compaign-table table tr td:nth-child(6) {
	width: 10%;
}
.compaign-table table tr th:nth-child(7),
.compaign-table table tr td:nth-child(7) {
	width: 22%;
}
.compaign-table table tr th:nth-child(8),
.compaign-table table tr td:nth-child(8) {
	width: 10%;
}
.compaign-table table tr th:nth-child(9),
.compaign-table table tr td:nth-child(9) {
	width: 4%;
}*/
.compaign-table table tr th:nth-child(4),
.compaign-table table tr th:nth-child(5),
.compaign-table table tr th:nth-child(7),
.compaign-table table tr th:nth-child(8),
.compaign-table table tr th:nth-child(9) {
	text-align: left;
}
.compaign-table table tr td:nth-child(4),
.compaign-table table tr td:nth-child(5),
.compaign-table table tr td:nth-child(8),
.compaign-table table tr td:nth-child(9) {
	text-align: center;
}
/*----------------------------- / Compaign Page -----------------------------*/

/*----------------------------- Compaign Report Page -----------------------------*/
.compaign-report {
	color: #5c5c5c;
}
.compaign-report-chart {
	overflow: auto;
}
.compaign-report .options p {
	margin-bottom: 5px;
}
.compaign-report .date-range {
	text-align: right;
}
@media screen and (max-width: 767px){
	.compaign-report .date-range {
		text-align: left;
	}
	.compaign-report .date-range .reportrange {
		float: left !important;
	}
}
.compaign-report .date-range .reportrange {
	display: inline-block;
}
.compaign-report .select-list .form-control {
	border-radius: 9px;
	cursor: pointer;
}
.compaign-report #highchart_1 {
	overflow: auto;
}
.compaign-report .highcharts-container {
	min-width: 800px;
}
.compaign-report .compaign-report-table {
	margin: 80px 0;
}
.compaign-report .compaign-report-table table {
	min-width: 800px;
}
.compaign-report .compaign-report-table table thead tr th,
.compaign-report .compaign-report-table table tbody tr td {
	white-space: normal;
	vertical-align: middle;
	word-wrap: normal;
}
.compaign-report .compaign-report-table table thead tr th:nth-child(1),
.compaign-report .compaign-report-table table tbody tr td:nth-child(1) {
	width: 15%;
}
.compaign-report .compaign-report-table table thead tr th:nth-child(2),
.compaign-report .compaign-report-table table tbody tr td:nth-child(2) {
	width: 30%;
}
.compaign-report .compaign-report-table table thead tr th:nth-child(3),
.compaign-report .compaign-report-table table tbody tr td:nth-child(3) {
	width: 15%;
}
.compaign-report .compaign-report-table table thead tr th:nth-child(4),
.compaign-report .compaign-report-table table tbody tr td:nth-child(4) {
	width: 15%;
}
.compaign-report .compaign-report-table table thead tr th:nth-child(5),
.compaign-report .compaign-report-table table tbody tr td:nth-child(5) {
	width: 25%;
}
.compaign-report .compaign-report-table table thead tr th:nth-child(2),
.compaign-report .compaign-report-table table thead tr th:nth-child(3),
.compaign-report .compaign-report-table table thead tr th:nth-child(4),
.compaign-report .compaign-report-table table thead tr th:nth-child(5),
.compaign-report .compaign-report-table table tbody tr td:nth-child(2),
.compaign-report .compaign-report-table table tbody tr td:nth-child(3),
.compaign-report .compaign-report-table table tbody tr td:nth-child(4),
.compaign-report .compaign-report-table table tbody tr td:nth-child(5) {
	text-align: center;
}
/*----------------------------- / Compaign Report Page -----------------------------*/

/*----------------------------- /Modal -----------------------------*/
.sr-modal {
	color: #5c5c5c;
	padding-left: 0;
}
.sr-modal .inner-modal {
	padding-left: 50px;
}
@media screen and (max-width: 767px){
	.sr-modal .inner-modal {
		padding-left: 0;
	}
}
.sr-modal .strong {
	font-weight: bold;
}
.sr-modal p {
	margin: 15px 0;
}
.sr-modal .modal-header {
	border: none;
}
.sr-modal .modal-content {
	border-radius: 4px;
}
.sr-modal .modal-content .modal-title {
	margin-bottom: 22px;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
/*----------------------------- /Modal -----------------------------*/

.edit-name-icon{
	margin-bottom: 5px;
    margin-left: 5px;
}

.edit-name-icon img{
	width: 15px;
	margin-bottom: 3px;
}

.timepicker .input-group-addon{
	border-color: #5c5c5c !important;
}

.help-block {
            font-style: italic;
            font-size: 1.5rem;
            /*color: #8f8f8f;*/
            color: rgb(143,143,143);
}
.row-subscriber .uk-active .subscriber-item.greenbox:hover {
    background-color: #74c37f !important;
}
.row-subscriber .uk-active .subscriber-item.bluebox:hover {
    background-color: #578ca5 !important;
}
.campaign-simon-cancel{
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.increments-indicator {
    display: block;
}
    #cppNameDisplay:hover
{
    color: #000000;
    cursor: pointer;	
    text-decoration: underline;	
}

.message-hr{
	height:5px;border:none;color:#dedede;background-color:#dedede;	
}

