@charset "UTF-8";
/* CSS Document */
 @font-face {
	font-family: 'Conv_ufonts.com_helvetica-condensed-thin';
	src: url('../fonts/ufonts.com_helvetica-condensed-thin.eot');
	src: local('â˜º'), url('../fonts/ufonts.com_helvetica-condensed-thin.woff') format('woff'), url('../fonts/ufonts.com_helvetica-condensed-thin.ttf') format('truetype'), url('../fonts/ufonts.com_helvetica-condensed-thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{padding:0px; margin:0px; background:#f1f2f2;}
.menu{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color:#333;}
.menu a{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color:#333; text-decoration:none;}
.menu a:hover{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color:#333; text-decoration:none;}
.border-bot{border-bottom:#CCC solid 1px;}
.text12{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color: #414042; text-align:left; line-height:24px;}
.text11{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:11pt; font-weight:normal; color: #414042; text-align:left; line-height:22px;}
.heading{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:14pt; font-weight:normal; color: #808285; text-align: justify; line-height:24px;}
.tittle{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color: #56585A; line-height:20px; text-decoration:none;}
.tittle a{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color: #56585A; line-height:20px;  text-decoration:none;}
.tittle a:hover{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:12pt; font-weight:normal; color: #56585A;  line-height:20px; text-decoration:underline;}
.tittle1{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:14pt; font-weight:normal; color: #56585A; line-height:20px; text-decoration:none;}
.tittle1 a{font-family:"Conv_ufonts.com_helvetica-condensed-thin", sans-serif; font-size:14pt; font-weight:normal; color: #56585A; line-height:20px;  text-decoration:none;}
.contactmain{width:100%;border:0px solid; height:auto;}
.contactcontent{width:65%;border:0px solid; height:400px; }
.contactname{width:28%; height:25px; border:0px solid; float:left;  padding-bottom: 3px;
    padding-top: 3px; padding-left:15px; text-align:left;}
.contactinput{width:67%; height:25px; border:0px solid; float:right;  padding-bottom: 3px;
    padding-top: 3px;}
.ontactnamecomment{width:67%; height:160px; border:0px solid; float:right;  padding-bottom: 3px;
    padding-top: 3px;}
	.contactnamecomment{width:28%; height:160px; border:0px solid; float:left;  padding-bottom: 3px;
    padding-top: 3px; padding-left:15px; text-align:left;}