<thead>
			    <tr>
			        <td width="50%">
						<a href="https://www.siremobile.com"><img src="https://www.siremobile.com/public/sire/images/emailtemplate/logo.jpg" alt=""></a>
					</td>
			     	<td style="text-align: right; color: #5c5c5c; font-size: 11px;">
						<!--- <p>Trouble seeing this email? <a href="<cfoutput>#content.ROOTURL#</cfoutput>/public/sire/pages/contact-us">Click here</a></p>--->
						<p>Add <a href="mailto:support@siremobile.com">support@siremobile.com</a> to your contacts</p>
					</td>
			    </tr>
</thead>