* {
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: .5em;
    margin-top: .5em;
}

ul p,ol p,ul ul,ul dt,ul dd,dd label,ul input,dd select,p label,table p {
    font-size: 1em;
}

ol,ul {
    list-style: none;
}

body {
    font: 62.5%/1.4 Lucida Grande,Lucida Sans Unicode;
}