#messageInfoWrap {
    margin: 0 -20px;
}

.messageInfoFields {
    background: #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 0 10px 0;
    position: relative;
    padding: 15px;
    width: 617px;
}

.messageInfoFields .dropdown {
    text-transform: none;
}

.messageInfoFields .field {
    overflow: hidden;
}

.messageInfoFields .field LABEL {
    color: #666;
    float: left;
    font: normal 16px/25px "Helvetica",Helvetica,Arial,sans-serif;
    width: 150px;
}

.messageInfoFields .field INPUT {
    background: #fff;
    border: 1px solid #999;
    font: normal 16px/25px "Helvetica",Helvetica,Arial,sans-serif;
    padding: 0 0 0 2px;
    width: 400px;
    height: 25px;
    margin: 0;
}

.messageInfoFields .field.required LABEL .indicator {
    color: #666;
    font: normal 30px/1px "Helvetica",Helvetica,Arial,sans-serif;
    position: relative;
    left: 5px;
    top: 11px;
}

.messageInfoFields #interval {
    width: 32px;
}

.messageInfoFields .intervalMessage {
    color: #666;
    font: normal 13px "Helvetica",Helvetica,Arial,sans-serif;
    margin-left: 5px;
}

.messageInfoFields.referenceName {
    margin-left: 4px;
    position: relative;
    vertical-align: bottom;
    height: 94px;
    width: 292px;
}

.messageInfoFields.referenceName .field INPUT {
    width: 250px;
    margin: 5px 0 6px 0;
}

.messageInfoFields.referenceName #subLabel {
    font-size: 12px;
    margin-left: 5px;
}

.messageInfo {
    display: inline-block;
    width: 650px;
}

.messageInfoHeader {
    color: #666;
    font: normal 16px/25px "Helvetica",Helvetica,Arial,sans-serif;
    margin: 0 0 7px 5px;
}

a.dropdown {
    background: #fff url(../../images/compose/controlsDropdownArrowLarge.gif) no-repeat 100% 50%;
    border: 1px solid #919191;
    color: black;
    display: block;
    font: normal 16px/25px "Helvetica",Helvetica,Arial,sans-serif;
    height: 25px;
    padding-left: 2px;
    text-decoration: none;
}

a.dropdown:hover {
    background-color: #fff;
}

#campaignDisplay {
    float: left;
    width: 400px;
}

#campaignDisplay.missingInfo {
    border: 3px solid #af392b;
    line-height: 21px;
    height: 23px;
    margin: 0 -2px;
    width: 398px;
}

#campaignsList {
    border: 1px solid #919191;
    border-top: none;
    padding: 0;
    width: 403px;
}

#campaignsList li {
    border-top: 1px solid #919191;
}

#campaignsList li a {
    width: 394px;
}

#campaignsList li .campaignInfo {
    padding: 5px;
    width: 384px;
}

#campaignsList li .campaignInfo .label {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 5px;
}

#updateMissingInfo {
    margin: 5px 0 0 148px;
}

.instructionLink {
    float: right;
    line-height: 3em;
}

#messageWorkAreaWrapper {
    float: left;
    position: relative;
    border: 5px solid #f2f2f2;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 970px;
}

#messageWorkAreaWrapper table {
    border-collapse: separate;
}

#messageWorkArea {
    width: 968px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#messageWorkArea #topMessageWrapper {
    text-align: center;
    margin: 0 auto;
}

#messageWorkArea #topMessageWrapper>table {
    text-align: left;
    margin: 0 auto;
}

#messageWorkArea img:-moz-broken {
    -moz-force-broken-image-icon: 1;
    height: 24px;
    width: 24px;
}

.messageSettings .ui-accordion-content {
    padding: 5px 10px;
}

.messageSettings .row label {
    width: 10em;
}

#textVersion {
    background: #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
    margin: 0 -20px 10px -20px;
    position: relative;
    padding: 15px;
}

#textVersion .waitMessaging {
    margin: -50px -50px 0 0;
    position: absolute;
    right: 357px;
    top: 170px;
}

#textVersion .field button {
    margin: 0;
}

#textVersion .field .info {
    float: left;
    padding: 50px 0 0 0;
    width: 150px;
}

#textVersion .field textarea {
    background: #fff;
    border: 1px solid #999;
    margin: 0;
    height: 323px;
    max-width: 732px;
    width: 732px;
}

.moreInfo {
    margin: 5px 0 0 5px;
    position: absolute;
}

.moreInfo span {
    background: url(../../images/compose/dialogSprites.png) no-repeat -14px 0;
}

.tooltipContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100001;
}

.tooltipContainer .body {
    background: #fff url(../../images/compose/helpIcon_grey.png) no-repeat 5px 5px;
    border: 1px solid #ababab;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 5px 5px 25px;
    position: relative;
    z-index: 2;
    width: 381px;
}

.tooltipContainer .body p {
    font: normal 12px/16px "Helvetica",Helvetica,Arial,sans-serif;
    color: #666;
    text-transform: none;
    margin: 0;
    padding: 0;
}

.tooltipContainer .body p a,.tooltipContainer .body p a:link,.tooltipContainer .body p a:active,.tooltipContainer .body p a:visited {
    color: #333;
    text-decoration: underline;
}

#tooltip .body p a:hover {
    color: #000;
    text-decoration: underline;
}

.tooltipContainer span.border {
    background: #d9d9d9;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    position: absolute;
    bottom: -3px;
    left: -3px;
    right: -3px;
    top: -3px;
    z-index: 1;
}

.tooltipContainer span.arrow {
    background: url(../../images/compose/tooltipArrow.png) no-repeat 10px 0;
    height: 11px;
    padding: 0 100px 10px 10px;
    margin: -1px 0 0 0;
    width: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 3;
}

.referenceName span.tooltipHelp {
    margin-left: 266px;
    margin-top: -27px;
}

#textVersion .arrow {
    background: url(../../images/compose/textVersionArrow.gif) no-repeat;
    display: block;
    height: 112px;
    position: absolute;
    left: 14px;
    top: -63px;
    width: 138px;
    z-index: 1;
}

.waitMessaging {
    display: none;
    background: #bababa url(../../images/compose/thinkingLarge_grey.gif) no-repeat 50% 13px;
    border: 5px solid #e5e5e5;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    height: 115px;
    width: 150px;
}

.waitMessaging p {
    font: normal 16px/18px "Helvetica",Helvetica,Arial,sans-serif;
    color: #fff;
    margin: 0;
    padding: 80px 10px 0 10px;
    text-align: center;
}

#sendTestMessageDialog {
    width: 275px;
}

#sendTestMessageDialog form {
    clear: both;
    padding: 10px 20px;
}

#sendTestMessageDialog form .field label {
    display: none;
}

#sendTestMessageDialog form .field input {
    width: 200px;
}

#sendTestMessageDialog form .field.error input {
    width: 243px;
}

.messageInfoFields .messaging {
    float: left;
    margin-left: 10px;
}

.messageInfoFields .messaging div {
    margin: 0;
}

.messageInfoFields .messaging div p {
    height: 19px;
    line-height: 21px;
}

#sendTestMessageDialog .messaging {
    margin: 10px 0 0 -93px;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 186px;
}

#messageCover {
    display: none;
    height: 100%;
    padding-bottom: 130px;
    position: fixed;
    left: 0;
    top: -130px;
    width: 100%;
    z-index: 999;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}

.welcomeMessage {
    color: #666;
    font: normal normal normal 16px/25px "Helvetica",Helvetica,Arial,sans-serif;
}

.welcomeMessage .indicator {
    color: #666;
    font: normal 30px/1px "Helvetica",Helvetica,Arial,sans-serif;
    position: relative;
    left: 5px;
    top: 11px;
}

.welcomeMessage .checkboxLabel {
    font: normal 14px/1px "Helvetica",Helvetica,Arial,sans-serif;
    color: #269;
    width: 500px;
}

.cke_skin_iContact table.cke_dialog {
    border-collapse: separate;
    border-spacing: 2px;
}

.button.buttonSizeSmall {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    color: #fff;
}

.popupWarningClose {
    margin-left: 15px;
}

#viewportMessages {
    bottom: 10px;
    position: fixed;
    right: 20px;
    width: 240px;
    z-index: 999;
}

#insertMergeFieldDialog {
    width: 230px;
}

#insertMergeFieldDialog .container {
    padding: 10px 15px;
    font: 62.5%/1.4 Lucida Grande,Lucida Sans Unicode;
}

#insertMergeFieldDialog .container select {
    width: 204px;
}

#insertMergeFieldDialog .actions {
    float: right;
    padding: 0 10px 4px 10px;
}

#insertMergeFieldDialog .cancel {
    display: inline-block;
}

#insertMergeFieldDialog .insert {
    display: inline-block;
}