<cfset ALERT_TRIGGER_SEND_NOW = 1/>
<cfset ALERT_TRIGGER_SIGN_UP = 2/>
<cfset ALERT_TRIGGER_SIGN_IN = 4/>
<cfset ALERT_TRIGGER_LOW_CREDIT = 8/>
<cfset ALERT_TRIGGER_NO_CREDIT = 16/>
<cfset ALERT_TRIGGER_DECLINED_CREDIT = 32/>

<cfset ALERT_SEND_TO_WEB_ALERT = 1/>
<cfset ALERT_SEND_TO_EMAIL = 2/>
<cfset ALERT_SEND_TO_SMS = 4/>

<cfset ALERT_EXPIRE_DEFAULT = 'INTERVAL 1 YEAR'/>