<cfset PublicPath = "session/sire/pages" />
<cfset BrandShort = "SIRE" />
<cfset UPLOAD_PATH = "/public/sire/upload/" />
<cfset UPLOAD_ORG_LOGO_PATH = UPLOAD_PATH&"org_logo/" />
<cfset EDITOR_UPLOAD_PATH = UPLOAD_PATH&"editor" />
<cfset CSS_UPLOAD_PATH = UPLOAD_PATH&"cpp_css" />
<cfset UPLOAD_MLP_IMAGE_PATH = UPLOAD_PATH&"mlp_image/" />
<cfset TEMPLATE_PICKER_PATH = "/session/sire/images/template-picker" />
<cfset MAXUPLOADIMAGE = 4000000 />
<cfset _UserCustomFields = ['First Name', 'Email Address', 'Date of Birth', 'Zip code']>
<cfset _CampaignCategory = ['List Building', 'Surveys', 'Marketing', 'Alerts', 'Advanced', 'General', 'Keyword Response']>

<cfset _CampaignTypeOPTIN = 1>
<cfset _CampaignTypeSMS = 2>
<cfset _CampaignTypeAlert = 3>
<cfset _CampaignMFA = 4>
<cfset _CampaignSurvey = 5>
<cfset _CampaignVote = 6>

<!--- AMAZONE S3 --->
<cfset _S3ACCESSKEYID = "AKIAIDJTNAPZREBKPIVA">
<cfset _S3SECRETACCESSKEY = "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">
<cfset _S3IMAGEROOTURL = "https://s3-us-west-1.amazonaws.com">
<cfset _S3IMAGEURL = _S3IMAGEROOTURL&"/siremobile/org_logo/">
<cfset _S3IMAGEFOLDERPATCH = "siremobile/org_logo">
<cfset _S3MLPIMAGEFOLDERPATH = "siremobile/mlp_image/" />
<cfset _S3CSVCONTACTFOLDERPATH = "siremobile/contactstring_csv_dev" />

<cfset _S3URL = "https://s3-us-west-1.amazonaws.com">

<cfset _SALT = "dFG$u!o" />
<cfset _NAMEREG = "^[a-zA-Z0-9_()-]+$" />


<cfif structKeyExists(SESSION, "UserId")>

	<cfif application.Env EQ false>
		<cfset _USERS3BUCKET = _S3MLPIMAGEFOLDERPATH&"SETAQA_"&hash(SESSION.UserId&_SALT) />

		<cfset _USERUPLOADFOLDER = ExpandPath(UPLOAD_MLP_IMAGE_PATH)&"SETAQA_"&hash(SESSION.UserId&_SALT)>

		<cfset _S3CSVCONTACTFOLDERPATH = "siremobile/contactstring_csv_dev" />
	<cfelse>
		<cfset _USERS3BUCKET = _S3MLPIMAGEFOLDERPATH&hash(SESSION.UserId&_SALT) />

		<cfset _USERUPLOADFOLDER = ExpandPath(UPLOAD_MLP_IMAGE_PATH)&hash(SESSION.UserId&_SALT)>

		<cfset _S3CSVCONTACTFOLDERPATH = "siremobile/contactstring_csv" />
	</cfif>

</cfif>
	
<cfif FINDNOCASE(CGI.SERVER_NAME,'siremobile.com') GT 0 OR FINDNOCASE(CGI.SERVER_NAME,'www.siremobile.com') GT 0 OR FINDNOCASE(CGI.SERVER_NAME,'cron.siremobile.com') GT 0 OR FINDNOCASE(CGI.SERVER_NAME,'api.siremobile.com') GT 0 >
  	<cfset SupportEMailFromNoReply = "noreply@esiremobile.com" />
    <cfset SupportEMailFrom = "support@siremobile.com" />
    <cfset SupportEMailServer = "smtp.gmail.com" />
    <cfset SupportEMailUserName = "support@siremobile.com" />
    <cfset SupportEMailPassword = "SF927$tyir3" />
    <cfset SupportEMailPort = "465" />
    <cfset SupportEMailUseSSL = "true" />
    <cfset DefaultWaitlistTemplate = 124 >
    <!--- FACBOOK GRAPH --->
    <cfset ClientId = '1459699194150724' > <!--- Is  App ID of facebook Graph --->
    <cfset ClientSecret = 'ff7ef27c929804a15ebad4f2c67e903a' > <!---  Is App Secret of facebook Graph --->

<cfelse>
	<cfset SupportEMailFromNoReply = "noreply@siremobile.com" />
	<cfset SupportEMailFrom = "sirevn1@gmail.com" />
	<cfset SupportEMailServer = "smtp.gmail.com" />
	<cfset SupportEMailUserName = "sirevn1@gmail.com" />
	<cfset SupportEMailPassword = "set@2016" />
	<cfset SupportEMailPort = "465" />
	<cfset SupportEMailUseSSL = "true" />
	<cfset DefaultWaitlistTemplate = 124 >
	<!--- FACBOOK GRAPH --->	  
    <cfset ClientId = '1459699194150724' > <!--- Is  App ID of facebook Graph --->
    <cfset ClientSecret = 'ff7ef27c929804a15ebad4f2c67e903a' > <!---  Is App Secret of facebook Graph --->
</cfif>	

<cfparam name="PUBLICKEY" default="6Lf2VhATAAAAABpoIA53pWBxHw3A-72kfKCM7oYP"/>

<cfif FINDNOCASE(CGI.SERVER_NAME,'awsqa.siremobile.com') GT 0>
	<cfset _TwConsumerKey = 'fUtxPWMSX1CXjLmOJ6n8ZHt4N' />
	<cfset _TwConsumerKeySecret = 'tUUQ3GFMlVssPxuTi8ph8P2kQGDSuFoCcHP4RL8q99etwMYIQ1' />

	<cfset _GGClientId = '831410271377-btq8pamb651dtla9cqll5dvgultrrqpt.apps.googleusercontent.com' />

	<cfset _WDClientId = '8cf5ad6b-3901-43c2-a0c5-15dd8e102010' />

	<cfset _YHClientId = 'dj0yJmk9alFBaXJNYk04MjZIJmQ9WVdrOVVFa3dRbTVyTkc4bWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1lZg--' />

<cfelseif FINDNOCASE(CGI.SERVER_NAME,'staging.siremobile.com') GT 0>
	<cfset _TwConsumerKey = 'YC4f0MgZf3kX5s3At13LgqHAi' />
	<cfset _TwConsumerKeySecret = 'L7lGKqUjiCcoqqgTebMT6ouipksRgjU0IHxxzlwy9rXMhVT0E8' />

	<cfset _GGClientId = '831410271377-5pkme5ofsbdu7seoqk2a66kkfoqdftd9.apps.googleusercontent.com' />

	<cfset _WDClientId = 'cfa5ef33-a2dc-4bb2-9a99-779b5cd63cb1' />

	<cfset _YHClientId = 'dj0yJmk9WnhoVXNLaXhuT2ZyJmQ9WVdrOWRYSnNPRXhPTjJVbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD02Yg--' />

<cfelseif FINDNOCASE(CGI.SERVER_NAME,'sire.lc') GT 0>
	<cfset _TwConsumerKey = 'pAgQ9kvs9Pd6rDgyHKxcDnn1n' />
	<cfset _TwConsumerKeySecret = 'QiDQgM2AbPczYCpJSw6Oj1nToXVsMiwmySG8gCtRlrPRHnGrAc' />

	<cfset _GGClientId = '904786028003-3pk0df2kmik0jtqi41h445ne3u8lcda2.apps.googleusercontent.com' />

	<cfset _WDClientId = '58670566-6a6b-4a15-88d4-4e6f3af67d29' />

	<cfset _YHClientId = 'dj0yJmk9WVJhZ3R1YXk5YzdBJmQ9WVdrOU9WVldXbGxvTldjbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD0yYQ--' />

<cfelse>
	<cfset _TwConsumerKey = 'E4Rsmg9N051ARFeQdk6RMwprf' />

	<cfset _TwConsumerKeySecret = 'x97KzYJvscYXZduniK9o9F8tHF3CdpcMGJ4jNNh1fBq46jwqvV' />

	<cfset _GGClientId = '831410271377-bk185jufnqq09peoq8cp5a41sqfmt2n3.apps.googleusercontent.com' />

	<cfset _WDClientId = '6397dd4b-c7af-42ec-ab90-c7134ddcaf92' />

	<cfset _YHClientId = 'dj0yJmk9c0NpNVpNUzc5c0RlJmQ9WVdrOWIyVlJNRmxWTm5NbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1lZA--' />
	<cfset _UPLOAD_S3_CSV_URL = "https://s3-us-west-1.amazonaws.com/siremobile/contactstring_csv/" />
</cfif>

<cfset _GGScope = 'https://www.google.com/m8/feeds' />
<cfset _WDScope = 'https://outlook.office.com/contacts.read' />
<cfset _RedirectURL = "https://" & "#CGI.SERVER_NAME#" & "/public/sire/pages/" />

<cfset _IMGTHUMBWIDTH = 200 />
<cfset _IMGTHUMBHEIGHT = 200 />
<!--- Image max size in B --->
<cfset _IMGMAXSIZE = 10485760 />
<cfset _CSVMAXSIZE = 312572800 />
<cfset _ACCEPTEDIMAGETYPE = ['png', 'jpg', 'jpeg', 'gif', 'svg'] />
<cfset UPLOAD_CSV_PATH = UPLOAD_PATH&"contactstring_csv" />
<cfset _ACCEPTEDCSVTYPE = ['csv']/>

<cfset _CPONESELECTAF=[]/>
<cfset _CPONESELECTAF[1]=['NOFORMAT','No Formatting']/> 
<cfset _CPONESELECTAF[2]=['NUMERIC','1 for ..., 2 for ..., 3 for... ']/>
<cfset _CPONESELECTAF[3]=['NUMERICPAR','1) ..., 2) ..., 3) ... ']/>
<cfset _CPONESELECTAF[4]=['ALPHA','A for ..., B for ..., C for ...']/>
<cfset _CPONESELECTAF[5]=['ALPHAPAR','A) ..., B) ..., C) ...']/>
<cfset _CPONESELECTAF[6]=['HIDDEN','Hidden']/>

<cfset _CPINTEVALTYPE_1=[]>
<cfset _CPINTEVALTYPE_1[1]=['SECONDS','Seconds(s)']/> 
<cfset _CPINTEVALTYPE_1[2]=['MINUTES','Minute(s)']/> 
<cfset _CPINTEVALTYPE_1[3]=['HOURS','Hour(s)']/> 


<cfset _CPINTEVALTYPE_2=[]>
<cfset _CPINTEVALTYPE_2[1]=['DAYS','Day(s)']/> 
<cfset _CPINTEVALTYPE_2[2]=['WEEKS','Week(s)']/> 
<cfset _CPINTEVALTYPE_2[3]=['MONTHS','Month(s)']/> 

<cfset _IMRNR = []/>
<cfset _IMRNR[1]=[0,'No Retry']/> 
<cfset _IMRNR[2]=[1,'Retry 1 time']/> 
<cfset _IMRNR[3]=[2,'Retry 2 times']/> 
<cfset _IMRNR[4]=[3,'Retry 3 times']/> 


<!--- define server list for nagios api. Call in nagios-report.cfc--->
<cfset _NAGIOSERVERLIST = []/>

<cfset _NAGIOSERVERLIST[1] = {'ServerName':'CronJob-New', 'ServerType':'WEB'}/>
<!--- <cfset _NAGIOSERVERLIST[2] = {'ServerName':'MasterDB', 'ServerType':'DB'}/>
<cfset _NAGIOSERVERLIST[3] = {'ServerName':'ORO-CRM', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[4] = {'ServerName':'PRO_NAT', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[5] = {'ServerName':'Pro-SMSMT', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[6] = {'ServerName':'Pro_API', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[7] = {'ServerName':'Pro_API_156', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[8] = {'ServerName':'Pro_Haproxy', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[9] = {'ServerName':'Pro_SMSMO', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[10] = {'ServerName':'SlaveDB', 'ServerType':'DB'}/>
<cfset _NAGIOSERVERLIST[11] = {'ServerName':'Socker_Server', 'ServerType':'WEB'}/>
<cfset _NAGIOSERVERLIST[12] = {'ServerName':'webserver', 'ServerType':'WEB'}/> --->

<cfset _ARRNAGIOSERVERLIST = ['CronJob-New','MasterDB','ORO-CRM','PRO_NAT','Pro-SMSMT','Pro_API','Pro_API_156','Pro_Haproxy','Pro_SMSMO','SlaveDB','Socker_Server','webserver']/>

<cfset _NAGIOSUSERNAME = 'nagiosadmin'/>
<cfset _NAGIOSPASSWORD = 'dK@r34o$D3'/>

<!--- define nagios status --->
<cfset _NAGIOSSTATUS = {} />
<cfset _NAGIOSSTATUS['1'] = 'Pending' />
<cfset _NAGIOSSTATUS['2'] = 'OK' />
<cfset _NAGIOSSTATUS['4'] = 'Warning' />
<cfset _NAGIOSSTATUS['8'] = 'Unknow' />
<cfset _NAGIOSSTATUS['16'] = 'Critical' />

<!--- 
Fraud status
0 is wait 
1 is approval 1 time
2 is approval forever
3 is reject 1 time
 --->
