/* CSS Document */

.SBStageItem .Obj1Ball
{
	font-size:9px;
	color:#D4DF23;
	display:inline;
	border:none;
	/*top:16px;
	left:10px;*/
	top:29px;
	left:12px;
	z-index:100;
	position:absolute;		
}
    	
.SBStageItem .Obj2Ball
{
	font-size:9px;
	color:#335C9E;
	display:inline;
	border:none;
	/*top:16px;
	left:28px;*/
	top:29px;
	left:32px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj3Ball
{
	font-size:9px;
	color:#E82E15;
	display:inline;
	border:none;
	/*top:16px;
	left:46px;*/
	top:29px;
	left:52px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj4Ball
{
	font-size:9px;
	color:#8E1883;
	display:inline;
	border:none;
	/*top:34px;
	left:10px;*/
	top:50px;
	left:12px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj5Ball
{
	font-size:9px;
	color:#E3891D;
	display:inline;
	border:none;
	/*top:34px;
	left:28px;*/
	top:50px;
	left:32px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj6Ball
{
	font-size:9px;
	color:#098B47;
	display:inline;
	border:none;
	/*top:34px;
	left:46px;*/
	top:50px;
	left:52px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj7Ball
{
	font-size:9px;
	color:#58290A;
	display:inline;
	border:none;
	/*top:52px;
	left:10px;*/
	top:70px;
	left:12px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj8Ball
{
	font-size:9px;
	color:FFFFFF;
	display:inline;
	border:none;
	/*top:52px;
	left:28px;*/
	top:70px;
	left:32px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj9Ball
{
	font-size:9px;
	color:#D4DF23;
	display:inline;
	border:none;
	/*top:52px;
	left:46px;*/
	top:70px;
	left:52px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .ObjStarBall
{
	font-size:9px;
	color:#8E1883;
	display:inline;
	border:none;
	/*top:70px;
	left:10px;*/
	top:90px;
	left:12px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .Obj0Ball
{
	font-size:9px;
	color:#335C9E;
	display:inline;
	border:none;
	/*top:70px;
	left:28px;*/
	top:90px;
	left:32px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .ObjPoundBall
{
	font-size:9px;
	color:#E3891D;
	display:inline;
	border:none;
	/*top:70px;
	left:46px;*/
	top:90px;
	left:52px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .ObjErrBall
{
	font-size:9px;
	color:#E82E15;
	display:inline;
	border:none;
	/*top:100px;
	left:3px;*/
	top:114px;
	left:7px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .ObjNRBall
{
	font-size:9px;
	color:#D4DF23;
	display:inline;
	border:none;
	/*top:100px;
	left:27px;*/
	top:114px;
	left:32px;
	z-index:100;
	position:absolute;		
}

.SBStageItem .ObjDefBall
{
	font-size:8px;
	color:#00AA00;
	display:inline;
	border:none;
	/*top:100px;
	left:51px;*/
	top:114px;
	left:56px;
	z-index:1;
	position:absolute;		
}
.SBStageItem .ObjLiveBall
{
	border: medium none;
    display: inline;
    font-size: 9px;
    left: 37px;
    position: absolute;
    top: 38px;
    z-index: 100;	
}
.SBStageItem .ObjMachineBall
{
	border: medium none;
    display: inline;
    font-size: 9px;
    left: 37px;
    position: absolute;
    top: 59px;
    z-index: 100;	
}
.SBStageItem .ObjIcon
{
	font-size:8px;
	color:#00AA00;
	display:inline;
	border:none;
	/*top:100px;
	left:51px;*/
	top:32px;
	left:24px;
	z-index:1;
	position:absolute;		
}
.SBStageItem .ObjIcon24
{
    border: medium none;
    color: #00AA00;
    display: inline;
    font-size: 8px;
    left: 55px;
    position: absolute;
    top: 17px;
    z-index: 1;
}
.SBStageItem .ObjTextDecription
{
	font-size:10px;
	color:#ffffff;
	top:75px;
	left:7px;
	z-index:1;
	position:absolute;
	width:71px;
}
.SBStageItem .ObjTextDecription24
{
	color: #FFFFFF;
    font-size: 9px;
    left: 25px;
    position: absolute;
    top: 5px;
    width: 100px;
    z-index: 1;
}
.ObjTextDecription{
	text-align: center;
}
