<cfset PublicPath = "public">
<cfset SessionPath = "session">

<cfif cgi.server_port_secure eq '1'>
	<cfset LOCALPROTOCOL = "https">
    <cfset LocalProtocol="https">
<cfelse>
	<cfset LOCALPROTOCOL = "http">
	<cfset LocalProtocol="http">
</cfif>

<cfset localDirPath = "testservice">


<!--- Including the port is here is killing my load balancer and server setup--->
<!---<cfif CGI.SERVER_PORT NEQ 80>--->
<!--- For Seta VN only --->
<cfif CGI.SERVER_PORT EQ 8080>
	<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#:#CGI.SERVER_PORT#">
<cfelse>
	<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">
</cfif>

<cfset siteDomain = "#CGI.SERVER_NAME#">

<cfif len(trim(localDirPath)) neq 0>
	<cfset rootUrl = "#rootUrl#/#localDirPath#">
</cfif>   


<cfset APPLICATION.accessKeyId = "1553B678833359F7ECAC">
<cfset APPLICATION.secretKey = "28BA2D6e5E4D55BB2905245B7f1B385Bd9b/0Cb6">
