.dialerContainer{
	background: #214771;
	height: 600px;
	width: 300px;
	margin-top: 20px;
	font-family: Helvetica;
	color: #fff;	
}

.dialerRounder{
	background: url('../images/dialer/rounder.png') no-repeat ;
	width: 300px;
	height: 81px;
}

.dialerRounder .surveyName{
	float: left;
	margin: 8px 0 0 15px;
	color: #000;
	font-size: 12px;
}
.dialerRounder .surveyReady{
	float: right;
	margin: 8px 15px 0 0 ;
	color: #52b848;
	font-size: 12px;
}

.dialerRounder #voiceText{
	width: 285px;
	float: left;
	font-size: 36px;
	line-height: 45px;
	color: #575757;
	margin-left: 15px;
}

.numberBg{
	background: url('../images/dialer/numberBg.png') repeat-x ;
	width: 300px;
	height: 63px;
}

.numberCell{
	height: 63px;
	width: 100px;
	text-align: center;
	float: left;
	cursor: pointer;
}

.numberDial{
	font-size: 36px;
	font-weight: bold;
}

.alphabetDial{
	font-size: 12px;
}

.voiceDetail{
	font-weight: bold;
	margin: 10px 0 5px 20px;
	font-size: 12px;
}

.quetionPlaying{
	margin: 0 0 10px 20px;
	font-size: 10px;
}

.surveyButton{
	width: 184px;
	line-height: 31px;
	margin: 5px 0 0 60px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

.startSurvey{
	background: url('../images/dialer/startSurvey.png') no-repeat ;
}

.stopSurvey{
	background: url('../images/dialer/stopSurvey.png') no-repeat ;
}

.restartSurvey{
	background: url('../images/dialer/restartSurvey.png') no-repeat ;
}

.sliderContailer{
	width: 300px;
	margin: 15px 0 0px 5px;
}

.micIcon{
	width: 33px;
	height: 33px;
	background: url('../images/dialer/micIcon.png') no-repeat ;
	float: left;
}

.volumeIcon{
	width: 33px;
	height: 33px;
	background: url('../images/dialer/volumeIcon.png') no-repeat ;
	float: left;
}

.voiceSlider{
	width: 249px;
	height: 12px;
	background: url('../images/dialer/sliderVoice.png') no-repeat ;
	float: left;
	margin: 11px 0 0 3px;
	border: none;
}

#messageVirtual{
	height: 100px;
	color: red;	
	margin: 10px 0;
	overflow: scroll;
}

.sliderContailer .voiceSlider .ui-slider-handle{
	background: url('../images/dialer/sliderCicle.png') no-repeat ;
	height: 27px;
	width: 27px;
	border: none;
}

.sliderContailer .voiceSlider .ui-state-hover, .sliderContailer .voiceSlider .ui-state-hover{
	background-color: none !important;
}

.jp-playlist{
	display: none;
}