.emailBox{
	margin: 5px 0 10px 5px;
}

.emailBox ol{
	margin-left: 20px;
}

.emailBox a{
	text-decoration: underline;
}

#emailContent{
	width:95%;
	border:1px solid;
	padding: 15px;
}
.emailBoxTitle{
	font-weight: bold;
	font-size: 14px;
	margin: 5px 0 5px 5px;
}

.contentItem {
	margin: 5px;	
}

.contentItem .label {
	display: inline-block;
	width: 65px;
	font-weight: bold;	
}

.contentItem .control {
	display: inline-block;
}

.contentItem .control input[type=text]{
	height: 25px;
	width:350px; 
}

.contentItemText{
	margin: 10px 0 10px 70px;
}

.contentItemText .bold{
	font-weight: bold;
}

.contentItemText .normal{
	width: 825px;
}

.buttonBar{
	margin:20px 30px 50px 0;
	float: right;
	height: 50px
}