.surveyLaunchContent{
	padding:10px;
	margin:10px;
}

.surveyLaunchRow{
	margin:5px 0 10px;
}

form#surveyInfo input[type=radio]{
	padding:0;
	margin:0;
}

form#surveyInfo span{
	margin-left:15px;
}

.weblinkText{
	color: blue;
}
.weblinkLink{
	color: blue;
}

.surveyLaunchRow p{
	margin:0;
}

.websiteOption span{
	color: #87a624;
	font-size:20px;
	font-weight: bold;
}

.widthHeight{
	width:600px;
	border-bottom: 1px solid #d8d8d8
}

.widthHeight label{
	font-weight:bold;
}

.widthHeight span{
	color: #7b7175
}

.surveyOption p{
	margin-left:60px;
}

#websiteContent{
	width:600px;
	border:1px solid #87A624;
	border-radius:10px;
	padding:10px;
}

.reminder{
	height:80px;
	width:500px;
	padding: 10px;
}

.reminder p span {
    font-weight: bold;
}

.reminder ol {
	margin: 10px 0;
}

.reminder ol li{
	line-height: 22px;
}

.reminder ol li span{
	font-weight:bold;
}

.emailLinkTitle{
	font-weight:bold;
}

.surveyLaunchRow p.emailLink{
	margin-top: 15px;
}

.emailLink a{
    }

.recipientsMessage{
	width:303px;
	float:left;
}

.interested{
	margin-left:25px;
}

.interested span{
	display: block;
    float: left;
    font-weight: bold;
    width: 110px;
}

.marginleft20{
	margin-left:20px;
}