.ui-tabs-active{
	background-color:#FFFFFF !important;
	color:#fff !important;
}

.ui-tabs-active a{
	color:#0888d1 !important;
}
.ui-widget-content{
	border: 1px solid #AAAAAA;
	width: 700px;
}
.ui-tabs .ui-tabs-nav{
	background: #DDDDDD;	
}
.ui-tabs .ui-tabs-panel{
	border:0px;
	min-height:300px;
	height:auto;
	padding-top:40px;
	padding-left:0px;
}
.ui-tabs-nav{
	height: 38px;
	border-left-width: 0;
    border-right-width: 0;
}
.ui-tabs .ui-tabs-nav li{
 	bottom: 0;
    height: 30px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 9px;
    top: 0;
    width: 170px;	
	background: #f0f0f0;
}
.ui-tabs .ui-tabs-nav li.ui-state-default{
	border-bottom:0px;
}
.ui-tabs .ui-tabs-nav li a{
	padding: 0;
	line-height:30px;
    width: 168px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	/*font-family:Verdana;*/
}
.ui-tabs-nav a,ui-tabs-nav a:link
{
	height: 28px;
	color:#666666;	
	border-bottom:1px solid #AAA;
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
	border-right:1px solid #AAA;
	border-radius:5px 5px 0 0;	
}
.ui-tabs-nav .ui-tabs-active a{
	border-bottom:0px !important;
}
#tabs .ui-tabs-nav li a{
	width: 88px;
}
#tabs .ui-tabs-nav li{
	width: 90px;
}
#tabs .ui-tabs .ui-tabs-panel{
	padding-left:0px;
}
.header-bar{
	background-color: #0888D1;
    border: 1px solid #0E88CD;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    /*font-family: Verdana;*/
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 700px;
	text-indent:10px;
}
.datatables_wrapper{
	width:680px;
}
table.dataTable td{
	border-right: 1px solid #CCC;
	font-size:13px;
	color:#666;
}

table.dataTable th{
	border-right: 1px solid #CCC;
}

table.dataTable tr.odd{
	background-color:#f3f9fd !important;
}
.border_top_none{
	border-radius: 0 0;
}
.m_top_20{
	margin-top:20px;
}
.statistic-bold{
	color:#0888d1;
	/*font-family:Verdana;*/
	font-size:48px;
	word-wrap:break-word;
	table-layout:fixed;
	width:680px;
	text-align:center;
	border-spacing:10px 0px;
}
.footer-text{
	color:#666666;
	/*font-family:Verdana;*/
	font-size:14px;
}
.none-border-bottom td{
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:0px none;
	background-color:#f0f0f0;
}
.none-border-top th{
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:0px none;
	background-color:#f0f0f0;
	height:75px;
}
.spacing_10{
	border-spacing:10px 0px;
}
#ActiveSessionTbl{
	width:680px;
	margin-top:0px;
}
tr.tr-Session:hover td{
	cursor:pointer;
	background: yellow;
}
table.dataTable thead tr {
    background-color: #0888D1;
    border-bottom: 2px solid #FA7D29;
    color: #FFFFFF;
    height: 23px;
    line-height: 23px;
}
.datatables_paginate {
    background-color: #EEEEEE;
    border-radius: 0 0 3px 3px;
    border-top: 2px solid #0888D1;
    box-shadow: 3px 4px 3px -3px rgba(0, 0, 0, 0.5);
    float: right;
    height: 33px !important;
    padding-top: 10px;
    text-align: right;
    width: 100%;
}
.datatables_info {
    color: #666666;
    font-size: 14px;
    left: 12px;
    position: relative;
    top: 32px;
}
.paginate_button {
    background-color: #46A6DD !important;
    border: 1px solid #0888D1 !important;
    box-shadow: 0 1px 0 #2AA3E9 inset;
    color: #FFFFFF !important;
    padding: 3px 8px !important;
}
a.paginate_active {
    background-color: #0888D1 !important;
    border: 1px solid #0888D1 !important;
    border-radius: 5px;
    box-shadow: 0 1px 0 #2AA3E9 inset;
    color: #FFFFFF !important;
    cursor: pointer;
    padding: 3px 8px !important;
}
.hide{
	display:none;
}
.avatar{
	padding: 0px 8px 0px 10px !important;
}
.icon_img{
	margin-left: 9px;
}

/*container*/
.chat-container .session_id,
.chat-container .mobile_number,
.chat-container .carrier,
.chat-container .keyword{
	font-size:10px;
	float:left;
	margin-right:8px;
}

.chat-container .subheader{
	width:690px;
	background-color:#EEEEEE;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	line-height: 30px;
	height: 30px;
	padding-left:10px;
}

.chat-container .session-live{
	float:left;
}

.chat-container .end-btn,
.chat-container .transfer-btn,
.chat-container .give-back-btn{
	float:right;
	margin-left:3px;
}

.chat-container .session-live{
	font-size:12px;
	color:#666;
}

.chat-container .time-server{
	color:#000;
}

.chat-container .btn-agent-admin{
	text-transform: none;
	padding: 2px 10px;
	/*font-family: "Verdana",geneva,sans-serif;*/
	font-size:12px;
	height: 15px;
 	line-height: 14px;
	box-shadow: none;
}

.clear-fix{
	clear:both;
}

.chat-container .message-row{
	width:690px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #CCC;
	padding-left:10px;
	line-height: 40px;
 	min-height: 40px;
}

.chat-container .time-send{
	color: #666666;
    float: left;
    font-size: 12px;
    line-height: 40px;
    width: 20%;
}
.chat-container .agent-name{
	float:left;
	width:20%;
	color:#0888d1;
	font-weight:bolder;
}
.chat-container .message-content{
	float:left;
	width:60%;
}
.chat-container .footer-chat{
	width:690px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #CCC;
	border-top:2px solid #0888d1;
	background-color:#EEEEEE;
	padding-left:10px;
	line-height: 40px;
	min-height: 40px;
}

.chat-container .send-message-txt{
	float:left;	
	width:80%;
}
.chat-container .insert-btn{
	float:left;
	width:10%;	
}
.chat-container .send-btn{
	float:left;
	width:10%;	
}

.chat-container .message-txt{
	width:95%;
	margin-top: 3px;
	height: 25px;
	border: 1px solid #CCCCCC;
	text-align:right;
}

.chat-container .insert-btn>.btn-agent-admin,
.chat-container .send-btn>.btn-agent-admin{
	height:25px;
	line-height:25px;
	margin:3px 5px;
}

.chat-container .agent-message{
	background-color:#f2f9fd;
}

.chat-container .agent-message>.agent-name{
	color:#fa7d29;
}

.btn-danger{
	background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*end container*/

/*view container*/
.view-chat-container .subheader{
	width:690px;
	background-color:#EEEEEE;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	line-height: 30px;
	min-height: 30px;
	padding-left:10px;
	color:#999;
}

.view-chat-container .subheader .number-active-session{
	color:#000;
}

.view-chat-container .session-id{
	float:left;
	font-size:12px;
	color:#666;
}

.view-chat-container .message-row{
	width:690px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #CCC;
	padding-left:10px;
	line-height: 40px;
 	min-height: 40px;
}

.view-chat-container .session-id{
	color: #0888d1;
    float: left;
    font-size: 12px;
	/*font-family:"Verdana";*/
	font-weight:bold;
    line-height: 40px;
    width: 50%;
}

.view-chat-container .suspend-session{
	float: left;
    width: 22%;
}

.view-chat-container .status-session{
	float: left;
    width: 22%;
}

.view-chat-container .status-session{
	margin-top:5px;
}

.view-chat-container .hide-session{
	background: url("../../images/arrow_right.png") no-repeat scroll right center rgba(0, 0, 0, 0);
	float: left;
    width: 3%;
	cursor:pointer;
}

.view-chat-container .show-session{
	background: url("../../images/arrow_down.png") no-repeat scroll right center rgba(0, 0, 0, 0);
	float: left;
    width: 3%;
	display:none;
	cursor:pointer;
}

.view-chat-container .footer-chat{
	width:690px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #CCC;
	border-top:2px solid #0888d1;
	background-color:#EEEEEE;
	padding-left:10px;
	line-height: 40px;
	min-height: 40px;
}

.view-chat-container>.header-bar{
	float:left
}
.view-chat-container>.header-bar>.user_name{
	float:left;
	font-size:11px;
}
.view-chat-container .send-message-txt{
	width:80%;
}
.view-chat-container .insert-btn{
	float:left;
	width:10%;	
}
.view-chat-container .send-btn{
	float:left;
	width:10%;	
}

.view-chat-container .message-txt{
	width:95%;
	margin-top: 3px;
	height: 25px;
	border: 1px solid #CCCCCC;
	text-align:right;
}

.view-chat-container .insert-btn>.btn-agent-admin,
.view-chat-container .send-btn>.btn-agent-admin{
	height:25px;
	line-height:25px;
	margin:3px 5px;
}

.view-chat-container .cancel-btn>.btn-agent-admin,
.view-chat-container .suspend-btn>.btn-agent-admin{
	float:right;
	height: 25px;
    line-height: 25px;
    margin: 3px 5px;
	padding: 2px 10px;
	font-size:12px;	
	text-transform: none;
}

.view-chat-container .agent-message{
	background-color:#f2f9fd;
}

.view-chat-container .agent-message>.agent-name{
	color:#fa7d29;
}
/*end view container*/

/*small container*/

.small-chat-container > .header-bar{
	width:386px;
}
.small-chat-container .session_id,
.small-chat-container .mobile_number,
.small-chat-container .carrier,
.small-chat-container .keyword{
	font-size:10px;
	float:left;
	margin-right:8px;
}

.small-chat-container .subheader{
	width:376px;
	background-color:#EEEEEE;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	line-height: 30px;
	height: 30px;
	padding-left:10px;
}

.small-chat-container .session-live{
	float:left;
}

.small-chat-container .end-btn,
.small-chat-container .transfer-btn,
.small-chat-container .give-back-btn{
	float:right;
	margin-left:3px;
}

.small-chat-container .session-live{
	font-size:12px;
	color:#666;
}

.small-chat-container .time-server{
	color:#000;
}

.small-chat-container .btn-agent-admin{
	text-transform: none;
	padding: 2px 10px;
	/*font-family: "Verdana",geneva,sans-serif;*/
	font-size:12px;
	height: 15px;
 	line-height: 14px;
	box-shadow: none;
}

.small-chat-container .message-row{
	width:376px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #CCC;
	padding-left:10px;
	line-height: 40px;
 	min-height: 40px;
}

.small-chat-container .agent-name{
	float:left;
	width:40%;
	color:#0888d1;
	font-weight:bolder;
}
.small-chat-container .message-content{
	float:left;
	width:60%;
}
.small-chat-container .footer-chat{
	width:376px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #CCC;
	border-top:2px solid #0888d1;
	background-color:#EEEEEE;
	padding-left:10px;
	line-height: 40px;
	min-height: 40px;
}

.small-chat-container .send-message-txt{
	float:left;
	width:80%;
}
.small-chat-container .send-btn{
	float:left;
	width:20%;	
}

.small-chat-container .message-txt{
	width:94%;
	margin-top: 3px;
	height: 25px;
	border: 1px solid #CCCCCC;
	text-align:left;
}
.small-chat-container .send-btn>.btn-agent-admin{
	height:25px;
	line-height:25px;
	margin:3px 5px;
}

.small-chat-container .agent-message{
	background-color:#f2f9fd;
}

.small-chat-container .agent-message>.agent-name{
	color:#fa7d29;
}

.small-chat-container > .header-bar > .user-lbl{
	float:left;
	width: 60%;
}
.small-chat-container > .header-bar > .close-btn{
	border-radius: 2px;
    float: right;
    height: 18px;
    margin-right: 5px;
	margin-top: 5px;
    width: 20px;
	cursor:pointer;
	background-image:url("../../ire/images/mon-close-btn.png");
}

.small-chat-container > .header-bar > .large-btn{
	border-radius: 2px;
    float: right;
    height: 18px;
    margin-right: 5px;
    width: 20px;
	margin-top: 5px;
	cursor:pointer;
	display:none;
	background-image:url("../../ire/images/mon-large-btn.png");
}

.small-chat-container > .header-bar > .small-btn{
	border-radius: 2px;
    float: right;
    height: 18px;
    margin-right: 5px;
    width: 20px;
	margin-top: 5px;
	cursor:pointer;
	background-image:url("../../ire/images/mon-small-btn.png");
}

/*end small container*/