




<cfoutput>



				<div style="display:inline; text-align:left;" >                              
                	<img src="#rootUrl#/#publicPath#/help/images/icons/doc-help-icon32x32.png" width="32" height="32" style="float:left; padding-right: 10px;"/>
                    
                    <h2 style="line-height:32px; color: ##f8853b;">XML Control Strings</h2>
               
               		<div style="padding-left:42px; padding-top:15px; width:700px; text-align:left;">
               
		            	<p style="font-weight:300;">XML control Strings are used to store information necessary to control fulfillment. </p>
               
               		</div>
                	
                  
               		<cfinclude template="history.cfm">
                    
                	
                  
                 </div>
                    
                    
</cfoutput>