

	

    </div>

	<div id="BSCRight">
    	<!---<div id="BSHelp2">
        	<cfinclude template="../../../../Session/account/dsp_help.cfm">        
        </div>--->
        
        <!---<div id="BSCFTE2">
        	<cfinclude template="../../../../Session/CFTE/dsp_CFTE.cfm">        
        </div>--->
            
    </div>
    
</div>	

<div id="BSFooter">

    <div id="BSFooterCenter">
    	<hr />	
        
        <div id="FooterMenu">    
            <a>About</a>
            .
            <a>Find Us</a>
            .
            <a>Privacy</a>
            .
            <a>Terms of Use</a>
        </div>
        
        <div id="FooterNotice">
        	MessageBroadcast &copy; 2012       
        </div>
        
	</div>
</div>

    
</body>

<script type="text/javascript">
// Copyright ReactionX, LLC 2001, 2012
</script>

</html>