.cf_table {
	border: 1px solid #CCC; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
}

.cf_table td {
	padding: 4px; 
	margin: 3px; 
	border: 1px solid #ccc;
}
.cf_table th {
	background-color: gray;
	color: #FFF; 
	font-weight: bold;
}

.cf_table_paper{
	margin:10px;
}

