
/**
 * style
 */
.clear
{
	clear: both;
}
a {
	text-decoration: none;
}
/**
 * icon 25x25
 */
.campaign_running
{
	background: url(images/new_icons/campaign_running.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.campaign_not_running
{
	background: url(images/new_icons/campaign_not_running.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.run_25_25
{
	background: url(images/new_icons/run.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.stop_25_25
{
	background: url(images/new_icons/stop.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.cancel_25_25
{
	background: url(images/new_icons/cancel.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.schedule_25_20
{
	background: url(images/new_icons/schedule.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.Report_25_20
{
	background: url(images/new_icons/responses.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.View_25_20
{
	background: url(images/new_icons/view.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.Preview_25_25
{
	background: url(images/new_icons/preview.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.edit_25_25
{
	background: url(images/new_icons/edit.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.delete_25_20
{
	background: url(images/new_icons/delete.png) no-repeat center;
	height: 20px;
	width: 25px;
}
.Launch_25_25
{
	background: url(images/new_icons/launch.png) no-repeat center;
	height: 25px;
	width: 25px;
}

.details_25_25
{
	background: url(images/new_icons/details.png) no-repeat center;
	height: 25px;
	width: 25px;
}
.responses_25_24
{
	background: url(images/new_icons/responses.png) no-repeat center;
	height: 24px;
	width: 25px;
}

.errors_20_25
{
	background: url(images/new_icons/errors.png) no-repeat center;
	height: 25px;
	width: 20px;
}
/**
 * icon 18 18
 */
.img18_18
{
	height: 18px;
	width: 18px;
	cursor: pointer;
	border:none;
}
.img18_18 img
{
	border:none;
}
.add_18_18
{
	background: url(images/add.png) no-repeat center;
}
.check_18_18
{
	background: url(images/check.png) no-repeat center;
}
.api_18_18
{
	background: url(images/api.png) no-repeat center;
}
.minus_18_18
{
	background: url(images/minus.png) no-repeat center;
}
.details_18_18
{
	background: url(images/details.png) no-repeat center;
}
.view_18_18
{
	background: url(images/view.png) no-repeat center;
}
.edit_18_18
{
	background: url(images/edit.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.question_18_18
{
	background: url(images/action_edit_questions.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.schedule_18_18
{
	background: url(images/schedule.png) no-repeat center;
}
.delete_18_18
{
	background: url(images/delete.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.delete2_18_18
{
	background: url(images/delete2.png) no-repeat center;
}

.run_18_18
{
	background: url(images/run.png) no-repeat center;
}
.stop_18_18
{
	background: url(images/stop.png) no-repeat center;
}
.cancel_18_18
{
	background: url(images/cancel.png) no-repeat center;
}

.errors_18_18
{
	background: url(images/errors.png) no-repeat center;
}
.launch_18_18
{
	background: url(images/launch.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.preview_18_18
{
	background: url(images/preview.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.responses_18_18
{
	background: url(images/responses.png) no-repeat center;
}
.campaign_running_18_18
{
	background: url(images/campaign_running.png) no-repeat center;
	height: 18px;
	width: 18px;
}
.campaign_not_running_18_18
{
	background: url(images/campaign_not_running.png) no-repeat center;
	height: 18px;
	width: 18px;
}

.campaign_done_18_18
{
	background: url(images/campaign_done.png) no-repeat center;
	height: 18px;
	width: 18px;
}

.showlog_18_18
{
	background: url(images/btn_logs.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.permission_18_18
{
	background: url(images/btn_permissions.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.changeRole_18_18
{
	background: url(images/btn_roles.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.changeBalance_18_18
{
	background: url(images/btn_money.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.block_user_18_18
{
	background: url(images/acct_suspended.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.active_user_18_18
{
	background: url(images/acct_active.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.add_filter_18_18
{
	background: url(images/add_filter.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.delete_filter_18_18
{
	background: url(images/remove_filter.png) no-repeat center;
	margin: 0px 3px 0px 3px;
}
.img24_24 {
    cursor: pointer;
    height: 24px;
    width: 24px;
}
.response_18_18
{
	background: url(images/responses.png) no-repeat center;
	margin: 0px 3px 0px 3px;
	height: 18px;
	width: 18px;
}
.save_18_18
{
	background: url(images/save.png) no-repeat center;
	margin: 0px 3px 0px 3px;
	height: 18px;
	width: 18px;
}
/* Filter Style */
#filter_rows .row {
	padding-left: 24px;
	margin: 6px;
	vertical-align: middle;
}
#filter_rows .row .filter_key,
#filter_rows .row .filter_operator,
#filter_rows .row .filter_val{
	padding: 3px;
	line-height: 20px;
	vertical-align: middle;
	height: 28px;
}
#filter_rows .row .filter_val{
	width: 40%;
	height: 20px;
}
#filter_rows .row .button, #filter_rows .row .button a{
	height: auto;
	vertical-align: middle;
	text-decoration: none;
	display: inline-table;
	margin-left: 6px;
}
#filter_submits{
	margin: 12px;
	padding-left: 18px;
}
#filter_submits .ui-corner-all{
	box-shadow: none !important;
	border-radius: 0px !important;
	background-color: #FFF !important;
	border: 1px solid #9C9C9C !important;
	line-height: 20px !important;	
	color: #000 !important;
	font-weight: bold !important;
	padding: 3px 20px !important;
	margin-right: 12px !important;
	height: 30px !important;
}

.actions_filter_box{
	display: inline-table;
	width: 100%;
}
.actions_filter_box .filter_action, 
.actions_filter_box .filter_title{
	display: inline-table;
	width: auto;
}
.actions_filter_box .filter_title{
	margin-left: 30px;
}
.actions_filter_box .filter_action{
	float: right;
	margin-right: 5%;
}
.actions_filter_box #show_action{
	
}