@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }

@font-face {
	font-family: 'Conv_Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Helvetica45-Light';
	src: url('../fonts/helvetica45-light.eot');
	src: local('☺'), url('../fonts/helvetica45-light.woff') format('woff'), url('../fonts/helvetica45-light.ttf') format('truetype'), url('../fonts/helvetica45-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{ padding:0; margin:0;}
#main{width:100%; height:auto; padding:0; margin:0; font-family:Arial, "Helvetica", sans-serif; color:#424242;}
#content{width:970px; height:1372;; padding-top: 10px; margin:0; border:0px solid; border:0px solid;}
#content1{width:970px; height:1372;; padding-top: 10px; margin:0; border:0px solid; border:0px solid;}

.contentslid{/*width:970px;*/ height:auto; margin:0; border:0px solid; padding-top: 10px;
}
#contentmenu{width:970px; height:auto;   border:0px solid; }

#contentfooter{width:905px; height:auto; padding:0; margin-left:65px; border:0px solid;}
#contentblue{width:970px; height:auto; padding:0; margin:0; border:0px solid; border:0px solid; }


#logotop{width:970px; height:105px; padding:0; margin:0; border:0px solid;}
#logo{width:470px;   margin-top:35px; border:0px solid; float:left; text-align:left;}
#toll-icon{width:35px; height:36px; margin-top:58px; border:0px solid; float:left; margin-left: 288px; background-image:url(../images/toll-icon.png); background-repeat:no-repeat;}
#tollfree{width:176px;margin-top:59px; border:0px solid; float:left; font-family:Arial, "Helvetica", sans-serif; font-size:26px; color:#0085c8; height:25px;font-weight:normal;}

 
 


/*#headermenu  ul > li:hover{ list-style-type:none; display:inline; /*padding-left:20px; color:#fff; background:#0085c8;}*/

/*.menu{width: 300px; height: 25; font-size: 18px;}
  .menu li{list-style: none; float: left; margin-right: 4px; padding: 5px;}
  .menu li:hover, .menu li.active {
        background-color: #f90;}*/
/*#headermenu a:hover { list-style-type:none; display:inline; padding-left:20px; color:#fff;}*/


#homeiamge{width:100%; height:325px; padding:0; margin-top:5px; border:0px solid; background:#f4f4f4; padding-bottom:12px; padding-top:13px;}
#slideimage{width:970px; height:323px; padding:0;  border:0px solid; text-align:center; background-image:url(../images/FPO-Header.png);}
.panel,.flip
{
text-align:center;width:67px; height:24px; color:#FFF; 

}

.panelfull
{width:100%;
background:#0071BC;
color:#FFF;
height:auto;}
.panel
{
/*padding:50px;
*/display:none;
height:auto;
width:100%;
/*background:#0071BC;
*/color:#FFF;


box-shadow: 0px 3px 5px #939598;
}
#menu1panel,#menu1flip{text-align:center;width:130px; height:34px;  
/*padding-top:16px;
*/}
.menufull{
width:100%;
background:#0099cc;
color:#FFF;
height:150px;
}
#menu1panel1
{
display:none;
height:auto;
width:100%;
/*padding-top:10px;
*/color:#FFF;
box-shadow: 0px 3px 5px #939598;
}
#menu2panel2,#menu2flip{text-align:center;width:146px; height:34px;   

}
#menu2panel2
{
	display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;
}
#menu3panel3,#menu3flip{text-align:center;width:113px; height:34px;

}
#menu3panel3
{
display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;}
#menu4panel4,#menu4flip{text-align:center;width:44px; height:34px;

}
#menu4panel4
{
display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;}
#menu5panel5,#menu5flip{text-align:center;width:60px; height:34px;
}
#menu5panel5
{
display:none;
 color: #FFFFFF;
    height: 80px;
/*    padding-top: 10px;
*/    width: 100%;  box-shadow: 0px 3px 5px #939598;}
#toolmain{width:970px; height:auto;}
#toolheader{width:970px; height:42px; color:#F8853B; font-size:30px; padding-top:15px;text-align:center; font-weight:normal; font-family:'Conv_Helvetica45-Light';}
#toolimagemain{width:734px; height:250px;float:left; margin-left:127px;}
.toolimage{width:191px; height:217px; float:left; padding-top:30px;}

.toolimage a:hover{width:191px; height:217px; float:left; padding-top:30px; background-image:url(../images/Create-hover.png); background-repeat:no-repeat;}
.diverimage{ width:56px; height:47px; float:left; background-image:url(../images/divider.png); background-repeat:no-repeat; margin-top:100px; margin-left:10px; margin-right:10px; }

 .hover-create{width:191px; height:190px; float:left; padding-top:30px;  margin-top: 27px; background-image:url(../images/create.png); background-repeat:no-repeat;cursor:pointer; cursor:hand;}
	  #createclick{width:191px; height:190px; float:left; padding-top:30px;  display:none; }
	  .createpopup{height:108px;  width:180px; display:none;background-image:url(../images/Create-popUp.png); background-repeat:no-repeat; padding-top:10px;}
	  
 .hover-create1{width:191px; height:190px; float:left; padding-top:30px;  margin-top: 27px; background-image:url(../images/Collect.png); background-repeat:no-repeat; cursor:pointer; cursor:hand;}
	  #createclick1{width:191px; height:190px; float:left; padding-top:30px;  display:none; }
	  .createpopup1{height:108px; width:180px; display:none;background-image:url(../images/Create-popUp.png); background-repeat:no-repeat; padding-top:10px;}
	  
 .hover-create2{width:191px; height:190px; float:left; padding-top:30px;  margin-top: 27px; background-image:url(../images/Analyze.png); background-repeat:no-repeat; cursor:pointer; cursor:hand;}
	  #createclick2{width:191px; height:190px; float:left; padding-top:30px;  display:none; }
	  .createpopup2{height:108px; width:180px; display:none;background-image:url(../images/Create-popUp.png); background-repeat:no-repeat; padding-top:10px;}


#servicemain{width:970px; height:auto; float:left;}
#serviceheader{ color:#F8853B;
    font-size: 30px;
	/*letter-spacing:1px;*/
	text-align:center;
	font-family:'Conv_Helvetica45-Light';
    height: 50px;
    margin-bottom: 20px;
    margin-top: 27px;
    width: 860px;
	}
#serviceimagemain{width:890px; height:auto;float:left; margin-left:41px;   }
.serviceimage{width:250px; height:174px; float:left;}
.diverimagesevice{ width:2px; height:192px; float:left;margin-left:16px; background-color:#F8853B; margin-right:16px;}
#servicemainline{width:99.8%;  float:left; border:1px solid #0085c8; }
#footertopline{width:99.8%;  float:left; border:1px solid #F8853B; margin-top: -5px; }
#footerfull{width:100%;  float:left; border:0px solid #F8853B; height:auto; background:#606060; }


.firstcontentbox{width:250px; height:auto; border:0px solid; float:left; margin-left:22px; margin-right:22px;}
.contentheadertitle{width:250px; height:auto; border:0px solid; float:left;/* padding-bottom:10px;*/ font-size:20px; font-weight:bold; color:#F8853B; /*letter-spacing:1px;*/}
.contentheadertitle a{color:#F8853B; text-decoration:none; font-weight:normal;}

.contentheadercontent{width:230px; height:auto; border:0px solid; float:left; padding-top:15px; padding-bottom:30px; text-align:left; padding-left:19px; padding-right:10px; 
/*letter-spacing:1px;*/ line-height:16px; font-size:13px; font-weight:normal;}
#footer{width:970px; height:190px;;  float:left;  background:#606060;}
#footermain{width:970px; height:auto;float:left;}
.footertop{width:200px; height:auto; border:0px solid; float:left; margin-left:25px; margin-right:15px; text-transform:uppercase;}
.footerheader{width:200px; height:23px; border:0px solid; float:left; padding-top:30px; color:#FFF; text-align:left; font-size:16px; padding-bottom:10px; /*letter-spacing:1px;*/}

.footercontent{width:200px; height:23px; border:0px solid; float:left;  color:#FFF; text-align:left; font-size:10px; /*letter-spacing:1px;*/}


.footercontent a{color:#FFF; text-decoration:none; }
.footercontent a:hover{color:#F8853B; text-decoration:none; }
#login-bg{width:175px; height:195px; float:right; background-color:#2cb8e7; margin-right: 11px; margin-top: 8px;}
.login-text{font-family:Arial, Helvetica, sans-serif; font-size:18px; text-align:center; text-transform:uppercase; color:#FFF; padding-top:18px;}
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, "Helvetica", sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
.orange {
	color: #495fb5;
	border: solid 1px #e5a027;
	font-size:14px;
	font-family:Arial, "Helvetica", sans-serif;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcc11f), to(#fcc11f));
	background: -moz-linear-gradient(top,  #fcc11f,  #fcc11f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcc11f', endColorstr='#fcc11f');
	margin-top: 17px;
}
.orange:hover {
	color: #fff;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#eca030), to(#eca030));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eca030', endColorstr='#eca030');
}
.orange:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eca030', endColorstr='#eca030');
}

#inner-bg{
	width:100%;
	height:577px;
	background-color:#f8f8f8;
	margin-top: 6px;
	padding-bottom:25px;
	float:left;
	}
#inner-box{
	width:550px;
	height:auto;
	float:left;
	margin-left:10px;
}
#inner-box1{
	width:550px;
	height:auto;
	float:left;
	margin-left:56px;
}
.inner-main-hd{
	width:550px;
	color:#0085c8;
	font-size:30px;
	
	text-align:left;
	/*letter-spacing:2px;*/
	font-weight:normal;
	
  	padding-top:21px;
	padding-bottom:20px;
	float:left;
}
#inner-left-img{
	width:300px;
	height:615px;
	float:right;
	margin-top: 60px;
}
#inner-left-img1{
	width:300px;
	height:615px;
	float:left;
	margin-top: 67px;
}
.inner-txt{
	width: 606px;
	height:auto;
	font-size:13px;
	font-family:Arial, "Helvetica", sans-serif;

    text-align: left;
	font-weight:normal;
	float:left;
	text-align:left;
	/*letter-spacing:1px;*/
	line-height:18px;
	 margin-top: -13px;
	color:#424242;
}
.phonemain{ width:603px; height:90px; float:left;margin-top:10px;}
#phone-icon{
	width:55px;
	height:auto;
	background-image:url(../images/phone.png); background-repeat:no-repeat;
	padding-top:40px;
	margin-top:10px;
	float:left;
}
.phone-txt{
	font-family:Arial, "Helvetica", Verdana;
	
    text-align: left;
	/*letter-spacing: 1px;*/
	 width: 491px;
	padding-top:10px;
	height:auto;
	margin-left:65px;
	}
	.phoneheading{
	font-family:Conv_Helvetica45-Light;
	font-weight:normal;
    text-align: left;
	/*letter-spacing: 1px;*/
	float:left;
	/*padding-top:10px;*/
	}
#mobile-icon{
	width:50px;
	height:auto;
	background-image:url(../images/mobile.png); background-repeat:no-repeat;
	margin-top:10px;
    padding-top: 59px;
	float:left;
}
.mobile-txt{
	font-family:Arial, "Helvetica", sans-serif;
	width: 512px;
   line-height: 16px;
	/*letter-spacing: 1px;*/
	float:left;
	
	height:auto;
	/*margin-left: 50px;*/
	text-align:left;
	font-size:13px;
   
	}
	.learnmore{text-align:left;font-size:14px;float:left;
	width:100px; color:#F8853B;}
	.learnmore a{ color:#F8853B; text-decoration:none;}
#mail-icon{
	width:56px;
	height:auto;
	background-image:url(../images/mail.png); background-repeat:no-repeat;
	margin-top:10px; 
    padding-top: 59px;
	float:left;
}
.mail-txt{
	font-family:Arial, "Helvetica", sans-serif;
	padding-right: 235px;
    text-align: left;
	/*letter-spacing: 1px;*/
	}
#mail2-icon{
	width:56px;
	height:auto;
	background-image:url(../images/mail2.png); background-repeat:no-repeat;
	margin-top:10px;
    padding-top: 59px;
	float:left;
}
.mai2-txt{
	font-family:Arial, "Helvetica", sans-serif;
	padding-right: 235px;
    text-align: left;
	/*letter-spacing: 1px;*/
	}
#divider{
	width:100%;
	height:3px;
	background-color:#0085c8;
	margin-top: 14px;
	float:left;
}
#blue-box{
	width:100%;
	height:130px;
	background-color:#0085c8;
	margin-top: 14px;
	float:left;
}
#blue-box-text{
	width:970px;
	height:120px;
	font-family:Conv_Helvetica45-Light;
	color:#FFF;
	font-size:30px;
	text-align:left;
	/*letter-spacing:2px;*/
	line-height: 37px;
	padding-top: 20px;
	padding-left: 28px;
}
#plan-box{
	width:960px;
	height:auto;
	margin-top:30px;
	float:left;
	margin-left:10px;
	}
#plan-img{
	    background-image: url("../images/plan.png");
    background-repeat: no-repeat;
    float: left;
    height: 50px;

    padding-left: 75px;
    text-align: left;
    width: 886px;
	}
.plan-txt-hd{
	font-family:Arial, "Helvetica", sans-serif;
	color:#f98538;
	font-size:30px;
	/*letter-spacing:2px;*/
	
	}
.plan-txt{
	width:885px;
	height:auto;
	font-family:Arial, "Helvetica", sans-serif;
	
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	float:left;
	text-align: left;
	padding-bottom:22px;
	/*letter-spacing:1px;*/
	line-height:16px;
	padding-left:75px;
	
   
	}
.plan-line1{
	width:241px;
	height:28px;
	background-color:#bfbfbf;
	float:left;
	margin-left:8px;
}
.plan-line2{
	width:645px;
	height:28px;
	background-color:#bfbfbf;
	margin-left:4px;
	float:left;
}
.plan-line3{
	width:241px;
	height:28px;
	background-color:#eaeaea;
	float:left;
	margin-left:8px;
}
.plan-line4{
	width:645px;
	height:28px;
	background-color:#eaeaea;
	margin-left:4px;
	float:left;
}
#datatable{ width:100%; height:auto; float:left; padding-bottom:60px; padding-left: 75px;}
#plan1{ width:100%; height:auto;}
#end-footer{
	width:100%;
	height:7px;
	float:left;
	background-color:#FFF;
}

#copyright{
	width:877px;
	height:25px;
	float:left;
	text-align:center;
	text-decoration:none;
	font-size:11px;
	color:#FFF;
	background:#606060;
	font-family:Arial, "Helvetica", sans-serif;
	/*letter-spacing:1px;*/
}



