<!-- HTML TAG MUST BE CHANGED TO THIS --> 
<html itemscope itemtype="http://schema.org/link">
<head>
	
	<!-- START: Google+ TITLE, DESCRIPTION, AND IMAGE URL FOR POST -->
	<meta itemprop="name" content="Customer Preference Portal">
	<meta itemprop="description" content="Customer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference PortalCustomer Preference Portal">
	<meta itemprop="image" content="http://eventbasedmessaging.cu.cc/devjlp/EBM_DEV/public/images/mb/banner-img3.jpg">
	<!-- END -->

<style media="screen" type="text/css">


#fb-count {
	width: 79px;
	overflow: hidden;
	height: 20px;
	float:left;
	display:inline;
	margin-right: 15px;
}

#fb-no-count {
	width: 52px;
	overflow: hidden;
	height: 20px;
	float:left;
	display:inline;
	margin-right: 15px;
}

#t-count {
	width: 76px;
	overflow: hidden;
	height: 20px;
	float:left;
	display:inline;
	margin-right: 15px;
}

#t-no-count {
	width: 56px;
	overflow: hidden;
	height: 20px;
	float:left;
	display:inline;
	margin-right: 15px;
}

#gplus-count {
	width: 59px;
	overflow: hidden;
	height: 20px;
	float:left;
	display:inline;
	margin-right: 15px;
}

#gplus-no-count {
	width: 32px;
	overflow: hidden;
	height: 20px;
	float:left;
	display:inline;
	margin-right: 15px;
}


</style>
	
</head>

<p>Individual buttons</p>
	
<div id="fb-count">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" style="border:none; overflow:visible; width:450px;" allowTransparency="true"></iframe>
</div>

<div id="fb-no-count">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" style="border:none; overflow:visible; width:450px;" allowTransparency="true"></iframe>
</div>

<div id="t-count">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://google.com">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div id="t-no-count">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://google.com">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
</div>


<div id="gplus-count">
<g:plusone size="medium"></g:plusone>
</div>

<div id="gplus-no-count">
<g:plusone size="medium"></g:plusone>
</div>


<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>	
</html>