<cfcomponent extends="taffy.core.resource" taffy:uri="/796/mo" hint="MO response inbound for Syniverse">
		<cfinclude template="../../paths.cfm" >
	
	<cfset DeliveryServiceComponentPath = "">
	<cfinclude template="../../../../session/cfc/csc/constants.cfm" > <!--- Use one SMS constants in EBM so as not to confuse or miss any --->
	<cfinclude template="../../../../session/cfc/csc/inc_smsdelivery.cfm">
	<cfinclude template="../../../../session/cfc/csc/inc_ext_csc.cfm">
    <cfinclude template="../../../../session/cfc/csc/inc-billing-sire.cfm">
    
    
    <!--- 
	
	Method [POST] : Receiving an SMS
	This method is used when Aerialink delivers a message from an end user mobile phone or device to your application. The request is initiated by Aerialink
	
	Request
	The following request parameters are sent via an HTTP POST to the URL that you have defined in your connection/route. This can be configured or modified within the Aerialink Platform Portal.
	
	Parameters
	transactionGUID [string(36)]
	The globally unique transaction ID for the message.
	
	connectionGUID [string(36)]
	The globally unique identifier for the Aerialink network connection in your account which processed the transaction.
	
	source [string(15)]
	The source address for the message. This is the end user mobile phone which sent you the message.
	
	sourceCountry [string(255)]
	The registered country name for the number.
	
	sourceCountryCode [integer]
	The associated country code for the number.
	
	sourceCountryAbbreviation [string(2)]
	The two-letter country abbreviation (ISO 3166-1 alpha-2)
	
	destination [string(15)]
	The destination number that the end user sent the message to. This will match with a Short/Long Code configured on your account.
	
	messageText [string(160)]
	The SMS message text that the end user sent to your Short/Long Code. This is limited to the general standard of 160 characters unless concatenation is enabled on your account. In some cases your character limit may be less depending on your specific use case and configuration or a carrier limitation.
	
	concatenatedMessage [string(5)]
	true/false
	
	Optional Parameters
	sourceNational [string(15]
	The source address for the message in national format, excluding the country code. This is the end user mobile phone which sent you the message.
	
	udh [string(25)]
	Variable length defined inside the UDH itself
	
	concatenatedMessageReference [string(5)]
	The message reference for a given concatenated message group.
	
	concatenatedMessageSegments [integer]
	The total number of segments for a given concatenated message.
	
	concatenatedMessageSegmentNumber [integer]
	The specific message segment number for a given set of segments related to a concatenated message.
	
	concatenatedMessageSegmentHash [string(64)] - Important Note: This parameter will only be available on or after June 25, 2016.
	A unique SHA-256 hash that represents the source, destination, message text, total segments, and segment number for the specific segment of a concatenated message. This data can be used to validate a message without requiring an analysis of actual message content which may be restricted by customer privacy laws.
	
	Response (Synchronous or Aynchronous)
	Aerialink expects to receive an HTTP status code of 200 from your application server which confirms your receipt of the HTTP POST. If we do not receive this HTTP status code our network will continue to retry the callback to your application until the pre-defined expiration period.
	    
	--->
    
    
	<!---MBLox only support POST method, with only XMLDATA parameter--->
	<cffunction name="post" access="public" output="false" hint="Get response from Mosaic">
		<cfargument name="XMLDATA" TYPE="string" required="no" default=""/>
        <cfargument name="inpQAMode" TYPE="string" required="no" default="0"/>
		<cfargument name="smsfrom" TYPE="string" required="no" default="" hint="Senders phone number. The format of the phone number is E.164 compliant and has a structure: Country Code (cc = 1 to 3 digits) + National Number (maximum = 15 digits - cc digits)." />
		<cfargument name="smsto" TYPE="string" required="no" default="" hint="Content provider short code or long code. Long code max length could be 15 digits as per E.164." />
		<cfargument name="smsdate" TYPE="string" required="no" default="" hint="Date and time of the message" />
		<cfargument name="smsid" TYPE="string" required="no" default="" hint="Message Identifier generated by the Syniverse MES, unique to every message. Message retries will be presented with the same message ID." />
		<cfargument name="smsmsg" TYPE="string" required="no" default="" hint="SMS message body." />
		<cfargument name="network" TYPE="string" required="no" default="" hint="Operator Name (the name of the carrier)" />
		<cfargument name="encoding" TYPE="string" required="no" default="" hint="The character set of the incoming MO message (refer Appendix A)" />
			
		<cfset var dataout = {} />
		
		
		<cfset var NewThreadName = "MOReceiptThread_#CreateUUID()#" />
		
		<cfset dataout.RXRESULTCODE = "0" />
        <cfset dataout.TYPE = "" />
        <cfset dataout.MESSAGE = "" />
        <cfset dataout.ERRMESSAGE = "" />   
		<cfset dataout.MESSAGE = "NewThreadName=#NewThreadName#" />
		
		<!--- Run processing in thread so as not to backup delivery of messages --->
		<cfthread name="#NewThreadName#" action="run" XMLDATA="#XMLDATA#" inpQAMode="#inpQAMode#" smsfrom="#smsfrom#" smsto="#smsto#" smsdate="#smsdate#" smsid="#smsid#" smsmsg="#smsmsg#" network="#network#" encoding="#encoding#">
				
			<cfset var contactString = '' />
			<cfset var transactionId = '' />
			<cfset var carrier = '' />
			<cfset var shortCode = '' />
			<cfset var keyword = '' />
			<cfset var time = '' />
			<cfset var ServiceId = '' />
			<cfset var xmlDataString = '' />
			<cfset var ENA_Message = '' />
			<cfset var SubjectLine = '' />
			<cfset var TroubleShootingTips = '' />
			<cfset var ErrorNumber = '' />
			<cfset var AlertType = '' />
			<cfset var InsertToErrorLog = '' />
			<cfset var RetValQueueNextResponseSMS = '' />
			<cfset var RetValProcessNextResponseSMS = '' />
	        <cfset var DBSourceEBM = "Bishop"/> 
	        <cfset var UDHString = "">	
	        <cfset var RetValCheckForDuplicateMO = "" />
	        <cfset var RetValInsertMessagePart = ''>
	        <cfset var inpContactStringBuff = "" />
	        <cfset var RetValLogDuplicateResponseSMS = '' />
	 
	  		<!--- Todo: How in the heck is taffy killing session between paths.cfm and here ?!?--->
	        <!--- Bandaid fix so incluses have a Session.DBSourceEBM--->
	        <cfif inpQAMode GT 0 >
	               
	            <cfset DBSourceEBM = "BishopDev"/> 
	            <cfset Session.DBSourceEBM = "BishopDev"/>     
	        
	        <cfelse>
	        
	            <cfset DBSourceEBM = "Bishop"/> 
	            <cfset Session.DBSourceEBM = "Bishop"/> 
	           
	        </cfif>
	        
			<cftry>
	                          
	             <cfif TRIM(XMLDATA) EQ "">
		             <cfset XMLDATA = #SerializeJSON(FORM)# />
	             </cfif>
				
				<cfset contactString = arguments.smsfrom>
				<cfset transactionId = arguments.smsid>
				<cfset carrier = arguments.network>
				<cfset shortCode = arguments.smsto>
				<cfset keyword = arguments.smsmsg>
				<cfset time = "#DateFormat(Now(),'yyyy-mm-dd')# #LSTimeFormat(Now(),'HH:mm')#">            
	            <cfset ServiceId = "0">	
	            <!--- Need to get UDH string from future MBlox --->
	            <cfset UDHString = "">	
	            
	            <cfset inpContactStringBuff = contactString />
				<!--- Carriers uses ones but EBM does not - messes with time zone and api calls - scrub leading ones here --->            
	            <cfloop condition="LEFT(inpContactStringBuff,1) EQ '1' AND LEN(inpContactStringBuff) GT 1">
	                <cfset inpContactStringBuff = RIGHT(inpContactStringBuff, LEN(inpContactStringBuff) - 1) />
	            </cfloop>
	                    
	            
	            <!--- Don't fill DB with empty data --->
	            <cfif LEN(inpContactStringBuff) GT 0 AND LEN(shortCode) GT 0 AND LEN(keyword) GT 0>
	             
					<!--- Check for instant process for now - still need processer externally SMSQCODE_READYTOPROCESS OR SMSQCODE_PROCESSED --->
	                <!--- Check if TYPE is INTERVAL or API or .... and force into queue --->
	            
					<!--- Process here if allowed by BR - this will slow down rate of messages accepted but can be offset with load balancers and DB mirrors --->
	                <cfif 1 EQ 1>
	                
	                	<!--- Log the fact that we processed to the DB --->    
	                    <cfinvoke                    
	                         method="QueueNextResponseSMS"
	                         returnvariable="RetValQueueNextResponseSMS">                         
	                            <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>
	                            <cfinvokeargument name="inpCarrier" value="#carrier#"/>
	                            <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                            <cfinvokeargument name="inpKeyword" value="#keyword#"/>
	                            <cfinvokeargument name="inpTransactionId" value="#transactionId#"/>
	                            <cfinvokeargument name="inpPreferredAggregator" value="12"/>
	                            <cfinvokeargument name="inpTime" value="#time#"/>
	                            <cfinvokeargument name="inpScheduled" value=""/>
	                            <cfinvokeargument name="inpQueueState" value="#SMSQCODE_PROCESSED_ON_MO#"/>
	                            <cfinvokeargument name="inpServiceId" value="#ServiceId#"/>
	                            <cfinvokeargument name="inpXMLDATA" value="#XMLDATA#"/>
	                            <cfinvokeargument name="inpDBSourceEBM" value="#DBSourceEBM#"/>
	                    </cfinvoke>                      
	                                	            
	                	<!--- Validate this is not a duplicate ... --->
	                    <cfinvoke                    
	                         method="CheckForDuplicateMO"
	                         returnvariable="RetValCheckForDuplicateMO">                         
	                            <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>                            
	                            <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                            <cfinvokeargument name="inpKeyword" value="#keyword#"/> 
	                            <cfinvokeargument name="inpLastQueuedId" value="#RetValQueueNextResponseSMS.LASTQUEUEDUPID#"/> 
	                            <cfinvokeargument name="inpTransactionId" value="#transactionId#"/>                         
	                    </cfinvoke>  
	                    
	                    <!--- Check for duplicate --->
	                    <cfif RetValCheckForDuplicateMO.RXRESULTCODE EQ 2 OR RetValCheckForDuplicateMO.RXRESULTCODE EQ 3 >
	                    	
	                        <!--- Flag as duplicate --->
	                    
	                    	<!--- Log Duplicates ignored--->
	                        <cfinvoke                    
	                             method="LogDuplicateResponseSMS"
	                             returnvariable="RetValLogDuplicateResponseSMS">                         
	                                <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>
	                                <cfinvokeargument name="inpCarrier" value="#carrier#"/>
	                                <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                                <cfinvokeargument name="inpKeyword" value="#keyword#"/>
	                                <cfinvokeargument name="inpTransactionId" value="#transactionId#"/>
	                                <cfinvokeargument name="inpPreferredAggregator" value="14"/>
	                                <cfinvokeargument name="inpTime" value="#time#"/>
	                                <cfinvokeargument name="inpScheduled" value=""/>
	                                <cfinvokeargument name="inpQueueState" value="#SMSQCODE_PROCESSED_ON_MO#"/>
	                                <cfinvokeargument name="inpServiceId" value="#ServiceId#"/>
	                                <cfinvokeargument name="inpXMLDATA" value="#XMLDATA#"/>
	                                <cfinvokeargument name="inpDBSourceEBM" value="#DBSourceEBM#"/>
	                        </cfinvoke>  
	                            
	                        <!--- Store result ???  BATCHID ??? LOOKUP LAST BATCH???--->
	                        
	                    <cfelse> <!--- Not a duplicate --->
	                    
							<!--- Validate not a concatenated message --->
	                        <cfif LEN(UDHString) EQ 12>
	                         	                                                    
	                            <!--- Only process for next response on first part of message --->
	                            <cfif RIGHT(UDHString, 2 ) EQ "01" >
	                            
	                                <!--- Process next response --->
	                                <cfinvoke                    
	                                     method="ProcessNextResponseSMS"
	                                     returnvariable="RetValProcessNextResponseSMS">                         
	                                        <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>
	                                        <cfinvokeargument name="inpCarrier" value="#carrier#"/>
	                                        <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                                        <cfinvokeargument name="inpKeyword" value="#keyword#"/>
	                                        <cfinvokeargument name="inpTransactionId" value="#transactionId#"/>
	                                        <cfinvokeargument name="inpPreferredAggregator" value="14"/>
	                                        <cfinvokeargument name="inpTime" value="#time#"/>
	                                        <cfinvokeargument name="inpServiceId" value="#ServiceId#"/> <!--- MO SERVICEID NOT SAME AS MT ONE USED TO SEND ??? --->
	                                        <cfinvokeargument name="inpXMLDATA" value="#XMLDATA#"/>
	                                        <cfinvokeargument name="inpOverrideAggregator" value="1"/>
	                                        <cfinvokeargument name="inpLastQueuedId" value="#RetValQueueNextResponseSMS.LASTQUEUEDUPID#"/>
	                                        <cfinvokeargument name="inpDBSourceEBM" value="#DBSourceEBM#"/>
	                                </cfinvoke>
	                                                        
	                                <cfinvoke                    
	                                     method="InsertMessagePart"
	                                     returnvariable="RetValInsertMessagePart">                         
	                                        <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>                                        
	                                        <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                                        <cfinvokeargument name="inpKeyword" value="#keyword#"/>
	                                        <cfinvokeargument name="inpSurveyResultsId" value="#RetValProcessNextResponseSMS.LASTSURVEYRESULTID#"/>  
	                                        <cfinvokeargument name="inpReferenceNumber" value="#MID(UDHString, 7, 2 )#"/>
	                                        <cfinvokeargument name="inpTotalParts" value="#MID(UDHString, 9, 2 )#"/>
	                                        <cfinvokeargument name="inpPartNumber" value="#RIGHT(UDHString, 2 )#"/>                                         
	                                </cfinvoke>
	                                
	                                <cfinvoke method="DeductCreditsSire" returnvariable="RetDeductCreditsSire">
	                                    <cfinvokeargument name="inpUserId" value="#RetValProcessNextResponseSMS.GETRESPONSE.USERID#"/>
	                                    <cfinvokeargument name="inpCredits" value="#MID(UDHString, 9, 2 )#"/>
	                                </cfinvoke>
	                                                                                        
	                                <!--- Check if all parts of the message have arrived yet inside of InsertMessagePart function --->
	                                
	                            <cfelse> <!--- Alternate message part - not part 1 --->
	                            
	                                <!--- Log message MO just dont respond to it --->
	                                
	                                <cfinvoke                    
	                                     method="InsertMessagePart"
	                                     returnvariable="RetValInsertMessagePart">                         
	                                        <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>                                        
	                                        <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                                        <cfinvokeargument name="inpKeyword" value="#keyword#"/>
	                                        <cfinvokeargument name="inpReferenceNumber" value="#MID(UDHString, 7, 2 )#"/>
	                                        <cfinvokeargument name="inpTotalParts" value="#MID(UDHString, 9, 2 )#"/>
	                                        <cfinvokeargument name="inpPartNumber" value="#RIGHT(UDHString, 2 )#"/>  
	                                </cfinvoke>                              
	                                
	                                <!--- Check if all parts of the message have arrived yet inside of InsertMessagePart function --->
	                            
	                            </cfif> <!--- Only process for next response on first part of message --->
	                        
	                        <cfelse> <!--- not a concatenated message --->
	                       
								<!--- Look at deduplication result for message within 4 seconds - this may be another message part but not listed as concatenated --->
								<cfif RetValCheckForDuplicateMO.RXRESULTCODE EQ 1 AND RetValCheckForDuplicateMO.RECENT GT 0 >
									 
									<!--- Not a true "duplicate" but close enough to treat as an unconcatenated message part --->
									<cfinvoke                    
	                                     method="AppendMessagePart"
	                                     returnvariable="RetValAppendMessagePart">                         
	                                        <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>                                        
	                                        <cfinvokeargument name="inpKeyword" value="#keyword#"/>
									</cfinvoke>   									 
									 
								 <cfelse>
								 
		                            <!--- Process next response --->
		                            <cfinvoke                    
		                                 method="ProcessNextResponseSMS"
		                                 returnvariable="RetValProcessNextResponseSMS">                         
		                                    <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>
		                                    <cfinvokeargument name="inpCarrier" value="#carrier#"/>
		                                    <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
		                                    <cfinvokeargument name="inpKeyword" value="#keyword#"/>
		                                    <cfinvokeargument name="inpTransactionId" value="#transactionId#"/>
		                                    <cfinvokeargument name="inpPreferredAggregator" value="14"/>
		                                    <cfinvokeargument name="inpTime" value="#time#"/>
		                                    <cfinvokeargument name="inpServiceId" value="#ServiceId#"/> <!--- MO SERVICEID NOT SAME AS MT ONE USED TO SEND ??? --->
		                                    <cfinvokeargument name="inpXMLDATA" value="#XMLDATA#"/>
		                                    <cfinvokeargument name="inpOverrideAggregator" value="1"/>
		                                    <cfinvokeargument name="inpLastQueuedId" value="#RetValQueueNextResponseSMS.LASTQUEUEDUPID#"/>
		                                    <cfinvokeargument name="inpDBSourceEBM" value="#DBSourceEBM#"/>                                    
		                            </cfinvoke>
	                             
								</cfif>
								                            
	                            <cfinvoke method="DeductCreditsSire" returnvariable="RetDeductCreditsSire">
	                                <cfinvokeargument name="inpUserId" value="#RetValProcessNextResponseSMS.GETRESPONSE.USERID#"/>
	                                <cfinvokeargument name="inpCredits" value="1"/>
	                            </cfinvoke>
	                                        
	                        </cfif> <!--- Validate not a concatenated message --->
	                	
	                    </cfif> <!--- Check for duplicate --->
	                                                
	                <cfelse>
	
						<!--- Queue up future response tracking in DB--->                    
	                    <cfinvoke                    
	                         method="QueueNextResponseSMS"
	                         returnvariable="RetValQueueNextResponseSMS">                         
	                            <cfinvokeargument name="inpContactString" value="#inpContactStringBuff#"/>
	                            <cfinvokeargument name="inpCarrier" value="#carrier#"/>
	                            <cfinvokeargument name="inpShortCode" value="#shortCode#"/>
	                            <cfinvokeargument name="inpKeyword" value="#keyword#"/>
	                            <cfinvokeargument name="inpTransactionId" value="#transactionId#"/>
	                            <cfinvokeargument name="inpPreferredAggregator" value="14"/>
	                            <cfinvokeargument name="inpTime" value="#time#"/>
	                            <cfinvokeargument name="inpScheduled" value=""/>
	                            <cfinvokeargument name="inpQueueState" value="#SMSQCODE_SECONDARYQUEUE#"/>
	                            <cfinvokeargument name="inpServiceId" value="#ServiceId#"/>
	                            <cfinvokeargument name="inpXMLDATA" value="#XMLDATA#"/>
	                            <cfinvokeargument name="inpDBSourceEBM" value="#DBSourceEBM#"/>
	                    </cfinvoke>                                
	                
	            	</cfif>            
	            
	           	</cfif>
	                                    
	        <cfcatch>
	           	          		<!--- No return for Threaded Model --->   
<!---
					<cfset dataout =  QueryNew("RXRESULTCODE, TYPE, MESSAGE, ERRMESSAGE")>  
					<cfset QueryAddRow(dataout) />
			        <cfset QuerySetCell(dataout, "RXRESULTCODE", -1) />
			        <cfset QuerySetCell(dataout, "TYPE", cfcatch.Type) />
			        <cfset QuerySetCell(dataout, "MESSAGE", cfcatch.Message) />                
			        <cfset QuerySetCell(dataout, "ERRMESSAGE", cfcatch.Detail) />  
--->
	                        
	                <cftry>        
	                
	                	<cfset xmlDataString = URLDecode(XMLDATA)>
						<cfset ENA_Message = "XMLDATA = (#XMLDATA#) xmlDataString=(#xmlDataString#)">
	                    <cfset SubjectLine = "SimpleX SMS API Notification">
	                    <cfset TroubleShootingTips="See CatchMessage_vch in this log for details">
	                    <cfset ErrorNumber="1110">
	                    <cfset AlertType="1">
	                                   
	                    <cfquery name="InsertToErrorLog" datasource="#DBSourceEBM#">
	                        INSERT INTO simplequeue.errorlogs
	                        (
	                            ErrorNumber_int,
	                            Created_dt,
	                            Subject_vch,
	                            Message_vch,
	                            TroubleShootingTips_vch,
	                            CatchType_vch,
	                            CatchMessage_vch,
	                            CatchDetail_vch,
	                            Host_vch,
	                            Referer_vch,
	                            UserAgent_vch,
	                            Path_vch,
	                            QueryString_vch
	                        )
	                        VALUES
	                        (
	                            #ErrorNumber#,
	                            NOW(),
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(SubjectLine)#">, 
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(ENA_Message)#">, 
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(TroubleShootingTips)#">,     
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(cfcatch.TYPE)#">,
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(cfcatch.MESSAGE)#">,
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(cfcatch.detail)#">,
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(CGI.HTTP_HOST)#">, 
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(CGI.HTTP_REFERE)#">, 
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(CGI.HTTP_USER_AGENT)#">,
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(CGI.PATH_TRANSLATED)#">,
	                            <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#TRIM(CGI.QUERY_STRING)#">
	                        )
	                    </cfquery>
	                
	                <cfcatch type="any">
	                
	                
	                </cfcatch>
	                    
	                </cftry>    
	            
	            <!--- No return for Threaded Model --->            
				<!--- <cfreturn representationOf(dataout).withStatus(200) /> --->
	        </cfcatch>         
	                
			</cftry>
        
        <cfthread>
        
        <!---         <cfset dataout.MESSAGE = "NewThreadName=#NewThreadName# #DebugAPI# #CGI.SERVER_NAME# #Session.DBSourceEBM#" /> --->
                            
		<cfreturn representationOf(dataout).withStatus(200) />
	</cffunction>
	
		
    <cffunction name="get" access="public" output="false" hint="Delivery GET Warning">
		        
        <cfset var dataout = '0' />  
        
        <cfset dataout =  QueryNew("RXRESULTCODE, TYPE, MESSAGE, ERRMESSAGE")>  
		<cfset QueryAddRow(dataout) />
        <cfset QuerySetCell(dataout, "RXRESULTCODE", 1) />
        <cfset QuerySetCell(dataout, "TYPE", "") />
        <cfset QuerySetCell(dataout, "MESSAGE", "You should POST FORM Data, JSON or XML to this API location. Currently you only sent GET!") />                
        <cfset QuerySetCell(dataout, "ERRMESSAGE", "") />  
                    
                    
		<cfreturn representationOf(dataout).withStatus(200) />
	</cffunction>
    
</cfcomponent>