.marketing_title{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
}
.feature-title{
	font-size: 16px;
}
.feature-title h2{
    font-size: 1.8em;
}

@media only screen and (max-width: 768px){
	.feature-title h2{
		font-size: 1.8em;
	}	
}

@media only screen and (max-width: 480px){
	.feature-title h2{
		font-size: 1.6em;
	}	
}