/*Affiliates*/
#affiliate-page{
    position: relative !important;
    padding: 0 !important;
}

@media screen and (max-width: 400px){
    .nav .c-rate-text {
        font-size: 28px !important;
    }
    .nav .c-title {
        font-size: 30px !important;
    }
}
@media screen and (max-width: 800px){
    #affiliate-signup #content{        
        width: 100% !important;                
      
    }
    #mdSignup{
        bottom: 5px !important;
    }
   
    .mb-50 {
        margin-bottom: 50px !important;
    }
    
            
}
#mdSignup .modal-content {    
    max-height: calc(100vh );
    overflow-y: auto;
}
.affiliates-page .want-to-sign-up{
    padding: 20px 0 120px 0px;
}
.affiliates-page .want-to-sign-up h1.title{
    width: 80%; 
    text-align: center; 
    color: #616161;
    border-bottom: 2px solid whitesmoke; 
    line-height: 0.1em;
    margin: 40px auto;     
} 
 
.affiliates-page .want-to-sign-up h1.title span{
     background:#fff; 
     padding:0 10px; 
 }
 .short-desc{
    font-size: 4rem;
    line-height: 1.1em;
    color: #73c37f;
    font-weight: 900;
    margin: 30px 0 30px 0;
}

/*dash board*/
.affiliate-dashboard .earning{
    text-align: center;
    color: #578ca5;
    font-size: 45px;
    font-weight: bold;
    line-height: 1em;
}

.dashboard-hr,.overview-hr{
    margin: 5px 0 !important; 
    padding: 0 !important;
}
.affiliate-dashboard span.span-total{
    margin-right: 10px;
    color: #578ca5;
    font-size:30px;
    cursor: pointer;
}
.affiliate-dashboard span.span-ful{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.affiliate-dashboard .affiliate-link, .affiliate-code{
    color: #578ca5;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #578ca5 !important;
    padding: 4px 10px;
    margin: -2px 0 5px 0;
    width: 100%;
}
.affiliate-dashboard .date-range{
    margin: 10px 0 20px 0;
}
.affiliate-dashboard  .affiliate-rate{
    font-size: 20px;
    width: 100%;
    margin-top: 17px;
}

.affiliate-dashboard  .affiliate-rate th, .affiliate-dashboard .affiliate-rate td {
    border: 1px solid #578ca5;
    padding: 2px 10px;
}

.span-ful .span-center {
    cursor: pointer;
}
.affiliate-dashboard .affiliate-link-copy {
    margin: 10px 0;
}

.affiliate-banner{
    background: url(../images/banner-affiliate.png) no-repeat center bottom;    
}

.nav .c-title {
    font-size: 32px;
    font-family: "Source Sans Pro";
    color: rgb(92, 92, 92);
    text-transform: uppercase;
    line-height: 0.524;
    text-align: center;
    -moz-transform: matrix( 0.60004265883462,0,0,0.59969357968713,0,0);
    -webkit-transform: matrix( 0.60004265883462,0,0,0.59969357968713,0,0);
    -ms-transform: matrix( 0.60004265883462,0,0,0.59969357968713,0,0);    
    font-weight: bold;
}
  
.nav .c-total-user {
    font-size: 120px;
    font-family: "Source Sans Pro";
    color: rgb(92, 92, 92);
    font-weight: bold;
    line-height: 0.774;
    text-align: center;
    -moz-transform: matrix( 0.60603867210349,0,0,0.605686104732,0,0);
    -webkit-transform: matrix( 0.60603867210349,0,0,0.605686104732,0,0);
    -ms-transform: matrix( 0.60603867210349,0,0,0.605686104732,0,0);    
}
.nav .c-rate{
    font-size: 120px;
    font-family: "Source Sans Pro";
    color: rgb(87, 140, 165);
    font-weight: bold;
    line-height: 0.774;
    text-align: center;
    -moz-transform: matrix( 0.63140989035479,0,0,0.63104256309397,0,0);
    -webkit-transform: matrix( 0.63140989035479,0,0,0.63104256309397,0,0);
    -ms-transform: matrix( 0.63140989035479,0,0,0.63104256309397,0,0);    
}
.nav .c-rate-text{
    font-size: 30px;
    font-family: "Source Sans Pro";
    color: rgb(92, 92, 92);
    line-height: 1.4;
    text-align: center;
    -moz-transform: matrix( 0.91252981094346,0,0,0.91199894013989,0,0);
    -webkit-transform: matrix( 0.91252981094346,0,0,0.91199894013989,0,0);
    -ms-transform: matrix( 0.91252981094346,0,0,0.91199894013989,0,0);
    font-weight: bold;
    
}

