.landing-jumbo .jumbo-image {
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -560px;
}
@media screen and (min-width: 992px) and (max-width: 1120px){
	.landing-jumbo .jumbo-image {
		left: 0;
		margin-left: 0;
	}
}
.landing-jumbo .request-demo {
	font-size: 24px;
	line-height: 1.5em;
	height: auto;
	padding: 11px 20px;
}
.si-enterprise {
	padding-bottom: 0;
	font-size: 18px;
}
@media screen and (max-width: 480px){
	.si-enterprise {
		margin-top: 0;
	}
}
.si-enterprise h2 {
	margin-top: 0;
	font-size: 30px;
	color: #568ca5;
}
.si-enterprise img {
	max-width: 100%;
}
.si-enterprise ul {
	padding-left: 20px;
}
.si-enterprise .em {
	font-weight: bold;
}
.si-enterprise .img-thumb {
	margin-bottom: 30px;
	text-align: center;
}
.si-enterprise-intro,
.si-enterprise-how,
.si-enterprise-engine,
.si-enterprise-tools,
.si-enterprise-analytics {
	padding: 50px 0;
}
.si-enterprise-intro {
	padding-top: 80px;
}
.si-enterprise-intro,
.si-enterprise-engine,
.si-enterprise-analytics {
	background: #f7f7f7;
}
.si-enterprise-header::after {
	background: #f7f7f7;
}
.si-enterprise-header {
	background: url('../images/sire-enterprise-min.jpg') no-repeat center bottom !important;
	background-size: cover !important;
}
.si-enterprise ~ footer {
	margin-top: 0 !important;
}
div.header-nav {
	margin-right: 30px;
}