
.modal {
  text-align: center;
  /*padding: 0!important;*/
  background-color: rgba(0, 0, 0, 0.8);
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#leadscon-email .modal-dialog {
  display: inline-block;
  /*text-align: left;*/
  vertical-align: middle;
}

.modal.fade .modal-dialog {
  transform: translate3d(0, 10vh, 0);
  /*transition-duration: 0.3s;*/
  -webkit-transition: opacity .1s linear,-webkit-transform .2s ease-in-out .1s;
  transition: opacity .1s linear,-webkit-transform .2s ease-in-out .1s;
  transition: opacity .1s linear,transform .2s ease-in-out .1s;
  transition: opacity .1s linear,transform .2s ease-in-out .1s,-webkit-transform .2s ease-in-out .1s;
}

.modal.in .modal-dialog {
  transform: translate3d(0, 0, 0);
  /*transition-duration: 0.1s;*/
  -webkit-transition: opacity .1s linear,-webkit-transform .2s ease-in-out .1s;
  transition: opacity .1s linear,-webkit-transform .2s ease-in-out .1s;
  transition: opacity .1s linear,transform .2s ease-in-out .1s;
  transition: opacity .1s linear,transform .2s ease-in-out .1s,-webkit-transform .2s ease-in-out .1s;
}