body {

}
.main-container {
  padding: 40px 15px;
}
.skyblue {
	background-color: #22c8ff;
}
.deepskyblue {
	background-color: #00bfff;
}
.darkerskyblue {
	background-color: #00a6dd;
}

.carousel-caption h3, .carousel-caption h2 {
	color:#333;
	text-shadow:none !important;
}

.icon-container, h3 .icon-container  {
	color:#fff !important;
}


.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 800px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel-caption button {
	background-color: #FFF;
}

.carousel .icon-container {
	background-color: #648ba4;
}

.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.carousel-caption h3:nth-child(2) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.carousel-caption button {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.carousel-indicators li
{
	    border: 1px solid #999;	
	
}

.carousel-caption
{
	top: 0; !important;	
}

.carousel-caption-bottom
{
	bottom: 1em; !important;	
}

.TPButton
{
	display: inline-block; 
	padding:1em; 
	text-align:center; 
	border: 5px solid #568ca5; 
	height: auto; 
	width:255px; 
	border-radius: 8px;
	
}

.TPButton:hover
{
	border: 5px solid #74c37f; 
	box-shadow: 0.418px 2.971px 0px 0px #153a4b !important;
	
}

.btn-back-custom, .btn-success-custom
{
	color:#FFF;	
}

.btn-back-custom:hover, , .btn-success-custom:hover
{
	color:#CCC;	
}

.no-padding-bottom
{
	padding-bottom:0;
}


.no-padding-top
{
	padding-top:0;
}

.feature-img-no-bs
{
 width:100%;
}

.padding-top-1em
{
	padding-top:1em;
}
.white-bg
{
	background:#FFF;	
}

.definitionBox
{
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);	
	padding:1em;	
}

.AlignCenter
{
	text-align:center;	
}
.TopHeaderLearning
{
	padding: 1em 3em;
	text-align:center;		
}

.TopHeaderLearning h1,.TopHeaderLearning  h2, .TopHeaderLearning h3, .TopHeaderLearning h4, .TopHeaderLearning h5 {
    font-weight: 100;
}

.FeatureHeaderColor
{
    color: rgb( 86, 140, 165 );	
}

.control-point-border {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}


.nav-bot{
	text-align: left;
	/*padding: 10px 0 20px 20px;	*/
}

.nav-bot ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.feature-content h4
{
	font-weight:700;	
	
}

.SamplePreviewText
{	
	text-shadow:none;
	text-align:left;
	color:#333333;	
}

.Preview-Bubble
{
	background-color: #28CBEF;	
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	font-family: Helvetica, sans-serif;
	font-size:15px;
	text-align: left;	
}
.Preview-Bubble::before 
{
	background-color: #28CBEF;
	content: "\00a0";
	display: block;
	height: 12px;
	position: absolute;
	top: 10px;
	transform: rotate( 29deg ) skew( -35deg );
	-moz-transform: rotate( 29deg ) skew( -35deg );
	-ms-transform: rotate( 29deg ) skew( -35deg );
	-o-transform: rotate( 29deg ) skew( -35deg );
	-webkit-transform: rotate( 29deg ) skew( -35deg );
	width: 16px;	
}
.Preview-You 
{	
	margin: 5px 45px 5px 20px;
	background-color: #F2F2F2;	/*F2F2F2*/
	color:#000000;
}

.Preview-You::before 
{
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -7px; 
	background-color: #F2F2F2;
}

.Preview-Me 
{	
	margin: 5px 45px 5px 20px;
	background-color: #66ccff;	 /*28CBEF*/
	color:#ffffff;
	text-shadow: 1px 1px #AAAAAA;
}

.Preview-Me::before 
{
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -7px; 
	background-color: #66ccff;
}

.control-point-body {
    padding: 10px 0;
}

code {
   background-color: transparent;
}

/* improve by TungNT*/

@media (max-width: 480px){
	.Preview-Me{
		margin: 0;
	}
	
	.control-point-border hr{
		margin: 5px;
	}
}