.landing-jumbo{
	transform: translateY(-43%);
}
.heading-home {
    margin-top: 50px;
    /*font-size: 1.8em;*/
}
.marketing_title{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
}

.video{
	
    padding-top: 3em;
padding-bottom: 3em;
}
@media (min-width: 768px){
    
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
	body {
    	font-size: 1.2em; /* 1.2x default size */
    }
}


ul.list-thumb-video li{
    margin-left: 0px!important;
    margin-right: 10px!important;
}