/* CSS Document */


.image-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;  
  border: 6px solid #fff;  
  overflow: hidden;
}



.image-wrapper-bottom-layer {
  position: static;
}


.abs-bottom-left {
  position: absolute;
  bottom: 1em;
  right:1em;
  text-align:right;
}

@media only screen and (max-width: 320px){
  .abs-bottom-left {
    bottom: 0;
  }  
}

.image-wrapper img {
  height: 100%;
  width: 100%;
}

.image-wrapper .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  display: block;
 
}

.overlay-rouge
{
	background-color: rgba(255, 0, 0,.25);	
}

.overlay-grey
{
	background-color: rgba(0, 0, 0,.25);	
}

.image-wrapper .image-overlay-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0,.25);
  color: #fff;
  display: none; 
}

.image-wrapper:hover .image-overlay-hover {
   display: block;
}


.image-wrapper .image-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-top: -50px;
  margin-left: -75px;
  font-weight:600;
  text-align:center;
}
