/*.show-under-1366{
	display: block;
}

.landing-jumbo2{
	display: none;
}

@media (min-width: 1366px) {
	.show-under-1366{
		display: none;
	}

	.landing-jumbo{
		transform: translateY(-41.7%);
		transform: translateY(-212.5%);
	}

	.landing-jumbo2{
		display: block;
		transform: translateY(51.5%);
	}	
}*/

.landing-jumbo{
	transform: translateY(-41.7%);
}

.price_features,
.plan-pricing-invite h3{
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

.marketing_title{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
}
.pricing-list li{
	padding: 5px 0;
	line-height: 21px;
}
.row-eq-height{
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
#price-page .price-title h2{
	font-size: 3.5rem !important;
	margin: 0;

}
.price-title,
.active .price-title{
	height: auto;
	min-height: 13.2rem;
	padding: 1em 0;
}
.active .price-title{
	margin: 0;
}
.col-centered{
	float: none;
	display: inline-block;
    /* inline-block space fix */
    margin-right:-4px;
}
.logo_03 {
	padding: 0 5em;
}
.block-get-these-feautures{
	margin-top: 3em;
}

#sttmain{
	font-size: 1.5em;
}
#stmid{
	    height: 26em;
	    margin-bottom: 0;
}
#sttext{
	height: 9em;
}

#price-page .price-title h2{
	line-height: 1.58em;
}
#price-page .price-title h2.other{
	line-height: 15.1rem;
	font-size: 3.4rem !important;
}
.active .pricing-btn{
	padding-bottom: 3px;
}
.free-acc-other{
	line-height: 13.4rem !important;
}
#price-page .price-title h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4rem;
	text-transform: capitalize;
}
.price-title{
	min-width: 17.5rem;
}
@media (max-width: 480px){
	#stthead {
	    font-size: 2em;
	}
}
@media (min-width: 768px){

	#stmid{
		margin-bottom: 50px;
	}

	.price-title{
		/*height: 13.2rem;*/
		min-height: 13.2em;
	}
	#price-page .price-title h4{
		font-size: 1.4rem;
	}
	.logo_03 {
		padding: 0 1.8em;
	}
	.price_features,
	.plan-pricing-invite h3{
		font-size: 5rem;
		margin-top: -0.4em;
		text-align: left;
	}
	.block-get-these-feautures{
		margin-top: 5.5em;
	}
}
@media (min-width: 1200px){
	.active .price-title{
		margin-top: -15px;
	}
	.active .pricing-btn{
		padding-bottom: 35px;
	}
}

@media (min-width: 1900px) {
	#price-page{
		width: 1300px !important;
	}
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
	body {
    	font-size: 1.2em; /* 1.2x default size */
    }
}

.no-credit-required{
	margin-top: -4.5rem !important;
	font-size: 1.6rem !important;
}

@media (min-width: 320px){
	.no-credit-required{
		margin-top: -4.5rem !important;
		padding-bottom: 3.5rem;
	}
}

.billing-monly-annually{
	margin-top: -4.5rem !important;
	font-size: 1.6rem !important;
}

.yearly-bill{
	display: none;
}