/* Css media for all */

@media screen and (max-device-width: 1024px){
	#footer.footer_front {
	    /*position: static;*/ 
	}
}

@media screen and (max-device-height: 375px){
	
	
	#footer.footer_front {
	    position: static;
	}
}

@media screen and (min-device-height: 768px){
	.container-body {
	    min-height:300px;
	}
}

@media (max-width: 767px) {
	.login-wrapper .navbar-nav .open .dropdown-menu {
	    position: absolute;
	    background-color: #fff;
	}
	
	.g-recaptcha {
		transform:scale(0.76);
		-webkit-transform:scale(0.76);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}	

	/*.easy-to-use .login-wrapper, .plan-pricing .login-wrapper{
		display: none;
	}
	.easy-to-use .breadcrumb-container, .plan-pricing .landing-jumbo{
		display: none;
	}
	.easy-to-use .content-page{
		margin-top: 10px;
	}*/
	.g-recaptcha {
		transform:scale(0.76);
		-webkit-transform:scale(0.76);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}	

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
	/*.landing-logo {padding-left:0px;}*/
	.login-wrapper {padding-right: -15px;}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 667px) and (orientation: landscape){
	
}
@media screen and (max-width: 320px) {
	#signout .btn-modal-signout {
	    margin-bottom: 5px;
	}
}

@media screen and (min-device-height: 768px) {
	.solutions-container-body {
		min-height: 175px;
	}
}

.solutions-container-body {
	margin-top: 20px;
	padding-bottom: 28px;
}

.sire-sms-solution-header {
	padding-top: 0em;
}

.usa-carrier-reach-list {
	margin-bottom: 0px;
}

