/* CSS Document */

.scroll-down {
    position: relative;
    left: 50%;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    display: block;
    z-index: 10;
    text-align: center;
}

.scroll-down span {
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.scroll-down-spacer_4
{
	margin-top:4em;
	
}

.scroll-down-spacer_3
{
	margin-top:3em;
	
}

.scroll-down-spacer_2
{
	margin-top:2em;
	
}

.scroll-down-spacer_1
{
	margin-top:1em;
	
}
@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@media screen and (max-width: 767px){
    .scroll-down{
        height: 40px;
        width: 40px;
    }
    @-webkit-keyframes drop {
        0%   { top:-5px;  opacity: 0;}
        30%  { top:5px; opacity: 1;}
        100% { top:15px; opacity: 0;}
    }

    @keyframes drop {
        0%   { top:-5px;  opacity: 0;}
        30%  { top:5px; opacity: 1;}
        100% { top:15px; opacity: 0;}
    }
}

