/** GENERAL **/

html, body {
    margin: 0; 
    padding: 0; 
   	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
    color: #5c5c5c;

}


body.home {
	position: relative;
}
body.main_bg {
    background: url('../images/signup_bg.png') no-repeat top;
    background-size:cover;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.breadcrumb {
	margin-bottom: 0;
}

.breadcrumb-container .breadcrumb{
	background-color:transparent;
	padding-left:0px;
}
.breadcrumb-container li{
	font-size: 30px;
	color: rgb( 39, 78, 96 );
  	text-transform: uppercase;
  	line-height: 1.526;
  	text-align: left;
}

.breadcrumb-container .breadcrumb > .active {
	color: #fff;
	font-weight:700px;
}


.btn-success-custom,
.btn-success-custom:hover,
.btn-success-custom:focus,
.btn-success-custom:active,
.btn-success-custom.active {
  border-style: solid;
  border-width: 1px;
  border-color: #5cb469 !important;
  border-radius: 5px;
  background-color: #74c37f !important;
  background-image: inherit !important;
  background-position: inherit !important;
  /*box-shadow: 0.418px 2.971px 0px 0px rgb( 61, 152, 74 ) !important;*/
  height: 38px;
  outline: 0 !important;
}

.btn-info-custom,
.btn-info-custom:hover,
.btn-info-custom:focus,
.btn-info-custom:active,
.btn-info-custom.active {
  border-style: solid;
  border-width: 1px;
  border-color: #49849f !important;
  border-radius: 5px;
  background-color: #568ca5 !important;
  background-image: inherit !important;
  background-position: inherit !important;
  box-shadow: 0.418px 2.971px 0px 0px rgba( 30, 50, 70, .7 ) !important;
  outline: 0 !important;
}
.btn-back-custom,
.btn-back-custom:hover,
.btn-back-custom:focus,
.btn-back-custom:active,
.btn-back-custom.active,
.btn-back-custom[disabled] {
  border-style: solid;
  border-width: 1px;
  border-color: #49849f !important;
  border-radius: 5px;
  background-color: #568ca5 !important;
  background-image: inherit !important;
  background-position: inherit !important;
  box-shadow: 0.418px 2.971px 0px 0px rgba( 23, 72, 94, .7 ) !important;
  min-height: 38px;
  outline: 0 !important;
}

.btn-primary-custom,
.btn-primary-custom:hover,
.btn-primary-custom:focus,
.btn-primary-custom:active,
.btn-primary-custom.active,
.btn-primary-custom[disabled] {
  border-style: solid;
  border-width: 1px;
  border-color: #138bb7 !important;
  border-radius: 5px;
  background-color: #0390cf !important;
  background-image: inherit !important;
  background-position: inherit !important;
  box-shadow: 1.418px 1.971px 0px 0px rgba( 70, 90, 110, .6 ) !important;
  outline: 0 !important;
}

/** HEADER**/
#header .navbar-site {
	background: #274e60;
	/*height: 65px;*/
	border: none;
}
#header .logo {
    height: 100%;
    min-width: 100px;
    display: table-cell;
    vertical-align: middle;
}


/** MENU **/
#header .navbar {
	color:#ffffff;
	text-transform: uppercase;
}

#header .navbar .nav > li > a {
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  line-height: 3.434;
  text-align: center;
  
}

.sire-intro
{
	margin-top: 2em;
}
	

/** FORM **/

/** BACKGROUND BREAKPOINTS**/
body{
    background-size: 100% auto !important;
}

@media (max-width: 767px){
	body{
		background: none !important;
	}
}

/*header.home{
	min-height: 500px;
}*/

/*@media (max-width: 1024px){
	header.home{
		min-height: initial;
	}
}*/

/*@media (min-width: 1025px) and (max-width: 1366px){
	 header.home {
	     min-height: 39em;
	 }
	 p.landing_title{
	  font-size: 3em !important;
	  padding-top: 2em !important;
	 }
}
*/
/*@media (min-width: 1367px) and (max-width: 1599px){
	header.home{
		min-height: 37em;
	}
	p.landing_title{
		padding-top: 1em !important;
	}
}

@media (min-width: 1600px) and (max-width: 1644px){
	header.home {
	    min-height: 44em;
	}
}

@media (min-width: 1645px) and (max-width: 1919px){
	header.home {
	    min-height: 51em;
	}
}

@media (min-width: 1921px){
	header.home {
	    min-height: 60em;
	}
}*/

.body-plans-pricing{
	background: url('../images/plans_pricing_bg.jpg') no-repeat top center;
}

.body-plans-pricing-calc-bg{
	background: url('../images/plans_pricing_calc_bg.png') no-repeat top center;
}

.landing-logo{
	padding-top: 20px;
	padding-left: 20px;
}
.login-wrapper{
	float: right;
	margin: 28px 25px 0 0;
	/*min-width: 220px;*/
}

/*.login-wrapper .btn-login{
	font-family: 'Source Sans Pro', sans-serif;
}*/

.login-wrapper ul {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: rgb( 255, 255, 255 );
	text-transform: uppercase;
	line-height: 3.925;
}


.login-wrapper ul li {
	color: #fafafa;
}

.login-wrapper > ul > li {
	float: left;
}

.login-wrapper ul li a {
	color: #fafafa;
}

.login-wrapper .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: transparent;
}

.login-wrapper .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
}
.login-wrapper .nav > li > a:hover, .nav > li >  a.space {
	text-decoration: none;
}

.login-wrapper ul.dropdown-menu li a {
	color: rgb( 92, 92, 92 );
}


.feature-home{
	text-align: center;
}
.features-home-inner{
	margin-top: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.features-home-inner h2{
	font-size: 35px;
}
.start_trial, .start_trial2{
	/*margin-top: 30px;*/
	width: 290px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 15px;
}
p.sms_marketing{
	font-style: italic;	
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom:2rem;
}
p.sms_marketing1{
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

p.landing_title{
	font-size: 64px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-bottom: 0px;
	/*padding-top: 16rem;*/
	text-transform: uppercase;
}	

p.landing_title_med{
	font-size:34px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-bottom: 0px;
	padding-top: 6rem;
	text-transform: none;
}	

.marketing_title{	
 	font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}	


.landing-jumbo{
color: #fff
}
.feature-home a, .feature-home a:hover{
	text-decoration: none;
	color: #5c5c5c
}

.main-wrapper{
	padding-bottom: 20px;
}
/*PLan pricing*/
#price-page {
    margin-right: auto;
    margin-left: auto;
    /*max-width: 1300px;*/
}
.sire-pricing {
	text-align:center;
	background-color: rgb( 255, 255, 255 );
  	box-shadow: 0.5px 0.866px 9px 1px #d8d8d8;
  	-webkit-box-shadow: 0.5px 0.866px 9px 1px #d8d8d8;
    border: 1px;
}
.price-title {
    background: #74c37f;
    position: relative;
    color: #fff;
    text-transform:uppercase;
    height: 135px;
    padding: 15px 0;
}

.price-title h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 48px;
 	line-height: 1.145;
}
.price-header {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.price-header h2 {
	font-size: 48px;
  	color: rgb( 116, 195, 127 );
  	font-weight: bold;
}

.price-header .mo {
	font-size: 1.8rem;
    color: rgb( 116, 195, 127 );
  	font-weight: bold;
  	padding-left:10px;
}


.price-content {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	padding:10px;
	line-height: 2;
}

.price-content p > a{
	text-decoration: none;
}

.active .price-title {
    background: #568ca5;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 145px;
    padding: 15px 0;
    margin-top: -15px;
}

.active .pricing-btn {
	padding-bottom: 35px;
}

.sire-pricing.active {
	box-shadow: 0.5px 0.866px 9px 5px #d8d8d8;
}

.btn-pricing,
.btn-pricing:hover,
.btn-pricing:focus,
.btn-pricing.active {
	border-style: solid;
  	border-width: 1px;
  	border-color: #49849f !important;
  	border-radius: 5px;
  	background-color: #568ca5 !important;
  	background-image: inherit !important;
  	background-position: inherit !important;
  	/*box-shadow: 0.418px 2.971px 0px 0px rgba( 30, 50, 70, .7 ) !important;*/
  	outline: 0 !important;
  	color:#fff;
  	text-transform: uppercase;
  	font-family: 'Source Sans Pro', sans-serif;
  	min-width:120px;
  	height: 40px;
  	padding-top:8px;
}
.pricing-btn {
	padding-bottom:10px;
}

.price_detail {
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb( 86, 140, 165 );
	line-height: 2;
	font-style:Italic;
	font-size: 18px;
}

.price-plan-select label {
	text-align:left;
	font-weight: normal;
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
}

.price-plan-select .form-group {
	/*padding-bottom: 25px;*/
}
.heading-home {	
	line-height: 1.2;
	color: rgb( 86, 140, 165 );
	padding-bottom: 0;
	padding-left: 2em;
	padding-right: 2em;	
}

.price-question {
	font-size: 18px;
}

.price-question a {
	text-decoration: none;
}

.calculate {
	text-transform:uppercase;
	width:120px;
	/*height:40px;*/
	font-family: 'Source Sans Pro', sans-serif;
}
.calculate_reset {
	text-transform:uppercase;
	/*height:40px;*/
	width:92px;
	font-family: 'Source Sans Pro', sans-serif;
}

.plan-works-best {
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:30px;
	padding-top:30px;
	padding-bottom:30px;
}

.plan-works-best .active{
    color:#568ca5;
    font-weight:bold;
}

.secure-payment-plan {
	font-size: 16px;
    line-height: 2.5em;
}
.secure-payment-plan .pull-right {
    color: #568ca5;
    font-weight: bold;
}
#extend-plan .form-horizontal .control-label {
	text-align: left;
}
#extend-plan .price-title {
	height: auto;
}
#extend-plan .btn-pricing {
	height: 38px; 
	min-width: auto; 
	text-transform: none;
}
#extend-plan .payment_method_card {
    background: rgba(0, 0, 0, 0) url("../images/supported-payment-types.png") no-repeat scroll 5px center / auto 35px;
    border: 1px solid #74c37f;
    border-radius: 3px;
    display: inline-block;
    line-height: 35px;
    margin: -5px 5px 0 0;
    padding: 4px;
    width: 285px;
}

#processingPayment {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 65000;
}
#processingPayment::before {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    content: "";
    display: hidden;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.ajax-loader {
    display: block;
    left: 50%;
    margin-left: -44px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
}

/** BODY CONTENT **/
.container-body {
	margin-bottom: 20px;
    padding: 30px 15px;
    background: #fafafa;
    padding-bottom:30px;
    opacity:0.851;
}

.container-body .content-title {
	font-size: 18px;
  	color: rgb( 92, 92, 92 );
  	font-weight: bold;
  	line-height: 3.053;
  	text-transform: capitalize;
}

.container-body p {
	text-align:justify;
}


/** FOOTER **/
#footer {
	background-color: #274e60;
	color: #fff;
	width:100%;
}

#footer a{
	color: #fff;	
}

#footer .contact-info{
	text-align: center;
	padding: 20px 0;
	font-size: 18px;
	line-height: 2;
}

#footer .social-link{
	text-align: center;
	padding-bottom:10px
}

#footer .social-link ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer .social-link ul li{
    display: inline;
    padding-left:10px;
}


.plan-pricing {
	height: auto;
}


/** ======================*/
/* Sing In */
#signin {
	font-family: 'Source Sans Pro', sans-serif;
}
#signout .close,
#signin .close {
	font-size: 48px;
	line-height: 26px;
	margin: -8px -5px 0 0;
}
#signin .modal-content {
	border-radius: 0;
}
.modal-body-inner .modal-title {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.modal-body-inner {
	padding: 20px;
}
.modal-body-inner label {
	font-weight: normal;
}
.modal-body-inner .modal-btn-func {
	padding-top: 20px;
}
.modal-body-inner .modal-btn-func a {
	color: #74c37f;
}
#signin .modal-signin-signup {
	font-style: italic;
}
#signin .signin-message {
	color: #dd1037;
}

#signout .btn {
	padding: 6px 25px;
	text-transform: uppercase;
}
#signout .btn-modal-signout {
	margin-right: 10px;
}
#signin .btn-modal-signin-submit {
	text-transform: uppercase;
	width: 150px;
}
#signin .modal-signin-forgot-link {
	padding-top: 10px;
}
/* Sing In */

/* Forgot Password */
#forgot {
	font-family: 'Source Sans Pro', sans-serif;
}
#forgot .close {
	font-size: 48px;
	line-height: 26px;
	margin: -8px -5px 0 0;
}
#forgot .btn-modal-forgot-submit {
	text-transform: uppercase;
	width: 150px;
}
#forgot .forgot-message {
	color: #dd1037;
}
/* Forgot Password */

/* SIGN UP*/
header.home_signup{
	background: url('../images/signup_bg.png') no-repeat top;
    background-size:cover;
    min-height: 784px;
    font-family: 'Source Sans Pro', sans-serif;
}

.no_credit{
	font-style: italic;	
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}
.wraper_signup_form{
	background-color:rgba(230,229,229,0.9);
}
.signup_form{
	margin: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}
.signup_form label{
	font-weight: normal; 
	font-size: 15px;
}
.signup_title{
	color: #fff
}
.signup_form_info{
	padding-top: 10%;
}
.signup_form_info ul{
	margin-left: -20px;
}
/* SIGN UP*/

#bootstrapAlert {
	font-family: 'Source Sans Pro', sans-serif;
}
#bootstrapAlert .close {
	font-size: 48px;
	line-height: 26px;
	margin: -8px -5px 0 0;
}

.formError .formErrorContent {
    background: #15263d;
    box-sizing: content-box;
}

.formError .formErrorArrow div {
    background: #15263d;
}

/* Feature page */
.body-featured {
	background: url('../images/feature_bg.png') no-repeat center top;
}

.body-about-us {
	background: url('../images/about_bg.jpg') no-repeat top;
}

.feature-box {
	text-align: center;
	padding: 25px 5px;
	cursor: pointer;
	transition: all .2s;
}


.feature-box-title {
	  font-size: 36px;
	  font-family: 'Yanone Kaffeesatz', sans-serif;
	  color: rgb( 92, 92, 92 );
	  text-transform: uppercase;
	  padding-bottom:15px;

}

.feature-box-img {
	min-height: 86px;
}

.feature-img {
	max-width:100%;
	height: auto;
}

@media (min-width: 1200px){
	.feature-img {
		margin-left: -40px;
	}
}

.feature1{
	background: url('../images/feature-box1.png') no-repeat top;
}

.feature2{
	background: url('../images/feature-box2.png') no-repeat top;
}

.feature3{
	background: url('../images/feature-box3.png') no-repeat top;
}
.feature4{
	background: url('../images/feature-box4.png') no-repeat top;
}

.feature-box a {text-decoration:none;}

.feature-box:hover {
	border-radius: 7px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 2px 3.464px 10px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 3.464px 10px 3px rgba(0,0,0,0.2);
   
}

.feature-box:hover .feature-box-title{
	color:rgb( 86, 140, 165 );    
}

.feature-box:hover .feature1 {
	background: url('../images/feature-box1_active.png') no-repeat top;
}

.feature-box:hover .feature2 {
	background: url('../images/feature-box2_active.png') no-repeat top;
}

.feature-box:hover .feature3 {
	background: url('../images/feature-box3_active.png') no-repeat top;
}

.feature-box:hover .feature4 {
	background: url('../images/feature-box4_active.png') no-repeat top;
}



.feature-white,.feature-gray {
	padding-top:5em;
	padding-bottom:5em;
}
.feature-gray {
	background-color:#f7f7f7;
}

.feature-main {margin-top: 0px;}

.feature-title {
    font-size: 3.6rem;
    color: #5c5c5c;
	margin-top:0;
	font-weight: 700;
}

@media only screen and (max-width: 768px){
	.feature-title{
		font-size: 1.8em;
	}	
}

@media only screen and (max-width: 480px){
	.feature-title{
		font-size: 1.6em;
	}	
}

.feature-content {
	font-size: 18px;
	/*text-align:justify;*/
}

/*.feature-img {

	-moz-box-shadow: 2px 4px 9px 1px rgba(0,0,0,.22);
	-webkit-box-shadow: 2px 4px 9px 1px rgba(0,0,0,.22);
	box-shadow: 2px 4px 9px 1px rgba(0,0,0,.22);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}*/


/*.login-wrapper .btn-login{
	width: 120px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}*/

.login-wrapper ul {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: rgb( 255, 255, 255 );
	text-transform: uppercase;
	line-height: 3.925;
}


.login-wrapper ul li {
	color: #fafafa;
}

.login-wrapper ul li a {
	color: #fafafa;
}

.login-wrapper .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: transparent;
}

.login-wrapper .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
}
.login-wrapper .nav > li > a:hover, .nav > li >  a.space {
	text-decoration: none;
}

.login-wrapper ul.dropdown-menu li a {
	color: rgb( 92, 92, 92 );
}

.login-wrapper ul.dropdown-menu li a:hover {
	background-image: none;
	background-color: #E9E9E9;
}

.login-wrapper .navbar-toggle {
	display: block;
}

.login-wrapper .navbar-toggle .icon-bar {
	background-color: #fff;
	height: 4px;
	width: 35px;
}

.login-wrapper .navbar-toggle .icon-bar + .icon-bar {
	margin-top: 7px;
}

.navbar-public {
	position: relative;
}

.navbar-public .navbar-toggle {
	margin: 0 10px;
	padding: 5px;
}

.navbar-public .dropdown-menu {
	font-size: 16px;
	margin-top: 50px;
	line-height: 28px;
	text-transform: none;
}

.navbar-public .dropdown-menu > li > a {
	line-height: inherit;
}

.navbar-public .dropdown-menu:after, .navbar-public .dropdown-menu:before {
	bottom: 100%;
	right: 23px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.navbar-public .dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.navbar-public .dropdown-menu:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-bottom-color: rgba(0, 0, 0, .15);
	border-width: 11px;
	margin-left: -11px;
	right: 22px;
}


/* BACK TO TOP*/
#back-top {
    position: fixed;
    z-index: 999;
    bottom: 2em;
    right: 2em;
    display: none;
}
#back-top a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.cs-eai .feature-content ul{
	text-align:left; 
	width:450px; 
	display: inline-block;
}


.small_screen > .dropdown-menu{
	left: initial;
	right: 1em;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
}

.bar-across-bottom {
	text-align:center;
	font-size: 28px;
	background: #74c37f;
    color: #fff;
    margin-top: 20px;
}
#price-page .price-title h2 {
    line-height: 105px;
}

#processingPayment {
	display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:65000;
    background-color: rgba(0,0,0,.3);
}
#processingPayment:before {
	display:block;
	content: '';
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255,255,255,.8);
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -40px;
    display: block;
}

#price-page .col-sm-6 {
	/*padding-bottom: 25px;*/
}

.price_features {
	color: #74c37f;
	font-size: 60px;
	text-transform:uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.logo_03 {
	/*padding-top: 50px;*/
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: 0;
}

.request-live-demo-btn{
	height: 300px;
	position: relative;
	overflow: hidden;
}

.request-live-demo-btn .img-right{
	position: absolute;
	right: 0;
	top: 0;
}

.request-live-demo-btn .img-left{
	position: absolute;
	left: 0;
	bottom: -290px;
}

.request-live-demo-btn .btn{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    padding: 15px 30px;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #5cb469 !important;
	border-radius: 5px;
	background-color: #74c37f !important;
	background-image: inherit !important;
	background-position: inherit !important;
	box-shadow: 0.418px 2.971px 0px 0px rgb( 61, 152, 74 ) !important;
	outline: 0 !important;
	height: 60px;
	width: 233px;
}

.request-live-demo-btn .btn:hover {
	font-size: 20px;
}

.modal{
	z-index: 1072;
}

.document-list ul{
	padding: 0;
}

.document-list ul li{
	list-style-position: inside;
}

@media (min-width: 992px) and (max-width: 1199px){
	.plans_pricing_calc_bg,.feature_bg, .about_bg, .plans_pricing_bg{
		background-size: 100% 100% !important;
		min-height: initial !important;
	}
	p.sms_marketing{
		padding-bottom: 13rem;
	}
	
	p.sms_marketing1{
		position: absolute;
		bottom: 3em;
		text-align: center;
		width: 97%;
	}
	
	p.landing_title{
		padding-top: 8rem;
		font-size: 3em;
	}
	
	.start_trial{
		margin-bottom: unset;
		margin-top: -12em;
	}
}

@media (min-width : 768px) and (max-width : 1024px)  { 
	header.home{
		min-height: 30em;
	}
	/*header.home{
		min-height: 23em;
	}*/
}

@media (max-width:950px) and (min-width:768px) {
	.contact-form .form-control {
		font-size: 11px;
		padding: 6px 6px;
	}
}

@media (min-width: 768px) and (max-width: 991px){

	p.landing_title{
		padding-top: 2rem;
		font-size: 3em;
	}
		
	p.sms_marketing{
		padding-bottom: 9rem;
	}
	
	p.sms_marketing1{
		position: absolute;
		bottom: 2em;
		text-align: center;
		width: 97%;
	}
	
	.start_trial{
		margin-bottom: unset;
		margin-top: -9em;
	}
	
	.feature-main{
		margin-top: 0 !important;
	}
}

@media (max-width: 768px){
	/*.modal-dialog {
	    width: 600px;
	    margin: 50px auto;
	}*/
	.logo_03 {
	  padding-top: 30px;
	  display: inline-block;
	}
}

@media (max-width: 767px){
	/*.login-wrapper{
		margin-right: 0;
	}*/
	.navbar-public .navbar-toggle{
		margin: 0 !important;
	}
	/*.login-wrapper .btn-login{
		width: 70px;
	}*/
	/*.login-wrapper{
		margin:20px 0px 0 0;
	}*/
	.bg-gray{
		background: #274e60;
		padding-bottom: 1em;
	}
	.landing-logo{
		padding-top: 28px;
	}
}

@media (max-width: 667px){
	.price_features {
		text-align:center;
	}
}

@media (max-width: 600px){
	.heading-home{
		padding-bottom: 0;
	}
}

@media (max-width: 480px){
	.formError{
		left: 0 !important;
	}
	.modal-footer{
		/*text-align: left;*/
	}
	ul.large_screen{
		display: none;
	}
	ul.small_screen{
		display: block !important;
		float: right;
	}

	.cs-eai .feature-content ul{
		width:300px; 
	}
	.price_features {
		font-size: 30px;
	}
	.document-list table tr td{
		border: 1px solid #ababab;
		padding: 2px;
	}
}

@media (max-width: 325px) {
	#extend-plan .payment_method_card {
    	background: rgba(0, 0, 0, 0) url("../images/supported-payment-types.png") no-repeat scroll 5px center / auto 32px;
    }
}

@media (max-width: 320px){
	.logo_03 {
	   padding-top: 0px; 
	   width: 100%;
	}
}

@media only screen and (max-width: 480px){
	*{
		word-break: break-word;
	}
	.modal{
		bottom: 50px;
	}

	.nav-pills {
	    margin-right: 27px;
	}
}

/*New custom*/
.new-list{
	margin-left: 0;
}


@media only screen and (max-width: 768px){
	.wrap-feature-item .feature-title{
		font-size: 1.8em;
	}
}
@media only screen and (max-width: 768px){
	.wrap-feature-item .feature-title{
		font-size: 1.6em;
	}
}


.wrap-feature-item .feature-content p{
	margin-bottom: 30px;
}

.wrap-feature-item .feature-content p b{
	font-size: 1.8rem;
	font-weight: 400;
	font-style: italic;
}
@media (min-width: 768px){
	.wrap-feature-item .feature-content p b{
		font-size: 2rem;
	}
}
@media (min-width: 992px){
	.wrap-feature-item .feature-content p b{
		font-size: 2.4rem;
	}
}
@media only screen and (max-width: 992px) {
	.wrap-feature-item.stack-mb{
		margin-bottom: 30px;
	}

	/*.feature-items [class^="col-"]{
		width: 100%;
	}*/
}

.list-mb li{
	margin-bottom: 10px;
}

.feature-header-content {
	color: #5c5c5c;
	font-size: 18px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
    padding-right: 0px !important;
    overflow-y: auto;
}

@media screen and (max-device-width: 375px) {
	.price-question {
		font-size: 18px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.heading-home {
		margin-left: 20px;
		margin-right: 20px; 
	}
}

@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
	.price-question {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media screen and (max-width: 1300px) {

	.show-hide-faqs {
		padding-left: 70px;
	}
}

.text-size-14 {
	font-size: 14px;
}

@media only screen and (max-width: 480px){
  .template-cat{
    font-size:14px !important; 
    letter-spacing: 1px !important; 
    font-weight: 200 !important; 
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .template-picker-sub-menu{
  	padding-left: 9px !important;
    padding-right: 0px !important;
  }
}

.leadscon-letsconnect{
	font-size: 2.4rem;
	color: black;
	text-align: left !important;
}

.leadscon-detail{
	font-size: 1.6rem;
	color: black;
	padding: 10px 10px;
	text-align: left !important;
}

@media (max-width: 768px){
	.leadscon-detail{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media (max-width: 480px){
	.leadscon-letsconnect-btn{
		padding: 0.5rem !important;
	}
}

.leadscon-letsconnect-btn{
	border-radius: 4px;
	font-size: 18px;
}

.leadscon-form-input input{
	font-size: 18px;
	box-shadow: none !important;
}

.leadscon-sirelogo{
	background: url(../images/leadscon-sire.png) no-repeat center center;
	height: 100px;
	background-size: contain;
	padding: 10px 10px;
	margin-bottom: 15px;
}

.leadscon-policy{
	font-size: 14px;
	color: rgb(119,119,119);
}

/*#leadscon-email .close{
	font-size: 48px;
	margin-right: 12px;
}*/

.leadscon-letsconnect-btn{
	width: 100%;
	font-size: 18px !important;
	cursor: pointer;
	min-width: 140px !important;
	margin-top: 0px !important;
}

.leadscon-modal-content{
	padding: 0px !important; 
	width: 86%; 
	margin: auto; 
	border-radius: 0px
}

.leadscon-modal-body{
	padding: 0px !important;
}

.leadscon-modal-body-inner{
	padding: 35px 25px 35px 15px !important;
}

.leadscon-pp{
	margin-top: 20px;
	margin-bottom: 0px;
}

.leadscon-modal-close{
	z-index: 1;
    position: absolute;
    top: 0.7em;
    right: 0.7em;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;
    padding: 10px;
    background: #dde2eb;
    width: 32px;
    height: 32px;
    fill: #999;
    -webkit-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
    -moz-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
}

.leadscon-modal-close:hover {
	fill: black;
}

.leadscon-phonenumber{
	margin-top: 22px !important;
}

.leadscon-sire-link{
	text-decoration: underline;
	cursor: auto;
	color: rgb(146,146,146);
}

.leadscon-sire-link:hover {
	text-decoration: none !important;
	color: rgb(146,146,146);
}

.leadscon-last-text{
	color: rgb(146,146,146);
	margin-top: 7rem;
	font-size: 16px;
}

@media (min-width: 480px){
	.leadscon-last-text{
		font-size: 18px;
	}
}

#leadscon-email{
	padding-right: 0px !important;
}

.thankyou-sire-link{
	text-decoration: none;
	cursor: auto;
	color: black;
}

.thankyou-sire-link:hover {
	text-decoration: none !important;
	color: black;
}

.thankyou-last-text{
	color: black;
	margin-top: 40px;
	font-size: 16px;
}

@media (min-width: 768px){
	.thankyou-last-text{
		margin-top: 70px;
	}
}


.mb-70{
	margin-bottom: 70px;
}

.mb-20{
	margin-bottom: 20px;
}

/*#leadscon-email .modal-dialog{
	vertical-align: middle;
}*/

.month-year-plan-switch .switch {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 27px;
  margin-bottom: -4px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 769px){
	.month-year-plan-switch .switch{
		margin-left: 3rem;
  		margin-right: 3rem;
	}

	.month-year-plan-switch{
		padding-bottom: 7.7rem;
	}
}

.month-year-plan-switch .switch input {display:none;}

.month-year-plan-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.month-year-plan-switch .slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.month-year-plan-switch input:checked + .slider {
  background-color: #568ca5;
}

.month-year-plan-switch input:focus + .slider {
  box-shadow: 0 0 1px #568ca5;
}

.month-year-plan-switch input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.month-year-plan-switch .slider.round {
  border-radius: 34px;
}

.month-year-plan-switch .slider.round:before {
  border-radius: 50%;
}

.month-year-plan-text{
	font-size: 30px; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 800;
	color: #929292;
}

.triangle-isosceles.left:after {
    top: 8px;
    left: -10px;
    bottom: auto;
    border-width: 15px 16px 15px 0;
    border-color: transparent #929292;
}

.triangle-isosceles.changed.left:after {
    border-color: transparent #568ca5;
}

.triangle-isosceles {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 29px;
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: white;
    font-weight: 600;
    background: #929292;
    /*background: -webkit-gradient(linear, 0 0, 0 100%,#929292);
    background: -moz-linear-gradient(#929292);
    background: -o-linear-gradient(#929292);
    background: linear-gradient(#929292);*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
}

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#929292 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.triangle-isosceles.left {
    margin-left: 18px;
    background: #929292;
    padding-top: 0px;
    padding-bottom:5px;
}

@media screen and (max-width: 767px){
    .month-year-plan-text{
        font-size: 23px;
    }

    .triangle-isosceles{
        font-size: 25px;
    }

    .triangle-isosceles.left:after{
    	top: 5px;
    }
}

@media screen and (max-width: 548px){
    .triangle-isosceles:after{
    	display: none;
    }
}

.monthly-yearly-signup .month-year-plan-switch .inner{
	margin-left: 0px;
}

.monthly-yearly-signup .month-year-plan-switch{
	padding-bottom: 0px;
}

.monthly-yearly-signup .month-year-plan-switch .month-year-plan-text,
.monthly-yearly-signup .month-year-plan-switch .triangle-isosceles{
	font-size: 18px;
}

.monthly-yearly-signup .month-year-plan-switch .triangle-isosceles.left{
	padding-bottom: 2px;
}

.monthly-yearly-signup .month-year-plan-switch .slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.monthly-yearly-signup .month-year-plan-switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.monthly-yearly-signup .month-year-plan-switch .switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 23px;
  margin-bottom: -4px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.monthly-yearly-signup .triangle-isosceles.left:after {
    top: 3px;
    left: -8px;
    bottom: auto;
    border-width: 10px 13px 10px 0;
    border-color: transparent #929292;
}

.monthly-yearly-signup .triangle-isosceles.changed.left:after {
    border-color: transparent #568ca5;
}

.monthly-yearly-signup{
	margin-bottom: 22px;
}

/*.modal-open{
    position: fixed;
}*/