.si-content {
	padding: 18px 12px;
}
.si-config .heading {
	font-size: 30px;
	color: #5c5c5c;
	font-weight: bold;
	margin: 10px 0 25px;
	min-height: 0;
}
.si-config .tab-title ul {
	content : "";
	display : table;
	clear : both;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.si-config .tab-title > ul > li {
	float: left;
	width: 135px;
	margin-right: 4px;
	margin-bottom: -1px;
	line-height: 1em;
	font-size: 16px;
	padding: 11px 3px;
	text-align: center;
	color: #5c5c5c;
	font-weight: bold;
	border: 1px solid #dedede;
	background: #dedede;
}
@media screen and (min-width: 481px) and (max-width: 767px){
	.si-config .tab-title > ul > li {
		font-size: 12px;
		width: 78px;
	}
}
@media screen and (max-width: 480px){
	.si-config .tab-title > ul > li {
		font-size: 8px;
		width: 45px;
	}
}
.si-config .tab-title > ul > li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.si-config .tab-title > ul > li:hover {
	cursor: pointer;
}
.si-config .tab-title > ul > li span {
	color: #77c281;
}
.si-config .tab-content > ul > li {
	display: none;
}
.si-config .tab-content > ul > li.active {
	display: block;
}
.si-config .tab-content .col-left {
	border: 1px solid #dedede;
	min-height: 665px;
	padding: 35px 15px;
	margin-bottom: 10px;
}
@media screen and (max-width: 991px){
	.si-config .tab-content .col-left {
		min-height: 0;
	}
}
.si-config .tab-content .item {
	margin-bottom: 20px;
}
.si-config .tab-content .item p {
	margin-bottom: 0;
	text-align: center;
	color: #5c5c5c;
}
.si-config .tab-content .item .name {
	font-size: 18px;

}
.si-config .tab-content .item .number {
	font-size: 48px;
	font-weight: bold;
}
.si-config .tab-content .col-right {
	border: 1px solid #dedede;
	min-height: 665px;
	padding: 10px 18px 35px;
	margin-bottom: 10px;
}
@media screen and (max-width: 991px){
	.si-config .tab-content .col-right {
		min-height: 0;
	}
}

/*--- Full Page ---*/
body.full-page {
	background: #fff;
}
.full-page .page {
	padding: 27px;
}
.full-page .brand-banner {
	background: #274e60;
	padding: 18px 15px;
}
.full-page .brand-banner img {
	display: block;
	margin: 0 auto 10px;
	width: 174px;
}
.full-page .brand-banner p {
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin: 0;
}
.full-page .thumb {
	text-align: center;
}
.full-page .thumb .item {
	display: inline-block;
	width: 210px;
	height: 210px;
	margin: 65px;
	border-radius: 50%;
	font-size: 30px;
}
.full-page .thumb .item p {
	display: table-cell;
	vertical-align: middle;
	height: 210px;
	width: 210px;
	padding: 0 10px;
	font-size: 30px;
	line-height: 1.1em;
}
.full-page .thumb .item p.em {
	font-weight: bold;
}
.full-page .thumb .item p.em span {
	font-weight: normal;
}
.full-page .thumb .item span {
	font-size: 24px;
}
.full-page .thumb .item span,
.full-page .thumb .item p {
	color: #fff;
	margin: 0;
}
.full-page .thumb .item.st {
	background: #648ba4;
}
.full-page .thumb .item.nd {
	background: #71c27a;
}
.full-page .thumb .item.rd {
	background: #274e60;
}
.full-page .thumb .item .cell {
	display: table-cell;
	vertical-align: middle;
}
.full-page .btn-back-custom {
	display: block;
	margin: 30px auto;
	width: 290px;
	height: 70px;
	color: #fff;
	text-transform: uppercase;
	font-size: 31.4px;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
}

/*--- End Full Page ---*/