.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.menu-template{
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	background-color: #fff;
	-moz-box-shadow: 0 0 16px 0 rgba(16,16,25,.4);
	-webkit-box-shadow: 0 0 16px 0 rgba(16,16,25,.4);
	box-shadow: 0 0 16px 0 rgba(16,16,25,.4);
}

.navi-template{
	text-align: center;
}

.navi-template .navbar-nav{
	float: none;
	display: inline-block;
}

.navi-template .navbar-nav > li{
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

.navi-template .navbar-nav > li > a{
	font-size: 24px;
	position: relative;
	padding-left: 0;
	padding-right: 0;
}

.navi-template .navbar-nav > li > a:after{
	content: "";
	width: 100%;
	height: 5px;
	
	background-color: transparent;

	position: absolute;
	left: 0;
	bottom: -5px;
}

.navi-template .navbar-nav > li.active > a:after{
	background-color: #578ca5;
	color: #578ca5;
	text-decoration: none;
}

.menu-template .navbar-nav > .open > a,
.menu-template .navbar-nav > .open > a:hover,
.menu-template .navbar-nav > .open > a:focus{
	background-color: transparent;
}

.menu-template .navbar-nav > .open > a,
.menu-template .navbar-nav > .active > a{
	background-image: none;
	box-shadow: none;
	background-color: transparent;
	color: #578ca5;
	text-decoration: none;
}

.navi-template .navbar-nav > li .dropdown-menu{
	border: none;
}

.main-menu li a{
	cursor: pointer;
	font-size: 16px;
	color: #5c5c5c;
	padding: 5px;
}

.main-menu > li > a:hover,
.main-menu > li > a:focus,
.main-menu > li.active > a{
	text-decoration: none;
    background-color: #eee;
    color: #578ca5;
}

.navi-template .navbar-nav > li > a.dropdown-toggle:hover,
.navi-template .navbar-nav > li.active a.dropdown-toggle
{
color: #578ca5 !important;
}

.yamm-content .box-border{
	border-right: 1px solid #eee;
}

.template-breadcrumb{
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}


@media only screen and (max-width: 600px){
	.navi-template .navbar-nav > li > a{
		font-size: 16px;
	}
}

@media only screen and (max-width: 400px){
	.navi-template .navbar-nav > li > a{
		font-size: 14px;
	}
}

@media only screen and (max-width: 767px){
	.yamm .dropdown.yamm-fw .dropdown-menu{
		position: absolute;
		background-color: #fff;

		    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}

	.yamm-content .box-border{
		border: none;
	}

	.navi-template .navbar-nav{
		margin: 0;
	}
}

/*.contentFiltersDesc{
	display: none;
}*/

/*.main-menu{
	position: relative;
}

.main-menu .mega-second {
    width: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    display: none;
}

.main-menu .mega-second.is-active {
    display: block;
}*/
@media only screen and (max-width: 480px) and (min-width: 353px){
  li#tabBusinesses {
    padding-right: 20px;
    padding-left: 20px;
  }

  li#tabSocial {
    padding-left: 0px;
  }

  li#tabDevelopers {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 352px) and (min-width: 300px){
  li#tabBusinesses {
    padding-right: 5px;
    padding-left: 5px;
  }

  li#tabSocial {
    padding-left: 5px;
  }

  li#tabDevelopers {
    padding-right: 5px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 699px){
  #tabBusinesses {
    padding-right: 50px;
    padding-left: 50px;
  }

  #tabSocial {
    padding-left: 0px;
  }

  #tabDevelopers {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 700px) {
  #tabBusinesses {
    padding-right: 80px;
    padding-left: 80px;
  }

  #tabSocial {
    padding-left: 0px;
  }

  #tabDevelopers {
    padding-right: 0px;
  }
}