<cfoutput>
	<cfinclude template="../fusionchart/FusionCharts.cfm">
	<cfparam name="IsIntegratedSite" default="#Session.IsIntegratedSite#">
</cfoutput>
<cfif IsIntegratedSite NEQ 1>
	<cfoutput>
	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery-ui-1.8.9.custom.min.js"></script>
	<link rel="stylesheet" href='#rootUrl#/#PublicPath#/js/fusionchart/style.css'>
	<script language="javascript" src="#rootUrl#/#PublicPath#/js/fusionchart/FusionCharts.js"></script>
	</cfoutput>
</cfif>

<cfparam name="UserId_int" default="135">

<cfoutput>
	<cfset chartSWF = "../FusionCharts/MSColumn3DLineDY.swf">
	<cfset chartSWF = "#rootUrl#/#PublicPath#/js/fusionchart/Column3D.swf">
<!---    <cfset strXML = "">
   <cfset strXML = strXML & "<chart caption='Billing reports' xAxisName='Month' yAxisName='Units' showValues='0' formatNumberScale='0' showBorder='1'>">
   <cfset strXML = strXML & "<set label='Jan' value='462' />">
   <cfset strXML = strXML & "<set label='Feb' value='857' />">
   <cfset strXML = strXML & "<set label='Mar' value='671' />">
   <cfset strXML = strXML & "<set label='Apr' value='494' />">
   <cfset strXML = strXML & "<set label='May' value='761' />">
   <cfset strXML = strXML & "<set label='Jun' value='960' />">
   <cfset strXML = strXML & "<set label='Jul' value='629' />">
   <cfset strXML = strXML & "<set label='Aug' value='622' />">
   <cfset strXML = strXML & "<set label='Sep' value='376' />">
   <cfset strXML = strXML & "<set label='Oct' value='494' />">
   <cfset strXML = strXML & "<set label='Nov' value='761' />">
   <cfset strXML = strXML & "<set label='Dec' value='960' />">
   <cfset strXML = strXML & "</chart>"> --->
	<cfset strURL = "">
</cfoutput>
<div style="text-align: center;">
<cfoutput>#renderChartHTML1(UserId_int,chartSWF, "myNext", 1100, 600, false)#</cfoutput>


</div>
<!---
<script>

	$.ajax({
           type: "POST",
           url: "<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/billing.cfc?method=renderChartHTML1&returnformat=json&queryformat=column&_cf_noDEBUG=true&_cf_nocache=true",
	   		data:{
	    		 inpUserId : <cfoutput>#UserId_int#</cfoutput>,
	    		 chartSWF: "<cfoutput>#chartSWF#</cfoutput>",
	    		 strURL: "<cfoutput>#strURL#</cfoutput>",
	    		 strXML1234: "<cfoutput>#strXML#</cfoutput>",
	    		 chartId: "myNext",
	    		 chartWidth: 300,
	    		 chartHeight: 600,
	    		 debugMode: false
			},
           dataType: "json", 
           success: function(d2, textStatus, xhr) {
	           	var d = eval('(' + xhr.responseText + ')');
	    		if (d2.ROWCOUNT > 0) {
					if(typeof(d.DATA.RXRESULTCODE[0]) != "undefined")
					{
						
					}
					<!--- Refresh view --->
					$("#loading").hide();
				}
				else
				{<!--- No result returned --->
					$.alerts.okButton = '&nbsp;OK&nbsp;';
					jAlert("Error.", "No Response from the remote server. Check your connection and try again.");
				}
       		 }
  	});
	function renderChartHTML1(chartSWF, strURL, strXML, chartId, chartWidth, chartHeight, debugMode) {
	
	if (strXML == "") {
		var strFlashVars = "&chartWidth=#chartWidth#&chartHeight#chartHeight#&debugMode=#debugMode#&dataURL=#strURL#";
		var strFlashVars = '"&chartWidth='+chartWidth+'&chartHeight'+chartHeight+'&debugMode='+debugMode+'&dataURL='+strURL+'"';
	} else {
		var strFlashVars = "&chartWidth=#chartWidth#&chartHeight=#chartHeight#&debugMode=#debugMode#&dataXML=#strXML#";
		var strFlashVars = '"&chartWidth='+chartWidth+'&chartHeight='+chartHeight+'&debugMode='+debugMode+'&dataXML='+strXML+'"';
	}
	var str = "";
	str = '<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab##version=8,0,0,0" width="'+chartWidth+'" height="'+chartHeight+'" id="myNext">';
	str = str + '<param name="allowScriptAccess" value="always" />';
	str = str + '<param name="movie" value="'+chartSWF+'"/>';
	str = str + '<param name="FlashVars" value="'+strFlashVars+'" />';
	str = str + '<param name="quality" value="high" />';
	str = str + '<embed src="'+chartSWF+'" FlashVars="'+strFlashVars+'" quality="high" width="'+chartWidth+'" height="'+chartHeight+'" name="'+chartId+'" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />';
	str = str + '</object>';
	return str;
	}
</script>
--->

