<cfquery name="getBid" datasource="#Session.DBSourceEBM#">
	select 	* 
    from	simplexresults.contactresults
    where batchid_bi = 110
</cfquery>

<cfdump var="#getbid#">


<!---<cfquery name="getb" datasource="10.17.0.10">
	select count(*) as total, batchid_bi 
    from calldetail.rxcalldetails
    group by batchid_bi
    order by total desc
</cfquery>



<cfdump var="#getb#">
--->

<cfoutput>
<cfquery name="reqB" datasource="10.17.0.10">
	select *
    from calldetail.rxcalldetails
    where batchid_bi = 117420 and rxcdlstarttime_dt < '2011-07-06 00:00:00'
    limit 100
</cfquery>

<cfdump var="#reqB#">

<cfabort>

<cfloop query="reqB">
	<cfquery name="insert" datasource="#Session.DBSourceEBM#">
    	insert into simplexresults.contactresults(
        	RXCallDetailId_int,CallDetailsStatusId_ti, BatchId_bi, TotalObjectTime_int, TotalCallTimeLiveTransfer_int, TotalCallTime_int, TotalConnectTime_int, ReplayTotalCallTime_int, SixSecondBilling_int,  CallResult_int, RedialNumber_int, MessageDelivered_si, UserSpecifiedLineNumber_si, NumberOfHoursToRescheduleRedial_si, TimeZone_ti, TransferStatusId_ti, IsHangUpDetected_ti, IsOptOut_ti, IsOptIn_ti, IsMaxRedialsReached_ti, IsRescheduled_ti, RXCDLStartTime_dt, CallStartTime_dt, CallEndTime_dt, CallStartTimeLiveTransfer_dt, CallEndTimeLiveTransfer_dt, CallResultTS_dt, PlayFileStartTime_dt, PlayFileEndTime_dt, HangUpDetectedTS_dt, Created_dt, DialerName_vch, CurrTS_vch, CurrVoice_vch, CurrTSLiveTransfer_vch, CurrVoiceLiveTransfer_vch, CurrCDP_vch, CurrCDPLiveTransfer_vch, ContactString_vch, XMLResultStr_vch, FileSeqNumber_int, UserSpecifiedData_vch
            )
            
            values(
            	#RXCallDetailId_int#,0,110, #TotalObjectTime_int#, #TotalCallTimeLiveTransfer_int#, #TotalCallTime_int#, #TotalConnectTime_int#, #ReplayTotalCallTime_int#, #TotalCallTime_int#,#CallResult_int#,#RedialNumber_int#, #MessageDelivered_si#,#UserSpecifiedLineNumber_si#, #NumberOfHoursToRescheduleRedial_si#,#TimeZone_ti#,#TransferStatusId_ti#,#IsHangUpDetected_ti#,#IsOptOut_ti#,#IsOptIn_ti#,#IsMaxRedialsReached_ti#,#IsRescheduled_ti#,'#RXCDLStartTime_dt#','#CallStartTime_dt#','#CallEndTime_dt#','#CallStartTimeLiveTransfer_dt#','#CallEndTimeLiveTransfer_dt#','#CallResultTS_dt#','#PlayFileStartTime_dt#','#PlayFileEndTime_dt#','#HangUpDetectedTS_dt#','#Created_dt#','#DialerName_vch#','#CurrTS_vch#','#CurrVoice_vch#','#CurrTSLiveTransfer_vch#','#CurrVoiceLiveTransfer_vch#','#CurrCDP_vch#','#CurrCDPLiveTransfer_vch#','#ContactString_vch#','#XMLResultStr_vch#',#FileSeqNumber_int#,'#UserSpecifiedData_vch#'
            )
    </cfquery>
</cfloop>

</cfoutput>