<!--- Pass in Template Id --->
<cfparam name="inpID" default="0" />

<cfinvoke method="ReadTemplate" component="#Session.SessionCFCPath#.emailtemplates" returnvariable="RetVarReadTemplate">
	<cfinvokeargument name="inpID" value="#inpID#">
</cfinvoke> 

<cfoutput>#RetVarReadTemplate.TEMPLATE#</cfoutput>