



<script TYPE="text/javascript">
	
	$(function()
	{
		<!--- Setup click functions alert( $(this).attr('id') ); --->		
		$("#EBMeMailDynamicContent_PickerDiv .eMailDC").each(function (i) { 
			
			$(this).click( function() 
							{
						
							//	LastFieldChoosen = $(this).attr('rel');
								tinyMCE.execCommand('mceInsertContent', false, $(this).attr('rel'));								
								CreateFieldChooserDialogeMailTools.remove(); 
							} );
				
		}); 		
	});

</script>




<div id="EBMeMailDynamicContent_PickerDiv">

<table cellpadding="10px" cellspacing="15px">

	<tr>
    	<td colspan="3">
            <div style="display:inline;">
                <a href="javascript:void(0)" id="0" rel="{%FirstName_vch%}" class="eMailDC">First Name</a>
                <a href="javascript:void(0)" id="1" rel="{%LastName_vch%}" class="eMailDC">Last Name</a>
				<a href="javascript:void(0)" id="99" rel="REPLACETHISUUID" class="eMailDC">UUID</a>
            </div>  
        </td>        
    </tr>    
    
    <tr>
    	<td>     
            <div style="display:inline;">
                <a href="javascript:void(0)" id="2" rel="{%CustomField1_vch%}" class="eMailDC">Custom Text Field 1</a>
                <a href="javascript:void(0)" id="3" rel="{%CustomField2_vch%}" class="eMailDC">Custom Text Field 2</a>
                <a href="javascript:void(0)" id="4" rel="{%CustomField3_vch%}" class="eMailDC">Custom Text Field 3</a>
                <a href="javascript:void(0)" id="5" rel="{%CustomField4_vch%}" class="eMailDC">Custom Text Field 4</a>
                <a href="javascript:void(0)" id="6" rel="{%CustomField5_vch%}" class="eMailDC">Custom Text Field 5</a>
                <a href="javascript:void(0)" id="7" rel="{%CustomField6_vch%}" class="eMailDC">Custom Text Field 6</a>
                <a href="javascript:void(0)" id="8" rel="{%CustomField7_vch%}" class="eMailDC">Custom Text Field 7</a>
                <a href="javascript:void(0)" id="9" rel="{%CustomField8_vch%}" class="eMailDC">Custom Text Field 8</a>
                <a href="javascript:void(0)" id="10" rel="{%CustomField9_vch%}" class="eMailDC">Custom Text Field 9</a>
                <a href="javascript:void(0)" id="11" rel="{%CustomField10_vch%}" class="eMailDC">Custom Text Field 10</a>
            </div>   
        </td>
        <td>    
            <div style="display:inline;">
                <a href="javascript:void(0)" id="12" rel="{%CustomField1_int%}" class="eMailDC">Custom Numeric Field 1</a>
                <a href="javascript:void(0)" id="13" rel="{%CustomField2_int%}" class="eMailDC">Custom Numeric Field 2</a>
                <a href="javascript:void(0)" id="14" rel="{%CustomField3_int%}" class="eMailDC">Custom Numeric Field 3</a>
                <a href="javascript:void(0)" id="15" rel="{%CustomField4_int%}" class="eMailDC">Custom Numeric Field 4</a>
                <a href="javascript:void(0)" id="16" rel="{%CustomField5_int%}" class="eMailDC">Custom Numeric Field 5</a>
                <a href="javascript:void(0)" id="17" rel="{%CustomField6_int%}" class="eMailDC">Custom Numeric Field 6</a>
                <a href="javascript:void(0)" id="18" rel="{%CustomField7_int%}" class="eMailDC">Custom Numeric Field 7</a>
                <a href="javascript:void(0)" id="19" rel="{%CustomField8_int%}" class="eMailDC">Custom Numeric Field 8</a>
                <a href="javascript:void(0)" id="20" rel="{%CustomField9_int%}" class="eMailDC">Custom Numeric Field 9</a>
                <a href="javascript:void(0)" id="21" rel="{%CustomField10_int%}" class="eMailDC">Custom Numeric Field 10</a>
            </div>   
        </td>
        <td>    
            <div style="display:inline;">
                <a href="javascript:void(0)" id="22" rel="{%LocationKey1_vch%}" class="eMailDC">Custom Location Field 1</a>
                <a href="javascript:void(0)" id="23" rel="{%LocationKey2_vch%}" class="eMailDC">Custom Location Field 2</a>
                <a href="javascript:void(0)" id="24" rel="{%LocationKey3_vch%}" class="eMailDC">Custom Location Field 3</a>
                <a href="javascript:void(0)" id="25" rel="{%LocationKey4_vch%}" class="eMailDC">Custom Location Field 4</a>
                <a href="javascript:void(0)" id="26" rel="{%LocationKey5_vch%}" class="eMailDC">Custom Location Field 5</a>
                <a href="javascript:void(0)" id="27" rel="{%LocationKey6_vch%}" class="eMailDC">Custom Location Field 6</a>
                <a href="javascript:void(0)" id="28" rel="{%LocationKey7_vch%}" class="eMailDC">Custom Location Field 7</a>
                <a href="javascript:void(0)" id="29" rel="{%LocationKey8_vch%}" class="eMailDC">Custom Location Field 8</a>
                <a href="javascript:void(0)" id="30" rel="{%LocationKey9_vch%}" class="eMailDC">Custom Location Field 9</a>
                <a href="javascript:void(0)" id="31" rel="{%LocationKey10_vch%}" class="eMailDC">Custom Location Field 10</a>
            </div>   
        </td>
    </tr>
</table>    
    
</div>



