.NKey0{background: url(images/campaignicons.png) 0 0; width: 19px; height: 20px; } 
.NKey1{background: url(images/campaignicons.png) 0 -70px; width: 19px; height: 20px; } 
.NKey2{background: url(images/campaignicons.png) 0 -140px; width: 19px; height: 20px; } 
.NKey3{background: url(images/campaignicons.png) 0 -210px; width: 19px; height: 20px; } 
.NKey4{background: url(images/campaignicons.png) 0 -280px; width: 19px; height: 20px; } 
.NKey5{background: url(images/campaignicons.png) 0 -350px; width: 19px; height: 20px; } 
.NKey6{background: url(images/campaignicons.png) 0 -420px; width: 19px; height: 20px; } 
.NKey7{background: url(images/campaignicons.png) 0 -490px; width: 19px; height: 20px; } 
.NKey8{background: url(images/campaignicons.png) 0 -560px; width: 19px; height: 20px; } 
.NKey9{background: url(images/campaignicons.png) 0 -630px; width: 19px; height: 20px; }
.NLive{background: url(images/campaignicons.png) -425px -854px; width: 60px; height: 20px; }
.NMachine{background: url(images/campaignicons.png) -425px -915px; width: 60px; height: 20px; }
.delete_11x9{background: url(images/campaignicons.png) 0 -700px; width: 11px; height: 9px; } 
.MCIDTokenXIII{background: url(images/campaignicons.png) 0 -759px; width: 18px; height: 18px; } 
.MenuItemBGX3{background: url(images/campaignicons.png) 0 -827px; width: 82px; height: 138px; } 
.MenuItemBGX3_glow{background: url(images/campaignicons.png) 0 -1015px; width: 114px; height: 168px; margin-top: -1.5px; margin-left: 0.5px } 
.MenuItemSX3{background: url(images/campaignicons.png) 0 -1233px; width: 139px; height: 84px; } 
.MenuItemSX3_glow{background: url(images/campaignicons.png) 0 -1367px; width: 168px; height: 114px; }
.MenuItemSX24{background: url(images/campaignicons.png) -388px -690px; width: 139px; height: 84px; } 
.NPoundKey{background: url(images/campaignicons.png) 0 -1531px; width: 19px; height: 20px; } 
.NStarKey{background: url(images/campaignicons.png) 0 -1601px; width: 19px; height: 20px; } 
.PinGreenSX{background: url(images/campaignicons.png) 0 -1671px; width: 18px; height: 15px; } 
.PinRedSX{background: url(images/campaignicons.png) 0 -1736px; width: 18px; height: 15px; } 
.PinYellowSX{background: url(images/campaignicons.png) 0 -1801px; width: 18px; height: 15px; } 
.SMSIconWebII{background: url(images/campaignicons.png) 0 -1866px; width: 100px; height: 100px; } 
.voiceiconwebii{background: url(images/campaignicons.png) -218px 0; width: 100px; height: 100px; } 
.delete_hover{background: url(images/campaignicons.png) -218px -150px; width: 11px; height: 9px; } 
.eMailIconWebII{background: url(images/campaignicons.png) -218px -209px; width: 100px; height: 100px; } 
.menuitem_asr{background: url(images/campaignicons.png) -218px -359px; width: 39px; height: 39px; } 
.menuitem_dtmf{background: url(images/campaignicons.png) -218px -448px; width: 39px; height: 39px; } 
.menuitem_email{background: url(images/campaignicons.png) -218px -537px; width: 39px; height: 39px; } 
.menuitem_ivr{background: url(images/campaignicons.png) -218px -626px; width: 39px; height: 39px; } 
.menuitem_ivrms{background: url(images/campaignicons.png) -218px -715px; width: 39px; height: 39px; } 
.menuitem_lat{background: url(images/campaignicons.png) -218px -804px; width: 39px; height: 39px; } 
.menuitem_noplay{background: url(images/campaignicons.png) -218px -893px; width: 39px; height: 39px; } 
.menuitem_optin{background: url(images/campaignicons.png) -218px -982px; width: 39px; height: 39px; } 
.menuitem_optout{background: url(images/campaignicons.png) -218px -1071px; width: 39px; height: 39px; } 
.menuitem_path{background: url(images/campaignicons.png) -218px -1160px; width: 39px; height: 39px; } 
.menuitem_pause{background: url(images/campaignicons.png) -218px -1249px; width: 39px; height: 39px; } 
.menuitem_play{background: url(images/campaignicons.png) -218px -1338px; width: 39px; height: 39px; } 
.menuitem_readds{background: url(images/campaignicons.png) -218px -1427px; width: 39px; height: 39px; } 
.menuitem_rec{background: url(images/campaignicons.png) -218px -1516px; width: 39px; height: 39px; } 
.menuitem_sql{background: url(images/campaignicons.png) -218px -1605px; width: 39px; height: 39px; } 
.menuitem_store{background: url(images/campaignicons.png) -218px -1694px; width: 39px; height: 39px; } 
.menuitem_switch{background: url(images/campaignicons.png) -218px -1783px; width: 39px; height: 39px; } 
.menuitem_switching{background: url(images/campaignicons.png) -218px -1872px; width: 39px; height: 39px; }
.menuitem_switchingSwitch{background: url(images/campaignicons.png) -445px -804px; width: 21px; height: 21px; } 
.menuitem_switchoutMCIDs{background: url(images/campaignicons.png) -436px 0; width: 39px; height: 39px; } 
.menuitem_ws{background: url(images/campaignicons.png) -436px -89px; width: 39px; height: 39px; } 
.menuitem_filter{background: url(images/campaignicons.png) -436px -624px; width: 39px; height: 39px; } 
.switch{background: url(images/campaignicons.png) -436px -178px; width: 65px; height: 36px; } 
.switch2{background: url(images/campaignicons.png) -436px -264px; width: 75px; height: 45px; margin-top: -2px; margin-left:-2px }
.switchOn{background: url(images/MenuItemSX4.png)  } 
.switchOn2{background: url(images/MenuItemSX4.png)  }
.MenuItemRulesBGX1{background: url(images/campaignicons.png) -395px -330px; width: 118px; height: 118px; } 
.MenuItemRulesBGX1_glow{background: url(images/campaignicons.png) -395px -467px; width: 136px; height: 136px; margin-top: 12px; margin-left: 15px } 
.menuitem_VoiceChannel{background: url(../../images/voiceicon3web3.png); width: 39px; height: 39px; }
.menuitem_SMSChannel{background: url(../../images/smsicon3web.png); width: 39px; height: 39px; }
.menuitem_eMailChannel{background: url(images/campaignicons.png) -218px -537px; width: 39px; height: 39px; } 
.menuitem_CloudChannel{background: url(../../images/voiceicon3web3.png); width: 39px; height: 39px; }


.MenuItemCOMMSBGX1{background: url(../../images/voiceiconwebii.png); width: 100px; height: 100px; }
.MenuItemCOMMSBGX3{background: url(../../images/EMailIconWebII.png); width: 100px; height: 100px; }
.MenuItemCOMMSBGX4{background: url(../../images/SMSIconWebII.png); width: 100px; height: 100px; }
.MenuItemCOMMSBGX5{background: url(../../images/CloudIconWebII.png); width: 100px; height: 100px; }
.MenuItemCOMMSBGX6{background: url(../../images/FacebookIconWebII.png); width: 100px; height: 100px; }
.MenuItemCOMMSBGX7{background: url(../../images/TwitterIconWebII.png); width: 100px; height: 100px; }
.MenuItemCOMMSBGX8{background: url(../../images/survey_icon.png); width: 100px; height: 100px; }

 