/**
* tranglt
*/


/* Can't do this here - messes with other jquery dialogs - add a specific class to overide this

.ui-dialog .ui-dialog-content
{
	padding-bottom: 30px;
	height: auto !important;
}

*/


#ui-tabs-12
{
    height: 600px;
    min-height: 600px;
    overflow: scroll;
    position: relative;
    width: 800px;
}
/*
we add a .default class, so we can reset the page with
the mechanism defined above
*/
#font-size li
{
	float: left;
	background: none;
	list-style-type: none;
	margin-right: 5px;
}
body,
body.default .SBStageContainer {
	
}
/**
 * zoom 10 100
 * zoom 50 default
 */
.no-zoom body #SBContents .SBStageContainer,
.no-zoom body.zoom50 #SBContents .SBStageContainer {
	-o-transform-origin:0 0;
	-moz-transform-origin:0 0;
}
/*
.zoom body.zoom0 #SBContents {
	zoom:50%;
}
.zoom body.zoom10 #SBContents {
	zoom:60%;
}
.zoom body.zoom20 #SBContents {
	zoom:70%;
}
.zoom body.zoom30 #SBContents {
	zoom:80%;
}
.zoom body.zoom40 #SBContents {
	zoom:90%;
}

.zoom body.zoom60 #SBContents {
	zoom:110%;
}
.zoom body.zoom70 #SBContents {
	zoom:120%;
}
.zoom body.zoom80 #SBContents {
	zoom:130%;
}
.zoom body.zoom90 #SBContents {
	zoom:140%;
}
.zoom body.zoom100 #SBContents {
	zoom:150%;
}
.no-zoom body.zoom0 #SBContents {
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    height: 1240px;
}
.no-zoom body.zoom10 #SBContents {
    -o-transform: scale(0.6);
    -moz-transform: scale(0.6);
    height: 1240px;
}
.no-zoom body.zoom20 #SBContents {
    -o-transform: scale(0.7);
    -moz-transform: scale(0.7);
    height: 1240px;
}
.no-zoom body.zoom30 #SBContents {
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    height: 1240px;
}
.no-zoom body.zoom40 #SBContents {
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    height: 1240px;
}
.no-zoom body.zoom60 #SBContents {
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    height: 1520px;
    width: 1320px;
}
.no-zoom body.zoom70 #SBContents {
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    height: 1520px;
    width: 1320px;
}
.no-zoom body.zoom80 #SBContents {
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    height: 1520px;
    width: 1320px;
}
.no-zoom body.zoom90 #SBContents {
    -o-transform: scale(1.4);
    -moz-transform: scale(1.4);
    height: 1700px;
    width: 1500px;
}
.no-zoom body.zoom100 #SBContents {
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    height: 2009px;
    width: 1500px;
}*/
/*
here's our class for browsers without a zoom property,
this sets the transform's origin. In this case it defines
the point from which our scale will happen.
We want it to row from the center and from the top,
so 50% and 0 it is.
*/

/*
.no-zoom body #SBContents {
	-o-transform-origin:0 0;
	-moz-transform-origin:0 0;
}
.zoom body.small #SBContents {
	zoom:90%;
}
.zoom body.smallest #SBContents {
	zoom:80%;
}
.zoom body.larger #SBContents {
	zoom:110%;
}
.zoom body.largest #SBContents {
	zoom:125%;
}
.no-zoom body.small #SBContents {
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    height: 1240px;
    min-height: 1240px;
}
.no-zoom body.smallest #SBContents {
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    height: 1100px;
    min-height: 1100px;
}
.no-zoom body.larger #SBContents {
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    height: 1520px;
    min-height: 1520px;
    width: 1320px;
}
.no-zoom body.largest #SBContents {
    -o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    height: 1720px;
    min-height: 1720px;
    width: 1500px;
}
*/