.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}


.switchPaging {
	font-size: 9px;
}
        
.switchPaging a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.switchPaging a, .switchPaging span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
	font-size:9px
}

.switchPaging .current {
    background: #21515f;
    color: #fff;
	border: solid 1px #AAE;
}

.switchPaging .current.prev, .switchPaging .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
