/* generic context menu styles */
.contextmenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextmenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextmenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextmenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextmenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextmenu LI.hover.disabled A {
	background-color: transparent;
}

.contextmenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextmenu LI.edit A { background-image: url(images/contextmenu/page_white_edit.png); }
.contextmenu LI.cut A { background-image: url(images/contextmenu/cut.png); }
.contextmenu LI.copy A { background-image: url(images/contextmenu/page_white_copy.png); }
.contextmenu LI.paste A { background-image: url(images/contextmenu/page_white_paste.png); }
.contextmenu LI.delete A { background-image: url(images/contextmenu/page_white_delete.png); }
.contextmenu LI.quit A { background-image: url(images/contextmenu/door.png); }
.contextmenu LI.rename A { background-image: url(images/contextmenu/item_rename.png); }
.contextmenu LI.upload A { background-image: url(images/contextmenu/Upload-icon.png); }
.contextmenu LI.play A { background-image: url(images/contextmenu/360-button-play.png); }