#SBContents
{
	/*top:0px;left:10px;	
	width:1200px;
	height: 1380px;
	min-height: 1380px;*/
	
	width: 1290px;
	height: auto;
	position: relative;
	
	border: 0px solid #EEE;
    border-radius: 10px 10px 0px 0px;
    margin: 0 0 0 0px;
    
}


.SBStageContainer
{
	background-color: #EEE;
	
}

#SBContents #MCIDToolbar
{
 	height: 20px;
    left: 120px;
    margin-right: 40px;
    min-height: 20px;
    padding: 5px;
    position: absolute;
    top: 3px;
    width: 1000px;
}

#SBContents #MCIDToolbar #zoomOutBtn,
#SBContents #MCIDToolbar #zoomInBtn,
#SBContents #MCIDToolbar #undoBtn,
#SBContents #MCIDToolbar #redoBtn,
#SBContents #MCIDToolbar #sortBtn,
#SBContents #MCIDToolbar #scheduleBtn,
#SBContents #MCIDToolbar #CollaborationBtn,
#SBContents #MCIDToolbar #clearBtn,
#SBContents #MCIDToolbar #templateBtn,
#SBContents #MCIDToolbar #qaBtn,
#SBContents #MCIDToolbar #advancedBtn,
#SBContents #MCIDToolbar #descriptionBtn,
#SBContents #MCIDToolbar #xmlBtn,
#SBContents #MCIDToolbar #GoBigBtn,
#SBContents #MCIDToolbar #btnSelect,
#SBContents #MCIDToolbar #printBtn
{
	position: relative;
	float: right;
	/* width: 20px;
	height: 20px;
	background: url(images/zoom_out20.png); */
	/*background: url(images/topmenuicons.png) 0 -1524px; width: 20px; height: 20px;*/
	
	margin-left: 25px;
}
#SBContents #MCIDToolbar #viewXML
{
	position: relative;
	float: right;
	width: 20px;
	height: 20px;	
	margin-left: 40px;
}


#SBContents #MCIDToolbar #scheduleBtn.active
{
	/* background: url(images/zoom_out20.png); */
	background: url(images/topmenuicons.png) 0 -1643px; width: 20px; height: 20px;
	/* background: url(<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/images/tabicons.png) -530px -1084px; width: 20px; height: 20px; */
	cursor:pointer;
}


#SBContents #MCIDToolbar #scheduleBtn.inactive
{
	/* background: url(images/zoom_out20.png); */
	background: url(images/topmenuicons.png) 0 -1643px; width: 20px; height: 20px;
	/* background: url(<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/images/tabicons.png) -530px -1084px; width: 20px; height: 20px; */
	cursor:pointer;
}

#SBContents #MCIDToolbar #zoomOutBtn.active
{
	/* background: url(images/zoom_out20.png); */
	background: url(images/topmenuicons.png) 0 -1524px; width: 20px; height: 20px;
	/* background: url(<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/images/tabicons.png) -530px -1084px; width: 20px; height: 20px; */
	cursor:pointer;
}

#SBContents #MCIDToolbar #btnSelect.active
{
	/* background: url(images/zoom_out20.png); */
	background: url(images/resize.png) no-repeat; width: 20px; height: 20px;
	/* background: url(<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/images/tabicons.png) -530px -1084px; width: 20px; height: 20px; */
	cursor:pointer;
}

#SBContents #MCIDToolbar #zoomOutBtn.inactive
{
	/* background: url(images/zoom_out20_inactive.png); */
	background: url(images/topmenuicons.png) 0 -1594px; width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #zoomInBtn.active
{
	/* background: url(images/zoom_in20.png); */
	background: url(images/topmenuicons.png) 0 -1384px; width: 20px; height: 20px;
	cursor:pointer;
}

#SBContents #MCIDToolbar #zoomInBtn.inactive
{
	/* background: url(images/zoom_in20_inactive.png); */
	background: url(images/topmenuicons.png) 0 -1454px; width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #undoBtn.active
{
	/* background: url(images/undo20n.png); */
	background: url(images/topmenuicons.png) 0 -1169px; width: 20px; height: 20px;
	cursor:pointer;
}

#SBContents #MCIDToolbar #undoBtn.inactive
{
	/* background: url(images/undo20n_inactive.png); */
	background: url(images/topmenuicons.png) 0 -1239px; width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #redoBtn.active
{
	/* background: url(images/redo20n.png); */
	background: url(images/topmenuicons.png) 0 -665px; width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #redoBtn.inactive
{
	/* background: url(images/redo20n_inactive.png); */
	background: url(images/topmenuicons.png) 0 -735px; width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #sortBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/topmenuicons.png) 0 -880px; width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #sortBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(images/topmenuicons.png) 0 -950px; width: 20px; height: 20px;
}
#SBContents #MCIDToolbar #clearBtn.http://ebmdevii.messagebroadcast.com/Session/campaign/viewcampaign.cfm?inpbatchid=635
{
	/* background: url(images/clear20.png); */
	background: url(images/topmenuicons.png) 0 -300px; width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #clearBtn.inactive
{
	/* background: url(images/clear20_inactive.png); */
	background: url(images/topmenuicons.png) 0 -370px; width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #CollaborationBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(../../images/collaboration-icon24x24.png); width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #CollaborationBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(../../images/collaboration-icon24x24.png) width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #templateBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/template20n.png); width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #templateBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(images/template20n_inactive.png) width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #xmlBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/xmlpreview20n.png); width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #xmlBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(images/xmlpreview20n_inactive.png); width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #GoBigBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/maximize_20x20_web.png); width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #GoBigBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(images/minimize_20x20_web.png); width: 20px; height: 20px;
	cursor:pointer;
}

#SBContents #MCIDToolbar #printBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/print20n.png); width: 20px; height: 20px;
	cursor:pointer;
}

#SBContents #MCIDToolbar #qaBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/qa20n.png); width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #qaBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(images/qa20n_inactive.png) width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #advancedBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/advanced20n.png); width: 20px; height: 20px;
	cursor:pointer;
}
#SBContents #MCIDToolbar #advancedBtn.inactive
{
	/* background: url(images/sort20_inactive.png); */
	background: url(images/advanced20n_inactive.png) width: 20px; height: 20px;
}

#SBContents #MCIDToolbar #descriptionBtn.active
{
	/* background: url(images/sort20.png); */
	background: url(images/description20n.png); width: 20px; height: 20px;
	cursor:move;
}

#SBMenuBar #auto_sort,
#SBMenuBar #clear
{
	background: url(images/test.png) center;
	height: 24px;
	line-height: 24px;
	width: 53px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#SBMenuBar #clear
{
	/* background: url(images/clear.png) center; */
}

#SBMenuBar #undo,
#SBMenuBar #redo
{
	/* background: url(images/undo_active.png) center;
	height: 25px;
	width: 42px; */
	background: url(images/topmenuicons.png) 0 -1309px; width: 42px; height: 25px;
	cursor: pointer;
}

#SBMenuBar #redo
{
	/* background: url(images/redo.png) center; */
	background: url(images/topmenuicons.png) 0 -590px; width: 42px; height: 25px;
}

#SBMenuBar #undo.inactive
{
	/* background: url(images/undo.png) center; */
	background: url(images/topmenuicons.png) 0 -1094px; width: 42px; height: 25px;
}
#SBMenuBar #redo.active
{
	/* background: url(images/redo_active.png) center; */
	background: url(images/topmenuicons.png) 0 -805px; width: 42px; height: 25px;
}

#SBContents #SBMenuBarsContainer
{

	position: relative;
	width:300px;
	height: 600px;
	margin-right: 15px;
	margin-left: -2px;
	padding-left: 8px;
	padding-top: 8px;
	float: left;
	display:inline;
}

#SBContents #SBMenuBar
{

	position: relative;
	width:280px;
	height: 500px;
	margin-right: 15px;
	margin-left: -2px;
	padding-left: 8px;
	padding-top: 8px;
	background: #daf1ff;
	border: 5px solid #4f7c93;
    border-radius: 10px;
	display:block;
     /* This lets IE know to call the script on all elements which get the 'box' class */
}


#SBContents #SBMenuBarRules
{

	position: relative;
	width:280px;
	height: 200px;
	margin-bottom: 8px;
	margin-right: 15px;
	margin-left: -2px;
	padding-left: 8px;
	padding-top: 8px;
	background:#FC6;
	border: 5px solid #4f7c93;
    border-radius: 10px;
	display:block;
     /* This lets IE know to call the script on all elements which get the 'box' class */
}


#SBContents #SBMenuBarComms
{

	position: relative;
	width:280px;
	height: 200px;
	margin-bottom: 8px;
	margin-right: 15px;
	margin-left: -2px;
	padding-left: 8px;
	padding-top: 8px;
	background: #F99;
	border: 5px solid #4f7c93;
    border-radius: 10px;
	display:block;
     /* This lets IE know to call the script on all elements which get the 'box' class */
}


#SBMenuBar .SBMenuItem
{
	position:relative;
	text-align: center;
	float: left;
	width: 60px;
	height: 67px;
	margin: 1px 2px;
	border:#6e5e5f 2px solid; 
	border-radius: 7px 7px 7px 7px;
	
}

#SBMenuBar .imgObjBackground
{
	 width:39px; height: 39px;
	/*display:inline;
	position:absolute;
	top:0px;
	left:0px;*/
	cursor:move;
}

.imgObjBackgroundGlow
{
	top:-14px;
	left:-15px;
	position:absolute;
	display:none;
}

#SBMenuBar .ObjDESCMenuItem
{
	font-size:11px;
	color:#3d8c00;
	border:none;
	/*display:inline;
	position:absolute;
	top:15px;
	left:25px;
	z-index:1510;
	z-index:510;*/
	word-wrap:normal;
	font-weight: 400;
	text-align: center;
	
}


#SBMenuBarRules .SBMenuItem
{
	position:relative;
	text-align: center;
	float: left;
	width: 60px;
	height: 67px;
	margin: 1px 2px;
	border:#6e5e5f 2px solid; 
	border-radius: 7px 7px 7px 7px;
	
}

#SBMenuBarRules .imgObjBackground
{
	 width:39px; height: 39px;
	/*display:inline;
	position:absolute;
	top:0px;
	left:0px;*/
	cursor:move;
}

#SBMenuBarRules .ObjDESCMenuItem
{
	font-size:11px;
	color:#3d8c00;
	border:none;
	/*display:inline;
	position:absolute;
	top:15px;
	left:25px;
	z-index:1510;
	z-index:510;*/
	word-wrap:normal;
	font-weight: 400;
	text-align: center;
	
}



#SBMenuBarComms .SBMenuItem
{
	position:relative;
	text-align: center;
	float: left;
	width: 60px;
	height: 67px;
	margin: 1px 2px;
	border:#6e5e5f 2px solid; 
	border-radius: 7px 7px 7px 7px;
	
}

#SBMenuBarComms .imgObjBackground
{
	 width:39px; height: 39px;
	/*display:inline;
	position:absolute;
	top:0px;
	left:0px;*/
	cursor:move;
}

#SBMenuBarComms .ObjDESCMenuItem
{
	font-size:11px;
	color:#3d8c00;
	border:none;
	/*display:inline;
	position:absolute;
	top:15px;
	left:25px;
	z-index:1510;
	z-index:510;*/
	word-wrap:normal;
	font-weight: 400;
	text-align: center;
	
}




.SBStageContainer
{
	width:1021px;
	height: 1220px;
	/*min-height: 1220px;*/
	/*float: left;*/
	/*left: 310px;*/
	/*top:35px;*/
	position:relative;
	overflow: hidden;
}

#SBStage
{
	position:absolute;
	/*top:147px;*/
	/*left:22px;*/
	/*width:1254px;*/
	width: 1000px;
	height: 1200px;
	/*min-height: 1200px;
/*	float: left;*/
	margin-top:1px;
	margin-left: 22px;
	/*
	top:0px;
	left:0px;
	width:1120px;
	height: 1070px;
	min-height: 1070px;*/
}

.stage {
    position: absolute;
    top: 117px;
    left: 26px;
    width: 1250px;
    height: 1200px;
}

#SBStage .SBStageItem
{
	position:absolute;
	display:inline;
	/*z-index:1800;
	z-index:800;*/
}

#SBMenuBar .mcidDevice
{
	width:66px;
	height: 84px;
	border:##999 2px solid; 
	border-radius: 7px 7px 7px 7px;
}


#ItemDESC
{
	text-align:left;
	/*z-index:1600;*/
	z-index:600;
}

#CURRRXSSXML
{
	font-size:9px;
	line-height:15px;
	list-style-type:none;
}

#CURRRXSSXML UL
{
	list-style-type:none;
}

.ObjDropZone
{
	font-size:9px;
	color:#000;
	display:inline;
	border:none;
	top:0px;
	left:24px;
	/*z-index:1505;*/
	z-index:505;
	position:absolute;		
}

.SBStageItem .ObjDESC
{
	font-size:10px;
	font-weight:bold;
	color:#003399;
	display:inline;
	border:none;
	top:125px;
	left:8px;
	/*z-index:1510;
	z-index:510;*/
	position:absolute;	
	white-space: nowrap;
}


.SBStageItem .imgObjDelete
{
	font-size:9px;
	color:#000;
	display:inline;
	border:none;
	top:6px;
	left:66px;
	/*z-index:1510;
	z-index:510;*/
	position:absolute;		
	
}

.imgObjDelete:hover {cursor:pointer}

.ObjLINKs
{
	font-size:8px;
	text-decoration:underline;
	color:#33CCFF;
	display:inline;
	border:none;
	position:absolute;
	top:112px;
	left:30px;
	/*z-index:1705;*/
	z-index:705;
}

.ObjLINKs:hover {cursor:pointer}


.MCIDToken
{
	/*background-image:url(images/MCIDTokenXIII.png);*/
	background: url(images/campaignicons.png) 0 -759px;
	background-repeat:no-repeat;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	display:inline;
	border:none;
	position:absolute;
	top:4px;
	left:4px;
	/*z-index:1510;
	z-index:510;*/
	width:18px;
	height: 18px;
	line-height: 18px;
	min-height:18px;
	min-width:18px;  
	cursor:pointer; 
}

.EditObjDESC
{
	font-size:9px;
	font-weight:900;
	color:#FFFFFF;
	display:inline;
	border:none;
	top:10px;
	left:30px;
	/*z-index:1700;
	z-index:1203;*/
	position:absolute;
<!---	overflow:hidden;--->
	word-wrap:break-word;
	width: 78px;
	height:48px;	
		
}

.EditObjDESCRule
{
	font-size:9px;
	font-weight:900;
	color:#FFFFFF;
	display:inline;
	border:none;
	top:30px;
	left:30px;
	/*z-index:1700;
	z-index:1203;*/
	position:absolute;
<!---	overflow:hidden;--->
	word-wrap:break-word;
	width: 78px;
	height:48px;	
		
}


.editable input[type=submit]
{
  color: #F00;
  font-size:8px;
  font-weight: bold;
}
.editable input[type=button]
{
  color: #0F0;
  font-size:8px;
  font-weight: bold;
}


.EditObjDESC button
{
  color: #F00;
  font-size:8px;
  font-weight: bold;
}

.EditObjDESC textarea
{
  color: #003399;
  font-size:8px;
  font-weight: bold;  overflow:visible;
}

/**
* form edit
*/

.clear
{
	clear: both;
}
.ui-dialog .ui-dialog-content
{
	padding: 0px;
}
.casevalue
{
	margin-top: 15px;
	margin-left: 25px;

}
/*
.ui-widget-content a
{
	color: #000;
}
.ui-widget-content a:hover
{
	color: #e7ff92;
	text-decoration: none;
}
*/
#ScritpButtons UL LI.play
{
	float: left;
	width: 60px;
	line-height: 27px;
}
.play1,
.rxdsmenu LI.play A
{
	/* background: url(images/play.png) no-repeat center;
	height: 27px;*/
	background: url(images/topmenuicons.png) 0 -440px; width: 52px; height: 27px;
	padding-left: 17px;
}
.play1:hover,
.rxdsmenu LI.play A:hover
{
	/* background: url(images/play_press.png) no-repeat center; */
	background: url(images/topmenuicons.png) 0 -515px; width: 52px; height: 25px;
}

#ScritpButtons UL LI a.flashplayer1
{
	/* background: url(images/change.png) no-repeat center;
	height: 27px;*/
	background: url(images/topmenuicons.png) 0 -70px; width: 69px; height: 28px;
	padding-left: 17px;
	float: right;
}





/*
 * TEST
 */
#viewport {
	position: relative;  /* to enable further positioned divs inside content area */
	border: 1px solid #777;
	background: white;
	width:540px;
	height:450px;
	/*overflow: auto;*/
	overflow: scroll;
}

#base {
	/*position:relative;*/
	width:70em; height:50em;
	background-image: url('layout_grid.gif');
	background-repeat: no-repeat;
	/*overflow: hidden;*/
}

#dragscrollable {
    height: 1380px;
    left: 10px;
    top: 0;
    width: 1200px;
}

.StageWH{
    float: right;
    margin-left: 20px;
    position: relative;
}
.StageWH input
{
	width: 40px;
}
#list_screen{
	padding: 20px;
}
#list_screen ul{
 	list-style: none outside none;
 	margin-bottom: 10px;
}
#list_screen ul li{
 margin: 5px 0;
}
#list_screen li lable{
    display: inline-block;
    width: 50px;
}
#main_stage {
    left: 25%;
    position: absolute;
    top: 35px;	
}

.main_stage_limiter
{
	width: 75%;
    height: 900px;
    overflow: auto;	
}

.stageDescContainer{
	padding:8px;
	color:#000000;
	font-size: 16px;
	font-weight: bold;
}
.stageDescContainer #stageDescription{
	height:85%;
	width:90%;
	padding:4px;
}

.stageDescContainer #removeDesc{
	color:red;
}

.MCM_SummaryView{
		display:block;
		min-height:	240px;	
		position:relative;
		font-size:12px;
		float:right;
		visibility:hidden;
	}
	
.MCM_SummaryView h2{
	display:block;
	position:relative;
	font-weight:bold;
	text-align:left;
	font-size:12px;
	border:none;
	margin:2px 0 2px 15px;
}

.editableAreaMCContent{
	font-size:12px;
	padding:8px 10px 5px 20px;
	width:350px;
	height:140px;
	min-height:140px;
	margin:2px 0 5px 8px;
	display:block;
	overflow:auto;	
	border-top-left-radius:20px; 
	border: 1px solid #B6B6B6;
	background-color:#CCC;
	float:left;				
}

.editableTextAreaInPlaceMCContent{
	font-size:12px;
	width:370px;
	max-width:370px;
	height:120px;
	min-height:120px;
	max-height:120px;
	display:block;	
	border-top-left-radius:20px !important;
	margin-top: -12px !important;
	margin-left: -28px !important;
}
