

#LogoBG{
	margin:0 0;
	width:750px;
	height: 530px;
	min-height: 530px;
	padding:0px;
	border: none;
	display:inline;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
	overflow:hidden;
	background-image:  url(../../MCID/images/BodyGradBarSpice.jpg);
	background-repeat: repeat-x;
}


#DSData{
margin:0 5;
width:180px;
padding:5px;
border: none;
display:block;
/*position:absolute;*/
/*left:25px;
top:425px;*/
}


#DSData div{
display:inline;
border:none;
}

#DSData p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:none;
padding-bottom:10px;
}

#DSData label{
display:inline;
font-weight:bold;
text-align:right;
width:100px;
border:none;
}

#DSData .small{
color:#666666;
display:inline;
font-size:11px;
font-weight:normal;
text-align:right;
width:100px;
border:none;
padding-left:5px;
}

#DSData input{
font-size:12px;
padding:4px 2px;
border:none;
width:100px;
margin:2px 0 10px 10px;
display:block;
}

#DSData button{
border-style:hidden;
padding:5;
}
.ScriptTree {
	width: 500px;
	height: 475px;
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;
	background: #FFF;
	overflow: auto;
	padding: 5px;
	float:left;
	
}


