	#SMSStructureMainx
	{
		margin:0 0;
		width:450px;
		padding:0px;
		border: none;
		min-height: 330px;
		height: 330px;
		font-size:12px;
	}
	
	
	#SMSStructureMainx #LeftMenu
	{
		width:270px;
		min-width:270px;		
		background: #B6C29A;
		background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(237,237,237)),
		color-stop(0, rgb(200,216,143))
		);
		background: -moz-linear-gradient(
			center top,
			rgb(237,237,237),
			rgb(200,216,143)
		);
		
		position:absolute;
		top:-8px;
		left:-17px;
		padding:15px;
		margin:0px;	
		border: 0;
		border-right: 1px solid #CCC;
		box-shadow: 5px 5px 5px -5px rgba(88, 88, 88, 0.5);
		min-height: 100%;
		height: 100%;
		z-index:2300;
	}
	
	
	#SMSStructureMainx #RightStage
	{
		position:absolute;
		top:0;
		left:287px;
		padding:15px;
		margin:0px;	
		border: 0;
	}
			
	#SMSContentHTML
	{
		position:absolute;
		top:120px;
	}
	
	#SMSAdvancedContentHTML
	{
		position:absolute;
		top:120px;
		background-color:#FFF;	
		border-top-left-radius:20px; 
		border-top-right-radius:20px; 
<!---		border-bottom-left-radius:20px; --->
  	    padding: 10px 15px 10px 10px;	
		border: 1px solid #B6B6B6;
	}
	
	.SaveSMSStructure
	{
		position:absolute;
		top:20px;
		left: 10px;
		min-width: 80px;
		min-height:20px;	
		font-size:12px;
		font-weight:normal;
	}
	
	.CancelSMSStructure
	{
		position:absolute;
		top:85px;
		left: 10px;
		min-width: 80px;
		min-height:20px;	
		font-size:12px;
		font-weight:normal;
	}
	
	
	.FromSMSStructure
	{
		position:absolute;
		top:85px;
		left: 95px;
		min-width: 120px;
		min-height:20px;	
		font-size:12px;
		font-weight:normal;
	}
	
	
	.SubjectSMSStructure
	{
		position:absolute;
		top:85px;
		left: 95px;
		min-width: 80px;
		min-height:20px;	
		font-size:12px;
		font-weight:normal;
	}
	
	#SMSStructureButtonOptions
	{
	
	}
	
	#TAcontent_SMSEditor
	{
		width:800px;	
		min-width:800px;
		min-height:400px;
		background-color:#FFF
	}
	
	
	.inpCK7SMS
	{
		position:absolute;
		width:100px;	
		margin: 0 15px 6px 0;	
		font-size:1em;
		font-weight:normal;
		color:#333333;		
		top:87px;
		left: 220px;
		min-width: 595px;
		min-height: 18px;
		-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius:2px; 
		border-bottom:2px solid #CCC;
		border-right:2px solid #CCC;
		
	}
			
	.SMSStructure_Tab
	{
		background:#FFF !important;	
		height: 420px; min-height:420px;
	}
		
	#bhtabs_SMSStructure {min-height: 465px; height: 465px; width: 830px; min-width: 830px;} 
	.tabs-bottom { position: relative; background: none repeat scroll 0 0 transparent;} 
	.tabs-bottom .ui-tabs-panel { padding: 10px 10px; min-width: 600px; overflow: auto; border-top: 1px solid #B6B6B6; border-top-left-radius:20px; border-top-right-radius:20px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;} 
	.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 1px 3px 0; } 
	.tabs-bottom .ui-tabs .ui-tabs-nav li, .tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 0px !important; border-top: 0px; border-bottom: 1px solid #B6B6B6 !important; }
	.tabs-bottom .ui-tabs .ui-tabs-nav li a, .tabs-bottom .ui-tabs-nav li a { float: left; margin: 2px 8px; padding: 2px 8px; text-decoration: none; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
	.tabs-bottom .ui-tabs-selected { margin-top: -3px !important; border-bottom: 1px solid #B6B6B6 !important; background: none repeat scroll 0 0 transparent;}
	

	.editableAreaSMSStructure
	{
		font-size:12px;
		padding:8px 10px 5px 20px;
		width:755px;
		height:340px;
		min-height:340px;
		margin:2px 0 5px 8px;
		display:block;
		overflow:auto;	
		border-top-left-radius:20px; 
		border-top-right-radius:20px; 
		border: 1px solid #B6B6B6;
		background-color:#CCC;
		float:left;				
	}

	.editableAreaSMSProgramNotes
	{
		font-size:12px;
		padding:8px 20px 5px 20px;
		width:250px;
		min-width:250px;
		height:345px;
		min-height:345px;
		margin:2px 0 5px 8px;
		display:block;
		overflow:auto;	
		border-top-left-radius:20px; 
		border-top-right-radius:20px; 
<!---		border-bottom-left-radius:20px; --->
		border: 1px solid #B6B6B6;
		background-color:#CCC;				
	}