@font-face {
	font-family: 'Conv_Helvetica45-Light';
	src: url('../fonts/helvetica45-light.eot');
	src: local('☺'), url('../fonts/helvetica45-light.woff') format('woff'), url('../fonts/helvetica45-light.ttf') format('truetype'), url('../fonts/helvetica45-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Primary Navigation */
#navigation { background:#0085c8; position: relative; z-index: 2; }
/* Primary Tabs */
#navigation #mainnavnav { background:#f4f4f4 url(../images/mainnav.gif) top left repeat-x; border-bottom: 1px solid #fff; }
#navigation #mainnavnav ul { float: left; list-style: none; height: 36px;  margin-left: 84px; width: 886px;}
#navigation #mainnavnav ul > li { float: left;/* margin: 0 10px 0 0;*/ height: 36px; list-style:none;}
#navigation #mainnavnav ul > li > a { color: #F8853B; display: block; font-size: 17px; font-weight:bold; font-family:Conv_Helvetica45-Light;text-transform:uppercase; line-height: 17px; padding: 10px 31px;  text-decoration:none; }
#navigation #mainnavnav ul > li > a:hover{ background: #0085c8; color:#FFF;  border-bottom:0; border-top: 0; padding: 10px 30px;  box-shadow: 1px 1px 5px #000; }
#navigation #mainnavnav ul > li > a:hover,  #navigation #mainnavnav ul > li.active > a { background: #0085c8; color:#FFF;  border-bottom:0; border-top: 0; padding: 10px 31px;  }
#navigation #mainnavnav ul > li.active > a,  #navigation #mainnavnav ul > li.active > a:hover { height: 17px; }
/* Primary Tab Containers */
#subnav-container {border-bottom: 1px solid #fff; display: none; position: relative;}
#navigation .tabs { border-bottom: 0px solid #fff; display: none; width: 100%; position: relative; }
#navigation .close-wrap { background: url(../images/bg-nav-shadow.png) top left repeat-x; display: none; height: 5px; width: 100%; overflow: visible; position: absolute; bottom: -6px; left: 0px; right: 0px; z-index: 100; }
#navigation .close { background:#325A83 url(../images/arrow-close.gif) center no-repeat; border: 1px solid #FFF; border-top-width: 0; color: #FFF; cursor: pointer; height: 16px; margin: 0 auto; position: relative; top: -1px; width: 60px; z-index: 10 }
#navigation .close .close-shadow { position: absolute; top: 2px; left: -6px; margin: 0 auto; }
#navigation .main-sub-nav { color: #fff; padding: 29px 0px 0px 0px;  width: 960px;}
#navigation .main-sub-nav h3 { border-bottom:1px solid #7398bc; font-size:12px; margin-bottom: 20px; padding-bottom:5px; text-align: left; }
#navigation .main-sub-nav h3 span { font-size: 24px; }
#navigation .main-sub-nav h4 { font:15px; font-family:Conv_Helvetica45-Light; font-weight:normal;padding-bottom:7px; }
#navigation .main-sub-nav a { color: #fff; text-decoration:none; }
#navigation .main-sub-nav a:hover { color: #ADAEB0; }
#navigation .main-sub-nav > ul { margin-bottom: 20px; list-style:none; }
#navigation .main-sub-nav > ul > li { float: left; width: 155px; margin: 0 2px; }
#navigation .main-sub-nav > ul > li > ul > li a { font-size: 12px; }
#navigation .icon { display:block; height:40px; position: relative; width:60px; }
/* Solutions */
#mainSolutions ul {float: left;}
#mainSolutions .icon {background-image:url(../images/main-icons1.png); margin-bottom: 5px; right: -7px}
#mainSolutions .one .icon {width:72px; height:40px;}
#mainSolutions .two .icon {background-position:-69px 1px; height: 40px; width: 55px;}
#mainSolutions .three .icon {background-position:-118px 1px; height:40px; width:72px;}
#mainSolutions .four .icon {background-position:-192px 1px; height:40px; width:58px;}
#mainSolutions .five .icon {background-position:-253px 1px; height:40px; width:72px;}
#mainSolutions .six .icon {background-position:-331px 1px; height:40px; width:60px;}
/* How It Works */
#mainHowItWorks h4 {text-align: center; text-decoration:none; list-style:none;}
#mainHowItWorks ul { float: none; margin: 0 auto; padding-top: 4px;}
#mainHowItWorks .icon {background-image:url(../images/main-icons1.png);  margin: 0 auto 5px}
#mainHowItWorks .one .icon {background-position: 0px -6px; width: 54px;}
#mainHowItWorks .two .icon {background-position:-41px -6px;width:88px;}
#mainHowItWorks .three .icon {background-position:-110px -6px;width:70px;}
#mainHowItWorks .four .icon {background-position:-178px -6px;width:70px;}
#mainHowItWorks .five .icon {background-position: -246px -6px; width:70px;}
#mainHowItWorks .six .icon {background-position: -320px -6px; width:70px;}
/* Partners */
#mainPartners h4 {text-align: center; text-decoration:none;}
#mainPartners ul { float: none; margin: 0 auto; padding-top: 20px; width: 330px;}
#mainPartners .icon {background-image:url(../images/main-icons1.png); margin: 0 auto 5px}
#mainHowItWorks .one .icon {background-position: -2px 1px; width: 54px;}
#mainHowItWorks .two .icon {background-position:-49px 1px;width:80px;}
#mainHowItWorks .three .icon {background-position:-113px 1px;width:70px;}
#mainHowItWorks .four .icon {background-position:-178px 1px;width:70px;}
#mainHowItWorks .five .icon {background-position: -246px 1px; width:70px;}
#mainHowItWorks .six .icon {background-position: -320px 1px; width:70px;}
/* Company */
#mainCompany h4 {text-align: center; text-decoration:none;}
#mainCompany ul { float: none; margin: 0 auto; padding-top: 20px;}
#mainCompany .icon {background-image:url(../images/main-icons1.png); margin: 0 auto 5px}
#mainCompany .one .icon {background-position: 0 -6px; width: 23px;}
#mainCompany .two .icon {background-position: -24px -6px; width: 30px;}
#mainCompany .three .icon {background-position:-50px -6px;}
#mainCompany .four .icon {background-position: -75px -6px; width: 33px;}
#mainCompany .five .icon {background-position: -153px -6px; width: 34px;}
#mainCompany .six .icon {background-position: -192px -6px; width: 30px;}
/* Body */



/* Clear Float Fix */
.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix, *:first-child+html .clearfix {zoom:1}

