<cfparam name="shortCode" default="1244">
<cfparam name="carrier" default="Sprint">
<cfparam name="sessionId" default="1" >

<!--- Allow page to work standalone style --->
<cfparam name="SA" default="1" >
<cfparam name="BrandDemoKeyword" default="DemoSire" >

<!--- load stand alone resources --->
<cfif SA EQ 1>
	
	<cfinclude template="../session/cfc/csc/constants.cfm">
    <cfinclude template="../public/paths.cfm" >
    
	<script src="js/jquery-1.9.1.min.js"></script>
    
	<cfoutput>
    	<script TYPE="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script> 
    
    
    
    
  <!--- <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />--->
    <link href='#LocalProtocol#://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='#LocalProtocol#://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	
  <!---  <link href="#rootUrl#/pub/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="#rootUrl#/#PublicPath#/css/stylelogin.css">--->
    
	<style>
			<!---@import url('#rootUrl#/#PublicPath#/js/jquery-ui-1.11.0.custom/jquery-ui.css') all;	--->
    		        
		
	 </style>        	
    
    </cfoutput>
    
</cfif>

    
            
    <!--- Locally used javascript only --->
    <cfoutput>
        
        <script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery.autogrow-textarea.js"></script>
        <script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery.ba-resize.js"></script>
        <script src="js/common.js"></script>
        
        <script type="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery.alerts.js"></script>
        
        <!---Tool tip tool - http://qtip2.com/guides --->
        <link type="text/css" rel="stylesheet" href="#rootUrl#/#PublicPath#/js/qtip/jquery.qtip.css" />
        <script type="text/javascript" src="#rootUrl#/#PublicPath#/js/qtip/jquery.qtip.js"></script>

	 </cfoutput>

		<style>
    <cfoutput>
	        @import url('#rootUrl#/#PublicPath#/css/jquery.alerts.css') all;
	</cfoutput>	
						
			@media (max-height:300px) {
			
			  #OTTDemoContainer{
				zoom: 0.3;
				-moz-transform: scale(0.3);
				-webkit-transform: scale(0.3);
				margin-left:-200px;
				font-size:10px;
				}
			}
			
			@media (min-height:300px) {
			
			  #OTTDemoContainer{
				zoom: 0.4;
				-moz-transform: scale(0.4);
				-webkit-transform: scale(0.4);
				margin-left:-180px;
				font-size:10px;
				}
			
			}
			
			@media (min-height:400px) and (max-height:600px){
			
			  #OTTDemoContainer{
				zoom: 0.6;
				-moz-transform: scale(0.6);
				-webkit-transform: scale(0.6);
				margin-left:-160px;
				font-size:10px;
				}
			}
			
			@media (min-height:400px) {
			
			  #OTTDemoContainer{
				zoom: 0.6;
				-moz-transform: scale(0.6);
				-webkit-transform: scale(0.6);
				margin-left:-160px;
				font-size:10px;
				}
			
			}
			
			
			@media (min-height:700px) and (max-height:900px){
			
			  #OTTDemoContainer{
				zoom: 0.7;
				-moz-transform: scale(0.7);
				-webkit-transform: scale(0.7);
				margin-left:-140px;
				font-size:11px;
				}
			}
			
			@media (min-height:700px) {
			
			  #OTTDemoContainer{
				zoom: 0.7;
				-moz-transform: scale(0.7);
				-webkit-transform: scale(0.7);
				margin-left:-140px;
				font-size:11px;
				}
			
			}
			
			
			@media (min-height:1000px) and (max-height:1200px){
			
			  #OTTDemoContainer{
				zoom: 0.8;
				-moz-transform: scale(0.8);
				-webkit-transform: scale(0.8);
				margin-left:-100px;
				font-size:12px;
				}
			}
			
			
			@media (min-height:900px) {
			
			  #OTTDemoContainer{
				zoom: 0.8;
				-moz-transform: scale(0.8);
				-webkit-transform: scale(0.8);
				margin-left:-100px;
				font-size:12px;
				}
			
			}
			
			@media (min-height:1000px) {
			
			  #OTTDemoContainer{
				zoom: 1.0;
				-moz-transform: scale(1.0);
				-webkit-transform: scale(1.0);
				margin-left:0px;
				font-size:14px;
				}
			
			}



        </style>
            
   

<cfoutput>
	<cfinvoke component="#LocalSessionDotPath#.cfc.administrator.passwordgen" method="GenSecurePassword" returnvariable="getSecurePassword"></cfinvoke>
	<cfset inpContactString = "Demo_#getSecurePassword#_#LSDateFormat(now(), 'yyyy-mm-dd')##LSTimeFormat(now(), 'HH:mm:ss')#"/>
</cfoutput>



<!--- https://github.com/javierjulio/textarea-auto-expand/blob/master/examples/jquery.textarea_auto_expand.js --->
<!--- http://jsfiddle.net/ThinkingStiff/mek5Z/ --->

<style>

#SMSSendButton {
    left: 300px;
    position: absolute;
    top: 660px;
    z-index: 3;
	
}
.filterButton, .bluebuttonAuto {
	background-color:#0085c8;
    background: -moz-linear-gradient(center top , #2484c6, #2484c6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0076a3;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #9a9a9a;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    outline: medium none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: baseline;
    width: auto;
}


.bluebutton:hover, .bluebuttonAuto:hover, .filterButton:hover {
	background-color:#0085c8;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	
}

.bluebutton:active, .bluebuttonAuto:active, .filterButton:active {
	color: #fff;
	background-color:#0085c8;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	
}

.tooltiptext
{
	display: none;
}

.showToolTip {
    cursor: pointer;
}

.EBMDialog label {
    color: #161616;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.EBMDialog form input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
    margin-bottom: 8px;
    padding: 3px 0 3px 5px;
    width: 100%;
}

textarea, pre {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
    margin-bottom: 8px;
    padding: 3px 8px;
	width:100%;
}

</style>


<script type="text/javascript" language="javascript">
		
	<!--- Track time traveled so far so display gives user an semi-accurate feedback of which message when. --->
	var inpTimeTraveledSoFarInMinutes = 0;
	var AllowBlanks = 0;
	
	$(function() {	
		
		<cfset inpFormData = StructNew() />
		<cfset inpFormData.inpFirstName = "Lee" />
		<cfset inpFormData.inpLastName = "Peterson" />
		<cfset inpFormData.inpRepName = "Mary" />
		<cfset inpFormData.inpOneTimePassword = "85490527" />
		<cfset inpFormData.inpBatchIdAppt = "7451284" />
		<cfset inpFormData.inpContactStringAppt = "9493945710" />
		<cfset inpFormData.inpContactTypeIdAppt = "1" />
		<cfset inpFormData.inpStart = "2016-10-06 13:00" />
		<cfset inpFormData.inpConfirm = "1" />
		<cfset inpFormData.inpCurrEMail = "someone@somewhere.com" />
		<cfset inpFormData.inpAsOfDate = "#LSDateFormat(now(), 'yyyy-mm-dd')#" />
		<cfset inpFormData.inpDeductibleInMet = "$350" />
		<cfset inpFormData.inpDeductibleIn = "$500" />
		<cfset inpFormData.inpDeductibleOutMet = "$1350" />
		<cfset inpFormData.inpDeductibleOut = "$1500" />
		
		
		
		
		<cfoutput> 
      		var inpFormDataJSON = '#SerializeJSON(inpFormData)#';
		</cfoutput> 
		 
		$('#inpJSON').html(inpFormDataJSON);
		
		<!--- Turns off caching of AJAX requests --->
		$.ajaxSetup({ cache: false });
		
		$('#SMSTextInputArea').autogrow();
						
		<!--- Resize history screen based on size of text input --->
		$('#SMSTextInputArea').resize(function() {
						
		  	$("#SMSHistoryScreenArea").height($('#PhoneScreenArea').height() - $('#SMSTextInputAreaContainer').height() - 31 - $('#SMSToAddress').height());
			$("#SMSHistoryScreenArea").animate({ scrollTop: $('#SMSHistoryScreenArea')[0].scrollHeight}, 1000);
			
		});

	
		$('#STARTCP').click(function(){
			SetStartCP();
		});
		
		
		
		$("#CPOptionsLink").click(function(){
			
			$('#StartCPContainer').toggle('slow', function() {
				<!--- Animation complete. --->
			  });
  
		});	
		
		$("#JSONOptionsLink").click(function(){
			
			$('#JSONOptionsContainer').toggle('slow', function() {
				<!--- Animation complete. --->
				$('#MenuTipSlideMiddle').toggle();
				
			  });
  
		});		
										
		
		$("#TimeMachineOptionsLink").click(function(){
			
			$('#TimeMachineContainer').toggle('slow', function() {
				<!--- Animation complete. --->
			  });
  
		});		
		

		<!--- Action to perform on SMS send--->
		$('#SMSSend').click(function(){
			var inpContactString = $('#inpContactString').val(); 
			if(inpContactString.length == 0 )
			{
				$.alerts.okButton = '&nbsp;OK&nbsp;';
				jAlert("Device Address: Address has not been entered.\n"  + "Device Address: Address can not be blank." + "\n", "Warning!", function(result) { } );										
				return false;						
			}	
			var SMSTextInputArea = $('#SMSTextInputArea').val();
			
			if(AllowBlanks == 0)
				if(SMSTextInputArea.length == 0 )
				{
					$.alerts.okButton = '&nbsp;OK&nbsp;';
					jConfirm("Text to send has not been entered.\n"  + "Text to send can not normally be blank. Hit OK if you want to allow future blanks to be sent in this session." + "\n", "Warning!", function(result) { AllowBlanks = 1 } );										
					return false;						
				}
			
			var inpSMSToAddress = $('#inpSMSToAddress').val();		
			if(inpSMSToAddress.length == 0 )
			{
				$.alerts.okButton = '&nbsp;OK&nbsp;';
				jAlert("SMS TO: address has not been entered.\n"  + "SMS TO: address can not be blank." + "\n", "Warning!", function(result) { } );										
				return false;						
			}			

			<!--- Post text that is sent from me class --->
			if(SMSTextInputArea == "")
				$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble me">' + '&nbsp;' + '</div>');
			else
				$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble me">' + SMSTextInputArea + '</div>');
					
			$("#SMSHistoryScreenArea").stop(true, true).animate({ scrollTop: $('#SMSHistoryScreenArea')[0].scrollHeight}, 1000);
						
					
			GetResponseSimple(inpSMSToAddress, SMSTextInputArea, inpContactString, 0 );
			
		
			
			
		});	
		
		$('#TIMEMACHINE').click(function(){			
				
			if($('#inpContactString').val().length == 0 )
			{
				$.alerts.okButton = '&nbsp;OK&nbsp;';
				jAlert("Device Address: Address has not been entered.\n"  + "Device Address: Address can not be blank." + "\n", "Warning!", function(result) { } );										
				return false;						
			}		
				
				
			if($('#inpSMSToAddress').val().length == 0 )
			{
				$.alerts.okButton = '&nbsp;OK&nbsp;';
				jAlert("SMS TO: address has not been entered.\n"  + "SMS TO: address can not be blank." + "\n", "Warning!", function(result) { } );										
				return false;						
			}	
			
			TimeMachineProcess($('#inpSMSToAddress').val(), '', $('#inpContactString').val());
			
			
		});	
		
		$('#TIMEMACHINECHECK').click(function(){			
				
			if($('#inpContactString').val().length == 0 )
			{
				$.alerts.okButton = '&nbsp;OK&nbsp;';
				jAlert("Device Address: Address has not been entered.\n"  + "Device Address: Address can not be blank." + "\n", "Warning!", function(result) { } );										
				return false;						
			}	
				
				
			if($('#inpSMSToAddress').val().length == 0 )
			{
				$.alerts.okButton = '&nbsp;OK&nbsp;';
				jAlert("SMS TO: address has not been entered.\n"  + "SMS TO: address can not be blank." + "\n", "Warning!", function(result) { } );										
				return false;						
			}	
			
			CheckNextResponse($('#inpSMSToAddress').val(), '', $('#inpContactString').val());
			
			
		});	
		
		$('.ottdemokeyword').click(function(){			
			
			var inpContactString = $('#inpContactString').val();
			var inpSMSToAddress = $('#inpSMSToAddress').val();					
						
			<!--- Post text that is sent from me class --->
			if($(this).attr("rel1") == "")
				$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble me">' + '&nbsp;' + '</div>');
			else
				$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble me">' + $(this).attr("rel1") + '</div>');
					
			$("#SMSHistoryScreenArea").stop(true, true).animate({ scrollTop: $('#SMSHistoryScreenArea')[0].scrollHeight}, 1000);
						
					
			GetResponseSimple(inpSMSToAddress, $(this).attr("rel1"), inpContactString, 0 );
			
			
			
		});	
				
		
		$('.showToolTip').each(function() {
			 $(this).qtip({
				 content: {
					 text: $(this).next('.tooltiptext')
				 },
				  style: {
						classes: 'qtip-bootstrap'
					}
			 });
		 });	 
	 
			 
		$("#SMSTextInputArea").keyup(function (e) {
			if (e.keyCode == 13) {
				$('#SMSSend').click();
			}
		});



		$('#SMSClear').click(function(){	
			
			$('#SMSHistoryScreenArea').html("");
			$('#SMSTextInputArea').resize();
		});


		<!---CheckNextResponse($('#inpSMSToAddress').val(), '', $('#inpContactString').val());--->
		
		$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble me">' + 'Welcome' + '</div>');
		GetResponseSimple($('#inpSMSToAddress').val(), 'Welcome', $('#inpContactString').val(), 0 );
				
		
		<!--- skip force resize on page load --->
		<!---$('#SMSTextInputArea').resize();--->
				
	<!---	
		$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble me">' + 'Welcome' + '</div>');
		$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you">' + 'Welcome to the <font style="color:#0085c8; font-family: &quot;Open Sans&quot;, sans-serif; font-weight:700;">S</font><font style="color:#ff9900; font-family: &quot;Open Sans&quot;, sans-serif; font-weight:700;">ire</font> interactive response engine demo. Try some of the sample interactions...' + '</div>');
	--->	
	
		<!---$('.EBMDialog').show();--->
		
		$('#MenuTipSlide').click(function(){
			$('#MenuTipSlide').hide();
		});
		
		
	<!---	setTimeout(function() {
			$('#MenuTipSlide').fadeOut('fast');
		},5000);
		--->
					
	});
	
	function MidStr(str, start, len)
        /***
                IN: str - the string we are LEFTing
                    start - our string's starting position (0 based!!)
                    len - how many characters from start we want to get

                RETVAL: The substring from start to start+len
        ***/
        {
                // Make sure start and len are within proper bounds
                if (start < 0 || len < 0) return "";

                var iEnd, iLen = String(str).length;
                if (start + len > iLen)
                        iEnd = iLen;
                else
                        iEnd = start + len;

                return String(str).substring(start,iEnd);
        }
	
	<!---Browser is caching identical ajax request	force unique id for keyword on statement re-push --->
	var inpflag = 0;
	var MaxStatements = 20;
	var TIMEZONEOFFSETPST = 0;
	
	function GetResponseSimple(inpShortCode, inpKeyword, inpContactString, inpOverRideInterval) {
			
							
		$.ajax({
		<!---url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/csc/csc.cfc?method=GetSMSResponse&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',   --->
		url: '<cfoutput>#rootUrl#/webservice</cfoutput>/ebm/pdc/GetNextResponse',
		type: 'POST',
		dataType: 'json',
		data:  	{ 
					username : 'demo.sire',
					password : 'A0DF875079D6267E05FC',
					inpKeyword : inpKeyword,
					inpShortCode : inpShortCode,
					inpContactString : inpContactString,
					inpNewLine : "<BR>",
					inpOverRideInterval : inpOverRideInterval,
					inpFormDataJSON : $('#inpJSON').val(),
					inpQATool : 1					
				},					  
		error: function(XMLHttpRequest, textStatus, errorThrown) {<!---console.log(textStatus, errorThrown);--->},					  
		success:		
			<!--- Default return function for Do CFTE Demo - Async call back --->
			function(d) 
			{
				<!--- Alert if Warning --->
																							
				<!--- Get row 1 of results if exisits--->
									
					<!--- Check if variable is part of JSON result string --->								
					if(typeof(d.RXRESULTCODE) != "undefined")
					{							
						CurrRXResultCode = d.RXRESULTCODE;	
						
						if(CurrRXResultCode > 0)
						{
							
							if(d.RESPONSE.length > 0)
							{	
							
								var ConcatenateOffFlag = 0;
							
								if(ConcatenateOffFlag == 1)	
								{						
									var CurrPos = 0;
									var AmountToGrab = 160;								
									var BuffStr = d.RESPONSE;		
									
									<!---console.log('{' + BuffStr.substring(AmountToGrab-2,AmountToGrab-1) + '}');--->
									<!--- Break message on space if within last 60 characters --->
									while(BuffStr.substring(AmountToGrab-2,AmountToGrab-1) != " " && AmountToGrab > 100 && BuffStr.substring(AmountToGrab-2,AmountToGrab-1) != "") 
									{
										AmountToGrab = AmountToGrab - 1;
										<!---console.log('{' + BuffStr.substring(AmountToGrab-2,AmountToGrab-1) + '}');	--->								
									}
									
									<!--- Move back to last space--->
									AmountToGrab = AmountToGrab - 1;
									
									<!---console.log('AmountToGrab=' + AmountToGrab);--->
									var BuffStrOut = MidStr(BuffStr, CurrPos, AmountToGrab);
																		
									<!---console.log(BuffStrOut);--->
									
									$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you">' + BuffStrOut + '</div>');								
									
									CurrPos = CurrPos + AmountToGrab;
									
									while( BuffStr.length > CurrPos)
									{					
									
										AmountToGrab = 160;
										
										<!---console.log('{' + BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) + '}');--->
										<!--- Break message on space if within last 60 characters --->
										while(BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) != " " && AmountToGrab > 100 && BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) != "")
										{
											AmountToGrab = AmountToGrab - 1;
											<!---console.log('{' + BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) + '}');--->
										}
										
										<!--- Move back to last space--->
										AmountToGrab = AmountToGrab -1;
													
										<!---console.log('AmountToGrab=' + AmountToGrab);--->
										BuffStrOut = MidStr(BuffStr, CurrPos, AmountToGrab);
										<!---console.log(BuffStrOut);--->
										CurrPos = CurrPos + AmountToGrab;
										
										$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you">' + BuffStrOut + '</div>');									
									}
								
								}
								else
								{
									$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you" rel="' + d.RESPONSELENGTH + '">' + d.RESPONSE + '</div>');																		
								}
								
								$('#SMSTextInputArea').resize();																	
								<!--- Scroll to bottom on new data --->							
								$("#SMSHistoryScreenArea").animate({ scrollTop: $('#SMSHistoryScreenArea')[0].scrollHeight}, 1000);
							}
							
							<!--- Get next Response--->
							if(d.RESPONSETYPE == 'STATEMENT' || d.RESPONSETYPE == 'OPTIN' || d.RESPONSETYPE == 'API' || d.RESPONSETYPE == 'CDF')
							{
								EBMText = 'EBM - ' +  d.RESPONSETYPE;
								d.RESPONSETYPE = '';
								
								inpflag++;
								
								if(inpflag < MaxStatements)
									GetResponseSimple(inpShortCode, EBMText, inpContactString, 1); 
								
								<!---var t=setTimeout(function(){
										GetResponseSimple(inpShortCode, inpKeyword, inpContactString, 0);
									},1500)--->
																		
							}
							else if(d.RESPONSETYPE == 'AGENT')
							{
								d.RESPONSETYPE = '';
								
								inpflag++;
								
								<!--- 
									Now what? How do we make this page list for AAU message to the current device address?
									How to ignore messages aau message if device address is changed?
								--->
															
							}
							else if(d.RESPONSETYPE == 'INTERVAL')
							{																
								QueueNextResponse(inpShortCode, 'EBM - INTERVAL', inpContactString, d.INTERVALSCHEDULED, d.INTERVALEXPIREDNEXTQID)
																
								<!--- Update optional interval processing and display --->
								$('#INTERVALSCHEDULED').html(d.INTERVALSCHEDULED + '<BR/>Device Address Time Zone offset from PST is ' + d.TIMEZONEOFFSETPST);
								$('#IntervalOptions').show();
							}
							else
							{
								<!--- Non repeat question type --->
								MaxStatements = inpflag + 20; 
								
							}							
						}
						else
						{
							
						}
					}
					else
					{<!--- Invalid structure returned --->	
						
					}
						   var isTestKeyword = d.ISTESTKEYWORD;
								
								if(isTestKeyword == 1)
								{
									$("#isTestKeyword").val("0");
									$("#isEmitChatContent").val("0");
									$("#Keyword").val(inpKeyword);
								}
								else if(isTestKeyword == -1)
								{
									$("#isTestKeyword").val("1");
								}	
								else
								{
									$("#isTestKeyword").val("");
									$("#isEmitChatContent").val("");
								}
								
								var isEmitChatContent = $("#isEmitChatContent").val();
								isTestKeyword = $("#isTestKeyword").val();
								if(isEmitChatContent == 0 && isTestKeyword == 1 && inpKeyword != "")
								{
									$("#isEmitChatContent").val("1");
									$('#SMSTextInputArea').resize();
								}	 		
					$('#SMSTextInputArea').val('');							
			} 		
			
		});
		return false;
	}
	
	function TimeMachineProcess(inpShortCode, inpKeyword, inpContactString) {
	
		MaxStatements = inpflag + 20; 
	
		$.ajax({
		url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/csc/csc.cfc?method=TimeMachineGetNextResponseQA&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',   
		dataType: 'json',
		data:  	{ 					
					inpContactString : inpContactString,
					inpShortCode : inpShortCode,					
					inpNewLine : "<BR>",
					inpTimeTraveledSoFarInMinutes : inpTimeTraveledSoFarInMinutes
				},					  
		error: function(XMLHttpRequest, textStatus, errorThrown) {<!---console.log(textStatus, errorThrown);--->},					  
		success:		
			<!--- Default return function for Do CFTE Demo - Async call back --->
			function(d) 
			{
				<!--- Alert if Warning --->
																							
				<!--- Get row 1 of results if exisits--->
									
					<!--- Check if variable is part of JSON result string --->								
					if(typeof(d.RXRESULTCODE) != "undefined")
					{							
						CurrRXResultCode = d.RXRESULTCODE;	
											
						if(CurrRXResultCode > 0 && typeof(d.GETRESPONSE.RESPONSE) != "undefined" )
						{
							if(d.GETRESPONSE.RESPONSE.length > 0 )
							{	
								var ConcatenateOffFlag = 0;
							
								inpTimeTraveledSoFarInMinutes = d.INPTIMETRAVELEDSOFARINMINUTES;
							
								if(ConcatenateOffFlag == 1)	
								{						
									var CurrPos = 0;
									var AmountToGrab = 160;								
									var BuffStr = d.GETRESPONSE.RESPONSE;		
									
									<!---console.log('{' + BuffStr.substring(AmountToGrab-2,AmountToGrab-1) + '}');--->
									<!--- Break message on space if within last 60 characters --->
									while(BuffStr.substring(AmountToGrab-2,AmountToGrab-1) != " " && AmountToGrab > 100 && BuffStr.substring(AmountToGrab-2,AmountToGrab-1) != "") 
									{
										AmountToGrab = AmountToGrab - 1;
										<!---console.log('{' + BuffStr.substring(AmountToGrab-2,AmountToGrab-1) + '}');	--->								
									}
									
									<!--- Move back to last space--->
									AmountToGrab = AmountToGrab - 1;
									
									<!---console.log('AmountToGrab=' + AmountToGrab);--->
									var BuffStrOut = MidStr(BuffStr, CurrPos, AmountToGrab);
																		
									<!---console.log(BuffStrOut);--->
									
									$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="you" style="margin-bottom:0; color:#999; font-size:10px;">' + d.INTERVALSCHEDULED + '</div>');								
									$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you">' + BuffStrOut + '</div>');								
									
									CurrPos = CurrPos + AmountToGrab;
									
									while( BuffStr.length > CurrPos)
									{					
									
										AmountToGrab = 160;
										
										<!---console.log('{' + BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) + '}');--->
										<!--- Break message on space if within last 60 characters --->
										while(BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) != " " && AmountToGrab > 100 && BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) != "")
										{
											AmountToGrab = AmountToGrab - 1;
											<!---console.log('{' + BuffStr.substring(CurrPos+AmountToGrab-2,CurrPos+AmountToGrab-1) + '}');--->
										}
										
										<!--- Move back to last space--->
										AmountToGrab = AmountToGrab -1;
													
										<!---console.log('AmountToGrab=' + AmountToGrab);--->
										BuffStrOut = MidStr(BuffStr, CurrPos, AmountToGrab);
										<!---console.log(BuffStrOut);--->
										CurrPos = CurrPos + AmountToGrab;
										
										$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you">' + BuffStrOut + '</div>');									
									}
								
								}
								else
								{
										$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="you" style="margin-bottom:0; color:#999; font-size:10px;">' + d.INTERVALSCHEDULED + '</div>');
										$('#SMSHistoryScreenArea').append('<div style="clear:both"></div><div class="bubble you" rel="' + d.GETRESPONSE.RESPONSELENGTH + '">' + d.GETRESPONSE.RESPONSE + '</div>');
								}
							
								<!--- Scroll to bottom on new data --->		
								$('#SMSTextInputArea').resize();					
								$("#SMSHistoryScreenArea").animate({ scrollTop: $('#SMSHistoryScreenArea')[0].scrollHeight}, 1000);
						
							}
							
							
							CheckNextResponse(inpShortCode, inpKeyword, inpContactString);
							
							if(typeof(d.GETRESPONSE.RESPONSETYPE) != "undefined")
							{		
								<!--- Get next Response--->
								if(d.GETRESPONSE.RESPONSETYPE == 'STATEMENT' || d.RESPONSETYPE == 'OPTIN' || d.RESPONSETYPE == 'API' || d.RESPONSETYPE == 'CDF')
								{
									
									EBMText = 'EBM - ' +  d.GETRESPONSE.RESPONSETYPE;
									d.GETRESPONSE.RESPONSETYPE = '';
									
																		
									inpflag++;
									
									if(inpflag < MaxStatements)
										GetResponseSimple(inpShortCode, EBMText, inpContactString, 1); 
									
																		
									<!---var t=setTimeout(function(){
											GetResponseSimple(inpShortCode, inpKeyword, inpContactString, 1);
										},1500)--->
																			
								}
								else if(d.RESPONSETYPE == 'AGENT')
								{
									d.RESPONSETYPE = '';
									
									inpflag++;
									
									<!--- 
										Now what? How do we make this page list for AAU message to the current device address?
										How to ignore messages aau message if device address is changed?
									--->
																			
								}
								else if(d.GETRESPONSE.RESPONSETYPE == 'INTERVAL')
								{									
									QueueNextResponse(inpShortCode, 'EBM - INTERVAL', inpContactString, d.GETRESPONSE.INTERVALSCHEDULED, d.GETRESPONSE.INTERVALEXPIREDNEXTQID)
									
									<!--- Update optional interval processing and display --->
									<!---$('#INTERVALSCHEDULED').html(d.GETRESPONSE.INTERVALSCHEDULED + '<BR/>Device Address Time Zone offset from PST is ' + d.GETRESPONSE.TIMEZONEOFFSETPST);
									$('#IntervalOptions').show();--->
									
									<!--- force resize on empty --->
									$('#SMSTextInputArea').val('');
									$('#SMSTextInputArea').resize();
								}
								else
								{
									<!--- force resize on empty --->
									$('#SMSTextInputArea').val('');
									$('#SMSTextInputArea').resize();									
									
								}
							}
							
						}
						else
						{
							
						}
					}
					else
					{<!--- Invalid structure returned --->	
						
					}
											
			} 		
			
		});
		return false;
	}
	
	
	function QueueNextResponse(inpShortCode, inpKeyword, inpContactString, inpScheduled, inpTimeOutNextQID)
	{		
		var data = 
		{ 
			username : 'demo.sire',
			password : 'A0DF875079D6267E05FC',
			inpContactString : inpContactString,
			inpShortCode : inpShortCode,
			inpQueueState : '<cfoutput>#SMSQCODE_QA_TOOL_READYTOPROCESS#</cfoutput>',
			inpScheduled : inpScheduled,
			inpTimeOutNextQID : inpTimeOutNextQID
		};
				
		ServerProxy.PostToServerStruct('<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/csc/csc.cfc', 'QueueNextResponseSMS', data, "Error: Next Interval response has not been set!", function(d ) {
			CheckNextResponse(inpShortCode, inpKeyword, inpContactString);
		});	
	
	}
	
	function CheckNextResponse(inpShortCode, inpKeyword, inpContactString)
	{		
		
		<!---$.ajax({
		<!---url: '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/csc/csc.cfc?method=GetSMSResponse&returnformat=json&queryformat=column&_cf_nodebug=true&_cf_nocache=true',   --->
		url: '<cfoutput>#rootUrl#/webservice</cfoutput>/ebm/pdc/TimeMachineCheckNextResponse',
		type: 'POST',
		dataType: 'json',
		data:  	{ 
					username : 'demo.sire',
					password : 'A0DF875079D6267E05FC',
					inpContactString : inpContactString,
					inpShortCode : inpShortCode
				},					  
		error: function(XMLHttpRequest, textStatus, errorThrown) {<!---console.log(textStatus, errorThrown);--->},					  
		success:		
			<!--- Default return function for Do CFTE Demo - Async call back --->
			function(d) 
			{
				<!--- Alert if Warning --->
																							
				<!--- Get row 1 of results if exisits--->
									
					<!--- Check if variable is part of JSON result string --->								
					if(typeof(d.RXRESULTCODE) != "undefined")
					{							
						CurrRXResultCode = d.RXRESULTCODE;	
						
						if(CurrRXResultCode > 0 && typeof(d.NEXTEVENT) != "undefined" )
						{
							$('#INTERVALSCHEDULED').html(d.NEXTEVENT);	
							$('#IntervalOptions').show();						
						}
						else
						{
							$('#INTERVALSCHEDULED').html('NA - MM:DD:YYYY');	
						}
					}
					else
					{
						$('#INTERVALSCHEDULED').html('NA - MM:DD:YYYY');
					}
						   				
			} 		
			
		});
		return false;--->
	
	
	
		var data = 
		{ 
			username : 'demo.sire',
			password : 'A0DF875079D6267E05FC',
			inpContactString : inpContactString,
			inpShortCode : inpShortCode
		};
		
		
				
		ServerProxy.PostToServerStruct('<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/csc/csc.cfc', 'TimeMachineCheckNextResponseQA', data, "Error: Next Interval response can not be found!", function(d ) {		
				
			if(typeof(d.RXRESULTCODE) != "undefined")
			{							
				CurrRXResultCode = d.RXRESULTCODE;	
									
				if(CurrRXResultCode > 0 && typeof(d.NEXTEVENT) != "undefined" )
				{
					$('#INTERVALSCHEDULED').html(d.NEXTEVENT);	
					$('#IntervalOptions').show();						
				}
				else
				{
					$('#INTERVALSCHEDULED').html('NA - MM:DD:YYYY');					
				}
			}
			else
			{
				$('#INTERVALSCHEDULED').html('NA - MM:DD:YYYY');				
			}
							
		});	
	
	}
	
	
	function SetStartCP()
	{		
		var data = 
		{ 
			inpContactString : $('#inpContactString').val(),
			inpShortCode : $('#inpSMSToAddress').val(),
			inpKeyword : $('#inpCPKeyword').val(),
			inpCP : $('#inpCP').val()
			
		};
				
		ServerProxy.PostToServerStruct('<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/cfc/csc/csc.cfc', 'SetSurveyStateToCP', data, "Error: Starting Control Point has not been set!", function(d ) {
			
											
			if(typeof(d.RXRESULTCODE) != "undefined")
			{		
				CurrRXResultCode = d.RXRESULTCODE;	
									
				if(CurrRXResultCode > 0 && d.PROGRAMSETCPOK > 0 )
				{
					inpTimeTraveledSoFarInMinutes = 0;
					
					MaxStatements = inpflag + 20; 
			
					inpflag++;
			
					if(inpflag < MaxStatements)
						GetResponseSimple($('#inpSMSToAddress').val(), inpflag, $('#inpContactString').val(), 1); 					
				}
			}
		});	
	
	}
		
	
</script>
   

<style>

	textarea, 
	pre
	{
		margin: 0;
		padding: 0;
		outline: 0;
		border: 0;
	}
	
	#QAScreen
	{
		background:transparent;
		position:relative;
		min-width:482px;
		min-height:1000px;	
		border: none;	
	}
	
	.ScreenBackground
	{
		background:transparent;
		position:absolute;
		top:0px;
		left:0px;
		width:482px;
		height:1000px;	
		border: none;						
	}
	
	.ScreenBackgroundGlare
	{
		background:transparent;
		position:absolute;
		top:10px;
		left:11px;
		width:260px;
		height:741px;	
		border: none;
	}
	
	
	#PhoneScreenArea
	{
		background:transparent;
		position:absolute;
		top:155px;
		left:40px;
		width:400px;
		height:707px;	
		border: none;
	}
	
	#SMSToAddress
	{
		background:transparent;
		position:relative;
		left:1px;
		z-index:2;	
	}
	
	#inpSMSToAddress 
	{		
		margin-bottom: 0px !important;	
		width:318px;
		border-radius: 0px;
		padding-left:10px;
		border: none;
		border-bottom:solid 1px #C2C2C2; 
		z-index:3;			
		font-family: Helvetica, sans-serif;
		font-size:20px;
		padding-top:6px;
		line-height:29px;
	}
	
		
	#SMSClear 
	{	
		background:transparent;
		position:relative;
		left:1px;
		z-index:2;	
		margin-bottom: 0px !important;	
		width:80px;
		border-radius: 0px;
		padding-left:10px;
		border: none;
		border-bottom:solid 1px #C2C2C2; 
		z-index:3;			
		font-family: Helvetica, sans-serif;
		font-size:20px;
		padding-top:6px;
		cursor:pointer;
		text-align:center;
		line-height:29px;
	}

	#SMSTextInputAreaContainer
	{
		background:transparent;
		background-color: #F2F2F2;
		position:absolute;		
		left:1px;
		bottom:0px;
		width:399px;
		padding:10px;	
		border-top:solid 1px #C2C2C2;
		z-index:2;	
		font-family: Helvetica, sans-serif;
		font-size:20px;
	}
	
	.SMSSendButton
	{		
		position:absolute;
		top:650px;
		left:300px;	
		z-index:3;	
	}
	
	#SMSHistoryScreenArea
	{
		height: 100%;	
		padding:5px;
		overflow:auto;
/*		overflow:scroll;
		overflow-x:hidden;
		overflow-y: scroll;	*/					
	}

	#SMSTextInputArea
	{
		resize: none;  
		width:250px;  
		background:transparent;
		background: #fff;
		padding:10px;			
		max-height:200px;		
		border-radius: 20px 20px 20px 20px;			
	}
			
	.bubble
	{
		background-color: #28CBEF;	
		border-radius: 5px;
		box-shadow: 0 0 6px #B2B2B2;
		display: inline-block;
		padding: 10px 18px;
		position: relative;
		vertical-align: top;
		font-family: Helvetica, sans-serif;
		font-size:20px;
		
	}
	
	.bubble::before 
	{
		background-color:  #28CBEF;
		content: "\00a0";
		display: block;
		height: 16px;
		position: absolute;
		top: 11px;
		transform:             rotate( 29deg ) skew( -35deg );
			-moz-transform:    rotate( 29deg ) skew( -35deg );
			-ms-transform:     rotate( 29deg ) skew( -35deg );
			-o-transform:      rotate( 29deg ) skew( -35deg );
			-webkit-transform: rotate( 29deg ) skew( -35deg );
		width:  20px;		
	}
	
	.me 
	{
		float: left;   
		margin: 5px 45px 5px 20px;
		background-color: #F2F2F2;		       
	}
	
	.me::before 
	{
		box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
		left: -9px;           
		background-color: #F2F2F2;
	}
	
	.you 
	{
		float: right;    
		margin: 5px 20px 5px 45px;   
		
		}
	
	.you::before 
	{
		box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
		right: -9px;    
	}
	
	
	.EBMDialog .form-left-portal 
	{
    	width: 500px;
		position:relative;
	}
	
	.EBMDialog .form-right-portal 
	{    	
		position:relative;
	}
	
	.QASmall
	{
		color: #464646;
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
		
	}
	
	.EBMDialog .small2 
	{
		color: #464646;
		font-size: 12px;
		font-weight: 400;   
	}
	
	
	#MenuTipSlide
	{
		position:absolute;
		bottom:100px;
		left:500px;
		width: 260px;
		height: auto;
		border:#C00 1px solid;
		background-color: rgba(250, 125, 43, .8);
		transition: opacity 0.3s ease 0s;
		-moz-border-radius: 8px;
        border-radius: 8px;
		vertical-align:central;
		padding:10px;
	}
	
	#MenuTipSlideStart
	{
		position:relative;
		width: 322px;;
		height: auto;
		margin-bottom:8px;
		border:#C00 1px solid;
		background-color: rgba(250, 125, 43, .8);
		transition: opacity 0.3s ease 0s;
		-moz-border-radius: 8px;
        border-radius: 8px;
		vertical-align:central;
		padding:10px;
	}
	
	#MenuTipSlideMiddle
	{
		position:relative;
		width: 322px;
		height: auto;
		border:#C00 1px solid;
		background-color: rgba(250, 125, 43, .8);
		transition: opacity 0.3s ease 0s;
		-moz-border-radius: 8px;
        border-radius: 8px;
		vertical-align:central;
		padding:14px 10px 10px 10px;		
	}
	
	#MenuTipSlideStart img
	{	
		<!---float:right; margin-left:8px; margin-right:8px; height:18px; <!---margin-bottom:50px;--->--->	
		display:inline; 
		margin-left:8px;		
	}
	
	#MenuTipSlideMiddle img
	{	
		<!---float:right; margin-left:8px; margin-right:8px; height:18px; <!---margin-bottom:50px;--->--->	
		float:left; 
		margin-left:8px;
		margin-right:8px;	
		margin-top:-8px;	
	}
	
	#MenuTipSlide img
	{	
		<!---float:right; margin-left:8px; margin-right:8px; height:18px; <!---margin-bottom:50px;--->--->	
		float:left; 
		margin-left:0px;
		margin-right:8px;	
		margin-top:-6px;	
	}
	
	
	.DemoLink
	{
		text-decoration:none;
		cursor:pointer;	
		width:33%;
		text-align:left;
		padding: 8px 8px;
		vertical-align: top;
		color:#0085c8;
		font-weight:700;
		
	}
	
	
	.DemoLink:hover
	{
		color:#ff9900;	
	}
	
	.DemoTile
	{
		width:100px;
		height:100px;
		float:left;
		margin:4px;
		padding:2px;
		background-color:#ccc;	
		text-align:center;	
		line-height: normal;	
		color:#fff;
		border-radius: 5px;
		box-shadow: 0 5px 2px #d1d1d1;
		cursor:pointer;
		overflow:hidden;
		position:relative;
		display:table-cell; 
		
		background: rgb(35,138,203); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(35,138,203,1) 0%, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 98%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,138,203,1)), color-stop(0%,rgba(30,87,153,1)), color-stop(98%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(35,138,203,1) 0%,rgba(30,87,153,1) 0%,rgba(32,124,202,1) 98%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(35,138,203,1) 0%,rgba(30,87,153,1) 0%,rgba(32,124,202,1) 98%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(35,138,203,1) 0%,rgba(30,87,153,1) 0%,rgba(32,124,202,1) 98%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(35,138,203,1) 0%,rgba(30,87,153,1) 0%,rgba(32,124,202,1) 98%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#238acb', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
		
	}
	
	.DemoTile:hover
	{
		 background: #f8853b !important;
		<!---zoom: 1.1;
   		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);		--->
	}
	
	.DemoTile>span {
	  display: inline-block;
	  vertical-align: middle !important;   
	  line-height: normal;   
	  color:#fff;
	  font-weight:700;
	  position:relative; 
	  top:30%; 
	  height:96px;     
	  					 
	}


	.shine {
				display: block;
				position: relative;
				background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
				background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
				background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
				background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
				padding: 0px 12px;
				top: 0px;
				left: 0px;
				height: 6px;
				-webkit-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
				 -khtml-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
				   -moz-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
					 -o-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
						box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
				-webkit-transition: all 0.3s ease-in-out;
				 -khtml-transition: all 0.3s ease-in-out;
				   -moz-transition: all 0.3s ease-in-out;
					 -o-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
	}
	
	.DemoTile:hover .shine {left: 24px;}
	.DemoTile:active .shine {opacity: 0;}
	

	.bubbletip {
		background: none repeat scroll 0 0 #fff;
		border: 0 solid #bbb;
		border-radius: 15px;
		height: auto;
		margin: 0 auto;
		position: relative;
		padding: 1em;
		width: 280px;
		font-weight:700;
	}
	
	.pointertip {
		border-color: #fff transparent;
		border-style: solid;
		border-width: 15px 15px 0;
		content: "";
		display: block;
		position: absolute;
		width: 0;
		z-index: 1;
	}
	
	.pointerBordertip {
		border-color: #bbb transparent;
		border-style: solid;
		border-width: 20px 20px 0;
		content: "";
		display: block;
		position: absolute;
		width: 0;
		z-index: 0;
	}
		
		
</style>

   
<cfoutput>

<!---

Demo Marketing info

Add to json string: let the user change them
add links to keyword names - less typing for demo
Try some keywords:
money
survey
mfa
statement
interval
api



--->

	<div id="OTTDemoContainer" class="stand-alone-content" style="width:950px;">
        <div class="EBMDialog">
                              
            <form method="POST">
                              
                <div class="inner-txt-box">
       
                    <div class="inner-txt-hd"></div>
                    <div class="inner-txt"></div>
                                       
                    <div class="form-right-portal" style="float:right; width:400px;">
                    
                      	<!---  
						<div class="inputbox-container">
                            <label for="inpContactString">Device Address <span class="small">Phone Number</span></label>
                            <input id="inpContactString" name="inpContactString" placeholder="Enter Contact String Here" size="20" value="9999999999"/>
                        </div>
						--->
                        
                      	<input type="hidden" id="inpContactString" name="inpContactString" placeholder="Enter Contact String Here" size="20" value="#inpContactString#"/>
                        
                        
                        <div class="bubbletip" style="background-color: rgb(255, 255, 255); border-color: rgb(127, 127, 127); border-width: 2px; margin-bottom:2em;">
                            <div class="pointertip" style="content: '';position: absolute;border-style: solid;border-width: 16px 15px 0;border-color: ##FFFFFF transparent;display: block;width: 0;z-index: 1;bottom: -15px;left: 156px;"> </div>
                            <div class="pointerBorder" style="content: '';position: absolute;border-style: solid;border-width: 16px 16px 0;border-color: ##7F7F7F transparent;display: block;width: 0;z-index: 0;bottom: -18px;left: 155px;"> </div>
                            Try it! These buttons will trigger sample interactions. You may also type the keywords directly.
                        </div>
                        
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="400px;" style="">
                        	
                            <tr style="width:100%;">
                            	<td width="33%" class="DemoLink ottdemokeyword" id="DemoKeyword" rel1="Welcome">Welcome</td>
                                <td width="33%" class="DemoLink ottdemokeyword" id="SurveyCSS1" rel1="Survey">Survey</td>
                                <td width="33%" class="DemoLink ottdemokeyword" id="RedReg" rel1="Branch">Branch  <BR /> RegEx</td>
                            </tr>
                            
                            <tr style="width:100%;">                            	
                                <td width="33%" class="DemoLink ottdemokeyword" id="money" rel1="Money">Digital  <BR /> Companion</td>
                                <td width="33%" class="DemoLink ottdemokeyword" id="MFAKW" rel1="MFA">Multi<BR />Factor<BR />Auth<BR/></td>
                                <td width="33%" class="DemoLink ottdemokeyword" id="DoubleOpt" rel1="2Opt">Double<BR />Opt<BR />In</td>
                                
                            </tr>
                            
                            <tr style="width:100%;">
                            	<td width="33%" class="DemoLink ottdemokeyword" id="DataCapture" rel1="Capture">Data<BR />Capture</td>
                                <td width="33%" class="DemoLink ottdemokeyword" id="RemainKeyword" rel1="Remain">Deductible <BR /> Remaining</td>
                                <td width="33%" class="DemoLink ottdemokeyword" id="EnergyKeyword" rel1="Energy">Outage <BR />Alerts</td>
                            </tr>
                                                    
                        </table>   
					    <!---
                        <div id="MenuTipSlideStart">Try it! These buttons will trigger sample interactions. You may also type the keywords directly.<img src="#rootUrl#/#publicPath#/images/m1/downarrowicon.png" /></div>
                    	--->                        
                        
                     <!---  
					 	<div class="DemoTile ottdemokeyword" id="DemoKeyword" rel1="Welcome">
	                        <div class="shine"></div>
                         	<span class="hide-info showToolTip">Welcome</span>      
                            <div class="tooltiptext">
                                 <em>Demo Sample</em>
                                 This is a simple key word response with styled text response. You can also start this sample by typing the keyword Welcome in the input box at the bottom of the phone. 
                            </div>                                                           
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="SurveyCSS1" rel1="Survey">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Survey</span>   
                            <div class="tooltiptext">
                                 <em>Survey Sample</em>
                                 This will start a new Interactive Campaign - Customer Satisfaction Survey Sample. This sample demonstrates personalization as well as several question types and branch logic. You can also start this sample by typing the keyword Survey in the input box at the bottom of the phone. 
                            </div>                          
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="RedReg" rel1="Branch">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Branch  <BR /> RegEx</span>    
                            <div class="tooltiptext">
                                 <em>Branch / Regular Expressions Sample</em>
                                 This will start a new Interactive Campaign - Favorite Color Sample. You can answer the color number, name, or use full sentences like "I like Red!". This sample also demonstrates retry logic and too many invalid response exit message.  You can also start this sample by typing the keyword Branch in the input box at the bottom of the phone. 
                            </div>                     
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="money" rel1="Money">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Digital  <BR /> Companion</span>  
                            <div class="tooltiptext">
                                 <em>Digital Companion Sample</em>
                                 This will start a new Interactive Campaign - Manage your Money Smarter Sample. This sample demonstrates intelligent tips over time help based on interactive responses. It also demonstrates basic "Double Opt In" You can also start this sample by typing the keyword Money in the input box at the bottom of the phone. 
                            </div>                         	                      
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="DemoKeyword" rel1="MFA">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Multi<BR />Factor<BR />Auth<BR/></span>
                            <div class="tooltiptext">
                                 <em>Multi-Factor Authentication (MFA)</em>
                                 One Time verification code uses information sent to a phone via SMS or Push for use as part of the login process.  You can also start this sample by typing the keyword MFA in the input box at the bottom of the phone. 
                            </div>   
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="DoubleOpt" rel1="2Opt">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Double<BR />Opt<BR />In</span> 
                            <div class="tooltiptext">
                                 <em>Double Opt Sample</em>
                                 This is standard compliance double opt in sample. You can also start this sample by typing the keyword 2Opt in the input box at the bottom of the phone. 
                            </div>                           
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="DataCapture" rel1="Capture">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Data<BR />Capture</span>  
                            <div class="tooltiptext">
                                 <em>Data Capture Sample</em>
                                 This will start a new Interactive Campaign - Update your eMail address. You can also start this sample by typing the keyword Demo in the input box at the bottom of the phone. 
                            </div>                         
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="RemainKeyword" rel1="Remain">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Deductible <BR /> Remaining</span>  
                            <div class="tooltiptext">
                                 <em>Deductable Remaining Sample</em>
                                 This will start a new Interactive Campaign - Lowers calls into the call center by pro-active notification. You can also start this sample by typing the keyword Remain in the input box at the bottom of the phone. 
                            </div>                          
                         </div>
                         
                         <div class="DemoTile ottdemokeyword" id="EnergyKeyword" rel1="Energy">
                         	<div class="shine"></div>
                         	<span class="hide-info showToolTip">Outage <BR />Alerts</span> 
                            <div class="tooltiptext">
                                 <em>Outage Alerts Sample</em>
                                 This is a simple alert with standard text response. You can also start this sample by typing the keyword Energy in the input box at the bottom of the phone. 
                            </div>                           
                         </div>
						 
						 --->
                         
                         
                         <!---
						 
							 Data Capture Sample
						 
						 --->
                         
                    
                    	<div id="TimeMachineOptions" style="padding-top:20px; padding-bottom:0px; clear:both">
                        	<label class="qe-label-a">Advanced - <span style="text-decoration:underline; cursor:pointer;" id="TimeMachineOptionsLink">Time Machine</span></label>
                        </div> 
                        
                        <div id="TimeMachineContainer" style="display:none;">
                        	                              
                            <div id="IntervalOptions" class="inputbox-container" style="width:400px;">
                                <label>The next response has been queued up for delivery after:</label>
                                <div id="INTERVALSCHEDULED" class="QASmall">NA - MM:DD:YYYY</div>
                                 
                                <a class="bluebuttonAuto small2" id="TIMEMACHINECHECK">                              
                                    <div class="hide-info showToolTip">Check Queue</div>
                                    <div class="tooltiptext">
                                        <em>Check Queue</em>
                                         Check when next response is scheduled to run - if there is one. Use Time Machine button separately to force any queued responses to run now.
                                    </div>
                                </a>
                                    
                                <a class="bluebuttonAuto small2" id="TIMEMACHINE">
                                	<div class="hide-info showToolTip">Run Time Machine</div>
                                    <div class="tooltiptext">
                                         <em>Run Time Machine</em>
                                          Force any queued responses to run now.
                                    </div>                                   
                                </a>
                            </div>
                        
                        </div>
                        
                        <div id="CPOptions" style="padding-top:20px; padding-bottom:0px; clear:both;">
                        	<label class="qe-label-a">Advanced - <span style="text-decoration:underline; cursor:pointer;" id="CPOptionsLink">Starting Control Point</span></label>
                        </div> 
                        
                        <div id="StartCPContainer" style="display:none;">
                        	 	
                             <div class="inputbox-container">
                                <label for="inpCP">Starting Control Point</label>
                                <input id="inpCP" name="inpCP" placeholder="Enter CP" size="10" value=""/>
                                
                                <label for="inpCPKeyword">Program Start Keyword</label>
                                <input id="inpCPKeyword" name="inpCPKeyword" placeholder="Enter Keyword" size="20" value=""/>
                                
                             	<a class="bluebuttonAuto small2" id="STARTCP">                               
                                	<div class="hide-info showToolTip">Start IC at Control Point</div>
                                    <div class="tooltiptext">
                                         <em>Start IC at Control Point</em>
                                         This will start a new Interactive Campaign beginning at the specified Control Point. All running campaigns on this device address will be stopped.
                                    </div>   
                                </a>
            
                            </div>
                        </div>                     
                        
                        <div id="JSONOptions" style="padding-top:20px; padding-bottom:0px; clear:both;">
                        	<label class="qe-label-a">Advanced - <span style="text-decoration:underline; cursor:pointer;" id="JSONOptionsLink">JSON CDFs</span></label>
                        </div> 
                        
                        <div id="JSONOptionsContainer" style="display:none;">
                        	 	
                            <div class="inputbox-container">
                                <label for="inpJSON">JSON list of Custom Data Fields</label>
                                <textarea id="inpJSON" name="inpJSON" placeholder="Enter Valid JSON" value="" style="padding:5px; width:100%; height:445px;"></textarea>
                            
                            	<!---<BR />
                                <BR />
                                <BR />
                                <label for="inpJSONSample">SAMPLE: JSON list of Custom Data Fields</label>
                                <textarea id="inpJSONSample" name="inpJSON" placeholder="Enter Valid JSON" value="" style="padding:5px; width:100%; height:100px;" readonly="readonly"></textarea>--->
                                               
                            </div>
                        </div>          
                       
                       	<div class="bubbletip" style="background-color: rgb(255, 255, 255); border-color: rgb(127, 127, 127); border-width: 2px; margin-top:2em;">
                            <div class="pointertip" style="content: '';position: absolute;border-style: solid;border-width: 0 15px 16px;border-color: ##FFFFFF transparent;display: block;width: 0;z-index: 1;top: -15px;left: 61px;">
                            </div>
                            <div class="pointerBordertip" style="content: '';position: absolute;border-style: solid;border-width: 0 16px 16px;border-color: ##7F7F7F transparent;display: block;width: 0;z-index: 0;top: -18px;left: 60px;">
                            </div>
                            Feeling Adventurous? Feel free to play with some of the advanced features.
                        </div>
    
                <!---        <div id="MenuTipSlideMiddle"><img src="#rootUrl#/#publicPath#/images/m1/uparrowicon.png" />Feeling Adventurous? Feel free to play with some of the advanced features.</div>
                --->        
                    </div>
                                   
                    <div class="form-left-portal">
                               
                       <div id="QAScreen">
                                              		       
                            <img class="ScreenBackground" src="images/demoire/iphone6base.png" />  
                                                       
                            <!--- Phone screen display area --->
                            <div id="PhoneScreenArea">	 	
                                                      
                                                      
                                <div id="SMSToAddress"><input id="inpSMSToAddress" name="inpSMSToAddress" placeholder="To:" size="20" readonly="readonly" value="#BrandDemoKeyword#" /><input id="SMSClear" name="SMSClear" placeholder="" size="" readonly="readonly" value="X" /></div>                          
                                
								<!--- SMS text history display area - append new SMS messages here - cookie history storage with clear button --->                          
                             	<div id="SMSHistoryScreenArea">
                                 
                                  <!---  <div class="bubble me">Hello there! Can you meet at Houston's for lunch today at 12:30?</div>
                                    <div style="clear:both"></div>
                                    <div class="bubble you">Hi. Can I meet you there at 1:00? I'm stuck in a meeting.</div>
                                    <div style="clear:both"></div>
                                    <div class="bubble me">Great! See you there.</div>
                                    <div style="clear:both"></div>
                                    <div class="bubble you">Are you gonna grab a table?</div>
                                    <div style="clear:both"></div>
                                    <div class="bubble me">Yes.</div>
                                    <div style="clear:both"></div>
                                    <div class="bubble you">Awesome.</div>  --->                                                                       
                                </div>   
                                                          	                                
                                <div id="SMSTextInputAreaContainer">
                                 
                                 	 <!--- SMS Text input area  --->                                                                  	
                                    <textarea id="SMSTextInputArea" name="SMSTextInputArea" maxlength="160" style="min-height:38px;"></textarea>
                                   
                                </div>
                                 
                                <a class="button filterButton small SMSSendButton" id="SMSSend" >Send</a>	                               
                                     
                                     
                            </div>
                           
                            <img class="ScreenBackgroundGlare" src="#rootUrl#/#PublicPath#/images/sms/iphonebaseglareonly.png" />  
                        
                            
                              
                       </div>
                       
                       
                       <div class="bubbletip" style="background-color: rgb(255, 255, 255); border-color: rgb(127, 127, 127); border-width: 1px; position:absolute; bottom:100px; left:500px; font-weight:700;">
                            <div class="pointertip" style="content: '';position: absolute;border-style: solid;border-width: 15px 15px 15px 0;border-color: transparent ##FFFFFF;display: block;width: 0;z-index: 1;left: -15px;top: 12px;">
                            </div>
                            <div class="pointerBordertip" style="content: '';position: absolute;border-style: solid;border-width: 15px 15px 15px 0;border-color: transparent ##7F7F7F;display: block;width: 0;z-index: 0;left: -16px;top: 12px;">
                            </div>                            
                            Tip: You can input keywords and answers in the box to the left and then hit the send button.
                        </div>                       
                                                                                
                    </div>
              
                </div>
                
                <div style="clear:both"></div>
                <div style="clear:both"></div>
                              
            </form>
                
        </div>
		<input type="hidden" id="isTestKeyword" value="0"> 
		<input type="hidden" id="isEmitChatContent" value="0">
		<input type="hidden" id="Keyword" value="">     
	</div>   
</cfoutput>