.codemirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}
.codemirror-foldgutter {
  width: .7em;
}
.codemirror-foldgutter-open,
.codemirror-foldgutter-folded {
  color: #555;
  cursor: pointer;
}
.codemirror-foldgutter-open:after {
  content: "\25BE";
}
.codemirror-foldgutter-folded:after {
  content: "\25B8";
}
