*{
	padding: 0;
}

h2.cppStepTitle{
	margin: 15px 0;
}

.cppStepTitle span{
	font-weight: normal;
}

.cppPortalDesc{
	margin-left: 35px;
}

.cppPortalContent{
	margin-left: 70px;	
}

.cppPortalSubmit{
	text-align: center;
}

.cppPortalDesc{
	margin-bottom: 5px;
}

.cppPortalDesc p{
	//line-height: 10px;
}

.cppPortalContentRow{
	margin: 5px 0;
}

.buildportalControl input[type=checkbox]{
	margin: 0 10px;
}

.dialog_content input[type=checkbox],.dialog_content span{
	float: left;
}

.dialog_content span p{
	margin: 0;
}

.MultipleSelectText{
	margin-right: 10px;
}
#textCondition{
	text-align: left;
	margin-left: 10px;
}

#dialog_termCondition{
	left: 25%;
	right: 25%;
	margin: 0;
}

.somadesign1{
	margin-top: 20px;
}

.vanityAvailable{
	color:#999999;
}

.vanityNotAvailable{
	color:#990033;
}

.thankyou{
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
}

#containerLaunch input[type=text]{
	height: 35px;
	display: inline;
	margin-top: 10px;
}

input.emailText{
	width: 175px;	
}

label{
	font-weight: bold;
}

.methodText{
	width: 50px;
	display: inline;	
}

.VoiceNumberText{
	margin-right: 2px;
}

.SMSNumberText{
	margin-right: 5px;
}

#language{
	width: 200px;
	margin-top: 10px;
	padding: 5px 0;
}

.templateOptionRow{
	margin: 10px 0;
}

.fontColorLabel{
	float: left;
	line-height: 35px;
	display: block;
	margin-right: 15px;
}

.fontSizeLabel{
	margin-right: 15px;
}

.tempRow, .tempImage{
	margin-bottom: 10px;
}

#containerLaunch{
	text-align: left;
}

.cppPortalRow ol{
    padding-left: 15px;
}
