html,
button,
input,
select,
textarea {
    font-family:Verdana, Geneva, sans-serif;
}
label {
	display: block;
	color: #161616;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}
#singhd{
	color:#006699;
	font-family:Calibri;
	font-size:28px;
	font-weight:bold;
	text-align:center;
	float:left;
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}
.login-or{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
    display: block;
    font-family: Calibri;
    font-size: 16px;
    font-style: italic;
    height: 20px;
    left: 50%;
    line-height: 15px;
    margin-bottom: 3px;
    margin-left: -20px;
    position: absolute;
    text-align: center;
    top: -40px;
    width: 40px;
}
.mLoginSocial{
	float:left;
	width:100%;
	margin-bottom: 10px;
}
.mLoginSocial .title, .LoginAccount .title{
	float:left;	
	color:#666666;
	font-family: Calibri;
	font-size:16px;
	font-weight:normal;
	width:100%;
	text-align:center;
}
.mLoginSocial .icon{
 	float: left;
    left: 50%;
    padding-top: 20px;
    position: relative;
    text-align: center;
}
.LoginAccount{
	float:left;
	width:100%;
	height:auto;
	border-top: 1px solid #CCC;
	padding-top:10px;
}
.formLogin{
	float:left;
	padding-top:15px;
	width:100%;
	position: relative;
}
.LoginAccount .action{
	float:left;
	padding-top:10px;
	height:32px;
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
.LoginAccount .forgotPass{
	float:left;
	width:217px;
}

.LoginAccount .submitbtn{
	float:right;
	width:56px;
}
.LoginAccount .submitbtn a{
	border-radius:5px;
	background:#46a6dd;
}
.LoginAccount .submitbtn a:hover{	
	background:#0076A3;
}
.LoginAccount .forgotPass a{
	color:#006699;
	font-family: Verdana;
	font-size:12px;
	text-decoration:none;
	font-style:italic;
}
.login_box{
	float:left;	
	border: 1px solid #CCCCCC;
	border-radius:5px;
	margin-left:5%;
	margin-right:5%;
	width:90%;	
	height:auto;	
	min-height:29px;
	background-color: #fff;
}
.login_left_box{
	float:left;
	text-align:left;
	line-height: 29px;
	width:100%;		
	border-radius:5px 0 0 5px;
	height:auto;
	min-height:29px;
	color:#666;
	font-family:Verdana;
	font-size:12px;
	text-align:center;
}
.login_right_box{
	float:left;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	height:auto;
	min-height:29px;
	border-top: 1px solid #CCCCCC;
}
.login_input_box{
	float:left;
	width:100%;
	height:27px;
	border-radius:5px;
	border:0px;
	text-align:center;		
}
.mtop10{
	margin-top:10px;
}
.social{
	padding-left:5px;
	padding-right:5px;
	width:100%;
	 text-align: center;
	height:32px;
	float:left;}

#sign-soc{
	margin-left: 145px;
    width: 50%;
	height:45px;
	float:left;
}
#sign-soc1{
	margin-left: 105px;
    width: 50%;
	height:45px;
	float:left;
}
.social-icon {
	float: left;
    padding-right: 2px;
    position: relative;
    right: 50%;
}
#social-icon img {
	float:left;
}
#social-icon li {
	float:left;
	padding-right:3px;
}

#singor{
	font-size:14px;
	float:left;
	text-align: center;
	 height: 50px;
    margin-top: 40px;
    width: 100%;
	}
	#singor1 {
    float: left;
    font-size: 14px;
    height: 19px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

#signnew1{
    color: #161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}
#signnew1 a {
   text-decoration:none;
	color:#161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}

#signnew1 a:hover{
   color:#27b1e7;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}

#signnew1green{
    color: #161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}
#signnew1green a {
   text-decoration:none;
	color:#161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}

#signnew1green a:hover{
   color:#29b164;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}
#signnew1orange{
    color: #161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}
#signnew1orange a {
   text-decoration:none;
	color:#161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}

#signnew1orange a:hover{
   color:#f9a158;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}
#signnew1red{
    color: #161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}
#signnew1red a {
   text-decoration:none;
	color:#161616;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}

#signnew1red a:hover{
   color:#f14545;
    float: left;
    font-size: 12px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    width: 99%;
}

#signnew{
	font-size:12px;
	float:left;
	text-align: left;
	height: 55px;
    margin-top: 22px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
}
#signnew a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	text-decoration:none;
	color:#161616;
}
#signnew a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	color:#27b1e7;
}
#signneworange{
	font-size:12px;
	float:left;
	text-align: left;
	height: 55px;
    margin-top: 22px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
}
#signneworange a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	text-decoration:none;
	color:#161616;
}
#signneworange a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	color:#f9a158;
}
#signnewred{
	font-size:12px;
	float:left;
	text-align: left;
	height: 55px;
    margin-top: 22px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
}
#signnewred a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	text-decoration:none;
	color:#161616;
}
#signnewred a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	color:#f14545;
}
#signnewred{
	font-size:12px;
	float:left;
	text-align: left;
	height: 55px;
    margin-top: 22px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
}
#signnewred a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	text-decoration:none;
	color:#161616;
}
#signnewred a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	color:#ed1c24;
}
#signnewgreen{
	font-size:12px;
	float:left;
	text-align: left;
	height: 55px;
    margin-top: 22px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
}
#signnewgreen a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	text-decoration:none;
	color:#161616;
}
#signnewgreen a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	color:#29b164;
}

#signneworange{
	font-size:12px;
	float:left;
	text-align: left;
	height: 55px;
    margin-top: 22px;
    width: 99%;
	color:#161616;
	margin-left:5px;
	margin-right:5px;
}
#signneworange a{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	text-decoration:none;
	color:#161616;
}
#signneworange a:hover{
	font-size:12px;
	float:left;
	text-align: left;
	height: 50px;
    margin-top: 22px;
    width: 100%;
	color:#f9a158;
}

.loginform {
	width: 590px;
	height:375px;
	margin: 50px auto;
	padding: 25px 85px;
	background-color: rgba(250,250,250,0.5);
	/*border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    
border: 1px solid rgba(0, 0, 0, 0.3);
		overflow-x: hidden;
*/
    overflow-y: auto;
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
	float: left;
}
/*
.loginform input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
*/
.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformred {
	width: 480px;
	height:375px;
	margin: 50px auto;
	padding: 25px 85px;
		background-color:#fbbea7;
	border-radius: 5px;
   
    border: 2px solid #ed1c24;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformred ul {
	padding: 0;
	margin: 0;
}
.loginformred li {
	display: inline;
	float: left;
}
.loginformred input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformred input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginformorange {
	width: 480px;
	height:375px;
	margin: 50px auto;
	padding: 25px 85px;
		background-color:#fdc689;
	border-radius: 5px;
   
    border: 2px solid #f79548;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformorange ul {
	padding: 0;
	margin: 0;
}
.loginformorange li {
	display: inline;
	float: left;
}
.loginformorange input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformorange input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformbluemediam {
	width: 480px;
	height:375px;
	margin: 50px auto;
	padding: 25px 85px;
	background-color:#abe1fa;
	border-radius: 5px;
   
    border: 2px solid #6dcff6;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformbluemediam ul {
	padding: 0;
	margin: 0;
}
.loginformbluemediam li {
	display: inline;
	float: left;
}
.loginformbluemediam input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformbluemediam input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformgreenmediam {
	width: 480px;
	height:375px;
	margin: 50px auto;
	padding: 25px 85px;
	background-color:#a3d39c;
	border-radius: 5px;
   
    border: 2px solid #00a651;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformgreenmediam ul {
	padding: 0;
	margin: 0;
}
.loginformgreenmediam li {
	display: inline;
	float: left;
}
.loginformgreenmediam input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformgreenmediam input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginform1 {
	width: 587px;
	height:264px;
	margin: auto;
	padding: 260px 105px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
		overflow-x: hidden;
    overflow-y: auto;
}
.loginform1 ul {
	padding: 0;
	margin: 0;
}
.loginform1 li {
	display: inline;
	float: left;
}
.loginPanel{
	border-radius: 10px;
	border: 1px solid #ccc;
	width: 587px;
	height:264px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.loginformblue {
	width: 480px;
	height:500px;
	margin: 50px auto;
	padding: 25px 185px;
	background-color:#abe1fa;
	border-radius: 5px;
   
    border: 2px solid #6dcff6;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformblue ul {
	padding: 0;
	margin: 0;
}
.loginformblue li {
	display: inline;
	float: left;
}

.loginformblue input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformblue input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}



/*
.loginform1 input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
*/
.loginform1 input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformredlarg {
	width: 480px;
	height:500px;
	margin: 50px auto;
	padding: 25px 185px;
	background-color:#fbbea7;
	border-radius: 5px;
   
    border: 2px solid #ed1c24;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformredlarg ul {
	padding: 0;
	margin: 0;
}
.loginformredlarg li {
	display: inline;
	float: left;
}

.loginformredlarg input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformredlarg input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformorangelarg {
	width: 480px;
	height:500px;
	margin: 50px auto;
	padding: 25px 185px;
	background-color:#fdc689;
	border-radius: 5px;
   
    border: 2px solid #f79548;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformorangelarg ul {
	padding: 0;
	margin: 0;
}
.loginformorangelarg li {
	display: inline;
	float: left;
}

.loginformorangelarg input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformorangelarg input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformgreenlarg {
	width: 480px;
	height:500px;
	margin: 50px auto;
	padding: 25px 185px;
	background-color:#a3d39c;
	border-radius: 5px;
   
    border: 2px solid #00a651;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformgreenlarg ul {
	padding: 0;
	margin: 0;
}
.loginformgreenlarg li {
	display: inline;
	float: left;
}

.loginformgreenlarg input:not([type=submit]) {
	width: 217px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformgreenlarg input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginform2 {
	width: 100%;
	height:auto;
	margin:auto;
}
.loginform2 ul {
	padding: 0;
	margin: 0;
}
.loginform2 li {
	display: inline;
	float: left;
	margin-left:20px;
}
/*
.loginform2 input:not([type=submit]) {
	width: 150px;
	padding: 5px 0 5px 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
*/
.loginform2 input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginformsmallblue{
	width: 400px;
	height:250px;
	margin: 50px auto;
	padding: 25px auto;
	background-color:#abe1fa;
	border-radius: 5px;
   
    border: 2px solid #6dcff6;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformsmallblue ul {
	padding: 0;
	margin: 0;
}
.loginformsmallblue li {
	display: inline;
	float: left;
	margin-left:20px;
}
.loginformsmallblue input:not([type=submit]) {
	width: 150px;
	padding: 5px 0 5px 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformsmallblue input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformsmallred{
	width: 400px;
	height:250px;
	margin: 50px auto;
	padding: 25px auto;
	background-color:#fbbea7;
	border-radius: 5px;
   
    border: 2px solid #ed1c24;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformsmallred ul {
	padding: 0;
	margin: 0;
}
.loginformsmallred li {
	display: inline;
	float: left;
	margin-left:20px;
}
.loginformsmallred input:not([type=submit]) {
	width: 150px;
	padding: 5px 0 5px 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformsmallred input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginformsmallorange{
	width: 400px;
	height:250px;
	margin: 50px auto;
	padding: 25px auto;
	background-color:#fdc689;
	border-radius: 5px;
   
    border: 2px solid #f9a158;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformsmallorange ul {
	padding: 0;
	margin: 0;
}
.loginformsmallorange li {
	display: inline;
	float: left;
	margin-left:20px;
}
.loginformsmallorange input:not([type=submit]) {
	width: 150px;
	padding: 5px 0 5px 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformsmallorange input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginformsmallgreen{
	width: 400px;
	height:250px;
	margin: 50px auto;
	padding: 25px auto;
	background-color:#a3d39c;
	border-radius: 5px;
   
    border: 2px solid #00a651;
		overflow-x: hidden;
    overflow-y: auto;
}
.loginformsmallgreen ul {
	padding: 0;
	margin: 0;
}
.loginformsmallgreen li {
	display: inline;
	float: left;
	margin-left:20px;
}
.loginformsmallgreen input:not([type=submit]) {
	width: 150px;
	padding: 5px 0 5px 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginformsmallgreen input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	float: right;
    margin-right: 12px;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-weight:bold;
	text-decoration: none;
	font: 14px/100% "Verdana", Geneva, sans-serif;
	padding: .5em 2em .55em;
	text-transform:uppercase;
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}



.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 12px;
	padding: 8px 8px 8px 8px;
}
.blue {
	color: #FFFFFF;
	border: solid 1px #0076a3;
	background: #0095cd;
	float: right;
    
    
	background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
	
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	
}
.blue:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	
}
.green {
 color: #FFFFFF;
 border: solid 1px #00a345;
 background: #24c67e;
 float: right;
    
    
 background: -webkit-gradient(linear, left top, left bottom, from(#24c67e), to(#24c67e));
 background: -moz-linear-gradient(top,  #24c67e,  #24c67e);
 
}
.green:hover {
 background: #007ead;
 background: -webkit-gradient(linear, left top, left bottom, from(#00a345), to(#00a345));
 background: -moz-linear-gradient(top,  #00a345,  #00a345);
 
}
.green:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#29b164), to(#29b164));
 background: -moz-linear-gradient(top,  #29b164,  #29b164);
 
}
.orange {
 color: #FFFFFF;
 border: solid 1px #bd6300;
 background: #f4a114;
 float: right;
    
    
 background: -webkit-gradient(linear, left top, left bottom, from(#f4a114), to(#f4a114));
 background: -moz-linear-gradient(top,  #f4a114,  #f4a114);
 
}
.orange:hover {
 background: #bd6300;
 background: -webkit-gradient(linear, left top, left bottom, from(#bd6300), to(#bd6300));
 background: -moz-linear-gradient(top,  #bd6300,  #bd6300);
 
}
.orange:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#f4a114), to(#f4a114));
 background: -moz-linear-gradient(top,  #f4a114,  #f4a114);
 
}
.red {
 color: #FFFFFF;
 border: solid 1px #b40e09;
 background: #e93a1f;
 float: right;
    
    
 background: -webkit-gradient(linear, left top, left bottom, from(#e93a1f), to(#e93a1f));
 background: -moz-linear-gradient(top,  #e93a1f,  #e93a1f);
 
}
.red:hover {
 background: #b40e09;
 background: -webkit-gradient(linear, left top, left bottom, from(#b40e09), to(#b40e09));
 background: -moz-linear-gradient(top,  #b40e09,  #b40e09);
 
}
.red:active {
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, from(#f14545), to(#f14545));
 background: -moz-linear-gradient(top,  #f14545,  #f14545);
 
}