<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


    
<!--- <cfset variables.baseServiceUrl = "http://webservice.seta.com/webservice/ebm" >
<cfset variables.cppUrl = "#variables.baseServiceUrl#/index.cfm/cpp/data" >
    
    
<cfset cppListDesc = "test cpp abc"> --->


<!--- Function for Generating Signature --->   
<cffunction name="generateSignature" returnformat="json" access="remote" output="false">
    <cfargument name="method" required="true" type="string" default="GET" hint="Method" >
    <cfset dateTimeString = GetHTTPTimeString(Now())>
    <!--- Create a canonical string to send --->
    <cfset cs = "#arguments.method#\n\n\n#dateTimeString#\n\n\n">
    <cfset signature = createSignature(cs,variables.secretKey)>
        
    <cfset retval.SIGNATURE = signature>
    <cfset retval.DATE = dateTimeString>
        
    <cfreturn retval>
</cffunction>

<!--- Encrypt with HMAC SHA1 algorithm--->
<cffunction name="HMAC_SHA1" returntype="binary" access="private" output="false" hint="NSA SHA-1 Algorithm">
    <cfargument name="signKey" type="string" required="true" >
    <cfargument name="signMessage" type="string" required="true" >
    
    <cfset var jMsg = JavaCast("string",arguments.signMessage).getBytes("iso-8859-1") >
    <cfset var jKey = JavaCast("string",arguments.signKey).getBytes("iso-8859-1") >
    <cfset var key = createObject("java","javax.crypto.spec.SecretKeySpec") >
    <cfset var mac = createObject("java","javax.crypto.Mac") >
    
    <cfset key = key.init(jKey,"HmacSHA1") >
    <cfset mac = mac.getInstance(key.getAlgorithm()) >
    <cfset mac.init(key) >
    <cfset mac.update(jMsg) >
    
    <cfreturn mac.doFinal() >
</cffunction >


<!--- Function for creating a Signature --->
<cffunction name="createSignature" returntype="string" access="public" output="false">
    <cfargument name="stringIn" type="string" required="true" >
    <cfargument name="scretKey" type="string" required="true" >
    <!--- Replace "\n" with "chr(10) to get a correct digest --->
    <cfset var fixedData = replace(arguments.stringIn,"\n","#chr(10)#","all")>
    <!--- Calculate the hash of the information --->
    <cfset var digest = HMAC_SHA1(scretKey,fixedData)>
    <!--- fix the returned data to be a proper signature --->
    <cfset var signature = ToBase64("#digest#")>
        
    <cfreturn signature>
</cffunction>

<!--- Define your EBM Access Key Id and Secret Access Key here --->
<cfset variables.accessKey = "FDE3568B165B1C510591">
<cfset variables.secretKey = "CAd9fbd60f81e66EAFd79455607e89631eAA41/0" >

<cfset variables.sign = generateSignature("POST") >     <!---Verb must match that of request type--->   
<cfset datetime = variables.sign.DATE>
<cfset signature = variables.sign.SIGNATURE>
    
<cfset authorization = variables.accessKey & ":" & signature>


<!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function--->
 	<cfhttp url="http://ebmdevii.messagebroadcast.com/webservice/ebm/PDC/AddToQueue" method="POST" result="returnStruct" >
	
	    <!--- By default EBM API will return json or XML --->
	    <cfhttpparam name="Accept" type="header" value="application/json" />    	
	    <cfhttpparam type="header" name="datetime" value="#datetime#" />
        <cfhttpparam type="header" name="authorization" value="#authorization#" /> 
  	   
     
       <cfhttpparam type="formfield" name="DebugAPI" value="1" />
       
       <cfhttpparam type="formfield" name="inpBatchId" value="1000134" />
      <cfhttpparam type="formfield" name="inpContactString" value="akhare@messagebroadcast.com" />
       <cfhttpparam type="formfield" name="inpContactTypeId" value="2" /> 
      <!--- <cfhttpparam type="formfield" name="inpContactString" value="2136106109" />
       <cfhttpparam type="formfield" name="inpContactTypeId" value="3" /> --->
       <cfhttpparam type="formfield" name="inpCompany" value="Tester" />
       <cfhttpparam type="formfield" name="inpCity" value="Los Angeles" />
       <cfhttpparam type="formfield" name="inpState" value="CA" />       
       <cfhttpparam type="formfield" name="FirstName_vch" value="Adarsh" />       
       <cfhttpparam type="formfield" name="REPNAME" value="Chester" />
       <cfhttpparam type="formfield" name="inpSkipLocalUserDNCCheck" value="1" />
          
    </cfhttp>
    

    
 returnStruct<BR />                        
    <cfdump var="#returnStruct#">  
    
    <BR />
    
    <cfoutput>
    	#returnStruct.Filecontent#                      
    </cfoutput>
 
 
    

    

    



</body>
</html>