<cfparam name="_search" default="">
<cfparam name="nd" default="">
<cfparam name="rows" default="">
<cfparam name="page" default="">
<cfparam name="sidx" default="">
<cfparam name="sord" default="">
<cfinvoke component="#LocalSessionDotPath#.cfc.administrator.history" method="addHistory" returnvariable="addHistory">
	<cfinvokeargument name="pageTitle" value="#HOME_TITLE#">
</cfinvoke>
<cfset param = '?_search=#_search#&nd=#nd#&rows=#rows#&page=#page#&sidx=#sidx#&sord=#sord#'>
 <script type="text/javascript">

	$(function(){
		$('#subTitleText').hide();
		
		var $items = $('#vtab>ul>li.MultiChannelVTab');
		$items.addClass('selected');		
		$("#campaign").click(function() {
			window.location = '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/campaign/listcampaigns.cfm';
		});
		$("#ire").click(function() {
			window.location = '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/ire/ire';
		});
		$("#contact").click(function() {
			window.location = '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/contacts/Contacts.cfm';
		});
		$("#reporting").click(function() {
			window.location = '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/reporting/reporting.cfm';
		});
		$("#administrator").click(function() {
			window.location = '<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/administration/administration.cfm';
		});
		
		
		<!---$("#testLoad").load("http://cppseta.com/home/3953024561");  ---> 
	});

</script> 

<!--- <div id="testLoad"></div> --->



<cfoutput>

<!---
#Session.CompanyUserId#
<BR />
#Session.UserID#
<BR />
--->

</cfoutput>


<!-- 
<div style="margin-top: 100px;">&nbsp;</div>

<cfif campaignPermission.havePermission>
	<button id="campaign">Campaign</button>
</cfif>

<cfif marketingPermission.havePermission>
<button id="ire">ire</button>
</cfif>

<cfif contactPermission.havePermission>
	<button id="contact">Contact</button>
</cfif>

<cfif reportingPermission.havePermission>
	<button id="reporting">Reporting</button>
</cfif>

<button id="administrator">Administrator</button>
-->

<!---
<cfoutput>
Session.DBSourceEBM=#Session.DBSourceEBM#
<BR />
ESIID = #ESIID#
<BR />
CGI.SERVER_NAME=#CGI.SERVER_NAME#
<BR />
SphinxConfigPath = #SphinxConfigPath#

</cfoutput>--->