.codemirror-merge {
  position: relative;
  border: 1px solid #ddd;
  white-space: pre;
}

.codemirror-merge, .codemirror-merge .codemirror {
  height: 350px;
}

.codemirror-merge-2pane .codemirror-merge-pane { width: 47%; }
.codemirror-merge-2pane .codemirror-merge-gap { width: 6%; }
.codemirror-merge-3pane .codemirror-merge-pane { width: 31%; }
.codemirror-merge-3pane .codemirror-merge-gap { width: 3.5%; }

.codemirror-merge-pane {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.codemirror-merge-pane-rightmost {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.codemirror-merge-gap {
  z-index: 2;
  display: inline-block;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  background: #f8f8f8;
}

.codemirror-merge-scrolllock-wrap {
  position: absolute;
  bottom: 0; left: 50%;
}
.codemirror-merge-scrolllock {
  position: relative;
  left: -50%;
  cursor: pointer;
  color: #555;
  line-height: 1;
}

.codemirror-merge-copybuttons-left, .codemirror-merge-copybuttons-right {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
  line-height: 1;
}

.codemirror-merge-copy {
  position: absolute;
  cursor: pointer;
  color: #44c;
}

.codemirror-merge-copybuttons-left .codemirror-merge-copy { left: 2px; }
.codemirror-merge-copybuttons-right .codemirror-merge-copy { right: 2px; }

.codemirror-merge-r-inserted, .codemirror-merge-l-inserted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAGUlEQVQI12MwuCXy3+CWyH8GBgYGJgYkAABZbAQ9ELXurwAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.codemirror-merge-r-deleted, .codemirror-merge-l-deleted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAGUlEQVQI12M4Kyb2/6yY2H8GBgYGJgYkAABURgPz6Ks7wQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.codemirror-merge-r-chunk { background: #ffffe0; }
.codemirror-merge-r-chunk-start { border-top: 1px solid #ee8; }
.codemirror-merge-r-chunk-end { border-bottom: 1px solid #ee8; }
.codemirror-merge-r-connect { fill: #ffffe0; stroke: #ee8; stroke-width: 1px; }

.codemirror-merge-l-chunk { background: #eef; }
.codemirror-merge-l-chunk-start { border-top: 1px solid #88e; }
.codemirror-merge-l-chunk-end { border-bottom: 1px solid #88e; }
.codemirror-merge-l-connect { fill: #eef; stroke: #88e; stroke-width: 1px; }

.codemirror-merge-l-chunk.codemirror-merge-r-chunk { background: #dfd; }
.codemirror-merge-l-chunk-start.codemirror-merge-r-chunk-start { border-top: 1px solid #4e4; }
.codemirror-merge-l-chunk-end.codemirror-merge-r-chunk-end { border-bottom: 1px solid #4e4; }
