/** GENERAL **/
html, body{
    min-height:100%;
    overflow:auto;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.page{
	padding: 45px 45px 20px 45px;

}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*Validation*/
.formError .formErrorContent {
    background: #15263d;
    box-sizing: content-box;
}

.formError .formErrorArrow div{
    background: #15263d;
}

.input-group-addon{
    cursor: pointer;
}
.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
.stepNote {
    color: #339966;
    font-size: 14px;
    margin-top: 13px;
}
*/