

	

    </div>

</div>	

<div id="BSFooter">

    <div id="BSFooterCenter">
    	<hr />	
        
        <div id="FooterMenu">    
            <a>About</a>
            .
            <a>Find Us</a>
            .
            <a>Privacy</a>
            .
            <a>Terms of Use</a>
        </div>
        
        <div id="FooterNotice">
        	BabbleSphere &copy; 2011       
        </div>
        
	</div>
</div>

    
</body>
</html>