


<!--- Most java and css goes before here --->
</head>



<!--- Start the main body --->
<body>
<div id="BSHeader">

	<div id="BSHeadCenter">
    	<div id="BSHeadLogo">
    		<a href="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#</cfoutput>/account/home" style="text-decoration:none;"><img src="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#PublicPath#</cfoutput>/images/HeaderLogo1Web.png" style="display:inline; border:none;"/></a>
        </div>
        
        <div id="BSHeadLogin">
        	<div style="display:block; text-align:right;">
    	    <a href='<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#</cfoutput>/account/home'>My Account</a> | <a href='<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#SessionPath#</cfoutput>/act_LogOut.cfm'>Logout</a>
        	</div>

            <div id="sessionTimerContainer" style="display:inline; text-align:right;">Session will auto timeout due to inactivity in <div id="SessionTimer" style="display:inline; text-align:right;" >01:00:00</div></div>  
            <div id="sessionAccountInfoContainer" style="text-align:right;">You are currently logged in as <cfoutput>#Session.PrimaryPhone#</cfoutput></div>  
        
        </div>
    </div>

</div>

<div id="BSContentWide">

	<div id="BSCLeft">
    	<img src="<cfoutput>#LocalProtocol#://#CGI.SERVER_NAME#/#PublicPath#</cfoutput>/images/BSLogo1Web.png" />
    </div>
      
    <div id="BSCRight700" align="center">


