<div class="modal-header">
    <h3 class="modal-title">Answer map</h3>
</div>
<div id="answermap" class="modal-body" style="content: '';display: table;">

        <div class="col-xs-12" >
            <div class="row form-group ">
                <label for="answer-0" class="col-sm-1 control-label ng-binding">0</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-0" rel="0" value="{{ answermap.item0 }}">
                </div>
                <label for="answer-1" class="col-sm-1 control-label ng-binding">1</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-1" rel="1" value="{{ answermap.item1 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-2" class="col-sm-1 control-label ng-binding">2</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-2" rel="2" value="{{ answermap.item2 }}">
                </div>
                <label for="answer-3" class="col-sm-1 control-label ng-binding">3</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-3" rel="3" value="{{ answermap.item3 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-4" class="col-sm-1 control-label ng-binding">4</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-4" rel="4" value="{{ answermap.item4 }}">
                </div>
                <label for="answer-5" class="col-sm-1 control-label ng-binding">5</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-5" rel="5" value="{{ answermap.item5 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-6" class="col-sm-1 control-label ng-binding">6</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-6" rel="6" value="{{ answermap.item6 }}">
                </div>
                <label for="answer-7" class="col-sm-1 control-label ng-binding">7</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-7" rel="7" value="{{ answermap.item7 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-8" class="col-sm-1 control-label ng-binding">8</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-8" rel="8" value="{{ answermap.item8 }}">
                </div>
                <label for="answer-9" class="col-sm-1 control-label ng-binding">9</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-9" rel="9" value="{{ answermap.item9 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-10" class="col-sm-1 control-label ng-binding">10</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-10" rel="10" value="{{ answermap.item10 }}">
                </div>
                <label for="answer-11" class="col-sm-1 control-label ng-binding">11</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-11" rel="11" value="{{ answermap.item11 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-12" class="col-sm-1 control-label ng-binding">12</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-12" rel="12" value="{{ answermap.item12 }}">
                </div>
                <label for="answer-13" class="col-sm-1 control-label ng-binding">13</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-13" rel="13" value="{{ answermap.item13 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-14" class="col-sm-1 control-label ng-binding">*</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-14" rel="*" value="{{ answermap.item14 }}">
                </div>
                <label for="answer-15" class="col-sm-1 control-label ng-binding">#</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-15" rel="#" value="{{ answermap.item15 }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12 ng-scope" >
            <div class="row form-group ">
                <label for="answer-16" class="col-sm-1 control-label ng-binding">NR</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="3" id="answer-16" rel="NR" value="{{ answermap.item16 }}">
                </div>
            </div>
        </div>
</div>

<div class="message-anw-err">Please input correctly format: (x,y). X only accepts values from 0 to 9 or -1,-6 and -13 .Y only accepts QID of MCID object.</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>