<div class="modal-header">
    <h3 class="modal-title">Answer map</h3>
</div>
<div id="answermap" class="modal-body" style="content: '';display: table;">
        <div class="col-xs-6"
             data-ng-repeat="script in scripts">
            <div class="row form-group ">
                <label for="answer-{{script.id}}" class="col-sm-1 control-label ng-binding">{{script.label}}</label>
                <div class="col-sm-10">
                    <input class="form-control input-sm"
                           data-ng-if="script.type == 'text'"
                           type="text"
                           maxlength="3"
                           rel="{{script.id}}"
                           id="answer-{{script.id}}"
                           name="answer-{{script.id}}"
                           data-ng-model="answerData[script.model]"
                           placeholder="{{script.placeholder}}" />
                </div>
            </div>
        </div>
</div>
<div class="message-anw-err">Please input correctly format: (x,y). X only accepts values from 0 to 9 or -1,-6 and -13 .Y only accepts QID of MCID object.</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>