<div class="modal-header">
    <h3 class="modal-title">Custom Rule String</h3>
</div>
<div id="custom-rule" class="modal-body" style="content: '';display: table;">

        <div class="col-xs-12" >
            <div class="row form-group " data-ng-repeat="cr in custom_rule">
                <label class="col-sm-1 control-label ng-binding">String</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="100" class="string-rule" value="{{ cr.string }}">
                </div>
                <label class="col-sm-1 control-label ng-binding">Value</label>
                <div class="col-sm-5">
                    <input type="text" maxlength="100" class="string-value" value="{{ cr.value }}">
                </div>
            </div>
        </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="more()">More</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>