<div class="modal-header">
    <h3 class="modal-title">Custom Data Field</h3>
</div>
<div id="answermap" class="modal-body" style="content: '';display: table;">
	<div class="col-xs-12" >
        <div class="row form-group ">
        	<label for="cdf" class="col-sm-5 control-label ng-binding">Custom Data Field: </label>
			<div class="col-sm-7">
				<select ng-model="mycdf" ng-change="updateCDF()" id="inpCDFField">
					<option value="">-- choose cdf --</option>
				    <option ng-repeat="cdf in cdfs" 
							ng-selected="{{cdf.id == mycdf}}"
							title="{{cdf.tooltip}}" 
							value="{{cdf.id}}">{{cdf.name}}</option>
				</select>
			</div>
        </div>
		<div class="row form-group ">
			<div class="message-anw-err">Please select a cdf</div>
		</div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>