<div class="modal-header">
	<h3 class="modal-title">Add Field</h3>
</div>
<div class="modal-body" >
	<div class="row">
		<div class="col-xs-12" 
			data-ng-repeat="script in scripts">
			<div class="row form-group form-group-sm">
				<label class="col-sm-4 control-label" for="{{script.id}}">
					{{script.label}} <i class="detail-question fa fa-question"
					data-popover-title="{{script.title}}" data-popover="{{script.hint}}"
					data-popover-trigger="mouseenter" data-popover-placement="bottom"
					data-popover-append-to-body="true" data-popover-animation="fade">
				</i>
				</label>
				<div class="col-sm-8">
					<select name="{{script.id}}" 
						id="{{script.id}}"
						class="form-control input-sm"
						data-ng-if="script.type == 'select'"
						data-ng-model="fieldData[script.model]"
						data-ng-options="op.label for op in script.options track by op.val"
						>
					</select>
					<textarea
						data-ng-if="script.type == 'textarea'"
						id="{{script.id}}"  
						class="form-control"
						data-ng-model="fieldData[script.model]"
						name="{{script.id}}" rows="3">
					</textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>