<div class="modal-header">
    <h3 class="modal-title">Print Export</h3>
</div>
<div class="modal-body" >
    <img src="{{printData}}" width="100%" />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Print</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>