<div class="modal-header">
	<h3 class="modal-title">Add TTS</h3>
</div>
<div class="modal-body" >
	<div script-tts data-ng-model="ttsData"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>