



<div style="padding-left:42px; padding-top:15px; width:700px; text-align:left;">

    <h5>Introduction to SMS</h5>    
      
    <p>
    SMS messages can be typically sent and received within seconds throughout the world. And with more than 1 trillion
    SMS messages sent annually in the US alone, volumes are widely forecast to continue their strong growth rate globally
    for years to come.
    </p>
    
    <p>
    SMS offers businesses a compelling communication channel for effective, two-way interaction with customers and
    prospects. It can extend brand awareness, create customer loyalty and deliver timely content or critical information,
    providing the immediacy and interactivity no other medium can offer. Attracted by the unique characteristics offered
    by SMS, businesses are increasingly utilizing the anytime, anywhere mobile channel as part of a multichannel communication strategy. 
    </p>

	<h5>Types of SMS</h5>

    <p>
    Person-to-Person (P2P) and Application-to-Person (A2P) are the two categories of SMS messages. While P2P messages
    connect one individual to another, A2P messages are used by companies that want to interact with consumers via an
    SMS application. This document deals solely with A2P messaging.
    </p>
    
    <h5>Standard Rate SMS</h5>

    <p>Standard rate mobile messaging services (also known as bulk SMS) allow companies to send quantities of SMS quickly
    and efficiently. Generally, text messaging charges are not applied to the mobile subscriber's wireless bill or deducted
    from a subscriber's messaging plan allowance when they receive messages from an application (known as Mobile
    Terminated, or MT, messages). However, text messaging charges do apply when they send messages from their phone to
    an application (known as Mobile Originated, or MO, messages). An exception to this is found in the US and Canada,
    where many mobile operators charge for both sending and receiving text messages.
	</p>
    
    <h5>Premium SMS (PSMS)</h5>
    <p>Drepecated - Premium SMS was used by businesses that wanted to charge their consumers for content or services using the mobile channel.
    A simple text message was used as a payment method for digital goods that were typically consumed on the handset and
    services such purchasing a bus ticket or paying a parking fee. A fee, connected to the sending of the text message, was
    charged to the consumer's monthly mobile phone bill or deducted from their pre-pay account, providing a simple payment method. The mobile operator required the business to share the revenue generated by this transaction. After too many issues with false charges and chage backs, the most carriers are turning this channel off.
	</p>
    
    
    
   	<h5> Free to End User SMS (FTEU)</h5>
    <p>In countries, such as the US, where mobile subscribers pay network operator charges to both send and receive SMS
    messages, FTEU messaging allows businesses to set up programs that are free of operator charges for their consumers.
    The business absorbs the messaging cost on behalf of the consumer - whether sending or receiving SMS messages, the
    consumer pays nothing.
    </p>
    
    <h5>Short Codes, Long Numbers and Keywords</h5>
    <p>Common Short Codes, also known simply as "short codes," are abbreviated mobile phone numbers, usually four to six
    digits, used as a destination address for two way text messaging programs. Short codes are easy to input and remember, providing a fast and convenient way for mobile users to interact with a business application using SMS. Short codes
    are always used for premium SMS services, but can also be used for standard rate SMS services. In some markets,
    including the US and Canada, the use of short codes is mandated for all types of A2P messaging.
    Businesses are using short codes to successfully engage consumers via mobile advertising and marketing promotions.
    For example, an advertisement may instruct mobile subscribers to text to "46322" (which spells '4Free' on a handset
    keypad) to enter a contest to win a free prize. Short codes are widely used for value-added mobile services such as
    traffic, weather, sports, banking, and charity donations.
    </p>
    
    <p>As an alternative to short codes, businesses can use a long number as the destination address in a two way messaging
    program. A long number is a standard mobile telephone number that conforms to the numbering system in the relevant
    country. Using a long number has some advantages for A2P messaging programs. Long numbers are less expensive and
    easier to lease than short codes and can receive A2P messages from outside the country in which the phone is hosted
    (in exactly the same way as individuals can text each other internationally). Also, because they are standard phone
    numbers, they can be voice-enabled.
    </p>
    
    <p>Keywords are often used in conjunction with short codes and long numbers in two-way messaging programs. A keyword
    is a short word which a mobile user places at the beginning of an MO SMS message, which triggers a particular response
    from the application that receives the message. For example, a banking client could use the key word "bal" sent to the
    short code "12345" that will provide a return text message from the bank with their current banking balances.
    Some types of messaging programs may only require a one way communication to the consumer, in which case neither a
    short code nor a long number is necessary. The originator of the message (the "number" it appears to come from) can
    be set to an alphanumeric string, such as a brand name. The consumer cannot reply to this type of message.
    Short codes operate at a national level and are provided and managed by a separate ecosystem of companies in each
    country. These include the Common Short Code Administration (CSCA) in the US (or similar organizations in other
    countries) and participating mobile operators. Processes vary by country, but in general short codes are leased
    centrally and then must be provisioned separately on each operator.
    </p>
    
    
    <h5>Travelling and SMS</h5>
    <p>
    A2P messaging programs often send messages to people who are travelling outside of their home country. These
    messages will most often still be delivered to the intended recipient, even when they are travelling abroad. However,
    in most cases an MO message, or response from the mobile phone, cannot be returned via short code because short
    codes are specific to the country in which they are administered and would not be accurately recognized by the
    international operator. However, long numbers would work because they are standard phone numbers.
	</p>



    <h5>Guidelines and Regulations</h5>
    <p>Guidelines, regulations, and enforcement agencies vary by country and region. In the US for example, the Mobile
    Marketing Association (MMA) publishes a set of Consumer Best Practices, the recognized industry guide to implementing
    short code programs, with a focus on consumer protection and privacy. It is a compilation of accepted industry
    practices, wireless carrier policies, and regulatory guidance that have been agreed upon by representative member
    companies from all parts of the ecosystem. In addition to these guidelines, specific regulations may also be enforced by
    each US network operator. It is best to work with an MTN to ensure compliance when creating messaging programs in
    each geographical location.
    </p>
    
    <h5>Managing SMS Internationally</h5>
    <p>
    In today's global market place, many businesses need to expand communications beyond their home shores. Due to the
    simplicity, reach, and universal adoption of SMS, it has become a uniquely global communication channel. Using an MTN
    with global reach allows many SMS programs to be easily deployed in multiple countries, leveraging systems already
    developed, saving money and decreasing time to market.
    </p>
    <p>For a smooth launch into international markets, businesses need to be aware of local regulatory and operator requirements, and administrative processes such as short code registration and program certification. An experienced global
    MTN, who works with numerous operators and Application Providers, can offer full guidance on local markets.
    </p>



</div>
