<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="ui-mobile-nosupport-boxshadow ui-mobile landscape min-width-320px min-width-480px min-width-768px min-width-1024px">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    	<cfoutput>
			  <style>		
	           @import url('#rootUrl#/#publicPath#/css/mobile/jquery.mobile-1.3.0.min.css');
				@import url('#rootUrl#/#PublicPath#/css/survey/finish.css');
		    </style>
           	<script TYPE="text/javascript" src="#rootUrl#/#PublicPath#/js/jquery-1.6.4.min.js"></script>
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/mobile/jquery-1.8.2.min.js"></script>
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/mobile/jquery.mobile-1.3.0.min.js"></script>
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/tolito-1.0.4.js"></script>
		</cfoutput>
    </head>
	