'<table cellspacing="0" cellpadding="0" border="0" width="100%" class="ui-pg-table navtable">'+
'	<tr>'+
'		<td align="left">'+
'            <table border="0" cellspacing="0" cellpadding="0" border="0" >'+
'                <tr>'+
'       			<td class="ui-pg-button ui-corner-all" title="Update Permissions of Level" id="update_checklist" nowrap>'+
'   			     	<div class="ui-pg-div" style="margin-top:5px;"><span class="ui-icon ui-icon-plus" style="position:relative; top:-3px;"></span>Update</div>'+
'			        </td>'+
'				</tr>'+
'			</table>'+
'		</td>'+
'   </tr>'+
'</table>'




