<cfscript>
	// Fix root url for any host
	rootUrl = "#LocalProtocol#://#CGI.SERVER_NAME#";
	if (CGI.SERVER_PORT NEQ 80) {
		rootUrl = "#rootUrl#:#CGI.SERVER_PORT#";
	}
</cfscript>
<cfparam name="inpGroupId" default="0">


<style>

.printable {
border: 1px dotted #CCCCCC ;
padding: 10px 10px 10px 10px ;
}


</style>


<script>

var timeoutHnd;
var flAuto = true;
var lastsel;
var FirstClick = 0;
var isInEdit = false;
var LastGroupId = 0;
	
$(document).ready(function() {

	$("#loadingDlg").hide();	

<!---LoadSummaryInfo();--->
			
<!---	--->
	
	$( "#tabs" ).tabs({
		cache: true,
		ajaxOptions: {
			error: function( xhr, status, index, anchor ) {
				$( anchor.hash ).html(
					"<div id='loadingDlg' style='display:inline;'><img class='loadingDlgRegisterNewAccount' src='<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/images/loading-small.gif' width='20' height='20'></div>" );
			}
		}
	});
		
		
	$("#tabs div.ui-tabs-panel").css('min-height', 500); 
					
			
});

function IsNumber(value){
    if((parseFloat(value) == parseInt(value)) && !isNaN(value)){
        return true;
    } else {
        return false;
    }
}
</script>


<cfoutput>
<script TYPE="text/javascript">
	function check()
	{
		
		<!---//alert(document.getElementById('tabs-2').innerHTML);
		if( document.getElementById('tabs-2').innerHTML=='' )
		{
			document.getElementById('tabs-2').innerHTML= '<p>My Babbles</p>';
		}
		else
		{
			alert('there');
		} --->	
	}
</script>
  <div id="tabs">
        <ul>
           <cfif Session.USERID GT 0>
            <li><a href="../users/dsp_users.cfm">Users</a></li>
            <li><a href="../tools/dsp_management.cfm">Tools</a></li>
<!---             <li><a href="../tools/dsp_DistributionLogs.cfm">Distro Log</a></li> --->
			<li><a href="../tools/dsp_companies.cfm">Companies</a></li>
			<li><a href="../tools/dsp_billings.cfm">Billing report</a></li>
			<cfif Session.UserRole EQ "SuperUser">
			<li><a href="../tools/dsp_levels.cfm">Edit Level</a></li>
			<li><a href="../tools/dsp_permissions.cfm">Permissions</a></li>
			<li><a href="../tools/dsp_roles.cfm">Roles</a></li>
			</cfif>
			<li><a href="../tools/dsp_WhitePapers.cfm">White Papers</a></li>
			<li><a href="../tools/dsp_ROI.cfm">ROI</a></li>
			</cfif>
        </ul>
       
  </div>
            


<!---<div id="loading">
	<img src="<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/images/loading-small.gif" width="32" height="32">
</div>--->
<!---

<div>
	Total List count <span id='TotalListCount'>0</span>
</div>

<div id="GroupSummary">


</div>--->

<BR />


<!---

--->


</cfoutput>