.messages-lbl{
	color: #0888D1 !important;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: bold ;
    line-height: 14px ;
    margin-left: 0px ;
    padding-bottom: 5px ;
    padding-top: 10px ;
	font-size: 16px;
}

.caller_id{
	padding-top:0;
}

#content-AAU-Admin{
	background-color:#fff;
	border:none;	
}

.content-EMS{
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
}

#divAgent{
	margin-bottom:90px;
}

.divEMS{
	margin-bottom:90px;
}

#content-AAU-Admin img{
	width:16px; 
	float:left;
	cursor:pointer;
}

.content-EMS img{
	width:16px; 
	float:left;
	cursor:pointer;
}

#tblActiveAgent tbody{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

#tblActiveAgent_paginate {
    border-left: 1px solid #CCCCCC;
    margin-top: -21px;
}

#em-name-block{
	width:70%;
	margin-left:21px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px !important;
}

.left-input{
	width:95px;
	float:left;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:none;
	height:2.2em;
	border-radius: 4px 0 0 4px;
	color: #666666;
	line-height: 25px;
    padding-left: 15px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
    background-image: -moz-linear-gradient(to bottom, #fff, #f4f4f4);
    background-image: -o-linear-gradient(top, #fff, #f4f4f4);
    background-image: linear-gradient(top, #fff, #f4f4f4);
}

.left-input>span.em-lbl{
	width: 72px;
	float:left;
}

.left-input>div.hide-info{
	width:18px;
	float:left;
	background: url("../ire/images/info.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	opacity:0.4;
}

.left-input>div.hide-info:hover{
	width:18px;
	float:left;
	background: url("../ire/images/info.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	opacity:1;
}

.message-block .right-input{
	width:360px;
	float: left;
	border:1px solid #ccc;
	height:2.2em;
	border-radius: 0 4px 4px 0;
	color: #666666;
}

#tabs-2 .message-block .right-input{
	width:381px;
	float: left;
	border:1px solid #ccc;
	height:2.2em;
	border-radius: 0 4px 4px 0;
	color: #666666;
}

#tabs-2 .message-block .right-input>span.selectmenucustom{
	height:18px!important;
	border: medium none;
    border-radius: 0;
}

#tabs-2 .message-block .right-input .ui-selectmenu-status {
    line-height: 9px;
}

#tabs-2 .message-block .right-input .ui-selectmenu-icon{
	margin-top: -13px;
} 

.right-input>input{
	border:none !important;
	height: 2em;
    line-height: 30px;
    width: 100%;
	background-color:#fbfbfb;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px !important;
	color:#000 !important;
	border-radius: 0px 3px 3px 0px;
}

.right-input>span{
	height: 1.9em;
    line-height: 30px;
	width: 100%;
	border-radius: 0px 3px 3px 0px;
}


.voice-checkbox,
.sms-checkbox,
.email-checkbox  {
    height: 23px;
	color: #737373;
    margin-right: 12px;
    margin-top: -2px;
}

.voice-checkbox .custom-checkbox label{
	text-transform: none!important;
	color: #666666!important;
}

.message-block{
	margin-left:0px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
}

.left-input{
	width:140px;
	float:left;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;;
	height:2.2em;
	border-radius: 4px 4px 4px 4px;
	color: #666666;
	line-height: 25px;
    padding-left: 10px;
}

.left-input>span.em-lbl{
	width: 106px;
	float:left;
}

.left-input>div.hide-info{
	width:18px;
	float:left;
	background: url("../ire/images/info.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	opacity:0.4;
}

.left-input>div.hide-info:hover{
	width:18px;
	float:left;
	background: url("../ire/images/info.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	opacity:1;
}

.info-block{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    left: 100px;
    padding: 6px;
    position: relative;
    top: -10px;
}

.EM-btn{
	height:30px;
	border:1px solid #ccc;
	width:128px;
	float:left;
	line-height: 2.2em;
    margin-bottom: 10px;
    margin-left: 21px;
    text-align: center;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
	border-radius:4px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#fff;
} 

.add-btn{
	background-color: #4da8dd;
    background-image: linear-gradient(to bottom, #4da8dd, #44a0d4);
	border:1px solid #0888d1;
}

.delete-btn{
	background-color: #ec3838;
    background-image: linear-gradient(to bottom, #ec3838, #e32f2f);
	border:1px solid #a71212;
}

.voice .voice-checkbox{
	margin-left:10px;
}

.voice .voice-checkbox label{
	color:#666;
	margin-left:10px;
	font-family:Helvetica, Arial, sans-serif;
}

.top-input{
	border: 1px solid #CCCCCC;
    border-radius: 4px 4px 0 0;
    color: #666666;
    margin-top: 10px;
    min-height: 40px;
    padding: 10px;
    width: 505px;
}

.bottom-input{
	-moz-border-bottom-colors: #CCCCCC;
    -moz-border-left-colors: #CCCCCC;
    -moz-border-right-colors: #CCCCCC;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 0 0 4px 4px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #666666;
    width: 505px;
	float:left;
	height: 14px;
    padding: 8px 10px;
}

.bottom-input input{
	float:left;
}

.bottom-input label{
	float:left;
	margin-left:10px;
}

.bottom-input .hide-info{
	width: 50px;
	float:right;
	background: url("../ire/images/info.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	opacity:0.4;
	display:inline-block;
	height: 25px;
	margin-right: -30px;
    margin-top: -6px;
}

.bottom-input .hide-info:hover{
	width: 50px;
	float:right;
	background: url("../ire/images/info.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	opacity:1;
	display:inline-block;
	height: 25px;
	margin-right: -30px;
    margin-top: -6px;
}

.voice{
	margin-bottom:50px;
}

#message-detail{
	font-style:italic;
}

.EM-btn{
	cursor:pointer;
}
.method-btn {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

div.warning-block{
	border: 1px solid #FFB400;
    border-radius: 4px;
    width: 100%;
	padding:16px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	color:#666666;
	background-color:#fff7e5;
}

span.warning-text{
	font-weight:bolder;
}

div.warning-checkbox{
	color: #737373;
	margin-top:25px;
}

div#warning-content{
	margin-bottom:25px;
}

div#head-AAU-Admin{
	font-weight:bolder;
}

div#head-EMS{
	font-weight:bolder;
}

div#sent-messages-lbl{
	padding:30px 20px 24px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bolder;
	color:#0888d1;
	float:left;
}

div#btnCreateNew{
	float:right;
	margin:20px 25px 0 20px;
}

#buttonBar{
	width:100%;
}

table#tblListEMS{
	width:100%!important;
	border: 1px solid #CCCCCC;
}


.paging_full_numbers {
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    position: relative;
   float:right;
}


.dataTables_info {
    background-color: #EEEEEE;
    border-top: 2px solid #46A6DD;
    box-shadow: 3px 3px 5px #888888;
    line-height: 39px;
    margin-left: 0;
    padding-left: 12px;
    position: relative;
    top: 0 !important;
    width: 100%;
}

#tabs-1 .option-record .selectmenucustom{
	margin:20px;
	height:22px!important;
}

#tabs-1 .option-record .selectmenucustom a.ui-selectmenu{
	margin-top: -4px;
}

#tabs-1 .select-record{
	color:#666666;
	font-size: 12px;
	margin-left: 20px;
}

#popupTree{
	height:300px!important;
	overflow:scroll;
}

#player{
	margin-left:20px;
	margin-bottom:20px;
}
.tool-tip1{
	background: url("../images/info.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
    display: block;
    opacity: 0.4;
    width: 20px;
	height: 20px;
}
.tool-tip1:hover {
	opacity: 1;
}

#inpAvailableShortCode-menu{
	margin-left:-6px;
	width:381px!important;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
	padding: 0px 8px;
	margin-bottom: 8px;
}


.content-EMS .head-EMS {
    background-color: #118ACF;
    border: 1px solid #0C6599;
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    font-size: 14px;
    height: 2.2em;
    line-height: 2.2em;
    padding-left: 10px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    display: block;
    line-height: 1em;
    overflow: hidden;
    padding: 0.4em 2.1em 0.4em 1em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sbToggle {
    border-radius: 4px 4px 0 0;
	margin-top: 3px;
}

.right-input-area {
    float: left;
}
.right-input select#input-status {
    border: medium none;
    height: 2em;
    width: 100%;
}
#message-update span {
    color: #46a6dd;
    cursor: pointer;
    display: block;
    font-family: Arial,sans-serif;
    font-weight: bold;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
    width: 20px;
}