<h1>EBM Voice Campaign Testing (Add To Real Time) and Publishing Media Files</h1>


<form name="frmpublish" method="post" action="https://ebmui.com/session/tests/atif/publish_media?VerboseDebug=1" target="_blank">
    Batch Id: <input type="text" name="inpBatchId" id="inpBatchId" value="1515">
	Dialer: <input type="text" name="inpDialerIPAddr" id="inpDialerIPAddr" value="10.11.0.161">
    
	<input type="submit" value="PUBHLISH NEW FILES TO DIALER">
</form>


<form name="frmsendcall" method="post" action="testrealtimecall.cfm" target="_blank">
    Batch Id: <input type="text" name="inpBatchId" id="inpBatchId" value="1515">
	Dialer: <input type="text" name="inpPhoneNo" id="inpPhoneNo" value="9494284893">    
    
	<input type="submit" value="PLACE A TEST CALL (REALTIME)">
</form>
