<!---FPL company admin--->
<cfset variables.accessKey = '04CE566E85D5E697BB49' />
<cfset variables.secretKey = '090617/A35EEa8BBE2EDd34544010605CEF2862e' />

<!---FPL qa--->
<cfset variables.accessKey = '66D8F53DE9B97F11E689' />
<cfset variables.secretKey = '57166/51960116+DFCc5B444F518C571c9/C1cdD' />

<cfinclude template="../inc_security.cfm">

<cfsavecontent variable="thisXML">
<DM BS='0' DSUID='377' Desc='Description Not Specified' LIB='0' MT='1' PT='12'>
			<ELE ID='0'>0</ELE>
			</DM>
			<RXSS>
				<ELE BS='0' CK1='2' CK2='3' CK5='3' CP='' DESC='' LINK='-1' QID='1' RQ='' RXT='24' X='620.5' Y='94'/>

				<ELE BS='1' CK1='10' CK10='' CK11='' CK12='' CK13='' CK2='-13,3' CK3='-13' CK4='(-13,2)(3,4)' CK5='-1' CK6='-1' CK7='-1' CK8='5' CK9='30' CP='0' DESC='' DI='1' DS='3' DSE='15' DSUID='377' LINK='0' QID='2' RQ='0' RXT='2' X='493.5' Y='218'>
					<ELE DESC='hello this is Florida Power and Light at 18004688243' ID='8'>2</ELE> <ELE DESC='para espanol' ID='9'>5</ELE>
				        <ELE DESC='we are calling to...address starting with' ID='1' >4</ELE>
				        <ELE ID='19'>7</ELE><ELE ID='24'>4</ELE><ELE ID='19'>8</ELE><ELE ID='24'>4</ELE><ELE ID='19'>3</ELE><ELE ID='24'>4</ELE>
				        <ELE DESC='is in need of permanent r...contractor can call us at' ID='1' >1</ELE>
				        <ELE ID='19'>10</ELE><ELE ID='24'>4</ELE><ELE ID='19'>5</ELE><ELE ID='24'>4</ELE><ELE ID='19'>10</ELE><ELE ID='24'>4</ELE><ELE ID='19'>3</ELE><ELE ID='24'>4</ELE><ELE ID='19'>8</ELE><ELE ID='24'>4</ELE><ELE ID='19'>9</ELE><ELE ID='24'>4</ELE><ELE ID='19'>7</ELE><ELE ID='24'>4</ELE><ELE ID='19'>3</ELE><ELE ID='24'>4</ELE><ELE ID='19'>10</ELE><ELE ID='24'>4</ELE><ELE ID='19'>6</ELE><ELE ID='24'>4</ELE>
				        <ELE DESC='to schedule an appointmen...airs must be completed by' ID='1' >3</ELE>
						<ELE ID='22'>1</ELE><ELE ID='24'>4</ELE><ELE ID='20'>1</ELE><ELE ID='24'>4</ELE><ELE ID='12'>3</ELE><ELE ID='24'>4</ELE><ELE ID='12'>105</ELE><ELE ID='24'>4</ELE><ELE ID='12'>17</ELE><ELE ID='24'>4</ELE><ELE ID='24'>4</ELE>
				        <ELE DESC='to avoid disconnection of your electric service.' ID='1' >2</ELE>
				        <ELE  DESC='opt in msg' ID='8'>4</ELE> <ELE DESC='repeat msg' ID='8'>5</ELE>
				</ELE>

			    <ELE BS='1' CK1='0' CK5='-1' CP='' RQ='' DESC='' DI='0' DS='3' DSE='1' DSUID='377' LINK='0' QID='3' RXT='1' X='725' Y='250' >
					<ELE DESC='hello this is Florida Power and Light at 18004688243' ID='8'>2</ELE>
				        <ELE DESC='we are calling to...address starting with' ID='1' >4</ELE>
				        <ELE ID='19'>7</ELE><ELE ID='24'>4</ELE><ELE ID='19'>8</ELE><ELE ID='24'>4</ELE><ELE ID='19'>3</ELE><ELE ID='24'>4</ELE>
				        <ELE DESC='is in need of permanent r...contractor can call us at' ID='1' >1</ELE>
				        <ELE ID='19'>10</ELE><ELE ID='24'>4</ELE><ELE ID='19'>5</ELE><ELE ID='24'>4</ELE><ELE ID='19'>10</ELE><ELE ID='24'>4</ELE><ELE ID='19'>3</ELE><ELE ID='24'>4</ELE><ELE ID='19'>8</ELE><ELE ID='24'>4</ELE><ELE ID='19'>9</ELE><ELE ID='24'>4</ELE><ELE ID='19'>7</ELE><ELE ID='24'>4</ELE><ELE ID='19'>3</ELE><ELE ID='24'>4</ELE><ELE ID='19'>10</ELE><ELE ID='24'>4</ELE><ELE ID='19'>6</ELE><ELE ID='24'>4</ELE>
				        <ELE DESC='to schedule an appointmen...airs must be completed by' ID='1' >3</ELE>
						<ELE ID='22'>1</ELE><ELE ID='24'>4</ELE><ELE ID='20'>1</ELE><ELE ID='24'>4</ELE><ELE ID='12'>3</ELE><ELE ID='24'>4</ELE><ELE ID='12'>105</ELE><ELE ID='24'>4</ELE><ELE ID='12'>17</ELE><ELE ID='24'>4</ELE><ELE ID='24'>4</ELE>
				        <ELE DESC='to avoid disconnection of your electric service.' ID='1' >2</ELE>

					        <ELE DESC='Thank you in advance for taking action to ensure the needed repairs are completed soon' ID='1' >6</ELE>

			    </ELE>

				<ELE BS='1' CK1='10' CK10='' CK11='' CK12='' CK13='' CK2='-13' CK3='-13,2' CK4='(-13,4)(2,2)' CK5='-1' CK6='-1' CK7='-1' CK8='5' CK9='30' CP='0' DESC='' DI='1' DS='3' DSE='15' DSUID='377' LINK='0' QID='4' RQ='0' RXT='2' X='493.5' Y='218'>
					<ELE DESC='hola es Florida Power and Light en el 18004688243' ID='9'>2</ELE>
				</ELE>
			</RXSS>
			<CCD CID='8004688243' ESI='-14' DRD='0' RMin='2' PTL='1' PTM='1'>0</CCD>
</cfsavecontent>

    <!--- The method="XXX" used in the http request must match the method used to generate key in the generateSignature() function  AddToQueue  AddToRealTime --->
 	<cfhttp url="http://ebmui.com/webservice/ebm/PDC/AddToRealTime" method="POST" result="returnStruct" >

	    <!--- By default EBM API will return json or XML --->
	    <cfhttpparam name="Accept" type="header" value="application/json" />
	    <cfhttpparam type="header" name="datetime" value="#datetime#" />
        <cfhttpparam type="header" name="authorization" value="#authorization#" />

      <!---  <cfargument name="inpCampaignId" required="yes" default="0" hint="The pre-defined campaign Id you created under your account.">
        <cfargument name="inpContactString" required="yes" default="" hint="The contact string - Phone number ,eMail, or SMS number">
        <cfargument name="inpContactTypeId" required="no" default="" hint="1=Phone number, 2=SMS, 3=eMail">
        <cfargument name="inpInternational" required="no" default="0" hint=" 1 will flag this number as international">
        <cfargument name="inpValidateScheduleActive" required="no" default="0" hint="1 will halt message if time is currently outside of the pre-defined campaigns's scheduled range">
        <cfargument name="inpTimeZone" required="no" default="">
        <cfargument name="inpCompany" required="no" default="">
        <cfargument name="inpFirstName" required="no" default="">
        <cfargument name="inpLastName" required="no" default="">
        <cfargument name="inpAddress" required="no" default="">
        <cfargument name="inpAddress1" required="no" default="">
        <cfargument name="inpCity" required="no" default="">
        <cfargument name="inpState" required="no" default="">
        <cfargument name="inpZipCode" required="no" default="">
        <cfargument name="inpCountry" required="no" default="">
        <cfargument name="inpUserDefinedKey" required="no" default="">
        <cfargument name="inpMMLS" required="no" default="1">
        <cfargument name="inpScheduleOffsetSeconds" required="no" default="0">--->


       <!--- If DebugAPI is greater than 0 and is specidfied then use Dev DB for testing--->
       <!--- If in debug mode make sure you are using the correct credentials--->
       <cfhttpparam type="formfield" name="DebugAPI" value="0" />

       <cfhttpparam type="formfield" name="inpBatchId" value="#inpBatchId#" />
       <cfhttpparam type="formfield" name="inpContactString" value="#inpPhoneNo#" />
       <cfhttpparam type="formfield" name="inpContactTypeId" value="1" />
       <cfhttpparam type="formfield" name="inpCompany" value="Tester" />
       <cfhttpparam type="formfield" name="inpCity" value="Corona" />
       <cfhttpparam type="formfield" name="inpState" value="CA" />
       <cfhttpparam type="formfield" name="FirstName_vch" value="Atif" />
       <cfhttpparam type="formfield" name="REPNAME" value="Chester" />
       <cfhttpparam type="formfield" name="inpSkipLocalUserDNCCheck" value="1" />
       <cfhttpparam type="formfield" name="inpSkipNumberValidations" value="1" />

		<cfhttpparam type="formfield" name="CustomField1_int" value="672" />
		<cfhttpparam type="formfield" name="CustomField2_int" value="9856" />
		<cfhttpparam type="formfield" name="ESC1" value="9492786295" />

		<cfhttpparam type="formfield" name="inpXMLControlString" value="#thisXML#" />


       <!---<cfhttpparam type="formfield" name="inpTimeZone" value="PST" />--->






    </cfhttp>

    <cfoutput>
    	#returnStruct.Filecontent#
    </cfoutput>


	<cfset cn = deserializeJSON(returnStruct.Filecontent).Columns>
	<cfset cd = deserializeJSON(returnStruct.Filecontent).Data[1]>

	<cfdump var="#cn#">
	<cfdump var="#cd#">

	<cfdump var="#ArrayFind(cn,"REQUESTUUID")#">

</body>
</html>