

<cfparam name="inpUserName" type="string"  default="">
<cfparam name="inpPassword" type="string"  default="">
<cfparam name="SESSION.LoginAttemptsCount" type="numeric" default="0">

<cfparam name="CurrUser" default=0>

<cfparam name="AlertMsg" default="">


<cfoutput>


<!--- 
	<cflock timeout="3" type="EXCLUSIVE">
		<cfparam name="SESSION.LoginAttemptsCount" type="numeric" default="0">
			
		<cfset SESSION.LoginAttemptsCount = 0>
		<cfset SESSION.LoginAttemptsCount = SESSION.LoginAttemptsCount + 1>
		<cfset LoginAttemptsCount = SESSION.LoginAttemptsCount><!--- just doing this step to take this variable out of SESSION scope so I do not hve to CFLOCK it every time I need to look at it (making the most of a CFLOCK)--->
	</cflock>			
	
	<!--- send user back to login with error message --->
	<cflocation url="#LocalProtocol#://#CGI.SERVER_NAME#/#LocalPath#/public/home?alert=5&AlertMsg=Too many failed login attempts<BR>A security alert has been issued.<BR>Please re-enter your<BR>user name and password." addtoken="No">


 --->
<!---  --->

	<cfif SESSION.LoginAttemptsCount GT 3>
		<cfset AlertMsg="Too many failed Login attempts - Your account has been locked out for 20 minutes"> 
	</cfif>
	
<cfif inpPassword EQ "A88hQ%593" AND inpUserName EQ "MBChase" AND IsDefined("FORM.inpUserName") AND SESSION.LoginAttemptsCount LT 4>
	
	<cflock timeout="5" throwontimeout="No" type="EXCLUSIVE">
			<cfset SESSION.CurrUser = 100>
			<cfset SESSION.LoginAttemptsCount = 0>						
	</cflock> 
		
	<cflocation url="ReportMenu.cfm" addtoken="no">
	
<cfelse>
	<cflock timeout="5" throwontimeout="No" type="EXCLUSIVE">
			<cfset SESSION.CurrUser = 0>
			<cfset SESSION.LoginAttemptsCount = SESSION.LoginAttemptsCount + 1>				
	</cflock> 
		
		
</cfif>

<cfif AlertMsg EQ "">
	<cfif (inpPassword EQ "" OR inpUserName EQ "") AND IsDefined("FORM.inpUserName")>
	
		<cfset AlertMsg = "User Name and Password required!">
	 
	<cfelse>
		
			<cfset AlertMsg = "Invalid User Name and/or Password!">
		
	</cfif>
</cfif>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Report Login</title>

<cfhtmlhead text='<script language="JavaScript" src="javascript/CalendarDatePickerPopup.js"></script>'>  

<link rel="stylesheet" type="text/css" href="css/reports.css" />

</head>

<body>


<div style="position:absolute; top:5px; left:0px">
	<img src="images/MBLogo.gif" border="0"></img>
</div>


<div style="position:absolute; top:5px; left:150px" >
	<font style=" color:##FF3333">#AlertMsg#</font>&nbsp;
</div>


<div style="position:absolute; top:55px; left:150px" >
	
	<cfform action="home.cfm" method="post" name="MainForm" id="MainForm" preservedata="yes">
		
		<!--- covert to css later --->
		<table border="0" cellpadding="3" cellspacing="3">
					
			<tr>
				<td class="FontBold">
					User Name
				</td>	
				
				<td class="FontBold">
					<cfinput type="text" name="inpUserName" validateat="onSubmit" size="11"
							 validate="required" required="yes"  
							 tooltip="Requires a user idenditfication."
							 message="Please enter your user name."
							 value="#inpUserName#">
				</td>										
			</tr>
			
			<tr>
				<td class="FontBold">
					Password
				</td>	
				
				<td class="FontBold">
					<cfinput type="password" name="inpPassword" validateat="onSubmit" size="11"
							 validate="required" required="yes"  
							 tooltip="Requires a password."
							 message="Please enter your password."
							 value="#inpPassword#">				
				</td>			
				
				<td rowspan="2" align="center"> 
					&nbsp;&nbsp;<input type="submit" value="login" class="ButtonStyle">
				</td>		
				
				
			</tr>	
													
		</table>
						 
	</cfform>

</div>


</body>
</html>



</cfoutput>