<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SendGrid Demo</title>
</head>

<body>

	<form action="process.cfm" method="POST">
<div>
<label for="emails">
E-mail Address(es)
<input type="text" name="emails" id="emails" />
</label>
</div>
<div>
<label for="subs">
Real Name(s)
<input type="text" name="subs" id="subs" />
</label>
</div>
<div>
<label for="subject">
Subject Line
<input type="text" name="subject" id="subject" />
</label>
</div>
<div>
<label for="body">
Body Text
<textarea name="body" id="body"></textarea>
</label>
</div>
<div>
<input type="submit" value="Send!" />
</div>
</form>



</body>
</html>