<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


<cfquery name="myQuery" datasource="10.25.0.16">

SELECT * FROM sendgrid.sgemaildata
WHERE mbTimestamp_dt >'2013-06-06'
AND   mbTimestamp_dt < '2013-07-06';




</cfquery>


<cfdump var="#myQuery.recordcount#">


</body>
</html>