<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Send An Email</title>
</head>

<body>


<cfmail to="akhare@messagebroadcast.com" 
            from="noreply@mckesson.com" 
            subject="Email via Mckesson account"   
            type="html" 
            server="smtp.sendgrid.net" 
            timeout="360" 
           <!---  username="ebm_dev_237" 
            password="Df345tdf45"   --->
            <!---  username = "ebm02"
            password = "NFZNVHFD1Yqs"   --->
              username = "mck01"
            password = "o2iNKdalFFlI"  > 
            <!--- username = "ebm_prod"
            password = "IGwfciA2gbd4"> --->
            
           
                <cfmailparam name="X-SMTPAPI" value="{""category"":""252525""}">
            <cfoutput>
               Hello  !!
                                    </cfoutput>
     </cfmail>


</body>
</html>