







Variables are surronded by {%%}
Two types 
Type A -  DB field name - replaces data with raw from DB
Type B - Starts with XML|Field|name Replaces variable with first value found in XML in raw data


        
EDIT `rxds`.`scriptdata` where userid_int = 10 AND DSID_int = 19;
SELECT * FROM `rxds`.`scriptdata` where userid_int = 10 AND DSID_int = 19;
SELECT * FROM `rxds`.`dselement` where userid_int = 10 AND DSID_int = 19;
-- DELETE FROM `rxds`.`scriptdata` where userid_int = 10 AND DSID_int = 19;
-- DELETE FROM `rxds`.`dselement` where userid_int = 10 AND DSID_int = 19;
    
    <SWITCH CK2:
    0 or 1 is just jump to MCID specified in CASE statement
    2 = Replace with enclosed string
    3 = Replace with value
    
    {%LocationKey7_vch%}

CK2 = 0 or 1   <ELE QID='1' rxt='21' CK1='{%LocationKey7_vch%}'><CASE VAL='COL' CK1='1'>2</CASE><CASE VAL='CMS'>3</CASE><CASE VAL='JPM'>4</CASE><CASE VAL='CML'>5</CASE></ELE>	    

***NOTE - when jumping to new QID in Switch statement make sure no other QID is referenceing the CASE QID directly as it will be replaced with the top level switch QID


XML Conversions
VAL = Data to convert - Date, Number, other
CK1 = Type of conversion:
	1 = Read two digits at a time - CK2 = Two digit lib - CK3 = 1 Digit Lib CK4 - Pause Library
  	2 = Read Decimal value - CK2=ISDollars CK3=ISDecimalPlace CK4=TwoDigitLibrary CK5=SingleDigitLibrary CK6=PausesELE CK7=PausesStyle CK8=DecimalLibrary CK9=MoneyLibrary CK10=HundredsLibrary
    3 = TransactionDate - CK2=IncludeDayOfWeek CK3=IncludeTimeOfWeek CK4=DayofWeekElement CK5=MonthElement CK6=DayofMonthElement CK7=YearElement CK8=DSTimeElement CK9=TwoDigitElement 
    
    
    <DM BS='0' DSUID='10' Desc='Description Not Specified' LIB='0' MT='1' PT='12'><ELE ID='0'>0</ELE></DM>

    <DM BS='0' DSUID='10' Desc='Description Not Specified' LIB='0' MT='2' PT='12'><ELE ID='0'>0</ELE></DM>
    
    <RXSS>
        
	    <ELE QID='1' rxt='2' BS='1' CK1='3' CK2='(-1)' CK3='1' CK4='(-1,-1)' CK5='-1' CK6='-1' CK7='-1' CK8='0' CK9='25' DESC='' DI='1' DS='19' DSE='1' DSUID='10' LINK='-1' X='80' Y='239'>

				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Greeting'>
					<CASE VAL='COL'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Chase Alert to help you manage your account ending in'>1</ELE>
					</CASE>				
					
					<CASE VAL='CMS'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Cardmember Services Alert to help you manage your account ending in'>4</ELE>
					</CASE>
					
					<CASE VAL='JPM'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a JPMorgan Alert to help you manage your account ending in'>2</ELE>
					</CASE>
					
					<CASE VAL='CML'>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Chase Commercial Online Alert to help you manage your account ending in'>3</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='1' DESC='{Chimes} Hello. This is a Chase Alert to help you manage your account ending in'>1</ELE>
					</DEFAULT>
				</SWITCH>

				<CONV CK1='1' CK2='6' CK3='5' DESC='[Last Four Account]'>{%LocationKey8_vch%}</CONV>

				<ELE ID='3' DESC='your'>1</ELE>
				
				<CONV CK1='2' CK2='1' CK3='0' CK4='5' CK5='7' CK6='4' CK7='4' CK8='8' CK9='9' CK10='10' DESC='[Dollar Amt]'>{%CustomField1_int%}</CONV>
				
				<ELE ID='3' DESC='external transfer to'>22</ELE>
				
				<ELE ID='TTS' RXVID='1' DESC='[PAYEE]'>{%CustomField4_vch%}</ELE>
			
				<ELE ID='3' DESC='was sent on'>23</ELE>
				
				<CONV CK1='3' CK2='1' CK3='1' CK4='11' CK5='12' CK6='13' CK7='14' CK8='15' CK9='7' DESC='[Transaction Date]'>{%CustomField7_vch%}</CONV>
				
				<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='Trailer'>
					<CASE VAL='COL'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>1</ELE>
					</CASE>				
					
					<CASE VAL='CMS'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>2</ELE>
					</CASE>
					
					<CASE VAL='JPM'>
						<ELE ID='2' DESC='If you have questions, please log on to www.jpmorganonline.com or call 1-866-265-1727. Thanks for choosing JPMorgan.'>3</ELE>
					</CASE>
					
					<CASE VAL='CML'>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-226-0071. Thanks for choosing Chase.'>4</ELE>
					</CASE>
					
					<DEFAULT>
						<ELE ID='2' DESC='If you have questions, please log on to www.chase.com or call 1-877-CHASE-PC. Thanks for choosing Chase.'>1</ELE>
					</DEFAULT>
				</SWITCH>
				
			<ELE ID='2' DESC='Press 1 to repeat this message.'>5</ELE>	
			
			0</ELE>

    </RXSS>
    
    
  	<SWITCH CK1='{%LocationKey7_vch%}' CK2='2' DESC='CCD'>
				<CASE VAL='COL'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>				
				
				<CASE VAL='CMS'>
					<CCD CID='8779993872' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='JPM'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<CASE VAL='CML'>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</CASE>
				
				<DEFAULT>
					<CCD CID='8009359935' DRD='1' RMin='15' AID='{%CustomField2_vch%}' ESI='-11'>0</CCD>
				</DEFAULT>
		</SWITCH>
				
    
    
    