<cfcomponent>
	<cfinclude template="\session\cfc\csc\constants.cfm">
    <cfinclude template="\session\cfc\csc\inc_smsdelivery.cfm">
    <cfinclude template="\session\cfc\csc\inc_ext_csc.cfm">
</cfcomponent>