/*
 * Project: CirclePlayer
 * http://www.jplayer.org
 *
 * Copyright (c) 2011 Happyworm Ltd
 *
 * Author: Silvia Benvenuti
 * Edited by: Mark J Panaghiston
 * Date: 6th May 2011
 * Artwork inspired by: http://forrst.com/posts/Untitled-CJz
 */

.cp-container {
	position: relative;
	width: 52px; /* 200 - (2 * 48) */
	height: 52px;	
	padding: 4px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.cp-icon_00 {
	background: url("buffer2.png") 4px 4px no-repeat;	
}

.cp-icon_0 {
	background: url("bgr0.jpg") -20px -20px no-repeat;	
}

.cp-icon_1 {
	background: url("bgr1.jpg") -20px -20px no-repeat;	
}

.cp-icon_2 {
	background: url("bgr2.jpg") -20px -20px no-repeat;	
}

.cp-icon_3 {
	background: url("bgr3.jpg") -20px -20px no-repeat;	
}

.cp-icon_4 {
	background: url("bgr4.jpg") -20px -20px no-repeat;	
}

.cp-icon_5 {
	background: url("bgr5.jpg") -20px -20px no-repeat;	
}

.cp-icon_6 {
	background: url("bgr6.jpg") -20px -20px no-repeat;	
}

.cp-icon_7 {
	background: url("bgr7.jpg") -20px -20px no-repeat;	
}

.cp-icon_8 {
	background: url("bgr8.jpg") -20px -20px no-repeat;	
}

.cp-icon_9 {
	background: url("bgr9.jpg") -20px -20px no-repeat;	
}

.cp-icon_10 {
	background: url("bgr10.jpg") -20px -20px no-repeat;	
}

.cp-icon_11 {
	background: url("bgr11.jpg") -20px -20px no-repeat;	
}

.cp-icon_12 {
	background: url("bgr12.jpg") -20px -20px no-repeat;	
}

.cp-icon_13 {
	background: url("bgr13.jpg") -20px -20px no-repeat;	
}

.cp-icon_14 {
	background: url("bgr14.jpg") -20px -20px no-repeat;	
}

.cp-icon_15 {
	background: url("bgr15.jpg") -20px -20px no-repeat;	
}

.cp-icon_16 {
	background: url("bgr16.jpg") -20px -20px no-repeat;	
}

.cp-icon_17 {
	background: url("bgr17.jpg") -20px -20px no-repeat;	
}

.cp-icon_18 {
	background: url("bgr18.jpg") -20px -20px no-repeat;	
}

.cp-icon_19 {
	background: url("bgr19.jpg") -20px -20px no-repeat;	
}

.cp-icon_20 {
	background: url("bgr20.jpg") -20px -20px no-repeat;	
}

.cp-icon_21 {
	background: url("bgr21.jpg") -20px -20px no-repeat;	
}

.cp-icon_22 {
	background: url("bgr22.jpg") -20px -20px no-repeat;	
}

.cp-icon_23 {
	background: url("bgr23.jpg") -20px -20px no-repeat;	
}

.cp-icon_24 {
	background: url("bgr24.jpg") -20px -20px no-repeat;	
}

.cp-icon_25 {
	background: url("bgr25.jpg") -20px -20px no-repeat;	
}

.cp-icon_26 {
	background: url("bgr26.jpg") -20px -20px no-repeat;	
}

.cp-icon_27 {
	background: url("bgr27.jpg") -20px -20px no-repeat;	
}



.cp-container :focus {
	border:none; 
	outline:0;
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 52px;
	height: 52px;
	clip:rect(0px,26px,52px,0px);

	-moz-border-radius:26px;
	-webkit-border-radius:26px;
	border-radius:26px;
}

.cp-buffer-1,
.cp-buffer-2 {
	background: url("buffer2.png") 0 0 no-repeat;
}     


/* FALLBACK for .progress
 * (24 steps starting from 1hr filled progress, Decrease second value by 104px for next step)
 * (It needs the container selector to work. Or use div)
 */ 

.cp-container .cp-fallback {
	background: url("progress_sprite2.jpg") no-repeat;
	background-position: 0 52px; 
}

.cp-progress-1,
.cp-progress-2 {
	background: url("progress2.png") 0 0 no-repeat;
} 

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
	position:absolute;
	width:52px;
	height:52px;
} 

.cp-circle-control {
	cursor:pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
	clip:rect(0px,52px,52px,26px);
	display:none;
}


/* This is needed when progress is greater than 50% or for fallback */

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress.cp-fallback{
	clip:rect(auto, auto, auto, auto);
}  

.cp-controls {
	margin:0;
	padding: 13px;
}

.cp-controls li{
	list-style-type:none;
	display: block;

	/*IE Fix*/  
	position:absolute;
}

.cp-controls li a{
	position: relative;
	display: block;
	width:25px;
	height:25px;
	text-indent:-9999px;
	z-index:1;      
}

.cp-controls .cp-play {
	background: url("controls2a.png") 0 0 no-repeat;
}

.cp-controls .cp-play:hover {
	background: url("controls2a.png") -25px 0 no-repeat;
}

.cp-controls .cp-pause {
	background: url("controls2a.png") 0 -25px no-repeat;
}

.cp-controls .cp-pause:hover {
	background: url("controls2a.png") -25px -25px no-repeat;
}

.cp-jplayer {
	width: 0;
	height: 0; 
}
