/*
 * Project: CirclePlayer
 * http://www.jplayer.org
 *
 * Copyright (c) 2011 Happyworm Ltd
 *
 * Author: Silvia Benvenuti
 * Edited by: Mark J Panaghiston
 * Date: 6th May 2011
 * Artwork inspired by: http://forrst.com/posts/Untitled-CJz
 */

.cp-container {
	position: relative;
	width: 20px; /* 200 - (2 * 48) */
	height: 20px;	
	padding: 4px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background: url("buffer4.png") 4px 4px no-repeat;
}

.cp-container :focus {
	border:none; 
	outline:0;
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	clip:rect(0px,26px,16px,0px);

	-moz-border-radius:26px;
	-webkit-border-radius:26px;
	border-radius:26px;
}

.cp-buffer-1,
.cp-buffer-2 {
	background: url("buffer4.png") 0 0 no-repeat;
}     


/* FALLBACK for .progress
 * (24 steps starting from 1hr filled progress, Decrease second value by 104px for next step)
 * (It needs the container selector to work. Or use div)
 */ 

.cp-container .cp-fallback {
	background: url("progress_sprite2.jpg") no-repeat;
	background-position: 0 16px; 
}

.cp-progress-1,
.cp-progress-2 {
	background: url("progress2.png") 0 0 no-repeat;
} 

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
	position:absolute;
	width:16px;
	height:16px;
} 

.cp-circle-control {
	cursor:pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
	clip:rect(0px,52px,52px,26px);
	display:none;
}


/* This is needed when progress is greater than 50% or for fallback */

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress.cp-fallback{
	clip:rect(auto, auto, auto, auto);
}  

.cp-controls {
	margin:0;
	padding: 4px;
}

.cp-controls li{
	list-style-type:none;
	display: block;

	/*IE Fix*/  
	position:absolute;
}

.cp-controls li a{
	position: relative;
	display: block;
	width:9px;
	height:9px;
	text-indent:-9999px;
	z-index:1;      
}

.cp-controls .cp-play {
	background: url("controls4.png") 0 0 no-repeat;
}

.cp-controls .cp-play:hover {
	background: url("controls4.png") -9px 0 no-repeat;
}

.cp-controls .cp-pause {
	background: url("controls4.png") 0 -8px no-repeat;
}

.cp-controls .cp-pause:hover {
	background: url("controls4.png") -8px -8px no-repeat;
}

.cp-jplayer {
	width: 0;
	height: 0; 
}
