



<!--- Do load lookups here --->


<!--- Hardcode for now --->


<cfset PrimaryServerId_si ="854">
<cfset SecondaryServerId_si ="854">

<cfset inpPrimaryDialerIPAddr ="10.18.1.54">
<cfset inpSecondaryDialerIPAddr ="10.18.1.54">



<!--- 
<cfset PrimaryServerId_si ="703">
<cfset SecondaryServerId_si ="703">

<cfset inpPrimaryDialerIPAddr ="10.11.100.103">
<cfset inpSecondaryDialerIPAddr ="10.11.100.103">



<cfset PrimaryServerId_si ="854">
<cfset SecondaryServerId_si ="854">

<cfset inpPrimaryDialerIPAddr ="10.18.1.54">
<cfset inpSecondaryDialerIPAddr ="10.18.1.54">


<cfset inpDialersArray[1][1] = "10.18.1.54">
<cfset inpDialersArray[1][2] = "854">
 --->


<!--- inpDialersArray --->

<!--- Default start at 1st index - let specialized code update this value --->
<cfparam name="CurrDialerArrayIndex" default=1>

<cfset inpDialersArray = ArrayNew(2)>


<cfset inpDialersArray[1][1] = "10.18.1.54">
<cfset inpDialersArray[1][2] = "854">



<!--- For QA only = seldom used - gets auto shut down --->

<cfquery name="UpdateRemoteDialerDataA" datasource="#inpDialersArray[1][1]#">
         UPDATE CallControl.ScheduleOptions 
            SET ENABLED_TI = 1,
            STARTHOUR_TI = 9,
            ENDHOUR_TI = 19, 
            SUNDAY_TI = 1,
            MONDAY_TI = 1,
            TUESDAY_TI = 1,
            WEDNESDAY_TI = 1,
            THURSDAY_TI = 1,
            FRIDAY_TI = 1,
            SATURDAY_TI = 1,
            LOOPLIMIT_INT = 100,
            STOP_DT = '3000-01-01',
            START_DT = '2007-07-01',
            LASTUPDATED_DT = NOW(),
            LastSent_dt = NOW()
        WHERE 
          BatchId_bi = 48842
</cfquery>



<cfquery name="UpdateRemoteDialerDataB" datasource="#inpDialersArray[1][1]#">
         UPDATE CallControl.ScheduleOptions 
            SET ENABLED_TI = 1,
            STARTHOUR_TI = 0,
            ENDHOUR_TI = 25, 
            SUNDAY_TI = 1,
            MONDAY_TI = 1,
            TUESDAY_TI = 1,
            WEDNESDAY_TI = 1,
            THURSDAY_TI = 1,
            FRIDAY_TI = 1,
            SATURDAY_TI = 1,
            LOOPLIMIT_INT = 100,
            STOP_DT = '3000-01-01',
            START_DT = '2007-07-01',
            LASTUPDATED_DT = NOW(),
            LastSent_dt = NOW()
        WHERE 
          BatchId_bi = 48841
</cfquery>



<!--- 
<cfset inpDialersArray[1][1] = "11.0.0.162">
<cfset inpDialersArray[1][2] = "42"> 
--->


<!--- 


<cfset inpDialersArray[1][1] = "11.0.0.162">
<cfset inpDialersArray[1][2] = "42">

<cfset inpDialersArray[2][1] = "11.0.0.164">
<cfset inpDialersArray[2][2] = "44">

<cfset inpDialersArray[3][1] = "11.0.0.191">
<cfset inpDialersArray[3][2] = "42"> 


<cfset inpDialersArray[1][1] = "11.0.0.182">
<cfset inpDialersArray[1][2] = "80">

<cfset inpDialersArray[2][1] = "11.0.0.184">
<cfset inpDialersArray[2][2] = "84">


<cfset inpDialersArray[1][1] = "11.0.0.162">
<cfset inpDialersArray[1][2] = "42">

<cfset inpDialersArray[2][1] = "11.0.0.164">
<cfset inpDialersArray[2][2] = "44">



--->

