

<cfset StartPageTime = NOW()>
<cfoutput>

<cfset LocalProcessingDir = "C:\temp2">

<!--- Directory is local to current webserver file path --->
<!--- BEWARE of local security read/write rights - will cause GET Failure --->
<!--- On ops - C:\ops.promomb.com\DevJLP\Chase --->
<cfset mysftp = createobject("component","sftp").init("./SFTPArchive")>
<!--- <cfset UploadDestinationPathWebServer = "C:\ops.promomb.com\DevJLP\Chase\SFTPArchive\"> --->
<cfset UploadDestinationPathWebServer = "C:\CasperSite\ChaseProduction\SFTPArchive\">


<!--- <cfset mysftp = createobject("component","sftp").init("./SFTPArchive")> --->

<!--- <cfset mysftp = createobject("component","sftp").init(workingdir="C:\temp2")> --->
<!---  <cfdump var="#mysftp#"> --->
<!--- mysftp.working_dir = #mysftp.working_dir#<BR> --->
<!---  

<cfset mysftp.connect(host="ftsqa.jpmchase.com",
                      username="ste0668",
                      password="jk324RTnT",
                      knownhostsfile="c:\known_hosts")>


					  
					   --->

<!--- 
<cfset SFTPHostName = "11.0.0.21">
<cfset SFTPUserName = "ChaseTest">
<cfset SFTPPassword = "123"> 
<cfset SFTPInDir = "/">
<cfset SFTPOutDir = "/">


--->

<cfset SFTPHostName = "fts.jpmchase.com">
<cfset SFTPUserName = "ste0668">
<cfset SFTPPassword = "jk324RTnT"> 
<cfset SFTPInDir = "/outbound">
<cfset SFTPOutDir = "/tocig">  <!--- _outsocks --->

<cfparam name="ProcessedRecordCount" default="0">
<cfparam name="SuppressedCount" default="0">
<cfparam name="DuplicateRecordCount" default="0">
<cfparam name="DistirbutionCount" default="0">
<cfparam name="DistirbutionCountRegular" default="0">
<cfparam name="DistirbutionCountSecurity" default="0">
<cfparam name="InvalidRecordCount" default="0">
<cfparam name="MaxInvalidRecords" default="1">
<cfparam name="inpfilename" default="">	
	
	
<cftry>
  <!--- key based authentication

  while testing this method I would also comment out
  the <cfcatch> block below which may mask any errors you are getting

  <cfset mysftp.connect(host="yourhost",
                      username="youruser",
                      privatekey="c:\privatekeypath\id_rsa",
                      knownhostsfile="c:\known_hosts")>

 --->
   <cfset mysftp.connect(host="#SFTPHostName#",
                      username="#SFTPUserName#",
                      password="#SFTPPassword#",
                      knownhostsfile="c:\known_hosts")>
   <cfcatch type="any">
      <cfif #findnocase("unknownhostkey",cfcatch.message)#>
         <cfset mysftp.addhostkey(host="#SFTPHostName#",
                                  username="#SFTPUserName#",
                                  password="#SFTPPassword#",
                                  knownhostsfile="c:\known_hosts")>

         <cfoutput>Adding host key for yourhost<br/></cfoutput>

		   <cfset mysftp.connect(host="#SFTPHostName#",
						  username="#SFTPUserName#",
						  password="#SFTPPassword#",
						  knownhostsfile="c:\known_hosts")>

      </cfif>
   </cfcatch>
</cftry>


<BR>
<BR>

Make sure the file name (inpFileName) existis (manually renamed) as FileToProcess = #UploadDestinationPathWebServer# & inpfilename & ".Processing" 

<cftry>
	 
		
		<!--- Ignore directory and return file names - only files with the text VoiceAlert_ in them --->
		<cfif FIND("VoiceAlert_", inpfilename) GT 0> 
			inpfilename = #inpfilename#<BR>
			<cfset CurrSFTPFileName = inpfilename>
			<cfset CurrSFTPFileNameProcessing = inpfilename & ".Processing">
			                  
			<cfflush>
			<!--- Process File --->
			
			<!--- Get file Sequence Number --->
			<cfset FileSeqBuff = Replace(CurrSFTPFileName, "VoiceAlert_", "")>		
			<cfset FileSeqBuff = Replace(FileSeqBuff, ".txt", "")>			
			<cfset FileSeqNumber_int = FileSeqBuff>
			
              <!--- Allow reprocess --->    
            <cfquery name="VerifyNewFile" datasource="MBASPSQL2K">
                DELETE
                  ClientProductionData..ChaseAlertFiles2007Prod 
                WHERE
                   FileSeqNum_int = #FileSeqNumber_int#			   
            </cfquery>  
            
			<cfquery name="LogFile" datasource="MBASPSQL2K">
				INSERT INTO
				  ClientProductionData..ChaseAlertFiles2007Prod_log
				  (	
				  	LogType_int,							
					FileSeqNum_int,
					START_DT					
				  )
				VALUES
				  (
				  	1,
					#FileSeqNumber_int#,
					GETDATE()		  
				  )
			</cfquery>  
			
			<cfset FileToProcess = UploadDestinationPathWebServer & inpfilename & ".Processing">
			
			<!--- Process file --->
			<cfinclude template="main.cfm">
			
			
			<!--- Rename file as complete --->
			<cfset SourceFile = UploadDestinationPathWebServer & inpfilename & ".Processing">
			<cfset DestinationFile = UploadDestinationPathWebServer & inpfilename & ".Complete">
						
			<cffile action="rename" source="#SourceFile#" destination="#DestinationFile#">
									
			<cfset EndPageTime = NOW()>
			<cfset PageTime = datediff("s", StartPageTime,EndPageTime) >
	
			<cfquery name="UpdateFileData" datasource="MBASPSQL2K">
				UPDATE
				  ClientProductionData..ChaseAlertFiles2007Prod_log 
				SET
				 	CountDistributed_int = #DistirbutionCount#,
					CountDistributedRegular_int = #DistirbutionCountRegular#,
					CountDistributedSecurity_int = #DistirbutionCountSecurity#,
				    End_dt = GETDATE(),
				    CountProcessed_int = #ProcessedRecordCount#,
				    CountSuppressed_int = #SuppressedCount#,
				    CountDuplicate_int = #DuplicateRecordCount#,
					RunTimeSeconds_int = #PageTime#
				WHERE
				   FileSeqNum_int = #FileSeqNumber_int#									   
			</cfquery>  
			
			<!--- Post result file --->
			<cfset CurrResponseFileName = "AlertsProcessed_" & FileSeqNumber_int & ".txt">

			<!--- Write file to temp location --->
			<cfset FileWrite_OutputBuffer = FileSeqNumber_int & ","  & "#LSDateFormat(Now(), 'yyyy-mm-dd')# " & "#LSTimeFormat(Now(), 'hh:mm:ss')#" & "," & ProcessedRecordCount & chr(13) & chr(10)>
			<cffile action="APPEND" file="#UploadDestinationPathWebServer##CurrResponseFileName#" output="#FileWrite_OutputBuffer#" attributes="Normal" addnewline="No">
			<cfset FileWrite_OutputBuffer = "">
			
            <cfset mysftp.cd("#SFTPOutDir#")>
			
			<cfset mysftp.put("#CurrResponseFileName#","#CurrResponseFileName#")>
									
			<!--- Only process one file - will start again in 5 min --->
			
		</cfif>
		
		
		
	
	<cfset EndPageTime = NOW()>
	<cfset PageTime = datediff("s", StartPageTime, EndPageTime) >

	<!--- Log The Check for File DateTime --->
	<cfquery name="LogFile" datasource="MBASPSQL2K">
		INSERT INTO
		  ClientProductionData..ChaseAlertFiles2007Prod_log
		  (	
			LogType_int,							
			Check_dt,
			RunTimeSeconds_int					
		  )
		VALUES
		  (
			2,
			GETDATE(),
			#PageTime#		  
		  )
	</cfquery>  


	<cfinclude template="act_UpdateEnabled.cfm">
	
	
<cfcatch>

	<!--- Log and notify of SFTP error --->
	<cfset ENA_Message = "SFTP File Processing Error">	
	<cfinclude template="act_EscalationNotificationActions.cfm">
	

</cfcatch>

</cftry>				




</cfoutput>