<cfparam name="ENA_Message" default="No Message Specified">
<cfparam name="SubjectLine" default="Chase Alerts - QA Usage">


<cfoutput>

		<cfset DEVELOPERS = "jpeterson@messagebroadcast.com" >
		
		<cfmail to="#DEVELOPERS#" from="webmaster@messagebroadcast.com" subject="#SubjectLine#">
			
			#ENA_Message#
						
			<cfif IsDefined("cfcatch.type") AND Len(Trim(cfcatch.type)) GT 0 >
			cfcatch.type
			-------------------------
			#cfcatch.type#
			-------------------------
			</cfif>
			
			<cfif IsDefined("cfcatch.message") AND Len(Trim(cfcatch.message)) GT 0 >
			cfcatch.message
			-------------------------
			#cfcatch.message#
			-------------------------
			</cfif>
			
			<cfif IsDefined("cfcatch.detail") AND Len(Trim(cfcatch.detail)) GT 0 >
			cfcatch.detail
			-------------------------
			#cfcatch.detail#
			-------------------------
			</cfif>
			
			<cfif IsDefined("CGI.HTTP_HOST") AND Len(Trim(CGI.HTTP_HOST)) GT 0 >
			CGI.HTTP_HOST
			-------------------------
			#CGI.HTTP_HOST#
			-------------------------
			</cfif>
			
			<cfif IsDefined("CGI.HTTP_REFERER") AND Len(Trim(CGI.HTTP_REFERER)) GT 0 >
			CGI.HTTP_REFERER
			-------------------------
			#CGI.HTTP_REFERER#
			-------------------------
			</cfif>
			
			<cfif IsDefined("CGI.HTTP_USER_AGENT") AND Len(Trim(CGI.HTTP_USER_AGENT)) GT 0 >
			CGI.HTTP_USER_AGENT
			-------------------------
			#CGI.HTTP_USER_AGENT#
			-------------------------
			</cfif>
			
			<cfif IsDefined("CGI.PATH_TRANSLATED") AND Len(Trim(CGI.PATH_TRANSLATED)) GT 0 >
			CGI.PATH_TRANSLATED
			-------------------------
			#CGI.PATH_TRANSLATED#
			-------------------------
			</cfif>
			
			<cfif IsDefined("CGI.QUERY_STRING") AND Len(Trim(CGI.QUERY_STRING)) GT 0 >
			CGI.QUERY_STRING
			-------------------------
			#CGI.QUERY_STRING#
			-------------------------
			</cfif>

		</cfmail> 
		
			
		</cfoutput>