
<cfsetting showdebugoutput="no">

<cfoutput>

<cfparam name="SendAlert" default=0>
<cfparam name="inpDialString" default="9999999999">
<cfparam name="XMLControlString_vch" default="XXX">

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Chase Alerts Testing</title>
</head>

<body>





<table border="1">
	<tr>
		<td>
		
			<form action="dsp_SendTestCall.cfm" method="post" name="MainForm">
				
					<input type="hidden" name="SendAlert" id="SendAlert" value="1">
					
			<table width="800" border="0" cellpadding="3" cellspacing="0">
				
				
				
				<TR>	
					<TD align="center" nowrap>
						Phone Number - 10 Digits
						<input name="inpDialString" type="text" value="#inpDialString#" size="10" maxlength="10" onChange="this.style.backgroundColor = 'white'">
					</TD>
				</TR>
				<tr><td>&nbsp;</td></tr>
				<TR>
					<TD align="center" nowrap>
						XML string for dialer input<BR>
						<textarea name="XMLControlString_vch" id="XMLControlString_vch" rows="5" style="width:600px; ">
							#trim(XMLControlString_vch)#
						</textarea>
					
					</TD>
										
				</TR>
				
				<tr>
					<td  colspan="2" valign="baseline" align="center"><a href="##" onClick="MainForm.submit()">GO</a></td>
				</tr>
			</table>
			
			</form>

		</td>
	</tr>
</table>

<BR>
<BR>
<BR>
<BR>
Debug info...

<cfset AllowDuplicates="1">
<cfset INPBATCHID="47101">
<cfset inpListId ="28709"> 
<cfset inpUserId ="1112">
<!--- <cfset inpDialString =""> --->
<cfset inpDialString2 ="">
<!--- <cfset XMLControlString_vch =""> --->
<cfset LocalityId_int ="">
<cfset TimeZone_ti ="">
<cfset RedialCount_int ="0">
<cfset ServerId_si ="44">
<cfset inpDialerIPAddr ="11.0.0.164">
<cfset inpCampaignId ="2">
<cfset inpCampaignTypeId ="30">
<cfset inpScheduled_dt ="2007-01-01 00:00:00">


<cfif SendAlert GT 0>

	<cfset UserSpecifiedData_vch = "69">
	<cfset FileSeqNumber_int = "345">
	
	<cfset XMLControlString_vch = XMLControlString_vch & "<CCD FileSeq='" & XMLFormat(FileSeqNumber_int) & "' UserSpecData='" &  XMLFormat(UserSpecifiedData_vch) & "'>0</CCD>">

	<cfinclude template="act_ScheduleCall.cfm"> 
	
</cfif>


</body>
</html>
</cfoutput>