
<cfparam name="UploadDestinationPathWebServer" default="C:\ops.promomb.com\DevJLP\Chase\SFTPArchive\">

<cfparam name="ProcessedRecordCount" default="0">
<cfparam name="SuppressedCount" default="0">
<cfparam name="DuplicateRecordCount" default="0">
<cfparam name="DistirbutionCount" default="0">
<cfparam name="DistirbutionCountRegular" default="0">
<cfparam name="DistirbutionCountSecurity" default="0">
<cfparam name="InvalidRecordCount" default="0">
<cfparam name="FileSeqNumber_int" default="0">

<cfset CurrResponseFileName = "AlertsProcessed_" & FileSeqNumber_int & ".txt">

<!--- Write file to temp location --->
<cfset FileWrite_OutputBuffer = FileSeqNumber_int & ","  & "#LSDateFormat(Now(), 'yyyy-mm-dd')# " & "#LSTimeFormat(Now(), 'hh:mm:ss')#" & "," & ProcessedRecordCount & chr(13) & chr(10)>
<cffile action="APPEND" file="#UploadDestinationPathWebServer##CurrResponseFileName#" output="#FileWrite_OutputBuffer#" attributes="Normal" addnewline="No">
<cfset FileWrite_OutputBuffer = "">
		
		







