<cfoutput>

<cfset LocalProcessingDir = "C:\temp2">

<!--- Directory is local to current webserver file path --->
<!--- BEWARE of local security read/write rights - will cause GET Failure --->
<!--- On ops - C:\ops.promomb.com\DevJLP\Chase --->
<cfset mysftp = createobject("component","sftp").init("./SFTPArchive")>
<cfset UploadDestinationPathWebServer = "C:\CreativeCRM\32\ChaseQA\SFTPArchive\">

<!--- <cfset mysftp = createobject("component","sftp").init("./SFTPArchive")> --->

<!--- <cfset mysftp = createobject("component","sftp").init(workingdir="C:\temp2")> --->
<!---  <cfdump var="#mysftp#"> --->
<!--- mysftp.working_dir = #mysftp.working_dir#<BR> --->
	
	
<cftry>
  <!--- key based authentication

  while testing this method I would also comment out
  the <cfcatch> block below which may mask any errors you are getting

  <cfset mysftp.connect(host="yourhost",
                      username="youruser",
                      privatekey="c:\privatekeypath\id_rsa",
                      knownhostsfile="c:\known_hosts")>

 --->
   <cfset mysftp.connect(host="ftsqa.jpmchase.com",
                      username="ste0668",
                      password="jk324RTnT",
                      knownhostsfile="c:\known_hosts")>
   <cfcatch type="any">
      <cfif #findnocase("unknownhostkey",cfcatch.message)#>
         <cfset mysftp.addhostkey(host="ftsqa.jpmchase.com",
                                  username="ste0668",
                                  password="jk324RTnT",
                                  knownhostsfile="c:\known_hosts")>

         <cfoutput>Adding host key for yourhost<br/></cfoutput>

		   <cfset mysftp.connect(host="ftsqa.jpmchase.com",
						  username="ste0668",
						  password="jk324RTnT",
						  knownhostsfile="c:\known_hosts")>

      </cfif>
   </cfcatch>
</cftry>


<cftry>
	 
	<!--- change directory on the host - default directory is invalid for some reason - just switch to root --->
	<cfset mysftp.cd("/_outsocks")>
	
	<!--- Gets a query object of the files --->
	<cfset dirarray = mysftp.dir()>
	<cfdump var="#dirarray#">
	
	<cfloop query="dirarray" >
		
		dirarray.filename = #dirarray.filename#<BR>
				
	</cfloop> 
	
	Putting a file ... <BR> <cfflush>
	<cfset mysftp.put("AlertsProcessed_12.txt","TestJLP.txt")> 
	
	<cfset dirarray = mysftp.dir()>
	<cfdump var="#dirarray#">
	
	<cfloop query="dirarray" >
		
		dirarray.filename = #dirarray.filename#<BR>
				
	</cfloop> 
	
	Getting a file ... <BR> <cfflush>
	<cfset mysftp.get("TestJLP.txt","TestJLPDownloaded.txt")>
	
	<cfset dirarray = mysftp.dir()>
	<cfdump var="#dirarray#">
	
	<cfloop query="dirarray" >
		
		dirarray.filename = #dirarray.filename#<BR>
				
	</cfloop> 
	
	Deleteing a file ... <BR> <cfflush>
	<cfset mysftp.del("TestJLP.txt")>  
	
	<cfset dirarray = mysftp.dir()>
	<cfdump var="#dirarray#">
	
	<cfloop query="dirarray" >
		
		dirarray.filename = #dirarray.filename#<BR>
				
	</cfloop> 
	
	<!--- disconnect --->
	<cfset mysftp.disconnect()>
	<!--- would suggest you remove object maybe using structkeydelete when finished --->
	<cfset mysftp = "">

<cfcatch>

	<!--- Log and notify of SFTP error --->
	<cfset ENA_Message = "TEST SFTP File Processing Error">	
	<cfinclude template="act_EscalationNotificationActions.cfm">
	

</cfcatch>

</cftry>				


</cfoutput>