.dp-highlighter {
	BACKGROUND-COLOR: #e7e5dc; MARGIN: 18px 0px; WIDTH: 99%; FONT-FAMILY: "Consolas", "Courier New", Courier, mono, serif; FONT-SIZE: 12px; OVERFLOW: auto; PADDING-TOP: 1px
}
.dp-highlighter OL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter OL LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter OL LI SPAN {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter A:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter .bar {
	PADDING-LEFT: 45px
}
.collapsed.dp-highlighter .bar {
	PADDING-LEFT: 0px
}
.nogutter.dp-highlighter .bar {
	PADDING-LEFT: 0px
}
.dp-highlighter OL {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; LIST-STYLE-TYPE: decimal; MARGIN: 0px 0px 1px 45px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #5c5c5c; PADDING-TOP: 0px
}
.nogutter.dp-highlighter OL {
	LIST-STYLE-TYPE: none !important; MARGIN-LEFT: 0px !important; LIST-STYLE-IMAGE: none !important
}
.nogutter.dp-highlighter OL LI {
	LIST-STYLE-TYPE: none !important; MARGIN-LEFT: 0px !important; LIST-STYLE-IMAGE: none !important
}
.dp-highlighter OL LI {
	LIST-STYLE-POSITION: outside !important; BORDER-LEFT: #6ce26c 3px solid; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 14px; BACKGROUND-COLOR: #f8f8f8; LIST-STYLE-TYPE: decimal-leading-zero; MARGIN: 0px; PADDING-LEFT: 10px !important; PADDING-RIGHT: 3px !important; COLOR: #5c5c5c; PADDING-TOP: 0px !important
}
.dp-highlighter .columns DIV {
	LIST-STYLE-POSITION: outside !important; BORDER-LEFT: #6ce26c 3px solid; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 14px; BACKGROUND-COLOR: #f8f8f8; LIST-STYLE-TYPE: decimal-leading-zero; MARGIN: 0px; PADDING-LEFT: 10px !important; PADDING-RIGHT: 3px !important; COLOR: #5c5c5c; PADDING-TOP: 0px !important
}
.nogutter.dp-highlighter OL LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.nogutter.dp-highlighter .columns DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.dp-highlighter .columns {
	BACKGROUND-COLOR: #f8f8f8; WIDTH: 100%; COLOR: gray; OVERFLOW: hidden
}
.dp-highlighter .columns DIV {
	PADDING-BOTTOM: 5px
}
.dp-highlighter OL LI.alt {
	BACKGROUND-COLOR: #fff; COLOR: inherit
}
.dp-highlighter OL LI SPAN {
	BACKGROUND-COLOR: inherit; COLOR: black
}
.collapsed.dp-highlighter OL {
	MARGIN: 0px
}
.collapsed.dp-highlighter OL LI {
	DISPLAY: none
}
.printing.dp-highlighter {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.printing.dp-highlighter .tools {
	DISPLAY: none !important
}
.printing.dp-highlighter LI {
	DISPLAY: list-item !important
}
.dp-highlighter .tools {
	BORDER-LEFT: #6ce26c 3px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 10px; PADDING-RIGHT: 8px; FONT: 9px Verdana, geneva, Arial, Helvetica, sans-serif; COLOR: silver; PADDING-TOP: 3px
}
.nogutter.dp-highlighter .tools {
	BORDER-LEFT: 0px
}
.collapsed.dp-highlighter .tools {
	BORDER-BOTTOM: 0px
}
.dp-highlighter .tools A {
	BACKGROUND-COLOR: inherit; COLOR: #a0a0a0; FONT-SIZE: 9px; MARGIN-RIGHT: 10px; TEXT-DECORATION: none
}
.dp-highlighter .tools A:hover {
	BACKGROUND-COLOR: inherit; COLOR: red; TEXT-DECORATION: underline
}
.dp-about {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; PADDING-TOP: 0px
}
.dp-about TABLE {
	WIDTH: 100%; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif !important; HEIGHT: 100%; FONT-SIZE: 11px
}
.dp-about TD {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
.dp-about .copy {
	BORDER-BOTTOM: #aca899 1px solid; HEIGHT: 95%
}
.dp-about .title {
	BACKGROUND-COLOR: inherit; COLOR: red; FONT-WEIGHT: bold
}
.dp-about .para {
	MARGIN: 0px 0px 4px
}
.dp-about .footer {
	TEXT-ALIGN: right; BACKGROUND-COLOR: #eceadb; COLOR: #333; BORDER-TOP: #fff 1px solid
}
.dp-about .close {
	BACKGROUND-COLOR: #eceadb; WIDTH: 60px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif !important; HEIGHT: 22px; COLOR: #333; FONT-SIZE: 11px
}
.dp-highlighter .comment {
	BACKGROUND-COLOR: inherit; COLOR: #008200
}
.dp-highlighter .comments {
	BACKGROUND-COLOR: inherit; COLOR: #008200
}
.dp-highlighter .string {
	BACKGROUND-COLOR: inherit; COLOR: blue
}
.dp-highlighter .keyword {
	BACKGROUND-COLOR: inherit; COLOR: #069; FONT-WEIGHT: bold
}
.dp-highlighter .preprocessor {
	BACKGROUND-COLOR: inherit; COLOR: gray
}
