<cfparam name="CPPUUID" default="" >
<cfinclude template="../../paths.cfm" >
<p class="thankyou">Thank you for submitting your contact preferences.</p>

<p class="thankyou"><a href = "../launch/?cppUUID=<cfoutput>#CPPUUID#</cfoutput>">Back</a></p>
<cfoutput>
	<link rel="stylesheet" href="#rootUrl#/#PublicPath#/cppPortal/css/default.css">
</cfoutput>