<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Convert TTS library</title>
</head>

<body>
	
<p>&nbsp;</p>
<p>Using visual stutio 2008 to run source</p>
<p>This dll library is built just to public ConvertTTS method call convert text to speech method from "Interop.SpeechLib.dll" library</p>




</body>
</html>