
<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.INPQID[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #INPQID").val(d.DATA.INPQID[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #INPQID").val('0');	
}

<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.CURRRXT[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inprxt").val(d.DATA.CURRRXT[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inprxt").val('21');	
}

<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.CURRDESC[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #INPDESC").val(RXdecodeXML(d.DATA.CURRDESC[0]));	
}
else
{
	$("#RXTEditForm_" + INPQID + " #INPDESC").val('empty');		
}

<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.CURRBS[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpBS").val(d.DATA.CURRBS[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpBS").val('0');	
}

<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.CURRUID[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpUID").val(d.DATA.CURRUID[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpUID").val('0');
}

if(typeof(d.DATA.CURRRQ[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpRQ").val(d.DATA.CURRRQ[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpRQ").val('');
}

if(typeof(d.DATA.CURRCP[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpCP").val(d.DATA.CURRCP[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpCP").val('');
}
                                           
<!--- Check if variable is part of JSON result string     						
if(typeof(d.DATA.CURRCK1[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpCK1").val(d.DATA.CURRCK1[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpCK1").val('{%LocationKey7_vch%}');		
}
--->		
<!--- Check if variable is part of JSON result string     --->		
if(typeof(d.DATA.CURRCK2[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpCK2").val(d.DATA.CURRCK2[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpCK2").val('3');		
}
<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.CURRCK3[0]) != "undefined")
{									
	var inpCK3 = d.DATA.CURRCK3[0];
	inpCK3 = inpCK3.replace("{%","");
	inpCK3 = inpCK3.replace("%}","");
	if(typeof(inpCK3.split("|")[2]) == 'undefined'){
		$("#RXTEditForm_" + INPQID + " #inpCK3").val(inpCK3.split("|")[0]);	
	}else{
		$("#RXTEditForm_" + INPQID + " #inpCK3").val(inpCK3.split("|")[1]);	
		$("#RXTEditForm_" + INPQID + " #inpDataField").val(inpCK3.split("|")[2]);	
	}
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpCK3").val('LocationKey7_vch');		
}				
<!--- 
<!--- Check if variable is part of JSON result string     --->								
if(typeof(d.DATA.CURRCK5[0]) != "undefined")
{									
	$("#RXTEditForm_" + INPQID + " #inpCK5").val(d.DATA.CURRCK5[0]);	
}
else
{
	$("#RXTEditForm_" + INPQID + " #inpCK5").val('-1');		
} --->
