

<!---  <cfset QuerySetCell(dataout, "RXRESULTCODE", -1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "-1") />
                <cfset QuerySetCell(dataout, "CURRDESC", "") />
			    <cfset QuerySetCell(dataout, "CURRDESC", "") />
                <cfset QuerySetCell(dataout, "CURRBS", "") />
                <cfset QuerySetCell(dataout, "CURRUID", "") />
                <cfset QuerySetCell(dataout, "CURRLIBID", "") />
                <cfset QuerySetCell(dataout, "CURRELEID", "") />
                <cfset QuerySetCell(dataout, "CURRDATAID", "") />
                <cfset QuerySetCell(dataout, "CURRMaxRetriesRepeat", "") />
                <cfset QuerySetCell(dataout, "CURRValidKeyMap", "") />
                <cfset QuerySetCell(dataout, "CURRRepeatKey", "") />
                <cfset QuerySetCell(dataout, "CURRAnswerMap", "") />
                <cfset QuerySetCell(dataout, "CURRDefaultMCID", "") />
                <cfset QuerySetCell(dataout, "CURRNoMatchMessage", "") />
                <cfset QuerySetCell(dataout, "CURRNoEntryMessage", "") />
                <cfset QuerySetCell(dataout, "CURRMaxRetriesNoResponse", "") />
                
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "inprxt", "-1") />
                <cfset QuerySetCell(dataout, "INPDESC", "") />
                <cfset QuerySetCell(dataout, "inpBS", "") />
                <cfset QuerySetCell(dataout, "inpUID", "") />
                <cfset QuerySetCell(dataout, "inpLibID", "") />
                <cfset QuerySetCell(dataout, "inpEleID", "") />
                <cfset QuerySetCell(dataout, "inpDataID", "") />
                <cfset QuerySetCell(dataout, "inpMaxRetriesRepeat", "") />
                <cfset QuerySetCell(dataout, "inpValidKeyMap", "") />
                <cfset QuerySetCell(dataout, "inpRepeatKey", "") />
                <cfset QuerySetCell(dataout, "inpAnswerMap", "") />
                <cfset QuerySetCell(dataout, "inpDefaultMCID", "") />
                <cfset QuerySetCell(dataout, "inpNoMatchMessage", "") />
                <cfset QuerySetCell(dataout, "inpNoEntryMessage", "") />
                <cfset QuerySetCell(dataout, "inpMaxRetriesNoResponse", "") />
				
 --->
                

<!--- used to update interface values based on JSON results --->
<!--- Assumes form fields --->


<!--- Update Summary info too? --->
										
											<!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.INPQID[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #INPQID").val(d.DATA.INPQID[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #INPQID").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRRXT[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inprxt").val(d.DATA.CURRRXT[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inprxt").val('2');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRDESC[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #INPDESC").val(RXdecodeXML(d.DATA.CURRDESC[0]));																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #INPDESC").val('empty');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRBS[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpBS").val(d.DATA.CURRBS[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpBS").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRUID[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpUID").val(d.DATA.CURRUID[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpUID").val('0');
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRLIBID[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpLibId").val(d.DATA.CURRLIBID[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpLibId").val('0');
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRELEID[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpEleId").val(d.DATA.CURRELEID[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpEleId").val('0');
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRDATAID[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpDataId").val(d.DATA.CURRDATAID[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpDataId").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string   CURRNumDTMFsToIgnore inpNumDTMFsToIgnore --->				<!--- 				
											if(typeof(d.DATA.CURRCK1[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpCK1").val(d.DATA.CURRCK1[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpCK1").val('0');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK5[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm #inpCK5").val(d.DATA.CURRCK5[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm #inpCK5").val('-1');	
                                            }
                                 --->
                                            
                                           <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRX[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm" + INPQID + " #inpX").val(d.DATA.CURRX[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm" + INPQID + " #inpX").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRY[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm" + INPQID + " #inpY").val(d.DATA.CURRY[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm" + INPQID + " #inpY").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRLINK[0]) != "undefined")
											{									
												$("#rxtvmdmEditForm" + INPQID + " #inpLINK").val(d.DATA.CURRLINK[0]);																							
											}
                                            else
                                            {
	                                            $("#rxtvmdmEditForm" + INPQID + " #inpLINK").val('-1');	
                                            }
                                            