

<!---  <cfset QuerySetCell(dataout, "RXRESULTCODE", -1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "-1") />
                <cfset QuerySetCell(dataout, "CURRDESC", "") />
			    <cfset QuerySetCell(dataout, "CURRDESC", "") />
                <cfset QuerySetCell(dataout, "CURRBS", "") />
                <cfset QuerySetCell(dataout, "CURRUID", "") />
                <cfset QuerySetCell(dataout, "CURRLIBID", "") />
                <cfset QuerySetCell(dataout, "CURRELEID", "") />
                <cfset QuerySetCell(dataout, "CURRDATAID", "") />
                <cfset QuerySetCell(dataout, "CURRCK1", "") />
                <cfset QuerySetCell(dataout, "CURRCK2", "") />
                <cfset QuerySetCell(dataout, "CURRCK3", "") />
                <cfset QuerySetCell(dataout, "CURRCK4", "") />
                <cfset QuerySetCell(dataout, "CURRCK5", "") />
                <cfset QuerySetCell(dataout, "CURRCK7", "") />
                <cfset QuerySetCell(dataout, "CURRCK6", "") />
                <cfset QuerySetCell(dataout, "CURRCK8", "") />
                
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "inprxt", "-1") />
                <cfset QuerySetCell(dataout, "INPDESC", "") />
                <cfset QuerySetCell(dataout, "inpBS", "") />
                <cfset QuerySetCell(dataout, "inpUID", "") />
                <cfset QuerySetCell(dataout, "inpLibID", "") />
                <cfset QuerySetCell(dataout, "inpEleID", "") />
                <cfset QuerySetCell(dataout, "inpDataID", "") />
                <cfset QuerySetCell(dataout, "inpCK1", "") />
                <cfset QuerySetCell(dataout, "inpCK2", "") />
                <cfset QuerySetCell(dataout, "inpCK3", "") />
                <cfset QuerySetCell(dataout, "inpCK4", "") />
                <cfset QuerySetCell(dataout, "inpCK5", "") />
                <cfset QuerySetCell(dataout, "inpCK7", "") />
                <cfset QuerySetCell(dataout, "inpCK6", "") />
                <cfset QuerySetCell(dataout, "inpCK8", "") />
				
 --->
                

<!--- used to update interface values based on JSON results --->
<!--- Assumes form fields --->


<!--- Update Summary info too? --->
										
											<!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.INPQID[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #INPQID").val(d.DATA.INPQID[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #INPQID").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRRXT[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inprxt").val(d.DATA.CURRRXT[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inprxt").val('16');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRDESC[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #INPDESC").val(RXdecodeXML(d.DATA.CURRDESC[0]));																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #INPDESC").val('empty');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRBS[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpBS").val(d.DATA.CURRBS[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpBS").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRUID[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpUID").val(d.DATA.CURRUID[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpUID").val('0');
                                            }
                                                                                    
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK1[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK1").val(d.DATA.CURRCK1[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK1").val('0');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK4[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK4").val(d.DATA.CURRCK4[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK4").val('()');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK5[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK5").val(d.DATA.CURRCK5[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK5").val('-1');	
                                            }
                                             
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRX[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpX").val(d.DATA.CURRX[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpX").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRY[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpY").val(d.DATA.CURRY[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpY").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRLINK[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpLINK").val(d.DATA.CURRLINK[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpLINK").val('-1');	
                                            }


                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRRQ[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpRQ").val(d.DATA.CURRRQ[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpRQ").val('');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCP[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCP").val(d.DATA.CURRCP[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCP").val('');	
                                            }