

<!---  <cfset QuerySetCell(dataout, "RXRESULTCODE", -1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "CURRRXT", "-1") />
                <cfset QuerySetCell(dataout, "CURRDESC", "") />
			    <cfset QuerySetCell(dataout, "CURRDESC", "") />
                <cfset QuerySetCell(dataout, "CURRBS", "") />
                <cfset QuerySetCell(dataout, "CURRUID", "") />
                <cfset QuerySetCell(dataout, "CURRLIBID", "") />
                <cfset QuerySetCell(dataout, "CURRELEID", "") />
                <cfset QuerySetCell(dataout, "CURRDATAID", "") />
                <cfset QuerySetCell(dataout, "CURRCK1", "") />
                <cfset QuerySetCell(dataout, "CURRCK2", "") />
                <cfset QuerySetCell(dataout, "CURRCK3", "") />
                <cfset QuerySetCell(dataout, "CURRCK4", "") />
                <cfset QuerySetCell(dataout, "CURRCK5", "") />
                <cfset QuerySetCell(dataout, "CURRCK7", "") />
                <cfset QuerySetCell(dataout, "CURRCK6", "") />
                <cfset QuerySetCell(dataout, "CURRCK8", "") />
                
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "#INPQID#") />
                <cfset QuerySetCell(dataout, "inprxt", "-1") />
                <cfset QuerySetCell(dataout, "INPDESC", "") />
                <cfset QuerySetCell(dataout, "inpBS", "") />
                <cfset QuerySetCell(dataout, "inpUID", "") />
                <cfset QuerySetCell(dataout, "inpLibID", "") />
                <cfset QuerySetCell(dataout, "inpEleID", "") />
                <cfset QuerySetCell(dataout, "inpDataID", "") />
                <cfset QuerySetCell(dataout, "inpCK1", "") />
                <cfset QuerySetCell(dataout, "inpCK2", "") />
                <cfset QuerySetCell(dataout, "inpCK3", "") />
                <cfset QuerySetCell(dataout, "inpCK4", "") />
                <cfset QuerySetCell(dataout, "inpCK5", "") />
                <cfset QuerySetCell(dataout, "inpCK7", "") />
                <cfset QuerySetCell(dataout, "inpCK6", "") />
                <cfset QuerySetCell(dataout, "inpCK8", "") />
				
 --->
                

<!--- used to update interface values based on JSON results --->
<!--- Assumes form fields --->


<!--- Update Summary info too? --->
										
											<!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.INPQID[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #INPQID").val(d.DATA.INPQID[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #INPQID").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRRXT[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inprxt").val(d.DATA.CURRRXT[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inprxt").val('18');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRDESC[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #INPDESC").val(RXdecodeXML(d.DATA.CURRDESC[0]));																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #INPDESC").val('empty');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRBS[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpBS").val(d.DATA.CURRBS[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpBS").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRUID[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpUID").val(d.DATA.CURRUID[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpUID").val('0');
                                            }
                                            if(typeof(d.DATA.CURRLIBID[0]) != "undefined")
											{			
												var inpLibId = d.DATA.CURRLIBID[0]; 						
												$("#RXTEditForm_" + INPQID + " #inpLibId").val(inpLibId);	
												$("#RXTEditForm_" + INPQID + " #currLib").html(inpLibId);
												if(inpLibId != 0){
													$("#RXTEditForm_" + INPQID + " .noneScriptLib").css("display","none");
													$("#RXTEditForm_" + INPQID + " .fieldSetBox").css("display","block");
												} else {
													$("#RXTEditForm_" + INPQID + " .noneScriptLib").css("display","block");
													$("#RXTEditForm_" + INPQID + " .fieldSetBox").css("display","none");
												}
											}
								            else
								            {
								             	$("#RXTEditForm_" + INPQID + " #inpLibId").val('0');
												$("#RXTEditForm_" + INPQID + " #currLib").html('0');
								            }
									                                   
									        <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRELEID[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpEleId").val(d.DATA.CURRELEID[0]);																							
											}
								            else
								            {
								             	$("#RXTEditForm_" + INPQID + " #inpEleId").val('0');
								            }
									                                   
									                                   <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRDATAID[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpDataId").val(d.DATA.CURRDATAID[0]);
												if (d.DATA.CURRLIBID[0] > 0) {
													var inpPlayId = <cfoutput>#SESSION.UserID#</cfoutput>+'_'+d.DATA.CURRLIBID[0]+'_'+d.DATA.CURRELEID[0]+'_'+d.DATA.CURRDATAID[0];
													$("#RXTEditForm_" + INPQID + " #inpPlayId").val(inpPlayId);
													playerflash(inpPlayId);
												}
											}
								            else
								            {
								             	$("#RXTEditForm_" + INPQID + " #inpDataId").val('0');	
								            }                                        
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK1[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK1").val(d.DATA.CURRCK1[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK1").val('0');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK2[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK2").val(d.DATA.CURRCK2[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK2").val('');
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK3[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK3").val(d.DATA.CURRCK3[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK3").val('');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK4[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK4").val(d.DATA.CURRCK4[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK4").val('()');		
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK5[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK5").val(d.DATA.CURRCK5[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK5").val('-1');	
                                            }
                                                                                                                                
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK6[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK6").val(d.DATA.CURRCK6[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK6").val('');	
                                            }
                                          
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK7[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK7").val(d.DATA.CURRCK7[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK7").val('');			
                                            }
                                              
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK8[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK8").val(d.DATA.CURRCK8[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK8").val('0');	
                                            }
                                            
                                             <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK9[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK9").val(d.DATA.CURRCK9[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK9").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK10[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK10").val(d.DATA.CURRCK10[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK10").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK11[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK11").val(d.DATA.CURRCK11[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK11").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK12[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCK12").val(d.DATA.CURRCK12[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK12").val('0');	
                                            }
                                            
											 <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCK13[0]) != "undefined")
											{									
												if(d.DATA.CURRCK13[0] == ''){
													$("#RXTEditForm_" + INPQID + " #inpCK13").val(30);
												} else{
													$("#RXTEditForm_" + INPQID + " #inpCK13").val(d.DATA.CURRCK13[0]);		
												}																					
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCK13").val('0');	
                                            }
											
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRX[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpX").val(d.DATA.CURRX[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpX").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRY[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpY").val(d.DATA.CURRY[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpY").val('0');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRLINK[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpLINK").val(d.DATA.CURRLINK[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpLINK").val('-1');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRRQ[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpRQ").val(d.DATA.CURRRQ[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpRQ").val('');	
                                            }
                                            
                                            <!--- Check if variable is part of JSON result string     --->								
											if(typeof(d.DATA.CURRCP[0]) != "undefined")
											{									
												$("#RXTEditForm_" + INPQID + " #inpCP").val(d.DATA.CURRCP[0]);																							
											}
                                            else
                                            {
	                                            $("#RXTEditForm_" + INPQID + " #inpCP").val('');	
                                            }
											<cfinclude template="js_read_bsCommon.cfm">
											
											// Bind change answer map event
										 	$("#RXTEditForm_" + INPQID + " #changeAnswerMapCK4").click(function(){
										 		popupTableAnswerMapASR(INPQID);
										 	});
										 	$("#RXTEditForm_" + INPQID + " #changeRulesStringCK8").click(function(){
										 		popupTableRuleString(INPQID);
										 	});
										 	