	var inpDataField = $("#RXTEditForm_" + INPQID + " #inpDataField").val();
	var inpDataKey =  $("#RXTEditForm_" + INPQID + " #inpCK3").val();
	var inpCk3 = '{%'+ inpDataKey + '%}';
	if(inpDataField != ''){
		inpCk3 = '{%XML|'+ inpDataKey + '|'+ inpDataField +'%}';
	}
	 $.ajax({
            type: "POST",
            url: "<cfoutput>#rootUrl#/#SessionPath#</cfoutput>/campaign/mcid/cfc/mcidtools.cfc?method=genrxt21XML&returnformat=json&queryformat=column&_cf_noDEBUG=true&_cf_nocache=true",
    		data:{
		  		INPQID : $("#RXTEditForm_" + INPQID + " #INPQID").val(), 
				inpBS : $("#RXTEditForm_" + INPQID + " #inpBS").val(), 
				inpCK2 : $("#RXTEditForm_" + INPQID + " #inpCK2").val(), 
				inpCK3 : inpCk3,
				INPDESC : RXencodeXML($("#RXTEditForm_" + INPQID + " #INPDESC").val()), 
				inpX : $("#RXTEditForm_" + INPQID + " #inpX").val(), 
				inpY : $("#RXTEditForm_" + INPQID + " #inpY").val(), 
				inpLINKTo : $("#RXTEditForm_" + INPQID + " #inpLINKTo").val(),
				inpRQ : $("#RXTEditForm_" + INPQID + " #inpRQ").val(),
				inpCP : $("#RXTEditForm_" + INPQID + " #inpCP").val()
			},
            dataType: "json", 
            success: function(d2, textStatus, xhr) {
            	var d = eval('(' + xhr.responseText + ')');
            				<!--- Alert if failure --->
																									
							<!--- Get row 1 of results if exisits--->
							if (d.ROWCOUNT > 0) 
							{																									
								<!--- Check if variable is part of JSON result string --->								
								if(typeof(d.DATA.RXRESULTCODE[0]) != "undefined")
								{							
									CURRRXResultCode = d.DATA.RXRESULTCODE[0];	
									
									if(CURRRXResultCode > 0)
									{
										<!--- Check if variable is part of JSON result string   d.DATA.RXTXMLSTRING[0]  --->								
										if(typeof(d.DATA.RXTXMLSTRING[0]) != "undefined")
										{									
                                        
                                        	<!--- Display Value --->
											$("#EditMCIDForm_" + INPQID + " #CURRentRXTXMLSTRING").html(d.DATA.RXTXMLSTRING[0]);	
										}		
                                        
                                        <!--- Check if variable is part of JSON result string   d.DATA.inpXML[0]  --->								
										if(typeof(d.DATA.RAWXML[0]) != "undefined")
										{						
                                        	<!--- Update hidden Value --->
											$("#EditMCIDForm_" + INPQID + " #inpXML").val(d.DATA.RAWXML[0]);	
                                                                                       
                                            <!--- Save changes to DB --->
                                            SaveChangesMCID(INPQID, "RXSS", "#EditMCIDForm_" + INPQID, 1);
										}	
									}
								}
								else
								{<!--- Invalid structure returned --->	
									$("#EditMCIDForm_" + INPQID + " #CURRentRXTXMLSTRING").html("Write Error - Invalid structure");										
								}
							}
							else
							{<!--- No result returned --->
								$("#EditMCIDForm_" + INPQID + " #CURRentRXTXMLSTRING").html("Write Error - No result returned");									
							}
          }
     });