<cfparam name="CPPUUID" default="0">
<cfinclude template="../../paths.cfm" >
<cfscript>
	objServiceObject = createObject('component', 'testservice.soap.cfc.ebmService').init(); 
	data = objServiceObject.deleteCpp(CPPUUID);
	location("#rootUrl#/soap/cpp/listCpp.cfm");
</cfscript>

