@import url('font-awesome.css');

/* GLOBALS */


/**:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/

.wrapper-demo {
    margin: 0 0 0 0;
    *zoom: 1;
    
		width:200px;
		float:left;
	
		text-align:left;
		height:25px;
	/*	padding-bottom:20px;*/
	
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}


/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
/*popup css
*/.wrapper-demopopup {
     margin: 0 0 0 0;
    *zoom: 1;
    
		width:100px;
		float:left;
	
		text-align:left;
		height:25px;
	/*	padding-bottom:20px;*/
	
}

.wrapper-demopopup:after {
    clear: both;
    content: "";
    display: table;
}


.wrapper-dropdown-2 {
    /* Size and position */
    position: relative;
    width: 105px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}
.wrapper-dropdown-2 .dropdown2 {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-2 .dropdown2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-2 .dropdown2:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}
.wrapper-dropdown-2 .dropdown2 li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-2 .dropdown2 li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-2 .dropdown2 li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-2 .dropdown2 li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown2 li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-2.active .dropdown2 {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}
.no-opacity       .wrapper-dropdown-2 .dropdown2,
.no-pointerevents .wrapper-dropdown-2 .dropdown2 {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown2,
.no-pointerevents .wrapper-dropdown-2.active .dropdown2 {
    display: block;
}


.wrapper-demo4 {
    margin: 0 0 0 0;
    *zoom: 1;
    
		width:200px;
		float:left;
	
		text-align:left;
		height:25px;
	/*	padding-bottom:20px;*/
	
}

.wrapper-demo4:after {
    clear: both;
    content: "";
    display: table;
}


/* DEMO 3 */

.wrapper-dropdown4-4 {
    /* Size and position */
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown4-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown4-4 .dropdown4 {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown4-4 .dropdown4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown4-4 .dropdown4:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown4-4 .dropdown4 li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown4-4 .dropdown4 li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown4-4 .dropdown4 li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown4-4 .dropdown4 li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown4-4 .dropdown4 li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown4-4.active .dropdown4 {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
		margin-top:-220px;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown4-4 .dropdown4,
.no-pointerevents .wrapper-dropdown4-4 .dropdown4 {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown4-4.active .dropdown4,
.no-pointerevents .wrapper-dropdown4-4.active .dropdown4 {
    display: block;
}
