/* GLOBALS */


/**:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/

.wrapper-demo {
    margin: 0 0 0 0;
    *zoom: 1;
    
		width:200px;
		float:left;
	
		text-align:left;
		height:20px;
		padding-bottom:20px;
	
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}


/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 225px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}



.wrapper-demo1 {
    margin: 0 0 0 0;
    *zoom: 1;
    
		width:133px;
		float:left;
	
		text-align:left;
		height:20px;
		padding-bottom:20px;
	
}

.wrapper-demo1:after {
    clear: both;
    content: "";
    display: table;
}


/* DEMO 4 */

.wrapper-dropdown-4 {
    /* Size and position */
    position: relative;
    width: 109px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-4 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-4 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-4 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-4 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-4 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-4 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-4 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-4 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}
/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size and position */
    position: relative;
    width: 205px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-5:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-5 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-5 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-5 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-5 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-5 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-5.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* DEMO 6 */

.wrapper-dropdown-6 {
    /* Size and position */
    position: relative;
    width: 55px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-6:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-6 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
	max-height: 200px;
    overflow-x: hidden; 
}

.wrapper-dropdown-6 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-6 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-6 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-6 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-6 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-6 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-6 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-6.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}
/* DEMO 7 */

.wrapper-dropdown-7 {
    /* Size and position */
    position: relative;
    width: 55px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-7:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-7 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-7 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-7 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-7 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-7 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-7 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-7 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-7 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-7.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* DEMO 8 */

.wrapper-dropdown-8 {
    /* Size and position */
    position: relative;
    width: 109px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-8:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-8 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-8 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-8 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-8 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-8 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-8 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-8 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-8 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-8.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* DEMO 9 */

.wrapper-dropdown-9 {
    /* Size and position */
    position: relative;
    width: 109px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-9:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-9 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-9 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-9 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-9 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-9 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-9 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-9 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-9 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-9.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}

/* DEMO 10 */

.wrapper-dropdown-10 {
    /* Size and position */
    position: relative;
    width: 140px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-10:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-10 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-10 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-10 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-10 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-10 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-10 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-10 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-10 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-10.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}
/* DEMO 11 */

.wrapper-dropdown-11 {
    /* Size and position */
    position: relative;
    width: 109px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-11:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-11 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-11 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-11 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-11 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-11 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-11 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-11 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-11 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-11.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}


.wrapper-dropdown-12 {
    /* Size and position */
    position: relative;
    width: 109px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px ;
		height:15px;

    /* Styles */
    background: #fff;
   /* border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
		font-size:12px;
    /*outline: none;*/

    /* Font settings */
    
    color: #444;
}

.wrapper-dropdown-12:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2484C6 transparent;
}

.wrapper-dropdown-12 .dropdown {
  /* Size & position */
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
   
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
		z-index:100 !important;
}

.wrapper-dropdown-12 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
   /* border-style: solid;*/
    border-color: #fff ;    
}

.wrapper-dropdown-12 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
   /* border-style: solid;*/
    border-color: rgba(0,0,0,0.1) ;    
}

.wrapper-dropdown-12 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
   
}

.wrapper-dropdown-12 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-12 .dropdown li:first-of-type a {
    border-radius: 0px 0px 0 0;
}

.wrapper-dropdown-12 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 0 0;
}

/* Hover state */

.wrapper-dropdown-12 .dropdown li:hover a {
    background: #fff;
}

/* Active state */

.wrapper-dropdown-12.active .dropdown {
    opacity: 1;
    pointer-events: auto;
		z-index:1;
}
