@charset "utf-8";
.slider-container { width:980px; float:left; background-color:#415881; position:relative;  }

div.yoo-carousel {
	overflow: hidden;
}

div.yoo-carousel div.frame {
	position: relative;
	overflow: hidden;
}

div.yoo-carousel div.panel {
	overflow: hidden;
}

div.yoo-carousel div.panel div.slide {
	float: left;
	overflow: hidden;
	width: 980px;
}

div.yoo-carousel ul.tabs {
	padding: 0px;
	margin: auto;
	list-style: none;
	position:absolute;
	right:15px;
	bottom:15px;
}

div.yoo-carousel ul.tabs li { margin:0px 0px 0px 1px; padding:0px; list-style:none; float:left; overflow: hidden; }

div.default div.yoo-carousel { height: 347px;}

/* tabs */

div.default div.yoo-carousel div.top ul.tabs {
	margin: 0px;
	padding:0px;
}

div.default div.yoo-carousel div.top ul.tabs li {
	margin: 0px;
	padding:0px;
}


div.default div.yoo-carousel div.top ul.tabs li a { float:left; background:url(../images/smallIcons.png) left -8px no-repeat; }

div.default div.yoo-carousel div.top ul.tabs li.selected a {
	cursor: pointer;
	background:url(../images/smallIcons.png) left -8px no-repeat;
}

div.default div.yoo-carousel li a:link, div.default div.yoo-carousel li a:visited {
	float:left; color:#FFFFFF; background:url(../images/smallIcons.png) left -14px no-repeat; font-weight:bold;
}

div.default div.yoo-carousel li a:hover, div.default div.yoo-carousel li.selected a:link, div.default div.yoo-carousel li.selected a:visited {
	color: #FFFFFF;
	text-decoration: none;
	background:url(../images/smallIcons.png) left -29px no-repeat;
}


/* article */
div.default div.yoo-carousel .article {
	/*font-size: 11px;*/
	color:#FFFFFF
}

.article .slider-img0 {width:980px; float:left; background:url(../images/header/welcome.jpg) top left no-repeat; height:348px; }
.slider-img0 .txt-cont {width:auto; margin-top:73px; padding-left:43px; width:937px; color:#FFFFFF; }
.txt-cont p,.txt-cont h1 { font-size:12px; color:#ffffff; font-weight:normal; margin-top:15px!important; }

.article .slider-img1 {width:980px; float:left; background:url(../images/web-development.jpg) top right no-repeat; height:348px; }
.slider-img1 .txt-cont {width:auto; padding-left:35px; width:937px; color:#FFFFFF; margin-top:80px;}

.article .slider-img2 { width:980px; float:left; background:url(../images/xicom-business-outsourcing.jpg) top right no-repeat; height:348px; }
.slider-img2 .txt-cont { width:auto; margin-top:80px; padding-left:29px; width:937px; color:#FFFFFF;}

.article .slider-img3 { width:980px; float:left; background:url(../images/innovative-it-solutions.jpg) top right no-repeat; height:348px; }
.slider-img3 .txt-cont { width:auto; margin-top:80px; padding-left:40px; width:937px; color:#FFFFFF;}

.article .slider-img4 { width:980px; float:left; background:url(../images/xicom-focused.jpg) top right no-repeat; height:348px; }
.slider-img4 .txt-cont { width:auto; margin-top:78px; padding-left:37px; width:937px; color:#FFFFFF;}


.panel-container-br{ height: 347px;}
.panel-container{width: 980px;}
.belt{width: 4269px;}/* CSS Document */

