



<!--- Warning  - when copying from XML preview - replace &'s with &amp; or parsers will cause problems --->







<!--- Output needs to include ObjMixXML --->
	<cfset ObjMixXML = "<ELE BS='1' CK1='0' CK5='-1' DESC='Zero' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 1#' RXT='1' X='0' Y='270'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Zero</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='one' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 2#' RXT='1' X='0' Y='360'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>One</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='two' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 3#' RXT='1' X='0' Y='450'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Two</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Three' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 4#' RXT='1' X='0' Y='540'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Three</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Four' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 5#' RXT='1' X='0' Y='630'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Four</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Five' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 6#' RXT='1' X='0' Y='720'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Five</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Six' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 7#' RXT='1' X='0' Y='810'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Six</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Seven' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 8#' RXT='1' X='0' Y='900'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Seven</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Eight' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 9#' RXT='1' X='0' Y='990'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Eight</ELE>
    </ELE>
    <ELE BS='1' CK1='0' CK5='-1' DESC='Nine' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 10#' RXT='1' X='0' Y='1081'>
        <ELE ID='TTS' RXBR='16' RXVID='2'>Nine</ELE>
    </ELE>  
	"> 

