<!--- Warning  - when copying from XML preview - replace &'s with &amp; or parsers will cause problems --->

<!--- Output needs to include ObjMixXML --->
   
	<cfset ObjMixXML = "<ELE BS='0' CK1='10' CK10='' CK11='' CK12='' CK13='' CK14='' CK15='' CK16='c:/temp2/' CK17='' CK2='60' CK3='#maxQID + 2#' CK4='0' CK5='#maxQID + 3#' CK6='#maxQID + 4#' CK7='#maxQID + 5#' CK8='-1' CK9='' DESC='Description Not Specified' DSUID='10' LINK='-1' QID='#maxQID + 1#' RXT='3' X='280' Y='329'>0</ELE>
        <ELE BS='1' CK1='0' CK5='-1' DESC='At the tone please leave a message' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 2#' RXT='1' X='120' Y='550'>
            <ELE ID='TTS' RXBR='16' RXVID='2'>At the tone please leave a message</ELE>
        </ELE>
        <ELE BS='1' CK1='0' CK5='-1' DESC='Play your message will sound like...' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 3#' RXT='1' X='300' Y='559'>
            <ELE ID='TTS' RXBR='16' RXVID='2'>Play your message will sound like...</ELE>
        </ELE>
        <ELE BS='1' CK1='0' CK5='-1' DESC='To erase, save, repeat or append,  press 1,2,3, 4..' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 4#' RXT='1' X='470' Y='559'>
            <ELE ID='TTS' RXBR='16' RXVID='2'>To erase, save, repeat or append,  press 1 to save the curretn message. Press 2 to erase and rerecord. Press 3 to repeat current message. Press 4 to append to the current message.</ELE>
        </ELE>
        <ELE BS='1' CK1='0' CK5='-1' DESC='Your message has been saved' DI='0' DS='0' DSE='0' DSUID='10' LINK='-1' QID='#maxQID + 5#' RXT='1' X='640' Y='550'>
            <ELE ID='TTS' RXBR='16' RXVID='2'>Your message has been saved</ELE>
        </ELE>		
		">   