<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Customer Preference Portal</title>
        <!--- Google Analytics Code--->
		<script type="text/javascript">
			
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35693415-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
        </script>
    	<cfoutput>
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/jquery/jquery-1.7.2.min.js"></script>
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/jquery/jquery.alerts.js"></script>
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/jquery/jquery.form.js"></script>
	        <script type="text/javascript" src="#rootUrl#/#publicPath#/js/jquery/jquery.jgrowl.js"></script>
	        <script type="text/javascript" src="#rootUrl#/#publicPath#/js/jquery/jquery.form.js"></script>
	        <script type="text/javascript" src="#rootUrl#/#publicPath#/js/jquery/jgrowl-theme.js"></script>
            <script language="javascript" src="#rootUrl#/#publicPath#/js/jquery/jquery.tmpl.min.js"></script> 
	        <script language="javascript" src="#rootUrl#/#publicPath#/js/mask-phone-date/wddx.js"></script>
			<script language="javascript" src="#rootUrl#/#publicPath#/js/mask-phone-date/input-mask.js"></script>
			<script src="#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/ui/jquery.ui.core.js" type="text/javascript"></script>
			<script src="#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/ui/jquery.ui.widget.js" type="text/javascript"></script>
			<script src="#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/ui/jquery.ui.position.js" type="text/javascript"></script>
			<script src="#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/ui/jquery.ui.selectmenu.js" type="text/javascript"></script>
			<script src="#rootUrl#/#PublicPath#/js/jquery/custominput.jquery.js" type="text/javascript"></script>
			 <style>		
	           	@import url('#rootUrl#/#publicPath#/css/jquery-ui-1.8.7.custom.css');
				@import url('#rootUrl#/#publicPath#/css/cpp.css');
				@import url('#rootUrl#/#publicPath#/css/style.css');
				@import url('#rootUrl#/#publicPath#/css/popup.css');
	            @import url('#rootUrl#/#publicPath#/css/jquery.alerts.css');
	            @import url('#rootUrl#/#publicPath#/css/jquery.jgrowl.css');
				@import url('#rootUrl#/#publicPath#/css/jquery.selectbox.css') all;
				@import url('#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/themes/base/jquery.ui.core.css') all;	
				@import url('#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/themes/base/jquery.ui.theme.css') all;	
				@import url('#rootUrl#/#PublicPath#/css/jquery.fnagel.ui/themes/base/jquery.ui.selectmenu.css') all;
				@import url('#rootUrl#/#PublicPath#/css/style4.css') all;	
				@import url('#rootUrl#/#publicPath#/css/btn.css');
		    </style>	
		
			<script type="text/javascript" src="#rootUrl#/#publicPath#/js/custominput.jquery.js"></script>
		<!---<link  type="text/css" rel="stylesheet" href="#rootUrl#/#publicPath#/css/list.css" />--->
    
    </cfoutput>
    
    
    </head> 