---
layout: default
title: Customize and download
slug: customize
lead: Customize Bootstrap's components, LESS variables, and jQuery plugins to get your very own version.
base_url: "../"
---

<!-- Customizer form -->
<form class="bs-customizer" role="form">
  <div class="bs-docs-section" id="less-section">
    <div class="page-header">
      <button class="btn btn-default toggle" type="button">Toggle all</button>
      <h1 id="less">LESS files</h1>
    </div>
    <p class="lead">Choose which LESS files to compile into your custom build of Bootstrap. Not sure which files to use? Read through the <a href="../css/">CSS</a> and <a href="../components/">Components</a> pages in the docs.</p>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <h3>Common CSS</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="print.less">
            Print media styles
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="type.less">
            Typography
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="code.less">
            Code
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="grid.less">
            Grid system
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="tables.less">
            Tables
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="forms.less" data-dependents="navbar.less,input-groups.less">
            Forms
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="buttons.less">
            Buttons
          </label>
        </div>
      </div><!-- .col-xs-6 .col-sm-4 -->

      <div class="col-xs-6 col-sm-4">
        <h3>Components</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="glyphicons.less">
            Glyphicons
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="button-groups.less" data-dependency="buttons.less">
            Button groups
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="input-groups.less" data-dependency="forms.less">
            Input groups
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="navs.less" data-dependents="navbar.less">
            Navs
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="navbar.less" data-dependencies="forms.less,utilities.less,navs.less">
            Navbar
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="breadcrumbs.less">
            Breadcrumbs
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="pagination.less">
            Pagination
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="pager.less">
            Pager
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="labels.less">
            Labels
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="badges.less">
            Badges
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="jumbotron.less">
            Jumbotron
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="thumbnails.less">
            Thumbnails
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="alerts.less">
            Alerts
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="progress-bars.less">
            Progress bars
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="media.less">
            media items
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="list-group.less">
            List groups
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="panels.less">
            Panels
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="wells.less">
            Wells
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="close.less">
            Close icon
          </label>
        </div>
      </div><!-- .col-xs-6 .col-sm-4 -->

      <div class="col-xs-6 col-sm-4">
        <h3>JavaScript components</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="dropdowns.less">
            Dropdowns
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="tooltip.less">
            Tooltips
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="popovers.less">
            Popovers
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="modals.less">
            Modals
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="carousel.less">
            Carousel
          </label>
        </div>

        <h3>Utilities</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="utilities.less" data-dependents="navbar.less">
            Basic utilities
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="responsive-utilities.less">
            Responsive utilities
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="component-animations.less">
            Component animations (for JS)
          </label>
        </div>
      </div><!-- .col-xs-6 .col-sm-4 -->
    </div><!-- /.row -->
  </div>



  <div class="bs-docs-section" id="plugin-section">
    <div class="page-header">
      <button class="btn btn-default toggle" type="button">Toggle all</button>
      <h1 id="plugins">jQuery plugins</h1>
    </div>
    <p class="lead">Choose which jQuery plugins should be included in your custom JavaScript files. Unsure what to include? Read the <a href="../javascript/">JavaScript</a> page in the docs.</p>
    <div class="row">
      <div class="col-lg-6">
        <h4>Linked to components</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="alert.js">
            Alert dismissal
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="button.js">
            Advanced buttons
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="carousel.js">
            Carousel functionality
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="dropdown.js">
            Dropdowns
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="modal.js">
            Modals
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="tooltip.js">
            Tooltips
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="popover.js" data-dependency="tooltip.js">
            Popovers <small>(requires Tooltips)</small>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="tab.js">
            Togglable tabs
          </label>
        </div>
      </div>
      <div class="col-lg-6">
        <h4>Magic</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="affix.js">
            Affix
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="collapse.js">
            Collapse
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="scrollspy.js">
            Scrollspy
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked value="transition.js">
            Transitions <small>(required for any kind of animation)</small>
          </label>
        </div>
      </div>
    </div>

    <div class="bs-callout bs-callout-info">
      <h4>Produces two files</h4>
      <p>All checked plugins will be compiled into a readable <code>bootstrap.js</code> and a minified <code>bootstrap.min.js</code>. We recommend you use the minified version in production.</p>
    </div>

    <div class="bs-callout bs-callout-danger">
      <h4>jQuery required</h4>
      <p>All plugins require the latest version of <a href="http://jquery.com/" target="_blank">jQuery</a> to be included.</p>
    </div>
  </div>



  <div class="bs-docs-section" id="less-variables-section">
    <div class="page-header">
      <button class="btn btn-default toggle" type="button">Reset to defaults</button>
      <h1 id="less-variables">LESS variables</h1>
    </div>
    <p class="lead">Customize LESS variables to define colors, sizes and more inside your custom CSS stylesheets.</p>

    <h2 id="variables-basics">Basics</h2>


    <h3>Color system</h3>
    <div class="row">
      <div class="col-md-6">
        <label>@brand-primary</label>
        <input type="text" class="form-control" placeholder="#428bca" data-var="@brand-primary">
        <label>@brand-success</label>
        <input type="text" class="form-control" placeholder="#5cb85c" data-var="@brand-success">
        <label>@brand-warning</label>
        <input type="text" class="form-control" placeholder="#f0ad4e" data-var="@brand-warning">
      </div>
      <div class="col-md-6">
        <label>@brand-danger</label>
        <input type="text" class="form-control" placeholder="#d9534f" data-var="@brand-danger">
        <label>@brand-info</label>
        <input type="text" class="form-control" placeholder="#5bc0de" data-var="@brand-info">
      </div>
    </div>


    <h3>Body scaffolding</h3>
    <div class="row">
      <div class="col-md-6">
        <label>@body-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@body-bg">
        <p class="help-block">Background color for <code>&lt;body&gt;</code>.</p>
        <label>@text-color</label>
        <input type="text" class="form-control" placeholder="@gray-dark" data-var="@text-color">
        <p class="help-block">Global text color on <code>&lt;body&gt;</code>.</p>
      </div>
      <div class="col-md-6">
        <label>@link-color</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@link-color">
        <p class="help-block">Global textual link color</p>
        <label>@link-hover-color</label>
        <input type="text" class="form-control" placeholder="darken(@link-color, 15%)" data-var="@link-hover-color">
        <p class="help-block">Link hover color set via <code>darken()</code> function</p>
      </div>
    </div>


    <h3>Typography</h3>
    <div class="row">
      <div class="col-lg-6">
        <h4>generic font variables</h4>
        <label>@font-family-sans-serif</label>
        <input type="text" class="form-control" placeholder="'Helvetica Neue', Helvetica, Arial, sans-serif" data-var="@font-family-sans-serif">
        <p class="help-block">Default sans-serif fonts.</p>
        <label>@font-family-serif</label>
        <input type="text" class="form-control" placeholder="Georgia, 'Times New Roman', Times, serif" data-var="@font-family-serif">
        <p class="help-block">Default serif fonts.</p>
        <label>@font-family-monospace</label>
        <input type="text" class="form-control" placeholder="Monaco, Menlo, Consolas, 'Courier New', monospace" data-var="@font-family-monospace">
        <p class="help-block">Default monospace fonts for <code>&lt;code&gt;</code> and <code>&lt;pre&gt;</code>.</p>

        <h4>Base type styes</h4>
        <label>@font-family-base</label>
        <input type="text" class="form-control" placeholder="@font-family-sans-serif" data-var="@font-family-base">
        <label>@font-size-base</label>
        <input type="text" class="form-control" placeholder="14px" data-var="@font-size-base">
        <label>@line-height-base</label>
        <input type="text" class="form-control" placeholder="1.428571429" data-var="@line-height-base">
        <label>@line-height-large</label>
        <input type="text" class="form-control" placeholder="1.33" data-var="@line-height-large">
        <label>@line-height-small</label>
        <input type="text" class="form-control" placeholder="1.5" data-var="@line-height-small">
      </div>
      <div class="col-lg-6">
        <h4>Heading font sizes</h4>
        <label>@font-size-h1</label>
        <input type="text" class="form-control" placeholder="floor(@font-size-base * 2.6)" data-var="@font-size-h1">
        <label>@font-size-h2</label>
        <input type="text" class="form-control" placeholder="floor(@font-size-base * 2.15)" data-var="@font-size-h2">
        <label>@font-size-h3</label>
        <input type="text" class="form-control" placeholder="ceil(@font-size-base * 1.7)" data-var="@font-size-h3">
        <label>@font-size-h4</label>
        <input type="text" class="form-control" placeholder="ceil(@font-size-base * 1.25)" data-var="@font-size-h4">
        <label>@font-size-h5</label>
        <input type="text" class="form-control" placeholder="@font-size-base" data-var="@font-size-h5">
        <label>@font-size-h6</label>
        <input type="text" class="form-control" placeholder="ceil(@font-size-base * 0.85)" data-var="@font-size-h6">
      </div>
    </div>


    <h3>Headings</h3>
    <div class="row">
      <div class="col-lg-6">
        <label>@headings-font-family</label>
        <input type="text" class="form-control" placeholder="@font-family-base" data-var="@headings-font-family">
        <label>@headings-font-weight</label>
        <input type="text" class="form-control" placeholder="500" data-var="@headings-font-weight">
      </div>
      <div class="col-lg-6">
        <label>@headings-line-height</label>
        <input type="text" class="form-control" placeholder="1.1" data-var="@headings-line-height">
        <label>@headings-color</label>
        <input type="text" class="form-control" placeholder="inherit" data-var="@headings-color">
      </div>
    </div>


    <h3>Code blocks</h3>
    <div class="row">
      <div class="col-lg-6">
        <label>@code-color</label>
        <input type="text" class="form-control" placeholder="#c7254e" data-var="@code-color">
        <label>@code-bg</label>
        <input type="text" class="form-control" placeholder="#f9f2f4" data-var="@code-bg">
      </div>
      <div class="col-lg-6">
        <label>@pre-color</label>
        <input type="text" class="form-control" placeholder="@gray-dark" data-var="@pre-color">
        <label>@pre-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@pre-bg">
        <label>@pre-border-color</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@pre-border-color">
      </div>
    </div>


    <h3>media queries breakpoints</h3>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <label>@screen-xs-min</label>
        <input type="text" class="form-control" placeholder="480px" data-var="@screen-xs-min">
      </div>
      <div class="col-xs-6 col-md-3">
        <label>@screen-sm-min</label>
        <input type="text" class="form-control" placeholder="768px" data-var="@screen-sm-min">
      </div>
      <div class="col-xs-6 col-md-3">
        <label>@screen-md-min</label>
        <input type="text" class="form-control" placeholder="992px" data-var="@screen-md-min">
      </div>
      <div class="col-xs-6 col-md-3">
        <label>@screen-lg-min</label>
        <input type="text" class="form-control" placeholder="1200px" data-var="@screen-lg-min">
      </div>
    </div>

    <h3>Layout and grid system</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <label>@container-sm</label>
        <input type="text" class="form-control" placeholder="((720px + @grid-gutter-width))" data-var="@container-sm">
        <p class="help-block">For <code>@screen-sm-min</code> and up.</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <label>@container-md</label>
        <input type="text" class="form-control" placeholder="((940px + @grid-gutter-width))" data-var="@container-md">
        <p class="help-block">For <code>@screen-md-min</code> and up.</p>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-4">
        <label>@container-lg</label>
        <input type="text" class="form-control" placeholder="((1140px + @grid-gutter-width))" data-var="@container-lg">
        <p class="help-block">For <code>@screen-lg-min</code> and up.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <label>@grid-columns</label>
        <input type="text" class="form-control" placeholder="12" data-var="@grid-columns">
        <p class="help-block">Number of columns in the grid.</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <label>@grid-gutter-width</label>
        <input type="text" class="form-control" placeholder="30px" data-var="@grid-gutter-width">
        <p class="help-block">Padding between columns.</p>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-4">
        <label>@grid-float-breakpoint</label>
        <input type="text" class="form-control" placeholder="@screen-sm-min" data-var="@grid-float-breakpoint">
        <p class="help-block">Point at which the navbar stops collapsing.</p>
      </div>
    </div>


    <h3>Components</h3>

    <h4>Padding</h4>
    <div class="row">
      <div class="col-md-4">
        <label>@padding-base-vertical</label>
        <input type="text" class="form-control" placeholder="6px" data-var="@padding-base-vertical">
        <label>@padding-base-horizontal</label>
        <input type="text" class="form-control" placeholder="12px" data-var="@padding-base-horizontal">
      </div>
      <div class="col-md-4">
        <label>@padding-large-vertical</label>
        <input type="text" class="form-control" placeholder="10px" data-var="@padding-large-vertical">
        <label>@padding-large-horizontal</label>
        <input type="text" class="form-control" placeholder="16px" data-var="@padding-large-horizontal">
      </div>
      <div class="col-md-4">
        <label>@padding-small-vertical</label>
        <input type="text" class="form-control" placeholder="5px" data-var="@padding-small-vertical">
        <label>@padding-small-horizontal</label>
        <input type="text" class="form-control" placeholder="10px" data-var="@padding-small-horizontal">
      </div>
    </div>

    <h4>Rounded corners</h4>
    <div class="row">
      <div class="col-md-4">
        <label>@border-radius-base</label>
        <input type="text" class="form-control" placeholder="4px" data-var="@border-radius-base">
      </div>
      <div class="col-md-4">
        <label>@border-radius-large</label>
        <input type="text" class="form-control" placeholder="6px" data-var="@border-radius-large">
      </div>
      <div class="col-md-4">
        <label>@border-radius-small</label>
        <input type="text" class="form-control" placeholder="3px" data-var="@border-radius-small">
      </div>
    </div>

    <h4>Component active state</h4>
    <div class="row">
      <div class="col-md-6">
        <label>@component-active-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@component-active-color">
        <p class="help-block">Global color for active items (e.g., navs or dropdowns)</p>
      </div>
      <div class="col-md-6">
        <label>@component-active-bg</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@component-active-bg">
        <p class="help-block">Global background color for active items (e.g., navs or dropdowns)</p>
      </div>
    </div>

    <h4>Carets</h4>
    <div class="row">
      <div class="col-md-6">
        <label>@caret-width-base</label>
        <input type="text" class="form-control" placeholder="4px" data-var="@caret-width-base">
      </div>
      <div class="col-md-6">
        <label>@caret-width-large</label>
        <input type="text" class="form-control" placeholder="5px" data-var="@caret-width-large">
      </div>
    </div>


    <h2 id="variables-buttons">Buttons</h2>
    <div class="row">
      <div class="col-md-6">
        <label>@btn-font-weight</label>
        <input type="text" class="form-control" placeholder="normal" data-var="@btn-font-weight">
      </div>
      <div class="col-md-6">
        <label>@btn-link-disabled-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@btn-link-disabled-color">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Default</h4>
        <label>@btn-default-color</label>
        <input type="text" class="form-control" placeholder="#333" data-var="@btn-default-color">
        <label>@btn-default-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@btn-default-bg">
        <label>@btn-default-border</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@btn-default-border">
        <h4>Primary</h4>
        <label>@btn-primary-color</label>
        <input type="text" class="form-control" placeholder="@btn-default-color" data-var="@btn-primary-color">
        <label>@btn-primary-bg</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@btn-primary-bg">
        <label>@btn-primary-border</label>
        <input type="text" class="form-control" placeholder="darken(@btn-primary-bg, 5%)" data-var="@btn-primary-border">
        <h4>Info</h4>
        <label>@btn-info-color</label>
        <input type="text" class="form-control" placeholder="@btn-default-color" data-var="@btn-info-color">
        <label>@btn-info-bg</label>
        <input type="text" class="form-control" placeholder="@brand-info" data-var="@btn-info-bg">
        <label>@btn-info-border</label>
        <input type="text" class="form-control" placeholder="darken(@btn-info-bg, 5%)" data-var="@btn-info-border">
      </div>
      <div class="col-md-6">
        <h4>Success</h4>
        <label>@btn-success-color</label>
        <input type="text" class="form-control" placeholder="@btn-default-color" data-var="@btn-success-color">
        <label>@btn-success-bg</label>
        <input type="text" class="form-control" placeholder="@brand-success" data-var="@btn-success-bg">
        <label>@btn-success-border</label>
        <input type="text" class="form-control" placeholder="darken(@btn-success-bg, 5%);" data-var="@btn-success-border">
        <h4>Warning</h4>
        <label>@btn-warning-color</label>
        <input type="text" class="form-control" placeholder="@btn-default-color" data-var="@btn-warning-color">
        <label>@btn-warning-bg</label>
        <input type="text" class="form-control" placeholder="@brand-warning" data-var="@btn-warning-bg">
        <label>@btn-warning-border</label>
        <input type="text" class="form-control" placeholder=" darken(@btn-warning-bg, 5%)" data-var="@btn-warning-border">
        <h4>Danger</h4>
        <label>@btn-danger-color</label>
        <input type="text" class="form-control" placeholder="@btn-default-color" data-var="@btn-danger-color">
        <label>@btn-danger-bg</label>
        <input type="text" class="form-control" placeholder="@brand-danger" data-var="@btn-danger-bg">
        <label>@btn-danger-border</label>
        <input type="text" class="form-control" placeholder="darken(@btn-danger-bg, 5%)" data-var="@btn-danger-border">
      </div>
    </div>


    <h2 id="variables-form-states">Form states and alerts</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Success</h4>
        <label>@state-success-text</label>
        <input type="text" class="form-control" placeholder="#468847" data-var="@state-success-text">
        <label>@state-success-bg</label>
        <input type="text" class="form-control" placeholder="#dff0d8" data-var="@state-success-bg">
        <label>@state-success-border</label>
        <input type="text" class="form-control" placeholder="darken(spin(@state-success-bg, -10), 5%)" data-var="@state-success-border">
        <h4>Warning</h4>
        <label>@state-warning-text</label>
        <input type="text" class="form-control" placeholder="#c09853" data-var="@state-warning-text">
        <label>@state-warning-bg</label>
        <input type="text" class="form-control" placeholder="#fcf8e3" data-var="@state-warning-bg">
        <label>@state-warning-border</label>
        <input type="text" class="form-control" placeholder="darken(spin(@state-warning-bg, -10), 3%)" data-var="@state-warning-border">
      </div>
      <div class="col-md-6">
        <h4>Danger</h4>
        <label>@state-danger-text</label>
        <input type="text" class="form-control" placeholder="#b94a48" data-var="@state-danger-text">
        <label>@state-danger-bg</label>
        <input type="text" class="form-control" placeholder="#f2dede" data-var="@state-danger-bg">
        <label>@state-danger-border</label>
        <input type="text" class="form-control" placeholder="darken(spin(@state-danger-bg, -10), 3%)" data-var="@state-danger-border">
        <h4>Info</h4>
        <label>@state-info-text</label>
        <input type="text" class="form-control" placeholder="#3a87ad" data-var="@state-info-text">
        <label>@state-info-bg</label>
        <input type="text" class="form-control" placeholder="#d9edf7" data-var="@state-info-bg">
        <label>@state-info-border</label>
        <input type="text" class="form-control" placeholder="darken(spin(@state-info-bg, -10), 7%)" data-var="@state-info-border">
      </div>
    </div>


    <h2 id="variables-alerts">Alerts</h2>

    <h4>Base styles</h4>
    <div class="row">
      <div class="col-md-4">
        <label>@alert-padding</label>
        <input type="text" class="form-control" placeholder="15px" data-var="@alert-padding">
      </div>
      <div class="col-md-4">
        <label>@alert-border-radius</label>
        <input type="text" class="form-control" placeholder="@border-radius-base" data-var="@alert-border-radius">
      </div>
      <div class="col-md-4">
        <label>@alert-link-font-weight</label>
        <input type="text" class="form-control" placeholder="bold" data-var="@alert-link-font-weight">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h4>Warning</h4>
        <label>@alert-warning-text</label>
        <input type="text" class="form-control" placeholder="@state-warning-text" data-var="@alert-warning-text">
        <label>@alert-warning-bg</label>
        <input type="text" class="form-control" placeholder="@state-warning-bg" data-var="@alert-warning-bg">
        <label>@alert-warning-border</label>
        <input type="text" class="form-control" placeholder="@state-warning-border" data-var="@alert-warning-border">

        <h4>Success</h4>
        <label>@alert-success-text</label>
        <input type="text" class="form-control" placeholder="@state-success-text" data-var="@alert-success-text">
        <label>@alert-success-bg</label>
        <input type="text" class="form-control" placeholder="@state-success-bg" data-var="@alert-success-bg">
        <label>@alert-success-border</label>
        <input type="text" class="form-control" placeholder="@state-success-border" data-var="@alert-success-border">
      </div>
      <div class="col-lg-6">
        <h4>Danger</h4>
        <label>@alert-danger-text</label>
        <input type="text" class="form-control" placeholder="@state-danger-text" data-var="@alert-danger-text">
        <label>@alert-danger-bg</label>
        <input type="text" class="form-control" placeholder="@state-danger-bg" data-var="@alert-danger-bg">
        <label>@alert-danger-border</label>
        <input type="text" class="form-control" placeholder="@state-danger-border" data-var="@alert-danger-border">

        <h4>Info</h4>
        <label>@alert-info-text</label>
        <input type="text" class="form-control" placeholder="@state-info-text" data-var="@alert-info-text">
        <label>@alert-info-bg</label>
        <input type="text" class="form-control" placeholder="@state-info-bg" data-var="@alert-info-bg">
        <label>@alert-info-border</label>
        <input type="text" class="form-control" placeholder="@state-info-border" data-var="@alert-info-border">
      </div>
    </div>


    <h2 id="variables-navbar">Navbar</h2>

    <h3>Base styles</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@navbar-height</label>
        <input type="text" class="form-control" placeholder="50px" data-var="@navbar-height">
        <label>@navbar-margin-bottom</label>
        <input type="text" class="form-control" placeholder="@line-height-computed" data-var="@navbar-margin-bottom">
      </div>
      <div class="col-md-4">
        <label>@navbar-padding-horizontal</label>
        <input type="text" class="form-control" placeholder="floor(@grid-gutter-width / 2)" data-var="@navbar-padding-horizontal">
        <label>@navbar-padding-vertical</label>
        <input type="text" class="form-control" placeholder="((@navbar-height - @line-height-computed) / 2)" data-var="@@navbar-padding-vertical">
      </div>
      <div class="col-md-4">
        <label>@navbar-border-radius</label>
        <input type="text" class="form-control" placeholder="@border-radius-base" data-var="@navbar-border-radius">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3>Default navbar</h3>
        <h4>Basics</h4>
        <label>@navbar-default-color</label>
        <input type="text" class="form-control" placeholder="#777" data-var="@navbar-default-color">
        <label>@navbar-default-bg</label>
        <input type="text" class="form-control" placeholder="#f8f8f8" data-var="@navbar-default-bg">
        <label>@navbar-default-border</label>
        <input type="text" class="form-control" placeholder="darken(@navbar-default-bg, 6.5%)" data-var="@navbar-default-border">

        <h4>Links</h4>
        <label>@navbar-default-link-color</label>
        <input type="text" class="form-control" placeholder="#777" data-var="@navbar-default-link-color">
        <label>@navbar-default-link-hover-color</label>
        <input type="text" class="form-control" placeholder="#333" data-var="@navbar-default-link-hover-color">
        <label>@navbar-default-link-hover-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@navbar-default-link-hover-bg">
        <label>@navbar-default-link-active-color</label>
        <input type="text" class="form-control" placeholder="#555" data-var="@navbar-default-link-active-color">
        <label>@navbar-default-link-active-bg</label>
        <input type="text" class="form-control" placeholder="darken(@navbar-default-bg, 6.5%)" data-var="@navbar-default-link-active-bg">
        <label>@navbar-default-link-disabled-color</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@navbar-default-link-disabled-color">
        <label>@navbar-default-link-disabled-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@navbar-default-link-disabled-bg">

        <h4>Brand</h4>
        <label>@navbar-default-brand-color</label>
        <input type="text" class="form-control" placeholder="@navbar-default-link-color" data-var="@navbar-default-brand-color">
        <label>@navbar-default-brand-hover-color</label>
        <input type="text" class="form-control" placeholder="darken(@navbar-default-brand-color, 10%)" data-var="@navbar-default-brand-hover-color">
        <label>@navbar-default-brand-hover-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@navbar-default-brand-hover-bg">

        <h4>Toggle</h4>
        <label>@navbar-default-toggle-hover-bg</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@navbar-default-toggle-hover-bg">
        <label>@navbar-default-toggle-icon-bar-bg</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@navbar-default-toggle-icon-bar-bg">
        <label>@navbar-default-toggle-border-color</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@navbar-default-toggle-border-color">
      </div>

      <div class="col-lg-6">
        <h3>Inverted navbar</h3>

        <h4>Basics</h4>
        <label>@navbar-inverse-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@navbar-inverse-color">
        <label>@navbar-inverse-bg</label>
        <input type="text" class="form-control" placeholder="#222" data-var="@navbar-inverse-bg">
        <label>@navbar-inverse-border</label>
        <input type="text" class="form-control" placeholder="darken(@navbar-inverse-bg, 10%)" data-var="@navbar-inverse-border">

        <h4>Links</h4>
        <label>@navbar-inverse-link-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@navbar-inverse-link-color">
        <label>@navbar-inverse-link-hover-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@navbar-inverse-link-hover-color">
        <label>@navbar-inverse-link-hover-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@navbar-inverse-link-hover-bg">
        <label>@navbar-inverse-link-active-color</label>
        <input type="text" class="form-control" placeholder="@navbar-inverse-link-hover-color" data-var="@navbar-inverse-link-active-color">
        <label>@navbar-inverse-link-active-bg</label>
        <input type="text" class="form-control" placeholder="darken(@navbar-inverse-bg, 10%)" data-var="@navbar-inverse-link-active-bg">
        <label>@navbar-inverse-link-disabled-color</label>
        <input type="text" class="form-control" placeholder="#444" data-var="@navbar-inverse-link-disabled-color">
        <label>@navbar-inverse-link-disabled-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@navbar-inverse-link-disabled-bg">

        <h4>Brand</h4>
        <label>@navbar-inverse-brand-color</label>
        <input type="text" class="form-control" placeholder="@navbar-inverse-link-color" data-var="@navbar-inverse-brand-color">
        <label>@navbar-inverse-brand-hover-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@navbar-inverse-brand-hover-color">
        <label>@navbar-inverse-brand-hover-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@navbar-inverse-brand-hover-bg">

        <h4>Toggle</h4>
        <label>@navbar-inverse-toggle-hover-bg</label>
        <input type="text" class="form-control" placeholder="#333" data-var="@navbar-inverse-toggle-hover-bg">
        <label>@navbar-inverse-toggle-icon-bar-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@navbar-inverse-toggle-icon-bar-bg">
        <label>@navbar-inverse-toggle-border-color</label>
        <input type="text" class="form-control" placeholder="#333" data-var="@navbar-inverse-toggle-border-color">
      </div>
    </div>


    <h2 id="variables-nav">Nav</h2>

    <h3>Default nav</h3>
    <div class="row">
      <div class="col-lg-6">
        <h4>Common values</h4>
        <label>@nav-link-padding</label>
        <input type="text" class="form-control" placeholder="10px 15px" data-var="@nav-link-padding">
        <label>@nav-link-hover-bg</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@nav-link-hover-bg">
        <label>@nav-disabled-link-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@nav-disabled-link-color">
        <label>@nav-disabled-link-hover-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@nav-disabled-link-hover-color">
        <label>@nav-open-link-hover-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@nav-open-link-hover-color">
        <label>@nav-open-caret-border-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@nav-open-caret-border-color">

        <h4>Pills</h4>
        <label>@nav-pills-active-link-hover-color</label>
        <input type="text" class="form-control" placeholder="@fff" data-var="@nav-pills-active-link-hover-color">
        <label>@nav-pills-active-link-hover-bg</label>
        <input type="text" class="form-control" placeholder="@component-active-bg" data-var="@nav-pills-active-link-hover-bg">
      </div>
      <div class="col-lg-6">
        <h4>Tabs</h4>
        <label>@nav-tabs-border-color</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@nav-tabs-border-color">
        <label>@nav-tabs-link-hover-border-color</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@nav-tabs-link-hover-border-color">
        <label>@nav-tabs-active-link-hover-color</label>
        <input type="text" class="form-control" placeholder="@gray" data-var="@nav-tabs-active-link-hover-color">
        <label>@nav-tabs-active-link-hover-bg</label>
        <input type="text" class="form-control" placeholder="@body-bg" data-var="@nav-tabs-active-link-hover-bg">
        <label>@nav-tabs-active-link-hover-border-color</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@nav-tabs-active-link-hover-border-color">
        <label>@nav-tabs-justified-link-border-color</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@nav-tabs-justified-link-border-color">
        <label>@nav-tabs-justified-active-link-border-color</label>
        <input type="text" class="form-control" placeholder="@body-bg" data-var="@nav-tabs-justified-active-link-border-color">
      </div>
    </div>


    <h2 id="variables-tables">Tables</h2>
    <div class="row">
      <div class="col-md-4">
        <label>@table-cell-padding</label>
        <input type="text" class="form-control" placeholder="8px" data-var="@table-cell-padding">
        <p class="help-block">Default padding for <code>&lt;th&gt;</code>s and <code>&lt;td&gt;</code>s</p>
        <label>@table-condensed-cell-padding</label>
        <input type="text" class="form-control" placeholder="5px" data-var="@table-condensed-cell-padding">
        <p class="help-block">Default padding cells in <code>.table-condensed</code></p>
      </div>
      <div class="col-md-4">
        <label>@table-bg</label>
        <input type="text" class="form-control" placeholder="transparent" data-var="@table-bg">
        <p class="help-block">Default background color used for all tables.</p>
        <label>@table-bg-accent</label>
        <input type="text" class="form-control" placeholder="#f9f9f9" data-var="@table-bg-accent">
        <p class="help-block">Background color used for <code>.table-striped</code>.</p>
      </div>
      <div class="col-md-4">
        <label>@table-bg-hover</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@table-bg-hover">
        <p class="help-block">Background color used for <code>.table-hover</code>.</p>
        <label>@table-border-color</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@table-border-color">
        <p class="help-block">Border color for table and cell borders.</p>
      </div>
    </div>


    <h2 id="variables-forms">Forms</h2>

    <h3>Inputs</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@input-color</label>
        <input type="text" class="form-control" placeholder="@gray" data-var="@input-color">
        <p class="help-block">Text color for <code>&lt;input&gt;</code>s</p>
        <label>@input-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@input-bg">
        <p class="help-block"><code>&lt;input&gt;</code> background color</p>
      </div>
      <div class="col-md-4">
        <label>@input-border</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@input-border">
        <p class="help-block"><code>&lt;input&gt;</code> border color</p>
        <label>@input-border-radius</label>
        <input type="text" class="form-control" placeholder="@border-radius-base" data-var="@input-border-radius">
        <p class="help-block"><code>&lt;input&gt;</code> border radius</p>
      </div>
      <div class="col-md-4">
        <label>@input-color-placeholder</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@input-color-placeholder">
        <p class="help-block">Placeholder text color</p>
      </div>
    </div>

    <h3>Input states</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@input-border-focus</label>
        <input type="text" class="form-control" placeholder="#66afe9" data-var="@input-border-focus">
        <p class="help-block">Border color for inputs on focus</p>
      </div>
      <div class="col-md-4">
        <label>@input-bg-disabled</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@input-bg-disabled">
        <p class="help-block"><code>&lt;input disabled&gt;</code> background color</p>
      </div>
    </div>

    <h3>Input sizes</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@input-height-base</label>
        <input type="text" class="form-control" placeholder="(@line-height-computed + (@padding-base-vertical * 2) + 2)" data-var="@input-height-base">
        <p class="help-block">Default <code>.form-control</code> height</p>
      </div>
      <div class="col-md-4">
        <label>@input-height-large</label>
        <input type="text" class="form-control" placeholder="(floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2)" data-var="@input-height-large">
        <p class="help-block">Large <code>.form-control</code> height</p>
      </div>
      <div class="col-md-4">
        <label>@input-height-small</label>
        <input type="text" class="form-control" placeholder="(floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2)" data-var="@input-height-small">
        <p class="help-block">Small <code>.form-control</code> height</p>
      </div>
    </div>

    <h3>Legend</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@legend-color</label>
        <input type="text" class="form-control" placeholder="@gray-dark" data-var="@legend-color">
      </div>
      <div class="col-md-4">
        <label>@legend-border-color</label>
        <input type="text" class="form-control" placeholder="#e5e5e5" data-var="@legend-border-color">
      </div>
    </div>

    <h3>Input groups</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@input-group-addon-bg</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@input-group-addon-bg">
        <p class="help-block">Background color for textual input addons</p>
      </div>
      <div class="col-md-4">
        <label>@input-group-addon-border-color</label>
        <input type="text" class="form-control" placeholder="@input-border" data-var="@input-group-addon-border-color">
        <p class="help-block">Border color for textual input addons</p>
      </div>
    </div>


    <h2 id="variables-dropdowns">Dropdowns</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Dropdown menu</h3>
        <label>@dropdown-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@dropdown-bg">
        <p class="help-block">Dropdown menu background color</p>
        <label>@dropdown-border</label>
        <input type="text" class="form-control" placeholder="rgba(0,0,0,.15)" data-var="@dropdown-border">
        <p class="help-block">Dropdown menu border color</p>
        <label>@dropdown-fallback-border</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@dropdown-fallback-border">
        <p class="help-block">Dropdown menu border color <strong>for IE8</strong></p>
        <label>@dropdown-caret-color</label>
        <input type="text" class="form-control" placeholder="@dropdown-caret-color" data-var="@dropdown-caret-color">
        <p class="help-block">Indicator arrow for showing an element has a dropdown</p>
        <label>@dropdown-divider-bg</label>
        <input type="text" class="form-control" placeholder="#e5e5e5" data-var="@dropdown-divider-bg">
        <p class="help-block">Dropdown divider top border color</p>
        <label>@dropdown-header-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@dropdown-header-color">
        <p class="help-block">Text color for headers within dropdown menus</p>
      </div>
      <div class="col-md-6">
        <h3>Dropdown items</h3>
        <label>@dropdown-link-color</label>
        <input type="text" class="form-control" placeholder="@gray-dark" data-var="@dropdown-link-color">
        <p class="help-block">Dropdown text color</p>

        <label>@dropdown-link-hover-color</label>
        <input type="text" class="form-control" placeholder="darken(@dropdown-link-color, 5%)" data-var="@dropdown-link-hover-color">
        <p class="help-block">Hovered dropdown menu entry text color</p>
        <label>@dropdown-link-hover-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@dropdown-link-hover-bg">
        <p class="help-block">Hovered dropdown menu entry text color</p>

        <label>@dropdown-link-active-color</label>
        <input type="text" class="form-control" placeholder="@component-active-color" data-var="@dropdown-link-active-color">
        <p class="help-block">Active dropdown menu entry text color</p>
        <label>@dropdown-link-active-bg</label>
        <input type="text" class="form-control" placeholder="@component-active-bg" data-var="@dropdown-link-active-bg">
        <p class="help-block">Active dropdown menu entry background color</p>

        <label>@dropdown-link-disabled-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@dropdown-link-disabled-color">
        <p class="help-block">Disabled dropdown menu entry background color</p>
      </div>
    </div>


    <h2 id="variables-panels-wells">Panels and wells</h2>

    <h3>Common panel styles</h3>
    <div class="row">
      <div class="col-md-6">
        <label>@panel-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@panel-bg">
        <label>@panel-inner-border</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@panel-inner-border">
        <p class="help-block">Border color for elements within panels</p>
      </div>
      <div class="col-md-6">
        <label>@panel-border-radius</label>
        <input type="text" class="form-control" placeholder="@border-radius-base" data-var="@panel-border-radius">
        <label>@panel-footer-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@panel-footer-bg">
      </div>
    </div>
    <h3>Contextual panel colors</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>Default</h4>
        <label>@panel-default-text</label>
        <input type="text" class="form-control" placeholder="@gray-dark" data-var="@panel-default-text">
        <label>@panel-default-border</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@panel-default-border">
        <label>@panel-default-heading-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@panel-default-heading-bg">

        <h4>Primary</h4>
        <label>@panel-primary-text</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@panel-primary-text">
        <label>@panel-primary-border</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@panel-primary-border">
        <label>@panel-primary-heading-bg</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@panel-primary-heading-bg">

        <h4>Success</h4>
        <label>@panel-success-text</label>
        <input type="text" class="form-control" placeholder="@state-success-text" data-var="@panel-success-text">
        <label>@panel-success-border</label>
        <input type="text" class="form-control" placeholder="@state-success-border" data-var="@panel-success-border">
        <label>@panel-success-heading-bg</label>
        <input type="text" class="form-control" placeholder="@state-success-bg" data-var="@panel-success-heading-bg">
      </div>
      <div class="col-md-6">
        <h4>Info</h4>
        <label>@panel-info-text</label>
        <input type="text" class="form-control" placeholder="@state-info-text" data-var="@panel-info-text">
        <label>@panel-info-border</label>
        <input type="text" class="form-control" placeholder="@state-info-border" data-var="@panel-info-border">
        <label>@panel-info-heading-bg</label>
        <input type="text" class="form-control" placeholder="@state-info-bg" data-var="@panel-info-heading-bg">

        <h4>Warning</h4>
        <label>@panel-warning-text</label>
        <input type="text" class="form-control" placeholder="@state-warning-text" data-var="@panel-warning-text">
        <label>@panel-warning-border</label>
        <input type="text" class="form-control" placeholder="@state-warning-border" data-var="@panel-warning-border">
        <label>@panel-warning-heading-bg</label>
        <input type="text" class="form-control" placeholder="@state-warning-bg" data-var="@panel-warning-heading-bg">

        <h4>Danger</h4>
        <label>@panel-danger-text</label>
        <input type="text" class="form-control" placeholder="@state-danger-text" data-var="@panel-danger-text">
        <label>@panel-danger-border</label>
        <input type="text" class="form-control" placeholder="@state-danger-border" data-var="@panel-danger-border">
        <label>@panel-danger-heading-bg</label>
        <input type="text" class="form-control" placeholder="@state-danger-bg" data-var="@panel-danger-heading-bg">
      </div>
    </div>

    <h3>Wells</h3>
    <label>@well-bg</label>
    <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@well-bg">


    <h2 id="variables-accordion">Accordion</h2>
    <label>@accordion-border-bg</label>
    <input type="text" class="form-control" placeholder="#e5e5e5" data-var="@accordion-border-bg">


    <h2 id="variables-badges">Badges</h2>

    <h3>Base styles</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@badge-font-weight</label>
        <input type="text" class="form-control" placeholder="bold" data-var="@badge-font-weight">
        <label>@badge-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@badge-color">
      </div>
      <div class="col-md-4">
        <label>@badge-bg</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@badge-bg">
      </div>
      <div class="col-md-4">
        <label>@badge-border-radius</label>
        <input type="text" class="form-control" placeholder="10px" data-var="@badge-border-radius">
      </div>
    </div>

    <h3>States</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@badge-link-hover-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@badge-link-hover-color">
        <p class="help-block">Linked badge text color on hover</p>
      </div>
      <div class="col-md-4">
        <label>@badge-active-color</label>
        <input type="text" class="form-control" placeholder="@link-color" data-var="@badge-active-color">
        <p class="help-block">Badge text color in active nav link</p>
      </div>
      <div class="col-md-4">
        <label>@badge-active-bg</label>
        <input type="text" class="form-control" placeholder="@badge-color" data-var="@badge-active-bg">
        <p class="help-block">Badge background color in active nav link</p>
      </div>
    </div>


    <h2 id="variables-breadcrumbs">Breadcrumbs</h2>
    <div class="row">
      <div class="col-md-6">
        <label>@breadcrumb-color</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@breadcrumb-color">
        <p class="help-block">Breadcrumb text color</p>
        <label>@breadcrumb-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@breadcrumb-bg">
        <p class="help-block">Breadcrumb background color</p>
      </div>
      <div class="col-md-6">
        <label>@breadcrumb-active-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@breadcrumb-active-color">
        <p class="help-block">Text color of current page in the breadcrumb</p>
        <label>@breadcrumb-separator</label>
        <input type="text" class="form-control" placeholder='"/"' data-var="@breadcrumb-separator">
        <p class="help-block">Textual separator for between breadcrumb elements</p>
      </div>
    </div>

    <h2 id="variables-jumbotron">Jumbotron</h2>
    <div class="row">
      <div class="col-md-6">
        <label>@jumbotron-padding</label>
        <input type="text" class="form-control" placeholder="30px" data-var="@jumbotron-padding">
        <label>@jumbotron-bg</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@jumbotron-bg">
        <label>@jumbotron-font-size</label>
        <input type="text" class="form-control" placeholder="ceil(@font-size-base * 1.5)" data-var="@jumbotron-font-size">
      </div>
      <div class="col-md-6">
        <label>@jumbotron-color</label>
        <input type="text" class="form-control" placeholder="inherit" data-var="@jumbotron-color">
        <label>@jumbotron-heading-color</label>
        <input type="text" class="form-control" placeholder="inherit" data-var="@jumbotron-heading-color">
      </div>
    </div>


    <h2 id="variables-modals">Modals</h2>

    <h3>Base modal</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@modal-inner-padding</label>
        <input type="text" class="form-control" placeholder="20px" data-var="@modal-inner-padding">
        <p class="help-block">Padding applied to the modal body</p>
      </div>
      <div class="col-md-4">
        <label>@modal-backdrop-bg</label>
        <input type="text" class="form-control" placeholder="#000" data-var="@modal-backdrop-bg">
        <p class="help-block">Modal backdrop background color</p>
      </div>
    </div>

    <h3>Modal header and footer</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@modal-title-padding</label>
        <input type="text" class="form-control" placeholder="15px" data-var="@modal-title-padding">
        <p class="help-block">Padding applied to the modal title</p>
      </div>
      <div class="col-md-4">
        <label>@modal-title-line-height</label>
        <input type="text" class="form-control" placeholder="@line-height-base" data-var="@modal-title-line-height">
        <p class="help-block">Modal title line-height</p>
      </div>
      <div class="col-md-4">
        <label>@modal-header-border-color</label>
        <input type="text" class="form-control" placeholder="#e5e5e5" data-var="@modal-header-border-color">
        <p class="help-block">Modal header border color</p>
        <label>@modal-footer-border-color</label>
        <input type="text" class="form-control" placeholder="@modal-header-border-color" data-var="@modal-footer-border-color">
        <p class="help-block">Modal footer border color</p>
      </div>
    </div>

    <h3>Modal content</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@modal-content-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@modal-content-bg">
        <p class="help-block">Background color of modal content area</p>
      </div>
      <div class="col-md-4">
        <label>@modal-content-border-color</label>
        <input type="text" class="form-control" placeholder="rgba(0,0,0,.2)" data-var="@modal-content-border-color">
        <p class="help-block">Modal content border color</p>
      </div>
      <div class="col-md-4">
        <label>@modal-content-fallback-border-color</label>
        <input type="text" class="form-control" placeholder="#999" data-var="@modal-content-fallback-border-color">
        <p class="help-block">Modal content border color <strong>for IE8</strong></p>
      </div>
    </div>


    <h2 id="variables-carousel">Carousel</h2>
    <div class="row">
      <div class="col-md-4">
        <label>@carousel-text-shadow</label>
        <input type="text" class="form-control" placeholder="0 1px 2px rgba(0,0,0,.6)" data-var="@carousel-text-shadow">
      </div>
      <div class="col-md-4">
        <label>@carousel-control-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@carousel-control-color">
      </div>
      <div class="col-md-4">
        <label>@carousel-caption-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@carousel-caption-color">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>@carousel-indicator-border-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@carousel-indicator-border-color">
      </div>
      <div class="col-md-4">
        <label>@carousel-indicator-active-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@carousel-indicator-active-bg">
      </div>
    </div>


    <h2 id="variables-list-group">List group</h2>

    <h3>Base styles</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@list-group-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@list-group-bg">
        <p class="help-block">Background color on <code>.list-group-item</code></p>
      </div>
      <div class="col-md-4">
        <label>@list-group-border</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@list-group-border">
        <p class="help-block"><code>.list-group-item</code> border color</p>
      </div>
      <div class="col-md-4">
        <label>@list-group-border-radius</label>
        <input type="text" class="form-control" placeholder="@border-radius-base" data-var="@list-group-border-radius">
        <p class="help-block">List group border radius</p>
      </div>
    </div>

    <h3>Hover and active states</h3>
    <div class="row">
      <div class="col-md-6">
        <label>@list-group-hover-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@list-group-hover-bg">
        <p class="help-block">Background color of single list elements on hover</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>@list-group-active-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@list-group-active-color">
        <p class="help-block">Text color of active list elements</p>
      </div>
      <div class="col-md-4">
        <label>@list-group-active-bg</label>
        <input type="text" class="form-control" placeholder="@component-active-bg" data-var="@list-group-active-bg">
        <p class="help-block">Background color of active list elements</p>
      </div>
      <div class="col-md-4">
        <label>@list-group-active-border</label>
        <input type="text" class="form-control" placeholder="@list-group-active-bg" data-var="@list-group-active-border">
        <p class="help-block">Border color of active list elements</p>
      </div>
    </div>


    <h2 id="variables-thumbnails">Thumbnails</h2>

    <h3>Base thumbnail</h3>
    <div class="row">
      <div class="col-md-6">
        <label>@thumbnail-padding</label>
        <input type="text" class="form-control" placeholder="4px" data-var="@thumbnail-padding">
        <p class="help-block">Padding around the thumbnail image</p>
        <label>@thumbnail-bg</label>
        <input type="text" class="form-control" placeholder="@body-bg" data-var="@thumbnail-bg">
        <p class="help-block">Thumbnail background color</p>
      </div>
      <div class="col-md-6">
        <label>@thumbnail-border</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@thumbnail-border">
        <p class="help-block">Thumbnail border color</p>
        <label>@thumbnail-border-radius</label>
        <input type="text" class="form-control" placeholder="@border-radius-base" data-var="@thumbnail-border-radius">
        <p class="help-block">Thumbnail border radius</p>
      </div>
    </div>

    <h3>Thumbnail captions</h3>
    <div class="row">
      <div class="col-md-6">
        <label>@thumbnail-caption-padding</label>
        <input type="text" class="form-control" placeholder="9px" data-var="@thumbnail-caption-padding">
        <p class="help-block">Padding around the thumbnail caption</p>
      </div>
      <div class="col-md-6">
        <label>@thumbnail-caption-color</label>
        <input type="text" class="form-control" placeholder="@text-color" data-var="@thumbnail-caption-color">
        <p class="help-block">Custom text color for thumbnail captions</p>
      </div>
    </div>


    <h2 id="variables-progress">Progress bars</h2>

    <h3>Shared styles</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@progress-bg</label>
        <input type="text" class="form-control" placeholder="#f5f5f5" data-var="@progress-bg">
        <p class="help-block">Background color of the whole progress component</p>
      </div>
      <div class="col-md-4">
        <label>@progress-bar-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@progress-bar-color">
        <p class="help-block">Info progress bar text color</p>
      </div>
      <div class="col-md-4">
        <label>@progress-bar-text-shadow</label>
        <input type="text" class="form-control" placeholder="0 -1px 0 rgba(0,0,0,.25)" data-var="@progress-bar-text-shadow">
        <p class="help-block">Info progress bar text shadow</p>
      </div>
      <div class="col-md-4">
        <label>@progress-bar-bg</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@progress-bar-bg">
        <p class="help-block">Default progress bar color</p>
      </div>
    </div>

    <h3>Contextual states</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@progress-bar-success-bg</label>
        <input type="text" class="form-control" placeholder="@brand-success" data-var="@progress-bar-success-bg">
        <p class="help-block">Success progress bar color</p>
        <label>@progress-bar-info-bg</label>
        <input type="text" class="form-control" placeholder="@brand-info" data-var="@progress-bar-info-bg">
        <p class="help-block">Info progress bar color</p>
      </div>
      <div class="col-md-4">
        <label>@progress-bar-warning-bg</label>
        <input type="text" class="form-control" placeholder="@brand-warning" data-var="@progress-bar-warning-bg">
        <p class="help-block">Warning progress bar color</p>
        <label>@progress-bar-danger-bg</label>
        <input type="text" class="form-control" placeholder="@brand-danger" data-var="@progress-bar-danger-bg">
        <p class="help-block">Danger progress bar color</p>
      </div>
    </div>


    <h2 id="variables-pagination">Pagination</h2>

    <h3>Default styles</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@pagination-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@pagination-bg">
        <p class="help-block">Background color</p>
      </div>
      <div class="col-md-4">
        <label>@pagination-border</label>
        <input type="text" class="form-control" placeholder="#ddd" data-var="@pagination-border">
        <p class="help-block">Border color</p>
      </div>
      <div class="col-md-4">
        <label>@pagination-hover-bg</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@pagination-hover-bg">
        <p class="help-block">Background hover color</p>
      </div>
    </div>

    <h3>Disabled and active states</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@pagination-disabled-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@pagination-disabled-color">
        <p class="help-block">Disabled text color</p>
      </div>
      <div class="col-md-4">
        <label>@pagination-active-bg</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@pagination-active-bg">
        <p class="help-block">Active background color</p>
      </div>
      <div class="col-md-4">
        <label>@pagination-active-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@pagination-active-color">
        <p class="help-block">Active text color</p>
      </div>
    </div>


    <h2 id="variables-pager">Pager</h2>
    <div class="row">
      <div class="col-md-4">
        <label>@pager-border-radius</label>
        <input type="text" class="form-control" placeholder="15px" data-var="@pager-border-radius">
        <p class="help-block">Pager border radius</p>
      </div>
      <div class="col-md-4">
        <label>@pager-disabled-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@pager-disabled-color">
        <p class="help-block">Pager disabled state color</p>
      </div>
    </div>


    <h2 id="variables-labels">Labels</h2>
    <div class="row">
      <div class="col-md-4">
        <label>@label-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@label-color">
        <p class="help-block">Default label text color</p>
      </div>
      <div class="col-md-4">
        <label>@label-link-hover-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@label-link-hover-color">
        <p class="help-block">Default text color of a linked label</p>
      </div>
      <div class="col-md-4">
        <label>@label-default-bg</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@label-default-bg">
        <p class="help-block">Default label background color</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>@label-primary-bg</label>
        <input type="text" class="form-control" placeholder="@brand-primary" data-var="@label-primary-bg">
        <p class="help-block">Primary label background color</p>
        <label>@label-success-bg</label>
        <input type="text" class="form-control" placeholder="@brand-success" data-var="@label-success-bg">
        <p class="help-block">Success label background color</p>
      </div>
      <div class="col-md-4">
        <label>@label-info-bg</label>
        <input type="text" class="form-control" placeholder="@brand-info" data-var="@label-info-bg">
        <p class="help-block">Info label background color</p>
        <label>@label-warning-bg</label>
        <input type="text" class="form-control" placeholder="@brand-warning" data-var="@label-warning-bg">
        <p class="help-block">Warning label background color</p>
      </div>
      <div class="col-md-4">
        <label>@label-danger-bg</label>
        <input type="text" class="form-control" placeholder="@brand-danger" data-var="@label-danger-bg">
        <p class="help-block">Danger label background color</p>
      </div>
    </div>


    <h2 id="variables-tooltips-popovers">Tooltips and popovers</h2>

    <h3>Tooltip</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@tooltip-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@tooltip-color">
        <p class="help-block">Tooltip text color</p>
        <label>@tooltip-bg</label>
        <input type="text" class="form-control" placeholder="#000" data-var="@tooltip-bg">
        <p class="help-block">Tooltip background color</p>
      </div>
      <div class="col-md-4">
        <label>@tooltip-arrow-width</label>
        <input type="text" class="form-control" placeholder="5px" data-var="@tooltip-arrow-width">
        <p class="help-block">Tooltip arrow width</p>
        <label>@tooltip-arrow-color</label>
        <input type="text" class="form-control" placeholder="@tooltip-bg" data-var="@tooltip-arrow-color">
        <p class="help-block">Tooltip arrow color</p>
      </div>
      <div class="col-md-4">
        <label>@tooltip-max-width</label>
        <input type="text" class="form-control" placeholder="200px" data-var="@tooltip-max-width">
        <p class="help-block">Tooltip max width</p>
      </div>
    </div>

    <h3>Popovers</h3>

    <h3>Base styles</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@popover-bg</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@popover-bg">
        <p class="help-block">Popover body background color</p>
        <label>@popover-max-width</label>
        <input type="text" class="form-control" placeholder="276px" data-var="@popover-max-width">
        <p class="help-block">Popover maximum width</p>
      </div>
      <div class="col-md-4">
        <label>@popover-border-color</label>
        <input type="text" class="form-control" placeholder="rgba(0,0,0,.2)" data-var="@popover-border-color">
        <p class="help-block">Popover border color</p>
        <label>@popover-fallback-border-color</label>
        <input type="text" class="form-control" placeholder="#ccc" data-var="@popover-fallback-border-color">
        <p class="help-block">Popover fallback border color</p>
      </div>
      <div class="col-md-4">
        <label>@popover-title-bg</label>
        <input type="text" class="form-control" placeholder="darken(@popover-bg, 3%)" data-var="@popover-title-bg">
        <p class="help-block">Popover title background color</p>
      </div>
    </div>

    <h3>Popover arrows</h3>
    <div class="row">
      <div class="col-md-4">
        <label>@popover-arrow-width</label>
        <input type="text" class="form-control" placeholder="10px" data-var="@popover-arrow-width">
        <p class="help-block">Popover arrow width</p>
      </div>
      <div class="col-md-4">
        <label>@popover-arrow-color</label>
        <input type="text" class="form-control" placeholder="#fff" data-var="@popover-arrow-color">
        <p class="help-block">Popover arrow color</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>@popover-arrow-outer-width</label>
        <input type="text" class="form-control" placeholder="(@popover-arrow-width + 1)" data-var="@popover-arrow-outer-width">
        <p class="help-block">Popover outer arrow width</p>
      </div>
      <div class="col-md-4">
        <label>@popover-arrow-outer-color</label>
        <input type="text" class="form-control" placeholder="rgba(0,0,0,.25)" data-var="@popover-arrow-outer-color">
        <p class="help-block">Popover outer arrow color</p>
      </div>
      <div class="col-md-4">
        <label>@popover-arrow-outer-fallback-color</label>
        <input type="text" class="form-control" placeholder="#999" data-var="@popover-arrow-outer-fallback-color">
        <p class="help-block">Popover outer arrow fallback color</p>
      </div>
    </div>


    <h2 id="variables-close">Close button</h2>
    <div class="row">
      <div class="col-md-4">
        <label>@close-font-weight</label>
        <input type="text" class="form-control" placeholder="bold" data-var="@close-font-weight">
      </div>
      <div class="col-md-4">
        <label>@close-color</label>
        <input type="text" class="form-control" placeholder="#000" data-var="@close-color">
      </div>
      <div class="col-md-4">
        <label>@close-text-shadow</label>
        <input type="text" class="form-control" placeholder="0 1px 0 #fff" data-var="@close-text-shadow">
      </div>
    </div>


    <h2 id="variables-type">Type</h2>
    <div class="row">
      <div class="col-md-6">
        <label>@text-muted</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@text-muted">
        <p class="help-block">Text muted color</p>
      </div>
      <div class="col-md-6">
        <label>@abbr-border-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@abbr-border-color">
        <p class="help-block">Abbreviations and acronyms border color</p>
      </div>
      <div class="col-md-6">
        <label>@headings-small-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@headings-small-color">
        <p class="help-block">Headings small color</p>
      </div>
      <div class="col-md-6">
        <label>@blockquote-small-color</label>
        <input type="text" class="form-control" placeholder="@gray-light" data-var="@blockquote-small-color">
        <p class="help-block">Blockquote small color</p>
      </div>
      <div class="col-md-6">
        <label>@blockquote-border-color</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@blockquote-border-color">
        <p class="help-block">Blockquote border color</p>
      </div>
      <div class="col-md-6">
        <label>@page-header-border-color</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@page-header-border-color">
        <p class="help-block">Page header border color</p>
      </div>
    </div>


    <h2 id="variables-other">Other</h2>
    <div class="row">
      <div class="col-md-6">
        <label>@hr-border</label>
        <input type="text" class="form-control" placeholder="@gray-lighter" data-var="@hr-border">
        <p class="help-block">Horizontal line color</p>
      </div>
      <div class="col-md-6">
        <label>@component-offset-horizontal</label>
        <input type="text" class="form-control" placeholder="180px" data-var="@component-offset-horizontal">
        <p class="help-block">Horizontal offset for forms and lists</p>
      </div>
    </div>
  </div>

  <div class="bs-docs-section">
    <div class="page-header">
      <h1 id="download">Download</h1>
    </div>
    <p class="lead">Hooray! Your custom version of Bootstrap is now ready to be compiled. Just click the button below to finish the process.</p>
    <div class="bs-customize-download">
      <button type="submit" id="btn-compile" class="btn btn-block btn-lg btn-outline" onclick="_gaq.push(['_trackEvent', 'Customize', 'Download', 'Customize and Download']);">Compile and Download</button>
    </div>
  </div><!-- /download -->
</form>
