.list_permission{
	margin:15px 0 0 20px;
	padding:0
}
.label_permission{
	font-weight:bold;
}
ul.list_permission li{
	margin-left:20px;
	list-style:none;
}



/* IE 9, 10 */
@media screen and (min-width:0\0) { 
	
	.list_permission .grouping,
	.list_permission #ListLoop{
		border:none;
		border-radius:0;
		box-shadow:none;
		outline-style:none;
	}
}
