/* Login Form */
body {
    margin: 0;
    padding: 0;
}
.content_container{
	width: 100%;
	text-align: center;	
}
.content_container #login_box{
	width: 85%;
	margin: auto;
	padding-top: 8%;
	text-align: center;
	
}
#login_box #login{
	border: 3px solid #747474;
	border-radius: 28px;
	display: block;
	text-align: left;
	padding: 12px;
	margin: 24px auto ;
	width: 60%;
}
#login_box #login div{
	display: inline-block;
	width: 100%;
	margin: 12px 0px 12px 0px;
}
#login_box #login .inTitle,
#login_box #login .action_label,
#login_box #login input{
	display: inline-block;
} 
#login_box #login .inTitle{
	width: 30%;
	font-weight: bold;
	padding-right: 12px;
}
#login_box #login .action_label{
	width: auto;
}
#login_box #login input{
	width: 65%;
	height: 24px;
	line-break: 20px;
}
#login_box .error{
	width: 65%;
	margin-left: 33%;
	display: none;
	font-size: 12px;
}
#login_box #login .action_box label,
#login_box #login .action_box a{
	display: inline-block;
	cursor: pointer;
}
#login_box #login .action_box span,
#login_box #login .action_box button
{
	cursor: pointer;
	font-size: 14px;
}
#login_box .title{
	font-size: 18px;
}
#login_box #login .ui-corner-all{
	border-radius: 0px;
	box-shadow: none;
	float: right;
}
.signup_box a{
	text-decoration: underline;
}
form .ui-corner-all{
	border: solid 1px #9C9C9C;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
	padding: 3px 20px;
	margin-right: 12px;
	height: 30px;
	background-color: white;
}
/* Signup */
#sign_up .inp_box button
{
	cursor: pointer;
	font-size: 14px;
}

#sign_up{
	width: 60%;
	text-align: left;
	padding: 12px;
}
#sign_up .ui-corner-all{
	border-radius: 8px;
}
#sign_up .hidden{
	display: none;
}
#sign_up .inp_box{
	width: 100%;
	text-align: left;
}
#sign_up .inp_box .title{
	width: 100%;
	text-align: left;
	float: left;
	margin: 6px 0px 6px 0px;
	padding: 0px;
}
#sign_up .inp_box{
	margin: 12px 0px 12px 0px;
}
#sign_up .inp_box .title h2{
	font-size: 20px;
	margin: 6px 0px 6px 0px;
}
#sign_up .inp_box .action_box a{
	font-size: 14px;
	text-decoration: underline;
}
#sign_up input.textfield, #sign_up .select_box{
	height: 24px;
	line-break: 20px;
	border: solid 1px #747474;
	border-radius: 2px;
	text-indent: 3px;
}
#sign_up .inp_box .half{
	width: 45%;
	display: inline-block;
	vertical-align: top;	
}
#sign_up .inp_box .half input{
	width: 95%;
}
#sign_up .inp_box input.full{
	width: 92%;
}
#sign_up .inp_box .textfield.half{
	width: 43%;
}
#sign_up .inp_box .padd-left{
	margin-left: 24px;
}
#signup_box .inp_box .error{
	display: none;
	color: red;
	font-size: 12px;
}
.content_container a{
	display: inline-block;
	width: auto;
	font-size: 14px;
}
.content_container .title.message,
.content_container .title.message a{
	font-size: 18px !important;
}
#forgot_pass{
	margin-top: 15%;
}
#forgot_box{
	margin: 18px auto;
	text-align: center;
	border: solid 2px #747474;
	border-radius: 28px;
	padding: 12px;
}
#forgot_box div{
	margin: 12px auto;
}
#forgot_box input{
	height: 24px;
}
#forgot_box .button{
	border: solid 1px #9C9C9C;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
	padding: 3px 20px;
	margin-right: 12px;
	margin-left: 18px;
	height: 30px;
	background-color: white;
	cursor: pointer;
}