/* New popup */
.web_dialog_overlay {
    display: none;
    height: 663px;
    opacity: 0.7;
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #CECECE;
    /*display: none; */
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.web_dialog {
    display: none;
    left: 719.5px;
    position: fixed;
    top: 170px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
    height: auto;
    padding-bottom: 25px;
    width: 500px;
    z-index: 102;
    font-family: "Verdana", geneva, sans-serif;
}

.web_dialog_title {
    border-bottom: solid 2px #0c395f;
    background-color: #0c395f;
    padding: 4px;
    color: White;
    font-weight: bold;
}

.web_dialog_title a {
    color: White;
    text-decoration: none;
}

#inpGroupContactName, .dialog_content select, .dialog_content input[type = text] {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    float: left;
    height: 33px;
    margin-left: 5px;
    margin-right: 5px;
    width: 248px;
}

.dialog_content input#user_fund {
    width: 200px;
}

.dialog_content input#company_fund {
    width: 220px;
}

.dialog_content input#user_fund_limit {
    width: 165px;
}

.dialog_content span.dolaFund {
    float: left;
    font-weight: bold;
    line-height: 23px;
    margin-left: 5px;
}

.web_dialog .control, .dialog_content, .button_area {
    color: #363636;
    float: left;
    font-size: 12px;
    height: auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    width: 80%;
}

.control label, .dialog_content label strong {
    color: #161616;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    width: 100%;
	text-align:left;
}

.align_right {
    text-align: right;
}

.button_area button, .dialog_content button {
    background: -webkit-gradient(linear, left top, left bottom, from(#2484c6), to(#2484c6));
 	background: -moz-linear-gradient(top,  #2484c6,  #2484c6);
    border: medium none !important;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    margin-left: 10px;
    padding: 0 5px;
    width: auto;
    border-radius: 0; 	
	border-radius: 5px 5px 5px 5px;
}

.button_area button:hover, .dialog_content button:hover {
 background: #007ead;border:none !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 
}
.button_area button:active, .dialog_content button:active {
 color: #fff;border:none !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 
}

.dialog_title{
/*background: url("../images/pop-bg.png") repeat scroll 0 0 transparent;
    box-shadow: 1px 1px 3px #000000;
    color: #3399CC;
    font-family: Verdana,geneva,sans-serif;
    font-size: 16px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;*/
    background-image: url("../../../public/css/images/header.jpg");
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
    cursor: move;
    height: 100px;
}

.dialog_title label strong span{
	font-weight: normal;
	color:#FFFFFF;
 	display: inline-block;
    font-size: 14px;
    margin: 70px 16px 0.2em 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
	float:left;
	margin-left:72px;
}

.dialog_title span#closeDialog{
	color: #6FA5FD;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("../images/cross.png") repeat scroll 0 0 transparent;
    font-size: 0;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

.dialog_title span:hover#closeDialog{
	color: #6FA5FD;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("../images/cross_off.png") repeat scroll 0 0 transparent;
    font-size: 0;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

.dialog_content .error{display: none; color: red;}

/* Contact Style */
#div_action{
}
#div_action .ui-corner-all{
	box-shadow: none !important;
	border-radius: 0px;
	background-color: #FFF;
}

#dialog_password #user_password{
	margin-top: 15px;		
}


/* popup style */
	.ui-dialog{
		overflow:visible !important;
		border-radius:5px;
		border:2px solid #CECECE;
	}
	
	.ui-dialog .ui-widget-content
	{
	}
		
	.ui-dialog .ui-dialog-title{
		/*comment by namdv-seta*/
		/*color: #3399CC;*/
		font-size:16px;
		font-weight:normal;
	}
	.ui-dialog .ui-dialog-titlebar{
		/*comment by namdv-seta*/
		/*background: url("../../../public/css/images/pop-bg.png") repeat scroll 0 0 transparent !important;*/
		/*box-shadow: 1px 1px 3px #000000 !important;
		color: #3399CC !important;
		font-family: Verdana,geneva,sans-serif !important;
		font-size: 16px !important;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;*/
	}
	.ui-dialog .ui-dialog-titlebar-close span {
		background: url("../../../public/css/images/cross.png") repeat scroll 0 0 transparent !important;
	    cursor: pointer;
	    display: block;
	    font-size: 0;
	    height: 26px !important;
	    line-height: 14px;
	    position: absolute;
		right: 0;
		top:0;
	    width: 27px !important;
	}
	
	.ui-dialog .ui-dialog-titlebar-close span:hover {
		background: url("../../../public/css/images/cross_off.png") repeat scroll 0 0 transparent !important;
	    cursor: pointer;
	    display: block;
	    height: 26px !important;
	    line-height: 14px;
	    position: absolute;
		right: 0px;
		top:0;
	    width: 27px !important;
	
	}
	
	.ui-dialog .ui-dialog-titlebar-close:hover span {
		background: url("../../../public/css/images/cross_off.png") repeat scroll 0 0 transparent !important;
	    cursor: pointer;
	    display: block;
	    height: 26px !important;
	    line-height: 14px;
	    position: absolute;
		right: 0px;
		top:0;
	    width: 27px !important;
	
	}
	
	.web_dialog .dialog_title label
	{
		color: #FFFFFF;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 1px;
		margin-left: 80px;
		padding-top: 64px;
		text-align: left;
		text-transform: uppercase;	
		position:relative;		
	}
		