<style>
.LiveDMDiv .hover,.MachineDMDiv .hover (
	function (){ $(this ).addClass("ui-state-hover");
	
}

,
function (){ $(this ).removeClass("ui-state-hover");
	
}

)
#LiveDMDiv .hover (
	function (){ $(this ).addClass("ui-state-hover");
	
}

,
function (){ $(this ).removeClass("ui-state-hover");
	
}

)
#MachineDMDiv .hover (
	function (){ $(this ).addClass("ui-state-hover");
	
}

,
function (){ $(this ).removeClass("ui-state-hover");
	
}

)
#RXEditSubMenuWait {
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding: 0px;
}

.LiveDMDiv .StageObjectEditDiv #RXEditSubMenuWait {
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding: 0px;
}

 .LiveDMDiv .StageObjectEditDiv,.MachineDMDiv {
	margin: 0 auto;
	width: 750px;
	padding: 14px;
	border: solid 2px #aaaaaa;
	background-image: url(../images/ui-bg_fine-grain_15_eceadf_60x60.png)
}

.LiveDMDiv .StageObjectEditDiv h1,.MachineDMDiv  h1 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
}

.LiveDMDiv .StageObjectEditDiv h2,.MachineDMDiv  h2 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
}

.LiveDMDiv .StageObjectEditDiv p,.MachineDMDiv  p {
	font-size: 11px;
	color: #666666;
}

.LiveDMDiv .StageObjectEditDiv .pActive,.MachineDMDiv .pActive,.CCDFormDiv .pActive
	{
	margin-bottom: 20px;
	border-bottom: solid;
	border-color: #CC0000;
	border-bottom-width: 6px;
}

.LiveDMDiv .StageObjectEditDiv label,.MachineDMDiv label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 400px;
	float: left;
}

.LiveDMDiv .StageObjectEditDiv label2,.MachineDMDiv label2 {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 400px;
}

.LiveDMDiv .StageObjectEditDiv .small,.MachineDMDiv .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 400px;
}

.LiveDMDiv .StageObjectEditDiv .small2,.MachineDMDiv .small2 {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	width: 400px;
}

.LiveDMDiv .StageObjectEditDiv input,.MachineDMDiv input {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aaaaaa;
	width: 400px;
	margin: 2px 0 20px 10px;
}

.LiveDMDiv .StageObjectEditDiv textarea,.MachineDMDiv textarea {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aaaaaa;
	width: 400px;
	margin: 2px 0 20px 10px;
}

.LiveDMDiv .StageObjectEditDiv button,.MachineDMDiv button {
	border-style: hidden;
	padding: 5;
}

/**
 * Edit MCID
 */
.StageObjectEditDiv {
	margin: 0 auto;
	/*width:750px;*/
	background-image: url(../images/ui-bg_fine-grain_15_eceadf_60x60.png)
}

.StageObjectEditDiv {
	color: #494949;
	height: 100%;
}

.StageObjectEditDiv h1 {
	color: #595959;
	font-weight: bold;
}

.StageObjectEditDiv h2 {
	color: #494949;
	font-size: 11px;
}

.StageObjectEditDiv p {
	font-size: 11px;
	color: #666666;
}

.StageObjectEditDiv .pActive {
	margin-bottom: 20px;
	border-bottom: solid;
	border-color: #CC0000;
	border-bottom-width: 6px;
}

.StageObjectEditDiv button {
	border-style: hidden;
	padding: 5;
}

.leftsidebar {
	width: 20%;
	background: #e8f3f6;
	height: 100%;
	vertical-align: top;
	border-right: 2px solid #c5d3d7;
	min-width: 100px;
}

.leftsidebar .title1 {
	margin: 20px 0;
}

.leftsidebar .title2 {
	margin-bottom: 27px;
}

.rightsidebar {
	width: 77%;
	padding-left: 3%;
	vertical-align: top;
	padding-top: 25px;
	min-width: 575px;
}

.title1 {
	color: #595959;
	font-weight: bold;
}

.title2 {
	color: #494949;
	font-size: 11px;
}

.center {
	text-align: center;
}

#popupchangeQID {
	padding-top: 40px;
	padding-bottom: 0px;
	padding-left: 50px;
}

#popupchangeQID a:hover {
	margin-right: 5px;
}

.rxdsmenu .ui-state-default {
	border: 0px;
}

.leftsidebar .leftmenu a {
	background: url(../images/button2.png) no-repeat center;
	height: 25px;
	line-height: 25px;
	margin: 5px 0;
	color: #ffffff;
	text-align: center;
}

.leftsidebar .leftmenu a:hover {
	color: #e7ff92;
	text-decoration: none;
}

.ScriptSection div.item {
	float: left;
}

.ScriptSection .item label {
	float: left;
	width: 50px;
	font-weight: normal;
	font-size: 12px;
}

.ScriptSection .item input {
	width: 60px;
	border: 2px solid #BFCED7;
}

.ScriptSection .bsItem label {
	width: 50px;
	font-weight: normal;
	font-size: 12px;
}

.ScriptSection .bsItem input {
	width: 20px;
	font-weight: normal;
	font-size: 12px;
	float: none;
}

#ScritpButtons {
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
}

#ScritpButtons {
	hieght: auto;
	min-height: 0;
}

#ScritpButtons  A {
	color: #000;
	font-weight: bold;
}

#ScritpButtons A:hover {
	color: #fff;
}

#change {
	margin: 5px 5px 10px 30px;
	width: 100px;
	padding-top: 10px;
}

.rename1,.rxdsmenu .change A {
	background: url(../images/change.png) no-repeat center;
	height: 27px;
	line-height: 27px;
}

.rename1:hover,.rxdsmenu .change A:hover {
	text-decoration: none;
	background: url(../images/change_press.png) no-repeat center;
}

.ScriptSection .item input {
	width: 60px;
	border: 2px solid #BFCED7;
}

.border {
	border-bottom: 1px dashed #909090;
	padding-bottom: 20px;
	margin-right:10px;
}

/* MultiScript */

.fieldSetBox{
	padding:3px;
	margin-right:5px;
	border:2px solid  #3399CC;
	-moz-border-radius: 15px;
}
.fieldSetLegend{
	margin-left:20px;
}

#MultiScritpButtons {
	margin-right: 10px;
	min-height: 50px;
}

#MCIDTopSection label {
	color: #5599c8;
	width: 100px;
	display: block;
	font-size: 12px;
	text-align: left;
}
.EditMCIDLabel
{
	color: #5599C8 !important;
	display: block;
	font-size: 12px !important;
	font-weight:bold;
	margin-bottom:5px;
}

#MultiScritpButtons #TableScriptItems{
	border:1px solid #3399CC;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:white;
}


#ScriptItems table{
	border:1px solid green;
	width:100%;
}

#MultiScritpButtons #multiScript, #SwitchScript {
	padding: 10px 0 10px 40px;
}

#ttsArea{
	margin-top:10px;
}

#MultiScritpButtons #multiScript div,#ttsAreaButton div, #SwitchScript div {
	background: url(../images/addScript.png) no-repeat center;
	height: 28px;
	line-height: 27px;
	width: 70px;
	text-align: center;
	color: #000000;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	padding-left: 10px;
}

#MultiScritpButtons #deleteAllScript {
	background: url(../images/deleteScript.png) no-repeat center;
	height: 28px;
	line-height: 27px;
	width: 80px;
	text-align: center;
	color: #000000;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	padding-left: 12px;
	margin:10px;
}
#MultiScritpButtons #viewAllScript {
	background: url(../images/viewAllScript.png) no-repeat center;
	height: 28px;
	line-height: 27px;
	width: 80px;
	text-align: center;
	color: #000000;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
}
#MultiScritpButtons #changeScript {
	background: url(../images/addScript.png) no-repeat center;
	height: 28px;
	line-height: 27px;
	width: 80px;
	text-align: center;
	color: #000000;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	padding-left: 12px;
}

#MultiScriptSelectArea  #changeScript {
	
	color: #1a1ac9;
	font-size: 10px;
	cursor: pointer;
}

#SwitchBlankScript div {
	background: url(../images/addScript.png) no-repeat center;
	height: 28px;
	line-height: 27px;
	width: 80px;
	text-align: center;
	color: #000000;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	padding-left: 12px;
	float:right;
}
#MultiScritpButtons #multiScript div:hover, #ttsAreaButton div:hover {
	text-decoration: none;
	background: url(../../mcid/images/addScript_press.png) no-repeat center;
	color: #FFFFFF;
}

#topLevel{
	margin-top:10px;
}

#MultiScriptSelectArea{
	margin-top:10px;
}

#MultiScriptSelectArea .noneScriptLib{
	color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
}

fieldset .scriptSwitchItem{
	border-color: #b5bcb4;
}

#MultiScritpButtons .scriptItem .scriptDesc,#AddListArea .scriptListItem .scriptDesc,#ScriptSwitchItems .scriptSwitchItem .scriptDesc{
 	display: inline-block;
    padding-top: 5px;
    width: 155px;
    bottom: 8px;
    position: relative;
    color: #3399CC;
    font-size: 14px;
    margin-left: 5px;
}


#MultiScritpButtons .scriptItem .removeScript,#AddListArea .scriptListItem .removeScript,#ScriptSwitchItems .scriptSwitchItem .removeScript{
	display: inline-block;
	position:relative;
	bottom:5px;
	padding-left:5px;
}

#MultiScritpButtons .scriptItem #editScript,#AddListArea .scriptListItem #editScript, #ScriptSwitchItems .scriptSwitchItem #editScript  {
	display: inline-block;
	position:relative;
	bottom:5px;
	padding-left:5px;
}

#MultiScritpButtons #scriptControlArea A:hover {
	text-decoration: none;
	color: #000000;
	line-height: 27px;
}

#MultiScritpButtons #ScriptPagination {
	padding:10px 0px 30px 60px;
} 

#MultiScritpButtons #ScriptSwitchPagination {
	padding:10px 0px 30px 60px;
} 

.StageObjectEditDiv #MCIDSection .item,
.StageObjectEditDiv .MCIDSection .item {
	width: 50%;
	min-height: 35px;
	float: left;
	clear: left;
}

.StageObjectEditDiv #MCIDSection .item2,
.StageObjectEditDiv .MCIDSection .item2 {
	float: left;
	clear: none;
}

.StageObjectEditDiv #MCIDSection label,
.StageObjectEditDiv .MCIDSection label {
	display: block;
	text-align: right;
	width: 50%;
	float: left;
	font-size: 11px;
	font-weight: normal;
	color: #494949;
	margin: 1px 0 3px 0;
}

.StageObjectEditDiv label2 {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 400px;
}

.StageObjectEditDiv .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 400px;
}

.StageObjectEditDiv .small2 {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	width: 400px;
}

.StageObjectEditDiv input[type=text] {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #bfced7;
	width: 72px;
	margin: 2px 0 20px 10px;
	margin-bottom: 0px;
	border-radius: 5px;
}

.StageObjectEditDiv input[type=checkbox] {
	margin: 0 2px;
}

.StageObjectEditDiv select {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #bfced7;
	width: 78px;
	margin: 2px 0 20px 10px;
	margin-bottom: 0px;
	border-radius: 5px;
}

.StageObjectEditDiv textarea {
	font-size: 12px;
	padding: 4px 8px;
	border: solid 1px #aaaaaa;
	width: 93%;
	margin: 0px 0px 20px 0px;
	border-radius: 5px;
	resize: none;
}

a.tipsy1 {
	text-decoration: none;
	border: 0px;
	margin-top: 5px;
	margin-left: 5px;
}

a.tipsy1:hover {
	margin-top: 5px;
}

a.tipsy1 img {
	border: 0px;
}

.RXEditSubMenu {
	text-align: right;
	padding-right: 28px;
	padding-bottom: 20px;
}

button.SaveChangesRXSSXML,button.cancelrxt,button.CancelRULETYPE,button.SaveChangesRULEXML  {
	font-size: 12px;
	padding-bottom: 7px;
	padding-top: 3px;
	border: 0px;
	line-height: 15px;
	margin-top:25px;
}

button.SaveChangesRXSSXML:hover,button.cancelrxt:hover,button.CancelRULETYPE:hover,button.SaveChangesRULEXML:hover {
	color: #E7FF92;
}

.SaveChangesRXSSXML,.MoveMCID,.cancelrxt,.CancelRULETYPE,.SaveChangesRULEXML {
	background: url(../images/button.gif) center center;
	height: 23px;
	line-height: 23px;
	width: 46px;
	float: right;
	margin-right: 5px;
	text-align: center;
	font-size: 12px;
}

#pLINKII a:hover,.MoveMCID:hover,.cancelrxt:hover,.CancelRULETYPE:hover,.SaveChangesRULEXML:hover {
	margin-right: 5px;
}

.content {
	float: left;
}
.StageObjectEditDiv_type_21 #inpCK2,
.StageObjectEditDiv_type_21 #inpCK3
{
	width: 135px;
}
.StageObjectEditDiv_type_21 #MCIDSection .item
{
	width: 70%;
}
.StageObjectEditDiv_type_21 #MCIDSection label {
	margin: 8px 0 3px 0;
	witdh: 30%;
}
.StageObjectEditDiv .content input {
	float: none;
}

#ScriptSection label {
	margin: 0px;
}

#ScriptSection input {
	margin-bottom: 6px !important;
}

.content .formError {
	padding-left: 20px;
	float: left;
}

.formError {
	width: 93%;
	float: left;
	text-align: right;
}

.inpLibIdformError,.inpEleIdformError,.inpDataIdformError {
	clear: left;
	text-align: right;
}

.editScriptFrm {
	width:275px;
	margin-top:10px;
}
.editScriptFrm .frm_item .frm_label {
	display: inline-block;
    font-weight: bold;
    width: 100px;
    padding: 5px;
}

.editScriptFrm .frm_item .frm_control {
	display:inline-block;
}

.editScriptFrm input[type=text],.editScriptFrm select {
	width: 156px;
	border: 2px solid #BFCED7;
}

.editScriptFrm button {
	margin: 6px 0 14px 10px;
}

.editScriptFrm #custom_field {
	display:none;
}

.blankScript{
	width:200px;
	font-weight:bold;
	display:inline-block;
	position:relative;
	bottom:5px;
}
.switchAddFormRow th{
	border:1px solid #8f8e7c;
	background-color: #a7fcf3;
}

.switchAddFormRow {
	width:95%;
	padding:10px;
}
.switchAddFormRow .caseInput{
	border:1px solid #8f8e7c;
	height:40px;
	padding:0 20px 0 20px;
	
}
.switchAddFormRow .scriptDesc{
	border:1px solid #8f8e7c;
	width:200px;
	padding-left:20px;
}

.switchAddFormRow .playScriptSwitch{
	border:1px solid #8f8e7c;
	padding-left:20px;
}

#ttsDataArea table{
	border: 1px solid #3399CC;
    border-radius: 15px 15px 15px 15px;
    width: 470px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
#ttsDataArea table th{
	border:1px solid #8f8e7c;
	background-color: #a7fcf3;
}

#ttsDataArea table td{
	border:1px solid #8f8e7c;
	padding:3px;
}
.answermap table tr
{
	padding: 10px 0;
}
.answermap table tr td
{
	width: 25%;
	text-align: right;
	padding-right: 10px;
}
.answermap table tr input
{
	width: 70px;
	border: 1px solid #BFCED7;
	border-radius: 5px 5px 5px 5px;
	padding: 4px 2px;
}

.editDescriptionFrm {
	width:auto;
	margin-top:10px;
}
.editDescriptionFrm .frm_item .frm_label {
	display: inline-block;
    font-weight: bold;
    width: 90px;
    padding: 5px;
}

.editDescriptionFrm .frm_item .frm_control {
	display:inline-block;
}

.editDescriptionFrm input[type=text],.editDescriptionFrm select {
	width: 70px;
	border: 2px solid #BFCED7;
	border-radius: 5px;
	height:20px
}

.editDescriptionFrm button {
	margin: 20px 0 0px 36px;
}

.editDescriptionFrm #custom_field {
	display:none;
}
</style>