<cfparam name="VerboseDebug" default="0" />
<cfparam name="inpBatchId" default="1173" />
<cfparam name="inpContactString" default="" />
<cfparam name="inpMessage" default="" />



<!--- Do this once - separated for quicker looping where needed --->
<cfinclude template="authsetup.cfm" />

<!--- Post to API --->
<cfinclude template="sendsinglesms.cfm" />