<cfparam name="inpContactString" default="" />
<cfparam name="VerboseDebug" default="0" />
<cfparam name="inpSkipLocalUserDNCCheck" default="1" />

<cfset inpBatchId = "1172" />
<cfset inpMessage= "" />

<!--- Do this once - separated for quicker looping where needed --->
<cfinclude template="authsetup.cfm" />

<!--- Post to API --->
<cfinclude template="sendsinglesms.cfm" />
                        
                        
                        