





<cfset ProdDB = "Bishop" />
<cfset DefaultTimeZone = 31 />


	<cfsavecontent variable="DetailDumpOptns">
    
    	<!--- Get elligable Contacts from DB --->
        <cfquery name="getContacts" datasource="#ProdDB#">
            SELECT 
                SurveyResultsId_bi,
                BatchId_bi,
                CPId_int,
                Created_dt,
                ContactString_vch,
                Response_vch,
                ShortCode_vch
            FROM 
                Simplexresults.surveyresults
            WHERE
                BatchId_bi = 1174
            AND
                Created_dt > '2014-05-30 00:00:00'
            AND
            	ContactString_vch NOT IN ('9494000553','9494283111','9494283112', '6269757980')    
            ORDER BY
                SurveyResultsId_bi DESC
            LIMIT 10000     
        </cfquery>	
   
		<cfoutput>
            UID, Campaign ID, CPID, DateTime, Contact, Response, Short Code<BR/>	
            <cfloop query="getContacts">
                #getContacts.SurveyResultsId_bi#,#getContacts.BatchId_bi#,#getContacts.CPId_int#,#LSDateFormat(getContacts.Created_dt, 'yyyy-mm-dd')# #LSTimeFormat(getContacts.Created_dt, 'HH:mm:ss')#,#getContacts.ContactString_vch#,#getContacts.Response_vch#,#getContacts.ShortCode_vch# <BR/>                
            </cfloop>  
        </cfoutput> 
    
     
    </cfsavecontent>
    
   
    
<cfoutput>
<!---
<div style="background-image: url(http://www.fccc.edu/images/splashNew2/hmpgBK-newGradient-right.jpg); background-repeat: repeat-x; position:fixed;">

<img src="https://www.fccc.edu/images/topNav/fccc-tuhs-shaded.jpg" style="left:0; top:0; position:absolute;"/>--->
    
<BR/>
#DetailDumpOptns#
<!---
</div>---> 

</cfoutput>


<cfmail to="jpeterson@messagebroadcast.com;pshah@messagebroadcast.com;swazzan@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="Fox Chase Cancer Center Skin Report Result Details" type="html">
   	<cfoutput>
    
  <!---  <div style="background-image: url(http://www.fccc.edu/images/splashNew2/hmpgBK-newGradient-right.jpg); background-repeat: repeat-x; position:fixed;">
    
    	<img src="http://www.fccc.edu/images/topNav/fccc-tuhs-shaded.jpg" style="left:0; top:0; position:absolute;" />
        <BR/>
 --->  		#DetailDumpOptns#
        
    <!---</div>--->    
    </cfoutput>
</cfmail>
          