





<cfset ProdDB = "Bishop" />
<cfset DefaultTimeZone = 31 />


	<cfsavecontent variable="DetailDumpOptns">
    
    	<!--- Get elligable Contacts from DB --->
        <cfquery name="getContacts" datasource="#ProdDB#">
            SELECT 
                FCCCSkinId_int,
                ContactString_vch,
                ProcessedCountAM_int,
                ProcessedCountPM_int,
                TimeZone_int,
                Created_dt,
                Updated_dt,
                Invite_dt,
                CompletedAM_dt,
                CompletedPM_dt,
                DoubleOptInProcessed_dt,
                Program_vch,
                ContactString_vch,
                AMSequenceString_vch,
                SFTPFileSource_vch
            FROM 
                simplexprogramdata.fcccskin
            WHERE
                DoubleOptInProcessed_dt IS NOT NULL
            AND
            	DoubleOptInProcessed_dt > '2014-05-30 00:00:00'    
            AND
                OptOut_dt IS NULL  
            AND
            	ContactString_vch NOT IN ('9494000553','9494283111','9494283112', '6269757980')    
            ORDER BY
            	DoubleOptInProcessed_dt DESC           
        </cfquery>	
    
		<cfoutput>
            Currently Double Opted In <BR/>	
            <cfloop query="getContacts">
                #getContacts.ContactString_vch#, #LSDateFormat(getContacts.DoubleOptInProcessed_dt, 'yyyy-mm-dd')# #LSTimeFormat(getContacts.DoubleOptInProcessed_dt, 'HH:mm:ss')# <BR/>                
            </cfloop>  
        </cfoutput> 
    
    </cfsavecontent>
    
       
<cfoutput>
<!---
<div style="background-image: url(http://www.fccc.edu/images/splashNew2/hmpgBK-newGradient-right.jpg); background-repeat: repeat-x; position:fixed;">

<img src="https://www.fccc.edu/images/topNav/fccc-tuhs-shaded.jpg" style="left:0; top:0; position:absolute;"/>--->
    
<BR/>
#DetailDumpOptns#
<!---
</div>---> 

</cfoutput>


<cfmail to="jpeterson@messagebroadcast.com;pshah@messagebroadcast.com;swazzan@messagebroadcast.com" from="mbreports@messagebroadcast.com" subject="Fox Chase Cancer Center Skin Report Opt Ins" type="html">
   	<cfoutput>
    
  <!---  <div style="background-image: url(http://www.fccc.edu/images/splashNew2/hmpgBK-newGradient-right.jpg); background-repeat: repeat-x; position:fixed;">
    
    	<img src="http://www.fccc.edu/images/topNav/fccc-tuhs-shaded.jpg" style="left:0; top:0; position:absolute;" />
        <BR/>
 --->  		#DetailDumpOptns#
        
    <!---</div>--->    
    </cfoutput>
</cfmail>
          