<cfset APPLICATION.EncryptionKey_Cookies = "GHer459836RwqMnB529L">
<cfset APPLICATION.EncryptionKey_UserDB = "Encryptlksdjgh7486yumnvpwe09wdsafmcssdafString">

<cfif cgi.server_port_secure eq '1'>
	<cfset LocalProtocol="https">
<cfelse>
	<cfset LocalProtocol="http">
</cfif>


<cfset commonPath = "ire/secure/common">
<cfset websericeBaseDotPath = "ire.secure">
<cfset websericeCoreDotPath = "taffy.core">
<cfset websericeCommonDotPath = "ire.secure.common">
<cfset SessionDotPath = "session.cfc">
<cfset Session.SessionCFCPath = "session.cfc">
<cfset CommonDotPath = "ire.secure.common"> <!--- Different for cfincludes for cfc's in Session, WebService, EBMResponse, etc --->


<!--- Set default self repair rates --->
<cfset Session.DefaultRateType = "2">
<cfset Session.DefaultBalance = "0">
<cfset Session.DefaultRate1 = "0.050">
<cfset Session.DefaultRate2 = "0.050">
<cfset Session.DefaultRate3 = "0.050">
<cfset Session.DefaultIncrement1 = "1">
<cfset Session.DefaultIncrement2 = "0">
<cfset Session.DefaultIncrement3 = "0">

<!--- Email Whitelisting service defaults --->
<cfset DefaultgetUserEmailSubaccountInfo = StructNew() />
<cfset DefaultgetUserEmailSubaccountInfo.UserName_vch = "" />
<cfset DefaultgetUserEmailSubaccountInfo.Password_vch = "" />
<cfset DefaultgetUserEmailSubaccountInfo.RemoteAddress_vch = "" />
<cfset DefaultgetUserEmailSubaccountInfo.RemotePort_vch = "" />
<cfset DefaultgetUserEmailSubaccountInfo.TLSFlag_ti = "" />
<cfset DefaultgetUserEmailSubaccountInfo.SSLFlag_ti = "" />

<cfset DefaultgetUserEmailSubaccountInfo.UserName_vch = "ebm02" />
<cfset DefaultgetUserEmailSubaccountInfo.Password_vch = "6QMx9GqWSLY" />
<cfset DefaultgetUserEmailSubaccountInfo.RemoteAddress_vch = "smtp.sendgrid.net" />
<cfset DefaultgetUserEmailSubaccountInfo.RemotePort_vch = "587" />
<cfset DefaultgetUserEmailSubaccountInfo.TLSFlag_ti = "1" />
<cfset DefaultgetUserEmailSubaccountInfo.SSLFlag_ti = "0" />

<cfset SupportEMailFrom = "support@eventbasedmessaging.com" />
<cfset SupportEMailServer = "smtp.gmail.com" />
<cfset SupportEMailUserName = "support@eventbasedmessaging.com" />
<cfset SupportEMailPassword = "dEF!1048" />
<cfset SupportEMailPort = "465" />
<cfset SupportEMailUseSSL = "true" />


<!--- Manually set this here to be API wide - input params are not used here --->
<cfparam name="DebugAPI" default="0">

<cfif FINDNOCASE( "EBM.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMAPI.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMMO.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMAPI-L.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMLOCAL.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="0">

<cfelseif FINDNOCASE( "EBMDEVII.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset LocalProtocol="https">

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "MBDEMODEV.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelseif FINDNOCASE( "V3.MESSAGEBROADCAST.COM", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "EBMDEVIIManagement.mb", "#CGI.SERVER_NAME#") GT 0>

	<cfset DebugAPI ="1">

<cfelse>

	<cfset DebugAPI ="0">

</cfif>


<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#">


<!---<cfparam name="DBSourceEBM" default="Bishop">--->
<cfif DebugAPI GT 0 >

<!---     <cfset DBSourceEBM = "BishopDev"/>
    <cfset Session.DBSourceEBM = "BishopDev"/>
    <cfset ESIID = "-15"/>    --->

	<cfset DBSourceEBM = "Bishop"/>
    <cfset Session.DBSourceEBM = "Bishop"/>
    <cfset ESIID = "-14"/>

<cfelse>

	<cfset DBSourceEBM = "Bishop"/>
    <cfset Session.DBSourceEBM = "Bishop"/>
    <cfset ESIID = "-14"/>

</cfif>

<cfif FINDNOCASE( "setacinq.com.vn", "#CGI.SERVER_NAME#") GT 0 >
	<cfset DBSourceEBM = "Bishop2"/>
    <cfset Session.DBSourceEBM = "Bishop2"/>
    <cfset ESIID = "-14"/>
	<cfset rxdsLocalWritePath = "C:\BBP\SimpleXScripts" /> <!---for seta --->
	<cfset rootUrl="#LocalProtocol#://#CGI.SERVER_NAME#:8080">
</cfif>

<cfif FINDNOCASE( "ebmdev.seta", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "setatest.com.vn", "#CGI.SERVER_NAME#") GT 0 OR FINDNOCASE( "setadev.com.vn", "#CGI.SERVER_NAME#") GT 0>>
	<cfset DBSourceEBM = "Bishop"/>
    <cfset Session.DBSourceEBM = "Bishop"/>
    <cfset ESIID = "-14"/>
	<cfset rxdsLocalWritePath = "C:\BBP\SimpleXScripts" /> <!---for seta --->
</cfif>