<cfscript>
	SMS_MO_NOT_IN_OUTBOUND = 0;
	SMS_MO_IN_OUTBOUND = 1;	
	SMS_MO_TYPE = 1;
	SMS_MT_TYPE = 2;
	SMS_MO_TYPE_DISPLAY = "MO";
	SMS_MT_TYPE_DISPLAY = "MT";
</cfscript>


<!--- MBLOX --->
<cfset MBLOX_PartnerName = "MsgBroadcastMT">
<cfset MBLOX_PartnerPassword = "Qa3PEwe8">
<cfset MBLOX_Profile = "32258">
<cfset MBLOX_ServiceId = "60021">


<!--- SMS Queue codes --->
<cfset SMSQCODE_READYTOPROCESS = 1>
<cfset SMSQCODE_PAUSED = 2>
<cfset SMSQCODE_ERROR = 5>
<cfset SMSQCODE_PROCESSED = 10>
<cfset SMSQCODE_INFORMATIONONLY = 100>