﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7 /* Font Style */
{
 font-family: 'Tahoma', 'geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts8, span.rvts8 /* Font Style */
{
 font-family: 'Tahoma', 'geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts9
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts10
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts12
{
 font-size: 14pt;
}
span.rvts13
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts14
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
}
span.rvts15
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
}
span.rvts16
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts17
{
 font-size: 12pt;
}
span.rvts18
{
 font-style: italic;
 font-weight: bold;
}
span.rvts19
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #0000bf;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts21
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts22
{
 color: #0000ff;
}
span.rvts23
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts24
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: ;
}
span.rvts26
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts28
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: ;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: ;
}
span.rvts30
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: ;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps4
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps5
{
 text-indent: 48px;
 margin: 0px 0px 0px 480px;
}
.rvps6
{
 text-align: center;
}
.rvps7
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps8
{
}
