
	<cfif isDefined("url.lid")>
	<div style="position:relative; display:inline-block; width:820px;">
	<cfif url.tp eq "e">
	<div style="width:802px; margin:10px 0 15px 10px; padding:0 0 10px 20px; font-size:12px; display:inline-block;">
		Change List Name: 
		<cfoutput>
			<input type="text" name="campaingname" id="campaingname" style="padding:5px; width:250px;" />
			<input type="hidden" name="campid" id="campid" value="#url.lid#">
			<input type="hidden" name="axq" id="axq" value="w">
		</cfoutput> <img src="/resources/images/upcamp-name.png" id="updatecampname" style="margin-left:15px; margin-bottom:.25em; vertical-align:middle;" onclick="campchange();" />
	</div>
	  <cfoutput>
		<cfform name="myform" id="myformid">
			
			<cfinput type="hidden" id="listid" name="listid" value="#url.lid#"  />
			<cfgrid
					name = "phoneListDetailGrid"
					format="html"
					bindOnLoad="yes"
					autowidth="yes"
					bind="cfc:#Application.GridCFCPath#/phonelist.getPhoneListDetail({cfgridpage},{cfgridpagesize},{cfgridsortcolumn},{cfgridsortdirection},{listid})"
					pageSize="25"
					preservePageOnSort="true"
					selectMode="edit"
					selectOnLoad="no"
					font="Verdana"
					fontsize="11"
					label="True"
					stripeRows="true"
					stripeRowColor="##F8F8F8"
					selectColor="##E8E8E8"
					appendKey = "no"
					delete="yes"
					deletebutton="Delete Contact From List"
					onchange="cfc:#Application.GridCFCPath#/phonelist.upPhoneListDetail({cfgridaction},{cfgridrow},{cfgridchanged})"
					width="820px"
					>
					
				<cfgridcolumn name="ContactTypeId_int" header="ContactTypeId_int" display="no" width="50" select="no">
				<cfgridcolumn name="userSpecifiedData_vch" header="Identifier" display="yes" width="200" select="yes">
				<cfgridcolumn name="firstName_vch" header="First Name" display="yes" width="150" select="yes">
				<cfgridcolumn name="lastName_vch" header="Last Name" display="yes" width="150" select="yes">
				<cfgridcolumn name="ContactString_vch" header="Contact Number" display="yes" width="90" select="no">
				<!---<cfgridcolumn name="VoiceActive_int" header="Voice Active" display="yes" width="80" select="no">--->
				<cfgridcolumn name="lastUpdated_dt" header="Last update" display="yes" width="150" select="no">
			</cfgrid>
		
		</cfform>
	  </cfoutput>
	<cfelseif url.tp eq "v">
	<div style="width:802px; margin:10px 0 15px 10px; padding:0 0 10px 20px; font-size:12px; display:inline-block;">
		Change List Name: 
		<cfoutput>
			<input type="text" name="campaingname" id="campaingname" style="padding:5px; width:250px;" />
			<input type="hidden" name="campid" id="campid" value="#url.lid#">
			<input type="hidden" name="axq" id="axq" value="x">
		</cfoutput> <img src="/resources/images/upcamp-name.png" id="updatecampname" style="margin-left:15px; margin-bottom:.25em; vertical-align:middle;" onclick="campchange();" />
	</div>
	  <cfoutput>
		<cfform name="myform" id="myformid">
			
			<cfinput type="hidden" id="listid" name="listid" value="#url.lid#"  />
			<cfgrid
					name = "phoneListDetailGrid"
					format="html"
					bindOnLoad="yes"
					autowidth="yes"
					bind="cfc:#Application.GridCFCPath#/phonelist.getPhoneListDetail({cfgridpage},{cfgridpagesize},{cfgridsortcolumn},{cfgridsortdirection},{listid})"
					pageSize="25"
					preservePageOnSort="true"
					selectMode="row"
					selectOnLoad="no"
					font="Verdana"
					fontsize="11"
					label="True"
					stripeRows="true"
					stripeRowColor="##F8F8F8"
					selectColor="##E8E8E8"
					appendKey = "no"
					width="820px"
					>
					
				<cfgridcolumn name="PhoneListDetailsId_int" header="PhoneListId" display="no" width="50">
				<cfgridcolumn name="userSpecifiedData_vch" header="Identifier" display="yes" width="200">
				<cfgridcolumn name="firstName_vch" header="First Name" display="yes" width="150">
				<cfgridcolumn name="lastName_vch" header="Last Name" display="yes" width="150">
				<cfgridcolumn name="ContactString_vch" header="Contact Number" display="yes" width="90">
				<!---<cfgridcolumn name="VoiceActive_int" header="Voice Active" display="yes" width="80" select="no">--->
				<cfgridcolumn name="lastUpdated_dt" header="Last update" display="yes" width="150">
			</cfgrid>
		
		</cfform>
	  </cfoutput>
	</cfif>
	</div>
	
	
	</cfif>
