<cfcomponent>

     <cffunction output="True" name = "HelloWorld" returnFormat = "plain" access = "public"  hint = "This is a sample cfc for the new guys">
          <cfoutput>


               <div>Hello World</div>

          </cfoutput>
     </cffunction>

</cfcomponent>
