
<cfparam name="inpSFTPURL" default="">
<cfparam name="inpSFTPUID" default="">
<cfparam name="inpSFTPPAssword" default="">
<cfparam name="inpSFTPInDir" default="/">
<cfparam name="inpSFTPFingerPrint" default="">

<cfparam name="inpMSG" default="">

<cfparam name="inpList" default="0">
<cfparam name="inpDownload" default="0">
<cfparam name="inpDelete" default="0">
<cfparam name="inpUpload" default="0">


<cfparam name="inpRemoteFileName" default="">

<cfset inpRemoteFileNameBuff =  Replace(inpRemoteFileName, "/", "_", "ALL") >

<cftry>

	<cffile action="delete" file="ram:///#Session.UserId#_RamFile_#inpRemoteFileNameBuff#">

<cfcatch type="any">

    
 
</cfcatch>

</cftry>

<cftry>

<!---	<cfif TRIM(inpSFTPFingerPrint) NEQ "">
                
				
<cfset getPageContext().Forward('<cfoutput>#rootUrl#/#PublicPath#</cfoutput>/home.cfm') />
<cfabort />
                                                          
     <!---   <cfftp action = "getFile"
            username = "#inpSFTPUID#"
            password = "#inpSFTPPAssword#"
            fingerprint = "#TRIM(inpSFTPFingerPrint)#"
            server = "#inpSFTPURL#"
            secure = "yes"
            stoponerror="Yes"
            localFile = "ram:///RamFile_#inpRemoteFileName#" 
            remoteFile = "#inpRemoteFileName#">--->
            
    
    <cfelse>
         
        <cfftp action = "getFile"
            username = "#inpSFTPUID#"
            password = "#inpSFTPPAssword#"
            server = "#inpSFTPURL#"
            secure = "yes"
            stoponerror="Yes"
            localFile = "ram:///#Session.UserId#_RamFile_#inpRemoteFileNameBuff#" 
            remoteFile = "#inpRemoteFileName#">
     
    </cfif>--->

	<cfftp action = "getFile"
            username = "#inpSFTPUID#"
            password = "#inpSFTPPAssword#"
            server = "#inpSFTPURL#"
            secure = "yes"
            stoponerror="Yes"
            localFile = "ram:///#Session.UserId#_RamFile_#inpRemoteFileNameBuff#" 
            remoteFile = "#inpRemoteFileName#">
            
    <cfcontent type="application/x-unknown">
    <cfheader name="Content-Disposition" value="attachment;filename=#inpRemoteFileName#">
    <cfheader name="Content-Description" value="This is a file downloaded from a remote SFTP site.">
    <cfcontent file="ram:///#Session.UserId#_RamFile_#inpRemoteFileNameBuff#"></cfcontent>   
    
    
    <cffile action="delete" file="ram:///#Session.UserId#_RamFile_#inpRemoteFileNameBuff#">
    

<cfcatch type="any">

    <cfdump var="#cfcatch#">
 
</cfcatch>

</cftry>
