


<cfoutput>
   
<div class="MajorSection">
                    
    <img src="#rootUrl#/#publicPath#/help/images/icons/doc-blank-icon16x16.png" width="16" height="16" style="float:left;" />
    <h3 style="margin-left: 20px;">Meta Data - The Error ID</h3>
            
     <p>
       simpleobjects.error_data
     </p>
               
    <h5>All Errors are defined here</h5> 
   
   	<p>All Errors get a unique ID used to identify them from whatever process logs them</p>     
    <p>All Errors get a unique description</p>
    <p>All Errors come with optional troubleshooting tips</p>
    
</div>      
       
       
       
       
</cfoutput>
	   