﻿<div class="portal-instruction">
	Please use {%portal%} tag to place your CPP in it. Lorem ipsum etc.
	<div  style="width:100%">
		<textarea  id="txtCustomHTMLBuilder" style="width:100%;border-width:1px;" ><cfif find("{%portal%}", Lcase(templateData.CUSTOMHTML_TXT)) EQ 0><cfoutput>#trim(templateData.CUSTOMHTML_TXT)&"{%portal%}"#</cfoutput><cfelse><cfoutput>#trim(templateData.CUSTOMHTML_TXT)#</cfoutput></cfif></textarea>
	</div>
</div>
