
<!---<cfabort>---> 
	<!--- Secure the site in the header each display page--->
	<cfif UCASE(cgi.http_referer) DOES NOT CONTAIN "FACEBOOK">
        <!---<cfinclude template="act_login.cfm">---> 	
        <cfset session.facebook = 0>	
    <cfelse>
        <!---<cfinclude template="act_login_fb.cfm">--->
        <cfset session.facebook = 1>
    </cfif>
    
<cfif !session.facebook>
    <cfparam name="Session.USERID" default="0"/> 
    <!---<cfset OnSessionStart()>--->
    <cfif Session.USERID LT 1>
		<cflocation url="#rootUrl#/#PublicPath#/home" addtoken="false">
        <!---<cflocation url="#rootUrl#/#PublicPath#/home?inpMSG=#URLEncodedFormat('.Your Account has been logged out due to inactivity.')#" addtoken="false">--->
    </cfif>

<cfelse>
	<cfset fbuserid = ''>
    <div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  appId: '196029783766423',
		  status: true,
		  cookie: true,
		  xfbml: true
		});
	  };
	  (function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol +
		  '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
	
	<cfif isdefined('signed_request')>
		<cfset tickBegin = GetTickCount()>
		<cfset b64 = signed_request>
		<!--- Split the param by the . --->
		<cfset raw_str = ListGetAt(b64, 2, ".")>
		<cfset res = Len(raw_str) % 4>
		<cfif res eq 2>
			 <cfset raw_str &= "==">
		<cfelseif res eq 3>
			 <cfset raw_str &= "=">
		</cfif>
		<!--- Base 64 Decode --->
		<cfset result = ToString(BinaryDecode(raw_str, "Base64"))>
		<!--- String to JSON --->
		<cfset json = DeserializeJSON(result)>
		<cfif StructKeyExists(json,'oauth_token')>
			<cfset at = json.oauth_token>
			<cfset fbuserid = json.user_id>
			<cfhttp url="https://graph.facebook.com/me/?access_token=#at#" result="myDetails" />
			<cfset pData = DeserializeJSON(myDetails.filecontent)>
			<!---<cfdump var="#pData#">
            <cfabort>--->
            <cflocation url="../../public/home?oauth_token=#at#&facebook=#session.facebook#" />
            <!---<cfoutput>#fbuserid#</cfoutput>
			 <CFQUERY name="getUser" datasource="#Session.DBSourceEBM#">
				SELECT 
					Password_vch,
					UserId_int,
					PrimaryPhoneStr_vch,
					SOCIALMEDIAID_BI
				FROM 
					simpleobjects.useraccount
				WHERE 
					SOCIALMEDIAID_BI = <CFQUERYPARAM CFSQLTYPE="CF_SQL_VARCHAR" VALUE="#fbuserid#">
			</CFQUERY>
            <cfdump var="#getuser#">
            
			<cfif getuser.recordcount eq 0>
				<Cfset session.fbuserid = fbuserid>
				<cflocation url="../../public/home?oauth_token=#at#" />
			<cfelse>
				<Cfset session.fbuserid = getUser.SOCIALMEDIAID_BI>
                here <cfabort>
			</cfif>--->
		<cfelse>
        	<!--- not yet signed for the permissions --->
			<script>
				top.location.href='https://www.facebook.com/dialog/oauth?client_id=196029783766423&redirect_uri=http://apps.facebook.com/babblesphere/&scope=email,publish_stream'
			</script>
		</cfif>
	</cfif>

</cfif>