<cfset SessionDisplayPath="session/display/NoCss">

<cfset PublicPath = "devjlp/ebm/public">
<cfset SessionPath = "devjlp/ebm/session">
<cfset LOCALPROTOCOL = "http">
	<cfif cgi.https eq 'on'>
					<cfset LOCALPROTOCOL = "https">
		<cfset LocalProtocol="https"> <!--- replace with https later --->
	<cfelse>
					<cfset LOCALPROTOCOL = "http">
		<cfset LocalProtocol="http"> <!--- replace with https later --->
	</cfif>

<cfset LocalDotPath="devjlp.ebm"> <!--- used to find CFC inside of CFAJAX proxies --->
<cfset LocalServerDirPath = "devjlp/ebm/">
<cfset LocalDotPath="devjlp.ebm"> <!--- used to find CFC inside of CFAJAX proxies --->

<cfparam name="Session.ManagementCFCPath" default="DEVJLP.ebm.Management.cfc">
<cfparam name="Session.SessionCFCPath" default="DEVJLP.ebm.Session.cfc">
<cfset CFCPATH = "DevJLP.ebm.session.cfc">




 <!--- Start regulaer HTML here --->
            <cfinclude template="#SessionDisplayPath#/dsp_header.cfm" />
                             
           <!--- <!--- Secure the site in the header each display page--->
            <cfinclude template="act_login.cfm"> --->			 			
            
			<!--- Wrap the body --->
		  	<cfinclude template="#SessionDisplayPath#/dsp_body.cfm" /> 
                      
            <cfif isdefined('url.email') and isdefined('code')>
<cfelse>
</cfif>
		            
			<!--- Do footer stuff here --->
			<cfinclude template="#SessionDisplayPath#/dsp_footer.cfm" />