<cfparam name="CPPUUID" default="0">
<cfinclude template="../paths.cfm" >
<cfscript>
	objServiceObject = createObject('component', 'testservice.cfc.ebmService').init(); 
	objServiceObject.deleteCpp(CPPUUID);
	location("#rootUrl#/cpp/listCpp.cfm");
</cfscript>

