
 					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@DESC")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRDESC = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRDESC = "Description Not Specified">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@BS")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRBS = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRBS = "0">                        
                    </cfif>
                    
                    <!--- Validate ? --->
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@DSUID")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRUID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRUID = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK1")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK1 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK1 = "0">                        
                    </cfif>
                   
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK3")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK3 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK3 = "">                        
                    </cfif>
                    
                     
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK2")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK2 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                    
                    	<cfif CURRCK3 EQ "">
	                        <cfset CURRCK2 = "WARNING - Unable to find editor for any of the enclose MIME types">                        
                        <cfelse>
                        	<!--- Default to plain text version--->
                        	<cfset CURRCK2 = CURRCK3>
                        </cfif>  
                    </cfif>
                                        
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK4")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK4 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK4 = "">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK5")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK5 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK5 = "NoReply@MBCampaign.com">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK6")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK6 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK6 = "">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK7")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK7 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK7 = "">                        
                    </cfif>

                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK8")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK8 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK8 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK9")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK9 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK9 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK10")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK10 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK10 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK11")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK11 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK11 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK12")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK12 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK12 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK13")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK13 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK13 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK14")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK14 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK14 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK15")>
                   
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK15 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK15 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK16")>
                   
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK16 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK16 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CK17")>
                   
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCK17 = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCK17 = "">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@X")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRX = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRX = "0">                        
                    </cfif>

                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@Y")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRY = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRY = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@LINK")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRLINK = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRLINK = "0">                        
                    </cfif>
                                        
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@RQ")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRRQ = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRRQ = "">                        
                    </cfif>
                    
                     <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@CP")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CURRCP = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CURRCP = "">                        
                    </cfif>
                    
                    
				<cfset dataout = QueryNew("RXRESULTCODE, INPBATCHID, INPQID, CURRRXT, CURRDESC, CURRBS, CURRUID, CURRCK1, CURRCK2, CURRCK3, CURRCK4, CURRCK5, CURRCK6, CURRCK7, CURRCK8, CURRCK9, CURRCK10, CURRCK11, CURRCK12, CURRCK13, CURRCK14, CURRCK15, CURRCK16, CURRCK17, CURRRQ, CURRCP, CURRX, CURRY, CURRLINK ")>   
                <cfset QueryAddRow(dataout) />
                <cfset QuerySetCell(dataout, "RXRESULTCODE", 1) />
                <cfset QuerySetCell(dataout, "INPBATCHID", "#INPBATCHID#") />
                <cfset QuerySetCell(dataout, "INPQID", "1") />
                <cfset QuerySetCell(dataout, "CURRRXT", "13") />
                <cfset QuerySetCell(dataout, "CURRDESC", "#CURRDESC#") />
                <cfset QuerySetCell(dataout, "CURRBS", "#CURRBS#") />
                <cfset QuerySetCell(dataout, "CURRUID", "#CURRUID#") />
                <cfset QuerySetCell(dataout, "CURRCK1", "#CURRCK1#") />
                <cfset QuerySetCell(dataout, "CURRCK2", "#CURRCK2#") />
                <cfset QuerySetCell(dataout, "CURRCK3", "#CURRCK3#") />
                <cfset QuerySetCell(dataout, "CURRCK4", "#CURRCK4#") />
                <cfset QuerySetCell(dataout, "CURRCK5", "#CURRCK5#") />
                <cfset QuerySetCell(dataout, "CURRCK6", "#CURRCK6#") />
                <cfset QuerySetCell(dataout, "CURRCK7", "#CURRCK7#") />
                <cfset QuerySetCell(dataout, "CURRCK8", "#CURRCK8#") />
                <cfset QuerySetCell(dataout, "CURRCK9", "#CURRCK9#") />
                <cfset QuerySetCell(dataout, "CURRCK10", "#CURRCK10#") />
                <cfset QuerySetCell(dataout, "CURRCK11", "#CURRCK11#") />
                <cfset QuerySetCell(dataout, "CURRCK12", "#CURRCK12#") />
                <cfset QuerySetCell(dataout, "CURRCK13", "#CURRCK13#") />
                <cfset QuerySetCell(dataout, "CURRCK14", "#CURRCK14#") />
                <cfset QuerySetCell(dataout, "CURRCK15", "#CURRCK15#") />
                <cfset QuerySetCell(dataout, "CURRCK16", "#CURRCK16#") />
                <cfset QuerySetCell(dataout, "CURRCK17", "#CURRCK17#") />
                <cfset QuerySetCell(dataout, "CURRRQ", "#CURRRQ#") />
                <cfset QuerySetCell(dataout, "CURRCP", "#CURRCP#") />
                <cfset QuerySetCell(dataout, "CURRX", "#CURRX#") />
                <cfset QuerySetCell(dataout, "CURRY", "#CURRY#") />
                <cfset QuerySetCell(dataout, "CURRLINK", "#CURRLINK#") />
            
