



 					<cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/@DESC")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrDesc = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrDesc = "Description Not Specified">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/@BS")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrBS = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrBS = "0">                        
                    </cfif>
                    
                    <!--- Validate ? --->
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/@DSUID")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrUID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrUID = "0">                        
                    </cfif>
                    
                                         
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/@LIB")>
                    		
					<cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrLibID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrLibID = "0">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/ELE/@ID")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrEleID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrEleID = "0">                        
                    </cfif>
                    
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/DM/@DI")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrDataID = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrDataID = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@X")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrX = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrX = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@Y")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrY = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrY = "0">                        
                    </cfif>
                    
                    <cfset selectedElementsII = XmlSearch(XMLELEDoc, "/ELE/@LINK")>
                    
                    <cfif ArrayLen(selectedElementsII) GT 0>
                        <cfset CurrLINK = selectedElementsII[ArrayLen(selectedElementsII)].XmlValue>
                    <cfelse>
                        <cfset CurrLINK = "0">                        
                    </cfif>
                    

                    <cfset QuerySetCell(dataout, "CURRDESC", "#CurrDesc#") />
                    <cfset QuerySetCell(dataout, "CURRBS", "#CurrBS#") />
                    <cfset QuerySetCell(dataout, "CURRUID", "#CurrUID#") />
                    <cfset QuerySetCell(dataout, "CURRLIBID", "#CurrLibID#") />
                    <cfset QuerySetCell(dataout, "CURRELEID", "#CurrEleID#") />
                    <cfset QuerySetCell(dataout, "CURRDATAID", "#CurrDataID#") />
                    <cfset QuerySetCell(dataout, "CURRX", "#CurrX#") />
                    <cfset QuerySetCell(dataout, "CURRY", "#CurrY#") />
                    <cfset QuerySetCell(dataout, "CURRLINK", "#CurrLINK#") />
            
                
                			