

<!---

Replace this page with the preview functionality 

https://litmus.com/blog/best-practices-for-optimizing-order-confirmation-emails

Best Practices for Optimizing Order Confirmation Emails


     <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="feature-title" id="feature1">Event Based Communications</div>
                    <div class="feature-content">
                        
                        <p>Communication events are triggered throughout the customer lifecycle</p>
                        
                        
                        <ul>
                        	<li></li>
                            
                        </ul>
                        
                            
                    </div>
                </div>

              	<div class="col-md-6">                    
                                    
                       <img style="float:left;" src="../images/learning/interactions31.png" />                                                                  
                    
                </div>

            </div>
        </div>
    </div>
	
	
	 <source src="../images/learning/passthroughaampleiii.m4v" type="video/mp4">
	  <source src="../images/learning/PassThroughSample.m4v" type="video/mp4">

  <div align="center" class="embed-responsive embed-responsive-16by9">
		    <video autoplay loop class="embed-responsive-item">
		        <source src="../images/learning/logo.m4v" type="video/mp4">
		    </video>
		</div>

<video id="videobcg" loop="loop" muted="muted" volume="0" controls="true">
	     <source src="../images/learning/logo.m4v" type="video/mp4">
	          Sorry, your browser does not support HTML5 video.
	</video>

--->



<section class="main-wrapperx feature-main cs-eai" id="feature-main" style="">
		
	 	<div align="center" class="embed-responsive embed-responsive-16by9">
		    <video autoplay loop class="embed-responsive-item">
		        <source src="/public/sire/images/learning/pass.m4v" type="video/mp4">
		    </video>
		</div>
        
      	
	


            
                            
</section>



<cfparam name="variables._title" default="Pass Through Providers">
<cfinclude template="../views/layouts/learning-and-support-layout.cfm">

<style>
	
	.main-wrapper {
    	padding-bottom: none !important;
	}
	
</style>