<cfsetting showdebugoutput="no"/>



<!---



username
password

OR

Pub Key Private key




Generste get call from batchid

GET 
	URL Parameters only
	Allow quick tests from browsers - verify operation
	
	
POST 
	FORM Data
	JSON
	URL Parameters



Dont store your keys in javascript or any other user visible areas - ALWAYS use server side



Input Phone number for one of and testing - auto validate numbers is subscribed

To subscribe - publish a keyword
from device send keyword

OR

Trigger an override request - How to secure this to opt in campaigns only?

Secure
No more than so many transaction per minute?
per IP address?
per number?
per template type?

 <p>If you are feeling adventurous and have a burning desire to try out Sire’s REST API, look no further, this article demonstrates the first few basic steps to get you started.</p> 
                            
                            
		                    <p>Sire's REST APIs can be accessed using your preferred programming language. Any language that supports calling web URLs will work. Although not really useful, you can even trigger via  </p>
							

From Logged in form ok. One off message must include stop an help info.
Dedicated short code to allow triggers to unsubscribed users - Enterprise feature - you better be darn sure you are not spamming or you will get shut down quickly.

If on STOP then will require device to keyword back in OR allow user override from account settings

http://dev.ebmui.com/ire/secure/triggerSMS?inpBatchId=0&username=1B589FBF7A7BEAF36FBA&password=F4193%2BB19e611Bd6481683A12543AF88e13FDF0A
https://api.siremobile.com/ire/secure/triggerSMS



Transactional SMS API - for those already on your list you can easily trigger alerts from your own app.
Enterprise customers can trigger compliant messages for those not aon a list yet but dedicated short code required


Demo API

Pick your phone number - auto notify if not on list or IS on list - like keyword notices tool
Copy link
Demo account with minimal usage allowed
Only works on opt in phone numbers
Keyword for opt in to Sire

Click button to submit or post in url youself
Congratulations - you just called our transactional API
Stupid simple



Explain REST APIs - in alternate page - learn more


Demo method to hide login info - allow join to see it work



Things that make it painless.....
*** Format of number is up to you - Sire will scrub all the non numberic - as long as you are left with 10 digits you are good
(949)555-1212
949.555.1212
949-555-1212



CURL version



Do a version for text response




--->


<style>

.form-group
{
	display:block;	
	margin-left:1em;
	margin-right:1em;
}

.control-label
{
	display:block;	
	
}

div.feature-white 
{
    padding: 0em 0em 1em 0em;
}



</style>



<section class="main-wrapper feature-main" id="feature-main">


	<div class="feature-white no-padding-bottom">
        <div class="container">
            <div class="row">
				
				
                
				<div class="col-sm-12 col-lg-8 col-lg-offset-2">
					<div class="feature-title" id="feature1">API - Transactional SMS</div>
    					 
                    <img class="feature-img-no-bs" alt="" src="../../../public/sire/images/learning/https-api.png">
                      
                </div>
                
            </div>
        </div>
    </div>

	
    
   
        
       <div class="feature-white">
			<div class="container">
				             
                
                <div class="row">
				                    
					<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
						<div class="feature-title" id="feature1">How To Keep it Simple</div>
						<div class="feature-content">
                        	                                                        
                           <p>To trigger a Transactional SMS, you need to send information via an HTTPS request to the URL address <b>https://api.siremobile.com/ire/secure/triggerSMS</b>. At a minimum of you need four pieces of information to send along with this request. To see how the information can be used to generate a REST API request click the BUILD URL button below. The default information is fake but you can enter your real account information to try it.</p>
                          
                            <form name="http-api-form" class="row http-api-form" id="http-api-form" autocomplete="off">
                     
                                <div class="form-group">                                
                                    <div class="row">
                                        <label for="inpContactString" class="col-sm-6 col-lg-4 control-label">Target SMS Phone Number</label>
                                        <div class="col-sm-6 col-lg-8">
                                            <input type="text" class="form-control validate[required,custom[usPhoneNumberII]]" id="inpContactString" name="inpContactString" maxlength="15" value="9495551212" data-prompt-position="topLeft:100"> 
                                        </div>
                                        
                                    </div>    
                                </div>
                                <div class="form-group">                                
                                    <div class="row">
                                        <label for="inpBatchId" class="col-sm-6 col-lg-4 control-label">Batch Id</label>
                                        <div class="col-sm-6 col-lg-8">
                                            <input type="text" class="form-control validate[required,custom[noHTML]]" id="inpBatchId" name="inpBatchId" value="160706" maxlength="25" data-prompt-position="topLeft:100">
                                        </div>
                                    </div>    
                                </div>
    
                                <div class="form-group">
                                    <div class="row">
                                        <label for="inpUserName" class="col-sm-6 col-lg-4 control-label">Access Key ID</label>
                                        <div class="col-sm-6 col-lg-8">
                                            <input type="text" class="form-control validate[required,custom[noHTML]]" id="inpUserName" name="inpUserName" maxlength="250" value="7FBD5A70B591DF0EA63C" data-prompt-position="topLeft:100">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                        <label for="inpPassword" class="col-sm-6 col-lg-4 control-label">Secret Access Key</label>
                                        <div class="col-sm-6 col-lg-8">
                                            <input type="text" class="form-control validate[required,custom[noHTML]]" id="inpPassword" name="inpPassword" maxlength="250" value="c1Cd85Fe059600A6fDfa1D/8e6e06E2374D281fb" data-prompt-position="topLeft:100">
                                        </div>
                                    </div>    
                                </div>
                                
                                <div class="form-group">
                                    <div class="btn-group-setting">
                                        <button type="button" class="btn btn-success btn-success-custom" id="btn_build_URL">Build Your Own Trigger URL</button>  
                                     <!---    OR <button type="button" class="btn btn-success btn-success-custom" id="btn_build_JSON">Build Your Own JSON Request Data</button>  --->
                                    </div>	
                                </div>
                            
                            </form>
                    		                                                          
						</div>
					</div>
                    
				</div>
                
                
                 <div class="row">
				                    
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						<div class="feature-title" id="feature1"></div>
						<div class="feature-content">
                        	
                            <h4>The URL you need to call the REST API</h4>
                            <b><textarea id="HTTPSAPIURL" name="HTTPSAPIURL" rows="5" style="width:100%;" class="form-control"></textarea></b>
                            
                            <p>This REST URL will work with either GET (like from your Browser) or POST from any application that supports web REST calls. This REST URL is using basic user name / password over SSL security. <b>Optionally,</b> if you want to learn to use full Pub/Private key with your REST API calls click here <a data-toggle="modal" href="#" data-target="#AuthMechModal">SIRE REST API Pub/Private Key Option </a></p>
                                                                                      
						</div>
					</div>
                    
				</div>
                
			</div>
		</div>
        
        
         <div class="feature-white">
			<div class="container">
				<div class="row">
                    
                    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
						
                        <img class="feature-img-no-bs" src="../../../public/sire/images/learning/details.jpg" style="width:50%;">
                    </div>
                                     
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						
                        <div class="feature-title" id="feature1">Where do I send it?</div>              	 
                                               
						<div class="feature-content">
                        	
                          	<p>The API is hosted athttps://api.siremobile.com/ire/secure/, and may be accessed via HTTPS only.</p>
                            
                            <p>Each request MUST be authenticated, using a combination of Access Key ID (or simple username) and Secret Access Key (or simple password)</p>
                        
						</div>
					</div>
                    
				</div>
			</div>
		</div>
        
        
        <div class="feature-white">
			<div class="container">
				<div class="row">
                                
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						 
                    	<div class="feature-title" id="feature1">What do I send?</div>
                                               
						<div class="feature-content">
                        	
                          	<h4>Target SMS Phone Number</h4>  
                          	<p>This is an US based 10 digit phone number. Don't worry about the formatting of the phone number, as Sire will automatically scrub out non-numeric numbers for you.
                          	<ul class="new-list">
                          	
                            	<li>(949)555-1212</li>
								<li>949.555.1212</li>
								<li>949-555-1212</li>

							</ul>
                            Will all work.
                          	</p>
                          
                          
                          	<h4>Batch Id</h4>  
                          	<p>Every campaign you create in Sire UI will have an assigned 6-8 digit Batch Id. This Batch Id is system unique and is used to identify which Sire flow you wish to trigger with the REST API request. You can only trigger requests to Batch Ids from your own account.</p>
                          
                          
                          	<h4>Access Key ID</h4>
                          	<p>This access key uniquely identifies your account as part of the request. This can be used as a straight User Name or as the Public key in a more secure Pub/Private key authentication scheme. You can get this access key from the Security Credentials sub menu item under the My Account Menu. You can add new keys or the existing keys can be disabled or deleted.</p>
                        
                        
                        	<h4>Secret Access Key</h4>
	                        <p>This access key uniquely identifies your account as part of the request. This can be used as a straight Password or as the Private key used to encrypt a salted timestamp string in a more secure Pub/Private key authentication scheme.  You can get this access key from the Security Credentials sub menu item under the My Account Menu. You can add new keys or the existing keys can be disabled or deleted.</p>
                        
                        
                       		<h4>Three ways you can send data to the API</h4>
                            <ul class="new-list">
                            	<li>URL Parameters <p>If you use URL parameters then the data you send must be URL encoded.</p></li>
                                <li>POST Form Data</li>
                                <li>POST JSON</li>	                            
                            </ul>
                            <p>Parameters MUST be submitted in the query string for GET requests. For POST requests, parameters MAY be submitted in the query string, but SHOULD be submitted in the POST body as a JSON hash (while setting <code>Content-Type: application/json</code>). </p>
                         
						</div>
					</div>
                    
				</div>
                
                <div class="row">
				                    
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						<div class="feature-title" id="feature1"></div>
						<div class="feature-content">
                        	
                            <h4>The JSON you would need to submit with POST requests</h4>
                            <b><textarea id="HTTPSAPIJSON" name="HTTPSAPIJSON" rows="7" style="width:100%;" class="form-control"></textarea></b>
                            
                            <p>This REST URL will work with either GET (like from your Browser) or POST from any application that supports web REST calls. This REST URL is using basic user name / password over SSL security. <b>Optionally,</b> if you want to learn to use full Pub/Private key with your REST API calls click here <a data-toggle="modal" href="#" data-target="#AuthMechModal">SIRE REST API Pub/Private Key Option </a></p>
                                                                                      
						</div>
					</div>
                    
				</div>
                
			</div>
		</div>
        
          <div class="feature-white">
			<div class="container">
				<div class="row">                    
                                                        
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						
                        <div class="feature-title" id="feature1">How do I send it?</div>              	 
                                               
						<div class="feature-content">
                        	
                          	<h4>Using a Browser to Call API Methods</h4>
							<p>To learn more about the API and practice using the methods, you can either use either the tool of your choice or use this guide to make the calls using either a browser or a RESTful add-on to a browser.</p>

							<h4>Using the browser address bar</h4>
							<p>It is simple to make calls to the API using only your browser's address bar. For the most part, only GET methods will work for this approach.</p>	
    
    						<p>1. Go to your browser's address bar and type in the following url</p>
                            <p><i><b>https://api.siremobile.com/ire/secure/</b></i></p>
    
                            <p>Followed by the method you would like to see.</p>
                            
                            <p>An example of how to trigger an SMS campaign using the method GET: triggerSMS, type in the following:</p>
                                                        
                            <p><i><b>https://api.siremobile.com/ire/secure/triggerSMS</b></i></p>
                         
							<p>For query parameters, simply add them onto the end of the url you just typed in with a ? after the method call but before typing in the query parameters. Each query parameter is separated by &amp;</p>

                            <p>An example of how to to trigger an SMS campaign to a specific user using the method GET: triggerSMS with query parameters of:
                            <ul class="new-list">
                            	<li>inpContactString=(949)555-1212</li>
                                <li>inpBatchId=160706</li>
                                <li>inpUserName=7FBD5A70B591DF0EA63C</li>
                                <li>inpPassword=********</li>
                               
                            
                            </ul>
                            type in the following:</p>
                            
                            <i><b>
                            	<textarea rows="6" style="width:100%;">https://api.siremobile.com/ire/secure/triggerSMS?inpContactString=(949)555-1212&amp;inpBatchId=160706&amp;inpUserName=7FBD5A70B591DF0EA63C&amp;inpPassword=c1Cd85Fe059600A6fDfa1D%2F8e6e06E2374D281fb</textarea>
                            </b></i>
                            
							<h4>Using a RESTful add-on for your browser</h4>
                            
                            <p>You may also Install a RESTful add-on to your browser of your choice: </p>
                            
                            <p>Suggestions</p>
                            
                            
                            <ul class="new-list">
                                <li><p><em>Google Chrome</em>: Install the <a href="http://www.getpostman.com/" target="_blank">Postman RESTful Client</a>, or another RESTful Client of your choice, add-on for Google Chrome</p></li>
                                <li><p><em>Mozilla Firefox</em>: Install the <a href="https://addons.mozilla.org/en-US/firefox/addon/restclient/" target="_blank">RESTClient</a>, or another RESTful Client of your choice, add-on for Mozilla Firefox</p></li>                               
                            </ul>
                            
						</div>
					</div>
                    
				</div>
			</div>
		</div>
        
        
          <div class="feature-white">
			<div class="container">
				<div class="row">
				                    
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						
                        <div class="feature-title" id="feature1">What do I get back?</div>
                        
						<div class="feature-content">
                        	
                        	<p>1. First thing you will get back on all REST API requests is an acknowledgment.
                            
                            	HTTP status codes are used to indicate the success or otherwise of REST API requests. The following status are common:
                            
                            <table class="table table-bordered"><thead><tr><th>Code</th><th>Description</th></tr></thead><tbody><tr><td>200</td><td>Successful request. Body will contain a JSON or XML hash of response data</td></tr><tr><td>400</td><td>Error: details in response body</td></tr><tr><td>401</td><td>Authentication error: response body will contain an explanation</td></tr><tr><td>403</td><td>Forbidden: app disabled or over message quota</td></tr></tbody></table>
                            
                            </p>
                        
                        
                         	<p>2. After a successful request (HTTP status code: 200) you will also get back request details. Two possible formats you can get the detail result data back from the API</p>
                            <ul class="new-list">
                            	<li><a data-toggle="modal" href="#" data-target="#JSONInfoModal">JSON (API Default)</a></li>
                                <li>XML (Browser Default)</li>                                                          
                            </ul>
                            
                            <h5>Key values to look for in the return results</h5>
                            
                            <ul>
                            	
                            	<li><b>REQUESTUUID</b> - Unique ID assigned to the request from the Sire System</li>
                            	
                            	<li><b>INPBATCHID</b> - The Campaign Id of the original request.</li>                            	                            	                            	
                            	                           	
                            	<li><b>INPCONTACTSTRING</b> - The Contact string used in the original Request</li>
                            	
                            	<li><b>SMSDEST</b> - Short code used by the Campaign Id. used by those customers that have more than one Short Code.</li> 
                            	
                            	<li><b>SMSINIT</b> -  System code - Value of 1 for Accepted by downstream carriers as a valid request. If this is 0 you may look for additional reasons why in Results Exception Messaging </li>
                            	
                            	<li><b>STATUSCODE</b> - System code - Value of 1 for successful request on the API - Value of 0 for unsuccessful API requests</li>
                            	                            	
                            	<li><b>BLOCKEDBYDNC</b> - System code - Value of 1 if the user has asked not to be contacted on the target short code any more. Value of 0 if not blocked by any prior DNC request.</li>
                            	
                            </ul>	                            	
                            	
                            <h5>Schedule Limited Campaigns</h5>
                            <ul>
                            	<li><b>INPTIMEZONE</b> - Optional input specifying the time zone of the requested device. This is ignored for real time campaigns.</li>                            	
                            	
                            	<li><b>CURRTZ</b> - If a time zone is not provided as part of the request, this is the time zone detected for the target device.</li>
                            </ul>	                          	
                            	
                            	
                            	                            	
                            	<h5>Results Exception Messaging.</h5>
                            <ul>	
                            	<li><b>MESSAGE</b> - If there is any additional information of note related to this request. Usually blank under normal calls</li>
                            	
                            	<li><b>TYPE</b> - Type of Error if Any</li>
                            	
                            	<li><b>ERRMESSAGE</b> - Cause of Error if Any</li>
                            	
                            	<li><b>DISTRIBUTIONID</b> - Internal System ID to help track which system is processing the request. Use REQUESTUUID for system wide unique Id</li>

                           </ul>
						   
						   <h5>Common Result Scenarios</h5>
	
						   <ul>
							 	<li>OK, successful submission to the platform</li>
								<li>Account Suspended</li>
								<li>Credit Balance is 0</li>
								<li>Message could not be forwarded to the core platform</li>
								<li>Error in message data causing translation error</li>
								<li>Message contains illegal characters causing encoding error</li>
								<li>General sending error</li>
								<li>Private connection configuration error</li>
								<li>Message rejected by core platform</li>
								<li>Invalid INPCONTACTSTRING</li>
								<li>Invalid INPBATCHID</li>
								<li>Destination busy</li>
                           </ul>
	                            	
                           <!--- 
	                           
	                           
	                           This XML file does not appear to have any style information associated with it. The document tree is shown below.
<ROOT>
<INPBATCHID>161370</INPBATCHID>
<MESSAGE/>
<DISTRIBUTIONID>647</DISTRIBUTIONID>
<INPCONTACTSTRING>9494000553</INPCONTACTSTRING>
<INPTIMEZONE/>
<REQUESTUUID>060c7e54-636d-4954-b039-ab45b7057aab</REQUESTUUID>
<ERRMESSAGE/>
<STATUSCODE>1</STATUSCODE>
<TYPE/>
<BLOCKEDBYDNC>0</BLOCKEDBYDNC>
<SMSDEST>39492</SMSDEST>
<CURRTZ>31</CURRTZ>
<SMSINIT>1</SMSINIT>
</ROOT>
                           
	                            --->
                        
						</div>
					</div>
                    
				</div>
			</div>
		</div>
        
        
       
       
         <div class="feature-white">
			<div class="container">
				<div class="row">
				                    
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						<div class="feature-title" id="feature1">Unlimited Custom Data Fields (CDF)s</div>
						<div class="feature-content">
                        
                        
                        	                            
                          	<p>Beyond just First Name / Last Name. Tools to manage your custom data. Your account. Your data. No Limits!</p>
                            
                            <p>Your company's unique strengths are its competitive advantage. Why should you compromise with vanilla application deployments or other vendor limits? With Sire's Custom Data Fields, you don't have to.</p>
                            
                          	<p>Any CDFs in the message flow will be replaced with the data you send as part of the triggerSMS API call. Send these additional CDF values as part of the URL query string in GET and POST requests or as part of the JSON data in the POST requests. </p>
                          
                          
                          	<h4>Personalization</h4>
                          	<p>Personalize different parts of each message for each individual recipient.</p>
                          
                          	<div id="cp1" class="clearfix control-point">
                                <div class="col-sm-12">
                                    <div class="control-point-border clearfix">
                                        <div class="col-sm-12">
                                            <label class="control-point-label"># 1. CSS Survey</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr class="hr0">
                                        <div class="col-sm-12 clearfix">
                                            <div class="control-point-body">
                                            <div class="control-point-text Preview-Bubble Preview-Me"><code class="mceNonEditable">{%inpCustomerName%}</code>, thanks for your recent social media contact with <code class="mceNonEditable">{%inpBrandName%}</code>. We'll text you shortly for some feedback about your experience.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                     
                          	<h4>Customization</h4>
                          	<p>Customize parts of the message to relate to each individual recipient's transaction history. The knowledge that a company has about a customer needs to be put into practice and the information held has to be taken into account in order to be able to give the client exactly what he wants</p>
                          
                            <div class="clearfix control-point" id="cp1">
                                <div class="col-sm-12">
                                    <div class="control-point-border clearfix">
                                        <div class="col-sm-12">
                                            <label class="control-point-label"># 1. Fraud Alert </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr class="hr0">
                                        <div class="col-sm-12 clearfix">
                                            <div class="control-point-body">
                                            <div class="control-point-text Preview-Bubble Preview-Me">Hello. This is a <code class="mceNonEditable">{%inpBrand%}</code> Alert to help you manage your account ending in <code class="mceNonEditable">{%inpLastFourAcct%}</code>. The $<code class="mceNonEditable">{%inpAmount%}</code> ATM withdrawal you made on <code class="mceNonEditable">{%inpDateTime%}</code> was more than the $<code class="mceNonEditable">{%inpThreshold%}</code> limit in your Alerts settings.If you have questions, please log on to your account or call 1-877-555-1212. Thanks for choosing <code class="mceNonEditable">{%inpBrand%}</code>.</div>
                                            </div>
                                        </div>
                                	</div>
                                </div>
                            </div>

                         
                          	<p>An example of how to to trigger an SMS campaign to a specific user with <b>Custom Data Fields (CDF)s</b> using the method GET: triggerSMS with query parameters of:
                            <ul class="new-list">
                            	<li>inpContactString=(949)555-1212</li>
                                <li>inpBatchId=160706</li>
                                <li>inpUserName=7FBD5A70B591DF0EA63C</li>
                                <li>inpPassword=********</li>
                                <li>inpCustomerName=Joe</li>
                                <li>inpBrandName=BrandX</li>
                            
                            </ul>
                            type in the following:</p>
                            
                            <i><b>
                            	<textarea rows="6" style="width:100%;">https://api.siremobile.com/ire/secure/triggerSMS?inpContactString=(949)555-1212&amp;inpBatchId=160706&amp;inpUserName=7FBD5A70B591DF0EA63C&amp;inpPassword=c1Cd85Fe059600A6fDfa1D%2F8e6e06E2374D281fb&amp;inpCustomerName=joe&amp;inpBrandName=BrandX</textarea>
                            </b></i>
                          
                        
                        
                                
						</div>
					</div>
                    
				</div>
			</div>
		</div>
        
         <div class="feature-white">
			<div class="container">
				<div class="row">
				                    
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						<div class="feature-title" id="feature1">Who can I send to?</div>
						<div class="feature-content">
                        
	                      <p>SMS marketing is messaging customers who you've subscribed to various lists. They give you permission to send them messages, and as long as you follow all guidelines and best practices, there should never be negative feedback on your brand. Targeting is also key, which is why you should use the profile data collection options when you subscribe your customers to better target your messages in the most relevant way possible.</p>
                        	                    
                          <p>Shared Short Code accounts are limited to sending triggered SMS to only those phone numbers already on their double opt in lists.</p>
                         
                          <p>Enterprise clients may upload their existing lists for use on their own dedicated short codes for pre-approved campaigns. </p>
                       
						</div>
					</div>
                    
				</div>
			</div>
		</div>
        
        <!---
        
         <div class="feature-white">
			<div class="container">
				<div class="row">
				                    
					<div class="col-sm-12 col-lg-8 col-lg-offset-2">
						<div class="feature-title" id="feature1">Links to more advanced information for those who want it</div>
						<div class="feature-content">
                       
					      <p>Sire does all the work - thats the point - so we wont bury you in tons of API methods</p>
						   	
                          <p>A few notes on Security otions</p>
                          <p>Call campaings have a unique Batch Id</p>
                          <p>Sire does all the work - thats the point - so we wont bury you in tons of API methods</p>
                                
						</div>
					</div>
                    
				</div>
			</div>
		</div>        
        
        --->
        
      
        
        
        
</div>


<!-- Modal -->
<div id="JSONInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">JSON</h4>
      </div>
      <div class="modal-body">
        <p>JSON or JavaScript Object Notation is a language-independent open data format that uses human-readable text to express data objects consisting of attribute-value pairs.</p>

		<p>Although originally derived from the JavaScript scripting language, JSON data can be generated and parsed with a wide variety of programming languages including JavaScript, PHP, Python, Ruby and Java.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="AuthMechModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Public / Private Key Authentication Option</h4>
      </div>
      <div class="modal-body">
        
	      <div class="document-list">
            <h2 class="head1 document-getting">Request Making</h2>
            <ul class="doc-auth-list doc-request-list">
                <li>
                    <p><b><i>Authentication Example:</i></b></p>
                    <p>Developers are issued a <em><strong>Sire Access Key ID(a 20-character,alphanumeric string)</strong></em> and <em><strong>Secret Access Key (a 40-character string)</strong></em> as soon as they create an account on
                    Sire.The precise location where developers can get the aforementioned security credentials on Sire is as follows:<br><em><strong>My Account--&gt;Security Credentials</strong></em>.</p>
                    <p>The examples in this document use the(non-working) credentials in the following table.</p>
                    <table class="verb-parametors">
                        <tbody>
                            <tr>
                                <!--<td><b>Parameter</b></td>
                                <td><b>Value</b></td> -->
                                <td><b>Access Key ID</b></td>
                                <td>DNN7ACCESSKEYEXAMPLE</td>
                            </tr>
                            <tr>
                                <td><b>SecretKey</b></td>
                                <td>wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                <p></p>
                    <p>
                        <b><i>Authorization Request Header:</i></b> <br>
                       </p><p> The Sire API uses the standard HTTP <i>Authorization</i> header to pass the authentication information.The following is pseudo-grammar that illustrates 
                        the construction of the <i>Authorization</i> request header:<br>
                        <span class="doc-red">Note (*): HTTP-Verbs must be uppercase, example: GET, POST etc.</span></p>
                    <p></p>
                    
                    <!--<pre hljs> -->
                    <table class="verb-parametors">
                      <tbody>
                           <tr>
                                <td><div align="center"><b> Example of Constructing an Authorization Request Header </b></div></td>
                            </tr><tr>
                               <td> 
                                   1) <strong>StringToSign: </strong>A string based on selected request elements.  <br>
                                  &nbsp;&nbsp;&nbsp;&nbsp;<i>StringToSign = HTTP-Verb + "\n\n\n" +<br>
                                  </i><p style="padding-left : 7.8em;"><i>Datetime + "\n\n\n" + ;</i></p><br>
                                  2) <strong>Signature: </strong>The URL encoding of the Base64 encoding of the HMAC-SHA1 of StringToSign.
                                 <i><p style="padding-left : 1.2em;">Signature = Base64(HMAC-SHA1(YourSecretAccessKeyID, UTF-8-Encoding-Of(StringToSign)));</p></i> <br>
                                  <i><p style="padding-left : 1.2em;">Authorization = AccessKeyID + "<strong>:</strong>" + Signature;</p></i> <br>
    
                                
                                </td>
                            </tr><tr>   
                    </tr></tbody>
                    </table>
                    <span class="doc-red">Note: The newline character <em><strong>\n</strong></em> is equivalent to the ASCII value of 10 or in Hex 0x0A or CHR(10) or ASC(10). </span><p></p>
                   <!-- </pre> --> 
                </li>
                <li>
                    <p><strong>Example:</strong> The Following is an example query string for an authenticated Sire REST request.</p>
                    <table class="verb-parametors">
                        <tbody>
                            <tr>
                                <td><b>Request</b></td>
                                <td><b>StringToSign</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <strong>GET /cpp?format=json</strong> <br>
                                        <strong>Host:&nbsp;&nbsp;</strong>eventbasedmessaging.com<br>
                                        <strong>Datetime:&nbsp;&nbsp;</strong> <span class="doc-red">Mon, 17 Sep 2012 08:34:30 GMT</span><br>
                                    </p>
                                    <p>
                                        <em><span class="doc-red">Authorization:<span class="doc-red">DNN7ACCESSKEYEXAMPLE:tdGOp6AlCEGY01WVuZWfauFCWps=</span></span></em>
                                    </p>
                                </td>
                                <td><span class="doc-red">GET\n\n\n Mon, 17 Sep 2012 08:34:30 GMT\n\n\n</span> </td>
                            </tr>
                        </tbody>
                    </table>                   
                </li><p></p>
                <li><em><strong>Time Stamp:</strong></em>Each request must contain the date and time the request was created, represented as a string in UTC.</li>
            </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>    
    
    
    
    
    
    

<cfparam name="variables._title" default="REST API Transactional SMS">
<!---<cfinclude template="../views/layouts/learning-and-support-layout.cfm">--->
