<cfinclude template="/session/sire/configs/credits.cfm">

<cftry>
    
        <!--- gate way--->
        
        <cfset  env = createObject("java", "com.braintreegateway.Environment").init("","",[],"") /> 
        <cfset  cfg = createObject("java", "com.braintreegateway.Configuration").init(
                 env.SANDBOX,
                "xjkpkbrpkd7n5tsv",
                "jmz6z8h6zvbs6ky4",
                "868550e18bc620edf4a1a3e347c715d3"
        ) /> 
        
        <cfset  gw  = createObject("java","com.braintreegateway.BraintreeGateway")
                .init(
                env.SANDBOX,
                "xjkpkbrpkd7n5tsv",
                "jmz6z8h6zvbs6ky4",
                "868550e18bc620edf4a1a3e347c715d3"
                )>
        <!--- 
        <cfset  http = createObject("java", "com.braintreegateway.util.Http").init(cfg) /> 
        <cfset  paymentMethodNonce= createObject("java", "com.braintreegateway.PaymentMethodNonceGateway")
                .init(
                http,
                cfg
                )>  
        --->       
        
        <!---
        <!--- Customer--->
        <cfset customerId="0">
        <cfset customer= createObject("java","com.braintreegateway.CustomerRequest")
                .init(

                )>

        <cfset customer.firstName("Hung")>
        <cfset customer.lastName("Nguyen")>
        
        <cfset customer.email("mark.jones@example.com")>    
        <cfset customer.phone("614-555-1234")>
        
        <cfset customer.id(customerId)>                              
        
        <cfset createCustomer = gw.customer().create(customer)> 
        <cfdump var="#createCustomer#">
        <cfif createCustomer.isSuccess()>
                <cfdump var="#createCustomer.getTarget().getId()#">
        <cfelse>
                <cfdump var="#createCustomer.getTransaction()#">
                <cfdump var="#createCustomer.getMessage()#">
                <cfset createCustomer=gw.customer().update(customerId, customer)>
        </cfif>   
        create customer
        
        <cfif createCustomer.isSuccess()>                
                <cfdump var="#createCustomer.getTarget().getId()#">
        <cfelse>
                <cfdump var="#createCustomer.getTransaction()#">
                <cfdump var="#createCustomer.getMessage()#">                
        </cfif>
        <cfdump var="#createCustomer.getTarget()#">                
        
        <cfabort>
        
        <!--- CC--->
        <cfset cc= createObject("java","com.braintreegateway.CreditCardRequest")
                .init(

                )>

        <cfset cc.customerId(customerId)>
        <cfset cc.cvv("100")>
        <cfset cc.number("4012888888881881")>
        <cfset cc.expirationDate("06/22")>
                
        <cfset cc.billingAddress().firstName("Hung")>
        <cfset cc.billingAddress().lastName("Nguyen")>
        <cfset cc.billingAddress().countryCodeAlpha2("CA")>
        <cfset cc.billingAddress().streetAddress("109 hn")>
        <cfset cc.billingAddress().postalCode("9200")>

        <cfset createCC = gw.creditCard().create(cc)>
        create cc
        <cfdump var="#createCC.getTarget()#">   
        <cfdump var="#createCC.getTarget().getToken()#">   
        <cfdump var="#createCC.getTarget().getId()#"> 
        
        <cfif createCC.isSuccess()>                
                <cfdump var="#createCC.getTarget().getCustomerId()#">
        <cfelse>                
                <cfdump var="#createCC.getMessage()#">                
        </cfif>        
        
        <cfabort>

        
        --->
        <!---  create nonce
        <cfset paymentMethodNonce= gw.paymentMethodNonce().create("6jtsjx")>
        <cfdump var="#paymentMethodNonce#">
        <cfdump var="#paymentMethodNonce.isSuccess()#">
        
        <cfdump var="#paymentMethodNonce.getTarget().getNonce()#">
        <cfdump var="#paymentMethodNonce.getTarget().getNonce()#"> 
        
        
        <!--- transaction request--->
        <cfset transactionRequest= createObject("java","com.braintreegateway.TransactionRequest")
                .init(

                )>
        <cfset transactionRequest.amount(JavaCast("bigdecimal", 12.00))> 
        <cfset transactionRequest.paymentMethodNonce("964eb31b-a201-06da-69d6-1f5f47870f52")>
        <cfset transactionRequest.options().submitForSettlement(true).done()>
        
        
                
        <cfset sale= gw.transaction().sale(transactionRequest)>
        
        sales
        <cfdump var="#sale#">  
        
        <cfif sale.isSuccess()>                
                <cfdump var="#sale.getTarget().getId()#">                 
        <cfelse>
                <cfdump var="#sale.getTransaction()#">
                <cfdump var="#sale.getMessage()#">
        </cfif>
        --->
        <!--- payment method token--->
        <cfset token="6jtsjx">    
        <!--- transaction request--->
        <cfset transactionRequest= createObject("java","com.braintreegateway.TransactionRequest")
                .init(

                )>
        <cfset transactionRequest.amount(JavaCast("bigdecimal", 10.00))> 
        <cfset transactionRequest.paymentMethodToken(token)>
        <cfset transactionRequest.options().submitForSettlement(true).done()>
        
        
                
        <cfset sale= gw.transaction().sale(transactionRequest)>
        
        sales
        <cfdump var="#sale#"> 
        <cfdump var="#sale.isSuccess()#"> 
        
        
        
        <cfif sale.isSuccess()>  
                <cfdump var="#sale.getTarget().getAvsPostalCodeResponseCode()#"> 
                <cfdump var="#sale.getTarget().getProcessorResponseCode()#">    
                <cfdump var="#sale.getTarget().getProcessorResponseText()#">    
                <cfdump var="#sale.getTarget().getStatus().toString()#">                 
                <cfdump var="#sale.getTarget().getId()#">                   
                              
        <cfelse>
                <cfdump var="#sale.getTransaction().getAvsPostalCodeResponseCode()#">
                <cfdump var="#sale.getMessage()#">
        </cfif>
        
    <cfcatch type="exception">
        aaaaaaaa
    </cfcatch>
</cftry>






<!--- <cfinclude template="/session/sire/configs/credits.cfm">
<cfset  cfg = { path = "paypal.payflow.payflowGateway", Partner = "#pf_Partner#", MerchantAccount ='#pf_MerchantAccount#',Username = '#pf_Username#',Password = '#pf_Password#',CheckAVS = pf_CheckAVS, CheckCVV = pf_CheckCVV,  } />
<cfset  svc = createObject("component", "cfpayment.api.core").init(cfg) />
<cfset  gw = svc.getGateway() />

<cfset account = svc.createCreditCard().setAccount(4111111111111111).setMonth(10).setYear(year(now())+1).setFirstName("John").setLastName("Doe").setAddress("608 Mina").setPostalCode("9200") />
<cfset  money = svc.createMoney(1*100) />

<cfset  sale = gw.authorize(account = account, money= money) />

<cfdump var="#sale.getResult()#">
<cfdump var="#sale.GETCVVCODE()#">
<cfdump var="#sale.GETAVSCODE()#">
<cfdump var="#sale.GETTOKENID()#">
<cfdump var="#sale#">
<cfabort> --->
<!--- 
<cfinclude template="/session/sire/configs/credits.cfm">
<cfset  cfg = { path = "paypal.payflow.payflowGateway", Partner = "#pf_Partner#", MerchantAccount ='#pf_MerchantAccount#',Username = '#pf_Username#',Password = '#pf_Password#',CheckAVS = pf_CheckAVS, CheckCVV = pf_CheckCVV,  } />
<cfset  svc = createObject("component", "cfpayment.api.core").init(cfg) />
<cfset  gw = svc.getGateway() />

<cfset account = svc.createCreditCard().setAccount(4111111111111111).setMonth(10).setYear(year(now())+1).setFirstName("John").setLastName("Doe").setAddress("608 Mina").setPostalCode("9200") />


<cfset  money = svc.createMoney(1*100) />
<cfset  sale = gw.SaleWithUpload(token = "A90A0A953539", money = money) />

<cfdump var="#sale.getResult()#">
 --->

<!--- <cfdump var="#sale.GETAUTHORIZATION()#">
<cfdump var="#sale.GETCVVCODE()#">
<cfdump var="#sale.GETAVSCODE()#">
<cfdump var="#sale.GETTOKENID()#">
<cfdump var="#sale.GETTRANSACTIONID()#"> --->

<!--- <cfabort>  --->
sssssssssss
