
<!---SetExpressCheckout---->
<cfhttp url="https://api-3t.sandbox.paypal.com/nvp" method="post" result="PayPalPaymentRequestResult">
    <cfhttpparam type="formfield" name="USER" value="seta.sire-facilitator_api1.gmail.com" >
    <cfhttpparam type="formfield" name="PWD" value="M7BPY33WZXEBW2V9" >
    <cfhttpparam type="formfield" name="SIGNATURE" value="Av.9i2azchfYhjyEYnXe202q94pfA16phgE47mRygBB5IXn3YzHJ9lmV" >
    <cfhttpparam type="formfield" name="METHOD" value="SetExpressCheckout" >
    <cfhttpparam type="formfield" name="VERSION" value="93" >
    <cfhttpparam type="formfield" name="PAYMENTREQUEST_0_AMT" value="10" >
    <cfhttpparam type="formfield" name="PAYMENTREQUEST_0_CURRENCYCODE" value="USD" >
    <cfhttpparam type="formfield" name="PAYMENTREQUEST_0_PAYMENTACTION" value="SALE" >
    <cfhttpparam type="formfield" name="L_BILLINGTYPE0" value="MerchantInitiatedBillingSingleAgreement" >
    <cfhttpparam type="formfield" name="L_BILLINGAGREEMENTDESCRIPTION0" value="testbillingagreement" >
    <cfhttpparam type="formfield" name="cancelUrl" value="https://example.com/cancel" >
    <cfhttpparam type="formfield" name="returnUrl" value="https://example.com/success" >
</cfhttp>

<!---GetExpressCheckoutDetails--->
<cfhttp url="https://api-3t.sandbox.paypal.com/nvp" method="post" result="PayPalPaymentRequestResult1">
    <cfhttpparam type="formfield" name="USER" value="seta.sire-facilitator_api1.gmail.com" >
    <cfhttpparam type="formfield" name="PWD" value="M7BPY33WZXEBW2V9" >
    <cfhttpparam type="formfield" name="SIGNATURE" value="Av.9i2azchfYhjyEYnXe202q94pfA16phgE47mRygBB5IXn3YzHJ9lmV" >
    <cfhttpparam type="formfield" name="METHOD" value="GetExpressCheckoutDetails" >
    <cfhttpparam type="formfield" name="VERSION" value="93" >
    <cfhttpparam type="formfield" name="TOKEN" value="EC-0YY887974F5517724" >
</cfhttp>
<!--- DoExpressCheckoutPayment --->
<cfhttp url="https://api-3t.sandbox.paypal.com/nvp" method="post" result="PayPalPaymentRequestResult2">
    <cfhttpparam type="formfield" name="USER" value="seta.sire-facilitator_api1.gmail.com" >
    <cfhttpparam type="formfield" name="PWD" value="M7BPY33WZXEBW2V9" >
    <cfhttpparam type="formfield" name="SIGNATURE" value="Av.9i2azchfYhjyEYnXe202q94pfA16phgE47mRygBB5IXn3YzHJ9lmV" >
    <cfhttpparam type="formfield" name="METHOD" value="DoExpressCheckoutPayment" >
    <cfhttpparam type="formfield" name="VERSION" value="93" >
    <cfhttpparam type="formfield" name="PAYMENTREQUEST_0_AMT" value="10" >
    <cfhttpparam type="formfield" name="TOKEN" value="EC-8SG273527N5993828" >
    <cfhttpparam type="formfield" name="PAYERID" value="PAHWCJ4G5RCA4" >
</cfhttp>

 <cfhttp url="https://api-3t.sandbox.paypal.com/nvp" method="post" result="PayPalTransactionSearch">
    <cfhttpparam type="formfield" name="USER" value="seta.sire-facilitator_api1.gmail.com" >
    <cfhttpparam type="formfield" name="PWD" value="M7BPY33WZXEBW2V9" >
    <cfhttpparam type="formfield" name="SIGNATURE" value="Av.9i2azchfYhjyEYnXe202q94pfA16phgE47mRygBB5IXn3YzHJ9lmV" >
    <cfhttpparam type="formfield" name="METHOD" value="TransactionSearch" >
    <cfhttpparam type="formfield" name="VERSION" value="114" >
    <cfhttpparam type="formfield" name="STARTDATE" value="2017-11-17 00:00:00" >
    <cfhttpparam type="formfield" name="ENDDATE" value="2017-11-18 00:00:00" >
</cfhttp>
<!--- 
curl https://api-3t.sandbox.paypal.com/nvp \
  -s \
  --insecure \
  -d USER=seta.sire-facilitator_api1.gmail.com \
  -d PWD=M7BPY33WZXEBW2V9 \
  -d SIGNATURE=Av.9i2azchfYhjyEYnXe202q94pfA16phgE47mRygBB5IXn3YzHJ9lmV \
  -d METHOD=SetExpressCheckout \
  -d VERSION=98 \
  -d PAYMENTREQUEST_0_AMT=10 \
  -d PAYMENTREQUEST_0_CURRENCYCODE=USD \
  -d PAYMENTREQUEST_0_PAYMENTACTION=SALE \
  -d L_BILLINGTYPE0=MerchantInitiatedBillingSingleAgreement \
  -d L_BILLINGAGREEMENTDESCRIPTION0=testbillingagreement \
  -d cancelUrl=https://example.com/cancel \
  -d returnUrl=https://example.com/success --->

<cfdump var="#PayPalTransactionSearch#" abort="true"/>