
<!---  WEB Server Info --->


<!--- DB Info --->
<CFSET SQLDestinationPath = "\\10.11.0.225\UploadToSQL">

<cfset remoteInFolder = "\\10.11.1.21\g$\SFTP\FPL1\campaign\data\in">
<cfset remoteOutFilder = "\\10.11.1.21\g$\SFTP\FPL1\campaign\data\out">

<cfset localInFolder = "C:\Websites\ebmdevii\Event-Based-Messaging\testservice\atif\unica\in">
<cfset localOutFolder = "C:\Websites\ebmdevii\Event-Based-Messaging\testservice\atif\unica\out">



<!---
LOAD DATA LOCAL INFILE  '\\\\10.11.1.21\\g$\\SFTP\\FPL1\\campaign\\data\\in\\bigfiletest.csv'
INTO TABLE simplexprogramdata.portal_link_c10_p1_unicafiles 
FIELDS TERMINATED BY '|' OPTIONALLY ENCLOSED BY '"' LINES TERMINATED BY '\n' IGNORE 1 LINES
(TRANSID_bi,PFPID_bi,AccountNo_vch,Premise_vch,TextMessage_vch,VoiceScriptIdentifier_vch,PrimaryPhoneNumber_vch,CellPhoneFlag1_ch,SecondaryPhoneNumber_vch,CellPhoneFlag2_ch,
CampaignCode_vch,CampaignName_vch, @ts1 ,WholeName_vch,PremAddrComplete_vch,PremCity_vch,PremState_vch,PremZip_vch,EmailAddress_vch,
Custom1_vch,Custom2_vch,Custom3_vch,Custom4_vch,Custom5_vch)
  SET InFileName_vch = 'bigfiletest.csv',
	timestamp1_dt = STR_TO_DATE(@ts1,'%c/%e/%Y %T');
	
--->	