<cfsetting showdebugoutput="yes">

<cfparam name="AllowDuplicates" default="0">
<cfparam name="CurrResult" default="1">
<cfparam name="CurrResultDist" default="0">

<!--- lets get all new files from SFTP to LOCAL FOLDER--->
<!--- lets get all new files from SFTP to LOCAL FOLDER--->
<!--- lets get all new files from SFTP to LOCAL FOLDER--->
<!--- lets get all new files from SFTP to LOCAL FOLDER--->

<!---<cfdirectory action="list" directory="#remoteInFolder#" name="qFiles" filter="C*_????????_??????.csv" sort="DATELASTMODIFIED ASC">--->

<cfdirectory action="list" directory="\\10.11.1.21\g$\SFTP\FPL1\campaign\data\in" name="qFiles" sort="DATELASTMODIFIED ASC">

<cfdump var="#qFiles#">
<cfdump var="#remoteInFolder#">



<cfabort>

<!---if files found, move to local folder for processing and rename original files--->
<cfloop query="qFiles">

	<!---copy file--->
    <cffile action="copy" source="#remoteInFolder#\#qFiles.Name#" destination="#localInFolder#\#qFiles.Name#">    
    
    <!---rename original file so we dont process it again--->
    <!---<cffile action="rename" source="#remoteInFolder#\#qFiles.Name#" destination="#remoteInFolder#\#replaceNoCase(qFiles.Name,'.csv','_processed.csv')#">--->
    
    <!---move original file to processed folder--->
    <cffile action="move" source="#remoteInFolder#\#qFiles.Name#" destination="#remoteInFolder#\processed\#qFiles.Name#">    

</cfloop>


<cfdump var="#qFiles#" label="Files copied from SFTP Server">