<cfparam name="inpCPPUUID" default="" >
<div class="formContainer" style="height:auto;">
	<div id="form3-content" align="center">
		<div >
			Thank you for submitting your contact preferences.
		</div>
		<div class="finishButton">
			<p class="thankyou"><a href = "<cfoutput>#rootUrl#</cfoutput>/mobile/home/<cfoutput>#inpCPPUUID#</cfoutput>">Back</a></p>
			<div style="clear:both"></div>
		</div>
	</div>
</div>