<cfset var content	= {} />
<cfset content = DeserializeJSON(arguments.data)>
<cfset content.ROOTURL_HTTP = "https://#CGI.SERVER_NAME#">

<!--- SET DOMAIN FOR CRON --->
<cfif LCase(CGI.SERVER_NAME) EQ 'cron.siremobile.com'>
	<cfset content.ROOTURL_HTTP = 'https://siremobile.com'>	
</cfif>

<cfinvoke component="public.sire.models.cfc.userstools" method="GetUserInfoById" returnvariable="userInfo">
	<cfinvokeargument name="inpUserId" value="#content.mailtoID#">
</cfinvoke>

<cfset userName = userInfo.USERNAME>
<cfset fullName = "#userInfo.USERNAME#" & " #userInfo.LASTNAME#">
<cfset userPhone = userInfo.FULLMFAPHONE>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>#arguments.subject#</title>
	</head>

	<body style="font-family: Arial; font-size: 12px;">
		<table style="width: 600px; margin: 0 auto;" cellpadding="0" cellspacing="0">
			<cfinclude template="header.cfm">
		  	<tbody style="margin: 0; padding: 0;">
		  		<tr>
		  			<td colspan="2" style="margin: 0; padding: 0;">
		  				<div style="text-align: center;">
		  					<img src="http://siremobile.com/public/sire/images/emailtemplate/monthly-billing-email.jpg" />
		  				</div>
		  			</td>
		  		</tr>
		  		<tr>
		  			<td colspan="2" style="padding: 0 30px;">

						<p style="font-size: 16px;color: #5c5c5c;">Hi <cfoutput>#fullName#</cfoutput>,</p>

						<p style="font-size: 16px;color: #5c5c5c;">
							<span style="color:red">
							Your sub account using over threshold credit!<br><br>							
							</span>
							Here is some information for your records:<br>
							Name: <cfoutput>#content.Name#</cfoutput><br>
							
							Sub Account ID: <cfoutput>#content.SireID#</cfoutput><br>
							Email: <cfoutput>#content.Email#</cfoutput><br>
							Threshold: <cfoutput>#content.Threshold#</cfoutput><br>
							Used: <cfoutput>#content.Used#</cfoutput><br>
						</p>
						<p style="font-size: 16px; color: #5c5c5c;">Please contact us to <a href="mailto:support@siremobile.com">support@siremobile.com</a> if you have any question.</p>
						
						<p style="font-size: 16px;color: #5c5c5c;">Thanks,<br>
						SIRE Assistance Team
						</p>
		  			</td>
		  		</tr>	
		  	</tbody>
		  	<cfinclude template="footer.cfm">
		</table>
	</body>

</html>