<tfoot>
    <tr>
    </tr>
	<tr bgcolor="#F2F2F2" height="80px">
		<td style="font-family: Arial; font-size: 12px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; color: #5c5c5c" colspan="3">
		For support requests, please call or email us at:<br>
		(888) 747-4411  |  <a href="mailto:support@siremobile.com" style="text-decoration: none; color: #5c5c5c">support@siremobile.com</a></address>  |  Text "<ins style="color: #588BA6; text-decoration: none;"><strong>support</strong></ins>" to <ins style="color: #588BA6; text-decoration: none;"><strong>39492</strong></ins>
		</td>

  		<td colspan="1" style="padding-left: 40px">
	    	<a style="padding-right: 7px" href="https://www.facebook.com/siremobile/"><img src="<cfoutput>#content.ROOTURL_HTTP#</cfoutput>/public/sire/images/emailtemplate/facebook.png" alt="fb"/></a>
            <a style="padding-right: 7px" href="https://twitter.com/sire_mobile"><img src="<cfoutput>#content.ROOTURL_HTTP#</cfoutput>/public/sire/images/emailtemplate/twitter.png" alt="twt"></a>
	            <a href="https://plus.google.com/116619152084831668774"><img src="<cfoutput>#content.ROOTURL_HTTP#</cfoutput>/public/sire/images/emailtemplate/g+.png" alt="g+"></a>
	    </td>
	</tr>
	<tr>
	</tr>
</tfoot>