<cfoutput>



<div id="TheConsumerContainer" class="EBMPresentationContainer EBMPresentationCarousel col-md-12">                                
                    
                    <div id="ConsumerCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="##ConsumerCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="##ConsumerCarousel" data-slide-to="1"></li>
                        <li data-target="##ConsumerCarousel" data-slide-to="2"></li>
                        <li data-target="##ConsumerCarousel" data-slide-to="3"></li>
                      </ol>
                    
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                         
                         	<div class="carousel-content">
                         		<row>
                                    <div class="col-md-12">
                                        <div style="text-align:center;">    
                                            <img src="home7assets/images/m7/consumers31.jpg"  width="940px" height="309px"style="border:none; display:inline; margin-top:10px;" />
                                        </div>
                                    </div>                                                                            
                                </row>     
                            </div>
                            
                        </div>
                    
                        <div class="item">
                        
                        	<div class="carousel-content">
                              
                            </div>    
                         
                        </div>
                    
                        <div class="item">
                        	
                            <div class="carousel-content">
                                
	                        </div>
                          
                        </div>
                    
                        <div class="item">
                        	 <div class="carousel-content">
                               
                               
                          
                            </div>
                        
                        </div>
                      </div>
                    
                    
                    	<div class="carousel-caption">
                            <div class="ConsumerObj">Consumer</div>
                           <!--- <p>CYCLE 1</p>--->
                      	</div>
                          
                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="##ConsumerCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="##ConsumerCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    
                </div>



</cfoutput>













