<cfoutput>



<div id="TheAPI" class="EBMPresentationContainer EBMPresentationCarousel col-md-12">                                
                    
                    <div id="APICarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="##PlatformCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="##PlatformCarousel" data-slide-to="1"></li> 
                        <li data-target="##PlatformCarousel" data-slide-to="2"></li>                       
                      </ol>
                    
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                       
                       
                        <div class="item active">
                        	
                            <div class="carousel-content">
                            
                            
                            		<h2>Systems</h2>
                                    
	                                <div style="text-align:center">
                            	
                                        <img style="" src="home7assets/images/m7/data-center-web.png" width="569" height="314">
                                    
                                    </div>    
                                
	                        </div>
                          
                        </div>
                        
                                          
                                          
                        <div class="item">
                        	 <div class="carousel-content">
                             
                              	
                                <h2>People</h2>
                                    
	                            <row>
                                
                                    <div class="col-md-2"></div>
                                    
                                    <div class="col-md-8">
                                    	<p>The people and technology behind #BrandShort# have invaluable experience to share - gained from building over a hundred thousand marketing and messaging campaigns for Fortune 500 companies.</p>
                                    </div>
                                    
                                    <div class="col-md-2"></div>
                                    
                                </row>
                                    
                                
                            </div>
                        
                        </div>
                        
                    
                     	<div class="item">
                        	 <div class="carousel-content">
                       
                       				<h2>Experience</h2>
                                    
	                                <div style="text-align:center">
                            	
                                        <img style="" src="home7assets/images/m7/data-center-web.png" width="569" height="314">
                                    
                                    </div>  
                                            
                              
                             </div>               
                                
	                     </div>
                        
                       
                        <div class="item">
                                
                               <div class="carousel-content">
                                    
                                    <row>
                                    	<div class="col-md-12" style="text-align:center;">
                                        	
                                            <ul>		
                                            	<li>PCI DSS</li>
												<li>HIPAA</li>
												<li>SAE-16 datacenters</li>
											</ul>	

                                    	</div>
                                    
                                    </row>
                                    
                                </div>
                              
                            </div>
                            
                            
                        
                      </div>
                    
                    
                    
                        
                    	<div class="carousel-caption">
                            <div class="process-step-box-caption">Platform</div>
                           <!--- <p>CYCLE 1</p>--->
                      	</div>
                          
                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="##PlatformCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="##PlatformCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    
                </div>



</cfoutput>













