.no-padding-right {
	padding-right: 0 !important;
}

.icon-invite-friends{
	display:block;
	background: url("../images/icon/icon_invite_friends.png") no-repeat scroll center center transparent;
	height:36px;
}

.icon-invite-friends-unactive{
	display:block;
	background: url("../images/icon/icon_invite_friends_unactive.png") no-repeat scroll center center transparent;
	height:36px;
}

.friend-list-item {
	margin: 5px 0 5px 0;
}

.friend-list-item .custom-checkbox{
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.friends-list{
	height: 370px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sms-list{
	height: 320px;
	overflow-y: auto;
}

.selected-email{
	height: 270px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ddd;
	padding-top: 15px;
}

.selected-email .selected-email-item {
	display: inline-block;
	margin-left: 10px;
}

.invite-friend-input{
	margin-right: 0px;
}

@media (min-width: 992px) and (max-width: 1199px){
	#refer_via_email .friend-list-item:nth-child(n+1),
	.selected-email .selected-email-item:nth-child(4n+1){
		clear: both;
	}
}

@media (max-width: 1199px){
	.invite-friend-input{
		padding-right: 0px !important;
		margin-bottom: 10px;
	}
}

@media (max-width: 991px) {
	.my-plan-page .content-menu > a {
		float: left;
		margin-left:0px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 20%;
	}
}

@media (max-width: 768px) {
	.my-plan-page .content-menu > a {
		float: left;
		margin-left:0px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 20%;
	}
}

@media (max-width: 440px) {
	.my-plan-page .content-menu > a {
		width: 40%;
		margin-right: 10px;
	}
}

/*Custom checkbox, from http://www.bootply.com/ugwCnanAfm*/
.custom-checkbox > [type="checkbox"],
.custom-checkbox > label{
	margin-bottom:0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox > [type="checkbox"]:not(:checked),
.custom-checkbox > [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label,
.custom-checkbox > [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left:0;
	top: 50%;
	margin-top:-8px;
	width: 17px;
	height: 17px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 2px;
}
.custom-checkbox > [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0;
	top: 50%;
	margin-top:-8px;
	width: 17px;
	height: 17px;
	border: 1px solid #7DCD88;
	background: #7DCD88;
	border-radius: 2px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox > [type="checkbox"]:checked + label:after {
	font: normal normal normal 12px/1 'Glyphicons Halflings';
	content: '\e013';
	position: absolute;
	top: 50%;
	margin-top:-7px;
	left: 2px;
	color: #fff;
	xtransition: all .2s;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox > [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
	content: '\2212';
	left: 2px;
	opacity: 1;
	transform: scale(1);
}

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: not-allowed;
	opacity: 1;
	color: #dadada;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
  color: #dadada; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:disabled + label {
  color: #aaa; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
	border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.custom-checkbox > label:hover:before {
		border: 1px solid #88D2FF !important;
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
	border: 1px solid #E4E4E4 !important;
}

@media (max-width: 575) {
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.9);
		-webkit-transform:scale(0.9);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

@media (max-width: 380px) {
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.8);
		-webkit-transform:scale(0.8);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

@media (max-width: 320px) {
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.65);
		-webkit-transform:scale(0.65);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

.selected-email{
	height: 270px;
	overflow-y: auto;
	border: 1px solid #ddd;
	padding-top: 15px;
}

.selected-email .alert{
	position: relative;
	background: #74c37f;
}

.selected-email .alert,
.selected-email .alert .my-close{
	color: white !important;
}

.selected-email .alert .my-close{
	position: absolute;
	right: 5px;
	top: 0px;
	opacity: 1;
}

.social a {
	text-decoration: none;
}